<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16389_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{701,347},{278,342}}</string>
        <key>offset</key>
        <string>{-188,271}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{278,342}}</string>
        <key>sourceSize</key>
        <string>{278,342}</string>
      </dict>
      <key>monster_16389_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{356,281},{280,343}}</string>
        <key>offset</key>
        <string>{-189,271}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{280,343}}</string>
        <key>sourceSize</key>
        <string>{280,343}</string>
      </dict>
      <key>monster_16389_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{356,0},{279,350}}</string>
        <key>offset</key>
        <string>{-188,275}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{279,350}}</string>
        <key>sourceSize</key>
        <string>{279,350}</string>
      </dict>
      <key>monster_16389_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,725},{280,354}}</string>
        <key>offset</key>
        <string>{-189,282}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{280,354}}</string>
        <key>sourceSize</key>
        <string>{280,354}</string>
      </dict>
      <key>monster_16389_0_0_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,364},{279,359}}</string>
        <key>offset</key>
        <string>{-189,288}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{279,359}}</string>
        <key>sourceSize</key>
        <string>{279,359}</string>
      </dict>
      <key>monster_16389_0_0_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{279,362}}</string>
        <key>offset</key>
        <string>{-189,292}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{279,362}}</string>
        <key>sourceSize</key>
        <string>{279,362}</string>
      </dict>
      <key>monster_16389_0_0_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{708,0},{283,345}}</string>
        <key>offset</key>
        <string>{-193,271}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{283,345}}</string>
        <key>sourceSize</key>
        <string>{283,345}</string>
      </dict>
      <key>monster_16389_0_0_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{356,563},{282,342}}</string>
        <key>offset</key>
        <string>{-192,270}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{282,342}}</string>
        <key>sourceSize</key>
        <string>{282,342}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16389_0_0_2.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>monster_16389_0_0_2.png</string>
    </dict>
  </dict>
</plist>