<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_12605_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1267,404},{374,365}}</string>
        <key>offset</key>
        <string>{-163,171}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{374,365}}</string>
        <key>sourceSize</key>
        <string>{374,365}</string>
      </dict>
      <key>monster_12605_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1004,799},{359,385}}</string>
        <key>offset</key>
        <string>{-177,191}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{359,385}}</string>
        <key>sourceSize</key>
        <string>{359,385}</string>
      </dict>
      <key>monster_12605_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1040,1186},{354,340}}</string>
        <key>offset</key>
        <string>{-177,144}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{354,340}}</string>
        <key>sourceSize</key>
        <string>{354,340}</string>
      </dict>
      <key>monster_12605_0_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1634,644},{356,315}}</string>
        <key>offset</key>
        <string>{-177,119}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{356,315}}</string>
        <key>sourceSize</key>
        <string>{356,315}</string>
      </dict>
      <key>monster_12605_0_4_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1576,0},{359,303}}</string>
        <key>offset</key>
        <string>{-180,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{359,303}}</string>
        <key>sourceSize</key>
        <string>{359,303}</string>
      </dict>
      <key>monster_12605_0_4_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1634,361},{357,281}}</string>
        <key>offset</key>
        <string>{-183,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{357,281}}</string>
        <key>sourceSize</key>
        <string>{357,281}</string>
      </dict>
      <key>monster_12605_0_4_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1294,0},{364,280}}</string>
        <key>offset</key>
        <string>{-189,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{364,280}}</string>
        <key>sourceSize</key>
        <string>{364,280}</string>
      </dict>
      <key>monster_12605_0_4_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{293,0},{427,278}}</string>
        <key>offset</key>
        <string>{-243,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{427,278}}</string>
        <key>sourceSize</key>
        <string>{427,278}</string>
      </dict>
      <key>monster_12605_0_4_4_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,538},{503,279}}</string>
        <key>offset</key>
        <string>{-304,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{503,279}}</string>
        <key>sourceSize</key>
        <string>{503,279}</string>
      </dict>
      <key>monster_12605_0_4_4_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{536,291}}</string>
        <key>offset</key>
        <string>{-337,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{536,291}}</string>
        <key>sourceSize</key>
        <string>{536,291}</string>
      </dict>
      <key>monster_12605_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{307,1408},{413,380}}</string>
        <key>offset</key>
        <string>{-263,179}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{413,380}}</string>
        <key>sourceSize</key>
        <string>{413,380}</string>
      </dict>
      <key>monster_12605_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{899,0},{393,402}}</string>
        <key>offset</key>
        <string>{-263,201}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{393,402}}</string>
        <key>sourceSize</key>
        <string>{393,402}</string>
      </dict>
      <key>monster_12605_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{644,835},{393,358}}</string>
        <key>offset</key>
        <string>{-263,153}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{393,358}}</string>
        <key>sourceSize</key>
        <string>{393,358}</string>
      </dict>
      <key>monster_12605_0_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{942,404},{393,323}}</string>
        <key>offset</key>
        <string>{-263,118}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{393,323}}</string>
        <key>sourceSize</key>
        <string>{393,323}</string>
      </dict>
      <key>monster_12605_0_4_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{722,1230},{392,316}}</string>
        <key>offset</key>
        <string>{-263,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{392,316}}</string>
        <key>sourceSize</key>
        <string>{392,316}</string>
      </dict>
      <key>monster_12605_0_4_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{611,429},{404,329}}</string>
        <key>offset</key>
        <string>{-263,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{404,329}}</string>
        <key>sourceSize</key>
        <string>{404,329}</string>
      </dict>
      <key>monster_12605_0_4_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{307,990},{416,335}}</string>
        <key>offset</key>
        <string>{-263,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{416,335}}</string>
        <key>sourceSize</key>
        <string>{416,335}</string>
      </dict>
      <key>monster_12605_0_4_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{573,0},{427,324}}</string>
        <key>offset</key>
        <string>{-263,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{427,324}}</string>
        <key>sourceSize</key>
        <string>{427,324}</string>
      </dict>
      <key>monster_12605_0_4_5_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{281,538},{450,328}}</string>
        <key>offset</key>
        <string>{-281,123}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{450,328}}</string>
        <key>sourceSize</key>
        <string>{450,328}</string>
      </dict>
      <key>monster_12605_0_4_5_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1043},{483,305}}</string>
        <key>offset</key>
        <string>{-314,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{483,305}}</string>
        <key>sourceSize</key>
        <string>{483,305}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_12605_0_4_2.png</string>
      <key>size</key>
      <string>{2048,1792}</string>
      <key>textureFileName</key>
      <string>monster_12605_0_4_2.png</string>
    </dict>
  </dict>
</plist>