<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_12082_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1334,209},{160,201}}</string>
        <key>offset</key>
        <string>{-68,102}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,201}}</string>
        <key>sourceSize</key>
        <string>{160,201}</string>
      </dict>
      <key>monster_12082_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1141,220},{191,208}}</string>
        <key>offset</key>
        <string>{-75,102}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{191,208}}</string>
        <key>sourceSize</key>
        <string>{191,208}</string>
      </dict>
      <key>monster_12082_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1068,717},{184,209}}</string>
        <key>offset</key>
        <string>{-35,94}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{184,209}}</string>
        <key>sourceSize</key>
        <string>{184,209}</string>
      </dict>
      <key>monster_12082_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1254,669},{156,202}}</string>
        <key>offset</key>
        <string>{-50,84}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,202}}</string>
        <key>sourceSize</key>
        <string>{156,202}</string>
      </dict>
      <key>monster_12082_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{752,769},{151,237}}</string>
        <key>offset</key>
        <string>{-65,129}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,237}}</string>
        <key>sourceSize</key>
        <string>{151,237}</string>
      </dict>
      <key>monster_12082_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{349,0},{120,272}}</string>
        <key>offset</key>
        <string>{-30,167}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,272}}</string>
        <key>sourceSize</key>
        <string>{120,272}</string>
      </dict>
      <key>monster_12082_0_2_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{471,0},{128,267}}</string>
        <key>offset</key>
        <string>{-31,162}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,267}}</string>
        <key>sourceSize</key>
        <string>{128,267}</string>
      </dict>
      <key>monster_12082_0_2_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{502,544},{183,253}}</string>
        <key>offset</key>
        <string>{-72,148}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{183,253}}</string>
        <key>sourceSize</key>
        <string>{183,253}</string>
      </dict>
      <key>monster_12082_0_2_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{751,250},{178,235}}</string>
        <key>offset</key>
        <string>{-68,125}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{178,235}}</string>
        <key>sourceSize</key>
        <string>{178,235}</string>
      </dict>
      <key>monster_12082_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1364,0},{201,190}}</string>
        <key>offset</key>
        <string>{-68,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{201,190}}</string>
        <key>sourceSize</key>
        <string>{201,190}</string>
      </dict>
      <key>monster_12082_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1556,0},{192,194}}</string>
        <key>offset</key>
        <string>{-65,109}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{192,194}}</string>
        <key>sourceSize</key>
        <string>{192,194}</string>
      </dict>
      <key>monster_12082_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1412,634},{200,199}}</string>
        <key>offset</key>
        <string>{-64,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,199}}</string>
        <key>sourceSize</key>
        <string>{200,199}</string>
      </dict>
      <key>monster_12082_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1613,614},{150,188}}</string>
        <key>offset</key>
        <string>{-81,94}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,188}}</string>
        <key>sourceSize</key>
        <string>{150,188}</string>
      </dict>
      <key>monster_12082_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1109,458},{187,209}}</string>
        <key>offset</key>
        <string>{-61,125}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{187,209}}</string>
        <key>sourceSize</key>
        <string>{187,209}</string>
      </dict>
      <key>monster_12082_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{304,613},{270,196}}</string>
        <key>offset</key>
        <string>{-63,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{270,196}}</string>
        <key>sourceSize</key>
        <string>{270,196}</string>
      </dict>
      <key>monster_12082_0_2_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{369,274},{268,196}}</string>
        <key>offset</key>
        <string>{-64,117}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{268,196}}</string>
        <key>sourceSize</key>
        <string>{268,196}</string>
      </dict>
      <key>monster_12082_0_2_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{601,0},{248,201}}</string>
        <key>offset</key>
        <string>{-62,120}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{248,201}}</string>
        <key>sourceSize</key>
        <string>{248,201}</string>
      </dict>
      <key>monster_12082_0_2_1_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{904,487},{228,203}}</string>
        <key>offset</key>
        <string>{-68,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{228,203}}</string>
        <key>sourceSize</key>
        <string>{228,203}</string>
      </dict>
      <key>monster_12082_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{963,0},{218,197}}</string>
        <key>offset</key>
        <string>{-102,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{218,197}}</string>
        <key>sourceSize</key>
        <string>{218,197}</string>
      </dict>
      <key>monster_12082_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1412,836},{200,186}}</string>
        <key>offset</key>
        <string>{-104,94}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,186}}</string>
        <key>sourceSize</key>
        <string>{200,186}</string>
      </dict>
      <key>monster_12082_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{905,717},{214,161}}</string>
        <key>offset</key>
        <string>{-106,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{214,161}}</string>
        <key>sourceSize</key>
        <string>{214,161}</string>
      </dict>
      <key>monster_12082_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,336},{275,201}}</string>
        <key>offset</key>
        <string>{-155,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{275,201}}</string>
        <key>sourceSize</key>
        <string>{275,201}</string>
      </dict>
      <key>monster_12082_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{804,0},{230,157}}</string>
        <key>offset</key>
        <string>{-98,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{230,157}}</string>
        <key>sourceSize</key>
        <string>{230,157}</string>
      </dict>
      <key>monster_12082_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{366,161}}</string>
        <key>offset</key>
        <string>{-97,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{366,161}}</string>
        <key>sourceSize</key>
        <string>{366,161}</string>
      </dict>
      <key>monster_12082_0_2_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,368},{363,164}}</string>
        <key>offset</key>
        <string>{-96,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{363,164}}</string>
        <key>sourceSize</key>
        <string>{363,164}</string>
      </dict>
      <key>monster_12082_0_2_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{163,0},{334,184}}</string>
        <key>offset</key>
        <string>{-93,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{334,184}}</string>
        <key>sourceSize</key>
        <string>{334,184}</string>
      </dict>
      <key>monster_12082_0_2_2_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,733},{302,191}}</string>
        <key>offset</key>
        <string>{-101,106}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{302,191}}</string>
        <key>sourceSize</key>
        <string>{302,191}</string>
      </dict>
      <key>monster_12082_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1654,402},{151,188}}</string>
        <key>offset</key>
        <string>{-62,91}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,188}}</string>
        <key>sourceSize</key>
        <string>{151,188}</string>
      </dict>
      <key>monster_12082_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1467,412},{200,185}}</string>
        <key>offset</key>
        <string>{-69,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,185}}</string>
        <key>sourceSize</key>
        <string>{200,185}</string>
      </dict>
      <key>monster_12082_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1496,203},{197,180}}</string>
        <key>offset</key>
        <string>{-72,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{197,180}}</string>
        <key>sourceSize</key>
        <string>{197,180}</string>
      </dict>
      <key>monster_12082_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{567,269},{252,182}}</string>
        <key>offset</key>
        <string>{-123,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{252,182}}</string>
        <key>sourceSize</key>
        <string>{252,182}</string>
      </dict>
      <key>monster_12082_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1298,430},{202,167}}</string>
        <key>offset</key>
        <string>{-62,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{202,167}}</string>
        <key>sourceSize</key>
        <string>{202,167}</string>
      </dict>
      <key>monster_12082_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{502,799},{248,202}}</string>
        <key>offset</key>
        <string>{-59,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{248,202}}</string>
        <key>sourceSize</key>
        <string>{248,202}</string>
      </dict>
      <key>monster_12082_0_2_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{687,523},{244,215}}</string>
        <key>offset</key>
        <string>{-56,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{244,215}}</string>
        <key>sourceSize</key>
        <string>{244,215}</string>
      </dict>
      <key>monster_12082_0_2_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{931,232},{224,208}}</string>
        <key>offset</key>
        <string>{-54,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{224,208}}</string>
        <key>sourceSize</key>
        <string>{224,208}</string>
      </dict>
      <key>monster_12082_0_2_3_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1162,0},{200,207}}</string>
        <key>offset</key>
        <string>{-60,81}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,207}}</string>
        <key>sourceSize</key>
        <string>{200,207}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_12082_0_2_0.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>monster_12082_0_2_0.png</string>
    </dict>
  </dict>
</plist>