<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_12076_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{653,0},{178,136}}</string>
        <key>offset</key>
        <string>{-56,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{178,136}}</string>
        <key>sourceSize</key>
        <string>{178,136}</string>
      </dict>
      <key>monster_12076_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1484,796},{134,119}}</string>
        <key>offset</key>
        <string>{-70,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,119}}</string>
        <key>sourceSize</key>
        <string>{134,119}</string>
      </dict>
      <key>monster_12076_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1078,175},{162,157}}</string>
        <key>offset</key>
        <string>{-71,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,157}}</string>
        <key>sourceSize</key>
        <string>{162,157}</string>
      </dict>
      <key>monster_12076_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1126,0},{156,121}}</string>
        <key>offset</key>
        <string>{-63,1}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,121}}</string>
        <key>sourceSize</key>
        <string>{156,121}</string>
      </dict>
      <key>monster_12076_0_4_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{961,880},{156,121}}</string>
        <key>offset</key>
        <string>{-63,1}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,121}}</string>
        <key>sourceSize</key>
        <string>{156,121}</string>
      </dict>
      <key>monster_12076_0_4_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1013,695},{156,121}}</string>
        <key>offset</key>
        <string>{-63,1}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,121}}</string>
        <key>sourceSize</key>
        <string>{156,121}</string>
      </dict>
      <key>monster_12076_0_4_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1119,853},{156,121}}</string>
        <key>offset</key>
        <string>{-63,1}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,121}}</string>
        <key>sourceSize</key>
        <string>{156,121}</string>
      </dict>
      <key>monster_12076_0_4_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1136,695},{156,121}}</string>
        <key>offset</key>
        <string>{-63,1}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,121}}</string>
        <key>sourceSize</key>
        <string>{156,121}</string>
      </dict>
      <key>monster_12076_0_4_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1242,853},{156,121}}</string>
        <key>offset</key>
        <string>{-63,1}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,121}}</string>
        <key>sourceSize</key>
        <string>{156,121}</string>
      </dict>
      <key>monster_12076_0_4_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1109,339},{156,121}}</string>
        <key>offset</key>
        <string>{-63,1}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,121}}</string>
        <key>sourceSize</key>
        <string>{156,121}</string>
      </dict>
      <key>monster_12076_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1566,289},{130,131}}</string>
        <key>offset</key>
        <string>{-32,101}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,131}}</string>
        <key>sourceSize</key>
        <string>{130,131}</string>
      </dict>
      <key>monster_12076_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1363,0},{149,91}}</string>
        <key>offset</key>
        <string>{-97,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,91}}</string>
        <key>sourceSize</key>
        <string>{149,91}</string>
      </dict>
      <key>monster_12076_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1002,525},{168,147}}</string>
        <key>offset</key>
        <string>{-132,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,147}}</string>
        <key>sourceSize</key>
        <string>{168,147}</string>
      </dict>
      <key>monster_12076_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{676,402},{173,117}}</string>
        <key>offset</key>
        <string>{-133,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,117}}</string>
        <key>sourceSize</key>
        <string>{173,117}</string>
      </dict>
      <key>monster_12076_0_4_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{732,180},{173,117}}</string>
        <key>offset</key>
        <string>{-133,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,117}}</string>
        <key>sourceSize</key>
        <string>{173,117}</string>
      </dict>
      <key>monster_12076_0_4_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{791,0},{173,117}}</string>
        <key>offset</key>
        <string>{-133,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,117}}</string>
        <key>sourceSize</key>
        <string>{173,117}</string>
      </dict>
      <key>monster_12076_0_4_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{678,790},{173,117}}</string>
        <key>offset</key>
        <string>{-133,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,117}}</string>
        <key>sourceSize</key>
        <string>{173,117}</string>
      </dict>
      <key>monster_12076_0_4_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{775,577},{173,117}}</string>
        <key>offset</key>
        <string>{-133,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,117}}</string>
        <key>sourceSize</key>
        <string>{173,117}</string>
      </dict>
      <key>monster_12076_0_4_1_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{795,355},{173,117}}</string>
        <key>offset</key>
        <string>{-133,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,117}}</string>
        <key>sourceSize</key>
        <string>{173,117}</string>
      </dict>
      <key>monster_12076_0_4_1_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{851,175},{173,117}}</string>
        <key>offset</key>
        <string>{-133,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,117}}</string>
        <key>sourceSize</key>
        <string>{173,117}</string>
      </dict>
      <key>monster_12076_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1460,315},{104,136}}</string>
        <key>offset</key>
        <string>{-52,104}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,136}}</string>
        <key>sourceSize</key>
        <string>{104,136}</string>
      </dict>
      <key>monster_12076_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1599,0},{118,105}}</string>
        <key>offset</key>
        <string>{-83,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,105}}</string>
        <key>sourceSize</key>
        <string>{118,105}</string>
      </dict>
      <key>monster_12076_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{540,208},{205,105}}</string>
        <key>offset</key>
        <string>{-161,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,105}}</string>
        <key>sourceSize</key>
        <string>{205,105}</string>
      </dict>
      <key>monster_12076_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{227,84}}</string>
        <key>offset</key>
        <string>{-166,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{227,84}}</string>
        <key>sourceSize</key>
        <string>{227,84}</string>
      </dict>
      <key>monster_12076_0_4_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,229},{227,84}}</string>
        <key>offset</key>
        <string>{-166,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{227,84}}</string>
        <key>sourceSize</key>
        <string>{227,84}</string>
      </dict>
      <key>monster_12076_0_4_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,458},{227,84}}</string>
        <key>offset</key>
        <string>{-166,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{227,84}}</string>
        <key>sourceSize</key>
        <string>{227,84}</string>
      </dict>
      <key>monster_12076_0_4_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,687},{227,84}}</string>
        <key>offset</key>
        <string>{-166,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{227,84}}</string>
        <key>sourceSize</key>
        <string>{227,84}</string>
      </dict>
      <key>monster_12076_0_4_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,916},{227,84}}</string>
        <key>offset</key>
        <string>{-166,25}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{227,84}}</string>
        <key>sourceSize</key>
        <string>{227,84}</string>
      </dict>
      <key>monster_12076_0_4_2_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,0},{227,84}}</string>
        <key>offset</key>
        <string>{-166,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{227,84}}</string>
        <key>sourceSize</key>
        <string>{227,84}</string>
      </dict>
      <key>monster_12076_0_4_2_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,229},{227,84}}</string>
        <key>offset</key>
        <string>{-166,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{227,84}}</string>
        <key>sourceSize</key>
        <string>{227,84}</string>
      </dict>
      <key>monster_12076_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1465,151},{125,136}}</string>
        <key>offset</key>
        <string>{-40,105}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,136}}</string>
        <key>sourceSize</key>
        <string>{125,136}</string>
      </dict>
      <key>monster_12076_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1592,151},{112,130}}</string>
        <key>offset</key>
        <string>{-69,120}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,130}}</string>
        <key>sourceSize</key>
        <string>{112,130}</string>
      </dict>
      <key>monster_12076_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{647,208},{192,83}}</string>
        <key>offset</key>
        <string>{-131,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{192,83}}</string>
        <key>sourceSize</key>
        <string>{192,83}</string>
      </dict>
      <key>monster_12076_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{259,0},{218,89}}</string>
        <key>offset</key>
        <string>{-133,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{218,89}}</string>
        <key>sourceSize</key>
        <string>{218,89}</string>
      </dict>
      <key>monster_12076_0_4_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{259,220},{218,89}}</string>
        <key>offset</key>
        <string>{-133,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{218,89}}</string>
        <key>sourceSize</key>
        <string>{218,89}</string>
      </dict>
      <key>monster_12076_0_4_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,440},{218,89}}</string>
        <key>offset</key>
        <string>{-133,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{218,89}}</string>
        <key>sourceSize</key>
        <string>{218,89}</string>
      </dict>
      <key>monster_12076_0_4_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,660},{218,89}}</string>
        <key>offset</key>
        <string>{-133,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{218,89}}</string>
        <key>sourceSize</key>
        <string>{218,89}</string>
      </dict>
      <key>monster_12076_0_4_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{351,660},{218,89}}</string>
        <key>offset</key>
        <string>{-133,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{218,89}}</string>
        <key>sourceSize</key>
        <string>{218,89}</string>
      </dict>
      <key>monster_12076_0_4_3_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,0},{218,89}}</string>
        <key>offset</key>
        <string>{-133,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{218,89}}</string>
        <key>sourceSize</key>
        <string>{218,89}</string>
      </dict>
      <key>monster_12076_0_4_3_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,220},{218,89}}</string>
        <key>offset</key>
        <string>{-133,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{218,89}}</string>
        <key>sourceSize</key>
        <string>{218,89}</string>
      </dict>
      <key>monster_12076_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{640,610},{178,133}}</string>
        <key>offset</key>
        <string>{-73,104}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{178,133}}</string>
        <key>sourceSize</key>
        <string>{178,133}</string>
      </dict>
      <key>monster_12076_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1373,655},{134,139}}</string>
        <key>offset</key>
        <string>{-14,133}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,139}}</string>
        <key>sourceSize</key>
        <string>{134,139}</string>
      </dict>
      <key>monster_12076_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{797,927},{162,87}}</string>
        <key>offset</key>
        <string>{-41,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,87}}</string>
        <key>sourceSize</key>
        <string>{162,87}</string>
      </dict>
      <key>monster_12076_0_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1151,497},{156,112}}</string>
        <key>offset</key>
        <string>{-43,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,112}}</string>
        <key>sourceSize</key>
        <string>{156,112}</string>
      </dict>
      <key>monster_12076_0_4_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1232,339},{156,112}}</string>
        <key>offset</key>
        <string>{-43,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,112}}</string>
        <key>sourceSize</key>
        <string>{156,112}</string>
      </dict>
      <key>monster_12076_0_4_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1237,158},{156,112}}</string>
        <key>offset</key>
        <string>{-43,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,112}}</string>
        <key>sourceSize</key>
        <string>{156,112}</string>
      </dict>
      <key>monster_12076_0_4_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1249,0},{156,112}}</string>
        <key>offset</key>
        <string>{-43,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,112}}</string>
        <key>sourceSize</key>
        <string>{156,112}</string>
      </dict>
      <key>monster_12076_0_4_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1259,655},{156,112}}</string>
        <key>offset</key>
        <string>{-43,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,112}}</string>
        <key>sourceSize</key>
        <string>{156,112}</string>
      </dict>
      <key>monster_12076_0_4_4_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1265,497},{156,112}}</string>
        <key>offset</key>
        <string>{-43,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,112}}</string>
        <key>sourceSize</key>
        <string>{156,112}</string>
      </dict>
      <key>monster_12076_0_4_4_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1346,316},{156,112}}</string>
        <key>offset</key>
        <string>{-43,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,112}}</string>
        <key>sourceSize</key>
        <string>{156,112}</string>
      </dict>
      <key>monster_12076_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1379,474},{130,137}}</string>
        <key>offset</key>
        <string>{-48,106}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,137}}</string>
        <key>sourceSize</key>
        <string>{130,137}</string>
      </dict>
      <key>monster_12076_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1456,0},{149,141}}</string>
        <key>offset</key>
        <string>{-3,120}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,141}}</string>
        <key>sourceSize</key>
        <string>{149,141}</string>
      </dict>
      <key>monster_12076_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1022,350},{168,85}}</string>
        <key>offset</key>
        <string>{14,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,85}}</string>
        <key>sourceSize</key>
        <string>{168,85}</string>
      </dict>
      <key>monster_12076_0_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{910,0},{173,106}}</string>
        <key>offset</key>
        <string>{10,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,106}}</string>
        <key>sourceSize</key>
        <string>{173,106}</string>
      </dict>
      <key>monster_12076_0_4_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{797,752},{173,106}}</string>
        <key>offset</key>
        <string>{10,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,106}}</string>
        <key>sourceSize</key>
        <string>{173,106}</string>
      </dict>
      <key>monster_12076_0_4_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{894,530},{173,106}}</string>
        <key>offset</key>
        <string>{10,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,106}}</string>
        <key>sourceSize</key>
        <string>{173,106}</string>
      </dict>
      <key>monster_12076_0_4_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{914,350},{173,106}}</string>
        <key>offset</key>
        <string>{10,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,106}}</string>
        <key>sourceSize</key>
        <string>{173,106}</string>
      </dict>
      <key>monster_12076_0_4_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{970,175},{173,106}}</string>
        <key>offset</key>
        <string>{10,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,106}}</string>
        <key>sourceSize</key>
        <string>{173,106}</string>
      </dict>
      <key>monster_12076_0_4_5_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1018,0},{173,106}}</string>
        <key>offset</key>
        <string>{10,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,106}}</string>
        <key>sourceSize</key>
        <string>{173,106}</string>
      </dict>
      <key>monster_12076_0_4_5_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{905,705},{173,106}}</string>
        <key>offset</key>
        <string>{10,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,106}}</string>
        <key>sourceSize</key>
        <string>{173,106}</string>
      </dict>
      <key>monster_12076_0_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1511,453},{104,132}}</string>
        <key>offset</key>
        <string>{-2,105}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,132}}</string>
        <key>sourceSize</key>
        <string>{104,132}</string>
      </dict>
      <key>monster_12076_0_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1365,813},{117,146}}</string>
        <key>offset</key>
        <string>{15,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,146}}</string>
        <key>sourceSize</key>
        <string>{117,146}</string>
      </dict>
      <key>monster_12076_0_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{540,0},{206,111}}</string>
        <key>offset</key>
        <string>{5,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,111}}</string>
        <key>sourceSize</key>
        <string>{206,111}</string>
      </dict>
      <key>monster_12076_0_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,458},{227,85}}</string>
        <key>offset</key>
        <string>{-11,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{227,85}}</string>
        <key>sourceSize</key>
        <string>{227,85}</string>
      </dict>
      <key>monster_12076_0_4_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,687},{227,85}}</string>
        <key>offset</key>
        <string>{-11,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{227,85}}</string>
        <key>sourceSize</key>
        <string>{227,85}</string>
      </dict>
      <key>monster_12076_0_4_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,687},{227,85}}</string>
        <key>offset</key>
        <string>{-11,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{227,85}}</string>
        <key>sourceSize</key>
        <string>{227,85}</string>
      </dict>
      <key>monster_12076_0_4_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{229,916},{227,85}}</string>
        <key>offset</key>
        <string>{-11,19}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{227,85}}</string>
        <key>sourceSize</key>
        <string>{227,85}</string>
      </dict>
      <key>monster_12076_0_4_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,0},{227,85}}</string>
        <key>offset</key>
        <string>{-11,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{227,85}}</string>
        <key>sourceSize</key>
        <string>{227,85}</string>
      </dict>
      <key>monster_12076_0_4_6_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,229},{227,85}}</string>
        <key>offset</key>
        <string>{-11,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{227,85}}</string>
        <key>sourceSize</key>
        <string>{227,85}</string>
      </dict>
      <key>monster_12076_0_4_6_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,458},{227,85}}</string>
        <key>offset</key>
        <string>{-11,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{227,85}}</string>
        <key>sourceSize</key>
        <string>{227,85}</string>
      </dict>
      <key>monster_12076_0_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1509,613},{125,133}}</string>
        <key>offset</key>
        <string>{-35,103}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,133}}</string>
        <key>sourceSize</key>
        <string>{125,133}</string>
      </dict>
      <key>monster_12076_0_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1351,158},{112,155}}</string>
        <key>offset</key>
        <string>{7,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,155}}</string>
        <key>sourceSize</key>
        <string>{112,155}</string>
      </dict>
      <key>monster_12076_0_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{549,415},{193,125}}</string>
        <key>offset</key>
        <string>{-12,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{193,125}}</string>
        <key>sourceSize</key>
        <string>{193,125}</string>
      </dict>
      <key>monster_12076_0_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{351,440},{218,97}}</string>
        <key>offset</key>
        <string>{-35,-3}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{218,97}}</string>
        <key>sourceSize</key>
        <string>{218,97}</string>
      </dict>
      <key>monster_12076_0_4_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{442,660},{218,97}}</string>
        <key>offset</key>
        <string>{-35,-3}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{218,97}}</string>
        <key>sourceSize</key>
        <string>{218,97}</string>
      </dict>
      <key>monster_12076_0_4_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{458,880},{218,97}}</string>
        <key>offset</key>
        <string>{-35,-3}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{218,97}}</string>
        <key>sourceSize</key>
        <string>{218,97}</string>
      </dict>
      <key>monster_12076_0_4_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{441,0},{218,97}}</string>
        <key>offset</key>
        <string>{-35,-3}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{218,97}}</string>
        <key>sourceSize</key>
        <string>{218,97}</string>
      </dict>
      <key>monster_12076_0_4_7_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{441,220},{218,97}}</string>
        <key>offset</key>
        <string>{-35,-3}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{218,97}}</string>
        <key>sourceSize</key>
        <string>{218,97}</string>
      </dict>
      <key>monster_12076_0_4_7_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,440},{218,97}}</string>
        <key>offset</key>
        <string>{-35,-3}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{218,97}}</string>
        <key>sourceSize</key>
        <string>{218,97}</string>
      </dict>
      <key>monster_12076_0_4_7_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{541,660},{218,97}}</string>
        <key>offset</key>
        <string>{-35,-3}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{218,97}}</string>
        <key>sourceSize</key>
        <string>{218,97}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_12076_0_4.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>monster_12076_0_4.png</string>
    </dict>
  </dict>
</plist>