<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16137_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{213,230}}</string>
        <key>offset</key>
        <string>{-70,191}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{213,230}}</string>
        <key>sourceSize</key>
        <string>{213,230}</string>
      </dict>
      <key>monster_16137_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,232},{222,216}}</string>
        <key>offset</key>
        <string>{-86,174}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{222,216}}</string>
        <key>sourceSize</key>
        <string>{222,216}</string>
      </dict>
      <key>monster_16137_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{215,0},{223,197}}</string>
        <key>offset</key>
        <string>{-99,168}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{223,197}}</string>
        <key>sourceSize</key>
        <string>{223,197}</string>
      </dict>
      <key>monster_16137_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,225},{180,210}}</string>
        <key>offset</key>
        <string>{-75,151}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,210}}</string>
        <key>sourceSize</key>
        <string>{180,210}</string>
      </dict>
      <key>monster_16137_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{729,0},{180,186}}</string>
        <key>offset</key>
        <string>{-76,148}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,186}}</string>
        <key>sourceSize</key>
        <string>{180,186}</string>
      </dict>
      <key>monster_16137_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{414,0},{151,206}}</string>
        <key>offset</key>
        <string>{-83,151}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,206}}</string>
        <key>sourceSize</key>
        <string>{151,206}</string>
      </dict>
      <key>monster_16137_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{567,0},{160,199}}</string>
        <key>offset</key>
        <string>{-88,149}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,199}}</string>
        <key>sourceSize</key>
        <string>{160,199}</string>
      </dict>
      <key>monster_16137_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,225},{209,192}}</string>
        <key>offset</key>
        <string>{-117,150}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,192}}</string>
        <key>sourceSize</key>
        <string>{209,192}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16137_0_2_1.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>monster_16137_0_2_1.png</string>
    </dict>
  </dict>
</plist>