<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16434_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{919,0},{367,318}}</string>
        <key>offset</key>
        <string>{-111,197}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{367,318}}</string>
        <key>sourceSize</key>
        <string>{367,318}</string>
      </dict>
      <key>monster_16434_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{662,736},{354,329}}</string>
        <key>offset</key>
        <string>{-121,205}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{354,329}}</string>
        <key>sourceSize</key>
        <string>{354,329}</string>
      </dict>
      <key>monster_16434_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,840},{379,334}}</string>
        <key>offset</key>
        <string>{-129,210}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{379,334}}</string>
        <key>sourceSize</key>
        <string>{379,334}</string>
      </dict>
      <key>monster_16434_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{310,394},{372,310}}</string>
        <key>offset</key>
        <string>{-83,181}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{372,310}}</string>
        <key>sourceSize</key>
        <string>{372,310}</string>
      </dict>
      <key>monster_16434_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{604,0},{368,313}}</string>
        <key>offset</key>
        <string>{-79,166}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{368,313}}</string>
        <key>sourceSize</key>
        <string>{368,313}</string>
      </dict>
      <key>monster_16434_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{919,369},{365,304}}</string>
        <key>offset</key>
        <string>{-83,186}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{365,304}}</string>
        <key>sourceSize</key>
        <string>{365,304}</string>
      </dict>
      <key>monster_16434_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1221},{341,329}}</string>
        <key>offset</key>
        <string>{-120,206}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{341,329}}</string>
        <key>sourceSize</key>
        <string>{341,329}</string>
      </dict>
      <key>monster_16434_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{336,768},{359,324}}</string>
        <key>offset</key>
        <string>{-99,205}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{359,324}}</string>
        <key>sourceSize</key>
        <string>{359,324}</string>
      </dict>
      <key>monster_16434_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{662,1092},{347,319}}</string>
        <key>offset</key>
        <string>{-83,202}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{347,319}}</string>
        <key>sourceSize</key>
        <string>{347,319}</string>
      </dict>
      <key>monster_16434_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,422},{416,308}}</string>
        <key>offset</key>
        <string>{-164,184}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{416,308}}</string>
        <key>sourceSize</key>
        <string>{416,308}</string>
      </dict>
      <key>monster_16434_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{420,293}}</string>
        <key>offset</key>
        <string>{-173,168}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{420,293}}</string>
        <key>sourceSize</key>
        <string>{420,293}</string>
      </dict>
      <key>monster_16434_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{295,0},{392,307}}</string>
        <key>offset</key>
        <string>{-135,186}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{392,307}}</string>
        <key>sourceSize</key>
        <string>{392,307}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16434_0_2_2.png</string>
      <key>size</key>
      <string>{1282,1603}</string>
      <key>textureFileName</key>
      <string>monster_16434_0_2_2.png</string>
    </dict>
  </dict>
</plist>