<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16507_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{249,281}}</string>
        <key>offset</key>
        <string>{-159,211}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{249,281}}</string>
        <key>sourceSize</key>
        <string>{249,281}</string>
      </dict>
      <key>monster_16507_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{511,0},{253,276}}</string>
        <key>offset</key>
        <string>{-155,209}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{253,276}}</string>
        <key>sourceSize</key>
        <string>{253,276}</string>
      </dict>
      <key>monster_16507_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{251,0},{258,279}}</string>
        <key>offset</key>
        <string>{-155,209}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,279}}</string>
        <key>sourceSize</key>
        <string>{258,279}</string>
      </dict>
      <key>monster_16507_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,565},{261,278}}</string>
        <key>offset</key>
        <string>{-156,206}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{261,278}}</string>
        <key>sourceSize</key>
        <string>{261,278}</string>
      </dict>
      <key>monster_16507_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{766,0},{255,268}}</string>
        <key>offset</key>
        <string>{-155,200}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{255,268}}</string>
        <key>sourceSize</key>
        <string>{255,268}</string>
      </dict>
      <key>monster_16507_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{513,278},{251,263}}</string>
        <key>offset</key>
        <string>{-157,196}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{251,263}}</string>
        <key>sourceSize</key>
        <string>{251,263}</string>
      </dict>
      <key>monster_16507_0_1_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{766,270},{255,267}}</string>
        <key>offset</key>
        <string>{-163,200}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{255,267}}</string>
        <key>sourceSize</key>
        <string>{255,267}</string>
      </dict>
      <key>monster_16507_0_1_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{257,281},{254,278}}</string>
        <key>offset</key>
        <string>{-165,206}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{254,278}}</string>
        <key>sourceSize</key>
        <string>{254,278}</string>
      </dict>
      <key>monster_16507_0_1_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,283},{255,280}}</string>
        <key>offset</key>
        <string>{-168,209}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{255,280}}</string>
        <key>sourceSize</key>
        <string>{255,280}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16507_0_1_0.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>monster_16507_0_1_0.png</string>
    </dict>
  </dict>
</plist>