<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_2423_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,319},{313,223}}</string>
        <key>offset</key>
        <string>{-120,159}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{313,223}}</string>
        <key>sourceSize</key>
        <string>{313,223}</string>
      </dict>
      <key>monster_2423_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{313,631},{303,225}}</string>
        <key>offset</key>
        <string>{-106,167}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{303,225}}</string>
        <key>sourceSize</key>
        <string>{303,225}</string>
      </dict>
      <key>monster_2423_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,634},{311,237}}</string>
        <key>offset</key>
        <string>{-120,173}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{311,237}}</string>
        <key>sourceSize</key>
        <string>{311,237}</string>
      </dict>
      <key>monster_2423_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{317,225}}</string>
        <key>offset</key>
        <string>{-143,160}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{317,225}}</string>
        <key>sourceSize</key>
        <string>{317,225}</string>
      </dict>
      <key>monster_2423_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{225,319},{310,224}}</string>
        <key>offset</key>
        <string>{-144,161}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{310,224}}</string>
        <key>sourceSize</key>
        <string>{310,224}</string>
      </dict>
      <key>monster_2423_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{227,0},{309,225}}</string>
        <key>offset</key>
        <string>{-134,161}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{309,225}}</string>
        <key>sourceSize</key>
        <string>{309,225}</string>
      </dict>
      <key>monster_2423_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{451,311},{287,231}}</string>
        <key>offset</key>
        <string>{-195,165}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{287,231}}</string>
        <key>sourceSize</key>
        <string>{287,231}</string>
      </dict>
      <key>monster_2423_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,873},{280,220}}</string>
        <key>offset</key>
        <string>{-192,174}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{280,220}}</string>
        <key>sourceSize</key>
        <string>{280,220}</string>
      </dict>
      <key>monster_2423_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{618,826},{270,216}}</string>
        <key>offset</key>
        <string>{-195,177}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{270,216}}</string>
        <key>sourceSize</key>
        <string>{270,216}</string>
      </dict>
      <key>monster_2423_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{618,600},{273,224}}</string>
        <key>offset</key>
        <string>{-198,173}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{273,224}}</string>
        <key>sourceSize</key>
        <string>{273,224}</string>
      </dict>
      <key>monster_2423_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{282,873},{270,218}}</string>
        <key>offset</key>
        <string>{-193,174}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{270,218}}</string>
        <key>sourceSize</key>
        <string>{270,218}</string>
      </dict>
      <key>monster_2423_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{454,0},{283,227}}</string>
        <key>offset</key>
        <string>{-191,172}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{283,227}}</string>
        <key>sourceSize</key>
        <string>{283,227}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_2423_0_1_0.png</string>
      <key>size</key>
      <string>{898,1116}</string>
      <key>textureFileName</key>
      <string>monster_2423_0_1_0.png</string>
    </dict>
  </dict>
</plist>