<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_12044_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{237,666},{233,218}}</string>
        <key>offset</key>
        <string>{-86,135}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{233,218}}</string>
        <key>sourceSize</key>
        <string>{233,218}</string>
      </dict>
      <key>monster_12044_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,449},{235,218}}</string>
        <key>offset</key>
        <string>{-86,136}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{235,218}}</string>
        <key>sourceSize</key>
        <string>{235,218}</string>
      </dict>
      <key>monster_12044_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,669},{230,223}}</string>
        <key>offset</key>
        <string>{-128,166}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{230,223}}</string>
        <key>sourceSize</key>
        <string>{230,223}</string>
      </dict>
      <key>monster_12044_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,223},{239,224}}</string>
        <key>offset</key>
        <string>{-127,165}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{239,224}}</string>
        <key>sourceSize</key>
        <string>{239,224}</string>
      </dict>
      <key>monster_12044_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{241,442},{239,222}}</string>
        <key>offset</key>
        <string>{-137,202}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{239,222}}</string>
        <key>sourceSize</key>
        <string>{239,222}</string>
      </dict>
      <key>monster_12044_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{248,219},{242,221}}</string>
        <key>offset</key>
        <string>{-135,201}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{242,221}}</string>
        <key>sourceSize</key>
        <string>{242,221}</string>
      </dict>
      <key>monster_12044_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{221,246}}</string>
        <key>offset</key>
        <string>{-118,211}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{221,246}}</string>
        <key>sourceSize</key>
        <string>{221,246}</string>
      </dict>
      <key>monster_12044_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{248,0},{217,246}}</string>
        <key>offset</key>
        <string>{-117,211}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{217,246}}</string>
        <key>sourceSize</key>
        <string>{217,246}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_12044_0_7_0.png</string>
      <key>size</key>
      <string>{512,1024}</string>
      <key>textureFileName</key>
      <string>monster_12044_0_7_0.png</string>
    </dict>
  </dict>
</plist>