<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_2478_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{688,0},{768,656}}</string>
        <key>offset</key>
        <string>{-376,369}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{768,656}}</string>
        <key>sourceSize</key>
        <string>{768,656}</string>
      </dict>
      <key>monster_2478_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{657,790},{773,662}}</string>
        <key>offset</key>
        <string>{-375,370}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{773,662}}</string>
        <key>sourceSize</key>
        <string>{773,662}</string>
      </dict>
      <key>monster_2478_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,790},{780,655}}</string>
        <key>offset</key>
        <string>{-374,357}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{780,655}}</string>
        <key>sourceSize</key>
        <string>{780,655}</string>
      </dict>
      <key>monster_2478_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{788,686}}</string>
        <key>offset</key>
        <string>{-373,382}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{788,686}}</string>
        <key>sourceSize</key>
        <string>{788,686}</string>
      </dict>
      <key>monster_2478_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{2753,1259},{351,302}}</string>
        <key>offset</key>
        <string>{-132,188}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{351,302}}</string>
        <key>sourceSize</key>
        <string>{351,302}</string>
      </dict>
      <key>monster_2478_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,2045},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>monster_2478_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,2045},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>monster_2478_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{6,2045},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>monster_2478_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{2768,1612},{299,351}}</string>
        <key>offset</key>
        <string>{-155,255}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{299,351}}</string>
        <key>sourceSize</key>
        <string>{299,351}</string>
      </dict>
      <key>monster_2478_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{2734,862},{395,360}}</string>
        <key>offset</key>
        <string>{-227,264}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{395,360}}</string>
        <key>sourceSize</key>
        <string>{395,360}</string>
      </dict>
      <key>monster_2478_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{2581,0},{413,395}}</string>
        <key>offset</key>
        <string>{-237,299}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{413,395}}</string>
        <key>sourceSize</key>
        <string>{413,395}</string>
      </dict>
      <key>monster_2478_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1939,957},{421,431}}</string>
        <key>offset</key>
        <string>{-237,335}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{421,431}}</string>
        <key>sourceSize</key>
        <string>{421,431}</string>
      </dict>
      <key>monster_2478_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{560,1572},{492,454}}</string>
        <key>offset</key>
        <string>{-237,315}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{492,454}}</string>
        <key>sourceSize</key>
        <string>{492,454}</string>
      </dict>
      <key>monster_2478_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1321,1494},{484,591}}</string>
        <key>offset</key>
        <string>{-237,436}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{484,591}}</string>
        <key>sourceSize</key>
        <string>{484,591}</string>
      </dict>
      <key>monster_2478_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1346,0},{487,526}}</string>
        <key>offset</key>
        <string>{-237,373}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{487,526}}</string>
        <key>sourceSize</key>
        <string>{487,526}</string>
      </dict>
      <key>monster_2478_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1914,1494},{490,549}}</string>
        <key>offset</key>
        <string>{-237,408}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{490,549}}</string>
        <key>sourceSize</key>
        <string>{490,549}</string>
      </dict>
      <key>monster_2478_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{2353,441},{419,392}}</string>
        <key>offset</key>
        <string>{-230,254}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{419,392}}</string>
        <key>sourceSize</key>
        <string>{419,392}</string>
      </dict>
      <key>monster_2478_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{2245,0},{439,334}}</string>
        <key>offset</key>
        <string>{-250,252}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{439,334}}</string>
        <key>sourceSize</key>
        <string>{439,334}</string>
      </dict>
      <key>monster_2478_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{2362,862},{412,370}}</string>
        <key>offset</key>
        <string>{-219,210}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{412,370}}</string>
        <key>sourceSize</key>
        <string>{412,370}</string>
      </dict>
      <key>monster_2478_0_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{2406,1276},{412,345}}</string>
        <key>offset</key>
        <string>{-219,210}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{412,345}}</string>
        <key>sourceSize</key>
        <string>{412,345}</string>
      </dict>
      <key>monster_2478_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1939,484},{412,471}}</string>
        <key>offset</key>
        <string>{-219,321}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{412,471}}</string>
        <key>sourceSize</key>
        <string>{412,471}</string>
      </dict>
      <key>monster_2478_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1835,0},{408,482}}</string>
        <key>offset</key>
        <string>{-219,321}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{408,482}}</string>
        <key>sourceSize</key>
        <string>{408,482}</string>
      </dict>
      <key>monster_2478_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1572},{464,558}}</string>
        <key>offset</key>
        <string>{-219,400}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{464,558}}</string>
        <key>sourceSize</key>
        <string>{464,558}</string>
      </dict>
      <key>monster_2478_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1321,770},{616,722}}</string>
        <key>offset</key>
        <string>{-267,564}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{616,722}}</string>
        <key>sourceSize</key>
        <string>{616,722}</string>
      </dict>
      <key>monster_2478_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{3057,1259},{311,322}}</string>
        <key>offset</key>
        <string>{-219,210}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{311,322}}</string>
        <key>sourceSize</key>
        <string>{311,322}</string>
      </dict>
      <key>monster_2478_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{2406,1690},{336,360}}</string>
        <key>offset</key>
        <string>{-230,254}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{336,360}}</string>
        <key>sourceSize</key>
        <string>{336,360}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_2478_0_0.png</string>
      <key>size</key>
      <string>{4096,2048}</string>
      <key>textureFileName</key>
      <string>monster_2478_0_0.png</string>
    </dict>
  </dict>
</plist>