<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16171_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1450,0},{419,371}}</string>
        <key>offset</key>
        <string>{-194,315}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{419,371}}</string>
        <key>sourceSize</key>
        <string>{419,371}</string>
      </dict>
      <key>monster_16171_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{663,0},{424,365}}</string>
        <key>offset</key>
        <string>{-184,325}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{424,365}}</string>
        <key>sourceSize</key>
        <string>{424,365}</string>
      </dict>
      <key>monster_16171_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1305,1146},{401,351}}</string>
        <key>offset</key>
        <string>{-190,297}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{401,351}}</string>
        <key>sourceSize</key>
        <string>{401,351}</string>
      </dict>
      <key>monster_16171_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1708,1146},{387,329}}</string>
        <key>offset</key>
        <string>{-180,267}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{387,329}}</string>
        <key>sourceSize</key>
        <string>{387,329}</string>
      </dict>
      <key>monster_16171_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{975,1510},{432,401}}</string>
        <key>offset</key>
        <string>{-175,286}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{432,401}}</string>
        <key>sourceSize</key>
        <string>{432,401}</string>
      </dict>
      <key>monster_16171_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1030,0},{424,418}}</string>
        <key>offset</key>
        <string>{-162,315}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{424,418}}</string>
        <key>sourceSize</key>
        <string>{424,418}</string>
      </dict>
      <key>monster_16171_0_2_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{660,626},{403,441}}</string>
        <key>offset</key>
        <string>{-160,339}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{403,441}}</string>
        <key>sourceSize</key>
        <string>{403,441}</string>
      </dict>
      <key>monster_16171_0_2_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1378,746},{413,398}}</string>
        <key>offset</key>
        <string>{-175,325}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{413,398}}</string>
        <key>sourceSize</key>
        <string>{413,398}</string>
      </dict>
      <key>monster_16171_0_2_4_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1450,373},{414,371}}</string>
        <key>offset</key>
        <string>{-188,311}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{414,371}}</string>
        <key>sourceSize</key>
        <string>{414,371}</string>
      </dict>
      <key>monster_16171_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{648,1112},{481,318}}</string>
        <key>offset</key>
        <string>{-154,266}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{481,318}}</string>
        <key>sourceSize</key>
        <string>{481,318}</string>
      </dict>
      <key>monster_16171_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{968,1069},{439,335}}</string>
        <key>offset</key>
        <string>{-114,284}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{439,335}}</string>
        <key>sourceSize</key>
        <string>{439,335}</string>
      </dict>
      <key>monster_16171_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{648,1595},{444,325}}</string>
        <key>offset</key>
        <string>{-115,274}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{444,325}}</string>
        <key>sourceSize</key>
        <string>{444,325}</string>
      </dict>
      <key>monster_16171_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{334,626},{484,324}}</string>
        <key>offset</key>
        <string>{-158,268}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{484,324}}</string>
        <key>sourceSize</key>
        <string>{484,324}</string>
      </dict>
      <key>monster_16171_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,641},{637,332}}</string>
        <key>offset</key>
        <string>{-317,267}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{637,332}}</string>
        <key>sourceSize</key>
        <string>{637,332}</string>
      </dict>
      <key>monster_16171_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{639,331}}</string>
        <key>offset</key>
        <string>{-312,265}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{639,331}}</string>
        <key>sourceSize</key>
        <string>{639,331}</string>
      </dict>
      <key>monster_16171_0_2_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{333,0},{624,328}}</string>
        <key>offset</key>
        <string>{-261,264}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{624,328}}</string>
        <key>sourceSize</key>
        <string>{624,328}</string>
      </dict>
      <key>monster_16171_0_2_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1280},{575,327}}</string>
        <key>offset</key>
        <string>{-244,268}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{575,327}}</string>
        <key>sourceSize</key>
        <string>{575,327}</string>
      </dict>
      <key>monster_16171_0_2_5_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{329,1280},{490,317}}</string>
        <key>offset</key>
        <string>{-158,266}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{490,317}}</string>
        <key>sourceSize</key>
        <string>{490,317}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16171_0_2_2.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_16171_0_2_2.png</string>
    </dict>
  </dict>
</plist>