<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_1678_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{125,0},{224,123}}</string>
        <key>offset</key>
        <string>{-93,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{224,123}}</string>
        <key>sourceSize</key>
        <string>{224,123}</string>
      </dict>
      <key>monster_1678_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{226,123}}</string>
        <key>offset</key>
        <string>{-94,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{226,123}}</string>
        <key>sourceSize</key>
        <string>{226,123}</string>
      </dict>
      <key>monster_1678_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,228},{226,122}}</string>
        <key>offset</key>
        <string>{-94,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{226,122}}</string>
        <key>sourceSize</key>
        <string>{226,122}</string>
      </dict>
      <key>monster_1678_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{120,456},{225,122}}</string>
        <key>offset</key>
        <string>{-93,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{225,122}}</string>
        <key>sourceSize</key>
        <string>{225,122}</string>
      </dict>
      <key>monster_1678_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{442,832},{195,128}}</string>
        <key>offset</key>
        <string>{-78,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{195,128}}</string>
        <key>sourceSize</key>
        <string>{195,128}</string>
      </dict>
      <key>monster_1678_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{494,602},{195,128}}</string>
        <key>offset</key>
        <string>{-78,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{195,128}}</string>
        <key>sourceSize</key>
        <string>{195,128}</string>
      </dict>
      <key>monster_1678_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,404},{196,128}}</string>
        <key>offset</key>
        <string>{-78,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,128}}</string>
        <key>sourceSize</key>
        <string>{196,128}</string>
      </dict>
      <key>monster_1678_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{504,400},{195,128}}</string>
        <key>offset</key>
        <string>{-78,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{195,128}}</string>
        <key>sourceSize</key>
        <string>{195,128}</string>
      </dict>
      <key>monster_1678_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{883,0},{180,129}}</string>
        <key>offset</key>
        <string>{-69,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,129}}</string>
        <key>sourceSize</key>
        <string>{180,129}</string>
      </dict>
      <key>monster_1678_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{883,182},{180,129}}</string>
        <key>offset</key>
        <string>{-69,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,129}}</string>
        <key>sourceSize</key>
        <string>{180,129}</string>
      </dict>
      <key>monster_1678_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{878,364},{180,129}}</string>
        <key>offset</key>
        <string>{-69,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,129}}</string>
        <key>sourceSize</key>
        <string>{180,129}</string>
      </dict>
      <key>monster_1678_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{639,780},{180,129}}</string>
        <key>offset</key>
        <string>{-69,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,129}}</string>
        <key>sourceSize</key>
        <string>{180,129}</string>
      </dict>
      <key>monster_1678_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{622,198},{195,123}}</string>
        <key>offset</key>
        <string>{-78,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{195,123}}</string>
        <key>sourceSize</key>
        <string>{195,123}</string>
      </dict>
      <key>monster_1678_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{628,0},{195,122}}</string>
        <key>offset</key>
        <string>{-78,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{195,122}}</string>
        <key>sourceSize</key>
        <string>{195,122}</string>
      </dict>
      <key>monster_1678_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{498,202},{196,122}}</string>
        <key>offset</key>
        <string>{-78,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,122}}</string>
        <key>sourceSize</key>
        <string>{196,122}</string>
      </dict>
      <key>monster_1678_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{504,0},{196,122}}</string>
        <key>offset</key>
        <string>{-78,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,122}}</string>
        <key>sourceSize</key>
        <string>{196,122}</string>
      </dict>
      <key>monster_1678_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,228},{225,118}}</string>
        <key>offset</key>
        <string>{-94,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{225,118}}</string>
        <key>sourceSize</key>
        <string>{225,118}</string>
      </dict>
      <key>monster_1678_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,456},{226,118}}</string>
        <key>offset</key>
        <string>{-94,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{226,118}}</string>
        <key>sourceSize</key>
        <string>{226,118}</string>
      </dict>
      <key>monster_1678_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,684},{226,118}}</string>
        <key>offset</key>
        <string>{-94,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{226,118}}</string>
        <key>sourceSize</key>
        <string>{226,118}</string>
      </dict>
      <key>monster_1678_0_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{120,684},{226,118}}</string>
        <key>offset</key>
        <string>{-94,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{226,118}}</string>
        <key>sourceSize</key>
        <string>{226,118}</string>
      </dict>
      <key>monster_1678_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,683},{200,122}}</string>
        <key>offset</key>
        <string>{-78,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,122}}</string>
        <key>sourceSize</key>
        <string>{200,122}</string>
      </dict>
      <key>monster_1678_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,885},{200,122}}</string>
        <key>offset</key>
        <string>{-78,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,122}}</string>
        <key>sourceSize</key>
        <string>{200,122}</string>
      </dict>
      <key>monster_1678_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,226},{200,122}}</string>
        <key>offset</key>
        <string>{-78,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,122}}</string>
        <key>sourceSize</key>
        <string>{200,122}</string>
      </dict>
      <key>monster_1678_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,0},{200,122}}</string>
        <key>offset</key>
        <string>{-78,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,122}}</string>
        <key>sourceSize</key>
        <string>{200,122}</string>
      </dict>
      <key>monster_1678_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{624,597},{181,129}}</string>
        <key>offset</key>
        <string>{-67,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,129}}</string>
        <key>sourceSize</key>
        <string>{181,129}</string>
      </dict>
      <key>monster_1678_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{634,395},{181,129}}</string>
        <key>offset</key>
        <string>{-67,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,129}}</string>
        <key>sourceSize</key>
        <string>{181,129}</string>
      </dict>
      <key>monster_1678_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{747,197},{181,129}}</string>
        <key>offset</key>
        <string>{-67,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,129}}</string>
        <key>sourceSize</key>
        <string>{181,129}</string>
      </dict>
      <key>monster_1678_0_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{752,0},{181,129}}</string>
        <key>offset</key>
        <string>{-67,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,129}}</string>
        <key>sourceSize</key>
        <string>{181,129}</string>
      </dict>
      <key>monster_1678_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,428},{200,128}}</string>
        <key>offset</key>
        <string>{-78,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,128}}</string>
        <key>sourceSize</key>
        <string>{200,128}</string>
      </dict>
      <key>monster_1678_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{368,202},{200,128}}</string>
        <key>offset</key>
        <string>{-78,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,128}}</string>
        <key>sourceSize</key>
        <string>{200,128}</string>
      </dict>
      <key>monster_1678_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,0},{200,128}}</string>
        <key>offset</key>
        <string>{-78,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,128}}</string>
        <key>sourceSize</key>
        <string>{200,128}</string>
      </dict>
      <key>monster_1678_0_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{364,630},{200,128}}</string>
        <key>offset</key>
        <string>{-78,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,128}}</string>
        <key>sourceSize</key>
        <string>{200,128}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_1678_0_0.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>monster_1678_0_0.png</string>
    </dict>
  </dict>
</plist>