<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_2146_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1427},{218,246}}</string>
        <key>offset</key>
        <string>{-138,159}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{218,246}}</string>
        <key>sourceSize</key>
        <string>{218,246}</string>
      </dict>
      <key>monster_2146_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{633,1043},{218,234}}</string>
        <key>offset</key>
        <string>{-136,158}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{218,234}}</string>
        <key>sourceSize</key>
        <string>{218,234}</string>
      </dict>
      <key>monster_2146_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{602,0},{221,247}}</string>
        <key>offset</key>
        <string>{-137,161}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{221,247}}</string>
        <key>sourceSize</key>
        <string>{221,247}</string>
      </dict>
      <key>monster_2146_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{584,256},{220,249}}</string>
        <key>offset</key>
        <string>{-137,159}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{220,249}}</string>
        <key>sourceSize</key>
        <string>{220,249}</string>
      </dict>
      <key>monster_2146_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{447,1384},{220,235}}</string>
        <key>offset</key>
        <string>{-138,160}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{220,235}}</string>
        <key>sourceSize</key>
        <string>{220,235}</string>
      </dict>
      <key>monster_2146_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{206,1675},{220,244}}</string>
        <key>offset</key>
        <string>{-139,161}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{220,244}}</string>
        <key>sourceSize</key>
        <string>{220,244}</string>
      </dict>
      <key>monster_2146_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1068,705},{219,215}}</string>
        <key>offset</key>
        <string>{-140,158}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{219,215}}</string>
        <key>sourceSize</key>
        <string>{219,215}</string>
      </dict>
      <key>monster_2146_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1074,926},{210,213}}</string>
        <key>offset</key>
        <string>{-143,158}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{210,213}}</string>
        <key>sourceSize</key>
        <string>{210,213}</string>
      </dict>
      <key>monster_2146_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{669,1279},{220,224}}</string>
        <key>offset</key>
        <string>{-141,161}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{220,224}}</string>
        <key>sourceSize</key>
        <string>{220,224}</string>
      </dict>
      <key>monster_2146_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{657,1621},{222,225}}</string>
        <key>offset</key>
        <string>{-142,160}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{222,225}}</string>
        <key>sourceSize</key>
        <string>{222,225}</string>
      </dict>
      <key>monster_2146_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{881,1505},{217,213}}</string>
        <key>offset</key>
        <string>{-140,160}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{217,213}}</string>
        <key>sourceSize</key>
        <string>{217,213}</string>
      </dict>
      <key>monster_2146_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{853,983},{219,221}}</string>
        <key>offset</key>
        <string>{-141,161}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{219,221}}</string>
        <key>sourceSize</key>
        <string>{219,221}</string>
      </dict>
      <key>monster_2146_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{209,1138},{246,200}}</string>
        <key>offset</key>
        <string>{-173,158}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{246,200}}</string>
        <key>sourceSize</key>
        <string>{246,200}</string>
      </dict>
      <key>monster_2146_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{659,747},{234,199}}</string>
        <key>offset</key>
        <string>{-168,157}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{234,199}}</string>
        <key>sourceSize</key>
        <string>{234,199}</string>
      </dict>
      <key>monster_2146_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{783,507},{232,200}}</string>
        <key>offset</key>
        <string>{-161,159}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{232,200}}</string>
        <key>sourceSize</key>
        <string>{232,200}</string>
      </dict>
      <key>monster_2146_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,0},{254,200}}</string>
        <key>offset</key>
        <string>{-180,158}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{254,200}}</string>
        <key>sourceSize</key>
        <string>{254,200}</string>
      </dict>
      <key>monster_2146_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{657,1848},{221,198}}</string>
        <key>offset</key>
        <string>{-166,159}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{221,198}}</string>
        <key>sourceSize</key>
        <string>{221,198}</string>
      </dict>
      <key>monster_2146_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{806,249},{232,199}}</string>
        <key>offset</key>
        <string>{-160,160}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{232,199}}</string>
        <key>sourceSize</key>
        <string>{232,199}</string>
      </dict>
      <key>monster_2146_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{860,741},{220,206}}</string>
        <key>offset</key>
        <string>{-141,156}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{220,206}}</string>
        <key>sourceSize</key>
        <string>{220,206}</string>
      </dict>
      <key>monster_2146_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1175,454},{219,193}}</string>
        <key>offset</key>
        <string>{-139,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{219,193}}</string>
        <key>sourceSize</key>
        <string>{219,193}</string>
      </dict>
      <key>monster_2146_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{985,483},{220,188}}</string>
        <key>offset</key>
        <string>{-141,158}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{220,188}}</string>
        <key>sourceSize</key>
        <string>{220,188}</string>
      </dict>
      <key>monster_2146_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1403,0},{218,194}}</string>
        <key>offset</key>
        <string>{-138,157}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{218,194}}</string>
        <key>sourceSize</key>
        <string>{218,194}</string>
      </dict>
      <key>monster_2146_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1285,675},{213,189}}</string>
        <key>offset</key>
        <string>{-138,157}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{213,189}}</string>
        <key>sourceSize</key>
        <string>{213,189}</string>
      </dict>
      <key>monster_2146_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1007,232},{220,204}}</string>
        <key>offset</key>
        <string>{-141,158}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{220,204}}</string>
        <key>sourceSize</key>
        <string>{220,204}</string>
      </dict>
      <key>monster_2146_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1213,222},{219,191}}</string>
        <key>offset</key>
        <string>{-134,144}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{219,191}}</string>
        <key>sourceSize</key>
        <string>{219,191}</string>
      </dict>
      <key>monster_2146_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{428,1870},{218,174}}</string>
        <key>offset</key>
        <string>{-135,142}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{218,174}}</string>
        <key>sourceSize</key>
        <string>{218,174}</string>
      </dict>
      <key>monster_2146_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1048,0},{220,186}}</string>
        <key>offset</key>
        <string>{-138,144}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{220,186}}</string>
        <key>sourceSize</key>
        <string>{220,186}</string>
      </dict>
      <key>monster_2146_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{891,1206},{217,191}}</string>
        <key>offset</key>
        <string>{-135,143}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{217,191}}</string>
        <key>sourceSize</key>
        <string>{217,191}</string>
      </dict>
      <key>monster_2146_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1236,0},{219,165}}</string>
        <key>offset</key>
        <string>{-136,142}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{219,165}}</string>
        <key>sourceSize</key>
        <string>{219,165}</string>
      </dict>
      <key>monster_2146_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{880,1848},{221,187}}</string>
        <key>offset</key>
        <string>{-137,144}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{221,187}}</string>
        <key>sourceSize</key>
        <string>{221,187}</string>
      </dict>
      <key>monster_2146_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{203,288},{264,192}}</string>
        <key>offset</key>
        <string>{-115,158}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{264,192}}</string>
        <key>sourceSize</key>
        <string>{264,192}</string>
      </dict>
      <key>monster_2146_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{397,288},{259,185}}</string>
        <key>offset</key>
        <string>{-116,157}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{259,185}}</string>
        <key>sourceSize</key>
        <string>{259,185}</string>
      </dict>
      <key>monster_2146_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1675},{245,204}}</string>
        <key>offset</key>
        <string>{-115,158}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{245,204}}</string>
        <key>sourceSize</key>
        <string>{245,204}</string>
      </dict>
      <key>monster_2146_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1171},{254,207}}</string>
        <key>offset</key>
        <string>{-113,156}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{254,207}}</string>
        <key>sourceSize</key>
        <string>{254,207}</string>
      </dict>
      <key>monster_2146_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{592,507},{238,189}}</string>
        <key>offset</key>
        <string>{-114,156}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{238,189}}</string>
        <key>sourceSize</key>
        <string>{238,189}</string>
      </dict>
      <key>monster_2146_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{401,549},{251,189}}</string>
        <key>offset</key>
        <string>{-117,158}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{251,189}}</string>
        <key>sourceSize</key>
        <string>{251,189}</string>
      </dict>
      <key>monster_2146_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,303},{297,201}}</string>
        <key>offset</key>
        <string>{-114,158}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{297,201}}</string>
        <key>sourceSize</key>
        <string>{297,201}</string>
      </dict>
      <key>monster_2146_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,602},{283,197}}</string>
        <key>offset</key>
        <string>{-114,157}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{283,197}}</string>
        <key>sourceSize</key>
        <string>{283,197}</string>
      </dict>
      <key>monster_2146_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{201,0},{286,197}}</string>
        <key>offset</key>
        <string>{-116,160}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{286,197}}</string>
        <key>sourceSize</key>
        <string>{286,197}</string>
      </dict>
      <key>monster_2146_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{301,199}}</string>
        <key>offset</key>
        <string>{-114,158}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{301,199}}</string>
        <key>sourceSize</key>
        <string>{301,199}</string>
      </dict>
      <key>monster_2146_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{199,602},{278,200}}</string>
        <key>offset</key>
        <string>{-116,158}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{278,200}}</string>
        <key>sourceSize</key>
        <string>{278,200}</string>
      </dict>
      <key>monster_2146_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,887},{282,201}}</string>
        <key>offset</key>
        <string>{-116,159}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{282,201}}</string>
        <key>sourceSize</key>
        <string>{282,201}</string>
      </dict>
      <key>monster_2146_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{429,802},{239,228}}</string>
        <key>offset</key>
        <string>{-115,159}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{239,228}}</string>
        <key>sourceSize</key>
        <string>{239,228}</string>
      </dict>
      <key>monster_2146_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{825,0},{230,221}}</string>
        <key>offset</key>
        <string>{-114,159}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{230,221}}</string>
        <key>sourceSize</key>
        <string>{230,221}</string>
      </dict>
      <key>monster_2146_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{220,1386},{244,225}}</string>
        <key>offset</key>
        <string>{-117,161}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{244,225}}</string>
        <key>sourceSize</key>
        <string>{244,225}</string>
      </dict>
      <key>monster_2146_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{203,882},{254,224}}</string>
        <key>offset</key>
        <string>{-115,158}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{254,224}}</string>
        <key>sourceSize</key>
        <string>{254,224}</string>
      </dict>
      <key>monster_2146_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{411,1138},{244,220}}</string>
        <key>offset</key>
        <string>{-117,160}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{244,220}}</string>
        <key>sourceSize</key>
        <string>{244,220}</string>
      </dict>
      <key>monster_2146_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{428,1632},{236,227}}</string>
        <key>offset</key>
        <string>{-117,161}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{236,227}}</string>
        <key>sourceSize</key>
        <string>{236,227}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_2146_0_1.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_2146_0_1.png</string>
    </dict>
  </dict>
</plist>