<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_2140_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{337,272}}</string>
        <key>offset</key>
        <string>{-180,204}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{337,272}}</string>
        <key>sourceSize</key>
        <string>{337,272}</string>
      </dict>
      <key>monster_2140_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,339},{337,274}}</string>
        <key>offset</key>
        <string>{-179,205}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{337,274}}</string>
        <key>sourceSize</key>
        <string>{337,274}</string>
      </dict>
      <key>monster_2140_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{274,0},{334,277}}</string>
        <key>offset</key>
        <string>{-177,208}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{334,277}}</string>
        <key>sourceSize</key>
        <string>{334,277}</string>
      </dict>
      <key>monster_2140_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,678},{332,278}}</string>
        <key>offset</key>
        <string>{-177,209}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{332,278}}</string>
        <key>sourceSize</key>
        <string>{332,278}</string>
      </dict>
      <key>monster_2140_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{280,669},{330,270}}</string>
        <key>offset</key>
        <string>{-180,201}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{330,270}}</string>
        <key>sourceSize</key>
        <string>{330,270}</string>
      </dict>
      <key>monster_2140_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{276,336},{331,267}}</string>
        <key>offset</key>
        <string>{-181,199}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{331,267}}</string>
        <key>sourceSize</key>
        <string>{331,267}</string>
      </dict>
      <key>monster_2140_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1589,612},{251,284}}</string>
        <key>offset</key>
        <string>{-184,226}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{251,284}}</string>
        <key>sourceSize</key>
        <string>{251,284}</string>
      </dict>
      <key>monster_2140_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1088,0},{306,265}}</string>
        <key>offset</key>
        <string>{-192,228}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{306,265}}</string>
        <key>sourceSize</key>
        <string>{306,265}</string>
      </dict>
      <key>monster_2140_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{552,650},{308,259}}</string>
        <key>offset</key>
        <string>{-194,225}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{308,259}}</string>
        <key>sourceSize</key>
        <string>{308,259}</string>
      </dict>
      <key>monster_2140_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1616,0},{296,259}}</string>
        <key>offset</key>
        <string>{-189,223}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{296,259}}</string>
        <key>sourceSize</key>
        <string>{296,259}</string>
      </dict>
      <key>monster_2140_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1346,308},{302,274}}</string>
        <key>offset</key>
        <string>{-189,231}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{302,274}}</string>
        <key>sourceSize</key>
        <string>{302,274}</string>
      </dict>
      <key>monster_2140_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1088,308},{305,256}}</string>
        <key>offset</key>
        <string>{-180,227}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{305,256}}</string>
        <key>sourceSize</key>
        <string>{305,256}</string>
      </dict>
      <key>monster_2140_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1336,615},{305,251}}</string>
        <key>offset</key>
        <string>{-180,229}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{305,251}}</string>
        <key>sourceSize</key>
        <string>{305,251}</string>
      </dict>
      <key>monster_2140_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{545,336},{312,262}}</string>
        <key>offset</key>
        <string>{-182,224}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{312,262}}</string>
        <key>sourceSize</key>
        <string>{312,262}</string>
      </dict>
      <key>monster_2140_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{553,0},{312,252}}</string>
        <key>offset</key>
        <string>{-182,223}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{312,252}}</string>
        <key>sourceSize</key>
        <string>{312,252}</string>
      </dict>
      <key>monster_2140_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{813,621},{307,256}}</string>
        <key>offset</key>
        <string>{-179,223}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{307,256}}</string>
        <key>sourceSize</key>
        <string>{307,256}</string>
      </dict>
      <key>monster_2140_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1071,621},{307,263}}</string>
        <key>offset</key>
        <string>{-178,225}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{307,263}}</string>
        <key>sourceSize</key>
        <string>{307,263}</string>
      </dict>
      <key>monster_2140_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1355,0},{300,259}}</string>
        <key>offset</key>
        <string>{-154,227}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{300,259}}</string>
        <key>sourceSize</key>
        <string>{300,259}</string>
      </dict>
      <key>monster_2140_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{807,0},{309,279}}</string>
        <key>offset</key>
        <string>{-157,209}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{309,279}}</string>
        <key>sourceSize</key>
        <string>{309,279}</string>
      </dict>
      <key>monster_2140_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{809,311},{308,277}}</string>
        <key>offset</key>
        <string>{-156,207}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{308,277}}</string>
        <key>sourceSize</key>
        <string>{308,277}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_2140_0_1_0.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>monster_2140_0_1_0.png</string>
    </dict>
  </dict>
</plist>