<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16122_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1102,678},{326,317}}</string>
        <key>offset</key>
        <string>{-98,228}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{326,317}}</string>
        <key>sourceSize</key>
        <string>{326,317}</string>
      </dict>
      <key>monster_16122_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1469,0},{320,295}}</string>
        <key>offset</key>
        <string>{-64,218}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{320,295}}</string>
        <key>sourceSize</key>
        <string>{320,295}</string>
      </dict>
      <key>monster_16122_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{593,1776},{253,331}}</string>
        <key>offset</key>
        <string>{-74,257}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{253,331}}</string>
        <key>sourceSize</key>
        <string>{253,331}</string>
      </dict>
      <key>monster_16122_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{663,0},{338,312}}</string>
        <key>offset</key>
        <string>{-204,229}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{338,312}}</string>
        <key>sourceSize</key>
        <string>{338,312}</string>
      </dict>
      <key>monster_16122_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{861,340},{326,336}}</string>
        <key>offset</key>
        <string>{-177,229}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{326,336}}</string>
        <key>sourceSize</key>
        <string>{326,336}</string>
      </dict>
      <key>monster_16122_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,707},{270,338}}</string>
        <key>offset</key>
        <string>{-122,229}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{270,338}}</string>
        <key>sourceSize</key>
        <string>{270,338}</string>
      </dict>
      <key>monster_16122_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,756},{341,298}}</string>
        <key>offset</key>
        <string>{-48,223}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{341,298}}</string>
        <key>sourceSize</key>
        <string>{341,298}</string>
      </dict>
      <key>monster_16122_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1223,1629},{305,300}}</string>
        <key>offset</key>
        <string>{-164,226}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{305,300}}</string>
        <key>sourceSize</key>
        <string>{305,300}</string>
      </dict>
      <key>monster_16122_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1488},{266,343}}</string>
        <key>offset</key>
        <string>{-125,238}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{266,343}}</string>
        <key>sourceSize</key>
        <string>{266,343}</string>
      </dict>
      <key>monster_16122_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1229,0},{238,321}}</string>
        <key>offset</key>
        <string>{-101,221}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{238,321}}</string>
        <key>sourceSize</key>
        <string>{238,321}</string>
      </dict>
      <key>monster_16122_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1200,1320},{260,307}}</string>
        <key>offset</key>
        <string>{-75,234}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{260,307}}</string>
        <key>sourceSize</key>
        <string>{260,307}</string>
      </dict>
      <key>monster_16122_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1766,0},{222,320}}</string>
        <key>offset</key>
        <string>{-102,241}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{222,320}}</string>
        <key>sourceSize</key>
        <string>{222,320}</string>
      </dict>
      <key>monster_16122_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,769},{371,298}}</string>
        <key>offset</key>
        <string>{-63,220}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{371,298}}</string>
        <key>sourceSize</key>
        <string>{371,298}</string>
      </dict>
      <key>monster_16122_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1789,1741},{215,296}}</string>
        <key>offset</key>
        <string>{-76,228}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{215,296}}</string>
        <key>sourceSize</key>
        <string>{215,296}</string>
      </dict>
      <key>monster_16122_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1647,643},{236,306}}</string>
        <key>offset</key>
        <string>{-90,229}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{236,306}}</string>
        <key>sourceSize</key>
        <string>{236,306}</string>
      </dict>
      <key>monster_16122_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1152,1006},{308,312}}</string>
        <key>offset</key>
        <string>{-112,231}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{308,312}}</string>
        <key>sourceSize</key>
        <string>{308,312}</string>
      </dict>
      <key>monster_16122_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1701,1156},{302,294}}</string>
        <key>offset</key>
        <string>{-120,242}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{302,294}}</string>
        <key>sourceSize</key>
        <string>{302,294}</string>
      </dict>
      <key>monster_16122_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{977,0},{250,332}}</string>
        <key>offset</key>
        <string>{-122,274}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{250,332}}</string>
        <key>sourceSize</key>
        <string>{250,332}</string>
      </dict>
      <key>monster_16122_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1701,1452},{302,287}}</string>
        <key>offset</key>
        <string>{-79,225}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{302,287}}</string>
        <key>sourceSize</key>
        <string>{302,287}</string>
      </dict>
      <key>monster_16122_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{565,1099},{341,291}}</string>
        <key>offset</key>
        <string>{-94,224}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{341,291}}</string>
        <key>sourceSize</key>
        <string>{341,291}</string>
      </dict>
      <key>monster_16122_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1189,334},{284,325}}</string>
        <key>offset</key>
        <string>{-122,248}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{284,325}}</string>
        <key>sourceSize</key>
        <string>{284,325}</string>
      </dict>
      <key>monster_16122_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{276,1142},{287,342}}</string>
        <key>offset</key>
        <string>{-156,274}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{287,342}}</string>
        <key>sourceSize</key>
        <string>{287,342}</string>
      </dict>
      <key>monster_16122_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1647,881},{306,273}}</string>
        <key>offset</key>
        <string>{-48,214}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{306,273}}</string>
        <key>sourceSize</key>
        <string>{306,273}</string>
      </dict>
      <key>monster_16122_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1525,1741},{262,298}}</string>
        <key>offset</key>
        <string>{-64,237}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{262,298}}</string>
        <key>sourceSize</key>
        <string>{262,298}</string>
      </dict>
      <key>monster_16122_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{285,385},{242,369}}</string>
        <key>offset</key>
        <string>{-76,274}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{242,369}}</string>
        <key>sourceSize</key>
        <string>{242,369}</string>
      </dict>
      <key>monster_16122_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{268,1488},{323,343}}</string>
        <key>offset</key>
        <string>{-128,274}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{323,343}}</string>
        <key>sourceSize</key>
        <string>{323,343}</string>
      </dict>
      <key>monster_16122_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{884,1379},{319,314}}</string>
        <key>offset</key>
        <string>{-190,235}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{319,314}}</string>
        <key>sourceSize</key>
        <string>{319,314}</string>
      </dict>
      <key>monster_16122_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1462,1156},{237,303}}</string>
        <key>offset</key>
        <string>{-47,224}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{237,303}}</string>
        <key>sourceSize</key>
        <string>{237,303}</string>
      </dict>
      <key>monster_16122_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1421,661},{224,312}}</string>
        <key>offset</key>
        <string>{-48,225}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{224,312}}</string>
        <key>sourceSize</key>
        <string>{224,312}</string>
      </dict>
      <key>monster_16122_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,385},{283,382}}</string>
        <key>offset</key>
        <string>{-94,274}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{283,382}}</string>
        <key>sourceSize</key>
        <string>{283,382}</string>
      </dict>
      <key>monster_16122_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1142},{274,344}}</string>
        <key>offset</key>
        <string>{-40,274}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{274,344}}</string>
        <key>sourceSize</key>
        <string>{274,344}</string>
      </dict>
      <key>monster_16122_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{383,317}}</string>
        <key>offset</key>
        <string>{-237,237}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{383,317}}</string>
        <key>sourceSize</key>
        <string>{383,317}</string>
      </dict>
      <key>monster_16122_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1833},{207,325}}</string>
        <key>offset</key>
        <string>{-40,215}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{207,325}}</string>
        <key>sourceSize</key>
        <string>{207,325}</string>
      </dict>
      <key>monster_16122_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{872,678},{228,328}}</string>
        <key>offset</key>
        <string>{-52,218}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{228,328}}</string>
        <key>sourceSize</key>
        <string>{228,328}</string>
      </dict>
      <key>monster_16122_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{593,1442},{289,332}}</string>
        <key>offset</key>
        <string>{-112,238}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{289,332}}</string>
        <key>sourceSize</key>
        <string>{289,332}</string>
      </dict>
      <key>monster_16122_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{319,0},{362,342}}</string>
        <key>offset</key>
        <string>{-120,232}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{362,342}}</string>
        <key>sourceSize</key>
        <string>{362,342}</string>
      </dict>
      <key>monster_16122_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1475,322},{264,317}}</string>
        <key>offset</key>
        <string>{-44,243}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{264,317}}</string>
        <key>sourceSize</key>
        <string>{264,317}</string>
      </dict>
      <key>monster_16122_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{926,1700},{295,317}}</string>
        <key>offset</key>
        <string>{-134,239}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{295,317}}</string>
        <key>sourceSize</key>
        <string>{295,317}</string>
      </dict>
      <key>monster_16122_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1766,322},{269,319}}</string>
        <key>offset</key>
        <string>{-127,223}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{269,319}}</string>
        <key>sourceSize</key>
        <string>{269,319}</string>
      </dict>
      <key>monster_16122_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{858,1047},{292,330}}</string>
        <key>offset</key>
        <string>{-149,223}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{292,330}}</string>
        <key>sourceSize</key>
        <string>{292,330}</string>
      </dict>
      <key>monster_16122_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{529,364},{330,341}}</string>
        <key>offset</key>
        <string>{-176,231}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{330,341}}</string>
        <key>sourceSize</key>
        <string>{330,341}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16122_0_2_0.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_16122_0_2_0.png</string>
    </dict>
  </dict>
</plist>