<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_10177_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,0},{350,208}}</string>
        <key>offset</key>
        <string>{-167,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{350,208}}</string>
        <key>sourceSize</key>
        <string>{350,208}</string>
      </dict>
      <key>monster_10177_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{351,695},{333,192}}</string>
        <key>offset</key>
        <string>{-133,98}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{333,192}}</string>
        <key>sourceSize</key>
        <string>{333,192}</string>
      </dict>
      <key>monster_10177_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{355,206}}</string>
        <key>offset</key>
        <string>{-143,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{355,206}}</string>
        <key>sourceSize</key>
        <string>{355,206}</string>
      </dict>
      <key>monster_10177_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,711},{349,211}}</string>
        <key>offset</key>
        <string>{-146,104}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{349,211}}</string>
        <key>sourceSize</key>
        <string>{349,211}</string>
      </dict>
      <key>monster_10177_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{418,0},{323,214}}</string>
        <key>offset</key>
        <string>{-146,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{323,214}}</string>
        <key>sourceSize</key>
        <string>{323,214}</string>
      </dict>
      <key>monster_10177_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{634,0},{312,210}}</string>
        <key>offset</key>
        <string>{-146,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{312,210}}</string>
        <key>sourceSize</key>
        <string>{312,210}</string>
      </dict>
      <key>monster_10177_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,357},{352,215}}</string>
        <key>offset</key>
        <string>{-192,131}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{352,215}}</string>
        <key>sourceSize</key>
        <string>{352,215}</string>
      </dict>
      <key>monster_10177_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1057,0},{291,207}}</string>
        <key>offset</key>
        <string>{-132,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{291,207}}</string>
        <key>sourceSize</key>
        <string>{291,207}</string>
      </dict>
      <key>monster_10177_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{967,304},{301,211}}</string>
        <key>offset</key>
        <string>{-144,123}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{301,211}}</string>
        <key>sourceSize</key>
        <string>{301,211}</string>
      </dict>
      <key>monster_10177_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1058,607},{285,208}}</string>
        <key>offset</key>
        <string>{-131,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{285,208}}</string>
        <key>sourceSize</key>
        <string>{285,208}</string>
      </dict>
      <key>monster_10177_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1180,293},{278,211}}</string>
        <key>offset</key>
        <string>{-112,139}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{278,211}}</string>
        <key>sourceSize</key>
        <string>{278,211}</string>
      </dict>
      <key>monster_10177_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{846,0},{302,209}}</string>
        <key>offset</key>
        <string>{-134,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{302,209}}</string>
        <key>sourceSize</key>
        <string>{302,209}</string>
      </dict>
      <key>monster_10177_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{686,645},{306,186}}</string>
        <key>offset</key>
        <string>{-115,123}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{306,186}}</string>
        <key>sourceSize</key>
        <string>{306,186}</string>
      </dict>
      <key>monster_10177_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{401,352},{333,192}}</string>
        <key>offset</key>
        <string>{-123,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{333,192}}</string>
        <key>sourceSize</key>
        <string>{333,192}</string>
      </dict>
      <key>monster_10177_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{217,352},{341,182}}</string>
        <key>offset</key>
        <string>{-130,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{341,182}}</string>
        <key>sourceSize</key>
        <string>{341,182}</string>
      </dict>
      <key>monster_10177_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{595,325},{318,191}}</string>
        <key>offset</key>
        <string>{-131,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{318,191}}</string>
        <key>sourceSize</key>
        <string>{318,191}</string>
      </dict>
      <key>monster_10177_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{874,619},{302,182}}</string>
        <key>offset</key>
        <string>{-130,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{302,182}}</string>
        <key>sourceSize</key>
        <string>{302,182}</string>
      </dict>
      <key>monster_10177_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{788,314},{303,177}}</string>
        <key>offset</key>
        <string>{-132,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{303,177}}</string>
        <key>sourceSize</key>
        <string>{303,177}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_10177_0_1_0.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>monster_10177_0_1_0.png</string>
    </dict>
  </dict>
</plist>