<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16360_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{466,209},{202,159}}</string>
        <key>offset</key>
        <string>{-85,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{202,159}}</string>
        <key>sourceSize</key>
        <string>{202,159}</string>
      </dict>
      <key>monster_16360_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{491,0},{202,158}}</string>
        <key>offset</key>
        <string>{-86,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{202,158}}</string>
        <key>sourceSize</key>
        <string>{202,158}</string>
      </dict>
      <key>monster_16360_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{319,426},{204,160}}</string>
        <key>offset</key>
        <string>{-89,125}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{204,160}}</string>
        <key>sourceSize</key>
        <string>{204,160}</string>
      </dict>
      <key>monster_16360_0_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{328,0},{207,161}}</string>
        <key>offset</key>
        <string>{-92,125}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{207,161}}</string>
        <key>sourceSize</key>
        <string>{207,161}</string>
      </dict>
      <key>monster_16360_0_0_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{316,651},{207,161}}</string>
        <key>offset</key>
        <string>{-92,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{207,161}}</string>
        <key>sourceSize</key>
        <string>{207,161}</string>
      </dict>
      <key>monster_16360_0_0_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{152,664},{209,162}}</string>
        <key>offset</key>
        <string>{-94,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,162}}</string>
        <key>sourceSize</key>
        <string>{209,162}</string>
      </dict>
      <key>monster_16360_0_0_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{316,860},{206,161}}</string>
        <key>offset</key>
        <string>{-91,124}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,161}}</string>
        <key>sourceSize</key>
        <string>{206,161}</string>
      </dict>
      <key>monster_16360_0_0_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{479,632},{202,160}}</string>
        <key>offset</key>
        <string>{-86,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{202,160}}</string>
        <key>sourceSize</key>
        <string>{202,160}</string>
      </dict>
      <key>monster_16360_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{767,299},{114,194}}</string>
        <key>offset</key>
        <string>{-32,136}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,194}}</string>
        <key>sourceSize</key>
        <string>{114,194}</string>
      </dict>
      <key>monster_16360_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{863,800},{118,189}}</string>
        <key>offset</key>
        <string>{-32,137}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,189}}</string>
        <key>sourceSize</key>
        <string>{118,189}</string>
      </dict>
      <key>monster_16360_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{795,608},{123,190}}</string>
        <key>offset</key>
        <string>{-36,139}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,190}}</string>
        <key>sourceSize</key>
        <string>{123,190}</string>
      </dict>
      <key>monster_16360_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{524,836},{132,194}}</string>
        <key>offset</key>
        <string>{-42,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,194}}</string>
        <key>sourceSize</key>
        <string>{132,194}</string>
      </dict>
      <key>monster_16360_0_0_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{627,204},{138,197}}</string>
        <key>offset</key>
        <string>{-47,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,197}}</string>
        <key>sourceSize</key>
        <string>{138,197}</string>
      </dict>
      <key>monster_16360_0_0_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,876},{135,199}}</string>
        <key>offset</key>
        <string>{-45,140}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,199}}</string>
        <key>sourceSize</key>
        <string>{135,199}</string>
      </dict>
      <key>monster_16360_0_0_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{481,413},{125,199}}</string>
        <key>offset</key>
        <string>{-40,139}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,199}}</string>
        <key>sourceSize</key>
        <string>{125,199}</string>
      </dict>
      <key>monster_16360_0_0_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{608,413},{110,198}}</string>
        <key>offset</key>
        <string>{-34,138}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,198}}</string>
        <key>sourceSize</key>
        <string>{110,198}</string>
      </dict>
      <key>monster_16360_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{854,415},{130,188}}</string>
        <key>offset</key>
        <string>{-40,125}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,188}}</string>
        <key>sourceSize</key>
        <string>{130,188}</string>
      </dict>
      <key>monster_16360_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{920,605},{129,188}}</string>
        <key>offset</key>
        <string>{-38,126}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,188}}</string>
        <key>sourceSize</key>
        <string>{129,188}</string>
      </dict>
      <key>monster_16360_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{720,415},{132,191}}</string>
        <key>offset</key>
        <string>{-41,130}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,191}}</string>
        <key>sourceSize</key>
        <string>{132,191}</string>
      </dict>
      <key>monster_16360_0_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{802,156},{141,195}}</string>
        <key>offset</key>
        <string>{-50,134}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,195}}</string>
        <key>sourceSize</key>
        <string>{141,195}</string>
      </dict>
      <key>monster_16360_0_0_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{651,0},{149,197}}</string>
        <key>offset</key>
        <string>{-56,136}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,197}}</string>
        <key>sourceSize</key>
        <string>{149,197}</string>
      </dict>
      <key>monster_16360_0_0_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{802,0},{154,197}}</string>
        <key>offset</key>
        <string>{-59,135}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,197}}</string>
        <key>sourceSize</key>
        <string>{154,197}</string>
      </dict>
      <key>monster_16360_0_0_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{641,613},{152,194}}</string>
        <key>offset</key>
        <string>{-55,132}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,194}}</string>
        <key>sourceSize</key>
        <string>{152,194}</string>
      </dict>
      <key>monster_16360_0_0_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{720,809},{141,191}}</string>
        <key>offset</key>
        <string>{-48,128}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,191}}</string>
        <key>sourceSize</key>
        <string>{141,191}</string>
      </dict>
      <key>monster_16360_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,664},{210,150}}</string>
        <key>offset</key>
        <string>{-92,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{210,150}}</string>
        <key>sourceSize</key>
        <string>{210,150}</string>
      </dict>
      <key>monster_16360_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,441},{208,151}}</string>
        <key>offset</key>
        <string>{-94,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,151}}</string>
        <key>sourceSize</key>
        <string>{208,151}</string>
      </dict>
      <key>monster_16360_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{310,216},{208,154}}</string>
        <key>offset</key>
        <string>{-95,104}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,154}}</string>
        <key>sourceSize</key>
        <string>{208,154}</string>
      </dict>
      <key>monster_16360_0_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,0},{214,162}}</string>
        <key>offset</key>
        <string>{-99,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{214,162}}</string>
        <key>sourceSize</key>
        <string>{214,162}</string>
      </dict>
      <key>monster_16360_0_0_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,444},{218,164}}</string>
        <key>offset</key>
        <string>{-100,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{218,164}}</string>
        <key>sourceSize</key>
        <string>{218,164}</string>
      </dict>
      <key>monster_16360_0_0_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{220,162}}</string>
        <key>offset</key>
        <string>{-99,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{220,162}}</string>
        <key>sourceSize</key>
        <string>{220,162}</string>
      </dict>
      <key>monster_16360_0_0_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,222},{220,156}}</string>
        <key>offset</key>
        <string>{-98,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{220,156}}</string>
        <key>sourceSize</key>
        <string>{220,156}</string>
      </dict>
      <key>monster_16360_0_0_7_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,222},{217,150}}</string>
        <key>offset</key>
        <string>{-96,104}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{217,150}}</string>
        <key>sourceSize</key>
        <string>{217,150}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16360_0_0_1.png</string>
      <key>size</key>
      <string>{1153,1024}</string>
      <key>textureFileName</key>
      <string>monster_16360_0_0_1.png</string>
    </dict>
  </dict>
</plist>