<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16461_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{516,0},{551,517}}</string>
        <key>offset</key>
        <string>{-268,345}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{551,517}}</string>
        <key>sourceSize</key>
        <string>{551,517}</string>
      </dict>
      <key>monster_16461_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1540,1547},{501,476}}</string>
        <key>offset</key>
        <string>{-238,330}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{501,476}}</string>
        <key>sourceSize</key>
        <string>{501,476}</string>
      </dict>
      <key>monster_16461_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{584,514}}</string>
        <key>offset</key>
        <string>{-268,342}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{584,514}}</string>
        <key>sourceSize</key>
        <string>{584,514}</string>
      </dict>
      <key>monster_16461_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1054,1063},{544,484}}</string>
        <key>offset</key>
        <string>{-238,338}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{544,484}}</string>
        <key>sourceSize</key>
        <string>{544,484}</string>
      </dict>
      <key>monster_16461_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1035,0},{551,533}}</string>
        <key>offset</key>
        <string>{-268,361}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{551,533}}</string>
        <key>sourceSize</key>
        <string>{551,533}</string>
      </dict>
      <key>monster_16461_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{516,553},{482,507}}</string>
        <key>offset</key>
        <string>{-238,361}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{482,507}}</string>
        <key>sourceSize</key>
        <string>{482,507}</string>
      </dict>
      <key>monster_16461_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1035,535},{551,526}}</string>
        <key>offset</key>
        <string>{-268,354}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{551,526}}</string>
        <key>sourceSize</key>
        <string>{551,526}</string>
      </dict>
      <key>monster_16461_0_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1540,1063},{482,502}}</string>
        <key>offset</key>
        <string>{-238,356}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{482,502}}</string>
        <key>sourceSize</key>
        <string>{482,502}</string>
      </dict>
      <key>monster_16461_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1063},{551,533}}</string>
        <key>offset</key>
        <string>{-255,361}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{551,533}}</string>
        <key>sourceSize</key>
        <string>{551,533}</string>
      </dict>
      <key>monster_16461_0_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{535,1063},{551,517}}</string>
        <key>offset</key>
        <string>{-255,345}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{551,517}}</string>
        <key>sourceSize</key>
        <string>{551,517}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16461_0_4_2.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_16461_0_4_2.png</string>
    </dict>
  </dict>
</plist>