<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_12600_0_0_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{694,0},{524,332}}</string>
        <key>offset</key>
        <string>{-195,161}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{524,332}}</string>
        <key>sourceSize</key>
        <string>{524,332}</string>
      </dict>
      <key>monster_12600_0_0_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1594},{523,333}}</string>
        <key>offset</key>
        <string>{-194,157}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{523,333}}</string>
        <key>sourceSize</key>
        <string>{523,333}</string>
      </dict>
      <key>monster_12600_0_0_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{531,324}}</string>
        <key>offset</key>
        <string>{-198,155}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{531,324}}</string>
        <key>sourceSize</key>
        <string>{531,324}</string>
      </dict>
      <key>monster_12600_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,533},{531,411}}</string>
        <key>offset</key>
        <string>{-205,193}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{531,411}}</string>
        <key>sourceSize</key>
        <string>{531,411}</string>
      </dict>
      <key>monster_12600_0_0_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1066},{526,417}}</string>
        <key>offset</key>
        <string>{-196,194}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{526,417}}</string>
        <key>sourceSize</key>
        <string>{526,417}</string>
      </dict>
      <key>monster_12600_0_0_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{793,1050},{517,410}}</string>
        <key>offset</key>
        <string>{-196,185}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{517,410}}</string>
        <key>sourceSize</key>
        <string>{517,410}</string>
      </dict>
      <key>monster_12600_0_0_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{764,526},{522,426}}</string>
        <key>offset</key>
        <string>{-200,192}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{522,426}}</string>
        <key>sourceSize</key>
        <string>{522,426}</string>
      </dict>
      <key>monster_12600_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1560,515},{463,421}}</string>
        <key>offset</key>
        <string>{-238,193}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{463,421}}</string>
        <key>sourceSize</key>
        <string>{463,421}</string>
      </dict>
      <key>monster_12600_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1560,938},{463,420}}</string>
        <key>offset</key>
        <string>{-238,188}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{463,420}}</string>
        <key>sourceSize</key>
        <string>{463,420}</string>
      </dict>
      <key>monster_12600_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{413,529},{525,349}}</string>
        <key>offset</key>
        <string>{-221,174}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{525,349}}</string>
        <key>sourceSize</key>
        <string>{525,349}</string>
      </dict>
      <key>monster_12600_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{326,0},{527,366}}</string>
        <key>offset</key>
        <string>{-221,185}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{527,366}}</string>
        <key>sourceSize</key>
        <string>{527,366}</string>
      </dict>
      <key>monster_12600_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{419,1056},{523,372}}</string>
        <key>offset</key>
        <string>{-215,184}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{523,372}}</string>
        <key>sourceSize</key>
        <string>{523,372}</string>
      </dict>
      <key>monster_12600_0_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{525,1581},{519,366}}</string>
        <key>offset</key>
        <string>{-212,172}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{519,366}}</string>
        <key>sourceSize</key>
        <string>{519,366}</string>
      </dict>
      <key>monster_12600_0_0_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1192,524},{516,345}}</string>
        <key>offset</key>
        <string>{-208,170}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{516,345}}</string>
        <key>sourceSize</key>
        <string>{516,345}</string>
      </dict>
      <key>monster_12600_0_0_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1387,0},{513,357}}</string>
        <key>offset</key>
        <string>{-206,171}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{513,357}}</string>
        <key>sourceSize</key>
        <string>{513,357}</string>
      </dict>
      <key>monster_12600_0_0_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1028,0},{522,357}}</string>
        <key>offset</key>
        <string>{-203,167}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{522,357}}</string>
        <key>sourceSize</key>
        <string>{522,357}</string>
      </dict>
      <key>monster_12600_0_0_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1046,1569},{512,342}}</string>
        <key>offset</key>
        <string>{-216,173}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{512,342}}</string>
        <key>sourceSize</key>
        <string>{512,342}</string>
      </dict>
      <key>monster_12600_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1560,1686},{459,307}}</string>
        <key>offset</key>
        <string>{-235,157}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{459,307}}</string>
        <key>sourceSize</key>
        <string>{459,307}</string>
      </dict>
      <key>monster_12600_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1205,1042},{461,323}}</string>
        <key>offset</key>
        <string>{-237,164}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{461,323}}</string>
        <key>sourceSize</key>
        <string>{461,323}</string>
      </dict>
      <key>monster_12600_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1560,1360},{462,324}}</string>
        <key>offset</key>
        <string>{-237,170}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{462,324}}</string>
        <key>sourceSize</key>
        <string>{462,324}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_12600_0_0_1.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_12600_0_0_1.png</string>
    </dict>
  </dict>
</plist>