<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16309_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{616,755},{404,246}}</string>
        <key>offset</key>
        <string>{-172,188}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{404,246}}</string>
        <key>sourceSize</key>
        <string>{404,246}</string>
      </dict>
      <key>monster_16309_0_4_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{455,0},{557,206}}</string>
        <key>offset</key>
        <string>{-241,91}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{557,206}}</string>
        <key>sourceSize</key>
        <string>{557,206}</string>
      </dict>
      <key>monster_16309_0_4_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,617},{614,243}}</string>
        <key>offset</key>
        <string>{-291,102}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{614,243}}</string>
        <key>sourceSize</key>
        <string>{614,243}</string>
      </dict>
      <key>monster_16309_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{887,208},{312,307}}</string>
        <key>offset</key>
        <string>{-160,221}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{312,307}}</string>
        <key>sourceSize</key>
        <string>{312,307}</string>
      </dict>
      <key>monster_16309_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1022,522},{312,307}}</string>
        <key>offset</key>
        <string>{-160,221}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{312,307}}</string>
        <key>sourceSize</key>
        <string>{312,307}</string>
      </dict>
      <key>monster_16309_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1196,0},{312,309}}</string>
        <key>offset</key>
        <string>{-160,223}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{312,309}}</string>
        <key>sourceSize</key>
        <string>{312,309}</string>
      </dict>
      <key>monster_16309_0_4_1_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{616,208},{545,269}}</string>
        <key>offset</key>
        <string>{-235,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{545,269}}</string>
        <key>sourceSize</key>
        <string>{545,269}</string>
      </dict>
      <key>monster_16309_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{288,862},{267,280}}</string>
        <key>offset</key>
        <string>{-101,213}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{267,280}}</string>
        <key>sourceSize</key>
        <string>{267,280}</string>
      </dict>
      <key>monster_16309_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{288,1131},{266,278}}</string>
        <key>offset</key>
        <string>{-100,211}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{266,278}}</string>
        <key>sourceSize</key>
        <string>{266,278}</string>
      </dict>
      <key>monster_16309_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{570,1003},{266,279}}</string>
        <key>offset</key>
        <string>{-100,212}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{266,279}}</string>
        <key>sourceSize</key>
        <string>{266,279}</string>
      </dict>
      <key>monster_16309_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,862},{273,286}}</string>
        <key>offset</key>
        <string>{-107,211}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{273,286}}</string>
        <key>sourceSize</key>
        <string>{273,286}</string>
      </dict>
      <key>monster_16309_0_4_4_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,0},{605,241}}</string>
        <key>offset</key>
        <string>{-269,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{605,241}}</string>
        <key>sourceSize</key>
        <string>{605,241}</string>
      </dict>
      <key>monster_16309_0_4_4_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{615,210}}</string>
        <key>offset</key>
        <string>{-269,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{615,210}}</string>
        <key>sourceSize</key>
        <string>{615,210}</string>
      </dict>
      <key>monster_16309_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1331,618},{308,309}}</string>
        <key>offset</key>
        <string>{-81,239}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{308,309}}</string>
        <key>sourceSize</key>
        <string>{308,309}</string>
      </dict>
      <key>monster_16309_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1507,0},{306,310}}</string>
        <key>offset</key>
        <string>{-79,239}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{306,310}}</string>
        <key>sourceSize</key>
        <string>{306,310}</string>
      </dict>
      <key>monster_16309_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1507,308},{308,310}}</string>
        <key>offset</key>
        <string>{-81,239}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{308,310}}</string>
        <key>sourceSize</key>
        <string>{308,310}</string>
      </dict>
      <key>monster_16309_0_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1326,929},{298,283}}</string>
        <key>offset</key>
        <string>{-69,215}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{298,283}}</string>
        <key>sourceSize</key>
        <string>{298,283}</string>
      </dict>
      <key>monster_16309_0_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1641,618},{241,302}}</string>
        <key>offset</key>
        <string>{-51,225}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{241,302}}</string>
        <key>sourceSize</key>
        <string>{241,302}</string>
      </dict>
      <key>monster_16309_0_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1022,836},{241,302}}</string>
        <key>offset</key>
        <string>{-51,225}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{241,302}}</string>
        <key>sourceSize</key>
        <string>{241,302}</string>
      </dict>
      <key>monster_16309_0_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1641,922},{241,302}}</string>
        <key>offset</key>
        <string>{-51,225}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{241,302}}</string>
        <key>sourceSize</key>
        <string>{241,302}</string>
      </dict>
      <key>monster_16309_0_4_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1626,1165},{294,262}}</string>
        <key>offset</key>
        <string>{-102,145}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{294,262}}</string>
        <key>sourceSize</key>
        <string>{294,262}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16309_0_4_2.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_16309_0_4_2.png</string>
    </dict>
  </dict>
</plist>