<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_12084_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1226,435},{383,419}}</string>
        <key>offset</key>
        <string>{-134,204}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{383,419}}</string>
        <key>sourceSize</key>
        <string>{383,419}</string>
      </dict>
      <key>monster_12084_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1263,0},{410,395}}</string>
        <key>offset</key>
        <string>{-136,202}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{410,395}}</string>
        <key>sourceSize</key>
        <string>{410,395}</string>
      </dict>
      <key>monster_12084_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{930,870},{429,360}}</string>
        <key>offset</key>
        <string>{-148,197}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{429,360}}</string>
        <key>sourceSize</key>
        <string>{429,360}</string>
      </dict>
      <key>monster_12084_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{512,970},{442,416}}</string>
        <key>offset</key>
        <string>{-35,178}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{442,416}}</string>
        <key>sourceSize</key>
        <string>{442,416}</string>
      </dict>
      <key>monster_12084_0_4_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{312,0},{449,321}}</string>
        <key>offset</key>
        <string>{-43,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{449,321}}</string>
        <key>sourceSize</key>
        <string>{449,321}</string>
      </dict>
      <key>monster_12084_0_4_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{635,0},{433,312}}</string>
        <key>offset</key>
        <string>{-27,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{433,312}}</string>
        <key>sourceSize</key>
        <string>{433,312}</string>
      </dict>
      <key>monster_12084_0_4_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{912,435},{433,312}}</string>
        <key>offset</key>
        <string>{-27,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{433,312}}</string>
        <key>sourceSize</key>
        <string>{433,312}</string>
      </dict>
      <key>monster_12084_0_4_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{949,0},{433,312}}</string>
        <key>offset</key>
        <string>{-27,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{433,312}}</string>
        <key>sourceSize</key>
        <string>{433,312}</string>
      </dict>
      <key>monster_12084_0_4_2_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{512,1414},{433,312}}</string>
        <key>offset</key>
        <string>{-27,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{433,312}}</string>
        <key>sourceSize</key>
        <string>{433,312}</string>
      </dict>
      <key>monster_12084_0_4_2_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{826,1414},{433,312}}</string>
        <key>offset</key>
        <string>{-27,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{433,312}}</string>
        <key>sourceSize</key>
        <string>{433,312}</string>
      </dict>
      <key>monster_12084_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1611,412},{396,392}}</string>
        <key>offset</key>
        <string>{-171,204}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{396,392}}</string>
        <key>sourceSize</key>
        <string>{396,392}</string>
      </dict>
      <key>monster_12084_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1660,0},{368,409}}</string>
        <key>offset</key>
        <string>{-187,197}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{368,409}}</string>
        <key>sourceSize</key>
        <string>{368,409}</string>
      </dict>
      <key>monster_12084_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{516,451},{442,394}}</string>
        <key>offset</key>
        <string>{-182,195}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{442,394}}</string>
        <key>sourceSize</key>
        <string>{442,394}</string>
      </dict>
      <key>monster_12084_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{500,310}}</string>
        <key>offset</key>
        <string>{-76,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{500,310}}</string>
        <key>sourceSize</key>
        <string>{500,310}</string>
      </dict>
      <key>monster_12084_0_4_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,502},{494,258}}</string>
        <key>offset</key>
        <string>{-69,-11}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{494,258}}</string>
        <key>sourceSize</key>
        <string>{494,258}</string>
      </dict>
      <key>monster_12084_0_4_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,998},{466,254}}</string>
        <key>offset</key>
        <string>{-39,-15}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{466,254}}</string>
        <key>sourceSize</key>
        <string>{466,254}</string>
      </dict>
      <key>monster_12084_0_4_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1466},{466,254}}</string>
        <key>offset</key>
        <string>{-39,-15}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{466,254}}</string>
        <key>sourceSize</key>
        <string>{466,254}</string>
      </dict>
      <key>monster_12084_0_4_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{256,1466},{466,254}}</string>
        <key>offset</key>
        <string>{-39,-15}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{466,254}}</string>
        <key>sourceSize</key>
        <string>{466,254}</string>
      </dict>
      <key>monster_12084_0_4_3_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{256,998},{466,254}}</string>
        <key>offset</key>
        <string>{-39,-15}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{466,254}}</string>
        <key>sourceSize</key>
        <string>{466,254}</string>
      </dict>
      <key>monster_12084_0_4_3_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,502},{466,254}}</string>
        <key>offset</key>
        <string>{-39,-15}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{466,254}}</string>
        <key>sourceSize</key>
        <string>{466,254}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_12084_0_4_1.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_12084_0_4_1.png</string>
    </dict>
  </dict>
</plist>