<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16113_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{345,443},{353,424}}</string>
        <key>offset</key>
        <string>{-180,245}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{353,424}}</string>
        <key>sourceSize</key>
        <string>{353,424}</string>
      </dict>
      <key>monster_16113_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,443},{343,436}}</string>
        <key>offset</key>
        <string>{-174,247}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{343,436}}</string>
        <key>sourceSize</key>
        <string>{343,436}</string>
      </dict>
      <key>monster_16113_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,881},{341,425}}</string>
        <key>offset</key>
        <string>{-188,241}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{341,425}}</string>
        <key>sourceSize</key>
        <string>{341,425}</string>
      </dict>
      <key>monster_16113_0_2_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1237,1421},{391,389}}</string>
        <key>offset</key>
        <string>{-178,197}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{391,389}}</string>
        <key>sourceSize</key>
        <string>{391,389}</string>
      </dict>
      <key>monster_16113_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{419,0},{421,415}}</string>
        <key>offset</key>
        <string>{-228,299}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{421,415}}</string>
        <key>sourceSize</key>
        <string>{421,415}</string>
      </dict>
      <key>monster_16113_0_2_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1628,1699},{379,333}}</string>
        <key>offset</key>
        <string>{-180,241}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{379,333}}</string>
        <key>sourceSize</key>
        <string>{379,333}</string>
      </dict>
      <key>monster_16113_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1735},{295,405}}</string>
        <key>offset</key>
        <string>{-188,333}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{295,405}}</string>
        <key>sourceSize</key>
        <string>{295,405}</string>
      </dict>
      <key>monster_16113_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{836,0},{256,417}}</string>
        <key>offset</key>
        <string>{-175,333}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{256,417}}</string>
        <key>sourceSize</key>
        <string>{256,417}</string>
      </dict>
      <key>monster_16113_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1769,0},{276,389}}</string>
        <key>offset</key>
        <string>{-163,305}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{276,389}}</string>
        <key>sourceSize</key>
        <string>{276,389}</string>
      </dict>
      <key>monster_16113_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1352,0},{399,415}}</string>
        <key>offset</key>
        <string>{-212,277}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{399,415}}</string>
        <key>sourceSize</key>
        <string>{399,415}</string>
      </dict>
      <key>monster_16113_0_2_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1769,401},{228,403}}</string>
        <key>offset</key>
        <string>{-143,309}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{228,403}}</string>
        <key>sourceSize</key>
        <string>{228,403}</string>
      </dict>
      <key>monster_16113_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1308},{425,420}}</string>
        <key>offset</key>
        <string>{-208,293}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{425,420}}</string>
        <key>sourceSize</key>
        <string>{425,420}</string>
      </dict>
      <key>monster_16113_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{765,846},{413,407}}</string>
        <key>offset</key>
        <string>{-212,293}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{413,407}}</string>
        <key>sourceSize</key>
        <string>{413,407}</string>
      </dict>
      <key>monster_16113_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1174,795},{405,409}}</string>
        <key>offset</key>
        <string>{-168,289}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{405,409}}</string>
        <key>sourceSize</key>
        <string>{405,409}</string>
      </dict>
      <key>monster_16113_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1581,1036},{401,383}}</string>
        <key>offset</key>
        <string>{-184,253}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{401,383}}</string>
        <key>sourceSize</key>
        <string>{401,383}</string>
      </dict>
      <key>monster_16113_0_2_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{823,1676},{412,359}}</string>
        <key>offset</key>
        <string>{-195,245}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{412,359}}</string>
        <key>sourceSize</key>
        <string>{412,359}</string>
      </dict>
      <key>monster_16113_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{343,881},{425,420}}</string>
        <key>offset</key>
        <string>{-178,293}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{425,420}}</string>
        <key>sourceSize</key>
        <string>{425,420}</string>
      </dict>
      <key>monster_16113_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{823,1261},{413,407}}</string>
        <key>offset</key>
        <string>{-162,293}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{413,407}}</string>
        <key>sourceSize</key>
        <string>{413,407}</string>
      </dict>
      <key>monster_16113_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1352,401},{415,392}}</string>
        <key>offset</key>
        <string>{-166,263}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{415,392}}</string>
        <key>sourceSize</key>
        <string>{415,392}</string>
      </dict>
      <key>monster_16113_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{407,1735},{295,405}}</string>
        <key>offset</key>
        <string>{-72,333}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{295,405}}</string>
        <key>sourceSize</key>
        <string>{295,405}</string>
      </dict>
      <key>monster_16113_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1094,0},{256,417}}</string>
        <key>offset</key>
        <string>{-46,333}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{256,417}}</string>
        <key>sourceSize</key>
        <string>{256,417}</string>
      </dict>
      <key>monster_16113_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1628,1421},{276,389}}</string>
        <key>offset</key>
        <string>{-78,305}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{276,389}}</string>
        <key>sourceSize</key>
        <string>{276,389}</string>
      </dict>
      <key>monster_16113_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{417,441}}</string>
        <key>offset</key>
        <string>{-162,333}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{417,441}}</string>
        <key>sourceSize</key>
        <string>{417,441}</string>
      </dict>
      <key>monster_16113_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{422,1308},{399,415}}</string>
        <key>offset</key>
        <string>{-152,277}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{399,415}}</string>
        <key>sourceSize</key>
        <string>{399,415}</string>
      </dict>
      <key>monster_16113_0_2_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1581,806},{228,403}}</string>
        <key>offset</key>
        <string>{-50,309}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{228,403}}</string>
        <key>sourceSize</key>
        <string>{228,403}</string>
      </dict>
      <key>monster_16113_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,423},{421,415}}</string>
        <key>offset</key>
        <string>{-159,299}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{421,415}}</string>
        <key>sourceSize</key>
        <string>{421,415}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16113_0_2_1.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_16113_0_2_1.png</string>
    </dict>
  </dict>
</plist>