<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_12091_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{307,83},{47,79}}</string>
        <key>offset</key>
        <string>{-7,25}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,79}}</string>
        <key>sourceSize</key>
        <string>{47,79}</string>
      </dict>
      <key>monster_12091_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{333,0},{49,79}}</string>
        <key>offset</key>
        <string>{-9,25}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{49,79}}</string>
        <key>sourceSize</key>
        <string>{49,79}</string>
      </dict>
      <key>monster_12091_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{293,345},{57,80}}</string>
        <key>offset</key>
        <string>{-17,26}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,80}}</string>
        <key>sourceSize</key>
        <string>{57,80}</string>
      </dict>
      <key>monster_12091_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{327,252},{46,78}}</string>
        <key>offset</key>
        <string>{-6,24}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,78}}</string>
        <key>sourceSize</key>
        <string>{46,78}</string>
      </dict>
      <key>monster_12091_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{47,0},{46,93}}</string>
        <key>offset</key>
        <string>{-6,39}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,93}}</string>
        <key>sourceSize</key>
        <string>{46,93}</string>
      </dict>
      <key>monster_12091_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{356,81},{46,79}}</string>
        <key>offset</key>
        <string>{-6,25}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,79}}</string>
        <key>sourceSize</key>
        <string>{46,79}</string>
      </dict>
      <key>monster_12091_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{125,299},{85,75}}</string>
        <key>offset</key>
        <string>{-36,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,75}}</string>
        <key>sourceSize</key>
        <string>{85,75}</string>
      </dict>
      <key>monster_12091_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{140,179},{85,76}}</string>
        <key>offset</key>
        <string>{-36,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,76}}</string>
        <key>sourceSize</key>
        <string>{85,76}</string>
      </dict>
      <key>monster_12091_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{95,0},{86,89}}</string>
        <key>offset</key>
        <string>{-36,41}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,89}}</string>
        <key>sourceSize</key>
        <string>{86,89}</string>
      </dict>
      <key>monster_12091_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,91},{85,75}}</string>
        <key>offset</key>
        <string>{-36,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,75}}</string>
        <key>sourceSize</key>
        <string>{85,75}</string>
      </dict>
      <key>monster_12091_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,324},{87,84}}</string>
        <key>offset</key>
        <string>{-36,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,84}}</string>
        <key>sourceSize</key>
        <string>{87,84}</string>
      </dict>
      <key>monster_12091_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{47,413},{86,75}}</string>
        <key>offset</key>
        <string>{-36,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,75}}</string>
        <key>sourceSize</key>
        <string>{86,75}</string>
      </dict>
      <key>monster_12091_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,386},{83,48}}</string>
        <key>offset</key>
        <string>{-31,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,48}}</string>
        <key>sourceSize</key>
        <string>{83,48}</string>
      </dict>
      <key>monster_12091_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{384,0},{79,55}}</string>
        <key>offset</key>
        <string>{-31,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,55}}</string>
        <key>sourceSize</key>
        <string>{79,55}</string>
      </dict>
      <key>monster_12091_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{441,0},{78,69}}</string>
        <key>offset</key>
        <string>{-31,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,69}}</string>
        <key>sourceSize</key>
        <string>{78,69}</string>
      </dict>
      <key>monster_12091_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{441,80},{78,59}}</string>
        <key>offset</key>
        <string>{-31,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,59}}</string>
        <key>sourceSize</key>
        <string>{78,59}</string>
      </dict>
      <key>monster_12091_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{111,45}}</string>
        <key>offset</key>
        <string>{-31,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,45}}</string>
        <key>sourceSize</key>
        <string>{111,45}</string>
      </dict>
      <key>monster_12091_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{183,0},{85,47}}</string>
        <key>offset</key>
        <string>{-31,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,47}}</string>
        <key>sourceSize</key>
        <string>{85,47}</string>
      </dict>
      <key>monster_12091_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{251,87},{81,54}}</string>
        <key>offset</key>
        <string>{-20,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,54}}</string>
        <key>sourceSize</key>
        <string>{81,54}</string>
      </dict>
      <key>monster_12091_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{277,0},{81,54}}</string>
        <key>offset</key>
        <string>{-20,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,54}}</string>
        <key>sourceSize</key>
        <string>{81,54}</string>
      </dict>
      <key>monster_12091_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,178},{82,62}}</string>
        <key>offset</key>
        <string>{-20,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,62}}</string>
        <key>sourceSize</key>
        <string>{82,62}</string>
      </dict>
      <key>monster_12091_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{428,235},{66,68}}</string>
        <key>offset</key>
        <string>{-20,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,68}}</string>
        <key>sourceSize</key>
        <string>{66,68}</string>
      </dict>
      <key>monster_12091_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,226},{96,54}}</string>
        <key>offset</key>
        <string>{-20,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,54}}</string>
        <key>sourceSize</key>
        <string>{96,54}</string>
      </dict>
      <key>monster_12091_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{299,427},{80,54}}</string>
        <key>offset</key>
        <string>{-20,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,54}}</string>
        <key>sourceSize</key>
        <string>{80,54}</string>
      </dict>
      <key>monster_12091_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{449,351},{47,53}}</string>
        <key>offset</key>
        <string>{8,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,53}}</string>
        <key>sourceSize</key>
        <string>{47,53}</string>
      </dict>
      <key>monster_12091_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{405,448},{50,48}}</string>
        <key>offset</key>
        <string>{8,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,48}}</string>
        <key>sourceSize</key>
        <string>{50,48}</string>
      </dict>
      <key>monster_12091_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{355,412},{57,48}}</string>
        <key>offset</key>
        <string>{8,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,48}}</string>
        <key>sourceSize</key>
        <string>{57,48}</string>
      </dict>
      <key>monster_12091_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{428,303},{46,61}}</string>
        <key>offset</key>
        <string>{8,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,61}}</string>
        <key>sourceSize</key>
        <string>{46,61}</string>
      </dict>
      <key>monster_12091_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{401,351},{46,57}}</string>
        <key>offset</key>
        <string>{8,20}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,57}}</string>
        <key>sourceSize</key>
        <string>{46,57}</string>
      </dict>
      <key>monster_12091_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{449,400},{46,51}}</string>
        <key>offset</key>
        <string>{8,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,51}}</string>
        <key>sourceSize</key>
        <string>{46,51}</string>
      </dict>
      <key>monster_12091_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{56,211},{86,47}}</string>
        <key>offset</key>
        <string>{-2,10}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,47}}</string>
        <key>sourceSize</key>
        <string>{86,47}</string>
      </dict>
      <key>monster_12091_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,299},{86,37}}</string>
        <key>offset</key>
        <string>{-2,10}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,37}}</string>
        <key>sourceSize</key>
        <string>{86,37}</string>
      </dict>
      <key>monster_12091_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{105,211},{86,33}}</string>
        <key>offset</key>
        <string>{-2,10}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,33}}</string>
        <key>sourceSize</key>
        <string>{86,33}</string>
      </dict>
      <key>monster_12091_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,91},{86,46}}</string>
        <key>offset</key>
        <string>{-2,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,46}}</string>
        <key>sourceSize</key>
        <string>{86,46}</string>
      </dict>
      <key>monster_12091_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,413},{87,45}}</string>
        <key>offset</key>
        <string>{-3,10}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,45}}</string>
        <key>sourceSize</key>
        <string>{87,45}</string>
      </dict>
      <key>monster_12091_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,387},{86,40}}</string>
        <key>offset</key>
        <string>{-2,10}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,40}}</string>
        <key>sourceSize</key>
        <string>{86,40}</string>
      </dict>
      <key>monster_12091_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,266},{83,46}}</string>
        <key>offset</key>
        <string>{-4,8}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,46}}</string>
        <key>sourceSize</key>
        <string>{83,46}</string>
      </dict>
      <key>monster_12091_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{357,162},{78,47}}</string>
        <key>offset</key>
        <string>{1,9}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,47}}</string>
        <key>sourceSize</key>
        <string>{78,47}</string>
      </dict>
      <key>monster_12091_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{352,332},{78,47}}</string>
        <key>offset</key>
        <string>{1,9}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,47}}</string>
        <key>sourceSize</key>
        <string>{78,47}</string>
      </dict>
      <key>monster_12091_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{375,242},{78,51}}</string>
        <key>offset</key>
        <string>{1,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,51}}</string>
        <key>sourceSize</key>
        <string>{78,51}</string>
      </dict>
      <key>monster_12091_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,113},{111,43}}</string>
        <key>offset</key>
        <string>{-32,5}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,43}}</string>
        <key>sourceSize</key>
        <string>{111,43}</string>
      </dict>
      <key>monster_12091_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,0},{85,43}}</string>
        <key>offset</key>
        <string>{-6,5}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,43}}</string>
        <key>sourceSize</key>
        <string>{85,43}</string>
      </dict>
      <key>monster_12091_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,351},{81,75}}</string>
        <key>offset</key>
        <string>{-13,17}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,75}}</string>
        <key>sourceSize</key>
        <string>{81,75}</string>
      </dict>
      <key>monster_12091_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,434},{81,75}}</string>
        <key>offset</key>
        <string>{-13,17}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,75}}</string>
        <key>sourceSize</key>
        <string>{81,75}</string>
      </dict>
      <key>monster_12091_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,262},{81,75}}</string>
        <key>offset</key>
        <string>{-13,17}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,75}}</string>
        <key>sourceSize</key>
        <string>{81,75}</string>
      </dict>
      <key>monster_12091_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{406,160},{66,73}}</string>
        <key>offset</key>
        <string>{2,15}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,73}}</string>
        <key>sourceSize</key>
        <string>{66,73}</string>
      </dict>
      <key>monster_12091_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{45,113},{96,79}}</string>
        <key>offset</key>
        <string>{-28,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,79}}</string>
        <key>sourceSize</key>
        <string>{96,79}</string>
      </dict>
      <key>monster_12091_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{282,170},{80,73}}</string>
        <key>offset</key>
        <string>{-12,15}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,73}}</string>
        <key>sourceSize</key>
        <string>{80,73}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_12091_0_2.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>monster_12091_0_2.png</string>
    </dict>
  </dict>
</plist>