<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16499_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1000},{438,489}}</string>
        <key>offset</key>
        <string>{-179,357}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{438,489}}</string>
        <key>sourceSize</key>
        <string>{438,489}</string>
      </dict>
      <key>monster_16499_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1491},{480,488}}</string>
        <key>offset</key>
        <string>{-196,355}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{480,488}}</string>
        <key>sourceSize</key>
        <string>{480,488}</string>
      </dict>
      <key>monster_16499_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,507},{475,491}}</string>
        <key>offset</key>
        <string>{-117,363}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{475,491}}</string>
        <key>sourceSize</key>
        <string>{475,491}</string>
      </dict>
      <key>monster_16499_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{440,1000},{465,485}}</string>
        <key>offset</key>
        <string>{-106,357}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{465,485}}</string>
        <key>sourceSize</key>
        <string>{465,485}</string>
      </dict>
      <key>monster_16499_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{449,0},{491,459}}</string>
        <key>offset</key>
        <string>{-137,309}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{491,459}}</string>
        <key>sourceSize</key>
        <string>{491,459}</string>
      </dict>
      <key>monster_16499_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{505,447}}</string>
        <key>offset</key>
        <string>{-133,297}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{505,447}}</string>
        <key>sourceSize</key>
        <string>{505,447}</string>
      </dict>
      <key>monster_16499_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{482,1487},{474,364}}</string>
        <key>offset</key>
        <string>{-107,223}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{474,364}}</string>
        <key>sourceSize</key>
        <string>{474,364}</string>
      </dict>
      <key>monster_16499_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{910,0},{476,359}}</string>
        <key>offset</key>
        <string>{-104,205}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{476,359}}</string>
        <key>sourceSize</key>
        <string>{476,359}</string>
      </dict>
      <key>monster_16499_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{907,974},{452,324}}</string>
        <key>offset</key>
        <string>{-166,203}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{452,324}}</string>
        <key>sourceSize</key>
        <string>{452,324}</string>
      </dict>
      <key>monster_16499_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{878,493},{479,326}}</string>
        <key>offset</key>
        <string>{-172,206}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{479,326}}</string>
        <key>sourceSize</key>
        <string>{479,326}</string>
      </dict>
      <key>monster_16499_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1271,0},{396,352}}</string>
        <key>offset</key>
        <string>{-174,213}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{396,352}}</string>
        <key>sourceSize</key>
        <string>{396,352}</string>
      </dict>
      <key>monster_16499_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1627,445},{433,360}}</string>
        <key>offset</key>
        <string>{-206,203}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{433,360}}</string>
        <key>sourceSize</key>
        <string>{433,360}</string>
      </dict>
      <key>monster_16499_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1627,0},{391,443}}</string>
        <key>offset</key>
        <string>{-171,298}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{391,443}}</string>
        <key>sourceSize</key>
        <string>{391,443}</string>
      </dict>
      <key>monster_16499_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1206,478},{444,419}}</string>
        <key>offset</key>
        <string>{-209,264}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{444,419}}</string>
        <key>sourceSize</key>
        <string>{444,419}</string>
      </dict>
      <key>monster_16499_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{477,493},{399,480}}</string>
        <key>offset</key>
        <string>{-182,358}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{399,480}}</string>
        <key>sourceSize</key>
        <string>{399,480}</string>
      </dict>
      <key>monster_16499_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{848,1487},{438,465}}</string>
        <key>offset</key>
        <string>{-212,342}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{438,465}}</string>
        <key>sourceSize</key>
        <string>{438,465}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16499_0_7.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_16499_0_7.png</string>
    </dict>
  </dict>
</plist>