<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_1521_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{557,0},{165,191}}</string>
        <key>offset</key>
        <string>{-10,135}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,191}}</string>
        <key>sourceSize</key>
        <string>{165,191}</string>
      </dict>
      <key>monster_1521_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{684,594},{169,185}}</string>
        <key>offset</key>
        <string>{-19,129}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,185}}</string>
        <key>sourceSize</key>
        <string>{169,185}</string>
      </dict>
      <key>monster_1521_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{855,573},{177,182}}</string>
        <key>offset</key>
        <string>{-33,126}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{177,182}}</string>
        <key>sourceSize</key>
        <string>{177,182}</string>
      </dict>
      <key>monster_1521_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{858,191},{167,184}}</string>
        <key>offset</key>
        <string>{-19,128}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,184}}</string>
        <key>sourceSize</key>
        <string>{167,184}</string>
      </dict>
      <key>monster_1521_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{360,628},{156,199}}</string>
        <key>offset</key>
        <string>{-24,139}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,199}}</string>
        <key>sourceSize</key>
        <string>{156,199}</string>
      </dict>
      <key>monster_1521_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{519,406},{156,193}}</string>
        <key>offset</key>
        <string>{-24,133}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,193}}</string>
        <key>sourceSize</key>
        <string>{156,193}</string>
      </dict>
      <key>monster_1521_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{677,401},{161,191}}</string>
        <key>offset</key>
        <string>{-27,131}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,191}}</string>
        <key>sourceSize</key>
        <string>{161,191}</string>
      </dict>
      <key>monster_1521_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{537,206},{150,193}}</string>
        <key>offset</key>
        <string>{-26,133}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,193}}</string>
        <key>sourceSize</key>
        <string>{150,193}</string>
      </dict>
      <key>monster_1521_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{178,426},{157,208}}</string>
        <key>offset</key>
        <string>{-22,144}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,208}}</string>
        <key>sourceSize</key>
        <string>{157,208}</string>
      </dict>
      <key>monster_1521_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,849},{165,202}}</string>
        <key>offset</key>
        <string>{-19,138}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,202}}</string>
        <key>sourceSize</key>
        <string>{165,202}</string>
      </dict>
      <key>monster_1521_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,206},{169,198}}</string>
        <key>offset</key>
        <string>{-19,134}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,198}}</string>
        <key>sourceSize</key>
        <string>{169,198}</string>
      </dict>
      <key>monster_1521_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{518,628},{164,197}}</string>
        <key>offset</key>
        <string>{-19,132}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,197}}</string>
        <key>sourceSize</key>
        <string>{164,197}</string>
      </dict>
      <key>monster_1521_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,636},{168,202}}</string>
        <key>offset</key>
        <string>{-33,144}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,202}}</string>
        <key>sourceSize</key>
        <string>{168,202}</string>
      </dict>
      <key>monster_1521_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{408,829},{180,198}}</string>
        <key>offset</key>
        <string>{-36,139}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,198}}</string>
        <key>sourceSize</key>
        <string>{180,198}</string>
      </dict>
      <key>monster_1521_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{360,0},{204,195}}</string>
        <key>offset</key>
        <string>{-36,136}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{204,195}}</string>
        <key>sourceSize</key>
        <string>{204,195}</string>
      </dict>
      <key>monster_1521_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{608,827},{180,195}}</string>
        <key>offset</key>
        <string>{-36,138}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,195}}</string>
        <key>sourceSize</key>
        <string>{180,195}</string>
      </dict>
      <key>monster_1521_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{212,182}}</string>
        <key>offset</key>
        <string>{-82,145}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{212,182}}</string>
        <key>sourceSize</key>
        <string>{212,182}</string>
      </dict>
      <key>monster_1521_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,214},{210,179}}</string>
        <key>offset</key>
        <string>{-80,139}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{210,179}}</string>
        <key>sourceSize</key>
        <string>{210,179}</string>
      </dict>
      <key>monster_1521_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{184,0},{207,174}}</string>
        <key>offset</key>
        <string>{-77,134}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{207,174}}</string>
        <key>sourceSize</key>
        <string>{207,174}</string>
      </dict>
      <key>monster_1521_0_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,426},{210,176}}</string>
        <key>offset</key>
        <string>{-80,136}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{210,176}}</string>
        <key>sourceSize</key>
        <string>{210,176}</string>
      </dict>
      <key>monster_1521_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,638},{209,188}}</string>
        <key>offset</key>
        <string>{-63,148}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,188}}</string>
        <key>sourceSize</key>
        <string>{209,188}</string>
      </dict>
      <key>monster_1521_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{181,214},{208,183}}</string>
        <key>offset</key>
        <string>{-65,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,183}}</string>
        <key>sourceSize</key>
        <string>{208,183}</string>
      </dict>
      <key>monster_1521_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,840},{202,179}}</string>
        <key>offset</key>
        <string>{-60,136}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{202,179}}</string>
        <key>sourceSize</key>
        <string>{202,179}</string>
      </dict>
      <key>monster_1521_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{337,424},{202,180}}</string>
        <key>offset</key>
        <string>{-59,138}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{202,180}}</string>
        <key>sourceSize</key>
        <string>{202,180}</string>
      </dict>
      <key>monster_1521_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{689,193},{167,191}}</string>
        <key>offset</key>
        <string>{-34,147}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,191}}</string>
        <key>sourceSize</key>
        <string>{167,191}</string>
      </dict>
      <key>monster_1521_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{840,386},{175,185}}</string>
        <key>offset</key>
        <string>{-45,139}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{175,185}}</string>
        <key>sourceSize</key>
        <string>{175,185}</string>
      </dict>
      <key>monster_1521_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1053,0},{172,180}}</string>
        <key>offset</key>
        <string>{-48,133}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{172,180}}</string>
        <key>sourceSize</key>
        <string>{172,180}</string>
      </dict>
      <key>monster_1521_0_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{881,0},{170,184}}</string>
        <key>offset</key>
        <string>{-45,137}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,184}}</string>
        <key>sourceSize</key>
        <string>{170,184}</string>
      </dict>
      <key>monster_1521_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{724,0},{155,189}}</string>
        <key>offset</key>
        <string>{-24,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,189}}</string>
        <key>sourceSize</key>
        <string>{155,189}</string>
      </dict>
      <key>monster_1521_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{790,781},{169,184}}</string>
        <key>offset</key>
        <string>{-44,135}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,184}}</string>
        <key>sourceSize</key>
        <string>{169,184}</string>
      </dict>
      <key>monster_1521_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1027,186},{181,179}}</string>
        <key>offset</key>
        <string>{-65,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,179}}</string>
        <key>sourceSize</key>
        <string>{181,179}</string>
      </dict>
      <key>monster_1521_0_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1017,377},{165,182}}</string>
        <key>offset</key>
        <string>{-45,133}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,182}}</string>
        <key>sourceSize</key>
        <string>{165,182}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_1521_0_0.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>monster_1521_0_0.png</string>
    </dict>
  </dict>
</plist>