<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_2083_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,98},{96,103}}</string>
        <key>offset</key>
        <string>{-11,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,103}}</string>
        <key>sourceSize</key>
        <string>{96,103}</string>
      </dict>
      <key>monster_2083_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,641},{94,97}}</string>
        <key>offset</key>
        <string>{-10,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,97}}</string>
        <key>sourceSize</key>
        <string>{94,97}</string>
      </dict>
      <key>monster_2083_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,925},{92,93}}</string>
        <key>offset</key>
        <string>{-11,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,93}}</string>
        <key>sourceSize</key>
        <string>{92,93}</string>
      </dict>
      <key>monster_2083_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{207,454},{94,99}}</string>
        <key>offset</key>
        <string>{-12,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,99}}</string>
        <key>sourceSize</key>
        <string>{94,99}</string>
      </dict>
      <key>monster_2083_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{398,786},{94,95}}</string>
        <key>offset</key>
        <string>{-10,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,95}}</string>
        <key>sourceSize</key>
        <string>{94,95}</string>
      </dict>
      <key>monster_2083_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{416,299},{94,100}}</string>
        <key>offset</key>
        <string>{-10,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,100}}</string>
        <key>sourceSize</key>
        <string>{94,100}</string>
      </dict>
      <key>monster_2083_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{105,185},{88,102}}</string>
        <key>offset</key>
        <string>{-7,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,102}}</string>
        <key>sourceSize</key>
        <string>{88,102}</string>
      </dict>
      <key>monster_2083_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,186},{83,102}}</string>
        <key>offset</key>
        <string>{-3,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,102}}</string>
        <key>sourceSize</key>
        <string>{83,102}</string>
      </dict>
      <key>monster_2083_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{419,196},{79,101}}</string>
        <key>offset</key>
        <string>{-1,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,101}}</string>
        <key>sourceSize</key>
        <string>{79,101}</string>
      </dict>
      <key>monster_2083_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,0},{79,107}}</string>
        <key>offset</key>
        <string>{-1,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,107}}</string>
        <key>sourceSize</key>
        <string>{79,107}</string>
      </dict>
      <key>monster_2083_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{313,282},{81,101}}</string>
        <key>offset</key>
        <string>{-2,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,101}}</string>
        <key>sourceSize</key>
        <string>{81,101}</string>
      </dict>
      <key>monster_2083_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{311,365},{85,100}}</string>
        <key>offset</key>
        <string>{-5,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,100}}</string>
        <key>sourceSize</key>
        <string>{85,100}</string>
      </dict>
      <key>monster_2083_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,97},{87,103}}</string>
        <key>offset</key>
        <string>{-9,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,103}}</string>
        <key>sourceSize</key>
        <string>{87,103}</string>
      </dict>
      <key>monster_2083_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,271},{86,102}}</string>
        <key>offset</key>
        <string>{-9,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,102}}</string>
        <key>sourceSize</key>
        <string>{86,102}</string>
      </dict>
      <key>monster_2083_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{315,196},{84,102}}</string>
        <key>offset</key>
        <string>{-8,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,102}}</string>
        <key>sourceSize</key>
        <string>{84,102}</string>
      </dict>
      <key>monster_2083_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{105,97},{86,103}}</string>
        <key>offset</key>
        <string>{-8,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,103}}</string>
        <key>sourceSize</key>
        <string>{86,103}</string>
      </dict>
      <key>monster_2083_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{413,401},{84,100}}</string>
        <key>offset</key>
        <string>{-8,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,100}}</string>
        <key>sourceSize</key>
        <string>{84,100}</string>
      </dict>
      <key>monster_2083_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{209,274},{87,102}}</string>
        <key>offset</key>
        <string>{-9,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,102}}</string>
        <key>sourceSize</key>
        <string>{87,102}</string>
      </dict>
      <key>monster_2083_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{331,0},{96,107}}</string>
        <key>offset</key>
        <string>{-14,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,107}}</string>
        <key>sourceSize</key>
        <string>{96,107}</string>
      </dict>
      <key>monster_2083_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,81},{96,106}}</string>
        <key>offset</key>
        <string>{-14,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,106}}</string>
        <key>sourceSize</key>
        <string>{96,106}</string>
      </dict>
      <key>monster_2083_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,179},{93,103}}</string>
        <key>offset</key>
        <string>{-12,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,103}}</string>
        <key>sourceSize</key>
        <string>{93,103}</string>
      </dict>
      <key>monster_2083_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,275},{95,102}}</string>
        <key>offset</key>
        <string>{-12,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,102}}</string>
        <key>sourceSize</key>
        <string>{95,102}</string>
      </dict>
      <key>monster_2083_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{95,109}}</string>
        <key>offset</key>
        <string>{-14,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,109}}</string>
        <key>sourceSize</key>
        <string>{95,109}</string>
      </dict>
      <key>monster_2083_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{111,0},{95,109}}</string>
        <key>offset</key>
        <string>{-14,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,109}}</string>
        <key>sourceSize</key>
        <string>{95,109}</string>
      </dict>
      <key>monster_2083_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{103,464},{90,99}}</string>
        <key>offset</key>
        <string>{-7,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,99}}</string>
        <key>sourceSize</key>
        <string>{90,99}</string>
      </dict>
      <key>monster_2083_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{304,635},{90,97}}</string>
        <key>offset</key>
        <string>{-7,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,97}}</string>
        <key>sourceSize</key>
        <string>{90,97}</string>
      </dict>
      <key>monster_2083_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{311,452},{89,100}}</string>
        <key>offset</key>
        <string>{-5,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,100}}</string>
        <key>sourceSize</key>
        <string>{89,100}</string>
      </dict>
      <key>monster_2083_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{403,695},{89,96}}</string>
        <key>offset</key>
        <string>{-5,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,96}}</string>
        <key>sourceSize</key>
        <string>{89,96}</string>
      </dict>
      <key>monster_2083_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,363},{89,101}}</string>
        <key>offset</key>
        <string>{-7,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,101}}</string>
        <key>sourceSize</key>
        <string>{89,101}</string>
      </dict>
      <key>monster_2083_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,372},{90,101}}</string>
        <key>offset</key>
        <string>{-7,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,101}}</string>
        <key>sourceSize</key>
        <string>{90,101}</string>
      </dict>
      <key>monster_2083_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{308,543},{90,98}}</string>
        <key>offset</key>
        <string>{-5,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,98}}</string>
        <key>sourceSize</key>
        <string>{90,98}</string>
      </dict>
      <key>monster_2083_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{408,604},{89,98}}</string>
        <key>offset</key>
        <string>{-4,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,98}}</string>
        <key>sourceSize</key>
        <string>{89,98}</string>
      </dict>
      <key>monster_2083_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,359},{89,102}}</string>
        <key>offset</key>
        <string>{-3,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,102}}</string>
        <key>sourceSize</key>
        <string>{89,102}</string>
      </dict>
      <key>monster_2083_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,549},{90,99}}</string>
        <key>offset</key>
        <string>{-3,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,99}}</string>
        <key>sourceSize</key>
        <string>{90,99}</string>
      </dict>
      <key>monster_2083_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{296,814},{90,95}}</string>
        <key>offset</key>
        <string>{-3,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,95}}</string>
        <key>sourceSize</key>
        <string>{90,95}</string>
      </dict>
      <key>monster_2083_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{201,640},{90,97}}</string>
        <key>offset</key>
        <string>{-5,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,97}}</string>
        <key>sourceSize</key>
        <string>{90,97}</string>
      </dict>
      <key>monster_2083_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{413,503},{87,99}}</string>
        <key>offset</key>
        <string>{1,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,99}}</string>
        <key>sourceSize</key>
        <string>{87,99}</string>
      </dict>
      <key>monster_2083_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,550},{88,98}}</string>
        <key>offset</key>
        <string>{0,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,98}}</string>
        <key>sourceSize</key>
        <string>{88,98}</string>
      </dict>
      <key>monster_2083_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,727},{85,96}}</string>
        <key>offset</key>
        <string>{1,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,96}}</string>
        <key>sourceSize</key>
        <string>{85,96}</string>
      </dict>
      <key>monster_2083_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,732},{85,96}}</string>
        <key>offset</key>
        <string>{1,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,96}}</string>
        <key>sourceSize</key>
        <string>{85,96}</string>
      </dict>
      <key>monster_2083_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{99,644},{85,97}}</string>
        <key>offset</key>
        <string>{1,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,97}}</string>
        <key>sourceSize</key>
        <string>{85,97}</string>
      </dict>
      <key>monster_2083_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{101,556},{86,98}}</string>
        <key>offset</key>
        <string>{1,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,98}}</string>
        <key>sourceSize</key>
        <string>{86,98}</string>
      </dict>
      <key>monster_2083_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,450},{97,101}}</string>
        <key>offset</key>
        <string>{-5,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,101}}</string>
        <key>sourceSize</key>
        <string>{97,101}</string>
      </dict>
      <key>monster_2083_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{99,731},{97,96}}</string>
        <key>offset</key>
        <string>{-6,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,96}}</string>
        <key>sourceSize</key>
        <string>{97,96}</string>
      </dict>
      <key>monster_2083_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,925},{94,84}}</string>
        <key>offset</key>
        <string>{-6,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,84}}</string>
        <key>sourceSize</key>
        <string>{94,84}</string>
      </dict>
      <key>monster_2083_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,819},{95,89}}</string>
        <key>offset</key>
        <string>{-7,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,89}}</string>
        <key>sourceSize</key>
        <string>{95,89}</string>
      </dict>
      <key>monster_2083_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{99,829},{94,95}}</string>
        <key>offset</key>
        <string>{-5,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,95}}</string>
        <key>sourceSize</key>
        <string>{94,95}</string>
      </dict>
      <key>monster_2083_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,737},{95,97}}</string>
        <key>offset</key>
        <string>{-5,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,97}}</string>
        <key>sourceSize</key>
        <string>{95,97}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_2083_0_1.png</string>
      <key>size</key>
      <string>{512,1024}</string>
      <key>textureFileName</key>
      <string>monster_2083_0_1.png</string>
    </dict>
  </dict>
</plist>