<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16392_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{439,0},{93,187}}</string>
        <key>offset</key>
        <string>{-29,117}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,187}}</string>
        <key>sourceSize</key>
        <string>{93,187}</string>
      </dict>
      <key>monster_16392_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{439,269},{125,174}}</string>
        <key>offset</key>
        <string>{-52,104}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,174}}</string>
        <key>sourceSize</key>
        <string>{125,174}</string>
      </dict>
      <key>monster_16392_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{439,95},{172,177}}</string>
        <key>offset</key>
        <string>{-93,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{172,177}}</string>
        <key>sourceSize</key>
        <string>{172,177}</string>
      </dict>
      <key>monster_16392_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,487},{171,174}}</string>
        <key>offset</key>
        <string>{-96,105}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,174}}</string>
        <key>sourceSize</key>
        <string>{171,174}</string>
      </dict>
      <key>monster_16392_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{260,175}}</string>
        <key>offset</key>
        <string>{-95,106}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{260,175}}</string>
        <key>sourceSize</key>
        <string>{260,175}</string>
      </dict>
      <key>monster_16392_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{177,0},{252,176}}</string>
        <key>offset</key>
        <string>{-84,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{252,176}}</string>
        <key>sourceSize</key>
        <string>{252,176}</string>
      </dict>
      <key>monster_16392_0_2_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,262},{253,171}}</string>
        <key>offset</key>
        <string>{-85,102}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{253,171}}</string>
        <key>sourceSize</key>
        <string>{253,171}</string>
      </dict>
      <key>monster_16392_0_2_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{255,254},{231,182}}</string>
        <key>offset</key>
        <string>{-63,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{231,182}}</string>
        <key>sourceSize</key>
        <string>{231,182}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16392_0_2_2.png</string>
      <key>size</key>
      <string>{640,686}</string>
      <key>textureFileName</key>
      <string>monster_16392_0_2_2.png</string>
    </dict>
  </dict>
</plist>