<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16180_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{741,1896},{196,127}}</string>
        <key>offset</key>
        <string>{-46,71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,127}}</string>
        <key>sourceSize</key>
        <string>{196,127}</string>
      </dict>
      <key>monster_16180_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{915,1672},{190,125}}</string>
        <key>offset</key>
        <string>{-51,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{190,125}}</string>
        <key>sourceSize</key>
        <string>{190,125}</string>
      </dict>
      <key>monster_16180_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1157,1604},{180,116}}</string>
        <key>offset</key>
        <string>{-56,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,116}}</string>
        <key>sourceSize</key>
        <string>{180,116}</string>
      </dict>
      <key>monster_16180_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1042,1604},{185,113}}</string>
        <key>offset</key>
        <string>{-70,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{185,113}}</string>
        <key>sourceSize</key>
        <string>{185,113}</string>
      </dict>
      <key>monster_16180_0_4_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{893,1476},{194,130}}</string>
        <key>offset</key>
        <string>{-78,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{194,130}}</string>
        <key>sourceSize</key>
        <string>{194,130}</string>
      </dict>
      <key>monster_16180_0_4_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{966,448},{202,148}}</string>
        <key>offset</key>
        <string>{-80,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{202,148}}</string>
        <key>sourceSize</key>
        <string>{202,148}</string>
      </dict>
      <key>monster_16180_0_4_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{694,0},{227,153}}</string>
        <key>offset</key>
        <string>{-88,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{227,153}}</string>
        <key>sourceSize</key>
        <string>{227,153}</string>
      </dict>
      <key>monster_16180_0_4_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{643,539},{235,166}}</string>
        <key>offset</key>
        <string>{-87,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{235,166}}</string>
        <key>sourceSize</key>
        <string>{235,166}</string>
      </dict>
      <key>monster_16180_0_4_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{693,776},{226,176}}</string>
        <key>offset</key>
        <string>{-75,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{226,176}}</string>
        <key>sourceSize</key>
        <string>{226,176}</string>
      </dict>
      <key>monster_16180_0_4_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{788,1004},{214,186}}</string>
        <key>offset</key>
        <string>{-81,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{214,186}}</string>
        <key>sourceSize</key>
        <string>{214,186}</string>
      </dict>
      <key>monster_16180_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1123,830},{171,148}}</string>
        <key>offset</key>
        <string>{-44,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,148}}</string>
        <key>sourceSize</key>
        <string>{171,148}</string>
      </dict>
      <key>monster_16180_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1021,652},{176,151}}</string>
        <key>offset</key>
        <string>{-54,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,151}}</string>
        <key>sourceSize</key>
        <string>{176,151}</string>
      </dict>
      <key>monster_16180_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1273,766},{160,140}}</string>
        <key>offset</key>
        <string>{-55,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,140}}</string>
        <key>sourceSize</key>
        <string>{160,140}</string>
      </dict>
      <key>monster_16180_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1266,381},{162,123}}</string>
        <key>offset</key>
        <string>{-62,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,123}}</string>
        <key>sourceSize</key>
        <string>{162,123}</string>
      </dict>
      <key>monster_16180_0_4_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1177,0},{201,139}}</string>
        <key>offset</key>
        <string>{-81,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{201,139}}</string>
        <key>sourceSize</key>
        <string>{201,139}</string>
      </dict>
      <key>monster_16180_0_4_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{344,1476},{252,166}}</string>
        <key>offset</key>
        <string>{-100,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{252,166}}</string>
        <key>sourceSize</key>
        <string>{252,166}</string>
      </dict>
      <key>monster_16180_0_4_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{151,292},{289,190}}</string>
        <key>offset</key>
        <string>{-118,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{289,190}}</string>
        <key>sourceSize</key>
        <string>{289,190}</string>
      </dict>
      <key>monster_16180_0_4_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{151,0},{290,186}}</string>
        <key>offset</key>
        <string>{-126,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{290,186}}</string>
        <key>sourceSize</key>
        <string>{290,186}</string>
      </dict>
      <key>monster_16180_0_4_1_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{272,1805},{264,204}}</string>
        <key>offset</key>
        <string>{-82,78}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{264,204}}</string>
        <key>sourceSize</key>
        <string>{264,204}</string>
      </dict>
      <key>monster_16180_0_4_1_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{695,1259},{212,215}}</string>
        <key>offset</key>
        <string>{-86,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{212,215}}</string>
        <key>sourceSize</key>
        <string>{212,215}</string>
      </dict>
      <key>monster_16180_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1391,381},{136,158}}</string>
        <key>offset</key>
        <string>{-25,88}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,158}}</string>
        <key>sourceSize</key>
        <string>{136,158}</string>
      </dict>
      <key>monster_16180_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1468,0},{134,157}}</string>
        <key>offset</key>
        <string>{-25,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,157}}</string>
        <key>sourceSize</key>
        <string>{134,157}</string>
      </dict>
      <key>monster_16180_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1318,928},{129,153}}</string>
        <key>offset</key>
        <string>{-33,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,153}}</string>
        <key>sourceSize</key>
        <string>{129,153}</string>
      </dict>
      <key>monster_16180_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1415,706},{147,146}}</string>
        <key>offset</key>
        <string>{-48,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,146}}</string>
        <key>sourceSize</key>
        <string>{147,146}</string>
      </dict>
      <key>monster_16180_0_4_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{939,1864},{190,144}}</string>
        <key>offset</key>
        <string>{-75,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{190,144}}</string>
        <key>sourceSize</key>
        <string>{190,144}</string>
      </dict>
      <key>monster_16180_0_4_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{957,225},{221,150}}</string>
        <key>offset</key>
        <string>{-94,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{221,150}}</string>
        <key>sourceSize</key>
        <string>{221,150}</string>
      </dict>
      <key>monster_16180_0_4_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{811,479},{225,153}}</string>
        <key>offset</key>
        <string>{-89,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{225,153}}</string>
        <key>sourceSize</key>
        <string>{225,153}</string>
      </dict>
      <key>monster_16180_0_4_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{513,289},{248,153}}</string>
        <key>offset</key>
        <string>{-101,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{248,153}}</string>
        <key>sourceSize</key>
        <string>{248,153}</string>
      </dict>
      <key>monster_16180_0_4_2_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,954},{264,153}}</string>
        <key>offset</key>
        <string>{-113,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{264,153}}</string>
        <key>sourceSize</key>
        <string>{264,153}</string>
      </dict>
      <key>monster_16180_0_4_2_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1265},{274,147}}</string>
        <key>offset</key>
        <string>{-124,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{274,147}}</string>
        <key>sourceSize</key>
        <string>{274,147}</string>
      </dict>
      <key>monster_16180_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1318,0},{175,148}}</string>
        <key>offset</key>
        <string>{-44,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{175,148}}</string>
        <key>sourceSize</key>
        <string>{175,148}</string>
      </dict>
      <key>monster_16180_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1174,1412},{169,146}}</string>
        <key>offset</key>
        <string>{-53,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,146}}</string>
        <key>sourceSize</key>
        <string>{169,146}</string>
      </dict>
      <key>monster_16180_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1275,1583},{165,135}}</string>
        <key>offset</key>
        <string>{-56,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,135}}</string>
        <key>sourceSize</key>
        <string>{165,135}</string>
      </dict>
      <key>monster_16180_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1037,1271},{170,139}}</string>
        <key>offset</key>
        <string>{-58,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,139}}</string>
        <key>sourceSize</key>
        <string>{170,139}</string>
      </dict>
      <key>monster_16180_0_4_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{871,706},{208,148}}</string>
        <key>offset</key>
        <string>{-72,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,148}}</string>
        <key>sourceSize</key>
        <string>{208,148}</string>
      </dict>
      <key>monster_16180_0_4_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{343,289},{250,168}}</string>
        <key>offset</key>
        <string>{-94,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{250,168}}</string>
        <key>sourceSize</key>
        <string>{250,168}</string>
      </dict>
      <key>monster_16180_0_4_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{357,836},{249,164}}</string>
        <key>offset</key>
        <string>{-107,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{249,164}}</string>
        <key>sourceSize</key>
        <string>{249,164}</string>
      </dict>
      <key>monster_16180_0_4_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1541},{274,191}}</string>
        <key>offset</key>
        <string>{-115,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{274,191}}</string>
        <key>sourceSize</key>
        <string>{274,191}</string>
      </dict>
      <key>monster_16180_0_4_3_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,654},{305,148}}</string>
        <key>offset</key>
        <string>{-127,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{305,148}}</string>
        <key>sourceSize</key>
        <string>{305,148}</string>
      </dict>
      <key>monster_16180_0_4_3_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{326,149}}</string>
        <key>offset</key>
        <string>{-135,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{326,149}}</string>
        <key>sourceSize</key>
        <string>{326,149}</string>
      </dict>
      <key>monster_16180_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{538,1694},{201,129}}</string>
        <key>offset</key>
        <string>{-42,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{201,129}}</string>
        <key>sourceSize</key>
        <string>{201,129}</string>
      </dict>
      <key>monster_16180_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{790,1678},{196,123}}</string>
        <key>offset</key>
        <string>{-53,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,123}}</string>
        <key>sourceSize</key>
        <string>{196,123}</string>
      </dict>
      <key>monster_16180_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{669,1694},{200,119}}</string>
        <key>offset</key>
        <string>{-61,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,119}}</string>
        <key>sourceSize</key>
        <string>{200,119}</string>
      </dict>
      <key>monster_16180_0_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{909,1220},{190,126}}</string>
        <key>offset</key>
        <string>{-62,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{190,126}}</string>
        <key>sourceSize</key>
        <string>{190,126}</string>
      </dict>
      <key>monster_16180_0_4_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1025,1412},{190,147}}</string>
        <key>offset</key>
        <string>{-62,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{190,147}}</string>
        <key>sourceSize</key>
        <string>{190,147}</string>
      </dict>
      <key>monster_16180_0_4_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1109,218},{202,152}}</string>
        <key>offset</key>
        <string>{-72,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{202,152}}</string>
        <key>sourceSize</key>
        <string>{202,152}</string>
      </dict>
      <key>monster_16180_0_4_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{632,1030},{227,154}}</string>
        <key>offset</key>
        <string>{-89,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{227,154}}</string>
        <key>sourceSize</key>
        <string>{227,154}</string>
      </dict>
      <key>monster_16180_0_4_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{464,1087},{238,166}}</string>
        <key>offset</key>
        <string>{-97,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{238,166}}</string>
        <key>sourceSize</key>
        <string>{238,166}</string>
      </dict>
      <key>monster_16180_0_4_4_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{523,792},{236,168}}</string>
        <key>offset</key>
        <string>{-99,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{236,168}}</string>
        <key>sourceSize</key>
        <string>{236,168}</string>
      </dict>
      <key>monster_16180_0_4_4_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{994,0},{216,181}}</string>
        <key>offset</key>
        <string>{-75,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{216,181}}</string>
        <key>sourceSize</key>
        <string>{216,181}</string>
      </dict>
      <key>monster_16180_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{976,916},{177,145}}</string>
        <key>offset</key>
        <string>{-31,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{177,145}}</string>
        <key>sourceSize</key>
        <string>{177,145}</string>
      </dict>
      <key>monster_16180_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1037,1095},{174,144}}</string>
        <key>offset</key>
        <string>{-36,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,144}}</string>
        <key>sourceSize</key>
        <string>{174,144}</string>
      </dict>
      <key>monster_16180_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1174,600},{164,131}}</string>
        <key>offset</key>
        <string>{-41,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,131}}</string>
        <key>sourceSize</key>
        <string>{164,131}</string>
      </dict>
      <key>monster_16180_0_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1254,1786},{179,142}}</string>
        <key>offset</key>
        <string>{-50,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{179,142}}</string>
        <key>sourceSize</key>
        <string>{179,142}</string>
      </dict>
      <key>monster_16180_0_4_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{728,1476},{200,163}}</string>
        <key>offset</key>
        <string>{-67,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,163}}</string>
        <key>sourceSize</key>
        <string>{200,163}</string>
      </dict>
      <key>monster_16180_0_4_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{467,541},{249,174}}</string>
        <key>offset</key>
        <string>{-99,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{249,174}}</string>
        <key>sourceSize</key>
        <string>{249,174}</string>
      </dict>
      <key>monster_16180_0_4_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{298,583},{251,167}}</string>
        <key>offset</key>
        <string>{-82,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{251,167}}</string>
        <key>sourceSize</key>
        <string>{251,167}</string>
      </dict>
      <key>monster_16180_0_4_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{339,0},{287,182}}</string>
        <key>offset</key>
        <string>{-111,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{287,182}}</string>
        <key>sourceSize</key>
        <string>{287,182}</string>
      </dict>
      <key>monster_16180_0_4_5_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,961},{302,200}}</string>
        <key>offset</key>
        <string>{-132,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{302,200}}</string>
        <key>sourceSize</key>
        <string>{302,200}</string>
      </dict>
      <key>monster_16180_0_4_5_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{512,1476},{214,216}}</string>
        <key>offset</key>
        <string>{-72,87}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{214,216}}</string>
        <key>sourceSize</key>
        <string>{214,216}</string>
      </dict>
      <key>monster_16180_0_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1307,545},{150,159}}</string>
        <key>offset</key>
        <string>{-10,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,159}}</string>
        <key>sourceSize</key>
        <string>{150,159}</string>
      </dict>
      <key>monster_16180_0_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1209,1166},{141,156}}</string>
        <key>offset</key>
        <string>{-13,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,156}}</string>
        <key>sourceSize</key>
        <string>{141,156}</string>
      </dict>
      <key>monster_16180_0_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1459,541},{138,141}}</string>
        <key>offset</key>
        <string>{-18,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,141}}</string>
        <key>sourceSize</key>
        <string>{138,141}</string>
      </dict>
      <key>monster_16180_0_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1416,177},{158,134}}</string>
        <key>offset</key>
        <string>{-39,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,134}}</string>
        <key>sourceSize</key>
        <string>{158,134}</string>
      </dict>
      <key>monster_16180_0_4_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{538,1897},{201,139}}</string>
        <key>offset</key>
        <string>{-65,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{201,139}}</string>
        <key>sourceSize</key>
        <string>{201,139}</string>
      </dict>
      <key>monster_16180_0_4_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{849,0},{223,143}}</string>
        <key>offset</key>
        <string>{-76,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{223,143}}</string>
        <key>sourceSize</key>
        <string>{223,143}</string>
      </dict>
      <key>monster_16180_0_4_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{464,1327},{229,147}}</string>
        <key>offset</key>
        <string>{-88,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{229,147}}</string>
        <key>sourceSize</key>
        <string>{229,147}</string>
      </dict>
      <key>monster_16180_0_4_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{668,247},{230,150}}</string>
        <key>offset</key>
        <string>{-75,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{230,150}}</string>
        <key>sourceSize</key>
        <string>{230,150}</string>
      </dict>
      <key>monster_16180_0_4_6_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{193,1538},{265,149}}</string>
        <key>offset</key>
        <string>{-97,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{265,149}}</string>
        <key>sourceSize</key>
        <string>{265,149}</string>
      </dict>
      <key>monster_16180_0_4_6_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{149,1265},{271,144}}</string>
        <key>offset</key>
        <string>{-92,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{271,144}}</string>
        <key>sourceSize</key>
        <string>{271,144}</string>
      </dict>
      <key>monster_16180_0_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1116,422},{176,148}}</string>
        <key>offset</key>
        <string>{-29,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,148}}</string>
        <key>sourceSize</key>
        <string>{176,148}</string>
      </dict>
      <key>monster_16180_0_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1263,203},{176,151}}</string>
        <key>offset</key>
        <string>{-36,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,151}}</string>
        <key>sourceSize</key>
        <string>{176,151}</string>
      </dict>
      <key>monster_16180_0_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1183,1003},{161,133}}</string>
        <key>offset</key>
        <string>{-40,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,133}}</string>
        <key>sourceSize</key>
        <string>{161,133}</string>
      </dict>
      <key>monster_16180_0_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1131,1791},{184,121}}</string>
        <key>offset</key>
        <string>{-55,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{184,121}}</string>
        <key>sourceSize</key>
        <string>{184,121}</string>
      </dict>
      <key>monster_16180_0_4_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{820,229},{224,135}}</string>
        <key>offset</key>
        <string>{-82,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{224,135}}</string>
        <key>sourceSize</key>
        <string>{224,135}</string>
      </dict>
      <key>monster_16180_0_4_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{295,1220},{254,167}}</string>
        <key>offset</key>
        <string>{-107,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{254,167}}</string>
        <key>sourceSize</key>
        <string>{254,167}</string>
      </dict>
      <key>monster_16180_0_4_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{523,0},{245,169}}</string>
        <key>offset</key>
        <string>{-86,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{245,169}}</string>
        <key>sourceSize</key>
        <string>{245,169}</string>
      </dict>
      <key>monster_16180_0_4_7_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1817},{270,192}}</string>
        <key>offset</key>
        <string>{-98,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{270,192}}</string>
        <key>sourceSize</key>
        <string>{270,192}</string>
      </dict>
      <key>monster_16180_0_4_7_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,654},{298,146}}</string>
        <key>offset</key>
        <string>{-115,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{298,146}}</string>
        <key>sourceSize</key>
        <string>{298,146}</string>
      </dict>
      <key>monster_16180_0_4_7_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,328},{324,149}}</string>
        <key>offset</key>
        <string>{-130,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{324,149}}</string>
        <key>sourceSize</key>
        <string>{324,149}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16180_0_4.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_16180_0_4.png</string>
    </dict>
  </dict>
</plist>