<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_12600_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1203,1482},{487,399}}</string>
        <key>offset</key>
        <string>{-160,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{487,399}}</string>
        <key>sourceSize</key>
        <string>{487,399}</string>
      </dict>
      <key>monster_12600_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{976,617},{608,402}}</string>
        <key>offset</key>
        <string>{-252,118}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{608,402}}</string>
        <key>sourceSize</key>
        <string>{608,402}</string>
      </dict>
      <key>monster_12600_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1380,599},{589,398}}</string>
        <key>offset</key>
        <string>{-243,118}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{589,398}}</string>
        <key>sourceSize</key>
        <string>{589,398}</string>
      </dict>
      <key>monster_12600_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{420,632},{617,554}}</string>
        <key>offset</key>
        <string>{-170,236}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{617,554}}</string>
        <key>sourceSize</key>
        <string>{617,554}</string>
      </dict>
      <key>monster_12600_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{630,574}}</string>
        <key>offset</key>
        <string>{-179,236}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{630,574}}</string>
        <key>sourceSize</key>
        <string>{630,574}</string>
      </dict>
      <key>monster_12600_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1484,0},{539,584}}</string>
        <key>offset</key>
        <string>{-247,230}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{539,584}}</string>
        <key>sourceSize</key>
        <string>{539,584}</string>
      </dict>
      <key>monster_12600_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1380,999},{481,587}}</string>
        <key>offset</key>
        <string>{-192,227}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{481,587}}</string>
        <key>sourceSize</key>
        <string>{481,587}</string>
      </dict>
      <key>monster_12600_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{989,0},{493,597}}</string>
        <key>offset</key>
        <string>{-199,234}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{493,597}}</string>
        <key>sourceSize</key>
        <string>{493,597}</string>
      </dict>
      <key>monster_12600_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,632},{623,418}}</string>
        <key>offset</key>
        <string>{-228,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{623,418}}</string>
        <key>sourceSize</key>
        <string>{623,418}</string>
      </dict>
      <key>monster_12600_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{810,1251},{609,391}}</string>
        <key>offset</key>
        <string>{-218,139}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{609,391}}</string>
        <key>sourceSize</key>
        <string>{609,391}</string>
      </dict>
      <key>monster_12600_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{576,0},{615,411}}</string>
        <key>offset</key>
        <string>{-233,146}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{615,411}}</string>
        <key>sourceSize</key>
        <string>{615,411}</string>
      </dict>
      <key>monster_12600_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1257},{622,413}}</string>
        <key>offset</key>
        <string>{-237,137}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{622,413}}</string>
        <key>sourceSize</key>
        <string>{622,413}</string>
      </dict>
      <key>monster_12600_0_2_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{415,1257},{619,393}}</string>
        <key>offset</key>
        <string>{-231,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{619,393}}</string>
        <key>sourceSize</key>
        <string>{619,393}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_12600_0_2_4.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_12600_0_2_4.png</string>
    </dict>
  </dict>
</plist>