<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_10118_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{586,713},{382,269}}</string>
        <key>offset</key>
        <string>{-122,171}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{382,269}}</string>
        <key>sourceSize</key>
        <string>{382,269}</string>
      </dict>
      <key>monster_10118_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1019,0},{260,289}}</string>
        <key>offset</key>
        <string>{-103,180}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{260,289}}</string>
        <key>sourceSize</key>
        <string>{260,289}</string>
      </dict>
      <key>monster_10118_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{970,713},{253,308}}</string>
        <key>offset</key>
        <string>{-114,195}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{253,308}}</string>
        <key>sourceSize</key>
        <string>{253,308}</string>
      </dict>
      <key>monster_10118_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1277,291},{254,283}}</string>
        <key>offset</key>
        <string>{-112,169}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{254,283}}</string>
        <key>sourceSize</key>
        <string>{254,283}</string>
      </dict>
      <key>monster_10118_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1519,576},{266,273}}</string>
        <key>offset</key>
        <string>{-112,163}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{266,273}}</string>
        <key>sourceSize</key>
        <string>{266,273}</string>
      </dict>
      <key>monster_10118_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1281,0},{260,283}}</string>
        <key>offset</key>
        <string>{-107,174}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{260,283}}</string>
        <key>sourceSize</key>
        <string>{260,283}</string>
      </dict>
      <key>monster_10118_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{294,412},{290,402}}</string>
        <key>offset</key>
        <string>{-111,290}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{290,402}}</string>
        <key>sourceSize</key>
        <string>{290,402}</string>
      </dict>
      <key>monster_10118_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1533,285},{261,269}}</string>
        <key>offset</key>
        <string>{-107,162}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{261,269}}</string>
        <key>sourceSize</key>
        <string>{261,269}</string>
      </dict>
      <key>monster_10118_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{620,362},{349,390}}</string>
        <key>offset</key>
        <string>{-152,290}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{349,390}}</string>
        <key>sourceSize</key>
        <string>{349,390}</string>
      </dict>
      <key>monster_10118_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{410,348}}</string>
        <key>offset</key>
        <string>{-204,253}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{410,348}}</string>
        <key>sourceSize</key>
        <string>{410,348}</string>
      </dict>
      <key>monster_10118_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,412},{409,292}}</string>
        <key>offset</key>
        <string>{-198,195}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{409,292}}</string>
        <key>sourceSize</key>
        <string>{409,292}</string>
      </dict>
      <key>monster_10118_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{620,0},{360,397}}</string>
        <key>offset</key>
        <string>{-152,290}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{360,397}}</string>
        <key>sourceSize</key>
        <string>{360,397}</string>
      </dict>
      <key>monster_10118_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1012,362},{263,303}}</string>
        <key>offset</key>
        <string>{-96,200}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{263,303}}</string>
        <key>sourceSize</key>
        <string>{263,303}</string>
      </dict>
      <key>monster_10118_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,0},{268,400}}</string>
        <key>offset</key>
        <string>{-89,285}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{268,400}}</string>
        <key>sourceSize</key>
        <string>{268,400}</string>
      </dict>
      <key>monster_10118_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1225,667},{292,299}}</string>
        <key>offset</key>
        <string>{-116,190}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{292,299}}</string>
        <key>sourceSize</key>
        <string>{292,299}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_10118_0_2_1.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>monster_10118_0_2_1.png</string>
    </dict>
  </dict>
</plist>