<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_10103_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,207},{203,127}}</string>
        <key>offset</key>
        <string>{-77,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{203,127}}</string>
        <key>sourceSize</key>
        <string>{203,127}</string>
      </dict>
      <key>monster_10103_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{205,120}}</string>
        <key>offset</key>
        <string>{-77,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,120}}</string>
        <key>sourceSize</key>
        <string>{205,120}</string>
      </dict>
      <key>monster_10103_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,0},{203,116}}</string>
        <key>offset</key>
        <string>{-77,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{203,116}}</string>
        <key>sourceSize</key>
        <string>{203,116}</string>
      </dict>
      <key>monster_10103_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,0},{203,123}}</string>
        <key>offset</key>
        <string>{-77,88}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{203,123}}</string>
        <key>sourceSize</key>
        <string>{203,123}</string>
      </dict>
      <key>monster_10103_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{245,345},{173,107}}</string>
        <key>offset</key>
        <string>{-61,73}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,107}}</string>
        <key>sourceSize</key>
        <string>{173,107}</string>
      </dict>
      <key>monster_10103_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{417,125},{173,104}}</string>
        <key>offset</key>
        <string>{-60,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,104}}</string>
        <key>sourceSize</key>
        <string>{173,104}</string>
      </dict>
      <key>monster_10103_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{445,0},{170,103}}</string>
        <key>offset</key>
        <string>{-57,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,103}}</string>
        <key>sourceSize</key>
        <string>{170,103}</string>
      </dict>
      <key>monster_10103_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{129,236},{174,114}}</string>
        <key>offset</key>
        <string>{-57,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,114}}</string>
        <key>sourceSize</key>
        <string>{174,114}</string>
      </dict>
      <key>monster_10103_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,125},{175,109}}</string>
        <key>offset</key>
        <string>{-58,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{175,109}}</string>
        <key>sourceSize</key>
        <string>{175,109}</string>
      </dict>
      <key>monster_10103_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{245,236},{174,107}}</string>
        <key>offset</key>
        <string>{-56,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,107}}</string>
        <key>sourceSize</key>
        <string>{174,107}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_10103_0_0_1.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>monster_10103_0_0_1.png</string>
    </dict>
  </dict>
</plist>