<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16148_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{499,1302},{232,245}}</string>
        <key>offset</key>
        <string>{-126,167}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{232,245}}</string>
        <key>sourceSize</key>
        <string>{232,245}</string>
      </dict>
      <key>monster_16148_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{506,1052},{247,249}}</string>
        <key>offset</key>
        <string>{-127,172}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{247,249}}</string>
        <key>sourceSize</key>
        <string>{247,249}</string>
      </dict>
      <key>monster_16148_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,843},{251,247}}</string>
        <key>offset</key>
        <string>{-128,171}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{251,247}}</string>
        <key>sourceSize</key>
        <string>{251,247}</string>
      </dict>
      <key>monster_16148_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1031,737},{223,250}}</string>
        <key>offset</key>
        <string>{-124,172}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{223,250}}</string>
        <key>sourceSize</key>
        <string>{223,250}</string>
      </dict>
      <key>monster_16148_0_0_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{813,218},{226,259}}</string>
        <key>offset</key>
        <string>{-124,180}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{226,259}}</string>
        <key>sourceSize</key>
        <string>{226,259}</string>
      </dict>
      <key>monster_16148_0_0_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{541,417},{221,258}}</string>
        <key>offset</key>
        <string>{-120,178}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{221,258}}</string>
        <key>sourceSize</key>
        <string>{221,258}</string>
      </dict>
      <key>monster_16148_0_0_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{778,654},{232,251}}</string>
        <key>offset</key>
        <string>{-126,170}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{232,251}}</string>
        <key>sourceSize</key>
        <string>{232,251}</string>
      </dict>
      <key>monster_16148_0_0_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{764,888},{223,250}}</string>
        <key>offset</key>
        <string>{-125,170}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{223,250}}</string>
        <key>sourceSize</key>
        <string>{223,250}</string>
      </dict>
      <key>monster_16148_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{757,1113},{210,243}}</string>
        <key>offset</key>
        <string>{-135,173}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{210,243}}</string>
        <key>sourceSize</key>
        <string>{210,243}</string>
      </dict>
      <key>monster_16148_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{253,1081},{219,249}}</string>
        <key>offset</key>
        <string>{-132,179}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{219,249}}</string>
        <key>sourceSize</key>
        <string>{219,249}</string>
      </dict>
      <key>monster_16148_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{251,1306},{217,246}}</string>
        <key>offset</key>
        <string>{-126,177}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{217,246}}</string>
        <key>sourceSize</key>
        <string>{217,246}</string>
      </dict>
      <key>monster_16148_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1092},{212,249}}</string>
        <key>offset</key>
        <string>{-130,180}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{212,249}}</string>
        <key>sourceSize</key>
        <string>{212,249}</string>
      </dict>
      <key>monster_16148_0_0_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,632},{209,255}}</string>
        <key>offset</key>
        <string>{-127,184}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,255}}</string>
        <key>sourceSize</key>
        <string>{209,255}</string>
      </dict>
      <key>monster_16148_0_0_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1074,218},{204,258}}</string>
        <key>offset</key>
        <string>{-130,187}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{204,258}}</string>
        <key>sourceSize</key>
        <string>{204,258}</string>
      </dict>
      <key>monster_16148_0_0_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{511,851},{199,251}}</string>
        <key>offset</key>
        <string>{-128,179}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{199,251}}</string>
        <key>sourceSize</key>
        <string>{199,251}</string>
      </dict>
      <key>monster_16148_0_0_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1016,989},{200,245}}</string>
        <key>offset</key>
        <string>{-128,174}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,245}}</string>
        <key>sourceSize</key>
        <string>{200,245}</string>
      </dict>
      <key>monster_16148_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1002,1191},{222,243}}</string>
        <key>offset</key>
        <string>{-148,185}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{222,243}}</string>
        <key>sourceSize</key>
        <string>{222,243}</string>
      </dict>
      <key>monster_16148_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{257,644},{214,252}}</string>
        <key>offset</key>
        <string>{-138,193}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{214,252}}</string>
        <key>sourceSize</key>
        <string>{214,252}</string>
      </dict>
      <key>monster_16148_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{276,210},{224,263}}</string>
        <key>offset</key>
        <string>{-145,206}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{224,263}}</string>
        <key>sourceSize</key>
        <string>{224,263}</string>
      </dict>
      <key>monster_16148_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{253,860},{219,251}}</string>
        <key>offset</key>
        <string>{-142,193}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{219,251}}</string>
        <key>sourceSize</key>
        <string>{219,251}</string>
      </dict>
      <key>monster_16148_0_0_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1061,478},{215,257}}</string>
        <key>offset</key>
        <string>{-141,199}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{215,257}}</string>
        <key>sourceSize</key>
        <string>{215,257}</string>
      </dict>
      <key>monster_16148_0_0_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{801,446},{206,258}}</string>
        <key>offset</key>
        <string>{-139,197}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,258}}</string>
        <key>sourceSize</key>
        <string>{206,258}</string>
      </dict>
      <key>monster_16148_0_0_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{522,640},{209,254}}</string>
        <key>offset</key>
        <string>{-141,192}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,254}}</string>
        <key>sourceSize</key>
        <string>{209,254}</string>
      </dict>
      <key>monster_16148_0_0_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1306},{215,249}}</string>
        <key>offset</key>
        <string>{-144,189}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{215,249}}</string>
        <key>sourceSize</key>
        <string>{215,249}</string>
      </dict>
      <key>monster_16148_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,436},{206,256}}</string>
        <key>offset</key>
        <string>{-130,199}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,256}}</string>
        <key>sourceSize</key>
        <string>{206,256}</string>
      </dict>
      <key>monster_16148_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{814,0},{216,266}}</string>
        <key>offset</key>
        <string>{-129,209}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{216,266}}</string>
        <key>sourceSize</key>
        <string>{216,266}</string>
      </dict>
      <key>monster_16148_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{223,274}}</string>
        <key>offset</key>
        <string>{-132,218}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{223,274}}</string>
        <key>sourceSize</key>
        <string>{223,274}</string>
      </dict>
      <key>monster_16148_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{276,0},{208,267}}</string>
        <key>offset</key>
        <string>{-127,211}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,267}}</string>
        <key>sourceSize</key>
        <string>{208,267}</string>
      </dict>
      <key>monster_16148_0_0_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{545,205},{210,266}}</string>
        <key>offset</key>
        <string>{-129,211}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{210,266}}</string>
        <key>sourceSize</key>
        <string>{210,266}</string>
      </dict>
      <key>monster_16148_0_0_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{545,0},{203,267}}</string>
        <key>offset</key>
        <string>{-131,210}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{203,267}}</string>
        <key>sourceSize</key>
        <string>{203,267}</string>
      </dict>
      <key>monster_16148_0_0_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,225},{201,262}}</string>
        <key>offset</key>
        <string>{-130,206}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{201,262}}</string>
        <key>sourceSize</key>
        <string>{201,262}</string>
      </dict>
      <key>monster_16148_0_0_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,428},{202,262}}</string>
        <key>offset</key>
        <string>{-130,206}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{202,262}}</string>
        <key>sourceSize</key>
        <string>{202,262}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16148_0_0_0.png</string>
      <key>size</key>
      <string>{1280,1536}</string>
      <key>textureFileName</key>
      <string>monster_16148_0_0_0.png</string>
    </dict>
  </dict>
</plist>