<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_2471_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{482,376}}</string>
        <key>offset</key>
        <string>{-194,306}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{482,376}}</string>
        <key>sourceSize</key>
        <string>{482,376}</string>
      </dict>
      <key>monster_2471_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,484},{475,373}}</string>
        <key>offset</key>
        <string>{-200,308}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{475,373}}</string>
        <key>sourceSize</key>
        <string>{475,373}</string>
      </dict>
      <key>monster_2471_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1502,1752},{360,364}}</string>
        <key>offset</key>
        <string>{-198,302}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{360,364}}</string>
        <key>sourceSize</key>
        <string>{360,364}</string>
      </dict>
      <key>monster_2471_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{375,484},{457,357}}</string>
        <key>offset</key>
        <string>{-217,301}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{457,357}}</string>
        <key>sourceSize</key>
        <string>{457,357}</string>
      </dict>
      <key>monster_2471_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{3675,0},{391,386}}</string>
        <key>offset</key>
        <string>{-206,292}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{391,386}}</string>
        <key>sourceSize</key>
        <string>{391,386}</string>
      </dict>
      <key>monster_2471_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{742,908},{447,352}}</string>
        <key>offset</key>
        <string>{-258,294}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{447,352}}</string>
        <key>sourceSize</key>
        <string>{447,352}</string>
      </dict>
      <key>monster_2471_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1502,1320},{430,393}}</string>
        <key>offset</key>
        <string>{-166,309}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{430,393}}</string>
        <key>sourceSize</key>
        <string>{430,393}</string>
      </dict>
      <key>monster_2471_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{2300,431},{426,401}}</string>
        <key>offset</key>
        <string>{-169,317}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{426,401}}</string>
        <key>sourceSize</key>
        <string>{426,401}</string>
      </dict>
      <key>monster_2471_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1126,1354},{440,374}}</string>
        <key>offset</key>
        <string>{-189,291}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{440,374}}</string>
        <key>sourceSize</key>
        <string>{440,374}</string>
      </dict>
      <key>monster_2471_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1139,442},{437,381}}</string>
        <key>offset</key>
        <string>{-166,304}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{437,381}}</string>
        <key>sourceSize</key>
        <string>{437,381}</string>
      </dict>
      <key>monster_2471_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,961},{473,369}}</string>
        <key>offset</key>
        <string>{-242,297}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{473,369}}</string>
        <key>sourceSize</key>
        <string>{473,369}</string>
      </dict>
      <key>monster_2471_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{3323,1238},{380,383}}</string>
        <key>offset</key>
        <string>{-167,305}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{380,383}}</string>
        <key>sourceSize</key>
        <string>{380,383}</string>
      </dict>
      <key>monster_2471_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{3093,405},{367,393}}</string>
        <key>offset</key>
        <string>{-139,314}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{367,393}}</string>
        <key>sourceSize</key>
        <string>{367,393}</string>
      </dict>
      <key>monster_2471_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{778,1357},{346,444}}</string>
        <key>offset</key>
        <string>{-158,365}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{346,444}}</string>
        <key>sourceSize</key>
        <string>{346,444}</string>
      </dict>
      <key>monster_2471_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1905,434},{429,393}}</string>
        <key>offset</key>
        <string>{-179,313}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{429,393}}</string>
        <key>sourceSize</key>
        <string>{429,393}</string>
      </dict>
      <key>monster_2471_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{3675,388},{348,387}}</string>
        <key>offset</key>
        <string>{-110,309}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{348,387}}</string>
        <key>sourceSize</key>
        <string>{348,387}</string>
      </dict>
      <key>monster_2471_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{2673,1675},{397,370}}</string>
        <key>offset</key>
        <string>{-149,293}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{397,370}}</string>
        <key>sourceSize</key>
        <string>{397,370}</string>
      </dict>
      <key>monster_2471_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{2589,859},{409,388}}</string>
        <key>offset</key>
        <string>{-114,309}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{409,388}}</string>
        <key>sourceSize</key>
        <string>{409,388}</string>
      </dict>
      <key>monster_2471_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{2177,0},{429,371}}</string>
        <key>offset</key>
        <string>{-233,311}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{429,371}}</string>
        <key>sourceSize</key>
        <string>{429,371}</string>
      </dict>
      <key>monster_2471_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1515,0},{353,437}}</string>
        <key>offset</key>
        <string>{-118,378}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{353,437}}</string>
        <key>sourceSize</key>
        <string>{353,437}</string>
      </dict>
      <key>monster_2471_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{2972,0},{332,403}}</string>
        <key>offset</key>
        <string>{-119,341}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{332,403}}</string>
        <key>sourceSize</key>
        <string>{332,403}</string>
      </dict>
      <key>monster_2471_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{3705,1120},{380,366}}</string>
        <key>offset</key>
        <string>{-89,302}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{380,366}}</string>
        <key>sourceSize</key>
        <string>{380,366}</string>
      </dict>
      <key>monster_2471_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{2270,1724},{314,387}}</string>
        <key>offset</key>
        <string>{-97,317}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{314,387}}</string>
        <key>sourceSize</key>
        <string>{314,387}</string>
      </dict>
      <key>monster_2471_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{734,0},{403,452}}</string>
        <key>offset</key>
        <string>{-141,310}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{403,452}}</string>
        <key>sourceSize</key>
        <string>{403,452}</string>
      </dict>
      <key>monster_2471_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{371,961},{462,369}}</string>
        <key>offset</key>
        <string>{-222,297}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{462,369}}</string>
        <key>sourceSize</key>
        <string>{462,369}</string>
      </dict>
      <key>monster_2471_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{2550,0},{426,420}}</string>
        <key>offset</key>
        <string>{-232,347}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{426,420}}</string>
        <key>sourceSize</key>
        <string>{426,420}</string>
      </dict>
      <key>monster_2471_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1870,0},{305,432}}</string>
        <key>offset</key>
        <string>{-92,352}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{305,432}}</string>
        <key>sourceSize</key>
        <string>{305,432}</string>
      </dict>
      <key>monster_2471_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{378,0},{453,354}}</string>
        <key>offset</key>
        <string>{-192,278}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{453,354}}</string>
        <key>sourceSize</key>
        <string>{453,354}</string>
      </dict>
      <key>monster_2471_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1897,1741},{375,369}}</string>
        <key>offset</key>
        <string>{-125,293}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{375,369}}</string>
        <key>sourceSize</key>
        <string>{375,369}</string>
      </dict>
      <key>monster_2471_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{371,1436},{405,468}}</string>
        <key>offset</key>
        <string>{-109,294}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{405,468}}</string>
        <key>sourceSize</key>
        <string>{405,468}</string>
      </dict>
      <key>monster_2471_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1897,1310},{429,371}}</string>
        <key>offset</key>
        <string>{-136,311}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{429,371}}</string>
        <key>sourceSize</key>
        <string>{429,371}</string>
      </dict>
      <key>monster_2471_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1444,881},{353,437}}</string>
        <key>offset</key>
        <string>{-175,378}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{353,437}}</string>
        <key>sourceSize</key>
        <string>{353,437}</string>
      </dict>
      <key>monster_2471_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{2673,1270},{332,403}}</string>
        <key>offset</key>
        <string>{-153,341}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{332,403}}</string>
        <key>sourceSize</key>
        <string>{332,403}</string>
      </dict>
      <key>monster_2471_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{3705,1488},{380,366}}</string>
        <key>offset</key>
        <string>{-231,302}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{380,366}}</string>
        <key>sourceSize</key>
        <string>{380,366}</string>
      </dict>
      <key>monster_2471_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{3007,1238},{314,387}}</string>
        <key>offset</key>
        <string>{-157,317}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{314,387}}</string>
        <key>sourceSize</key>
        <string>{314,387}</string>
      </dict>
      <key>monster_2471_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{734,454},{403,452}}</string>
        <key>offset</key>
        <string>{-202,310}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{403,452}}</string>
        <key>sourceSize</key>
        <string>{403,452}</string>
      </dict>
      <key>monster_2471_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{3306,0},{367,393}}</string>
        <key>offset</key>
        <string>{-169,314}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{367,393}}</string>
        <key>sourceSize</key>
        <string>{367,393}</string>
      </dict>
      <key>monster_2471_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1096,908},{346,444}}</string>
        <key>offset</key>
        <string>{-129,365}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{346,444}}</string>
        <key>sourceSize</key>
        <string>{346,444}</string>
      </dict>
      <key>monster_2471_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{2194,865},{429,393}}</string>
        <key>offset</key>
        <string>{-191,313}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{429,393}}</string>
        <key>sourceSize</key>
        <string>{429,393}</string>
      </dict>
      <key>monster_2471_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{3072,1627},{348,387}}</string>
        <key>offset</key>
        <string>{-179,309}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{348,387}}</string>
        <key>sourceSize</key>
        <string>{348,387}</string>
      </dict>
      <key>monster_2471_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{2979,839},{397,370}}</string>
        <key>offset</key>
        <string>{-189,293}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{397,370}}</string>
        <key>sourceSize</key>
        <string>{397,370}</string>
      </dict>
      <key>monster_2471_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{2703,428},{409,388}}</string>
        <key>offset</key>
        <string>{-236,309}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{409,388}}</string>
        <key>sourceSize</key>
        <string>{409,388}</string>
      </dict>
      <key>monster_2471_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1799,878},{430,393}}</string>
        <key>offset</key>
        <string>{-202,309}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{430,393}}</string>
        <key>sourceSize</key>
        <string>{430,393}</string>
      </dict>
      <key>monster_2471_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{2270,1296},{426,401}}</string>
        <key>offset</key>
        <string>{-195,317}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{426,401}}</string>
        <key>sourceSize</key>
        <string>{426,401}</string>
      </dict>
      <key>monster_2471_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1139,0},{440,374}}</string>
        <key>offset</key>
        <string>{-189,291}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{440,374}}</string>
        <key>sourceSize</key>
        <string>{440,374}</string>
      </dict>
      <key>monster_2471_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1522,439},{437,381}}</string>
        <key>offset</key>
        <string>{-209,304}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{437,381}}</string>
        <key>sourceSize</key>
        <string>{437,381}</string>
      </dict>
      <key>monster_2471_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1436},{473,369}}</string>
        <key>offset</key>
        <string>{-169,297}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{473,369}}</string>
        <key>sourceSize</key>
        <string>{473,369}</string>
      </dict>
      <key>monster_2471_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{3705,738},{380,383}}</string>
        <key>offset</key>
        <string>{-151,305}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{380,383}}</string>
        <key>sourceSize</key>
        <string>{380,383}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_2471_0_2.png</string>
      <key>size</key>
      <string>{4096,4096}</string>
      <key>textureFileName</key>
      <string>monster_2471_0_2.png</string>
    </dict>
  </dict>
</plist>