<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16164_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,397},{390,324}}</string>
        <key>offset</key>
        <string>{-169,238}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{390,324}}</string>
        <key>sourceSize</key>
        <string>{390,324}</string>
      </dict>
      <key>monster_16164_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{960,356},{330,332}}</string>
        <key>offset</key>
        <string>{-173,247}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{330,332}}</string>
        <key>sourceSize</key>
        <string>{330,332}</string>
      </dict>
      <key>monster_16164_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{395,293}}</string>
        <key>offset</key>
        <string>{-156,207}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{395,293}}</string>
        <key>sourceSize</key>
        <string>{395,293}</string>
      </dict>
      <key>monster_16164_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{676,717},{343,263}}</string>
        <key>offset</key>
        <string>{-78,153}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{343,263}}</string>
        <key>sourceSize</key>
        <string>{343,263}</string>
      </dict>
      <key>monster_16164_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{326,725},{348,270}}</string>
        <key>offset</key>
        <string>{-79,154}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{348,270}}</string>
        <key>sourceSize</key>
        <string>{348,270}</string>
      </dict>
      <key>monster_16164_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{626,0},{357,272}}</string>
        <key>offset</key>
        <string>{-104,186}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{357,272}}</string>
        <key>sourceSize</key>
        <string>{357,272}</string>
      </dict>
      <key>monster_16164_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{636,359},{322,356}}</string>
        <key>offset</key>
        <string>{-162,255}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{322,356}}</string>
        <key>sourceSize</key>
        <string>{322,356}</string>
      </dict>
      <key>monster_16164_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,0},{255,354}}</string>
        <key>offset</key>
        <string>{-85,252}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{255,354}}</string>
        <key>sourceSize</key>
        <string>{255,354}</string>
      </dict>
      <key>monster_16164_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{295,0},{363,329}}</string>
        <key>offset</key>
        <string>{-221,227}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{363,329}}</string>
        <key>sourceSize</key>
        <string>{363,329}</string>
      </dict>
      <key>monster_16164_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1253,690},{326,242}}</string>
        <key>offset</key>
        <string>{-141,120}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{326,242}}</string>
        <key>sourceSize</key>
        <string>{326,242}</string>
      </dict>
      <key>monster_16164_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1021,690},{329,230}}</string>
        <key>offset</key>
        <string>{-133,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{329,230}}</string>
        <key>sourceSize</key>
        <string>{329,230}</string>
      </dict>
      <key>monster_16164_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{326,365},{358,308}}</string>
        <key>offset</key>
        <string>{-198,206}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{358,308}}</string>
        <key>sourceSize</key>
        <string>{358,308}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16164_0_2_2.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>monster_16164_0_2_2.png</string>
    </dict>
  </dict>
</plist>