<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20147_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1701,497},{299,245}}</string>
        <key>offset</key>
        <string>{-98,150}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{299,245}}</string>
        <key>sourceSize</key>
        <string>{299,245}</string>
      </dict>
      <key>monster_20147_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1247,1528},{296,244}}</string>
        <key>offset</key>
        <string>{-96,153}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{296,244}}</string>
        <key>sourceSize</key>
        <string>{296,244}</string>
      </dict>
      <key>monster_20147_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{725,1270},{304,247}}</string>
        <key>offset</key>
        <string>{-106,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{304,247}}</string>
        <key>sourceSize</key>
        <string>{304,247}</string>
      </dict>
      <key>monster_20147_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1247,308},{302,249}}</string>
        <key>offset</key>
        <string>{-107,151}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{302,249}}</string>
        <key>sourceSize</key>
        <string>{302,249}</string>
      </dict>
      <key>monster_20147_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1450,0},{302,249}}</string>
        <key>offset</key>
        <string>{-102,153}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{302,249}}</string>
        <key>sourceSize</key>
        <string>{302,249}</string>
      </dict>
      <key>monster_20147_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1751,978},{297,251}}</string>
        <key>offset</key>
        <string>{-93,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{297,251}}</string>
        <key>sourceSize</key>
        <string>{297,251}</string>
      </dict>
      <key>monster_20147_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1701,744},{299,232}}</string>
        <key>offset</key>
        <string>{-111,152}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{299,232}}</string>
        <key>sourceSize</key>
        <string>{299,232}</string>
      </dict>
      <key>monster_20147_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1492,1208},{297,232}}</string>
        <key>offset</key>
        <string>{-112,155}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{297,232}}</string>
        <key>sourceSize</key>
        <string>{297,232}</string>
      </dict>
      <key>monster_20147_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1701,0},{302,232}}</string>
        <key>offset</key>
        <string>{-119,157}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{302,232}}</string>
        <key>sourceSize</key>
        <string>{302,232}</string>
      </dict>
      <key>monster_20147_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1451,978},{298,228}}</string>
        <key>offset</key>
        <string>{-118,155}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{298,228}}</string>
        <key>sourceSize</key>
        <string>{298,228}</string>
      </dict>
      <key>monster_20147_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{963,944},{303,233}}</string>
        <key>offset</key>
        <string>{-119,157}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{303,233}}</string>
        <key>sourceSize</key>
        <string>{303,233}</string>
      </dict>
      <key>monster_20147_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{492,1656},{308,236}}</string>
        <key>offset</key>
        <string>{-116,156}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{308,236}}</string>
        <key>sourceSize</key>
        <string>{308,236}</string>
      </dict>
      <key>monster_20147_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,688},{332,235}}</string>
        <key>offset</key>
        <string>{-150,163}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{332,235}}</string>
        <key>sourceSize</key>
        <string>{332,235}</string>
      </dict>
      <key>monster_20147_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{237,688},{327,236}}</string>
        <key>offset</key>
        <string>{-142,167}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{327,236}}</string>
        <key>sourceSize</key>
        <string>{327,236}</string>
      </dict>
      <key>monster_20147_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1022},{329,240}}</string>
        <key>offset</key>
        <string>{-143,171}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{329,240}}</string>
        <key>sourceSize</key>
        <string>{329,240}</string>
      </dict>
      <key>monster_20147_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{343,239}}</string>
        <key>offset</key>
        <string>{-155,168}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{343,239}}</string>
        <key>sourceSize</key>
        <string>{343,239}</string>
      </dict>
      <key>monster_20147_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{241,0},{338,239}}</string>
        <key>offset</key>
        <string>{-150,170}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{338,239}}</string>
        <key>sourceSize</key>
        <string>{338,239}</string>
      </dict>
      <key>monster_20147_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,345},{341,240}}</string>
        <key>offset</key>
        <string>{-153,167}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{341,240}}</string>
        <key>sourceSize</key>
        <string>{341,240}</string>
      </dict>
      <key>monster_20147_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1726,1277},{297,250}}</string>
        <key>offset</key>
        <string>{-121,182}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{297,250}}</string>
        <key>sourceSize</key>
        <string>{297,250}</string>
      </dict>
      <key>monster_20147_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1247,1774},{295,255}}</string>
        <key>offset</key>
        <string>{-111,187}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{295,255}}</string>
        <key>sourceSize</key>
        <string>{295,255}</string>
      </dict>
      <key>monster_20147_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{730,1576},{301,256}}</string>
        <key>offset</key>
        <string>{-109,189}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{301,256}}</string>
        <key>sourceSize</key>
        <string>{301,256}</string>
      </dict>
      <key>monster_20147_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1198,925},{300,251}}</string>
        <key>offset</key>
        <string>{-111,186}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{300,251}}</string>
        <key>sourceSize</key>
        <string>{300,251}</string>
      </dict>
      <key>monster_20147_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1442,612},{300,257}}</string>
        <key>offset</key>
        <string>{-111,188}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{300,257}}</string>
        <key>sourceSize</key>
        <string>{300,257}</string>
      </dict>
      <key>monster_20147_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{974,1249},{301,256}}</string>
        <key>offset</key>
        <string>{-118,186}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{301,256}}</string>
        <key>sourceSize</key>
        <string>{301,256}</string>
      </dict>
      <key>monster_20147_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{988,1552},{299,257}}</string>
        <key>offset</key>
        <string>{-100,192}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{299,257}}</string>
        <key>sourceSize</key>
        <string>{299,257}</string>
      </dict>
      <key>monster_20147_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1180,620},{303,260}}</string>
        <key>offset</key>
        <string>{-97,195}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{303,260}}</string>
        <key>sourceSize</key>
        <string>{303,260}</string>
      </dict>
      <key>monster_20147_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1701,234},{302,261}}</string>
        <key>offset</key>
        <string>{-96,195}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{302,261}}</string>
        <key>sourceSize</key>
        <string>{302,261}</string>
      </dict>
      <key>monster_20147_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1232,1227},{299,258}}</string>
        <key>offset</key>
        <string>{-98,191}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{299,258}}</string>
        <key>sourceSize</key>
        <string>{299,258}</string>
      </dict>
      <key>monster_20147_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1544,1774},{295,261}}</string>
        <key>offset</key>
        <string>{-92,194}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{295,261}}</string>
        <key>sourceSize</key>
        <string>{295,261}</string>
      </dict>
      <key>monster_20147_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{985,312},{306,260}}</string>
        <key>offset</key>
        <string>{-103,195}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{306,260}}</string>
        <key>sourceSize</key>
        <string>{306,260}</string>
      </dict>
      <key>monster_20147_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{239,1676},{317,251}}</string>
        <key>offset</key>
        <string>{-95,183}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{317,251}}</string>
        <key>sourceSize</key>
        <string>{317,251}</string>
      </dict>
      <key>monster_20147_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{494,326},{318,252}}</string>
        <key>offset</key>
        <string>{-91,183}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{318,252}}</string>
        <key>sourceSize</key>
        <string>{318,252}</string>
      </dict>
      <key>monster_20147_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,340},{325,250}}</string>
        <key>offset</key>
        <string>{-95,182}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{325,250}}</string>
        <key>sourceSize</key>
        <string>{325,250}</string>
      </dict>
      <key>monster_20147_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,1017},{320,247}}</string>
        <key>offset</key>
        <string>{-95,178}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{320,247}}</string>
        <key>sourceSize</key>
        <string>{320,247}</string>
      </dict>
      <key>monster_20147_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{238,1353},{321,248}}</string>
        <key>offset</key>
        <string>{-95,181}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{321,248}}</string>
        <key>sourceSize</key>
        <string>{321,248}</string>
      </dict>
      <key>monster_20147_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{482,0},{324,253}}</string>
        <key>offset</key>
        <string>{-95,185}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{324,253}}</string>
        <key>sourceSize</key>
        <string>{324,253}</string>
      </dict>
      <key>monster_20147_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1353},{323,236}}</string>
        <key>offset</key>
        <string>{-89,165}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{323,236}}</string>
        <key>sourceSize</key>
        <string>{323,236}</string>
      </dict>
      <key>monster_20147_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{737,0},{318,236}}</string>
        <key>offset</key>
        <string>{-88,164}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{318,236}}</string>
        <key>sourceSize</key>
        <string>{318,236}</string>
      </dict>
      <key>monster_20147_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{488,1339},{315,235}}</string>
        <key>offset</key>
        <string>{-88,163}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{315,235}}</string>
        <key>sourceSize</key>
        <string>{315,235}</string>
      </dict>
      <key>monster_20147_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{491,988},{314,232}}</string>
        <key>offset</key>
        <string>{-91,160}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{314,232}}</string>
        <key>sourceSize</key>
        <string>{314,232}</string>
      </dict>
      <key>monster_20147_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{475,667},{319,238}}</string>
        <key>offset</key>
        <string>{-90,162}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{319,238}}</string>
        <key>sourceSize</key>
        <string>{319,238}</string>
      </dict>
      <key>monster_20147_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1678},{323,237}}</string>
        <key>offset</key>
        <string>{-92,166}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{323,237}}</string>
        <key>sourceSize</key>
        <string>{323,237}</string>
      </dict>
      <key>monster_20147_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{715,646},{312,228}}</string>
        <key>offset</key>
        <string>{-86,153}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{312,228}}</string>
        <key>sourceSize</key>
        <string>{312,228}</string>
      </dict>
      <key>monster_20147_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1208,0},{306,240}}</string>
        <key>offset</key>
        <string>{-90,155}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{306,240}}</string>
        <key>sourceSize</key>
        <string>{306,240}</string>
      </dict>
      <key>monster_20147_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{725,960},{308,236}}</string>
        <key>offset</key>
        <string>{-94,155}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{308,236}}</string>
        <key>sourceSize</key>
        <string>{308,236}</string>
      </dict>
      <key>monster_20147_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{975,0},{310,231}}</string>
        <key>offset</key>
        <string>{-97,152}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{310,231}}</string>
        <key>sourceSize</key>
        <string>{310,231}</string>
      </dict>
      <key>monster_20147_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{945,634},{308,233}}</string>
        <key>offset</key>
        <string>{-92,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{308,233}}</string>
        <key>sourceSize</key>
        <string>{308,233}</string>
      </dict>
      <key>monster_20147_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{748,320},{312,235}}</string>
        <key>offset</key>
        <string>{-90,156}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{312,235}}</string>
        <key>sourceSize</key>
        <string>{312,235}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20147_0_1.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_20147_0_1.png</string>
    </dict>
  </dict>
</plist>