<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_12124_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{682,1474},{297,380}}</string>
        <key>offset</key>
        <string>{-121,321}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{297,380}}</string>
        <key>sourceSize</key>
        <string>{297,380}</string>
      </dict>
      <key>monster_12124_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,219},{345,410}}</string>
        <key>offset</key>
        <string>{-146,351}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{345,410}}</string>
        <key>sourceSize</key>
        <string>{345,410}</string>
      </dict>
      <key>monster_12124_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,323},{327,410}}</string>
        <key>offset</key>
        <string>{-137,350}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{327,410}}</string>
        <key>sourceSize</key>
        <string>{327,410}</string>
      </dict>
      <key>monster_12124_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,566},{322,400}}</string>
        <key>offset</key>
        <string>{-142,341}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{322,400}}</string>
        <key>sourceSize</key>
        <string>{322,400}</string>
      </dict>
      <key>monster_12124_0_4_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{778,1132},{294,376}}</string>
        <key>offset</key>
        <string>{-96,326}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{294,376}}</string>
        <key>sourceSize</key>
        <string>{294,376}</string>
      </dict>
      <key>monster_12124_0_4_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1513},{335,384}}</string>
        <key>offset</key>
        <string>{-109,336}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{335,384}}</string>
        <key>sourceSize</key>
        <string>{335,384}</string>
      </dict>
      <key>monster_12124_0_4_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{391,1132},{340,385}}</string>
        <key>offset</key>
        <string>{-116,338}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{340,385}}</string>
        <key>sourceSize</key>
        <string>{340,385}</string>
      </dict>
      <key>monster_12124_0_4_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{337,1513},{343,383}}</string>
        <key>offset</key>
        <string>{-128,336}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{343,383}}</string>
        <key>sourceSize</key>
        <string>{343,383}</string>
      </dict>
      <key>monster_12124_0_4_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,0},{217,418}}</string>
        <key>offset</key>
        <string>{-46,322}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{217,418}}</string>
        <key>sourceSize</key>
        <string>{217,418}</string>
      </dict>
      <key>monster_12124_0_4_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,652},{259,396}}</string>
        <key>offset</key>
        <string>{-66,303}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{259,396}}</string>
        <key>sourceSize</key>
        <string>{259,396}</string>
      </dict>
      <key>monster_12124_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,913},{273,389}}</string>
        <key>offset</key>
        <string>{-71,297}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{273,389}}</string>
        <key>sourceSize</key>
        <string>{273,389}</string>
      </dict>
      <key>monster_12124_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{398,890},{240,396}}</string>
        <key>offset</key>
        <string>{-62,304}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{240,396}}</string>
        <key>sourceSize</key>
        <string>{240,396}</string>
      </dict>
      <key>monster_12124_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{321,422}}</string>
        <key>offset</key>
        <string>{-116,310}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{321,422}}</string>
        <key>sourceSize</key>
        <string>{321,422}</string>
      </dict>
      <key>monster_12124_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1188},{323,385}}</string>
        <key>offset</key>
        <string>{-98,271}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{323,385}}</string>
        <key>sourceSize</key>
        <string>{323,385}</string>
      </dict>
      <key>monster_12124_0_4_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{836,219},{298,368}}</string>
        <key>offset</key>
        <string>{-92,256}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{298,368}}</string>
        <key>sourceSize</key>
        <string>{298,368}</string>
      </dict>
      <key>monster_12124_0_4_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{814,566},{294,373}}</string>
        <key>offset</key>
        <string>{-89,265}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{294,373}}</string>
        <key>sourceSize</key>
        <string>{294,373}</string>
      </dict>
      <key>monster_12124_0_4_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{387,1188},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>monster_12124_0_4_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{387,1191},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>monster_12124_0_4_1_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{387,1194},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>monster_12124_0_4_1_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{387,1197},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_12124_0_4_0.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_12124_0_4_0.png</string>
    </dict>
  </dict>
</plist>