<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_2476_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{2139,3248},{408,531}}</string>
        <key>offset</key>
        <string>{-165,360}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{408,531}}</string>
        <key>sourceSize</key>
        <string>{408,531}</string>
      </dict>
      <key>monster_2476_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{2421,1645},{414,510}}</string>
        <key>offset</key>
        <string>{-166,356}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{414,510}}</string>
        <key>sourceSize</key>
        <string>{414,510}</string>
      </dict>
      <key>monster_2476_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{2377,2396},{442,524}}</string>
        <key>offset</key>
        <string>{-197,359}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{442,524}}</string>
        <key>sourceSize</key>
        <string>{442,524}</string>
      </dict>
      <key>monster_2476_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{2401,553},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>monster_2476_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{2404,553},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>monster_2476_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{2407,553},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>monster_2476_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{2595,1110},{421,510}}</string>
        <key>offset</key>
        <string>{-179,358}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{421,510}}</string>
        <key>sourceSize</key>
        <string>{421,510}</string>
      </dict>
      <key>monster_2476_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1937,2700},{438,546}}</string>
        <key>offset</key>
        <string>{-161,387}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{438,546}}</string>
        <key>sourceSize</key>
        <string>{438,546}</string>
      </dict>
      <key>monster_2476_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{601,3593},{437,580}}</string>
        <key>offset</key>
        <string>{-160,413}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{437,580}}</string>
        <key>sourceSize</key>
        <string>{437,580}</string>
      </dict>
      <key>monster_2476_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{2640,553},{411,484}}</string>
        <key>offset</key>
        <string>{-179,313}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{411,484}}</string>
        <key>sourceSize</key>
        <string>{411,484}</string>
      </dict>
      <key>monster_2476_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{3223,0},{448,462}}</string>
        <key>offset</key>
        <string>{-219,291}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{448,462}}</string>
        <key>sourceSize</key>
        <string>{448,462}</string>
      </dict>
      <key>monster_2476_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{2795,0},{426,475}}</string>
        <key>offset</key>
        <string>{-204,307}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{426,475}}</string>
        <key>sourceSize</key>
        <string>{426,475}</string>
      </dict>
      <key>monster_2476_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1319,735},{421,565}}</string>
        <key>offset</key>
        <string>{-185,410}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{421,565}}</string>
        <key>sourceSize</key>
        <string>{421,565}</string>
      </dict>
      <key>monster_2476_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1183,3563},{413,578}}</string>
        <key>offset</key>
        <string>{-192,417}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{413,578}}</string>
        <key>sourceSize</key>
        <string>{413,578}</string>
      </dict>
      <key>monster_2476_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{2204,1110},{533,389}}</string>
        <key>offset</key>
        <string>{-321,239}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{533,389}}</string>
        <key>sourceSize</key>
        <string>{533,389}</string>
      </dict>
      <key>monster_2476_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{2410,553},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>monster_2476_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{2413,553},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>monster_2476_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{2416,553},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>monster_2476_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1742,564},{380,554}}</string>
        <key>offset</key>
        <string>{-155,488}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{380,554}}</string>
        <key>sourceSize</key>
        <string>{380,554}</string>
      </dict>
      <key>monster_2476_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1561,2700},{374,549}}</string>
        <key>offset</key>
        <string>{-149,483}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{374,549}}</string>
        <key>sourceSize</key>
        <string>{374,549}</string>
      </dict>
      <key>monster_2476_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1763,3251},{374,549}}</string>
        <key>offset</key>
        <string>{-144,483}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{374,549}}</string>
        <key>sourceSize</key>
        <string>{374,549}</string>
      </dict>
      <key>monster_2476_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{2401,0},{392,551}}</string>
        <key>offset</key>
        <string>{-160,483}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{392,551}}</string>
        <key>sourceSize</key>
        <string>{392,551}</string>
      </dict>
      <key>monster_2476_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1553,2138},{385,560}}</string>
        <key>offset</key>
        <string>{-156,490}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{385,560}}</string>
        <key>sourceSize</key>
        <string>{385,560}</string>
      </dict>
      <key>monster_2476_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1288,1568},{394,568}}</string>
        <key>offset</key>
        <string>{-169,496}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{394,568}}</string>
        <key>sourceSize</key>
        <string>{394,568}</string>
      </dict>
      <key>monster_2476_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,3596},{483,599}}</string>
        <key>offset</key>
        <string>{-197,536}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{483,599}}</string>
        <key>sourceSize</key>
        <string>{483,599}</string>
      </dict>
      <key>monster_2476_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1005,2976},{554,585}}</string>
        <key>offset</key>
        <string>{-218,522}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{554,585}}</string>
        <key>sourceSize</key>
        <string>{554,585}</string>
      </dict>
      <key>monster_2476_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1940,1859},{479,535}}</string>
        <key>offset</key>
        <string>{-291,475}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{479,535}}</string>
        <key>sourceSize</key>
        <string>{479,535}</string>
      </dict>
      <key>monster_2476_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{706,0},{733,657}}</string>
        <key>offset</key>
        <string>{-316,433}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{733,657}}</string>
        <key>sourceSize</key>
        <string>{733,657}</string>
      </dict>
      <key>monster_2476_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1583},{775,786}}</string>
        <key>offset</key>
        <string>{-169,414}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{775,786}}</string>
        <key>sourceSize</key>
        <string>{775,786}</string>
      </dict>
      <key>monster_2476_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,792},{789,684}}</string>
        <key>offset</key>
        <string>{-181,308}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{789,684}}</string>
        <key>sourceSize</key>
        <string>{789,684}</string>
      </dict>
      <key>monster_2476_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1684,1302},{518,555}}</string>
        <key>offset</key>
        <string>{-209,399}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{518,555}}</string>
        <key>sourceSize</key>
        <string>{518,555}</string>
      </dict>
      <key>monster_2476_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{2124,556},{514,552}}</string>
        <key>offset</key>
        <string>{-202,397}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{514,552}}</string>
        <key>sourceSize</key>
        <string>{514,552}</string>
      </dict>
      <key>monster_2476_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1365,0},{516,562}}</string>
        <key>offset</key>
        <string>{-200,396}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{516,562}}</string>
        <key>sourceSize</key>
        <string>{516,562}</string>
      </dict>
      <key>monster_2476_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1883,0},{516,554}}</string>
        <key>offset</key>
        <string>{-198,399}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{516,554}}</string>
        <key>sourceSize</key>
        <string>{516,554}</string>
      </dict>
      <key>monster_2476_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1042,2164},{509,573}}</string>
        <key>offset</key>
        <string>{-197,406}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{509,573}}</string>
        <key>sourceSize</key>
        <string>{509,573}</string>
      </dict>
      <key>monster_2476_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{777,1568},{509,594}}</string>
        <key>offset</key>
        <string>{-199,414}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{509,594}}</string>
        <key>sourceSize</key>
        <string>{509,594}</string>
      </dict>
      <key>monster_2476_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{790,704}}</string>
        <key>offset</key>
        <string>{-215,596}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{790,704}}</string>
        <key>sourceSize</key>
        <string>{790,704}</string>
      </dict>
      <key>monster_2476_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{686,792},{631,774}}</string>
        <key>offset</key>
        <string>{-281,740}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{631,774}}</string>
        <key>sourceSize</key>
        <string>{631,774}</string>
      </dict>
      <key>monster_2476_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,2985},{609,477}}</string>
        <key>offset</key>
        <string>{-238,267}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{609,477}}</string>
        <key>sourceSize</key>
        <string>{609,477}</string>
      </dict>
      <key>monster_2476_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{511,2371},{603,529}}</string>
        <key>offset</key>
        <string>{-236,350}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{603,529}}</string>
        <key>sourceSize</key>
        <string>{603,529}</string>
      </dict>
      <key>monster_2476_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{479,2985},{606,524}}</string>
        <key>offset</key>
        <string>{-236,340}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{606,524}}</string>
        <key>sourceSize</key>
        <string>{606,524}</string>
      </dict>
      <key>monster_2476_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,2371},{612,509}}</string>
        <key>offset</key>
        <string>{-236,317}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{612,509}}</string>
        <key>sourceSize</key>
        <string>{612,509}</string>
      </dict>
      <key>monster_2476_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{3223,450},{427,428}}</string>
        <key>offset</key>
        <string>{-182,299}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{427,428}}</string>
        <key>sourceSize</key>
        <string>{427,428}</string>
      </dict>
      <key>monster_2476_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{3653,450},{427,423}}</string>
        <key>offset</key>
        <string>{-181,295}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{427,423}}</string>
        <key>sourceSize</key>
        <string>{427,423}</string>
      </dict>
      <key>monster_2476_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{3653,875},{427,421}}</string>
        <key>offset</key>
        <string>{-182,293}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{427,421}}</string>
        <key>sourceSize</key>
        <string>{427,421}</string>
      </dict>
      <key>monster_2476_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{3018,1304},{426,420}}</string>
        <key>offset</key>
        <string>{-181,292}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{426,420}}</string>
        <key>sourceSize</key>
        <string>{426,420}</string>
      </dict>
      <key>monster_2476_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{3053,879},{427,423}}</string>
        <key>offset</key>
        <string>{-182,295}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{427,423}}</string>
        <key>sourceSize</key>
        <string>{427,423}</string>
      </dict>
      <key>monster_2476_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{3482,1298},{426,427}}</string>
        <key>offset</key>
        <string>{-181,299}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{426,427}}</string>
        <key>sourceSize</key>
        <string>{426,427}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_2476_0_1.png</string>
      <key>size</key>
      <string>{4096,4096}</string>
      <key>textureFileName</key>
      <string>monster_2476_0_1.png</string>
    </dict>
  </dict>
</plist>