<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16276_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{937,1559},{235,289}}</string>
        <key>offset</key>
        <string>{-78,145}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{235,289}}</string>
        <key>sourceSize</key>
        <string>{235,289}</string>
      </dict>
      <key>monster_16276_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1112,297},{196,290}}</string>
        <key>offset</key>
        <string>{-54,133}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,290}}</string>
        <key>sourceSize</key>
        <string>{196,290}</string>
      </dict>
      <key>monster_16276_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1127,893},{143,275}}</string>
        <key>offset</key>
        <string>{-27,138}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,275}}</string>
        <key>sourceSize</key>
        <string>{143,275}</string>
      </dict>
      <key>monster_16276_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1384},{334,203}}</string>
        <key>offset</key>
        <string>{-203,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{334,203}}</string>
        <key>sourceSize</key>
        <string>{334,203}</string>
      </dict>
      <key>monster_16276_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{266,705},{331,263}}</string>
        <key>offset</key>
        <string>{-207,156}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{331,263}}</string>
        <key>sourceSize</key>
        <string>{331,263}</string>
      </dict>
      <key>monster_16276_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{826,302},{295,284}}</string>
        <key>offset</key>
        <string>{-210,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{295,284}}</string>
        <key>sourceSize</key>
        <string>{295,284}</string>
      </dict>
      <key>monster_16276_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{969,599},{292,244}}</string>
        <key>offset</key>
        <string>{-158,123}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{292,244}}</string>
        <key>sourceSize</key>
        <string>{292,244}</string>
      </dict>
      <key>monster_16276_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{871,913},{293,254}}</string>
        <key>offset</key>
        <string>{-168,134}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{293,254}}</string>
        <key>sourceSize</key>
        <string>{293,254}</string>
      </dict>
      <key>monster_16276_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{405,0},{310,247}}</string>
        <key>offset</key>
        <string>{-199,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{310,247}}</string>
        <key>sourceSize</key>
        <string>{310,247}</string>
      </dict>
      <key>monster_16276_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{360,156}}</string>
        <key>offset</key>
        <string>{-211,106}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{360,156}}</string>
        <key>sourceSize</key>
        <string>{360,156}</string>
      </dict>
      <key>monster_16276_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{667,1679},{307,268}}</string>
        <key>offset</key>
        <string>{-175,207}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{307,268}}</string>
        <key>sourceSize</key>
        <string>{307,268}</string>
      </dict>
      <key>monster_16276_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{580,312},{300,244}}</string>
        <key>offset</key>
        <string>{-175,219}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{300,244}}</string>
        <key>sourceSize</key>
        <string>{300,244}</string>
      </dict>
      <key>monster_16276_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{225,1708},{324,217}}</string>
        <key>offset</key>
        <string>{-205,205}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{324,217}}</string>
        <key>sourceSize</key>
        <string>{324,217}</string>
      </dict>
      <key>monster_16276_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1199,0},{290,212}}</string>
        <key>offset</key>
        <string>{-159,158}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{290,212}}</string>
        <key>sourceSize</key>
        <string>{290,212}</string>
      </dict>
      <key>monster_16276_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{654,0},{300,265}}</string>
        <key>offset</key>
        <string>{-174,210}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{300,265}}</string>
        <key>sourceSize</key>
        <string>{300,265}</string>
      </dict>
      <key>monster_16276_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{455,1360},{317,306}}</string>
        <key>offset</key>
        <string>{-206,249}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{317,306}}</string>
        <key>sourceSize</key>
        <string>{317,306}</string>
      </dict>
      <key>monster_16276_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{531,656},{176,305}}</string>
        <key>offset</key>
        <string>{-9,242}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,305}}</string>
        <key>sourceSize</key>
        <string>{176,305}</string>
      </dict>
      <key>monster_16276_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{999,1208},{222,287}}</string>
        <key>offset</key>
        <string>{-22,260}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{222,287}}</string>
        <key>sourceSize</key>
        <string>{222,287}</string>
      </dict>
      <key>monster_16276_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{703,963},{166,298}}</string>
        <key>offset</key>
        <string>{-17,240}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,298}}</string>
        <key>sourceSize</key>
        <string>{166,298}</string>
      </dict>
      <key>monster_16276_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,0},{245,340}}</string>
        <key>offset</key>
        <string>{-45,281}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{245,340}}</string>
        <key>sourceSize</key>
        <string>{245,340}</string>
      </dict>
      <key>monster_16276_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,705},{338,264}}</string>
        <key>offset</key>
        <string>{-29,209}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{338,264}}</string>
        <key>sourceSize</key>
        <string>{338,264}</string>
      </dict>
      <key>monster_16276_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{429,1038},{320,272}}</string>
        <key>offset</key>
        <string>{9,245}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{320,272}}</string>
        <key>sourceSize</key>
        <string>{320,272}</string>
      </dict>
      <key>monster_16276_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{763,1263},{294,234}}</string>
        <key>offset</key>
        <string>{33,207}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{294,234}}</string>
        <key>sourceSize</key>
        <string>{294,234}</string>
      </dict>
      <key>monster_16276_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{937,1850},{280,195}}</string>
        <key>offset</key>
        <string>{-14,148}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{280,195}}</string>
        <key>sourceSize</key>
        <string>{280,195}</string>
      </dict>
      <key>monster_16276_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{709,614},{297,258}}</string>
        <key>offset</key>
        <string>{-10,211}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{297,258}}</string>
        <key>sourceSize</key>
        <string>{297,258}</string>
      </dict>
      <key>monster_16276_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,362},{341,305}}</string>
        <key>offset</key>
        <string>{-19,257}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{341,305}}</string>
        <key>sourceSize</key>
        <string>{341,305}</string>
      </dict>
      <key>monster_16276_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,1045},{334,237}}</string>
        <key>offset</key>
        <string>{1,176}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{334,237}}</string>
        <key>sourceSize</key>
        <string>{334,237}</string>
      </dict>
      <key>monster_16276_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1720},{325,223}}</string>
        <key>offset</key>
        <string>{10,172}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{325,223}}</string>
        <key>sourceSize</key>
        <string>{325,223}</string>
      </dict>
      <key>monster_16276_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1045},{337,188}}</string>
        <key>offset</key>
        <string>{-15,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{337,188}}</string>
        <key>sourceSize</key>
        <string>{337,188}</string>
      </dict>
      <key>monster_16276_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{444,1708},{324,221}}</string>
        <key>offset</key>
        <string>{-30,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{324,221}}</string>
        <key>sourceSize</key>
        <string>{324,221}</string>
      </dict>
      <key>monster_16276_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{921,0},{295,276}}</string>
        <key>offset</key>
        <string>{6,153}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{295,276}}</string>
        <key>sourceSize</key>
        <string>{295,276}</string>
      </dict>
      <key>monster_16276_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{307,342},{312,271}}</string>
        <key>offset</key>
        <string>{0,140}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{312,271}}</string>
        <key>sourceSize</key>
        <string>{312,271}</string>
      </dict>
      <key>monster_16276_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{205,1381},{325,248}}</string>
        <key>offset</key>
        <string>{-19,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{325,248}}</string>
        <key>sourceSize</key>
        <string>{325,248}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16276_0_2_0.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_16276_0_2_0.png</string>
    </dict>
  </dict>
</plist>