<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16454_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1165,437},{422,361}}</string>
        <key>offset</key>
        <string>{-255,302}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{422,361}}</string>
        <key>sourceSize</key>
        <string>{422,361}</string>
      </dict>
      <key>monster_16454_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{404,440},{435,399}}</string>
        <key>offset</key>
        <string>{-249,340}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{435,399}}</string>
        <key>sourceSize</key>
        <string>{435,399}</string>
      </dict>
      <key>monster_16454_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,448},{439,402}}</string>
        <key>offset</key>
        <string>{-244,343}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{439,402}}</string>
        <key>sourceSize</key>
        <string>{439,402}</string>
      </dict>
      <key>monster_16454_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{446,399}}</string>
        <key>offset</key>
        <string>{-244,341}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{446,399}}</string>
        <key>sourceSize</key>
        <string>{446,399}</string>
      </dict>
      <key>monster_16454_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{798,0},{435,403}}</string>
        <key>offset</key>
        <string>{-245,344}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{435,403}}</string>
        <key>sourceSize</key>
        <string>{435,403}</string>
      </dict>
      <key>monster_16454_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{401,0},{438,395}}</string>
        <key>offset</key>
        <string>{-261,300}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{438,395}}</string>
        <key>sourceSize</key>
        <string>{438,395}</string>
      </dict>
      <key>monster_16454_0_2_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1203,0},{363,414}}</string>
        <key>offset</key>
        <string>{-187,321}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{363,414}}</string>
        <key>sourceSize</key>
        <string>{363,414}</string>
      </dict>
      <key>monster_16454_0_2_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{805,437},{427,358}}</string>
        <key>offset</key>
        <string>{-244,299}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{427,358}}</string>
        <key>sourceSize</key>
        <string>{427,358}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16454_0_2_5.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>monster_16454_0_2_5.png</string>
    </dict>
  </dict>
</plist>