<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16312_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{307,259},{100,124}}</string>
        <key>offset</key>
        <string>{-37,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,124}}</string>
        <key>sourceSize</key>
        <string>{100,124}</string>
      </dict>
      <key>monster_16312_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{376,0},{79,126}}</string>
        <key>offset</key>
        <string>{-19,87}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,126}}</string>
        <key>sourceSize</key>
        <string>{79,126}</string>
      </dict>
      <key>monster_16312_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{290,0},{84,130}}</string>
        <key>offset</key>
        <string>{-21,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,130}}</string>
        <key>sourceSize</key>
        <string>{84,130}</string>
      </dict>
      <key>monster_16312_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{307,132},{125,127}}</string>
        <key>offset</key>
        <string>{-57,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,127}}</string>
        <key>sourceSize</key>
        <string>{125,127}</string>
      </dict>
      <key>monster_16312_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{168,140}}</string>
        <key>offset</key>
        <string>{-61,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,140}}</string>
        <key>sourceSize</key>
        <string>{168,140}</string>
      </dict>
      <key>monster_16312_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,170},{168,156}}</string>
        <key>offset</key>
        <string>{-41,117}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,156}}</string>
        <key>sourceSize</key>
        <string>{168,156}</string>
      </dict>
      <key>monster_16312_0_2_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,0},{146,162}}</string>
        <key>offset</key>
        <string>{-22,123}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,162}}</string>
        <key>sourceSize</key>
        <string>{146,162}</string>
      </dict>
      <key>monster_16312_0_2_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,164},{147,153}}</string>
        <key>offset</key>
        <string>{-29,114}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,153}}</string>
        <key>sourceSize</key>
        <string>{147,153}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16312_0_2_1.png</string>
      <key>size</key>
      <string>{485,386}</string>
      <key>textureFileName</key>
      <string>monster_16312_0_2_1.png</string>
    </dict>
  </dict>
</plist>