<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_12034_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1104,383},{156,184}}</string>
        <key>offset</key>
        <string>{-60,144}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,184}}</string>
        <key>sourceSize</key>
        <string>{156,184}</string>
      </dict>
      <key>monster_12034_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{535,676},{160,199}}</string>
        <key>offset</key>
        <string>{-60,150}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,199}}</string>
        <key>sourceSize</key>
        <string>{160,199}</string>
      </dict>
      <key>monster_12034_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{701,1077},{167,194}}</string>
        <key>offset</key>
        <string>{-64,146}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,194}}</string>
        <key>sourceSize</key>
        <string>{167,194}</string>
      </dict>
      <key>monster_12034_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{993,995},{163,178}}</string>
        <key>offset</key>
        <string>{-51,131}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,178}}</string>
        <key>sourceSize</key>
        <string>{163,178}</string>
      </dict>
      <key>monster_12034_0_4_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1296,749},{159,168}}</string>
        <key>offset</key>
        <string>{-52,122}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,168}}</string>
        <key>sourceSize</key>
        <string>{159,168}</string>
      </dict>
      <key>monster_12034_0_4_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1231,190},{156,184}}</string>
        <key>offset</key>
        <string>{-48,136}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,184}}</string>
        <key>sourceSize</key>
        <string>{156,184}</string>
      </dict>
      <key>monster_12034_0_4_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1660},{174,221}}</string>
        <key>offset</key>
        <string>{-58,171}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,221}}</string>
        <key>sourceSize</key>
        <string>{174,221}</string>
      </dict>
      <key>monster_12034_0_4_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{176,1631},{212,215}}</string>
        <key>offset</key>
        <string>{-81,159}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{212,215}}</string>
        <key>sourceSize</key>
        <string>{212,215}</string>
      </dict>
      <key>monster_12034_0_4_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,1193},{218,208}}</string>
        <key>offset</key>
        <string>{-75,155}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{218,208}}</string>
        <key>sourceSize</key>
        <string>{218,208}</string>
      </dict>
      <key>monster_12034_0_4_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{346,0},{222,212}}</string>
        <key>offset</key>
        <string>{-78,157}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{222,212}}</string>
        <key>sourceSize</key>
        <string>{222,212}</string>
      </dict>
      <key>monster_12034_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{975,398},{127,190}}</string>
        <key>offset</key>
        <string>{-44,146}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,190}}</string>
        <key>sourceSize</key>
        <string>{127,190}</string>
      </dict>
      <key>monster_12034_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{979,197},{121,190}}</string>
        <key>offset</key>
        <string>{-38,148}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,190}}</string>
        <key>sourceSize</key>
        <string>{121,190}</string>
      </dict>
      <key>monster_12034_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{838,1468},{136,180}}</string>
        <key>offset</key>
        <string>{-52,140}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,180}}</string>
        <key>sourceSize</key>
        <string>{136,180}</string>
      </dict>
      <key>monster_12034_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1132,779},{178,162}}</string>
        <key>offset</key>
        <string>{-58,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{178,162}}</string>
        <key>sourceSize</key>
        <string>{178,162}</string>
      </dict>
      <key>monster_12034_0_4_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1183,0},{188,164}}</string>
        <key>offset</key>
        <string>{-57,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,164}}</string>
        <key>sourceSize</key>
        <string>{188,164}</string>
      </dict>
      <key>monster_12034_0_4_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{873,0},{195,159}}</string>
        <key>offset</key>
        <string>{-63,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{195,159}}</string>
        <key>sourceSize</key>
        <string>{195,159}</string>
      </dict>
      <key>monster_12034_0_4_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{326,723},{216,207}}</string>
        <key>offset</key>
        <string>{-54,152}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{216,207}}</string>
        <key>sourceSize</key>
        <string>{216,207}</string>
      </dict>
      <key>monster_12034_0_4_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{536,430},{198,191}}</string>
        <key>offset</key>
        <string>{-43,134}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{198,191}}</string>
        <key>sourceSize</key>
        <string>{198,191}</string>
      </dict>
      <key>monster_12034_0_4_1_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{348,470},{204,186}}</string>
        <key>offset</key>
        <string>{-41,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{204,186}}</string>
        <key>sourceSize</key>
        <string>{204,186}</string>
      </dict>
      <key>monster_12034_0_4_1_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{436,1843},{210,189}}</string>
        <key>offset</key>
        <string>{-40,128}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{210,189}}</string>
        <key>sourceSize</key>
        <string>{210,189}</string>
      </dict>
      <key>monster_12034_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{697,630},{112,197}}</string>
        <key>offset</key>
        <string>{-30,136}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,197}}</string>
        <key>sourceSize</key>
        <string>{112,197}</string>
      </dict>
      <key>monster_12034_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1102,192},{127,189}}</string>
        <key>offset</key>
        <string>{-29,127}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,189}}</string>
        <key>sourceSize</key>
        <string>{127,189}</string>
      </dict>
      <key>monster_12034_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{729,406},{121,197}}</string>
        <key>offset</key>
        <string>{-28,136}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,197}}</string>
        <key>sourceSize</key>
        <string>{121,197}</string>
      </dict>
      <key>monster_12034_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1199,569},{130,178}}</string>
        <key>offset</key>
        <string>{-49,117}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,178}}</string>
        <key>sourceSize</key>
        <string>{130,178}</string>
      </dict>
      <key>monster_12034_0_4_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1331,556},{163,168}}</string>
        <key>offset</key>
        <string>{-52,111}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,168}}</string>
        <key>sourceSize</key>
        <string>{163,168}</string>
      </dict>
      <key>monster_12034_0_4_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1422,365},{162,167}}</string>
        <key>offset</key>
        <string>{-35,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,167}}</string>
        <key>sourceSize</key>
        <string>{162,167}</string>
      </dict>
      <key>monster_12034_0_4_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1054,1175},{163,173}}</string>
        <key>offset</key>
        <string>{-19,109}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,173}}</string>
        <key>sourceSize</key>
        <string>{163,173}</string>
      </dict>
      <key>monster_12034_0_4_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,977},{233,170}}</string>
        <key>offset</key>
        <string>{-24,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{233,170}}</string>
        <key>sourceSize</key>
        <string>{233,170}</string>
      </dict>
      <key>monster_12034_0_4_2_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{246,169}}</string>
        <key>offset</key>
        <string>{-23,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{246,169}}</string>
        <key>sourceSize</key>
        <string>{246,169}</string>
      </dict>
      <key>monster_12034_0_4_2_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{171,0},{243,173}}</string>
        <key>offset</key>
        <string>{-20,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{243,173}}</string>
        <key>sourceSize</key>
        <string>{243,173}</string>
      </dict>
      <key>monster_12034_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1034,0},{147,190}}</string>
        <key>offset</key>
        <string>{-57,120}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,190}}</string>
        <key>sourceSize</key>
        <string>{147,190}</string>
      </dict>
      <key>monster_12034_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1262,376},{158,178}}</string>
        <key>offset</key>
        <string>{-61,109}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,178}}</string>
        <key>sourceSize</key>
        <string>{158,178}</string>
      </dict>
      <key>monster_12034_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{823,200},{154,196}}</string>
        <key>offset</key>
        <string>{-54,127}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,196}}</string>
        <key>sourceSize</key>
        <string>{154,196}</string>
      </dict>
      <key>monster_12034_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{511,224},{120,204}}</string>
        <key>offset</key>
        <string>{-47,135}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,204}}</string>
        <key>sourceSize</key>
        <string>{120,204}</string>
      </dict>
      <key>monster_12034_0_4_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1098,590},{99,187}}</string>
        <key>offset</key>
        <string>{-41,120}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,187}}</string>
        <key>sourceSize</key>
        <string>{99,187}</string>
      </dict>
      <key>monster_12034_0_4_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1508,0},{100,176}}</string>
        <key>offset</key>
        <string>{-30,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,176}}</string>
        <key>sourceSize</key>
        <string>{100,176}</string>
      </dict>
      <key>monster_12034_0_4_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{960,594},{136,191}}</string>
        <key>offset</key>
        <string>{-18,93}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,191}}</string>
        <key>sourceSize</key>
        <string>{136,191}</string>
      </dict>
      <key>monster_12034_0_4_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1883},{221,151}}</string>
        <key>offset</key>
        <string>{-37,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{221,151}}</string>
        <key>sourceSize</key>
        <string>{221,151}</string>
      </dict>
      <key>monster_12034_0_4_3_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,245},{223,163}}</string>
        <key>offset</key>
        <string>{-35,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{223,163}}</string>
        <key>sourceSize</key>
        <string>{223,163}</string>
      </dict>
      <key>monster_12034_0_4_3_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,741},{226,164}}</string>
        <key>offset</key>
        <string>{-38,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{226,164}}</string>
        <key>sourceSize</key>
        <string>{226,164}</string>
      </dict>
      <key>monster_12034_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{927,1828},{156,175}}</string>
        <key>offset</key>
        <string>{-50,117}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,175}}</string>
        <key>sourceSize</key>
        <string>{156,175}</string>
      </dict>
      <key>monster_12034_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1389,186},{160,177}}</string>
        <key>offset</key>
        <string>{-54,119}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,177}}</string>
        <key>sourceSize</key>
        <string>{160,177}</string>
      </dict>
      <key>monster_12034_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{885,1192},{167,179}}</string>
        <key>offset</key>
        <string>{-57,121}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,179}}</string>
        <key>sourceSize</key>
        <string>{167,179}</string>
      </dict>
      <key>monster_12034_0_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{560,0},{163,204}}</string>
        <key>offset</key>
        <string>{-66,147}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,204}}</string>
        <key>sourceSize</key>
        <string>{163,204}</string>
      </dict>
      <key>monster_12034_0_4_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{541,1148},{158,200}}</string>
        <key>offset</key>
        <string>{-61,146}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,200}}</string>
        <key>sourceSize</key>
        <string>{158,200}</string>
      </dict>
      <key>monster_12034_0_4_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1349,0},{157,184}}</string>
        <key>offset</key>
        <string>{-63,128}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,184}}</string>
        <key>sourceSize</key>
        <string>{157,184}</string>
      </dict>
      <key>monster_12034_0_4_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{976,1373},{174,149}}</string>
        <key>offset</key>
        <string>{-70,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,149}}</string>
        <key>sourceSize</key>
        <string>{174,149}</string>
      </dict>
      <key>monster_12034_0_4_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{384,1189},{212,155}}</string>
        <key>offset</key>
        <string>{-85,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{212,155}}</string>
        <key>sourceSize</key>
        <string>{212,155}</string>
      </dict>
      <key>monster_12034_0_4_4_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{310,969},{218,172}}</string>
        <key>offset</key>
        <string>{-97,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{218,172}}</string>
        <key>sourceSize</key>
        <string>{218,172}</string>
      </dict>
      <key>monster_12034_0_4_4_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1212},{222,172}}</string>
        <key>offset</key>
        <string>{-98,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{222,172}}</string>
        <key>sourceSize</key>
        <string>{222,172}</string>
      </dict>
      <key>monster_12034_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{798,1749},{127,183}}</string>
        <key>offset</key>
        <string>{-37,132}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,183}}</string>
        <key>sourceSize</key>
        <string>{127,183}</string>
      </dict>
      <key>monster_12034_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{729,829},{121,194}}</string>
        <key>offset</key>
        <string>{-37,139}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,194}}</string>
        <key>sourceSize</key>
        <string>{121,194}</string>
      </dict>
      <key>monster_12034_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{927,1650},{136,176}}</string>
        <key>offset</key>
        <string>{-38,125}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,176}}</string>
        <key>sourceSize</key>
        <string>{136,176}</string>
      </dict>
      <key>monster_12034_0_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{952,801},{178,192}}</string>
        <key>offset</key>
        <string>{-74,148}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{178,192}}</string>
        <key>sourceSize</key>
        <string>{178,192}</string>
      </dict>
      <key>monster_12034_0_4_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{633,206},{188,198}}</string>
        <key>offset</key>
        <string>{-85,154}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,198}}</string>
        <key>sourceSize</key>
        <string>{188,198}</string>
      </dict>
      <key>monster_12034_0_4_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{653,1552},{195,183}}</string>
        <key>offset</key>
        <string>{-86,142}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{195,183}}</string>
        <key>sourceSize</key>
        <string>{195,183}</string>
      </dict>
      <key>monster_12034_0_4_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,1413},{216,106}}</string>
        <key>offset</key>
        <string>{-116,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{216,106}}</string>
        <key>sourceSize</key>
        <string>{216,106}</string>
      </dict>
      <key>monster_12034_0_4_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{725,0},{198,146}}</string>
        <key>offset</key>
        <string>{-109,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{198,146}}</string>
        <key>sourceSize</key>
        <string>{198,146}</string>
      </dict>
      <key>monster_12034_0_4_5_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{648,1824},{205,148}}</string>
        <key>offset</key>
        <string>{-118,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,148}}</string>
        <key>sourceSize</key>
        <string>{205,148}</string>
      </dict>
      <key>monster_12034_0_4_5_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{446,1403},{210,152}}</string>
        <key>offset</key>
        <string>{-124,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{210,152}}</string>
        <key>sourceSize</key>
        <string>{210,152}</string>
      </dict>
      <key>monster_12034_0_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{616,877},{111,198}}</string>
        <key>offset</key>
        <string>{-36,130}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,198}}</string>
        <key>sourceSize</key>
        <string>{111,198}</string>
      </dict>
      <key>monster_12034_0_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{756,1273},{127,193}}</string>
        <key>offset</key>
        <string>{-52,129}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,193}}</string>
        <key>sourceSize</key>
        <string>{127,193}</string>
      </dict>
      <key>monster_12034_0_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{870,997},{121,193}}</string>
        <key>offset</key>
        <string>{-47,129}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,193}}</string>
        <key>sourceSize</key>
        <string>{121,193}</string>
      </dict>
      <key>monster_12034_0_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{484,941},{130,205}}</string>
        <key>offset</key>
        <string>{-35,142}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,205}}</string>
        <key>sourceSize</key>
        <string>{130,205}</string>
      </dict>
      <key>monster_12034_0_4_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{223,1848},{163,211}}</string>
        <key>offset</key>
        <string>{-65,148}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,211}}</string>
        <key>sourceSize</key>
        <string>{163,211}</string>
      </dict>
      <key>monster_12034_0_4_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{282,1413},{162,215}}</string>
        <key>offset</key>
        <string>{-81,153}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,215}}</string>
        <key>sourceSize</key>
        <string>{162,215}</string>
      </dict>
      <key>monster_12034_0_4_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1158,959},{163,173}}</string>
        <key>offset</key>
        <string>{-98,124}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,173}}</string>
        <key>sourceSize</key>
        <string>{163,173}</string>
      </dict>
      <key>monster_12034_0_4_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,741},{234,158}}</string>
        <key>offset</key>
        <string>{-163,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{234,158}}</string>
        <key>sourceSize</key>
        <string>{234,158}</string>
      </dict>
      <key>monster_12034_0_4_6_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,248},{246,170}}</string>
        <key>offset</key>
        <string>{-177,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{246,170}}</string>
        <key>sourceSize</key>
        <string>{246,170}</string>
      </dict>
      <key>monster_12034_0_4_6_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,496},{243,168}}</string>
        <key>offset</key>
        <string>{-177,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{243,168}}</string>
        <key>sourceSize</key>
        <string>{243,168}</string>
      </dict>
      <key>monster_12034_0_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{811,605},{147,194}}</string>
        <key>offset</key>
        <string>{-44,134}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,194}}</string>
        <key>sourceSize</key>
        <string>{147,194}</string>
      </dict>
      <key>monster_12034_0_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{493,1615},{158,207}}</string>
        <key>offset</key>
        <string>{-51,143}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,207}}</string>
        <key>sourceSize</key>
        <string>{158,207}</string>
      </dict>
      <key>monster_12034_0_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,1350},{154,200}}</string>
        <key>offset</key>
        <string>{-54,136}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,200}}</string>
        <key>sourceSize</key>
        <string>{154,200}</string>
      </dict>
      <key>monster_12034_0_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{852,398},{121,194}}</string>
        <key>offset</key>
        <string>{-28,129}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,194}}</string>
        <key>sourceSize</key>
        <string>{121,194}</string>
      </dict>
      <key>monster_12034_0_4_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{852,801},{98,194}}</string>
        <key>offset</key>
        <string>{-12,129}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,194}}</string>
        <key>sourceSize</key>
        <string>{98,194}</string>
      </dict>
      <key>monster_12034_0_4_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{390,1630},{101,211}}</string>
        <key>offset</key>
        <string>{-24,145}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,211}}</string>
        <key>sourceSize</key>
        <string>{101,211}</string>
      </dict>
      <key>monster_12034_0_4_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,969},{136,222}}</string>
        <key>offset</key>
        <string>{-72,160}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,222}}</string>
        <key>sourceSize</key>
        <string>{136,222}</string>
      </dict>
      <key>monster_12034_0_4_7_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1436},{222,172}}</string>
        <key>offset</key>
        <string>{-139,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{222,172}}</string>
        <key>sourceSize</key>
        <string>{222,172}</string>
      </dict>
      <key>monster_12034_0_4_7_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{337,245},{223,172}}</string>
        <key>offset</key>
        <string>{-142,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{223,172}}</string>
        <key>sourceSize</key>
        <string>{223,172}</string>
      </dict>
      <key>monster_12034_0_4_7_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,496},{225,176}}</string>
        <key>offset</key>
        <string>{-142,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{225,176}}</string>
        <key>sourceSize</key>
        <string>{225,176}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_12034_0_4.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_12034_0_4.png</string>
    </dict>
  </dict>
</plist>