<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16519_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{2270,913},{881,696}}</string>
        <key>offset</key>
        <string>{-391,382}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{881,696}}</string>
        <key>sourceSize</key>
        <string>{881,696}</string>
      </dict>
      <key>monster_16519_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{2107,0},{911,689}}</string>
        <key>offset</key>
        <string>{-437,378}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{911,689}}</string>
        <key>sourceSize</key>
        <string>{911,689}</string>
      </dict>
      <key>monster_16519_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1597,997},{914,671}}</string>
        <key>offset</key>
        <string>{-476,369}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{914,671}}</string>
        <key>sourceSize</key>
        <string>{914,671}</string>
      </dict>
      <key>monster_16519_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{3251,0},{866,588}}</string>
        <key>offset</key>
        <string>{-528,305}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{866,588}}</string>
        <key>sourceSize</key>
        <string>{866,588}</string>
      </dict>
      <key>monster_16519_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{3251,868},{865,602}}</string>
        <key>offset</key>
        <string>{-525,314}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{865,602}}</string>
        <key>sourceSize</key>
        <string>{865,602}</string>
      </dict>
      <key>monster_16519_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{2798,0},{880,451}}</string>
        <key>offset</key>
        <string>{-435,301}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{880,451}}</string>
        <key>sourceSize</key>
        <string>{880,451}</string>
      </dict>
      <key>monster_16519_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1578},{907,458}}</string>
        <key>offset</key>
        <string>{-417,308}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{907,458}}</string>
        <key>sourceSize</key>
        <string>{907,458}</string>
      </dict>
      <key>monster_16519_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{531,0},{1019,538}}</string>
        <key>offset</key>
        <string>{-464,305}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1019,538}}</string>
        <key>sourceSize</key>
        <string>{1019,538}</string>
      </dict>
      <key>monster_16519_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1588,0},{995,517}}</string>
        <key>offset</key>
        <string>{-455,299}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{995,517}}</string>
        <key>sourceSize</key>
        <string>{995,517}</string>
      </dict>
      <key>monster_16519_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1071,0},{999,515}}</string>
        <key>offset</key>
        <string>{-454,315}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{999,515}}</string>
        <key>sourceSize</key>
        <string>{999,515}</string>
      </dict>
      <key>monster_16519_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{1030,529}}</string>
        <key>offset</key>
        <string>{-467,314}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1030,529}}</string>
        <key>sourceSize</key>
        <string>{1030,529}</string>
      </dict>
      <key>monster_16519_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1032},{1026,544}}</string>
        <key>offset</key>
        <string>{-468,303}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1026,544}}</string>
        <key>sourceSize</key>
        <string>{1026,544}</string>
      </dict>
      <key>monster_16519_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1028,1021},{1000,567}}</string>
        <key>offset</key>
        <string>{-455,299}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1000,567}}</string>
        <key>sourceSize</key>
        <string>{1000,567}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16519_0_1_1.png</string>
      <key>size</key>
      <string>{4096,2048}</string>
      <key>textureFileName</key>
      <string>monster_16519_0_1_1.png</string>
    </dict>
  </dict>
</plist>