<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16144_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{145,635},{154,196}}</string>
        <key>offset</key>
        <string>{-70,143}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,196}}</string>
        <key>sourceSize</key>
        <string>{154,196}</string>
      </dict>
      <key>monster_16144_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,833},{152,196}}</string>
        <key>offset</key>
        <string>{-70,143}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,196}}</string>
        <key>sourceSize</key>
        <string>{152,196}</string>
      </dict>
      <key>monster_16144_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,430},{156,203}}</string>
        <key>offset</key>
        <string>{-70,150}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,203}}</string>
        <key>sourceSize</key>
        <string>{156,203}</string>
      </dict>
      <key>monster_16144_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{307,0},{151,201}}</string>
        <key>offset</key>
        <string>{-70,147}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,201}}</string>
        <key>sourceSize</key>
        <string>{151,201}</string>
      </dict>
      <key>monster_16144_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,847},{157,200}}</string>
        <key>offset</key>
        <string>{-70,146}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,200}}</string>
        <key>sourceSize</key>
        <string>{157,200}</string>
      </dict>
      <key>monster_16144_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{155,215},{157,202}}</string>
        <key>offset</key>
        <string>{-70,148}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,202}}</string>
        <key>sourceSize</key>
        <string>{157,202}</string>
      </dict>
      <key>monster_16144_0_1_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{159,213}}</string>
        <key>offset</key>
        <string>{-70,159}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,213}}</string>
        <key>sourceSize</key>
        <string>{159,213}</string>
      </dict>
      <key>monster_16144_0_1_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,215},{153,213}}</string>
        <key>offset</key>
        <string>{-70,159}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,213}}</string>
        <key>sourceSize</key>
        <string>{153,213}</string>
      </dict>
      <key>monster_16144_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,828},{188,176}}</string>
        <key>offset</key>
        <string>{-70,133}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,176}}</string>
        <key>sourceSize</key>
        <string>{188,176}</string>
      </dict>
      <key>monster_16144_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{302,419},{188,179}}</string>
        <key>offset</key>
        <string>{-70,133}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,179}}</string>
        <key>sourceSize</key>
        <string>{188,179}</string>
      </dict>
      <key>monster_16144_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{460,0},{187,182}}</string>
        <key>offset</key>
        <string>{-70,133}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{187,182}}</string>
        <key>sourceSize</key>
        <string>{187,182}</string>
      </dict>
      <key>monster_16144_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{439,609},{187,184}}</string>
        <key>offset</key>
        <string>{-70,133}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{187,184}}</string>
        <key>sourceSize</key>
        <string>{187,184}</string>
      </dict>
      <key>monster_16144_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{483,393},{187,183}}</string>
        <key>offset</key>
        <string>{-70,136}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{187,183}}</string>
        <key>sourceSize</key>
        <string>{187,183}</string>
      </dict>
      <key>monster_16144_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,203},{188,178}}</string>
        <key>offset</key>
        <string>{-70,135}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,178}}</string>
        <key>sourceSize</key>
        <string>{188,178}</string>
      </dict>
      <key>monster_16144_0_1_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{494,189},{187,176}}</string>
        <key>offset</key>
        <string>{-70,133}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{187,176}}</string>
        <key>sourceSize</key>
        <string>{187,176}</string>
      </dict>
      <key>monster_16144_0_1_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{644,0},{187,179}}</string>
        <key>offset</key>
        <string>{-70,134}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{187,179}}</string>
        <key>sourceSize</key>
        <string>{187,179}</string>
      </dict>
      <key>monster_16144_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{825,0},{185,144}}</string>
        <key>offset</key>
        <string>{-70,103}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{185,144}}</string>
        <key>sourceSize</key>
        <string>{185,144}</string>
      </dict>
      <key>monster_16144_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{672,189},{184,148}}</string>
        <key>offset</key>
        <string>{-70,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{184,148}}</string>
        <key>sourceSize</key>
        <string>{184,148}</string>
      </dict>
      <key>monster_16144_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{825,146},{185,142}}</string>
        <key>offset</key>
        <string>{-70,102}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{185,142}}</string>
        <key>sourceSize</key>
        <string>{185,142}</string>
      </dict>
      <key>monster_16144_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{161,0},{202,144}}</string>
        <key>offset</key>
        <string>{-86,104}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{202,144}}</string>
        <key>sourceSize</key>
        <string>{202,144}</string>
      </dict>
      <key>monster_16144_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,430},{208,142}}</string>
        <key>offset</key>
        <string>{-93,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,142}}</string>
        <key>sourceSize</key>
        <string>{208,142}</string>
      </dict>
      <key>monster_16144_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{822,290},{184,139}}</string>
        <key>offset</key>
        <string>{-70,98}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{184,139}}</string>
        <key>sourceSize</key>
        <string>{184,139}</string>
      </dict>
      <key>monster_16144_0_1_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{301,635},{191,136}}</string>
        <key>offset</key>
        <string>{-76,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{191,136}}</string>
        <key>sourceSize</key>
        <string>{191,136}</string>
      </dict>
      <key>monster_16144_0_1_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,640},{205,143}}</string>
        <key>offset</key>
        <string>{-88,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,143}}</string>
        <key>sourceSize</key>
        <string>{205,143}</string>
      </dict>
      <key>monster_16144_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{668,543},{160,151}}</string>
        <key>offset</key>
        <string>{-70,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,151}}</string>
        <key>sourceSize</key>
        <string>{160,151}</string>
      </dict>
      <key>monster_16144_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{731,858},{159,151}}</string>
        <key>offset</key>
        <string>{-70,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,151}}</string>
        <key>sourceSize</key>
        <string>{159,151}</string>
      </dict>
      <key>monster_16144_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{821,584},{160,152}}</string>
        <key>offset</key>
        <string>{-70,95}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,152}}</string>
        <key>sourceSize</key>
        <string>{160,152}</string>
      </dict>
      <key>monster_16144_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{668,378},{163,152}}</string>
        <key>offset</key>
        <string>{-72,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,152}}</string>
        <key>sourceSize</key>
        <string>{163,152}</string>
      </dict>
      <key>monster_16144_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{625,705},{160,151}}</string>
        <key>offset</key>
        <string>{-70,94}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,151}}</string>
        <key>sourceSize</key>
        <string>{160,151}</string>
      </dict>
      <key>monster_16144_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1020},{159,152}}</string>
        <key>offset</key>
        <string>{-70,95}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,152}}</string>
        <key>sourceSize</key>
        <string>{159,152}</string>
      </dict>
      <key>monster_16144_0_1_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{578,858},{160,151}}</string>
        <key>offset</key>
        <string>{-70,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,151}}</string>
        <key>sourceSize</key>
        <string>{160,151}</string>
      </dict>
      <key>monster_16144_0_1_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{822,431},{161,151}}</string>
        <key>offset</key>
        <string>{-70,94}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,151}}</string>
        <key>sourceSize</key>
        <string>{161,151}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16144_0_1_0.png</string>
      <key>size</key>
      <string>{1026,1176}</string>
      <key>textureFileName</key>
      <string>monster_16144_0_1_0.png</string>
    </dict>
  </dict>
</plist>