<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16256_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1703,1146},{377,281}}</string>
        <key>offset</key>
        <string>{-163,184}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{377,281}}</string>
        <key>sourceSize</key>
        <string>{377,281}</string>
      </dict>
      <key>monster_16256_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{939,1381},{352,367}}</string>
        <key>offset</key>
        <string>{-157,277}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{352,367}}</string>
        <key>sourceSize</key>
        <string>{352,367}</string>
      </dict>
      <key>monster_16256_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{560,0},{391,273}}</string>
        <key>offset</key>
        <string>{-135,201}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{391,273}}</string>
        <key>sourceSize</key>
        <string>{391,273}</string>
      </dict>
      <key>monster_16256_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1346,0},{383,349}}</string>
        <key>offset</key>
        <string>{-56,268}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{383,349}}</string>
        <key>sourceSize</key>
        <string>{383,349}</string>
      </dict>
      <key>monster_16256_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{560,588},{382,296}}</string>
        <key>offset</key>
        <string>{-92,240}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{382,296}}</string>
        <key>sourceSize</key>
        <string>{382,296}</string>
      </dict>
      <key>monster_16256_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{930,1735},{320,285}}</string>
        <key>offset</key>
        <string>{-99,237}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{320,285}}</string>
        <key>sourceSize</key>
        <string>{320,285}</string>
      </dict>
      <key>monster_16256_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{560,275},{384,311}}</string>
        <key>offset</key>
        <string>{-117,269}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{384,311}}</string>
        <key>sourceSize</key>
        <string>{384,311}</string>
      </dict>
      <key>monster_16256_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1321,1198},{377,226}}</string>
        <key>offset</key>
        <string>{-76,177}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{377,226}}</string>
        <key>sourceSize</key>
        <string>{377,226}</string>
      </dict>
      <key>monster_16256_0_4_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1331,351},{379,294}}</string>
        <key>offset</key>
        <string>{-85,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{379,294}}</string>
        <key>sourceSize</key>
        <string>{379,294}</string>
      </dict>
      <key>monster_16256_0_4_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{944,600},{379,294}}</string>
        <key>offset</key>
        <string>{-85,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{379,294}}</string>
        <key>sourceSize</key>
        <string>{379,294}</string>
      </dict>
      <key>monster_16256_0_4_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{560,886},{379,294}}</string>
        <key>offset</key>
        <string>{-85,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{379,294}}</string>
        <key>sourceSize</key>
        <string>{379,294}</string>
      </dict>
      <key>monster_16256_0_4_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{280,1182},{379,294}}</string>
        <key>offset</key>
        <string>{-85,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{379,294}}</string>
        <key>sourceSize</key>
        <string>{379,294}</string>
      </dict>
      <key>monster_16256_0_4_3_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1712,384},{379,294}}</string>
        <key>offset</key>
        <string>{-85,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{379,294}}</string>
        <key>sourceSize</key>
        <string>{379,294}</string>
      </dict>
      <key>monster_16256_0_4_3_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1325,647},{379,294}}</string>
        <key>offset</key>
        <string>{-85,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{379,294}}</string>
        <key>sourceSize</key>
        <string>{379,294}</string>
      </dict>
      <key>monster_16256_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{941,1151},{378,228}}</string>
        <key>offset</key>
        <string>{-168,201}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{378,228}}</string>
        <key>sourceSize</key>
        <string>{378,228}</string>
      </dict>
      <key>monster_16256_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{576,1561},{352,258}}</string>
        <key>offset</key>
        <string>{-149,147}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{352,258}}</string>
        <key>sourceSize</key>
        <string>{352,258}</string>
      </dict>
      <key>monster_16256_0_4_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1308,1426},{293,312}}</string>
        <key>offset</key>
        <string>{-129,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{293,312}}</string>
        <key>sourceSize</key>
        <string>{293,312}</string>
      </dict>
      <key>monster_16256_0_4_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1574,1721},{293,312}}</string>
        <key>offset</key>
        <string>{-129,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{293,312}}</string>
        <key>sourceSize</key>
        <string>{293,312}</string>
      </dict>
      <key>monster_16256_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{953,0},{391,280}}</string>
        <key>offset</key>
        <string>{-210,204}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{391,280}}</string>
        <key>sourceSize</key>
        <string>{391,280}</string>
      </dict>
      <key>monster_16256_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{946,282},{383,316}}</string>
        <key>offset</key>
        <string>{-281,175}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{383,316}}</string>
        <key>sourceSize</key>
        <string>{383,316}</string>
      </dict>
      <key>monster_16256_0_4_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{397,278}}</string>
        <key>offset</key>
        <string>{-265,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{397,278}}</string>
        <key>sourceSize</key>
        <string>{397,278}</string>
      </dict>
      <key>monster_16256_0_4_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,399},{397,278}}</string>
        <key>offset</key>
        <string>{-265,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{397,278}}</string>
        <key>sourceSize</key>
        <string>{397,278}</string>
      </dict>
      <key>monster_16256_0_4_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,798},{397,278}}</string>
        <key>offset</key>
        <string>{-265,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{397,278}}</string>
        <key>sourceSize</key>
        <string>{397,278}</string>
      </dict>
      <key>monster_16256_0_4_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1197},{397,278}}</string>
        <key>offset</key>
        <string>{-265,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{397,278}}</string>
        <key>sourceSize</key>
        <string>{397,278}</string>
      </dict>
      <key>monster_16256_0_4_5_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1596},{397,278}}</string>
        <key>offset</key>
        <string>{-265,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{397,278}}</string>
        <key>sourceSize</key>
        <string>{397,278}</string>
      </dict>
      <key>monster_16256_0_4_5_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{280,1596},{397,278}}</string>
        <key>offset</key>
        <string>{-265,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{397,278}}</string>
        <key>sourceSize</key>
        <string>{397,278}</string>
      </dict>
      <key>monster_16256_0_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1731,0},{382,307}}</string>
        <key>offset</key>
        <string>{-244,228}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{382,307}}</string>
        <key>sourceSize</key>
        <string>{382,307}</string>
      </dict>
      <key>monster_16256_0_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1252,1735},{320,301}}</string>
        <key>offset</key>
        <string>{-175,221}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{320,301}}</string>
        <key>sourceSize</key>
        <string>{320,301}</string>
      </dict>
      <key>monster_16256_0_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{576,1182},{377,361}}</string>
        <key>offset</key>
        <string>{-255,299}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{377,361}}</string>
        <key>sourceSize</key>
        <string>{377,361}</string>
      </dict>
      <key>monster_16256_0_4_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{941,896},{379,253}}</string>
        <key>offset</key>
        <string>{-248,155}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{379,253}}</string>
        <key>sourceSize</key>
        <string>{379,253}</string>
      </dict>
      <key>monster_16256_0_4_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{280,0},{379,253}}</string>
        <key>offset</key>
        <string>{-248,155}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{379,253}}</string>
        <key>sourceSize</key>
        <string>{379,253}</string>
      </dict>
      <key>monster_16256_0_4_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{280,381},{379,253}}</string>
        <key>offset</key>
        <string>{-248,155}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{379,253}}</string>
        <key>sourceSize</key>
        <string>{379,253}</string>
      </dict>
      <key>monster_16256_0_4_7_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{280,762},{379,253}}</string>
        <key>offset</key>
        <string>{-248,155}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{379,253}}</string>
        <key>sourceSize</key>
        <string>{379,253}</string>
      </dict>
      <key>monster_16256_0_4_7_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1706,765},{379,253}}</string>
        <key>offset</key>
        <string>{-248,155}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{379,253}}</string>
        <key>sourceSize</key>
        <string>{379,253}</string>
      </dict>
      <key>monster_16256_0_4_7_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1322,943},{379,253}}</string>
        <key>offset</key>
        <string>{-248,155}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{379,253}}</string>
        <key>sourceSize</key>
        <string>{379,253}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16256_0_4_1.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_16256_0_4_1.png</string>
    </dict>
  </dict>
</plist>