<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16204_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{294,195},{88,80}}</string>
        <key>offset</key>
        <string>{2,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,80}}</string>
        <key>sourceSize</key>
        <string>{88,80}</string>
      </dict>
      <key>monster_16204_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{481,185},{86,86}}</string>
        <key>offset</key>
        <string>{3,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,86}}</string>
        <key>sourceSize</key>
        <string>{86,86}</string>
      </dict>
      <key>monster_16204_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{468,382},{87,86}}</string>
        <key>offset</key>
        <string>{2,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,86}}</string>
        <key>sourceSize</key>
        <string>{87,86}</string>
      </dict>
      <key>monster_16204_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{289,331},{102,87}}</string>
        <key>offset</key>
        <string>{-16,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,87}}</string>
        <key>sourceSize</key>
        <string>{102,87}</string>
      </dict>
      <key>monster_16204_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{378,195},{101,91}}</string>
        <key>offset</key>
        <string>{-13,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,91}}</string>
        <key>sourceSize</key>
        <string>{101,91}</string>
      </dict>
      <key>monster_16204_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{378,288},{101,92}}</string>
        <key>offset</key>
        <string>{-7,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,92}}</string>
        <key>sourceSize</key>
        <string>{101,92}</string>
      </dict>
      <key>monster_16204_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{463,96},{98,87}}</string>
        <key>offset</key>
        <string>{-21,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,87}}</string>
        <key>sourceSize</key>
        <string>{98,87}</string>
      </dict>
      <key>monster_16204_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{378,382},{101,88}}</string>
        <key>offset</key>
        <string>{-18,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,88}}</string>
        <key>sourceSize</key>
        <string>{101,88}</string>
      </dict>
      <key>monster_16204_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{464,0},{98,90}}</string>
        <key>offset</key>
        <string>{-10,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,90}}</string>
        <key>sourceSize</key>
        <string>{98,90}</string>
      </dict>
      <key>monster_16204_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{355,96},{97,106}}</string>
        <key>offset</key>
        <string>{-12,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,106}}</string>
        <key>sourceSize</key>
        <string>{97,106}</string>
      </dict>
      <key>monster_16204_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,340},{99,106}}</string>
        <key>offset</key>
        <string>{-11,72}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,106}}</string>
        <key>sourceSize</key>
        <string>{99,106}</string>
      </dict>
      <key>monster_16204_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{192,225},{100,104}}</string>
        <key>offset</key>
        <string>{-6,72}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,104}}</string>
        <key>sourceSize</key>
        <string>{100,104}</string>
      </dict>
      <key>monster_16204_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{101,228},{89,110}}</string>
        <key>offset</key>
        <string>{2,77}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,110}}</string>
        <key>sourceSize</key>
        <string>{89,110}</string>
      </dict>
      <key>monster_16204_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{88,0},{90,112}}</string>
        <key>offset</key>
        <string>{1,78}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,112}}</string>
        <key>sourceSize</key>
        <string>{90,112}</string>
      </dict>
      <key>monster_16204_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{355,0},{94,107}}</string>
        <key>offset</key>
        <string>{-2,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,107}}</string>
        <key>sourceSize</key>
        <string>{94,107}</string>
      </dict>
      <key>monster_16204_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,255},{119,99}}</string>
        <key>offset</key>
        <string>{-8,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,99}}</string>
        <key>sourceSize</key>
        <string>{119,99}</string>
      </dict>
      <key>monster_16204_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,376},{117,100}}</string>
        <key>offset</key>
        <string>{-8,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,100}}</string>
        <key>sourceSize</key>
        <string>{117,100}</string>
      </dict>
      <key>monster_16204_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{179,114},{109,101}}</string>
        <key>offset</key>
        <string>{-3,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,101}}</string>
        <key>sourceSize</key>
        <string>{109,101}</string>
      </dict>
      <key>monster_16204_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{126,86}}</string>
        <key>offset</key>
        <string>{-7,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,86}}</string>
        <key>sourceSize</key>
        <string>{126,86}</string>
      </dict>
      <key>monster_16204_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,128},{125,86}}</string>
        <key>offset</key>
        <string>{-8,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,86}}</string>
        <key>sourceSize</key>
        <string>{125,86}</string>
      </dict>
      <key>monster_16204_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{88,114},{112,89}}</string>
        <key>offset</key>
        <string>{1,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,89}}</string>
        <key>sourceSize</key>
        <string>{112,89}</string>
      </dict>
      <key>monster_16204_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{180,0},{108,83}}</string>
        <key>offset</key>
        <string>{-1,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,83}}</string>
        <key>sourceSize</key>
        <string>{108,83}</string>
      </dict>
      <key>monster_16204_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{203,331},{104,84}}</string>
        <key>offset</key>
        <string>{4,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,84}}</string>
        <key>sourceSize</key>
        <string>{104,84}</string>
      </dict>
      <key>monster_16204_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{265,0},{108,88}}</string>
        <key>offset</key>
        <string>{-2,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,88}}</string>
        <key>sourceSize</key>
        <string>{108,88}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16204_0_7.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>monster_16204_0_7.png</string>
    </dict>
  </dict>
</plist>