<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16109_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1211},{599,383}}</string>
        <key>offset</key>
        <string>{-211,328}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{599,383}}</string>
        <key>sourceSize</key>
        <string>{599,383}</string>
      </dict>
      <key>monster_16109_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{385,1211},{599,389}}</string>
        <key>offset</key>
        <string>{-214,333}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{599,389}}</string>
        <key>sourceSize</key>
        <string>{599,389}</string>
      </dict>
      <key>monster_16109_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{605,391}}</string>
        <key>offset</key>
        <string>{-221,339}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{605,391}}</string>
        <key>sourceSize</key>
        <string>{605,391}</string>
      </dict>
      <key>monster_16109_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,607},{602,386}}</string>
        <key>offset</key>
        <string>{-221,339}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{602,386}}</string>
        <key>sourceSize</key>
        <string>{602,386}</string>
      </dict>
      <key>monster_16109_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{393,0},{587,403}}</string>
        <key>offset</key>
        <string>{-218,347}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{587,403}}</string>
        <key>sourceSize</key>
        <string>{587,403}</string>
      </dict>
      <key>monster_16109_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{798,0},{580,403}}</string>
        <key>offset</key>
        <string>{-216,348}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{580,403}}</string>
        <key>sourceSize</key>
        <string>{580,403}</string>
      </dict>
      <key>monster_16109_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{388,607},{598,474}}</string>
        <key>offset</key>
        <string>{-222,369}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{598,474}}</string>
        <key>sourceSize</key>
        <string>{598,474}</string>
      </dict>
      <key>monster_16109_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{864,582},{451,543}}</string>
        <key>offset</key>
        <string>{-198,368}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{451,543}}</string>
        <key>sourceSize</key>
        <string>{451,543}</string>
      </dict>
      <key>monster_16109_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1317,960},{444,531}}</string>
        <key>offset</key>
        <string>{-199,369}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{444,531}}</string>
        <key>sourceSize</key>
        <string>{444,531}</string>
      </dict>
      <key>monster_16109_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1317,535},{423,532}}</string>
        <key>offset</key>
        <string>{-199,371}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{423,532}}</string>
        <key>sourceSize</key>
        <string>{423,532}</string>
      </dict>
      <key>monster_16109_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1203,0},{428,533}}</string>
        <key>offset</key>
        <string>{-199,372}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{428,533}}</string>
        <key>sourceSize</key>
        <string>{428,533}</string>
      </dict>
      <key>monster_16109_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1153,1406},{428,531}}</string>
        <key>offset</key>
        <string>{-200,369}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{428,531}}</string>
        <key>sourceSize</key>
        <string>{428,531}</string>
      </dict>
      <key>monster_16109_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1583,1406},{440,530}}</string>
        <key>offset</key>
        <string>{-199,367}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{440,530}}</string>
        <key>sourceSize</key>
        <string>{440,530}</string>
      </dict>
      <key>monster_16109_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1633,0},{377,526}}</string>
        <key>offset</key>
        <string>{-195,344}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{377,526}}</string>
        <key>sourceSize</key>
        <string>{377,526}</string>
      </dict>
      <key>monster_16109_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{776,1207},{375,547}}</string>
        <key>offset</key>
        <string>{-206,344}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{375,547}}</string>
        <key>sourceSize</key>
        <string>{375,547}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16109_0_1_0.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_16109_0_1_0.png</string>
    </dict>
  </dict>
</plist>