<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_12036_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{494,0},{504,532}}</string>
        <key>offset</key>
        <string>{-275,409}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{504,532}}</string>
        <key>sourceSize</key>
        <string>{504,532}</string>
      </dict>
      <key>monster_12036_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1184},{523,555}}</string>
        <key>offset</key>
        <string>{-297,453}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{523,555}}</string>
        <key>sourceSize</key>
        <string>{523,555}</string>
      </dict>
      <key>monster_12036_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{492,606},{496,554}}</string>
        <key>offset</key>
        <string>{-277,462}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{496,554}}</string>
        <key>sourceSize</key>
        <string>{496,554}</string>
      </dict>
      <key>monster_12036_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,606},{490,576}}</string>
        <key>offset</key>
        <string>{-269,459}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{490,576}}</string>
        <key>sourceSize</key>
        <string>{490,576}</string>
      </dict>
      <key>monster_12036_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{492,604}}</string>
        <key>offset</key>
        <string>{-268,468}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{492,604}}</string>
        <key>sourceSize</key>
        <string>{492,604}</string>
      </dict>
      <key>monster_12036_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{525,1162},{483,509}}</string>
        <key>offset</key>
        <string>{-261,362}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{483,509}}</string>
        <key>sourceSize</key>
        <string>{483,509}</string>
      </dict>
      <key>monster_12036_0_1_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1000,0},{469,457}}</string>
        <key>offset</key>
        <string>{-249,309}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{469,457}}</string>
        <key>sourceSize</key>
        <string>{469,457}</string>
      </dict>
      <key>monster_12036_0_1_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{990,534},{493,464}}</string>
        <key>offset</key>
        <string>{-241,325}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{493,464}}</string>
        <key>sourceSize</key>
        <string>{493,464}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_12036_0_1_2.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_12036_0_1_2.png</string>
    </dict>
  </dict>
</plist>