<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16236_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{253,463},{244,218}}</string>
        <key>offset</key>
        <string>{-142,148}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{244,218}}</string>
        <key>sourceSize</key>
        <string>{244,218}</string>
      </dict>
      <key>monster_16236_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{477,1141},{205,230}}</string>
        <key>offset</key>
        <string>{-118,155}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,230}}</string>
        <key>sourceSize</key>
        <string>{205,230}</string>
      </dict>
      <key>monster_16236_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{232,255}}</string>
        <key>offset</key>
        <string>{-146,185}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{232,255}}</string>
        <key>sourceSize</key>
        <string>{232,255}</string>
      </dict>
      <key>monster_16236_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,1123},{222,235}}</string>
        <key>offset</key>
        <string>{-159,157}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{222,235}}</string>
        <key>sourceSize</key>
        <string>{222,235}</string>
      </dict>
      <key>monster_16236_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{257,233},{251,228}}</string>
        <key>offset</key>
        <string>{-179,146}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{251,228}}</string>
        <key>sourceSize</key>
        <string>{251,228}</string>
      </dict>
      <key>monster_16236_0_2_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{758,476},{244,242}}</string>
        <key>offset</key>
        <string>{-174,171}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{244,242}}</string>
        <key>sourceSize</key>
        <string>{244,242}</string>
      </dict>
      <key>monster_16236_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{235,1347},{227,226}}</string>
        <key>offset</key>
        <string>{-164,171}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{227,226}}</string>
        <key>sourceSize</key>
        <string>{227,226}</string>
      </dict>
      <key>monster_16236_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{257,0},{254,231}}</string>
        <key>offset</key>
        <string>{-144,178}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{254,231}}</string>
        <key>sourceSize</key>
        <string>{254,231}</string>
      </dict>
      <key>monster_16236_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{738,720},{205,237}}</string>
        <key>offset</key>
        <string>{-117,174}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,237}}</string>
        <key>sourceSize</key>
        <string>{205,237}</string>
      </dict>
      <key>monster_16236_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{499,482},{203,241}}</string>
        <key>offset</key>
        <string>{-120,169}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{203,241}}</string>
        <key>sourceSize</key>
        <string>{203,241}</string>
      </dict>
      <key>monster_16236_0_2_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{253,683},{201,241}}</string>
        <key>offset</key>
        <string>{-127,175}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{201,241}}</string>
        <key>sourceSize</key>
        <string>{201,241}</string>
      </dict>
      <key>monster_16236_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{496,687},{240,231}}</string>
        <key>offset</key>
        <string>{-172,183}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{240,231}}</string>
        <key>sourceSize</key>
        <string>{240,231}</string>
      </dict>
      <key>monster_16236_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,701},{240,241}}</string>
        <key>offset</key>
        <string>{-170,192}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{240,241}}</string>
        <key>sourceSize</key>
        <string>{240,241}</string>
      </dict>
      <key>monster_16236_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{464,1348},{219,219}}</string>
        <key>offset</key>
        <string>{-133,169}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{219,219}}</string>
        <key>sourceSize</key>
        <string>{219,219}</string>
      </dict>
      <key>monster_16236_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{709,1149},{225,215}}</string>
        <key>offset</key>
        <string>{-129,161}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{225,215}}</string>
        <key>sourceSize</key>
        <string>{225,215}</string>
      </dict>
      <key>monster_16236_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1168},{233,211}}</string>
        <key>offset</key>
        <string>{-127,159}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{233,211}}</string>
        <key>sourceSize</key>
        <string>{233,211}</string>
      </dict>
      <key>monster_16236_0_2_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1381},{222,226}}</string>
        <key>offset</key>
        <string>{-144,175}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{222,226}}</string>
        <key>sourceSize</key>
        <string>{222,226}</string>
      </dict>
      <key>monster_16236_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{724,927},{232,220}}</string>
        <key>offset</key>
        <string>{-131,163}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{232,220}}</string>
        <key>sourceSize</key>
        <string>{232,220}</string>
      </dict>
      <key>monster_16236_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,234},{251,226}}</string>
        <key>offset</key>
        <string>{-129,167}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{251,226}}</string>
        <key>sourceSize</key>
        <string>{251,226}</string>
      </dict>
      <key>monster_16236_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,462},{251,237}}</string>
        <key>offset</key>
        <string>{-120,187}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{251,237}}</string>
        <key>sourceSize</key>
        <string>{251,237}</string>
      </dict>
      <key>monster_16236_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{243,886},{240,235}}</string>
        <key>offset</key>
        <string>{-125,183}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{240,235}}</string>
        <key>sourceSize</key>
        <string>{240,235}</string>
      </dict>
      <key>monster_16236_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{485,920},{237,219}}</string>
        <key>offset</key>
        <string>{-141,168}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{237,219}}</string>
        <key>sourceSize</key>
        <string>{237,219}</string>
      </dict>
      <key>monster_16236_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{767,0},{251,223}}</string>
        <key>offset</key>
        <string>{-139,170}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{251,223}}</string>
        <key>sourceSize</key>
        <string>{251,223}</string>
      </dict>
      <key>monster_16236_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{510,238},{242,246}}</string>
        <key>offset</key>
        <string>{-115,174}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{242,246}}</string>
        <key>sourceSize</key>
        <string>{242,246}</string>
      </dict>
      <key>monster_16236_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{767,225},{249,251}}</string>
        <key>offset</key>
        <string>{-146,171}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{249,251}}</string>
        <key>sourceSize</key>
        <string>{249,251}</string>
      </dict>
      <key>monster_16236_0_2_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,943},{223,238}}</string>
        <key>offset</key>
        <string>{-120,172}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{223,238}}</string>
        <key>sourceSize</key>
        <string>{223,238}</string>
      </dict>
      <key>monster_16236_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{513,0},{252,236}}</string>
        <key>offset</key>
        <string>{-104,163}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{252,236}}</string>
        <key>sourceSize</key>
        <string>{252,236}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16236_0_2_1.png</string>
      <key>size</key>
      <string>{1024,2048}</string>
      <key>textureFileName</key>
      <string>monster_16236_0_2_1.png</string>
    </dict>
  </dict>
</plist>