<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16103_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{688,693},{670,674}}</string>
        <key>offset</key>
        <string>{-300,471}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{670,674}}</string>
        <key>sourceSize</key>
        <string>{670,674}</string>
      </dict>
      <key>monster_16103_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{688,0},{581,567}}</string>
        <key>offset</key>
        <string>{-214,442}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{581,567}}</string>
        <key>sourceSize</key>
        <string>{581,567}</string>
      </dict>
      <key>monster_16103_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1386},{665,650}}</string>
        <key>offset</key>
        <string>{-271,453}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{665,650}}</string>
        <key>sourceSize</key>
        <string>{665,650}</string>
      </dict>
      <key>monster_16103_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{691,686}}</string>
        <key>offset</key>
        <string>{-285,476}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{691,686}}</string>
        <key>sourceSize</key>
        <string>{691,686}</string>
      </dict>
      <key>monster_16103_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1334,1369},{610,569}}</string>
        <key>offset</key>
        <string>{-186,404}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{610,569}}</string>
        <key>sourceSize</key>
        <string>{610,569}</string>
      </dict>
      <key>monster_16103_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1360,0},{610,569}}</string>
        <key>offset</key>
        <string>{-362,404}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{610,569}}</string>
        <key>sourceSize</key>
        <string>{610,569}</string>
      </dict>
      <key>monster_16103_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{667,1386},{665,650}}</string>
        <key>offset</key>
        <string>{-332,453}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{665,650}}</string>
        <key>sourceSize</key>
        <string>{665,650}</string>
      </dict>
      <key>monster_16103_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,693},{691,686}}</string>
        <key>offset</key>
        <string>{-344,476}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{691,686}}</string>
        <key>sourceSize</key>
        <string>{691,686}</string>
      </dict>
      <key>monster_16103_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1360,571},{581,567}}</string>
        <key>offset</key>
        <string>{-305,442}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{581,567}}</string>
        <key>sourceSize</key>
        <string>{581,567}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16103_0_2_1.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_16103_0_2_1.png</string>
    </dict>
  </dict>
</plist>