<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16176_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1178,985},{449,421}}</string>
        <key>offset</key>
        <string>{-253,268}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{449,421}}</string>
        <key>sourceSize</key>
        <string>{449,421}</string>
      </dict>
      <key>monster_16176_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{593,415}}</string>
        <key>offset</key>
        <string>{-260,261}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{593,415}}</string>
        <key>sourceSize</key>
        <string>{593,415}</string>
      </dict>
      <key>monster_16176_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{417,0},{581,411}}</string>
        <key>offset</key>
        <string>{-259,255}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{581,411}}</string>
        <key>sourceSize</key>
        <string>{581,411}</string>
      </dict>
      <key>monster_16176_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{830,0},{570,411}}</string>
        <key>offset</key>
        <string>{-252,259}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{570,411}}</string>
        <key>sourceSize</key>
        <string>{570,411}</string>
      </dict>
      <key>monster_16176_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1243,0},{553,386}}</string>
        <key>offset</key>
        <string>{-248,254}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{553,386}}</string>
        <key>sourceSize</key>
        <string>{553,386}</string>
      </dict>
      <key>monster_16176_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{595,996},{449,421}}</string>
        <key>offset</key>
        <string>{-142,268}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{449,421}}</string>
        <key>sourceSize</key>
        <string>{449,421}</string>
      </dict>
      <key>monster_16176_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,595},{593,415}}</string>
        <key>offset</key>
        <string>{-279,261}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{593,415}}</string>
        <key>sourceSize</key>
        <string>{593,415}</string>
      </dict>
      <key>monster_16176_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{595,583},{581,411}}</string>
        <key>offset</key>
        <string>{-268,255}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{581,411}}</string>
        <key>sourceSize</key>
        <string>{581,411}</string>
      </dict>
      <key>monster_16176_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1178,572},{570,411}}</string>
        <key>offset</key>
        <string>{-264,259}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{570,411}}</string>
        <key>sourceSize</key>
        <string>{570,411}</string>
      </dict>
      <key>monster_16176_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1631,0},{461,391}}</string>
        <key>offset</key>
        <string>{-186,257}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{461,391}}</string>
        <key>sourceSize</key>
        <string>{461,391}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16176_0_2_2.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_16176_0_2_2.png</string>
    </dict>
  </dict>
</plist>