<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16351_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{488,463},{118,98}}</string>
        <key>offset</key>
        <string>{-46,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,98}}</string>
        <key>sourceSize</key>
        <string>{118,98}</string>
      </dict>
      <key>monster_16351_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{690,154},{143,101}}</string>
        <key>offset</key>
        <string>{-64,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,101}}</string>
        <key>sourceSize</key>
        <string>{143,101}</string>
      </dict>
      <key>monster_16351_0_4_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{153,120}}</string>
        <key>offset</key>
        <string>{-62,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,120}}</string>
        <key>sourceSize</key>
        <string>{153,120}</string>
      </dict>
      <key>monster_16351_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{732,0},{143,101}}</string>
        <key>offset</key>
        <string>{-64,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,101}}</string>
        <key>sourceSize</key>
        <string>{143,101}</string>
      </dict>
      <key>monster_16351_0_4_1_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,155},{153,120}}</string>
        <key>offset</key>
        <string>{-62,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,120}}</string>
        <key>sourceSize</key>
        <string>{153,120}</string>
      </dict>
      <key>monster_16351_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{835,0},{143,101}}</string>
        <key>offset</key>
        <string>{-64,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,101}}</string>
        <key>sourceSize</key>
        <string>{143,101}</string>
      </dict>
      <key>monster_16351_0_4_2_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,310},{153,120}}</string>
        <key>offset</key>
        <string>{-62,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,120}}</string>
        <key>sourceSize</key>
        <string>{153,120}</string>
      </dict>
      <key>monster_16351_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{835,103},{143,101}}</string>
        <key>offset</key>
        <string>{-64,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,101}}</string>
        <key>sourceSize</key>
        <string>{143,101}</string>
      </dict>
      <key>monster_16351_0_4_3_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,310},{153,120}}</string>
        <key>offset</key>
        <string>{-62,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,120}}</string>
        <key>sourceSize</key>
        <string>{153,120}</string>
      </dict>
      <key>monster_16351_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{610,154},{144,78}}</string>
        <key>offset</key>
        <string>{-58,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,78}}</string>
        <key>sourceSize</key>
        <string>{144,78}</string>
      </dict>
      <key>monster_16351_0_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{732,299},{143,101}}</string>
        <key>offset</key>
        <string>{-64,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,101}}</string>
        <key>sourceSize</key>
        <string>{143,101}</string>
      </dict>
      <key>monster_16351_0_4_4_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,0},{153,120}}</string>
        <key>offset</key>
        <string>{-62,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,120}}</string>
        <key>sourceSize</key>
        <string>{153,120}</string>
      </dict>
      <key>monster_16351_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{732,444},{119,98}}</string>
        <key>offset</key>
        <string>{-47,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,98}}</string>
        <key>sourceSize</key>
        <string>{119,98}</string>
      </dict>
      <key>monster_16351_0_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{835,206},{143,101}}</string>
        <key>offset</key>
        <string>{-54,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,101}}</string>
        <key>sourceSize</key>
        <string>{143,101}</string>
      </dict>
      <key>monster_16351_0_4_5_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,155},{152,120}}</string>
        <key>offset</key>
        <string>{-65,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,120}}</string>
        <key>sourceSize</key>
        <string>{152,120}</string>
      </dict>
      <key>monster_16351_0_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{835,412},{120,98}}</string>
        <key>offset</key>
        <string>{-43,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,98}}</string>
        <key>sourceSize</key>
        <string>{120,98}</string>
      </dict>
      <key>monster_16351_0_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{835,309},{143,101}}</string>
        <key>offset</key>
        <string>{-49,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,101}}</string>
        <key>sourceSize</key>
        <string>{143,101}</string>
      </dict>
      <key>monster_16351_0_4_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{488,155},{152,120}}</string>
        <key>offset</key>
        <string>{-60,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,120}}</string>
        <key>sourceSize</key>
        <string>{152,120}</string>
      </dict>
      <key>monster_16351_0_4_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{488,0},{152,120}}</string>
        <key>offset</key>
        <string>{-60,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,120}}</string>
        <key>sourceSize</key>
        <string>{152,120}</string>
      </dict>
      <key>monster_16351_0_4_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{610,0},{152,120}}</string>
        <key>offset</key>
        <string>{-60,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,120}}</string>
        <key>sourceSize</key>
        <string>{152,120}</string>
      </dict>
      <key>monster_16351_0_4_6_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{488,309},{152,120}}</string>
        <key>offset</key>
        <string>{-60,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,120}}</string>
        <key>sourceSize</key>
        <string>{152,120}</string>
      </dict>
      <key>monster_16351_0_4_6_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{610,309},{152,120}}</string>
        <key>offset</key>
        <string>{-60,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,120}}</string>
        <key>sourceSize</key>
        <string>{152,120}</string>
      </dict>
      <key>monster_16351_0_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{832,512},{119,98}}</string>
        <key>offset</key>
        <string>{-51,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,98}}</string>
        <key>sourceSize</key>
        <string>{119,98}</string>
      </dict>
      <key>monster_16351_0_4_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,155},{153,120}}</string>
        <key>offset</key>
        <string>{-69,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,120}}</string>
        <key>sourceSize</key>
        <string>{153,120}</string>
      </dict>
      <key>monster_16351_0_4_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,155},{153,120}}</string>
        <key>offset</key>
        <string>{-69,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,120}}</string>
        <key>sourceSize</key>
        <string>{153,120}</string>
      </dict>
      <key>monster_16351_0_4_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,0},{153,120}}</string>
        <key>offset</key>
        <string>{-69,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,120}}</string>
        <key>sourceSize</key>
        <string>{153,120}</string>
      </dict>
      <key>monster_16351_0_4_7_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,0},{153,120}}</string>
        <key>offset</key>
        <string>{-69,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,120}}</string>
        <key>sourceSize</key>
        <string>{153,120}</string>
      </dict>
      <key>monster_16351_0_4_7_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,310},{153,120}}</string>
        <key>offset</key>
        <string>{-69,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,120}}</string>
        <key>sourceSize</key>
        <string>{153,120}</string>
      </dict>
      <key>monster_16351_0_4_7_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,310},{153,120}}</string>
        <key>offset</key>
        <string>{-69,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,120}}</string>
        <key>sourceSize</key>
        <string>{153,120}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16351_0_4_1.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>monster_16351_0_4_1.png</string>
    </dict>
  </dict>
</plist>