<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_12045_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,547},{142,204}}</string>
        <key>offset</key>
        <string>{-45,179}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,204}}</string>
        <key>sourceSize</key>
        <string>{142,204}</string>
      </dict>
      <key>monster_12045_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{694,271},{135,208}}</string>
        <key>offset</key>
        <string>{-53,164}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,208}}</string>
        <key>sourceSize</key>
        <string>{135,208}</string>
      </dict>
      <key>monster_12045_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{719,120},{149,216}}</string>
        <key>offset</key>
        <string>{-64,183}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,216}}</string>
        <key>sourceSize</key>
        <string>{149,216}</string>
      </dict>
      <key>monster_12045_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,691},{140,198}}</string>
        <key>offset</key>
        <string>{-53,170}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,198}}</string>
        <key>sourceSize</key>
        <string>{140,198}</string>
      </dict>
      <key>monster_12045_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{255,113},{137,221}}</string>
        <key>offset</key>
        <string>{-36,184}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,221}}</string>
        <key>sourceSize</key>
        <string>{137,221}</string>
      </dict>
      <key>monster_12045_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{435,277},{150,208}}</string>
        <key>offset</key>
        <string>{-49,190}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,208}}</string>
        <key>sourceSize</key>
        <string>{150,208}</string>
      </dict>
      <key>monster_12045_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{407,693},{123,197}}</string>
        <key>offset</key>
        <string>{-27,164}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,197}}</string>
        <key>sourceSize</key>
        <string>{123,197}</string>
      </dict>
      <key>monster_12045_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,284},{134,209}}</string>
        <key>offset</key>
        <string>{-40,164}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,209}}</string>
        <key>sourceSize</key>
        <string>{134,209}</string>
      </dict>
      <key>monster_12045_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{147,253}}</string>
        <key>offset</key>
        <string>{-65,219}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,253}}</string>
        <key>sourceSize</key>
        <string>{147,253}</string>
      </dict>
      <key>monster_12045_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{415,561},{130,201}}</string>
        <key>offset</key>
        <string>{-36,181}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,201}}</string>
        <key>sourceSize</key>
        <string>{130,201}</string>
      </dict>
      <key>monster_12045_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{852,408},{137,202}}</string>
        <key>offset</key>
        <string>{-37,177}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,202}}</string>
        <key>sourceSize</key>
        <string>{137,202}</string>
      </dict>
      <key>monster_12045_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{645,408},{120,205}}</string>
        <key>offset</key>
        <string>{-18,179}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,205}}</string>
        <key>sourceSize</key>
        <string>{120,205}</string>
      </dict>
      <key>monster_12045_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{206,654},{115,199}}</string>
        <key>offset</key>
        <string>{-22,164}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,199}}</string>
        <key>sourceSize</key>
        <string>{115,199}</string>
      </dict>
      <key>monster_12045_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,149},{133,221}}</string>
        <key>offset</key>
        <string>{-33,179}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,221}}</string>
        <key>sourceSize</key>
        <string>{133,221}</string>
      </dict>
      <key>monster_12045_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{478,156},{119,214}}</string>
        <key>offset</key>
        <string>{-23,186}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,214}}</string>
        <key>sourceSize</key>
        <string>{119,214}</string>
      </dict>
      <key>monster_12045_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{421,429},{130,205}}</string>
        <key>offset</key>
        <string>{-29,177}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,205}}</string>
        <key>sourceSize</key>
        <string>{130,205}</string>
      </dict>
      <key>monster_12045_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{628,530},{133,202}}</string>
        <key>offset</key>
        <string>{-35,175}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,202}}</string>
        <key>sourceSize</key>
        <string>{133,202}</string>
      </dict>
      <key>monster_12045_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{832,612},{119,198}}</string>
        <key>offset</key>
        <string>{-17,165}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,198}}</string>
        <key>sourceSize</key>
        <string>{119,198}</string>
      </dict>
      <key>monster_12045_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{361,1223},{118,164}}</string>
        <key>offset</key>
        <string>{-25,135}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,164}}</string>
        <key>sourceSize</key>
        <string>{118,164}</string>
      </dict>
      <key>monster_12045_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{175,1327},{133,164}}</string>
        <key>offset</key>
        <string>{-32,138}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,164}}</string>
        <key>sourceSize</key>
        <string>{133,164}</string>
      </dict>
      <key>monster_12045_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{183,1186},{139,176}}</string>
        <key>offset</key>
        <string>{-24,151}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,176}}</string>
        <key>sourceSize</key>
        <string>{139,176}</string>
      </dict>
      <key>monster_12045_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{372,1099},{122,178}}</string>
        <key>offset</key>
        <string>{-16,145}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,178}}</string>
        <key>sourceSize</key>
        <string>{122,178}</string>
      </dict>
      <key>monster_12045_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{585,925},{145,182}}</string>
        <key>offset</key>
        <string>{-56,149}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,182}}</string>
        <key>sourceSize</key>
        <string>{145,182}</string>
      </dict>
      <key>monster_12045_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{744,1100},{130,172}}</string>
        <key>offset</key>
        <string>{-33,142}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,172}}</string>
        <key>sourceSize</key>
        <string>{130,172}</string>
      </dict>
      <key>monster_12045_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{341,1343},{129,156}}</string>
        <key>offset</key>
        <string>{-44,125}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,156}}</string>
        <key>sourceSize</key>
        <string>{129,156}</string>
      </dict>
      <key>monster_12045_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1412},{130,162}}</string>
        <key>offset</key>
        <string>{-37,128}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,162}}</string>
        <key>sourceSize</key>
        <string>{130,162}</string>
      </dict>
      <key>monster_12045_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{769,955},{143,179}}</string>
        <key>offset</key>
        <string>{-29,138}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,179}}</string>
        <key>sourceSize</key>
        <string>{143,179}</string>
      </dict>
      <key>monster_12045_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{552,1218},{142,167}}</string>
        <key>offset</key>
        <string>{-35,136}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,167}}</string>
        <key>sourceSize</key>
        <string>{142,167}</string>
      </dict>
      <key>monster_12045_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{797,812},{141,183}}</string>
        <key>offset</key>
        <string>{-57,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,183}}</string>
        <key>sourceSize</key>
        <string>{141,183}</string>
      </dict>
      <key>monster_12045_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{379,943},{154,182}}</string>
        <key>offset</key>
        <string>{-69,157}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,182}}</string>
        <key>sourceSize</key>
        <string>{154,182}</string>
      </dict>
      <key>monster_12045_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{395,818},{123,188}}</string>
        <key>offset</key>
        <string>{-56,152}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,188}}</string>
        <key>sourceSize</key>
        <string>{123,188}</string>
      </dict>
      <key>monster_12045_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{563,1072},{144,179}}</string>
        <key>offset</key>
        <string>{-60,142}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,179}}</string>
        <key>sourceSize</key>
        <string>{144,179}</string>
      </dict>
      <key>monster_12045_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1127},{148,181}}</string>
        <key>offset</key>
        <string>{-45,137}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,181}}</string>
        <key>sourceSize</key>
        <string>{148,181}</string>
      </dict>
      <key>monster_12045_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1277},{133,173}}</string>
        <key>offset</key>
        <string>{-51,148}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,173}}</string>
        <key>sourceSize</key>
        <string>{133,173}</string>
      </dict>
      <key>monster_12045_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,771},{158,193}}</string>
        <key>offset</key>
        <string>{-66,170}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,193}}</string>
        <key>sourceSize</key>
        <string>{158,193}</string>
      </dict>
      <key>monster_12045_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,523},{129,205}}</string>
        <key>offset</key>
        <string>{-62,173}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,205}}</string>
        <key>sourceSize</key>
        <string>{129,205}</string>
      </dict>
      <key>monster_12045_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{719,0},{118,220}}</string>
        <key>offset</key>
        <string>{-51,185}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,220}}</string>
        <key>sourceSize</key>
        <string>{118,220}</string>
      </dict>
      <key>monster_12045_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{188,1048},{136,182}}</string>
        <key>offset</key>
        <string>{-54,152}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,182}}</string>
        <key>sourceSize</key>
        <string>{136,182}</string>
      </dict>
      <key>monster_12045_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{618,665},{125,198}}</string>
        <key>offset</key>
        <string>{-50,161}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,198}}</string>
        <key>sourceSize</key>
        <string>{125,198}</string>
      </dict>
      <key>monster_12045_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,833},{149,189}}</string>
        <key>offset</key>
        <string>{-57,157}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,189}}</string>
        <key>sourceSize</key>
        <string>{149,189}</string>
      </dict>
      <key>monster_12045_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{223,252},{133,210}}</string>
        <key>offset</key>
        <string>{-49,183}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,210}}</string>
        <key>sourceSize</key>
        <string>{133,210}</string>
      </dict>
      <key>monster_12045_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{255,0},{111,236}}</string>
        <key>offset</key>
        <string>{-52,202}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,236}}</string>
        <key>sourceSize</key>
        <string>{111,236}</string>
      </dict>
      <key>monster_12045_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{191,931},{115,186}}</string>
        <key>offset</key>
        <string>{-47,165}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,186}}</string>
        <key>sourceSize</key>
        <string>{115,186}</string>
      </dict>
      <key>monster_12045_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{606,792},{131,189}}</string>
        <key>offset</key>
        <string>{-57,159}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,189}}</string>
        <key>sourceSize</key>
        <string>{131,189}</string>
      </dict>
      <key>monster_12045_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,984},{141,186}}</string>
        <key>offset</key>
        <string>{-71,161}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,186}}</string>
        <key>sourceSize</key>
        <string>{141,186}</string>
      </dict>
      <key>monster_12045_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,420},{125,206}}</string>
        <key>offset</key>
        <string>{-63,173}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,206}}</string>
        <key>sourceSize</key>
        <string>{125,206}</string>
      </dict>
      <key>monster_12045_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{493,0},{154,224}}</string>
        <key>offset</key>
        <string>{-51,187}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,224}}</string>
        <key>sourceSize</key>
        <string>{154,224}</string>
      </dict>
      <key>monster_12045_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{211,387},{134,208}}</string>
        <key>offset</key>
        <string>{-49,180}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,208}}</string>
        <key>sourceSize</key>
        <string>{134,208}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_12045_0_1.png</string>
      <key>size</key>
      <string>{1024,2048}</string>
      <key>textureFileName</key>
      <string>monster_12045_0_1.png</string>
    </dict>
  </dict>
</plist>