<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_10225_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,66},{63,125}}</string>
        <key>offset</key>
        <string>{-14,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,125}}</string>
        <key>sourceSize</key>
        <string>{63,125}</string>
      </dict>
      <key>monster_10225_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{280,0},{62,132}}</string>
        <key>offset</key>
        <string>{-13,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,132}}</string>
        <key>sourceSize</key>
        <string>{62,132}</string>
      </dict>
      <key>monster_10225_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{58,140}}</string>
        <key>offset</key>
        <string>{-9,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,140}}</string>
        <key>sourceSize</key>
        <string>{58,140}</string>
      </dict>
      <key>monster_10225_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,124},{57,124}}</string>
        <key>offset</key>
        <string>{-9,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,124}}</string>
        <key>sourceSize</key>
        <string>{57,124}</string>
      </dict>
      <key>monster_10225_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,60},{62,135}}</string>
        <key>offset</key>
        <string>{-13,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,135}}</string>
        <key>sourceSize</key>
        <string>{62,135}</string>
      </dict>
      <key>monster_10225_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,0},{64,136}}</string>
        <key>offset</key>
        <string>{-16,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,136}}</string>
        <key>sourceSize</key>
        <string>{64,136}</string>
      </dict>
      <key>monster_10225_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,342},{72,114}}</string>
        <key>offset</key>
        <string>{-14,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,114}}</string>
        <key>sourceSize</key>
        <string>{72,114}</string>
      </dict>
      <key>monster_10225_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,131},{71,124}}</string>
        <key>offset</key>
        <string>{-12,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,124}}</string>
        <key>sourceSize</key>
        <string>{71,124}</string>
      </dict>
      <key>monster_10225_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{414,0},{81,129}}</string>
        <key>offset</key>
        <string>{-21,90}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,129}}</string>
        <key>sourceSize</key>
        <string>{81,129}</string>
      </dict>
      <key>monster_10225_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,229},{64,117}}</string>
        <key>offset</key>
        <string>{-5,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,117}}</string>
        <key>sourceSize</key>
        <string>{64,117}</string>
      </dict>
      <key>monster_10225_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{411,131},{80,123}}</string>
        <key>offset</key>
        <string>{-21,89}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,123}}</string>
        <key>sourceSize</key>
        <string>{80,123}</string>
      </dict>
      <key>monster_10225_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,204},{84,122}}</string>
        <key>offset</key>
        <string>{-26,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,122}}</string>
        <key>sourceSize</key>
        <string>{84,122}</string>
      </dict>
      <key>monster_10225_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,617},{87,98}}</string>
        <key>offset</key>
        <string>{-17,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,98}}</string>
        <key>sourceSize</key>
        <string>{87,98}</string>
      </dict>
      <key>monster_10225_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{226,398},{96,99}}</string>
        <key>offset</key>
        <string>{-26,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,99}}</string>
        <key>sourceSize</key>
        <string>{96,99}</string>
      </dict>
      <key>monster_10225_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{243,295},{108,101}}</string>
        <key>offset</key>
        <string>{-37,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,101}}</string>
        <key>sourceSize</key>
        <string>{108,101}</string>
      </dict>
      <key>monster_10225_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{108,459},{88,99}}</string>
        <key>offset</key>
        <string>{-16,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,99}}</string>
        <key>sourceSize</key>
        <string>{88,99}</string>
      </dict>
      <key>monster_10225_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,517},{99,98}}</string>
        <key>offset</key>
        <string>{-28,78}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,98}}</string>
        <key>sourceSize</key>
        <string>{99,98}</string>
      </dict>
      <key>monster_10225_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,416},{106,99}}</string>
        <key>offset</key>
        <string>{-36,76}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,99}}</string>
        <key>sourceSize</key>
        <string>{106,99}</string>
      </dict>
      <key>monster_10225_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{93,817},{76,89}}</string>
        <key>offset</key>
        <string>{-11,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,89}}</string>
        <key>sourceSize</key>
        <string>{76,89}</string>
      </dict>
      <key>monster_10225_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,777},{78,91}}</string>
        <key>offset</key>
        <string>{-14,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,91}}</string>
        <key>sourceSize</key>
        <string>{78,91}</string>
      </dict>
      <key>monster_10225_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,649},{86,95}}</string>
        <key>offset</key>
        <string>{-21,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,95}}</string>
        <key>sourceSize</key>
        <string>{86,95}</string>
      </dict>
      <key>monster_10225_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{191,737},{76,91}}</string>
        <key>offset</key>
        <string>{-8,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,91}}</string>
        <key>sourceSize</key>
        <string>{76,91}</string>
      </dict>
      <key>monster_10225_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{389,737},{78,92}}</string>
        <key>offset</key>
        <string>{-11,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,92}}</string>
        <key>sourceSize</key>
        <string>{78,92}</string>
      </dict>
      <key>monster_10225_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,653},{82,94}}</string>
        <key>offset</key>
        <string>{-16,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,94}}</string>
        <key>sourceSize</key>
        <string>{82,94}</string>
      </dict>
      <key>monster_10225_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,706},{69,95}}</string>
        <key>offset</key>
        <string>{-10,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,95}}</string>
        <key>sourceSize</key>
        <string>{69,95}</string>
      </dict>
      <key>monster_10225_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{397,666},{69,94}}</string>
        <key>offset</key>
        <string>{-12,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,94}}</string>
        <key>sourceSize</key>
        <string>{69,94}</string>
      </dict>
      <key>monster_10225_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,586},{65,96}}</string>
        <key>offset</key>
        <string>{-12,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,96}}</string>
        <key>sourceSize</key>
        <string>{65,96}</string>
      </dict>
      <key>monster_10225_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{410,531},{62,97}}</string>
        <key>offset</key>
        <string>{-9,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,97}}</string>
        <key>sourceSize</key>
        <string>{62,97}</string>
      </dict>
      <key>monster_10225_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{410,595},{69,97}}</string>
        <key>offset</key>
        <string>{-11,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,97}}</string>
        <key>sourceSize</key>
        <string>{69,97}</string>
      </dict>
      <key>monster_10225_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{428,431},{72,98}}</string>
        <key>offset</key>
        <string>{-11,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,98}}</string>
        <key>sourceSize</key>
        <string>{72,98}</string>
      </dict>
      <key>monster_10225_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,857},{76,89}}</string>
        <key>offset</key>
        <string>{-15,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,89}}</string>
        <key>sourceSize</key>
        <string>{76,89}</string>
      </dict>
      <key>monster_10225_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{284,790},{78,91}}</string>
        <key>offset</key>
        <string>{-14,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,91}}</string>
        <key>sourceSize</key>
        <string>{78,91}</string>
      </dict>
      <key>monster_10225_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,618},{86,95}}</string>
        <key>offset</key>
        <string>{-15,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,95}}</string>
        <key>sourceSize</key>
        <string>{86,95}</string>
      </dict>
      <key>monster_10225_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{191,815},{76,91}}</string>
        <key>offset</key>
        <string>{-18,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,91}}</string>
        <key>sourceSize</key>
        <string>{76,91}</string>
      </dict>
      <key>monster_10225_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{97,737},{78,92}}</string>
        <key>offset</key>
        <string>{-17,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,92}}</string>
        <key>sourceSize</key>
        <string>{78,92}</string>
      </dict>
      <key>monster_10225_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{293,706},{82,94}}</string>
        <key>offset</key>
        <string>{-16,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,94}}</string>
        <key>sourceSize</key>
        <string>{82,94}</string>
      </dict>
      <key>monster_10225_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{310,529},{87,98}}</string>
        <key>offset</key>
        <string>{-20,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,98}}</string>
        <key>sourceSize</key>
        <string>{87,98}</string>
      </dict>
      <key>monster_10225_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{327,431},{96,99}}</string>
        <key>offset</key>
        <string>{-20,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,99}}</string>
        <key>sourceSize</key>
        <string>{96,99}</string>
      </dict>
      <key>monster_10225_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{116,356},{108,101}}</string>
        <key>offset</key>
        <string>{-21,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,101}}</string>
        <key>sourceSize</key>
        <string>{108,101}</string>
      </dict>
      <key>monster_10225_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{209,496},{88,99}}</string>
        <key>offset</key>
        <string>{-22,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,99}}</string>
        <key>sourceSize</key>
        <string>{88,99}</string>
      </dict>
      <key>monster_10225_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{101,549},{99,98}}</string>
        <key>offset</key>
        <string>{-21,78}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,98}}</string>
        <key>sourceSize</key>
        <string>{99,98}</string>
      </dict>
      <key>monster_10225_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{353,330},{106,99}}</string>
        <key>offset</key>
        <string>{-20,76}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,99}}</string>
        <key>sourceSize</key>
        <string>{106,99}</string>
      </dict>
      <key>monster_10225_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{369,256},{72,114}}</string>
        <key>offset</key>
        <string>{-8,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,114}}</string>
        <key>sourceSize</key>
        <string>{72,114}</string>
      </dict>
      <key>monster_10225_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,183},{71,124}}</string>
        <key>offset</key>
        <string>{-9,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,124}}</string>
        <key>sourceSize</key>
        <string>{71,124}</string>
      </dict>
      <key>monster_10225_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{280,64},{81,129}}</string>
        <key>offset</key>
        <string>{-10,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,129}}</string>
        <key>sourceSize</key>
        <string>{81,129}</string>
      </dict>
      <key>monster_10225_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,290},{64,117}}</string>
        <key>offset</key>
        <string>{-9,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,117}}</string>
        <key>sourceSize</key>
        <string>{64,117}</string>
      </dict>
      <key>monster_10225_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{252,147},{80,123}}</string>
        <key>offset</key>
        <string>{-9,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,123}}</string>
        <key>sourceSize</key>
        <string>{80,123}</string>
      </dict>
      <key>monster_10225_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,256},{84,122}}</string>
        <key>offset</key>
        <string>{-8,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,122}}</string>
        <key>sourceSize</key>
        <string>{84,122}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_10225_0_1.png</string>
      <key>size</key>
      <string>{512,1024}</string>
      <key>textureFileName</key>
      <string>monster_10225_0_1.png</string>
    </dict>
  </dict>
</plist>