<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_2127_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{566,0},{343,277}}</string>
        <key>offset</key>
        <string>{-146,203}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{343,277}}</string>
        <key>sourceSize</key>
        <string>{343,277}</string>
      </dict>
      <key>monster_2127_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{715,708},{279,319}}</string>
        <key>offset</key>
        <string>{-150,220}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{279,319}}</string>
        <key>sourceSize</key>
        <string>{279,319}</string>
      </dict>
      <key>monster_2127_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{362,721},{351,268}}</string>
        <key>offset</key>
        <string>{-202,204}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{351,268}}</string>
        <key>sourceSize</key>
        <string>{351,268}</string>
      </dict>
      <key>monster_2127_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{539,356},{350,287}}</string>
        <key>offset</key>
        <string>{-200,221}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{350,287}}</string>
        <key>sourceSize</key>
        <string>{350,287}</string>
      </dict>
      <key>monster_2127_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{362,285}}</string>
        <key>offset</key>
        <string>{-223,222}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{362,285}}</string>
        <key>sourceSize</key>
        <string>{362,285}</string>
      </dict>
      <key>monster_2127_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{287,0},{354,277}}</string>
        <key>offset</key>
        <string>{-220,210}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{354,277}}</string>
        <key>sourceSize</key>
        <string>{354,277}</string>
      </dict>
      <key>monster_2127_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,364},{360,264}}</string>
        <key>offset</key>
        <string>{-224,200}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{360,264}}</string>
        <key>sourceSize</key>
        <string>{360,264}</string>
      </dict>
      <key>monster_2127_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{266,364},{355,271}}</string>
        <key>offset</key>
        <string>{-221,213}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{355,271}}</string>
        <key>sourceSize</key>
        <string>{355,271}</string>
      </dict>
      <key>monster_2127_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,726},{360,288}}</string>
        <key>offset</key>
        <string>{-226,223}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{360,288}}</string>
        <key>sourceSize</key>
        <string>{360,288}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_2127_0_1_0.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>monster_2127_0_1_0.png</string>
    </dict>
  </dict>
</plist>