<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20137_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1589},{378,181}}</string>
        <key>offset</key>
        <string>{-100,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{378,181}}</string>
        <key>sourceSize</key>
        <string>{378,181}</string>
      </dict>
      <key>monster_20137_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{183,797},{374,170}}</string>
        <key>offset</key>
        <string>{-101,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{374,170}}</string>
        <key>sourceSize</key>
        <string>{374,170}</string>
      </dict>
      <key>monster_20137_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{355,764},{368,175}}</string>
        <key>offset</key>
        <string>{-106,131}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{368,175}}</string>
        <key>sourceSize</key>
        <string>{368,175}</string>
      </dict>
      <key>monster_20137_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{183,1582},{368,179}}</string>
        <key>offset</key>
        <string>{-115,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{368,179}}</string>
        <key>sourceSize</key>
        <string>{368,179}</string>
      </dict>
      <key>monster_20137_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{353,391},{371,182}}</string>
        <key>offset</key>
        <string>{-120,120}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{371,182}}</string>
        <key>sourceSize</key>
        <string>{371,182}</string>
      </dict>
      <key>monster_20137_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{364,1582},{368,188}}</string>
        <key>offset</key>
        <string>{-110,128}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{368,188}}</string>
        <key>sourceSize</key>
        <string>{368,188}</string>
      </dict>
      <key>monster_20137_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{984,0},{299,189}}</string>
        <key>offset</key>
        <string>{-104,148}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{299,189}}</string>
        <key>sourceSize</key>
        <string>{299,189}</string>
      </dict>
      <key>monster_20137_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{966,1388},{299,192}}</string>
        <key>offset</key>
        <string>{-112,149}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{299,192}}</string>
        <key>sourceSize</key>
        <string>{299,192}</string>
      </dict>
      <key>monster_20137_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{985,1009},{296,192}}</string>
        <key>offset</key>
        <string>{-113,158}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{296,192}}</string>
        <key>sourceSize</key>
        <string>{296,192}</string>
      </dict>
      <key>monster_20137_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1175,0},{290,202}}</string>
        <key>offset</key>
        <string>{-111,161}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{290,202}}</string>
        <key>sourceSize</key>
        <string>{290,202}</string>
      </dict>
      <key>monster_20137_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1160,1307},{288,201}}</string>
        <key>offset</key>
        <string>{-111,152}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{288,201}}</string>
        <key>sourceSize</key>
        <string>{288,201}</string>
      </dict>
      <key>monster_20137_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1160,1597},{285,195}}</string>
        <key>offset</key>
        <string>{-104,150}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{285,195}}</string>
        <key>sourceSize</key>
        <string>{285,195}</string>
      </dict>
      <key>monster_20137_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1769,212},{266,207}}</string>
        <key>offset</key>
        <string>{-82,174}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{266,207}}</string>
        <key>sourceSize</key>
        <string>{266,207}</string>
      </dict>
      <key>monster_20137_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1769,421},{265,208}}</string>
        <key>offset</key>
        <string>{-80,177}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{265,208}}</string>
        <key>sourceSize</key>
        <string>{265,208}</string>
      </dict>
      <key>monster_20137_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1769,0},{267,210}}</string>
        <key>offset</key>
        <string>{-80,181}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{267,210}}</string>
        <key>sourceSize</key>
        <string>{267,210}</string>
      </dict>
      <key>monster_20137_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1215,1794},{282,220}}</string>
        <key>offset</key>
        <string>{-83,184}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{282,220}}</string>
        <key>sourceSize</key>
        <string>{282,220}</string>
      </dict>
      <key>monster_20137_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1379,0},{273,213}}</string>
        <key>offset</key>
        <string>{-86,178}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{273,213}}</string>
        <key>sourceSize</key>
        <string>{273,213}</string>
      </dict>
      <key>monster_20137_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1499,1779},{268,206}}</string>
        <key>offset</key>
        <string>{-84,172}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{268,206}}</string>
        <key>sourceSize</key>
        <string>{268,206}</string>
      </dict>
      <key>monster_20137_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{588,0},{353,204}}</string>
        <key>offset</key>
        <string>{-110,171}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{353,204}}</string>
        <key>sourceSize</key>
        <string>{353,204}</string>
      </dict>
      <key>monster_20137_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{554,1501},{350,202}}</string>
        <key>offset</key>
        <string>{-105,177}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{350,202}}</string>
        <key>sourceSize</key>
        <string>{350,202}</string>
      </dict>
      <key>monster_20137_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{532,764},{357,201}}</string>
        <key>offset</key>
        <string>{-98,178}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{357,201}}</string>
        <key>sourceSize</key>
        <string>{357,201}</string>
      </dict>
      <key>monster_20137_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{370,0},{370,216}}</string>
        <key>offset</key>
        <string>{-98,173}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{370,216}}</string>
        <key>sourceSize</key>
        <string>{370,216}</string>
      </dict>
      <key>monster_20137_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,1204},{376,206}}</string>
        <key>offset</key>
        <string>{-111,165}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{376,206}}</string>
        <key>sourceSize</key>
        <string>{376,206}</string>
      </dict>
      <key>monster_20137_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{380,1134},{365,193}}</string>
        <key>offset</key>
        <string>{-116,162}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{365,193}}</string>
        <key>sourceSize</key>
        <string>{365,193}</string>
      </dict>
      <key>monster_20137_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{168,404},{391,183}}</string>
        <key>offset</key>
        <string>{-119,144}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{391,183}}</string>
        <key>sourceSize</key>
        <string>{391,183}</string>
      </dict>
      <key>monster_20137_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{402,183}}</string>
        <key>offset</key>
        <string>{-122,147}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{402,183}}</string>
        <key>sourceSize</key>
        <string>{402,183}</string>
      </dict>
      <key>monster_20137_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,404},{401,166}}</string>
        <key>offset</key>
        <string>{-112,142}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{401,166}}</string>
        <key>sourceSize</key>
        <string>{401,166}</string>
      </dict>
      <key>monster_20137_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,807},{395,181}}</string>
        <key>offset</key>
        <string>{-105,142}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{395,181}}</string>
        <key>sourceSize</key>
        <string>{395,181}</string>
      </dict>
      <key>monster_20137_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{185,0},{389,183}}</string>
        <key>offset</key>
        <string>{-108,147}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{389,183}}</string>
        <key>sourceSize</key>
        <string>{389,183}</string>
      </dict>
      <key>monster_20137_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1204},{383,170}}</string>
        <key>offset</key>
        <string>{-110,146}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{383,170}}</string>
        <key>sourceSize</key>
        <string>{383,170}</string>
      </dict>
      <key>monster_20137_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{943,341},{302,217}}</string>
        <key>offset</key>
        <string>{-62,174}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{302,217}}</string>
        <key>sourceSize</key>
        <string>{302,217}</string>
      </dict>
      <key>monster_20137_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{758,1475},{317,206}}</string>
        <key>offset</key>
        <string>{-65,166}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{317,206}}</string>
        <key>sourceSize</key>
        <string>{317,206}</string>
      </dict>
      <key>monster_20137_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{941,699},{308,193}}</string>
        <key>offset</key>
        <string>{-56,164}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{308,193}}</string>
        <key>sourceSize</key>
        <string>{308,193}</string>
      </dict>
      <key>monster_20137_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1179,943},{286,202}}</string>
        <key>offset</key>
        <string>{-45,171}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{286,202}}</string>
        <key>sourceSize</key>
        <string>{286,202}</string>
      </dict>
      <key>monster_20137_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1363,1231},{273,205}}</string>
        <key>offset</key>
        <string>{-43,180}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{273,205}}</string>
        <key>sourceSize</key>
        <string>{273,205}</string>
      </dict>
      <key>monster_20137_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1447,1506},{271,204}}</string>
        <key>offset</key>
        <string>{-44,182}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{271,204}}</string>
        <key>sourceSize</key>
        <string>{271,204}</string>
      </dict>
      <key>monster_20137_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1136,645},{296,224}}</string>
        <key>offset</key>
        <string>{-45,188}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{296,224}}</string>
        <key>sourceSize</key>
        <string>{296,224}</string>
      </dict>
      <key>monster_20137_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1362,594},{282,217}}</string>
        <key>offset</key>
        <string>{-44,182}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{282,217}}</string>
        <key>sourceSize</key>
        <string>{282,217}</string>
      </dict>
      <key>monster_20137_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1375,292},{281,208}}</string>
        <key>offset</key>
        <string>{-48,177}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{281,208}}</string>
        <key>sourceSize</key>
        <string>{281,208}</string>
      </dict>
      <key>monster_20137_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1162,301},{291,211}}</string>
        <key>offset</key>
        <string>{-45,180}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{291,211}}</string>
        <key>sourceSize</key>
        <string>{291,211}</string>
      </dict>
      <key>monster_20137_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{771,1077},{309,212}}</string>
        <key>offset</key>
        <string>{-43,183}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{309,212}}</string>
        <key>sourceSize</key>
        <string>{309,212}</string>
      </dict>
      <key>monster_20137_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{898,1794},{315,213}}</string>
        <key>offset</key>
        <string>{-46,186}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{315,213}}</string>
        <key>sourceSize</key>
        <string>{315,213}</string>
      </dict>
      <key>monster_20137_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{739,355},{342,202}}</string>
        <key>offset</key>
        <string>{-44,163}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{342,202}}</string>
        <key>sourceSize</key>
        <string>{342,202}</string>
      </dict>
      <key>monster_20137_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{554,1853},{342,188}}</string>
        <key>offset</key>
        <string>{-44,159}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{342,188}}</string>
        <key>sourceSize</key>
        <string>{342,188}</string>
      </dict>
      <key>monster_20137_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{794,0},{339,188}}</string>
        <key>offset</key>
        <string>{-44,158}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{339,188}}</string>
        <key>sourceSize</key>
        <string>{339,188}</string>
      </dict>
      <key>monster_20137_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{575,1123},{350,194}}</string>
        <key>offset</key>
        <string>{-56,155}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{350,194}}</string>
        <key>sourceSize</key>
        <string>{350,194}</string>
      </dict>
      <key>monster_20137_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{537,372},{356,200}}</string>
        <key>offset</key>
        <string>{-58,153}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{356,200}}</string>
        <key>sourceSize</key>
        <string>{356,200}</string>
      </dict>
      <key>monster_20137_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{735,730},{345,204}}</string>
        <key>offset</key>
        <string>{-47,159}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{345,204}}</string>
        <key>sourceSize</key>
        <string>{345,204}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20137_0_1.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_20137_0_1.png</string>
    </dict>
  </dict>
</plist>