<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16397_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{281,0},{137,172}}</string>
        <key>offset</key>
        <string>{-44,83}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,172}}</string>
        <key>sourceSize</key>
        <string>{137,172}</string>
      </dict>
      <key>monster_16397_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{140,176}}</string>
        <key>offset</key>
        <string>{-46,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,176}}</string>
        <key>sourceSize</key>
        <string>{140,176}</string>
      </dict>
      <key>monster_16397_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{280,177},{138,173}}</string>
        <key>offset</key>
        <string>{-45,84}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,173}}</string>
        <key>sourceSize</key>
        <string>{138,173}</string>
      </dict>
      <key>monster_16397_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{141,178},{137,175}}</string>
        <key>offset</key>
        <string>{-44,84}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,175}}</string>
        <key>sourceSize</key>
        <string>{137,175}</string>
      </dict>
      <key>monster_16397_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,178},{139,176}}</string>
        <key>offset</key>
        <string>{-45,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,176}}</string>
        <key>sourceSize</key>
        <string>{139,176}</string>
      </dict>
      <key>monster_16397_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,0},{137,175}}</string>
        <key>offset</key>
        <string>{-44,84}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,175}}</string>
        <key>sourceSize</key>
        <string>{137,175}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16397_0_1_0.png</string>
      <key>size</key>
      <string>{522,384}</string>
      <key>textureFileName</key>
      <string>monster_16397_0_1_0.png</string>
    </dict>
  </dict>
</plist>