<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16208_0_1_0_0000.png</key>
      <dict>
        <key>offset</key>
        <string>{-51,106}</string>
        <key>frame</key>
        <string>{{0,198},{144,193}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{144,193}}</string>
        <key>sourceSize</key>
        <string>{144,193}</string>
        <key>rotated</key>
        <true />
      </dict>
      <key>monster_16208_0_1_0_0001.png</key>
      <dict>
        <key>offset</key>
        <string>{-52,106}</string>
        <key>frame</key>
        <string>{{195,198},{147,192}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{147,192}}</string>
        <key>sourceSize</key>
        <string>{147,192}</string>
        <key>rotated</key>
        <true />
      </dict>
      <key>monster_16208_0_1_0_0002.png</key>
      <dict>
        <key>offset</key>
        <string>{-52,106}</string>
        <key>frame</key>
        <string>{{969,198},{147,191}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{147,191}}</string>
        <key>sourceSize</key>
        <string>{147,191}</string>
        <key>rotated</key>
        <true />
      </dict>
      <key>monster_16208_0_1_0_0003.png</key>
      <dict>
        <key>offset</key>
        <string>{-52,106}</string>
        <key>frame</key>
        <string>{{583,198},{149,191}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{149,191}}</string>
        <key>sourceSize</key>
        <string>{149,191}</string>
        <key>rotated</key>
        <true />
      </dict>
      <key>monster_16208_0_1_0_0004.png</key>
      <dict>
        <key>offset</key>
        <string>{-53,106}</string>
        <key>frame</key>
        <string>{{776,198},{149,191}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{149,191}}</string>
        <key>sourceSize</key>
        <string>{149,191}</string>
        <key>rotated</key>
        <true />
      </dict>
      <key>monster_16208_0_1_0_0005.png</key>
      <dict>
        <key>offset</key>
        <string>{-51,106}</string>
        <key>frame</key>
        <string>{{389,198},{144,192}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{144,192}}</string>
        <key>sourceSize</key>
        <string>{144,192}</string>
        <key>rotated</key>
        <true />
      </dict>
      <key>monster_16208_0_1_1_0000.png</key>
      <dict>
        <key>offset</key>
        <string>{-48,108}</string>
        <key>frame</key>
        <string>{{402,97},{97,199}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{97,199}}</string>
        <key>sourceSize</key>
        <string>{97,199}</string>
        <key>rotated</key>
        <true />
      </dict>
      <key>monster_16208_0_1_1_0001.png</key>
      <dict>
        <key>offset</key>
        <string>{-49,108}</string>
        <key>frame</key>
        <string>{{0,97},{99,199}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{99,199}}</string>
        <key>sourceSize</key>
        <string>{99,199}</string>
        <key>rotated</key>
        <true />
      </dict>
      <key>monster_16208_0_1_1_0002.png</key>
      <dict>
        <key>offset</key>
        <string>{-47,108}</string>
        <key>frame</key>
        <string>{{603,97},{97,199}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{97,199}}</string>
        <key>sourceSize</key>
        <string>{97,199}</string>
        <key>rotated</key>
        <true />
      </dict>
      <key>monster_16208_0_1_1_0003.png</key>
      <dict>
        <key>offset</key>
        <string>{-46,109}</string>
        <key>frame</key>
        <string>{{0,0},{95,201}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{95,201}}</string>
        <key>sourceSize</key>
        <string>{95,201}</string>
        <key>rotated</key>
        <true />
      </dict>
      <key>monster_16208_0_1_1_0004.png</key>
      <dict>
        <key>offset</key>
        <string>{-45,109}</string>
        <key>frame</key>
        <string>{{406,0},{94,200}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{94,200}}</string>
        <key>sourceSize</key>
        <string>{94,200}</string>
        <key>rotated</key>
        <true />
      </dict>
      <key>monster_16208_0_1_1_0005.png</key>
      <dict>
        <key>offset</key>
        <string>{-46,109}</string>
        <key>frame</key>
        <string>{{608,0},{94,200}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{94,200}}</string>
        <key>sourceSize</key>
        <string>{94,200}</string>
        <key>rotated</key>
        <true />
      </dict>
      <key>monster_16208_0_1_2_0000.png</key>
      <dict>
        <key>offset</key>
        <string>{-77,102}</string>
        <key>frame</key>
        <string>{{540,490},{140,177}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{140,177}}</string>
        <key>sourceSize</key>
        <string>{140,177}</string>
        <key>rotated</key>
        <true />
      </dict>
      <key>monster_16208_0_1_2_0001.png</key>
      <dict>
        <key>offset</key>
        <string>{-73,102}</string>
        <key>frame</key>
        <string>{{180,490},{138,178}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{138,178}}</string>
        <key>sourceSize</key>
        <string>{138,178}</string>
        <key>rotated</key>
        <true />
      </dict>
      <key>monster_16208_0_1_2_0002.png</key>
      <dict>
        <key>offset</key>
        <string>{-72,102}</string>
        <key>frame</key>
        <string>{{364,349},{137,179}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{137,179}}</string>
        <key>sourceSize</key>
        <string>{137,179}</string>
        <key>rotated</key>
        <true />
      </dict>
      <key>monster_16208_0_1_2_0003.png</key>
      <dict>
        <key>offset</key>
        <string>{-71,103}</string>
        <key>frame</key>
        <string>{{726,349},{135,179}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{135,179}}</string>
        <key>sourceSize</key>
        <string>{135,179}</string>
        <key>rotated</key>
        <true />
      </dict>
      <key>monster_16208_0_1_2_0004.png</key>
      <dict>
        <key>offset</key>
        <string>{-74,103}</string>
        <key>frame</key>
        <string>{{182,349},{137,180}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{137,180}}</string>
        <key>sourceSize</key>
        <string>{137,180}</string>
        <key>rotated</key>
        <true />
      </dict>
      <key>monster_16208_0_1_2_0005.png</key>
      <dict>
        <key>offset</key>
        <string>{-75,103}</string>
        <key>frame</key>
        <string>{{1088,349},{139,178}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{139,178}}</string>
        <key>sourceSize</key>
        <string>{139,178}</string>
        <key>rotated</key>
        <true />
      </dict>
      <key>monster_16208_0_1_3_0000.png</key>
      <dict>
        <key>offset</key>
        <string>{-92,98}</string>
        <key>frame</key>
        <string>{{1118,782},{147,157}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{147,157}}</string>
        <key>sourceSize</key>
        <string>{147,157}</string>
        <key>rotated</key>
        <true />
      </dict>
      <key>monster_16208_0_1_3_0001.png</key>
      <dict>
        <key>offset</key>
        <string>{-91,98}</string>
        <key>frame</key>
        <string>{{160,782},{146,158}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{146,158}}</string>
        <key>sourceSize</key>
        <string>{146,158}</string>
        <key>rotated</key>
        <true />
      </dict>
      <key>monster_16208_0_1_3_0002.png</key>
      <dict>
        <key>offset</key>
        <string>{-91,98}</string>
        <key>frame</key>
        <string>{{480,782},{145,158}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{145,158}}</string>
        <key>sourceSize</key>
        <string>{145,158}</string>
        <key>rotated</key>
        <true />
      </dict>
      <key>monster_16208_0_1_3_0003.png</key>
      <dict>
        <key>offset</key>
        <string>{-92,99}</string>
        <key>frame</key>
        <string>{{984,632},{147,158}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{147,158}}</string>
        <key>sourceSize</key>
        <string>{147,158}</string>
        <key>rotated</key>
        <true />
      </dict>
      <key>monster_16208_0_1_3_0004.png</key>
      <dict>
        <key>offset</key>
        <string>{-93,99}</string>
        <key>frame</key>
        <string>{{800,782},{148,157}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{148,157}}</string>
        <key>sourceSize</key>
        <string>{148,157}</string>
        <key>rotated</key>
        <true />
      </dict>
      <key>monster_16208_0_1_3_0005.png</key>
      <dict>
        <key>offset</key>
        <string>{-92,99}</string>
        <key>frame</key>
        <string>{{664,632},{148,158}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{148,158}}</string>
        <key>sourceSize</key>
        <string>{148,158}</string>
        <key>rotated</key>
        <true />
      </dict>
      <key>monster_16208_0_1_4_0000.png</key>
      <dict>
        <key>offset</key>
        <string>{-42,100}</string>
        <key>frame</key>
        <string>{{0,632},{130,165}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{130,165}}</string>
        <key>sourceSize</key>
        <string>{130,165}</string>
        <key>rotated</key>
        <true />
      </dict>
      <key>monster_16208_0_1_4_0001.png</key>
      <dict>
        <key>offset</key>
        <string>{-44,99}</string>
        <key>frame</key>
        <string>{{499,632},{134,163}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{134,163}}</string>
        <key>sourceSize</key>
        <string>{134,163}</string>
        <key>rotated</key>
        <true />
      </dict>
      <key>monster_16208_0_1_4_0002.png</key>
      <dict>
        <key>offset</key>
        <string>{-45,100}</string>
        <key>frame</key>
        <string>{{898,490},{136,165}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{136,165}}</string>
        <key>sourceSize</key>
        <string>{136,165}</string>
        <key>rotated</key>
        <true />
      </dict>
      <key>monster_16208_0_1_4_0003.png</key>
      <dict>
        <key>offset</key>
        <string>{-46,100}</string>
        <key>frame</key>
        <string>{{167,632},{138,164}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{138,164}}</string>
        <key>sourceSize</key>
        <string>{138,164}</string>
        <key>rotated</key>
        <true />
      </dict>
      <key>monster_16208_0_1_4_0004.png</key>
      <dict>
        <key>offset</key>
        <string>{-45,101}</string>
        <key>frame</key>
        <string>{{1065,490},{136,165}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{136,165}}</string>
        <key>sourceSize</key>
        <string>{136,165}</string>
        <key>rotated</key>
        <true />
      </dict>
      <key>monster_16208_0_1_4_0005.png</key>
      <dict>
        <key>offset</key>
        <string>{-43,100}</string>
        <key>frame</key>
        <string>{{333,632},{132,164}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{132,164}}</string>
        <key>sourceSize</key>
        <string>{132,164}</string>
        <key>rotated</key>
        <true />
      </dict>
      <key>monster_16208_0_1_5_0000.png</key>
      <dict>
        <key>offset</key>
        <string>{-13,98}</string>
        <key>frame</key>
        <string>{{0,932},{147,157}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{147,157}}</string>
        <key>sourceSize</key>
        <string>{147,157}</string>
        <key>rotated</key>
        <true />
      </dict>
      <key>monster_16208_0_1_5_0001.png</key>
      <dict>
        <key>offset</key>
        <string>{-13,98}</string>
        <key>frame</key>
        <string>{{320,782},{146,158}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{146,158}}</string>
        <key>sourceSize</key>
        <string>{146,158}</string>
        <key>rotated</key>
        <true />
      </dict>
      <key>monster_16208_0_1_5_0002.png</key>
      <dict>
        <key>offset</key>
        <string>{-12,98}</string>
        <key>frame</key>
        <string>{{640,782},{145,158}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{145,158}}</string>
        <key>sourceSize</key>
        <string>{145,158}</string>
        <key>rotated</key>
        <true />
      </dict>
      <key>monster_16208_0_1_5_0003.png</key>
      <dict>
        <key>offset</key>
        <string>{-13,99}</string>
        <key>frame</key>
        <string>{{0,782},{147,158}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{147,158}}</string>
        <key>sourceSize</key>
        <string>{147,158}</string>
        <key>rotated</key>
        <true />
      </dict>
      <key>monster_16208_0_1_5_0004.png</key>
      <dict>
        <key>offset</key>
        <string>{-13,99}</string>
        <key>frame</key>
        <string>{{959,782},{148,157}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{148,157}}</string>
        <key>sourceSize</key>
        <string>{148,157}</string>
        <key>rotated</key>
        <true />
      </dict>
      <key>monster_16208_0_1_5_0005.png</key>
      <dict>
        <key>offset</key>
        <string>{-14,99}</string>
        <key>frame</key>
        <string>{{824,632},{148,158}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{148,158}}</string>
        <key>sourceSize</key>
        <string>{148,158}</string>
        <key>rotated</key>
        <true />
      </dict>
      <key>monster_16208_0_1_6_0000.png</key>
      <dict>
        <key>offset</key>
        <string>{-20,102}</string>
        <key>frame</key>
        <string>{{719,490},{140,177}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{140,177}}</string>
        <key>sourceSize</key>
        <string>{140,177}</string>
        <key>rotated</key>
        <true />
      </dict>
      <key>monster_16208_0_1_6_0001.png</key>
      <dict>
        <key>offset</key>
        <string>{-21,102}</string>
        <key>frame</key>
        <string>{{360,490},{137,178}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{137,178}}</string>
        <key>sourceSize</key>
        <string>{137,178}</string>
        <key>rotated</key>
        <true />
      </dict>
      <key>monster_16208_0_1_6_0002.png</key>
      <dict>
        <key>offset</key>
        <string>{-21,102}</string>
        <key>frame</key>
        <string>{{545,349},{137,179}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{137,179}}</string>
        <key>sourceSize</key>
        <string>{137,179}</string>
        <key>rotated</key>
        <true />
      </dict>
      <key>monster_16208_0_1_6_0003.png</key>
      <dict>
        <key>offset</key>
        <string>{-20,103}</string>
        <key>frame</key>
        <string>{{907,349},{134,179}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{134,179}}</string>
        <key>sourceSize</key>
        <string>{134,179}</string>
        <key>rotated</key>
        <true />
      </dict>
      <key>monster_16208_0_1_6_0004.png</key>
      <dict>
        <key>offset</key>
        <string>{-20,103}</string>
        <key>frame</key>
        <string>{{0,349},{138,180}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{138,180}}</string>
        <key>sourceSize</key>
        <string>{138,180}</string>
        <key>rotated</key>
        <true />
      </dict>
      <key>monster_16208_0_1_6_0005.png</key>
      <dict>
        <key>offset</key>
        <string>{-20,103}</string>
        <key>frame</key>
        <string>{{0,490},{139,178}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{139,178}}</string>
        <key>sourceSize</key>
        <string>{139,178}</string>
        <key>rotated</key>
        <true />
      </dict>
      <key>monster_16208_0_1_7_0000.png</key>
      <dict>
        <key>offset</key>
        <string>{-7,105}</string>
        <key>frame</key>
        <string>{{804,97},{97,199}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{97,199}}</string>
        <key>sourceSize</key>
        <string>{97,199}</string>
        <key>rotated</key>
        <true />
      </dict>
      <key>monster_16208_0_1_7_0001.png</key>
      <dict>
        <key>offset</key>
        <string>{-8,105}</string>
        <key>frame</key>
        <string>{{201,97},{99,199}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{99,199}}</string>
        <key>sourceSize</key>
        <string>{99,199}</string>
        <key>rotated</key>
        <true />
      </dict>
      <key>monster_16208_0_1_7_0002.png</key>
      <dict>
        <key>offset</key>
        <string>{-8,105}</string>
        <key>frame</key>
        <string>{{1005,97},{97,199}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{97,199}}</string>
        <key>sourceSize</key>
        <string>{97,199}</string>
        <key>rotated</key>
        <true />
      </dict>
      <key>monster_16208_0_1_7_0003.png</key>
      <dict>
        <key>offset</key>
        <string>{-7,106}</string>
        <key>frame</key>
        <string>{{203,0},{95,201}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{95,201}}</string>
        <key>sourceSize</key>
        <string>{95,201}</string>
        <key>rotated</key>
        <true />
      </dict>
      <key>monster_16208_0_1_7_0004.png</key>
      <dict>
        <key>offset</key>
        <string>{-7,106}</string>
        <key>frame</key>
        <string>{{810,0},{94,200}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{94,200}}</string>
        <key>sourceSize</key>
        <string>{94,200}</string>
        <key>rotated</key>
        <true />
      </dict>
      <key>monster_16208_0_1_7_0005.png</key>
      <dict>
        <key>offset</key>
        <string>{-6,106}</string>
        <key>frame</key>
        <string>{{1012,0},{94,200}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{94,200}}</string>
        <key>sourceSize</key>
        <string>{94,200}</string>
        <key>rotated</key>
        <true />
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16208_0_1.png</string>
      <key>textureFileName</key>
      <string>monster_16208_0_1.png</string>
      <key>size</key>
      <string>{1277,1081}</string>
    </dict>
  </dict>
</plist>