<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_12094_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1232,0},{156,172}}</string>
        <key>offset</key>
        <string>{-30,132}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,172}}</string>
        <key>sourceSize</key>
        <string>{156,172}</string>
      </dict>
      <key>monster_12094_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1530,166},{140,152}}</string>
        <key>offset</key>
        <string>{-33,119}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,152}}</string>
        <key>sourceSize</key>
        <string>{140,152}</string>
      </dict>
      <key>monster_12094_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1229,181},{138,173}}</string>
        <key>offset</key>
        <string>{-27,121}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,173}}</string>
        <key>sourceSize</key>
        <string>{138,173}</string>
      </dict>
      <key>monster_12094_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1083,181},{144,178}}</string>
        <key>offset</key>
        <string>{-23,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,178}}</string>
        <key>sourceSize</key>
        <string>{144,178}</string>
      </dict>
      <key>monster_12094_0_4_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1582,842},{146,121}}</string>
        <key>offset</key>
        <string>{-22,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,121}}</string>
        <key>sourceSize</key>
        <string>{146,121}</string>
      </dict>
      <key>monster_12094_0_4_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1705,842},{146,121}}</string>
        <key>offset</key>
        <string>{-22,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,121}}</string>
        <key>sourceSize</key>
        <string>{146,121}</string>
      </dict>
      <key>monster_12094_0_4_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1596,501},{146,121}}</string>
        <key>offset</key>
        <string>{-22,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,121}}</string>
        <key>sourceSize</key>
        <string>{146,121}</string>
      </dict>
      <key>monster_12094_0_4_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1620,320},{146,121}}</string>
        <key>offset</key>
        <string>{-22,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,121}}</string>
        <key>sourceSize</key>
        <string>{146,121}</string>
      </dict>
      <key>monster_12094_0_4_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1672,154},{146,121}}</string>
        <key>offset</key>
        <string>{-22,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,121}}</string>
        <key>sourceSize</key>
        <string>{146,121}</string>
      </dict>
      <key>monster_12094_0_4_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1673,0},{146,121}}</string>
        <key>offset</key>
        <string>{-22,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,121}}</string>
        <key>sourceSize</key>
        <string>{146,121}</string>
      </dict>
      <key>monster_12094_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1570,689},{151,135}}</string>
        <key>offset</key>
        <string>{-26,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,135}}</string>
        <key>sourceSize</key>
        <string>{151,135}</string>
      </dict>
      <key>monster_12094_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1390,0},{164,146}}</string>
        <key>offset</key>
        <string>{-28,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,146}}</string>
        <key>sourceSize</key>
        <string>{164,146}</string>
      </dict>
      <key>monster_12094_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1369,174},{159,167}}</string>
        <key>offset</key>
        <string>{-17,113}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,167}}</string>
        <key>sourceSize</key>
        <string>{159,167}</string>
      </dict>
      <key>monster_12094_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{742,383},{170,184}}</string>
        <key>offset</key>
        <string>{-16,109}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,184}}</string>
        <key>sourceSize</key>
        <string>{170,184}</string>
      </dict>
      <key>monster_12094_0_4_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,226},{223,129}}</string>
        <key>offset</key>
        <string>{-63,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{223,129}}</string>
        <key>sourceSize</key>
        <string>{223,129}</string>
      </dict>
      <key>monster_12094_0_4_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,0},{223,129}}</string>
        <key>offset</key>
        <string>{-63,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{223,129}}</string>
        <key>sourceSize</key>
        <string>{223,129}</string>
      </dict>
      <key>monster_12094_0_4_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,451},{223,129}}</string>
        <key>offset</key>
        <string>{-63,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{223,129}}</string>
        <key>sourceSize</key>
        <string>{223,129}</string>
      </dict>
      <key>monster_12094_0_4_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,676},{223,129}}</string>
        <key>offset</key>
        <string>{-63,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{223,129}}</string>
        <key>sourceSize</key>
        <string>{223,129}</string>
      </dict>
      <key>monster_12094_0_4_1_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{233,676},{223,129}}</string>
        <key>offset</key>
        <string>{-63,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{223,129}}</string>
        <key>sourceSize</key>
        <string>{223,129}</string>
      </dict>
      <key>monster_12094_0_4_1_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{233,225},{223,129}}</string>
        <key>offset</key>
        <string>{-63,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{223,129}}</string>
        <key>sourceSize</key>
        <string>{223,129}</string>
      </dict>
      <key>monster_12094_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1938,0},{99,143}}</string>
        <key>offset</key>
        <string>{-21,111}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,143}}</string>
        <key>sourceSize</key>
        <string>{99,143}</string>
      </dict>
      <key>monster_12094_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{773,569},{182,144}}</string>
        <key>offset</key>
        <string>{-67,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,144}}</string>
        <key>sourceSize</key>
        <string>{182,144}</string>
      </dict>
      <key>monster_12094_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{685,0},{192,138}}</string>
        <key>offset</key>
        <string>{-73,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{192,138}}</string>
        <key>sourceSize</key>
        <string>{192,138}</string>
      </dict>
      <key>monster_12094_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{568,438},{209,172}}</string>
        <key>offset</key>
        <string>{-76,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,172}}</string>
        <key>sourceSize</key>
        <string>{209,172}</string>
      </dict>
      <key>monster_12094_0_4_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{233,901},{217,121}}</string>
        <key>offset</key>
        <string>{-76,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{217,121}}</string>
        <key>sourceSize</key>
        <string>{217,121}</string>
      </dict>
      <key>monster_12094_0_4_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{335,0},{217,121}}</string>
        <key>offset</key>
        <string>{-76,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{217,121}}</string>
        <key>sourceSize</key>
        <string>{217,121}</string>
      </dict>
      <key>monster_12094_0_4_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{233,450},{217,121}}</string>
        <key>offset</key>
        <string>{-76,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{217,121}}</string>
        <key>sourceSize</key>
        <string>{217,121}</string>
      </dict>
      <key>monster_12094_0_4_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{356,450},{217,121}}</string>
        <key>offset</key>
        <string>{-76,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{217,121}}</string>
        <key>sourceSize</key>
        <string>{217,121}</string>
      </dict>
      <key>monster_12094_0_4_2_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{364,219},{217,121}}</string>
        <key>offset</key>
        <string>{-76,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{217,121}}</string>
        <key>sourceSize</key>
        <string>{217,121}</string>
      </dict>
      <key>monster_12094_0_4_2_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{458,0},{217,121}}</string>
        <key>offset</key>
        <string>{-76,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{217,121}}</string>
        <key>sourceSize</key>
        <string>{217,121}</string>
      </dict>
      <key>monster_12094_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1938,145},{98,143}}</string>
        <key>offset</key>
        <string>{-31,115}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,143}}</string>
        <key>sourceSize</key>
        <string>{98,143}</string>
      </dict>
      <key>monster_12094_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1861,579},{133,134}}</string>
        <key>offset</key>
        <string>{-54,106}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,134}}</string>
        <key>sourceSize</key>
        <string>{133,134}</string>
      </dict>
      <key>monster_12094_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1177,537},{172,133}}</string>
        <key>offset</key>
        <string>{-75,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{172,133}}</string>
        <key>sourceSize</key>
        <string>{172,133}</string>
      </dict>
      <key>monster_12094_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{671,843},{163,187}}</string>
        <key>offset</key>
        <string>{-91,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,187}}</string>
        <key>sourceSize</key>
        <string>{163,187}</string>
      </dict>
      <key>monster_12094_0_4_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{934,0},{179,147}}</string>
        <key>offset</key>
        <string>{-91,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{179,147}}</string>
        <key>sourceSize</key>
        <string>{179,147}</string>
      </dict>
      <key>monster_12094_0_4_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{934,181},{179,147}}</string>
        <key>offset</key>
        <string>{-91,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{179,147}}</string>
        <key>sourceSize</key>
        <string>{179,147}</string>
      </dict>
      <key>monster_12094_0_4_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1023,362},{179,147}}</string>
        <key>offset</key>
        <string>{-91,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{179,147}}</string>
        <key>sourceSize</key>
        <string>{179,147}</string>
      </dict>
      <key>monster_12094_0_4_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1028,543},{179,147}}</string>
        <key>offset</key>
        <string>{-91,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{179,147}}</string>
        <key>sourceSize</key>
        <string>{179,147}</string>
      </dict>
      <key>monster_12094_0_4_3_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1121,724},{179,147}}</string>
        <key>offset</key>
        <string>{-91,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{179,147}}</string>
        <key>sourceSize</key>
        <string>{179,147}</string>
      </dict>
      <key>monster_12094_0_4_3_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1083,0},{179,147}}</string>
        <key>offset</key>
        <string>{-91,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{179,147}}</string>
        <key>sourceSize</key>
        <string>{179,147}</string>
      </dict>
      <key>monster_12094_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1471,343},{156,147}}</string>
        <key>offset</key>
        <string>{-78,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,147}}</string>
        <key>sourceSize</key>
        <string>{156,147}</string>
      </dict>
      <key>monster_12094_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1885,438},{140,139}}</string>
        <key>offset</key>
        <string>{-59,105}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,139}}</string>
        <key>sourceSize</key>
        <string>{140,139}</string>
      </dict>
      <key>monster_12094_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1270,885},{138,120}}</string>
        <key>offset</key>
        <string>{-63,83}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,120}}</string>
        <key>sourceSize</key>
        <string>{138,120}</string>
      </dict>
      <key>monster_12094_0_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1172,361},{144,174}}</string>
        <key>offset</key>
        <string>{-73,106}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,174}}</string>
        <key>sourceSize</key>
        <string>{144,174}</string>
      </dict>
      <key>monster_12094_0_4_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1707,649},{146,140}}</string>
        <key>offset</key>
        <string>{-76,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,140}}</string>
        <key>sourceSize</key>
        <string>{146,140}</string>
      </dict>
      <key>monster_12094_0_4_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1719,468},{146,140}}</string>
        <key>offset</key>
        <string>{-76,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,140}}</string>
        <key>sourceSize</key>
        <string>{146,140}</string>
      </dict>
      <key>monster_12094_0_4_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1743,302},{146,140}}</string>
        <key>offset</key>
        <string>{-76,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,140}}</string>
        <key>sourceSize</key>
        <string>{146,140}</string>
      </dict>
      <key>monster_12094_0_4_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1795,148},{146,140}}</string>
        <key>offset</key>
        <string>{-76,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,140}}</string>
        <key>sourceSize</key>
        <string>{146,140}</string>
      </dict>
      <key>monster_12094_0_4_4_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1796,0},{146,140}}</string>
        <key>offset</key>
        <string>{-76,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,140}}</string>
        <key>sourceSize</key>
        <string>{146,140}</string>
      </dict>
      <key>monster_12094_0_4_4_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1885,296},{146,140}}</string>
        <key>offset</key>
        <string>{-76,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,140}}</string>
        <key>sourceSize</key>
        <string>{146,140}</string>
      </dict>
      <key>monster_12094_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1318,356},{151,169}}</string>
        <key>offset</key>
        <string>{-77,132}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,169}}</string>
        <key>sourceSize</key>
        <string>{151,169}</string>
      </dict>
      <key>monster_12094_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1417,710},{164,151}}</string>
        <key>offset</key>
        <string>{-88,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,151}}</string>
        <key>sourceSize</key>
        <string>{164,151}</string>
      </dict>
      <key>monster_12094_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1465,527},{160,129}}</string>
        <key>offset</key>
        <string>{-94,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,129}}</string>
        <key>sourceSize</key>
        <string>{160,129}</string>
      </dict>
      <key>monster_12094_0_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1312,537},{171,151}}</string>
        <key>offset</key>
        <string>{-107,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,151}}</string>
        <key>sourceSize</key>
        <string>{171,151}</string>
      </dict>
      <key>monster_12094_0_4_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{224,100}}</string>
        <key>offset</key>
        <string>{-113,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{224,100}}</string>
        <key>sourceSize</key>
        <string>{224,100}</string>
      </dict>
      <key>monster_12094_0_4_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,226},{224,100}}</string>
        <key>offset</key>
        <string>{-113,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{224,100}}</string>
        <key>sourceSize</key>
        <string>{224,100}</string>
      </dict>
      <key>monster_12094_0_4_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,452},{224,100}}</string>
        <key>offset</key>
        <string>{-113,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{224,100}}</string>
        <key>sourceSize</key>
        <string>{224,100}</string>
      </dict>
      <key>monster_12094_0_4_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,678},{224,100}}</string>
        <key>offset</key>
        <string>{-113,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{224,100}}</string>
        <key>sourceSize</key>
        <string>{224,100}</string>
      </dict>
      <key>monster_12094_0_4_5_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,904},{224,100}}</string>
        <key>offset</key>
        <string>{-113,67}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{224,100}}</string>
        <key>sourceSize</key>
        <string>{224,100}</string>
      </dict>
      <key>monster_12094_0_4_5_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,0},{224,100}}</string>
        <key>offset</key>
        <string>{-113,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{224,100}}</string>
        <key>sourceSize</key>
        <string>{224,100}</string>
      </dict>
      <key>monster_12094_0_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{723,194},{100,187}}</string>
        <key>offset</key>
        <string>{-30,156}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,187}}</string>
        <key>sourceSize</key>
        <string>{100,187}</string>
      </dict>
      <key>monster_12094_0_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{860,753},{182,150}}</string>
        <key>offset</key>
        <string>{-67,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,150}}</string>
        <key>sourceSize</key>
        <string>{182,150}</string>
      </dict>
      <key>monster_12094_0_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{631,649},{192,140}}</string>
        <key>offset</key>
        <string>{-71,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{192,140}}</string>
        <key>sourceSize</key>
        <string>{192,140}</string>
      </dict>
      <key>monster_12094_0_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{576,219},{209,145}}</string>
        <key>offset</key>
        <string>{-85,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,145}}</string>
        <key>sourceSize</key>
        <string>{209,145}</string>
      </dict>
      <key>monster_12094_0_4_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{364,669},{217,87}}</string>
        <key>offset</key>
        <string>{-93,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{217,87}}</string>
        <key>sourceSize</key>
        <string>{217,87}</string>
      </dict>
      <key>monster_12094_0_4_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{452,888},{217,87}}</string>
        <key>offset</key>
        <string>{-93,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{217,87}}</string>
        <key>sourceSize</key>
        <string>{217,87}</string>
      </dict>
      <key>monster_12094_0_4_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{453,669},{217,87}}</string>
        <key>offset</key>
        <string>{-93,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{217,87}}</string>
        <key>sourceSize</key>
        <string>{217,87}</string>
      </dict>
      <key>monster_12094_0_4_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{479,438},{217,87}}</string>
        <key>offset</key>
        <string>{-93,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{217,87}}</string>
        <key>sourceSize</key>
        <string>{217,87}</string>
      </dict>
      <key>monster_12094_0_4_6_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{487,219},{217,87}}</string>
        <key>offset</key>
        <string>{-93,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{217,87}}</string>
        <key>sourceSize</key>
        <string>{217,87}</string>
      </dict>
      <key>monster_12094_0_4_6_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{542,657},{217,87}}</string>
        <key>offset</key>
        <string>{-93,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{217,87}}</string>
        <key>sourceSize</key>
        <string>{217,87}</string>
      </dict>
      <key>monster_12094_0_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{581,0},{102,193}}</string>
        <key>offset</key>
        <string>{-19,156}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,193}}</string>
        <key>sourceSize</key>
        <string>{102,193}</string>
      </dict>
      <key>monster_12094_0_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1538,0},{133,152}}</string>
        <key>offset</key>
        <string>{-31,130}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,152}}</string>
        <key>sourceSize</key>
        <string>{133,152}</string>
      </dict>
      <key>monster_12094_0_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1270,711},{172,145}}</string>
        <key>offset</key>
        <string>{-49,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{172,145}}</string>
        <key>sourceSize</key>
        <string>{172,145}</string>
      </dict>
      <key>monster_12094_0_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1417,876},{163,143}}</string>
        <key>offset</key>
        <string>{-24,114}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,143}}</string>
        <key>sourceSize</key>
        <string>{163,143}</string>
      </dict>
      <key>monster_12094_0_4_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{825,0},{180,107}}</string>
        <key>offset</key>
        <string>{-41,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,107}}</string>
        <key>sourceSize</key>
        <string>{180,107}</string>
      </dict>
      <key>monster_12094_0_4_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{825,182},{180,107}}</string>
        <key>offset</key>
        <string>{-41,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,107}}</string>
        <key>sourceSize</key>
        <string>{180,107}</string>
      </dict>
      <key>monster_12094_0_4_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{914,364},{180,107}}</string>
        <key>offset</key>
        <string>{-41,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,107}}</string>
        <key>sourceSize</key>
        <string>{180,107}</string>
      </dict>
      <key>monster_12094_0_4_7_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{919,546},{180,107}}</string>
        <key>offset</key>
        <string>{-41,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,107}}</string>
        <key>sourceSize</key>
        <string>{180,107}</string>
      </dict>
      <key>monster_12094_0_4_7_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1012,728},{180,107}}</string>
        <key>offset</key>
        <string>{-41,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,107}}</string>
        <key>sourceSize</key>
        <string>{180,107}</string>
      </dict>
      <key>monster_12094_0_4_7_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1012,910},{180,107}}</string>
        <key>offset</key>
        <string>{-41,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,107}}</string>
        <key>sourceSize</key>
        <string>{180,107}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_12094_0_4.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>monster_12094_0_4.png</string>
    </dict>
  </dict>
</plist>