<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16113_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1448,1600},{401,445}}</string>
        <key>offset</key>
        <string>{-172,273}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{401,445}}</string>
        <key>sourceSize</key>
        <string>{401,445}</string>
      </dict>
      <key>monster_16113_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1547,389},{288,465}}</string>
        <key>offset</key>
        <string>{-155,315}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{288,465}}</string>
        <key>sourceSize</key>
        <string>{288,465}</string>
      </dict>
      <key>monster_16113_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1593,901},{321,449}}</string>
        <key>offset</key>
        <string>{-164,305}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{321,449}}</string>
        <key>sourceSize</key>
        <string>{321,449}</string>
      </dict>
      <key>monster_16113_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{482,492},{291,478}}</string>
        <key>offset</key>
        <string>{-158,313}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{291,478}}</string>
        <key>sourceSize</key>
        <string>{291,478}</string>
      </dict>
      <key>monster_16113_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,992},{293,491}}</string>
        <key>offset</key>
        <string>{-156,333}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{293,491}}</string>
        <key>sourceSize</key>
        <string>{293,491}</string>
      </dict>
      <key>monster_16113_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{229,494}}</string>
        <key>offset</key>
        <string>{-108,344}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{229,494}}</string>
        <key>sourceSize</key>
        <string>{229,494}</string>
      </dict>
      <key>monster_16113_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1156,946},{213,463}}</string>
        <key>offset</key>
        <string>{-94,317}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{213,463}}</string>
        <key>sourceSize</key>
        <string>{213,463}</string>
      </dict>
      <key>monster_16113_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1371,946},{220,451}}</string>
        <key>offset</key>
        <string>{-103,313}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{220,451}}</string>
        <key>sourceSize</key>
        <string>{220,451}</string>
      </dict>
      <key>monster_16113_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{546,972},{234,477}}</string>
        <key>offset</key>
        <string>{-115,333}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{234,477}}</string>
        <key>sourceSize</key>
        <string>{234,477}</string>
      </dict>
      <key>monster_16113_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{295,1485},{258,490}}</string>
        <key>offset</key>
        <string>{-137,325}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,490}}</string>
        <key>sourceSize</key>
        <string>{258,490}</string>
      </dict>
      <key>monster_16113_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{231,492},{249,489}}</string>
        <key>offset</key>
        <string>{-128,331}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{249,489}}</string>
        <key>sourceSize</key>
        <string>{249,489}</string>
      </dict>
      <key>monster_16113_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{784,0},{372,471}}</string>
        <key>offset</key>
        <string>{-207,321}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{372,471}}</string>
        <key>sourceSize</key>
        <string>{372,471}</string>
      </dict>
      <key>monster_16113_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1593,1224},{374,449}}</string>
        <key>offset</key>
        <string>{-203,305}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{374,449}}</string>
        <key>sourceSize</key>
        <string>{374,449}</string>
      </dict>
      <key>monster_16113_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1158,0},{387,470}}</string>
        <key>offset</key>
        <string>{-214,305}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{387,470}}</string>
        <key>sourceSize</key>
        <string>{387,470}</string>
      </dict>
      <key>monster_16113_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{555,1451},{386,471}}</string>
        <key>offset</key>
        <string>{-213,313}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{386,471}}</string>
        <key>sourceSize</key>
        <string>{386,471}</string>
      </dict>
      <key>monster_16113_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{782,959},{372,471}}</string>
        <key>offset</key>
        <string>{-126,321}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{372,471}}</string>
        <key>sourceSize</key>
        <string>{372,471}</string>
      </dict>
      <key>monster_16113_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1547,0},{387,470}}</string>
        <key>offset</key>
        <string>{-134,305}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{387,470}}</string>
        <key>sourceSize</key>
        <string>{387,470}</string>
      </dict>
      <key>monster_16113_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1011,473},{386,471}}</string>
        <key>offset</key>
        <string>{-134,313}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{386,471}}</string>
        <key>sourceSize</key>
        <string>{386,471}</string>
      </dict>
      <key>monster_16113_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,496},{229,494}}</string>
        <key>offset</key>
        <string>{-86,344}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{229,494}}</string>
        <key>sourceSize</key>
        <string>{229,494}</string>
      </dict>
      <key>monster_16113_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1233,1411},{213,463}}</string>
        <key>offset</key>
        <string>{-84,317}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{213,463}}</string>
        <key>sourceSize</key>
        <string>{213,463}</string>
      </dict>
      <key>monster_16113_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1593,679},{220,451}}</string>
        <key>offset</key>
        <string>{-82,313}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{220,451}}</string>
        <key>sourceSize</key>
        <string>{220,451}</string>
      </dict>
      <key>monster_16113_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{775,480},{234,477}}</string>
        <key>offset</key>
        <string>{-84,333}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{234,477}}</string>
        <key>sourceSize</key>
        <string>{234,477}</string>
      </dict>
      <key>monster_16113_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{231,0},{258,490}}</string>
        <key>offset</key>
        <string>{-86,325}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,490}}</string>
        <key>sourceSize</key>
        <string>{258,490}</string>
      </dict>
      <key>monster_16113_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{295,983},{249,489}}</string>
        <key>offset</key>
        <string>{-86,331}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{249,489}}</string>
        <key>sourceSize</key>
        <string>{249,489}</string>
      </dict>
      <key>monster_16113_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{943,1432},{288,465}}</string>
        <key>offset</key>
        <string>{-99,315}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{288,465}}</string>
        <key>sourceSize</key>
        <string>{288,465}</string>
      </dict>
      <key>monster_16113_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{491,0},{291,478}}</string>
        <key>offset</key>
        <string>{-99,313}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{291,478}}</string>
        <key>sourceSize</key>
        <string>{291,478}</string>
      </dict>
      <key>monster_16113_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1485},{293,491}}</string>
        <key>offset</key>
        <string>{-103,333}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{293,491}}</string>
        <key>sourceSize</key>
        <string>{293,491}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16113_0_1_0.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_16113_0_1_0.png</string>
    </dict>
  </dict>
</plist>