<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_2055_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{339,244}}</string>
        <key>offset</key>
        <string>{-198,123}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{339,244}}</string>
        <key>sourceSize</key>
        <string>{339,244}</string>
      </dict>
      <key>monster_2055_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1018},{313,250}}</string>
        <key>offset</key>
        <string>{-183,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{313,250}}</string>
        <key>sourceSize</key>
        <string>{313,250}</string>
      </dict>
      <key>monster_2055_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1155,551},{269,259}}</string>
        <key>offset</key>
        <string>{-160,137}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{269,259}}</string>
        <key>sourceSize</key>
        <string>{269,259}</string>
      </dict>
      <key>monster_2055_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{808,285},{274,263}}</string>
        <key>offset</key>
        <string>{-162,142}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{274,263}}</string>
        <key>sourceSize</key>
        <string>{274,263}</string>
      </dict>
      <key>monster_2055_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{246,0},{325,257}}</string>
        <key>offset</key>
        <string>{-188,137}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{325,257}}</string>
        <key>sourceSize</key>
        <string>{325,257}</string>
      </dict>
      <key>monster_2055_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,680},{336,244}}</string>
        <key>offset</key>
        <string>{-196,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{336,244}}</string>
        <key>sourceSize</key>
        <string>{336,244}</string>
      </dict>
      <key>monster_2055_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{503,1280},{276,265}}</string>
        <key>offset</key>
        <string>{-177,160}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{276,265}}</string>
        <key>sourceSize</key>
        <string>{276,265}</string>
      </dict>
      <key>monster_2055_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1313,275},{264,256}}</string>
        <key>offset</key>
        <string>{-162,158}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{264,256}}</string>
        <key>sourceSize</key>
        <string>{264,256}</string>
      </dict>
      <key>monster_2055_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1508,0},{230,258}}</string>
        <key>offset</key>
        <string>{-149,171}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{230,258}}</string>
        <key>sourceSize</key>
        <string>{230,258}</string>
      </dict>
      <key>monster_2055_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1740,0},{236,257}}</string>
        <key>offset</key>
        <string>{-153,175}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{236,257}}</string>
        <key>sourceSize</key>
        <string>{236,257}</string>
      </dict>
      <key>monster_2055_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{983,0},{262,274}}</string>
        <key>offset</key>
        <string>{-176,181}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{262,274}}</string>
        <key>sourceSize</key>
        <string>{262,274}</string>
      </dict>
      <key>monster_2055_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{737,1558},{261,272}}</string>
        <key>offset</key>
        <string>{-178,173}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{261,272}}</string>
        <key>sourceSize</key>
        <string>{261,272}</string>
      </dict>
      <key>monster_2055_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1236,1078},{230,244}}</string>
        <key>offset</key>
        <string>{-162,190}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{230,244}}</string>
        <key>sourceSize</key>
        <string>{230,244}</string>
      </dict>
      <key>monster_2055_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1707,1205},{226,231}}</string>
        <key>offset</key>
        <string>{-157,181}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{226,231}}</string>
        <key>sourceSize</key>
        <string>{226,231}</string>
      </dict>
      <key>monster_2055_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1709,970},{240,233}}</string>
        <key>offset</key>
        <string>{-164,188}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{240,233}}</string>
        <key>sourceSize</key>
        <string>{240,233}</string>
      </dict>
      <key>monster_2055_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1467,788},{240,243}}</string>
        <key>offset</key>
        <string>{-163,193}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{240,243}}</string>
        <key>sourceSize</key>
        <string>{240,243}</string>
      </dict>
      <key>monster_2055_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1004,1110},{230,255}}</string>
        <key>offset</key>
        <string>{-159,207}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{230,255}}</string>
        <key>sourceSize</key>
        <string>{230,255}</string>
      </dict>
      <key>monster_2055_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1231,822},{234,254}}</string>
        <key>offset</key>
        <string>{-163,202}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{234,254}}</string>
        <key>sourceSize</key>
        <string>{234,254}</string>
      </dict>
      <key>monster_2055_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1655,492},{243,229}}</string>
        <key>offset</key>
        <string>{-146,178}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{243,229}}</string>
        <key>sourceSize</key>
        <string>{243,229}</string>
      </dict>
      <key>monster_2055_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1468,1033},{237,219}}</string>
        <key>offset</key>
        <string>{-144,169}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{237,219}}</string>
        <key>sourceSize</key>
        <string>{237,219}</string>
      </dict>
      <key>monster_2055_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1709,737},{241,231}}</string>
        <key>offset</key>
        <string>{-154,178}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{241,231}}</string>
        <key>sourceSize</key>
        <string>{241,231}</string>
      </dict>
      <key>monster_2055_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1416,541},{245,237}}</string>
        <key>offset</key>
        <string>{-163,184}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{245,237}}</string>
        <key>sourceSize</key>
        <string>{245,237}</string>
      </dict>
      <key>monster_2055_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1740,238},{257,252}}</string>
        <key>offset</key>
        <string>{-175,197}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{257,252}}</string>
        <key>sourceSize</key>
        <string>{257,252}</string>
      </dict>
      <key>monster_2055_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1000,1423},{257,245}}</string>
        <key>offset</key>
        <string>{-167,192}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{257,245}}</string>
        <key>sourceSize</key>
        <string>{257,245}</string>
      </dict>
      <key>monster_2055_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,341},{337,179}}</string>
        <key>offset</key>
        <string>{-183,131}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{337,179}}</string>
        <key>sourceSize</key>
        <string>{337,179}</string>
      </dict>
      <key>monster_2055_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{246,671},{312,183}}</string>
        <key>offset</key>
        <string>{-173,136}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{312,183}}</string>
        <key>sourceSize</key>
        <string>{312,183}</string>
      </dict>
      <key>monster_2055_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{472,1840},{269,204}}</string>
        <key>offset</key>
        <string>{-163,155}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{269,204}}</string>
        <key>sourceSize</key>
        <string>{269,204}</string>
      </dict>
      <key>monster_2055_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{743,1832},{266,210}}</string>
        <key>offset</key>
        <string>{-164,160}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{266,210}}</string>
        <key>sourceSize</key>
        <string>{266,210}</string>
      </dict>
      <key>monster_2055_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{380,327},{312,206}}</string>
        <key>offset</key>
        <string>{-183,159}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{312,206}}</string>
        <key>sourceSize</key>
        <string>{312,206}</string>
      </dict>
      <key>monster_2055_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{181,341},{328,197}}</string>
        <key>offset</key>
        <string>{-183,149}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{328,197}}</string>
        <key>sourceSize</key>
        <string>{328,197}</string>
      </dict>
      <key>monster_2055_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1629},{280,222}}</string>
        <key>offset</key>
        <string>{-149,165}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{280,222}}</string>
        <key>sourceSize</key>
        <string>{280,222}</string>
      </dict>
      <key>monster_2055_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{588,311},{283,218}}</string>
        <key>offset</key>
        <string>{-148,161}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{283,218}}</string>
        <key>sourceSize</key>
        <string>{283,218}</string>
      </dict>
      <key>monster_2055_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{749,0},{283,232}}</string>
        <key>offset</key>
        <string>{-124,176}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{283,232}}</string>
        <key>sourceSize</key>
        <string>{283,232}</string>
      </dict>
      <key>monster_2055_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{431,641},{289,236}}</string>
        <key>offset</key>
        <string>{-121,183}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{289,236}}</string>
        <key>sourceSize</key>
        <string>{289,236}</string>
      </dict>
      <key>monster_2055_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,1629},{278,246}}</string>
        <key>offset</key>
        <string>{-131,194}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{278,246}}</string>
        <key>sourceSize</key>
        <string>{278,246}</string>
      </dict>
      <key>monster_2055_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1073,276},{273,238}}</string>
        <key>offset</key>
        <string>{-136,183}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{273,238}}</string>
        <key>sourceSize</key>
        <string>{273,238}</string>
      </dict>
      <key>monster_2055_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{737,873},{274,242}}</string>
        <key>offset</key>
        <string>{-79,181}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{274,242}}</string>
        <key>sourceSize</key>
        <string>{274,242}</string>
      </dict>
      <key>monster_2055_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{770,1149},{272,232}}</string>
        <key>offset</key>
        <string>{-83,178}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{272,232}}</string>
        <key>sourceSize</key>
        <string>{272,232}</string>
      </dict>
      <key>monster_2055_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{504,932},{275,231}}</string>
        <key>offset</key>
        <string>{-78,187}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{275,231}}</string>
        <key>sourceSize</key>
        <string>{275,231}</string>
      </dict>
      <key>monster_2055_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{669,596},{275,237}}</string>
        <key>offset</key>
        <string>{-79,191}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{275,237}}</string>
        <key>sourceSize</key>
        <string>{275,237}</string>
      </dict>
      <key>monster_2055_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{981,837},{271,248}}</string>
        <key>offset</key>
        <string>{-79,199}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{271,248}}</string>
        <key>sourceSize</key>
        <string>{271,248}</string>
      </dict>
      <key>monster_2055_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{908,561},{274,245}}</string>
        <key>offset</key>
        <string>{-78,190}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{274,245}}</string>
        <key>sourceSize</key>
        <string>{274,245}</string>
      </dict>
      <key>monster_2055_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{505,0},{309,242}}</string>
        <key>offset</key>
        <string>{-145,159}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{309,242}}</string>
        <key>sourceSize</key>
        <string>{309,242}</string>
      </dict>
      <key>monster_2055_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1333},{294,254}}</string>
        <key>offset</key>
        <string>{-143,164}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{294,254}}</string>
        <key>sourceSize</key>
        <string>{294,254}</string>
      </dict>
      <key>monster_2055_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1247,0},{259,273}}</string>
        <key>offset</key>
        <string>{-129,171}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{259,273}}</string>
        <key>sourceSize</key>
        <string>{259,273}</string>
      </dict>
      <key>monster_2055_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{256,1280},{245,278}}</string>
        <key>offset</key>
        <string>{-126,171}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{245,278}}</string>
        <key>sourceSize</key>
        <string>{245,278}</string>
      </dict>
      <key>monster_2055_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{472,1560},{278,263}}</string>
        <key>offset</key>
        <string>{-137,167}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{278,263}}</string>
        <key>sourceSize</key>
        <string>{278,263}</string>
      </dict>
      <key>monster_2055_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{252,985},{293,250}}</string>
        <key>offset</key>
        <string>{-140,160}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{293,250}}</string>
        <key>sourceSize</key>
        <string>{293,250}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_2055_0_1.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_2055_0_1.png</string>
    </dict>
  </dict>
</plist>