<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_12022_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{483,278},{89,136}}</string>
        <key>offset</key>
        <string>{-18,116}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,136}}</string>
        <key>sourceSize</key>
        <string>{89,136}</string>
      </dict>
      <key>monster_12022_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{619,414},{90,130}}</string>
        <key>offset</key>
        <string>{-19,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,130}}</string>
        <key>sourceSize</key>
        <string>{90,130}</string>
      </dict>
      <key>monster_12022_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{824,378},{90,128}}</string>
        <key>offset</key>
        <string>{-19,107}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,128}}</string>
        <key>sourceSize</key>
        <string>{90,128}</string>
      </dict>
      <key>monster_12022_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{483,416},{90,134}}</string>
        <key>offset</key>
        <string>{-19,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,134}}</string>
        <key>sourceSize</key>
        <string>{90,134}</string>
      </dict>
      <key>monster_12022_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{507,139},{124,136}}</string>
        <key>offset</key>
        <string>{-2,108}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,136}}</string>
        <key>sourceSize</key>
        <string>{124,136}</string>
      </dict>
      <key>monster_12022_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{751,136},{126,130}}</string>
        <key>offset</key>
        <string>{-3,102}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,130}}</string>
        <key>sourceSize</key>
        <string>{126,130}</string>
      </dict>
      <key>monster_12022_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{880,0},{127,131}}</string>
        <key>offset</key>
        <string>{-4,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,131}}</string>
        <key>sourceSize</key>
        <string>{127,131}</string>
      </dict>
      <key>monster_12022_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{880,129},{131,130}}</string>
        <key>offset</key>
        <string>{-9,102}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,130}}</string>
        <key>sourceSize</key>
        <string>{131,130}</string>
      </dict>
      <key>monster_12022_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{368,0},{137,123}}</string>
        <key>offset</key>
        <string>{-5,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,123}}</string>
        <key>sourceSize</key>
        <string>{137,123}</string>
      </dict>
      <key>monster_12022_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{125,148},{143,123}}</string>
        <key>offset</key>
        <string>{-12,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,123}}</string>
        <key>sourceSize</key>
        <string>{143,123}</string>
      </dict>
      <key>monster_12022_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,306},{146,124}}</string>
        <key>offset</key>
        <string>{-17,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,124}}</string>
        <key>sourceSize</key>
        <string>{146,124}</string>
      </dict>
      <key>monster_12022_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{152,123}}</string>
        <key>offset</key>
        <string>{-21,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,123}}</string>
        <key>sourceSize</key>
        <string>{152,123}</string>
      </dict>
      <key>monster_12022_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{629,0},{135,113}}</string>
        <key>offset</key>
        <string>{-8,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,113}}</string>
        <key>sourceSize</key>
        <string>{135,113}</string>
      </dict>
      <key>monster_12022_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{251,290},{137,114}}</string>
        <key>offset</key>
        <string>{-10,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,114}}</string>
        <key>sourceSize</key>
        <string>{137,114}</string>
      </dict>
      <key>monster_12022_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{251,0},{138,115}}</string>
        <key>offset</key>
        <string>{-11,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,115}}</string>
        <key>sourceSize</key>
        <string>{138,115}</string>
      </dict>
      <key>monster_12022_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{367,290},{137,114}}</string>
        <key>offset</key>
        <string>{-9,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,114}}</string>
        <key>sourceSize</key>
        <string>{137,114}</string>
      </dict>
      <key>monster_12022_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{856,564},{90,99}}</string>
        <key>offset</key>
        <string>{-23,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,99}}</string>
        <key>sourceSize</key>
        <string>{90,99}</string>
      </dict>
      <key>monster_12022_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{916,378},{91,106}}</string>
        <key>offset</key>
        <string>{-23,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,106}}</string>
        <key>sourceSize</key>
        <string>{91,106}</string>
      </dict>
      <key>monster_12022_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{916,471},{91,106}}</string>
        <key>offset</key>
        <string>{-23,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,106}}</string>
        <key>sourceSize</key>
        <string>{91,106}</string>
      </dict>
      <key>monster_12022_0_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{748,508},{91,106}}</string>
        <key>offset</key>
        <string>{-23,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,106}}</string>
        <key>sourceSize</key>
        <string>{91,106}</string>
      </dict>
      <key>monster_12022_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{619,506},{127,113}}</string>
        <key>offset</key>
        <string>{-77,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,113}}</string>
        <key>sourceSize</key>
        <string>{127,113}</string>
      </dict>
      <key>monster_12022_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{708,273},{130,114}}</string>
        <key>offset</key>
        <string>{-78,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,114}}</string>
        <key>sourceSize</key>
        <string>{130,114}</string>
      </dict>
      <key>monster_12022_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{879,261},{130,115}}</string>
        <key>offset</key>
        <string>{-78,82}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,115}}</string>
        <key>sourceSize</key>
        <string>{130,115}</string>
      </dict>
      <key>monster_12022_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{633,137},{134,114}}</string>
        <key>offset</key>
        <string>{-77,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,114}}</string>
        <key>sourceSize</key>
        <string>{134,114}</string>
      </dict>
      <key>monster_12022_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{383,139},{137,122}}</string>
        <key>offset</key>
        <string>{-84,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,122}}</string>
        <key>sourceSize</key>
        <string>{137,122}</string>
      </dict>
      <key>monster_12022_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,293},{141,123}}</string>
        <key>offset</key>
        <string>{-81,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,123}}</string>
        <key>sourceSize</key>
        <string>{141,123}</string>
      </dict>
      <key>monster_12022_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{125,0},{146,124}}</string>
        <key>offset</key>
        <string>{-81,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,124}}</string>
        <key>sourceSize</key>
        <string>{146,124}</string>
      </dict>
      <key>monster_12022_0_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,154},{150,123}}</string>
        <key>offset</key>
        <string>{-81,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,123}}</string>
        <key>sourceSize</key>
        <string>{150,123}</string>
      </dict>
      <key>monster_12022_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,148},{131,140}}</string>
        <key>offset</key>
        <string>{-76,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,140}}</string>
        <key>sourceSize</key>
        <string>{131,140}</string>
      </dict>
      <key>monster_12022_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{744,0},{134,134}}</string>
        <key>offset</key>
        <string>{-77,106}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,134}}</string>
        <key>sourceSize</key>
        <string>{134,134}</string>
      </dict>
      <key>monster_12022_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{574,277},{135,132}}</string>
        <key>offset</key>
        <string>{-76,104}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,132}}</string>
        <key>sourceSize</key>
        <string>{135,132}</string>
      </dict>
      <key>monster_12022_0_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{493,0},{134,137}}</string>
        <key>offset</key>
        <string>{-77,109}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,137}}</string>
        <key>sourceSize</key>
        <string>{134,137}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_12022_0_0.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>monster_12022_0_0.png</string>
    </dict>
  </dict>
</plist>