<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20149_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1435,0},{243,272}}</string>
        <key>offset</key>
        <string>{-144,186}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{243,272}}</string>
        <key>sourceSize</key>
        <string>{243,272}</string>
      </dict>
      <key>monster_20149_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1680,0},{244,272}}</string>
        <key>offset</key>
        <string>{-143,187}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{244,272}}</string>
        <key>sourceSize</key>
        <string>{244,272}</string>
      </dict>
      <key>monster_20149_0_2_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{769,1273},{250,248}}</string>
        <key>offset</key>
        <string>{-138,164}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{250,248}}</string>
        <key>sourceSize</key>
        <string>{250,248}</string>
      </dict>
      <key>monster_20149_0_2_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,848},{245,256}}</string>
        <key>offset</key>
        <string>{-135,173}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{245,256}}</string>
        <key>sourceSize</key>
        <string>{245,256}</string>
      </dict>
      <key>monster_20149_0_2_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1095},{242,255}}</string>
        <key>offset</key>
        <string>{-129,171}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{242,255}}</string>
        <key>sourceSize</key>
        <string>{242,255}</string>
      </dict>
      <key>monster_20149_0_2_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{487,0},{227,277}}</string>
        <key>offset</key>
        <string>{-125,196}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{227,277}}</string>
        <key>sourceSize</key>
        <string>{227,277}</string>
      </dict>
      <key>monster_20149_0_2_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,568},{219,278}}</string>
        <key>offset</key>
        <string>{-129,201}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{219,278}}</string>
        <key>sourceSize</key>
        <string>{219,278}</string>
      </dict>
      <key>monster_20149_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{649,562},{213,276}}</string>
        <key>offset</key>
        <string>{-133,194}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{213,276}}</string>
        <key>sourceSize</key>
        <string>{213,276}</string>
      </dict>
      <key>monster_20149_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1188,277},{221,274}}</string>
        <key>offset</key>
        <string>{-138,188}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{221,274}}</string>
        <key>sourceSize</key>
        <string>{221,274}</string>
      </dict>
      <key>monster_20149_0_2_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1680,246},{236,272}}</string>
        <key>offset</key>
        <string>{-148,191}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{236,272}}</string>
        <key>sourceSize</key>
        <string>{236,272}</string>
      </dict>
      <key>monster_20149_0_2_1_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1201,0},{232,274}}</string>
        <key>offset</key>
        <string>{-142,193}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{232,274}}</string>
        <key>sourceSize</key>
        <string>{232,274}</string>
      </dict>
      <key>monster_20149_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{716,0},{245,275}}</string>
        <key>offset</key>
        <string>{-164,209}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{245,275}}</string>
        <key>sourceSize</key>
        <string>{245,275}</string>
      </dict>
      <key>monster_20149_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,571},{222,280}}</string>
        <key>offset</key>
        <string>{-134,208}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{222,280}}</string>
        <key>sourceSize</key>
        <string>{222,280}</string>
      </dict>
      <key>monster_20149_0_2_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1673,484},{212,272}}</string>
        <key>offset</key>
        <string>{-149,202}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{212,272}}</string>
        <key>sourceSize</key>
        <string>{212,272}</string>
      </dict>
      <key>monster_20149_0_2_2_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1601,698},{207,272}}</string>
        <key>offset</key>
        <string>{-146,205}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{207,272}}</string>
        <key>sourceSize</key>
        <string>{207,272}</string>
      </dict>
      <key>monster_20149_0_2_2_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1810,698},{202,272}}</string>
        <key>offset</key>
        <string>{-124,203}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{202,272}}</string>
        <key>sourceSize</key>
        <string>{202,272}</string>
      </dict>
      <key>monster_20149_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{864,557},{258,275}}</string>
        <key>offset</key>
        <string>{-141,211}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,275}}</string>
        <key>sourceSize</key>
        <string>{258,275}</string>
      </dict>
      <key>monster_20149_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{961,277},{225,275}}</string>
        <key>offset</key>
        <string>{-141,211}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{225,275}}</string>
        <key>sourceSize</key>
        <string>{225,275}</string>
      </dict>
      <key>monster_20149_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1379,553},{220,274}}</string>
        <key>offset</key>
        <string>{-137,211}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{220,274}}</string>
        <key>sourceSize</key>
        <string>{220,274}</string>
      </dict>
      <key>monster_20149_0_2_3_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{963,0},{236,275}}</string>
        <key>offset</key>
        <string>{-150,211}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{236,275}}</string>
        <key>sourceSize</key>
        <string>{236,275}</string>
      </dict>
      <key>monster_20149_0_2_3_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{649,840},{210,256}}</string>
        <key>offset</key>
        <string>{-109,199}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{210,256}}</string>
        <key>sourceSize</key>
        <string>{210,256}</string>
      </dict>
      <key>monster_20149_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{284,274}}</string>
        <key>offset</key>
        <string>{-135,211}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{284,274}}</string>
        <key>sourceSize</key>
        <string>{284,274}</string>
      </dict>
      <key>monster_20149_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{257,1329},{236,246}}</string>
        <key>offset</key>
        <string>{-139,193}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{236,246}}</string>
        <key>sourceSize</key>
        <string>{236,246}</string>
      </dict>
      <key>monster_20149_0_2_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{861,1040},{231,256}}</string>
        <key>offset</key>
        <string>{-140,205}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{231,256}}</string>
        <key>sourceSize</key>
        <string>{231,256}</string>
      </dict>
      <key>monster_20149_0_2_4_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1411,276},{273,260}}</string>
        <key>offset</key>
        <string>{-152,202}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{273,260}}</string>
        <key>sourceSize</key>
        <string>{273,260}</string>
      </dict>
      <key>monster_20149_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1124,554},{253,275}}</string>
        <key>offset</key>
        <string>{-120,211}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{253,275}}</string>
        <key>sourceSize</key>
        <string>{253,275}</string>
      </dict>
      <key>monster_20149_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1124,831},{244,257}}</string>
        <key>offset</key>
        <string>{-114,195}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{244,257}}</string>
        <key>sourceSize</key>
        <string>{244,257}</string>
      </dict>
      <key>monster_20149_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{257,1095},{232,254}}</string>
        <key>offset</key>
        <string>{-88,186}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{232,254}}</string>
        <key>sourceSize</key>
        <string>{232,254}</string>
      </dict>
      <key>monster_20149_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{513,1098},{225,254}}</string>
        <key>offset</key>
        <string>{-88,187}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{225,254}}</string>
        <key>sourceSize</key>
        <string>{225,254}</string>
      </dict>
      <key>monster_20149_0_2_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1383,972},{223,254}}</string>
        <key>offset</key>
        <string>{-92,189}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{223,254}}</string>
        <key>sourceSize</key>
        <string>{223,254}</string>
      </dict>
      <key>monster_20149_0_2_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{864,834},{204,257}}</string>
        <key>offset</key>
        <string>{-87,189}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{204,257}}</string>
        <key>sourceSize</key>
        <string>{204,257}</string>
      </dict>
      <key>monster_20149_0_2_6_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{445,568},{202,278}}</string>
        <key>offset</key>
        <string>{-88,192}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{202,278}}</string>
        <key>sourceSize</key>
        <string>{202,278}</string>
      </dict>
      <key>monster_20149_0_2_6_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,286},{248,280}}</string>
        <key>offset</key>
        <string>{-140,200}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{248,280}}</string>
        <key>sourceSize</key>
        <string>{248,280}</string>
      </dict>
      <key>monster_20149_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{468,282},{245,278}}</string>
        <key>offset</key>
        <string>{-125,188}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{245,278}}</string>
        <key>sourceSize</key>
        <string>{245,278}</string>
      </dict>
      <key>monster_20149_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{715,279},{244,276}}</string>
        <key>offset</key>
        <string>{-121,187}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{244,276}}</string>
        <key>sourceSize</key>
        <string>{244,276}</string>
      </dict>
      <key>monster_20149_0_2_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{513,1325},{232,248}}</string>
        <key>offset</key>
        <string>{-101,175}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{232,248}}</string>
        <key>sourceSize</key>
        <string>{232,248}</string>
      </dict>
      <key>monster_20149_0_2_7_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1339},{230,246}}</string>
        <key>offset</key>
        <string>{-97,172}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{230,246}}</string>
        <key>sourceSize</key>
        <string>{230,246}</string>
      </dict>
      <key>monster_20149_0_2_7_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1119,1077},{233,251}}</string>
        <key>offset</key>
        <string>{-95,173}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{233,251}}</string>
        <key>sourceSize</key>
        <string>{233,251}</string>
      </dict>
      <key>monster_20149_0_2_7_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{276,0},{209,280}}</string>
        <key>offset</key>
        <string>{-123,194}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,280}}</string>
        <key>sourceSize</key>
        <string>{209,280}</string>
      </dict>
      <key>monster_20149_0_2_7_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,286},{216,283}}</string>
        <key>offset</key>
        <string>{-131,198}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{216,283}}</string>
        <key>sourceSize</key>
        <string>{216,283}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20149_0_2_1.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_20149_0_2_1.png</string>
    </dict>
  </dict>
</plist>