<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16484_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{262,240}}</string>
        <key>offset</key>
        <string>{-97,166}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{262,240}}</string>
        <key>sourceSize</key>
        <string>{262,240}</string>
      </dict>
      <key>monster_16484_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,264},{260,237}}</string>
        <key>offset</key>
        <string>{-99,161}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{260,237}}</string>
        <key>sourceSize</key>
        <string>{260,237}</string>
      </dict>
      <key>monster_16484_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,526},{249,239}}</string>
        <key>offset</key>
        <string>{-91,168}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{249,239}}</string>
        <key>sourceSize</key>
        <string>{249,239}</string>
      </dict>
      <key>monster_16484_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{239,264},{228,244}}</string>
        <key>offset</key>
        <string>{-75,174}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{228,244}}</string>
        <key>sourceSize</key>
        <string>{228,244}</string>
      </dict>
      <key>monster_16484_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,0},{230,239}}</string>
        <key>offset</key>
        <string>{-102,161}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{230,239}}</string>
        <key>sourceSize</key>
        <string>{230,239}</string>
      </dict>
      <key>monster_16484_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{251,510},{230,243}}</string>
        <key>offset</key>
        <string>{-99,165}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{230,243}}</string>
        <key>sourceSize</key>
        <string>{230,243}</string>
      </dict>
      <key>monster_16484_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{474,0},{232,219}}</string>
        <key>offset</key>
        <string>{-70,148}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{232,219}}</string>
        <key>sourceSize</key>
        <string>{232,219}</string>
      </dict>
      <key>monster_16484_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{469,241},{238,213}}</string>
        <key>offset</key>
        <string>{-70,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{238,213}}</string>
        <key>sourceSize</key>
        <string>{238,213}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16484_0_7_0.png</string>
      <key>size</key>
      <string>{896,768}</string>
      <key>textureFileName</key>
      <string>monster_16484_0_7_0.png</string>
    </dict>
  </dict>
</plist>