<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16137_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{586,0},{194,232}}</string>
        <key>offset</key>
        <string>{-83,183}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{194,232}}</string>
        <key>sourceSize</key>
        <string>{194,232}</string>
      </dict>
      <key>monster_16137_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1816,777},{175,191}}</string>
        <key>offset</key>
        <string>{-62,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{175,191}}</string>
        <key>sourceSize</key>
        <string>{175,191}</string>
      </dict>
      <key>monster_16137_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1651,577},{181,198}}</string>
        <key>offset</key>
        <string>{-72,143}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,198}}</string>
        <key>sourceSize</key>
        <string>{181,198}</string>
      </dict>
      <key>monster_16137_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{496,1628},{167,225}}</string>
        <key>offset</key>
        <string>{-59,169}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,225}}</string>
        <key>sourceSize</key>
        <string>{167,225}</string>
      </dict>
      <key>monster_16137_0_4_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{730,729},{175,222}}</string>
        <key>offset</key>
        <string>{-81,168}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{175,222}}</string>
        <key>sourceSize</key>
        <string>{175,222}</string>
      </dict>
      <key>monster_16137_0_4_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1228,644},{206,192}}</string>
        <key>offset</key>
        <string>{-135,142}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,192}}</string>
        <key>sourceSize</key>
        <string>{206,192}</string>
      </dict>
      <key>monster_16137_0_4_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{389,916},{243,177}}</string>
        <key>offset</key>
        <string>{-168,128}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{243,177}}</string>
        <key>sourceSize</key>
        <string>{243,177}</string>
      </dict>
      <key>monster_16137_0_4_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,663},{284,115}}</string>
        <key>offset</key>
        <string>{-205,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{284,115}}</string>
        <key>sourceSize</key>
        <string>{284,115}</string>
      </dict>
      <key>monster_16137_0_4_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{111,995},{290,114}}</string>
        <key>offset</key>
        <string>{-210,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{290,114}}</string>
        <key>sourceSize</key>
        <string>{290,114}</string>
      </dict>
      <key>monster_16137_0_4_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{135,1287},{280,116}}</string>
        <key>offset</key>
        <string>{-201,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{280,116}}</string>
        <key>sourceSize</key>
        <string>{280,116}</string>
      </dict>
      <key>monster_16137_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{782,0},{210,227}}</string>
        <key>offset</key>
        <string>{-70,188}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{210,227}}</string>
        <key>sourceSize</key>
        <string>{210,227}</string>
      </dict>
      <key>monster_16137_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{690,1286},{219,181}}</string>
        <key>offset</key>
        <string>{-72,140}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{219,181}}</string>
        <key>sourceSize</key>
        <string>{219,181}</string>
      </dict>
      <key>monster_16137_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{393,579},{243,186}}</string>
        <key>offset</key>
        <string>{-83,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{243,186}}</string>
        <key>sourceSize</key>
        <string>{243,186}</string>
      </dict>
      <key>monster_16137_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{289,1452},{237,205}}</string>
        <key>offset</key>
        <string>{-80,159}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{237,205}}</string>
        <key>sourceSize</key>
        <string>{237,205}</string>
      </dict>
      <key>monster_16137_0_4_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{904,1385},{197,207}}</string>
        <key>offset</key>
        <string>{-67,162}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{197,207}}</string>
        <key>sourceSize</key>
        <string>{197,207}</string>
      </dict>
      <key>monster_16137_0_4_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1090,433},{189,209}}</string>
        <key>offset</key>
        <string>{-93,162}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{189,209}}</string>
        <key>sourceSize</key>
        <string>{189,209}</string>
      </dict>
      <key>monster_16137_0_4_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1605,380},{178,199}}</string>
        <key>offset</key>
        <string>{-114,149}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{178,199}}</string>
        <key>sourceSize</key>
        <string>{178,199}</string>
      </dict>
      <key>monster_16137_0_4_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1287,1087},{189,175}}</string>
        <key>offset</key>
        <string>{-125,123}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{189,175}}</string>
        <key>sourceSize</key>
        <string>{189,175}</string>
      </dict>
      <key>monster_16137_0_4_1_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1422,739},{195,167}}</string>
        <key>offset</key>
        <string>{-131,116}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{195,167}}</string>
        <key>sourceSize</key>
        <string>{195,167}</string>
      </dict>
      <key>monster_16137_0_4_1_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1878,0},{196,168}}</string>
        <key>offset</key>
        <string>{-135,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,168}}</string>
        <key>sourceSize</key>
        <string>{196,168}</string>
      </dict>
      <key>monster_16137_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{555,1797},{223,217}}</string>
        <key>offset</key>
        <string>{-86,173}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{223,217}}</string>
        <key>sourceSize</key>
        <string>{223,217}</string>
      </dict>
      <key>monster_16137_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{436,1161},{236,188}}</string>
        <key>offset</key>
        <string>{-89,147}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{236,188}}</string>
        <key>sourceSize</key>
        <string>{236,188}</string>
      </dict>
      <key>monster_16137_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{410,249},{242,172}}</string>
        <key>offset</key>
        <string>{-90,125}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{242,172}}</string>
        <key>sourceSize</key>
        <string>{242,172}</string>
      </dict>
      <key>monster_16137_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{749,234},{229,176}}</string>
        <key>offset</key>
        <string>{-87,128}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{229,176}}</string>
        <key>sourceSize</key>
        <string>{229,176}</string>
      </dict>
      <key>monster_16137_0_4_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{584,243},{233,163}}</string>
        <key>offset</key>
        <string>{-84,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{233,163}}</string>
        <key>sourceSize</key>
        <string>{233,163}</string>
      </dict>
      <key>monster_16137_0_4_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{723,1507},{219,179}}</string>
        <key>offset</key>
        <string>{-77,146}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{219,179}}</string>
        <key>sourceSize</key>
        <string>{219,179}</string>
      </dict>
      <key>monster_16137_0_4_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1080,1119},{207,176}}</string>
        <key>offset</key>
        <string>{-66,140}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{207,176}}</string>
        <key>sourceSize</key>
        <string>{207,176}</string>
      </dict>
      <key>monster_16137_0_4_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{765,953},{216,165}}</string>
        <key>offset</key>
        <string>{-59,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{216,165}}</string>
        <key>sourceSize</key>
        <string>{216,165}</string>
      </dict>
      <key>monster_16137_0_4_2_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1268,216},{209,162}}</string>
        <key>offset</key>
        <string>{-63,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,162}}</string>
        <key>sourceSize</key>
        <string>{209,162}</string>
      </dict>
      <key>monster_16137_0_4_2_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{907,688},{216,152}}</string>
        <key>offset</key>
        <string>{-58,120}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{216,152}}</string>
        <key>sourceSize</key>
        <string>{216,152}</string>
      </dict>
      <key>monster_16137_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1327,0},{184,209}}</string>
        <key>offset</key>
        <string>{-75,148}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{184,209}}</string>
        <key>sourceSize</key>
        <string>{184,209}</string>
      </dict>
      <key>monster_16137_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1076,217},{190,214}}</string>
        <key>offset</key>
        <string>{-74,153}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{190,214}}</string>
        <key>sourceSize</key>
        <string>{190,214}</string>
      </dict>
      <key>monster_16137_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1674,186},{201,192}}</string>
        <key>offset</key>
        <string>{-81,117}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{201,192}}</string>
        <key>sourceSize</key>
        <string>{201,192}</string>
      </dict>
      <key>monster_16137_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1806,380},{199,195}}</string>
        <key>offset</key>
        <string>{-83,121}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{199,195}}</string>
        <key>sourceSize</key>
        <string>{199,195}</string>
      </dict>
      <key>monster_16137_0_4_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{918,465},{216,170}}</string>
        <key>offset</key>
        <string>{-66,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{216,170}}</string>
        <key>sourceSize</key>
        <string>{216,170}</string>
      </dict>
      <key>monster_16137_0_4_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{568,824},{235,160}}</string>
        <key>offset</key>
        <string>{-59,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{235,160}}</string>
        <key>sourceSize</key>
        <string>{235,160}</string>
      </dict>
      <key>monster_16137_0_4_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,1569},{271,145}}</string>
        <key>offset</key>
        <string>{-51,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{271,145}}</string>
        <key>sourceSize</key>
        <string>{271,145}</string>
      </dict>
      <key>monster_16137_0_4_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,665},{328,122}}</string>
        <key>offset</key>
        <string>{-55,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{328,122}}</string>
        <key>sourceSize</key>
        <string>{328,122}</string>
      </dict>
      <key>monster_16137_0_4_3_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,334},{329,117}}</string>
        <key>offset</key>
        <string>{-56,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{329,117}}</string>
        <key>sourceSize</key>
        <string>{329,117}</string>
      </dict>
      <key>monster_16137_0_4_3_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,995},{326,109}}</string>
        <key>offset</key>
        <string>{-56,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{326,109}}</string>
        <key>sourceSize</key>
        <string>{326,109}</string>
      </dict>
      <key>monster_16137_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1513,0},{159,204}}</string>
        <key>offset</key>
        <string>{-85,148}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,204}}</string>
        <key>sourceSize</key>
        <string>{159,204}</string>
      </dict>
      <key>monster_16137_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{994,0},{165,215}}</string>
        <key>offset</key>
        <string>{-94,152}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,215}}</string>
        <key>sourceSize</key>
        <string>{165,215}</string>
      </dict>
      <key>monster_16137_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1860,954},{153,184}}</string>
        <key>offset</key>
        <string>{-65,117}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,184}}</string>
        <key>sourceSize</key>
        <string>{153,184}</string>
      </dict>
      <key>monster_16137_0_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{289,1691},{137,193}}</string>
        <key>offset</key>
        <string>{-58,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,193}}</string>
        <key>sourceSize</key>
        <string>{137,193}</string>
      </dict>
      <key>monster_16137_0_4_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1877,198},{162,176}}</string>
        <key>offset</key>
        <string>{-61,116}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,176}}</string>
        <key>sourceSize</key>
        <string>{162,176}</string>
      </dict>
      <key>monster_16137_0_4_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1478,1090},{173,156}}</string>
        <key>offset</key>
        <string>{-21,100}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,156}}</string>
        <key>sourceSize</key>
        <string>{173,156}</string>
      </dict>
      <key>monster_16137_0_4_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{772,465},{221,144}}</string>
        <key>offset</key>
        <string>{-25,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{221,144}}</string>
        <key>sourceSize</key>
        <string>{221,144}</string>
      </dict>
      <key>monster_16137_0_4_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1616},{284,140}}</string>
        <key>offset</key>
        <string>{-29,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{284,140}}</string>
        <key>sourceSize</key>
        <string>{284,140}</string>
      </dict>
      <key>monster_16137_0_4_4_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1323},{291,133}}</string>
        <key>offset</key>
        <string>{-30,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{291,133}}</string>
        <key>sourceSize</key>
        <string>{291,133}</string>
      </dict>
      <key>monster_16137_0_4_4_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1902},{281,138}}</string>
        <key>offset</key>
        <string>{-31,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{281,138}}</string>
        <key>sourceSize</key>
        <string>{281,138}</string>
      </dict>
      <key>monster_16137_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1099,896},{207,186}}</string>
        <key>offset</key>
        <string>{-115,147}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{207,186}}</string>
        <key>sourceSize</key>
        <string>{207,186}</string>
      </dict>
      <key>monster_16137_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{496,1399},{227,192}}</string>
        <key>offset</key>
        <string>{-132,145}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{227,192}}</string>
        <key>sourceSize</key>
        <string>{227,192}</string>
      </dict>
      <key>monster_16137_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{932,906},{211,165}}</string>
        <key>offset</key>
        <string>{-115,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{211,165}}</string>
        <key>sourceSize</key>
        <string>{211,165}</string>
      </dict>
      <key>monster_16137_0_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1432,211},{205,171}}</string>
        <key>offset</key>
        <string>{-110,120}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,171}}</string>
        <key>sourceSize</key>
        <string>{205,171}</string>
      </dict>
      <key>monster_16137_0_4_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1851,577},{198,171}}</string>
        <key>offset</key>
        <string>{-100,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{198,171}}</string>
        <key>sourceSize</key>
        <string>{198,171}</string>
      </dict>
      <key>monster_16137_0_4_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1480,946},{190,142}}</string>
        <key>offset</key>
        <string>{-76,72}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{190,142}}</string>
        <key>sourceSize</key>
        <string>{190,142}</string>
      </dict>
      <key>monster_16137_0_4_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1672,954},{186,155}}</string>
        <key>offset</key>
        <string>{-37,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{186,155}}</string>
        <key>sourceSize</key>
        <string>{186,155}</string>
      </dict>
      <key>monster_16137_0_4_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1860,1109},{184,179}}</string>
        <key>offset</key>
        <string>{-15,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{184,179}}</string>
        <key>sourceSize</key>
        <string>{184,179}</string>
      </dict>
      <key>monster_16137_0_4_5_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1287,908},{191,177}}</string>
        <key>offset</key>
        <string>{-15,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{191,177}}</string>
        <key>sourceSize</key>
        <string>{191,177}</string>
      </dict>
      <key>monster_16137_0_4_5_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1450,560},{199,177}}</string>
        <key>offset</key>
        <string>{-16,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{199,177}}</string>
        <key>sourceSize</key>
        <string>{199,177}</string>
      </dict>
      <key>monster_16137_0_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{253,1205},{245,181}}</string>
        <key>offset</key>
        <string>{-133,157}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{245,181}}</string>
        <key>sourceSize</key>
        <string>{245,181}</string>
      </dict>
      <key>monster_16137_0_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,329},{248,166}}</string>
        <key>offset</key>
        <string>{-132,137}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{248,166}}</string>
        <key>sourceSize</key>
        <string>{248,166}</string>
      </dict>
      <key>monster_16137_0_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{227,949},{254,160}}</string>
        <key>offset</key>
        <string>{-132,128}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{254,160}}</string>
        <key>sourceSize</key>
        <string>{254,160}</string>
      </dict>
      <key>monster_16137_0_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{269,0},{247,161}}</string>
        <key>offset</key>
        <string>{-123,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{247,161}}</string>
        <key>sourceSize</key>
        <string>{247,161}</string>
      </dict>
      <key>monster_16137_0_4_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{241,663},{251,150}}</string>
        <key>offset</key>
        <string>{-130,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{251,150}}</string>
        <key>sourceSize</key>
        <string>{251,150}</string>
      </dict>
      <key>monster_16137_0_4_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{626,1061},{223,137}}</string>
        <key>offset</key>
        <string>{-115,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{223,137}}</string>
        <key>sourceSize</key>
        <string>{223,137}</string>
      </dict>
      <key>monster_16137_0_4_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{927,229},{216,147}}</string>
        <key>offset</key>
        <string>{-111,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{216,147}}</string>
        <key>sourceSize</key>
        <string>{216,147}</string>
      </dict>
      <key>monster_16137_0_4_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1061,683},{211,165}}</string>
        <key>offset</key>
        <string>{-106,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{211,165}}</string>
        <key>sourceSize</key>
        <string>{211,165}</string>
      </dict>
      <key>monster_16137_0_4_6_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1281,427},{206,167}}</string>
        <key>offset</key>
        <string>{-97,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,167}}</string>
        <key>sourceSize</key>
        <string>{206,167}</string>
      </dict>
      <key>monster_16137_0_4_6_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1161,0},{214,164}}</string>
        <key>offset</key>
        <string>{-108,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{214,164}}</string>
        <key>sourceSize</key>
        <string>{214,164}</string>
      </dict>
      <key>monster_16137_0_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{774,1728},{211,217}}</string>
        <key>offset</key>
        <string>{-118,175}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{211,217}}</string>
        <key>sourceSize</key>
        <string>{211,217}</string>
      </dict>
      <key>monster_16137_0_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1619,760},{195,184}}</string>
        <key>offset</key>
        <string>{-101,142}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{195,184}}</string>
        <key>sourceSize</key>
        <string>{195,184}</string>
      </dict>
      <key>monster_16137_0_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1674,0},{202,184}}</string>
        <key>offset</key>
        <string>{-99,142}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{202,184}}</string>
        <key>sourceSize</key>
        <string>{202,184}</string>
      </dict>
      <key>monster_16137_0_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{873,1171},{212,205}}</string>
        <key>offset</key>
        <string>{-107,163}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{212,205}}</string>
        <key>sourceSize</key>
        <string>{212,205}</string>
      </dict>
      <key>monster_16137_0_4_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{581,493},{234,189}}</string>
        <key>offset</key>
        <string>{-131,146}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{234,189}}</string>
        <key>sourceSize</key>
        <string>{234,189}</string>
      </dict>
      <key>monster_16137_0_4_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{432,0},{241,152}}</string>
        <key>offset</key>
        <string>{-143,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{241,152}}</string>
        <key>sourceSize</key>
        <string>{241,152}</string>
      </dict>
      <key>monster_16137_0_4_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{283,1842},{270,161}}</string>
        <key>offset</key>
        <string>{-169,93}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{270,161}}</string>
        <key>sourceSize</key>
        <string>{270,161}</string>
      </dict>
      <key>monster_16137_0_4_7_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{119,334},{327,121}}</string>
        <key>offset</key>
        <string>{-222,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{327,121}}</string>
        <key>sourceSize</key>
        <string>{327,121}</string>
      </dict>
      <key>monster_16137_0_4_7_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{332,131}}</string>
        <key>offset</key>
        <string>{-225,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{332,131}}</string>
        <key>sourceSize</key>
        <string>{332,131}</string>
      </dict>
      <key>monster_16137_0_4_7_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{133,0},{327,134}}</string>
        <key>offset</key>
        <string>{-220,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{327,134}}</string>
        <key>sourceSize</key>
        <string>{327,134}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16137_0_4.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_16137_0_4.png</string>
    </dict>
  </dict>
</plist>