<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_12059_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,733},{183,233}}</string>
        <key>offset</key>
        <string>{-70,139}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{183,233}}</string>
        <key>sourceSize</key>
        <string>{183,233}</string>
      </dict>
      <key>monster_12059_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,493},{174,238}}</string>
        <key>offset</key>
        <string>{-66,143}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,238}}</string>
        <key>sourceSize</key>
        <string>{174,238}</string>
      </dict>
      <key>monster_12059_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{557,673},{209,209}}</string>
        <key>offset</key>
        <string>{-88,136}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,209}}</string>
        <key>sourceSize</key>
        <string>{209,209}</string>
      </dict>
      <key>monster_12059_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{393,228},{225,203}}</string>
        <key>offset</key>
        <string>{-95,123}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{225,203}}</string>
        <key>sourceSize</key>
        <string>{225,203}</string>
      </dict>
      <key>monster_12059_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{176,493},{226,219}}</string>
        <key>offset</key>
        <string>{-129,155}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{226,219}}</string>
        <key>sourceSize</key>
        <string>{226,219}</string>
      </dict>
      <key>monster_12059_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{245,212}}</string>
        <key>offset</key>
        <string>{-133,151}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{245,212}}</string>
        <key>sourceSize</key>
        <string>{245,212}</string>
      </dict>
      <key>monster_12059_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{397,455},{179,216}}</string>
        <key>offset</key>
        <string>{-89,165}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{179,216}}</string>
        <key>sourceSize</key>
        <string>{179,216}</string>
      </dict>
      <key>monster_12059_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{367,721},{188,217}}</string>
        <key>offset</key>
        <string>{-101,168}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,217}}</string>
        <key>sourceSize</key>
        <string>{188,217}</string>
      </dict>
      <key>monster_12059_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{605,0},{185,192}}</string>
        <key>offset</key>
        <string>{-70,165}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{185,192}}</string>
        <key>sourceSize</key>
        <string>{185,192}</string>
      </dict>
      <key>monster_12059_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{598,226},{174,195}}</string>
        <key>offset</key>
        <string>{-64,168}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,195}}</string>
        <key>sourceSize</key>
        <string>{174,195}</string>
      </dict>
      <key>monster_12059_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{578,455},{209,194}}</string>
        <key>offset</key>
        <string>{-77,142}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,194}}</string>
        <key>sourceSize</key>
        <string>{209,194}</string>
      </dict>
      <key>monster_12059_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{403,0},{224,200}}</string>
        <key>offset</key>
        <string>{-86,149}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{224,200}}</string>
        <key>sourceSize</key>
        <string>{224,200}</string>
      </dict>
      <key>monster_12059_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{192,247},{226,199}}</string>
        <key>offset</key>
        <string>{-53,134}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{226,199}}</string>
        <key>sourceSize</key>
        <string>{226,199}</string>
      </dict>
      <key>monster_12059_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,247},{244,190}}</string>
        <key>offset</key>
        <string>{-68,128}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{244,190}}</string>
        <key>sourceSize</key>
        <string>{244,190}</string>
      </dict>
      <key>monster_12059_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{185,721},{180,223}}</string>
        <key>offset</key>
        <string>{-47,150}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,223}}</string>
        <key>sourceSize</key>
        <string>{180,223}</string>
      </dict>
      <key>monster_12059_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,0},{187,226}}</string>
        <key>offset</key>
        <string>{-42,150}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{187,226}}</string>
        <key>sourceSize</key>
        <string>{187,226}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_12059_0_7.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>monster_12059_0_7.png</string>
    </dict>
  </dict>
</plist>