<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16311_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{91,163}}</string>
        <key>offset</key>
        <string>{-41,116}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,163}}</string>
        <key>sourceSize</key>
        <string>{91,163}</string>
      </dict>
      <key>monster_16311_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{93,0},{88,163}}</string>
        <key>offset</key>
        <string>{-39,116}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,163}}</string>
        <key>sourceSize</key>
        <string>{88,163}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16311_0_7_2.png</string>
      <key>size</key>
      <string>{192,192}</string>
      <key>textureFileName</key>
      <string>monster_16311_0_7_2.png</string>
    </dict>
  </dict>
</plist>