<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16320_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,255},{214,241}}</string>
        <key>offset</key>
        <string>{-91,132}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{214,241}}</string>
        <key>sourceSize</key>
        <string>{214,241}</string>
      </dict>
      <key>monster_16320_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,776},{206,250}}</string>
        <key>offset</key>
        <string>{-92,143}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,250}}</string>
        <key>sourceSize</key>
        <string>{206,250}</string>
      </dict>
      <key>monster_16320_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{428,237},{188,224}}</string>
        <key>offset</key>
        <string>{-99,148}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,224}}</string>
        <key>sourceSize</key>
        <string>{188,224}</string>
      </dict>
      <key>monster_16320_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{407,0},{180,235}}</string>
        <key>offset</key>
        <string>{-94,156}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,235}}</string>
        <key>sourceSize</key>
        <string>{180,235}</string>
      </dict>
      <key>monster_16320_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{373,498},{188,228}}</string>
        <key>offset</key>
        <string>{-92,161}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,228}}</string>
        <key>sourceSize</key>
        <string>{188,228}</string>
      </dict>
      <key>monster_16320_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{774,182},{201,218}}</string>
        <key>offset</key>
        <string>{-96,163}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{201,218}}</string>
        <key>sourceSize</key>
        <string>{201,218}</string>
      </dict>
      <key>monster_16320_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{433,728},{180,212}}</string>
        <key>offset</key>
        <string>{-85,166}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,212}}</string>
        <key>sourceSize</key>
        <string>{180,212}</string>
      </dict>
      <key>monster_16320_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{563,463},{184,210}}</string>
        <key>offset</key>
        <string>{-70,162}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{184,210}}</string>
        <key>sourceSize</key>
        <string>{184,210}</string>
      </dict>
      <key>monster_16320_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{589,0},{183,223}}</string>
        <key>offset</key>
        <string>{-52,161}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{183,223}}</string>
        <key>sourceSize</key>
        <string>{183,223}</string>
      </dict>
      <key>monster_16320_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{774,0},{180,223}}</string>
        <key>offset</key>
        <string>{-39,161}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,223}}</string>
        <key>sourceSize</key>
        <string>{180,223}</string>
      </dict>
      <key>monster_16320_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{189,522},{182,246}}</string>
        <key>offset</key>
        <string>{-24,161}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,246}}</string>
        <key>sourceSize</key>
        <string>{182,246}</string>
      </dict>
      <key>monster_16320_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{252,770},{179,243}}</string>
        <key>offset</key>
        <string>{-34,160}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{179,243}}</string>
        <key>sourceSize</key>
        <string>{179,243}</string>
      </dict>
      <key>monster_16320_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{190,265}}</string>
        <key>offset</key>
        <string>{-41,151}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{190,265}}</string>
        <key>sourceSize</key>
        <string>{190,265}</string>
      </dict>
      <key>monster_16320_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,522},{187,252}}</string>
        <key>offset</key>
        <string>{-45,149}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{187,252}}</string>
        <key>sourceSize</key>
        <string>{187,252}</string>
      </dict>
      <key>monster_16320_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,267},{210,253}}</string>
        <key>offset</key>
        <string>{-52,131}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{210,253}}</string>
        <key>sourceSize</key>
        <string>{210,253}</string>
      </dict>
      <key>monster_16320_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{192,0},{213,253}}</string>
        <key>offset</key>
        <string>{-64,132}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{213,253}}</string>
        <key>sourceSize</key>
        <string>{213,253}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16320_0_7.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>monster_16320_0_7.png</string>
    </dict>
  </dict>
</plist>