<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16305_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,383},{306,345}}</string>
        <key>offset</key>
        <string>{-136,241}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{306,345}}</string>
        <key>sourceSize</key>
        <string>{306,345}</string>
      </dict>
      <key>monster_16305_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{323,381}}</string>
        <key>offset</key>
        <string>{-134,278}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{323,381}}</string>
        <key>sourceSize</key>
        <string>{323,381}</string>
      </dict>
      <key>monster_16305_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,730},{344,240}}</string>
        <key>offset</key>
        <string>{-73,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{344,240}}</string>
        <key>sourceSize</key>
        <string>{344,240}</string>
      </dict>
      <key>monster_16305_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{308,383},{344,240}}</string>
        <key>offset</key>
        <string>{-73,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{344,240}}</string>
        <key>sourceSize</key>
        <string>{344,240}</string>
      </dict>
      <key>monster_16305_0_4_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{325,0},{344,240}}</string>
        <key>offset</key>
        <string>{-73,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{344,240}}</string>
        <key>sourceSize</key>
        <string>{344,240}</string>
      </dict>
      <key>monster_16305_0_4_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{346,729},{344,240}}</string>
        <key>offset</key>
        <string>{-73,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{344,240}}</string>
        <key>sourceSize</key>
        <string>{344,240}</string>
      </dict>
      <key>monster_16305_0_4_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,346},{344,240}}</string>
        <key>offset</key>
        <string>{-73,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{344,240}}</string>
        <key>sourceSize</key>
        <string>{344,240}</string>
      </dict>
      <key>monster_16305_0_4_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{567,0},{344,240}}</string>
        <key>offset</key>
        <string>{-73,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{344,240}}</string>
        <key>sourceSize</key>
        <string>{344,240}</string>
      </dict>
      <key>monster_16305_0_4_1_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{692,692},{344,240}}</string>
        <key>offset</key>
        <string>{-73,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{344,240}}</string>
        <key>sourceSize</key>
        <string>{344,240}</string>
      </dict>
      <key>monster_16305_0_4_1_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{792,346},{344,240}}</string>
        <key>offset</key>
        <string>{-73,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{344,240}}</string>
        <key>sourceSize</key>
        <string>{344,240}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16305_0_4_1.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>monster_16305_0_4_1.png</string>
    </dict>
  </dict>
</plist>