<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16109_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{436,1031},{496,371}}</string>
        <key>offset</key>
        <string>{-248,331}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{496,371}}</string>
        <key>sourceSize</key>
        <string>{496,371}</string>
      </dict>
      <key>monster_16109_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1539,412},{475,388}}</string>
        <key>offset</key>
        <string>{-343,338}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{475,388}}</string>
        <key>sourceSize</key>
        <string>{475,388}</string>
      </dict>
      <key>monster_16109_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1352,1215},{391,465}}</string>
        <key>offset</key>
        <string>{-237,422}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{391,465}}</string>
        <key>sourceSize</key>
        <string>{391,465}</string>
      </dict>
      <key>monster_16109_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1558},{505,451}}</string>
        <key>offset</key>
        <string>{-271,406}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{505,451}}</string>
        <key>sourceSize</key>
        <string>{505,451}</string>
      </dict>
      <key>monster_16109_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{368,0},{515,349}}</string>
        <key>offset</key>
        <string>{-316,303}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{515,349}}</string>
        <key>sourceSize</key>
        <string>{515,349}</string>
      </dict>
      <key>monster_16109_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{519,366}}</string>
        <key>offset</key>
        <string>{-323,320}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{519,366}}</string>
        <key>sourceSize</key>
        <string>{519,366}</string>
      </dict>
      <key>monster_16109_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{719,0},{441,507}}</string>
        <key>offset</key>
        <string>{-225,400}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{441,507}}</string>
        <key>sourceSize</key>
        <string>{441,507}</string>
      </dict>
      <key>monster_16109_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1041},{515,434}}</string>
        <key>offset</key>
        <string>{-255,373}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{515,434}}</string>
        <key>sourceSize</key>
        <string>{515,434}</string>
      </dict>
      <key>monster_16109_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,521},{518,393}}</string>
        <key>offset</key>
        <string>{-265,332}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{518,393}}</string>
        <key>sourceSize</key>
        <string>{518,393}</string>
      </dict>
      <key>monster_16109_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1352,1608},{442,416}}</string>
        <key>offset</key>
        <string>{-203,326}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{442,416}}</string>
        <key>sourceSize</key>
        <string>{442,416}</string>
      </dict>
      <key>monster_16109_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1539,0},{410,476}}</string>
        <key>offset</key>
        <string>{-217,381}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{410,476}}</string>
        <key>sourceSize</key>
        <string>{410,476}</string>
      </dict>
      <key>monster_16109_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{507,1529},{402,491}}</string>
        <key>offset</key>
        <string>{-199,342}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{402,491}}</string>
        <key>sourceSize</key>
        <string>{402,491}</string>
      </dict>
      <key>monster_16109_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1529,802},{471,411}}</string>
        <key>offset</key>
        <string>{-256,339}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{471,411}}</string>
        <key>sourceSize</key>
        <string>{471,411}</string>
      </dict>
      <key>monster_16109_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1130,509},{482,397}}</string>
        <key>offset</key>
        <string>{-282,329}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{482,397}}</string>
        <key>sourceSize</key>
        <string>{482,397}</string>
      </dict>
      <key>monster_16109_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{911,1486},{471,439}}</string>
        <key>offset</key>
        <string>{-319,354}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{471,439}}</string>
        <key>sourceSize</key>
        <string>{471,439}</string>
      </dict>
      <key>monster_16109_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{395,517},{512,373}}</string>
        <key>offset</key>
        <string>{-340,337}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{512,373}}</string>
        <key>sourceSize</key>
        <string>{512,373}</string>
      </dict>
      <key>monster_16109_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{809,1001},{483,374}}</string>
        <key>offset</key>
        <string>{-340,330}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{483,374}}</string>
        <key>sourceSize</key>
        <string>{483,374}</string>
      </dict>
      <key>monster_16109_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{770,509},{490,358}}</string>
        <key>offset</key>
        <string>{-288,326}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{490,358}}</string>
        <key>sourceSize</key>
        <string>{490,358}</string>
      </dict>
      <key>monster_16109_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1162,0},{481,375}}</string>
        <key>offset</key>
        <string>{-271,336}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{481,375}}</string>
        <key>sourceSize</key>
        <string>{481,375}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16109_0_2_1.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_16109_0_2_1.png</string>
    </dict>
  </dict>
</plist>