<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_8103_0_2_0_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,622},{620,651}}</string>
        <key>offset</key>
        <string>{-450,251}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{620,651}}</string>
        <key>sourceSize</key>
        <string>{620,651}</string>
      </dict>
      <key>monster_8103_0_2_0_0016.png</key>
      <dict>
        <key>frame</key>
        <string>{{622,622},{620,646}}</string>
        <key>offset</key>
        <string>{-450,246}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{620,646}}</string>
        <key>sourceSize</key>
        <string>{620,646}</string>
      </dict>
      <key>monster_8103_0_2_0_0017.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{620,652}}</string>
        <key>offset</key>
        <string>{-450,252}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{620,652}}</string>
        <key>sourceSize</key>
        <string>{620,652}</string>
      </dict>
      <key>monster_8103_0_2_1_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,622},{620,651}}</string>
        <key>offset</key>
        <string>{-450,251}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{620,651}}</string>
        <key>sourceSize</key>
        <string>{620,651}</string>
      </dict>
      <key>monster_8103_0_2_2_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,622},{620,651}}</string>
        <key>offset</key>
        <string>{-450,251}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{620,651}}</string>
        <key>sourceSize</key>
        <string>{620,651}</string>
      </dict>
      <key>monster_8103_0_2_3_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,622},{620,651}}</string>
        <key>offset</key>
        <string>{-450,251}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{620,651}}</string>
        <key>sourceSize</key>
        <string>{620,651}</string>
      </dict>
      <key>monster_8103_0_2_4_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,622},{620,651}}</string>
        <key>offset</key>
        <string>{-450,251}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{620,651}}</string>
        <key>sourceSize</key>
        <string>{620,651}</string>
      </dict>
      <key>monster_8103_0_2_5_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,622},{620,651}}</string>
        <key>offset</key>
        <string>{-450,251}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{620,651}}</string>
        <key>sourceSize</key>
        <string>{620,651}</string>
      </dict>
      <key>monster_8103_0_2_6_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,622},{620,651}}</string>
        <key>offset</key>
        <string>{-450,251}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{620,651}}</string>
        <key>sourceSize</key>
        <string>{620,651}</string>
      </dict>
      <key>monster_8103_0_2_7_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,622},{620,651}}</string>
        <key>offset</key>
        <string>{-450,251}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{620,651}}</string>
        <key>sourceSize</key>
        <string>{620,651}</string>
      </dict>
      <key>monster_8103_0_2_1_0016.png</key>
      <dict>
        <key>frame</key>
        <string>{{622,622},{620,646}}</string>
        <key>offset</key>
        <string>{-450,246}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{620,646}}</string>
        <key>sourceSize</key>
        <string>{620,646}</string>
      </dict>
      <key>monster_8103_0_2_2_0016.png</key>
      <dict>
        <key>frame</key>
        <string>{{622,622},{620,646}}</string>
        <key>offset</key>
        <string>{-450,246}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{620,646}}</string>
        <key>sourceSize</key>
        <string>{620,646}</string>
      </dict>
      <key>monster_8103_0_2_3_0016.png</key>
      <dict>
        <key>frame</key>
        <string>{{622,622},{620,646}}</string>
        <key>offset</key>
        <string>{-450,246}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{620,646}}</string>
        <key>sourceSize</key>
        <string>{620,646}</string>
      </dict>
      <key>monster_8103_0_2_4_0016.png</key>
      <dict>
        <key>frame</key>
        <string>{{622,622},{620,646}}</string>
        <key>offset</key>
        <string>{-450,246}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{620,646}}</string>
        <key>sourceSize</key>
        <string>{620,646}</string>
      </dict>
      <key>monster_8103_0_2_5_0016.png</key>
      <dict>
        <key>frame</key>
        <string>{{622,622},{620,646}}</string>
        <key>offset</key>
        <string>{-450,246}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{620,646}}</string>
        <key>sourceSize</key>
        <string>{620,646}</string>
      </dict>
      <key>monster_8103_0_2_6_0016.png</key>
      <dict>
        <key>frame</key>
        <string>{{622,622},{620,646}}</string>
        <key>offset</key>
        <string>{-450,246}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{620,646}}</string>
        <key>sourceSize</key>
        <string>{620,646}</string>
      </dict>
      <key>monster_8103_0_2_7_0016.png</key>
      <dict>
        <key>frame</key>
        <string>{{622,622},{620,646}}</string>
        <key>offset</key>
        <string>{-450,246}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{620,646}}</string>
        <key>sourceSize</key>
        <string>{620,646}</string>
      </dict>
      <key>monster_8103_0_2_1_0017.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{620,652}}</string>
        <key>offset</key>
        <string>{-450,252}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{620,652}}</string>
        <key>sourceSize</key>
        <string>{620,652}</string>
      </dict>
      <key>monster_8103_0_2_2_0017.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{620,652}}</string>
        <key>offset</key>
        <string>{-450,252}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{620,652}}</string>
        <key>sourceSize</key>
        <string>{620,652}</string>
      </dict>
      <key>monster_8103_0_2_3_0017.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{620,652}}</string>
        <key>offset</key>
        <string>{-450,252}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{620,652}}</string>
        <key>sourceSize</key>
        <string>{620,652}</string>
      </dict>
      <key>monster_8103_0_2_4_0017.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{620,652}}</string>
        <key>offset</key>
        <string>{-450,252}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{620,652}}</string>
        <key>sourceSize</key>
        <string>{620,652}</string>
      </dict>
      <key>monster_8103_0_2_5_0017.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{620,652}}</string>
        <key>offset</key>
        <string>{-450,252}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{620,652}}</string>
        <key>sourceSize</key>
        <string>{620,652}</string>
      </dict>
      <key>monster_8103_0_2_6_0017.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{620,652}}</string>
        <key>offset</key>
        <string>{-450,252}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{620,652}}</string>
        <key>sourceSize</key>
        <string>{620,652}</string>
      </dict>
      <key>monster_8103_0_2_7_0017.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{620,652}}</string>
        <key>offset</key>
        <string>{-450,252}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{620,652}}</string>
        <key>sourceSize</key>
        <string>{620,652}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_8103_0_2_5.png</string>
      <key>size</key>
      <string>{1644,1280}</string>
      <key>textureFileName</key>
      <string>monster_8103_0_2_5.png</string>
    </dict>
  </dict>
</plist>