<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16482_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{767,1328},{290,279}}</string>
        <key>offset</key>
        <string>{-72,220}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{290,279}}</string>
        <key>sourceSize</key>
        <string>{290,279}</string>
      </dict>
      <key>monster_16482_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{410,1157},{313,205}}</string>
        <key>offset</key>
        <string>{-80,145}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{313,205}}</string>
        <key>sourceSize</key>
        <string>{313,205}</string>
      </dict>
      <key>monster_16482_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{209,1218},{365,199}}</string>
        <key>offset</key>
        <string>{-92,175}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{365,199}}</string>
        <key>sourceSize</key>
        <string>{365,199}</string>
      </dict>
      <key>monster_16482_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1246,1324},{191,193}}</string>
        <key>offset</key>
        <string>{-70,152}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{191,193}}</string>
        <key>sourceSize</key>
        <string>{191,193}</string>
      </dict>
      <key>monster_16482_0_4_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1048,1324},{206,196}}</string>
        <key>offset</key>
        <string>{-79,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,196}}</string>
        <key>sourceSize</key>
        <string>{206,196}</string>
      </dict>
      <key>monster_16482_0_4_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{813,626},{202,289}}</string>
        <key>offset</key>
        <string>{-89,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{202,289}}</string>
        <key>sourceSize</key>
        <string>{202,289}</string>
      </dict>
      <key>monster_16482_0_4_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1021,0},{220,285}}</string>
        <key>offset</key>
        <string>{-98,38}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{220,285}}</string>
        <key>sourceSize</key>
        <string>{220,285}</string>
      </dict>
      <key>monster_16482_0_4_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1744,0},{229,262}}</string>
        <key>offset</key>
        <string>{-101,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{229,262}}</string>
        <key>sourceSize</key>
        <string>{229,262}</string>
      </dict>
      <key>monster_16482_0_4_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1243,0},{233,270}}</string>
        <key>offset</key>
        <string>{-106,30}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{233,270}}</string>
        <key>sourceSize</key>
        <string>{233,270}</string>
      </dict>
      <key>monster_16482_0_4_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1478,0},{234,264}}</string>
        <key>offset</key>
        <string>{-106,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{234,264}}</string>
        <key>sourceSize</key>
        <string>{234,264}</string>
      </dict>
      <key>monster_16482_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{551,1472},{307,214}}</string>
        <key>offset</key>
        <string>{-47,152}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{307,214}}</string>
        <key>sourceSize</key>
        <string>{307,214}</string>
      </dict>
      <key>monster_16482_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{593,725},{307,218}}</string>
        <key>offset</key>
        <string>{-67,157}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{307,218}}</string>
        <key>sourceSize</key>
        <string>{307,218}</string>
      </dict>
      <key>monster_16482_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{693,324},{300,228}}</string>
        <key>offset</key>
        <string>{-91,204}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{300,228}}</string>
        <key>sourceSize</key>
        <string>{300,228}</string>
      </dict>
      <key>monster_16482_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1039,1142},{218,180}}</string>
        <key>offset</key>
        <string>{-161,153}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{218,180}}</string>
        <key>sourceSize</key>
        <string>{218,180}</string>
      </dict>
      <key>monster_16482_0_4_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{504,385},{338,187}}</string>
        <key>offset</key>
        <string>{-259,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{338,187}}</string>
        <key>sourceSize</key>
        <string>{338,187}</string>
      </dict>
      <key>monster_16482_0_4_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,794},{361,233}}</string>
        <key>offset</key>
        <string>{-298,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{361,233}}</string>
        <key>sourceSize</key>
        <string>{361,233}</string>
      </dict>
      <key>monster_16482_0_4_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{329,0},{383,220}}</string>
        <key>offset</key>
        <string>{-319,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{383,220}}</string>
        <key>sourceSize</key>
        <string>{383,220}</string>
      </dict>
      <key>monster_16482_0_4_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{303,406},{386,199}}</string>
        <key>offset</key>
        <string>{-322,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{386,199}}</string>
        <key>sourceSize</key>
        <string>{386,199}</string>
      </dict>
      <key>monster_16482_0_4_1_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1243},{392,207}}</string>
        <key>offset</key>
        <string>{-327,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{392,207}}</string>
        <key>sourceSize</key>
        <string>{392,207}</string>
      </dict>
      <key>monster_16482_0_4_1_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{153,826},{390,203}}</string>
        <key>offset</key>
        <string>{-325,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{390,203}}</string>
        <key>sourceSize</key>
        <string>{390,203}</string>
      </dict>
      <key>monster_16482_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1478,236},{219,197}}</string>
        <key>offset</key>
        <string>{-45,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{219,197}}</string>
        <key>sourceSize</key>
        <string>{219,197}</string>
      </dict>
      <key>monster_16482_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1361,435},{200,217}}</string>
        <key>offset</key>
        <string>{-72,161}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,217}}</string>
        <key>sourceSize</key>
        <string>{200,217}</string>
      </dict>
      <key>monster_16482_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{767,1620},{161,243}}</string>
        <key>offset</key>
        <string>{-98,221}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,243}}</string>
        <key>sourceSize</key>
        <string>{161,243}</string>
      </dict>
      <key>monster_16482_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{551,0},{322,185}}</string>
        <key>offset</key>
        <string>{-278,181}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{322,185}}</string>
        <key>sourceSize</key>
        <string>{322,185}</string>
      </dict>
      <key>monster_16482_0_4_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{209,1585},{340,205}}</string>
        <key>offset</key>
        <string>{-295,171}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{340,205}}</string>
        <key>sourceSize</key>
        <string>{340,205}</string>
      </dict>
      <key>monster_16482_0_4_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{151,0},{404,176}}</string>
        <key>offset</key>
        <string>{-362,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{404,176}}</string>
        <key>sourceSize</key>
        <string>{404,176}</string>
      </dict>
      <key>monster_16482_0_4_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,417},{407,151}}</string>
        <key>offset</key>
        <string>{-363,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{407,151}}</string>
        <key>sourceSize</key>
        <string>{407,151}</string>
      </dict>
      <key>monster_16482_0_4_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,417},{413,148}}</string>
        <key>offset</key>
        <string>{-365,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{413,148}}</string>
        <key>sourceSize</key>
        <string>{413,148}</string>
      </dict>
      <key>monster_16482_0_4_2_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{415,149}}</string>
        <key>offset</key>
        <string>{-366,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{415,149}}</string>
        <key>sourceSize</key>
        <string>{415,149}</string>
      </dict>
      <key>monster_16482_0_4_2_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,832},{409,151}}</string>
        <key>offset</key>
        <string>{-364,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{409,151}}</string>
        <key>sourceSize</key>
        <string>{409,151}</string>
      </dict>
      <key>monster_16482_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1248,1519},{186,169}}</string>
        <key>offset</key>
        <string>{-53,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{186,169}}</string>
        <key>sourceSize</key>
        <string>{186,169}</string>
      </dict>
      <key>monster_16482_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1048,1532},{200,198}}</string>
        <key>offset</key>
        <string>{-79,144}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,198}}</string>
        <key>sourceSize</key>
        <string>{200,198}</string>
      </dict>
      <key>monster_16482_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1039,873},{267,210}}</string>
        <key>offset</key>
        <string>{-155,220}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{267,210}}</string>
        <key>sourceSize</key>
        <string>{267,210}</string>
      </dict>
      <key>monster_16482_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{738,0},{294,281}}</string>
        <key>offset</key>
        <string>{-233,291}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{294,281}}</string>
        <key>sourceSize</key>
        <string>{294,281}</string>
      </dict>
      <key>monster_16482_0_4_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1744,231},{208,259}}</string>
        <key>offset</key>
        <string>{-167,268}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,259}}</string>
        <key>sourceSize</key>
        <string>{208,259}</string>
      </dict>
      <key>monster_16482_0_4_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{617,1034},{292,187}}</string>
        <key>offset</key>
        <string>{-223,165}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{292,187}}</string>
        <key>sourceSize</key>
        <string>{292,187}</string>
      </dict>
      <key>monster_16482_0_4_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1151,287},{282,208}}</string>
        <key>offset</key>
        <string>{-201,169}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{282,208}}</string>
        <key>sourceSize</key>
        <string>{282,208}</string>
      </dict>
      <key>monster_16482_0_4_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{806,1034},{290,231}}</string>
        <key>offset</key>
        <string>{-203,183}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{290,231}}</string>
        <key>sourceSize</key>
        <string>{290,231}</string>
      </dict>
      <key>monster_16482_0_4_3_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{923,296},{288,226}}</string>
        <key>offset</key>
        <string>{-201,182}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{288,226}}</string>
        <key>sourceSize</key>
        <string>{288,226}</string>
      </dict>
      <key>monster_16482_0_4_3_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1017,586},{285,232}}</string>
        <key>offset</key>
        <string>{-201,179}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{285,232}}</string>
        <key>sourceSize</key>
        <string>{285,232}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16482_0_4_0.png</string>
      <key>size</key>
      <string>{2048,1792}</string>
      <key>textureFileName</key>
      <string>monster_16482_0_4_0.png</string>
    </dict>
  </dict>
</plist>