<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16473_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{319,447},{441,296}}</string>
        <key>offset</key>
        <string>{-197,249}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{441,296}}</string>
        <key>sourceSize</key>
        <string>{441,296}</string>
      </dict>
      <key>monster_16473_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{617,441},{388,289}}</string>
        <key>offset</key>
        <string>{-172,243}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{388,289}}</string>
        <key>sourceSize</key>
        <string>{388,289}</string>
      </dict>
      <key>monster_16473_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{840,0},{381,380}}</string>
        <key>offset</key>
        <string>{-198,314}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{381,380}}</string>
        <key>sourceSize</key>
        <string>{381,380}</string>
      </dict>
      <key>monster_16473_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1222,0},{366,363}}</string>
        <key>offset</key>
        <string>{-184,300}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{366,363}}</string>
        <key>sourceSize</key>
        <string>{366,363}</string>
      </dict>
      <key>monster_16473_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{327,1395},{251,445}}</string>
        <key>offset</key>
        <string>{-103,354}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{251,445}}</string>
        <key>sourceSize</key>
        <string>{251,445}</string>
      </dict>
      <key>monster_16473_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{572,0},{266,439}}</string>
        <key>offset</key>
        <string>{-118,347}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{266,439}}</string>
        <key>sourceSize</key>
        <string>{266,439}</string>
      </dict>
      <key>monster_16473_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,932},{325,461}}</string>
        <key>offset</key>
        <string>{-211,352}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{325,461}}</string>
        <key>sourceSize</key>
        <string>{325,461}</string>
      </dict>
      <key>monster_16473_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{317,464}}</string>
        <key>offset</key>
        <string>{-203,354}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{317,464}}</string>
        <key>sourceSize</key>
        <string>{317,464}</string>
      </dict>
      <key>monster_16473_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{580,1331},{425,408}}</string>
        <key>offset</key>
        <string>{-183,313}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{425,408}}</string>
        <key>sourceSize</key>
        <string>{425,408}</string>
      </dict>
      <key>monster_16473_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{595,890},{376,424}}</string>
        <key>offset</key>
        <string>{-158,329}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{376,424}}</string>
        <key>sourceSize</key>
        <string>{376,424}</string>
      </dict>
      <key>monster_16473_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1395},{325,461}}</string>
        <key>offset</key>
        <string>{-62,352}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{325,461}}</string>
        <key>sourceSize</key>
        <string>{325,461}</string>
      </dict>
      <key>monster_16473_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,466},{317,464}}</string>
        <key>offset</key>
        <string>{-62,354}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{317,464}}</string>
        <key>sourceSize</key>
        <string>{317,464}</string>
      </dict>
      <key>monster_16473_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{319,0},{251,445}}</string>
        <key>offset</key>
        <string>{-96,354}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{251,445}}</string>
        <key>sourceSize</key>
        <string>{251,445}</string>
      </dict>
      <key>monster_16473_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{327,890},{266,439}}</string>
        <key>offset</key>
        <string>{-96,347}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{266,439}}</string>
        <key>sourceSize</key>
        <string>{266,439}</string>
      </dict>
      <key>monster_16473_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{908,383},{381,380}}</string>
        <key>offset</key>
        <string>{-131,314}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{381,380}}</string>
        <key>sourceSize</key>
        <string>{381,380}</string>
      </dict>
      <key>monster_16473_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1587,0},{366,363}}</string>
        <key>offset</key>
        <string>{-130,300}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{366,363}}</string>
        <key>sourceSize</key>
        <string>{366,363}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16473_0_7.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_16473_0_7.png</string>
    </dict>
  </dict>
</plist>