<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_2425_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,0},{559,262}}</string>
        <key>offset</key>
        <string>{-223,212}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{559,262}}</string>
        <key>sourceSize</key>
        <string>{559,262}</string>
      </dict>
      <key>monster_2425_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{527,561},{554,265}}</string>
        <key>offset</key>
        <string>{-223,215}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{554,265}}</string>
        <key>sourceSize</key>
        <string>{554,265}</string>
      </dict>
      <key>monster_2425_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{528,0},{552,264}}</string>
        <key>offset</key>
        <string>{-216,213}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{552,264}}</string>
        <key>sourceSize</key>
        <string>{552,264}</string>
      </dict>
      <key>monster_2425_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{580,262}}</string>
        <key>offset</key>
        <string>{-245,212}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{580,262}}</string>
        <key>sourceSize</key>
        <string>{580,262}</string>
      </dict>
      <key>monster_2425_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,582},{562,261}}</string>
        <key>offset</key>
        <string>{-226,212}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{562,261}}</string>
        <key>sourceSize</key>
        <string>{562,261}</string>
      </dict>
      <key>monster_2425_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,582},{575,262}}</string>
        <key>offset</key>
        <string>{-237,212}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{575,262}}</string>
        <key>sourceSize</key>
        <string>{575,262}</string>
      </dict>
      <key>monster_2425_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{794,0},{457,306}}</string>
        <key>offset</key>
        <string>{-181,207}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{457,306}}</string>
        <key>sourceSize</key>
        <string>{457,306}</string>
      </dict>
      <key>monster_2425_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1102,451},{444,310}}</string>
        <key>offset</key>
        <string>{-167,210}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{444,310}}</string>
        <key>sourceSize</key>
        <string>{444,310}</string>
      </dict>
      <key>monster_2425_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{794,459},{422,305}}</string>
        <key>offset</key>
        <string>{-148,209}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{422,305}}</string>
        <key>sourceSize</key>
        <string>{422,305}</string>
      </dict>
      <key>monster_2425_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{794,897},{417,303}}</string>
        <key>offset</key>
        <string>{-140,209}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{417,303}}</string>
        <key>sourceSize</key>
        <string>{417,303}</string>
      </dict>
      <key>monster_2425_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1159},{408,302}}</string>
        <key>offset</key>
        <string>{-128,210}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{408,302}}</string>
        <key>sourceSize</key>
        <string>{408,302}</string>
      </dict>
      <key>monster_2425_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1102,0},{449,303}}</string>
        <key>offset</key>
        <string>{-168,207}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{449,303}}</string>
        <key>sourceSize</key>
        <string>{449,303}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_2425_0_1_3.png</string>
      <key>size</key>
      <string>{1538,1582}</string>
      <key>textureFileName</key>
      <string>monster_2425_0_1_3.png</string>
    </dict>
  </dict>
</plist>