<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_11035_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,300},{201,294}}</string>
        <key>offset</key>
        <string>{-55,204}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{201,294}}</string>
        <key>sourceSize</key>
        <string>{201,294}</string>
      </dict>
      <key>monster_11035_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{200,298}}</string>
        <key>offset</key>
        <string>{-55,205}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,298}}</string>
        <key>sourceSize</key>
        <string>{200,298}</string>
      </dict>
      <key>monster_11035_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,300},{196,296}}</string>
        <key>offset</key>
        <string>{-56,202}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,296}}</string>
        <key>sourceSize</key>
        <string>{196,296}</string>
      </dict>
      <key>monster_11035_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,598},{207,296}}</string>
        <key>offset</key>
        <string>{-61,202}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{207,296}}</string>
        <key>sourceSize</key>
        <string>{207,296}</string>
      </dict>
      <key>monster_11035_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,0},{202,293}}</string>
        <key>offset</key>
        <string>{-55,207}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{202,293}}</string>
        <key>sourceSize</key>
        <string>{202,293}</string>
      </dict>
      <key>monster_11035_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,896},{198,292}}</string>
        <key>offset</key>
        <string>{-54,207}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{198,292}}</string>
        <key>sourceSize</key>
        <string>{198,292}</string>
      </dict>
      <key>monster_11035_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{406,0},{220,276}}</string>
        <key>offset</key>
        <string>{-62,205}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{220,276}}</string>
        <key>sourceSize</key>
        <string>{220,276}</string>
      </dict>
      <key>monster_11035_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{209,596},{222,287}}</string>
        <key>offset</key>
        <string>{-67,209}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{222,287}}</string>
        <key>sourceSize</key>
        <string>{222,287}</string>
      </dict>
      <key>monster_11035_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,896},{223,288}}</string>
        <key>offset</key>
        <string>{-68,208}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{223,288}}</string>
        <key>sourceSize</key>
        <string>{223,288}</string>
      </dict>
      <key>monster_11035_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{401,295},{210,282}}</string>
        <key>offset</key>
        <string>{-61,207}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{210,282}}</string>
        <key>sourceSize</key>
        <string>{210,282}</string>
      </dict>
      <key>monster_11035_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{425,885},{225,272}}</string>
        <key>offset</key>
        <string>{-66,209}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{225,272}}</string>
        <key>sourceSize</key>
        <string>{225,272}</string>
      </dict>
      <key>monster_11035_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{433,579},{231,270}}</string>
        <key>offset</key>
        <string>{-69,207}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{231,270}}</string>
        <key>sourceSize</key>
        <string>{231,270}</string>
      </dict>
      <key>monster_11035_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{666,532},{239,238}}</string>
        <key>offset</key>
        <string>{-84,192}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{239,238}}</string>
        <key>sourceSize</key>
        <string>{239,238}</string>
      </dict>
      <key>monster_11035_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{652,851},{239,244}}</string>
        <key>offset</key>
        <string>{-82,198}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{239,244}}</string>
        <key>sourceSize</key>
        <string>{239,244}</string>
      </dict>
      <key>monster_11035_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{628,0},{234,250}}</string>
        <key>offset</key>
        <string>{-82,199}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{234,250}}</string>
        <key>sourceSize</key>
        <string>{234,250}</string>
      </dict>
      <key>monster_11035_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{864,241},{246,241}}</string>
        <key>offset</key>
        <string>{-92,195}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{246,241}}</string>
        <key>sourceSize</key>
        <string>{246,241}</string>
      </dict>
      <key>monster_11035_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{613,278},{252,232}}</string>
        <key>offset</key>
        <string>{-95,195}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{252,232}}</string>
        <key>sourceSize</key>
        <string>{252,232}</string>
      </dict>
      <key>monster_11035_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{864,0},{249,239}}</string>
        <key>offset</key>
        <string>{-92,193}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{249,239}}</string>
        <key>sourceSize</key>
        <string>{249,239}</string>
      </dict>
      <key>monster_11035_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{906,700},{223,231}}</string>
        <key>offset</key>
        <string>{-70,171}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{223,231}}</string>
        <key>sourceSize</key>
        <string>{223,231}</string>
      </dict>
      <key>monster_11035_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1147,0},{221,227}}</string>
        <key>offset</key>
        <string>{-64,177}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{221,227}}</string>
        <key>sourceSize</key>
        <string>{221,227}</string>
      </dict>
      <key>monster_11035_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{893,925},{230,230}}</string>
        <key>offset</key>
        <string>{-71,179}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{230,230}}</string>
        <key>sourceSize</key>
        <string>{230,230}</string>
      </dict>
      <key>monster_11035_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1112,241},{224,223}}</string>
        <key>offset</key>
        <string>{-70,175}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{224,223}}</string>
        <key>sourceSize</key>
        <string>{224,223}</string>
      </dict>
      <key>monster_11035_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1147,467},{216,220}}</string>
        <key>offset</key>
        <string>{-64,174}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{216,220}}</string>
        <key>sourceSize</key>
        <string>{216,220}</string>
      </dict>
      <key>monster_11035_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{906,484},{214,239}}</string>
        <key>offset</key>
        <string>{-61,171}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{214,239}}</string>
        <key>sourceSize</key>
        <string>{214,239}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_11035_0_1_0.png</string>
      <key>size</key>
      <string>{1390,1281}</string>
      <key>textureFileName</key>
      <string>monster_11035_0_1_0.png</string>
    </dict>
  </dict>
</plist>