<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16336_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{497,667},{100,159}}</string>
        <key>offset</key>
        <string>{-18,115}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,159}}</string>
        <key>sourceSize</key>
        <string>{100,159}</string>
      </dict>
      <key>monster_16336_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,716},{125,167}}</string>
        <key>offset</key>
        <string>{-30,118}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,167}}</string>
        <key>sourceSize</key>
        <string>{125,167}</string>
      </dict>
      <key>monster_16336_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{570,455},{210,194}}</string>
        <key>offset</key>
        <string>{-97,123}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{210,194}}</string>
        <key>sourceSize</key>
        <string>{210,194}</string>
      </dict>
      <key>monster_16336_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{298,667},{197,179}}</string>
        <key>offset</key>
        <string>{-97,122}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{197,179}}</string>
        <key>sourceSize</key>
        <string>{197,179}</string>
      </dict>
      <key>monster_16336_0_4_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{570,229},{224,191}}</string>
        <key>offset</key>
        <string>{-88,120}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{224,191}}</string>
        <key>sourceSize</key>
        <string>{224,191}</string>
      </dict>
      <key>monster_16336_0_4_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{298,342},{270,278}}</string>
        <key>offset</key>
        <string>{-72,138}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{270,278}}</string>
        <key>sourceSize</key>
        <string>{270,278}</string>
      </dict>
      <key>monster_16336_0_4_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{361,287}}</string>
        <key>offset</key>
        <string>{-73,133}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{361,287}}</string>
        <key>sourceSize</key>
        <string>{361,287}</string>
      </dict>
      <key>monster_16336_0_4_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,363},{351,296}}</string>
        <key>offset</key>
        <string>{-71,151}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{351,296}}</string>
        <key>sourceSize</key>
        <string>{351,296}</string>
      </dict>
      <key>monster_16336_0_4_2_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{289,0},{340,209}}</string>
        <key>offset</key>
        <string>{-58,137}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{340,209}}</string>
        <key>sourceSize</key>
        <string>{340,209}</string>
      </dict>
      <key>monster_16336_0_4_2_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{570,0},{227,163}}</string>
        <key>offset</key>
        <string>{-34,140}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{227,163}}</string>
        <key>sourceSize</key>
        <string>{227,163}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16336_0_4_2.png</string>
      <key>size</key>
      <string>{769,863}</string>
      <key>textureFileName</key>
      <string>monster_16336_0_4_2.png</string>
    </dict>
  </dict>
</plist>