<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16240_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{122,177}}</string>
        <key>offset</key>
        <string>{-8,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,177}}</string>
        <key>sourceSize</key>
        <string>{122,177}</string>
      </dict>
      <key>monster_16240_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{179,0},{133,176}}</string>
        <key>offset</key>
        <string>{-3,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,176}}</string>
        <key>sourceSize</key>
        <string>{133,176}</string>
      </dict>
      <key>monster_16240_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{349,173},{148,157}}</string>
        <key>offset</key>
        <string>{-3,104}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,157}}</string>
        <key>sourceSize</key>
        <string>{148,157}</string>
      </dict>
      <key>monster_16240_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,260},{140,156}}</string>
        <key>offset</key>
        <string>{-4,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,156}}</string>
        <key>sourceSize</key>
        <string>{140,156}</string>
      </dict>
      <key>monster_16240_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,347},{153,126}}</string>
        <key>offset</key>
        <string>{-18,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,126}}</string>
        <key>sourceSize</key>
        <string>{153,126}</string>
      </dict>
      <key>monster_16240_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{324,323},{153,131}}</string>
        <key>offset</key>
        <string>{-37,88}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,131}}</string>
        <key>sourceSize</key>
        <string>{153,131}</string>
      </dict>
      <key>monster_16240_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,611},{125,125}}</string>
        <key>offset</key>
        <string>{-23,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,125}}</string>
        <key>sourceSize</key>
        <string>{125,125}</string>
      </dict>
      <key>monster_16240_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,475},{143,134}}</string>
        <key>offset</key>
        <string>{-42,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,134}}</string>
        <key>sourceSize</key>
        <string>{143,134}</string>
      </dict>
      <key>monster_16240_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{280,583},{121,125}}</string>
        <key>offset</key>
        <string>{-25,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,125}}</string>
        <key>sourceSize</key>
        <string>{121,125}</string>
      </dict>
      <key>monster_16240_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{145,532},{122,133}}</string>
        <key>offset</key>
        <string>{-27,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,133}}</string>
        <key>sourceSize</key>
        <string>{122,133}</string>
      </dict>
      <key>monster_16240_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{308,456},{125,134}}</string>
        <key>offset</key>
        <string>{-37,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,134}}</string>
        <key>sourceSize</key>
        <string>{125,134}</string>
      </dict>
      <key>monster_16240_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{155,402},{128,151}}</string>
        <key>offset</key>
        <string>{-21,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,151}}</string>
        <key>sourceSize</key>
        <string>{128,151}</string>
      </dict>
      <key>monster_16240_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,233},{112,164}}</string>
        <key>offset</key>
        <string>{-23,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,164}}</string>
        <key>sourceSize</key>
        <string>{112,164}</string>
      </dict>
      <key>monster_16240_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{357,0},{121,171}}</string>
        <key>offset</key>
        <string>{-16,131}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,171}}</string>
        <key>sourceSize</key>
        <string>{121,171}</string>
      </dict>
      <key>monster_16240_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,124},{107,176}}</string>
        <key>offset</key>
        <string>{-12,136}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,176}}</string>
        <key>sourceSize</key>
        <string>{107,176}</string>
      </dict>
      <key>monster_16240_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{178,135},{123,169}}</string>
        <key>offset</key>
        <string>{-13,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,169}}</string>
        <key>sourceSize</key>
        <string>{123,169}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16240_0_7.png</string>
      <key>size</key>
      <string>{512,1024}</string>
      <key>textureFileName</key>
      <string>monster_16240_0_7.png</string>
    </dict>
  </dict>
</plist>