<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_1516_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1462,0},{179,194}}</string>
        <key>offset</key>
        <string>{-38,133}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{179,194}}</string>
        <key>sourceSize</key>
        <string>{179,194}</string>
      </dict>
      <key>monster_1516_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1805,0},{176,193}}</string>
        <key>offset</key>
        <string>{-42,137}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,193}}</string>
        <key>sourceSize</key>
        <string>{176,193}</string>
      </dict>
      <key>monster_1516_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1436,432},{174,206}}</string>
        <key>offset</key>
        <string>{-42,145}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,206}}</string>
        <key>sourceSize</key>
        <string>{174,206}</string>
      </dict>
      <key>monster_1516_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,527},{254,179}}</string>
        <key>offset</key>
        <string>{-33,137}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{254,179}}</string>
        <key>sourceSize</key>
        <string>{254,179}</string>
      </dict>
      <key>monster_1516_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{253,772},{249,180}}</string>
        <key>offset</key>
        <string>{-38,136}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{249,180}}</string>
        <key>sourceSize</key>
        <string>{249,180}</string>
      </dict>
      <key>monster_1516_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1070,229},{222,174}}</string>
        <key>offset</key>
        <string>{-5,133}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{222,174}}</string>
        <key>sourceSize</key>
        <string>{222,174}</string>
      </dict>
      <key>monster_1516_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{359,506},{244,190}}</string>
        <key>offset</key>
        <string>{-16,136}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{244,190}}</string>
        <key>sourceSize</key>
        <string>{244,190}</string>
      </dict>
      <key>monster_1516_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,0},{253,190}}</string>
        <key>offset</key>
        <string>{-22,135}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{253,190}}</string>
        <key>sourceSize</key>
        <string>{253,190}</string>
      </dict>
      <key>monster_1516_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{691,245},{237,170}}</string>
        <key>offset</key>
        <string>{-10,134}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{237,170}}</string>
        <key>sourceSize</key>
        <string>{237,170}</string>
      </dict>
      <key>monster_1516_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{863,238},{230,205}}</string>
        <key>offset</key>
        <string>{-40,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{230,205}}</string>
        <key>sourceSize</key>
        <string>{230,205}</string>
      </dict>
      <key>monster_1516_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{988,699},{224,204}}</string>
        <key>offset</key>
        <string>{-46,125}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{224,204}}</string>
        <key>sourceSize</key>
        <string>{224,204}</string>
      </dict>
      <key>monster_1516_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1246,221},{209,200}}</string>
        <key>offset</key>
        <string>{-19,123}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,200}}</string>
        <key>sourceSize</key>
        <string>{209,200}</string>
      </dict>
      <key>monster_1516_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,783},{251,196}}</string>
        <key>offset</key>
        <string>{-40,127}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{251,196}}</string>
        <key>sourceSize</key>
        <string>{251,196}</string>
      </dict>
      <key>monster_1516_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{887,0},{227,198}}</string>
        <key>offset</key>
        <string>{-19,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{227,198}}</string>
        <key>sourceSize</key>
        <string>{227,198}</string>
      </dict>
      <key>monster_1516_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{551,497},{175,240}}</string>
        <key>offset</key>
        <string>{-31,113}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{175,240}}</string>
        <key>sourceSize</key>
        <string>{175,240}</string>
      </dict>
      <key>monster_1516_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{609,739},{181,232}}</string>
        <key>offset</key>
        <string>{-37,109}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,232}}</string>
        <key>sourceSize</key>
        <string>{181,232}</string>
      </dict>
      <key>monster_1516_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{713,0},{172,236}}</string>
        <key>offset</key>
        <string>{-32,108}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{172,236}}</string>
        <key>sourceSize</key>
        <string>{172,236}</string>
      </dict>
      <key>monster_1516_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{519,251},{170,244}}</string>
        <key>offset</key>
        <string>{-35,115}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,244}}</string>
        <key>sourceSize</key>
        <string>{170,244}</string>
      </dict>
      <key>monster_1516_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{348,255},{169,249}}</string>
        <key>offset</key>
        <string>{-40,121}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,249}}</string>
        <key>sourceSize</key>
        <string>{169,249}</string>
      </dict>
      <key>monster_1516_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{549,0},{162,243}}</string>
        <key>offset</key>
        <string>{-25,115}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,243}}</string>
        <key>sourceSize</key>
        <string>{162,243}</string>
      </dict>
      <key>monster_1516_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1256,0},{208,204}}</string>
        <key>offset</key>
        <string>{-81,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,204}}</string>
        <key>sourceSize</key>
        <string>{208,204}</string>
      </dict>
      <key>monster_1516_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1448,210},{206,206}}</string>
        <key>offset</key>
        <string>{-82,104}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,206}}</string>
        <key>sourceSize</key>
        <string>{206,206}</string>
      </dict>
      <key>monster_1516_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1392,668},{201,207}}</string>
        <key>offset</key>
        <string>{-78,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{201,207}}</string>
        <key>sourceSize</key>
        <string>{201,207}</string>
      </dict>
      <key>monster_1516_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1194,695},{196,216}}</string>
        <key>offset</key>
        <string>{-69,98}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,216}}</string>
        <key>sourceSize</key>
        <string>{196,216}</string>
      </dict>
      <key>monster_1516_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{792,718},{194,227}}</string>
        <key>offset</key>
        <string>{-66,106}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{194,227}}</string>
        <key>sourceSize</key>
        <string>{194,227}</string>
      </dict>
      <key>monster_1516_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1234,453},{200,213}}</string>
        <key>offset</key>
        <string>{-72,98}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,213}}</string>
        <key>sourceSize</key>
        <string>{200,213}</string>
      </dict>
      <key>monster_1516_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,264},{254,174}}</string>
        <key>offset</key>
        <string>{-159,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{254,174}}</string>
        <key>sourceSize</key>
        <string>{254,174}</string>
      </dict>
      <key>monster_1516_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,0},{249,181}}</string>
        <key>offset</key>
        <string>{-153,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{249,181}}</string>
        <key>sourceSize</key>
        <string>{249,181}</string>
      </dict>
      <key>monster_1516_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{181,520},{250,176}}</string>
        <key>offset</key>
        <string>{-159,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{250,176}}</string>
        <key>sourceSize</key>
        <string>{250,176}</string>
      </dict>
      <key>monster_1516_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{262,172}}</string>
        <key>offset</key>
        <string>{-164,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{262,172}}</string>
        <key>sourceSize</key>
        <string>{262,172}</string>
      </dict>
      <key>monster_1516_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1065,470},{223,167}}</string>
        <key>offset</key>
        <string>{-133,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{223,167}}</string>
        <key>sourceSize</key>
        <string>{223,167}</string>
      </dict>
      <key>monster_1516_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{896,470},{227,167}}</string>
        <key>offset</key>
        <string>{-122,133}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{227,167}}</string>
        <key>sourceSize</key>
        <string>{227,167}</string>
      </dict>
      <key>monster_1516_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1087,0},{219,167}}</string>
        <key>offset</key>
        <string>{-135,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{219,167}}</string>
        <key>sourceSize</key>
        <string>{219,167}</string>
      </dict>
      <key>monster_1516_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{435,752},{242,172}}</string>
        <key>offset</key>
        <string>{-152,131}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{242,172}}</string>
        <key>sourceSize</key>
        <string>{242,172}</string>
      </dict>
      <key>monster_1516_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,264},{261,170}}</string>
        <key>offset</key>
        <string>{-157,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{261,170}}</string>
        <key>sourceSize</key>
        <string>{261,170}</string>
      </dict>
      <key>monster_1516_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{728,484},{232,166}}</string>
        <key>offset</key>
        <string>{-147,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{232,166}}</string>
        <key>sourceSize</key>
        <string>{232,166}</string>
      </dict>
      <key>monster_1516_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1805,178},{178,192}}</string>
        <key>offset</key>
        <string>{-71,140}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{178,192}}</string>
        <key>sourceSize</key>
        <string>{178,192}</string>
      </dict>
      <key>monster_1516_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1643,0},{160,194}}</string>
        <key>offset</key>
        <string>{-60,152}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,194}}</string>
        <key>sourceSize</key>
        <string>{160,194}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_1516_0_1_0.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>monster_1516_0_1_0.png</string>
    </dict>
  </dict>
</plist>