<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16432_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{418,709},{374,282}}</string>
        <key>offset</key>
        <string>{-108,171}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{374,282}}</string>
        <key>sourceSize</key>
        <string>{374,282}</string>
      </dict>
      <key>monster_16432_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{794,709},{341,284}}</string>
        <key>offset</key>
        <string>{-103,180}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{341,284}}</string>
        <key>sourceSize</key>
        <string>{341,284}</string>
      </dict>
      <key>monster_16432_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,709},{416,261}}</string>
        <key>offset</key>
        <string>{-174,105}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{416,261}}</string>
        <key>sourceSize</key>
        <string>{416,261}</string>
      </dict>
      <key>monster_16432_0_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{452,253}}</string>
        <key>offset</key>
        <string>{-198,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{452,253}}</string>
        <key>sourceSize</key>
        <string>{452,253}</string>
      </dict>
      <key>monster_16432_0_4_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,454},{452,253}}</string>
        <key>offset</key>
        <string>{-198,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{452,253}}</string>
        <key>sourceSize</key>
        <string>{452,253}</string>
      </dict>
      <key>monster_16432_0_4_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{255,0},{452,253}}</string>
        <key>offset</key>
        <string>{-198,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{452,253}}</string>
        <key>sourceSize</key>
        <string>{452,253}</string>
      </dict>
      <key>monster_16432_0_4_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{454,454},{452,253}}</string>
        <key>offset</key>
        <string>{-198,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{452,253}}</string>
        <key>sourceSize</key>
        <string>{452,253}</string>
      </dict>
      <key>monster_16432_0_4_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{510,0},{452,253}}</string>
        <key>offset</key>
        <string>{-198,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{452,253}}</string>
        <key>sourceSize</key>
        <string>{452,253}</string>
      </dict>
      <key>monster_16432_0_4_5_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{765,0},{452,253}}</string>
        <key>offset</key>
        <string>{-198,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{452,253}}</string>
        <key>sourceSize</key>
        <string>{452,253}</string>
      </dict>
      <key>monster_16432_0_4_5_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1020,0},{452,253}}</string>
        <key>offset</key>
        <string>{-198,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{452,253}}</string>
        <key>sourceSize</key>
        <string>{452,253}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16432_0_4_5.png</string>
      <key>size</key>
      <string>{1281,1022}</string>
      <key>textureFileName</key>
      <string>monster_16432_0_4_5.png</string>
    </dict>
  </dict>
</plist>