<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16135_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{983,281},{245,251}}</string>
        <key>offset</key>
        <string>{-134,206}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{245,251}}</string>
        <key>sourceSize</key>
        <string>{245,251}</string>
      </dict>
      <key>monster_16135_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{955,889},{211,238}}</string>
        <key>offset</key>
        <string>{-127,191}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{211,238}}</string>
        <key>sourceSize</key>
        <string>{211,238}</string>
      </dict>
      <key>monster_16135_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{802,1585},{241,385}}</string>
        <key>offset</key>
        <string>{-71,339}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{241,385}}</string>
        <key>sourceSize</key>
        <string>{241,385}</string>
      </dict>
      <key>monster_16135_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{656,0},{527,325}}</string>
        <key>offset</key>
        <string>{-315,276}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{527,325}}</string>
        <key>sourceSize</key>
        <string>{527,325}</string>
      </dict>
      <key>monster_16135_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{322,1747},{478,297}}</string>
        <key>offset</key>
        <string>{-323,250}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{478,297}}</string>
        <key>sourceSize</key>
        <string>{478,297}</string>
      </dict>
      <key>monster_16135_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,622},{619,306}}</string>
        <key>offset</key>
        <string>{-323,259}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{619,306}}</string>
        <key>sourceSize</key>
        <string>{619,306}</string>
      </dict>
      <key>monster_16135_0_2_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{620,318}}</string>
        <key>offset</key>
        <string>{-321,271}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{620,318}}</string>
        <key>sourceSize</key>
        <string>{620,318}</string>
      </dict>
      <key>monster_16135_0_2_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1243},{617,320}}</string>
        <key>offset</key>
        <string>{-323,275}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{617,320}}</string>
        <key>sourceSize</key>
        <string>{617,320}</string>
      </dict>
      <key>monster_16135_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{983,0},{279,245}}</string>
        <key>offset</key>
        <string>{-183,200}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{279,245}}</string>
        <key>sourceSize</key>
        <string>{279,245}</string>
      </dict>
      <key>monster_16135_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1230,0},{271,251}}</string>
        <key>offset</key>
        <string>{-197,206}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{271,251}}</string>
        <key>sourceSize</key>
        <string>{271,251}</string>
      </dict>
      <key>monster_16135_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{955,529},{358,318}}</string>
        <key>offset</key>
        <string>{-102,271}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{358,318}}</string>
        <key>sourceSize</key>
        <string>{358,318}</string>
      </dict>
      <key>monster_16135_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{632,561},{542,321}}</string>
        <key>offset</key>
        <string>{-295,274}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{542,321}}</string>
        <key>sourceSize</key>
        <string>{542,321}</string>
      </dict>
      <key>monster_16135_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{646,1105},{478,317}}</string>
        <key>offset</key>
        <string>{-305,277}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{478,317}}</string>
        <key>sourceSize</key>
        <string>{478,317}</string>
      </dict>
      <key>monster_16135_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{308,622},{564,322}}</string>
        <key>offset</key>
        <string>{-312,281}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{564,322}}</string>
        <key>sourceSize</key>
        <string>{564,322}</string>
      </dict>
      <key>monster_16135_0_2_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{322,1188},{557,322}}</string>
        <key>offset</key>
        <string>{-319,281}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{557,322}}</string>
        <key>sourceSize</key>
        <string>{557,322}</string>
      </dict>
      <key>monster_16135_0_2_7_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{320,0},{559,334}}</string>
        <key>offset</key>
        <string>{-318,287}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{559,334}}</string>
        <key>sourceSize</key>
        <string>{559,334}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16135_0_2_3.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_16135_0_2_3.png</string>
    </dict>
  </dict>
</plist>