<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16455_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,631},{591,355}}</string>
        <key>offset</key>
        <string>{-236,290}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{591,355}}</string>
        <key>sourceSize</key>
        <string>{591,355}</string>
      </dict>
      <key>monster_16455_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{593,622},{519,395}}</string>
        <key>offset</key>
        <string>{-258,330}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{519,395}}</string>
        <key>sourceSize</key>
        <string>{519,395}</string>
      </dict>
      <key>monster_16455_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1083,0},{456,448}}</string>
        <key>offset</key>
        <string>{-313,379}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{456,448}}</string>
        <key>sourceSize</key>
        <string>{456,448}</string>
      </dict>
      <key>monster_16455_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{319,0},{620,395}}</string>
        <key>offset</key>
        <string>{-473,317}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{620,395}}</string>
        <key>sourceSize</key>
        <string>{620,395}</string>
      </dict>
      <key>monster_16455_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{716,0},{474,365}}</string>
        <key>offset</key>
        <string>{-320,265}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{474,365}}</string>
        <key>sourceSize</key>
        <string>{474,365}</string>
      </dict>
      <key>monster_16455_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1533,0},{434,435}}</string>
        <key>offset</key>
        <string>{-287,358}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{434,435}}</string>
        <key>sourceSize</key>
        <string>{434,435}</string>
      </dict>
      <key>monster_16455_0_2_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1533,436},{357,370}}</string>
        <key>offset</key>
        <string>{-197,323}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{357,370}}</string>
        <key>sourceSize</key>
        <string>{357,370}</string>
      </dict>
      <key>monster_16455_0_2_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1114,458},{334,344}}</string>
        <key>offset</key>
        <string>{-198,309}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{334,344}}</string>
        <key>sourceSize</key>
        <string>{334,344}</string>
      </dict>
      <key>monster_16455_0_2_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{629,317}}</string>
        <key>offset</key>
        <string>{-248,254}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{629,317}}</string>
        <key>sourceSize</key>
        <string>{629,317}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16455_0_2_0.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>monster_16455_0_2_0.png</string>
    </dict>
  </dict>
</plist>