<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20139_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{257,168}}</string>
        <key>offset</key>
        <string>{-55,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{257,168}}</string>
        <key>sourceSize</key>
        <string>{257,168}</string>
      </dict>
      <key>monster_20139_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,518},{238,119}}</string>
        <key>offset</key>
        <string>{-44,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{238,119}}</string>
        <key>sourceSize</key>
        <string>{238,119}</string>
      </dict>
      <key>monster_20139_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{582,170},{190,110}}</string>
        <key>offset</key>
        <string>{-52,33}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{190,110}}</string>
        <key>sourceSize</key>
        <string>{190,110}</string>
      </dict>
      <key>monster_20139_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,259},{257,168}}</string>
        <key>offset</key>
        <string>{-55,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{257,168}}</string>
        <key>sourceSize</key>
        <string>{257,168}</string>
      </dict>
      <key>monster_20139_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{259,758},{238,119}}</string>
        <key>offset</key>
        <string>{-44,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{238,119}}</string>
        <key>sourceSize</key>
        <string>{238,119}</string>
      </dict>
      <key>monster_20139_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{533,499},{190,110}}</string>
        <key>offset</key>
        <string>{-52,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{190,110}}</string>
        <key>sourceSize</key>
        <string>{190,110}</string>
      </dict>
      <key>monster_20139_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,518},{257,168}}</string>
        <key>offset</key>
        <string>{-55,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{257,168}}</string>
        <key>sourceSize</key>
        <string>{257,168}</string>
      </dict>
      <key>monster_20139_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{291,518},{238,119}}</string>
        <key>offset</key>
        <string>{-44,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{238,119}}</string>
        <key>sourceSize</key>
        <string>{238,119}</string>
      </dict>
      <key>monster_20139_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{582,282},{190,110}}</string>
        <key>offset</key>
        <string>{-52,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{190,110}}</string>
        <key>sourceSize</key>
        <string>{190,110}</string>
      </dict>
      <key>monster_20139_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,777},{257,168}}</string>
        <key>offset</key>
        <string>{-55,130}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{257,168}}</string>
        <key>sourceSize</key>
        <string>{257,168}</string>
      </dict>
      <key>monster_20139_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{340,259},{238,119}}</string>
        <key>offset</key>
        <string>{-44,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{238,119}}</string>
        <key>sourceSize</key>
        <string>{238,119}</string>
      </dict>
      <key>monster_20139_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{774,259},{190,110}}</string>
        <key>offset</key>
        <string>{-52,33}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{190,110}}</string>
        <key>sourceSize</key>
        <string>{190,110}</string>
      </dict>
      <key>monster_20139_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{259,0},{257,168}}</string>
        <key>offset</key>
        <string>{-55,130}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{257,168}}</string>
        <key>sourceSize</key>
        <string>{257,168}</string>
      </dict>
      <key>monster_20139_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{380,758},{238,119}}</string>
        <key>offset</key>
        <string>{-44,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{238,119}}</string>
        <key>sourceSize</key>
        <string>{238,119}</string>
      </dict>
      <key>monster_20139_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{694,371},{190,110}}</string>
        <key>offset</key>
        <string>{-52,33}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{190,110}}</string>
        <key>sourceSize</key>
        <string>{190,110}</string>
      </dict>
      <key>monster_20139_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{518,0},{257,168}}</string>
        <key>offset</key>
        <string>{-55,130}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{257,168}}</string>
        <key>sourceSize</key>
        <string>{257,168}</string>
      </dict>
      <key>monster_20139_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,499},{238,119}}</string>
        <key>offset</key>
        <string>{-44,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{238,119}}</string>
        <key>sourceSize</key>
        <string>{238,119}</string>
      </dict>
      <key>monster_20139_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{886,371},{190,110}}</string>
        <key>offset</key>
        <string>{-52,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{190,110}}</string>
        <key>sourceSize</key>
        <string>{190,110}</string>
      </dict>
      <key>monster_20139_0_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{777,0},{257,168}}</string>
        <key>offset</key>
        <string>{-55,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{257,168}}</string>
        <key>sourceSize</key>
        <string>{257,168}</string>
      </dict>
      <key>monster_20139_0_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{461,259},{238,119}}</string>
        <key>offset</key>
        <string>{-44,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{238,119}}</string>
        <key>sourceSize</key>
        <string>{238,119}</string>
      </dict>
      <key>monster_20139_0_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{645,483},{190,110}}</string>
        <key>offset</key>
        <string>{-52,33}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{190,110}}</string>
        <key>sourceSize</key>
        <string>{190,110}</string>
      </dict>
      <key>monster_20139_0_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,259},{257,168}}</string>
        <key>offset</key>
        <string>{-55,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{257,168}}</string>
        <key>sourceSize</key>
        <string>{257,168}</string>
      </dict>
      <key>monster_20139_0_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{501,739},{238,119}}</string>
        <key>offset</key>
        <string>{-44,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{238,119}}</string>
        <key>sourceSize</key>
        <string>{238,119}</string>
      </dict>
      <key>monster_20139_0_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{837,563},{190,110}}</string>
        <key>offset</key>
        <string>{-52,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{190,110}}</string>
        <key>sourceSize</key>
        <string>{190,110}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20139_0_4.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>monster_20139_0_4.png</string>
    </dict>
  </dict>
</plist>