<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16260_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{628,1076},{173,203}}</string>
        <key>offset</key>
        <string>{-26,142}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,203}}</string>
        <key>sourceSize</key>
        <string>{173,203}</string>
      </dict>
      <key>monster_16260_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1040,734},{171,198}}</string>
        <key>offset</key>
        <string>{-25,139}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,198}}</string>
        <key>sourceSize</key>
        <string>{171,198}</string>
      </dict>
      <key>monster_16260_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{865,629},{173,200}}</string>
        <key>offset</key>
        <string>{-25,143}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,200}}</string>
        <key>sourceSize</key>
        <string>{173,200}</string>
      </dict>
      <key>monster_16260_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{938,411},{172,200}}</string>
        <key>offset</key>
        <string>{-26,144}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{172,200}}</string>
        <key>sourceSize</key>
        <string>{172,200}</string>
      </dict>
      <key>monster_16260_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{705,834},{172,201}}</string>
        <key>offset</key>
        <string>{-25,142}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{172,201}}</string>
        <key>sourceSize</key>
        <string>{172,201}</string>
      </dict>
      <key>monster_16260_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{531,870},{172,204}}</string>
        <key>offset</key>
        <string>{-24,145}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{172,204}}</string>
        <key>sourceSize</key>
        <string>{172,204}</string>
      </dict>
      <key>monster_16260_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,662},{200,217}}</string>
        <key>offset</key>
        <string>{-40,121}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,217}}</string>
        <key>sourceSize</key>
        <string>{200,217}</string>
      </dict>
      <key>monster_16260_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,881},{196,212}}</string>
        <key>offset</key>
        <string>{-38,120}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,212}}</string>
        <key>sourceSize</key>
        <string>{196,212}</string>
      </dict>
      <key>monster_16260_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{531,0},{197,215}}</string>
        <key>offset</key>
        <string>{-39,122}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{197,215}}</string>
        <key>sourceSize</key>
        <string>{197,215}</string>
      </dict>
      <key>monster_16260_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{335,219},{195,216}}</string>
        <key>offset</key>
        <string>{-39,122}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{195,216}}</string>
        <key>sourceSize</key>
        <string>{195,216}</string>
      </dict>
      <key>monster_16260_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{168,442},{197,217}}</string>
        <key>offset</key>
        <string>{-40,120}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{197,217}}</string>
        <key>sourceSize</key>
        <string>{197,217}</string>
      </dict>
      <key>monster_16260_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{201,219}}</string>
        <key>offset</key>
        <string>{-41,123}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{201,219}}</string>
        <key>sourceSize</key>
        <string>{201,219}</string>
      </dict>
      <key>monster_16260_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{730,0},{179,205}}</string>
        <key>offset</key>
        <string>{-43,119}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{179,205}}</string>
        <key>sourceSize</key>
        <string>{179,205}</string>
      </dict>
      <key>monster_16260_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{972,204},{170,200}}</string>
        <key>offset</key>
        <string>{-38,117}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,200}}</string>
        <key>sourceSize</key>
        <string>{170,200}</string>
      </dict>
      <key>monster_16260_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,871},{171,207}}</string>
        <key>offset</key>
        <string>{-38,120}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,207}}</string>
        <key>sourceSize</key>
        <string>{171,207}</string>
      </dict>
      <key>monster_16260_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1098},{171,209}}</string>
        <key>offset</key>
        <string>{-38,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,209}}</string>
        <key>sourceSize</key>
        <string>{171,209}</string>
      </dict>
      <key>monster_16260_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{362,661},{172,207}}</string>
        <key>offset</key>
        <string>{-40,117}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{172,207}}</string>
        <key>sourceSize</key>
        <string>{172,207}</string>
      </dict>
      <key>monster_16260_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{211,1095},{176,208}}</string>
        <key>offset</key>
        <string>{-41,120}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,208}}</string>
        <key>sourceSize</key>
        <string>{176,208}</string>
      </dict>
      <key>monster_16260_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{532,217},{206,156}}</string>
        <key>offset</key>
        <string>{-95,117}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,156}}</string>
        <key>sourceSize</key>
        <string>{206,156}</string>
      </dict>
      <key>monster_16260_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{879,831},{197,154}}</string>
        <key>offset</key>
        <string>{-88,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{197,154}}</string>
        <key>sourceSize</key>
        <string>{197,154}</string>
      </dict>
      <key>monster_16260_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1035,0},{200,162}}</string>
        <key>offset</key>
        <string>{-92,118}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,162}}</string>
        <key>sourceSize</key>
        <string>{200,162}</string>
      </dict>
      <key>monster_16260_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{696,630},{202,167}}</string>
        <key>offset</key>
        <string>{-94,117}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{202,167}}</string>
        <key>sourceSize</key>
        <string>{202,167}</string>
      </dict>
      <key>monster_16260_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{534,425},{206,157}}</string>
        <key>offset</key>
        <string>{-98,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,157}}</string>
        <key>sourceSize</key>
        <string>{206,157}</string>
      </dict>
      <key>monster_16260_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,661},{208,158}}</string>
        <key>offset</key>
        <string>{-97,118}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,158}}</string>
        <key>sourceSize</key>
        <string>{208,158}</string>
      </dict>
      <key>monster_16260_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1112,406},{200,165}}</string>
        <key>offset</key>
        <string>{-80,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,165}}</string>
        <key>sourceSize</key>
        <string>{200,165}</string>
      </dict>
      <key>monster_16260_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{833,1037},{196,148}}</string>
        <key>offset</key>
        <string>{-76,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,148}}</string>
        <key>sourceSize</key>
        <string>{196,148}</string>
      </dict>
      <key>monster_16260_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{536,633},{203,158}}</string>
        <key>offset</key>
        <string>{-82,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{203,158}}</string>
        <key>sourceSize</key>
        <string>{203,158}</string>
      </dict>
      <key>monster_16260_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{367,437},{207,165}}</string>
        <key>offset</key>
        <string>{-87,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{207,165}}</string>
        <key>sourceSize</key>
        <string>{207,165}</string>
      </dict>
      <key>monster_16260_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{690,217},{206,149}}</string>
        <key>offset</key>
        <string>{-87,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,149}}</string>
        <key>sourceSize</key>
        <string>{206,149}</string>
      </dict>
      <key>monster_16260_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{421,1080},{205,151}}</string>
        <key>offset</key>
        <string>{-85,114}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,151}}</string>
        <key>sourceSize</key>
        <string>{205,151}</string>
      </dict>
      <key>monster_16260_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1035,907},{154,171}}</string>
        <key>offset</key>
        <string>{-46,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,171}}</string>
        <key>sourceSize</key>
        <string>{154,171}</string>
      </dict>
      <key>monster_16260_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1208,907},{153,159}}</string>
        <key>offset</key>
        <string>{-44,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,159}}</string>
        <key>sourceSize</key>
        <string>{153,159}</string>
      </dict>
      <key>monster_16260_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1136,1063},{153,162}}</string>
        <key>offset</key>
        <string>{-41,127}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,162}}</string>
        <key>sourceSize</key>
        <string>{153,162}</string>
      </dict>
      <key>monster_16260_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{983,1063},{151,164}}</string>
        <key>offset</key>
        <string>{-40,126}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,164}}</string>
        <key>sourceSize</key>
        <string>{151,164}</string>
      </dict>
      <key>monster_16260_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1279,166},{148,161}}</string>
        <key>offset</key>
        <string>{-40,127}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,161}}</string>
        <key>sourceSize</key>
        <string>{148,161}</string>
      </dict>
      <key>monster_16260_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1199,0},{151,164}}</string>
        <key>offset</key>
        <string>{-43,126}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,164}}</string>
        <key>sourceSize</key>
        <string>{151,164}</string>
      </dict>
      <key>monster_16260_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1144,202},{128,200}}</string>
        <key>offset</key>
        <string>{-31,150}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,200}}</string>
        <key>sourceSize</key>
        <string>{128,200}</string>
      </dict>
      <key>monster_16260_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1040,613},{119,199}}</string>
        <key>offset</key>
        <string>{-23,149}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,199}}</string>
        <key>sourceSize</key>
        <string>{119,199}</string>
      </dict>
      <key>monster_16260_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{815,425},{121,202}}</string>
        <key>offset</key>
        <string>{-23,153}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,202}}</string>
        <key>sourceSize</key>
        <string>{121,202}</string>
      </dict>
      <key>monster_16260_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{841,207},{129,202}}</string>
        <key>offset</key>
        <string>{-32,152}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,202}}</string>
        <key>sourceSize</key>
        <string>{129,202}</string>
      </dict>
      <key>monster_16260_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{693,425},{120,203}}</string>
        <key>offset</key>
        <string>{-24,153}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,203}}</string>
        <key>sourceSize</key>
        <string>{120,203}</string>
      </dict>
      <key>monster_16260_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{911,0},{122,202}}</string>
        <key>offset</key>
        <string>{-24,153}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,202}}</string>
        <key>sourceSize</key>
        <string>{122,202}</string>
      </dict>
      <key>monster_16260_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{169,221},{164,217}}</string>
        <key>offset</key>
        <string>{-29,159}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,217}}</string>
        <key>sourceSize</key>
        <string>{164,217}</string>
      </dict>
      <key>monster_16260_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,881},{158,215}}</string>
        <key>offset</key>
        <string>{-30,156}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,215}}</string>
        <key>sourceSize</key>
        <string>{158,215}</string>
      </dict>
      <key>monster_16260_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{368,0},{161,216}}</string>
        <key>offset</key>
        <string>{-29,160}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,216}}</string>
        <key>sourceSize</key>
        <string>{161,216}</string>
      </dict>
      <key>monster_16260_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{203,0},{163,217}}</string>
        <key>offset</key>
        <string>{-28,159}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,217}}</string>
        <key>sourceSize</key>
        <string>{163,217}</string>
      </dict>
      <key>monster_16260_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,442},{166,218}}</string>
        <key>offset</key>
        <string>{-27,159}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,218}}</string>
        <key>sourceSize</key>
        <string>{166,218}</string>
      </dict>
      <key>monster_16260_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,221},{167,219}}</string>
        <key>offset</key>
        <string>{-28,161}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,219}}</string>
        <key>sourceSize</key>
        <string>{167,219}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16260_0_1.png</string>
      <key>size</key>
      <string>{1429,1282}</string>
      <key>textureFileName</key>
      <string>monster_16260_0_1.png</string>
    </dict>
  </dict>
</plist>