<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16417_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{276,0},{212,318}}</string>
        <key>offset</key>
        <string>{-98,243}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{212,318}}</string>
        <key>sourceSize</key>
        <string>{212,318}</string>
      </dict>
      <key>monster_16417_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{490,0},{211,316}}</string>
        <key>offset</key>
        <string>{-97,241}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{211,316}}</string>
        <key>sourceSize</key>
        <string>{211,316}</string>
      </dict>
      <key>monster_16417_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{703,214},{211,313}}</string>
        <key>offset</key>
        <string>{-97,238}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{211,313}}</string>
        <key>sourceSize</key>
        <string>{211,313}</string>
      </dict>
      <key>monster_16417_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{703,0},{212,314}}</string>
        <key>offset</key>
        <string>{-98,239}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{212,314}}</string>
        <key>sourceSize</key>
        <string>{212,314}</string>
      </dict>
      <key>monster_16417_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{274,324}}</string>
        <key>offset</key>
        <string>{-111,248}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{274,324}}</string>
        <key>sourceSize</key>
        <string>{274,324}</string>
      </dict>
      <key>monster_16417_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,326},{271,324}}</string>
        <key>offset</key>
        <string>{-110,248}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{271,324}}</string>
        <key>sourceSize</key>
        <string>{271,324}</string>
      </dict>
      <key>monster_16417_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,652},{274,324}}</string>
        <key>offset</key>
        <string>{-111,248}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{274,324}}</string>
        <key>sourceSize</key>
        <string>{274,324}</string>
      </dict>
      <key>monster_16417_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{273,326},{274,324}}</string>
        <key>offset</key>
        <string>{-111,248}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{274,324}}</string>
        <key>sourceSize</key>
        <string>{274,324}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16417_0_0_1.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>monster_16417_0_0_1.png</string>
    </dict>
  </dict>
</plist>