<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_1983_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{886,586},{186,147}}</string>
        <key>offset</key>
        <string>{-103,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{186,147}}</string>
        <key>sourceSize</key>
        <string>{186,147}</string>
      </dict>
      <key>monster_1983_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1281,849},{110,139}}</string>
        <key>offset</key>
        <string>{-55,55}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,139}}</string>
        <key>sourceSize</key>
        <string>{110,139}</string>
      </dict>
      <key>monster_1983_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1035,566},{88,173}}</string>
        <key>offset</key>
        <string>{-18,117}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,173}}</string>
        <key>sourceSize</key>
        <string>{88,173}</string>
      </dict>
      <key>monster_1983_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1107,374},{82,168}}</string>
        <key>offset</key>
        <string>{0,111}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,168}}</string>
        <key>sourceSize</key>
        <string>{82,168}</string>
      </dict>
      <key>monster_1983_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1271,169},{110,153}}</string>
        <key>offset</key>
        <string>{0,94}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,153}}</string>
        <key>sourceSize</key>
        <string>{110,153}</string>
      </dict>
      <key>monster_1983_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1297,0},{94,152}}</string>
        <key>offset</key>
        <string>{0,93}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,152}}</string>
        <key>sourceSize</key>
        <string>{94,152}</string>
      </dict>
      <key>monster_1983_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{622,417},{194,183}}</string>
        <key>offset</key>
        <string>{-102,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{194,183}}</string>
        <key>sourceSize</key>
        <string>{194,183}</string>
      </dict>
      <key>monster_1983_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{740,613},{188,144}}</string>
        <key>offset</key>
        <string>{-155,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,144}}</string>
        <key>sourceSize</key>
        <string>{188,144}</string>
      </dict>
      <key>monster_1983_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{966,381},{139,183}}</string>
        <key>offset</key>
        <string>{-57,129}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,183}}</string>
        <key>sourceSize</key>
        <string>{139,183}</string>
      </dict>
      <key>monster_1983_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{964,774},{174,150}}</string>
        <key>offset</key>
        <string>{11,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,150}}</string>
        <key>sourceSize</key>
        <string>{174,150}</string>
      </dict>
      <key>monster_1983_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{437,853},{199,144}}</string>
        <key>offset</key>
        <string>{-13,88}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{199,144}}</string>
        <key>sourceSize</key>
        <string>{199,144}</string>
      </dict>
      <key>monster_1983_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{718,204},{190,152}}</string>
        <key>offset</key>
        <string>{-20,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{190,152}}</string>
        <key>sourceSize</key>
        <string>{190,152}</string>
      </dict>
      <key>monster_1983_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{340,432},{95,213}}</string>
        <key>offset</key>
        <string>{-27,162}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,213}}</string>
        <key>sourceSize</key>
        <string>{95,213}</string>
      </dict>
      <key>monster_1983_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{437,429},{203,183}}</string>
        <key>offset</key>
        <string>{-161,153}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{203,183}}</string>
        <key>sourceSize</key>
        <string>{203,183}</string>
      </dict>
      <key>monster_1983_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{221,669},{214,183}}</string>
        <key>offset</key>
        <string>{-103,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{214,183}}</string>
        <key>sourceSize</key>
        <string>{214,183}</string>
      </dict>
      <key>monster_1983_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{245,123}}</string>
        <key>offset</key>
        <string>{-20,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{245,123}}</string>
        <key>sourceSize</key>
        <string>{245,123}</string>
      </dict>
      <key>monster_1983_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{221,885},{214,136}}</string>
        <key>offset</key>
        <string>{-32,67}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{214,136}}</string>
        <key>sourceSize</key>
        <string>{214,136}</string>
      </dict>
      <key>monster_1983_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{125,0},{222,136}}</string>
        <key>offset</key>
        <string>{-44,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{222,136}}</string>
        <key>sourceSize</key>
        <string>{222,136}</string>
      </dict>
      <key>monster_1983_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{653,0},{109,202}}</string>
        <key>offset</key>
        <string>{-8,156}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,202}}</string>
        <key>sourceSize</key>
        <string>{109,202}</string>
      </dict>
      <key>monster_1983_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,721},{130,225}}</string>
        <key>offset</key>
        <string>{-65,205}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,225}}</string>
        <key>sourceSize</key>
        <string>{130,225}</string>
      </dict>
      <key>monster_1983_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{449,0},{202,210}}</string>
        <key>offset</key>
        <string>{-81,164}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{202,210}}</string>
        <key>sourceSize</key>
        <string>{202,210}</string>
      </dict>
      <key>monster_1983_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{919,0},{187,127}}</string>
        <key>offset</key>
        <string>{-29,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{187,127}}</string>
        <key>sourceSize</key>
        <string>{187,127}</string>
      </dict>
      <key>monster_1983_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1116,907},{110,163}}</string>
        <key>offset</key>
        <string>{-17,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,163}}</string>
        <key>sourceSize</key>
        <string>{110,163}</string>
      </dict>
      <key>monster_1983_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1191,346},{142,156}}</string>
        <key>offset</key>
        <string>{-35,66}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,156}}</string>
        <key>sourceSize</key>
        <string>{142,156}</string>
      </dict>
      <key>monster_1983_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{807,396},{188,157}}</string>
        <key>offset</key>
        <string>{-34,135}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,157}}</string>
        <key>sourceSize</key>
        <string>{188,157}</string>
      </dict>
      <key>monster_1983_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{131,447},{109,220}}</string>
        <key>offset</key>
        <string>{-4,223}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,220}}</string>
        <key>sourceSize</key>
        <string>{109,220}</string>
      </dict>
      <key>monster_1983_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,669},{87,219}}</string>
        <key>offset</key>
        <string>{-19,197}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,219}}</string>
        <key>sourceSize</key>
        <string>{87,219}</string>
      </dict>
      <key>monster_1983_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1228,703},{82,144}}</string>
        <key>offset</key>
        <string>{-32,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,144}}</string>
        <key>sourceSize</key>
        <string>{82,144}</string>
      </dict>
      <key>monster_1983_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1159,177},{110,167}}</string>
        <key>offset</key>
        <string>{-60,78}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,167}}</string>
        <key>sourceSize</key>
        <string>{110,167}</string>
      </dict>
      <key>monster_1983_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1201,0},{94,167}}</string>
        <key>offset</key>
        <string>{-44,88}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,167}}</string>
        <key>sourceSize</key>
        <string>{94,167}</string>
      </dict>
      <key>monster_1983_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{607,212},{109,203}}</string>
        <key>offset</key>
        <string>{-63,159}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,203}}</string>
        <key>sourceSize</key>
        <string>{109,203}</string>
      </dict>
      <key>monster_1983_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,493},{129,226}}</string>
        <key>offset</key>
        <string>{-26,207}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,226}}</string>
        <key>sourceSize</key>
        <string>{129,226}</string>
      </dict>
      <key>monster_1983_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{402,216},{203,211}}</string>
        <key>offset</key>
        <string>{-83,167}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{203,211}}</string>
        <key>sourceSize</key>
        <string>{203,211}</string>
      </dict>
      <key>monster_1983_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{835,803},{187,127}}</string>
        <key>offset</key>
        <string>{-120,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{187,127}}</string>
        <key>sourceSize</key>
        <string>{187,127}</string>
      </dict>
      <key>monster_1983_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1116,741},{110,164}}</string>
        <key>offset</key>
        <string>{-55,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,164}}</string>
        <key>sourceSize</key>
        <string>{110,164}</string>
      </dict>
      <key>monster_1983_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1125,544},{142,157}}</string>
        <key>offset</key>
        <string>{-69,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,157}}</string>
        <key>sourceSize</key>
        <string>{142,157}</string>
      </dict>
      <key>monster_1983_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,447},{96,214}}</string>
        <key>offset</key>
        <string>{-44,158}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,214}}</string>
        <key>sourceSize</key>
        <string>{96,214}</string>
      </dict>
      <key>monster_1983_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{406,647},{204,185}}</string>
        <key>offset</key>
        <string>{-17,149}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{204,185}}</string>
        <key>sourceSize</key>
        <string>{204,185}</string>
      </dict>
      <key>monster_1983_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{263,0},{214,184}}</string>
        <key>offset</key>
        <string>{-87,128}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{214,184}}</string>
        <key>sourceSize</key>
        <string>{214,184}</string>
      </dict>
      <key>monster_1983_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,247},{244,123}}</string>
        <key>offset</key>
        <string>{-200,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{244,123}}</string>
        <key>sourceSize</key>
        <string>{244,123}</string>
      </dict>
      <key>monster_1983_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{263,216},{214,137}}</string>
        <key>offset</key>
        <string>{-157,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{214,137}}</string>
        <key>sourceSize</key>
        <string>{214,137}</string>
      </dict>
      <key>monster_1983_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{125,224},{221,136}}</string>
        <key>offset</key>
        <string>{-153,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{221,136}}</string>
        <key>sourceSize</key>
        <string>{221,136}</string>
      </dict>
      <key>monster_1983_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{638,835},{195,183}}</string>
        <key>offset</key>
        <string>{-60,125}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{195,183}}</string>
        <key>sourceSize</key>
        <string>{195,183}</string>
      </dict>
      <key>monster_1983_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{872,191},{188,144}}</string>
        <key>offset</key>
        <string>{0,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,144}}</string>
        <key>sourceSize</key>
        <string>{188,144}</string>
      </dict>
      <key>monster_1983_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1018,189},{139,183}}</string>
        <key>offset</key>
        <string>{-49,125}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,183}}</string>
        <key>sourceSize</key>
        <string>{139,183}</string>
      </dict>
      <key>monster_1983_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1048,0},{175,151}}</string>
        <key>offset</key>
        <string>{-153,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{175,151}}</string>
        <key>sourceSize</key>
        <string>{175,151}</string>
      </dict>
      <key>monster_1983_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{593,634},{199,145}}</string>
        <key>offset</key>
        <string>{-153,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{199,145}}</string>
        <key>sourceSize</key>
        <string>{199,145}</string>
      </dict>
      <key>monster_1983_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{764,0},{189,153}}</string>
        <key>offset</key>
        <string>{-137,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{189,153}}</string>
        <key>sourceSize</key>
        <string>{189,153}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_1983_0_2.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>monster_1983_0_2.png</string>
    </dict>
  </dict>
</plist>