<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16419_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1609,1644},{304,397}}</string>
        <key>offset</key>
        <string>{-162,252}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{304,397}}</string>
        <key>sourceSize</key>
        <string>{304,397}</string>
      </dict>
      <key>monster_16419_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{817,448},{400,439}}</string>
        <key>offset</key>
        <string>{-166,301}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{400,439}}</string>
        <key>sourceSize</key>
        <string>{400,439}</string>
      </dict>
      <key>monster_16419_0_2_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{425,0},{419,446}}</string>
        <key>offset</key>
        <string>{-175,335}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{419,446}}</string>
        <key>sourceSize</key>
        <string>{419,446}</string>
      </dict>
      <key>monster_16419_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1214,0},{438,408}}</string>
        <key>offset</key>
        <string>{-218,301}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{438,408}}</string>
        <key>sourceSize</key>
        <string>{438,408}</string>
      </dict>
      <key>monster_16419_0_2_1_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{447,423}}</string>
        <key>offset</key>
        <string>{-178,302}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{447,423}}</string>
        <key>sourceSize</key>
        <string>{447,423}</string>
      </dict>
      <key>monster_16419_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1624,0},{366,438}}</string>
        <key>offset</key>
        <string>{-211,320}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{366,438}}</string>
        <key>sourceSize</key>
        <string>{366,438}</string>
      </dict>
      <key>monster_16419_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1244,440},{341,432}}</string>
        <key>offset</key>
        <string>{-230,319}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{341,432}}</string>
        <key>sourceSize</key>
        <string>{341,432}</string>
      </dict>
      <key>monster_16419_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1624,440},{412,438}}</string>
        <key>offset</key>
        <string>{-158,365}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{412,438}}</string>
        <key>sourceSize</key>
        <string>{412,438}</string>
      </dict>
      <key>monster_16419_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1347},{390,445}}</string>
        <key>offset</key>
        <string>{-171,368}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{390,445}}</string>
        <key>sourceSize</key>
        <string>{390,445}</string>
      </dict>
      <key>monster_16419_0_2_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1197,1329},{410,435}}</string>
        <key>offset</key>
        <string>{-172,361}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{410,435}}</string>
        <key>sourceSize</key>
        <string>{410,435}</string>
      </dict>
      <key>monster_16419_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,449},{390,447}}</string>
        <key>offset</key>
        <string>{-163,368}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{390,447}}</string>
        <key>sourceSize</key>
        <string>{390,447}</string>
      </dict>
      <key>monster_16419_0_2_4_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{414,898},{418,442}}</string>
        <key>offset</key>
        <string>{-182,341}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{418,442}}</string>
        <key>sourceSize</key>
        <string>{418,442}</string>
      </dict>
      <key>monster_16419_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,898},{412,447}}</string>
        <key>offset</key>
        <string>{-202,376}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{412,447}}</string>
        <key>sourceSize</key>
        <string>{412,447}</string>
      </dict>
      <key>monster_16419_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{784,1342},{411,438}}</string>
        <key>offset</key>
        <string>{-215,365}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{411,438}}</string>
        <key>sourceSize</key>
        <string>{411,438}</string>
      </dict>
      <key>monster_16419_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{392,1347},{390,445}}</string>
        <key>offset</key>
        <string>{-181,368}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{390,445}}</string>
        <key>sourceSize</key>
        <string>{390,445}</string>
      </dict>
      <key>monster_16419_0_2_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1609,880},{410,435}}</string>
        <key>offset</key>
        <string>{-200,361}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{410,435}}</string>
        <key>sourceSize</key>
        <string>{410,435}</string>
      </dict>
      <key>monster_16419_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{846,0},{366,439}}</string>
        <key>offset</key>
        <string>{-127,321}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{366,439}}</string>
        <key>sourceSize</key>
        <string>{366,439}</string>
      </dict>
      <key>monster_16419_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1244,874},{341,432}}</string>
        <key>offset</key>
        <string>{-83,319}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{341,432}}</string>
        <key>sourceSize</key>
        <string>{341,432}</string>
      </dict>
      <key>monster_16419_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1609,1292},{350,435}}</string>
        <key>offset</key>
        <string>{-150,288}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{350,435}}</string>
        <key>sourceSize</key>
        <string>{350,435}</string>
      </dict>
      <key>monster_16419_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{834,889},{438,408}}</string>
        <key>offset</key>
        <string>{-213,301}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{438,408}}</string>
        <key>sourceSize</key>
        <string>{438,408}</string>
      </dict>
      <key>monster_16419_0_2_7_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{392,449},{447,423}}</string>
        <key>offset</key>
        <string>{-262,302}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{447,423}}</string>
        <key>sourceSize</key>
        <string>{447,423}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16419_0_2_3.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_16419_0_2_3.png</string>
    </dict>
  </dict>
</plist>