<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16508_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{263,240}}</string>
        <key>offset</key>
        <string>{-143,183}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{263,240}}</string>
        <key>sourceSize</key>
        <string>{263,240}</string>
      </dict>
      <key>monster_16508_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,265},{260,239}}</string>
        <key>offset</key>
        <string>{-143,183}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{260,239}}</string>
        <key>sourceSize</key>
        <string>{260,239}</string>
      </dict>
      <key>monster_16508_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{262,260},{256,236}}</string>
        <key>offset</key>
        <string>{-139,181}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{256,236}}</string>
        <key>sourceSize</key>
        <string>{256,236}</string>
      </dict>
      <key>monster_16508_0_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,0},{258,240}}</string>
        <key>offset</key>
        <string>{-139,184}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,240}}</string>
        <key>sourceSize</key>
        <string>{258,240}</string>
      </dict>
      <key>monster_16508_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{484,0},{195,256}}</string>
        <key>offset</key>
        <string>{-111,183}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{195,256}}</string>
        <key>sourceSize</key>
        <string>{195,256}</string>
      </dict>
      <key>monster_16508_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{681,0},{190,251}}</string>
        <key>offset</key>
        <string>{-112,182}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{190,251}}</string>
        <key>sourceSize</key>
        <string>{190,251}</string>
      </dict>
      <key>monster_16508_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{775,253},{174,249}}</string>
        <key>offset</key>
        <string>{-104,181}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,249}}</string>
        <key>sourceSize</key>
        <string>{174,249}</string>
      </dict>
      <key>monster_16508_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{520,258},{181,253}}</string>
        <key>offset</key>
        <string>{-103,183}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,253}}</string>
        <key>sourceSize</key>
        <string>{181,253}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16508_0_0_2.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>monster_16508_0_0_2.png</string>
    </dict>
  </dict>
</plist>