<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16288_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,812},{97,178}}</string>
        <key>offset</key>
        <string>{-22,82}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,178}}</string>
        <key>sourceSize</key>
        <string>{97,178}</string>
      </dict>
      <key>monster_16288_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{209,198},{95,181}}</string>
        <key>offset</key>
        <string>{-22,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,181}}</string>
        <key>sourceSize</key>
        <string>{95,181}</string>
      </dict>
      <key>monster_16288_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,812},{98,180}}</string>
        <key>offset</key>
        <string>{-22,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,180}}</string>
        <key>sourceSize</key>
        <string>{98,180}</string>
      </dict>
      <key>monster_16288_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{107,600},{99,176}}</string>
        <key>offset</key>
        <string>{-22,82}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,176}}</string>
        <key>sourceSize</key>
        <string>{99,176}</string>
      </dict>
      <key>monster_16288_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,600},{166,145}}</string>
        <key>offset</key>
        <string>{-57,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,145}}</string>
        <key>sourceSize</key>
        <string>{166,145}</string>
      </dict>
      <key>monster_16288_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{439,163},{156,146}}</string>
        <key>offset</key>
        <string>{-46,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,146}}</string>
        <key>sourceSize</key>
        <string>{156,146}</string>
      </dict>
      <key>monster_16288_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{451,0},{140,155}}</string>
        <key>offset</key>
        <string>{-31,73}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,155}}</string>
        <key>sourceSize</key>
        <string>{140,155}</string>
      </dict>
      <key>monster_16288_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{587,157},{139,151}}</string>
        <key>offset</key>
        <string>{-33,71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,151}}</string>
        <key>sourceSize</key>
        <string>{139,151}</string>
      </dict>
      <key>monster_16288_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{205,100}}</string>
        <key>offset</key>
        <string>{-75,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,100}}</string>
        <key>sourceSize</key>
        <string>{205,100}</string>
      </dict>
      <key>monster_16288_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,207},{202,101}}</string>
        <key>offset</key>
        <string>{-75,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{202,101}}</string>
        <key>sourceSize</key>
        <string>{202,101}</string>
      </dict>
      <key>monster_16288_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,0},{202,104}}</string>
        <key>offset</key>
        <string>{-74,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{202,104}}</string>
        <key>sourceSize</key>
        <string>{202,104}</string>
      </dict>
      <key>monster_16288_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,411},{201,102}}</string>
        <key>offset</key>
        <string>{-73,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{201,102}}</string>
        <key>sourceSize</key>
        <string>{201,102}</string>
      </dict>
      <key>monster_16288_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{693,0},{149,136}}</string>
        <key>offset</key>
        <string>{-40,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,136}}</string>
        <key>sourceSize</key>
        <string>{149,136}</string>
      </dict>
      <key>monster_16288_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{334,768},{154,133}}</string>
        <key>offset</key>
        <string>{-46,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,133}}</string>
        <key>sourceSize</key>
        <string>{154,133}</string>
      </dict>
      <key>monster_16288_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{199,778},{169,133}}</string>
        <key>offset</key>
        <string>{-58,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,133}}</string>
        <key>sourceSize</key>
        <string>{169,133}</string>
      </dict>
      <key>monster_16288_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{306,198},{162,131}}</string>
        <key>offset</key>
        <string>{-55,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,131}}</string>
        <key>sourceSize</key>
        <string>{162,131}</string>
      </dict>
      <key>monster_16288_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{831,0},{96,149}}</string>
        <key>offset</key>
        <string>{-18,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,149}}</string>
        <key>sourceSize</key>
        <string>{96,149}</string>
      </dict>
      <key>monster_16288_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{593,0},{98,150}}</string>
        <key>offset</key>
        <string>{-18,71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,150}}</string>
        <key>sourceSize</key>
        <string>{98,150}</string>
      </dict>
      <key>monster_16288_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{334,924},{95,151}}</string>
        <key>offset</key>
        <string>{-18,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,151}}</string>
        <key>sourceSize</key>
        <string>{95,151}</string>
      </dict>
      <key>monster_16288_0_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{831,98},{95,149}}</string>
        <key>offset</key>
        <string>{-18,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,149}}</string>
        <key>sourceSize</key>
        <string>{95,149}</string>
      </dict>
      <key>monster_16288_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,381},{165,125}}</string>
        <key>offset</key>
        <string>{-45,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,125}}</string>
        <key>sourceSize</key>
        <string>{165,125}</string>
      </dict>
      <key>monster_16288_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{355,521},{153,126}}</string>
        <key>offset</key>
        <string>{-45,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,126}}</string>
        <key>sourceSize</key>
        <string>{153,126}</string>
      </dict>
      <key>monster_16288_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{483,476},{140,134}}</string>
        <key>offset</key>
        <string>{-45,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,134}}</string>
        <key>sourceSize</key>
        <string>{140,134}</string>
      </dict>
      <key>monster_16288_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{487,825},{142,130}}</string>
        <key>offset</key>
        <string>{-45,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,130}}</string>
        <key>sourceSize</key>
        <string>{142,130}</string>
      </dict>
      <key>monster_16288_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,0},{196,105}}</string>
        <key>offset</key>
        <string>{-59,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,105}}</string>
        <key>sourceSize</key>
        <string>{196,105}</string>
      </dict>
      <key>monster_16288_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{103,204},{197,104}}</string>
        <key>offset</key>
        <string>{-59,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{197,104}}</string>
        <key>sourceSize</key>
        <string>{197,104}</string>
      </dict>
      <key>monster_16288_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,614},{196,105}}</string>
        <key>offset</key>
        <string>{-59,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,105}}</string>
        <key>sourceSize</key>
        <string>{196,105}</string>
      </dict>
      <key>monster_16288_0_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,403},{195,106}}</string>
        <key>offset</key>
        <string>{-59,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{195,106}}</string>
        <key>sourceSize</key>
        <string>{195,106}</string>
      </dict>
      <key>monster_16288_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{475,321},{137,153}}</string>
        <key>offset</key>
        <string>{-38,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,153}}</string>
        <key>sourceSize</key>
        <string>{137,153}</string>
      </dict>
      <key>monster_16288_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{469,676},{147,145}}</string>
        <key>offset</key>
        <string>{-38,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,145}}</string>
        <key>sourceSize</key>
        <string>{147,145}</string>
      </dict>
      <key>monster_16288_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{315,0},{161,134}}</string>
        <key>offset</key>
        <string>{-38,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,134}}</string>
        <key>sourceSize</key>
        <string>{161,134}</string>
      </dict>
      <key>monster_16288_0_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{339,362},{157,134}}</string>
        <key>offset</key>
        <string>{-38,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,134}}</string>
        <key>sourceSize</key>
        <string>{157,134}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16288_0_0.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>monster_16288_0_0.png</string>
    </dict>
  </dict>
</plist>