<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16480_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{721,385},{338,366}}</string>
        <key>offset</key>
        <string>{-156,253}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{338,366}}</string>
        <key>sourceSize</key>
        <string>{338,366}</string>
      </dict>
      <key>monster_16480_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1061,385},{343,366}}</string>
        <key>offset</key>
        <string>{-156,253}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{343,366}}</string>
        <key>sourceSize</key>
        <string>{343,366}</string>
      </dict>
      <key>monster_16480_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1419,345},{343,361}}</string>
        <key>offset</key>
        <string>{-156,248}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{343,361}}</string>
        <key>sourceSize</key>
        <string>{343,361}</string>
      </dict>
      <key>monster_16480_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1074,0},{343,366}}</string>
        <key>offset</key>
        <string>{-156,253}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{343,366}}</string>
        <key>sourceSize</key>
        <string>{343,366}</string>
      </dict>
      <key>monster_16480_0_0_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1419,0},{343,366}}</string>
        <key>offset</key>
        <string>{-156,253}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{343,366}}</string>
        <key>sourceSize</key>
        <string>{343,366}</string>
      </dict>
      <key>monster_16480_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{383,361}}</string>
        <key>offset</key>
        <string>{-171,253}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{383,361}}</string>
        <key>sourceSize</key>
        <string>{383,361}</string>
      </dict>
      <key>monster_16480_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,385},{383,356}}</string>
        <key>offset</key>
        <string>{-171,243}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{383,356}}</string>
        <key>sourceSize</key>
        <string>{383,356}</string>
      </dict>
      <key>monster_16480_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,385},{383,361}}</string>
        <key>offset</key>
        <string>{-171,248}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{383,361}}</string>
        <key>sourceSize</key>
        <string>{383,361}</string>
      </dict>
      <key>monster_16480_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{363,0},{383,351}}</string>
        <key>offset</key>
        <string>{-171,243}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{383,351}}</string>
        <key>sourceSize</key>
        <string>{383,351}</string>
      </dict>
      <key>monster_16480_0_0_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{716,0},{383,356}}</string>
        <key>offset</key>
        <string>{-171,248}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{383,356}}</string>
        <key>sourceSize</key>
        <string>{383,356}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16480_0_0_0.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>monster_16480_0_0_0.png</string>
    </dict>
  </dict>
</plist>