<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16269_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{467,292},{272,200}}</string>
        <key>offset</key>
        <string>{-187,143}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{272,200}}</string>
        <key>sourceSize</key>
        <string>{272,200}</string>
      </dict>
      <key>monster_16269_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{689,0},{267,204}}</string>
        <key>offset</key>
        <string>{-182,151}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{267,204}}</string>
        <key>sourceSize</key>
        <string>{267,204}</string>
      </dict>
      <key>monster_16269_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{861,544},{266,203}}</string>
        <key>offset</key>
        <string>{-181,153}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{266,203}}</string>
        <key>sourceSize</key>
        <string>{266,203}</string>
      </dict>
      <key>monster_16269_0_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{669,274},{268,200}}</string>
        <key>offset</key>
        <string>{-181,152}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{268,200}}</string>
        <key>sourceSize</key>
        <string>{268,200}</string>
      </dict>
      <key>monster_16269_0_4_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,582},{273,198}}</string>
        <key>offset</key>
        <string>{-183,150}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{273,198}}</string>
        <key>sourceSize</key>
        <string>{273,198}</string>
      </dict>
      <key>monster_16269_0_4_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{662,566},{271,197}}</string>
        <key>offset</key>
        <string>{-179,148}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{271,197}}</string>
        <key>sourceSize</key>
        <string>{271,197}</string>
      </dict>
      <key>monster_16269_0_4_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{871,269},{253,180}}</string>
        <key>offset</key>
        <string>{-159,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{253,180}}</string>
        <key>sourceSize</key>
        <string>{253,180}</string>
      </dict>
      <key>monster_16269_0_4_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{662,839},{255,181}}</string>
        <key>offset</key>
        <string>{-149,122}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{255,181}}</string>
        <key>sourceSize</key>
        <string>{255,181}</string>
      </dict>
      <key>monster_16269_0_4_4_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1044,0},{219,148}}</string>
        <key>offset</key>
        <string>{-104,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{219,148}}</string>
        <key>sourceSize</key>
        <string>{219,148}</string>
      </dict>
      <key>monster_16269_0_4_4_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,879},{243,123}}</string>
        <key>offset</key>
        <string>{-123,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{243,123}}</string>
        <key>sourceSize</key>
        <string>{243,123}</string>
      </dict>
      <key>monster_16269_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,587},{290,226}}</string>
        <key>offset</key>
        <string>{-188,168}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{290,226}}</string>
        <key>sourceSize</key>
        <string>{290,226}</string>
      </dict>
      <key>monster_16269_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{235,292},{288,230}}</string>
        <key>offset</key>
        <string>{-185,173}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{288,230}}</string>
        <key>sourceSize</key>
        <string>{288,230}</string>
      </dict>
      <key>monster_16269_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,587},{290,232}}</string>
        <key>offset</key>
        <string>{-185,175}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{290,232}}</string>
        <key>sourceSize</key>
        <string>{290,232}</string>
      </dict>
      <key>monster_16269_0_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{292,233}}</string>
        <key>offset</key>
        <string>{-187,174}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{292,233}}</string>
        <key>sourceSize</key>
        <string>{292,233}</string>
      </dict>
      <key>monster_16269_0_4_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,294},{291,233}}</string>
        <key>offset</key>
        <string>{-188,172}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{291,233}}</string>
        <key>sourceSize</key>
        <string>{291,233}</string>
      </dict>
      <key>monster_16269_0_4_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{235,0},{290,235}}</string>
        <key>offset</key>
        <string>{-187,171}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{290,235}}</string>
        <key>sourceSize</key>
        <string>{290,235}</string>
      </dict>
      <key>monster_16269_0_4_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{472,0},{272,215}}</string>
        <key>offset</key>
        <string>{-169,151}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{272,215}}</string>
        <key>sourceSize</key>
        <string>{272,215}</string>
      </dict>
      <key>monster_16269_0_4_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{919,812},{234,207}}</string>
        <key>offset</key>
        <string>{-106,143}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{234,207}}</string>
        <key>sourceSize</key>
        <string>{234,207}</string>
      </dict>
      <key>monster_16269_0_4_5_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{895,0},{231,147}}</string>
        <key>offset</key>
        <string>{-95,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{231,147}}</string>
        <key>sourceSize</key>
        <string>{231,147}</string>
      </dict>
      <key>monster_16269_0_4_5_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,879},{248,139}}</string>
        <key>offset</key>
        <string>{-107,66}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{248,139}}</string>
        <key>sourceSize</key>
        <string>{248,139}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16269_0_4_2.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>monster_16269_0_4_2.png</string>
    </dict>
  </dict>
</plist>