<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_2255_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{482,479},{166,199}}</string>
        <key>offset</key>
        <string>{-83,128}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,199}}</string>
        <key>sourceSize</key>
        <string>{166,199}</string>
      </dict>
      <key>monster_2255_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{683,380},{174,189}}</string>
        <key>offset</key>
        <string>{-82,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,189}}</string>
        <key>sourceSize</key>
        <string>{174,189}</string>
      </dict>
      <key>monster_2255_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{156,257}}</string>
        <key>offset</key>
        <string>{-76,178}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,257}}</string>
        <key>sourceSize</key>
        <string>{156,257}</string>
      </dict>
      <key>monster_2255_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,259},{157,256}}</string>
        <key>offset</key>
        <string>{-64,182}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,256}}</string>
        <key>sourceSize</key>
        <string>{157,256}</string>
      </dict>
      <key>monster_2255_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,517},{164,250}}</string>
        <key>offset</key>
        <string>{-69,175}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,250}}</string>
        <key>sourceSize</key>
        <string>{164,250}</string>
      </dict>
      <key>monster_2255_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,0},{165,251}}</string>
        <key>offset</key>
        <string>{-83,177}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,251}}</string>
        <key>sourceSize</key>
        <string>{165,251}</string>
      </dict>
      <key>monster_2255_0_2_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{482,647},{185,182}}</string>
        <key>offset</key>
        <string>{-103,129}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{185,182}}</string>
        <key>sourceSize</key>
        <string>{185,182}</string>
      </dict>
      <key>monster_2255_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{683,185},{158,193}}</string>
        <key>offset</key>
        <string>{-110,132}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,193}}</string>
        <key>sourceSize</key>
        <string>{158,193}</string>
      </dict>
      <key>monster_2255_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{555,0},{203,183}}</string>
        <key>offset</key>
        <string>{-128,124}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{203,183}}</string>
        <key>sourceSize</key>
        <string>{203,183}</string>
      </dict>
      <key>monster_2255_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{325,0},{241,228}}</string>
        <key>offset</key>
        <string>{-123,163}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{241,228}}</string>
        <key>sourceSize</key>
        <string>{241,228}</string>
      </dict>
      <key>monster_2255_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{383,243},{234,225}}</string>
        <key>offset</key>
        <string>{-119,164}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{234,225}}</string>
        <key>sourceSize</key>
        <string>{234,225}</string>
      </dict>
      <key>monster_2255_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{159,253},{247,222}}</string>
        <key>offset</key>
        <string>{-125,160}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{247,222}}</string>
        <key>sourceSize</key>
        <string>{247,222}</string>
      </dict>
      <key>monster_2255_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{252,502},{237,228}}</string>
        <key>offset</key>
        <string>{-125,168}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{237,228}}</string>
        <key>sourceSize</key>
        <string>{237,228}</string>
      </dict>
      <key>monster_2255_0_2_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{683,556},{174,188}}</string>
        <key>offset</key>
        <string>{-116,139}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,188}}</string>
        <key>sourceSize</key>
        <string>{174,188}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_2255_0_2_0.png</string>
      <key>size</key>
      <string>{935,861}</string>
      <key>textureFileName</key>
      <string>monster_2255_0_2_0.png</string>
    </dict>
  </dict>
</plist>