<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_10205_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{101,140}}</string>
        <key>offset</key>
        <string>{-17,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,140}}</string>
        <key>sourceSize</key>
        <string>{101,140}</string>
      </dict>
      <key>monster_10205_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,0},{94,139}}</string>
        <key>offset</key>
        <string>{-14,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,139}}</string>
        <key>sourceSize</key>
        <string>{94,139}</string>
      </dict>
      <key>monster_10205_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,209},{100,136}}</string>
        <key>offset</key>
        <string>{-18,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,136}}</string>
        <key>sourceSize</key>
        <string>{100,136}</string>
      </dict>
      <key>monster_10205_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,103},{104,137}}</string>
        <key>offset</key>
        <string>{-19,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,137}}</string>
        <key>sourceSize</key>
        <string>{104,137}</string>
      </dict>
      <key>monster_10205_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{136,334},{125,132}}</string>
        <key>offset</key>
        <string>{-21,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,132}}</string>
        <key>sourceSize</key>
        <string>{125,132}</string>
      </dict>
      <key>monster_10205_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,559},{127,130}}</string>
        <key>offset</key>
        <string>{-22,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,130}}</string>
        <key>sourceSize</key>
        <string>{127,130}</string>
      </dict>
      <key>monster_10205_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{267,479},{121,130}}</string>
        <key>offset</key>
        <string>{-15,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,130}}</string>
        <key>sourceSize</key>
        <string>{121,130}</string>
      </dict>
      <key>monster_10205_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,581},{123,130}}</string>
        <key>offset</key>
        <string>{-18,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,130}}</string>
        <key>sourceSize</key>
        <string>{123,130}</string>
      </dict>
      <key>monster_10205_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,311},{134,119}}</string>
        <key>offset</key>
        <string>{-54,77}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,119}}</string>
        <key>sourceSize</key>
        <string>{134,119}</string>
      </dict>
      <key>monster_10205_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{283,0},{138,117}}</string>
        <key>offset</key>
        <string>{-53,78}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,117}}</string>
        <key>sourceSize</key>
        <string>{138,117}</string>
      </dict>
      <key>monster_10205_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{282,119},{135,117}}</string>
        <key>offset</key>
        <string>{-50,76}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,117}}</string>
        <key>sourceSize</key>
        <string>{135,117}</string>
      </dict>
      <key>monster_10205_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{270,359},{131,118}}</string>
        <key>offset</key>
        <string>{-51,76}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,118}}</string>
        <key>sourceSize</key>
        <string>{131,118}</string>
      </dict>
      <key>monster_10205_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{399,479},{110,123}}</string>
        <key>offset</key>
        <string>{-44,71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,123}}</string>
        <key>sourceSize</key>
        <string>{110,123}</string>
      </dict>
      <key>monster_10205_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,706},{108,123}}</string>
        <key>offset</key>
        <string>{-42,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,123}}</string>
        <key>sourceSize</key>
        <string>{108,123}</string>
      </dict>
      <key>monster_10205_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{372,834},{109,121}}</string>
        <key>offset</key>
        <string>{-43,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,121}}</string>
        <key>sourceSize</key>
        <string>{109,121}</string>
      </dict>
      <key>monster_10205_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{257,714},{109,122}}</string>
        <key>offset</key>
        <string>{-43,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,122}}</string>
        <key>sourceSize</key>
        <string>{109,122}</string>
      </dict>
      <key>monster_10205_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{381,729},{103,122}}</string>
        <key>offset</key>
        <string>{-35,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,122}}</string>
        <key>sourceSize</key>
        <string>{103,122}</string>
      </dict>
      <key>monster_10205_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{403,359},{95,120}}</string>
        <key>offset</key>
        <string>{-30,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,120}}</string>
        <key>sourceSize</key>
        <string>{95,120}</string>
      </dict>
      <key>monster_10205_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{419,119},{100,119}}</string>
        <key>offset</key>
        <string>{-32,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,119}}</string>
        <key>sourceSize</key>
        <string>{100,119}</string>
      </dict>
      <key>monster_10205_0_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{411,238},{105,120}}</string>
        <key>offset</key>
        <string>{-36,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,120}}</string>
        <key>sourceSize</key>
        <string>{105,120}</string>
      </dict>
      <key>monster_10205_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,602},{110,123}}</string>
        <key>offset</key>
        <string>{-16,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,123}}</string>
        <key>sourceSize</key>
        <string>{110,123}</string>
      </dict>
      <key>monster_10205_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{389,604},{108,123}}</string>
        <key>offset</key>
        <string>{-16,71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,123}}</string>
        <key>sourceSize</key>
        <string>{108,123}</string>
      </dict>
      <key>monster_10205_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{499,604},{109,121}}</string>
        <key>offset</key>
        <string>{-16,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,121}}</string>
        <key>sourceSize</key>
        <string>{109,121}</string>
      </dict>
      <key>monster_10205_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{248,825},{109,122}}</string>
        <key>offset</key>
        <string>{-16,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,122}}</string>
        <key>sourceSize</key>
        <string>{109,122}</string>
      </dict>
      <key>monster_10205_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{275,238},{134,119}}</string>
        <key>offset</key>
        <string>{-30,77}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,119}}</string>
        <key>sourceSize</key>
        <string>{134,119}</string>
      </dict>
      <key>monster_10205_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,96},{138,117}}</string>
        <key>offset</key>
        <string>{-35,78}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,117}}</string>
        <key>sourceSize</key>
        <string>{138,117}</string>
      </dict>
      <key>monster_10205_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{138,215},{135,117}}</string>
        <key>offset</key>
        <string>{-35,76}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,117}}</string>
        <key>sourceSize</key>
        <string>{135,117}</string>
      </dict>
      <key>monster_10205_0_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{134,461},{131,118}}</string>
        <key>offset</key>
        <string>{-30,76}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,118}}</string>
        <key>sourceSize</key>
        <string>{131,118}</string>
      </dict>
      <key>monster_10205_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,432},{125,132}}</string>
        <key>offset</key>
        <string>{-54,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,132}}</string>
        <key>sourceSize</key>
        <string>{125,132}</string>
      </dict>
      <key>monster_10205_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,688},{127,130}}</string>
        <key>offset</key>
        <string>{-55,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,130}}</string>
        <key>sourceSize</key>
        <string>{127,130}</string>
      </dict>
      <key>monster_10205_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,817},{121,130}}</string>
        <key>offset</key>
        <string>{-56,83}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,130}}</string>
        <key>sourceSize</key>
        <string>{121,130}</string>
      </dict>
      <key>monster_10205_0_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{123,817},{123,130}}</string>
        <key>offset</key>
        <string>{-55,83}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,130}}</string>
        <key>sourceSize</key>
        <string>{123,130}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_10205_0_0.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>monster_10205_0_0.png</string>
    </dict>
  </dict>
</plist>