<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16280_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1930,0},{107,148}}</string>
        <key>offset</key>
        <string>{-18,83}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,148}}</string>
        <key>sourceSize</key>
        <string>{107,148}</string>
      </dict>
      <key>monster_16280_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{115,656},{118,207}}</string>
        <key>offset</key>
        <string>{-15,175}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,207}}</string>
        <key>sourceSize</key>
        <string>{118,207}</string>
      </dict>
      <key>monster_16280_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1093,721},{140,165}}</string>
        <key>offset</key>
        <string>{-12,144}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,165}}</string>
        <key>sourceSize</key>
        <string>{140,165}</string>
      </dict>
      <key>monster_16280_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,865},{126,202}}</string>
        <key>offset</key>
        <string>{-14,184}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,202}}</string>
        <key>sourceSize</key>
        <string>{126,202}</string>
      </dict>
      <key>monster_16280_0_4_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,420},{125,202}}</string>
        <key>offset</key>
        <string>{-13,184}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,202}}</string>
        <key>sourceSize</key>
        <string>{125,202}</string>
      </dict>
      <key>monster_16280_0_4_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,210},{122,202}}</string>
        <key>offset</key>
        <string>{-10,184}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,202}}</string>
        <key>sourceSize</key>
        <string>{122,202}</string>
      </dict>
      <key>monster_16280_0_4_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{338,0},{122,202}}</string>
        <key>offset</key>
        <string>{-10,184}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,202}}</string>
        <key>sourceSize</key>
        <string>{122,202}</string>
      </dict>
      <key>monster_16280_0_4_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{235,624},{122,202}}</string>
        <key>offset</key>
        <string>{-10,184}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,202}}</string>
        <key>sourceSize</key>
        <string>{122,202}</string>
      </dict>
      <key>monster_16280_0_4_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{351,414},{122,202}}</string>
        <key>offset</key>
        <string>{-10,184}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,202}}</string>
        <key>sourceSize</key>
        <string>{122,202}</string>
      </dict>
      <key>monster_16280_0_4_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,204},{122,202}}</string>
        <key>offset</key>
        <string>{-10,184}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,202}}</string>
        <key>sourceSize</key>
        <string>{122,202}</string>
      </dict>
      <key>monster_16280_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1498,324},{158,145}}</string>
        <key>offset</key>
        <string>{-20,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,145}}</string>
        <key>sourceSize</key>
        <string>{158,145}</string>
      </dict>
      <key>monster_16280_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{623,784},{167,181}}</string>
        <key>offset</key>
        <string>{1,139}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,181}}</string>
        <key>sourceSize</key>
        <string>{167,181}</string>
      </dict>
      <key>monster_16280_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1310,169},{123,161}}</string>
        <key>offset</key>
        <string>{11,133}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,161}}</string>
        <key>sourceSize</key>
        <string>{123,161}</string>
      </dict>
      <key>monster_16280_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{717,372},{143,180}}</string>
        <key>offset</key>
        <string>{14,155}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,180}}</string>
        <key>sourceSize</key>
        <string>{143,180}</string>
      </dict>
      <key>monster_16280_0_4_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{801,184},{143,180}}</string>
        <key>offset</key>
        <string>{14,155}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,180}}</string>
        <key>sourceSize</key>
        <string>{143,180}</string>
      </dict>
      <key>monster_16280_0_4_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{935,0},{142,180}}</string>
        <key>offset</key>
        <string>{14,155}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,180}}</string>
        <key>sourceSize</key>
        <string>{142,180}</string>
      </dict>
      <key>monster_16280_0_4_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{792,744},{142,180}}</string>
        <key>offset</key>
        <string>{14,155}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,180}}</string>
        <key>sourceSize</key>
        <string>{142,180}</string>
      </dict>
      <key>monster_16280_0_4_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{825,554},{142,180}}</string>
        <key>offset</key>
        <string>{14,155}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,180}}</string>
        <key>sourceSize</key>
        <string>{142,180}</string>
      </dict>
      <key>monster_16280_0_4_1_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{862,366},{142,180}}</string>
        <key>offset</key>
        <string>{14,155}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,180}}</string>
        <key>sourceSize</key>
        <string>{142,180}</string>
      </dict>
      <key>monster_16280_0_4_1_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{946,182},{142,180}}</string>
        <key>offset</key>
        <string>{14,155}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,180}}</string>
        <key>sourceSize</key>
        <string>{142,180}</string>
      </dict>
      <key>monster_16280_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,228},{216,133}}</string>
        <key>offset</key>
        <string>{-63,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{216,133}}</string>
        <key>sourceSize</key>
        <string>{216,133}</string>
      </dict>
      <key>monster_16280_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{359,618},{195,130}}</string>
        <key>offset</key>
        <string>{4,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{195,130}}</string>
        <key>sourceSize</key>
        <string>{195,130}</string>
      </dict>
      <key>monster_16280_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1334,0},{110,161}}</string>
        <key>offset</key>
        <string>{18,125}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,161}}</string>
        <key>sourceSize</key>
        <string>{110,161}</string>
      </dict>
      <key>monster_16280_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1235,684},{159,150}}</string>
        <key>offset</key>
        <string>{25,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,150}}</string>
        <key>sourceSize</key>
        <string>{159,150}</string>
      </dict>
      <key>monster_16280_0_4_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1240,515},{159,150}}</string>
        <key>offset</key>
        <string>{25,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,150}}</string>
        <key>sourceSize</key>
        <string>{159,150}</string>
      </dict>
      <key>monster_16280_0_4_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1259,845},{159,150}}</string>
        <key>offset</key>
        <string>{25,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,150}}</string>
        <key>sourceSize</key>
        <string>{159,150}</string>
      </dict>
      <key>monster_16280_0_4_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1387,676},{159,150}}</string>
        <key>offset</key>
        <string>{25,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,150}}</string>
        <key>sourceSize</key>
        <string>{159,150}</string>
      </dict>
      <key>monster_16280_0_4_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1346,332},{159,150}}</string>
        <key>offset</key>
        <string>{25,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,150}}</string>
        <key>sourceSize</key>
        <string>{159,150}</string>
      </dict>
      <key>monster_16280_0_4_2_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1435,163},{159,150}}</string>
        <key>offset</key>
        <string>{25,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,150}}</string>
        <key>sourceSize</key>
        <string>{159,150}</string>
      </dict>
      <key>monster_16280_0_4_2_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1446,0},{159,150}}</string>
        <key>offset</key>
        <string>{25,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,150}}</string>
        <key>sourceSize</key>
        <string>{159,150}</string>
      </dict>
      <key>monster_16280_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{936,736},{155,177}}</string>
        <key>offset</key>
        <string>{-54,96}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,177}}</string>
        <key>sourceSize</key>
        <string>{155,177}</string>
      </dict>
      <key>monster_16280_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1587,161},{155,134}}</string>
        <key>offset</key>
        <string>{-9,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,134}}</string>
        <key>sourceSize</key>
        <string>{155,134}</string>
      </dict>
      <key>monster_16280_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{498,200},{101,186}}</string>
        <key>offset</key>
        <string>{11,124}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,186}}</string>
        <key>sourceSize</key>
        <string>{101,186}</string>
      </dict>
      <key>monster_16280_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1613,484},{126,152}}</string>
        <key>offset</key>
        <string>{14,83}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,152}}</string>
        <key>sourceSize</key>
        <string>{126,152}</string>
      </dict>
      <key>monster_16280_0_4_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1645,318},{126,152}}</string>
        <key>offset</key>
        <string>{14,83}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,152}}</string>
        <key>sourceSize</key>
        <string>{126,152}</string>
      </dict>
      <key>monster_16280_0_4_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1723,157},{126,152}}</string>
        <key>offset</key>
        <string>{14,83}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,152}}</string>
        <key>sourceSize</key>
        <string>{126,152}</string>
      </dict>
      <key>monster_16280_0_4_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1802,0},{126,152}}</string>
        <key>offset</key>
        <string>{14,83}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,152}}</string>
        <key>sourceSize</key>
        <string>{126,152}</string>
      </dict>
      <key>monster_16280_0_4_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1851,154},{126,152}}</string>
        <key>offset</key>
        <string>{14,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,152}}</string>
        <key>sourceSize</key>
        <string>{126,152}</string>
      </dict>
      <key>monster_16280_0_4_3_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1851,282},{126,152}}</string>
        <key>offset</key>
        <string>{14,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,152}}</string>
        <key>sourceSize</key>
        <string>{126,152}</string>
      </dict>
      <key>monster_16280_0_4_3_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1609,798},{126,152}}</string>
        <key>offset</key>
        <string>{14,83}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,152}}</string>
        <key>sourceSize</key>
        <string>{126,152}</string>
      </dict>
      <key>monster_16280_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{703,561},{120,181}}</string>
        <key>offset</key>
        <string>{-6,92}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,181}}</string>
        <key>sourceSize</key>
        <string>{120,181}</string>
      </dict>
      <key>monster_16280_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1638,638},{117,134}}</string>
        <key>offset</key>
        <string>{-10,73}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,134}}</string>
        <key>sourceSize</key>
        <string>{117,134}</string>
      </dict>
      <key>monster_16280_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{414,815},{110,192}}</string>
        <key>offset</key>
        <string>{-10,131}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,192}}</string>
        <key>sourceSize</key>
        <string>{110,192}</string>
      </dict>
      <key>monster_16280_0_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{936,915},{106,155}}</string>
        <key>offset</key>
        <string>{-8,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,155}}</string>
        <key>sourceSize</key>
        <string>{106,155}</string>
      </dict>
      <key>monster_16280_0_4_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1598,0},{103,155}}</string>
        <key>offset</key>
        <string>{-8,82}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,155}}</string>
        <key>sourceSize</key>
        <string>{103,155}</string>
      </dict>
      <key>monster_16280_0_4_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1703,0},{97,155}}</string>
        <key>offset</key>
        <string>{-8,82}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,155}}</string>
        <key>sourceSize</key>
        <string>{97,155}</string>
      </dict>
      <key>monster_16280_0_4_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1411,837},{97,155}}</string>
        <key>offset</key>
        <string>{-8,82}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,155}}</string>
        <key>sourceSize</key>
        <string>{97,155}</string>
      </dict>
      <key>monster_16280_0_4_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1510,837},{97,155}}</string>
        <key>offset</key>
        <string>{-8,82}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,155}}</string>
        <key>sourceSize</key>
        <string>{97,155}</string>
      </dict>
      <key>monster_16280_0_4_4_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1514,484},{97,155}}</string>
        <key>offset</key>
        <string>{-8,82}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,155}}</string>
        <key>sourceSize</key>
        <string>{97,155}</string>
      </dict>
      <key>monster_16280_0_4_4_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1539,641},{97,155}}</string>
        <key>offset</key>
        <string>{-8,82}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,155}}</string>
        <key>sourceSize</key>
        <string>{97,155}</string>
      </dict>
      <key>monster_16280_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{475,408},{188,143}}</string>
        <key>offset</key>
        <string>{-77,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,143}}</string>
        <key>sourceSize</key>
        <string>{188,143}</string>
      </dict>
      <key>monster_16280_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1093,888},{164,110}}</string>
        <key>offset</key>
        <string>{-76,76}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,110}}</string>
        <key>sourceSize</key>
        <string>{164,110}</string>
      </dict>
      <key>monster_16280_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{579,0},{121,186}}</string>
        <key>offset</key>
        <string>{-43,143}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,186}}</string>
        <key>sourceSize</key>
        <string>{121,186}</string>
      </dict>
      <key>monster_16280_0_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1392,493},{120,159}}</string>
        <key>offset</key>
        <string>{-59,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,159}}</string>
        <key>sourceSize</key>
        <string>{120,159}</string>
      </dict>
      <key>monster_16280_0_4_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1123,519},{115,163}}</string>
        <key>offset</key>
        <string>{-59,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,163}}</string>
        <key>sourceSize</key>
        <string>{115,163}</string>
      </dict>
      <key>monster_16280_0_4_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1006,364},{108,167}}</string>
        <key>offset</key>
        <string>{-59,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,167}}</string>
        <key>sourceSize</key>
        <string>{108,167}</string>
      </dict>
      <key>monster_16280_0_4_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1090,181},{108,167}}</string>
        <key>offset</key>
        <string>{-59,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,167}}</string>
        <key>sourceSize</key>
        <string>{108,167}</string>
      </dict>
      <key>monster_16280_0_4_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1116,350},{108,167}}</string>
        <key>offset</key>
        <string>{-59,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,167}}</string>
        <key>sourceSize</key>
        <string>{108,167}</string>
      </dict>
      <key>monster_16280_0_4_5_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1200,181},{108,167}}</string>
        <key>offset</key>
        <string>{-59,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,167}}</string>
        <key>sourceSize</key>
        <string>{108,167}</string>
      </dict>
      <key>monster_16280_0_4_5_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1224,0},{108,167}}</string>
        <key>offset</key>
        <string>{-59,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,167}}</string>
        <key>sourceSize</key>
        <string>{108,167}</string>
      </dict>
      <key>monster_16280_0_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{226,117}}</string>
        <key>offset</key>
        <string>{-90,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{226,117}}</string>
        <key>sourceSize</key>
        <string>{226,117}</string>
      </dict>
      <key>monster_16280_0_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{969,548},{171,152}}</string>
        <key>offset</key>
        <string>{-87,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,152}}</string>
        <key>sourceSize</key>
        <string>{171,152}</string>
      </dict>
      <key>monster_16280_0_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{799,0},{134,182}}</string>
        <key>offset</key>
        <string>{-42,151}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,182}}</string>
        <key>sourceSize</key>
        <string>{134,182}</string>
      </dict>
      <key>monster_16280_0_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{491,598},{113,186}}</string>
        <key>offset</key>
        <string>{-63,153}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,186}}</string>
        <key>sourceSize</key>
        <string>{113,186}</string>
      </dict>
      <key>monster_16280_0_4_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{601,188},{101,185}}</string>
        <key>offset</key>
        <string>{-63,153}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,185}}</string>
        <key>sourceSize</key>
        <string>{101,185}</string>
      </dict>
      <key>monster_16280_0_4_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{702,0},{95,184}}</string>
        <key>offset</key>
        <string>{-63,153}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,184}}</string>
        <key>sourceSize</key>
        <string>{95,184}</string>
      </dict>
      <key>monster_16280_0_4_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{526,786},{95,184}}</string>
        <key>offset</key>
        <string>{-63,153}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,184}}</string>
        <key>sourceSize</key>
        <string>{95,184}</string>
      </dict>
      <key>monster_16280_0_4_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{606,598},{95,184}}</string>
        <key>offset</key>
        <string>{-63,153}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,184}}</string>
        <key>sourceSize</key>
        <string>{95,184}</string>
      </dict>
      <key>monster_16280_0_4_6_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{620,375},{95,184}}</string>
        <key>offset</key>
        <string>{-63,153}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,184}}</string>
        <key>sourceSize</key>
        <string>{95,184}</string>
      </dict>
      <key>monster_16280_0_4_6_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{704,186},{95,184}}</string>
        <key>offset</key>
        <string>{-63,153}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,184}}</string>
        <key>sourceSize</key>
        <string>{95,184}</string>
      </dict>
      <key>monster_16280_0_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1226,350},{163,118}}</string>
        <key>offset</key>
        <string>{-35,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,118}}</string>
        <key>sourceSize</key>
        <string>{163,118}</string>
      </dict>
      <key>monster_16280_0_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,0},{115,198}}</string>
        <key>offset</key>
        <string>{-32,168}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,198}}</string>
        <key>sourceSize</key>
        <string>{115,198}</string>
      </dict>
      <key>monster_16280_0_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1079,0},{143,179}}</string>
        <key>offset</key>
        <string>{-31,151}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,179}}</string>
        <key>sourceSize</key>
        <string>{143,179}</string>
      </dict>
      <key>monster_16280_0_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{119,0},{102,208}}</string>
        <key>offset</key>
        <string>{-36,183}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,208}}</string>
        <key>sourceSize</key>
        <string>{102,208}</string>
      </dict>
      <key>monster_16280_0_4_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,446},{107,208}}</string>
        <key>offset</key>
        <string>{-41,183}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,208}}</string>
        <key>sourceSize</key>
        <string>{107,208}</string>
      </dict>
      <key>monster_16280_0_4_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,656},{113,208}}</string>
        <key>offset</key>
        <string>{-47,183}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,208}}</string>
        <key>sourceSize</key>
        <string>{113,208}</string>
      </dict>
      <key>monster_16280_0_4_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{109,446},{113,208}}</string>
        <key>offset</key>
        <string>{-47,183}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,208}}</string>
        <key>sourceSize</key>
        <string>{113,208}</string>
      </dict>
      <key>monster_16280_0_4_7_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{135,210},{113,208}}</string>
        <key>offset</key>
        <string>{-47,183}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,208}}</string>
        <key>sourceSize</key>
        <string>{113,208}</string>
      </dict>
      <key>monster_16280_0_4_7_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{223,0},{113,208}}</string>
        <key>offset</key>
        <string>{-47,183}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,208}}</string>
        <key>sourceSize</key>
        <string>{113,208}</string>
      </dict>
      <key>monster_16280_0_4_7_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,866},{113,208}}</string>
        <key>offset</key>
        <string>{-47,183}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,208}}</string>
        <key>sourceSize</key>
        <string>{113,208}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16280_0_4.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>monster_16280_0_4.png</string>
    </dict>
  </dict>
</plist>