<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_12033_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{293,126},{113,90}}</string>
        <key>offset</key>
        <string>{-26,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,90}}</string>
        <key>sourceSize</key>
        <string>{113,90}</string>
      </dict>
      <key>monster_12033_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,394},{116,108}}</string>
        <key>offset</key>
        <string>{-26,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,108}}</string>
        <key>sourceSize</key>
        <string>{116,108}</string>
      </dict>
      <key>monster_12033_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{385,218},{97,99}}</string>
        <key>offset</key>
        <string>{-12,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,99}}</string>
        <key>sourceSize</key>
        <string>{97,99}</string>
      </dict>
      <key>monster_12033_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{227,246},{87,114}}</string>
        <key>offset</key>
        <string>{-8,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,114}}</string>
        <key>sourceSize</key>
        <string>{87,114}</string>
      </dict>
      <key>monster_12033_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,414},{93,130}}</string>
        <key>offset</key>
        <string>{-15,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,130}}</string>
        <key>sourceSize</key>
        <string>{93,130}</string>
      </dict>
      <key>monster_12033_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,140},{87,135}}</string>
        <key>offset</key>
        <string>{-18,94}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,135}}</string>
        <key>sourceSize</key>
        <string>{87,135}</string>
      </dict>
      <key>monster_12033_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,277},{107,135}}</string>
        <key>offset</key>
        <string>{-8,96}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,135}}</string>
        <key>sourceSize</key>
        <string>{107,135}</string>
      </dict>
      <key>monster_12033_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{89,136},{112,130}}</string>
        <key>offset</key>
        <string>{-18,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,130}}</string>
        <key>sourceSize</key>
        <string>{112,130}</string>
      </dict>
      <key>monster_12033_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{188,0},{114,124}}</string>
        <key>offset</key>
        <string>{-36,96}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,124}}</string>
        <key>sourceSize</key>
        <string>{114,124}</string>
      </dict>
      <key>monster_12033_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{109,268},{116,124}}</string>
        <key>offset</key>
        <string>{-38,96}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,124}}</string>
        <key>sourceSize</key>
        <string>{116,124}</string>
      </dict>
      <key>monster_12033_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{89,0},{97,134}}</string>
        <key>offset</key>
        <string>{-33,91}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,134}}</string>
        <key>sourceSize</key>
        <string>{97,134}</string>
      </dict>
      <key>monster_12033_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{87,138}}</string>
        <key>offset</key>
        <string>{-27,93}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,138}}</string>
        <key>sourceSize</key>
        <string>{87,138}</string>
      </dict>
      <key>monster_12033_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{404,0},{92,107}}</string>
        <key>offset</key>
        <string>{-26,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,107}}</string>
        <key>sourceSize</key>
        <string>{92,107}</string>
      </dict>
      <key>monster_12033_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{203,126},{88,118}}</string>
        <key>offset</key>
        <string>{-18,84}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,118}}</string>
        <key>sourceSize</key>
        <string>{88,118}</string>
      </dict>
      <key>monster_12033_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{404,109},{107,89}}</string>
        <key>offset</key>
        <string>{-47,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,89}}</string>
        <key>sourceSize</key>
        <string>{107,89}</string>
      </dict>
      <key>monster_12033_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{304,0},{113,98}}</string>
        <key>offset</key>
        <string>{-42,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,98}}</string>
        <key>sourceSize</key>
        <string>{113,98}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_12033_0_7.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>monster_12033_0_7.png</string>
    </dict>
  </dict>
</plist>