<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16226_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{220,1061},{159,208}}</string>
        <key>offset</key>
        <string>{-47,168}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,208}}</string>
        <key>sourceSize</key>
        <string>{159,208}</string>
      </dict>
      <key>monster_16226_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1184},{160,207}}</string>
        <key>offset</key>
        <string>{-47,170}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,207}}</string>
        <key>sourceSize</key>
        <string>{160,207}</string>
      </dict>
      <key>monster_16226_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{444,948},{159,213}}</string>
        <key>offset</key>
        <string>{-48,171}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,213}}</string>
        <key>sourceSize</key>
        <string>{159,213}</string>
      </dict>
      <key>monster_16226_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{676,856},{159,216}}</string>
        <key>offset</key>
        <string>{-50,170}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,216}}</string>
        <key>sourceSize</key>
        <string>{159,216}</string>
      </dict>
      <key>monster_16226_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,749},{141,221}}</string>
        <key>offset</key>
        <string>{-69,182}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,221}}</string>
        <key>sourceSize</key>
        <string>{141,221}</string>
      </dict>
      <key>monster_16226_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,892},{136,218}}</string>
        <key>offset</key>
        <string>{-63,183}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,218}}</string>
        <key>sourceSize</key>
        <string>{136,218}</string>
      </dict>
      <key>monster_16226_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{466,692},{122,223}}</string>
        <key>offset</key>
        <string>{-50,185}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,223}}</string>
        <key>sourceSize</key>
        <string>{122,223}</string>
      </dict>
      <key>monster_16226_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{455,816},{130,219}}</string>
        <key>offset</key>
        <string>{-52,185}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,219}}</string>
        <key>sourceSize</key>
        <string>{130,219}</string>
      </dict>
      <key>monster_16226_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,148},{137,242}}</string>
        <key>offset</key>
        <string>{-68,198}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,242}}</string>
        <key>sourceSize</key>
        <string>{137,242}</string>
      </dict>
      <key>monster_16226_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{730,389},{128,236}}</string>
        <key>offset</key>
        <string>{-58,199}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,236}}</string>
        <key>sourceSize</key>
        <string>{128,236}</string>
      </dict>
      <key>monster_16226_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{496,130},{122,244}}</string>
        <key>offset</key>
        <string>{-51,202}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,244}}</string>
        <key>sourceSize</key>
        <string>{122,244}</string>
      </dict>
      <key>monster_16226_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{239,408},{122,234}}</string>
        <key>offset</key>
        <string>{-53,201}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,234}}</string>
        <key>sourceSize</key>
        <string>{122,234}</string>
      </dict>
      <key>monster_16226_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{488,254},{145,240}}</string>
        <key>offset</key>
        <string>{-35,202}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,240}}</string>
        <key>sourceSize</key>
        <string>{145,240}</string>
      </dict>
      <key>monster_16226_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,287},{146,237}}</string>
        <key>offset</key>
        <string>{-35,203}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,237}}</string>
        <key>sourceSize</key>
        <string>{146,237}</string>
      </dict>
      <key>monster_16226_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{146,246}}</string>
        <key>offset</key>
        <string>{-34,205}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,246}}</string>
        <key>sourceSize</key>
        <string>{146,246}</string>
      </dict>
      <key>monster_16226_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{248,0},{146,246}}</string>
        <key>offset</key>
        <string>{-33,204}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,246}}</string>
        <key>sourceSize</key>
        <string>{146,246}</string>
      </dict>
      <key>monster_16226_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{709,519},{173,224}}</string>
        <key>offset</key>
        <string>{-27,194}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,224}}</string>
        <key>sourceSize</key>
        <string>{173,224}</string>
      </dict>
      <key>monster_16226_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{236,532},{173,228}}</string>
        <key>offset</key>
        <string>{-28,196}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,228}}</string>
        <key>sourceSize</key>
        <string>{173,228}</string>
      </dict>
      <key>monster_16226_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,574},{173,228}}</string>
        <key>offset</key>
        <string>{-27,198}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,228}}</string>
        <key>sourceSize</key>
        <string>{173,228}</string>
      </dict>
      <key>monster_16226_0_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{475,517},{173,232}}</string>
        <key>offset</key>
        <string>{-25,196}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,232}}</string>
        <key>sourceSize</key>
        <string>{173,232}</string>
      </dict>
      <key>monster_16226_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,276},{130,240}}</string>
        <key>offset</key>
        <string>{-7,202}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,240}}</string>
        <key>sourceSize</key>
        <string>{130,240}</string>
      </dict>
      <key>monster_16226_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{730,262},{125,237}}</string>
        <key>offset</key>
        <string>{-1,203}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,237}}</string>
        <key>sourceSize</key>
        <string>{125,237}</string>
      </dict>
      <key>monster_16226_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{496,0},{128,246}}</string>
        <key>offset</key>
        <string>{-5,205}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,246}}</string>
        <key>sourceSize</key>
        <string>{128,246}</string>
      </dict>
      <key>monster_16226_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{744,0},{133,246}}</string>
        <key>offset</key>
        <string>{-11,204}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,246}}</string>
        <key>sourceSize</key>
        <string>{133,246}</string>
      </dict>
      <key>monster_16226_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,148},{126,242}}</string>
        <key>offset</key>
        <string>{1,198}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,242}}</string>
        <key>sourceSize</key>
        <string>{126,242}</string>
      </dict>
      <key>monster_16226_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{486,401},{114,236}}</string>
        <key>offset</key>
        <string>{4,199}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,236}}</string>
        <key>sourceSize</key>
        <string>{114,236}</string>
      </dict>
      <key>monster_16226_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{742,135},{125,244}}</string>
        <key>offset</key>
        <string>{-7,202}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,244}}</string>
        <key>sourceSize</key>
        <string>{125,244}</string>
      </dict>
      <key>monster_16226_0_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,435},{137,234}}</string>
        <key>offset</key>
        <string>{-19,201}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,234}}</string>
        <key>sourceSize</key>
        <string>{137,234}</string>
      </dict>
      <key>monster_16226_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{691,694},{160,221}}</string>
        <key>offset</key>
        <string>{-12,182}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,221}}</string>
        <key>sourceSize</key>
        <string>{160,221}</string>
      </dict>
      <key>monster_16226_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1030},{152,218}}</string>
        <key>offset</key>
        <string>{-6,183}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,218}}</string>
        <key>sourceSize</key>
        <string>{152,218}</string>
      </dict>
      <key>monster_16226_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{230,707},{170,223}}</string>
        <key>offset</key>
        <string>{-22,185}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,223}}</string>
        <key>sourceSize</key>
        <string>{170,223}</string>
      </dict>
      <key>monster_16226_0_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{223,879},{180,219}}</string>
        <key>offset</key>
        <string>{-30,185}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,219}}</string>
        <key>sourceSize</key>
        <string>{180,219}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16226_0_0.png</string>
      <key>size</key>
      <string>{1024,2048}</string>
      <key>textureFileName</key>
      <string>monster_16226_0_0.png</string>
    </dict>
  </dict>
</plist>