<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_2060_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{74,147}}</string>
        <key>offset</key>
        <string>{-13,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,147}}</string>
        <key>sourceSize</key>
        <string>{74,147}</string>
      </dict>
      <key>monster_2060_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{297,0},{81,145}}</string>
        <key>offset</key>
        <string>{-13,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,145}}</string>
        <key>sourceSize</key>
        <string>{81,145}</string>
      </dict>
      <key>monster_2060_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{149,0},{82,146}}</string>
        <key>offset</key>
        <string>{-14,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,146}}</string>
        <key>sourceSize</key>
        <string>{82,146}</string>
      </dict>
      <key>monster_2060_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{297,83},{70,144}}</string>
        <key>offset</key>
        <string>{-14,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,144}}</string>
        <key>sourceSize</key>
        <string>{70,144}</string>
      </dict>
      <key>monster_2060_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,84},{78,143}}</string>
        <key>offset</key>
        <string>{-21,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,143}}</string>
        <key>sourceSize</key>
        <string>{78,143}</string>
      </dict>
      <key>monster_2060_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,76},{81,146}}</string>
        <key>offset</key>
        <string>{-22,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,146}}</string>
        <key>sourceSize</key>
        <string>{81,146}</string>
      </dict>
      <key>monster_2060_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{270,326},{92,130}}</string>
        <key>offset</key>
        <string>{-25,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,130}}</string>
        <key>sourceSize</key>
        <string>{92,130}</string>
      </dict>
      <key>monster_2060_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,333},{87,128}}</string>
        <key>offset</key>
        <string>{-25,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,128}}</string>
        <key>sourceSize</key>
        <string>{87,128}</string>
      </dict>
      <key>monster_2060_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,242},{89,133}}</string>
        <key>offset</key>
        <string>{-17,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,133}}</string>
        <key>sourceSize</key>
        <string>{89,133}</string>
      </dict>
      <key>monster_2060_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{293,155},{88,135}}</string>
        <key>offset</key>
        <string>{-16,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,135}}</string>
        <key>sourceSize</key>
        <string>{88,135}</string>
      </dict>
      <key>monster_2060_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{135,245},{85,133}}</string>
        <key>offset</key>
        <string>{-19,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,133}}</string>
        <key>sourceSize</key>
        <string>{85,133}</string>
      </dict>
      <key>monster_2060_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{270,245},{79,133}}</string>
        <key>offset</key>
        <string>{-20,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,133}}</string>
        <key>sourceSize</key>
        <string>{79,133}</string>
      </dict>
      <key>monster_2060_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,808},{103,113}}</string>
        <key>offset</key>
        <string>{-35,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,113}}</string>
        <key>sourceSize</key>
        <string>{103,113}</string>
      </dict>
      <key>monster_2060_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,889},{110,112}}</string>
        <key>offset</key>
        <string>{-40,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,112}}</string>
        <key>sourceSize</key>
        <string>{110,112}</string>
      </dict>
      <key>monster_2060_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,428},{100,121}}</string>
        <key>offset</key>
        <string>{-35,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,121}}</string>
        <key>sourceSize</key>
        <string>{100,121}</string>
      </dict>
      <key>monster_2060_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,605},{105,118}}</string>
        <key>offset</key>
        <string>{-37,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,118}}</string>
        <key>sourceSize</key>
        <string>{105,118}</string>
      </dict>
      <key>monster_2060_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,712},{103,115}}</string>
        <key>offset</key>
        <string>{-37,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,115}}</string>
        <key>sourceSize</key>
        <string>{103,115}</string>
      </dict>
      <key>monster_2060_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,511},{92,121}}</string>
        <key>offset</key>
        <string>{-31,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,121}}</string>
        <key>sourceSize</key>
        <string>{92,121}</string>
      </dict>
      <key>monster_2060_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{375,533},{81,118}}</string>
        <key>offset</key>
        <string>{-13,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,118}}</string>
        <key>sourceSize</key>
        <string>{81,118}</string>
      </dict>
      <key>monster_2060_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{238,697},{83,115}}</string>
        <key>offset</key>
        <string>{-19,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,115}}</string>
        <key>sourceSize</key>
        <string>{83,115}</string>
      </dict>
      <key>monster_2060_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,616},{79,116}}</string>
        <key>offset</key>
        <string>{-20,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,116}}</string>
        <key>sourceSize</key>
        <string>{79,116}</string>
      </dict>
      <key>monster_2060_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{490,292},{94,108}}</string>
        <key>offset</key>
        <string>{-25,83}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,108}}</string>
        <key>sourceSize</key>
        <string>{94,108}</string>
      </dict>
      <key>monster_2060_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{438,855},{87,106}}</string>
        <key>offset</key>
        <string>{-22,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,106}}</string>
        <key>sourceSize</key>
        <string>{87,106}</string>
      </dict>
      <key>monster_2060_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{512,110},{80,104}}</string>
        <key>offset</key>
        <string>{-13,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,104}}</string>
        <key>sourceSize</key>
        <string>{80,104}</string>
      </dict>
      <key>monster_2060_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{120,620},{74,116}}</string>
        <key>offset</key>
        <string>{-15,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,116}}</string>
        <key>sourceSize</key>
        <string>{74,116}</string>
      </dict>
      <key>monster_2060_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{113,922},{81,110}}</string>
        <key>offset</key>
        <string>{-22,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,110}}</string>
        <key>sourceSize</key>
        <string>{81,110}</string>
      </dict>
      <key>monster_2060_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{444,0},{82,108}}</string>
        <key>offset</key>
        <string>{-22,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,108}}</string>
        <key>sourceSize</key>
        <string>{82,108}</string>
      </dict>
      <key>monster_2060_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{355,703},{70,115}}</string>
        <key>offset</key>
        <string>{-10,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,115}}</string>
        <key>sourceSize</key>
        <string>{70,115}</string>
      </dict>
      <key>monster_2060_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,922},{78,111}}</string>
        <key>offset</key>
        <string>{-11,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,111}}</string>
        <key>sourceSize</key>
        <string>{78,111}</string>
      </dict>
      <key>monster_2060_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{512,402},{81,105}}</string>
        <key>offset</key>
        <string>{-13,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,105}}</string>
        <key>sourceSize</key>
        <string>{81,105}</string>
      </dict>
      <key>monster_2060_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{344,889},{92,110}}</string>
        <key>offset</key>
        <string>{-21,84}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,110}}</string>
        <key>sourceSize</key>
        <string>{92,110}</string>
      </dict>
      <key>monster_2060_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{472,703},{87,106}}</string>
        <key>offset</key>
        <string>{-16,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,106}}</string>
        <key>sourceSize</key>
        <string>{87,106}</string>
      </dict>
      <key>monster_2060_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{495,533},{89,106}}</string>
        <key>offset</key>
        <string>{-26,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,106}}</string>
        <key>sourceSize</key>
        <string>{89,106}</string>
      </dict>
      <key>monster_2060_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{123,530},{88,119}}</string>
        <key>offset</key>
        <string>{-26,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,119}}</string>
        <key>sourceSize</key>
        <string>{88,119}</string>
      </dict>
      <key>monster_2060_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{375,616},{85,117}}</string>
        <key>offset</key>
        <string>{-20,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,117}}</string>
        <key>sourceSize</key>
        <string>{85,117}</string>
      </dict>
      <key>monster_2060_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{355,775},{78,115}}</string>
        <key>offset</key>
        <string>{-12,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,115}}</string>
        <key>sourceSize</key>
        <string>{78,115}</string>
      </dict>
      <key>monster_2060_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{390,427},{104,120}}</string>
        <key>offset</key>
        <string>{-22,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,120}}</string>
        <key>sourceSize</key>
        <string>{104,120}</string>
      </dict>
      <key>monster_2060_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{120,696},{110,116}}</string>
        <key>offset</key>
        <string>{-24,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,116}}</string>
        <key>sourceSize</key>
        <string>{110,116}</string>
      </dict>
      <key>monster_2060_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{253,514},{100,120}}</string>
        <key>offset</key>
        <string>{-19,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,120}}</string>
        <key>sourceSize</key>
        <string>{100,120}</string>
      </dict>
      <key>monster_2060_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{238,782},{105,115}}</string>
        <key>offset</key>
        <string>{-22,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,115}}</string>
        <key>sourceSize</key>
        <string>{105,115}</string>
      </dict>
      <key>monster_2060_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,817},{103,113}}</string>
        <key>offset</key>
        <string>{-20,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,113}}</string>
        <key>sourceSize</key>
        <string>{103,113}</string>
      </dict>
      <key>monster_2060_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{266,420},{92,122}}</string>
        <key>offset</key>
        <string>{-15,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,122}}</string>
        <key>sourceSize</key>
        <string>{92,122}</string>
      </dict>
      <key>monster_2060_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,159},{81,139}}</string>
        <key>offset</key>
        <string>{-22,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,139}}</string>
        <key>sourceSize</key>
        <string>{81,139}</string>
      </dict>
      <key>monster_2060_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{405,292},{83,133}}</string>
        <key>offset</key>
        <string>{-18,92}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,133}}</string>
        <key>sourceSize</key>
        <string>{83,133}</string>
      </dict>
      <key>monster_2060_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{141,164},{79,134}}</string>
        <key>offset</key>
        <string>{-13,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,134}}</string>
        <key>sourceSize</key>
        <string>{79,134}</string>
      </dict>
      <key>monster_2060_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{135,332},{94,129}}</string>
        <key>offset</key>
        <string>{-23,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,129}}</string>
        <key>sourceSize</key>
        <string>{94,129}</string>
      </dict>
      <key>monster_2060_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,422},{87,128}}</string>
        <key>offset</key>
        <string>{-19,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,128}}</string>
        <key>sourceSize</key>
        <string>{87,128}</string>
      </dict>
      <key>monster_2060_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{430,155},{80,135}}</string>
        <key>offset</key>
        <string>{-21,98}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,135}}</string>
        <key>sourceSize</key>
        <string>{80,135}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_2060_0_1.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>monster_2060_0_1.png</string>
    </dict>
  </dict>
</plist>