<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_2296_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,834},{392,228}}</string>
        <key>offset</key>
        <string>{-176,161}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{392,228}}</string>
        <key>sourceSize</key>
        <string>{392,228}</string>
      </dict>
      <key>monster_2296_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,418},{414,231}}</string>
        <key>offset</key>
        <string>{-202,162}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{414,231}}</string>
        <key>sourceSize</key>
        <string>{414,231}</string>
      </dict>
      <key>monster_2296_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{511,0},{358,232}}</string>
        <key>offset</key>
        <string>{-180,163}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{358,232}}</string>
        <key>sourceSize</key>
        <string>{358,232}</string>
      </dict>
      <key>monster_2296_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{416,231}}</string>
        <key>offset</key>
        <string>{-204,162}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{416,231}}</string>
        <key>sourceSize</key>
        <string>{416,231}</string>
      </dict>
      <key>monster_2296_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{842,532},{306,247}}</string>
        <key>offset</key>
        <string>{-131,170}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{306,247}}</string>
        <key>sourceSize</key>
        <string>{306,247}</string>
      </dict>
      <key>monster_2296_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{868,281},{327,249}}</string>
        <key>offset</key>
        <string>{-149,172}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{327,249}}</string>
        <key>sourceSize</key>
        <string>{327,249}</string>
      </dict>
      <key>monster_2296_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{233,515},{337,277}}</string>
        <key>offset</key>
        <string>{-158,174}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{337,277}}</string>
        <key>sourceSize</key>
        <string>{337,277}</string>
      </dict>
      <key>monster_2296_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{572,515},{324,268}}</string>
        <key>offset</key>
        <string>{-145,172}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{324,268}}</string>
        <key>sourceSize</key>
        <string>{324,268}</string>
      </dict>
      <key>monster_2296_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{717,986},{201,280}}</string>
        <key>offset</key>
        <string>{-86,176}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{201,280}}</string>
        <key>sourceSize</key>
        <string>{201,280}</string>
      </dict>
      <key>monster_2296_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{842,781},{203,286}}</string>
        <key>offset</key>
        <string>{-85,178}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{203,286}}</string>
        <key>sourceSize</key>
        <string>{203,286}</string>
      </dict>
      <key>monster_2296_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{920,986},{230,271}}</string>
        <key>offset</key>
        <string>{-114,160}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{230,271}}</string>
        <key>sourceSize</key>
        <string>{230,271}</string>
      </dict>
      <key>monster_2296_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{511,986},{204,285}}</string>
        <key>offset</key>
        <string>{-85,178}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{204,285}}</string>
        <key>sourceSize</key>
        <string>{204,285}</string>
      </dict>
      <key>monster_2296_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{233,0},{333,262}}</string>
        <key>offset</key>
        <string>{-143,148}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{333,262}}</string>
        <key>sourceSize</key>
        <string>{333,262}</string>
      </dict>
      <key>monster_2296_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{871,0},{356,279}}</string>
        <key>offset</key>
        <string>{-174,164}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{356,279}}</string>
        <key>sourceSize</key>
        <string>{356,279}</string>
      </dict>
      <key>monster_2296_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{511,234},{355,279}}</string>
        <key>offset</key>
        <string>{-183,163}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{355,279}}</string>
        <key>sourceSize</key>
        <string>{355,279}</string>
      </dict>
      <key>monster_2296_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{230,834},{365,279}}</string>
        <key>offset</key>
        <string>{-184,164}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{365,279}}</string>
        <key>sourceSize</key>
        <string>{365,279}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_2296_0_0_0.png</string>
      <key>size</key>
      <string>{1280,1280}</string>
      <key>textureFileName</key>
      <string>monster_2296_0_0_0.png</string>
    </dict>
  </dict>
</plist>