<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_2127_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{275,373},{357,328}}</string>
        <key>offset</key>
        <string>{-164,222}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{357,328}}</string>
        <key>sourceSize</key>
        <string>{357,328}</string>
      </dict>
      <key>monster_2127_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{292,0},{344,297}}</string>
        <key>offset</key>
        <string>{-161,223}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{344,297}}</string>
        <key>sourceSize</key>
        <string>{344,297}</string>
      </dict>
      <key>monster_2127_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{605,346},{339,303}}</string>
        <key>offset</key>
        <string>{-163,222}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{339,303}}</string>
        <key>sourceSize</key>
        <string>{339,303}</string>
      </dict>
      <key>monster_2127_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{631,687},{330,253}}</string>
        <key>offset</key>
        <string>{-211,161}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{330,253}}</string>
        <key>sourceSize</key>
        <string>{330,253}</string>
      </dict>
      <key>monster_2127_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{275,732},{354,290}}</string>
        <key>offset</key>
        <string>{-176,220}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{354,290}}</string>
        <key>sourceSize</key>
        <string>{354,290}</string>
      </dict>
      <key>monster_2127_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,373},{363,273}}</string>
        <key>offset</key>
        <string>{-202,204}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{363,273}}</string>
        <key>sourceSize</key>
        <string>{363,273}</string>
      </dict>
      <key>monster_2127_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{371,290}}</string>
        <key>offset</key>
        <string>{-210,221}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{371,290}}</string>
        <key>sourceSize</key>
        <string>{371,290}</string>
      </dict>
      <key>monster_2127_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{591,0},{344,299}}</string>
        <key>offset</key>
        <string>{-206,208}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{344,299}}</string>
        <key>sourceSize</key>
        <string>{344,299}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_2127_0_2_0.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>monster_2127_0_2_0.png</string>
    </dict>
  </dict>
</plist>