<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16146_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,567},{271,226}}</string>
        <key>offset</key>
        <string>{-168,145}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{271,226}}</string>
        <key>sourceSize</key>
        <string>{271,226}</string>
      </dict>
      <key>monster_16146_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{425,0},{253,210}}</string>
        <key>offset</key>
        <string>{-146,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{253,210}}</string>
        <key>sourceSize</key>
        <string>{253,210}</string>
      </dict>
      <key>monster_16146_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{231,290},{266,164}}</string>
        <key>offset</key>
        <string>{-119,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{266,164}}</string>
        <key>sourceSize</key>
        <string>{266,164}</string>
      </dict>
      <key>monster_16146_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{652,254},{243,164}}</string>
        <key>offset</key>
        <string>{-93,10}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{243,164}}</string>
        <key>sourceSize</key>
        <string>{243,164}</string>
      </dict>
      <key>monster_16146_0_4_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{818,254},{223,171}}</string>
        <key>offset</key>
        <string>{-72,16}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{223,171}}</string>
        <key>sourceSize</key>
        <string>{223,171}</string>
      </dict>
      <key>monster_16146_0_4_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{692,499},{234,156}}</string>
        <key>offset</key>
        <string>{-82,1}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{234,156}}</string>
        <key>sourceSize</key>
        <string>{234,156}</string>
      </dict>
      <key>monster_16146_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{692,735},{233,157}}</string>
        <key>offset</key>
        <string>{-80,1}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{233,157}}</string>
        <key>sourceSize</key>
        <string>{233,157}</string>
      </dict>
      <key>monster_16146_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{288,237}}</string>
        <key>offset</key>
        <string>{-171,142}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{288,237}}</string>
        <key>sourceSize</key>
        <string>{288,237}</string>
      </dict>
      <key>monster_16146_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,567},{267,216}}</string>
        <key>offset</key>
        <string>{-178,101}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{267,216}}</string>
        <key>sourceSize</key>
        <string>{267,216}</string>
      </dict>
      <key>monster_16146_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{239,0},{265,184}}</string>
        <key>offset</key>
        <string>{-144,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{265,184}}</string>
        <key>sourceSize</key>
        <string>{265,184}</string>
      </dict>
      <key>monster_16146_0_4_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,479},{218,171}}</string>
        <key>offset</key>
        <string>{-111,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{218,171}}</string>
        <key>sourceSize</key>
        <string>{218,171}</string>
      </dict>
      <key>monster_16146_0_4_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{927,849},{200,171}}</string>
        <key>offset</key>
        <string>{-87,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,171}}</string>
        <key>sourceSize</key>
        <string>{200,171}</string>
      </dict>
      <key>monster_16146_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{861,0},{221,147}}</string>
        <key>offset</key>
        <string>{-114,2}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{221,147}}</string>
        <key>sourceSize</key>
        <string>{221,147}</string>
      </dict>
      <key>monster_16146_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{206,894},{194,155}}</string>
        <key>offset</key>
        <string>{-81,6}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{194,155}}</string>
        <key>sourceSize</key>
        <string>{194,155}</string>
      </dict>
      <key>monster_16146_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{397,267},{263,253}}</string>
        <key>offset</key>
        <string>{-155,166}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{263,253}}</string>
        <key>sourceSize</key>
        <string>{263,253}</string>
      </dict>
      <key>monster_16146_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{637,0},{252,222}}</string>
        <key>offset</key>
        <string>{-186,131}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{252,222}}</string>
        <key>sourceSize</key>
        <string>{252,222}</string>
      </dict>
      <key>monster_16146_0_4_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{991,223},{217,215}}</string>
        <key>offset</key>
        <string>{-146,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{217,215}}</string>
        <key>sourceSize</key>
        <string>{217,215}</string>
      </dict>
      <key>monster_16146_0_4_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{402,836},{186,194}}</string>
        <key>offset</key>
        <string>{-128,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{186,194}}</string>
        <key>sourceSize</key>
        <string>{186,194}</string>
      </dict>
      <key>monster_16146_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,894},{204,166}}</string>
        <key>offset</key>
        <string>{-128,20}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{204,166}}</string>
        <key>sourceSize</key>
        <string>{204,166}</string>
      </dict>
      <key>monster_16146_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{927,699},{207,148}}</string>
        <key>offset</key>
        <string>{-129,7}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{207,148}}</string>
        <key>sourceSize</key>
        <string>{207,148}</string>
      </dict>
      <key>monster_16146_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1023,442},{207,146}}</string>
        <key>offset</key>
        <string>{-129,7}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{207,146}}</string>
        <key>sourceSize</key>
        <string>{207,146}</string>
      </dict>
      <key>monster_16146_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{446,532},{246,244}}</string>
        <key>offset</key>
        <string>{-172,161}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{246,244}}</string>
        <key>sourceSize</key>
        <string>{246,244}</string>
      </dict>
      <key>monster_16146_0_4_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,290},{275,229}}</string>
        <key>offset</key>
        <string>{-188,151}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{275,229}}</string>
        <key>sourceSize</key>
        <string>{275,229}</string>
      </dict>
      <key>monster_16146_0_4_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1010,0},{208,214}}</string>
        <key>offset</key>
        <string>{-162,105}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,214}}</string>
        <key>sourceSize</key>
        <string>{208,214}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16146_0_4_0.png</string>
      <key>size</key>
      <string>{1280,1062}</string>
      <key>textureFileName</key>
      <string>monster_16146_0_4_0.png</string>
    </dict>
  </dict>
</plist>