<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_2251_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1196,695},{277,298}}</string>
        <key>offset</key>
        <string>{-86,169}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{277,298}}</string>
        <key>sourceSize</key>
        <string>{277,298}</string>
      </dict>
      <key>monster_2251_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1475,620},{282,306}}</string>
        <key>offset</key>
        <string>{-85,186}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{282,306}}</string>
        <key>sourceSize</key>
        <string>{282,306}</string>
      </dict>
      <key>monster_2251_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1509,0},{281,309}}</string>
        <key>offset</key>
        <string>{-87,183}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{281,309}}</string>
        <key>sourceSize</key>
        <string>{281,309}</string>
      </dict>
      <key>monster_2251_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1172,1055},{279,304}}</string>
        <key>offset</key>
        <string>{-87,174}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{279,304}}</string>
        <key>sourceSize</key>
        <string>{279,304}</string>
      </dict>
      <key>monster_2251_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1475,904},{281,294}}</string>
        <key>offset</key>
        <string>{-87,170}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{281,294}}</string>
        <key>sourceSize</key>
        <string>{281,294}</string>
      </dict>
      <key>monster_2251_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1475,341},{277,313}}</string>
        <key>offset</key>
        <string>{-87,176}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{277,313}}</string>
        <key>sourceSize</key>
        <string>{277,313}</string>
      </dict>
      <key>monster_2251_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{888,708},{345,306}}</string>
        <key>offset</key>
        <string>{-146,174}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{345,306}}</string>
        <key>sourceSize</key>
        <string>{345,306}</string>
      </dict>
      <key>monster_2251_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{897,0},{347,304}}</string>
        <key>offset</key>
        <string>{-134,182}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{347,304}}</string>
        <key>sourceSize</key>
        <string>{347,304}</string>
      </dict>
      <key>monster_2251_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1203,0},{339,304}}</string>
        <key>offset</key>
        <string>{-125,178}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{339,304}}</string>
        <key>sourceSize</key>
        <string>{339,304}</string>
      </dict>
      <key>monster_2251_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{597,0},{356,298}}</string>
        <key>offset</key>
        <string>{-140,175}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{356,298}}</string>
        <key>sourceSize</key>
        <string>{356,298}</string>
      </dict>
      <key>monster_2251_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{877,358},{348,287}}</string>
        <key>offset</key>
        <string>{-145,170}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{348,287}}</string>
        <key>sourceSize</key>
        <string>{348,287}</string>
      </dict>
      <key>monster_2251_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{292,0},{366,303}}</string>
        <key>offset</key>
        <string>{-159,172}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{366,303}}</string>
        <key>sourceSize</key>
        <string>{366,303}</string>
      </dict>
      <key>monster_2251_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,387},{381,280}}</string>
        <key>offset</key>
        <string>{-220,184}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{381,280}}</string>
        <key>sourceSize</key>
        <string>{381,280}</string>
      </dict>
      <key>monster_2251_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{282,387},{376,297}}</string>
        <key>offset</key>
        <string>{-210,201}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{376,297}}</string>
        <key>sourceSize</key>
        <string>{376,297}</string>
      </dict>
      <key>monster_2251_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{581,368},{363,294}}</string>
        <key>offset</key>
        <string>{-184,197}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{363,294}}</string>
        <key>sourceSize</key>
        <string>{363,294}</string>
      </dict>
      <key>monster_2251_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{570,1139},{356,292}}</string>
        <key>offset</key>
        <string>{-194,189}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{356,292}}</string>
        <key>sourceSize</key>
        <string>{356,292}</string>
      </dict>
      <key>monster_2251_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1150},{376,284}}</string>
        <key>offset</key>
        <string>{-210,185}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{376,284}}</string>
        <key>sourceSize</key>
        <string>{376,284}</string>
      </dict>
      <key>monster_2251_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{385,290}}</string>
        <key>offset</key>
        <string>{-224,191}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{385,290}}</string>
        <key>sourceSize</key>
        <string>{385,290}</string>
      </dict>
      <key>monster_2251_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{297,765},{372,292}}</string>
        <key>offset</key>
        <string>{-172,188}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{372,292}}</string>
        <key>sourceSize</key>
        <string>{372,292}</string>
      </dict>
      <key>monster_2251_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,770},{378,295}}</string>
        <key>offset</key>
        <string>{-165,189}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{378,295}}</string>
        <key>sourceSize</key>
        <string>{378,295}</string>
      </dict>
      <key>monster_2251_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{864,1089},{347,306}}</string>
        <key>offset</key>
        <string>{-144,189}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{347,306}}</string>
        <key>sourceSize</key>
        <string>{347,306}</string>
      </dict>
      <key>monster_2251_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1166,349},{344,307}}</string>
        <key>offset</key>
        <string>{-146,192}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{344,307}}</string>
        <key>sourceSize</key>
        <string>{344,307}</string>
      </dict>
      <key>monster_2251_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{591,733},{354,295}}</string>
        <key>offset</key>
        <string>{-157,189}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{354,295}}</string>
        <key>sourceSize</key>
        <string>{354,295}</string>
      </dict>
      <key>monster_2251_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{286,1150},{376,282}}</string>
        <key>offset</key>
        <string>{-168,181}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{376,282}}</string>
        <key>sourceSize</key>
        <string>{376,282}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_2251_0_1_0.png</string>
      <key>size</key>
      <string>{1792,1536}</string>
      <key>textureFileName</key>
      <string>monster_2251_0_1_0.png</string>
    </dict>
  </dict>
</plist>