<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_1962_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{555,346},{155,136}}</string>
        <key>offset</key>
        <string>{-59,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,136}}</string>
        <key>sourceSize</key>
        <string>{155,136}</string>
      </dict>
      <key>monster_1962_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{420,0},{155,152}}</string>
        <key>offset</key>
        <string>{-50,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,152}}</string>
        <key>sourceSize</key>
        <string>{155,152}</string>
      </dict>
      <key>monster_1962_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{419,183},{161,139}}</string>
        <key>offset</key>
        <string>{-57,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,139}}</string>
        <key>sourceSize</key>
        <string>{161,139}</string>
      </dict>
      <key>monster_1962_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{265,392},{164,117}}</string>
        <key>offset</key>
        <string>{-61,71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,117}}</string>
        <key>sourceSize</key>
        <string>{164,117}</string>
      </dict>
      <key>monster_1962_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{431,346},{160,122}}</string>
        <key>offset</key>
        <string>{-57,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,122}}</string>
        <key>sourceSize</key>
        <string>{160,122}</string>
      </dict>
      <key>monster_1962_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{560,157},{155,123}}</string>
        <key>offset</key>
        <string>{-60,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,123}}</string>
        <key>sourceSize</key>
        <string>{155,123}</string>
      </dict>
      <key>monster_1962_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,205},{201,135}}</string>
        <key>offset</key>
        <string>{-94,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{201,135}}</string>
        <key>sourceSize</key>
        <string>{201,135}</string>
      </dict>
      <key>monster_1962_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{266,0},{181,152}}</string>
        <key>offset</key>
        <string>{-68,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,152}}</string>
        <key>sourceSize</key>
        <string>{181,152}</string>
      </dict>
      <key>monster_1962_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{265,205},{185,152}}</string>
        <key>offset</key>
        <string>{-60,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{185,152}}</string>
        <key>sourceSize</key>
        <string>{185,152}</string>
      </dict>
      <key>monster_1962_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,0},{203,140}}</string>
        <key>offset</key>
        <string>{-62,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{203,140}}</string>
        <key>sourceSize</key>
        <string>{203,140}</string>
      </dict>
      <key>monster_1962_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{211,122}}</string>
        <key>offset</key>
        <string>{-71,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{211,122}}</string>
        <key>sourceSize</key>
        <string>{211,122}</string>
      </dict>
      <key>monster_1962_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,213},{210,126}}</string>
        <key>offset</key>
        <string>{-94,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{210,126}}</string>
        <key>sourceSize</key>
        <string>{210,126}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_1962_0_1_2.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>monster_1962_0_1_2.png</string>
    </dict>
  </dict>
</plist>