<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16326_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,424},{209,151}}</string>
        <key>offset</key>
        <string>{-80,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,151}}</string>
        <key>sourceSize</key>
        <string>{209,151}</string>
      </dict>
      <key>monster_16326_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,635},{209,157}}</string>
        <key>offset</key>
        <string>{-80,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,157}}</string>
        <key>sourceSize</key>
        <string>{209,157}</string>
      </dict>
      <key>monster_16326_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{153,424},{209,162}}</string>
        <key>offset</key>
        <string>{-80,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,162}}</string>
        <key>sourceSize</key>
        <string>{209,162}</string>
      </dict>
      <key>monster_16326_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{210,160}}</string>
        <key>offset</key>
        <string>{-81,101}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{210,160}}</string>
        <key>sourceSize</key>
        <string>{210,160}</string>
      </dict>
      <key>monster_16326_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{155,212},{209,155}}</string>
        <key>offset</key>
        <string>{-80,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,155}}</string>
        <key>sourceSize</key>
        <string>{209,155}</string>
      </dict>
      <key>monster_16326_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,212},{210,153}}</string>
        <key>offset</key>
        <string>{-81,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{210,153}}</string>
        <key>sourceSize</key>
        <string>{210,153}</string>
      </dict>
      <key>monster_16326_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1523,359},{170,170}}</string>
        <key>offset</key>
        <string>{-77,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,170}}</string>
        <key>sourceSize</key>
        <string>{170,170}</string>
      </dict>
      <key>monster_16326_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1280,566},{170,177}}</string>
        <key>offset</key>
        <string>{-76,89}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,177}}</string>
        <key>sourceSize</key>
        <string>{170,177}</string>
      </dict>
      <key>monster_16326_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1179,382},{170,182}}</string>
        <key>offset</key>
        <string>{-75,94}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,182}}</string>
        <key>sourceSize</key>
        <string>{170,182}</string>
      </dict>
      <key>monster_16326_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1337,0},{169,180}}</string>
        <key>offset</key>
        <string>{-73,93}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,180}}</string>
        <key>sourceSize</key>
        <string>{169,180}</string>
      </dict>
      <key>monster_16326_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1401,182},{169,175}}</string>
        <key>offset</key>
        <string>{-72,89}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,175}}</string>
        <key>sourceSize</key>
        <string>{169,175}</string>
      </dict>
      <key>monster_16326_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1363,745},{170,172}}</string>
        <key>offset</key>
        <string>{-74,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,172}}</string>
        <key>sourceSize</key>
        <string>{170,172}</string>
      </dict>
      <key>monster_16326_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{870,808},{146,190}}</string>
        <key>offset</key>
        <string>{-59,100}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,190}}</string>
        <key>sourceSize</key>
        <string>{146,190}</string>
      </dict>
      <key>monster_16326_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{159,846},{144,194}}</string>
        <key>offset</key>
        <string>{-55,104}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,194}}</string>
        <key>sourceSize</key>
        <string>{144,194}</string>
      </dict>
      <key>monster_16326_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{557,0},{141,196}}</string>
        <key>offset</key>
        <string>{-51,106}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,196}}</string>
        <key>sourceSize</key>
        <string>{141,196}</string>
      </dict>
      <key>monster_16326_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{354,633},{141,194}}</string>
        <key>offset</key>
        <string>{-49,104}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,194}}</string>
        <key>sourceSize</key>
        <string>{141,194}</string>
      </dict>
      <key>monster_16326_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{551,829},{144,192}}</string>
        <key>offset</key>
        <string>{-50,102}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,192}}</string>
        <key>sourceSize</key>
        <string>{144,192}</string>
      </dict>
      <key>monster_16326_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{640,616},{145,191}}</string>
        <key>offset</key>
        <string>{-54,101}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,191}}</string>
        <key>sourceSize</key>
        <string>{145,191}</string>
      </dict>
      <key>monster_16326_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{934,582},{171,189}}</string>
        <key>offset</key>
        <string>{-79,133}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,189}}</string>
        <key>sourceSize</key>
        <string>{171,189}</string>
      </dict>
      <key>monster_16326_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{660,422},{171,191}}</string>
        <key>offset</key>
        <string>{-78,134}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,191}}</string>
        <key>sourceSize</key>
        <string>{171,191}</string>
      </dict>
      <key>monster_16326_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{709,198},{171,190}}</string>
        <key>offset</key>
        <string>{-77,133}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,190}}</string>
        <key>sourceSize</key>
        <string>{171,190}</string>
      </dict>
      <key>monster_16326_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1055,192},{172,188}}</string>
        <key>offset</key>
        <string>{-76,130}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{172,188}}</string>
        <key>sourceSize</key>
        <string>{172,188}</string>
      </dict>
      <key>monster_16326_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1164,0},{171,188}}</string>
        <key>offset</key>
        <string>{-74,130}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,188}}</string>
        <key>sourceSize</key>
        <string>{171,188}</string>
      </dict>
      <key>monster_16326_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{843,0},{171,190}}</string>
        <key>offset</key>
        <string>{-76,132}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,190}}</string>
        <key>sourceSize</key>
        <string>{171,190}</string>
      </dict>
      <key>monster_16326_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,0},{209,196}}</string>
        <key>offset</key>
        <string>{-79,140}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,196}}</string>
        <key>sourceSize</key>
        <string>{209,196}</string>
      </dict>
      <key>monster_16326_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{312,211},{209,197}}</string>
        <key>offset</key>
        <string>{-79,140}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,197}}</string>
        <key>sourceSize</key>
        <string>{209,197}</string>
      </dict>
      <key>monster_16326_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{360,0},{209,195}}</string>
        <key>offset</key>
        <string>{-79,137}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,195}}</string>
        <key>sourceSize</key>
        <string>{209,195}</string>
      </dict>
      <key>monster_16326_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{159,635},{209,193}}</string>
        <key>offset</key>
        <string>{-79,134}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,193}}</string>
        <key>sourceSize</key>
        <string>{209,193}</string>
      </dict>
      <key>monster_16326_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{317,422},{209,195}}</string>
        <key>offset</key>
        <string>{-79,135}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,195}}</string>
        <key>sourceSize</key>
        <string>{209,195}</string>
      </dict>
      <key>monster_16326_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{511,211},{209,196}}</string>
        <key>offset</key>
        <string>{-79,138}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,196}}</string>
        <key>sourceSize</key>
        <string>{209,196}</string>
      </dict>
      <key>monster_16326_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1006,384},{171,189}}</string>
        <key>offset</key>
        <string>{-34,135}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,189}}</string>
        <key>sourceSize</key>
        <string>{171,189}</string>
      </dict>
      <key>monster_16326_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{697,809},{171,191}}</string>
        <key>offset</key>
        <string>{-35,136}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,191}}</string>
        <key>sourceSize</key>
        <string>{171,191}</string>
      </dict>
      <key>monster_16326_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{833,390},{171,190}}</string>
        <key>offset</key>
        <string>{-36,135}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,190}}</string>
        <key>sourceSize</key>
        <string>{171,190}</string>
      </dict>
      <key>monster_16326_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1018,773},{172,188}}</string>
        <key>offset</key>
        <string>{-38,132}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{172,188}}</string>
        <key>sourceSize</key>
        <string>{172,188}</string>
      </dict>
      <key>monster_16326_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1107,575},{171,188}}</string>
        <key>offset</key>
        <string>{-39,132}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,188}}</string>
        <key>sourceSize</key>
        <string>{171,188}</string>
      </dict>
      <key>monster_16326_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{882,192},{171,190}}</string>
        <key>offset</key>
        <string>{-37,134}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,190}}</string>
        <key>sourceSize</key>
        <string>{171,190}</string>
      </dict>
      <key>monster_16326_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1016,0},{146,190}}</string>
        <key>offset</key>
        <string>{-33,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,190}}</string>
        <key>sourceSize</key>
        <string>{146,190}</string>
      </dict>
      <key>monster_16326_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{355,829},{144,194}}</string>
        <key>offset</key>
        <string>{-35,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,194}}</string>
        <key>sourceSize</key>
        <string>{144,194}</string>
      </dict>
      <key>monster_16326_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,0},{141,196}}</string>
        <key>offset</key>
        <string>{-36,118}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,196}}</string>
        <key>sourceSize</key>
        <string>{141,196}</string>
      </dict>
      <key>monster_16326_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{497,633},{141,194}}</string>
        <key>offset</key>
        <string>{-38,116}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,194}}</string>
        <key>sourceSize</key>
        <string>{141,194}</string>
      </dict>
      <key>monster_16326_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{514,422},{144,192}}</string>
        <key>offset</key>
        <string>{-40,114}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,192}}</string>
        <key>sourceSize</key>
        <string>{144,192}</string>
      </dict>
      <key>monster_16326_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{787,615},{145,191}}</string>
        <key>offset</key>
        <string>{-37,113}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,191}}</string>
        <key>sourceSize</key>
        <string>{145,191}</string>
      </dict>
      <key>monster_16326_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1572,177},{170,170}}</string>
        <key>offset</key>
        <string>{-47,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,170}}</string>
        <key>sourceSize</key>
        <string>{170,170}</string>
      </dict>
      <key>monster_16326_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1351,374},{170,177}}</string>
        <key>offset</key>
        <string>{-48,89}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,177}}</string>
        <key>sourceSize</key>
        <string>{170,177}</string>
      </dict>
      <key>monster_16326_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1229,190},{170,182}}</string>
        <key>offset</key>
        <string>{-49,94}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,182}}</string>
        <key>sourceSize</key>
        <string>{170,182}</string>
      </dict>
      <key>monster_16326_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1192,765},{169,180}}</string>
        <key>offset</key>
        <string>{-50,93}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,180}}</string>
        <key>sourceSize</key>
        <string>{169,180}</string>
      </dict>
      <key>monster_16326_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1508,0},{169,175}}</string>
        <key>offset</key>
        <string>{-51,89}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,175}}</string>
        <key>sourceSize</key>
        <string>{169,175}</string>
      </dict>
      <key>monster_16326_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1452,553},{170,172}}</string>
        <key>offset</key>
        <string>{-50,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,172}}</string>
        <key>sourceSize</key>
        <string>{170,172}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16326_0_1.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>monster_16326_0_1.png</string>
    </dict>
  </dict>
</plist>