<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16454_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1085},{370,411}}</string>
        <key>offset</key>
        <string>{-200,353}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{370,411}}</string>
        <key>sourceSize</key>
        <string>{370,411}</string>
      </dict>
      <key>monster_16454_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{433,1056},{357,430}}</string>
        <key>offset</key>
        <string>{-195,357}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{357,430}}</string>
        <key>sourceSize</key>
        <string>{357,430}</string>
      </dict>
      <key>monster_16454_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{449,0},{348,446}}</string>
        <key>offset</key>
        <string>{-198,352}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{348,446}}</string>
        <key>sourceSize</key>
        <string>{348,446}</string>
      </dict>
      <key>monster_16454_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{353,447}}</string>
        <key>offset</key>
        <string>{-201,351}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{353,447}}</string>
        <key>sourceSize</key>
        <string>{353,447}</string>
      </dict>
      <key>monster_16454_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,355},{357,434}}</string>
        <key>offset</key>
        <string>{-202,353}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{357,434}}</string>
        <key>sourceSize</key>
        <string>{357,434}</string>
      </dict>
      <key>monster_16454_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{436,706},{348,433}}</string>
        <key>offset</key>
        <string>{-192,357}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{348,433}}</string>
        <key>sourceSize</key>
        <string>{348,433}</string>
      </dict>
      <key>monster_16454_0_1_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{449,350},{354,437}}</string>
        <key>offset</key>
        <string>{-195,352}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{354,437}}</string>
        <key>sourceSize</key>
        <string>{354,437}</string>
      </dict>
      <key>monster_16454_0_1_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,714},{369,431}}</string>
        <key>offset</key>
        <string>{-204,351}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{369,431}}</string>
        <key>sourceSize</key>
        <string>{369,431}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16454_0_1_2.png</string>
      <key>size</key>
      <string>{1024,2048}</string>
      <key>textureFileName</key>
      <string>monster_16454_0_1_2.png</string>
    </dict>
  </dict>
</plist>