<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_12061_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,443},{386,428}}</string>
        <key>offset</key>
        <string>{-205,220}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{386,428}}</string>
        <key>sourceSize</key>
        <string>{386,428}</string>
      </dict>
      <key>monster_12061_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{388,443},{380,424}}</string>
        <key>offset</key>
        <string>{-234,214}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{380,424}}</string>
        <key>sourceSize</key>
        <string>{380,424}</string>
      </dict>
      <key>monster_12061_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{415,0},{376,416}}</string>
        <key>offset</key>
        <string>{-167,249}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{376,416}}</string>
        <key>sourceSize</key>
        <string>{376,416}</string>
      </dict>
      <key>monster_12061_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{413,441}}</string>
        <key>offset</key>
        <string>{-202,253}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{413,441}}</string>
        <key>sourceSize</key>
        <string>{413,441}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_12061_0_7_3.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>monster_12061_0_7_3.png</string>
    </dict>
  </dict>
</plist>