<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20131_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{931,306},{395,276}}</string>
        <key>offset</key>
        <string>{-198,213}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{395,276}}</string>
        <key>sourceSize</key>
        <string>{395,276}</string>
      </dict>
      <key>monster_20131_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{329,410},{398,281}}</string>
        <key>offset</key>
        <string>{-195,221}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{398,281}}</string>
        <key>sourceSize</key>
        <string>{398,281}</string>
      </dict>
      <key>monster_20131_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{931,0},{397,304}}</string>
        <key>offset</key>
        <string>{-194,244}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{397,304}}</string>
        <key>sourceSize</key>
        <string>{397,304}</string>
      </dict>
      <key>monster_20131_0_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{627,407},{402,290}}</string>
        <key>offset</key>
        <string>{-198,229}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{402,290}}</string>
        <key>sourceSize</key>
        <string>{402,290}</string>
      </dict>
      <key>monster_20131_0_0_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{627,0},{405,302}}</string>
        <key>offset</key>
        <string>{-198,238}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{405,302}}</string>
        <key>sourceSize</key>
        <string>{405,302}</string>
      </dict>
      <key>monster_20131_0_0_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{324,0},{408,301}}</string>
        <key>offset</key>
        <string>{-201,236}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{408,301}}</string>
        <key>sourceSize</key>
        <string>{408,301}</string>
      </dict>
      <key>monster_20131_0_0_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{412,322}}</string>
        <key>offset</key>
        <string>{-205,256}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{412,322}}</string>
        <key>sourceSize</key>
        <string>{412,322}</string>
      </dict>
      <key>monster_20131_0_0_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,414},{409,327}}</string>
        <key>offset</key>
        <string>{-202,262}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{409,327}}</string>
        <key>sourceSize</key>
        <string>{409,327}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20131_0_0_4.png</string>
      <key>size</key>
      <string>{1422,1024}</string>
      <key>textureFileName</key>
      <string>monster_20131_0_0_4.png</string>
    </dict>
  </dict>
</plist>