<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_2460_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{2135,2975},{758,736}}</string>
        <key>offset</key>
        <string>{-271,550}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{758,736}}</string>
        <key>sourceSize</key>
        <string>{758,736}</string>
      </dict>
      <key>monster_2460_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{2873,2975},{757,741}}</string>
        <key>offset</key>
        <string>{-269,548}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{757,741}}</string>
        <key>sourceSize</key>
        <string>{757,741}</string>
      </dict>
      <key>monster_2460_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{2863,2232},{762,741}}</string>
        <key>offset</key>
        <string>{-272,552}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{762,741}}</string>
        <key>sourceSize</key>
        <string>{762,741}</string>
      </dict>
      <key>monster_2460_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{2855,0},{767,735}}</string>
        <key>offset</key>
        <string>{-274,548}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{767,735}}</string>
        <key>sourceSize</key>
        <string>{767,735}</string>
      </dict>
      <key>monster_2460_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{2134,1713},{777,727}}</string>
        <key>offset</key>
        <string>{-275,541}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{777,727}}</string>
        <key>sourceSize</key>
        <string>{777,727}</string>
      </dict>
      <key>monster_2460_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,2770},{912,723}}</string>
        <key>offset</key>
        <string>{-408,501}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{912,723}}</string>
        <key>sourceSize</key>
        <string>{912,723}</string>
      </dict>
      <key>monster_2460_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{926,726}}</string>
        <key>offset</key>
        <string>{-410,505}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{926,726}}</string>
        <key>sourceSize</key>
        <string>{926,726}</string>
      </dict>
      <key>monster_2460_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,928},{923,723}}</string>
        <key>offset</key>
        <string>{-409,505}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{923,723}}</string>
        <key>sourceSize</key>
        <string>{923,723}</string>
      </dict>
      <key>monster_2460_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{723,1853},{910,719}}</string>
        <key>offset</key>
        <string>{-392,498}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{910,719}}</string>
        <key>sourceSize</key>
        <string>{910,719}</string>
      </dict>
      <key>monster_2460_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1853},{915,721}}</string>
        <key>offset</key>
        <string>{-411,499}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{915,721}}</string>
        <key>sourceSize</key>
        <string>{915,721}</string>
      </dict>
      <key>monster_2460_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{725,928},{909,698}}</string>
        <key>offset</key>
        <string>{-410,480}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{909,698}}</string>
        <key>sourceSize</key>
        <string>{909,698}</string>
      </dict>
      <key>monster_2460_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{2863,1548},{766,682}}</string>
        <key>offset</key>
        <string>{-287,465}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{766,682}}</string>
        <key>sourceSize</key>
        <string>{766,682}</string>
      </dict>
      <key>monster_2460_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{2846,777},{769,703}}</string>
        <key>offset</key>
        <string>{-288,473}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{769,703}}</string>
        <key>sourceSize</key>
        <string>{769,703}</string>
      </dict>
      <key>monster_2460_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{2137,846},{776,707}}</string>
        <key>offset</key>
        <string>{-295,482}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{776,707}}</string>
        <key>sourceSize</key>
        <string>{776,707}</string>
      </dict>
      <key>monster_2460_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1430,2765},{780,703}}</string>
        <key>offset</key>
        <string>{-294,482}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{780,703}}</string>
        <key>sourceSize</key>
        <string>{780,703}</string>
      </dict>
      <key>monster_2460_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{2170,0},{775,683}}</string>
        <key>offset</key>
        <string>{-292,465}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{775,683}}</string>
        <key>sourceSize</key>
        <string>{775,683}</string>
      </dict>
      <key>monster_2460_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1444,1713},{780,688}}</string>
        <key>offset</key>
        <string>{-290,463}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{780,688}}</string>
        <key>sourceSize</key>
        <string>{780,688}</string>
      </dict>
      <key>monster_2460_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1466,0},{844,702}}</string>
        <key>offset</key>
        <string>{-471,489}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{844,702}}</string>
        <key>sourceSize</key>
        <string>{844,702}</string>
      </dict>
      <key>monster_2460_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1425,858},{853,710}}</string>
        <key>offset</key>
        <string>{-476,489}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{853,710}}</string>
        <key>sourceSize</key>
        <string>{853,710}</string>
      </dict>
      <key>monster_2460_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{728,0},{856,736}}</string>
        <key>offset</key>
        <string>{-476,501}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{856,736}}</string>
        <key>sourceSize</key>
        <string>{856,736}</string>
      </dict>
      <key>monster_2460_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{725,2765},{843,703}}</string>
        <key>offset</key>
        <string>{-465,483}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{843,703}}</string>
        <key>sourceSize</key>
        <string>{843,703}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_2460_0_1_0.png</string>
      <key>size</key>
      <string>{4096,4096}</string>
      <key>textureFileName</key>
      <string>monster_2460_0_1_0.png</string>
    </dict>
  </dict>
</plist>