<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_12102_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{252,361},{108,111}}</string>
        <key>offset</key>
        <string>{-30,66}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,111}}</string>
        <key>sourceSize</key>
        <string>{108,111}</string>
      </dict>
      <key>monster_12102_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{146,371},{104,116}}</string>
        <key>offset</key>
        <string>{-21,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,116}}</string>
        <key>sourceSize</key>
        <string>{104,116}</string>
      </dict>
      <key>monster_12102_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,0},{117,116}}</string>
        <key>offset</key>
        <string>{-28,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,116}}</string>
        <key>sourceSize</key>
        <string>{117,116}</string>
      </dict>
      <key>monster_12102_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,128},{83,124}}</string>
        <key>offset</key>
        <string>{-3,71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,124}}</string>
        <key>sourceSize</key>
        <string>{83,124}</string>
      </dict>
      <key>monster_12102_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{70,379},{74,120}}</string>
        <key>offset</key>
        <string>{0,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,120}}</string>
        <key>sourceSize</key>
        <string>{74,120}</string>
      </dict>
      <key>monster_12102_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{75,0},{67,123}}</string>
        <key>offset</key>
        <string>{-1,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,123}}</string>
        <key>sourceSize</key>
        <string>{67,123}</string>
      </dict>
      <key>monster_12102_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,379},{68,121}}</string>
        <key>offset</key>
        <string>{-7,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,121}}</string>
        <key>sourceSize</key>
        <string>{68,121}</string>
      </dict>
      <key>monster_12102_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{85,125},{86,122}}</string>
        <key>offset</key>
        <string>{-17,66}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,122}}</string>
        <key>sourceSize</key>
        <string>{86,122}</string>
      </dict>
      <key>monster_12102_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,244},{110,115}}</string>
        <key>offset</key>
        <string>{-31,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,115}}</string>
        <key>sourceSize</key>
        <string>{110,115}</string>
      </dict>
      <key>monster_12102_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,124},{104,118}}</string>
        <key>offset</key>
        <string>{-35,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,118}}</string>
        <key>sourceSize</key>
        <string>{104,118}</string>
      </dict>
      <key>monster_12102_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,249},{116,120}}</string>
        <key>offset</key>
        <string>{-42,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,120}}</string>
        <key>sourceSize</key>
        <string>{116,120}</string>
      </dict>
      <key>monster_12102_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,254},{84,123}}</string>
        <key>offset</key>
        <string>{-33,67}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,123}}</string>
        <key>sourceSize</key>
        <string>{84,123}</string>
      </dict>
      <key>monster_12102_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{73,126}}</string>
        <key>offset</key>
        <string>{-25,67}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,126}}</string>
        <key>sourceSize</key>
        <string>{73,126}</string>
      </dict>
      <key>monster_12102_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,0},{66,122}}</string>
        <key>offset</key>
        <string>{-16,66}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,122}}</string>
        <key>sourceSize</key>
        <string>{66,122}</string>
      </dict>
      <key>monster_12102_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{279,119},{69,115}}</string>
        <key>offset</key>
        <string>{-12,66}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,115}}</string>
        <key>sourceSize</key>
        <string>{69,115}</string>
      </dict>
      <key>monster_12102_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,0},{85,113}}</string>
        <key>offset</key>
        <string>{-21,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,113}}</string>
        <key>sourceSize</key>
        <string>{85,113}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_12102_0_7.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>monster_12102_0_7.png</string>
    </dict>
  </dict>
</plist>