<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_12083_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,777},{371,196}}</string>
        <key>offset</key>
        <string>{-158,152}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{371,196}}</string>
        <key>sourceSize</key>
        <string>{371,196}</string>
      </dict>
      <key>monster_12083_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{394,195}}</string>
        <key>offset</key>
        <string>{-169,151}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{394,195}}</string>
        <key>sourceSize</key>
        <string>{394,195}</string>
      </dict>
      <key>monster_12083_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,396},{379,194}}</string>
        <key>offset</key>
        <string>{-156,151}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{379,194}}</string>
        <key>sourceSize</key>
        <string>{379,194}</string>
      </dict>
      <key>monster_12083_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,396},{366,196}}</string>
        <key>offset</key>
        <string>{-149,152}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{366,196}}</string>
        <key>sourceSize</key>
        <string>{366,196}</string>
      </dict>
      <key>monster_12083_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{660,444},{256,218}}</string>
        <key>offset</key>
        <string>{-118,174}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{256,218}}</string>
        <key>sourceSize</key>
        <string>{256,218}</string>
      </dict>
      <key>monster_12083_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{394,438},{264,222}}</string>
        <key>offset</key>
        <string>{-121,178}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{264,222}}</string>
        <key>sourceSize</key>
        <string>{264,222}</string>
      </dict>
      <key>monster_12083_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,0},{259,216}}</string>
        <key>offset</key>
        <string>{-109,172}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{259,216}}</string>
        <key>sourceSize</key>
        <string>{259,216}</string>
      </dict>
      <key>monster_12083_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{687,702},{254,212}}</string>
        <key>offset</key>
        <string>{-107,168}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{254,212}}</string>
        <key>sourceSize</key>
        <string>{254,212}</string>
      </dict>
      <key>monster_12083_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{982,220},{165,237}}</string>
        <key>offset</key>
        <string>{-88,181}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,237}}</string>
        <key>sourceSize</key>
        <string>{165,237}</string>
      </dict>
      <key>monster_12083_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{880,444},{162,243}}</string>
        <key>offset</key>
        <string>{-87,187}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,243}}</string>
        <key>sourceSize</key>
        <string>{162,243}</string>
      </dict>
      <key>monster_12083_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{990,0},{156,235}}</string>
        <key>offset</key>
        <string>{-80,179}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,235}}</string>
        <key>sourceSize</key>
        <string>{156,235}</string>
      </dict>
      <key>monster_12083_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{901,689},{152,229}}</string>
        <key>offset</key>
        <string>{-75,173}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,229}}</string>
        <key>sourceSize</key>
        <string>{152,229}</string>
      </dict>
      <key>monster_12083_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{687,220},{293,222}}</string>
        <key>offset</key>
        <string>{-130,160}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{293,222}}</string>
        <key>sourceSize</key>
        <string>{293,222}</string>
      </dict>
      <key>monster_12083_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{373,764},{312,224}}</string>
        <key>offset</key>
        <string>{-143,163}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{312,224}}</string>
        <key>sourceSize</key>
        <string>{312,224}</string>
      </dict>
      <key>monster_12083_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{687,0},{301,218}}</string>
        <key>offset</key>
        <string>{-133,156}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{301,218}}</string>
        <key>sourceSize</key>
        <string>{301,218}</string>
      </dict>
      <key>monster_12083_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{394,220},{291,216}}</string>
        <key>offset</key>
        <string>{-127,154}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{291,216}}</string>
        <key>sourceSize</key>
        <string>{291,216}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_12083_0_0_0.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>monster_12083_0_0_0.png</string>
    </dict>
  </dict>
</plist>