<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16397_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{293,303},{203,135}}</string>
        <key>offset</key>
        <string>{-67,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{203,135}}</string>
        <key>sourceSize</key>
        <string>{203,135}</string>
      </dict>
      <key>monster_16397_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{430,303},{200,136}}</string>
        <key>offset</key>
        <string>{-63,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,136}}</string>
        <key>sourceSize</key>
        <string>{200,136}</string>
      </dict>
      <key>monster_16397_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,154},{208,147}}</string>
        <key>offset</key>
        <string>{-71,84}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,147}}</string>
        <key>sourceSize</key>
        <string>{208,147}</string>
      </dict>
      <key>monster_16397_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,0},{216,152}}</string>
        <key>offset</key>
        <string>{-79,88}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{216,152}}</string>
        <key>sourceSize</key>
        <string>{216,152}</string>
      </dict>
      <key>monster_16397_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{268,0},{281,142}}</string>
        <key>offset</key>
        <string>{-146,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{281,142}}</string>
        <key>sourceSize</key>
        <string>{281,142}</string>
      </dict>
      <key>monster_16397_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{291,133}}</string>
        <key>offset</key>
        <string>{-158,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{291,133}}</string>
        <key>sourceSize</key>
        <string>{291,133}</string>
      </dict>
      <key>monster_16397_0_2_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{135,0},{289,131}}</string>
        <key>offset</key>
        <string>{-158,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{289,131}}</string>
        <key>sourceSize</key>
        <string>{289,131}</string>
      </dict>
      <key>monster_16397_0_2_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,293},{291,134}}</string>
        <key>offset</key>
        <string>{-158,77}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{291,134}}</string>
        <key>sourceSize</key>
        <string>{291,134}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16397_0_2_6.png</string>
      <key>size</key>
      <string>{640,512}</string>
      <key>textureFileName</key>
      <string>monster_16397_0_2_6.png</string>
    </dict>
  </dict>
</plist>