<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16111_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1049,1577},{452,515}}</string>
        <key>offset</key>
        <string>{-285,342}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{452,515}}</string>
        <key>sourceSize</key>
        <string>{452,515}</string>
      </dict>
      <key>monster_16111_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1216,1043},{450,515}}</string>
        <key>offset</key>
        <string>{-285,338}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{450,515}}</string>
        <key>sourceSize</key>
        <string>{450,515}</string>
      </dict>
      <key>monster_16111_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1341,464},{434,513}}</string>
        <key>offset</key>
        <string>{-268,340}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{434,513}}</string>
        <key>sourceSize</key>
        <string>{434,513}</string>
      </dict>
      <key>monster_16111_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{871,0},{431,521}}</string>
        <key>offset</key>
        <string>{-268,348}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{431,521}}</string>
        <key>sourceSize</key>
        <string>{431,521}</string>
      </dict>
      <key>monster_16111_0_1_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{449,0},{420,530}}</string>
        <key>offset</key>
        <string>{-269,357}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{420,530}}</string>
        <key>sourceSize</key>
        <string>{420,530}</string>
      </dict>
      <key>monster_16111_0_1_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1068},{427,528}}</string>
        <key>offset</key>
        <string>{-276,356}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{427,528}}</string>
        <key>sourceSize</key>
        <string>{427,528}</string>
      </dict>
      <key>monster_16111_0_1_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1598},{436,524}}</string>
        <key>offset</key>
        <string>{-285,352}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{436,524}}</string>
        <key>sourceSize</key>
        <string>{436,524}</string>
      </dict>
      <key>monster_16111_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{839,1057},{375,518}}</string>
        <key>offset</key>
        <string>{-248,349}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{375,518}}</string>
        <key>sourceSize</key>
        <string>{375,518}</string>
      </dict>
      <key>monster_16111_0_1_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{429,1068},{408,523}}</string>
        <key>offset</key>
        <string>{-249,357}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{408,523}}</string>
        <key>sourceSize</key>
        <string>{408,523}</string>
      </dict>
      <key>monster_16111_0_1_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1304,0},{462,521}}</string>
        <key>offset</key>
        <string>{-256,355}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{462,521}}</string>
        <key>sourceSize</key>
        <string>{462,521}</string>
      </dict>
      <key>monster_16111_0_1_1_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{911,523},{428,518}}</string>
        <key>offset</key>
        <string>{-261,349}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{428,518}}</string>
        <key>sourceSize</key>
        <string>{428,518}</string>
      </dict>
      <key>monster_16111_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1668,979},{378,470}}</string>
        <key>offset</key>
        <string>{-264,337}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{378,470}}</string>
        <key>sourceSize</key>
        <string>{378,470}</string>
      </dict>
      <key>monster_16111_0_1_2_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1566,1560},{391,486}}</string>
        <key>offset</key>
        <string>{-264,358}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{391,486}}</string>
        <key>sourceSize</key>
        <string>{391,486}</string>
      </dict>
      <key>monster_16111_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{526,1593},{447,521}}</string>
        <key>offset</key>
        <string>{-233,349}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{447,521}}</string>
        <key>sourceSize</key>
        <string>{447,521}</string>
      </dict>
      <key>monster_16111_0_1_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{447,533}}</string>
        <key>offset</key>
        <string>{-234,360}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{447,533}}</string>
        <key>sourceSize</key>
        <string>{447,533}</string>
      </dict>
      <key>monster_16111_0_1_7_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,535},{451,531}}</string>
        <key>offset</key>
        <string>{-237,361}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{451,531}}</string>
        <key>sourceSize</key>
        <string>{451,531}</string>
      </dict>
      <key>monster_16111_0_1_7_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{453,532},{456,523}}</string>
        <key>offset</key>
        <string>{-245,354}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{456,523}}</string>
        <key>sourceSize</key>
        <string>{456,523}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16111_0_1_0.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_16111_0_1_0.png</string>
    </dict>
  </dict>
</plist>