<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_2130_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,328},{280,319}}</string>
        <key>offset</key>
        <string>{-179,186}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{280,319}}</string>
        <key>sourceSize</key>
        <string>{280,319}</string>
      </dict>
      <key>monster_2130_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{549,632},{267,301}}</string>
        <key>offset</key>
        <string>{-172,213}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{267,301}}</string>
        <key>sourceSize</key>
        <string>{267,301}</string>
      </dict>
      <key>monster_2130_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{594,0},{295,269}}</string>
        <key>offset</key>
        <string>{-202,228}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{295,269}}</string>
        <key>sourceSize</key>
        <string>{295,269}</string>
      </dict>
      <key>monster_2130_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{282,328},{302,272}}</string>
        <key>offset</key>
        <string>{-209,231}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{302,272}}</string>
        <key>sourceSize</key>
        <string>{302,272}</string>
      </dict>
      <key>monster_2130_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{275,649},{272,310}}</string>
        <key>offset</key>
        <string>{-138,256}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{272,310}}</string>
        <key>sourceSize</key>
        <string>{272,310}</string>
      </dict>
      <key>monster_2130_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{556,304},{267,296}}</string>
        <key>offset</key>
        <string>{-146,242}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{267,296}}</string>
        <key>sourceSize</key>
        <string>{267,296}</string>
      </dict>
      <key>monster_2130_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{293,0},{302,299}}</string>
        <key>offset</key>
        <string>{-174,245}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{302,299}}</string>
        <key>sourceSize</key>
        <string>{302,299}</string>
      </dict>
      <key>monster_2130_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{818,602},{261,292}}</string>
        <key>offset</key>
        <string>{-158,238}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{261,292}}</string>
        <key>sourceSize</key>
        <string>{261,292}</string>
      </dict>
      <key>monster_2130_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{291,326}}</string>
        <key>offset</key>
        <string>{-167,196}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{291,326}}</string>
        <key>sourceSize</key>
        <string>{291,326}</string>
      </dict>
      <key>monster_2130_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,649},{314,273}}</string>
        <key>offset</key>
        <string>{-190,171}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{314,273}}</string>
        <key>sourceSize</key>
        <string>{314,273}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_2130_0_2_3.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>monster_2130_0_2_3.png</string>
    </dict>
  </dict>
</plist>