<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_1952_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{398,349},{185,185}}</string>
        <key>offset</key>
        <string>{-80,120}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{185,185}}</string>
        <key>sourceSize</key>
        <string>{185,185}</string>
      </dict>
      <key>monster_1952_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{389,676},{185,187}}</string>
        <key>offset</key>
        <string>{-80,120}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{185,187}}</string>
        <key>sourceSize</key>
        <string>{185,187}</string>
      </dict>
      <key>monster_1952_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,513},{184,193}}</string>
        <key>offset</key>
        <string>{-79,120}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{184,193}}</string>
        <key>sourceSize</key>
        <string>{184,193}</string>
      </dict>
      <key>monster_1952_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,161},{184,198}}</string>
        <key>offset</key>
        <string>{-79,120}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{184,198}}</string>
        <key>sourceSize</key>
        <string>{184,198}</string>
      </dict>
      <key>monster_1952_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,162},{185,198}}</string>
        <key>offset</key>
        <string>{-80,120}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{185,198}}</string>
        <key>sourceSize</key>
        <string>{185,198}</string>
      </dict>
      <key>monster_1952_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,699},{185,191}}</string>
        <key>offset</key>
        <string>{-80,120}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{185,191}}</string>
        <key>sourceSize</key>
        <string>{185,191}</string>
      </dict>
      <key>monster_1952_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,347},{164,197}}</string>
        <key>offset</key>
        <string>{-91,120}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,197}}</string>
        <key>sourceSize</key>
        <string>{164,197}</string>
      </dict>
      <key>monster_1952_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{195,676},{166,192}}</string>
        <key>offset</key>
        <string>{-92,120}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,192}}</string>
        <key>sourceSize</key>
        <string>{166,192}</string>
      </dict>
      <key>monster_1952_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{199,511},{163,194}}</string>
        <key>offset</key>
        <string>{-88,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,194}}</string>
        <key>sourceSize</key>
        <string>{163,194}</string>
      </dict>
      <key>monster_1952_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{199,349},{160,197}}</string>
        <key>offset</key>
        <string>{-85,120}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,197}}</string>
        <key>sourceSize</key>
        <string>{160,197}</string>
      </dict>
      <key>monster_1952_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{159,202}}</string>
        <key>offset</key>
        <string>{-84,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,202}}</string>
        <key>sourceSize</key>
        <string>{159,202}</string>
      </dict>
      <key>monster_1952_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,0},{160,201}}</string>
        <key>offset</key>
        <string>{-85,120}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,201}}</string>
        <key>sourceSize</key>
        <string>{160,201}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_1952_0_1_0.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>monster_1952_0_1_0.png</string>
    </dict>
  </dict>
</plist>