<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16412_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1222,742},{234,236}}</string>
        <key>offset</key>
        <string>{-145,156}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{234,236}}</string>
        <key>sourceSize</key>
        <string>{234,236}</string>
      </dict>
      <key>monster_16412_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1024,251},{194,247}}</string>
        <key>offset</key>
        <string>{-115,164}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{194,247}}</string>
        <key>sourceSize</key>
        <string>{194,247}</string>
      </dict>
      <key>monster_16412_0_2_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{966,813},{193,254}}</string>
        <key>offset</key>
        <string>{-108,166}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{193,254}}</string>
        <key>sourceSize</key>
        <string>{193,254}</string>
      </dict>
      <key>monster_16412_0_2_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1220,0},{228,216}}</string>
        <key>offset</key>
        <string>{-124,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{228,216}}</string>
        <key>sourceSize</key>
        <string>{228,216}</string>
      </dict>
      <key>monster_16412_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{399,0},{387,231}}</string>
        <key>offset</key>
        <string>{-264,159}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{387,231}}</string>
        <key>sourceSize</key>
        <string>{387,231}</string>
      </dict>
      <key>monster_16412_0_2_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{670,330},{352,213}}</string>
        <key>offset</key>
        <string>{-131,135}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{352,213}}</string>
        <key>sourceSize</key>
        <string>{352,213}</string>
      </dict>
      <key>monster_16412_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{373,418},{397,295}}</string>
        <key>offset</key>
        <string>{-263,241}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{397,295}}</string>
        <key>sourceSize</key>
        <string>{397,295}</string>
      </dict>
      <key>monster_16412_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{180,0},{416,217}}</string>
        <key>offset</key>
        <string>{-263,169}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{416,217}}</string>
        <key>sourceSize</key>
        <string>{416,217}</string>
      </dict>
      <key>monster_16412_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{465,178}}</string>
        <key>offset</key>
        <string>{-158,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{465,178}}</string>
        <key>sourceSize</key>
        <string>{465,178}</string>
      </dict>
      <key>monster_16412_0_2_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,467},{441,180}}</string>
        <key>offset</key>
        <string>{-146,133}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{441,180}}</string>
        <key>sourceSize</key>
        <string>{441,180}</string>
      </dict>
      <key>monster_16412_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{670,545},{352,266}}</string>
        <key>offset</key>
        <string>{-253,219}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{352,266}}</string>
        <key>sourceSize</key>
        <string>{352,266}</string>
      </dict>
      <key>monster_16412_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1005,0},{249,213}}</string>
        <key>offset</key>
        <string>{-134,140}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{249,213}}</string>
        <key>sourceSize</key>
        <string>{249,213}</string>
      </dict>
      <key>monster_16412_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{595,817},{369,201}}</string>
        <key>offset</key>
        <string>{-191,136}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{369,201}}</string>
        <key>sourceSize</key>
        <string>{369,201}</string>
      </dict>
      <key>monster_16412_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{632,0},{371,328}}</string>
        <key>offset</key>
        <string>{-189,260}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{371,328}}</string>
        <key>sourceSize</key>
        <string>{371,328}</string>
      </dict>
      <key>monster_16412_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{182,832},{411,181}}</string>
        <key>offset</key>
        <string>{-264,114}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{411,181}}</string>
        <key>sourceSize</key>
        <string>{411,181}</string>
      </dict>
      <key>monster_16412_0_2_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{182,418},{412,189}}</string>
        <key>offset</key>
        <string>{-264,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{412,189}}</string>
        <key>sourceSize</key>
        <string>{412,189}</string>
      </dict>
      <key>monster_16412_0_2_7_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1024,500},{240,215}}</string>
        <key>offset</key>
        <string>{-110,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{240,215}}</string>
        <key>sourceSize</key>
        <string>{240,215}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16412_0_2_1.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>monster_16412_0_2_1.png</string>
    </dict>
  </dict>
</plist>