<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16487_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{301,404}}</string>
        <key>offset</key>
        <string>{-127,236}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{301,404}}</string>
        <key>sourceSize</key>
        <string>{301,404}</string>
      </dict>
      <key>monster_16487_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{303,0},{305,402}}</string>
        <key>offset</key>
        <string>{-128,236}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{305,402}}</string>
        <key>sourceSize</key>
        <string>{305,402}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16487_0_7_4.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>monster_16487_0_7_4.png</string>
    </dict>
  </dict>
</plist>