<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_5068_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,887},{429,359}}</string>
        <key>offset</key>
        <string>{-168,287}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{429,359}}</string>
        <key>sourceSize</key>
        <string>{429,359}</string>
      </dict>
      <key>monster_5068_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,446},{439,359}}</string>
        <key>offset</key>
        <string>{-173,287}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{439,359}}</string>
        <key>sourceSize</key>
        <string>{439,359}</string>
      </dict>
      <key>monster_5068_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{727,0},{434,359}}</string>
        <key>offset</key>
        <string>{-168,282}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{434,359}}</string>
        <key>sourceSize</key>
        <string>{434,359}</string>
      </dict>
      <key>monster_5068_0_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{361,446},{439,359}}</string>
        <key>offset</key>
        <string>{-173,287}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{439,359}}</string>
        <key>sourceSize</key>
        <string>{439,359}</string>
      </dict>
      <key>monster_5068_0_0_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{444,359}}</string>
        <key>offset</key>
        <string>{-178,287}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{444,359}}</string>
        <key>sourceSize</key>
        <string>{444,359}</string>
      </dict>
      <key>monster_5068_0_0_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{361,0},{439,364}}</string>
        <key>offset</key>
        <string>{-173,292}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{439,364}}</string>
        <key>sourceSize</key>
        <string>{439,364}</string>
      </dict>
      <key>monster_5068_0_0_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{361,887},{429,364}}</string>
        <key>offset</key>
        <string>{-173,292}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{429,364}}</string>
        <key>sourceSize</key>
        <string>{429,364}</string>
      </dict>
      <key>monster_5068_0_0_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{727,361},{434,364}}</string>
        <key>offset</key>
        <string>{-173,292}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{434,364}}</string>
        <key>sourceSize</key>
        <string>{434,364}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_5068_0_0_6.png</string>
      <key>size</key>
      <string>{1280,1383}</string>
      <key>textureFileName</key>
      <string>monster_5068_0_0_6.png</string>
    </dict>
  </dict>
</plist>