<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16324_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{129,159}}</string>
        <key>offset</key>
        <string>{-32,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,159}}</string>
        <key>sourceSize</key>
        <string>{129,159}</string>
      </dict>
      <key>monster_16324_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{161,0},{134,159}}</string>
        <key>offset</key>
        <string>{-34,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,159}}</string>
        <key>sourceSize</key>
        <string>{134,159}</string>
      </dict>
      <key>monster_16324_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,131},{123,156}}</string>
        <key>offset</key>
        <string>{-50,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,156}}</string>
        <key>sourceSize</key>
        <string>{123,156}</string>
      </dict>
      <key>monster_16324_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{322,0},{130,156}}</string>
        <key>offset</key>
        <string>{-55,123}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,156}}</string>
        <key>sourceSize</key>
        <string>{130,156}</string>
      </dict>
      <key>monster_16324_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,268},{151,153}}</string>
        <key>offset</key>
        <string>{-58,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,153}}</string>
        <key>sourceSize</key>
        <string>{151,153}</string>
      </dict>
      <key>monster_16324_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,398},{151,153}}</string>
        <key>offset</key>
        <string>{-57,120}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,153}}</string>
        <key>sourceSize</key>
        <string>{151,153}</string>
      </dict>
      <key>monster_16324_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{311,399},{153,140}}</string>
        <key>offset</key>
        <string>{-58,118}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,140}}</string>
        <key>sourceSize</key>
        <string>{153,140}</string>
      </dict>
      <key>monster_16324_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,256},{154,140}}</string>
        <key>offset</key>
        <string>{-60,118}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,140}}</string>
        <key>sourceSize</key>
        <string>{154,140}</string>
      </dict>
      <key>monster_16324_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{155,563},{134,149}}</string>
        <key>offset</key>
        <string>{-61,118}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,149}}</string>
        <key>sourceSize</key>
        <string>{134,149}</string>
      </dict>
      <key>monster_16324_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{306,694},{138,149}}</string>
        <key>offset</key>
        <string>{-65,118}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,149}}</string>
        <key>sourceSize</key>
        <string>{138,149}</string>
      </dict>
      <key>monster_16324_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{155,421},{153,140}}</string>
        <key>offset</key>
        <string>{-47,118}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,140}}</string>
        <key>sourceSize</key>
        <string>{153,140}</string>
      </dict>
      <key>monster_16324_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{316,257},{154,140}}</string>
        <key>offset</key>
        <string>{-46,118}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,140}}</string>
        <key>sourceSize</key>
        <string>{154,140}</string>
      </dict>
      <key>monster_16324_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,551},{151,153}}</string>
        <key>offset</key>
        <string>{-45,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,153}}</string>
        <key>sourceSize</key>
        <string>{151,153}</string>
      </dict>
      <key>monster_16324_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{310,541},{151,153}}</string>
        <key>offset</key>
        <string>{-46,120}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,153}}</string>
        <key>sourceSize</key>
        <string>{151,153}</string>
      </dict>
      <key>monster_16324_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{322,132},{123,156}}</string>
        <key>offset</key>
        <string>{-25,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,156}}</string>
        <key>sourceSize</key>
        <string>{123,156}</string>
      </dict>
      <key>monster_16324_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,136},{130,156}}</string>
        <key>offset</key>
        <string>{-27,123}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,156}}</string>
        <key>sourceSize</key>
        <string>{130,156}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16324_0_7.png</string>
      <key>size</key>
      <string>{512,1024}</string>
      <key>textureFileName</key>
      <string>monster_16324_0_7.png</string>
    </dict>
  </dict>
</plist>