<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_2004_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1368,320},{317,203}}</string>
        <key>offset</key>
        <string>{-139,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{317,203}}</string>
        <key>sourceSize</key>
        <string>{317,203}</string>
      </dict>
      <key>monster_2004_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{320,198}}</string>
        <key>offset</key>
        <string>{-139,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{320,198}}</string>
        <key>sourceSize</key>
        <string>{320,198}</string>
      </dict>
      <key>monster_2004_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1604,0},{312,200}}</string>
        <key>offset</key>
        <string>{-131,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{312,200}}</string>
        <key>sourceSize</key>
        <string>{312,200}</string>
      </dict>
      <key>monster_2004_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,1288},{319,201}}</string>
        <key>offset</key>
        <string>{-138,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{319,201}}</string>
        <key>sourceSize</key>
        <string>{319,201}</string>
      </dict>
      <key>monster_2004_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1358,0},{318,244}}</string>
        <key>offset</key>
        <string>{-139,140}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{318,244}}</string>
        <key>sourceSize</key>
        <string>{318,244}</string>
      </dict>
      <key>monster_2004_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1186,1285},{317,209}}</string>
        <key>offset</key>
        <string>{-139,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{317,209}}</string>
        <key>sourceSize</key>
        <string>{317,209}</string>
      </dict>
      <key>monster_2004_0_2_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1286,963},{316,266}}</string>
        <key>offset</key>
        <string>{-138,174}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{316,266}}</string>
        <key>sourceSize</key>
        <string>{316,266}</string>
      </dict>
      <key>monster_2004_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,322},{320,172}}</string>
        <key>offset</key>
        <string>{-139,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{320,172}}</string>
        <key>sourceSize</key>
        <string>{320,172}</string>
      </dict>
      <key>monster_2004_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,644},{320,182}}</string>
        <key>offset</key>
        <string>{-139,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{320,182}}</string>
        <key>sourceSize</key>
        <string>{320,182}</string>
      </dict>
      <key>monster_2004_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,322},{320,199}}</string>
        <key>offset</key>
        <string>{-139,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{320,199}}</string>
        <key>sourceSize</key>
        <string>{320,199}</string>
      </dict>
      <key>monster_2004_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,0},{320,218}}</string>
        <key>offset</key>
        <string>{-139,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{320,218}}</string>
        <key>sourceSize</key>
        <string>{320,218}</string>
      </dict>
      <key>monster_2004_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,966},{320,227}}</string>
        <key>offset</key>
        <string>{-139,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{320,227}}</string>
        <key>sourceSize</key>
        <string>{320,227}</string>
      </dict>
      <key>monster_2004_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{184,644},{320,222}}</string>
        <key>offset</key>
        <string>{-139,118}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{320,222}}</string>
        <key>sourceSize</key>
        <string>{320,222}</string>
      </dict>
      <key>monster_2004_0_2_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{375,322},{320,256}}</string>
        <key>offset</key>
        <string>{-139,160}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{320,256}}</string>
        <key>sourceSize</key>
        <string>{320,256}</string>
      </dict>
      <key>monster_2004_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{901,966},{319,162}}</string>
        <key>offset</key>
        <string>{-139,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{319,162}}</string>
        <key>sourceSize</key>
        <string>{319,162}</string>
      </dict>
      <key>monster_2004_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{420,0},{320,170}}</string>
        <key>offset</key>
        <string>{-139,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{320,170}}</string>
        <key>sourceSize</key>
        <string>{320,170}</string>
      </dict>
      <key>monster_2004_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{592,0},{320,161}}</string>
        <key>offset</key>
        <string>{-139,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{320,161}}</string>
        <key>sourceSize</key>
        <string>{320,161}</string>
      </dict>
      <key>monster_2004_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1288},{320,201}}</string>
        <key>offset</key>
        <string>{-139,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{320,201}}</string>
        <key>sourceSize</key>
        <string>{320,201}</string>
      </dict>
      <key>monster_2004_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{966,1609},{318,220}}</string>
        <key>offset</key>
        <string>{-137,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{318,220}}</string>
        <key>sourceSize</key>
        <string>{318,220}</string>
      </dict>
      <key>monster_2004_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1397,1281},{305,219}}</string>
        <key>offset</key>
        <string>{-124,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{305,219}}</string>
        <key>sourceSize</key>
        <string>{305,219}</string>
      </dict>
      <key>monster_2004_0_2_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1618,1339},{299,213}}</string>
        <key>offset</key>
        <string>{-120,120}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{299,213}}</string>
        <key>sourceSize</key>
        <string>{299,213}</string>
      </dict>
      <key>monster_2004_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1610},{320,177}}</string>
        <key>offset</key>
        <string>{-139,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{320,177}}</string>
        <key>sourceSize</key>
        <string>{320,177}</string>
      </dict>
      <key>monster_2004_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1188,1604},{308,177}}</string>
        <key>offset</key>
        <string>{-139,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{308,177}}</string>
        <key>sourceSize</key>
        <string>{308,177}</string>
      </dict>
      <key>monster_2004_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{179,1610},{320,174}}</string>
        <key>offset</key>
        <string>{-139,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{320,174}}</string>
        <key>sourceSize</key>
        <string>{320,174}</string>
      </dict>
      <key>monster_2004_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{203,1288},{320,177}}</string>
        <key>offset</key>
        <string>{-139,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{320,177}}</string>
        <key>sourceSize</key>
        <string>{320,177}</string>
      </dict>
      <key>monster_2004_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{229,966},{320,232}}</string>
        <key>offset</key>
        <string>{-139,120}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{320,232}}</string>
        <key>sourceSize</key>
        <string>{320,232}</string>
      </dict>
      <key>monster_2004_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{408,644},{320,235}}</string>
        <key>offset</key>
        <string>{-139,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{320,235}}</string>
        <key>sourceSize</key>
        <string>{320,235}</string>
      </dict>
      <key>monster_2004_0_2_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1806,314},{310,186}}</string>
        <key>offset</key>
        <string>{-129,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{310,186}}</string>
        <key>sourceSize</key>
        <string>{310,186}</string>
      </dict>
      <key>monster_2004_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1444,639},{315,186}}</string>
        <key>offset</key>
        <string>{-134,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{315,186}}</string>
        <key>sourceSize</key>
        <string>{315,186}</string>
      </dict>
      <key>monster_2004_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1037,644},{319,183}}</string>
        <key>offset</key>
        <string>{-139,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{319,183}}</string>
        <key>sourceSize</key>
        <string>{319,183}</string>
      </dict>
      <key>monster_2004_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1632,938},{309,178}}</string>
        <key>offset</key>
        <string>{-139,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{309,178}}</string>
        <key>sourceSize</key>
        <string>{309,178}</string>
      </dict>
      <key>monster_2004_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1003,1287},{318,181}}</string>
        <key>offset</key>
        <string>{-139,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{318,181}}</string>
        <key>sourceSize</key>
        <string>{318,181}</string>
      </dict>
      <key>monster_2004_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1065,965},{318,219}}</string>
        <key>offset</key>
        <string>{-137,125}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{318,219}}</string>
        <key>sourceSize</key>
        <string>{318,219}</string>
      </dict>
      <key>monster_2004_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1573,320},{315,230}}</string>
        <key>offset</key>
        <string>{-134,140}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{315,230}}</string>
        <key>sourceSize</key>
        <string>{315,230}</string>
      </dict>
      <key>monster_2004_0_2_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1806,0},{312,180}}</string>
        <key>offset</key>
        <string>{-134,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{312,180}}</string>
        <key>sourceSize</key>
        <string>{312,180}</string>
      </dict>
      <key>monster_2004_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{633,322},{320,177}}</string>
        <key>offset</key>
        <string>{-139,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{320,177}}</string>
        <key>sourceSize</key>
        <string>{320,177}</string>
      </dict>
      <key>monster_2004_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1367,1604},{308,177}}</string>
        <key>offset</key>
        <string>{-127,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{308,177}}</string>
        <key>sourceSize</key>
        <string>{308,177}</string>
      </dict>
      <key>monster_2004_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{755,0},{320,174}}</string>
        <key>offset</key>
        <string>{-139,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{320,174}}</string>
        <key>sourceSize</key>
        <string>{320,174}</string>
      </dict>
      <key>monster_2004_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{355,1610},{320,177}}</string>
        <key>offset</key>
        <string>{-139,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{320,177}}</string>
        <key>sourceSize</key>
        <string>{320,177}</string>
      </dict>
      <key>monster_2004_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{382,1288},{320,232}}</string>
        <key>offset</key>
        <string>{-139,120}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{320,232}}</string>
        <key>sourceSize</key>
        <string>{320,232}</string>
      </dict>
      <key>monster_2004_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{463,966},{320,235}}</string>
        <key>offset</key>
        <string>{-139,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{320,235}}</string>
        <key>sourceSize</key>
        <string>{320,235}</string>
      </dict>
      <key>monster_2004_0_2_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1805,626},{310,186}}</string>
        <key>offset</key>
        <string>{-139,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{310,186}}</string>
        <key>sourceSize</key>
        <string>{310,186}</string>
      </dict>
      <key>monster_2004_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1204,322},{319,162}}</string>
        <key>offset</key>
        <string>{-138,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{319,162}}</string>
        <key>sourceSize</key>
        <string>{319,162}</string>
      </dict>
      <key>monster_2004_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{645,644},{320,170}}</string>
        <key>offset</key>
        <string>{-139,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{320,170}}</string>
        <key>sourceSize</key>
        <string>{320,170}</string>
      </dict>
      <key>monster_2004_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{812,322},{320,161}}</string>
        <key>offset</key>
        <string>{-139,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{320,161}}</string>
        <key>sourceSize</key>
        <string>{320,161}</string>
      </dict>
      <key>monster_2004_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{931,0},{320,201}}</string>
        <key>offset</key>
        <string>{-139,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{320,201}}</string>
        <key>sourceSize</key>
        <string>{320,201}</string>
      </dict>
      <key>monster_2004_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1222,643},{318,220}}</string>
        <key>offset</key>
        <string>{-139,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{318,220}}</string>
        <key>sourceSize</key>
        <string>{318,220}</string>
      </dict>
      <key>monster_2004_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1618,1118},{305,219}}</string>
        <key>offset</key>
        <string>{-139,121}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{305,219}}</string>
        <key>sourceSize</key>
        <string>{305,219}</string>
      </dict>
      <key>monster_2004_0_2_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1618,1554},{299,213}}</string>
        <key>offset</key>
        <string>{-137,120}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{299,213}}</string>
        <key>sourceSize</key>
        <string>{299,213}</string>
      </dict>
      <key>monster_2004_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{534,1610},{320,172}}</string>
        <key>offset</key>
        <string>{-139,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{320,172}}</string>
        <key>sourceSize</key>
        <string>{320,172}</string>
      </dict>
      <key>monster_2004_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{616,1288},{320,182}}</string>
        <key>offset</key>
        <string>{-139,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{320,182}}</string>
        <key>sourceSize</key>
        <string>{320,182}</string>
      </dict>
      <key>monster_2004_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,966},{320,199}}</string>
        <key>offset</key>
        <string>{-139,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{320,199}}</string>
        <key>sourceSize</key>
        <string>{320,199}</string>
      </dict>
      <key>monster_2004_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{817,644},{320,218}}</string>
        <key>offset</key>
        <string>{-139,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{320,218}}</string>
        <key>sourceSize</key>
        <string>{320,218}</string>
      </dict>
      <key>monster_2004_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{975,322},{320,227}}</string>
        <key>offset</key>
        <string>{-139,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{320,227}}</string>
        <key>sourceSize</key>
        <string>{320,227}</string>
      </dict>
      <key>monster_2004_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1134,0},{320,222}}</string>
        <key>offset</key>
        <string>{-139,118}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{320,222}}</string>
        <key>sourceSize</key>
        <string>{320,222}</string>
      </dict>
      <key>monster_2004_0_2_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{708,1610},{320,256}}</string>
        <key>offset</key>
        <string>{-139,160}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{320,256}}</string>
        <key>sourceSize</key>
        <string>{320,256}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_2004_0_2.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_2004_0_2.png</string>
    </dict>
  </dict>
</plist>