<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_1250_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,1429},{265,203}}</string>
        <key>offset</key>
        <string>{-117,151}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{265,203}}</string>
        <key>sourceSize</key>
        <string>{265,203}</string>
      </dict>
      <key>monster_1250_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{398,1160},{265,207}}</string>
        <key>offset</key>
        <string>{-118,148}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{265,207}}</string>
        <key>sourceSize</key>
        <string>{265,207}</string>
      </dict>
      <key>monster_1250_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1458},{267,214}}</string>
        <key>offset</key>
        <string>{-121,151}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{267,214}}</string>
        <key>sourceSize</key>
        <string>{267,214}</string>
      </dict>
      <key>monster_1250_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{637,0},{271,207}}</string>
        <key>offset</key>
        <string>{-127,156}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{271,207}}</string>
        <key>sourceSize</key>
        <string>{271,207}</string>
      </dict>
      <key>monster_1250_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{846,0},{270,192}}</string>
        <key>offset</key>
        <string>{-123,156}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{270,192}}</string>
        <key>sourceSize</key>
        <string>{270,192}</string>
      </dict>
      <key>monster_1250_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,1160},{267,192}}</string>
        <key>offset</key>
        <string>{-117,148}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{267,192}}</string>
        <key>sourceSize</key>
        <string>{267,192}</string>
      </dict>
      <key>monster_1250_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1240,1032},{206,236}}</string>
        <key>offset</key>
        <string>{-86,185}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,236}}</string>
        <key>sourceSize</key>
        <string>{206,236}</string>
      </dict>
      <key>monster_1250_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1037,1065},{201,246}}</string>
        <key>offset</key>
        <string>{-82,183}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{201,246}}</string>
        <key>sourceSize</key>
        <string>{201,246}</string>
      </dict>
      <key>monster_1250_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1116,1313},{193,243}}</string>
        <key>offset</key>
        <string>{-73,182}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{193,243}}</string>
        <key>sourceSize</key>
        <string>{193,243}</string>
      </dict>
      <key>monster_1250_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1335,250},{197,244}}</string>
        <key>offset</key>
        <string>{-73,189}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{197,244}}</string>
        <key>sourceSize</key>
        <string>{197,244}</string>
      </dict>
      <key>monster_1250_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1362,742},{200,227}}</string>
        <key>offset</key>
        <string>{-74,189}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,227}}</string>
        <key>sourceSize</key>
        <string>{200,227}</string>
      </dict>
      <key>monster_1250_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1533,496},{208,219}}</string>
        <key>offset</key>
        <string>{-82,172}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,219}}</string>
        <key>sourceSize</key>
        <string>{208,219}</string>
      </dict>
      <key>monster_1250_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1103,259},{230,248}}</string>
        <key>offset</key>
        <string>{-95,201}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{230,248}}</string>
        <key>sourceSize</key>
        <string>{230,248}</string>
      </dict>
      <key>monster_1250_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{899,1622},{237,247}}</string>
        <key>offset</key>
        <string>{-97,201}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{237,247}}</string>
        <key>sourceSize</key>
        <string>{237,247}</string>
      </dict>
      <key>monster_1250_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1125,784},{235,246}}</string>
        <key>offset</key>
        <string>{-97,198}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{235,246}}</string>
        <key>sourceSize</key>
        <string>{235,246}</string>
      </dict>
      <key>monster_1250_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{667,1371},{231,249}}</string>
        <key>offset</key>
        <string>{-97,203}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{231,249}}</string>
        <key>sourceSize</key>
        <string>{231,249}</string>
      </dict>
      <key>monster_1250_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{658,814},{218,252}}</string>
        <key>offset</key>
        <string>{-84,204}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{218,252}}</string>
        <key>sourceSize</key>
        <string>{218,252}</string>
      </dict>
      <key>monster_1250_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1472,0},{208,244}}</string>
        <key>offset</key>
        <string>{-77,193}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,244}}</string>
        <key>sourceSize</key>
        <string>{208,244}</string>
      </dict>
      <key>monster_1250_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{653,553},{259,231}}</string>
        <key>offset</key>
        <string>{-59,191}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{259,231}}</string>
        <key>sourceSize</key>
        <string>{259,231}</string>
      </dict>
      <key>monster_1250_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{420,575},{275,231}}</string>
        <key>offset</key>
        <string>{-72,192}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{275,231}}</string>
        <key>sourceSize</key>
        <string>{275,231}</string>
      </dict>
      <key>monster_1250_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{192,586},{286,226}}</string>
        <key>offset</key>
        <string>{-82,185}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{286,226}}</string>
        <key>sourceSize</key>
        <string>{286,226}</string>
      </dict>
      <key>monster_1250_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{294,231}}</string>
        <key>offset</key>
        <string>{-90,189}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{294,231}}</string>
        <key>sourceSize</key>
        <string>{294,231}</string>
      </dict>
      <key>monster_1250_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{394,290},{283,237}}</string>
        <key>offset</key>
        <string>{-80,192}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{283,237}}</string>
        <key>sourceSize</key>
        <string>{283,237}</string>
      </dict>
      <key>monster_1250_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{425,852},{262,231}}</string>
        <key>offset</key>
        <string>{-67,186}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{262,231}}</string>
        <key>sourceSize</key>
        <string>{262,231}</string>
      </dict>
      <key>monster_1250_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{191,296},{288,201}}</string>
        <key>offset</key>
        <string>{-89,159}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{288,201}}</string>
        <key>sourceSize</key>
        <string>{288,201}</string>
      </dict>
      <key>monster_1250_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,588},{289,190}}</string>
        <key>offset</key>
        <string>{-89,160}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{289,190}}</string>
        <key>sourceSize</key>
        <string>{289,190}</string>
      </dict>
      <key>monster_1250_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{233,0},{288,174}}</string>
        <key>offset</key>
        <string>{-87,149}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{288,174}}</string>
        <key>sourceSize</key>
        <string>{288,174}</string>
      </dict>
      <key>monster_1250_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,879},{288,190}}</string>
        <key>offset</key>
        <string>{-84,153}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{288,190}}</string>
        <key>sourceSize</key>
        <string>{288,190}</string>
      </dict>
      <key>monster_1250_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1169},{287,202}}</string>
        <key>offset</key>
        <string>{-86,159}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{287,202}}</string>
        <key>sourceSize</key>
        <string>{287,202}</string>
      </dict>
      <key>monster_1250_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,296},{290,189}}</string>
        <key>offset</key>
        <string>{-92,156}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{290,189}}</string>
        <key>sourceSize</key>
        <string>{290,189}</string>
      </dict>
      <key>monster_1250_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{233,1696},{256,231}}</string>
        <key>offset</key>
        <string>{-122,191}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{256,231}}</string>
        <key>sourceSize</key>
        <string>{256,231}</string>
      </dict>
      <key>monster_1250_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1727},{266,231}}</string>
        <key>offset</key>
        <string>{-127,192}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{266,231}}</string>
        <key>sourceSize</key>
        <string>{266,231}</string>
      </dict>
      <key>monster_1250_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{409,0},{277,226}}</string>
        <key>offset</key>
        <string>{-129,185}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{277,226}}</string>
        <key>sourceSize</key>
        <string>{277,226}</string>
      </dict>
      <key>monster_1250_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{192,874},{284,231}}</string>
        <key>offset</key>
        <string>{-127,189}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{284,231}}</string>
        <key>sourceSize</key>
        <string>{284,231}</string>
      </dict>
      <key>monster_1250_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{633,279},{272,235}}</string>
        <key>offset</key>
        <string>{-124,192}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{272,235}}</string>
        <key>sourceSize</key>
        <string>{272,235}</string>
      </dict>
      <key>monster_1250_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{870,272},{259,231}}</string>
        <key>offset</key>
        <string>{-121,186}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{259,231}}</string>
        <key>sourceSize</key>
        <string>{259,231}</string>
      </dict>
      <key>monster_1250_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1261,0},{209,248}}</string>
        <key>offset</key>
        <string>{-50,201}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,248}}</string>
        <key>sourceSize</key>
        <string>{209,248}</string>
      </dict>
      <key>monster_1250_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,1319},{214,247}}</string>
        <key>offset</key>
        <string>{-56,201}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{214,247}}</string>
        <key>sourceSize</key>
        <string>{214,247}</string>
      </dict>
      <key>monster_1250_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1131,509},{208,246}}</string>
        <key>offset</key>
        <string>{-56,198}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,246}}</string>
        <key>sourceSize</key>
        <string>{208,246}</string>
      </dict>
      <key>monster_1250_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{836,1068},{199,249}}</string>
        <key>offset</key>
        <string>{-46,203}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{199,249}}</string>
        <key>sourceSize</key>
        <string>{199,249}</string>
      </dict>
      <key>monster_1250_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{466,1682},{193,252}}</string>
        <key>offset</key>
        <string>{-46,204}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{193,252}}</string>
        <key>sourceSize</key>
        <string>{193,252}</string>
      </dict>
      <key>monster_1250_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1341,496},{190,244}}</string>
        <key>offset</key>
        <string>{-49,193}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{190,244}}</string>
        <key>sourceSize</key>
        <string>{190,244}</string>
      </dict>
      <key>monster_1250_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{661,1682},{250,236}}</string>
        <key>offset</key>
        <string>{-74,185}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{250,236}}</string>
        <key>sourceSize</key>
        <string>{250,236}</string>
      </dict>
      <key>monster_1250_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{878,814},{249,245}}</string>
        <key>offset</key>
        <string>{-71,183}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{249,245}}</string>
        <key>sourceSize</key>
        <string>{249,245}</string>
      </dict>
      <key>monster_1250_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{886,533},{249,243}}</string>
        <key>offset</key>
        <string>{-73,182}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{249,243}}</string>
        <key>sourceSize</key>
        <string>{249,243}</string>
      </dict>
      <key>monster_1250_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{421,1427},{253,244}}</string>
        <key>offset</key>
        <string>{-75,189}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{253,244}}</string>
        <key>sourceSize</key>
        <string>{253,244}</string>
      </dict>
      <key>monster_1250_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{607,1116},{253,227}}</string>
        <key>offset</key>
        <string>{-77,189}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{253,227}}</string>
        <key>sourceSize</key>
        <string>{253,227}</string>
      </dict>
      <key>monster_1250_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1040,0},{257,219}}</string>
        <key>offset</key>
        <string>{-78,172}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{257,219}}</string>
        <key>sourceSize</key>
        <string>{257,219}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_1250_0_1.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_1250_0_1.png</string>
    </dict>
  </dict>
</plist>