<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_10096_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{90,131},{124,111}}</string>
        <key>offset</key>
        <string>{-36,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,111}}</string>
        <key>sourceSize</key>
        <string>{124,111}</string>
      </dict>
      <key>monster_10096_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,257},{119,111}}</string>
        <key>offset</key>
        <string>{-28,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,111}}</string>
        <key>sourceSize</key>
        <string>{119,111}</string>
      </dict>
      <key>monster_10096_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,392},{126,111}}</string>
        <key>offset</key>
        <string>{-37,73}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,111}}</string>
        <key>sourceSize</key>
        <string>{126,111}</string>
      </dict>
      <key>monster_10096_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,0},{108,111}}</string>
        <key>offset</key>
        <string>{-21,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,111}}</string>
        <key>sourceSize</key>
        <string>{108,111}</string>
      </dict>
      <key>monster_10096_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{85,263},{125,111}}</string>
        <key>offset</key>
        <string>{-36,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,111}}</string>
        <key>sourceSize</key>
        <string>{125,111}</string>
      </dict>
      <key>monster_10096_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{203,126},{114,111}}</string>
        <key>offset</key>
        <string>{-24,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,111}}</string>
        <key>sourceSize</key>
        <string>{114,111}</string>
      </dict>
      <key>monster_10096_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{311,242},{90,103}}</string>
        <key>offset</key>
        <string>{-10,73}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,103}}</string>
        <key>sourceSize</key>
        <string>{90,103}</string>
      </dict>
      <key>monster_10096_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{343,347},{87,100}}</string>
        <key>offset</key>
        <string>{2,73}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,100}}</string>
        <key>sourceSize</key>
        <string>{87,100}</string>
      </dict>
      <key>monster_10096_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{403,217},{92,100}}</string>
        <key>offset</key>
        <string>{-11,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,100}}</string>
        <key>sourceSize</key>
        <string>{92,100}</string>
      </dict>
      <key>monster_10096_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{557,0},{83,99}}</string>
        <key>offset</key>
        <string>{3,73}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,99}}</string>
        <key>sourceSize</key>
        <string>{83,99}</string>
      </dict>
      <key>monster_10096_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{251,378},{90,104}}</string>
        <key>offset</key>
        <string>{-10,74}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,104}}</string>
        <key>sourceSize</key>
        <string>{90,104}</string>
      </dict>
      <key>monster_10096_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{527,307},{85,99}}</string>
        <key>offset</key>
        <string>{3,73}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,99}}</string>
        <key>sourceSize</key>
        <string>{85,99}</string>
      </dict>
      <key>monster_10096_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{628,403},{84,94}}</string>
        <key>offset</key>
        <string>{-15,77}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,94}}</string>
        <key>sourceSize</key>
        <string>{84,94}</string>
      </dict>
      <key>monster_10096_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{714,393},{82,77}}</string>
        <key>offset</key>
        <string>{-8,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,77}}</string>
        <key>sourceSize</key>
        <string>{82,77}</string>
      </dict>
      <key>monster_10096_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{767,197},{84,92}}</string>
        <key>offset</key>
        <string>{-15,75}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,92}}</string>
        <key>sourceSize</key>
        <string>{84,92}</string>
      </dict>
      <key>monster_10096_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{930,160},{81,79}}</string>
        <key>offset</key>
        <string>{-7,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,79}}</string>
        <key>sourceSize</key>
        <string>{81,79}</string>
      </dict>
      <key>monster_10096_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{681,201},{84,95}}</string>
        <key>offset</key>
        <string>{-15,78}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,95}}</string>
        <key>sourceSize</key>
        <string>{84,95}</string>
      </dict>
      <key>monster_10096_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{930,241},{81,77}}</string>
        <key>offset</key>
        <string>{-7,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,77}}</string>
        <key>sourceSize</key>
        <string>{81,77}</string>
      </dict>
      <key>monster_10096_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{408,103},{91,100}}</string>
        <key>offset</key>
        <string>{-18,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,100}}</string>
        <key>sourceSize</key>
        <string>{91,100}</string>
      </dict>
      <key>monster_10096_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{614,305},{96,79}}</string>
        <key>offset</key>
        <string>{-14,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,79}}</string>
        <key>sourceSize</key>
        <string>{96,79}</string>
      </dict>
      <key>monster_10096_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{596,101},{92,98}}</string>
        <key>offset</key>
        <string>{-18,66}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,98}}</string>
        <key>sourceSize</key>
        <string>{92,98}</string>
      </dict>
      <key>monster_10096_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{820,0},{90,79}}</string>
        <key>offset</key>
        <string>{-10,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,79}}</string>
        <key>sourceSize</key>
        <string>{90,79}</string>
      </dict>
      <key>monster_10096_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{316,113},{90,102}}</string>
        <key>offset</key>
        <string>{-17,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,102}}</string>
        <key>sourceSize</key>
        <string>{90,102}</string>
      </dict>
      <key>monster_10096_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{690,100},{95,79}}</string>
        <key>offset</key>
        <string>{-13,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,79}}</string>
        <key>sourceSize</key>
        <string>{95,79}</string>
      </dict>
      <key>monster_10096_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,132},{129,88}}</string>
        <key>offset</key>
        <string>{-39,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,88}}</string>
        <key>sourceSize</key>
        <string>{129,88}</string>
      </dict>
      <key>monster_10096_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,263},{127,83}}</string>
        <key>offset</key>
        <string>{-41,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,83}}</string>
        <key>sourceSize</key>
        <string>{127,83}</string>
      </dict>
      <key>monster_10096_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{130,86}}</string>
        <key>offset</key>
        <string>{-39,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,86}}</string>
        <key>sourceSize</key>
        <string>{130,86}</string>
      </dict>
      <key>monster_10096_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,390},{121,83}}</string>
        <key>offset</key>
        <string>{-38,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,83}}</string>
        <key>sourceSize</key>
        <string>{121,83}</string>
      </dict>
      <key>monster_10096_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{88,0},{129,89}}</string>
        <key>offset</key>
        <string>{-39,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,89}}</string>
        <key>sourceSize</key>
        <string>{129,89}</string>
      </dict>
      <key>monster_10096_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{179,0},{124,83}}</string>
        <key>offset</key>
        <string>{-38,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,83}}</string>
        <key>sourceSize</key>
        <string>{124,83}</string>
      </dict>
      <key>monster_10096_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{465,0},{90,100}}</string>
        <key>offset</key>
        <string>{-21,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,100}}</string>
        <key>sourceSize</key>
        <string>{90,100}</string>
      </dict>
      <key>monster_10096_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{781,291},{81,82}}</string>
        <key>offset</key>
        <string>{-29,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,82}}</string>
        <key>sourceSize</key>
        <string>{81,82}</string>
      </dict>
      <key>monster_10096_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{534,408},{92,97}}</string>
        <key>offset</key>
        <string>{-22,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,97}}</string>
        <key>sourceSize</key>
        <string>{92,97}</string>
      </dict>
      <key>monster_10096_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{853,191},{75,82}}</string>
        <key>offset</key>
        <string>{-25,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,82}}</string>
        <key>sourceSize</key>
        <string>{75,82}</string>
      </dict>
      <key>monster_10096_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{642,0},{90,98}}</string>
        <key>offset</key>
        <string>{-22,66}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,98}}</string>
        <key>sourceSize</key>
        <string>{90,98}</string>
      </dict>
      <key>monster_10096_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{930,0},{79,82}}</string>
        <key>offset</key>
        <string>{-27,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,82}}</string>
        <key>sourceSize</key>
        <string>{79,82}</string>
      </dict>
      <key>monster_10096_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{734,0},{84,95}}</string>
        <key>offset</key>
        <string>{-17,77}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,95}}</string>
        <key>sourceSize</key>
        <string>{84,95}</string>
      </dict>
      <key>monster_10096_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{930,81},{82,77}}</string>
        <key>offset</key>
        <string>{-22,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,77}}</string>
        <key>sourceSize</key>
        <string>{82,77}</string>
      </dict>
      <key>monster_10096_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{771,97},{84,92}}</string>
        <key>offset</key>
        <string>{-17,74}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,92}}</string>
        <key>sourceSize</key>
        <string>{84,92}</string>
      </dict>
      <key>monster_10096_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{793,375},{81,80}}</string>
        <key>offset</key>
        <string>{-22,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,80}}</string>
        <key>sourceSize</key>
        <string>{81,80}</string>
      </dict>
      <key>monster_10096_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{695,298},{84,93}}</string>
        <key>offset</key>
        <string>{-17,75}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,93}}</string>
        <key>sourceSize</key>
        <string>{84,93}</string>
      </dict>
      <key>monster_10096_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{875,320},{81,77}}</string>
        <key>offset</key>
        <string>{-22,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,77}}</string>
        <key>sourceSize</key>
        <string>{81,77}</string>
      </dict>
      <key>monster_10096_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,0},{89,101}}</string>
        <key>offset</key>
        <string>{-27,71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,101}}</string>
        <key>sourceSize</key>
        <string>{89,101}</string>
      </dict>
      <key>monster_10096_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{432,319},{93,100}}</string>
        <key>offset</key>
        <string>{-35,75}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,100}}</string>
        <key>sourceSize</key>
        <string>{93,100}</string>
      </dict>
      <key>monster_10096_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{588,204},{91,99}}</string>
        <key>offset</key>
        <string>{-28,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,99}}</string>
        <key>sourceSize</key>
        <string>{91,99}</string>
      </dict>
      <key>monster_10096_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{432,421},{89,100}}</string>
        <key>offset</key>
        <string>{-33,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,100}}</string>
        <key>sourceSize</key>
        <string>{89,100}</string>
      </dict>
      <key>monster_10096_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{497,205},{89,100}}</string>
        <key>offset</key>
        <string>{-27,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,100}}</string>
        <key>sourceSize</key>
        <string>{89,100}</string>
      </dict>
      <key>monster_10096_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{501,102},{93,100}}</string>
        <key>offset</key>
        <string>{-35,75}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,100}}</string>
        <key>sourceSize</key>
        <string>{93,100}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_10096_0_1.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>monster_10096_0_1.png</string>
    </dict>
  </dict>
</plist>