<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_2423_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{760,267},{209,263}}</string>
        <key>offset</key>
        <string>{-37,202}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,263}}</string>
        <key>sourceSize</key>
        <string>{209,263}</string>
      </dict>
      <key>monster_2423_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{493,239},{215,265}}</string>
        <key>offset</key>
        <string>{-38,204}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{215,265}}</string>
        <key>sourceSize</key>
        <string>{215,265}</string>
      </dict>
      <key>monster_2423_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,272},{212,269}}</string>
        <key>offset</key>
        <string>{-40,208}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{212,269}}</string>
        <key>sourceSize</key>
        <string>{212,269}</string>
      </dict>
      <key>monster_2423_0_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{761,0},{215,265}}</string>
        <key>offset</key>
        <string>{-38,204}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{215,265}}</string>
        <key>sourceSize</key>
        <string>{215,265}</string>
      </dict>
      <key>monster_2423_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{493,0},{266,237}}</string>
        <key>offset</key>
        <string>{-45,181}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{266,237}}</string>
        <key>sourceSize</key>
        <string>{266,237}</string>
      </dict>
      <key>monster_2423_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,272},{268,242}}</string>
        <key>offset</key>
        <string>{-45,186}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{268,242}}</string>
        <key>sourceSize</key>
        <string>{268,242}</string>
      </dict>
      <key>monster_2423_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{270,247}}</string>
        <key>offset</key>
        <string>{-46,191}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{270,247}}</string>
        <key>sourceSize</key>
        <string>{270,247}</string>
      </dict>
      <key>monster_2423_0_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{249,0},{268,242}}</string>
        <key>offset</key>
        <string>{-45,186}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{268,242}}</string>
        <key>sourceSize</key>
        <string>{268,242}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_2423_0_0_3.png</string>
      <key>size</key>
      <string>{982,642}</string>
      <key>textureFileName</key>
      <string>monster_2423_0_0_3.png</string>
    </dict>
  </dict>
</plist>