<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16168_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{408,474}}</string>
        <key>offset</key>
        <string>{-188,299}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{408,474}}</string>
        <key>sourceSize</key>
        <string>{408,474}</string>
      </dict>
      <key>monster_16168_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{476,0},{410,474}}</string>
        <key>offset</key>
        <string>{-190,297}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{410,474}}</string>
        <key>sourceSize</key>
        <string>{410,474}</string>
      </dict>
      <key>monster_16168_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1232},{425,469}}</string>
        <key>offset</key>
        <string>{-205,293}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{425,469}}</string>
        <key>sourceSize</key>
        <string>{425,469}</string>
      </dict>
      <key>monster_16168_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{476,412},{422,473}}</string>
        <key>offset</key>
        <string>{-202,300}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{422,473}}</string>
        <key>sourceSize</key>
        <string>{422,473}</string>
      </dict>
      <key>monster_16168_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{941,1259},{406,464}}</string>
        <key>offset</key>
        <string>{-190,289}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{406,464}}</string>
        <key>sourceSize</key>
        <string>{406,464}</string>
      </dict>
      <key>monster_16168_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{471,1259},{426,468}}</string>
        <key>offset</key>
        <string>{-179,293}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{426,468}}</string>
        <key>sourceSize</key>
        <string>{426,468}</string>
      </dict>
      <key>monster_16168_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{475,836},{421,472}}</string>
        <key>offset</key>
        <string>{-178,299}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{421,472}}</string>
        <key>sourceSize</key>
        <string>{421,472}</string>
      </dict>
      <key>monster_16168_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,410},{408,474}}</string>
        <key>offset</key>
        <string>{-179,299}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{408,474}}</string>
        <key>sourceSize</key>
        <string>{408,474}</string>
      </dict>
      <key>monster_16168_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,820},{410,473}}</string>
        <key>offset</key>
        <string>{-178,297}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{410,473}}</string>
        <key>sourceSize</key>
        <string>{410,473}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16168_0_2_3.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_16168_0_2_3.png</string>
    </dict>
  </dict>
</plist>