<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_12606_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1041,1241},{468,604}}</string>
        <key>offset</key>
        <string>{-269,352}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{468,604}}</string>
        <key>sourceSize</key>
        <string>{468,604}</string>
      </dict>
      <key>monster_12606_0_1_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1514,1239},{494,614}}</string>
        <key>offset</key>
        <string>{-294,361}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{494,614}}</string>
        <key>sourceSize</key>
        <string>{494,614}</string>
      </dict>
      <key>monster_12606_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,628},{461,625}}</string>
        <key>offset</key>
        <string>{-309,363}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{461,625}}</string>
        <key>sourceSize</key>
        <string>{461,625}</string>
      </dict>
      <key>monster_12606_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{463,628},{465,620}}</string>
        <key>offset</key>
        <string>{-311,358}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{465,620}}</string>
        <key>sourceSize</key>
        <string>{465,620}</string>
      </dict>
      <key>monster_12606_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1514,620},{469,617}}</string>
        <key>offset</key>
        <string>{-315,356}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{469,617}}</string>
        <key>sourceSize</key>
        <string>{469,617}</string>
      </dict>
      <key>monster_12606_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{568,1250},{471,618}}</string>
        <key>offset</key>
        <string>{-322,357}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{471,618}}</string>
        <key>sourceSize</key>
        <string>{471,618}</string>
      </dict>
      <key>monster_12606_0_1_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{478,626}}</string>
        <key>offset</key>
        <string>{-329,363}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{478,626}}</string>
        <key>sourceSize</key>
        <string>{478,626}</string>
      </dict>
      <key>monster_12606_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{930,621},{582,618}}</string>
        <key>offset</key>
        <string>{-317,355}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{582,618}}</string>
        <key>sourceSize</key>
        <string>{582,618}</string>
      </dict>
      <key>monster_12606_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1043,0},{581,618}}</string>
        <key>offset</key>
        <string>{-317,356}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{581,618}}</string>
        <key>sourceSize</key>
        <string>{581,618}</string>
      </dict>
      <key>monster_12606_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1255},{566,621}}</string>
        <key>offset</key>
        <string>{-346,364}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{566,621}}</string>
        <key>sourceSize</key>
        <string>{566,621}</string>
      </dict>
      <key>monster_12606_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{480,0},{561,619}}</string>
        <key>offset</key>
        <string>{-341,363}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{561,619}}</string>
        <key>sourceSize</key>
        <string>{561,619}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_12606_0_1_1.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_12606_0_1_1.png</string>
    </dict>
  </dict>
</plist>