<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_12033_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{542,385},{99,111}}</string>
        <key>offset</key>
        <string>{-28,94}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,111}}</string>
        <key>sourceSize</key>
        <string>{99,111}</string>
      </dict>
      <key>monster_12033_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{304,695},{73,125}}</string>
        <key>offset</key>
        <string>{-10,120}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,125}}</string>
        <key>sourceSize</key>
        <string>{73,125}</string>
      </dict>
      <key>monster_12033_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{269,564},{70,129}}</string>
        <key>offset</key>
        <string>{-8,129}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,129}}</string>
        <key>sourceSize</key>
        <string>{70,129}</string>
      </dict>
      <key>monster_12033_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{89,605},{64,134}}</string>
        <key>offset</key>
        <string>{-4,147}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,134}}</string>
        <key>sourceSize</key>
        <string>{64,134}</string>
      </dict>
      <key>monster_12033_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{515,867},{95,93}}</string>
        <key>offset</key>
        <string>{-21,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,93}}</string>
        <key>sourceSize</key>
        <string>{95,93}</string>
      </dict>
      <key>monster_12033_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{534,518},{101,114}}</string>
        <key>offset</key>
        <string>{-31,114}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,114}}</string>
        <key>sourceSize</key>
        <string>{101,114}</string>
      </dict>
      <key>monster_12033_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{399,902},{114,118}}</string>
        <key>offset</key>
        <string>{-19,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,118}}</string>
        <key>sourceSize</key>
        <string>{114,118}</string>
      </dict>
      <key>monster_12033_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{231,431},{83,131}}</string>
        <key>offset</key>
        <string>{-30,122}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,131}}</string>
        <key>sourceSize</key>
        <string>{83,131}</string>
      </dict>
      <key>monster_12033_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{281,133},{77,130}}</string>
        <key>offset</key>
        <string>{-4,123}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,130}}</string>
        <key>sourceSize</key>
        <string>{77,130}</string>
      </dict>
      <key>monster_12033_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,880},{117,134}}</string>
        <key>offset</key>
        <string>{-12,135}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,134}}</string>
        <key>sourceSize</key>
        <string>{117,134}</string>
      </dict>
      <key>monster_12033_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{613,0},{107,94}}</string>
        <key>offset</key>
        <string>{-15,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,94}}</string>
        <key>sourceSize</key>
        <string>{107,94}</string>
      </dict>
      <key>monster_12033_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{199,138},{80,131}}</string>
        <key>offset</key>
        <string>{-3,109}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,131}}</string>
        <key>sourceSize</key>
        <string>{80,131}</string>
      </dict>
      <key>monster_12033_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{201,0},{131,101}}</string>
        <key>offset</key>
        <string>{-23,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,101}}</string>
        <key>sourceSize</key>
        <string>{131,101}</string>
      </dict>
      <key>monster_12033_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{341,534},{106,123}}</string>
        <key>offset</key>
        <string>{-45,117}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,123}}</string>
        <key>sourceSize</key>
        <string>{106,123}</string>
      </dict>
      <key>monster_12033_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{443,395},{97,121}}</string>
        <key>offset</key>
        <string>{-23,114}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,121}}</string>
        <key>sourceSize</key>
        <string>{97,121}</string>
      </dict>
      <key>monster_12033_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{316,404},{125,128}}</string>
        <key>offset</key>
        <string>{-5,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,128}}</string>
        <key>sourceSize</key>
        <string>{125,128}</string>
      </dict>
      <key>monster_12033_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{201,724},{133,101}}</string>
        <key>offset</key>
        <string>{-12,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,101}}</string>
        <key>sourceSize</key>
        <string>{133,101}</string>
      </dict>
      <key>monster_12033_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{449,262},{104,121}}</string>
        <key>offset</key>
        <string>{-13,91}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,121}}</string>
        <key>sourceSize</key>
        <string>{104,121}</string>
      </dict>
      <key>monster_12033_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{342,265},{128,105}}</string>
        <key>offset</key>
        <string>{-28,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,105}}</string>
        <key>sourceSize</key>
        <string>{128,105}</string>
      </dict>
      <key>monster_12033_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{555,251},{94,110}}</string>
        <key>offset</key>
        <string>{-32,113}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,110}}</string>
        <key>sourceSize</key>
        <string>{94,110}</string>
      </dict>
      <key>monster_12033_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{411,0},{86,126}}</string>
        <key>offset</key>
        <string>{-17,125}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,126}}</string>
        <key>sourceSize</key>
        <string>{86,126}</string>
      </dict>
      <key>monster_12033_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{499,0},{112,120}}</string>
        <key>offset</key>
        <string>{-5,90}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,120}}</string>
        <key>sourceSize</key>
        <string>{112,120}</string>
      </dict>
      <key>monster_12033_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{157,297},{105,132}}</string>
        <key>offset</key>
        <string>{-8,88}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,132}}</string>
        <key>sourceSize</key>
        <string>{105,132}</string>
      </dict>
      <key>monster_12033_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{229,859},{102,126}}</string>
        <key>offset</key>
        <string>{-11,95}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,126}}</string>
        <key>sourceSize</key>
        <string>{102,126}</string>
      </dict>
      <key>monster_12033_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{495,640},{99,117}}</string>
        <key>offset</key>
        <string>{-19,77}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,117}}</string>
        <key>sourceSize</key>
        <string>{99,117}</string>
      </dict>
      <key>monster_12033_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,271},{76,131}}</string>
        <key>offset</key>
        <string>{-14,131}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,131}}</string>
        <key>sourceSize</key>
        <string>{76,131}</string>
      </dict>
      <key>monster_12033_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,309},{70,147}}</string>
        <key>offset</key>
        <string>{-10,143}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,147}}</string>
        <key>sourceSize</key>
        <string>{70,147}</string>
      </dict>
      <key>monster_12033_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{333,822},{64,120}}</string>
        <key>offset</key>
        <string>{-8,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,120}}</string>
        <key>sourceSize</key>
        <string>{64,120}</string>
      </dict>
      <key>monster_12033_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{95,153}}</string>
        <key>offset</key>
        <string>{-22,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,153}}</string>
        <key>sourceSize</key>
        <string>{95,153}</string>
      </dict>
      <key>monster_12033_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,741},{101,134}}</string>
        <key>offset</key>
        <string>{-18,96}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,134}}</string>
        <key>sourceSize</key>
        <string>{101,134}</string>
      </dict>
      <key>monster_12033_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{379,659},{114,120}}</string>
        <key>offset</key>
        <string>{-43,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,120}}</string>
        <key>sourceSize</key>
        <string>{114,120}</string>
      </dict>
      <key>monster_12033_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{449,518},{83,120}}</string>
        <key>offset</key>
        <string>{-1,122}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,120}}</string>
        <key>sourceSize</key>
        <string>{83,120}</string>
      </dict>
      <key>monster_12033_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,155},{78,152}}</string>
        <key>offset</key>
        <string>{-22,146}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,152}}</string>
        <key>sourceSize</key>
        <string>{78,152}</string>
      </dict>
      <key>monster_12033_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,155},{117,140}}</string>
        <key>offset</key>
        <string>{-53,98}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,140}}</string>
        <key>sourceSize</key>
        <string>{117,140}</string>
      </dict>
      <key>monster_12033_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{119,877},{108,134}}</string>
        <key>offset</key>
        <string>{-40,83}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,134}}</string>
        <key>sourceSize</key>
        <string>{108,134}</string>
      </dict>
      <key>monster_12033_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{72,309},{83,141}}</string>
        <key>offset</key>
        <string>{-26,94}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,141}}</string>
        <key>sourceSize</key>
        <string>{83,141}</string>
      </dict>
      <key>monster_12033_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{97,0},{136,102}}</string>
        <key>offset</key>
        <string>{-56,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,102}}</string>
        <key>sourceSize</key>
        <string>{136,102}</string>
      </dict>
      <key>monster_12033_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{569,122},{106,108}}</string>
        <key>offset</key>
        <string>{-9,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,108}}</string>
        <key>sourceSize</key>
        <string>{106,108}</string>
      </dict>
      <key>monster_12033_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,743},{96,135}}</string>
        <key>offset</key>
        <string>{-22,132}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,135}}</string>
        <key>sourceSize</key>
        <string>{96,135}</string>
      </dict>
      <key>monster_12033_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,458},{126,145}}</string>
        <key>offset</key>
        <string>{-68,123}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,145}}</string>
        <key>sourceSize</key>
        <string>{126,145}</string>
      </dict>
      <key>monster_12033_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,452},{134,101}}</string>
        <key>offset</key>
        <string>{-70,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,101}}</string>
        <key>sourceSize</key>
        <string>{134,101}</string>
      </dict>
      <key>monster_12033_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{304,0},{105,130}}</string>
        <key>offset</key>
        <string>{-40,89}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,130}}</string>
        <key>sourceSize</key>
        <string>{105,130}</string>
      </dict>
      <key>monster_12033_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{360,132},{128,102}}</string>
        <key>offset</key>
        <string>{-48,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,102}}</string>
        <key>sourceSize</key>
        <string>{128,102}</string>
      </dict>
      <key>monster_12033_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{399,781},{94,119}}</string>
        <key>offset</key>
        <string>{-10,117}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,119}}</string>
        <key>sourceSize</key>
        <string>{94,119}</string>
      </dict>
      <key>monster_12033_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,605},{87,136}}</string>
        <key>offset</key>
        <string>{-18,130}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,136}}</string>
        <key>sourceSize</key>
        <string>{87,136}</string>
      </dict>
      <key>monster_12033_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{155,588},{112,134}}</string>
        <key>offset</key>
        <string>{-55,140}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,134}}</string>
        <key>sourceSize</key>
        <string>{112,134}</string>
      </dict>
      <key>monster_12033_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{495,759},{106,90}}</string>
        <key>offset</key>
        <string>{-45,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,90}}</string>
        <key>sourceSize</key>
        <string>{106,90}</string>
      </dict>
      <key>monster_12033_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{464,128},{103,121}}</string>
        <key>offset</key>
        <string>{-40,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,121}}</string>
        <key>sourceSize</key>
        <string>{103,121}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_12033_0_2.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>monster_12033_0_2.png</string>
    </dict>
  </dict>
</plist>