<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16357_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{995,475},{130,143}}</string>
        <key>offset</key>
        <string>{-12,102}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,143}}</string>
        <key>sourceSize</key>
        <string>{130,143}</string>
      </dict>
      <key>monster_16357_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1085,327},{136,142}}</string>
        <key>offset</key>
        <string>{-28,84}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,142}}</string>
        <key>sourceSize</key>
        <string>{136,142}</string>
      </dict>
      <key>monster_16357_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,641},{196,193}}</string>
        <key>offset</key>
        <string>{-35,163}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,193}}</string>
        <key>sourceSize</key>
        <string>{196,193}</string>
      </dict>
      <key>monster_16357_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{669,725},{106,162}}</string>
        <key>offset</key>
        <string>{-27,133}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,162}}</string>
        <key>sourceSize</key>
        <string>{106,162}</string>
      </dict>
      <key>monster_16357_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{696,176},{96,167}}</string>
        <key>offset</key>
        <string>{-28,138}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,167}}</string>
        <key>sourceSize</key>
        <string>{96,167}</string>
      </dict>
      <key>monster_16357_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1091,157},{132,140}}</string>
        <key>offset</key>
        <string>{-32,108}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,140}}</string>
        <key>sourceSize</key>
        <string>{132,140}</string>
      </dict>
      <key>monster_16357_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{739,532},{121,160}}</string>
        <key>offset</key>
        <string>{-17,95}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,160}}</string>
        <key>sourceSize</key>
        <string>{121,160}</string>
      </dict>
      <key>monster_16357_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,189},{182,120}}</string>
        <key>offset</key>
        <string>{-49,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,120}}</string>
        <key>sourceSize</key>
        <string>{182,120}</string>
      </dict>
      <key>monster_16357_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{339,839},{186,183}}</string>
        <key>offset</key>
        <string>{-7,143}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{186,183}}</string>
        <key>sourceSize</key>
        <string>{186,183}</string>
      </dict>
      <key>monster_16357_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{357,0},{187,141}}</string>
        <key>offset</key>
        <string>{-11,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{187,141}}</string>
        <key>sourceSize</key>
        <string>{187,141}</string>
      </dict>
      <key>monster_16357_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{282,209},{190,140}}</string>
        <key>offset</key>
        <string>{-6,101}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{190,140}}</string>
        <key>sourceSize</key>
        <string>{190,140}</string>
      </dict>
      <key>monster_16357_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1067,0},{155,139}}</string>
        <key>offset</key>
        <string>{-7,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,139}}</string>
        <key>sourceSize</key>
        <string>{155,139}</string>
      </dict>
      <key>monster_16357_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{807,342},{137,160}}</string>
        <key>offset</key>
        <string>{-26,84}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,160}}</string>
        <key>sourceSize</key>
        <string>{137,160}</string>
      </dict>
      <key>monster_16357_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{504,587},{176,119}}</string>
        <key>offset</key>
        <string>{-47,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,119}}</string>
        <key>sourceSize</key>
        <string>{176,119}</string>
      </dict>
      <key>monster_16357_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{511,373},{176,160}}</string>
        <key>offset</key>
        <string>{5,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,160}}</string>
        <key>sourceSize</key>
        <string>{176,160}</string>
      </dict>
      <key>monster_16357_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,470},{218,112}}</string>
        <key>offset</key>
        <string>{5,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{218,112}}</string>
        <key>sourceSize</key>
        <string>{218,112}</string>
      </dict>
      <key>monster_16357_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{79,0},{224,112}}</string>
        <key>offset</key>
        <string>{6,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{224,112}}</string>
        <key>sourceSize</key>
        <string>{224,112}</string>
      </dict>
      <key>monster_16357_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{921,653},{145,135}}</string>
        <key>offset</key>
        <string>{-1,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,135}}</string>
        <key>sourceSize</key>
        <string>{145,135}</string>
      </dict>
      <key>monster_16357_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{941,165},{160,148}}</string>
        <key>offset</key>
        <string>{-51,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,148}}</string>
        <key>sourceSize</key>
        <string>{160,148}</string>
      </dict>
      <key>monster_16357_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{862,504},{147,131}}</string>
        <key>offset</key>
        <string>{-60,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,131}}</string>
        <key>sourceSize</key>
        <string>{147,131}</string>
      </dict>
      <key>monster_16357_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{527,765},{140,172}}</string>
        <key>offset</key>
        <string>{-14,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,172}}</string>
        <key>sourceSize</key>
        <string>{140,172}</string>
      </dict>
      <key>monster_16357_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,0},{180,163}}</string>
        <key>offset</key>
        <string>{-8,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,163}}</string>
        <key>sourceSize</key>
        <string>{180,163}</string>
      </dict>
      <key>monster_16357_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{339,631},{186,163}}</string>
        <key>offset</key>
        <string>{-8,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{186,163}}</string>
        <key>sourceSize</key>
        <string>{186,163}</string>
      </dict>
      <key>monster_16357_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{946,327},{137,146}}</string>
        <key>offset</key>
        <string>{-22,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,146}}</string>
        <key>sourceSize</key>
        <string>{137,146}</string>
      </dict>
      <key>monster_16357_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{669,889},{161,128}}</string>
        <key>offset</key>
        <string>{-71,82}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,128}}</string>
        <key>sourceSize</key>
        <string>{161,128}</string>
      </dict>
      <key>monster_16357_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1208,0},{137,138}}</string>
        <key>offset</key>
        <string>{-48,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,138}}</string>
        <key>sourceSize</key>
        <string>{137,138}</string>
      </dict>
      <key>monster_16357_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,438},{144,191}}</string>
        <key>offset</key>
        <string>{-45,122}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,191}}</string>
        <key>sourceSize</key>
        <string>{144,191}</string>
      </dict>
      <key>monster_16357_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{625,551},{112,172}}</string>
        <key>offset</key>
        <string>{-11,29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,172}}</string>
        <key>sourceSize</key>
        <string>{112,172}</string>
      </dict>
      <key>monster_16357_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,401},{113,184}}</string>
        <key>offset</key>
        <string>{-11,38}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,184}}</string>
        <key>sourceSize</key>
        <string>{113,184}</string>
      </dict>
      <key>monster_16357_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{777,694},{153,142}}</string>
        <key>offset</key>
        <string>{-47,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,142}}</string>
        <key>sourceSize</key>
        <string>{153,142}</string>
      </dict>
      <key>monster_16357_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{951,800},{138,130}}</string>
        <key>offset</key>
        <string>{-52,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,130}}</string>
        <key>sourceSize</key>
        <string>{138,130}</string>
      </dict>
      <key>monster_16357_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{546,182},{175,148}}</string>
        <key>offset</key>
        <string>{-66,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{175,148}}</string>
        <key>sourceSize</key>
        <string>{175,148}</string>
      </dict>
      <key>monster_16357_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{193,0},{162,207}}</string>
        <key>offset</key>
        <string>{-83,143}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,207}}</string>
        <key>sourceSize</key>
        <string>{162,207}</string>
      </dict>
      <key>monster_16357_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{114,438},{201,134}}</string>
        <key>offset</key>
        <string>{-129,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{201,134}}</string>
        <key>sourceSize</key>
        <string>{201,134}</string>
      </dict>
      <key>monster_16357_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,690},{206,142}}</string>
        <key>offset</key>
        <string>{-133,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,142}}</string>
        <key>sourceSize</key>
        <string>{206,142}</string>
      </dict>
      <key>monster_16357_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,0},{163,129}}</string>
        <key>offset</key>
        <string>{-88,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,129}}</string>
        <key>sourceSize</key>
        <string>{163,129}</string>
      </dict>
      <key>monster_16357_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1127,471},{128,128}}</string>
        <key>offset</key>
        <string>{-34,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>monster_16357_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{931,0},{163,134}}</string>
        <key>offset</key>
        <string>{-63,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,134}}</string>
        <key>sourceSize</key>
        <string>{163,134}</string>
      </dict>
      <key>monster_16357_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,226},{182,210}}</string>
        <key>offset</key>
        <string>{-86,162}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,210}}</string>
        <key>sourceSize</key>
        <string>{182,210}</string>
      </dict>
      <key>monster_16357_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,238},{230,96}}</string>
        <key>offset</key>
        <string>{-174,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{230,96}}</string>
        <key>sourceSize</key>
        <string>{230,96}</string>
      </dict>
      <key>monster_16357_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{236,77}}</string>
        <key>offset</key>
        <string>{-177,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{236,77}}</string>
        <key>sourceSize</key>
        <string>{236,77}</string>
      </dict>
      <key>monster_16357_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{832,849},{149,117}}</string>
        <key>offset</key>
        <string>{-90,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,117}}</string>
        <key>sourceSize</key>
        <string>{149,117}</string>
      </dict>
      <key>monster_16357_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1058,620},{131,135}}</string>
        <key>offset</key>
        <string>{-31,100}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,135}}</string>
        <key>sourceSize</key>
        <string>{131,135}</string>
      </dict>
      <key>monster_16357_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{794,176},{164,145}}</string>
        <key>offset</key>
        <string>{-46,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,145}}</string>
        <key>sourceSize</key>
        <string>{164,145}</string>
      </dict>
      <key>monster_16357_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,839},{181,193}}</string>
        <key>offset</key>
        <string>{-54,166}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,193}}</string>
        <key>sourceSize</key>
        <string>{181,193}</string>
      </dict>
      <key>monster_16357_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{673,359},{171,132}}</string>
        <key>offset</key>
        <string>{-122,101}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,132}}</string>
        <key>sourceSize</key>
        <string>{171,132}</string>
      </dict>
      <key>monster_16357_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{665,0},{174,133}}</string>
        <key>offset</key>
        <string>{-124,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,133}}</string>
        <key>sourceSize</key>
        <string>{174,133}</string>
      </dict>
      <key>monster_16357_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,898},{125,121}}</string>
        <key>offset</key>
        <string>{-46,96}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,121}}</string>
        <key>sourceSize</key>
        <string>{125,121}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16357_0_2.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>monster_16357_0_2.png</string>
    </dict>
  </dict>
</plist>