<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16203_0_7_0_0000.png</key>
      <dict>
        <key>offset</key>
        <string>{-22,110}</string>
        <key>frame</key>
        <string>{{304,412},{92,142}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{92,142}}</string>
        <key>sourceSize</key>
        <string>{92,142}</string>
        <key>rotated</key>
        <true />
      </dict>
      <key>monster_16203_0_7_0_0001.png</key>
      <dict>
        <key>offset</key>
        <string>{-22,110}</string>
        <key>frame</key>
        <string>{{448,412},{91,142}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{91,142}}</string>
        <key>sourceSize</key>
        <string>{91,142}</string>
        <key>rotated</key>
        <true />
      </dict>
      <key>monster_16203_0_7_1_0000.png</key>
      <dict>
        <key>offset</key>
        <string>{-26,113}</string>
        <key>frame</key>
        <string>{{156,283},{127,151}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{127,151}}</string>
        <key>sourceSize</key>
        <string>{127,151}</string>
        <key>rotated</key>
        <true />
      </dict>
      <key>monster_16203_0_7_1_0001.png</key>
      <dict>
        <key>offset</key>
        <string>{-27,112}</string>
        <key>frame</key>
        <string>{{0,412},{128,150}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,150}}</string>
        <key>sourceSize</key>
        <string>{128,150}</string>
        <key>rotated</key>
        <true />
      </dict>
      <key>monster_16203_0_7_2_0000.png</key>
      <dict>
        <key>offset</key>
        <string>{-8,118}</string>
        <key>frame</key>
        <string>{{0,179},{102,155}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{102,155}}</string>
        <key>sourceSize</key>
        <string>{102,155}</string>
        <key>rotated</key>
        <true />
      </dict>
      <key>monster_16203_0_7_2_0001.png</key>
      <dict>
        <key>offset</key>
        <string>{-8,117}</string>
        <key>frame</key>
        <string>{{314,179},{102,154}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{102,154}}</string>
        <key>sourceSize</key>
        <string>{102,154}</string>
        <key>rotated</key>
        <true />
      </dict>
      <key>monster_16203_0_7_3_0000.png</key>
      <dict>
        <key>offset</key>
        <string>{-22,122}</string>
        <key>frame</key>
        <string>{{0,0},{82,172}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,172}}</string>
        <key>sourceSize</key>
        <string>{82,172}</string>
        <key>rotated</key>
        <true />
      </dict>
      <key>monster_16203_0_7_3_0001.png</key>
      <dict>
        <key>offset</key>
        <string>{-22,122}</string>
        <key>frame</key>
        <string>{{174,0},{82,172}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,172}}</string>
        <key>sourceSize</key>
        <string>{82,172}</string>
        <key>rotated</key>
        <true />
      </dict>
      <key>monster_16203_0_7_4_0000.png</key>
      <dict>
        <key>offset</key>
        <string>{-21,124}</string>
        <key>frame</key>
        <string>{{174,84},{93,169}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,169}}</string>
        <key>sourceSize</key>
        <string>{93,169}</string>
        <key>rotated</key>
        <true />
      </dict>
      <key>monster_16203_0_7_4_0001.png</key>
      <dict>
        <key>offset</key>
        <string>{-20,123}</string>
        <key>frame</key>
        <string>{{345,84},{92,168}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{92,168}}</string>
        <key>sourceSize</key>
        <string>{92,168}</string>
        <key>rotated</key>
        <true />
      </dict>
      <key>monster_16203_0_7_5_0000.png</key>
      <dict>
        <key>offset</key>
        <string>{-4,122}</string>
        <key>frame</key>
        <string>{{348,0},{82,172}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,172}}</string>
        <key>sourceSize</key>
        <string>{82,172}</string>
        <key>rotated</key>
        <true />
      </dict>
      <key>monster_16203_0_7_5_0001.png</key>
      <dict>
        <key>offset</key>
        <string>{-4,122}</string>
        <key>frame</key>
        <string>{{0,84},{82,172}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,172}}</string>
        <key>sourceSize</key>
        <string>{82,172}</string>
        <key>rotated</key>
        <true />
      </dict>
      <key>monster_16203_0_7_6_0000.png</key>
      <dict>
        <key>offset</key>
        <string>{-42,118}</string>
        <key>frame</key>
        <string>{{157,179},{102,155}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{102,155}}</string>
        <key>sourceSize</key>
        <string>{102,155}</string>
        <key>rotated</key>
        <true />
      </dict>
      <key>monster_16203_0_7_6_0001.png</key>
      <dict>
        <key>offset</key>
        <string>{-42,117}</string>
        <key>frame</key>
        <string>{{0,283},{102,154}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{102,154}}</string>
        <key>sourceSize</key>
        <string>{102,154}</string>
        <key>rotated</key>
        <true />
      </dict>
      <key>monster_16203_0_7_7_0000.png</key>
      <dict>
        <key>offset</key>
        <string>{-49,121}</string>
        <key>frame</key>
        <string>{{309,283},{127,151}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{127,151}}</string>
        <key>sourceSize</key>
        <string>{127,151}</string>
        <key>rotated</key>
        <true />
      </dict>
      <key>monster_16203_0_7_7_0001.png</key>
      <dict>
        <key>offset</key>
        <string>{-49,120}</string>
        <key>frame</key>
        <string>{{152,412},{128,150}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,150}}</string>
        <key>sourceSize</key>
        <string>{128,150}</string>
        <key>rotated</key>
        <true />
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16203_0_7.png</string>
      <key>textureFileName</key>
      <string>monster_16203_0_7.png</string>
      <key>size</key>
      <string>{592,542}</string>
    </dict>
  </dict>
</plist>