<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_10104_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{695,150},{85,131}}</string>
        <key>offset</key>
        <string>{-15,94}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,131}}</string>
        <key>sourceSize</key>
        <string>{85,131}</string>
      </dict>
      <key>monster_10104_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,0},{77,201}}</string>
        <key>offset</key>
        <string>{-14,164}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,201}}</string>
        <key>sourceSize</key>
        <string>{77,201}</string>
      </dict>
      <key>monster_10104_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,940},{75,187}}</string>
        <key>offset</key>
        <string>{-12,153}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,187}}</string>
        <key>sourceSize</key>
        <string>{75,187}</string>
      </dict>
      <key>monster_10104_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{296,730},{95,151}}</string>
        <key>offset</key>
        <string>{-24,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,151}}</string>
        <key>sourceSize</key>
        <string>{95,151}</string>
      </dict>
      <key>monster_10104_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,656},{208,123}}</string>
        <key>offset</key>
        <string>{-82,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,123}}</string>
        <key>sourceSize</key>
        <string>{208,123}</string>
      </dict>
      <key>monster_10104_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{577,933},{85,131}}</string>
        <key>offset</key>
        <string>{-15,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,131}}</string>
        <key>sourceSize</key>
        <string>{85,131}</string>
      </dict>
      <key>monster_10104_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{449,661},{86,134}}</string>
        <key>offset</key>
        <string>{-9,94}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,134}}</string>
        <key>sourceSize</key>
        <string>{86,134}</string>
      </dict>
      <key>monster_10104_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,866},{82,198}}</string>
        <key>offset</key>
        <string>{-9,158}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,198}}</string>
        <key>sourceSize</key>
        <string>{82,198}</string>
      </dict>
      <key>monster_10104_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{263,203},{87,193}}</string>
        <key>offset</key>
        <string>{-27,154}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,193}}</string>
        <key>sourceSize</key>
        <string>{87,193}</string>
      </dict>
      <key>monster_10104_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{566,0},{132,148}}</string>
        <key>offset</key>
        <string>{-15,101}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,148}}</string>
        <key>sourceSize</key>
        <string>{132,148}</string>
      </dict>
      <key>monster_10104_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{397,365},{152,122}}</string>
        <key>offset</key>
        <string>{-35,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,122}}</string>
        <key>sourceSize</key>
        <string>{152,122}</string>
      </dict>
      <key>monster_10104_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{537,661},{86,134}}</string>
        <key>offset</key>
        <string>{-9,94}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,134}}</string>
        <key>sourceSize</key>
        <string>{86,134}</string>
      </dict>
      <key>monster_10104_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,0},{112,130}}</string>
        <key>offset</key>
        <string>{-9,90}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,130}}</string>
        <key>sourceSize</key>
        <string>{112,130}</string>
      </dict>
      <key>monster_10104_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{275,0},{95,190}}</string>
        <key>offset</key>
        <string>{-4,150}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,190}}</string>
        <key>sourceSize</key>
        <string>{95,190}</string>
      </dict>
      <key>monster_10104_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{155,211},{106,202}}</string>
        <key>offset</key>
        <string>{-32,162}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,202}}</string>
        <key>sourceSize</key>
        <string>{106,202}</string>
      </dict>
      <key>monster_10104_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{284,398},{175,111}}</string>
        <key>offset</key>
        <string>{-12,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{175,111}}</string>
        <key>sourceSize</key>
        <string>{175,111}</string>
      </dict>
      <key>monster_10104_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{640,285},{102,132}}</string>
        <key>offset</key>
        <string>{-17,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,132}}</string>
        <key>sourceSize</key>
        <string>{102,132}</string>
      </dict>
      <key>monster_10104_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{814,0},{112,130}}</string>
        <key>offset</key>
        <string>{-9,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,130}}</string>
        <key>sourceSize</key>
        <string>{112,130}</string>
      </dict>
      <key>monster_10104_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{744,283},{126,123}}</string>
        <key>offset</key>
        <string>{-23,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,123}}</string>
        <key>sourceSize</key>
        <string>{126,123}</string>
      </dict>
      <key>monster_10104_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,839},{99,189}}</string>
        <key>offset</key>
        <string>{-10,151}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,189}}</string>
        <key>sourceSize</key>
        <string>{99,189}</string>
      </dict>
      <key>monster_10104_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{79,221},{74,213}}</string>
        <key>offset</key>
        <string>{-6,175}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,213}}</string>
        <key>sourceSize</key>
        <string>{74,213}</string>
      </dict>
      <key>monster_10104_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{391,827},{149,93}}</string>
        <key>offset</key>
        <string>{-19,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,93}}</string>
        <key>sourceSize</key>
        <string>{149,93}</string>
      </dict>
      <key>monster_10104_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{467,156},{149,108}}</string>
        <key>offset</key>
        <string>{-42,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,108}}</string>
        <key>sourceSize</key>
        <string>{149,108}</string>
      </dict>
      <key>monster_10104_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{869,208},{126,123}}</string>
        <key>offset</key>
        <string>{-23,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,123}}</string>
        <key>sourceSize</key>
        <string>{126,123}</string>
      </dict>
      <key>monster_10104_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{625,710},{83,121}}</string>
        <key>offset</key>
        <string>{-15,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,121}}</string>
        <key>sourceSize</key>
        <string>{83,121}</string>
      </dict>
      <key>monster_10104_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{389,940},{78,186}}</string>
        <key>offset</key>
        <string>{-11,147}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,186}}</string>
        <key>sourceSize</key>
        <string>{78,186}</string>
      </dict>
      <key>monster_10104_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,221},{77,216}}</string>
        <key>offset</key>
        <string>{-11,177}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,216}}</string>
        <key>sourceSize</key>
        <string>{77,216}</string>
      </dict>
      <key>monster_10104_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{710,918},{94,93}}</string>
        <key>offset</key>
        <string>{-18,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,93}}</string>
        <key>sourceSize</key>
        <string>{94,93}</string>
      </dict>
      <key>monster_10104_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,439},{215,85}}</string>
        <key>offset</key>
        <string>{-77,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{215,85}}</string>
        <key>sourceSize</key>
        <string>{215,85}</string>
      </dict>
      <key>monster_10104_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{661,795},{83,121}}</string>
        <key>offset</key>
        <string>{-15,82}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,121}}</string>
        <key>sourceSize</key>
        <string>{83,121}</string>
      </dict>
      <key>monster_10104_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{814,114},{92,130}}</string>
        <key>offset</key>
        <string>{-30,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,130}}</string>
        <key>sourceSize</key>
        <string>{92,130}</string>
      </dict>
      <key>monster_10104_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{206,611},{88,188}}</string>
        <key>offset</key>
        <string>{-26,143}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,188}}</string>
        <key>sourceSize</key>
        <string>{88,188}</string>
      </dict>
      <key>monster_10104_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{84,219}}</string>
        <key>offset</key>
        <string>{-10,174}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,219}}</string>
        <key>sourceSize</key>
        <string>{84,219}</string>
      </dict>
      <key>monster_10104_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{372,0},{158,90}}</string>
        <key>offset</key>
        <string>{-91,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,90}}</string>
        <key>sourceSize</key>
        <string>{158,90}</string>
      </dict>
      <key>monster_10104_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{464,0},{154,100}}</string>
        <key>offset</key>
        <string>{-51,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,100}}</string>
        <key>sourceSize</key>
        <string>{154,100}</string>
      </dict>
      <key>monster_10104_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{625,578},{92,130}}</string>
        <key>offset</key>
        <string>{-30,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,130}}</string>
        <key>sourceSize</key>
        <string>{92,130}</string>
      </dict>
      <key>monster_10104_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{577,150},{116,133}}</string>
        <key>offset</key>
        <string>{-57,91}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,133}}</string>
        <key>sourceSize</key>
        <string>{116,133}</string>
      </dict>
      <key>monster_10104_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{185,415},{97,194}}</string>
        <key>offset</key>
        <string>{-41,153}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,194}}</string>
        <key>sourceSize</key>
        <string>{97,194}</string>
      </dict>
      <key>monster_10104_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,0},{108,209}}</string>
        <key>offset</key>
        <string>{-22,168}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,209}}</string>
        <key>sourceSize</key>
        <string>{108,209}</string>
      </dict>
      <key>monster_10104_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{352,192},{171,113}}</string>
        <key>offset</key>
        <string>{-108,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,113}}</string>
        <key>sourceSize</key>
        <string>{171,113}</string>
      </dict>
      <key>monster_10104_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{663,419},{100,129}}</string>
        <key>offset</key>
        <string>{-32,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,129}}</string>
        <key>sourceSize</key>
        <string>{100,129}</string>
      </dict>
      <key>monster_10104_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{545,443},{116,133}}</string>
        <key>offset</key>
        <string>{-57,91}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,133}}</string>
        <key>sourceSize</key>
        <string>{116,133}</string>
      </dict>
      <key>monster_10104_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{542,797},{117,134}}</string>
        <key>offset</key>
        <string>{-43,94}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,134}}</string>
        <key>sourceSize</key>
        <string>{117,134}</string>
      </dict>
      <key>monster_10104_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{87,436},{96,203}}</string>
        <key>offset</key>
        <string>{-34,163}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,203}}</string>
        <key>sourceSize</key>
        <string>{96,203}</string>
      </dict>
      <key>monster_10104_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{125,641},{79,196}}</string>
        <key>offset</key>
        <string>{-17,159}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,196}}</string>
        <key>sourceSize</key>
        <string>{79,196}</string>
      </dict>
      <key>monster_10104_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{418,519},{125,140}}</string>
        <key>offset</key>
        <string>{-55,98}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,140}}</string>
        <key>sourceSize</key>
        <string>{125,140}</string>
      </dict>
      <key>monster_10104_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{296,575},{153,120}}</string>
        <key>offset</key>
        <string>{-71,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,120}}</string>
        <key>sourceSize</key>
        <string>{153,120}</string>
      </dict>
      <key>monster_10104_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{521,307},{117,134}}</string>
        <key>offset</key>
        <string>{-43,94}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,134}}</string>
        <key>sourceSize</key>
        <string>{117,134}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_10104_0_2.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>monster_10104_0_2.png</string>
    </dict>
  </dict>
</plist>