<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16514_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{230,279}}</string>
        <key>offset</key>
        <string>{-14,234}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{230,279}}</string>
        <key>sourceSize</key>
        <string>{230,279}</string>
      </dict>
      <key>monster_16514_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,0},{250,277}}</string>
        <key>offset</key>
        <string>{-54,232}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{250,277}}</string>
        <key>sourceSize</key>
        <string>{250,277}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16514_0_7_6.png</string>
      <key>size</key>
      <string>{509,385}</string>
      <key>textureFileName</key>
      <string>monster_16514_0_7_6.png</string>
    </dict>
  </dict>
</plist>