<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16356_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1362,468},{134,229}}</string>
        <key>offset</key>
        <string>{-13,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,229}}</string>
        <key>sourceSize</key>
        <string>{134,229}</string>
      </dict>
      <key>monster_16356_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1498,459},{140,216}}</string>
        <key>offset</key>
        <string>{-10,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,216}}</string>
        <key>sourceSize</key>
        <string>{140,216}</string>
      </dict>
      <key>monster_16356_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1819,1006},{179,180}}</string>
        <key>offset</key>
        <string>{-31,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{179,180}}</string>
        <key>sourceSize</key>
        <string>{179,180}</string>
      </dict>
      <key>monster_16356_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1187,757},{108,235}}</string>
        <key>offset</key>
        <string>{-10,120}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,235}}</string>
        <key>sourceSize</key>
        <string>{108,235}</string>
      </dict>
      <key>monster_16356_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{265,0},{117,288}}</string>
        <key>offset</key>
        <string>{-23,181}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,288}}</string>
        <key>sourceSize</key>
        <string>{117,288}</string>
      </dict>
      <key>monster_16356_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{296,290},{117,288}}</string>
        <key>offset</key>
        <string>{-23,181}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,288}}</string>
        <key>sourceSize</key>
        <string>{117,288}</string>
      </dict>
      <key>monster_16356_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{677,832},{263,178}}</string>
        <key>offset</key>
        <string>{-80,75}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{263,178}}</string>
        <key>sourceSize</key>
        <string>{263,178}</string>
      </dict>
      <key>monster_16356_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{559,0},{279,179}}</string>
        <key>offset</key>
        <string>{-94,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{279,179}}</string>
        <key>sourceSize</key>
        <string>{279,179}</string>
      </dict>
      <key>monster_16356_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{384,0},{286,173}}</string>
        <key>offset</key>
        <string>{-118,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{286,173}}</string>
        <key>sourceSize</key>
        <string>{286,173}</string>
      </dict>
      <key>monster_16356_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1010,515},{240,184}}</string>
        <key>offset</key>
        <string>{-70,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{240,184}}</string>
        <key>sourceSize</key>
        <string>{240,184}</string>
      </dict>
      <key>monster_16356_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1095,0},{232,232}}</string>
        <key>offset</key>
        <string>{-78,149}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{232,232}}</string>
        <key>sourceSize</key>
        <string>{232,232}</string>
      </dict>
      <key>monster_16356_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1191,234},{232,232}}</string>
        <key>offset</key>
        <string>{-78,149}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{232,232}}</string>
        <key>sourceSize</key>
        <string>{232,232}</string>
      </dict>
      <key>monster_16356_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{135,299},{295,159}}</string>
        <key>offset</key>
        <string>{-145,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{295,159}}</string>
        <key>sourceSize</key>
        <string>{295,159}</string>
      </dict>
      <key>monster_16356_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{586,281},{279,168}}</string>
        <key>offset</key>
        <string>{-146,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{279,168}}</string>
        <key>sourceSize</key>
        <string>{279,168}</string>
      </dict>
      <key>monster_16356_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1329,0},{232,185}}</string>
        <key>offset</key>
        <string>{-134,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{232,185}}</string>
        <key>sourceSize</key>
        <string>{232,185}</string>
      </dict>
      <key>monster_16356_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{352,840},{323,153}}</string>
        <key>offset</key>
        <string>{-139,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{323,153}}</string>
        <key>sourceSize</key>
        <string>{323,153}</string>
      </dict>
      <key>monster_16356_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,708},{350,130}}</string>
        <key>offset</key>
        <string>{-125,83}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{350,130}}</string>
        <key>sourceSize</key>
        <string>{350,130}</string>
      </dict>
      <key>monster_16356_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,840},{350,130}}</string>
        <key>offset</key>
        <string>{-125,83}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{350,130}}</string>
        <key>sourceSize</key>
        <string>{350,130}</string>
      </dict>
      <key>monster_16356_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1775,606},{202,200}}</string>
        <key>offset</key>
        <string>{-121,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{202,200}}</string>
        <key>sourceSize</key>
        <string>{202,200}</string>
      </dict>
      <key>monster_16356_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1820,403},{204,201}}</string>
        <key>offset</key>
        <string>{-128,114}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{204,201}}</string>
        <key>sourceSize</key>
        <string>{204,201}</string>
      </dict>
      <key>monster_16356_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1621,808},{199,196}}</string>
        <key>offset</key>
        <string>{-131,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{199,196}}</string>
        <key>sourceSize</key>
        <string>{199,196}</string>
      </dict>
      <key>monster_16356_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1611,223},{207,213}}</string>
        <key>offset</key>
        <string>{-115,108}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{207,213}}</string>
        <key>sourceSize</key>
        <string>{207,213}</string>
      </dict>
      <key>monster_16356_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{352,580},{281,169}}</string>
        <key>offset</key>
        <string>{-87,83}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{281,169}}</string>
        <key>sourceSize</key>
        <string>{281,169}</string>
      </dict>
      <key>monster_16356_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{415,288},{281,169}}</string>
        <key>offset</key>
        <string>{-87,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{281,169}}</string>
        <key>sourceSize</key>
        <string>{281,169}</string>
      </dict>
      <key>monster_16356_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1613,1009},{166,175}}</string>
        <key>offset</key>
        <string>{-77,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,175}}</string>
        <key>sourceSize</key>
        <string>{166,175}</string>
      </dict>
      <key>monster_16356_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{942,947},{172,167}}</string>
        <key>offset</key>
        <string>{-86,115}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{172,167}}</string>
        <key>sourceSize</key>
        <string>{172,167}</string>
      </dict>
      <key>monster_16356_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1819,808},{196,152}}</string>
        <key>offset</key>
        <string>{-101,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,152}}</string>
        <key>sourceSize</key>
        <string>{196,152}</string>
      </dict>
      <key>monster_16356_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1463,918},{148,191}}</string>
        <key>offset</key>
        <string>{-55,105}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,191}}</string>
        <key>sourceSize</key>
        <string>{148,191}</string>
      </dict>
      <key>monster_16356_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1895,0},{133,204}}</string>
        <key>offset</key>
        <string>{-34,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,204}}</string>
        <key>sourceSize</key>
        <string>{133,204}</string>
      </dict>
      <key>monster_16356_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1640,438},{133,204}}</string>
        <key>offset</key>
        <string>{-34,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,204}}</string>
        <key>sourceSize</key>
        <string>{133,204}</string>
      </dict>
      <key>monster_16356_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1050,245},{234,139}}</string>
        <key>offset</key>
        <string>{-113,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{234,139}}</string>
        <key>sourceSize</key>
        <string>{234,139}</string>
      </dict>
      <key>monster_16356_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{906,270},{243,142}}</string>
        <key>offset</key>
        <string>{-109,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{243,142}}</string>
        <key>sourceSize</key>
        <string>{243,142}</string>
      </dict>
      <key>monster_16356_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{756,270},{257,148}}</string>
        <key>offset</key>
        <string>{-99,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{257,148}}</string>
        <key>sourceSize</key>
        <string>{257,148}</string>
      </dict>
      <key>monster_16356_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{959,0},{243,134}}</string>
        <key>offset</key>
        <string>{-130,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{243,134}}</string>
        <key>sourceSize</key>
        <string>{243,134}</string>
      </dict>
      <key>monster_16356_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1196,468},{232,164}}</string>
        <key>offset</key>
        <string>{-114,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{232,164}}</string>
        <key>sourceSize</key>
        <string>{232,164}</string>
      </dict>
      <key>monster_16356_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1297,702},{232,164}}</string>
        <key>offset</key>
        <string>{-114,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{232,164}}</string>
        <key>sourceSize</key>
        <string>{232,164}</string>
      </dict>
      <key>monster_16356_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{854,529},{257,154}}</string>
        <key>offset</key>
        <string>{-72,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{257,154}}</string>
        <key>sourceSize</key>
        <string>{257,154}</string>
      </dict>
      <key>monster_16356_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{942,788},{243,157}}</string>
        <key>offset</key>
        <string>{-56,117}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{243,157}}</string>
        <key>sourceSize</key>
        <string>{243,157}</string>
      </dict>
      <key>monster_16356_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1463,699},{217,156}}</string>
        <key>offset</key>
        <string>{-29,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{217,156}}</string>
        <key>sourceSize</key>
        <string>{217,156}</string>
      </dict>
      <key>monster_16356_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{135,0},{297,128}}</string>
        <key>offset</key>
        <string>{-118,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{297,128}}</string>
        <key>sourceSize</key>
        <string>{297,128}</string>
      </dict>
      <key>monster_16356_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{352,133}}</string>
        <key>offset</key>
        <string>{-185,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{352,133}}</string>
        <key>sourceSize</key>
        <string>{352,133}</string>
      </dict>
      <key>monster_16356_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,354},{352,133}}</string>
        <key>offset</key>
        <string>{-185,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{352,133}}</string>
        <key>sourceSize</key>
        <string>{352,133}</string>
      </dict>
      <key>monster_16356_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1516,0},{181,221}}</string>
        <key>offset</key>
        <string>{-16,137}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,221}}</string>
        <key>sourceSize</key>
        <string>{181,221}</string>
      </dict>
      <key>monster_16356_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1425,234},{184,223}}</string>
        <key>offset</key>
        <string>{-10,132}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{184,223}}</string>
        <key>sourceSize</key>
        <string>{184,223}</string>
      </dict>
      <key>monster_16356_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1699,0},{194,212}}</string>
        <key>offset</key>
        <string>{-10,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{194,212}}</string>
        <key>sourceSize</key>
        <string>{194,212}</string>
      </dict>
      <key>monster_16356_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1820,214},{187,205}}</string>
        <key>offset</key>
        <string>{-26,128}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{187,205}}</string>
        <key>sourceSize</key>
        <string>{187,205}</string>
      </dict>
      <key>monster_16356_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{635,562},{268,217}}</string>
        <key>offset</key>
        <string>{-136,134}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{268,217}}</string>
        <key>sourceSize</key>
        <string>{268,217}</string>
      </dict>
      <key>monster_16356_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{740,0},{268,217}}</string>
        <key>offset</key>
        <string>{-136,134}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{268,217}}</string>
        <key>sourceSize</key>
        <string>{268,217}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16356_0_2.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_16356_0_2.png</string>
    </dict>
  </dict>
</plist>