<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_2154_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{388,1598},{376,308}}</string>
        <key>offset</key>
        <string>{-191,187}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{376,308}}</string>
        <key>sourceSize</key>
        <string>{376,308}</string>
      </dict>
      <key>monster_2154_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{397,1053},{390,258}}</string>
        <key>offset</key>
        <string>{-286,184}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{390,258}}</string>
        <key>sourceSize</key>
        <string>{390,258}</string>
      </dict>
      <key>monster_2154_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,533},{415,300}}</string>
        <key>offset</key>
        <string>{-316,219}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{415,300}}</string>
        <key>sourceSize</key>
        <string>{415,300}</string>
      </dict>
      <key>monster_2154_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{397,836},{391,215}}</string>
        <key>offset</key>
        <string>{-303,138}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{391,215}}</string>
        <key>sourceSize</key>
        <string>{391,215}</string>
      </dict>
      <key>monster_2154_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,835},{395,359}}</string>
        <key>offset</key>
        <string>{-298,291}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{395,359}}</string>
        <key>sourceSize</key>
        <string>{395,359}</string>
      </dict>
      <key>monster_2154_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1196},{390,202}}</string>
        <key>offset</key>
        <string>{-279,136}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{390,202}}</string>
        <key>sourceSize</key>
        <string>{390,202}</string>
      </dict>
      <key>monster_2154_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,325},{435,206}}</string>
        <key>offset</key>
        <string>{-194,138}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{435,206}}</string>
        <key>sourceSize</key>
        <string>{435,206}</string>
      </dict>
      <key>monster_2154_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{447,0},{439,434}}</string>
        <key>offset</key>
        <string>{-175,315}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{439,434}}</string>
        <key>sourceSize</key>
        <string>{439,434}</string>
      </dict>
      <key>monster_2154_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{392,1313},{386,283}}</string>
        <key>offset</key>
        <string>{-290,216}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{386,283}}</string>
        <key>sourceSize</key>
        <string>{386,283}</string>
      </dict>
      <key>monster_2154_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{323,445}}</string>
        <key>offset</key>
        <string>{-114,295}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{323,445}}</string>
        <key>sourceSize</key>
        <string>{323,445}</string>
      </dict>
      <key>monster_2154_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1400},{386,348}}</string>
        <key>offset</key>
        <string>{-157,220}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{386,348}}</string>
        <key>sourceSize</key>
        <string>{386,348}</string>
      </dict>
      <key>monster_2154_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{824,621},{361,198}}</string>
        <key>offset</key>
        <string>{-72,131}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{361,198}}</string>
        <key>sourceSize</key>
        <string>{361,198}</string>
      </dict>
      <key>monster_2154_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{437,436},{421,183}}</string>
        <key>offset</key>
        <string>{-234,121}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{421,183}}</string>
        <key>sourceSize</key>
        <string>{421,183}</string>
      </dict>
      <key>monster_2154_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{417,621},{405,213}}</string>
        <key>offset</key>
        <string>{-248,154}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{405,213}}</string>
        <key>sourceSize</key>
        <string>{405,213}</string>
      </dict>
      <key>monster_2154_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{790,984},{339,193}}</string>
        <key>offset</key>
        <string>{-107,136}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{339,193}}</string>
        <key>sourceSize</key>
        <string>{339,193}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_2154_0_2_0.png</string>
      <key>size</key>
      <string>{1024,2048}</string>
      <key>textureFileName</key>
      <string>monster_2154_0_2_0.png</string>
    </dict>
  </dict>
</plist>