<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16470_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{125,731},{126,118}}</string>
        <key>offset</key>
        <string>{-22,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,118}}</string>
        <key>sourceSize</key>
        <string>{126,118}</string>
      </dict>
      <key>monster_16470_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{651,228},{101,103}}</string>
        <key>offset</key>
        <string>{-24,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,103}}</string>
        <key>sourceSize</key>
        <string>{101,103}</string>
      </dict>
      <key>monster_16470_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{540,243},{109,110}}</string>
        <key>offset</key>
        <string>{-26,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,110}}</string>
        <key>sourceSize</key>
        <string>{109,110}</string>
      </dict>
      <key>monster_16470_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{579,0},{99,115}}</string>
        <key>offset</key>
        <string>{-28,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,115}}</string>
        <key>sourceSize</key>
        <string>{99,115}</string>
      </dict>
      <key>monster_16470_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{319,825},{100,115}}</string>
        <key>offset</key>
        <string>{-29,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,115}}</string>
        <key>sourceSize</key>
        <string>{100,115}</string>
      </dict>
      <key>monster_16470_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{482,123},{102,118}}</string>
        <key>offset</key>
        <string>{-20,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,118}}</string>
        <key>sourceSize</key>
        <string>{102,118}</string>
      </dict>
      <key>monster_16470_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,296},{111,134}}</string>
        <key>offset</key>
        <string>{-26,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,134}}</string>
        <key>sourceSize</key>
        <string>{111,134}</string>
      </dict>
      <key>monster_16470_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{680,0},{100,108}}</string>
        <key>offset</key>
        <string>{-27,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,108}}</string>
        <key>sourceSize</key>
        <string>{100,108}</string>
      </dict>
      <key>monster_16470_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{245,703},{107,120}}</string>
        <key>offset</key>
        <string>{-29,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,120}}</string>
        <key>sourceSize</key>
        <string>{107,120}</string>
      </dict>
      <key>monster_16470_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{537,908},{107,111}}</string>
        <key>offset</key>
        <string>{-26,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,111}}</string>
        <key>sourceSize</key>
        <string>{107,111}</string>
      </dict>
      <key>monster_16470_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,680},{109,112}}</string>
        <key>offset</key>
        <string>{-27,55}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,112}}</string>
        <key>sourceSize</key>
        <string>{109,112}</string>
      </dict>
      <key>monster_16470_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,731},{130,123}}</string>
        <key>offset</key>
        <string>{-29,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,123}}</string>
        <key>sourceSize</key>
        <string>{130,123}</string>
      </dict>
      <key>monster_16470_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{112,147}}</string>
        <key>offset</key>
        <string>{-31,92}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,147}}</string>
        <key>sourceSize</key>
        <string>{112,147}</string>
      </dict>
      <key>monster_16470_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{337,558},{120,119}}</string>
        <key>offset</key>
        <string>{-35,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,119}}</string>
        <key>sourceSize</key>
        <string>{120,119}</string>
      </dict>
      <key>monster_16470_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{317,282},{108,123}}</string>
        <key>offset</key>
        <string>{-20,66}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,123}}</string>
        <key>sourceSize</key>
        <string>{108,123}</string>
      </dict>
      <key>monster_16470_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,863},{129,105}}</string>
        <key>offset</key>
        <string>{-37,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,105}}</string>
        <key>sourceSize</key>
        <string>{129,105}</string>
      </dict>
      <key>monster_16470_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{536,794},{112,106}}</string>
        <key>offset</key>
        <string>{-19,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,106}}</string>
        <key>sourceSize</key>
        <string>{112,106}</string>
      </dict>
      <key>monster_16470_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{427,257},{119,111}}</string>
        <key>offset</key>
        <string>{-20,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,111}}</string>
        <key>sourceSize</key>
        <string>{119,111}</string>
      </dict>
      <key>monster_16470_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,149},{102,147}}</string>
        <key>offset</key>
        <string>{-20,92}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,147}}</string>
        <key>sourceSize</key>
        <string>{102,147}</string>
      </dict>
      <key>monster_16470_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{107,296},{95,141}}</string>
        <key>offset</key>
        <string>{-24,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,141}}</string>
        <key>sourceSize</key>
        <string>{95,141}</string>
      </dict>
      <key>monster_16470_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,577},{103,124}}</string>
        <key>offset</key>
        <string>{-23,67}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,124}}</string>
        <key>sourceSize</key>
        <string>{103,124}</string>
      </dict>
      <key>monster_16470_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{458,529},{111,108}}</string>
        <key>offset</key>
        <string>{-26,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,108}}</string>
        <key>sourceSize</key>
        <string>{111,108}</string>
      </dict>
      <key>monster_16470_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{421,797},{114,113}}</string>
        <key>offset</key>
        <string>{-29,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,113}}</string>
        <key>sourceSize</key>
        <string>{114,113}</string>
      </dict>
      <key>monster_16470_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{116,439},{136,123}}</string>
        <key>offset</key>
        <string>{-31,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,123}}</string>
        <key>sourceSize</key>
        <string>{136,123}</string>
      </dict>
      <key>monster_16470_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{234,146},{130,134}}</string>
        <key>offset</key>
        <string>{-26,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,134}}</string>
        <key>sourceSize</key>
        <string>{130,134}</string>
      </dict>
      <key>monster_16470_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,298},{105,146}}</string>
        <key>offset</key>
        <string>{-27,90}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,146}}</string>
        <key>sourceSize</key>
        <string>{105,146}</string>
      </dict>
      <key>monster_16470_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,134},{114,121}}</string>
        <key>offset</key>
        <string>{-28,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,121}}</string>
        <key>sourceSize</key>
        <string>{114,121}</string>
      </dict>
      <key>monster_16470_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{586,117},{108,109}}</string>
        <key>offset</key>
        <string>{-31,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,109}}</string>
        <key>sourceSize</key>
        <string>{108,109}</string>
      </dict>
      <key>monster_16470_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{463,378},{110,111}}</string>
        <key>offset</key>
        <string>{-33,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,111}}</string>
        <key>sourceSize</key>
        <string>{110,111}</string>
      </dict>
      <key>monster_16470_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{225,0},{120,144}}</string>
        <key>offset</key>
        <string>{-36,88}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,144}}</string>
        <key>sourceSize</key>
        <string>{120,144}</string>
      </dict>
      <key>monster_16470_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,149},{128,145}}</string>
        <key>offset</key>
        <string>{-20,90}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,145}}</string>
        <key>sourceSize</key>
        <string>{128,145}</string>
      </dict>
      <key>monster_16470_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,590},{125,139}}</string>
        <key>offset</key>
        <string>{-21,83}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,139}}</string>
        <key>sourceSize</key>
        <string>{125,139}</string>
      </dict>
      <key>monster_16470_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{241,432},{111,124}}</string>
        <key>offset</key>
        <string>{-20,67}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,124}}</string>
        <key>sourceSize</key>
        <string>{111,124}</string>
      </dict>
      <key>monster_16470_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{696,110},{94,98}}</string>
        <key>offset</key>
        <string>{-23,40}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,98}}</string>
        <key>sourceSize</key>
        <string>{94,98}</string>
      </dict>
      <key>monster_16470_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{782,0},{94,98}}</string>
        <key>offset</key>
        <string>{-21,41}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,98}}</string>
        <key>sourceSize</key>
        <string>{94,98}</string>
      </dict>
      <key>monster_16470_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{568,491},{103,107}}</string>
        <key>offset</key>
        <string>{-28,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,107}}</string>
        <key>sourceSize</key>
        <string>{103,107}</string>
      </dict>
      <key>monster_16470_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{114,0},{109,145}}</string>
        <key>offset</key>
        <string>{-20,90}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,145}}</string>
        <key>sourceSize</key>
        <string>{109,145}</string>
      </dict>
      <key>monster_16470_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,446},{142,114}}</string>
        <key>offset</key>
        <string>{-20,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,114}}</string>
        <key>sourceSize</key>
        <string>{142,114}</string>
      </dict>
      <key>monster_16470_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{474,0},{103,121}}</string>
        <key>offset</key>
        <string>{-20,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,121}}</string>
        <key>sourceSize</key>
        <string>{103,121}</string>
      </dict>
      <key>monster_16470_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{575,355},{100,106}}</string>
        <key>offset</key>
        <string>{-23,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,106}}</string>
        <key>sourceSize</key>
        <string>{100,106}</string>
      </dict>
      <key>monster_16470_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{561,642},{100,108}}</string>
        <key>offset</key>
        <string>{-24,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,108}}</string>
        <key>sourceSize</key>
        <string>{100,108}</string>
      </dict>
      <key>monster_16470_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,859},{103,121}}</string>
        <key>offset</key>
        <string>{-27,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,121}}</string>
        <key>sourceSize</key>
        <string>{103,121}</string>
      </dict>
      <key>monster_16470_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{347,0},{125,132}}</string>
        <key>offset</key>
        <string>{-20,77}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,132}}</string>
        <key>sourceSize</key>
        <string>{125,132}</string>
      </dict>
      <key>monster_16470_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{107,863},{129,105}}</string>
        <key>offset</key>
        <string>{-18,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,105}}</string>
        <key>sourceSize</key>
        <string>{129,105}</string>
      </dict>
      <key>monster_16470_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{421,913},{109,114}}</string>
        <key>offset</key>
        <string>{-20,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,114}}</string>
        <key>sourceSize</key>
        <string>{109,114}</string>
      </dict>
      <key>monster_16470_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{354,680},{94,115}}</string>
        <key>offset</key>
        <string>{-22,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,115}}</string>
        <key>sourceSize</key>
        <string>{94,115}</string>
      </dict>
      <key>monster_16470_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{354,407},{107,120}}</string>
        <key>offset</key>
        <string>{-35,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,120}}</string>
        <key>sourceSize</key>
        <string>{107,120}</string>
      </dict>
      <key>monster_16470_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{127,577},{103,126}}</string>
        <key>offset</key>
        <string>{-31,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,126}}</string>
        <key>sourceSize</key>
        <string>{103,126}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16470_0_2.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>monster_16470_0_2.png</string>
    </dict>
  </dict>
</plist>