<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16109_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1570,0},{407,398}}</string>
        <key>offset</key>
        <string>{-218,349}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{407,398}}</string>
        <key>sourceSize</key>
        <string>{407,398}</string>
      </dict>
      <key>monster_16109_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1171,0},{408,397}}</string>
        <key>offset</key>
        <string>{-218,347}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{408,397}}</string>
        <key>sourceSize</key>
        <string>{408,397}</string>
      </dict>
      <key>monster_16109_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1130,464},{409,398}}</string>
        <key>offset</key>
        <string>{-219,348}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{409,398}}</string>
        <key>sourceSize</key>
        <string>{409,398}</string>
      </dict>
      <key>monster_16109_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{826,954},{416,400}}</string>
        <key>offset</key>
        <string>{-226,349}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{416,400}}</string>
        <key>sourceSize</key>
        <string>{416,400}</string>
      </dict>
      <key>monster_16109_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{403,519}}</string>
        <key>offset</key>
        <string>{-203,363}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{403,519}}</string>
        <key>sourceSize</key>
        <string>{403,519}</string>
      </dict>
      <key>monster_16109_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{824,0},{345,462}}</string>
        <key>offset</key>
        <string>{-195,316}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{345,462}}</string>
        <key>sourceSize</key>
        <string>{345,462}</string>
      </dict>
      <key>monster_16109_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{817,1478},{349,460}}</string>
        <key>offset</key>
        <string>{-195,317}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{349,460}}</string>
        <key>sourceSize</key>
        <string>{349,460}</string>
      </dict>
      <key>monster_16109_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{776,489},{352,463}}</string>
        <key>offset</key>
        <string>{-196,317}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{352,463}}</string>
        <key>sourceSize</key>
        <string>{352,463}</string>
      </dict>
      <key>monster_16109_0_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{420,489},{354,465}}</string>
        <key>offset</key>
        <string>{-200,317}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{354,465}}</string>
        <key>sourceSize</key>
        <string>{354,465}</string>
      </dict>
      <key>monster_16109_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{411,1010},{466,413}}</string>
        <key>offset</key>
        <string>{-309,319}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{466,413}}</string>
        <key>sourceSize</key>
        <string>{466,413}</string>
      </dict>
      <key>monster_16109_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{405,1495},{476,410}}</string>
        <key>offset</key>
        <string>{-318,318}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{476,410}}</string>
        <key>sourceSize</key>
        <string>{476,410}</string>
      </dict>
      <key>monster_16109_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1495},{480,403}}</string>
        <key>offset</key>
        <string>{-322,318}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{480,403}}</string>
        <key>sourceSize</key>
        <string>{480,403}</string>
      </dict>
      <key>monster_16109_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1010},{483,409}}</string>
        <key>offset</key>
        <string>{-325,318}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{483,409}}</string>
        <key>sourceSize</key>
        <string>{483,409}</string>
      </dict>
      <key>monster_16109_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,521},{487,418}}</string>
        <key>offset</key>
        <string>{-285,346}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{487,418}}</string>
        <key>sourceSize</key>
        <string>{487,418}</string>
      </dict>
      <key>monster_16109_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{405,0},{487,417}}</string>
        <key>offset</key>
        <string>{-286,345}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{487,417}}</string>
        <key>sourceSize</key>
        <string>{487,417}</string>
      </dict>
      <key>monster_16109_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1530,786},{383,390}}</string>
        <key>offset</key>
        <string>{-237,339}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{383,390}}</string>
        <key>sourceSize</key>
        <string>{383,390}</string>
      </dict>
      <key>monster_16109_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1168,1372},{383,390}}</string>
        <key>offset</key>
        <string>{-237,339}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{383,390}}</string>
        <key>sourceSize</key>
        <string>{383,390}</string>
      </dict>
      <key>monster_16109_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1570,400},{384,391}}</string>
        <key>offset</key>
        <string>{-236,340}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{384,391}}</string>
        <key>sourceSize</key>
        <string>{384,391}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16109_0_0_1.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_16109_0_0_1.png</string>
    </dict>
  </dict>
</plist>