<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_12053_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{285,408},{56,90}}</string>
        <key>offset</key>
        <string>{0,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,90}}</string>
        <key>sourceSize</key>
        <string>{56,90}</string>
      </dict>
      <key>monster_12053_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{392,342},{53,93}}</string>
        <key>offset</key>
        <string>{1,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,93}}</string>
        <key>sourceSize</key>
        <string>{53,93}</string>
      </dict>
      <key>monster_12053_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{192,465},{53,90}}</string>
        <key>offset</key>
        <string>{-2,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,90}}</string>
        <key>sourceSize</key>
        <string>{53,90}</string>
      </dict>
      <key>monster_12053_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,470},{57,90}}</string>
        <key>offset</key>
        <string>{-3,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,90}}</string>
        <key>sourceSize</key>
        <string>{57,90}</string>
      </dict>
      <key>monster_12053_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,410},{51,92}}</string>
        <key>offset</key>
        <string>{0,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{51,92}}</string>
        <key>sourceSize</key>
        <string>{51,92}</string>
      </dict>
      <key>monster_12053_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{290,353},{53,93}}</string>
        <key>offset</key>
        <string>{1,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,93}}</string>
        <key>sourceSize</key>
        <string>{53,93}</string>
      </dict>
      <key>monster_12053_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{394,276},{64,94}}</string>
        <key>offset</key>
        <string>{3,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,94}}</string>
        <key>sourceSize</key>
        <string>{64,94}</string>
      </dict>
      <key>monster_12053_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{303,160},{71,97}}</string>
        <key>offset</key>
        <string>{-1,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,97}}</string>
        <key>sourceSize</key>
        <string>{71,97}</string>
      </dict>
      <key>monster_12053_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{101,138},{69,98}}</string>
        <key>offset</key>
        <string>{0,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,98}}</string>
        <key>sourceSize</key>
        <string>{69,98}</string>
      </dict>
      <key>monster_12053_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{385,397},{64,93}}</string>
        <key>offset</key>
        <string>{-1,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,93}}</string>
        <key>sourceSize</key>
        <string>{64,93}</string>
      </dict>
      <key>monster_12053_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{284,466},{56,88}}</string>
        <key>offset</key>
        <string>{-1,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,88}}</string>
        <key>sourceSize</key>
        <string>{56,88}</string>
      </dict>
      <key>monster_12053_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,572},{57,86}}</string>
        <key>offset</key>
        <string>{1,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,86}}</string>
        <key>sourceSize</key>
        <string>{57,86}</string>
      </dict>
      <key>monster_12053_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,72},{45,99}}</string>
        <key>offset</key>
        <string>{8,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{45,99}}</string>
        <key>sourceSize</key>
        <string>{45,99}</string>
      </dict>
      <key>monster_12053_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{201,173},{57,97}}</string>
        <key>offset</key>
        <string>{4,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,97}}</string>
        <key>sourceSize</key>
        <string>{57,97}</string>
      </dict>
      <key>monster_12053_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{402,209},{65,95}}</string>
        <key>offset</key>
        <string>{0,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,95}}</string>
        <key>sourceSize</key>
        <string>{65,95}</string>
      </dict>
      <key>monster_12053_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{326,113},{45,100}}</string>
        <key>offset</key>
        <string>{8,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{45,100}}</string>
        <key>sourceSize</key>
        <string>{45,100}</string>
      </dict>
      <key>monster_12053_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,224},{57,96}}</string>
        <key>offset</key>
        <string>{5,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,96}}</string>
        <key>sourceSize</key>
        <string>{57,96}</string>
      </dict>
      <key>monster_12053_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{101,72},{64,99}}</string>
        <key>offset</key>
        <string>{-2,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,99}}</string>
        <key>sourceSize</key>
        <string>{64,99}</string>
      </dict>
      <key>monster_12053_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{329,53},{58,103}}</string>
        <key>offset</key>
        <string>{2,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,103}}</string>
        <key>sourceSize</key>
        <string>{58,103}</string>
      </dict>
      <key>monster_12053_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,119},{49,99}}</string>
        <key>offset</key>
        <string>{3,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{49,99}}</string>
        <key>sourceSize</key>
        <string>{49,99}</string>
      </dict>
      <key>monster_12053_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,170},{52,98}}</string>
        <key>offset</key>
        <string>{0,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,98}}</string>
        <key>sourceSize</key>
        <string>{52,98}</string>
      </dict>
      <key>monster_12053_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,55},{61,102}}</string>
        <key>offset</key>
        <string>{4,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,102}}</string>
        <key>sourceSize</key>
        <string>{61,102}</string>
      </dict>
      <key>monster_12053_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{70,110}}</string>
        <key>offset</key>
        <string>{-1,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,110}}</string>
        <key>sourceSize</key>
        <string>{70,110}</string>
      </dict>
      <key>monster_12053_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,0},{70,108}}</string>
        <key>offset</key>
        <string>{-2,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,108}}</string>
        <key>sourceSize</key>
        <string>{70,108}</string>
      </dict>
      <key>monster_12053_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{297,233},{58,95}}</string>
        <key>offset</key>
        <string>{-7,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,95}}</string>
        <key>sourceSize</key>
        <string>{58,95}</string>
      </dict>
      <key>monster_12053_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,0},{53,105}}</string>
        <key>offset</key>
        <string>{-4,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,105}}</string>
        <key>sourceSize</key>
        <string>{53,105}</string>
      </dict>
      <key>monster_12053_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{436,0},{53,104}}</string>
        <key>offset</key>
        <string>{-1,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,104}}</string>
        <key>sourceSize</key>
        <string>{53,104}</string>
      </dict>
      <key>monster_12053_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{296,293},{58,94}}</string>
        <key>offset</key>
        <string>{-4,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,94}}</string>
        <key>sourceSize</key>
        <string>{58,94}</string>
      </dict>
      <key>monster_12053_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{329,0},{51,105}}</string>
        <key>offset</key>
        <string>{-1,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{51,105}}</string>
        <key>sourceSize</key>
        <string>{51,105}</string>
      </dict>
      <key>monster_12053_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,118},{53,99}}</string>
        <key>offset</key>
        <string>{-4,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,99}}</string>
        <key>sourceSize</key>
        <string>{53,99}</string>
      </dict>
      <key>monster_12053_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{186,520},{64,87}}</string>
        <key>offset</key>
        <string>{-17,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,87}}</string>
        <key>sourceSize</key>
        <string>{64,87}</string>
      </dict>
      <key>monster_12053_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{199,279},{71,95}}</string>
        <key>offset</key>
        <string>{-20,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,95}}</string>
        <key>sourceSize</key>
        <string>{71,95}</string>
      </dict>
      <key>monster_12053_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{97,399},{69,93}}</string>
        <key>offset</key>
        <string>{-19,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,93}}</string>
        <key>sourceSize</key>
        <string>{69,93}</string>
      </dict>
      <key>monster_12053_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{377,463},{64,89}}</string>
        <key>offset</key>
        <string>{-13,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,89}}</string>
        <key>sourceSize</key>
        <string>{64,89}</string>
      </dict>
      <key>monster_12053_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{92,529},{56,87}}</string>
        <key>offset</key>
        <string>{-5,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,87}}</string>
        <key>sourceSize</key>
        <string>{56,87}</string>
      </dict>
      <key>monster_12053_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{363,529},{56,85}}</string>
        <key>offset</key>
        <string>{-7,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,85}}</string>
        <key>sourceSize</key>
        <string>{56,85}</string>
      </dict>
      <key>monster_12053_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{199,232},{45,96}}</string>
        <key>offset</key>
        <string>{-3,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{45,96}}</string>
        <key>sourceSize</key>
        <string>{45,96}</string>
      </dict>
      <key>monster_12053_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,463},{56,92}}</string>
        <key>offset</key>
        <string>{-10,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,92}}</string>
        <key>sourceSize</key>
        <string>{56,92}</string>
      </dict>
      <key>monster_12053_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{192,399},{64,91}}</string>
        <key>offset</key>
        <string>{-15,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,91}}</string>
        <key>sourceSize</key>
        <string>{64,91}</string>
      </dict>
      <key>monster_12053_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,352},{45,94}}</string>
        <key>offset</key>
        <string>{-3,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{45,94}}</string>
        <key>sourceSize</key>
        <string>{45,94}</string>
      </dict>
      <key>monster_12053_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,281},{56,95}}</string>
        <key>offset</key>
        <string>{-12,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,95}}</string>
        <key>sourceSize</key>
        <string>{56,95}</string>
      </dict>
      <key>monster_12053_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,283},{62,95}}</string>
        <key>offset</key>
        <string>{-11,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,95}}</string>
        <key>sourceSize</key>
        <string>{62,95}</string>
      </dict>
      <key>monster_12053_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{97,339},{58,95}}</string>
        <key>offset</key>
        <string>{-10,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,95}}</string>
        <key>sourceSize</key>
        <string>{58,95}</string>
      </dict>
      <key>monster_12053_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,521},{49,90}}</string>
        <key>offset</key>
        <string>{-2,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{49,90}}</string>
        <key>sourceSize</key>
        <string>{49,90}</string>
      </dict>
      <key>monster_12053_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{275,524},{52,86}}</string>
        <key>offset</key>
        <string>{-2,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,86}}</string>
        <key>sourceSize</key>
        <string>{52,86}</string>
      </dict>
      <key>monster_12053_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,347},{61,95}}</string>
        <key>offset</key>
        <string>{-15,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,95}}</string>
        <key>sourceSize</key>
        <string>{61,95}</string>
      </dict>
      <key>monster_12053_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,209},{70,97}}</string>
        <key>offset</key>
        <string>{-19,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,97}}</string>
        <key>sourceSize</key>
        <string>{70,97}</string>
      </dict>
      <key>monster_12053_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{434,106},{68,101}}</string>
        <key>offset</key>
        <string>{-17,67}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,101}}</string>
        <key>sourceSize</key>
        <string>{68,101}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_12053_0_1.png</string>
      <key>size</key>
      <string>{512,1024}</string>
      <key>textureFileName</key>
      <string>monster_12053_0_1.png</string>
    </dict>
  </dict>
</plist>