<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_12083_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{395,217}}</string>
        <key>offset</key>
        <string>{-173,150}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{395,217}}</string>
        <key>sourceSize</key>
        <string>{395,217}</string>
      </dict>
      <key>monster_12083_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,793},{392,205}}</string>
        <key>offset</key>
        <string>{-169,149}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{392,205}}</string>
        <key>sourceSize</key>
        <string>{392,205}</string>
      </dict>
      <key>monster_12083_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{219,0},{387,201}}</string>
        <key>offset</key>
        <string>{-163,150}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{387,201}}</string>
        <key>sourceSize</key>
        <string>{387,201}</string>
      </dict>
      <key>monster_12083_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{394,788},{382,220}}</string>
        <key>offset</key>
        <string>{-160,153}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{382,220}}</string>
        <key>sourceSize</key>
        <string>{382,220}</string>
      </dict>
      <key>monster_12083_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{201,397},{389,207}}</string>
        <key>offset</key>
        <string>{-165,151}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{389,207}}</string>
        <key>sourceSize</key>
        <string>{389,207}</string>
      </dict>
      <key>monster_12083_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,397},{394,199}}</string>
        <key>offset</key>
        <string>{-171,148}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{394,199}}</string>
        <key>sourceSize</key>
        <string>{394,199}</string>
      </dict>
      <key>monster_12083_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{653,293},{290,239}}</string>
        <key>offset</key>
        <string>{-104,188}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{290,239}}</string>
        <key>sourceSize</key>
        <string>{290,239}</string>
      </dict>
      <key>monster_12083_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{675,0},{290,230}}</string>
        <key>offset</key>
        <string>{-101,186}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{290,230}}</string>
        <key>sourceSize</key>
        <string>{290,230}</string>
      </dict>
      <key>monster_12083_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{778,585},{288,240}}</string>
        <key>offset</key>
        <string>{-95,186}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{288,240}}</string>
        <key>sourceSize</key>
        <string>{288,240}</string>
      </dict>
      <key>monster_12083_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{907,0},{286,258}}</string>
        <key>offset</key>
        <string>{-92,191}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{286,258}}</string>
        <key>sourceSize</key>
        <string>{286,258}</string>
      </dict>
      <key>monster_12083_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{422,0},{291,251}}</string>
        <key>offset</key>
        <string>{-98,192}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{291,251}}</string>
        <key>sourceSize</key>
        <string>{291,251}</string>
      </dict>
      <key>monster_12083_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{410,389},{294,241}}</string>
        <key>offset</key>
        <string>{-104,192}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{294,241}}</string>
        <key>sourceSize</key>
        <string>{294,241}</string>
      </dict>
      <key>monster_12083_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1485,552},{176,256}}</string>
        <key>offset</key>
        <string>{-42,203}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,256}}</string>
        <key>sourceSize</key>
        <string>{176,256}</string>
      </dict>
      <key>monster_12083_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1744,0},{169,248}}</string>
        <key>offset</key>
        <string>{-35,200}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,248}}</string>
        <key>sourceSize</key>
        <string>{169,248}</string>
      </dict>
      <key>monster_12083_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1626,261},{154,249}}</string>
        <key>offset</key>
        <string>{-23,201}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,249}}</string>
        <key>sourceSize</key>
        <string>{154,249}</string>
      </dict>
      <key>monster_12083_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1567,0},{175,259}}</string>
        <key>offset</key>
        <string>{-42,206}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{175,259}}</string>
        <key>sourceSize</key>
        <string>{175,259}</string>
      </dict>
      <key>monster_12083_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1256,853},{169,264}}</string>
        <key>offset</key>
        <string>{-35,210}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,264}}</string>
        <key>sourceSize</key>
        <string>{169,264}</string>
      </dict>
      <key>monster_12083_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1409,0},{156,263}}</string>
        <key>offset</key>
        <string>{-24,209}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,263}}</string>
        <key>sourceSize</key>
        <string>{156,263}</string>
      </dict>
      <key>monster_12083_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{894,292},{287,243}}</string>
        <key>offset</key>
        <string>{-96,188}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{287,243}}</string>
        <key>sourceSize</key>
        <string>{287,243}</string>
      </dict>
      <key>monster_12083_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1020,581},{284,234}}</string>
        <key>offset</key>
        <string>{-95,187}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{284,234}}</string>
        <key>sourceSize</key>
        <string>{284,234}</string>
      </dict>
      <key>monster_12083_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1256,574},{277,227}}</string>
        <key>offset</key>
        <string>{-91,190}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{277,227}}</string>
        <key>sourceSize</key>
        <string>{277,227}</string>
      </dict>
      <key>monster_12083_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1386,280},{270,238}}</string>
        <key>offset</key>
        <string>{-86,197}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{270,238}}</string>
        <key>sourceSize</key>
        <string>{270,238}</string>
      </dict>
      <key>monster_12083_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1167,0},{278,240}}</string>
        <key>offset</key>
        <string>{-91,197}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{278,240}}</string>
        <key>sourceSize</key>
        <string>{278,240}</string>
      </dict>
      <key>monster_12083_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1139,288},{284,245}}</string>
        <key>offset</key>
        <string>{-94,192}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{284,245}}</string>
        <key>sourceSize</key>
        <string>{284,245}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_12083_0_1_1.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>monster_12083_0_1_1.png</string>
    </dict>
  </dict>
</plist>