<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_12047_0_6_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{103,888},{104,96}}</string>
        <key>offset</key>
        <string>{-33,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,96}}</string>
        <key>sourceSize</key>
        <string>{104,96}</string>
      </dict>
      <key>monster_12047_0_6_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{239,0},{113,216}}</string>
        <key>offset</key>
        <string>{-23,215}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,216}}</string>
        <key>sourceSize</key>
        <string>{113,216}</string>
      </dict>
      <key>monster_12047_0_6_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{127,237}}</string>
        <key>offset</key>
        <string>{-30,210}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,237}}</string>
        <key>sourceSize</key>
        <string>{127,237}</string>
      </dict>
      <key>monster_12047_0_6_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,277},{125,197}}</string>
        <key>offset</key>
        <string>{-29,156}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,197}}</string>
        <key>sourceSize</key>
        <string>{125,197}</string>
      </dict>
      <key>monster_12047_0_6_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{239,115},{132,211}}</string>
        <key>offset</key>
        <string>{-34,160}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,211}}</string>
        <key>sourceSize</key>
        <string>{132,211}</string>
      </dict>
      <key>monster_12047_0_6_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,404},{127,188}}</string>
        <key>offset</key>
        <string>{-36,133}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,188}}</string>
        <key>sourceSize</key>
        <string>{127,188}</string>
      </dict>
      <key>monster_12047_0_6_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{199,391},{137,197}}</string>
        <key>offset</key>
        <string>{-42,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,197}}</string>
        <key>sourceSize</key>
        <string>{137,197}</string>
      </dict>
      <key>monster_12047_0_6_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,249},{140,204}}</string>
        <key>offset</key>
        <string>{-49,147}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,204}}</string>
        <key>sourceSize</key>
        <string>{140,204}</string>
      </dict>
      <key>monster_12047_0_6_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,129},{146,208}}</string>
        <key>offset</key>
        <string>{-55,150}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,208}}</string>
        <key>sourceSize</key>
        <string>{146,208}</string>
      </dict>
      <key>monster_12047_0_6_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,701},{156,173}}</string>
        <key>offset</key>
        <string>{-62,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,173}}</string>
        <key>sourceSize</key>
        <string>{156,173}</string>
      </dict>
      <key>monster_12047_0_6_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{175,714},{165,172}}</string>
        <key>offset</key>
        <string>{-69,121}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,172}}</string>
        <key>sourceSize</key>
        <string>{165,172}</string>
      </dict>
      <key>monster_12047_0_6_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,533},{175,166}}</string>
        <key>offset</key>
        <string>{-74,117}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{175,166}}</string>
        <key>sourceSize</key>
        <string>{175,166}</string>
      </dict>
      <key>monster_12047_0_6_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,530},{185,182}}</string>
        <key>offset</key>
        <string>{-111,83}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{185,182}}</string>
        <key>sourceSize</key>
        <string>{185,182}</string>
      </dict>
      <key>monster_12047_0_6_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{377,530},{137,123}}</string>
        <key>offset</key>
        <string>{-63,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,123}}</string>
        <key>sourceSize</key>
        <string>{137,123}</string>
      </dict>
      <key>monster_12047_0_6_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{398,391},{108,114}}</string>
        <key>offset</key>
        <string>{-30,93}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,114}}</string>
        <key>sourceSize</key>
        <string>{108,114}</string>
      </dict>
      <key>monster_12047_0_6_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,888},{109,101}}</string>
        <key>offset</key>
        <string>{-34,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,101}}</string>
        <key>sourceSize</key>
        <string>{109,101}</string>
      </dict>
      <key>monster_12047_0_6_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{201,888},{99,93}}</string>
        <key>offset</key>
        <string>{-35,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,93}}</string>
        <key>sourceSize</key>
        <string>{99,93}</string>
      </dict>
      <key>monster_12047_0_6_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{377,669},{100,111}}</string>
        <key>offset</key>
        <string>{-40,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,111}}</string>
        <key>sourceSize</key>
        <string>{100,111}</string>
      </dict>
      <key>monster_12047_0_6_1_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{416,249},{72,104}}</string>
        <key>offset</key>
        <string>{-13,101}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,104}}</string>
        <key>sourceSize</key>
        <string>{72,104}</string>
      </dict>
      <key>monster_12047_0_6_1_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{457,0},{48,53}}</string>
        <key>offset</key>
        <string>{1,101}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,53}}</string>
        <key>sourceSize</key>
        <string>{48,53}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_12047_0_6.png</string>
      <key>size</key>
      <string>{512,1024}</string>
      <key>textureFileName</key>
      <string>monster_12047_0_6.png</string>
    </dict>
  </dict>
</plist>