<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16313_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{485,205},{146,176}}</string>
        <key>offset</key>
        <string>{-62,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,176}}</string>
        <key>sourceSize</key>
        <string>{146,176}</string>
      </dict>
      <key>monster_16313_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{489,0},{155,185}}</string>
        <key>offset</key>
        <string>{-62,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,185}}</string>
        <key>sourceSize</key>
        <string>{155,185}</string>
      </dict>
      <key>monster_16313_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{165,242},{159,204}}</string>
        <key>offset</key>
        <string>{-62,105}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,204}}</string>
        <key>sourceSize</key>
        <string>{159,204}</string>
      </dict>
      <key>monster_16313_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,242},{163,210}}</string>
        <key>offset</key>
        <string>{-63,107}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,210}}</string>
        <key>sourceSize</key>
        <string>{163,210}</string>
      </dict>
      <key>monster_16313_0_0_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{167,240}}</string>
        <key>offset</key>
        <string>{-62,124}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,240}}</string>
        <key>sourceSize</key>
        <string>{167,240}</string>
      </dict>
      <key>monster_16313_0_0_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{326,0},{161,203}}</string>
        <key>offset</key>
        <string>{-62,106}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,203}}</string>
        <key>sourceSize</key>
        <string>{161,203}</string>
      </dict>
      <key>monster_16313_0_0_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{326,205},{157,199}}</string>
        <key>offset</key>
        <string>{-62,106}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,199}}</string>
        <key>sourceSize</key>
        <string>{157,199}</string>
      </dict>
      <key>monster_16313_0_0_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{169,0},{153,187}}</string>
        <key>offset</key>
        <string>{-61,98}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,187}}</string>
        <key>sourceSize</key>
        <string>{153,187}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16313_0_0_1.png</string>
      <key>size</key>
      <string>{666,514}</string>
      <key>textureFileName</key>
      <string>monster_16313_0_0_1.png</string>
    </dict>
  </dict>
</plist>