<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16437_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1093,1640},{163,185}}</string>
        <key>offset</key>
        <string>{-46,142}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,185}}</string>
        <key>sourceSize</key>
        <string>{163,185}</string>
      </dict>
      <key>monster_16437_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{382,225},{152,217}}</string>
        <key>offset</key>
        <string>{-50,174}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,217}}</string>
        <key>sourceSize</key>
        <string>{152,217}</string>
      </dict>
      <key>monster_16437_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{337,686},{148,213}}</string>
        <key>offset</key>
        <string>{-47,170}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,213}}</string>
        <key>sourceSize</key>
        <string>{148,213}</string>
      </dict>
      <key>monster_16437_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1392},{154,213}}</string>
        <key>offset</key>
        <string>{-43,166}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,213}}</string>
        <key>sourceSize</key>
        <string>{154,213}</string>
      </dict>
      <key>monster_16437_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{175,713},{160,219}}</string>
        <key>offset</key>
        <string>{-44,176}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,219}}</string>
        <key>sourceSize</key>
        <string>{160,219}</string>
      </dict>
      <key>monster_16437_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{176,245}}</string>
        <key>offset</key>
        <string>{-54,202}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,245}}</string>
        <key>sourceSize</key>
        <string>{176,245}</string>
      </dict>
      <key>monster_16437_0_2_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{189,239},{191,224}}</string>
        <key>offset</key>
        <string>{-56,181}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{191,224}}</string>
        <key>sourceSize</key>
        <string>{191,224}</string>
      </dict>
      <key>monster_16437_0_2_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,952},{192,221}}</string>
        <key>offset</key>
        <string>{-66,178}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{192,221}}</string>
        <key>sourceSize</key>
        <string>{192,221}</string>
      </dict>
      <key>monster_16437_0_2_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{344,1366},{194,211}}</string>
        <key>offset</key>
        <string>{-66,164}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{194,211}}</string>
        <key>sourceSize</key>
        <string>{194,211}</string>
      </dict>
      <key>monster_16437_0_2_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,465},{190,219}}</string>
        <key>offset</key>
        <string>{-66,172}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{190,219}}</string>
        <key>sourceSize</key>
        <string>{190,219}</string>
      </dict>
      <key>monster_16437_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{361,1579},{161,209}}</string>
        <key>offset</key>
        <string>{-39,162}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,209}}</string>
        <key>sourceSize</key>
        <string>{161,209}</string>
      </dict>
      <key>monster_16437_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{479,1790},{153,201}}</string>
        <key>offset</key>
        <string>{-43,154}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,201}}</string>
        <key>sourceSize</key>
        <string>{153,201}</string>
      </dict>
      <key>monster_16437_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1607},{164,213}}</string>
        <key>offset</key>
        <string>{-50,170}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,213}}</string>
        <key>sourceSize</key>
        <string>{164,213}</string>
      </dict>
      <key>monster_16437_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{891,0},{191,205}}</string>
        <key>offset</key>
        <string>{-66,162}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{191,205}}</string>
        <key>sourceSize</key>
        <string>{191,205}</string>
      </dict>
      <key>monster_16437_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,1392},{186,213}}</string>
        <key>offset</key>
        <string>{-63,166}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{186,213}}</string>
        <key>sourceSize</key>
        <string>{186,213}</string>
      </dict>
      <key>monster_16437_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,247},{187,237}}</string>
        <key>offset</key>
        <string>{-58,190}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{187,237}}</string>
        <key>sourceSize</key>
        <string>{187,237}</string>
      </dict>
      <key>monster_16437_0_2_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{178,0},{197,237}}</string>
        <key>offset</key>
        <string>{-55,190}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{197,237}}</string>
        <key>sourceSize</key>
        <string>{197,237}</string>
      </dict>
      <key>monster_16437_0_2_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{355,901},{186,209}}</string>
        <key>offset</key>
        <string>{-55,162}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{186,209}}</string>
        <key>sourceSize</key>
        <string>{186,209}</string>
      </dict>
      <key>monster_16437_0_2_1_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{717,1510},{178,197}}</string>
        <key>offset</key>
        <string>{-51,154}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{178,197}}</string>
        <key>sourceSize</key>
        <string>{178,197}</string>
      </dict>
      <key>monster_16437_0_2_1_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{721,0},{168,207}}</string>
        <key>offset</key>
        <string>{-45,160}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,207}}</string>
        <key>sourceSize</key>
        <string>{168,207}</string>
      </dict>
      <key>monster_16437_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1822},{161,213}}</string>
        <key>offset</key>
        <string>{-59,170}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,213}}</string>
        <key>sourceSize</key>
        <string>{161,213}</string>
      </dict>
      <key>monster_16437_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{163,1822},{163,213}}</string>
        <key>offset</key>
        <string>{-53,170}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,213}}</string>
        <key>sourceSize</key>
        <string>{163,213}</string>
      </dict>
      <key>monster_16437_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{407,1112},{169,205}}</string>
        <key>offset</key>
        <string>{-58,162}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,205}}</string>
        <key>sourceSize</key>
        <string>{169,205}</string>
      </dict>
      <key>monster_16437_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{543,897},{182,205}}</string>
        <key>offset</key>
        <string>{-66,162}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,205}}</string>
        <key>sourceSize</key>
        <string>{182,205}</string>
      </dict>
      <key>monster_16437_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{524,1579},{191,201}}</string>
        <key>offset</key>
        <string>{-68,158}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{191,201}}</string>
        <key>sourceSize</key>
        <string>{191,201}</string>
      </dict>
      <key>monster_16437_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{487,686},{205,209}}</string>
        <key>offset</key>
        <string>{-69,170}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,209}}</string>
        <key>sourceSize</key>
        <string>{205,209}</string>
      </dict>
      <key>monster_16437_0_2_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1175},{207,215}}</string>
        <key>offset</key>
        <string>{-66,178}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{207,215}}</string>
        <key>sourceSize</key>
        <string>{207,215}</string>
      </dict>
      <key>monster_16437_0_2_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{694,647},{196,205}}</string>
        <key>offset</key>
        <string>{-63,158}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,205}}</string>
        <key>sourceSize</key>
        <string>{196,205}</string>
      </dict>
      <key>monster_16437_0_2_2_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{492,444},{183,209}}</string>
        <key>offset</key>
        <string>{-61,162}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{183,209}}</string>
        <key>sourceSize</key>
        <string>{183,209}</string>
      </dict>
      <key>monster_16437_0_2_2_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,1607},{193,213}}</string>
        <key>offset</key>
        <string>{-57,170}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{193,213}}</string>
        <key>sourceSize</key>
        <string>{193,213}</string>
      </dict>
      <key>monster_16437_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1254,0},{153,198}}</string>
        <key>offset</key>
        <string>{-54,166}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,198}}</string>
        <key>sourceSize</key>
        <string>{153,198}</string>
      </dict>
      <key>monster_16437_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{540,1319},{135,201}}</string>
        <key>offset</key>
        <string>{-40,166}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,201}}</string>
        <key>sourceSize</key>
        <string>{135,201}</string>
      </dict>
      <key>monster_16437_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{578,1104},{142,201}}</string>
        <key>offset</key>
        <string>{-41,162}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,201}}</string>
        <key>sourceSize</key>
        <string>{142,201}</string>
      </dict>
      <key>monster_16437_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{788,1709},{144,193}}</string>
        <key>offset</key>
        <string>{-39,154}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,193}}</string>
        <key>sourceSize</key>
        <string>{144,193}</string>
      </dict>
      <key>monster_16437_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{897,1506},{147,193}}</string>
        <key>offset</key>
        <string>{-39,154}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,193}}</string>
        <key>sourceSize</key>
        <string>{147,193}</string>
      </dict>
      <key>monster_16437_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{634,1782},{152,201}}</string>
        <key>offset</key>
        <string>{-39,162}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,201}}</string>
        <key>sourceSize</key>
        <string>{152,201}</string>
      </dict>
      <key>monster_16437_0_2_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{536,225},{159,209}}</string>
        <key>offset</key>
        <string>{-39,170}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,209}}</string>
        <key>sourceSize</key>
        <string>{159,209}</string>
      </dict>
      <key>monster_16437_0_2_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1719,0},{145,189}}</string>
        <key>offset</key>
        <string>{-34,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,189}}</string>
        <key>sourceSize</key>
        <string>{145,189}</string>
      </dict>
      <key>monster_16437_0_2_3_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1409,0},{159,194}}</string>
        <key>offset</key>
        <string>{-42,158}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,194}}</string>
        <key>sourceSize</key>
        <string>{159,194}</string>
      </dict>
      <key>monster_16437_0_2_3_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{837,1307},{177,197}}</string>
        <key>offset</key>
        <string>{-46,162}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{177,197}}</string>
        <key>sourceSize</key>
        <string>{177,197}</string>
      </dict>
      <key>monster_16437_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{882,1055},{174,197}}</string>
        <key>offset</key>
        <string>{-62,170}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,197}}</string>
        <key>sourceSize</key>
        <string>{174,197}</string>
      </dict>
      <key>monster_16437_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1016,1254},{156,193}}</string>
        <key>offset</key>
        <string>{-46,166}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,193}}</string>
        <key>sourceSize</key>
        <string>{156,193}</string>
      </dict>
      <key>monster_16437_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1406,398},{155,192}}</string>
        <key>offset</key>
        <string>{-46,165}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,192}}</string>
        <key>sourceSize</key>
        <string>{155,192}</string>
      </dict>
      <key>monster_16437_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1125,1827},{154,170}}</string>
        <key>offset</key>
        <string>{-48,143}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,170}}</string>
        <key>sourceSize</key>
        <string>{154,170}</string>
      </dict>
      <key>monster_16437_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1530,196},{156,192}}</string>
        <key>offset</key>
        <string>{-50,160}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,192}}</string>
        <key>sourceSize</key>
        <string>{156,192}</string>
      </dict>
      <key>monster_16437_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{873,854},{162,199}}</string>
        <key>offset</key>
        <string>{-54,164}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,199}}</string>
        <key>sourceSize</key>
        <string>{162,199}</string>
      </dict>
      <key>monster_16437_0_2_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1084,0},{168,202}}</string>
        <key>offset</key>
        <string>{-58,166}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,202}}</string>
        <key>sourceSize</key>
        <string>{168,202}</string>
      </dict>
      <key>monster_16437_0_2_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{864,418},{168,205}}</string>
        <key>offset</key>
        <string>{-57,170}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,205}}</string>
        <key>sourceSize</key>
        <string>{168,205}</string>
      </dict>
      <key>monster_16437_0_2_4_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1037,826},{179,197}}</string>
        <key>offset</key>
        <string>{-67,164}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{179,197}}</string>
        <key>sourceSize</key>
        <string>{179,197}</string>
      </dict>
      <key>monster_16437_0_2_4_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1353,200},{175,196}}</string>
        <key>offset</key>
        <string>{-62,168}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{175,196}}</string>
        <key>sourceSize</key>
        <string>{175,196}</string>
      </dict>
      <key>monster_16437_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1072,615},{170,197}}</string>
        <key>offset</key>
        <string>{-66,166}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,197}}</string>
        <key>sourceSize</key>
        <string>{170,197}</string>
      </dict>
      <key>monster_16437_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{677,1307},{158,201}}</string>
        <key>offset</key>
        <string>{-54,166}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,201}}</string>
        <key>sourceSize</key>
        <string>{158,201}</string>
      </dict>
      <key>monster_16437_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{722,1104},{158,201}}</string>
        <key>offset</key>
        <string>{-54,170}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,201}}</string>
        <key>sourceSize</key>
        <string>{158,201}</string>
      </dict>
      <key>monster_16437_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1719,147},{161,189}}</string>
        <key>offset</key>
        <string>{-58,162}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,189}}</string>
        <key>sourceSize</key>
        <string>{161,189}</string>
      </dict>
      <key>monster_16437_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{934,1701},{157,189}}</string>
        <key>offset</key>
        <string>{-54,162}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,189}}</string>
        <key>sourceSize</key>
        <string>{157,189}</string>
      </dict>
      <key>monster_16437_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1058,1025},{160,193}}</string>
        <key>offset</key>
        <string>{-58,166}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,193}}</string>
        <key>sourceSize</key>
        <string>{160,193}</string>
      </dict>
      <key>monster_16437_0_2_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1218,814},{167,193}}</string>
        <key>offset</key>
        <string>{-66,166}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,193}}</string>
        <key>sourceSize</key>
        <string>{167,193}</string>
      </dict>
      <key>monster_16437_0_2_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{553,0},{166,209}}</string>
        <key>offset</key>
        <string>{-66,178}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,209}}</string>
        <key>sourceSize</key>
        <string>{166,209}</string>
      </dict>
      <key>monster_16437_0_2_5_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{892,625},{178,199}}</string>
        <key>offset</key>
        <string>{-76,168}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{178,199}}</string>
        <key>sourceSize</key>
        <string>{178,199}</string>
      </dict>
      <key>monster_16437_0_2_5_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1034,414},{173,199}}</string>
        <key>offset</key>
        <string>{-71,170}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,199}}</string>
        <key>sourceSize</key>
        <string>{173,199}</string>
      </dict>
      <key>monster_16437_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{934,1892},{148,189}}</string>
        <key>offset</key>
        <string>{-46,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,189}}</string>
        <key>sourceSize</key>
        <string>{148,189}</string>
      </dict>
      <key>monster_16437_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1203,204},{148,199}}</string>
        <key>offset</key>
        <string>{-46,168}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,199}}</string>
        <key>sourceSize</key>
        <string>{148,199}</string>
      </dict>
      <key>monster_16437_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1570,0},{147,191}}</string>
        <key>offset</key>
        <string>{-44,156}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,191}}</string>
        <key>sourceSize</key>
        <string>{147,191}</string>
      </dict>
      <key>monster_16437_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1046,1449},{160,189}}</string>
        <key>offset</key>
        <string>{-54,158}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,189}}</string>
        <key>sourceSize</key>
        <string>{160,189}</string>
      </dict>
      <key>monster_16437_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1244,604},{167,193}}</string>
        <key>offset</key>
        <string>{-60,162}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,193}}</string>
        <key>sourceSize</key>
        <string>{167,193}</string>
      </dict>
      <key>monster_16437_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1174,1220},{181,189}}</string>
        <key>offset</key>
        <string>{-70,158}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,189}}</string>
        <key>sourceSize</key>
        <string>{181,189}</string>
      </dict>
      <key>monster_16437_0_2_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{840,209},{180,207}}</string>
        <key>offset</key>
        <string>{-70,176}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,207}}</string>
        <key>sourceSize</key>
        <string>{180,207}</string>
      </dict>
      <key>monster_16437_0_2_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,721},{173,229}}</string>
        <key>offset</key>
        <string>{-69,198}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,229}}</string>
        <key>sourceSize</key>
        <string>{173,229}</string>
      </dict>
      <key>monster_16437_0_2_6_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{677,436},{185,209}}</string>
        <key>offset</key>
        <string>{-82,174}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{185,209}}</string>
        <key>sourceSize</key>
        <string>{185,209}</string>
      </dict>
      <key>monster_16437_0_2_6_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1209,405},{195,197}}</string>
        <key>offset</key>
        <string>{-92,166}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{195,197}}</string>
        <key>sourceSize</key>
        <string>{195,197}</string>
      </dict>
      <key>monster_16437_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{727,854},{144,201}}</string>
        <key>offset</key>
        <string>{-35,162}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,201}}</string>
        <key>sourceSize</key>
        <string>{144,201}</string>
      </dict>
      <key>monster_16437_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,486},{140,225}}</string>
        <key>offset</key>
        <string>{-35,186}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,225}}</string>
        <key>sourceSize</key>
        <string>{140,225}</string>
      </dict>
      <key>monster_16437_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1220,1009},{139,187}}</string>
        <key>offset</key>
        <string>{-35,148}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,187}}</string>
        <key>sourceSize</key>
        <string>{139,187}</string>
      </dict>
      <key>monster_16437_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{697,211},{141,209}}</string>
        <key>offset</key>
        <string>{-39,166}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,209}}</string>
        <key>sourceSize</key>
        <string>{141,209}</string>
      </dict>
      <key>monster_16437_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{328,1822},{149,213}}</string>
        <key>offset</key>
        <string>{-43,174}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,213}}</string>
        <key>sourceSize</key>
        <string>{149,213}</string>
      </dict>
      <key>monster_16437_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,486},{156,233}}</string>
        <key>offset</key>
        <string>{-50,194}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,233}}</string>
        <key>sourceSize</key>
        <string>{156,233}</string>
      </dict>
      <key>monster_16437_0_2_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,934},{159,215}}</string>
        <key>offset</key>
        <string>{-56,176}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,215}}</string>
        <key>sourceSize</key>
        <string>{159,215}</string>
      </dict>
      <key>monster_16437_0_2_7_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{377,0},{174,223}}</string>
        <key>offset</key>
        <string>{-73,180}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,223}}</string>
        <key>sourceSize</key>
        <string>{174,223}</string>
      </dict>
      <key>monster_16437_0_2_7_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1022,207},{179,205}}</string>
        <key>offset</key>
        <string>{-78,166}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{179,205}}</string>
        <key>sourceSize</key>
        <string>{179,205}</string>
      </dict>
      <key>monster_16437_0_2_7_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{209,1151},{196,213}}</string>
        <key>offset</key>
        <string>{-90,170}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,213}}</string>
        <key>sourceSize</key>
        <string>{196,213}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16437_0_2.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_16437_0_2.png</string>
    </dict>
  </dict>
</plist>