<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16289_0_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{296,0},{85,147}}</string>
        <key>offset</key>
        <string>{-31,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,147}}</string>
        <key>sourceSize</key>
        <string>{85,147}</string>
      </dict>
      <key>monster_16289_0_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{292,224},{130,142}}</string>
        <key>offset</key>
        <string>{-45,84}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,142}}</string>
        <key>sourceSize</key>
        <string>{130,142}</string>
      </dict>
      <key>monster_16289_0_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{167,164},{123,151}}</string>
        <key>offset</key>
        <string>{-30,93}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,151}}</string>
        <key>sourceSize</key>
        <string>{123,151}</string>
      </dict>
      <key>monster_16289_0_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{168,0},{126,150}}</string>
        <key>offset</key>
        <string>{-27,92}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,150}}</string>
        <key>sourceSize</key>
        <string>{126,150}</string>
      </dict>
      <key>monster_16289_0_4_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{296,87},{135,144}}</string>
        <key>offset</key>
        <string>{-34,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,144}}</string>
        <key>sourceSize</key>
        <string>{135,144}</string>
      </dict>
      <key>monster_16289_0_4_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,368},{129,116}}</string>
        <key>offset</key>
        <string>{-82,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,116}}</string>
        <key>sourceSize</key>
        <string>{129,116}</string>
      </dict>
      <key>monster_16289_0_4_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,169},{164,85}}</string>
        <key>offset</key>
        <string>{-131,3}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,85}}</string>
        <key>sourceSize</key>
        <string>{164,85}</string>
      </dict>
      <key>monster_16289_0_4_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{84,0},{162,82}}</string>
        <key>offset</key>
        <string>{-130,2}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,82}}</string>
        <key>sourceSize</key>
        <string>{162,82}</string>
      </dict>
      <key>monster_16289_0_4_6_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,169},{166,78}}</string>
        <key>offset</key>
        <string>{-131,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,78}}</string>
        <key>sourceSize</key>
        <string>{166,78}</string>
      </dict>
      <key>monster_16289_0_4_6_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{167,82}}</string>
        <key>offset</key>
        <string>{-131,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,82}}</string>
        <key>sourceSize</key>
        <string>{167,82}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16289_0_4_6.png</string>
      <key>size</key>
      <string>{514,500}</string>
      <key>textureFileName</key>
      <string>monster_16289_0_4_6.png</string>
    </dict>
  </dict>
</plist>