<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_12031_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,483},{59,93}}</string>
        <key>offset</key>
        <string>{-3,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,93}}</string>
        <key>sourceSize</key>
        <string>{59,93}</string>
      </dict>
      <key>monster_12031_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{395,345},{58,93}}</string>
        <key>offset</key>
        <string>{-2,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,93}}</string>
        <key>sourceSize</key>
        <string>{58,93}</string>
      </dict>
      <key>monster_12031_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{99,368},{56,96}}</string>
        <key>offset</key>
        <string>{-2,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,96}}</string>
        <key>sourceSize</key>
        <string>{56,96}</string>
      </dict>
      <key>monster_12031_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,244},{57,98}}</string>
        <key>offset</key>
        <string>{-3,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,98}}</string>
        <key>sourceSize</key>
        <string>{57,98}</string>
      </dict>
      <key>monster_12031_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,423},{58,96}}</string>
        <key>offset</key>
        <string>{-4,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,96}}</string>
        <key>sourceSize</key>
        <string>{58,96}</string>
      </dict>
      <key>monster_12031_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{378,666},{60,91}}</string>
        <key>offset</key>
        <string>{-5,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,91}}</string>
        <key>sourceSize</key>
        <string>{60,91}</string>
      </dict>
      <key>monster_12031_0_1_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{294,384},{61,93}}</string>
        <key>offset</key>
        <string>{-6,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,93}}</string>
        <key>sourceSize</key>
        <string>{61,93}</string>
      </dict>
      <key>monster_12031_0_1_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{413,212},{62,97}}</string>
        <key>offset</key>
        <string>{-6,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,97}}</string>
        <key>sourceSize</key>
        <string>{62,97}</string>
      </dict>
      <key>monster_12031_0_1_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{313,191},{59,98}}</string>
        <key>offset</key>
        <string>{-5,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,98}}</string>
        <key>sourceSize</key>
        <string>{59,98}</string>
      </dict>
      <key>monster_12031_0_1_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,303},{58,97}}</string>
        <key>offset</key>
        <string>{-4,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,97}}</string>
        <key>sourceSize</key>
        <string>{58,97}</string>
      </dict>
      <key>monster_12031_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{382,855},{58,86}}</string>
        <key>offset</key>
        <string>{-5,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,86}}</string>
        <key>sourceSize</key>
        <string>{58,86}</string>
      </dict>
      <key>monster_12031_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{92,951},{56,89}}</string>
        <key>offset</key>
        <string>{-4,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,89}}</string>
        <key>sourceSize</key>
        <string>{56,89}</string>
      </dict>
      <key>monster_12031_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{285,516},{56,92}}</string>
        <key>offset</key>
        <string>{-4,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,92}}</string>
        <key>sourceSize</key>
        <string>{56,92}</string>
      </dict>
      <key>monster_12031_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{379,539},{59,92}}</string>
        <key>offset</key>
        <string>{-7,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,92}}</string>
        <key>sourceSize</key>
        <string>{59,92}</string>
      </dict>
      <key>monster_12031_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{285,574},{61,92}}</string>
        <key>offset</key>
        <string>{-10,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,92}}</string>
        <key>sourceSize</key>
        <string>{61,92}</string>
      </dict>
      <key>monster_12031_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{283,706},{63,91}}</string>
        <key>offset</key>
        <string>{-11,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,91}}</string>
        <key>sourceSize</key>
        <string>{63,91}</string>
      </dict>
      <key>monster_12031_0_1_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{93,841},{62,90}}</string>
        <key>offset</key>
        <string>{-10,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,90}}</string>
        <key>sourceSize</key>
        <string>{62,90}</string>
      </dict>
      <key>monster_12031_0_1_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,886},{63,90}}</string>
        <key>offset</key>
        <string>{-10,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,90}}</string>
        <key>sourceSize</key>
        <string>{63,90}</string>
      </dict>
      <key>monster_12031_0_1_1_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,792},{61,88}}</string>
        <key>offset</key>
        <string>{-8,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,88}}</string>
        <key>sourceSize</key>
        <string>{61,88}</string>
      </dict>
      <key>monster_12031_0_1_1_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{320,912},{60,87}}</string>
        <key>offset</key>
        <string>{-7,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,87}}</string>
        <key>sourceSize</key>
        <string>{60,87}</string>
      </dict>
      <key>monster_12031_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,439},{68,93}}</string>
        <key>offset</key>
        <string>{-17,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,93}}</string>
        <key>sourceSize</key>
        <string>{68,93}</string>
      </dict>
      <key>monster_12031_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{188,717},{67,91}}</string>
        <key>offset</key>
        <string>{-16,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,91}}</string>
        <key>sourceSize</key>
        <string>{67,91}</string>
      </dict>
      <key>monster_12031_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{280,841},{69,88}}</string>
        <key>offset</key>
        <string>{-15,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,88}}</string>
        <key>sourceSize</key>
        <string>{69,88}</string>
      </dict>
      <key>monster_12031_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{382,915},{67,86}}</string>
        <key>offset</key>
        <string>{-16,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,86}}</string>
        <key>sourceSize</key>
        <string>{67,86}</string>
      </dict>
      <key>monster_12031_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,912},{68,88}}</string>
        <key>offset</key>
        <string>{-17,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,88}}</string>
        <key>sourceSize</key>
        <string>{68,88}</string>
      </dict>
      <key>monster_12031_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,771},{68,91}}</string>
        <key>offset</key>
        <string>{-17,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,91}}</string>
        <key>sourceSize</key>
        <string>{68,91}</string>
      </dict>
      <key>monster_12031_0_1_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,579},{67,92}}</string>
        <key>offset</key>
        <string>{-16,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,92}}</string>
        <key>sourceSize</key>
        <string>{67,92}</string>
      </dict>
      <key>monster_12031_0_1_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{95,629},{69,92}}</string>
        <key>offset</key>
        <string>{-15,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,92}}</string>
        <key>sourceSize</key>
        <string>{69,92}</string>
      </dict>
      <key>monster_12031_0_1_2_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{95,490},{67,93}}</string>
        <key>offset</key>
        <string>{-16,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,93}}</string>
        <key>sourceSize</key>
        <string>{67,93}</string>
      </dict>
      <key>monster_12031_0_1_2_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,544},{67,93}}</string>
        <key>offset</key>
        <string>{-16,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,93}}</string>
        <key>sourceSize</key>
        <string>{67,93}</string>
      </dict>
      <key>monster_12031_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{205,242},{69,98}}</string>
        <key>offset</key>
        <string>{-12,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,98}}</string>
        <key>sourceSize</key>
        <string>{69,98}</string>
      </dict>
      <key>monster_12031_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,682},{68,92}}</string>
        <key>offset</key>
        <string>{-12,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,92}}</string>
        <key>sourceSize</key>
        <string>{68,92}</string>
      </dict>
      <key>monster_12031_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,819},{65,91}}</string>
        <key>offset</key>
        <string>{-11,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,91}}</string>
        <key>sourceSize</key>
        <string>{65,91}</string>
      </dict>
      <key>monster_12031_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{379,600},{64,92}}</string>
        <key>offset</key>
        <string>{-10,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,92}}</string>
        <key>sourceSize</key>
        <string>{64,92}</string>
      </dict>
      <key>monster_12031_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{376,728},{62,91}}</string>
        <key>offset</key>
        <string>{-8,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,91}}</string>
        <key>sourceSize</key>
        <string>{62,91}</string>
      </dict>
      <key>monster_12031_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{389,405},{62,93}}</string>
        <key>offset</key>
        <string>{-8,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,93}}</string>
        <key>sourceSize</key>
        <string>{62,93}</string>
      </dict>
      <key>monster_12031_0_1_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{326,125},{64,99}}</string>
        <key>offset</key>
        <string>{-9,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,99}}</string>
        <key>sourceSize</key>
        <string>{64,99}</string>
      </dict>
      <key>monster_12031_0_1_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{443,0},{64,105}}</string>
        <key>offset</key>
        <string>{-8,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,105}}</string>
        <key>sourceSize</key>
        <string>{64,105}</string>
      </dict>
      <key>monster_12031_0_1_3_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{332,59},{64,105}}</string>
        <key>offset</key>
        <string>{-8,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,105}}</string>
        <key>sourceSize</key>
        <string>{64,105}</string>
      </dict>
      <key>monster_12031_0_1_3_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{439,107},{67,103}}</string>
        <key>offset</key>
        <string>{-11,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,103}}</string>
        <key>sourceSize</key>
        <string>{67,103}</string>
      </dict>
      <key>monster_12031_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,181},{59,99}}</string>
        <key>offset</key>
        <string>{-8,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,99}}</string>
        <key>sourceSize</key>
        <string>{59,99}</string>
      </dict>
      <key>monster_12031_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{99,308},{58,97}}</string>
        <key>offset</key>
        <string>{-8,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,97}}</string>
        <key>sourceSize</key>
        <string>{58,97}</string>
      </dict>
      <key>monster_12031_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{56,109}}</string>
        <key>offset</key>
        <string>{-6,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,109}}</string>
        <key>sourceSize</key>
        <string>{56,109}</string>
      </dict>
      <key>monster_12031_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{333,0},{57,108}}</string>
        <key>offset</key>
        <string>{-6,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,108}}</string>
        <key>sourceSize</key>
        <string>{57,108}</string>
      </dict>
      <key>monster_12031_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,119},{58,105}}</string>
        <key>offset</key>
        <string>{-6,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,105}}</string>
        <key>sourceSize</key>
        <string>{58,105}</string>
      </dict>
      <key>monster_12031_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,246},{60,98}}</string>
        <key>offset</key>
        <string>{-7,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,98}}</string>
        <key>sourceSize</key>
        <string>{60,98}</string>
      </dict>
      <key>monster_12031_0_1_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,183},{61,99}}</string>
        <key>offset</key>
        <string>{-7,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,99}}</string>
        <key>sourceSize</key>
        <string>{61,99}</string>
      </dict>
      <key>monster_12031_0_1_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{111,0},{62,109}}</string>
        <key>offset</key>
        <string>{-8,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,109}}</string>
        <key>sourceSize</key>
        <string>{62,109}</string>
      </dict>
      <key>monster_12031_0_1_4_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,58},{59,109}}</string>
        <key>offset</key>
        <string>{-6,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,109}}</string>
        <key>sourceSize</key>
        <string>{59,109}</string>
      </dict>
      <key>monster_12031_0_1_4_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{111,64},{58,106}}</string>
        <key>offset</key>
        <string>{-6,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,106}}</string>
        <key>sourceSize</key>
        <string>{58,106}</string>
      </dict>
      <key>monster_12031_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,363},{58,97}}</string>
        <key>offset</key>
        <string>{-5,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,97}}</string>
        <key>sourceSize</key>
        <string>{58,97}</string>
      </dict>
      <key>monster_12031_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{107,124},{57,103}}</string>
        <key>offset</key>
        <string>{-5,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,103}}</string>
        <key>sourceSize</key>
        <string>{57,103}</string>
      </dict>
      <key>monster_12031_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,0},{56,109}}</string>
        <key>offset</key>
        <string>{-4,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,109}}</string>
        <key>sourceSize</key>
        <string>{56,109}</string>
      </dict>
      <key>monster_12031_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,58},{58,108}}</string>
        <key>offset</key>
        <string>{-4,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,108}}</string>
        <key>sourceSize</key>
        <string>{58,108}</string>
      </dict>
      <key>monster_12031_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{219,118},{61,105}}</string>
        <key>offset</key>
        <string>{-4,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,105}}</string>
        <key>sourceSize</key>
        <string>{61,105}</string>
      </dict>
      <key>monster_12031_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,179},{63,102}}</string>
        <key>offset</key>
        <string>{-4,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,102}}</string>
        <key>sourceSize</key>
        <string>{63,102}</string>
      </dict>
      <key>monster_12031_0_1_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,374},{63,95}}</string>
        <key>offset</key>
        <string>{-4,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,95}}</string>
        <key>sourceSize</key>
        <string>{63,95}</string>
      </dict>
      <key>monster_12031_0_1_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,426},{62,94}}</string>
        <key>offset</key>
        <string>{-5,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,94}}</string>
        <key>sourceSize</key>
        <string>{62,94}</string>
      </dict>
      <key>monster_12031_0_1_5_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{305,252},{61,97}}</string>
        <key>offset</key>
        <string>{-5,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,97}}</string>
        <key>sourceSize</key>
        <string>{61,97}</string>
      </dict>
      <key>monster_12031_0_1_5_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,313},{59,97}}</string>
        <key>offset</key>
        <string>{-5,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,97}}</string>
        <key>sourceSize</key>
        <string>{59,97}</string>
      </dict>
      <key>monster_12031_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{404,276},{67,96}}</string>
        <key>offset</key>
        <string>{-3,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,96}}</string>
        <key>sourceSize</key>
        <string>{67,96}</string>
      </dict>
      <key>monster_12031_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{297,315},{67,96}}</string>
        <key>offset</key>
        <string>{-3,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,96}}</string>
        <key>sourceSize</key>
        <string>{67,96}</string>
      </dict>
      <key>monster_12031_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{281,771},{68,91}}</string>
        <key>offset</key>
        <string>{-6,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,91}}</string>
        <key>sourceSize</key>
        <string>{68,91}</string>
      </dict>
      <key>monster_12031_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{289,447},{67,93}}</string>
        <key>offset</key>
        <string>{-3,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,93}}</string>
        <key>sourceSize</key>
        <string>{67,93}</string>
      </dict>
      <key>monster_12031_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,509},{68,93}}</string>
        <key>offset</key>
        <string>{-3,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,93}}</string>
        <key>sourceSize</key>
        <string>{68,93}</string>
      </dict>
      <key>monster_12031_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{95,559},{68,93}}</string>
        <key>offset</key>
        <string>{-3,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,93}}</string>
        <key>sourceSize</key>
        <string>{68,93}</string>
      </dict>
      <key>monster_12031_0_1_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{284,637},{67,92}}</string>
        <key>offset</key>
        <string>{-3,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,92}}</string>
        <key>sourceSize</key>
        <string>{67,92}</string>
      </dict>
      <key>monster_12031_0_1_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,951},{69,90}}</string>
        <key>offset</key>
        <string>{-6,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,90}}</string>
        <key>sourceSize</key>
        <string>{69,90}</string>
      </dict>
      <key>monster_12031_0_1_6_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{189,648},{67,92}}</string>
        <key>offset</key>
        <string>{-3,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,92}}</string>
        <key>sourceSize</key>
        <string>{67,92}</string>
      </dict>
      <key>monster_12031_0_1_6_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,613},{67,93}}</string>
        <key>offset</key>
        <string>{-3,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,93}}</string>
        <key>sourceSize</key>
        <string>{67,93}</string>
      </dict>
      <key>monster_12031_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,700},{69,92}}</string>
        <key>offset</key>
        <string>{-9,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,92}}</string>
        <key>sourceSize</key>
        <string>{69,92}</string>
      </dict>
      <key>monster_12031_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{575,0},{68,83}}</string>
        <key>offset</key>
        <string>{-8,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,83}}</string>
        <key>sourceSize</key>
        <string>{68,83}</string>
      </dict>
      <key>monster_12031_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{508,107},{66,85}}</string>
        <key>offset</key>
        <string>{-7,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,85}}</string>
        <key>sourceSize</key>
        <string>{66,85}</string>
      </dict>
      <key>monster_12031_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{509,0},{64,85}}</string>
        <key>offset</key>
        <string>{-6,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,85}}</string>
        <key>sourceSize</key>
        <string>{64,85}</string>
      </dict>
      <key>monster_12031_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{451,915},{63,83}}</string>
        <key>offset</key>
        <string>{-6,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,83}}</string>
        <key>sourceSize</key>
        <string>{63,83}</string>
      </dict>
      <key>monster_12031_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{469,728},{62,83}}</string>
        <key>offset</key>
        <string>{-6,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,83}}</string>
        <key>sourceSize</key>
        <string>{62,83}</string>
      </dict>
      <key>monster_12031_0_1_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{183,905},{65,89}}</string>
        <key>offset</key>
        <string>{-8,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,89}}</string>
        <key>sourceSize</key>
        <string>{65,89}</string>
      </dict>
      <key>monster_12031_0_1_7_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{187,786},{64,91}}</string>
        <key>offset</key>
        <string>{-8,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,91}}</string>
        <key>sourceSize</key>
        <string>{64,91}</string>
      </dict>
      <key>monster_12031_0_1_7_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,752},{65,92}}</string>
        <key>offset</key>
        <string>{-9,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,92}}</string>
        <key>sourceSize</key>
        <string>{65,92}</string>
      </dict>
      <key>monster_12031_0_1_7_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{384,469},{68,93}}</string>
        <key>offset</key>
        <string>{-9,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,93}}</string>
        <key>sourceSize</key>
        <string>{68,93}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_12031_0_1.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>monster_12031_0_1.png</string>
    </dict>
  </dict>
</plist>