<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16268_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,875},{127,213}}</string>
        <key>offset</key>
        <string>{-41,186}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,213}}</string>
        <key>sourceSize</key>
        <string>{127,213}</string>
      </dict>
      <key>monster_16268_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{215,864},{127,210}}</string>
        <key>offset</key>
        <string>{-42,183}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,210}}</string>
        <key>sourceSize</key>
        <string>{127,210}</string>
      </dict>
      <key>monster_16268_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{737,0},{132,211}}</string>
        <key>offset</key>
        <string>{-43,184}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,211}}</string>
        <key>sourceSize</key>
        <string>{132,211}</string>
      </dict>
      <key>monster_16268_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{402,0},{132,212}}</string>
        <key>offset</key>
        <string>{-42,185}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,212}}</string>
        <key>sourceSize</key>
        <string>{132,212}</string>
      </dict>
      <key>monster_16268_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{819,425},{189,208}}</string>
        <key>offset</key>
        <string>{-80,189}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{189,208}}</string>
        <key>sourceSize</key>
        <string>{189,208}</string>
      </dict>
      <key>monster_16268_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{934,212},{186,208}}</string>
        <key>offset</key>
        <string>{-79,189}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{186,208}}</string>
        <key>sourceSize</key>
        <string>{186,208}</string>
      </dict>
      <key>monster_16268_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1066,0},{190,208}}</string>
        <key>offset</key>
        <string>{-80,189}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{190,208}}</string>
        <key>sourceSize</key>
        <string>{190,208}</string>
      </dict>
      <key>monster_16268_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{894,635},{193,208}}</string>
        <key>offset</key>
        <string>{-81,189}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{193,208}}</string>
        <key>sourceSize</key>
        <string>{193,208}</string>
      </dict>
      <key>monster_16268_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,219},{213,199}}</string>
        <key>offset</key>
        <string>{-86,192}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{213,199}}</string>
        <key>sourceSize</key>
        <string>{213,199}</string>
      </dict>
      <key>monster_16268_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{536,0},{212,199}}</string>
        <key>offset</key>
        <string>{-85,192}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{212,199}}</string>
        <key>sourceSize</key>
        <string>{212,199}</string>
      </dict>
      <key>monster_16268_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{201,0},{213,199}}</string>
        <key>offset</key>
        <string>{-85,192}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{213,199}}</string>
        <key>sourceSize</key>
        <string>{213,199}</string>
      </dict>
      <key>monster_16268_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{368,649},{212,199}}</string>
        <key>offset</key>
        <string>{-84,192}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{212,199}}</string>
        <key>sourceSize</key>
        <string>{212,199}</string>
      </dict>
      <key>monster_16268_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{639,856},{162,206}}</string>
        <key>offset</key>
        <string>{-65,192}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,206}}</string>
        <key>sourceSize</key>
        <string>{162,206}</string>
      </dict>
      <key>monster_16268_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1010,422},{163,206}}</string>
        <key>offset</key>
        <string>{-66,192}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,206}}</string>
        <key>sourceSize</key>
        <string>{163,206}</string>
      </dict>
      <key>monster_16268_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1122,210},{165,206}}</string>
        <key>offset</key>
        <string>{-68,192}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,206}}</string>
        <key>sourceSize</key>
        <string>{165,206}</string>
      </dict>
      <key>monster_16268_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1258,0},{163,206}}</string>
        <key>offset</key>
        <string>{-66,192}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,206}}</string>
        <key>sourceSize</key>
        <string>{163,206}</string>
      </dict>
      <key>monster_16268_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{427,863},{127,210}}</string>
        <key>offset</key>
        <string>{-40,189}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,210}}</string>
        <key>sourceSize</key>
        <string>{127,210}</string>
      </dict>
      <key>monster_16268_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,434},{127,213}}</string>
        <key>offset</key>
        <string>{-39,192}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,213}}</string>
        <key>sourceSize</key>
        <string>{127,213}</string>
      </dict>
      <key>monster_16268_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{498,430},{131,212}}</string>
        <key>offset</key>
        <string>{-43,191}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,212}}</string>
        <key>sourceSize</key>
        <string>{131,212}</string>
      </dict>
      <key>monster_16268_0_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{569,644},{132,210}}</string>
        <key>offset</key>
        <string>{-44,189}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,210}}</string>
        <key>sourceSize</key>
        <string>{132,210}</string>
      </dict>
      <key>monster_16268_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{703,640},{189,209}}</string>
        <key>offset</key>
        <string>{-63,191}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{189,209}}</string>
        <key>sourceSize</key>
        <string>{189,209}</string>
      </dict>
      <key>monster_16268_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{631,428},{186,210}}</string>
        <key>offset</key>
        <string>{-61,192}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{186,210}}</string>
        <key>sourceSize</key>
        <string>{186,210}</string>
      </dict>
      <key>monster_16268_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{742,213},{190,210}}</string>
        <key>offset</key>
        <string>{-64,192}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{190,210}}</string>
        <key>sourceSize</key>
        <string>{190,210}</string>
      </dict>
      <key>monster_16268_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{871,0},{193,210}}</string>
        <key>offset</key>
        <string>{-66,192}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{193,210}}</string>
        <key>sourceSize</key>
        <string>{193,210}</string>
      </dict>
      <key>monster_16268_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{217,199}}</string>
        <key>offset</key>
        <string>{-81,192}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{217,199}}</string>
        <key>sourceSize</key>
        <string>{217,199}</string>
      </dict>
      <key>monster_16268_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,219},{217,198}}</string>
        <key>offset</key>
        <string>{-81,191}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{217,198}}</string>
        <key>sourceSize</key>
        <string>{217,198}</string>
      </dict>
      <key>monster_16268_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,438},{217,198}}</string>
        <key>offset</key>
        <string>{-82,191}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{217,198}}</string>
        <key>sourceSize</key>
        <string>{217,198}</string>
      </dict>
      <key>monster_16268_0_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,657},{216,198}}</string>
        <key>offset</key>
        <string>{-82,191}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{216,198}}</string>
        <key>sourceSize</key>
        <string>{216,198}</string>
      </dict>
      <key>monster_16268_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,649},{166,213}}</string>
        <key>offset</key>
        <string>{-51,189}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,213}}</string>
        <key>sourceSize</key>
        <string>{166,213}</string>
      </dict>
      <key>monster_16268_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{329,434},{167,213}}</string>
        <key>offset</key>
        <string>{-51,189}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,213}}</string>
        <key>sourceSize</key>
        <string>{167,213}</string>
      </dict>
      <key>monster_16268_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{570,214},{170,212}}</string>
        <key>offset</key>
        <string>{-51,188}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,212}}</string>
        <key>sourceSize</key>
        <string>{170,212}</string>
      </dict>
      <key>monster_16268_0_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{401,215},{167,213}}</string>
        <key>offset</key>
        <string>{-51,189}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,213}}</string>
        <key>sourceSize</key>
        <string>{167,213}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16268_0_0.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>monster_16268_0_0.png</string>
    </dict>
  </dict>
</plist>