<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_2119_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{653,244},{136,235}}</string>
        <key>offset</key>
        <string>{-17,93}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,235}}</string>
        <key>sourceSize</key>
        <string>{136,235}</string>
      </dict>
      <key>monster_2119_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{644,0},{167,242}}</string>
        <key>offset</key>
        <string>{-29,96}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,242}}</string>
        <key>sourceSize</key>
        <string>{167,242}</string>
      </dict>
      <key>monster_2119_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{483,254},{168,246}}</string>
        <key>offset</key>
        <string>{-26,111}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,246}}</string>
        <key>sourceSize</key>
        <string>{168,246}</string>
      </dict>
      <key>monster_2119_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{791,244},{199,231}}</string>
        <key>offset</key>
        <string>{-56,101}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{199,231}}</string>
        <key>sourceSize</key>
        <string>{199,231}</string>
      </dict>
      <key>monster_2119_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{776,715},{139,229}}</string>
        <key>offset</key>
        <string>{-56,101}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,229}}</string>
        <key>sourceSize</key>
        <string>{139,229}</string>
      </dict>
      <key>monster_2119_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{917,715},{140,228}}</string>
        <key>offset</key>
        <string>{-58,99}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,228}}</string>
        <key>sourceSize</key>
        <string>{140,228}</string>
      </dict>
      <key>monster_2119_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1416,652},{202,198}}</string>
        <key>offset</key>
        <string>{-101,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{202,198}}</string>
        <key>sourceSize</key>
        <string>{202,198}</string>
      </dict>
      <key>monster_2119_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{941,477},{199,228}}</string>
        <key>offset</key>
        <string>{-97,113}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{199,228}}</string>
        <key>sourceSize</key>
        <string>{199,228}</string>
      </dict>
      <key>monster_2119_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1174,222},{201,215}}</string>
        <key>offset</key>
        <string>{-94,108}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{201,215}}</string>
        <key>sourceSize</key>
        <string>{201,215}</string>
      </dict>
      <key>monster_2119_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{748,481},{232,191}}</string>
        <key>offset</key>
        <string>{-95,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{232,191}}</string>
        <key>sourceSize</key>
        <string>{232,191}</string>
      </dict>
      <key>monster_2119_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1377,215},{181,210}}</string>
        <key>offset</key>
        <string>{-94,115}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,210}}</string>
        <key>sourceSize</key>
        <string>{181,210}</string>
      </dict>
      <key>monster_2119_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1528,0},{189,210}}</string>
        <key>offset</key>
        <string>{-91,108}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{189,210}}</string>
        <key>sourceSize</key>
        <string>{189,210}</string>
      </dict>
      <key>monster_2119_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,566},{274,136}}</string>
        <key>offset</key>
        <string>{-155,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{274,136}}</string>
        <key>sourceSize</key>
        <string>{274,136}</string>
      </dict>
      <key>monster_2119_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,286},{278,159}}</string>
        <key>offset</key>
        <string>{-160,117}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{278,159}}</string>
        <key>sourceSize</key>
        <string>{278,159}</string>
      </dict>
      <key>monster_2119_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{136,0},{278,161}}</string>
        <key>offset</key>
        <string>{-148,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{278,161}}</string>
        <key>sourceSize</key>
        <string>{278,161}</string>
      </dict>
      <key>monster_2119_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,842},{272,135}}</string>
        <key>offset</key>
        <string>{-142,93}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{272,135}}</string>
        <key>sourceSize</key>
        <string>{272,135}</string>
      </dict>
      <key>monster_2119_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{284,134}}</string>
        <key>offset</key>
        <string>{-137,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{284,134}}</string>
        <key>sourceSize</key>
        <string>{284,134}</string>
      </dict>
      <key>monster_2119_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{161,280},{258,135}}</string>
        <key>offset</key>
        <string>{-138,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,135}}</string>
        <key>sourceSize</key>
        <string>{258,135}</string>
      </dict>
      <key>monster_2119_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1059,707},{218,147}}</string>
        <key>offset</key>
        <string>{-108,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{218,147}}</string>
        <key>sourceSize</key>
        <string>{218,147}</string>
      </dict>
      <key>monster_2119_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{813,0},{230,158}}</string>
        <key>offset</key>
        <string>{-116,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{230,158}}</string>
        <key>sourceSize</key>
        <string>{230,158}</string>
      </dict>
      <key>monster_2119_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{973,0},{230,195}}</string>
        <key>offset</key>
        <string>{-106,158}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{230,195}}</string>
        <key>sourceSize</key>
        <string>{230,195}</string>
      </dict>
      <key>monster_2119_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1142,459},{217,151}}</string>
        <key>offset</key>
        <string>{-93,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{217,151}}</string>
        <key>sourceSize</key>
        <string>{217,151}</string>
      </dict>
      <key>monster_2119_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{274,837},{257,138}}</string>
        <key>offset</key>
        <string>{-91,84}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{257,138}}</string>
        <key>sourceSize</key>
        <string>{257,138}</string>
      </dict>
      <key>monster_2119_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{425,534},{247,141}}</string>
        <key>offset</key>
        <string>{-101,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{247,141}}</string>
        <key>sourceSize</key>
        <string>{247,141}</string>
      </dict>
      <key>monster_2119_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1208,892},{127,180}}</string>
        <key>offset</key>
        <string>{-31,117}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,180}}</string>
        <key>sourceSize</key>
        <string>{127,180}</string>
      </dict>
      <key>monster_2119_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1889,391},{153,185}}</string>
        <key>offset</key>
        <string>{-30,133}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,185}}</string>
        <key>sourceSize</key>
        <string>{153,185}</string>
      </dict>
      <key>monster_2119_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1170,0},{155,220}}</string>
        <key>offset</key>
        <string>{-43,168}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,220}}</string>
        <key>sourceSize</key>
        <string>{155,220}</string>
      </dict>
      <key>monster_2119_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1416,856},{158,188}}</string>
        <key>offset</key>
        <string>{-49,117}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,188}}</string>
        <key>sourceSize</key>
        <string>{158,188}</string>
      </dict>
      <key>monster_2119_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1560,212},{136,191}}</string>
        <key>offset</key>
        <string>{-16,111}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,191}}</string>
        <key>sourceSize</key>
        <string>{136,191}</string>
      </dict>
      <key>monster_2119_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1889,578},{145,177}}</string>
        <key>offset</key>
        <string>{-16,106}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,177}}</string>
        <key>sourceSize</key>
        <string>{145,177}</string>
      </dict>
      <key>monster_2119_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1663,580},{180,170}}</string>
        <key>offset</key>
        <string>{-34,108}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,170}}</string>
        <key>sourceSize</key>
        <string>{180,170}</string>
      </dict>
      <key>monster_2119_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1490,427},{171,201}}</string>
        <key>offset</key>
        <string>{-29,149}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,201}}</string>
        <key>sourceSize</key>
        <string>{171,201}</string>
      </dict>
      <key>monster_2119_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1698,391},{189,187}}</string>
        <key>offset</key>
        <string>{-23,140}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{189,187}}</string>
        <key>sourceSize</key>
        <string>{189,187}</string>
      </dict>
      <key>monster_2119_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1295,439},{211,193}}</string>
        <key>offset</key>
        <string>{-64,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{211,193}}</string>
        <key>sourceSize</key>
        <string>{211,193}</string>
      </dict>
      <key>monster_2119_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1616,757},{175,170}}</string>
        <key>offset</key>
        <string>{-33,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{175,170}}</string>
        <key>sourceSize</key>
        <string>{175,170}</string>
      </dict>
      <key>monster_2119_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1788,757},{169,156}}</string>
        <key>offset</key>
        <string>{-33,84}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,156}}</string>
        <key>sourceSize</key>
        <string>{169,156}</string>
      </dict>
      <key>monster_2119_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{275,540},{257,148}}</string>
        <key>offset</key>
        <string>{-54,106}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{257,148}}</string>
        <key>sourceSize</key>
        <string>{257,148}</string>
      </dict>
      <key>monster_2119_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{298,280},{252,183}}</string>
        <key>offset</key>
        <string>{-47,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{252,183}}</string>
        <key>sourceSize</key>
        <string>{252,183}</string>
      </dict>
      <key>monster_2119_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{533,783},{241,179}}</string>
        <key>offset</key>
        <string>{-51,135}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{241,179}}</string>
        <key>sourceSize</key>
        <string>{241,179}</string>
      </dict>
      <key>monster_2119_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{299,0},{252,199}}</string>
        <key>offset</key>
        <string>{-59,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{252,199}}</string>
        <key>sourceSize</key>
        <string>{252,199}</string>
      </dict>
      <key>monster_2119_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{138,566},{269,135}}</string>
        <key>offset</key>
        <string>{-81,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{269,135}}</string>
        <key>sourceSize</key>
        <string>{269,135}</string>
      </dict>
      <key>monster_2119_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,0},{244,142}}</string>
        <key>offset</key>
        <string>{-58,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{244,142}}</string>
        <key>sourceSize</key>
        <string>{244,142}</string>
      </dict>
      <key>monster_2119_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1719,200},{203,189}}</string>
        <key>offset</key>
        <string>{-44,87}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{203,189}}</string>
        <key>sourceSize</key>
        <string>{203,189}</string>
      </dict>
      <key>monster_2119_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1327,0},{199,213}}</string>
        <key>offset</key>
        <string>{-32,114}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{199,213}}</string>
        <key>sourceSize</key>
        <string>{199,213}</string>
      </dict>
      <key>monster_2119_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1719,0},{198,207}}</string>
        <key>offset</key>
        <string>{-42,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{198,207}}</string>
        <key>sourceSize</key>
        <string>{198,207}</string>
      </dict>
      <key>monster_2119_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1208,678},{212,206}}</string>
        <key>offset</key>
        <string>{-65,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{212,206}}</string>
        <key>sourceSize</key>
        <string>{212,206}</string>
      </dict>
      <key>monster_2119_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{568,502},{239,178}}</string>
        <key>offset</key>
        <string>{-96,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{239,178}}</string>
        <key>sourceSize</key>
        <string>{239,178}</string>
      </dict>
      <key>monster_2119_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{992,232},{225,180}}</string>
        <key>offset</key>
        <string>{-74,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{225,180}}</string>
        <key>sourceSize</key>
        <string>{225,180}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_2119_0_2.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>monster_2119_0_2.png</string>
    </dict>
  </dict>
</plist>