<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20141_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,109},{253,164}}</string>
        <key>offset</key>
        <string>{-104,138}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{253,164}}</string>
        <key>sourceSize</key>
        <string>{253,164}</string>
      </dict>
      <key>monster_20141_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,607},{251,176}}</string>
        <key>offset</key>
        <string>{-134,127}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{251,176}}</string>
        <key>sourceSize</key>
        <string>{251,176}</string>
      </dict>
      <key>monster_20141_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{258,107}}</string>
        <key>offset</key>
        <string>{-154,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,107}}</string>
        <key>sourceSize</key>
        <string>{258,107}</string>
      </dict>
      <key>monster_20141_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{780,0},{253,164}}</string>
        <key>offset</key>
        <string>{-104,138}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{253,164}}</string>
        <key>sourceSize</key>
        <string>{253,164}</string>
      </dict>
      <key>monster_20141_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{513,607},{251,176}}</string>
        <key>offset</key>
        <string>{-134,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{251,176}}</string>
        <key>sourceSize</key>
        <string>{251,176}</string>
      </dict>
      <key>monster_20141_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,260},{258,107}}</string>
        <key>offset</key>
        <string>{-154,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,107}}</string>
        <key>sourceSize</key>
        <string>{258,107}</string>
      </dict>
      <key>monster_20141_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{520,109},{253,164}}</string>
        <key>offset</key>
        <string>{-104,138}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{253,164}}</string>
        <key>sourceSize</key>
        <string>{253,164}</string>
      </dict>
      <key>monster_20141_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{775,510},{251,176}}</string>
        <key>offset</key>
        <string>{-134,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{251,176}}</string>
        <key>sourceSize</key>
        <string>{251,176}</string>
      </dict>
      <key>monster_20141_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,520},{258,107}}</string>
        <key>offset</key>
        <string>{-154,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,107}}</string>
        <key>sourceSize</key>
        <string>{258,107}</string>
      </dict>
      <key>monster_20141_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{775,255},{253,164}}</string>
        <key>offset</key>
        <string>{-104,138}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{253,164}}</string>
        <key>sourceSize</key>
        <string>{253,164}</string>
      </dict>
      <key>monster_20141_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{691,763},{251,176}}</string>
        <key>offset</key>
        <string>{-134,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{251,176}}</string>
        <key>sourceSize</key>
        <string>{251,176}</string>
      </dict>
      <key>monster_20141_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,780},{258,107}}</string>
        <key>offset</key>
        <string>{-154,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,107}}</string>
        <key>sourceSize</key>
        <string>{258,107}</string>
      </dict>
      <key>monster_20141_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{520,275},{253,164}}</string>
        <key>offset</key>
        <string>{-104,138}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{253,164}}</string>
        <key>sourceSize</key>
        <string>{253,164}</string>
      </dict>
      <key>monster_20141_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{941,255},{251,176}}</string>
        <key>offset</key>
        <string>{-134,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{251,176}}</string>
        <key>sourceSize</key>
        <string>{251,176}</string>
      </dict>
      <key>monster_20141_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,889},{258,107}}</string>
        <key>offset</key>
        <string>{-154,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,107}}</string>
        <key>sourceSize</key>
        <string>{258,107}</string>
      </dict>
      <key>monster_20141_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{520,441},{253,164}}</string>
        <key>offset</key>
        <string>{-104,138}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{253,164}}</string>
        <key>sourceSize</key>
        <string>{253,164}</string>
      </dict>
      <key>monster_20141_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{946,0},{251,176}}</string>
        <key>offset</key>
        <string>{-134,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{251,176}}</string>
        <key>sourceSize</key>
        <string>{251,176}</string>
      </dict>
      <key>monster_20141_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,889},{258,107}}</string>
        <key>offset</key>
        <string>{-154,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,107}}</string>
        <key>sourceSize</key>
        <string>{258,107}</string>
      </dict>
      <key>monster_20141_0_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,441},{253,164}}</string>
        <key>offset</key>
        <string>{-104,138}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{253,164}}</string>
        <key>sourceSize</key>
        <string>{253,164}</string>
      </dict>
      <key>monster_20141_0_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{869,763},{251,176}}</string>
        <key>offset</key>
        <string>{-134,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{251,176}}</string>
        <key>sourceSize</key>
        <string>{251,176}</string>
      </dict>
      <key>monster_20141_0_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{520,0},{258,107}}</string>
        <key>offset</key>
        <string>{-154,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,107}}</string>
        <key>sourceSize</key>
        <string>{258,107}</string>
      </dict>
      <key>monster_20141_0_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{109,275},{253,164}}</string>
        <key>offset</key>
        <string>{-104,138}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{253,164}}</string>
        <key>sourceSize</key>
        <string>{253,164}</string>
      </dict>
      <key>monster_20141_0_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{953,508},{251,176}}</string>
        <key>offset</key>
        <string>{-134,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{251,176}}</string>
        <key>sourceSize</key>
        <string>{251,176}</string>
      </dict>
      <key>monster_20141_0_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,0},{258,107}}</string>
        <key>offset</key>
        <string>{-154,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,107}}</string>
        <key>sourceSize</key>
        <string>{258,107}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20141_0_4.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>monster_20141_0_4.png</string>
    </dict>
  </dict>
</plist>