<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_1532_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{155,0},{178,157}}</string>
        <key>offset</key>
        <string>{-73,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{178,157}}</string>
        <key>sourceSize</key>
        <string>{178,157}</string>
      </dict>
      <key>monster_1532_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,0},{177,152}}</string>
        <key>offset</key>
        <string>{-66,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{177,152}}</string>
        <key>sourceSize</key>
        <string>{177,152}</string>
      </dict>
      <key>monster_1532_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{179,153}}</string>
        <key>offset</key>
        <string>{-67,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{179,153}}</string>
        <key>sourceSize</key>
        <string>{179,153}</string>
      </dict>
      <key>monster_1532_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,179},{177,172}}</string>
        <key>offset</key>
        <string>{-47,115}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{177,172}}</string>
        <key>sourceSize</key>
        <string>{177,172}</string>
      </dict>
      <key>monster_1532_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{334,353},{173,145}}</string>
        <key>offset</key>
        <string>{-48,94}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,145}}</string>
        <key>sourceSize</key>
        <string>{173,145}</string>
      </dict>
      <key>monster_1532_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{468,0},{171,132}}</string>
        <key>offset</key>
        <string>{-47,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,132}}</string>
        <key>sourceSize</key>
        <string>{171,132}</string>
      </dict>
      <key>monster_1532_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{155,362},{177,135}}</string>
        <key>offset</key>
        <string>{-44,95}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{177,135}}</string>
        <key>sourceSize</key>
        <string>{177,135}</string>
      </dict>
      <key>monster_1532_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,181},{179,153}}</string>
        <key>offset</key>
        <string>{-52,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{179,153}}</string>
        <key>sourceSize</key>
        <string>{179,153}</string>
      </dict>
      <key>monster_1532_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{155,181},{179,157}}</string>
        <key>offset</key>
        <string>{-45,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{179,157}}</string>
        <key>sourceSize</key>
        <string>{179,157}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_1532_0_2_1.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>monster_1532_0_2_1.png</string>
    </dict>
  </dict>
</plist>