<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16375_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1309,264},{331,342}}</string>
        <key>offset</key>
        <string>{-91,252}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{331,342}}</string>
        <key>sourceSize</key>
        <string>{331,342}</string>
      </dict>
      <key>monster_16375_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1653,479},{320,334}}</string>
        <key>offset</key>
        <string>{-85,249}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{320,334}}</string>
        <key>sourceSize</key>
        <string>{320,334}</string>
      </dict>
      <key>monster_16375_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1172,597},{303,320}}</string>
        <key>offset</key>
        <string>{-78,243}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{303,320}}</string>
        <key>sourceSize</key>
        <string>{303,320}</string>
      </dict>
      <key>monster_16375_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{571,1308},{311,331}}</string>
        <key>offset</key>
        <string>{-89,241}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{311,331}}</string>
        <key>sourceSize</key>
        <string>{311,331}</string>
      </dict>
      <key>monster_16375_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{611,1641},{318,329}}</string>
        <key>offset</key>
        <string>{-92,243}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{318,329}}</string>
        <key>sourceSize</key>
        <string>{318,329}</string>
      </dict>
      <key>monster_16375_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{851,815},{319,327}}</string>
        <key>offset</key>
        <string>{-84,247}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{319,327}}</string>
        <key>sourceSize</key>
        <string>{319,327}</string>
      </dict>
      <key>monster_16375_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{472,276}}</string>
        <key>offset</key>
        <string>{-126,212}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{472,276}}</string>
        <key>sourceSize</key>
        <string>{472,276}</string>
      </dict>
      <key>monster_16375_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{259,932},{452,290}}</string>
        <key>offset</key>
        <string>{-111,208}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{452,290}}</string>
        <key>sourceSize</key>
        <string>{452,290}</string>
      </dict>
      <key>monster_16375_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{551,887},{419,298}}</string>
        <key>offset</key>
        <string>{-84,206}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{419,298}}</string>
        <key>sourceSize</key>
        <string>{419,298}</string>
      </dict>
      <key>monster_16375_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,1386},{432,305}}</string>
        <key>offset</key>
        <string>{-98,205}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{432,305}}</string>
        <key>sourceSize</key>
        <string>{432,305}</string>
      </dict>
      <key>monster_16375_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{541,447},{438,298}}</string>
        <key>offset</key>
        <string>{-103,202}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{438,298}}</string>
        <key>sourceSize</key>
        <string>{438,298}</string>
      </dict>
      <key>monster_16375_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{261,474},{449,278}}</string>
        <key>offset</key>
        <string>{-107,206}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{449,278}}</string>
        <key>sourceSize</key>
        <string>{449,278}</string>
      </dict>
      <key>monster_16375_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{539,0},{445,263}}</string>
        <key>offset</key>
        <string>{-124,191}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{445,263}}</string>
        <key>sourceSize</key>
        <string>{445,263}</string>
      </dict>
      <key>monster_16375_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{804,0},{436,263}}</string>
        <key>offset</key>
        <string>{-119,188}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{436,263}}</string>
        <key>sourceSize</key>
        <string>{436,263}</string>
      </dict>
      <key>monster_16375_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{278,0},{446,259}}</string>
        <key>offset</key>
        <string>{-128,185}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{446,259}}</string>
        <key>sourceSize</key>
        <string>{446,259}</string>
      </dict>
      <key>monster_16375_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,932},{455,257}}</string>
        <key>offset</key>
        <string>{-137,184}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{455,257}}</string>
        <key>sourceSize</key>
        <string>{455,257}</string>
      </dict>
      <key>monster_16375_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,474},{456,259}}</string>
        <key>offset</key>
        <string>{-140,183}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{456,259}}</string>
        <key>sourceSize</key>
        <string>{456,259}</string>
      </dict>
      <key>monster_16375_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1389},{454,262}}</string>
        <key>offset</key>
        <string>{-136,187}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{454,262}}</string>
        <key>sourceSize</key>
        <string>{454,262}</string>
      </dict>
      <key>monster_16375_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1667,0},{352,228}}</string>
        <key>offset</key>
        <string>{-94,165}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{352,228}}</string>
        <key>sourceSize</key>
        <string>{352,228}</string>
      </dict>
      <key>monster_16375_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1667,230},{343,247}}</string>
        <key>offset</key>
        <string>{-89,164}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{343,247}}</string>
        <key>sourceSize</key>
        <string>{343,247}</string>
      </dict>
      <key>monster_16375_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1309,0},{356,262}}</string>
        <key>offset</key>
        <string>{-103,165}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{356,262}}</string>
        <key>sourceSize</key>
        <string>{356,262}</string>
      </dict>
      <key>monster_16375_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{841,438},{375,253}}</string>
        <key>offset</key>
        <string>{-124,164}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{375,253}}</string>
        <key>sourceSize</key>
        <string>{375,253}</string>
      </dict>
      <key>monster_16375_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1069,0},{361,238}}</string>
        <key>offset</key>
        <string>{-111,164}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{361,238}}</string>
        <key>sourceSize</key>
        <string>{361,238}</string>
      </dict>
      <key>monster_16375_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,1820},{345,226}}</string>
        <key>offset</key>
        <string>{-90,164}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{345,226}}</string>
        <key>sourceSize</key>
        <string>{345,226}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16375_0_1_0.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_16375_0_1_0.png</string>
    </dict>
  </dict>
</plist>