<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_1712_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,424},{85,101}}</string>
        <key>offset</key>
        <string>{-6,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,101}}</string>
        <key>sourceSize</key>
        <string>{85,101}</string>
      </dict>
      <key>monster_1712_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{155,318},{80,101}}</string>
        <key>offset</key>
        <string>{0,74}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,101}}</string>
        <key>sourceSize</key>
        <string>{80,101}</string>
      </dict>
      <key>monster_1712_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{161,211},{83,101}}</string>
        <key>offset</key>
        <string>{-2,74}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,101}}</string>
        <key>sourceSize</key>
        <string>{83,101}</string>
      </dict>
      <key>monster_1712_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,426},{83,102}}</string>
        <key>offset</key>
        <string>{-3,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,102}}</string>
        <key>sourceSize</key>
        <string>{83,102}</string>
      </dict>
      <key>monster_1712_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,0},{85,98}}</string>
        <key>offset</key>
        <string>{-11,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,98}}</string>
        <key>sourceSize</key>
        <string>{85,98}</string>
      </dict>
      <key>monster_1712_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{411,335},{86,97}}</string>
        <key>offset</key>
        <string>{-12,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,97}}</string>
        <key>sourceSize</key>
        <string>{86,97}</string>
      </dict>
      <key>monster_1712_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{411,423},{86,97}}</string>
        <key>offset</key>
        <string>{-12,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,97}}</string>
        <key>sourceSize</key>
        <string>{86,97}</string>
      </dict>
      <key>monster_1712_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,87},{86,98}}</string>
        <key>offset</key>
        <string>{-12,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,98}}</string>
        <key>sourceSize</key>
        <string>{86,98}</string>
      </dict>
      <key>monster_1712_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{411,175},{77,98}}</string>
        <key>offset</key>
        <string>{-4,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,98}}</string>
        <key>sourceSize</key>
        <string>{77,98}</string>
      </dict>
      <key>monster_1712_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{510,423},{79,97}}</string>
        <key>offset</key>
        <string>{-6,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,97}}</string>
        <key>sourceSize</key>
        <string>{79,97}</string>
      </dict>
      <key>monster_1712_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{511,175},{80,95}}</string>
        <key>offset</key>
        <string>{-6,72}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,95}}</string>
        <key>sourceSize</key>
        <string>{80,95}</string>
      </dict>
      <key>monster_1712_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{512,0},{82,95}}</string>
        <key>offset</key>
        <string>{-7,72}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,95}}</string>
        <key>sourceSize</key>
        <string>{82,95}</string>
      </dict>
      <key>monster_1712_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{93,0},{76,101}}</string>
        <key>offset</key>
        <string>{-3,74}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,101}}</string>
        <key>sourceSize</key>
        <string>{76,101}</string>
      </dict>
      <key>monster_1712_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{171,0},{75,101}}</string>
        <key>offset</key>
        <string>{-2,74}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,101}}</string>
        <key>sourceSize</key>
        <string>{75,101}</string>
      </dict>
      <key>monster_1712_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{248,0},{79,100}}</string>
        <key>offset</key>
        <string>{-6,73}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,100}}</string>
        <key>sourceSize</key>
        <string>{79,100}</string>
      </dict>
      <key>monster_1712_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{246,206},{78,100}}</string>
        <key>offset</key>
        <string>{-4,73}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,100}}</string>
        <key>sourceSize</key>
        <string>{78,100}</string>
      </dict>
      <key>monster_1712_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{91,105}}</string>
        <key>offset</key>
        <string>{-8,76}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,105}}</string>
        <key>sourceSize</key>
        <string>{91,105}</string>
      </dict>
      <key>monster_1712_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,107},{88,105}}</string>
        <key>offset</key>
        <string>{-6,76}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,105}}</string>
        <key>sourceSize</key>
        <string>{88,105}</string>
      </dict>
      <key>monster_1712_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,214},{79,104}}</string>
        <key>offset</key>
        <string>{-2,75}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,104}}</string>
        <key>sourceSize</key>
        <string>{79,104}</string>
      </dict>
      <key>monster_1712_0_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,320},{78,104}}</string>
        <key>offset</key>
        <string>{-2,75}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,104}}</string>
        <key>sourceSize</key>
        <string>{78,104}</string>
      </dict>
      <key>monster_1712_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{207,421},{88,101}}</string>
        <key>offset</key>
        <string>{1,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,101}}</string>
        <key>sourceSize</key>
        <string>{88,101}</string>
      </dict>
      <key>monster_1712_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{237,314},{85,101}}</string>
        <key>offset</key>
        <string>{4,78}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,101}}</string>
        <key>sourceSize</key>
        <string>{85,101}</string>
      </dict>
      <key>monster_1712_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{255,102},{82,100}}</string>
        <key>offset</key>
        <string>{6,77}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,100}}</string>
        <key>sourceSize</key>
        <string>{82,100}</string>
      </dict>
      <key>monster_1712_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{329,0},{81,99}}</string>
        <key>offset</key>
        <string>{6,76}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,99}}</string>
        <key>sourceSize</key>
        <string>{81,99}</string>
      </dict>
      <key>monster_1712_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{411,254},{79,98}}</string>
        <key>offset</key>
        <string>{3,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,98}}</string>
        <key>sourceSize</key>
        <string>{79,98}</string>
      </dict>
      <key>monster_1712_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{510,335},{81,96}}</string>
        <key>offset</key>
        <string>{3,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,96}}</string>
        <key>sourceSize</key>
        <string>{81,96}</string>
      </dict>
      <key>monster_1712_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{326,254},{83,98}}</string>
        <key>offset</key>
        <string>{3,75}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,98}}</string>
        <key>sourceSize</key>
        <string>{83,98}</string>
      </dict>
      <key>monster_1712_0_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{310,417},{83,99}}</string>
        <key>offset</key>
        <string>{3,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,99}}</string>
        <key>sourceSize</key>
        <string>{83,99}</string>
      </dict>
      <key>monster_1712_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,320},{73,102}}</string>
        <key>offset</key>
        <string>{8,75}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,102}}</string>
        <key>sourceSize</key>
        <string>{73,102}</string>
      </dict>
      <key>monster_1712_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,214},{78,102}}</string>
        <key>offset</key>
        <string>{4,75}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,102}}</string>
        <key>sourceSize</key>
        <string>{78,102}</string>
      </dict>
      <key>monster_1712_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{90,107},{82,102}}</string>
        <key>offset</key>
        <string>{1,75}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,102}}</string>
        <key>sourceSize</key>
        <string>{82,102}</string>
      </dict>
      <key>monster_1712_0_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,103},{79,101}}</string>
        <key>offset</key>
        <string>{2,75}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,101}}</string>
        <key>sourceSize</key>
        <string>{79,101}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_1712_0_0.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>monster_1712_0_0.png</string>
    </dict>
  </dict>
</plist>