<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_2475_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{682,0},{556,393}}</string>
        <key>offset</key>
        <string>{-246,162}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{556,393}}</string>
        <key>sourceSize</key>
        <string>{556,393}</string>
      </dict>
      <key>monster_2475_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{2235,974},{430,413}}</string>
        <key>offset</key>
        <string>{-190,158}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{430,413}}</string>
        <key>sourceSize</key>
        <string>{430,413}</string>
      </dict>
      <key>monster_2475_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{2605,0},{208,405}}</string>
        <key>offset</key>
        <string>{-85,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,405}}</string>
        <key>sourceSize</key>
        <string>{208,405}</string>
      </dict>
      <key>monster_2475_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1797},{580,389}}</string>
        <key>offset</key>
        <string>{-279,131}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{580,389}}</string>
        <key>sourceSize</key>
        <string>{580,389}</string>
      </dict>
      <key>monster_2475_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1212},{583,385}}</string>
        <key>offset</key>
        <string>{-272,149}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{583,385}}</string>
        <key>sourceSize</key>
        <string>{583,385}</string>
      </dict>
      <key>monster_2475_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{604,373}}</string>
        <key>offset</key>
        <string>{-278,149}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{604,373}}</string>
        <key>sourceSize</key>
        <string>{604,373}</string>
      </dict>
      <key>monster_2475_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1075,2207},{518,364}}</string>
        <key>offset</key>
        <string>{-235,162}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{518,364}}</string>
        <key>sourceSize</key>
        <string>{518,364}</string>
      </dict>
      <key>monster_2475_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1827,0},{500,398}}</string>
        <key>offset</key>
        <string>{-248,171}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{500,398}}</string>
        <key>sourceSize</key>
        <string>{500,398}</string>
      </dict>
      <key>monster_2475_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1880,1501},{431,374}}</string>
        <key>offset</key>
        <string>{-258,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{431,374}}</string>
        <key>sourceSize</key>
        <string>{431,374}</string>
      </dict>
      <key>monster_2475_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,2937},{549,408}}</string>
        <key>offset</key>
        <string>{-240,170}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{549,408}}</string>
        <key>sourceSize</key>
        <string>{549,408}</string>
      </dict>
      <key>monster_2475_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,3488},{534,410}}</string>
        <key>offset</key>
        <string>{-238,189}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{534,410}}</string>
        <key>sourceSize</key>
        <string>{534,410}</string>
      </dict>
      <key>monster_2475_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{731,1680},{525,406}}</string>
        <key>offset</key>
        <string>{-238,200}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{525,406}}</string>
        <key>sourceSize</key>
        <string>{525,406}</string>
      </dict>
      <key>monster_2475_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1185,3699},{441,349}}</string>
        <key>offset</key>
        <string>{-330,158}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{441,349}}</string>
        <key>sourceSize</key>
        <string>{441,349}</string>
      </dict>
      <key>monster_2475_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1458,1054},{504,390}}</string>
        <key>offset</key>
        <string>{-342,181}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{504,390}}</string>
        <key>sourceSize</key>
        <string>{504,390}</string>
      </dict>
      <key>monster_2475_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{661,583},{562,319}}</string>
        <key>offset</key>
        <string>{-361,162}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{562,319}}</string>
        <key>sourceSize</key>
        <string>{562,319}</string>
      </dict>
      <key>monster_2475_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1441,2136},{486,371}}</string>
        <key>offset</key>
        <string>{-336,187}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{486,371}}</string>
        <key>sourceSize</key>
        <string>{486,371}</string>
      </dict>
      <key>monster_2475_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{2227,0},{468,376}}</string>
        <key>offset</key>
        <string>{-336,206}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{468,376}}</string>
        <key>sourceSize</key>
        <string>{468,376}</string>
      </dict>
      <key>monster_2475_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1850,1029},{470,383}}</string>
        <key>offset</key>
        <string>{-336,218}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{470,383}}</string>
        <key>sourceSize</key>
        <string>{470,383}</string>
      </dict>
      <key>monster_2475_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{982,558},{529,355}}</string>
        <key>offset</key>
        <string>{-259,192}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{529,355}}</string>
        <key>sourceSize</key>
        <string>{529,355}</string>
      </dict>
      <key>monster_2475_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1077,0},{529,412}}</string>
        <key>offset</key>
        <string>{-266,178}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{529,412}}</string>
        <key>sourceSize</key>
        <string>{529,412}</string>
      </dict>
      <key>monster_2475_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1628,3672},{439,339}}</string>
        <key>offset</key>
        <string>{-271,186}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{439,339}}</string>
        <key>sourceSize</key>
        <string>{439,339}</string>
      </dict>
      <key>monster_2475_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{391,1756},{531,338}}</string>
        <key>offset</key>
        <string>{-261,158}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{531,338}}</string>
        <key>sourceSize</key>
        <string>{531,338}</string>
      </dict>
      <key>monster_2475_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{733,2207},{519,340}}</string>
        <key>offset</key>
        <string>{-261,179}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{519,340}}</string>
        <key>sourceSize</key>
        <string>{519,340}</string>
      </dict>
      <key>monster_2475_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1339,531},{521,334}}</string>
        <key>offset</key>
        <string>{-261,191}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{521,334}}</string>
        <key>sourceSize</key>
        <string>{521,334}</string>
      </dict>
      <key>monster_2475_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,2379},{556,321}}</string>
        <key>offset</key>
        <string>{-263,246}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{556,321}}</string>
        <key>sourceSize</key>
        <string>{556,321}</string>
      </dict>
      <key>monster_2475_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{2454,470},{430,406}}</string>
        <key>offset</key>
        <string>{-193,224}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{430,406}}</string>
        <key>sourceSize</key>
        <string>{430,406}</string>
      </dict>
      <key>monster_2475_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{2815,0},{208,369}}</string>
        <key>offset</key>
        <string>{-76,198}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,369}}</string>
        <key>sourceSize</key>
        <string>{208,369}</string>
      </dict>
      <key>monster_2475_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{375,0},{581,305}}</string>
        <key>offset</key>
        <string>{-255,213}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{581,305}}</string>
        <key>sourceSize</key>
        <string>{581,305}</string>
      </dict>
      <key>monster_2475_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{334,606},{583,325}}</string>
        <key>offset</key>
        <string>{-264,234}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{583,325}}</string>
        <key>sourceSize</key>
        <string>{583,325}</string>
      </dict>
      <key>monster_2475_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,606},{604,332}}</string>
        <key>offset</key>
        <string>{-279,245}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{604,332}}</string>
        <key>sourceSize</key>
        <string>{604,332}</string>
      </dict>
      <key>monster_2475_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,3466},{529,356}}</string>
        <key>offset</key>
        <string>{-270,191}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{529,356}}</string>
        <key>sourceSize</key>
        <string>{529,356}</string>
      </dict>
      <key>monster_2475_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{770,3466},{529,413}}</string>
        <key>offset</key>
        <string>{-263,177}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{529,413}}</string>
        <key>sourceSize</key>
        <string>{529,413}</string>
      </dict>
      <key>monster_2475_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1567,2624},{439,340}}</string>
        <key>offset</key>
        <string>{-168,185}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{439,340}}</string>
        <key>sourceSize</key>
        <string>{439,340}</string>
      </dict>
      <key>monster_2475_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{709,1147},{531,338}}</string>
        <key>offset</key>
        <string>{-270,156}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{531,338}}</string>
        <key>sourceSize</key>
        <string>{531,338}</string>
      </dict>
      <key>monster_2475_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{823,2728},{519,341}}</string>
        <key>offset</key>
        <string>{-258,178}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{519,341}}</string>
        <key>sourceSize</key>
        <string>{519,341}</string>
      </dict>
      <key>monster_2475_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1491,0},{521,334}}</string>
        <key>offset</key>
        <string>{-260,189}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{521,334}}</string>
        <key>sourceSize</key>
        <string>{521,334}</string>
      </dict>
      <key>monster_2475_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1564,3229},{441,350}}</string>
        <key>offset</key>
        <string>{-70,184}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{441,350}}</string>
        <key>sourceSize</key>
        <string>{441,350}</string>
      </dict>
      <key>monster_2475_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1675,523},{504,391}}</string>
        <key>offset</key>
        <string>{-121,207}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{504,391}}</string>
        <key>sourceSize</key>
        <string>{504,391}</string>
      </dict>
      <key>monster_2475_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{387,1191},{563,320}}</string>
        <key>offset</key>
        <string>{-160,188}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{563,320}}</string>
        <key>sourceSize</key>
        <string>{563,320}</string>
      </dict>
      <key>monster_2475_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1506,1560},{486,372}}</string>
        <key>offset</key>
        <string>{-109,213}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{486,372}}</string>
        <key>sourceSize</key>
        <string>{486,372}</string>
      </dict>
      <key>monster_2475_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1185,3229},{468,377}}</string>
        <key>offset</key>
        <string>{-91,232}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{468,377}}</string>
        <key>sourceSize</key>
        <string>{468,377}</string>
      </dict>
      <key>monster_2475_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{2068,502},{470,384}}</string>
        <key>offset</key>
        <string>{-93,244}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{470,384}}</string>
        <key>sourceSize</key>
        <string>{470,384}</string>
      </dict>
      <key>monster_2475_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1139,1616},{518,365}}</string>
        <key>offset</key>
        <string>{-227,168}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{518,365}}</string>
        <key>sourceSize</key>
        <string>{518,365}</string>
      </dict>
      <key>monster_2475_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1166,2727},{500,399}}</string>
        <key>offset</key>
        <string>{-196,177}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{500,399}}</string>
        <key>sourceSize</key>
        <string>{500,399}</string>
      </dict>
      <key>monster_2475_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1814,2048},{432,375}}</string>
        <key>offset</key>
        <string>{-117,128}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{432,375}}</string>
        <key>sourceSize</key>
        <string>{432,375}</string>
      </dict>
      <key>monster_2475_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{323,2379},{549,408}}</string>
        <key>offset</key>
        <string>{-253,175}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{549,408}}</string>
        <key>sourceSize</key>
        <string>{549,408}</string>
      </dict>
      <key>monster_2475_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{410,2930},{534,411}}</string>
        <key>offset</key>
        <string>{-240,195}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{534,411}}</string>
        <key>sourceSize</key>
        <string>{534,411}</string>
      </dict>
      <key>monster_2475_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1049,1089},{525,407}}</string>
        <key>offset</key>
        <string>{-231,206}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{525,407}}</string>
        <key>sourceSize</key>
        <string>{525,407}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_2475_0_2.png</string>
      <key>size</key>
      <string>{4096,4096}</string>
      <key>textureFileName</key>
      <string>monster_2475_0_2.png</string>
    </dict>
  </dict>
</plist>