<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16185_0_7_0_0000.png</key>
      <dict>
        <key>offset</key>
        <string>{-21,90}</string>
        <key>sourceSize</key>
        <string>{159,130}</string>
        <key>rotated</key>
        <false />
        <key>frame</key>
        <string>{{1376,200},{159,130}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{159,130}}</string>
      </dict>
      <key>monster_16185_0_7_0_0001.png</key>
      <dict>
        <key>offset</key>
        <string>{-32,144}</string>
        <key>sourceSize</key>
        <string>{159,188}</string>
        <key>rotated</key>
        <true />
        <key>frame</key>
        <string>{{1013,200},{159,188}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{159,188}}</string>
      </dict>
      <key>monster_16185_0_7_1_0000.png</key>
      <dict>
        <key>offset</key>
        <string>{-39,77}</string>
        <key>sourceSize</key>
        <string>{215,123}</string>
        <key>rotated</key>
        <false />
        <key>frame</key>
        <string>{{0,200},{215,123}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{215,123}}</string>
      </dict>
      <key>monster_16185_0_7_1_0001.png</key>
      <dict>
        <key>offset</key>
        <string>{-21,115}</string>
        <key>sourceSize</key>
        <string>{199,164}</string>
        <key>rotated</key>
        <false />
        <key>frame</key>
        <string>{{418,200},{199,164}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{199,164}}</string>
      </dict>
      <key>monster_16185_0_7_2_0000.png</key>
      <dict>
        <key>offset</key>
        <string>{-32,102}</string>
        <key>sourceSize</key>
        <string>{194,185}</string>
        <key>rotated</key>
        <false />
        <key>frame</key>
        <string>{{817,200},{194,185}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{194,185}}</string>
      </dict>
      <key>monster_16185_0_7_2_0001.png</key>
      <dict>
        <key>offset</key>
        <string>{-30,120}</string>
        <key>sourceSize</key>
        <string>{196,191}</string>
        <key>rotated</key>
        <false />
        <key>frame</key>
        <string>{{619,200},{196,191}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{196,191}}</string>
      </dict>
      <key>monster_16185_0_7_3_0000.png</key>
      <dict>
        <key>offset</key>
        <string>{-45,123}</string>
        <key>sourceSize</key>
        <string>{133,245}</string>
        <key>rotated</key>
        <true />
        <key>frame</key>
        <string>{{758,0},{133,245}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{133,245}}</string>
      </dict>
      <key>monster_16185_0_7_3_0001.png</key>
      <dict>
        <key>offset</key>
        <string>{-39,122}</string>
        <key>sourceSize</key>
        <string>{157,240}</string>
        <key>rotated</key>
        <true />
        <key>frame</key>
        <string>{{1247,0},{157,240}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{157,240}}</string>
      </dict>
      <key>monster_16185_0_7_4_0000.png</key>
      <dict>
        <key>offset</key>
        <string>{-88,128}</string>
        <key>sourceSize</key>
        <string>{198,238}</string>
        <key>rotated</key>
        <true />
        <key>frame</key>
        <string>{{1489,0},{198,238}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{198,238}}</string>
      </dict>
      <key>monster_16185_0_7_4_0001.png</key>
      <dict>
        <key>offset</key>
        <string>{-65,132}</string>
        <key>sourceSize</key>
        <string>{194,238}</string>
        <key>rotated</key>
        <true />
        <key>frame</key>
        <string>{{1729,0},{194,238}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{194,238}}</string>
      </dict>
      <key>monster_16185_0_7_5_0000.png</key>
      <dict>
        <key>offset</key>
        <string>{-124,137}</string>
        <key>sourceSize</key>
        <string>{260,189}</string>
        <key>rotated</key>
        <false />
        <key>frame</key>
        <string>{{0,0},{260,189}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{260,189}}</string>
      </dict>
      <key>monster_16185_0_7_5_0001.png</key>
      <dict>
        <key>offset</key>
        <string>{-120,129}</string>
        <key>sourceSize</key>
        <string>{240,181}</string>
        <key>rotated</key>
        <false />
        <key>frame</key>
        <string>{{1005,0},{240,181}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{240,181}}</string>
      </dict>
      <key>monster_16185_0_7_6_0000.png</key>
      <dict>
        <key>offset</key>
        <string>{-109,126}</string>
        <key>sourceSize</key>
        <string>{246,176}</string>
        <key>rotated</key>
        <false />
        <key>frame</key>
        <string>{{262,0},{246,176}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{246,176}}</string>
      </dict>
      <key>monster_16185_0_7_6_0001.png</key>
      <dict>
        <key>offset</key>
        <string>{-116,118}</string>
        <key>sourceSize</key>
        <string>{246,168}</string>
        <key>rotated</key>
        <false />
        <key>frame</key>
        <string>{{510,0},{246,168}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{246,168}}</string>
      </dict>
      <key>monster_16185_0_7_7_0000.png</key>
      <dict>
        <key>offset</key>
        <string>{-21,123}</string>
        <key>sourceSize</key>
        <string>{170,171}</string>
        <key>rotated</key>
        <true />
        <key>frame</key>
        <string>{{1203,200},{170,171}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{170,171}}</string>
      </dict>
      <key>monster_16185_0_7_7_0001.png</key>
      <dict>
        <key>offset</key>
        <string>{-70,129}</string>
        <key>sourceSize</key>
        <string>{199,173}</string>
        <key>rotated</key>
        <false />
        <key>frame</key>
        <string>{{217,200},{199,173}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{199,173}}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16185_0_7.png</string>
      <key>textureFileName</key>
      <string>monster_16185_0_7.png</string>
      <key>size</key>
      <string>{1969,393}</string>
    </dict>
  </dict>
</plist>