<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16325_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{979,1427},{168,312}}</string>
        <key>offset</key>
        <string>{-79,234}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,312}}</string>
        <key>sourceSize</key>
        <string>{168,312}</string>
      </dict>
      <key>monster_16325_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{637,1835},{177,315}}</string>
        <key>offset</key>
        <string>{-85,237}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{177,315}}</string>
        <key>sourceSize</key>
        <string>{177,315}</string>
      </dict>
      <key>monster_16325_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{319,1835},{175,316}}</string>
        <key>offset</key>
        <string>{-78,239}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{175,316}}</string>
        <key>sourceSize</key>
        <string>{175,316}</string>
      </dict>
      <key>monster_16325_0_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{971,0},{169,313}}</string>
        <key>offset</key>
        <string>{-66,237}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,313}}</string>
        <key>sourceSize</key>
        <string>{169,313}</string>
      </dict>
      <key>monster_16325_0_0_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{954,1835},{163,315}}</string>
        <key>offset</key>
        <string>{-59,239}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,315}}</string>
        <key>sourceSize</key>
        <string>{163,315}</string>
      </dict>
      <key>monster_16325_0_0_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{651,1673},{160,321}}</string>
        <key>offset</key>
        <string>{-57,244}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,321}}</string>
        <key>sourceSize</key>
        <string>{160,321}</string>
      </dict>
      <key>monster_16325_0_0_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1581},{158,322}}</string>
        <key>offset</key>
        <string>{-56,245}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,322}}</string>
        <key>sourceSize</key>
        <string>{158,322}</string>
      </dict>
      <key>monster_16325_0_0_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{909,747},{157,318}}</string>
        <key>offset</key>
        <string>{-61,240}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,318}}</string>
        <key>sourceSize</key>
        <string>{157,318}</string>
      </dict>
      <key>monster_16325_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1774},{221,317}}</string>
        <key>offset</key>
        <string>{-33,235}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{221,317}}</string>
        <key>sourceSize</key>
        <string>{221,317}</string>
      </dict>
      <key>monster_16325_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{654,1448},{223,323}}</string>
        <key>offset</key>
        <string>{-37,240}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{223,323}}</string>
        <key>sourceSize</key>
        <string>{223,323}</string>
      </dict>
      <key>monster_16325_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{328,1343},{216,324}}</string>
        <key>offset</key>
        <string>{-35,243}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{216,324}}</string>
        <key>sourceSize</key>
        <string>{216,324}</string>
      </dict>
      <key>monster_16325_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{326,1561},{211,323}}</string>
        <key>offset</key>
        <string>{-34,243}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{211,323}}</string>
        <key>sourceSize</key>
        <string>{211,323}</string>
      </dict>
      <key>monster_16325_0_0_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1369},{210,324}}</string>
        <key>offset</key>
        <string>{-35,244}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{210,324}}</string>
        <key>sourceSize</key>
        <string>{210,324}</string>
      </dict>
      <key>monster_16325_0_0_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{347,1135},{206,327}}</string>
        <key>offset</key>
        <string>{-33,247}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,327}}</string>
        <key>sourceSize</key>
        <string>{206,327}</string>
      </dict>
      <key>monster_16325_0_0_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1159},{208,326}}</string>
        <key>offset</key>
        <string>{-32,246}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,326}}</string>
        <key>sourceSize</key>
        <string>{208,326}</string>
      </dict>
      <key>monster_16325_0_0_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{877,1104},{214,321}}</string>
        <key>offset</key>
        <string>{-32,240}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{214,321}}</string>
        <key>sourceSize</key>
        <string>{214,321}</string>
      </dict>
      <key>monster_16325_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{710,1104},{165,342}}</string>
        <key>offset</key>
        <string>{-9,242}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,342}}</string>
        <key>sourceSize</key>
        <string>{165,342}</string>
      </dict>
      <key>monster_16325_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,968},{165,350}}</string>
        <key>offset</key>
        <string>{-14,247}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,350}}</string>
        <key>sourceSize</key>
        <string>{165,350}</string>
      </dict>
      <key>monster_16325_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{730,747},{177,355}}</string>
        <key>offset</key>
        <string>{-27,254}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{177,355}}</string>
        <key>sourceSize</key>
        <string>{177,355}</string>
      </dict>
      <key>monster_16325_0_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{372,578},{200,356}}</string>
        <key>offset</key>
        <string>{-44,256}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,356}}</string>
        <key>sourceSize</key>
        <string>{200,356}</string>
      </dict>
      <key>monster_16325_0_0_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,771},{208,356}}</string>
        <key>offset</key>
        <string>{-44,256}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,356}}</string>
        <key>sourceSize</key>
        <string>{208,356}</string>
      </dict>
      <key>monster_16325_0_0_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{769,388},{202,357}}</string>
        <key>offset</key>
        <string>{-33,256}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{202,357}}</string>
        <key>sourceSize</key>
        <string>{202,357}</string>
      </dict>
      <key>monster_16325_0_0_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,780},{186,353}}</string>
        <key>offset</key>
        <string>{-14,253}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{186,353}}</string>
        <key>sourceSize</key>
        <string>{186,353}</string>
      </dict>
      <key>monster_16325_0_0_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,981},{176,345}}</string>
        <key>offset</key>
        <string>{-8,247}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,345}}</string>
        <key>sourceSize</key>
        <string>{176,345}</string>
      </dict>
      <key>monster_16325_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,578},{191,370}}</string>
        <key>offset</key>
        <string>{-24,248}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{191,370}}</string>
        <key>sourceSize</key>
        <string>{191,370}</string>
      </dict>
      <key>monster_16325_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{388,383},{193,379}}</string>
        <key>offset</key>
        <string>{-27,255}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{193,379}}</string>
        <key>sourceSize</key>
        <string>{193,379}</string>
      </dict>
      <key>monster_16325_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,190},{192,386}}</string>
        <key>offset</key>
        <string>{-23,264}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{192,386}}</string>
        <key>sourceSize</key>
        <string>{192,386}</string>
      </dict>
      <key>monster_16325_0_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{188,389}}</string>
        <key>offset</key>
        <string>{-21,269}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,389}}</string>
        <key>sourceSize</key>
        <string>{188,389}</string>
      </dict>
      <key>monster_16325_0_0_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{391,0},{190,388}}</string>
        <key>offset</key>
        <string>{-23,269}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{190,388}}</string>
        <key>sourceSize</key>
        <string>{190,388}</string>
      </dict>
      <key>monster_16325_0_0_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{781,0},{188,386}}</string>
        <key>offset</key>
        <string>{-23,268}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,386}}</string>
        <key>sourceSize</key>
        <string>{188,386}</string>
      </dict>
      <key>monster_16325_0_0_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{388,192},{189,381}}</string>
        <key>offset</key>
        <string>{-22,263}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{189,381}}</string>
        <key>sourceSize</key>
        <string>{189,381}</string>
      </dict>
      <key>monster_16325_0_0_7_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,384},{192,374}}</string>
        <key>offset</key>
        <string>{-23,254}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{192,374}}</string>
        <key>sourceSize</key>
        <string>{192,374}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16325_0_0_1.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_16325_0_0_1.png</string>
    </dict>
  </dict>
</plist>