<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_2425_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1125,324},{299,304}}</string>
        <key>offset</key>
        <string>{-41,243}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{299,304}}</string>
        <key>sourceSize</key>
        <string>{299,304}</string>
      </dict>
      <key>monster_2425_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{679,1083},{318,305}}</string>
        <key>offset</key>
        <string>{-41,267}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{318,305}}</string>
        <key>sourceSize</key>
        <string>{318,305}</string>
      </dict>
      <key>monster_2425_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{347,1083},{330,337}}</string>
        <key>offset</key>
        <string>{-41,297}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{330,337}}</string>
        <key>sourceSize</key>
        <string>{330,337}</string>
      </dict>
      <key>monster_2425_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{705,324},{358,418}}</string>
        <key>offset</key>
        <string>{-113,304}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{358,418}}</string>
        <key>sourceSize</key>
        <string>{358,418}</string>
      </dict>
      <key>monster_2425_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{705,0},{322,436}}</string>
        <key>offset</key>
        <string>{-57,315}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{322,436}}</string>
        <key>sourceSize</key>
        <string>{322,436}</string>
      </dict>
      <key>monster_2425_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{986,1002},{269,318}}</string>
        <key>offset</key>
        <string>{-49,191}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{269,318}}</string>
        <key>sourceSize</key>
        <string>{269,318}</string>
      </dict>
      <key>monster_2425_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1098},{345,288}}</string>
        <key>offset</key>
        <string>{-44,242}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{345,288}}</string>
        <key>sourceSize</key>
        <string>{345,288}</string>
      </dict>
      <key>monster_2425_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{392,0},{421,281}}</string>
        <key>offset</key>
        <string>{-36,249}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{421,281}}</string>
        <key>sourceSize</key>
        <string>{421,281}</string>
      </dict>
      <key>monster_2425_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{705,684},{418,316}}</string>
        <key>offset</key>
        <string>{-46,283}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{418,316}}</string>
        <key>sourceSize</key>
        <string>{418,316}</string>
      </dict>
      <key>monster_2425_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{578,390}}</string>
        <key>offset</key>
        <string>{-281,306}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{578,390}}</string>
        <key>sourceSize</key>
        <string>{578,390}</string>
      </dict>
      <key>monster_2425_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{304,580},{501,399}}</string>
        <key>offset</key>
        <string>{-220,298}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{501,399}}</string>
        <key>sourceSize</key>
        <string>{501,399}</string>
      </dict>
      <key>monster_2425_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,580},{516,302}}</string>
        <key>offset</key>
        <string>{-200,207}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{516,302}}</string>
        <key>sourceSize</key>
        <string>{516,302}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_2425_0_2_2.png</string>
      <key>size</key>
      <string>{1430,1425}</string>
      <key>textureFileName</key>
      <string>monster_2425_0_2_2.png</string>
    </dict>
  </dict>
</plist>