<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_2204_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1065,0},{549,299}}</string>
        <key>offset</key>
        <string>{-297,201}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{549,299}}</string>
        <key>sourceSize</key>
        <string>{549,299}</string>
      </dict>
      <key>monster_2204_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{773,0},{551,290}}</string>
        <key>offset</key>
        <string>{-299,191}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{551,290}}</string>
        <key>sourceSize</key>
        <string>{551,290}</string>
      </dict>
      <key>monster_2204_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{777,553},{456,280}}</string>
        <key>offset</key>
        <string>{-207,189}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{456,280}}</string>
        <key>sourceSize</key>
        <string>{456,280}</string>
      </dict>
      <key>monster_2204_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{339,1276},{427,376}}</string>
        <key>offset</key>
        <string>{-229,281}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{427,376}}</string>
        <key>sourceSize</key>
        <string>{427,376}</string>
      </dict>
      <key>monster_2204_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{331,648},{626,444}}</string>
        <key>offset</key>
        <string>{-275,225}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{626,444}}</string>
        <key>sourceSize</key>
        <string>{626,444}</string>
      </dict>
      <key>monster_2204_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{646,456}}</string>
        <key>offset</key>
        <string>{-279,238}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{646,456}}</string>
        <key>sourceSize</key>
        <string>{646,456}</string>
      </dict>
      <key>monster_2204_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{777,1092},{522,329}}</string>
        <key>offset</key>
        <string>{-272,238}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{522,329}}</string>
        <key>sourceSize</key>
        <string>{522,329}</string>
      </dict>
      <key>monster_2204_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1065,551},{539,334}}</string>
        <key>offset</key>
        <string>{-281,242}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{539,334}}</string>
        <key>sourceSize</key>
        <string>{539,334}</string>
      </dict>
      <key>monster_2204_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1301,1092},{506,316}}</string>
        <key>offset</key>
        <string>{-260,240}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{506,316}}</string>
        <key>sourceSize</key>
        <string>{506,316}</string>
      </dict>
      <key>monster_2204_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1279},{516,337}}</string>
        <key>offset</key>
        <string>{-265,266}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{516,337}}</string>
        <key>sourceSize</key>
        <string>{516,337}</string>
      </dict>
      <key>monster_2204_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{458,0},{570,313}}</string>
        <key>offset</key>
        <string>{-263,167}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{570,313}}</string>
        <key>sourceSize</key>
        <string>{570,313}</string>
      </dict>
      <key>monster_2204_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,648},{629,329}}</string>
        <key>offset</key>
        <string>{-255,183}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{629,329}}</string>
        <key>sourceSize</key>
        <string>{629,329}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_2204_0_2_1.png</string>
      <key>size</key>
      <string>{1636,1873}</string>
      <key>textureFileName</key>
      <string>monster_2204_0_2_1.png</string>
    </dict>
  </dict>
</plist>