<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16477_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{920,334},{284,325}}</string>
        <key>offset</key>
        <string>{-187,283}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{284,325}}</string>
        <key>sourceSize</key>
        <string>{284,325}</string>
      </dict>
      <key>monster_16477_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,742},{274,334}}</string>
        <key>offset</key>
        <string>{-189,297}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{274,334}}</string>
        <key>sourceSize</key>
        <string>{274,334}</string>
      </dict>
      <key>monster_16477_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{947,661},{290,307}}</string>
        <key>offset</key>
        <string>{-184,273}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{290,307}}</string>
        <key>sourceSize</key>
        <string>{290,307}</string>
      </dict>
      <key>monster_16477_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1194,0},{281,312}}</string>
        <key>offset</key>
        <string>{-175,275}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{281,312}}</string>
        <key>sourceSize</key>
        <string>{281,312}</string>
      </dict>
      <key>monster_16477_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{624,0},{279,334}}</string>
        <key>offset</key>
        <string>{-191,300}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{279,334}}</string>
        <key>sourceSize</key>
        <string>{279,334}</string>
      </dict>
      <key>monster_16477_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{905,0},{287,332}}</string>
        <key>offset</key>
        <string>{-191,294}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{287,332}}</string>
        <key>sourceSize</key>
        <string>{287,332}</string>
      </dict>
      <key>monster_16477_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{301,372},{367,303}}</string>
        <key>offset</key>
        <string>{-236,260}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{367,303}}</string>
        <key>sourceSize</key>
        <string>{367,303}</string>
      </dict>
      <key>monster_16477_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{304,0},{350,318}}</string>
        <key>offset</key>
        <string>{-234,278}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{350,318}}</string>
        <key>sourceSize</key>
        <string>{350,318}</string>
      </dict>
      <key>monster_16477_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{606,695},{339,318}}</string>
        <key>offset</key>
        <string>{-240,274}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{339,318}}</string>
        <key>sourceSize</key>
        <string>{339,318}</string>
      </dict>
      <key>monster_16477_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{606,352},{341,312}}</string>
        <key>offset</key>
        <string>{-238,270}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{341,312}}</string>
        <key>sourceSize</key>
        <string>{341,312}</string>
      </dict>
      <key>monster_16477_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{370,302}}</string>
        <key>offset</key>
        <string>{-248,266}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{370,302}}</string>
        <key>sourceSize</key>
        <string>{370,302}</string>
      </dict>
      <key>monster_16477_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,372},{368,299}}</string>
        <key>offset</key>
        <string>{-245,258}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{368,299}}</string>
        <key>sourceSize</key>
        <string>{368,299}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16477_0_1_1.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>monster_16477_0_1_1.png</string>
    </dict>
  </dict>
</plist>