<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16146_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,284},{281,232}}</string>
        <key>offset</key>
        <string>{-140,164}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{281,232}}</string>
        <key>sourceSize</key>
        <string>{281,232}</string>
      </dict>
      <key>monster_16146_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{983,0},{262,231}}</string>
        <key>offset</key>
        <string>{-138,163}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{262,231}}</string>
        <key>sourceSize</key>
        <string>{262,231}</string>
      </dict>
      <key>monster_16146_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{974,1230},{249,226}}</string>
        <key>offset</key>
        <string>{-136,161}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{249,226}}</string>
        <key>sourceSize</key>
        <string>{249,226}</string>
      </dict>
      <key>monster_16146_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{745,1230},{254,227}}</string>
        <key>offset</key>
        <string>{-134,160}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{254,227}}</string>
        <key>sourceSize</key>
        <string>{254,227}</string>
      </dict>
      <key>monster_16146_0_0_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{267,561},{269,233}}</string>
        <key>offset</key>
        <string>{-133,161}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{269,233}}</string>
        <key>sourceSize</key>
        <string>{269,233}</string>
      </dict>
      <key>monster_16146_0_0_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{234,284},{275,240}}</string>
        <key>offset</key>
        <string>{-134,165}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{275,240}}</string>
        <key>sourceSize</key>
        <string>{275,240}</string>
      </dict>
      <key>monster_16146_0_0_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{964,988},{256,240}}</string>
        <key>offset</key>
        <string>{-136,169}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{256,240}}</string>
        <key>sourceSize</key>
        <string>{256,240}</string>
      </dict>
      <key>monster_16146_0_0_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{476,277},{269,246}}</string>
        <key>offset</key>
        <string>{-139,172}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{269,246}}</string>
        <key>sourceSize</key>
        <string>{269,246}</string>
      </dict>
      <key>monster_16146_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{502,548},{267,217}}</string>
        <key>offset</key>
        <string>{-131,155}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{267,217}}</string>
        <key>sourceSize</key>
        <string>{267,217}</string>
      </dict>
      <key>monster_16146_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{255,850},{270,230}}</string>
        <key>offset</key>
        <string>{-128,159}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{270,230}}</string>
        <key>sourceSize</key>
        <string>{270,230}</string>
      </dict>
      <key>monster_16146_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{970,531},{259,222}}</string>
        <key>offset</key>
        <string>{-126,161}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{259,222}}</string>
        <key>sourceSize</key>
        <string>{259,222}</string>
      </dict>
      <key>monster_16146_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{737,817},{258,225}}</string>
        <key>offset</key>
        <string>{-123,164}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,225}}</string>
        <key>sourceSize</key>
        <string>{258,225}</string>
      </dict>
      <key>monster_16146_0_0_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{970,755},{259,231}}</string>
        <key>offset</key>
        <string>{-123,167}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{259,231}}</string>
        <key>sourceSize</key>
        <string>{259,231}</string>
      </dict>
      <key>monster_16146_0_0_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1216,0},{262,235}}</string>
        <key>offset</key>
        <string>{-125,170}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{262,235}}</string>
        <key>sourceSize</key>
        <string>{262,235}</string>
      </dict>
      <key>monster_16146_0_0_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{734,0},{264,247}}</string>
        <key>offset</key>
        <string>{-128,177}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{264,247}}</string>
        <key>sourceSize</key>
        <string>{264,247}</string>
      </dict>
      <key>monster_16146_0_0_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{492,0},{268,240}}</string>
        <key>offset</key>
        <string>{-130,173}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{268,240}}</string>
        <key>sourceSize</key>
        <string>{268,240}</string>
      </dict>
      <key>monster_16146_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1202,1230},{247,248}}</string>
        <key>offset</key>
        <string>{-109,168}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{247,248}}</string>
        <key>sourceSize</key>
        <string>{247,248}</string>
      </dict>
      <key>monster_16146_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{495,1230},{248,255}}</string>
        <key>offset</key>
        <string>{-106,168}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{248,255}}</string>
        <key>sourceSize</key>
        <string>{248,255}</string>
      </dict>
      <key>monster_16146_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1495,0},{223,246}}</string>
        <key>offset</key>
        <string>{-103,173}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{223,246}}</string>
        <key>sourceSize</key>
        <string>{223,246}</string>
      </dict>
      <key>monster_16146_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1231,786},{236,258}}</string>
        <key>offset</key>
        <string>{-100,179}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{236,258}}</string>
        <key>sourceSize</key>
        <string>{236,258}</string>
      </dict>
      <key>monster_16146_0_0_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{724,270},{243,265}}</string>
        <key>offset</key>
        <string>{-100,181}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{243,265}}</string>
        <key>sourceSize</key>
        <string>{243,265}</string>
      </dict>
      <key>monster_16146_0_0_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{259,0},{231,275}}</string>
        <key>offset</key>
        <string>{-103,187}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{231,275}}</string>
        <key>sourceSize</key>
        <string>{231,275}</string>
      </dict>
      <key>monster_16146_0_0_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{721,548},{247,267}}</string>
        <key>offset</key>
        <string>{-105,191}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{247,267}}</string>
        <key>sourceSize</key>
        <string>{247,267}</string>
      </dict>
      <key>monster_16146_0_0_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1124},{240,271}}</string>
        <key>offset</key>
        <string>{-108,192}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{240,271}}</string>
        <key>sourceSize</key>
        <string>{240,271}</string>
      </dict>
      <key>monster_16146_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{487,832},{268,248}}</string>
        <key>offset</key>
        <string>{-130,170}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{268,248}}</string>
        <key>sourceSize</key>
        <string>{268,248}</string>
      </dict>
      <key>monster_16146_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1232,264},{261,259}}</string>
        <key>offset</key>
        <string>{-128,173}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{261,259}}</string>
        <key>sourceSize</key>
        <string>{261,259}</string>
      </dict>
      <key>monster_16146_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,850},{272,253}}</string>
        <key>offset</key>
        <string>{-126,176}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{272,253}}</string>
        <key>sourceSize</key>
        <string>{272,253}</string>
      </dict>
      <key>monster_16146_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1232,525},{259,261}}</string>
        <key>offset</key>
        <string>{-124,181}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{259,261}}</string>
        <key>sourceSize</key>
        <string>{259,261}</string>
      </dict>
      <key>monster_16146_0_0_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{969,266},{261,263}}</string>
        <key>offset</key>
        <string>{-124,186}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{261,263}}</string>
        <key>sourceSize</key>
        <string>{261,263}</string>
      </dict>
      <key>monster_16146_0_0_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,1124},{251,271}}</string>
        <key>offset</key>
        <string>{-126,193}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{251,271}}</string>
        <key>sourceSize</key>
        <string>{251,271}</string>
      </dict>
      <key>monster_16146_0_0_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,567},{265,281}}</string>
        <key>offset</key>
        <string>{-128,199}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{265,281}}</string>
        <key>sourceSize</key>
        <string>{265,281}</string>
      </dict>
      <key>monster_16146_0_0_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{257,282}}</string>
        <key>offset</key>
        <string>{-130,198}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{257,282}}</string>
        <key>sourceSize</key>
        <string>{257,282}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16146_0_0_0.png</string>
      <key>size</key>
      <string>{1759,1536}</string>
      <key>textureFileName</key>
      <string>monster_16146_0_0_0.png</string>
    </dict>
  </dict>
</plist>