<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_2152_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{693,371},{361,310}}</string>
        <key>offset</key>
        <string>{-251,232}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{361,310}}</string>
        <key>sourceSize</key>
        <string>{361,310}</string>
      </dict>
      <key>monster_2152_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{629,0},{369,310}}</string>
        <key>offset</key>
        <string>{-255,232}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{369,310}}</string>
        <key>sourceSize</key>
        <string>{369,310}</string>
      </dict>
      <key>monster_2152_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1544},{369,314}}</string>
        <key>offset</key>
        <string>{-255,236}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{369,314}}</string>
        <key>sourceSize</key>
        <string>{369,314}</string>
      </dict>
      <key>monster_2152_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{316,1544},{368,314}}</string>
        <key>offset</key>
        <string>{-254,236}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{368,314}}</string>
        <key>sourceSize</key>
        <string>{368,314}</string>
      </dict>
      <key>monster_2152_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{977,1470},{308,331}}</string>
        <key>offset</key>
        <string>{-227,260}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{308,331}}</string>
        <key>sourceSize</key>
        <string>{308,331}</string>
      </dict>
      <key>monster_2152_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{997,1132},{308,329}}</string>
        <key>offset</key>
        <string>{-227,261}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{308,329}}</string>
        <key>sourceSize</key>
        <string>{308,329}</string>
      </dict>
      <key>monster_2152_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{687,1132},{308,336}}</string>
        <key>offset</key>
        <string>{-227,265}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{308,336}}</string>
        <key>sourceSize</key>
        <string>{308,336}</string>
      </dict>
      <key>monster_2152_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1000,734},{309,329}}</string>
        <key>offset</key>
        <string>{-227,260}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{309,329}}</string>
        <key>sourceSize</key>
        <string>{309,329}</string>
      </dict>
      <key>monster_2152_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{941,0},{360,339}}</string>
        <key>offset</key>
        <string>{-250,272}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{360,339}}</string>
        <key>sourceSize</key>
        <string>{360,339}</string>
      </dict>
      <key>monster_2152_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{346,1159},{364,339}}</string>
        <key>offset</key>
        <string>{-250,272}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{364,339}}</string>
        <key>sourceSize</key>
        <string>{364,339}</string>
      </dict>
      <key>monster_2152_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{632,1525},{359,343}}</string>
        <key>offset</key>
        <string>{-245,277}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{359,343}}</string>
        <key>sourceSize</key>
        <string>{359,343}</string>
      </dict>
      <key>monster_2152_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{657,766},{364,341}}</string>
        <key>offset</key>
        <string>{-250,276}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{364,341}}</string>
        <key>sourceSize</key>
        <string>{364,341}</string>
      </dict>
      <key>monster_2152_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{348,388},{376,343}}</string>
        <key>offset</key>
        <string>{-178,277}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{376,343}}</string>
        <key>sourceSize</key>
        <string>{376,343}</string>
      </dict>
      <key>monster_2152_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1162},{380,344}}</string>
        <key>offset</key>
        <string>{-181,277}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{380,344}}</string>
        <key>sourceSize</key>
        <string>{380,344}</string>
      </dict>
      <key>monster_2152_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,390},{386,346}}</string>
        <key>offset</key>
        <string>{-181,279}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{386,346}}</string>
        <key>sourceSize</key>
        <string>{386,346}</string>
      </dict>
      <key>monster_2152_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{312,778},{379,343}}</string>
        <key>offset</key>
        <string>{-181,277}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{379,343}}</string>
        <key>sourceSize</key>
        <string>{379,343}</string>
      </dict>
      <key>monster_2152_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1005,362},{284,320}}</string>
        <key>offset</key>
        <string>{-154,253}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{284,320}}</string>
        <key>sourceSize</key>
        <string>{284,320}</string>
      </dict>
      <key>monster_2152_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{317,0},{386,310}}</string>
        <key>offset</key>
        <string>{-187,237}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{386,310}}</string>
        <key>sourceSize</key>
        <string>{386,310}</string>
      </dict>
      <key>monster_2152_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,778},{382,310}}</string>
        <key>offset</key>
        <string>{-183,237}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{382,310}}</string>
        <key>sourceSize</key>
        <string>{382,310}</string>
      </dict>
      <key>monster_2152_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{388,315}}</string>
        <key>offset</key>
        <string>{-183,242}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{388,315}}</string>
        <key>sourceSize</key>
        <string>{388,315}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_2152_0_0_0.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_2152_0_0_0.png</string>
    </dict>
  </dict>
</plist>