<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_2468_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{2704,1748},{648,653}}</string>
        <key>offset</key>
        <string>{-211,312}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{648,653}}</string>
        <key>sourceSize</key>
        <string>{648,653}</string>
      </dict>
      <key>monster_2468_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{3420,0},{650,786}}</string>
        <key>offset</key>
        <string>{-75,321}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{650,786}}</string>
        <key>sourceSize</key>
        <string>{650,786}</string>
      </dict>
      <key>monster_2468_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1197,1853},{606,606}}</string>
        <key>offset</key>
        <string>{-249,359}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{606,606}}</string>
        <key>sourceSize</key>
        <string>{606,606}</string>
      </dict>
      <key>monster_2468_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{1033,782}}</string>
        <key>offset</key>
        <string>{-402,310}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1033,782}}</string>
        <key>sourceSize</key>
        <string>{1033,782}</string>
      </dict>
      <key>monster_2468_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{3359,1748},{622,605}}</string>
        <key>offset</key>
        <string>{-235,389}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{622,605}}</string>
        <key>sourceSize</key>
        <string>{622,605}</string>
      </dict>
      <key>monster_2468_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1197,941},{910,744}}</string>
        <key>offset</key>
        <string>{-308,313}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{910,744}}</string>
        <key>sourceSize</key>
        <string>{910,744}</string>
      </dict>
      <key>monster_2468_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{2704,879},{867,795}}</string>
        <key>offset</key>
        <string>{-481,326}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{867,795}}</string>
        <key>sourceSize</key>
        <string>{867,795}</string>
      </dict>
      <key>monster_2468_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1943,1778},{595,608}}</string>
        <key>offset</key>
        <string>{-216,379}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{595,608}}</string>
        <key>sourceSize</key>
        <string>{595,608}</string>
      </dict>
      <key>monster_2468_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1568,0},{897,753}}</string>
        <key>offset</key>
        <string>{-366,344}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{897,753}}</string>
        <key>sourceSize</key>
        <string>{897,753}</string>
      </dict>
      <key>monster_2468_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{784,0},{939,782}}</string>
        <key>offset</key>
        <string>{-422,300}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{939,782}}</string>
        <key>sourceSize</key>
        <string>{939,782}</string>
      </dict>
      <key>monster_2468_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{524,1035},{941,671}}</string>
        <key>offset</key>
        <string>{-345,329}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{941,671}}</string>
        <key>sourceSize</key>
        <string>{941,671}</string>
      </dict>
      <key>monster_2468_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1943,899},{877,759}}</string>
        <key>offset</key>
        <string>{-441,250}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{877,759}}</string>
        <key>sourceSize</key>
        <string>{877,759}</string>
      </dict>
      <key>monster_2468_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1035},{962,522}}</string>
        <key>offset</key>
        <string>{-409,314}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{962,522}}</string>
        <key>sourceSize</key>
        <string>{962,522}</string>
      </dict>
      <key>monster_2468_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{3359,2355},{611,602}}</string>
        <key>offset</key>
        <string>{-89,346}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{611,602}}</string>
        <key>sourceSize</key>
        <string>{611,602}</string>
      </dict>
      <key>monster_2468_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{2323,0},{877,576}}</string>
        <key>offset</key>
        <string>{-408,364}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{877,576}}</string>
        <key>sourceSize</key>
        <string>{877,576}</string>
      </dict>
      <key>monster_2468_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{2901,0},{860,517}}</string>
        <key>offset</key>
        <string>{-355,337}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{860,517}}</string>
        <key>sourceSize</key>
        <string>{860,517}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_2468_0_2_1.png</string>
      <key>size</key>
      <string>{4096,4096}</string>
      <key>textureFileName</key>
      <string>monster_2468_0_2_1.png</string>
    </dict>
  </dict>
</plist>