<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16432_0_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,856},{396,281}}</string>
        <key>offset</key>
        <string>{-118,165}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{396,281}}</string>
        <key>sourceSize</key>
        <string>{396,281}</string>
      </dict>
      <key>monster_16432_0_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1139},{355,283}}</string>
        <key>offset</key>
        <string>{-74,171}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{355,283}}</string>
        <key>sourceSize</key>
        <string>{355,283}</string>
      </dict>
      <key>monster_16432_0_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{398,856},{392,256}}</string>
        <key>offset</key>
        <string>{-163,120}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{392,256}}</string>
        <key>sourceSize</key>
        <string>{392,256}</string>
      </dict>
      <key>monster_16432_0_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{426,219}}</string>
        <key>offset</key>
        <string>{-200,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{426,219}}</string>
        <key>sourceSize</key>
        <string>{426,219}</string>
      </dict>
      <key>monster_16432_0_4_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,428},{426,219}}</string>
        <key>offset</key>
        <string>{-200,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{426,219}}</string>
        <key>sourceSize</key>
        <string>{426,219}</string>
      </dict>
      <key>monster_16432_0_4_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{221,428},{426,219}}</string>
        <key>offset</key>
        <string>{-200,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{426,219}}</string>
        <key>sourceSize</key>
        <string>{426,219}</string>
      </dict>
      <key>monster_16432_0_4_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{221,0},{426,219}}</string>
        <key>offset</key>
        <string>{-200,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{426,219}}</string>
        <key>sourceSize</key>
        <string>{426,219}</string>
      </dict>
      <key>monster_16432_0_4_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{442,0},{426,219}}</string>
        <key>offset</key>
        <string>{-200,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{426,219}}</string>
        <key>sourceSize</key>
        <string>{426,219}</string>
      </dict>
      <key>monster_16432_0_4_6_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{663,0},{426,219}}</string>
        <key>offset</key>
        <string>{-200,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{426,219}}</string>
        <key>sourceSize</key>
        <string>{426,219}</string>
      </dict>
      <key>monster_16432_0_4_6_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{663,428},{426,219}}</string>
        <key>offset</key>
        <string>{-200,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{426,219}}</string>
        <key>sourceSize</key>
        <string>{426,219}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16432_0_4_6.png</string>
      <key>size</key>
      <string>{1027,1446}</string>
      <key>textureFileName</key>
      <string>monster_16432_0_4_6.png</string>
    </dict>
  </dict>
</plist>