<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_12600_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{547,1653},{544,322}}</string>
        <key>offset</key>
        <string>{-211,149}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{544,322}}</string>
        <key>sourceSize</key>
        <string>{544,322}</string>
      </dict>
      <key>monster_12600_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1126,544},{540,330}}</string>
        <key>offset</key>
        <string>{-206,148}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{540,330}}</string>
        <key>sourceSize</key>
        <string>{540,330}</string>
      </dict>
      <key>monster_12600_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1459,0},{541,329}}</string>
        <key>offset</key>
        <string>{-206,143}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{541,329}}</string>
        <key>sourceSize</key>
        <string>{541,329}</string>
      </dict>
      <key>monster_12600_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{353,0},{549,333}}</string>
        <key>offset</key>
        <string>{-212,142}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{549,333}}</string>
        <key>sourceSize</key>
        <string>{549,333}</string>
      </dict>
      <key>monster_12600_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1657},{545,334}}</string>
        <key>offset</key>
        <string>{-211,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{545,334}}</string>
        <key>sourceSize</key>
        <string>{545,334}</string>
      </dict>
      <key>monster_12600_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1459,331},{541,342}}</string>
        <key>offset</key>
        <string>{-203,139}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{541,342}}</string>
        <key>sourceSize</key>
        <string>{541,342}</string>
      </dict>
      <key>monster_12600_0_1_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{761,1098},{542,351}}</string>
        <key>offset</key>
        <string>{-206,135}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{542,351}}</string>
        <key>sourceSize</key>
        <string>{542,351}</string>
      </dict>
      <key>monster_12600_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{352,1106},{545,407}}</string>
        <key>offset</key>
        <string>{-203,191}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{545,407}}</string>
        <key>sourceSize</key>
        <string>{545,407}</string>
      </dict>
      <key>monster_12600_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{359,551},{545,409}}</string>
        <key>offset</key>
        <string>{-203,192}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{545,409}}</string>
        <key>sourceSize</key>
        <string>{545,409}</string>
      </dict>
      <key>monster_12600_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1458,675},{540,407}}</string>
        <key>offset</key>
        <string>{-202,185}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{540,407}}</string>
        <key>sourceSize</key>
        <string>{540,407}</string>
      </dict>
      <key>monster_12600_0_1_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{688,0},{545,412}}</string>
        <key>offset</key>
        <string>{-204,181}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{545,412}}</string>
        <key>sourceSize</key>
        <string>{545,412}</string>
      </dict>
      <key>monster_12600_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1610,1438},{400,455}}</string>
        <key>offset</key>
        <string>{-190,207}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{400,455}}</string>
        <key>sourceSize</key>
        <string>{400,455}</string>
      </dict>
      <key>monster_12600_0_1_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1114,1590},{494,414}}</string>
        <key>offset</key>
        <string>{-223,174}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{494,414}}</string>
        <key>sourceSize</key>
        <string>{494,414}</string>
      </dict>
      <key>monster_12600_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{770,547},{542,354}}</string>
        <key>offset</key>
        <string>{-217,175}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{542,354}}</string>
        <key>sourceSize</key>
        <string>{542,354}</string>
      </dict>
      <key>monster_12600_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1458,1084},{538,352}}</string>
        <key>offset</key>
        <string>{-225,171}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{538,352}}</string>
        <key>sourceSize</key>
        <string>{538,352}</string>
      </dict>
      <key>monster_12600_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{552,351}}</string>
        <key>offset</key>
        <string>{-214,175}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{552,351}}</string>
        <key>sourceSize</key>
        <string>{552,351}</string>
      </dict>
      <key>monster_12600_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1102,0},{542,355}}</string>
        <key>offset</key>
        <string>{-217,171}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{542,355}}</string>
        <key>sourceSize</key>
        <string>{542,355}</string>
      </dict>
      <key>monster_12600_0_1_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,554},{550,357}}</string>
        <key>offset</key>
        <string>{-219,167}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{550,357}}</string>
        <key>sourceSize</key>
        <string>{550,357}</string>
      </dict>
      <key>monster_12600_0_1_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1106},{549,350}}</string>
        <key>offset</key>
        <string>{-214,172}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{549,350}}</string>
        <key>sourceSize</key>
        <string>{549,350}</string>
      </dict>
      <key>monster_12600_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1126,1086},{502,313}}</string>
        <key>offset</key>
        <string>{-222,152}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{502,313}}</string>
        <key>sourceSize</key>
        <string>{502,313}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_12600_0_1_1.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_12600_0_1_1.png</string>
    </dict>
  </dict>
</plist>