<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16315_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,326},{133,162}}</string>
        <key>offset</key>
        <string>{-37,125}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,162}}</string>
        <key>sourceSize</key>
        <string>{133,162}</string>
      </dict>
      <key>monster_16315_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,225},{209,156}}</string>
        <key>offset</key>
        <string>{-105,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,156}}</string>
        <key>sourceSize</key>
        <string>{209,156}</string>
      </dict>
      <key>monster_16315_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{480,0},{155,162}}</string>
        <key>offset</key>
        <string>{-55,125}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,162}}</string>
        <key>sourceSize</key>
        <string>{155,162}</string>
      </dict>
      <key>monster_16315_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{288,169},{174,155}}</string>
        <key>offset</key>
        <string>{-42,118}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,155}}</string>
        <key>sourceSize</key>
        <string>{174,155}</string>
      </dict>
      <key>monster_16315_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{223,149}}</string>
        <key>offset</key>
        <string>{-122,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{223,149}}</string>
        <key>sourceSize</key>
        <string>{223,149}</string>
      </dict>
      <key>monster_16315_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{288,0},{190,167}}</string>
        <key>offset</key>
        <string>{-38,125}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{190,167}}</string>
        <key>sourceSize</key>
        <string>{190,167}</string>
      </dict>
      <key>monster_16315_0_2_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,326},{171,154}}</string>
        <key>offset</key>
        <string>{-57,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,154}}</string>
        <key>sourceSize</key>
        <string>{171,154}</string>
      </dict>
      <key>monster_16315_0_2_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{151,0},{135,199}}</string>
        <key>offset</key>
        <string>{-66,155}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,199}}</string>
        <key>sourceSize</key>
        <string>{135,199}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16315_0_2_4.png</string>
      <key>size</key>
      <string>{666,514}</string>
      <key>textureFileName</key>
      <string>monster_16315_0_2_4.png</string>
    </dict>
  </dict>
</plist>