<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16347_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{171,0},{236,163}}</string>
        <key>offset</key>
        <string>{-91,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{236,163}}</string>
        <key>sourceSize</key>
        <string>{236,163}</string>
      </dict>
      <key>monster_16347_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{245,169}}</string>
        <key>offset</key>
        <string>{-92,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{245,169}}</string>
        <key>sourceSize</key>
        <string>{245,169}</string>
      </dict>
      <key>monster_16347_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,729},{233,169}}</string>
        <key>offset</key>
        <string>{-86,134}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{233,169}}</string>
        <key>sourceSize</key>
        <string>{233,169}</string>
      </dict>
      <key>monster_16347_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{265,238},{227,166}}</string>
        <key>offset</key>
        <string>{-87,134}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{227,166}}</string>
        <key>sourceSize</key>
        <string>{227,166}</string>
      </dict>
      <key>monster_16347_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{315,688},{218,166}}</string>
        <key>offset</key>
        <string>{-80,128}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{218,166}}</string>
        <key>sourceSize</key>
        <string>{218,166}</string>
      </dict>
      <key>monster_16347_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{415,467},{218,163}}</string>
        <key>offset</key>
        <string>{-80,128}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{218,163}}</string>
        <key>sourceSize</key>
        <string>{218,163}</string>
      </dict>
      <key>monster_16347_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{580,440},{208,141}}</string>
        <key>offset</key>
        <string>{-90,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,141}}</string>
        <key>sourceSize</key>
        <string>{208,141}</string>
      </dict>
      <key>monster_16347_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{433,222},{218,142}}</string>
        <key>offset</key>
        <string>{-99,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{218,142}}</string>
        <key>sourceSize</key>
        <string>{218,142}</string>
      </dict>
      <key>monster_16347_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{171,717},{219,142}}</string>
        <key>offset</key>
        <string>{-99,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{219,142}}</string>
        <key>sourceSize</key>
        <string>{219,142}</string>
      </dict>
      <key>monster_16347_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{630,0},{209,142}}</string>
        <key>offset</key>
        <string>{-87,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,142}}</string>
        <key>sourceSize</key>
        <string>{209,142}</string>
      </dict>
      <key>monster_16347_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{627,851},{197,144}}</string>
        <key>offset</key>
        <string>{-79,117}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{197,144}}</string>
        <key>sourceSize</key>
        <string>{197,144}</string>
      </dict>
      <key>monster_16347_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{945,818},{192,144}}</string>
        <key>offset</key>
        <string>{-77,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{192,144}}</string>
        <key>sourceSize</key>
        <string>{192,144}</string>
      </dict>
      <key>monster_16347_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1227,855},{135,138}}</string>
        <key>offset</key>
        <string>{-39,120}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,138}}</string>
        <key>sourceSize</key>
        <string>{135,138}</string>
      </dict>
      <key>monster_16347_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1147,186},{151,134}}</string>
        <key>offset</key>
        <string>{-50,117}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,134}}</string>
        <key>sourceSize</key>
        <string>{151,134}</string>
      </dict>
      <key>monster_16347_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1166,0},{151,132}}</string>
        <key>offset</key>
        <string>{-48,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,132}}</string>
        <key>sourceSize</key>
        <string>{151,132}</string>
      </dict>
      <key>monster_16347_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1387,298},{136,136}}</string>
        <key>offset</key>
        <string>{-34,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,136}}</string>
        <key>sourceSize</key>
        <string>{136,136}</string>
      </dict>
      <key>monster_16347_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1260,339},{125,143}}</string>
        <key>offset</key>
        <string>{-26,126}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,143}}</string>
        <key>sourceSize</key>
        <string>{125,143}</string>
      </dict>
      <key>monster_16347_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1283,153},{121,143}}</string>
        <key>offset</key>
        <string>{-25,126}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,143}}</string>
        <key>sourceSize</key>
        <string>{121,143}</string>
      </dict>
      <key>monster_16347_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{723,421},{197,129}}</string>
        <key>offset</key>
        <string>{-96,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{197,129}}</string>
        <key>sourceSize</key>
        <string>{197,129}</string>
      </dict>
      <key>monster_16347_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{774,0},{199,129}}</string>
        <key>offset</key>
        <string>{-108,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{199,129}}</string>
        <key>sourceSize</key>
        <string>{199,129}</string>
      </dict>
      <key>monster_16347_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{826,819},{196,117}}</string>
        <key>offset</key>
        <string>{-104,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,117}}</string>
        <key>sourceSize</key>
        <string>{196,117}</string>
      </dict>
      <key>monster_16347_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{905,0},{189,122}}</string>
        <key>offset</key>
        <string>{-94,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{189,122}}</string>
        <key>sourceSize</key>
        <string>{189,122}</string>
      </dict>
      <key>monster_16347_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1008,586},{178,134}}</string>
        <key>offset</key>
        <string>{-84,120}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{178,134}}</string>
        <key>sourceSize</key>
        <string>{178,134}</string>
      </dict>
      <key>monster_16347_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1010,191},{184,135}}</string>
        <key>offset</key>
        <string>{-84,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{184,135}}</string>
        <key>sourceSize</key>
        <string>{184,135}</string>
      </dict>
      <key>monster_16347_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,489},{238,136}}</string>
        <key>offset</key>
        <string>{-102,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{238,136}}</string>
        <key>sourceSize</key>
        <string>{238,136}</string>
      </dict>
      <key>monster_16347_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,247},{240,132}}</string>
        <key>offset</key>
        <string>{-104,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{240,132}}</string>
        <key>sourceSize</key>
        <string>{240,132}</string>
      </dict>
      <key>monster_16347_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{134,247},{237,129}}</string>
        <key>offset</key>
        <string>{-103,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{237,129}}</string>
        <key>sourceSize</key>
        <string>{237,129}</string>
      </dict>
      <key>monster_16347_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{138,486},{229,131}}</string>
        <key>offset</key>
        <string>{-97,101}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{229,131}}</string>
        <key>sourceSize</key>
        <string>{229,131}</string>
      </dict>
      <key>monster_16347_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{484,0},{218,144}}</string>
        <key>offset</key>
        <string>{-92,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{218,144}}</string>
        <key>sourceSize</key>
        <string>{218,144}</string>
      </dict>
      <key>monster_16347_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{336,0},{220,146}}</string>
        <key>offset</key>
        <string>{-91,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{220,146}}</string>
        <key>sourceSize</key>
        <string>{220,146}</string>
      </dict>
      <key>monster_16347_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{758,620},{197,129}}</string>
        <key>offset</key>
        <string>{-55,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{197,129}}</string>
        <key>sourceSize</key>
        <string>{197,129}</string>
      </dict>
      <key>monster_16347_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{627,650},{199,129}}</string>
        <key>offset</key>
        <string>{-45,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{199,129}}</string>
        <key>sourceSize</key>
        <string>{199,129}</string>
      </dict>
      <key>monster_16347_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{889,620},{196,117}}</string>
        <key>offset</key>
        <string>{-46,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,117}}</string>
        <key>sourceSize</key>
        <string>{196,117}</string>
      </dict>
      <key>monster_16347_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1000,395},{189,122}}</string>
        <key>offset</key>
        <string>{-49,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{189,122}}</string>
        <key>sourceSize</key>
        <string>{189,122}</string>
      </dict>
      <key>monster_16347_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1124,377},{178,134}}</string>
        <key>offset</key>
        <string>{-48,120}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{178,134}}</string>
        <key>sourceSize</key>
        <string>{178,134}</string>
      </dict>
      <key>monster_16347_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1029,0},{184,135}}</string>
        <key>offset</key>
        <string>{-54,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{184,135}}</string>
        <key>sourceSize</key>
        <string>{184,135}</string>
      </dict>
      <key>monster_16347_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1278,484},{135,138}}</string>
        <key>offset</key>
        <string>{-52,120}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,138}}</string>
        <key>sourceSize</key>
        <string>{135,138}</string>
      </dict>
      <key>monster_16347_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1091,766},{151,134}}</string>
        <key>offset</key>
        <string>{-57,117}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,134}}</string>
        <key>sourceSize</key>
        <string>{151,134}</string>
      </dict>
      <key>monster_16347_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1144,557},{151,132}}</string>
        <key>offset</key>
        <string>{-59,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,132}}</string>
        <key>sourceSize</key>
        <string>{151,132}</string>
      </dict>
      <key>monster_16347_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1406,145},{136,136}}</string>
        <key>offset</key>
        <string>{-58,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,136}}</string>
        <key>sourceSize</key>
        <string>{136,136}</string>
      </dict>
      <key>monster_16347_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1300,0},{125,143}}</string>
        <key>offset</key>
        <string>{-55,126}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,143}}</string>
        <key>sourceSize</key>
        <string>{125,143}</string>
      </dict>
      <key>monster_16347_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1227,710},{121,143}}</string>
        <key>offset</key>
        <string>{-52,126}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,143}}</string>
        <key>sourceSize</key>
        <string>{121,143}</string>
      </dict>
      <key>monster_16347_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{721,211},{208,141}}</string>
        <key>offset</key>
        <string>{-69,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,141}}</string>
        <key>sourceSize</key>
        <string>{208,141}</string>
      </dict>
      <key>monster_16347_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{577,220},{218,142}}</string>
        <key>offset</key>
        <string>{-70,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{218,142}}</string>
        <key>sourceSize</key>
        <string>{218,142}</string>
      </dict>
      <key>monster_16347_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{271,467},{219,142}}</string>
        <key>offset</key>
        <string>{-71,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{219,142}}</string>
        <key>sourceSize</key>
        <string>{219,142}</string>
      </dict>
      <key>monster_16347_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{483,687},{209,142}}</string>
        <key>offset</key>
        <string>{-73,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,142}}</string>
        <key>sourceSize</key>
        <string>{209,142}</string>
      </dict>
      <key>monster_16347_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{854,421},{197,144}}</string>
        <key>offset</key>
        <string>{-69,117}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{197,144}}</string>
        <key>sourceSize</key>
        <string>{197,144}</string>
      </dict>
      <key>monster_16347_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{864,201},{192,144}}</string>
        <key>offset</key>
        <string>{-66,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{192,144}}</string>
        <key>sourceSize</key>
        <string>{192,144}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16347_0_1.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>monster_16347_0_1.png</string>
    </dict>
  </dict>
</plist>