<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16372_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{479,857},{357,294}}</string>
        <key>offset</key>
        <string>{-145,254}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{357,294}}</string>
        <key>sourceSize</key>
        <string>{357,294}</string>
      </dict>
      <key>monster_16372_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{838,783},{352,296}}</string>
        <key>offset</key>
        <string>{-141,256}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{352,296}}</string>
        <key>sourceSize</key>
        <string>{352,296}</string>
      </dict>
      <key>monster_16372_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,919},{341,289}}</string>
        <key>offset</key>
        <string>{-137,249}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{341,289}}</string>
        <key>sourceSize</key>
        <string>{341,289}</string>
      </dict>
      <key>monster_16372_0_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{253,450},{428,224}}</string>
        <key>offset</key>
        <string>{-171,147}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{428,224}}</string>
        <key>sourceSize</key>
        <string>{428,224}</string>
      </dict>
      <key>monster_16372_0_4_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{479,429},{426,213}}</string>
        <key>offset</key>
        <string>{-169,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{426,213}}</string>
        <key>sourceSize</key>
        <string>{426,213}</string>
      </dict>
      <key>monster_16372_0_4_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{431,0},{427,202}}</string>
        <key>offset</key>
        <string>{-169,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{427,202}}</string>
        <key>sourceSize</key>
        <string>{427,202}</string>
      </dict>
      <key>monster_16372_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{952,0},{392,301}}</string>
        <key>offset</key>
        <string>{-101,228}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{392,301}}</string>
        <key>sourceSize</key>
        <string>{392,301}</string>
      </dict>
      <key>monster_16372_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{952,394},{387,315}}</string>
        <key>offset</key>
        <string>{-116,242}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{387,315}}</string>
        <key>sourceSize</key>
        <string>{387,315}</string>
      </dict>
      <key>monster_16372_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{635,0},{397,315}}</string>
        <key>offset</key>
        <string>{-136,241}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{397,315}}</string>
        <key>sourceSize</key>
        <string>{397,315}</string>
      </dict>
      <key>monster_16372_0_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{201,0},{448,228}}</string>
        <key>offset</key>
        <string>{-210,140}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{448,228}}</string>
        <key>sourceSize</key>
        <string>{448,228}</string>
      </dict>
      <key>monster_16372_0_4_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,464},{453,251}}</string>
        <key>offset</key>
        <string>{-215,149}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{453,251}}</string>
        <key>sourceSize</key>
        <string>{453,251}</string>
      </dict>
      <key>monster_16372_0_4_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{462,199}}</string>
        <key>offset</key>
        <string>{-223,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{462,199}}</string>
        <key>sourceSize</key>
        <string>{462,199}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16372_0_4_2.png</string>
      <key>size</key>
      <string>{1282,1315}</string>
      <key>textureFileName</key>
      <string>monster_16372_0_4_2.png</string>
    </dict>
  </dict>
</plist>