<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_2150_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{882,354},{339,297}}</string>
        <key>offset</key>
        <string>{-188,220}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{339,297}}</string>
        <key>sourceSize</key>
        <string>{339,297}</string>
      </dict>
      <key>monster_2150_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{359,260}}</string>
        <key>offset</key>
        <string>{-215,216}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{359,260}}</string>
        <key>sourceSize</key>
        <string>{359,260}</string>
      </dict>
      <key>monster_2150_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1181,338},{288,314}}</string>
        <key>offset</key>
        <string>{-156,219}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{288,314}}</string>
        <key>sourceSize</key>
        <string>{288,314}</string>
      </dict>
      <key>monster_2150_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,361},{358,337}}</string>
        <key>offset</key>
        <string>{-249,284}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{358,337}}</string>
        <key>sourceSize</key>
        <string>{358,337}</string>
      </dict>
      <key>monster_2150_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,721},{356,299}}</string>
        <key>offset</key>
        <string>{-230,243}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{356,299}}</string>
        <key>sourceSize</key>
        <string>{356,299}</string>
      </dict>
      <key>monster_2150_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{934,0},{276,336}}</string>
        <key>offset</key>
        <string>{-163,254}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{276,336}}</string>
        <key>sourceSize</key>
        <string>{276,336}</string>
      </dict>
      <key>monster_2150_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{262,0},{325,357}}</string>
        <key>offset</key>
        <string>{-223,304}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{325,357}}</string>
        <key>sourceSize</key>
        <string>{325,357}</string>
      </dict>
      <key>monster_2150_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{964,695},{313,321}}</string>
        <key>offset</key>
        <string>{-212,258}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{313,321}}</string>
        <key>sourceSize</key>
        <string>{313,321}</string>
      </dict>
      <key>monster_2150_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{658,1050},{329,182}}</string>
        <key>offset</key>
        <string>{-95,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{329,182}}</string>
        <key>sourceSize</key>
        <string>{329,182}</string>
      </dict>
      <key>monster_2150_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{294,1436},{347,337}}</string>
        <key>offset</key>
        <string>{-210,244}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{347,337}}</string>
        <key>sourceSize</key>
        <string>{347,337}</string>
      </dict>
      <key>monster_2150_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{589,0},{343,352}}</string>
        <key>offset</key>
        <string>{-238,287}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{343,352}}</string>
        <key>sourceSize</key>
        <string>{343,352}</string>
      </dict>
      <key>monster_2150_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{622,354},{350,258}}</string>
        <key>offset</key>
        <string>{-184,190}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{350,258}}</string>
        <key>sourceSize</key>
        <string>{350,258}</string>
      </dict>
      <key>monster_2150_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{842,1050},{325,312}}</string>
        <key>offset</key>
        <string>{-195,218}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{325,312}}</string>
        <key>sourceSize</key>
        <string>{325,312}</string>
      </dict>
      <key>monster_2150_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{301,721},{327,354}}</string>
        <key>offset</key>
        <string>{-190,266}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{327,354}}</string>
        <key>sourceSize</key>
        <string>{327,354}</string>
      </dict>
      <key>monster_2150_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{344,1077},{343,312}}</string>
        <key>offset</key>
        <string>{-230,247}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{343,312}}</string>
        <key>sourceSize</key>
        <string>{343,312}</string>
      </dict>
      <key>monster_2150_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1436},{292,349}}</string>
        <key>offset</key>
        <string>{-208,243}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{292,349}}</string>
        <key>sourceSize</key>
        <string>{292,349}</string>
      </dict>
      <key>monster_2150_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{339,359},{281,354}}</string>
        <key>offset</key>
        <string>{-187,265}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{281,354}}</string>
        <key>sourceSize</key>
        <string>{281,354}</string>
      </dict>
      <key>monster_2150_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1079},{355,342}}</string>
        <key>offset</key>
        <string>{-224,286}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{355,342}}</string>
        <key>sourceSize</key>
        <string>{355,342}</string>
      </dict>
      <key>monster_2150_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{633,1422},{311,332}}</string>
        <key>offset</key>
        <string>{-177,279}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{311,332}}</string>
        <key>sourceSize</key>
        <string>{311,332}</string>
      </dict>
      <key>monster_2150_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{630,706},{342,332}}</string>
        <key>offset</key>
        <string>{-201,245}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{342,332}}</string>
        <key>sourceSize</key>
        <string>{342,332}</string>
      </dict>
      <key>monster_2150_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{633,1756},{324,283}}</string>
        <key>offset</key>
        <string>{-188,216}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{324,283}}</string>
        <key>sourceSize</key>
        <string>{324,283}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_2150_0_2_1.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_2150_0_2_1.png</string>
    </dict>
  </dict>
</plist>