<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16469_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{131,875},{130,118}}</string>
        <key>offset</key>
        <string>{-26,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,118}}</string>
        <key>sourceSize</key>
        <string>{130,118}</string>
      </dict>
      <key>monster_16469_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{766,0},{100,105}}</string>
        <key>offset</key>
        <string>{-23,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,105}}</string>
        <key>sourceSize</key>
        <string>{100,105}</string>
      </dict>
      <key>monster_16469_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{527,234},{104,111}}</string>
        <key>offset</key>
        <string>{-21,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,111}}</string>
        <key>sourceSize</key>
        <string>{104,111}</string>
      </dict>
      <key>monster_16469_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{430,243},{95,115}}</string>
        <key>offset</key>
        <string>{-22,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,115}}</string>
        <key>sourceSize</key>
        <string>{95,115}</string>
      </dict>
      <key>monster_16469_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,118},{92,114}}</string>
        <key>offset</key>
        <string>{-22,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,114}}</string>
        <key>sourceSize</key>
        <string>{92,114}</string>
      </dict>
      <key>monster_16469_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{355,124},{105,117}}</string>
        <key>offset</key>
        <string>{-23,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,117}}</string>
        <key>sourceSize</key>
        <string>{105,117}</string>
      </dict>
      <key>monster_16469_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,451},{109,137}}</string>
        <key>offset</key>
        <string>{-24,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,137}}</string>
        <key>sourceSize</key>
        <string>{109,137}</string>
      </dict>
      <key>monster_16469_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{354,919},{100,110}}</string>
        <key>offset</key>
        <string>{-26,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,110}}</string>
        <key>sourceSize</key>
        <string>{100,110}</string>
      </dict>
      <key>monster_16469_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{251,843},{101,114}}</string>
        <key>offset</key>
        <string>{-23,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,114}}</string>
        <key>sourceSize</key>
        <string>{101,114}</string>
      </dict>
      <key>monster_16469_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{488,474},{105,108}}</string>
        <key>offset</key>
        <string>{-24,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,108}}</string>
        <key>sourceSize</key>
        <string>{105,108}</string>
      </dict>
      <key>monster_16469_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{556,118},{107,111}}</string>
        <key>offset</key>
        <string>{-25,55}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,111}}</string>
        <key>sourceSize</key>
        <string>{107,111}</string>
      </dict>
      <key>monster_16469_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{213,440},{126,123}}</string>
        <key>offset</key>
        <string>{-25,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,123}}</string>
        <key>sourceSize</key>
        <string>{126,123}</string>
      </dict>
      <key>monster_16469_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,151},{98,148}}</string>
        <key>offset</key>
        <string>{-22,92}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,148}}</string>
        <key>sourceSize</key>
        <string>{98,148}</string>
      </dict>
      <key>monster_16469_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,0},{112,116}}</string>
        <key>offset</key>
        <string>{-35,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,116}}</string>
        <key>sourceSize</key>
        <string>{112,116}</string>
      </dict>
      <key>monster_16469_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{346,0},{102,122}}</string>
        <key>offset</key>
        <string>{-24,66}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,122}}</string>
        <key>sourceSize</key>
        <string>{102,122}</string>
      </dict>
      <key>monster_16469_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{382,512},{113,104}}</string>
        <key>offset</key>
        <string>{-24,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,104}}</string>
        <key>sourceSize</key>
        <string>{113,104}</string>
      </dict>
      <key>monster_16469_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{454,360},{112,106}}</string>
        <key>offset</key>
        <string>{-24,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,106}}</string>
        <key>sourceSize</key>
        <string>{112,106}</string>
      </dict>
      <key>monster_16469_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{267,568},{120,113}}</string>
        <key>offset</key>
        <string>{-21,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,113}}</string>
        <key>sourceSize</key>
        <string>{120,113}</string>
      </dict>
      <key>monster_16469_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,301},{106,148}}</string>
        <key>offset</key>
        <string>{-24,92}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,148}}</string>
        <key>sourceSize</key>
        <string>{106,148}</string>
      </dict>
      <key>monster_16469_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,451},{100,141}}</string>
        <key>offset</key>
        <string>{-24,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,141}}</string>
        <key>sourceSize</key>
        <string>{100,141}</string>
      </dict>
      <key>monster_16469_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{215,301},{104,124}}</string>
        <key>offset</key>
        <string>{-24,67}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,124}}</string>
        <key>sourceSize</key>
        <string>{104,124}</string>
      </dict>
      <key>monster_16469_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{633,231},{106,100}}</string>
        <key>offset</key>
        <string>{-21,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,100}}</string>
        <key>sourceSize</key>
        <string>{106,100}</string>
      </dict>
      <key>monster_16469_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{665,113},{106,103}}</string>
        <key>offset</key>
        <string>{-21,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,103}}</string>
        <key>sourceSize</key>
        <string>{106,103}</string>
      </dict>
      <key>monster_16469_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{131,737},{127,108}}</string>
        <key>offset</key>
        <string>{-22,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,108}}</string>
        <key>sourceSize</key>
        <string>{127,108}</string>
      </dict>
      <key>monster_16469_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,737},{129,136}}</string>
        <key>offset</key>
        <string>{-25,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,136}}</string>
        <key>sourceSize</key>
        <string>{129,136}</string>
      </dict>
      <key>monster_16469_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{116,149}}</string>
        <key>offset</key>
        <string>{-22,90}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,149}}</string>
        <key>sourceSize</key>
        <string>{116,149}</string>
      </dict>
      <key>monster_16469_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,147},{109,123}}</string>
        <key>offset</key>
        <string>{-23,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,123}}</string>
        <key>sourceSize</key>
        <string>{109,123}</string>
      </dict>
      <key>monster_16469_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{868,95},{101,93}}</string>
        <key>offset</key>
        <string>{-25,35}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,93}}</string>
        <key>sourceSize</key>
        <string>{101,93}</string>
      </dict>
      <key>monster_16469_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{868,0},{103,93}}</string>
        <key>offset</key>
        <string>{-26,37}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,93}}</string>
        <key>sourceSize</key>
        <string>{103,93}</string>
      </dict>
      <key>monster_16469_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{564,0},{111,100}}</string>
        <key>offset</key>
        <string>{-27,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,100}}</string>
        <key>sourceSize</key>
        <string>{111,100}</string>
      </dict>
      <key>monster_16469_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,151},{142,148}}</string>
        <key>offset</key>
        <string>{-34,90}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,148}}</string>
        <key>sourceSize</key>
        <string>{142,148}</string>
      </dict>
      <key>monster_16469_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,594},{140,141}}</string>
        <key>offset</key>
        <string>{-36,83}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,141}}</string>
        <key>sourceSize</key>
        <string>{140,141}</string>
      </dict>
      <key>monster_16469_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,590},{127,123}}</string>
        <key>offset</key>
        <string>{-36,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,123}}</string>
        <key>sourceSize</key>
        <string>{127,123}</string>
      </dict>
      <key>monster_16469_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{770,210},{96,92}}</string>
        <key>offset</key>
        <string>{-23,37}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,92}}</string>
        <key>sourceSize</key>
        <string>{96,92}</string>
      </dict>
      <key>monster_16469_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{868,190},{97,97}}</string>
        <key>offset</key>
        <string>{-24,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,97}}</string>
        <key>sourceSize</key>
        <string>{97,97}</string>
      </dict>
      <key>monster_16469_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{562,347},{103,107}}</string>
        <key>offset</key>
        <string>{-28,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,107}}</string>
        <key>sourceSize</key>
        <string>{103,107}</string>
      </dict>
      <key>monster_16469_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{118,0},{111,146}}</string>
        <key>offset</key>
        <string>{-22,90}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,146}}</string>
        <key>sourceSize</key>
        <string>{111,146}</string>
      </dict>
      <key>monster_16469_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{231,0},{145,113}}</string>
        <key>offset</key>
        <string>{-23,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,113}}</string>
        <key>sourceSize</key>
        <string>{145,113}</string>
      </dict>
      <key>monster_16469_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{321,272},{107,120}}</string>
        <key>offset</key>
        <string>{-24,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,120}}</string>
        <key>sourceSize</key>
        <string>{107,120}</string>
      </dict>
      <key>monster_16469_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{770,107},{96,101}}</string>
        <key>offset</key>
        <string>{-24,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,101}}</string>
        <key>sourceSize</key>
        <string>{96,101}</string>
      </dict>
      <key>monster_16469_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{666,0},{98,106}}</string>
        <key>offset</key>
        <string>{-25,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,106}}</string>
        <key>sourceSize</key>
        <string>{98,106}</string>
      </dict>
      <key>monster_16469_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{343,690},{98,114}}</string>
        <key>offset</key>
        <string>{-25,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,114}}</string>
        <key>sourceSize</key>
        <string>{98,114}</string>
      </dict>
      <key>monster_16469_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,875},{129,133}}</string>
        <key>offset</key>
        <string>{-24,77}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,133}}</string>
        <key>sourceSize</key>
        <string>{129,133}</string>
      </dict>
      <key>monster_16469_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{108,301},{137,105}}</string>
        <key>offset</key>
        <string>{-26,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,105}}</string>
        <key>sourceSize</key>
        <string>{137,105}</string>
      </dict>
      <key>monster_16469_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{338,394},{116,114}}</string>
        <key>offset</key>
        <string>{-27,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,114}}</string>
        <key>sourceSize</key>
        <string>{116,114}</string>
      </dict>
      <key>monster_16469_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{443,627},{101,109}}</string>
        <key>offset</key>
        <string>{-28,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,109}}</string>
        <key>sourceSize</key>
        <string>{101,109}</string>
      </dict>
      <key>monster_16469_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{354,806},{102,111}}</string>
        <key>offset</key>
        <string>{-29,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,111}}</string>
        <key>sourceSize</key>
        <string>{102,111}</string>
      </dict>
      <key>monster_16469_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{241,719},{100,122}}</string>
        <key>offset</key>
        <string>{-31,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,122}}</string>
        <key>sourceSize</key>
        <string>{100,122}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16469_0_2.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>monster_16469_0_2.png</string>
    </dict>
  </dict>
</plist>