<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16460_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{348,123},{135,107}}</string>
        <key>offset</key>
        <string>{-46,66}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,107}}</string>
        <key>sourceSize</key>
        <string>{135,107}</string>
      </dict>
      <key>monster_16460_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{109,166},{151,106}}</string>
        <key>offset</key>
        <string>{-48,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,106}}</string>
        <key>sourceSize</key>
        <string>{151,106}</string>
      </dict>
      <key>monster_16460_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,188},{172,107}}</string>
        <key>offset</key>
        <string>{-50,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{172,107}}</string>
        <key>sourceSize</key>
        <string>{172,107}</string>
      </dict>
      <key>monster_16460_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{186,104}}</string>
        <key>offset</key>
        <string>{-60,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{186,104}}</string>
        <key>sourceSize</key>
        <string>{186,104}</string>
      </dict>
      <key>monster_16460_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,0},{164,123}}</string>
        <key>offset</key>
        <string>{-53,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,123}}</string>
        <key>sourceSize</key>
        <string>{164,123}</string>
      </dict>
      <key>monster_16460_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,362},{157,130}}</string>
        <key>offset</key>
        <string>{-59,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,130}}</string>
        <key>sourceSize</key>
        <string>{157,130}</string>
      </dict>
      <key>monster_16460_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{231,0},{115,142}}</string>
        <key>offset</key>
        <string>{-42,83}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,142}}</string>
        <key>sourceSize</key>
        <string>{115,142}</string>
      </dict>
      <key>monster_16460_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{217,166},{109,145}}</string>
        <key>offset</key>
        <string>{-42,87}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,145}}</string>
        <key>sourceSize</key>
        <string>{109,145}</string>
      </dict>
      <key>monster_16460_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{328,232},{106,134}}</string>
        <key>offset</key>
        <string>{-44,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,134}}</string>
        <key>sourceSize</key>
        <string>{106,134}</string>
      </dict>
      <key>monster_16460_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{401,340},{124,130}}</string>
        <key>offset</key>
        <string>{-57,88}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,130}}</string>
        <key>sourceSize</key>
        <string>{124,130}</string>
      </dict>
      <key>monster_16460_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{348,0},{138,121}}</string>
        <key>offset</key>
        <string>{-72,82}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,121}}</string>
        <key>sourceSize</key>
        <string>{138,121}</string>
      </dict>
      <key>monster_16460_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{159,319},{147,120}}</string>
        <key>offset</key>
        <string>{-74,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,120}}</string>
        <key>sourceSize</key>
        <string>{147,120}</string>
      </dict>
      <key>monster_16460_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{281,340},{134,118}}</string>
        <key>offset</key>
        <string>{-55,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,118}}</string>
        <key>sourceSize</key>
        <string>{134,118}</string>
      </dict>
      <key>monster_16460_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{485,123},{122,110}}</string>
        <key>offset</key>
        <string>{-45,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,110}}</string>
        <key>sourceSize</key>
        <string>{122,110}</string>
      </dict>
      <key>monster_16460_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{488,0},{107,110}}</string>
        <key>offset</key>
        <string>{-45,73}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,110}}</string>
        <key>sourceSize</key>
        <string>{107,110}</string>
      </dict>
      <key>monster_16460_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{597,0},{103,104}}</string>
        <key>offset</key>
        <string>{-39,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,104}}</string>
        <key>sourceSize</key>
        <string>{103,104}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16460_0_7.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>monster_16460_0_7.png</string>
    </dict>
  </dict>
</plist>