<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16453_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1658},{354,384}}</string>
        <key>offset</key>
        <string>{-191,311}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{354,384}}</string>
        <key>sourceSize</key>
        <string>{354,384}</string>
      </dict>
      <key>monster_16453_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1374,1505},{403,456}}</string>
        <key>offset</key>
        <string>{-215,376}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{403,456}}</string>
        <key>sourceSize</key>
        <string>{403,456}</string>
      </dict>
      <key>monster_16453_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{970,0},{448,475}}</string>
        <key>offset</key>
        <string>{-219,401}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{448,475}}</string>
        <key>sourceSize</key>
        <string>{448,475}</string>
      </dict>
      <key>monster_16453_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{930,1023},{444,480}}</string>
        <key>offset</key>
        <string>{-198,410}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{444,480}}</string>
        <key>sourceSize</key>
        <string>{444,480}</string>
      </dict>
      <key>monster_16453_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{931,529},{445,479}}</string>
        <key>offset</key>
        <string>{-189,412}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{445,479}}</string>
        <key>sourceSize</key>
        <string>{445,479}</string>
      </dict>
      <key>monster_16453_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{596,481}}</string>
        <key>offset</key>
        <string>{-321,410}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{596,481}}</string>
        <key>sourceSize</key>
        <string>{596,481}</string>
      </dict>
      <key>monster_16453_0_2_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{483,0},{527,485}}</string>
        <key>offset</key>
        <string>{-241,407}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{527,485}}</string>
        <key>sourceSize</key>
        <string>{527,485}</string>
      </dict>
      <key>monster_16453_0_2_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,598},{560,493}}</string>
        <key>offset</key>
        <string>{-270,410}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{560,493}}</string>
        <key>sourceSize</key>
        <string>{560,493}</string>
      </dict>
      <key>monster_16453_0_2_6_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1160},{496,490}}</string>
        <key>offset</key>
        <string>{-244,407}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{496,490}}</string>
        <key>sourceSize</key>
        <string>{496,490}</string>
      </dict>
      <key>monster_16453_0_2_6_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{492,1160},{436,492}}</string>
        <key>offset</key>
        <string>{-185,407}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{436,492}}</string>
        <key>sourceSize</key>
        <string>{436,492}</string>
      </dict>
      <key>monster_16453_0_2_6_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{495,529},{434,492}}</string>
        <key>offset</key>
        <string>{-182,405}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{434,492}}</string>
        <key>sourceSize</key>
        <string>{434,492}</string>
      </dict>
      <key>monster_16453_0_2_6_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{930,1505},{442,461}}</string>
        <key>offset</key>
        <string>{-195,378}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{442,461}}</string>
        <key>sourceSize</key>
        <string>{442,461}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16453_0_2_6.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_16453_0_2_6.png</string>
    </dict>
  </dict>
</plist>