<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_10178_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1351,632},{221,246}}</string>
        <key>offset</key>
        <string>{-87,103}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{221,246}}</string>
        <key>sourceSize</key>
        <string>{221,246}</string>
      </dict>
      <key>monster_10178_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{718,658},{325,209}}</string>
        <key>offset</key>
        <string>{-185,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{325,209}}</string>
        <key>sourceSize</key>
        <string>{325,209}</string>
      </dict>
      <key>monster_10178_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{375,359},{329,202}}</string>
        <key>offset</key>
        <string>{-185,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{329,202}}</string>
        <key>sourceSize</key>
        <string>{329,202}</string>
      </dict>
      <key>monster_10178_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{831,328},{325,209}}</string>
        <key>offset</key>
        <string>{-185,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{325,209}}</string>
        <key>sourceSize</key>
        <string>{325,209}</string>
      </dict>
      <key>monster_10178_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{357,186}}</string>
        <key>offset</key>
        <string>{-185,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{357,186}}</string>
        <key>sourceSize</key>
        <string>{357,186}</string>
      </dict>
      <key>monster_10178_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,359},{357,183}}</string>
        <key>offset</key>
        <string>{-185,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{357,183}}</string>
        <key>sourceSize</key>
        <string>{357,183}</string>
      </dict>
      <key>monster_10178_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,718},{357,180}}</string>
        <key>offset</key>
        <string>{-185,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{357,180}}</string>
        <key>sourceSize</key>
        <string>{357,180}</string>
      </dict>
      <key>monster_10178_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{185,359},{357,188}}</string>
        <key>offset</key>
        <string>{-185,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{357,188}}</string>
        <key>sourceSize</key>
        <string>{357,188}</string>
      </dict>
      <key>monster_10178_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{188,0},{357,189}}</string>
        <key>offset</key>
        <string>{-185,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{357,189}}</string>
        <key>sourceSize</key>
        <string>{357,189}</string>
      </dict>
      <key>monster_10178_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{359,718},{357,173}}</string>
        <key>offset</key>
        <string>{-185,116}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{357,173}}</string>
        <key>sourceSize</key>
        <string>{357,173}</string>
      </dict>
      <key>monster_10178_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{621,0},{326,229}}</string>
        <key>offset</key>
        <string>{-185,158}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{326,229}}</string>
        <key>sourceSize</key>
        <string>{326,229}</string>
      </dict>
      <key>monster_10178_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{929,655},{318,236}}</string>
        <key>offset</key>
        <string>{-176,165}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{318,236}}</string>
        <key>sourceSize</key>
        <string>{318,236}</string>
      </dict>
      <key>monster_10178_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{852,0},{324,228}}</string>
        <key>offset</key>
        <string>{-182,157}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{324,228}}</string>
        <key>sourceSize</key>
        <string>{324,228}</string>
      </dict>
      <key>monster_10178_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{379,0},{327,240}}</string>
        <key>offset</key>
        <string>{-185,169}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{327,240}}</string>
        <key>sourceSize</key>
        <string>{327,240}</string>
      </dict>
      <key>monster_10178_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{579,329},{327,250}}</string>
        <key>offset</key>
        <string>{-185,179}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{327,250}}</string>
        <key>sourceSize</key>
        <string>{327,250}</string>
      </dict>
      <key>monster_10178_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1272,0},{218,277}}</string>
        <key>offset</key>
        <string>{-52,190}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{218,277}}</string>
        <key>sourceSize</key>
        <string>{218,277}</string>
      </dict>
      <key>monster_10178_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1167,645},{314,182}}</string>
        <key>offset</key>
        <string>{-78,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{314,182}}</string>
        <key>sourceSize</key>
        <string>{314,182}</string>
      </dict>
      <key>monster_10178_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1082,0},{315,188}}</string>
        <key>offset</key>
        <string>{-79,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{315,188}}</string>
        <key>sourceSize</key>
        <string>{315,188}</string>
      </dict>
      <key>monster_10178_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1042,326},{317,180}}</string>
        <key>offset</key>
        <string>{-81,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{317,180}}</string>
        <key>sourceSize</key>
        <string>{317,180}</string>
      </dict>
      <key>monster_10178_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1224,317},{313,181}}</string>
        <key>offset</key>
        <string>{-77,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{313,181}}</string>
        <key>sourceSize</key>
        <string>{313,181}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_10178_0_1_0.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>monster_10178_0_1_0.png</string>
    </dict>
  </dict>
</plist>