<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_1654_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1073,699},{208,168}}</string>
        <key>offset</key>
        <string>{-111,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,168}}</string>
        <key>sourceSize</key>
        <string>{208,168}</string>
      </dict>
      <key>monster_1654_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{438,0},{244,198}}</string>
        <key>offset</key>
        <string>{-117,157}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{244,198}}</string>
        <key>sourceSize</key>
        <string>{244,198}</string>
      </dict>
      <key>monster_1654_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,257},{244,246}}</string>
        <key>offset</key>
        <string>{-138,197}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{244,246}}</string>
        <key>sourceSize</key>
        <string>{244,246}</string>
      </dict>
      <key>monster_1654_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{185,0},{251,255}}</string>
        <key>offset</key>
        <string>{-162,204}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{251,255}}</string>
        <key>sourceSize</key>
        <string>{251,255}</string>
      </dict>
      <key>monster_1654_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{703,489},{231,194}}</string>
        <key>offset</key>
        <string>{-124,147}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{231,194}}</string>
        <key>sourceSize</key>
        <string>{231,194}</string>
      </dict>
      <key>monster_1654_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{256,784},{202,249}}</string>
        <key>offset</key>
        <string>{-144,196}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{202,249}}</string>
        <key>sourceSize</key>
        <string>{202,249}</string>
      </dict>
      <key>monster_1654_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,264},{213,261}}</string>
        <key>offset</key>
        <string>{-143,205}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{213,261}}</string>
        <key>sourceSize</key>
        <string>{213,261}</string>
      </dict>
      <key>monster_1654_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{694,750},{236,185}}</string>
        <key>offset</key>
        <string>{-148,135}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{236,185}}</string>
        <key>sourceSize</key>
        <string>{236,185}</string>
      </dict>
      <key>monster_1654_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{658,246},{241,240}}</string>
        <key>offset</key>
        <string>{-164,187}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{241,240}}</string>
        <key>sourceSize</key>
        <string>{241,240}</string>
      </dict>
      <key>monster_1654_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,527},{255,254}}</string>
        <key>offset</key>
        <string>{-176,205}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{255,254}}</string>
        <key>sourceSize</key>
        <string>{255,254}</string>
      </dict>
      <key>monster_1654_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{507,750},{238,185}}</string>
        <key>offset</key>
        <string>{-147,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{238,185}}</string>
        <key>sourceSize</key>
        <string>{238,185}</string>
      </dict>
      <key>monster_1654_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{262,183}}</string>
        <key>offset</key>
        <string>{-130,146}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{262,183}}</string>
        <key>sourceSize</key>
        <string>{262,183}</string>
      </dict>
      <key>monster_1654_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{468,505},{243,233}}</string>
        <key>offset</key>
        <string>{-140,198}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{243,233}}</string>
        <key>sourceSize</key>
        <string>{243,233}</string>
      </dict>
      <key>monster_1654_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1243,699},{208,187}}</string>
        <key>offset</key>
        <string>{-131,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,187}}</string>
        <key>sourceSize</key>
        <string>{208,187}</string>
      </dict>
      <key>monster_1654_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{256,513},{249,210}}</string>
        <key>offset</key>
        <string>{-164,148}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{249,210}}</string>
        <key>sourceSize</key>
        <string>{249,210}</string>
      </dict>
      <key>monster_1654_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{863,0},{240,211}}</string>
        <key>offset</key>
        <string>{-144,166}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{240,211}}</string>
        <key>sourceSize</key>
        <string>{240,211}</string>
      </dict>
      <key>monster_1654_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1076,0},{192,225}}</string>
        <key>offset</key>
        <string>{-109,180}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{192,225}}</string>
        <key>sourceSize</key>
        <string>{192,225}</string>
      </dict>
      <key>monster_1654_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1270,451},{172,190}}</string>
        <key>offset</key>
        <string>{-106,143}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{172,190}}</string>
        <key>sourceSize</key>
        <string>{172,190}</string>
      </dict>
      <key>monster_1654_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1073,472},{225,195}}</string>
        <key>offset</key>
        <string>{-136,146}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{225,195}}</string>
        <key>sourceSize</key>
        <string>{225,195}</string>
      </dict>
      <key>monster_1654_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,242},{228,216}}</string>
        <key>offset</key>
        <string>{-132,167}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{228,216}}</string>
        <key>sourceSize</key>
        <string>{228,216}</string>
      </dict>
      <key>monster_1654_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1270,0},{207,221}}</string>
        <key>offset</key>
        <string>{-128,173}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{207,221}}</string>
        <key>sourceSize</key>
        <string>{207,221}</string>
      </dict>
      <key>monster_1654_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{881,722},{230,190}}</string>
        <key>offset</key>
        <string>{-103,147}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{230,190}}</string>
        <key>sourceSize</key>
        <string>{230,190}</string>
      </dict>
      <key>monster_1654_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{215,257},{254,195}}</string>
        <key>offset</key>
        <string>{-180,148}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{254,195}}</string>
        <key>sourceSize</key>
        <string>{254,195}</string>
      </dict>
      <key>monster_1654_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{638,0},{244,223}}</string>
        <key>offset</key>
        <string>{-142,174}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{244,223}}</string>
        <key>sourceSize</key>
        <string>{244,223}</string>
      </dict>
      <key>monster_1654_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{899,489},{230,172}}</string>
        <key>offset</key>
        <string>{-105,135}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{230,172}}</string>
        <key>sourceSize</key>
        <string>{230,172}</string>
      </dict>
      <key>monster_1654_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,784},{254,190}}</string>
        <key>offset</key>
        <string>{-157,149}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{254,190}}</string>
        <key>sourceSize</key>
        <string>{254,190}</string>
      </dict>
      <key>monster_1654_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1118,227},{205,222}}</string>
        <key>offset</key>
        <string>{-110,179}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,222}}</string>
        <key>sourceSize</key>
        <string>{205,222}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_1654_0_2_1.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>monster_1654_0_2_1.png</string>
    </dict>
  </dict>
</plist>