<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16262_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{230,0},{129,124}}</string>
        <key>offset</key>
        <string>{-17,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,124}}</string>
        <key>sourceSize</key>
        <string>{129,124}</string>
      </dict>
      <key>monster_16262_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{115,0},{145,113}}</string>
        <key>offset</key>
        <string>{-19,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,113}}</string>
        <key>sourceSize</key>
        <string>{145,113}</string>
      </dict>
      <key>monster_16262_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,168},{147,65}}</string>
        <key>offset</key>
        <string>{-17,28}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,65}}</string>
        <key>sourceSize</key>
        <string>{147,65}</string>
      </dict>
      <key>monster_16262_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{293,131},{115,124}}</string>
        <key>offset</key>
        <string>{-15,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,124}}</string>
        <key>sourceSize</key>
        <string>{115,124}</string>
      </dict>
      <key>monster_16262_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{166,113}}</string>
        <key>offset</key>
        <string>{-3,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,113}}</string>
        <key>sourceSize</key>
        <string>{166,113}</string>
      </dict>
      <key>monster_16262_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{149,147},{142,75}}</string>
        <key>offset</key>
        <string>{8,18}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,75}}</string>
        <key>sourceSize</key>
        <string>{142,75}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16262_0_4_2.png</string>
      <key>size</key>
      <string>{512,256}</string>
      <key>textureFileName</key>
      <string>monster_16262_0_4_2.png</string>
    </dict>
  </dict>
</plist>