<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16410_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,403},{394,329}}</string>
        <key>offset</key>
        <string>{-218,212}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{394,329}}</string>
        <key>sourceSize</key>
        <string>{394,329}</string>
      </dict>
      <key>monster_16410_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{963,1486},{339,304}}</string>
        <key>offset</key>
        <string>{-180,207}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{339,304}}</string>
        <key>sourceSize</key>
        <string>{339,304}</string>
      </dict>
      <key>monster_16410_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{290,1191},{376,344}}</string>
        <key>offset</key>
        <string>{-173,236}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{376,344}}</string>
        <key>sourceSize</key>
        <string>{376,344}</string>
      </dict>
      <key>monster_16410_0_2_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1575},{379,331}}</string>
        <key>offset</key>
        <string>{-183,224}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{379,331}}</string>
        <key>sourceSize</key>
        <string>{379,331}</string>
      </dict>
      <key>monster_16410_0_2_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{561,0},{369,318}}</string>
        <key>offset</key>
        <string>{-165,214}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{369,318}}</string>
        <key>sourceSize</key>
        <string>{369,318}</string>
      </dict>
      <key>monster_16410_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1209,0},{344,266}}</string>
        <key>offset</key>
        <string>{-166,182}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{344,266}}</string>
        <key>sourceSize</key>
        <string>{344,266}</string>
      </dict>
      <key>monster_16410_0_2_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{653,1496},{349,308}}</string>
        <key>offset</key>
        <string>{-174,225}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{349,308}}</string>
        <key>sourceSize</key>
        <string>{349,308}</string>
      </dict>
      <key>monster_16410_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{636,1135},{359,259}}</string>
        <key>offset</key>
        <string>{-154,195}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{359,259}}</string>
        <key>sourceSize</key>
        <string>{359,259}</string>
      </dict>
      <key>monster_16410_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{301,0},{394,258}}</string>
        <key>offset</key>
        <string>{-116,197}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{394,258}}</string>
        <key>sourceSize</key>
        <string>{394,258}</string>
      </dict>
      <key>monster_16410_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1437,954},{268,338}}</string>
        <key>offset</key>
        <string>{-137,218}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{268,338}}</string>
        <key>sourceSize</key>
        <string>{268,338}</string>
      </dict>
      <key>monster_16410_0_2_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1246,346},{266,344}}</string>
        <key>offset</key>
        <string>{-139,231}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{266,344}}</string>
        <key>sourceSize</key>
        <string>{266,344}</string>
      </dict>
      <key>monster_16410_0_2_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1777,954},{258,331}}</string>
        <key>offset</key>
        <string>{-154,224}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,331}}</string>
        <key>sourceSize</key>
        <string>{258,331}</string>
      </dict>
      <key>monster_16410_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1437,1224},{338,302}}</string>
        <key>offset</key>
        <string>{-169,222}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{338,302}}</string>
        <key>sourceSize</key>
        <string>{338,302}</string>
      </dict>
      <key>monster_16410_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{638,371},{363,311}}</string>
        <key>offset</key>
        <string>{-171,237}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{363,311}}</string>
        <key>sourceSize</key>
        <string>{363,311}</string>
      </dict>
      <key>monster_16410_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1165,1086},{339,270}}</string>
        <key>offset</key>
        <string>{-152,193}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{339,270}}</string>
        <key>sourceSize</key>
        <string>{339,270}</string>
      </dict>
      <key>monster_16410_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1477,0},{344,311}}</string>
        <key>offset</key>
        <string>{-130,204}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{344,311}}</string>
        <key>sourceSize</key>
        <string>{344,311}</string>
      </dict>
      <key>monster_16410_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{333,1569},{360,318}}</string>
        <key>offset</key>
        <string>{-175,236}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{360,318}}</string>
        <key>sourceSize</key>
        <string>{360,318}</string>
      </dict>
      <key>monster_16410_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1790,0},{238,338}}</string>
        <key>offset</key>
        <string>{-122,201}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{238,338}}</string>
        <key>sourceSize</key>
        <string>{238,338}</string>
      </dict>
      <key>monster_16410_0_2_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{951,364},{345,293}}</string>
        <key>offset</key>
        <string>{-191,211}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{345,293}}</string>
        <key>sourceSize</key>
        <string>{345,293}</string>
      </dict>
      <key>monster_16410_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{897,1135},{349,266}}</string>
        <key>offset</key>
        <string>{-223,173}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{349,266}}</string>
        <key>sourceSize</key>
        <string>{349,266}</string>
      </dict>
      <key>monster_16410_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1514,646},{340,306}}</string>
        <key>offset</key>
        <string>{-169,236}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{340,306}}</string>
        <key>sourceSize</key>
        <string>{340,306}</string>
      </dict>
      <key>monster_16410_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{307,799},{372,305}}</string>
        <key>offset</key>
        <string>{-185,235}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{372,305}}</string>
        <key>sourceSize</key>
        <string>{372,305}</string>
      </dict>
      <key>monster_16410_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1269,1528},{338,306}}</string>
        <key>offset</key>
        <string>{-140,236}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{338,306}}</string>
        <key>sourceSize</key>
        <string>{338,306}</string>
      </dict>
      <key>monster_16410_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1191},{382,288}}</string>
        <key>offset</key>
        <string>{-213,218}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{382,288}}</string>
        <key>sourceSize</key>
        <string>{382,288}</string>
      </dict>
      <key>monster_16410_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{401,299}}</string>
        <key>offset</key>
        <string>{-243,230}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{401,299}}</string>
        <key>sourceSize</key>
        <string>{401,299}</string>
      </dict>
      <key>monster_16410_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,799},{390,305}}</string>
        <key>offset</key>
        <string>{-221,236}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{390,305}}</string>
        <key>sourceSize</key>
        <string>{390,305}</string>
      </dict>
      <key>monster_16410_0_2_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{331,396},{371,305}}</string>
        <key>offset</key>
        <string>{-194,236}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{371,305}}</string>
        <key>sourceSize</key>
        <string>{371,305}</string>
      </dict>
      <key>monster_16410_0_2_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1514,346},{344,298}}</string>
        <key>offset</key>
        <string>{-181,228}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{344,298}}</string>
        <key>sourceSize</key>
        <string>{344,298}</string>
      </dict>
      <key>monster_16410_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1577,1528},{335,295}}</string>
        <key>offset</key>
        <string>{-187,201}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{335,295}}</string>
        <key>sourceSize</key>
        <string>{335,295}</string>
      </dict>
      <key>monster_16410_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{614,769},{364,315}}</string>
        <key>offset</key>
        <string>{-218,223}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{364,315}}</string>
        <key>sourceSize</key>
        <string>{364,315}</string>
      </dict>
      <key>monster_16410_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{931,736},{348,319}}</string>
        <key>offset</key>
        <string>{-197,227}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{348,319}}</string>
        <key>sourceSize</key>
        <string>{348,319}</string>
      </dict>
      <key>monster_16410_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{881,0},{362,326}}</string>
        <key>offset</key>
        <string>{-214,237}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{362,326}}</string>
        <key>sourceSize</key>
        <string>{362,326}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16410_0_2_0.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_16410_0_2_0.png</string>
    </dict>
  </dict>
</plist>