<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_12003_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{677,0},{143,215}}</string>
        <key>offset</key>
        <string>{-27,187}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,215}}</string>
        <key>sourceSize</key>
        <string>{143,215}</string>
      </dict>
      <key>monster_12003_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1031,426},{195,154}}</string>
        <key>offset</key>
        <string>{-83,193}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{195,154}}</string>
        <key>sourceSize</key>
        <string>{195,154}</string>
      </dict>
      <key>monster_12003_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1337,387},{176,146}}</string>
        <key>offset</key>
        <string>{-87,160}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,146}}</string>
        <key>sourceSize</key>
        <string>{176,146}</string>
      </dict>
      <key>monster_12003_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{206,579},{279,179}}</string>
        <key>offset</key>
        <string>{-139,145}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{279,179}}</string>
        <key>sourceSize</key>
        <string>{279,179}</string>
      </dict>
      <key>monster_12003_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{569,462},{217,142}}</string>
        <key>offset</key>
        <string>{-134,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{217,142}}</string>
        <key>sourceSize</key>
        <string>{217,142}</string>
      </dict>
      <key>monster_12003_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1665,728},{145,134}}</string>
        <key>offset</key>
        <string>{-49,100}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,134}}</string>
        <key>sourceSize</key>
        <string>{145,134}</string>
      </dict>
      <key>monster_12003_0_2_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1154,623},{194,157}}</string>
        <key>offset</key>
        <string>{-107,117}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{194,157}}</string>
        <key>sourceSize</key>
        <string>{194,157}</string>
      </dict>
      <key>monster_12003_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1244,194},{184,191}}</string>
        <key>offset</key>
        <string>{-56,192}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{184,191}}</string>
        <key>sourceSize</key>
        <string>{184,191}</string>
      </dict>
      <key>monster_12003_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1609,547},{161,140}}</string>
        <key>offset</key>
        <string>{-26,194}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,140}}</string>
        <key>sourceSize</key>
        <string>{161,140}</string>
      </dict>
      <key>monster_12003_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1773,278},{155,159}}</string>
        <key>offset</key>
        <string>{-26,169}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,159}}</string>
        <key>sourceSize</key>
        <string>{155,159}</string>
      </dict>
      <key>monster_12003_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{387,579},{257,180}}</string>
        <key>offset</key>
        <string>{-46,150}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{257,180}}</string>
        <key>sourceSize</key>
        <string>{257,180}</string>
      </dict>
      <key>monster_12003_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{389,297},{240,138}}</string>
        <key>offset</key>
        <string>{-78,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{240,138}}</string>
        <key>sourceSize</key>
        <string>{240,138}</string>
      </dict>
      <key>monster_12003_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{646,897},{208,125}}</string>
        <key>offset</key>
        <string>{-87,99}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,125}}</string>
        <key>sourceSize</key>
        <string>{208,125}</string>
      </dict>
      <key>monster_12003_0_2_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1430,193},{160,176}}</string>
        <key>offset</key>
        <string>{-27,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,176}}</string>
        <key>sourceSize</key>
        <string>{160,176}</string>
      </dict>
      <key>monster_12003_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1463,565},{144,174}}</string>
        <key>offset</key>
        <string>{-19,195}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,174}}</string>
        <key>sourceSize</key>
        <string>{144,174}</string>
      </dict>
      <key>monster_12003_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1665,864},{140,137}}</string>
        <key>offset</key>
        <string>{-23,189}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,137}}</string>
        <key>sourceSize</key>
        <string>{140,137}</string>
      </dict>
      <key>monster_12003_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1592,178},{173,170}}</string>
        <key>offset</key>
        <string>{-57,174}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,170}}</string>
        <key>sourceSize</key>
        <string>{173,170}</string>
      </dict>
      <key>monster_12003_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{313,195}}</string>
        <key>offset</key>
        <string>{-102,148}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{313,195}}</string>
        <key>sourceSize</key>
        <string>{313,195}</string>
      </dict>
      <key>monster_12003_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{713,439},{213,141}}</string>
        <key>offset</key>
        <string>{-103,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{213,141}}</string>
        <key>sourceSize</key>
        <string>{213,141}</string>
      </dict>
      <key>monster_12003_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{529,242},{218,132}}</string>
        <key>offset</key>
        <string>{-97,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{218,132}}</string>
        <key>sourceSize</key>
        <string>{218,132}</string>
      </dict>
      <key>monster_12003_0_2_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{206,860},{148,177}}</string>
        <key>offset</key>
        <string>{-30,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,177}}</string>
        <key>sourceSize</key>
        <string>{148,177}</string>
      </dict>
      <key>monster_12003_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1806,0},{137,172}}</string>
        <key>offset</key>
        <string>{-28,194}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,172}}</string>
        <key>sourceSize</key>
        <string>{137,172}</string>
      </dict>
      <key>monster_12003_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1751,592},{134,152}}</string>
        <key>offset</key>
        <string>{-25,196}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,152}}</string>
        <key>sourceSize</key>
        <string>{134,152}</string>
      </dict>
      <key>monster_12003_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{807,654},{209,173}}</string>
        <key>offset</key>
        <string>{-101,171}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,173}}</string>
        <key>sourceSize</key>
        <string>{209,173}</string>
      </dict>
      <key>monster_12003_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,630},{295,204}}</string>
        <key>offset</key>
        <string>{-112,138}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{295,204}}</string>
        <key>sourceSize</key>
        <string>{295,204}</string>
      </dict>
      <key>monster_12003_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{822,0},{214,159}}</string>
        <key>offset</key>
        <string>{-111,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{214,159}}</string>
        <key>sourceSize</key>
        <string>{214,159}</string>
      </dict>
      <key>monster_12003_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{982,642},{198,170}}</string>
        <key>offset</key>
        <string>{-89,104}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{198,170}}</string>
        <key>sourceSize</key>
        <string>{198,170}</string>
      </dict>
      <key>monster_12003_0_2_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1128,0},{192,148}}</string>
        <key>offset</key>
        <string>{-90,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{192,148}}</string>
        <key>sourceSize</key>
        <string>{192,148}</string>
      </dict>
      <key>monster_12003_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{983,0},{143,201}}</string>
        <key>offset</key>
        <string>{-62,199}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,201}}</string>
        <key>sourceSize</key>
        <string>{143,201}</string>
      </dict>
      <key>monster_12003_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1182,819},{193,171}}</string>
        <key>offset</key>
        <string>{-56,203}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{193,171}}</string>
        <key>sourceSize</key>
        <string>{193,171}</string>
      </dict>
      <key>monster_12003_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1464,0},{176,168}}</string>
        <key>offset</key>
        <string>{-35,165}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,168}}</string>
        <key>sourceSize</key>
        <string>{176,168}</string>
      </dict>
      <key>monster_12003_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,297},{280,190}}</string>
        <key>offset</key>
        <string>{-87,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{280,190}}</string>
        <key>sourceSize</key>
        <string>{280,190}</string>
      </dict>
      <key>monster_12003_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{663,220},{217,166}}</string>
        <key>offset</key>
        <string>{-29,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{217,166}}</string>
        <key>sourceSize</key>
        <string>{217,166}</string>
      </dict>
      <key>monster_12003_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1517,741},{146,171}}</string>
        <key>offset</key>
        <string>{-42,107}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,171}}</string>
        <key>sourceSize</key>
        <string>{146,171}</string>
      </dict>
      <key>monster_12003_0_2_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1101,203},{193,141}}</string>
        <key>offset</key>
        <string>{-32,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{193,141}}</string>
        <key>sourceSize</key>
        <string>{193,141}</string>
      </dict>
      <key>monster_12003_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1806,139},{137,172}}</string>
        <key>offset</key>
        <string>{-59,194}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,172}}</string>
        <key>sourceSize</key>
        <string>{137,172}</string>
      </dict>
      <key>monster_12003_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1905,592},{134,152}}</string>
        <key>offset</key>
        <string>{-59,196}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,152}}</string>
        <key>sourceSize</key>
        <string>{134,152}</string>
      </dict>
      <key>monster_12003_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{856,431},{209,173}}</string>
        <key>offset</key>
        <string>{-58,171}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,173}}</string>
        <key>sourceSize</key>
        <string>{209,173}</string>
      </dict>
      <key>monster_12003_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,0},{295,204}}</string>
        <key>offset</key>
        <string>{-133,138}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{295,204}}</string>
        <key>sourceSize</key>
        <string>{295,204}</string>
      </dict>
      <key>monster_12003_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{646,681},{214,159}}</string>
        <key>offset</key>
        <string>{-53,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{214,159}}</string>
        <key>sourceSize</key>
        <string>{214,159}</string>
      </dict>
      <key>monster_12003_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{982,842},{198,170}}</string>
        <key>offset</key>
        <string>{-59,104}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{198,170}}</string>
        <key>sourceSize</key>
        <string>{198,170}</string>
      </dict>
      <key>monster_12003_0_2_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1187,398},{192,148}}</string>
        <key>offset</key>
        <string>{-52,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{192,148}}</string>
        <key>sourceSize</key>
        <string>{192,148}</string>
      </dict>
      <key>monster_12003_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1485,371},{144,174}}</string>
        <key>offset</key>
        <string>{-75,195}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,174}}</string>
        <key>sourceSize</key>
        <string>{144,174}</string>
      </dict>
      <key>monster_12003_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1804,864},{140,137}}</string>
        <key>offset</key>
        <string>{-67,189}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,137}}</string>
        <key>sourceSize</key>
        <string>{140,137}</string>
      </dict>
      <key>monster_12003_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1634,0},{173,170}}</string>
        <key>offset</key>
        <string>{-66,174}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,170}}</string>
        <key>sourceSize</key>
        <string>{173,170}</string>
      </dict>
      <key>monster_12003_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,315},{313,195}}</string>
        <key>offset</key>
        <string>{-161,148}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{313,195}}</string>
        <key>sourceSize</key>
        <string>{313,195}</string>
      </dict>
      <key>monster_12003_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{831,216},{213,141}}</string>
        <key>offset</key>
        <string>{-60,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{213,141}}</string>
        <key>sourceSize</key>
        <string>{213,141}</string>
      </dict>
      <key>monster_12003_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{543,0},{218,132}}</string>
        <key>offset</key>
        <string>{-71,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{218,132}}</string>
        <key>sourceSize</key>
        <string>{218,132}</string>
      </dict>
      <key>monster_12003_0_2_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1313,592},{148,177}}</string>
        <key>offset</key>
        <string>{-68,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,177}}</string>
        <key>sourceSize</key>
        <string>{148,177}</string>
      </dict>
      <key>monster_12003_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1278,0},{184,191}}</string>
        <key>offset</key>
        <string>{-78,192}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{184,191}}</string>
        <key>sourceSize</key>
        <string>{184,191}</string>
      </dict>
      <key>monster_12003_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1631,353},{161,140}}</string>
        <key>offset</key>
        <string>{-85,194}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,140}}</string>
        <key>sourceSize</key>
        <string>{161,140}</string>
      </dict>
      <key>monster_12003_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1773,435},{155,159}}</string>
        <key>offset</key>
        <string>{-79,169}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,159}}</string>
        <key>sourceSize</key>
        <string>{155,159}</string>
      </dict>
      <key>monster_12003_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{387,838},{257,180}}</string>
        <key>offset</key>
        <string>{-161,150}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{257,180}}</string>
        <key>sourceSize</key>
        <string>{257,180}</string>
      </dict>
      <key>monster_12003_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{403,0},{240,138}}</string>
        <key>offset</key>
        <string>{-112,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{240,138}}</string>
        <key>sourceSize</key>
        <string>{240,138}</string>
      </dict>
      <key>monster_12003_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{974,216},{208,125}}</string>
        <key>offset</key>
        <string>{-71,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,125}}</string>
        <key>sourceSize</key>
        <string>{208,125}</string>
      </dict>
      <key>monster_12003_0_2_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1355,771},{160,176}}</string>
        <key>offset</key>
        <string>{-83,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,176}}</string>
        <key>sourceSize</key>
        <string>{160,176}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_12003_0_2.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>monster_12003_0_2.png</string>
    </dict>
  </dict>
</plist>