<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16157_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{272,384}}</string>
        <key>offset</key>
        <string>{-159,269}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{272,384}}</string>
        <key>sourceSize</key>
        <string>{272,384}</string>
      </dict>
      <key>monster_16157_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,386},{285,362}}</string>
        <key>offset</key>
        <string>{-156,262}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{285,362}}</string>
        <key>sourceSize</key>
        <string>{285,362}</string>
      </dict>
      <key>monster_16157_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{820,358},{280,347}}</string>
        <key>offset</key>
        <string>{-151,252}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{280,347}}</string>
        <key>sourceSize</key>
        <string>{280,347}</string>
      </dict>
      <key>monster_16157_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{544,358},{274,352}}</string>
        <key>offset</key>
        <string>{-160,244}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{274,352}}</string>
        <key>sourceSize</key>
        <string>{274,352}</string>
      </dict>
      <key>monster_16157_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{544,0},{288,356}}</string>
        <key>offset</key>
        <string>{-171,245}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{288,356}}</string>
        <key>sourceSize</key>
        <string>{288,356}</string>
      </dict>
      <key>monster_16157_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{834,0},{268,346}}</string>
        <key>offset</key>
        <string>{-143,250}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{268,346}}</string>
        <key>sourceSize</key>
        <string>{268,346}</string>
      </dict>
      <key>monster_16157_0_1_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{820,640},{277,337}}</string>
        <key>offset</key>
        <string>{-143,241}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{277,337}}</string>
        <key>sourceSize</key>
        <string>{277,337}</string>
      </dict>
      <key>monster_16157_0_1_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{274,0},{268,357}}</string>
        <key>offset</key>
        <string>{-159,248}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{268,357}}</string>
        <key>sourceSize</key>
        <string>{268,357}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16157_0_1_4.png</string>
      <key>size</key>
      <string>{1176,1233}</string>
      <key>textureFileName</key>
      <string>monster_16157_0_1_4.png</string>
    </dict>
  </dict>
</plist>