<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_2258_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{838,580},{225,299}}</string>
        <key>offset</key>
        <string>{-86,229}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{225,299}}</string>
        <key>sourceSize</key>
        <string>{225,299}</string>
      </dict>
      <key>monster_2258_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1065,580},{206,298}}</string>
        <key>offset</key>
        <string>{-67,238}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,298}}</string>
        <key>sourceSize</key>
        <string>{206,298}</string>
      </dict>
      <key>monster_2258_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,396},{384,283}}</string>
        <key>offset</key>
        <string>{-231,213}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{384,283}}</string>
        <key>sourceSize</key>
        <string>{384,283}</string>
      </dict>
      <key>monster_2258_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{559,382},{277,359}}</string>
        <key>offset</key>
        <string>{-81,217}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{277,359}}</string>
        <key>sourceSize</key>
        <string>{277,359}</string>
      </dict>
      <key>monster_2258_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{853,277},{304,301}}</string>
        <key>offset</key>
        <string>{-44,213}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{304,301}}</string>
        <key>sourceSize</key>
        <string>{304,301}</string>
      </dict>
      <key>monster_2258_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{853,0},{314,275}}</string>
        <key>offset</key>
        <string>{-108,205}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{314,275}}</string>
        <key>sourceSize</key>
        <string>{314,275}</string>
      </dict>
      <key>monster_2258_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1273,577},{247,280}}</string>
        <key>offset</key>
        <string>{-52,212}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{247,280}}</string>
        <key>sourceSize</key>
        <string>{247,280}</string>
      </dict>
      <key>monster_2258_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1159,277},{260,298}}</string>
        <key>offset</key>
        <string>{-57,230}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{260,298}}</string>
        <key>sourceSize</key>
        <string>{260,298}</string>
      </dict>
      <key>monster_2258_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{285,382},{364,272}}</string>
        <key>offset</key>
        <string>{-59,204}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{364,272}}</string>
        <key>sourceSize</key>
        <string>{364,272}</string>
      </dict>
      <key>monster_2258_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{394,278}}</string>
        <key>offset</key>
        <string>{-250,210}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{394,278}}</string>
        <key>sourceSize</key>
        <string>{394,278}</string>
      </dict>
      <key>monster_2258_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{280,0},{380,280}}</string>
        <key>offset</key>
        <string>{-246,212}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{380,280}}</string>
        <key>sourceSize</key>
        <string>{380,280}</string>
      </dict>
      <key>monster_2258_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{562,0},{347,289}}</string>
        <key>offset</key>
        <string>{-199,221}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{347,289}}</string>
        <key>sourceSize</key>
        <string>{347,289}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_2258_0_2_2.png</string>
      <key>size</key>
      <string>{1540,898}</string>
      <key>textureFileName</key>
      <string>monster_2258_0_2_2.png</string>
    </dict>
  </dict>
</plist>