<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_12086_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{207,288},{200,270}}</string>
        <key>offset</key>
        <string>{-77,143}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,270}}</string>
        <key>sourceSize</key>
        <string>{200,270}</string>
      </dict>
      <key>monster_12086_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{419,0},{155,268}}</string>
        <key>offset</key>
        <string>{-67,150}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,268}}</string>
        <key>sourceSize</key>
        <string>{155,268}</string>
      </dict>
      <key>monster_12086_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,832},{182,265}}</string>
        <key>offset</key>
        <string>{-94,152}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,265}}</string>
        <key>sourceSize</key>
        <string>{182,265}</string>
      </dict>
      <key>monster_12086_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{787,0},{170,245}}</string>
        <key>offset</key>
        <string>{-82,142}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,245}}</string>
        <key>sourceSize</key>
        <string>{170,245}</string>
      </dict>
      <key>monster_12086_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{558,559},{187,262}}</string>
        <key>offset</key>
        <string>{-51,180}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{187,262}}</string>
        <key>sourceSize</key>
        <string>{187,262}</string>
      </dict>
      <key>monster_12086_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,655},{164,271}}</string>
        <key>offset</key>
        <string>{-31,176}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,271}}</string>
        <key>sourceSize</key>
        <string>{164,271}</string>
      </dict>
      <key>monster_12086_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{583,256},{232,246}}</string>
        <key>offset</key>
        <string>{-95,153}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{232,246}}</string>
        <key>sourceSize</key>
        <string>{232,246}</string>
      </dict>
      <key>monster_12086_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{961,483},{181,229}}</string>
        <key>offset</key>
        <string>{-109,157}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,229}}</string>
        <key>sourceSize</key>
        <string>{181,229}</string>
      </dict>
      <key>monster_12086_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1179,0},{207,215}}</string>
        <key>offset</key>
        <string>{-127,158}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{207,215}}</string>
        <key>sourceSize</key>
        <string>{207,215}</string>
      </dict>
      <key>monster_12086_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1069,714},{200,215}}</string>
        <key>offset</key>
        <string>{-135,159}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,215}}</string>
        <key>sourceSize</key>
        <string>{200,215}</string>
      </dict>
      <key>monster_12086_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,0},{286,219}}</string>
        <key>offset</key>
        <string>{-103,162}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{286,219}}</string>
        <key>sourceSize</key>
        <string>{286,219}</string>
      </dict>
      <key>monster_12086_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{817,247},{231,234}}</string>
        <key>offset</key>
        <string>{-98,162}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{231,234}}</string>
        <key>sourceSize</key>
        <string>{231,234}</string>
      </dict>
      <key>monster_12086_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{959,0},{232,218}}</string>
        <key>offset</key>
        <string>{-142,155}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{232,218}}</string>
        <key>sourceSize</key>
        <string>{232,218}</string>
      </dict>
      <key>monster_12086_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{576,0},{209,254}}</string>
        <key>offset</key>
        <string>{-123,191}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,254}}</string>
        <key>sourceSize</key>
        <string>{209,254}</string>
      </dict>
      <key>monster_12086_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,560},{226,270}}</string>
        <key>offset</key>
        <string>{-109,207}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{226,270}}</string>
        <key>sourceSize</key>
        <string>{226,270}</string>
      </dict>
      <key>monster_12086_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1050,234},{205,224}}</string>
        <key>offset</key>
        <string>{-111,161}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,224}}</string>
        <key>sourceSize</key>
        <string>{205,224}</string>
      </dict>
      <key>monster_12086_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{334,196}}</string>
        <key>offset</key>
        <string>{-97,133}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{334,196}}</string>
        <key>sourceSize</key>
        <string>{334,196}</string>
      </dict>
      <key>monster_12086_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,336},{317,205}}</string>
        <key>offset</key>
        <string>{-131,140}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{317,205}}</string>
        <key>sourceSize</key>
        <string>{317,205}</string>
      </dict>
      <key>monster_12086_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1144,460},{192,195}}</string>
        <key>offset</key>
        <string>{-94,148}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{192,195}}</string>
        <key>sourceSize</key>
        <string>{192,195}</string>
      </dict>
      <key>monster_12086_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{409,288},{172,269}}</string>
        <key>offset</key>
        <string>{-60,222}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{172,269}}</string>
        <key>sourceSize</key>
        <string>{172,269}</string>
      </dict>
      <key>monster_12086_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,655},{162,275}}</string>
        <key>offset</key>
        <string>{-39,228}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,275}}</string>
        <key>sourceSize</key>
        <string>{162,275}</string>
      </dict>
      <key>monster_12086_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{597,823},{188,247}}</string>
        <key>offset</key>
        <string>{-65,200}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,247}}</string>
        <key>sourceSize</key>
        <string>{188,247}</string>
      </dict>
      <key>monster_12086_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{846,746},{230,221}}</string>
        <key>offset</key>
        <string>{-63,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{230,221}}</string>
        <key>sourceSize</key>
        <string>{230,221}</string>
      </dict>
      <key>monster_12086_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{747,504},{240,212}}</string>
        <key>offset</key>
        <string>{-95,125}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{240,212}}</string>
        <key>sourceSize</key>
        <string>{240,212}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_12086_0_2_0.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>monster_12086_0_2_0.png</string>
    </dict>
  </dict>
</plist>