<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16100_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{323,227},{264,308}}</string>
        <key>offset</key>
        <string>{-94,249}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{264,308}}</string>
        <key>sourceSize</key>
        <string>{264,308}</string>
      </dict>
      <key>monster_16100_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,229},{258,295}}</string>
        <key>offset</key>
        <string>{-90,236}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,295}}</string>
        <key>sourceSize</key>
        <string>{258,295}</string>
      </dict>
      <key>monster_16100_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,489},{289,283}}</string>
        <key>offset</key>
        <string>{-114,234}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{289,283}}</string>
        <key>sourceSize</key>
        <string>{289,283}</string>
      </dict>
      <key>monster_16100_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{291,493},{288,273}}</string>
        <key>offset</key>
        <string>{-114,224}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{288,273}}</string>
        <key>sourceSize</key>
        <string>{288,273}</string>
      </dict>
      <key>monster_16100_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{633,307},{245,304}}</string>
        <key>offset</key>
        <string>{-73,242}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{245,304}}</string>
        <key>sourceSize</key>
        <string>{245,304}</string>
      </dict>
      <key>monster_16100_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{638,0},{252,305}}</string>
        <key>offset</key>
        <string>{-85,243}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{252,305}}</string>
        <key>sourceSize</key>
        <string>{252,305}</string>
      </dict>
      <key>monster_16100_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{227,321}}</string>
        <key>offset</key>
        <string>{-64,252}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{227,321}}</string>
        <key>sourceSize</key>
        <string>{227,321}</string>
      </dict>
      <key>monster_16100_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{323,0},{225,313}}</string>
        <key>offset</key>
        <string>{-59,254}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{225,313}}</string>
        <key>sourceSize</key>
        <string>{225,313}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16100_0_7_1.png</string>
      <key>size</key>
      <string>{896,1024}</string>
      <key>textureFileName</key>
      <string>monster_16100_0_7_1.png</string>
    </dict>
  </dict>
</plist>