<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16491_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{443,0},{303,237}}</string>
        <key>offset</key>
        <string>{-132,135}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{303,237}}</string>
        <key>sourceSize</key>
        <string>{303,237}</string>
      </dict>
      <key>monster_16491_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,0},{300,237}}</string>
        <key>offset</key>
        <string>{-131,135}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{300,237}}</string>
        <key>sourceSize</key>
        <string>{300,237}</string>
      </dict>
      <key>monster_16491_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,239},{300,237}}</string>
        <key>offset</key>
        <string>{-131,135}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{300,237}}</string>
        <key>sourceSize</key>
        <string>{300,237}</string>
      </dict>
      <key>monster_16491_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{634,610},{300,237}}</string>
        <key>offset</key>
        <string>{-131,136}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{300,237}}</string>
        <key>sourceSize</key>
        <string>{300,237}</string>
      </dict>
      <key>monster_16491_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,368},{365,220}}</string>
        <key>offset</key>
        <string>{-167,137}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{365,220}}</string>
        <key>sourceSize</key>
        <string>{365,220}</string>
      </dict>
      <key>monster_16491_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{221,0},{364,220}}</string>
        <key>offset</key>
        <string>{-169,136}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{364,220}}</string>
        <key>sourceSize</key>
        <string>{364,220}</string>
      </dict>
      <key>monster_16491_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,735},{364,218}}</string>
        <key>offset</key>
        <string>{-169,136}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{364,218}}</string>
        <key>sourceSize</key>
        <string>{364,218}</string>
      </dict>
      <key>monster_16491_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{366,219}}</string>
        <key>offset</key>
        <string>{-169,137}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{366,219}}</string>
        <key>sourceSize</key>
        <string>{366,219}</string>
      </dict>
      <key>monster_16491_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,366},{305,268}}</string>
        <key>offset</key>
        <string>{-182,142}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{305,268}}</string>
        <key>sourceSize</key>
        <string>{305,268}</string>
      </dict>
      <key>monster_16491_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{492,305},{303,266}}</string>
        <key>offset</key>
        <string>{-182,140}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{303,266}}</string>
        <key>sourceSize</key>
        <string>{303,266}</string>
      </dict>
      <key>monster_16491_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{682,0},{303,266}}</string>
        <key>offset</key>
        <string>{-181,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{303,266}}</string>
        <key>sourceSize</key>
        <string>{303,266}</string>
      </dict>
      <key>monster_16491_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,673},{305,266}}</string>
        <key>offset</key>
        <string>{-182,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{305,266}}</string>
        <key>sourceSize</key>
        <string>{305,266}</string>
      </dict>
      <key>monster_16491_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{873,703},{223,292}}</string>
        <key>offset</key>
        <string>{-121,153}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{223,292}}</string>
        <key>sourceSize</key>
        <string>{223,292}</string>
      </dict>
      <key>monster_16491_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{873,478},{223,293}}</string>
        <key>offset</key>
        <string>{-121,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{223,293}}</string>
        <key>sourceSize</key>
        <string>{223,293}</string>
      </dict>
      <key>monster_16491_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1168,478},{220,291}}</string>
        <key>offset</key>
        <string>{-119,152}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{220,291}}</string>
        <key>sourceSize</key>
        <string>{220,291}</string>
      </dict>
      <key>monster_16491_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1252,0},{219,290}}</string>
        <key>offset</key>
        <string>{-118,151}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{219,290}}</string>
        <key>sourceSize</key>
        <string>{219,290}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16491_0_0_0.png</string>
      <key>size</key>
      <string>{1499,1026}</string>
      <key>textureFileName</key>
      <string>monster_16491_0_0_0.png</string>
    </dict>
  </dict>
</plist>