<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_12119_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,434},{129,211}}</string>
        <key>offset</key>
        <string>{-42,136}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,211}}</string>
        <key>sourceSize</key>
        <string>{129,211}</string>
      </dict>
      <key>monster_12119_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{335,212},{132,206}}</string>
        <key>offset</key>
        <string>{-44,135}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,206}}</string>
        <key>sourceSize</key>
        <string>{132,206}</string>
      </dict>
      <key>monster_12119_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,647},{129,211}}</string>
        <key>offset</key>
        <string>{-42,136}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,211}}</string>
        <key>sourceSize</key>
        <string>{129,211}</string>
      </dict>
      <key>monster_12119_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{337,0},{132,206}}</string>
        <key>offset</key>
        <string>{-44,135}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,206}}</string>
        <key>sourceSize</key>
        <string>{132,206}</string>
      </dict>
      <key>monster_12119_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,860},{157,211}}</string>
        <key>offset</key>
        <string>{-69,136}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,211}}</string>
        <key>sourceSize</key>
        <string>{157,211}</string>
      </dict>
      <key>monster_12119_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{464,420},{161,205}}</string>
        <key>offset</key>
        <string>{-70,135}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,205}}</string>
        <key>sourceSize</key>
        <string>{161,205}</string>
      </dict>
      <key>monster_12119_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{131,434},{157,211}}</string>
        <key>offset</key>
        <string>{-69,136}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,211}}</string>
        <key>sourceSize</key>
        <string>{157,211}</string>
      </dict>
      <key>monster_12119_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{469,208},{161,205}}</string>
        <key>offset</key>
        <string>{-70,135}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,205}}</string>
        <key>sourceSize</key>
        <string>{161,205}</string>
      </dict>
      <key>monster_12119_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{131,647},{174,210}}</string>
        <key>offset</key>
        <string>{-85,139}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,210}}</string>
        <key>sourceSize</key>
        <string>{174,210}</string>
      </dict>
      <key>monster_12119_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{307,636},{170,206}}</string>
        <key>offset</key>
        <string>{-79,138}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,206}}</string>
        <key>sourceSize</key>
        <string>{170,206}</string>
      </dict>
      <key>monster_12119_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{161,0},{174,210}}</string>
        <key>offset</key>
        <string>{-85,139}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,210}}</string>
        <key>sourceSize</key>
        <string>{174,210}</string>
      </dict>
      <key>monster_12119_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{307,844},{170,206}}</string>
        <key>offset</key>
        <string>{-79,138}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,206}}</string>
        <key>sourceSize</key>
        <string>{170,206}</string>
      </dict>
      <key>monster_12119_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{159,215}}</string>
        <key>offset</key>
        <string>{-71,142}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,215}}</string>
        <key>sourceSize</key>
        <string>{159,215}</string>
      </dict>
      <key>monster_12119_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{161,212},{172,210}}</string>
        <key>offset</key>
        <string>{-82,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{172,210}}</string>
        <key>sourceSize</key>
        <string>{172,210}</string>
      </dict>
      <key>monster_12119_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,217},{159,215}}</string>
        <key>offset</key>
        <string>{-71,142}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,215}}</string>
        <key>sourceSize</key>
        <string>{159,215}</string>
      </dict>
      <key>monster_12119_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{290,424},{172,210}}</string>
        <key>offset</key>
        <string>{-82,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{172,210}}</string>
        <key>sourceSize</key>
        <string>{172,210}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_12119_0_0_0.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>monster_12119_0_0_0.png</string>
    </dict>
  </dict>
</plist>