<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_10175_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,437},{431,350}}</string>
        <key>offset</key>
        <string>{-257,199}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{431,350}}</string>
        <key>sourceSize</key>
        <string>{431,350}</string>
      </dict>
      <key>monster_10175_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{352,0},{433,350}}</string>
        <key>offset</key>
        <string>{-260,199}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{433,350}}</string>
        <key>sourceSize</key>
        <string>{433,350}</string>
      </dict>
      <key>monster_10175_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{435,350}}</string>
        <key>offset</key>
        <string>{-261,199}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{435,350}}</string>
        <key>sourceSize</key>
        <string>{435,350}</string>
      </dict>
      <key>monster_10175_0_2_0_0020.png</key>
      <dict>
        <key>frame</key>
        <string>{{352,437},{431,350}}</string>
        <key>offset</key>
        <string>{-257,199}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{431,350}}</string>
        <key>sourceSize</key>
        <string>{431,350}</string>
      </dict>
      <key>monster_10175_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,437},{431,350}}</string>
        <key>offset</key>
        <string>{-257,199}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{431,350}}</string>
        <key>sourceSize</key>
        <string>{431,350}</string>
      </dict>
      <key>monster_10175_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,437},{431,350}}</string>
        <key>offset</key>
        <string>{-257,199}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{431,350}}</string>
        <key>sourceSize</key>
        <string>{431,350}</string>
      </dict>
      <key>monster_10175_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,437},{431,350}}</string>
        <key>offset</key>
        <string>{-257,199}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{431,350}}</string>
        <key>sourceSize</key>
        <string>{431,350}</string>
      </dict>
      <key>monster_10175_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,437},{431,350}}</string>
        <key>offset</key>
        <string>{-257,199}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{431,350}}</string>
        <key>sourceSize</key>
        <string>{431,350}</string>
      </dict>
      <key>monster_10175_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,437},{431,350}}</string>
        <key>offset</key>
        <string>{-257,199}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{431,350}}</string>
        <key>sourceSize</key>
        <string>{431,350}</string>
      </dict>
      <key>monster_10175_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,437},{431,350}}</string>
        <key>offset</key>
        <string>{-257,199}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{431,350}}</string>
        <key>sourceSize</key>
        <string>{431,350}</string>
      </dict>
      <key>monster_10175_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,437},{431,350}}</string>
        <key>offset</key>
        <string>{-257,199}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{431,350}}</string>
        <key>sourceSize</key>
        <string>{431,350}</string>
      </dict>
      <key>monster_10175_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{352,0},{433,350}}</string>
        <key>offset</key>
        <string>{-260,199}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{433,350}}</string>
        <key>sourceSize</key>
        <string>{433,350}</string>
      </dict>
      <key>monster_10175_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{352,0},{433,350}}</string>
        <key>offset</key>
        <string>{-260,199}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{433,350}}</string>
        <key>sourceSize</key>
        <string>{433,350}</string>
      </dict>
      <key>monster_10175_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{352,0},{433,350}}</string>
        <key>offset</key>
        <string>{-260,199}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{433,350}}</string>
        <key>sourceSize</key>
        <string>{433,350}</string>
      </dict>
      <key>monster_10175_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{352,0},{433,350}}</string>
        <key>offset</key>
        <string>{-260,199}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{433,350}}</string>
        <key>sourceSize</key>
        <string>{433,350}</string>
      </dict>
      <key>monster_10175_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{352,0},{433,350}}</string>
        <key>offset</key>
        <string>{-260,199}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{433,350}}</string>
        <key>sourceSize</key>
        <string>{433,350}</string>
      </dict>
      <key>monster_10175_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{352,0},{433,350}}</string>
        <key>offset</key>
        <string>{-260,199}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{433,350}}</string>
        <key>sourceSize</key>
        <string>{433,350}</string>
      </dict>
      <key>monster_10175_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{352,0},{433,350}}</string>
        <key>offset</key>
        <string>{-260,199}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{433,350}}</string>
        <key>sourceSize</key>
        <string>{433,350}</string>
      </dict>
      <key>monster_10175_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{435,350}}</string>
        <key>offset</key>
        <string>{-261,199}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{435,350}}</string>
        <key>sourceSize</key>
        <string>{435,350}</string>
      </dict>
      <key>monster_10175_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{435,350}}</string>
        <key>offset</key>
        <string>{-261,199}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{435,350}}</string>
        <key>sourceSize</key>
        <string>{435,350}</string>
      </dict>
      <key>monster_10175_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{435,350}}</string>
        <key>offset</key>
        <string>{-261,199}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{435,350}}</string>
        <key>sourceSize</key>
        <string>{435,350}</string>
      </dict>
      <key>monster_10175_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{435,350}}</string>
        <key>offset</key>
        <string>{-261,199}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{435,350}}</string>
        <key>sourceSize</key>
        <string>{435,350}</string>
      </dict>
      <key>monster_10175_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{435,350}}</string>
        <key>offset</key>
        <string>{-261,199}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{435,350}}</string>
        <key>sourceSize</key>
        <string>{435,350}</string>
      </dict>
      <key>monster_10175_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{435,350}}</string>
        <key>offset</key>
        <string>{-261,199}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{435,350}}</string>
        <key>sourceSize</key>
        <string>{435,350}</string>
      </dict>
      <key>monster_10175_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{435,350}}</string>
        <key>offset</key>
        <string>{-261,199}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{435,350}}</string>
        <key>sourceSize</key>
        <string>{435,350}</string>
      </dict>
      <key>monster_10175_0_2_1_0020.png</key>
      <dict>
        <key>frame</key>
        <string>{{352,437},{431,350}}</string>
        <key>offset</key>
        <string>{-257,199}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{431,350}}</string>
        <key>sourceSize</key>
        <string>{431,350}</string>
      </dict>
      <key>monster_10175_0_2_2_0020.png</key>
      <dict>
        <key>frame</key>
        <string>{{352,437},{431,350}}</string>
        <key>offset</key>
        <string>{-257,199}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{431,350}}</string>
        <key>sourceSize</key>
        <string>{431,350}</string>
      </dict>
      <key>monster_10175_0_2_3_0020.png</key>
      <dict>
        <key>frame</key>
        <string>{{352,437},{431,350}}</string>
        <key>offset</key>
        <string>{-257,199}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{431,350}}</string>
        <key>sourceSize</key>
        <string>{431,350}</string>
      </dict>
      <key>monster_10175_0_2_4_0020.png</key>
      <dict>
        <key>frame</key>
        <string>{{352,437},{431,350}}</string>
        <key>offset</key>
        <string>{-257,199}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{431,350}}</string>
        <key>sourceSize</key>
        <string>{431,350}</string>
      </dict>
      <key>monster_10175_0_2_5_0020.png</key>
      <dict>
        <key>frame</key>
        <string>{{352,437},{431,350}}</string>
        <key>offset</key>
        <string>{-257,199}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{431,350}}</string>
        <key>sourceSize</key>
        <string>{431,350}</string>
      </dict>
      <key>monster_10175_0_2_6_0020.png</key>
      <dict>
        <key>frame</key>
        <string>{{352,437},{431,350}}</string>
        <key>offset</key>
        <string>{-257,199}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{431,350}}</string>
        <key>sourceSize</key>
        <string>{431,350}</string>
      </dict>
      <key>monster_10175_0_2_7_0020.png</key>
      <dict>
        <key>frame</key>
        <string>{{352,437},{431,350}}</string>
        <key>offset</key>
        <string>{-257,199}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{431,350}}</string>
        <key>sourceSize</key>
        <string>{431,350}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_10175_0_2_1.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>monster_10175_0_2_1.png</string>
    </dict>
  </dict>
</plist>