<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16109_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{423,1550},{424,348}}</string>
        <key>offset</key>
        <string>{-268,313}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{424,348}}</string>
        <key>sourceSize</key>
        <string>{424,348}</string>
      </dict>
      <key>monster_16109_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{767,1116},{417,375}}</string>
        <key>offset</key>
        <string>{-250,329}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{417,375}}</string>
        <key>sourceSize</key>
        <string>{417,375}</string>
      </dict>
      <key>monster_16109_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1543,1242},{403,390}}</string>
        <key>offset</key>
        <string>{-237,339}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{403,390}}</string>
        <key>sourceSize</key>
        <string>{403,390}</string>
      </dict>
      <key>monster_16109_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{383,712},{402,452}}</string>
        <key>offset</key>
        <string>{-208,384}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{402,452}}</string>
        <key>sourceSize</key>
        <string>{402,452}</string>
      </dict>
      <key>monster_16109_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1146,0},{655,437}}</string>
        <key>offset</key>
        <string>{-205,387}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{655,437}}</string>
        <key>sourceSize</key>
        <string>{655,437}</string>
      </dict>
      <key>monster_16109_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{781,0},{666,363}}</string>
        <key>offset</key>
        <string>{-360,311}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{666,363}}</string>
        <key>sourceSize</key>
        <string>{666,363}</string>
      </dict>
      <key>monster_16109_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{774,381}}</string>
        <key>offset</key>
        <string>{-237,329}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{774,381}}</string>
        <key>sourceSize</key>
        <string>{774,381}</string>
      </dict>
      <key>monster_16109_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1566},{421,443}}</string>
        <key>offset</key>
        <string>{-191,344}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{421,443}}</string>
        <key>sourceSize</key>
        <string>{421,443}</string>
      </dict>
      <key>monster_16109_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1116},{393,448}}</string>
        <key>offset</key>
        <string>{-221,373}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{393,448}}</string>
        <key>sourceSize</key>
        <string>{393,448}</string>
      </dict>
      <key>monster_16109_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{773,1535},{417,404}}</string>
        <key>offset</key>
        <string>{-219,330}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{417,404}}</string>
        <key>sourceSize</key>
        <string>{417,404}</string>
      </dict>
      <key>monster_16109_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{395,1116},{370,432}}</string>
        <key>offset</key>
        <string>{-229,337}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{370,432}}</string>
        <key>sourceSize</key>
        <string>{370,432}</string>
      </dict>
      <key>monster_16109_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1144,845},{413,397}}</string>
        <key>offset</key>
        <string>{-239,328}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{413,397}}</string>
        <key>sourceSize</key>
        <string>{413,397}</string>
      </dict>
      <key>monster_16109_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{383,0},{710,396}}</string>
        <key>offset</key>
        <string>{-335,328}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{710,396}}</string>
        <key>sourceSize</key>
        <string>{710,396}</string>
      </dict>
      <key>monster_16109_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1543,845},{410,395}}</string>
        <key>offset</key>
        <string>{-253,336}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{410,395}}</string>
        <key>sourceSize</key>
        <string>{410,395}</string>
      </dict>
      <key>monster_16109_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1146,439},{644,404}}</string>
        <key>offset</key>
        <string>{-361,345}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{644,404}}</string>
        <key>sourceSize</key>
        <string>{644,404}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16109_0_2_2.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_16109_0_2_2.png</string>
    </dict>
  </dict>
</plist>