<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16119_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,623},{299,271}}</string>
        <key>offset</key>
        <string>{-106,211}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{299,271}}</string>
        <key>sourceSize</key>
        <string>{299,271}</string>
      </dict>
      <key>monster_16119_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{255,0},{299,271}}</string>
        <key>offset</key>
        <string>{-99,205}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{299,271}}</string>
        <key>sourceSize</key>
        <string>{299,271}</string>
      </dict>
      <key>monster_16119_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,313},{308,253}}</string>
        <key>offset</key>
        <string>{-91,197}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{308,253}}</string>
        <key>sourceSize</key>
        <string>{308,253}</string>
      </dict>
      <key>monster_16119_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{273,602},{294,251}}</string>
        <key>offset</key>
        <string>{-81,206}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{294,251}}</string>
        <key>sourceSize</key>
        <string>{294,251}</string>
      </dict>
      <key>monster_16119_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{806,0},{276,271}}</string>
        <key>offset</key>
        <string>{-62,210}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{276,271}}</string>
        <key>sourceSize</key>
        <string>{276,271}</string>
      </dict>
      <key>monster_16119_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{526,589},{282,275}}</string>
        <key>offset</key>
        <string>{-73,208}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{282,275}}</string>
        <key>sourceSize</key>
        <string>{282,275}</string>
      </dict>
      <key>monster_16119_0_1_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{255,301},{299,256}}</string>
        <key>offset</key>
        <string>{-96,196}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{299,256}}</string>
        <key>sourceSize</key>
        <string>{299,256}</string>
      </dict>
      <key>monster_16119_0_1_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{311,253}}</string>
        <key>offset</key>
        <string>{-110,206}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{311,253}}</string>
        <key>sourceSize</key>
        <string>{311,253}</string>
      </dict>
      <key>monster_16119_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{526,873},{275,271}}</string>
        <key>offset</key>
        <string>{-79,206}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{275,271}}</string>
        <key>sourceSize</key>
        <string>{275,271}</string>
      </dict>
      <key>monster_16119_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{513,301},{274,286}}</string>
        <key>offset</key>
        <string>{-75,207}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{274,286}}</string>
        <key>sourceSize</key>
        <string>{274,286}</string>
      </dict>
      <key>monster_16119_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{528,0},{276,284}}</string>
        <key>offset</key>
        <string>{-77,208}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{276,284}}</string>
        <key>sourceSize</key>
        <string>{276,284}</string>
      </dict>
      <key>monster_16119_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{789,286},{243,281}}</string>
        <key>offset</key>
        <string>{-62,213}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{243,281}}</string>
        <key>sourceSize</key>
        <string>{243,281}</string>
      </dict>
      <key>monster_16119_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{803,569},{264,276}}</string>
        <key>offset</key>
        <string>{-96,215}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{264,276}}</string>
        <key>sourceSize</key>
        <string>{264,276}</string>
      </dict>
      <key>monster_16119_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1034,278},{262,266}}</string>
        <key>offset</key>
        <string>{-85,218}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{262,266}}</string>
        <key>sourceSize</key>
        <string>{262,266}</string>
      </dict>
      <key>monster_16119_0_1_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{273,898},{246,255}}</string>
        <key>offset</key>
        <string>{-62,212}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{246,255}}</string>
        <key>sourceSize</key>
        <string>{246,255}</string>
      </dict>
      <key>monster_16119_0_1_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{799,873},{263,271}}</string>
        <key>offset</key>
        <string>{-72,206}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{263,271}}</string>
        <key>sourceSize</key>
        <string>{263,271}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16119_0_1_2.png</string>
      <key>size</key>
      <string>{1412,1160}</string>
      <key>textureFileName</key>
      <string>monster_16119_0_1_2.png</string>
    </dict>
  </dict>
</plist>