<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_2246_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,214},{211,193}}</string>
        <key>offset</key>
        <string>{-100,170}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{211,193}}</string>
        <key>sourceSize</key>
        <string>{211,193}</string>
      </dict>
      <key>monster_2246_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{212,200}}</string>
        <key>offset</key>
        <string>{-101,177}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{212,200}}</string>
        <key>sourceSize</key>
        <string>{212,200}</string>
      </dict>
      <key>monster_2246_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{195,214},{209,203}}</string>
        <key>offset</key>
        <string>{-99,183}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,203}}</string>
        <key>sourceSize</key>
        <string>{209,203}</string>
      </dict>
      <key>monster_2246_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,0},{209,198}}</string>
        <key>offset</key>
        <string>{-99,181}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,198}}</string>
        <key>sourceSize</key>
        <string>{209,198}</string>
      </dict>
      <key>monster_2246_0_0_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,211},{207,194}}</string>
        <key>offset</key>
        <string>{-99,177}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{207,194}}</string>
        <key>sourceSize</key>
        <string>{207,194}</string>
      </dict>
      <key>monster_2246_0_0_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{596,209},{206,201}}</string>
        <key>offset</key>
        <string>{-99,180}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,201}}</string>
        <key>sourceSize</key>
        <string>{206,201}</string>
      </dict>
      <key>monster_2246_0_0_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{599,0},{206,195}}</string>
        <key>offset</key>
        <string>{-99,176}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,195}}</string>
        <key>sourceSize</key>
        <string>{206,195}</string>
      </dict>
      <key>monster_2246_0_0_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{402,0},{207,195}}</string>
        <key>offset</key>
        <string>{-99,173}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{207,195}}</string>
        <key>sourceSize</key>
        <string>{207,195}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_2246_0_0_0.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>monster_2246_0_0_0.png</string>
    </dict>
  </dict>
</plist>