<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16179_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1808,219},{201,216}}</string>
        <key>offset</key>
        <string>{-47,158}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{201,216}}</string>
        <key>sourceSize</key>
        <string>{201,216}</string>
      </dict>
      <key>monster_16179_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1187,239},{213,229}}</string>
        <key>offset</key>
        <string>{-66,149}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{213,229}}</string>
        <key>sourceSize</key>
        <string>{213,229}</string>
      </dict>
      <key>monster_16179_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{713,263},{244,257}}</string>
        <key>offset</key>
        <string>{-77,171}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{244,257}}</string>
        <key>sourceSize</key>
        <string>{244,257}</string>
      </dict>
      <key>monster_16179_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1402,231},{225,218}}</string>
        <key>offset</key>
        <string>{-61,138}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{225,218}}</string>
        <key>sourceSize</key>
        <string>{225,218}</string>
      </dict>
      <key>monster_16179_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1808,422},{210,207}}</string>
        <key>offset</key>
        <string>{-81,142}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{210,207}}</string>
        <key>sourceSize</key>
        <string>{210,207}</string>
      </dict>
      <key>monster_16179_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1257,0},{163,229}}</string>
        <key>offset</key>
        <string>{-42,190}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,229}}</string>
        <key>sourceSize</key>
        <string>{163,229}</string>
      </dict>
      <key>monster_16179_0_2_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1695,631},{165,191}}</string>
        <key>offset</key>
        <string>{-34,151}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,191}}</string>
        <key>sourceSize</key>
        <string>{165,191}</string>
      </dict>
      <key>monster_16179_0_2_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1695,798},{184,175}}</string>
        <key>offset</key>
        <string>{-40,135}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{184,175}}</string>
        <key>sourceSize</key>
        <string>{184,175}</string>
      </dict>
      <key>monster_16179_0_2_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1622,226},{217,184}}</string>
        <key>offset</key>
        <string>{-55,144}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{217,184}}</string>
        <key>sourceSize</key>
        <string>{217,184}</string>
      </dict>
      <key>monster_16179_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{846,522},{241,202}}</string>
        <key>offset</key>
        <string>{-71,147}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{241,202}}</string>
        <key>sourceSize</key>
        <string>{241,202}</string>
      </dict>
      <key>monster_16179_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{410,552},{264,206}}</string>
        <key>offset</key>
        <string>{-89,140}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{264,206}}</string>
        <key>sourceSize</key>
        <string>{264,206}</string>
      </dict>
      <key>monster_16179_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{183,277},{273,271}}</string>
        <key>offset</key>
        <string>{-100,195}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{273,271}}</string>
        <key>sourceSize</key>
        <string>{273,271}</string>
      </dict>
      <key>monster_16179_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{618,795},{248,213}}</string>
        <key>offset</key>
        <string>{-87,149}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{248,213}}</string>
        <key>sourceSize</key>
        <string>{248,213}</string>
      </dict>
      <key>monster_16179_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,291},{285,181}}</string>
        <key>offset</key>
        <string>{-79,128}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{285,181}}</string>
        <key>sourceSize</key>
        <string>{285,181}</string>
      </dict>
      <key>monster_16179_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1050,497},{212,233}}</string>
        <key>offset</key>
        <string>{-16,181}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{212,233}}</string>
        <key>sourceSize</key>
        <string>{212,233}</string>
      </dict>
      <key>monster_16179_0_2_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1846,0},{212,197}}</string>
        <key>offset</key>
        <string>{-16,144}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{212,197}}</string>
        <key>sourceSize</key>
        <string>{212,197}</string>
      </dict>
      <key>monster_16179_0_2_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1511,680},{204,182}}</string>
        <key>offset</key>
        <string>{-19,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{204,182}}</string>
        <key>sourceSize</key>
        <string>{204,182}</string>
      </dict>
      <key>monster_16179_0_2_1_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1264,470},{226,185}}</string>
        <key>offset</key>
        <string>{-36,135}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{226,185}}</string>
        <key>sourceSize</key>
        <string>{226,185}</string>
      </dict>
      <key>monster_16179_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{199,822},{261,189}}</string>
        <key>offset</key>
        <string>{-73,126}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{261,189}}</string>
        <key>sourceSize</key>
        <string>{261,189}</string>
      </dict>
      <key>monster_16179_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,578},{281,197}}</string>
        <key>offset</key>
        <string>{-100,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{281,197}}</string>
        <key>sourceSize</key>
        <string>{281,197}</string>
      </dict>
      <key>monster_16179_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{828,0},{256,241}}</string>
        <key>offset</key>
        <string>{-101,191}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{256,241}}</string>
        <key>sourceSize</key>
        <string>{256,241}</string>
      </dict>
      <key>monster_16179_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{618,535},{258,226}}</string>
        <key>offset</key>
        <string>{-112,176}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,226}}</string>
        <key>sourceSize</key>
        <string>{258,226}</string>
      </dict>
      <key>monster_16179_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{289,181}}</string>
        <key>offset</key>
        <string>{-65,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{289,181}}</string>
        <key>sourceSize</key>
        <string>{289,181}</string>
      </dict>
      <key>monster_16179_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{959,258},{237,226}}</string>
        <key>offset</key>
        <string>{-12,163}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{237,226}}</string>
        <key>sourceSize</key>
        <string>{237,226}</string>
      </dict>
      <key>monster_16179_0_2_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1071,0},{237,184}}</string>
        <key>offset</key>
        <string>{-13,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{237,184}}</string>
        <key>sourceSize</key>
        <string>{237,184}</string>
      </dict>
      <key>monster_16179_0_2_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1315,698},{223,194}}</string>
        <key>offset</key>
        <string>{-13,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{223,194}}</string>
        <key>sourceSize</key>
        <string>{223,194}</string>
      </dict>
      <key>monster_16179_0_2_2_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1636,0},{217,208}}</string>
        <key>offset</key>
        <string>{-18,134}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{217,208}}</string>
        <key>sourceSize</key>
        <string>{217,208}</string>
      </dict>
      <key>monster_16179_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1086,732},{227,227}}</string>
        <key>offset</key>
        <string>{-67,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{227,227}}</string>
        <key>sourceSize</key>
        <string>{227,227}</string>
      </dict>
      <key>monster_16179_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{199,552},{268,209}}</string>
        <key>offset</key>
        <string>{-80,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{268,209}}</string>
        <key>sourceSize</key>
        <string>{268,209}</string>
      </dict>
      <key>monster_16179_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{410,0},{270,200}}</string>
        <key>offset</key>
        <string>{-87,159}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{270,200}}</string>
        <key>sourceSize</key>
        <string>{270,200}</string>
      </dict>
      <key>monster_16179_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{456,272},{255,261}}</string>
        <key>offset</key>
        <string>{-90,196}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{255,261}}</string>
        <key>sourceSize</key>
        <string>{255,261}</string>
      </dict>
      <key>monster_16179_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{183,0},{225,275}}</string>
        <key>offset</key>
        <string>{-32,146}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{225,275}}</string>
        <key>sourceSize</key>
        <string>{225,275}</string>
      </dict>
      <key>monster_16179_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{612,0},{214,261}}</string>
        <key>offset</key>
        <string>{-32,136}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{214,261}}</string>
        <key>sourceSize</key>
        <string>{214,261}</string>
      </dict>
      <key>monster_16179_0_2_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1451,458},{212,220}}</string>
        <key>offset</key>
        <string>{-32,95}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{212,220}}</string>
        <key>sourceSize</key>
        <string>{212,220}</string>
      </dict>
      <key>monster_16179_0_2_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1422,0},{212,224}}</string>
        <key>offset</key>
        <string>{-32,106}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{212,224}}</string>
        <key>sourceSize</key>
        <string>{212,224}</string>
      </dict>
      <key>monster_16179_0_2_3_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{868,765},{216,239}}</string>
        <key>offset</key>
        <string>{-40,133}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{216,239}}</string>
        <key>sourceSize</key>
        <string>{216,239}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16179_0_2_0.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>monster_16179_0_2_0.png</string>
    </dict>
  </dict>
</plist>