<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_12602_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1097,0},{373,356}}</string>
        <key>offset</key>
        <string>{-207,224}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{373,356}}</string>
        <key>sourceSize</key>
        <string>{373,356}</string>
      </dict>
      <key>monster_12602_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{747,0},{378,348}}</string>
        <key>offset</key>
        <string>{-209,219}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{378,348}}</string>
        <key>sourceSize</key>
        <string>{378,348}</string>
      </dict>
      <key>monster_12602_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{376,1538},{377,335}}</string>
        <key>offset</key>
        <string>{-209,222}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{377,335}}</string>
        <key>sourceSize</key>
        <string>{377,335}</string>
      </dict>
      <key>monster_12602_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1155},{382,352}}</string>
        <key>offset</key>
        <string>{-207,226}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{382,352}}</string>
        <key>sourceSize</key>
        <string>{382,352}</string>
      </dict>
      <key>monster_12602_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{721,766},{366,374}}</string>
        <key>offset</key>
        <string>{-209,234}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{366,374}}</string>
        <key>sourceSize</key>
        <string>{366,374}</string>
      </dict>
      <key>monster_12602_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{383,362}}</string>
        <key>offset</key>
        <string>{-216,230}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{383,362}}</string>
        <key>sourceSize</key>
        <string>{383,362}</string>
      </dict>
      <key>monster_12602_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1436,1492},{346,361}}</string>
        <key>offset</key>
        <string>{-201,239}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{346,361}}</string>
        <key>sourceSize</key>
        <string>{346,361}</string>
      </dict>
      <key>monster_12602_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1539},{374,382}}</string>
        <key>offset</key>
        <string>{-218,249}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{374,382}}</string>
        <key>sourceSize</key>
        <string>{374,382}</string>
      </dict>
      <key>monster_12602_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1451,744},{361,363}}</string>
        <key>offset</key>
        <string>{-204,284}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{361,363}}</string>
        <key>sourceSize</key>
        <string>{361,363}</string>
      </dict>
      <key>monster_12602_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{713,1531},{369,360}}</string>
        <key>offset</key>
        <string>{-213,275}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{369,360}}</string>
        <key>sourceSize</key>
        <string>{369,360}</string>
      </dict>
      <key>monster_12602_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{706,385},{379,350}}</string>
        <key>offset</key>
        <string>{-225,280}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{379,350}}</string>
        <key>sourceSize</key>
        <string>{379,350}</string>
      </dict>
      <key>monster_12602_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,385},{383,363}}</string>
        <key>offset</key>
        <string>{-227,281}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{383,363}}</string>
        <key>sourceSize</key>
        <string>{383,363}</string>
      </dict>
      <key>monster_12602_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{354,1155},{381,352}}</string>
        <key>offset</key>
        <string>{-225,275}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{381,352}}</string>
        <key>sourceSize</key>
        <string>{381,352}</string>
      </dict>
      <key>monster_12602_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1455,0},{366,351}}</string>
        <key>offset</key>
        <string>{-212,283}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{366,351}}</string>
        <key>sourceSize</key>
        <string>{366,351}</string>
      </dict>
      <key>monster_12602_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1075,1513},{364,359}}</string>
        <key>offset</key>
        <string>{-200,280}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{364,359}}</string>
        <key>sourceSize</key>
        <string>{364,359}</string>
      </dict>
      <key>monster_12602_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1421,1126},{364,345}}</string>
        <key>offset</key>
        <string>{-201,268}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{364,345}}</string>
        <key>sourceSize</key>
        <string>{364,345}</string>
      </dict>
      <key>monster_12602_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{708,1152},{377,353}}</string>
        <key>offset</key>
        <string>{-198,274}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{377,353}}</string>
        <key>sourceSize</key>
        <string>{377,353}</string>
      </dict>
      <key>monster_12602_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1417,375},{367,354}}</string>
        <key>offset</key>
        <string>{-196,271}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{367,354}}</string>
        <key>sourceSize</key>
        <string>{367,354}</string>
      </dict>
      <key>monster_12602_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1063,1142},{369,356}}</string>
        <key>offset</key>
        <string>{-207,282}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{369,356}}</string>
        <key>sourceSize</key>
        <string>{369,356}</string>
      </dict>
      <key>monster_12602_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1089,756},{368,360}}</string>
        <key>offset</key>
        <string>{-162,259}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{368,360}}</string>
        <key>sourceSize</key>
        <string>{368,360}</string>
      </dict>
      <key>monster_12602_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1058,380},{357,374}}</string>
        <key>offset</key>
        <string>{-159,267}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{357,374}}</string>
        <key>sourceSize</key>
        <string>{357,374}</string>
      </dict>
      <key>monster_12602_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,770},{380,361}}</string>
        <key>offset</key>
        <string>{-164,280}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{380,361}}</string>
        <key>sourceSize</key>
        <string>{380,361}</string>
      </dict>
      <key>monster_12602_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{365,385},{380,339}}</string>
        <key>offset</key>
        <string>{-173,232}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{380,339}}</string>
        <key>sourceSize</key>
        <string>{380,339}</string>
      </dict>
      <key>monster_12602_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{364,0},{381,383}}</string>
        <key>offset</key>
        <string>{-180,237}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{381,383}}</string>
        <key>sourceSize</key>
        <string>{381,383}</string>
      </dict>
      <key>monster_12602_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,770},{356,383}}</string>
        <key>offset</key>
        <string>{-183,232}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{356,383}}</string>
        <key>sourceSize</key>
        <string>{356,383}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_12602_0_1_0.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_12602_0_1_0.png</string>
    </dict>
  </dict>
</plist>