<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_12076_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{290,477},{140,135}}</string>
        <key>offset</key>
        <string>{-35,93}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,135}}</string>
        <key>sourceSize</key>
        <string>{140,135}</string>
      </dict>
      <key>monster_12076_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{175,0},{169,138}}</string>
        <key>offset</key>
        <string>{-51,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,138}}</string>
        <key>sourceSize</key>
        <string>{169,138}</string>
      </dict>
      <key>monster_12076_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{287,614},{85,138}}</string>
        <key>offset</key>
        <string>{-19,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,138}}</string>
        <key>sourceSize</key>
        <string>{85,138}</string>
      </dict>
      <key>monster_12076_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{151,282},{105,143}}</string>
        <key>offset</key>
        <string>{-15,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,143}}</string>
        <key>sourceSize</key>
        <string>{105,143}</string>
      </dict>
      <key>monster_12076_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{145,532},{93,140}}</string>
        <key>offset</key>
        <string>{-36,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,140}}</string>
        <key>sourceSize</key>
        <string>{93,140}</string>
      </dict>
      <key>monster_12076_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{326,251},{81,145}}</string>
        <key>offset</key>
        <string>{-25,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,145}}</string>
        <key>sourceSize</key>
        <string>{81,145}</string>
      </dict>
      <key>monster_12076_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,347},{143,142}}</string>
        <key>offset</key>
        <string>{-54,111}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,142}}</string>
        <key>sourceSize</key>
        <string>{143,142}</string>
      </dict>
      <key>monster_12076_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{296,334},{141,143}}</string>
        <key>offset</key>
        <string>{-42,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,143}}</string>
        <key>sourceSize</key>
        <string>{141,143}</string>
      </dict>
      <key>monster_12076_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,140},{140,154}}</string>
        <key>offset</key>
        <string>{-55,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,154}}</string>
        <key>sourceSize</key>
        <string>{140,154}</string>
      </dict>
      <key>monster_12076_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,87},{168,150}}</string>
        <key>offset</key>
        <string>{-68,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,150}}</string>
        <key>sourceSize</key>
        <string>{168,150}</string>
      </dict>
      <key>monster_12076_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{85,173}}</string>
        <key>offset</key>
        <string>{-16,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,173}}</string>
        <key>sourceSize</key>
        <string>{85,173}</string>
      </dict>
      <key>monster_12076_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,239},{106,149}}</string>
        <key>offset</key>
        <string>{-41,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,149}}</string>
        <key>sourceSize</key>
        <string>{106,149}</string>
      </dict>
      <key>monster_12076_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{346,0},{93,166}}</string>
        <key>offset</key>
        <string>{-7,131}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,166}}</string>
        <key>sourceSize</key>
        <string>{93,166}</string>
      </dict>
      <key>monster_12076_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{326,168},{81,147}}</string>
        <key>offset</key>
        <string>{-6,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,147}}</string>
        <key>sourceSize</key>
        <string>{81,147}</string>
      </dict>
      <key>monster_12076_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{145,389},{143,141}}</string>
        <key>offset</key>
        <string>{-39,109}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,141}}</string>
        <key>sourceSize</key>
        <string>{143,141}</string>
      </dict>
      <key>monster_12076_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,491},{143,134}}</string>
        <key>offset</key>
        <string>{-49,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,134}}</string>
        <key>sourceSize</key>
        <string>{143,134}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_12076_0_7.png</string>
      <key>size</key>
      <string>{512,1024}</string>
      <key>textureFileName</key>
      <string>monster_12076_0_7.png</string>
    </dict>
  </dict>
</plist>