<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16127_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1586,675},{451,351}}</string>
        <key>offset</key>
        <string>{-267,216}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{451,351}}</string>
        <key>sourceSize</key>
        <string>{451,351}</string>
      </dict>
      <key>monster_16127_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{865,678},{673,356}}</string>
        <key>offset</key>
        <string>{-341,210}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{673,356}}</string>
        <key>sourceSize</key>
        <string>{673,356}</string>
      </dict>
      <key>monster_16127_0_2_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1223,675},{664,361}}</string>
        <key>offset</key>
        <string>{-313,220}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{664,361}}</string>
        <key>sourceSize</key>
        <string>{664,361}</string>
      </dict>
      <key>monster_16127_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1176,0},{673,449}}</string>
        <key>offset</key>
        <string>{-293,265}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{673,449}}</string>
        <key>sourceSize</key>
        <string>{673,449}</string>
      </dict>
      <key>monster_16127_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1627,0},{377,409}}</string>
        <key>offset</key>
        <string>{-192,236}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{377,409}}</string>
        <key>sourceSize</key>
        <string>{377,409}</string>
      </dict>
      <key>monster_16127_0_2_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,687},{684,429}}</string>
        <key>offset</key>
        <string>{-269,207}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{684,429}}</string>
        <key>sourceSize</key>
        <string>{684,429}</string>
      </dict>
      <key>monster_16127_0_2_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{431,686},{677,432}}</string>
        <key>offset</key>
        <string>{-257,215}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{677,432}}</string>
        <key>sourceSize</key>
        <string>{677,432}</string>
      </dict>
      <key>monster_16127_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1569,1341},{462,360}}</string>
        <key>offset</key>
        <string>{-142,276}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{462,360}}</string>
        <key>sourceSize</key>
        <string>{462,360}</string>
      </dict>
      <key>monster_16127_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{685,309}}</string>
        <key>offset</key>
        <string>{-282,213}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{685,309}}</string>
        <key>sourceSize</key>
        <string>{685,309}</string>
      </dict>
      <key>monster_16127_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1373},{682,429}}</string>
        <key>offset</key>
        <string>{-282,201}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{682,429}}</string>
        <key>sourceSize</key>
        <string>{682,429}</string>
      </dict>
      <key>monster_16127_0_2_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{742,0},{676,432}}</string>
        <key>offset</key>
        <string>{-303,215}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{676,432}}</string>
        <key>sourceSize</key>
        <string>{676,432}</string>
      </dict>
      <key>monster_16127_0_2_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{311,0},{684,429}}</string>
        <key>offset</key>
        <string>{-360,207}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{684,429}}</string>
        <key>sourceSize</key>
        <string>{684,429}</string>
      </dict>
      <key>monster_16127_0_2_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{684,1365},{677,432}}</string>
        <key>offset</key>
        <string>{-365,215}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{677,432}}</string>
        <key>sourceSize</key>
        <string>{677,432}</string>
      </dict>
      <key>monster_16127_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1118,1353},{673,449}}</string>
        <key>offset</key>
        <string>{-334,265}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{673,449}}</string>
        <key>sourceSize</key>
        <string>{673,449}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16127_0_2_0.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_16127_0_2_0.png</string>
    </dict>
  </dict>
</plist>