<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16112_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{532,0},{718,364}}</string>
        <key>offset</key>
        <string>{-381,203}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{718,364}}</string>
        <key>sourceSize</key>
        <string>{718,364}</string>
      </dict>
      <key>monster_16112_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,729},{726,364}}</string>
        <key>offset</key>
        <string>{-413,207}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{726,364}}</string>
        <key>sourceSize</key>
        <string>{726,364}</string>
      </dict>
      <key>monster_16112_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{725,1453},{714,374}}</string>
        <key>offset</key>
        <string>{-432,211}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{714,374}}</string>
        <key>sourceSize</key>
        <string>{714,374}</string>
      </dict>
      <key>monster_16112_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1457},{723,390}}</string>
        <key>offset</key>
        <string>{-414,215}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{723,390}}</string>
        <key>sourceSize</key>
        <string>{723,390}</string>
      </dict>
      <key>monster_16112_0_0_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{898,0},{683,390}}</string>
        <key>offset</key>
        <string>{-369,226}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{683,390}}</string>
        <key>sourceSize</key>
        <string>{683,390}</string>
      </dict>
      <key>monster_16112_0_0_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1441,1601},{599,392}}</string>
        <key>offset</key>
        <string>{-292,228}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{599,392}}</string>
        <key>sourceSize</key>
        <string>{599,392}</string>
      </dict>
      <key>monster_16112_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1307,683},{660,447}}</string>
        <key>offset</key>
        <string>{-431,283}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{660,447}}</string>
        <key>sourceSize</key>
        <string>{660,447}</string>
      </dict>
      <key>monster_16112_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{861,720},{701,444}}</string>
        <key>offset</key>
        <string>{-370,233}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{701,444}}</string>
        <key>sourceSize</key>
        <string>{701,444}</string>
      </dict>
      <key>monster_16112_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,729},{722,493}}</string>
        <key>offset</key>
        <string>{-413,285}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{722,493}}</string>
        <key>sourceSize</key>
        <string>{722,493}</string>
      </dict>
      <key>monster_16112_0_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{727,530}}</string>
        <key>offset</key>
        <string>{-419,324}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{727,530}}</string>
        <key>sourceSize</key>
        <string>{727,530}</string>
      </dict>
      <key>monster_16112_0_0_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1290,0},{681,544}}</string>
        <key>offset</key>
        <string>{-363,336}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{681,544}}</string>
        <key>sourceSize</key>
        <string>{681,544}</string>
      </dict>
      <key>monster_16112_0_0_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1441,1132},{605,467}}</string>
        <key>offset</key>
        <string>{-290,255}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{605,467}}</string>
        <key>sourceSize</key>
        <string>{605,467}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16112_0_0_0.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_16112_0_0_0.png</string>
    </dict>
  </dict>
</plist>