<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16168_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{496,0},{438,489}}</string>
        <key>offset</key>
        <string>{-195,312}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{438,489}}</string>
        <key>sourceSize</key>
        <string>{438,489}</string>
      </dict>
      <key>monster_16168_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,819},{410,479}}</string>
        <key>offset</key>
        <string>{-192,301}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{410,479}}</string>
        <key>sourceSize</key>
        <string>{410,479}</string>
      </dict>
      <key>monster_16168_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{481,853},{447,479}}</string>
        <key>offset</key>
        <string>{-189,305}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{447,479}}</string>
        <key>sourceSize</key>
        <string>{447,479}</string>
      </dict>
      <key>monster_16168_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1231},{478,452}}</string>
        <key>offset</key>
        <string>{-194,278}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{478,452}}</string>
        <key>sourceSize</key>
        <string>{478,452}</string>
      </dict>
      <key>monster_16168_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{490,440},{411,484}}</string>
        <key>offset</key>
        <string>{-193,306}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{411,484}}</string>
        <key>sourceSize</key>
        <string>{411,484}</string>
      </dict>
      <key>monster_16168_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,412},{405,488}}</string>
        <key>offset</key>
        <string>{-188,314}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{405,488}}</string>
        <key>sourceSize</key>
        <string>{405,488}</string>
      </dict>
      <key>monster_16168_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{410,494}}</string>
        <key>offset</key>
        <string>{-177,318}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{410,494}}</string>
        <key>sourceSize</key>
        <string>{410,494}</string>
      </dict>
      <key>monster_16168_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{480,1302},{478,452}}</string>
        <key>offset</key>
        <string>{-241,278}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{478,452}}</string>
        <key>sourceSize</key>
        <string>{478,452}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16168_0_2_1.png</string>
      <key>size</key>
      <string>{1024,2048}</string>
      <key>textureFileName</key>
      <string>monster_16168_0_2_1.png</string>
    </dict>
  </dict>
</plist>