<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16156_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,989},{316,314}}</string>
        <key>offset</key>
        <string>{-201,267}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{316,314}}</string>
        <key>sourceSize</key>
        <string>{316,314}</string>
      </dict>
      <key>monster_16156_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,699},{288,325}}</string>
        <key>offset</key>
        <string>{-194,275}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{288,325}}</string>
        <key>sourceSize</key>
        <string>{288,325}</string>
      </dict>
      <key>monster_16156_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{661,566},{310,324}}</string>
        <key>offset</key>
        <string>{-197,271}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{310,324}}</string>
        <key>sourceSize</key>
        <string>{310,324}</string>
      </dict>
      <key>monster_16156_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{347,217},{297,333}}</string>
        <key>offset</key>
        <string>{-198,272}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{297,333}}</string>
        <key>sourceSize</key>
        <string>{297,333}</string>
      </dict>
      <key>monster_16156_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{694,0},{286,342}}</string>
        <key>offset</key>
        <string>{-194,278}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{286,342}}</string>
        <key>sourceSize</key>
        <string>{286,342}</string>
      </dict>
      <key>monster_16156_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{331,516},{308,328}}</string>
        <key>offset</key>
        <string>{-195,274}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{308,328}}</string>
        <key>sourceSize</key>
        <string>{308,328}</string>
      </dict>
      <key>monster_16156_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{682,344},{220,332}}</string>
        <key>offset</key>
        <string>{-139,272}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{220,332}}</string>
        <key>sourceSize</key>
        <string>{220,332}</string>
      </dict>
      <key>monster_16156_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,223},{235,329}}</string>
        <key>offset</key>
        <string>{-147,275}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{235,329}}</string>
        <key>sourceSize</key>
        <string>{235,329}</string>
      </dict>
      <key>monster_16156_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{327,826},{258,323}}</string>
        <key>offset</key>
        <string>{-150,274}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,323}}</string>
        <key>sourceSize</key>
        <string>{258,323}</string>
      </dict>
      <key>monster_16156_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,460},{237,329}}</string>
        <key>offset</key>
        <string>{-142,275}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{237,329}}</string>
        <key>sourceSize</key>
        <string>{237,329}</string>
      </dict>
      <key>monster_16156_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{221,345}}</string>
        <key>offset</key>
        <string>{-132,277}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{221,345}}</string>
        <key>sourceSize</key>
        <string>{221,345}</string>
      </dict>
      <key>monster_16156_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{347,0},{215,345}}</string>
        <key>offset</key>
        <string>{-129,275}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{215,345}}</string>
        <key>sourceSize</key>
        <string>{215,345}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16156_0_1_1.png</string>
      <key>size</key>
      <string>{1024,2048}</string>
      <key>textureFileName</key>
      <string>monster_16156_0_1_1.png</string>
    </dict>
  </dict>
</plist>