<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_1960_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{104,202}}</string>
        <key>offset</key>
        <string>{-25,139}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,202}}</string>
        <key>sourceSize</key>
        <string>{104,202}</string>
      </dict>
      <key>monster_1960_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,106},{127,183}}</string>
        <key>offset</key>
        <string>{-60,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,183}}</string>
        <key>sourceSize</key>
        <string>{127,183}</string>
      </dict>
      <key>monster_1960_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{370,173},{140,178}}</string>
        <key>offset</key>
        <string>{-82,133}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,178}}</string>
        <key>sourceSize</key>
        <string>{140,178}</string>
      </dict>
      <key>monster_1960_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{338,353},{125,159}}</string>
        <key>offset</key>
        <string>{-67,120}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,159}}</string>
        <key>sourceSize</key>
        <string>{125,159}</string>
      </dict>
      <key>monster_1960_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{322,480},{130,157}}</string>
        <key>offset</key>
        <string>{-71,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,157}}</string>
        <key>sourceSize</key>
        <string>{130,157}</string>
      </dict>
      <key>monster_1960_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,494},{125,158}}</string>
        <key>offset</key>
        <string>{-60,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,158}}</string>
        <key>sourceSize</key>
        <string>{125,158}</string>
      </dict>
      <key>monster_1960_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,0},{171,198}}</string>
        <key>offset</key>
        <string>{-63,136}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,198}}</string>
        <key>sourceSize</key>
        <string>{171,198}</string>
      </dict>
      <key>monster_1960_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{185,173},{129,183}}</string>
        <key>offset</key>
        <string>{-50,137}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,183}}</string>
        <key>sourceSize</key>
        <string>{129,183}</string>
      </dict>
      <key>monster_1960_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,235},{124,174}}</string>
        <key>offset</key>
        <string>{-40,133}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,174}}</string>
        <key>sourceSize</key>
        <string>{124,174}</string>
      </dict>
      <key>monster_1960_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{176,304},{127,160}}</string>
        <key>offset</key>
        <string>{-52,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,160}}</string>
        <key>sourceSize</key>
        <string>{127,160}</string>
      </dict>
      <key>monster_1960_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,361},{131,159}}</string>
        <key>offset</key>
        <string>{-50,118}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,159}}</string>
        <key>sourceSize</key>
        <string>{131,159}</string>
      </dict>
      <key>monster_1960_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{161,433},{159,159}}</string>
        <key>offset</key>
        <string>{-63,118}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,159}}</string>
        <key>sourceSize</key>
        <string>{159,159}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_1960_0_2_0.png</string>
      <key>size</key>
      <string>{512,1024}</string>
      <key>textureFileName</key>
      <string>monster_1960_0_2_0.png</string>
    </dict>
  </dict>
</plist>