<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16455_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,625},{601,339}}</string>
        <key>offset</key>
        <string>{-239,247}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{601,339}}</string>
        <key>sourceSize</key>
        <string>{601,339}</string>
      </dict>
      <key>monster_16455_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{603,598},{575,308}}</string>
        <key>offset</key>
        <string>{-233,229}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{575,308}}</string>
        <key>sourceSize</key>
        <string>{575,308}</string>
      </dict>
      <key>monster_16455_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{320,0},{596,309}}</string>
        <key>offset</key>
        <string>{-247,245}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{596,309}}</string>
        <key>sourceSize</key>
        <string>{596,309}</string>
      </dict>
      <key>monster_16455_0_7_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{623,318}}</string>
        <key>offset</key>
        <string>{-249,254}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{623,318}}</string>
        <key>sourceSize</key>
        <string>{623,318}</string>
      </dict>
      <key>monster_16455_0_7_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{631,0},{531,410}}</string>
        <key>offset</key>
        <string>{-242,300}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{531,410}}</string>
        <key>sourceSize</key>
        <string>{531,410}</string>
      </dict>
      <key>monster_16455_0_7_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1043,0},{521,388}}</string>
        <key>offset</key>
        <string>{-252,276}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{521,388}}</string>
        <key>sourceSize</key>
        <string>{521,388}</string>
      </dict>
      <key>monster_16455_0_7_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1180,523},{508,427}}</string>
        <key>offset</key>
        <string>{-247,289}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{508,427}}</string>
        <key>sourceSize</key>
        <string>{508,427}</string>
      </dict>
      <key>monster_16455_0_7_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1433,0},{477,445}}</string>
        <key>offset</key>
        <string>{-231,289}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{477,445}}</string>
        <key>sourceSize</key>
        <string>{477,445}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16455_0_7_0.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>monster_16455_0_7_0.png</string>
    </dict>
  </dict>
</plist>