<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16142_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{392,492},{335,224}}</string>
        <key>offset</key>
        <string>{-92,185}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{335,224}}</string>
        <key>sourceSize</key>
        <string>{335,224}</string>
      </dict>
      <key>monster_16142_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{227,0},{400,217}}</string>
        <key>offset</key>
        <string>{-126,179}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{400,217}}</string>
        <key>sourceSize</key>
        <string>{400,217}</string>
      </dict>
      <key>monster_16142_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{407,225}}</string>
        <key>offset</key>
        <string>{-130,168}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{407,225}}</string>
        <key>sourceSize</key>
        <string>{407,225}</string>
      </dict>
      <key>monster_16142_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,409},{390,259}}</string>
        <key>offset</key>
        <string>{-124,168}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{390,259}}</string>
        <key>sourceSize</key>
        <string>{390,259}</string>
      </dict>
      <key>monster_16142_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{392,219},{370,271}}</string>
        <key>offset</key>
        <string>{-117,186}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{370,271}}</string>
        <key>sourceSize</key>
        <string>{370,271}</string>
      </dict>
      <key>monster_16142_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{764,0},{328,238}}</string>
        <key>offset</key>
        <string>{-91,194}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{328,238}}</string>
        <key>sourceSize</key>
        <string>{328,238}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16142_0_1_3.png</string>
      <key>size</key>
      <string>{1096,768}</string>
      <key>textureFileName</key>
      <string>monster_16142_0_1_3.png</string>
    </dict>
  </dict>
</plist>