<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16318_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{277,953},{307,258}}</string>
        <key>offset</key>
        <string>{-141,198}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{307,258}}</string>
        <key>sourceSize</key>
        <string>{307,258}</string>
      </dict>
      <key>monster_16318_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1310,303},{250,290}}</string>
        <key>offset</key>
        <string>{-104,242}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{250,290}}</string>
        <key>sourceSize</key>
        <string>{250,290}</string>
      </dict>
      <key>monster_16318_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{541,313},{207,310}}</string>
        <key>offset</key>
        <string>{-88,263}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{207,310}}</string>
        <key>sourceSize</key>
        <string>{207,310}</string>
      </dict>
      <key>monster_16318_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1006,0},{302,281}}</string>
        <key>offset</key>
        <string>{-136,206}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{302,281}}</string>
        <key>sourceSize</key>
        <string>{302,281}</string>
      </dict>
      <key>monster_16318_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{578,1258},{296,265}}</string>
        <key>offset</key>
        <string>{-136,219}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{296,265}}</string>
        <key>sourceSize</key>
        <string>{296,265}</string>
      </dict>
      <key>monster_16318_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1562,432},{284,250}}</string>
        <key>offset</key>
        <string>{-108,225}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{284,250}}</string>
        <key>sourceSize</key>
        <string>{284,250}</string>
      </dict>
      <key>monster_16318_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1584},{305,283}}</string>
        <key>offset</key>
        <string>{-72,255}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{305,283}}</string>
        <key>sourceSize</key>
        <string>{305,283}</string>
      </dict>
      <key>monster_16318_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1567,0},{214,292}}</string>
        <key>offset</key>
        <string>{-106,205}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{214,292}}</string>
        <key>sourceSize</key>
        <string>{214,292}</string>
      </dict>
      <key>monster_16318_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{537,953},{289,303}}</string>
        <key>offset</key>
        <string>{-113,224}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{289,303}}</string>
        <key>sourceSize</key>
        <string>{289,303}</string>
      </dict>
      <key>monster_16318_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,958},{275,314}}</string>
        <key>offset</key>
        <string>{-105,238}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{275,314}}</string>
        <key>sourceSize</key>
        <string>{275,314}</string>
      </dict>
      <key>monster_16318_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{276,0},{233,311}}</string>
        <key>offset</key>
        <string>{-57,223}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{233,311}}</string>
        <key>sourceSize</key>
        <string>{233,311}</string>
      </dict>
      <key>monster_16318_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1041,304},{267,301}}</string>
        <key>offset</key>
        <string>{-111,222}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{267,301}}</string>
        <key>sourceSize</key>
        <string>{267,301}</string>
      </dict>
      <key>monster_16318_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,322},{261,316}}</string>
        <key>offset</key>
        <string>{-28,188}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{261,316}}</string>
        <key>sourceSize</key>
        <string>{261,316}</string>
      </dict>
      <key>monster_16318_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1274},{308,291}}</string>
        <key>offset</key>
        <string>{-116,215}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{308,291}}</string>
        <key>sourceSize</key>
        <string>{308,291}</string>
      </dict>
      <key>monster_16318_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1289,0},{276,301}}</string>
        <key>offset</key>
        <string>{-105,211}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{276,301}}</string>
        <key>sourceSize</key>
        <string>{276,301}</string>
      </dict>
      <key>monster_16318_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{745,0},{259,310}}</string>
        <key>offset</key>
        <string>{-93,194}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{259,310}}</string>
        <key>sourceSize</key>
        <string>{259,310}</string>
      </dict>
      <key>monster_16318_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{549,625},{250,303}}</string>
        <key>offset</key>
        <string>{-94,172}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{250,303}}</string>
        <key>sourceSize</key>
        <string>{250,303}</string>
      </dict>
      <key>monster_16318_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{285,1584},{207,305}}</string>
        <key>offset</key>
        <string>{-68,174}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{207,305}}</string>
        <key>sourceSize</key>
        <string>{207,305}</string>
      </dict>
      <key>monster_16318_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1084,607},{198,294}}</string>
        <key>offset</key>
        <string>{-67,163}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{198,294}}</string>
        <key>sourceSize</key>
        <string>{198,294}</string>
      </dict>
      <key>monster_16318_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{494,1569},{267,301}}</string>
        <key>offset</key>
        <string>{-105,222}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{267,301}}</string>
        <key>sourceSize</key>
        <string>{267,301}</string>
      </dict>
      <key>monster_16318_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,640},{261,316}}</string>
        <key>offset</key>
        <string>{-182,188}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{261,316}}</string>
        <key>sourceSize</key>
        <string>{261,316}</string>
      </dict>
      <key>monster_16318_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{274,320}}</string>
        <key>offset</key>
        <string>{-183,192}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{274,320}}</string>
        <key>sourceSize</key>
        <string>{274,320}</string>
      </dict>
      <key>monster_16318_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1567,216},{214,292}}</string>
        <key>offset</key>
        <string>{-57,205}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{214,292}}</string>
        <key>sourceSize</key>
        <string>{214,292}</string>
      </dict>
      <key>monster_16318_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,312},{289,303}}</string>
        <key>offset</key>
        <string>{-125,224}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{289,303}}</string>
        <key>sourceSize</key>
        <string>{289,303}</string>
      </dict>
      <key>monster_16318_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{263,322},{276,314}}</string>
        <key>offset</key>
        <string>{-120,238}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{276,314}}</string>
        <key>sourceSize</key>
        <string>{276,314}</string>
      </dict>
      <key>monster_16318_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{511,0},{232,311}}</string>
        <key>offset</key>
        <string>{-124,223}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{232,311}}</string>
        <key>sourceSize</key>
        <string>{232,311}</string>
      </dict>
      <key>monster_16318_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{801,617},{302,281}}</string>
        <key>offset</key>
        <string>{-115,206}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{302,281}}</string>
        <key>sourceSize</key>
        <string>{302,281}</string>
      </dict>
      <key>monster_16318_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{828,921},{296,265}}</string>
        <key>offset</key>
        <string>{-109,219}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{296,265}}</string>
        <key>sourceSize</key>
        <string>{296,265}</string>
      </dict>
      <key>monster_16318_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{263,638},{313,284}}</string>
        <key>offset</key>
        <string>{-181,256}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{313,284}}</string>
        <key>sourceSize</key>
        <string>{313,284}</string>
      </dict>
      <key>monster_16318_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{293,1262},{305,283}}</string>
        <key>offset</key>
        <string>{-182,255}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{305,283}}</string>
        <key>sourceSize</key>
        <string>{305,283}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16318_0_2_0.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_16318_0_2_0.png</string>
    </dict>
  </dict>
</plist>