<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_10177_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{346,213}}</string>
        <key>offset</key>
        <string>{-153,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{346,213}}</string>
        <key>sourceSize</key>
        <string>{346,213}</string>
      </dict>
      <key>monster_10177_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{664,0},{334,262}}</string>
        <key>offset</key>
        <string>{-153,159}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{334,262}}</string>
        <key>sourceSize</key>
        <string>{334,262}</string>
      </dict>
      <key>monster_10177_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{557,676},{334,252}}</string>
        <key>offset</key>
        <string>{-141,146}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{334,252}}</string>
        <key>sourceSize</key>
        <string>{334,252}</string>
      </dict>
      <key>monster_10177_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,348},{345,249}}</string>
        <key>offset</key>
        <string>{-181,164}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{345,249}}</string>
        <key>sourceSize</key>
        <string>{345,249}</string>
      </dict>
      <key>monster_10177_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{423,0},{336,239}}</string>
        <key>offset</key>
        <string>{-160,165}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{336,239}}</string>
        <key>sourceSize</key>
        <string>{336,239}</string>
      </dict>
      <key>monster_10177_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{251,343},{339,274}}</string>
        <key>offset</key>
        <string>{-189,202}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{339,274}}</string>
        <key>sourceSize</key>
        <string>{339,274}</string>
      </dict>
      <key>monster_10177_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{811,669},{291,244}}</string>
        <key>offset</key>
        <string>{-153,157}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{291,244}}</string>
        <key>sourceSize</key>
        <string>{291,244}</string>
      </dict>
      <key>monster_10177_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{928,0},{329,244}}</string>
        <key>offset</key>
        <string>{-151,155}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{329,244}}</string>
        <key>sourceSize</key>
        <string>{329,244}</string>
      </dict>
      <key>monster_10177_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{737,336},{331,255}}</string>
        <key>offset</key>
        <string>{-157,169}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{331,255}}</string>
        <key>sourceSize</key>
        <string>{331,255}</string>
      </dict>
      <key>monster_10177_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,695},{340,218}}</string>
        <key>offset</key>
        <string>{-148,144}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{340,218}}</string>
        <key>sourceSize</key>
        <string>{340,218}</string>
      </dict>
      <key>monster_10177_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{994,331},{285,248}}</string>
        <key>offset</key>
        <string>{-111,168}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{285,248}}</string>
        <key>sourceSize</key>
        <string>{285,248}</string>
      </dict>
      <key>monster_10177_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{527,338},{336,208}}</string>
        <key>offset</key>
        <string>{-125,143}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{336,208}}</string>
        <key>sourceSize</key>
        <string>{336,208}</string>
      </dict>
      <key>monster_10177_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{342,684},{337,213}}</string>
        <key>offset</key>
        <string>{-113,143}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{337,213}}</string>
        <key>sourceSize</key>
        <string>{337,213}</string>
      </dict>
      <key>monster_10177_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{215,0},{341,206}}</string>
        <key>offset</key>
        <string>{-131,133}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{341,206}}</string>
        <key>sourceSize</key>
        <string>{341,206}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_10177_0_2_0.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>monster_10177_0_2_0.png</string>
    </dict>
  </dict>
</plist>