<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_12119_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{129,216}}</string>
        <key>offset</key>
        <string>{-41,143}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,216}}</string>
        <key>sourceSize</key>
        <string>{129,216}</string>
      </dict>
      <key>monster_12119_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,131},{132,211}}</string>
        <key>offset</key>
        <string>{-42,143}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,211}}</string>
        <key>sourceSize</key>
        <string>{132,211}</string>
      </dict>
      <key>monster_12119_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,0},{159,215}}</string>
        <key>offset</key>
        <string>{-41,142}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,215}}</string>
        <key>sourceSize</key>
        <string>{159,215}</string>
      </dict>
      <key>monster_12119_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,265},{172,210}}</string>
        <key>offset</key>
        <string>{-43,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{172,210}}</string>
        <key>sourceSize</key>
        <string>{172,210}</string>
      </dict>
      <key>monster_12119_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,320},{174,210}}</string>
        <key>offset</key>
        <string>{-41,139}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,210}}</string>
        <key>sourceSize</key>
        <string>{174,210}</string>
      </dict>
      <key>monster_12119_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,439},{170,206}}</string>
        <key>offset</key>
        <string>{-43,138}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,206}}</string>
        <key>sourceSize</key>
        <string>{170,206}</string>
      </dict>
      <key>monster_12119_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{213,161},{157,211}}</string>
        <key>offset</key>
        <string>{-41,136}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,211}}</string>
        <key>sourceSize</key>
        <string>{157,211}</string>
      </dict>
      <key>monster_12119_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,496},{161,205}}</string>
        <key>offset</key>
        <string>{-44,135}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,205}}</string>
        <key>sourceSize</key>
        <string>{161,205}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_12119_0_7_1.png</string>
      <key>size</key>
      <string>{512,1024}</string>
      <key>textureFileName</key>
      <string>monster_12119_0_7_1.png</string>
    </dict>
  </dict>
</plist>