<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_12089_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{802,0},{46,76}}</string>
        <key>offset</key>
        <string>{4,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,76}}</string>
        <key>sourceSize</key>
        <string>{46,76}</string>
      </dict>
      <key>monster_12089_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{677,0},{58,79}}</string>
        <key>offset</key>
        <string>{-10,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,79}}</string>
        <key>sourceSize</key>
        <string>{58,79}</string>
      </dict>
      <key>monster_12089_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{585,356},{72,83}}</string>
        <key>offset</key>
        <string>{-19,66}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,83}}</string>
        <key>sourceSize</key>
        <string>{72,83}</string>
      </dict>
      <key>monster_12089_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{597,441},{63,78}}</string>
        <key>offset</key>
        <string>{-7,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,78}}</string>
        <key>sourceSize</key>
        <string>{63,78}</string>
      </dict>
      <key>monster_12089_0_4_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{737,0},{63,78}}</string>
        <key>offset</key>
        <string>{-7,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,78}}</string>
        <key>sourceSize</key>
        <string>{63,78}</string>
      </dict>
      <key>monster_12089_0_4_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{630,261},{63,78}}</string>
        <key>offset</key>
        <string>{-7,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,78}}</string>
        <key>sourceSize</key>
        <string>{63,78}</string>
      </dict>
      <key>monster_12089_0_4_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{671,171},{63,78}}</string>
        <key>offset</key>
        <string>{-7,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,78}}</string>
        <key>sourceSize</key>
        <string>{63,78}</string>
      </dict>
      <key>monster_12089_0_4_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{659,341},{63,78}}</string>
        <key>offset</key>
        <string>{-7,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,78}}</string>
        <key>sourceSize</key>
        <string>{63,78}</string>
      </dict>
      <key>monster_12089_0_4_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{695,251},{63,78}}</string>
        <key>offset</key>
        <string>{-7,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,78}}</string>
        <key>sourceSize</key>
        <string>{63,78}</string>
      </dict>
      <key>monster_12089_0_4_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{736,171},{63,78}}</string>
        <key>offset</key>
        <string>{-7,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,78}}</string>
        <key>sourceSize</key>
        <string>{63,78}</string>
      </dict>
      <key>monster_12089_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{760,251},{49,74}}</string>
        <key>offset</key>
        <string>{0,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{49,74}}</string>
        <key>sourceSize</key>
        <string>{49,74}</string>
      </dict>
      <key>monster_12089_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{588,267},{40,83}}</string>
        <key>offset</key>
        <string>{7,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{40,83}}</string>
        <key>sourceSize</key>
        <string>{40,83}</string>
      </dict>
      <key>monster_12089_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{666,89},{78,80}}</string>
        <key>offset</key>
        <string>{16,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,80}}</string>
        <key>sourceSize</key>
        <string>{78,80}</string>
      </dict>
      <key>monster_12089_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,0},{105,65}}</string>
        <key>offset</key>
        <string>{5,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,65}}</string>
        <key>sourceSize</key>
        <string>{105,65}</string>
      </dict>
      <key>monster_12089_0_4_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,107},{105,65}}</string>
        <key>offset</key>
        <string>{5,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,65}}</string>
        <key>sourceSize</key>
        <string>{105,65}</string>
      </dict>
      <key>monster_12089_0_4_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{139,214},{105,65}}</string>
        <key>offset</key>
        <string>{5,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,65}}</string>
        <key>sourceSize</key>
        <string>{105,65}</string>
      </dict>
      <key>monster_12089_0_4_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{139,321},{105,65}}</string>
        <key>offset</key>
        <string>{5,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,65}}</string>
        <key>sourceSize</key>
        <string>{105,65}</string>
      </dict>
      <key>monster_12089_0_4_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{206,321},{105,65}}</string>
        <key>offset</key>
        <string>{5,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,65}}</string>
        <key>sourceSize</key>
        <string>{105,65}</string>
      </dict>
      <key>monster_12089_0_4_1_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,428},{105,65}}</string>
        <key>offset</key>
        <string>{5,39}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,65}}</string>
        <key>sourceSize</key>
        <string>{105,65}</string>
      </dict>
      <key>monster_12089_0_4_1_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,0},{105,65}}</string>
        <key>offset</key>
        <string>{5,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,65}}</string>
        <key>sourceSize</key>
        <string>{105,65}</string>
      </dict>
      <key>monster_12089_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{510,462},{42,85}}</string>
        <key>offset</key>
        <string>{-1,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{42,85}}</string>
        <key>sourceSize</key>
        <string>{42,85}</string>
      </dict>
      <key>monster_12089_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,178},{28,81}}</string>
        <key>offset</key>
        <string>{21,55}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{28,81}}</string>
        <key>sourceSize</key>
        <string>{28,81}</string>
      </dict>
      <key>monster_12089_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{380,414},{92,56}}</string>
        <key>offset</key>
        <string>{21,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,56}}</string>
        <key>sourceSize</key>
        <string>{92,56}</string>
      </dict>
      <key>monster_12089_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{109,43}}</string>
        <key>offset</key>
        <string>{9,7}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,43}}</string>
        <key>sourceSize</key>
        <string>{109,43}</string>
      </dict>
      <key>monster_12089_0_4_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,111},{109,43}}</string>
        <key>offset</key>
        <string>{9,7}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,43}}</string>
        <key>sourceSize</key>
        <string>{109,43}</string>
      </dict>
      <key>monster_12089_0_4_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,222},{109,43}}</string>
        <key>offset</key>
        <string>{9,7}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,43}}</string>
        <key>sourceSize</key>
        <string>{109,43}</string>
      </dict>
      <key>monster_12089_0_4_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,333},{109,43}}</string>
        <key>offset</key>
        <string>{9,7}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,43}}</string>
        <key>sourceSize</key>
        <string>{109,43}</string>
      </dict>
      <key>monster_12089_0_4_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,444},{109,43}}</string>
        <key>offset</key>
        <string>{9,7}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,43}}</string>
        <key>sourceSize</key>
        <string>{109,43}</string>
      </dict>
      <key>monster_12089_0_4_2_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{45,0},{109,43}}</string>
        <key>offset</key>
        <string>{9,7}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,43}}</string>
        <key>sourceSize</key>
        <string>{109,43}</string>
      </dict>
      <key>monster_12089_0_4_2_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{45,111},{109,43}}</string>
        <key>offset</key>
        <string>{9,7}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,43}}</string>
        <key>sourceSize</key>
        <string>{109,43}</string>
      </dict>
      <key>monster_12089_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{367,212},{40,97}}</string>
        <key>offset</key>
        <string>{0,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{40,97}}</string>
        <key>sourceSize</key>
        <string>{40,97}</string>
      </dict>
      <key>monster_12089_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{677,421},{46,75}}</string>
        <key>offset</key>
        <string>{10,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,75}}</string>
        <key>sourceSize</key>
        <string>{46,75}</string>
      </dict>
      <key>monster_12089_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{273,319},{99,46}}</string>
        <key>offset</key>
        <string>{15,-2}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,46}}</string>
        <key>sourceSize</key>
        <string>{99,46}</string>
      </dict>
      <key>monster_12089_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{372,106},{87,70}}</string>
        <key>offset</key>
        <string>{11,-2}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,70}}</string>
        <key>sourceSize</key>
        <string>{87,70}</string>
      </dict>
      <key>monster_12089_0_4_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{383,0},{87,70}}</string>
        <key>offset</key>
        <string>{11,-2}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,70}}</string>
        <key>sourceSize</key>
        <string>{87,70}</string>
      </dict>
      <key>monster_12089_0_4_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{438,405},{87,70}}</string>
        <key>offset</key>
        <string>{11,-2}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,70}}</string>
        <key>sourceSize</key>
        <string>{87,70}</string>
      </dict>
      <key>monster_12089_0_4_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{409,195},{87,70}}</string>
        <key>offset</key>
        <string>{11,-2}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,70}}</string>
        <key>sourceSize</key>
        <string>{87,70}</string>
      </dict>
      <key>monster_12089_0_4_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{444,89},{87,70}}</string>
        <key>offset</key>
        <string>{11,-2}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,70}}</string>
        <key>sourceSize</key>
        <string>{87,70}</string>
      </dict>
      <key>monster_12089_0_4_3_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{455,0},{87,70}}</string>
        <key>offset</key>
        <string>{11,-2}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,70}}</string>
        <key>sourceSize</key>
        <string>{87,70}</string>
      </dict>
      <key>monster_12089_0_4_3_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{441,284},{87,70}}</string>
        <key>offset</key>
        <string>{11,-2}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,70}}</string>
        <key>sourceSize</key>
        <string>{87,70}</string>
      </dict>
      <key>monster_12089_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{318,212},{47,99}}</string>
        <key>offset</key>
        <string>{-2,73}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,99}}</string>
        <key>sourceSize</key>
        <string>{47,99}</string>
      </dict>
      <key>monster_12089_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{958,0},{58,66}}</string>
        <key>offset</key>
        <string>{0,39}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,66}}</string>
        <key>sourceSize</key>
        <string>{58,66}</string>
      </dict>
      <key>monster_12089_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{801,160},{72,50}}</string>
        <key>offset</key>
        <string>{-5,-9}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,50}}</string>
        <key>sourceSize</key>
        <string>{72,50}</string>
      </dict>
      <key>monster_12089_0_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{833,78},{64,68}}</string>
        <key>offset</key>
        <string>{-9,-7}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,68}}</string>
        <key>sourceSize</key>
        <string>{64,68}</string>
      </dict>
      <key>monster_12089_0_4_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,0},{64,68}}</string>
        <key>offset</key>
        <string>{-9,-7}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,68}}</string>
        <key>sourceSize</key>
        <string>{64,68}</string>
      </dict>
      <key>monster_12089_0_4_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{725,408},{64,68}}</string>
        <key>offset</key>
        <string>{-9,-7}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,68}}</string>
        <key>sourceSize</key>
        <string>{64,68}</string>
      </dict>
      <key>monster_12089_0_4_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{771,327},{64,68}}</string>
        <key>offset</key>
        <string>{-9,-7}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,68}}</string>
        <key>sourceSize</key>
        <string>{64,68}</string>
      </dict>
      <key>monster_12089_0_4_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{811,234},{64,68}}</string>
        <key>offset</key>
        <string>{-9,-7}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,68}}</string>
        <key>sourceSize</key>
        <string>{64,68}</string>
      </dict>
      <key>monster_12089_0_4_4_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{853,148},{64,68}}</string>
        <key>offset</key>
        <string>{-9,-7}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,68}}</string>
        <key>sourceSize</key>
        <string>{64,68}</string>
      </dict>
      <key>monster_12089_0_4_4_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{899,70},{64,68}}</string>
        <key>offset</key>
        <string>{-9,-7}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,68}}</string>
        <key>sourceSize</key>
        <string>{64,68}</string>
      </dict>
      <key>monster_12089_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{329,414},{49,93}}</string>
        <key>offset</key>
        <string>{-1,71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{49,93}}</string>
        <key>sourceSize</key>
        <string>{49,93}</string>
      </dict>
      <key>monster_12089_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{916,0},{40,68}}</string>
        <key>offset</key>
        <string>{1,39}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{40,68}}</string>
        <key>sourceSize</key>
        <string>{40,68}</string>
      </dict>
      <key>monster_12089_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{746,80},{78,55}}</string>
        <key>offset</key>
        <string>{-46,-5}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,55}}</string>
        <key>sourceSize</key>
        <string>{78,55}</string>
      </dict>
      <key>monster_12089_0_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,107},{104,54}}</string>
        <key>offset</key>
        <string>{-61,-8}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,54}}</string>
        <key>sourceSize</key>
        <string>{104,54}</string>
      </dict>
      <key>monster_12089_0_4_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{206,213},{104,54}}</string>
        <key>offset</key>
        <string>{-61,-8}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,54}}</string>
        <key>sourceSize</key>
        <string>{104,54}</string>
      </dict>
      <key>monster_12089_0_4_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,107},{104,54}}</string>
        <key>offset</key>
        <string>{-61,-8}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,54}}</string>
        <key>sourceSize</key>
        <string>{104,54}</string>
      </dict>
      <key>monster_12089_0_4_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{271,0},{104,54}}</string>
        <key>offset</key>
        <string>{-61,-8}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,54}}</string>
        <key>sourceSize</key>
        <string>{104,54}</string>
      </dict>
      <key>monster_12089_0_4_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{262,213},{104,54}}</string>
        <key>offset</key>
        <string>{-61,-8}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,54}}</string>
        <key>sourceSize</key>
        <string>{104,54}</string>
      </dict>
      <key>monster_12089_0_4_5_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{316,106},{104,54}}</string>
        <key>offset</key>
        <string>{-61,-8}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,54}}</string>
        <key>sourceSize</key>
        <string>{104,54}</string>
      </dict>
      <key>monster_12089_0_4_5_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{327,0},{104,54}}</string>
        <key>offset</key>
        <string>{-61,-8}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,54}}</string>
        <key>sourceSize</key>
        <string>{104,54}</string>
      </dict>
      <key>monster_12089_0_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{481,178},{42,87}}</string>
        <key>offset</key>
        <string>{7,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{42,87}}</string>
        <key>sourceSize</key>
        <string>{42,87}</string>
      </dict>
      <key>monster_12089_0_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{803,78},{28,72}}</string>
        <key>offset</key>
        <string>{-1,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{28,72}}</string>
        <key>sourceSize</key>
        <string>{28,72}</string>
      </dict>
      <key>monster_12089_0_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{390,311},{92,49}}</string>
        <key>offset</key>
        <string>{-65,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,49}}</string>
        <key>sourceSize</key>
        <string>{92,49}</string>
      </dict>
      <key>monster_12089_0_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{45,222},{109,45}}</string>
        <key>offset</key>
        <string>{-70,8}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,45}}</string>
        <key>sourceSize</key>
        <string>{109,45}</string>
      </dict>
      <key>monster_12089_0_4_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{45,333},{109,45}}</string>
        <key>offset</key>
        <string>{-70,8}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,45}}</string>
        <key>sourceSize</key>
        <string>{109,45}</string>
      </dict>
      <key>monster_12089_0_4_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{92,333},{109,45}}</string>
        <key>offset</key>
        <string>{-70,8}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,45}}</string>
        <key>sourceSize</key>
        <string>{109,45}</string>
      </dict>
      <key>monster_12089_0_4_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{111,444},{109,45}}</string>
        <key>offset</key>
        <string>{-70,8}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,45}}</string>
        <key>sourceSize</key>
        <string>{109,45}</string>
      </dict>
      <key>monster_12089_0_4_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{90,0},{109,45}}</string>
        <key>offset</key>
        <string>{-70,8}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,45}}</string>
        <key>sourceSize</key>
        <string>{109,45}</string>
      </dict>
      <key>monster_12089_0_4_6_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{90,111},{109,45}}</string>
        <key>offset</key>
        <string>{-70,8}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,45}}</string>
        <key>sourceSize</key>
        <string>{109,45}</string>
      </dict>
      <key>monster_12089_0_4_6_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{92,222},{109,45}}</string>
        <key>offset</key>
        <string>{-70,8}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,45}}</string>
        <key>sourceSize</key>
        <string>{109,45}</string>
      </dict>
      <key>monster_12089_0_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{630,178},{39,81}}</string>
        <key>offset</key>
        <string>{9,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{39,81}}</string>
        <key>sourceSize</key>
        <string>{39,81}</string>
      </dict>
      <key>monster_12089_0_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{724,331},{45,75}}</string>
        <key>offset</key>
        <string>{-8,55}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{45,75}}</string>
        <key>sourceSize</key>
        <string>{45,75}</string>
      </dict>
      <key>monster_12089_0_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{321,313},{99,67}}</string>
        <key>offset</key>
        <string>{-66,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,67}}</string>
        <key>sourceSize</key>
        <string>{99,67}</string>
      </dict>
      <key>monster_12089_0_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{516,89},{87,73}}</string>
        <key>offset</key>
        <string>{-50,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,73}}</string>
        <key>sourceSize</key>
        <string>{87,73}</string>
      </dict>
      <key>monster_12089_0_4_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{527,0},{87,73}}</string>
        <key>offset</key>
        <string>{-50,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,73}}</string>
        <key>sourceSize</key>
        <string>{87,73}</string>
      </dict>
      <key>monster_12089_0_4_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{510,373},{87,73}}</string>
        <key>offset</key>
        <string>{-50,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,73}}</string>
        <key>sourceSize</key>
        <string>{87,73}</string>
      </dict>
      <key>monster_12089_0_4_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{513,267},{87,73}}</string>
        <key>offset</key>
        <string>{-50,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,73}}</string>
        <key>sourceSize</key>
        <string>{87,73}</string>
      </dict>
      <key>monster_12089_0_4_7_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{525,178},{87,73}}</string>
        <key>offset</key>
        <string>{-50,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,73}}</string>
        <key>sourceSize</key>
        <string>{87,73}</string>
      </dict>
      <key>monster_12089_0_4_7_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{591,89},{87,73}}</string>
        <key>offset</key>
        <string>{-50,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,73}}</string>
        <key>sourceSize</key>
        <string>{87,73}</string>
      </dict>
      <key>monster_12089_0_4_7_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{602,0},{87,73}}</string>
        <key>offset</key>
        <string>{-50,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,73}}</string>
        <key>sourceSize</key>
        <string>{87,73}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_12089_0_4.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>monster_12089_0_4.png</string>
    </dict>
  </dict>
</plist>