<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16500_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1313},{434,324}}</string>
        <key>offset</key>
        <string>{-229,197}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{434,324}}</string>
        <key>sourceSize</key>
        <string>{434,324}</string>
      </dict>
      <key>monster_16500_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{979,871},{432,323}}</string>
        <key>offset</key>
        <string>{-227,197}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{432,323}}</string>
        <key>sourceSize</key>
        <string>{432,323}</string>
      </dict>
      <key>monster_16500_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{436,323}}</string>
        <key>offset</key>
        <string>{-229,196}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{436,323}}</string>
        <key>sourceSize</key>
        <string>{436,323}</string>
      </dict>
      <key>monster_16500_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{326,1313},{434,321}}</string>
        <key>offset</key>
        <string>{-228,196}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{434,321}}</string>
        <key>sourceSize</key>
        <string>{434,321}</string>
      </dict>
      <key>monster_16500_0_0_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{654,873},{433,323}}</string>
        <key>offset</key>
        <string>{-228,197}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{433,323}}</string>
        <key>sourceSize</key>
        <string>{433,323}</string>
      </dict>
      <key>monster_16500_0_0_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{325,0},{435,325}}</string>
        <key>offset</key>
        <string>{-229,198}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{435,325}}</string>
        <key>sourceSize</key>
        <string>{435,325}</string>
      </dict>
      <key>monster_16500_0_0_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{327,876},{434,325}}</string>
        <key>offset</key>
        <string>{-228,199}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{434,325}}</string>
        <key>sourceSize</key>
        <string>{434,325}</string>
      </dict>
      <key>monster_16500_0_0_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{662,436},{433,324}}</string>
        <key>offset</key>
        <string>{-228,199}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{433,324}}</string>
        <key>sourceSize</key>
        <string>{433,324}</string>
      </dict>
      <key>monster_16500_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{331,437},{434,329}}</string>
        <key>offset</key>
        <string>{-229,202}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{434,329}}</string>
        <key>sourceSize</key>
        <string>{434,329}</string>
      </dict>
      <key>monster_16500_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{988,435},{432,330}}</string>
        <key>offset</key>
        <string>{-227,204}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{432,330}}</string>
        <key>sourceSize</key>
        <string>{432,330}</string>
      </dict>
      <key>monster_16500_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,438},{436,329}}</string>
        <key>offset</key>
        <string>{-229,202}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{436,329}}</string>
        <key>sourceSize</key>
        <string>{436,329}</string>
      </dict>
      <key>monster_16500_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{652,0},{434,324}}</string>
        <key>offset</key>
        <string>{-228,199}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{434,324}}</string>
        <key>sourceSize</key>
        <string>{434,324}</string>
      </dict>
      <key>monster_16500_0_0_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{978,0},{433,324}}</string>
        <key>offset</key>
        <string>{-228,198}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{433,324}}</string>
        <key>sourceSize</key>
        <string>{433,324}</string>
      </dict>
      <key>monster_16500_0_0_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,876},{435,325}}</string>
        <key>offset</key>
        <string>{-229,198}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{435,325}}</string>
        <key>sourceSize</key>
        <string>{435,325}</string>
      </dict>
      <key>monster_16500_0_0_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{649,1312},{434,324}}</string>
        <key>offset</key>
        <string>{-228,198}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{434,324}}</string>
        <key>sourceSize</key>
        <string>{434,324}</string>
      </dict>
      <key>monster_16500_0_0_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{975,1308},{433,326}}</string>
        <key>offset</key>
        <string>{-228,201}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{433,326}}</string>
        <key>sourceSize</key>
        <string>{433,326}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16500_0_0_0.png</string>
      <key>size</key>
      <string>{1792,1792}</string>
      <key>textureFileName</key>
      <string>monster_16500_0_0_0.png</string>
    </dict>
  </dict>
</plist>