<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16471_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,297},{126,120}}</string>
        <key>offset</key>
        <string>{-22,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,120}}</string>
        <key>sourceSize</key>
        <string>{126,120}</string>
      </dict>
      <key>monster_16471_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{684,812},{101,106}}</string>
        <key>offset</key>
        <string>{-24,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,106}}</string>
        <key>sourceSize</key>
        <string>{101,106}</string>
      </dict>
      <key>monster_16471_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{587,0},{109,112}}</string>
        <key>offset</key>
        <string>{-26,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,112}}</string>
        <key>sourceSize</key>
        <string>{109,112}</string>
      </dict>
      <key>monster_16471_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{357,920},{97,118}}</string>
        <key>offset</key>
        <string>{-27,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,118}}</string>
        <key>sourceSize</key>
        <string>{97,118}</string>
      </dict>
      <key>monster_16471_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{453,128},{100,121}}</string>
        <key>offset</key>
        <string>{-29,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,121}}</string>
        <key>sourceSize</key>
        <string>{100,121}</string>
      </dict>
      <key>monster_16471_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{234,425},{103,125}}</string>
        <key>offset</key>
        <string>{-21,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,125}}</string>
        <key>sourceSize</key>
        <string>{103,125}</string>
      </dict>
      <key>monster_16471_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,610},{108,138}}</string>
        <key>offset</key>
        <string>{-24,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,138}}</string>
        <key>sourceSize</key>
        <string>{108,138}</string>
      </dict>
      <key>monster_16471_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{558,238},{100,111}}</string>
        <key>offset</key>
        <string>{-26,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,111}}</string>
        <key>sourceSize</key>
        <string>{100,111}</string>
      </dict>
      <key>monster_16471_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{354,678},{106,119}}</string>
        <key>offset</key>
        <string>{-28,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,119}}</string>
        <key>sourceSize</key>
        <string>{106,119}</string>
      </dict>
      <key>monster_16471_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{566,908},{107,116}}</string>
        <key>offset</key>
        <string>{-26,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,116}}</string>
        <key>sourceSize</key>
        <string>{107,116}</string>
      </dict>
      <key>monster_16471_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,670},{108,117}}</string>
        <key>offset</key>
        <string>{-27,55}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,117}}</string>
        <key>sourceSize</key>
        <string>{108,117}</string>
      </dict>
      <key>monster_16471_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,888},{130,130}}</string>
        <key>offset</key>
        <string>{-29,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,130}}</string>
        <key>sourceSize</key>
        <string>{130,130}</string>
      </dict>
      <key>monster_16471_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,155},{114,151}}</string>
        <key>offset</key>
        <string>{-31,92}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,151}}</string>
        <key>sourceSize</key>
        <string>{114,151}</string>
      </dict>
      <key>monster_16471_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{464,0},{121,121}}</string>
        <key>offset</key>
        <string>{-35,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,121}}</string>
        <key>sourceSize</key>
        <string>{121,121}</string>
      </dict>
      <key>monster_16471_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{342,143},{109,126}}</string>
        <key>offset</key>
        <string>{-20,67}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,126}}</string>
        <key>sourceSize</key>
        <string>{109,126}</string>
      </dict>
      <key>monster_16471_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,747},{130,111}}</string>
        <key>offset</key>
        <string>{-37,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,111}}</string>
        <key>sourceSize</key>
        <string>{130,111}</string>
      </dict>
      <key>monster_16471_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{461,368},{112,112}}</string>
        <key>offset</key>
        <string>{-19,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,112}}</string>
        <key>sourceSize</key>
        <string>{112,112}</string>
      </dict>
      <key>monster_16471_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{339,425},{120,122}}</string>
        <key>offset</key>
        <string>{-21,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,122}}</string>
        <key>sourceSize</key>
        <string>{120,122}</string>
      </dict>
      <key>monster_16471_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{103,153}}</string>
        <key>offset</key>
        <string>{-21,92}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,153}}</string>
        <key>sourceSize</key>
        <string>{103,153}</string>
      </dict>
      <key>monster_16471_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{116,152},{98,145}}</string>
        <key>offset</key>
        <string>{-24,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,145}}</string>
        <key>sourceSize</key>
        <string>{98,145}</string>
      </dict>
      <key>monster_16471_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,456},{102,127}}</string>
        <key>offset</key>
        <string>{-22,67}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,127}}</string>
        <key>sourceSize</key>
        <string>{102,127}</string>
      </dict>
      <key>monster_16471_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{569,482},{109,110}}</string>
        <key>offset</key>
        <string>{-24,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,110}}</string>
        <key>sourceSize</key>
        <string>{109,110}</string>
      </dict>
      <key>monster_16471_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{348,0},{114,126}}</string>
        <key>offset</key>
        <string>{-27,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,126}}</string>
        <key>sourceSize</key>
        <string>{114,126}</string>
      </dict>
      <key>monster_16471_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{110,610},{135,135}}</string>
        <key>offset</key>
        <string>{-31,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,135}}</string>
        <key>sourceSize</key>
        <string>{135,135}</string>
      </dict>
      <key>monster_16471_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{217,0},{129,141}}</string>
        <key>offset</key>
        <string>{-25,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,141}}</string>
        <key>sourceSize</key>
        <string>{129,141}</string>
      </dict>
      <key>monster_16471_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,308},{102,149}}</string>
        <key>offset</key>
        <string>{-24,90}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,149}}</string>
        <key>sourceSize</key>
        <string>{102,149}</string>
      </dict>
      <key>monster_16471_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{346,271},{113,122}}</string>
        <key>offset</key>
        <string>{-27,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,122}}</string>
        <key>sourceSize</key>
        <string>{113,122}</string>
      </dict>
      <key>monster_16471_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{669,594},{107,107}}</string>
        <key>offset</key>
        <string>{-30,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,107}}</string>
        <key>sourceSize</key>
        <string>{107,107}</string>
      </dict>
      <key>monster_16471_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{575,351},{110,109}}</string>
        <key>offset</key>
        <string>{-33,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,109}}</string>
        <key>sourceSize</key>
        <string>{110,109}</string>
      </dict>
      <key>monster_16471_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{355,549},{119,112}}</string>
        <key>offset</key>
        <string>{-36,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,112}}</string>
        <key>sourceSize</key>
        <string>{119,112}</string>
      </dict>
      <key>monster_16471_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,459},{128,149}}</string>
        <key>offset</key>
        <string>{-21,90}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,149}}</string>
        <key>sourceSize</key>
        <string>{128,149}</string>
      </dict>
      <key>monster_16471_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,152},{124,143}}</string>
        <key>offset</key>
        <string>{-18,83}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,143}}</string>
        <key>sourceSize</key>
        <string>{124,143}</string>
      </dict>
      <key>monster_16471_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{241,747},{111,128}}</string>
        <key>offset</key>
        <string>{-20,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,128}}</string>
        <key>sourceSize</key>
        <string>{111,128}</string>
      </dict>
      <key>monster_16471_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{680,463},{94,107}}</string>
        <key>offset</key>
        <string>{-23,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,107}}</string>
        <key>sourceSize</key>
        <string>{94,107}</string>
      </dict>
      <key>monster_16471_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{572,594},{95,110}}</string>
        <key>offset</key>
        <string>{-22,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,110}}</string>
        <key>sourceSize</key>
        <string>{95,110}</string>
      </dict>
      <key>monster_16471_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{555,123},{103,113}}</string>
        <key>offset</key>
        <string>{-28,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,113}}</string>
        <key>sourceSize</key>
        <string>{103,113}</string>
      </dict>
      <key>monster_16471_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{105,0},{110,150}}</string>
        <key>offset</key>
        <string>{-21,90}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,150}}</string>
        <key>sourceSize</key>
        <string>{110,150}</string>
      </dict>
      <key>monster_16471_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,308},{146,118}}</string>
        <key>offset</key>
        <string>{-24,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,118}}</string>
        <key>sourceSize</key>
        <string>{146,118}</string>
      </dict>
      <key>monster_16471_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{247,552},{106,124}}</string>
        <key>offset</key>
        <string>{-23,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,124}}</string>
        <key>sourceSize</key>
        <string>{106,124}</string>
      </dict>
      <key>monster_16471_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{677,703},{98,107}}</string>
        <key>offset</key>
        <string>{-23,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,107}}</string>
        <key>sourceSize</key>
        <string>{98,107}</string>
      </dict>
      <key>monster_16471_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{469,482},{98,111}}</string>
        <key>offset</key>
        <string>{-23,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,111}}</string>
        <key>sourceSize</key>
        <string>{98,111}</string>
      </dict>
      <key>monster_16471_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{357,799},{99,119}}</string>
        <key>offset</key>
        <string>{-26,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,119}}</string>
        <key>sourceSize</key>
        <string>{99,119}</string>
      </dict>
      <key>monster_16471_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,750},{126,136}}</string>
        <key>offset</key>
        <string>{-21,77}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,136}}</string>
        <key>sourceSize</key>
        <string>{126,136}</string>
      </dict>
      <key>monster_16471_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{247,877},{128,108}}</string>
        <key>offset</key>
        <string>{-18,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,108}}</string>
        <key>sourceSize</key>
        <string>{128,108}</string>
      </dict>
      <key>monster_16471_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{566,789},{109,117}}</string>
        <key>offset</key>
        <string>{-20,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,117}}</string>
        <key>sourceSize</key>
        <string>{109,117}</string>
      </dict>
      <key>monster_16471_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{461,251},{95,115}}</string>
        <key>offset</key>
        <string>{-23,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,115}}</string>
        <key>sourceSize</key>
        <string>{95,115}</string>
      </dict>
      <key>monster_16471_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{458,799},{106,118}}</string>
        <key>offset</key>
        <string>{-35,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,118}}</string>
        <key>sourceSize</key>
        <string>{106,118}</string>
      </dict>
      <key>monster_16471_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,879},{113,130}}</string>
        <key>offset</key>
        <string>{-40,67}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,130}}</string>
        <key>sourceSize</key>
        <string>{113,130}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16471_0_2.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>monster_16471_0_2.png</string>
    </dict>
  </dict>
</plist>