<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_1250_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{796,0},{232,182}}</string>
        <key>offset</key>
        <string>{-115,138}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{232,182}}</string>
        <key>sourceSize</key>
        <string>{232,182}</string>
      </dict>
      <key>monster_1250_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{738,1040},{361,284}}</string>
        <key>offset</key>
        <string>{-153,247}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{361,284}}</string>
        <key>sourceSize</key>
        <string>{361,284}</string>
      </dict>
      <key>monster_1250_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1344},{364,285}}</string>
        <key>offset</key>
        <string>{-151,245}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{364,285}}</string>
        <key>sourceSize</key>
        <string>{364,285}</string>
      </dict>
      <key>monster_1250_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1631},{328,363}}</string>
        <key>offset</key>
        <string>{-53,283}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{328,363}}</string>
        <key>sourceSize</key>
        <string>{328,363}</string>
      </dict>
      <key>monster_1250_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,1360},{230,236}}</string>
        <key>offset</key>
        <string>{-103,189}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{230,236}}</string>
        <key>sourceSize</key>
        <string>{230,236}</string>
      </dict>
      <key>monster_1250_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{326,396}}</string>
        <key>offset</key>
        <string>{-42,278}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{326,396}}</string>
        <key>sourceSize</key>
        <string>{326,396}</string>
      </dict>
      <key>monster_1250_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{757,561},{237,233}}</string>
        <key>offset</key>
        <string>{-46,126}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{237,233}}</string>
        <key>sourceSize</key>
        <string>{237,233}</string>
      </dict>
      <key>monster_1250_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{757,796},{237,227}}</string>
        <key>offset</key>
        <string>{-50,181}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{237,227}}</string>
        <key>sourceSize</key>
        <string>{237,227}</string>
      </dict>
      <key>monster_1250_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{384,332},{333,371}}</string>
        <key>offset</key>
        <string>{-58,253}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{333,371}}</string>
        <key>sourceSize</key>
        <string>{333,371}</string>
      </dict>
      <key>monster_1250_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1003},{339,367}}</string>
        <key>offset</key>
        <string>{-66,247}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{339,367}}</string>
        <key>sourceSize</key>
        <string>{339,367}</string>
      </dict>
      <key>monster_1250_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,684},{317,370}}</string>
        <key>offset</key>
        <string>{-87,242}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{317,370}}</string>
        <key>sourceSize</key>
        <string>{317,370}</string>
      </dict>
      <key>monster_1250_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{757,332},{246,227}}</string>
        <key>offset</key>
        <string>{-89,181}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{246,227}}</string>
        <key>sourceSize</key>
        <string>{246,227}</string>
      </dict>
      <key>monster_1250_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{384,667},{371,371}}</string>
        <key>offset</key>
        <string>{-209,253}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{371,371}}</string>
        <key>sourceSize</key>
        <string>{371,371}</string>
      </dict>
      <key>monster_1250_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{369,1040},{318,367}}</string>
        <key>offset</key>
        <string>{-207,247}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{318,367}}</string>
        <key>sourceSize</key>
        <string>{318,367}</string>
      </dict>
      <key>monster_1250_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,328},{382,354}}</string>
        <key>offset</key>
        <string>{-204,292}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{382,354}}</string>
        <key>sourceSize</key>
        <string>{382,354}</string>
      </dict>
      <key>monster_1250_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{398,0},{330,396}}</string>
        <key>offset</key>
        <string>{-201,278}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{330,396}}</string>
        <key>sourceSize</key>
        <string>{330,396}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_1250_0_2_1.png</string>
      <key>size</key>
      <string>{1024,2048}</string>
      <key>textureFileName</key>
      <string>monster_1250_0_2_1.png</string>
    </dict>
  </dict>
</plist>