<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_1755_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{853,105},{101,118}}</string>
        <key>offset</key>
        <string>{1,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,118}}</string>
        <key>sourceSize</key>
        <string>{101,118}</string>
      </dict>
      <key>monster_1755_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{115,766},{126,163}}</string>
        <key>offset</key>
        <string>{0,131}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,163}}</string>
        <key>sourceSize</key>
        <string>{126,163}</string>
      </dict>
      <key>monster_1755_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,203},{70,195}}</string>
        <key>offset</key>
        <string>{-4,163}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,195}}</string>
        <key>sourceSize</key>
        <string>{70,195}</string>
      </dict>
      <key>monster_1755_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,400},{71,190}}</string>
        <key>offset</key>
        <string>{-3,158}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,190}}</string>
        <key>sourceSize</key>
        <string>{71,190}</string>
      </dict>
      <key>monster_1755_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,935},{85,157}}</string>
        <key>offset</key>
        <string>{-8,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,157}}</string>
        <key>sourceSize</key>
        <string>{85,157}</string>
      </dict>
      <key>monster_1755_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{407,488},{89,141}}</string>
        <key>offset</key>
        <string>{-7,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,141}}</string>
        <key>sourceSize</key>
        <string>{89,141}</string>
      </dict>
      <key>monster_1755_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{768,820},{109,110}}</string>
        <key>offset</key>
        <string>{-11,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,110}}</string>
        <key>sourceSize</key>
        <string>{109,110}</string>
      </dict>
      <key>monster_1755_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{336,334},{152,136}}</string>
        <key>offset</key>
        <string>{7,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,136}}</string>
        <key>sourceSize</key>
        <string>{152,136}</string>
      </dict>
      <key>monster_1755_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{73,394},{151,171}}</string>
        <key>offset</key>
        <string>{7,138}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,171}}</string>
        <key>sourceSize</key>
        <string>{151,171}</string>
      </dict>
      <key>monster_1755_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,592},{142,172}}</string>
        <key>offset</key>
        <string>{7,139}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,172}}</string>
        <key>sourceSize</key>
        <string>{142,172}</string>
      </dict>
      <key>monster_1755_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{445,162},{116,149}}</string>
        <key>offset</key>
        <string>{6,113}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,149}}</string>
        <key>sourceSize</key>
        <string>{116,149}</string>
      </dict>
      <key>monster_1755_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{379,676},{97,142}}</string>
        <key>offset</key>
        <string>{-2,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,142}}</string>
        <key>sourceSize</key>
        <string>{97,142}</string>
      </dict>
      <key>monster_1755_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{519,766},{130,116}}</string>
        <key>offset</key>
        <string>{-51,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,116}}</string>
        <key>sourceSize</key>
        <string>{130,116}</string>
      </dict>
      <key>monster_1755_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{474,313},{141,105}}</string>
        <key>offset</key>
        <string>{3,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,105}}</string>
        <key>sourceSize</key>
        <string>{141,105}</string>
      </dict>
      <key>monster_1755_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{201,100}}</string>
        <key>offset</key>
        <string>{3,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{201,100}}</string>
        <key>sourceSize</key>
        <string>{201,100}</string>
      </dict>
      <key>monster_1755_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{72,203},{189,113}}</string>
        <key>offset</key>
        <string>{3,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{189,113}}</string>
        <key>sourceSize</key>
        <string>{189,113}</string>
      </dict>
      <key>monster_1755_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{563,147},{141,121}}</string>
        <key>offset</key>
        <string>{-2,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,121}}</string>
        <key>sourceSize</key>
        <string>{141,121}</string>
      </dict>
      <key>monster_1755_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{399,892},{115,136}}</string>
        <key>offset</key>
        <string>{5,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,136}}</string>
        <key>sourceSize</key>
        <string>{115,136}</string>
      </dict>
      <key>monster_1755_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{405,0},{120,160}}</string>
        <key>offset</key>
        <string>{-47,105}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,160}}</string>
        <key>sourceSize</key>
        <string>{120,160}</string>
      </dict>
      <key>monster_1755_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{749,0},{102,120}}</string>
        <key>offset</key>
        <string>{2,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,120}}</string>
        <key>sourceSize</key>
        <string>{102,120}</string>
      </dict>
      <key>monster_1755_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,766},{167,113}}</string>
        <key>offset</key>
        <string>{2,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,113}}</string>
        <key>sourceSize</key>
        <string>{167,113}</string>
      </dict>
      <key>monster_1755_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{226,352},{161,108}}</string>
        <key>offset</key>
        <string>{2,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,108}}</string>
        <key>sourceSize</key>
        <string>{161,108}</string>
      </dict>
      <key>monster_1755_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{478,631},{133,104}}</string>
        <key>offset</key>
        <string>{-14,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,104}}</string>
        <key>sourceSize</key>
        <string>{133,104}</string>
      </dict>
      <key>monster_1755_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{577,456},{124,111}}</string>
        <key>offset</key>
        <string>{-5,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,111}}</string>
        <key>sourceSize</key>
        <string>{124,111}</string>
      </dict>
      <key>monster_1755_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,0},{104,177}}</string>
        <key>offset</key>
        <string>{-24,132}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,177}}</string>
        <key>sourceSize</key>
        <string>{104,177}</string>
      </dict>
      <key>monster_1755_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{680,582},{110,114}}</string>
        <key>offset</key>
        <string>{-33,39}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,114}}</string>
        <key>sourceSize</key>
        <string>{110,114}</string>
      </dict>
      <key>monster_1755_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{379,820},{70,138}}</string>
        <key>offset</key>
        <string>{7,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,138}}</string>
        <key>sourceSize</key>
        <string>{70,138}</string>
      </dict>
      <key>monster_1755_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{498,456},{77,132}}</string>
        <key>offset</key>
        <string>{7,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,132}}</string>
        <key>sourceSize</key>
        <string>{77,132}</string>
      </dict>
      <key>monster_1755_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{584,582},{94,118}}</string>
        <key>offset</key>
        <string>{-7,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,118}}</string>
        <key>sourceSize</key>
        <string>{94,118}</string>
      </dict>
      <key>monster_1755_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{690,416},{112,106}}</string>
        <key>offset</key>
        <string>{-11,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,106}}</string>
        <key>sourceSize</key>
        <string>{112,106}</string>
      </dict>
      <key>monster_1755_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{187,179},{145,171}}</string>
        <key>offset</key>
        <string>{-36,128}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,171}}</string>
        <key>sourceSize</key>
        <string>{145,171}</string>
      </dict>
      <key>monster_1755_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{537,884},{128,119}}</string>
        <key>offset</key>
        <string>{-66,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,119}}</string>
        <key>sourceSize</key>
        <string>{128,119}</string>
      </dict>
      <key>monster_1755_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{581,290},{124,120}}</string>
        <key>offset</key>
        <string>{-68,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,120}}</string>
        <key>sourceSize</key>
        <string>{124,120}</string>
      </dict>
      <key>monster_1755_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{651,702},{115,116}}</string>
        <key>offset</key>
        <string>{-56,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,116}}</string>
        <key>sourceSize</key>
        <string>{115,116}</string>
      </dict>
      <key>monster_1755_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{703,266},{105,111}}</string>
        <key>offset</key>
        <string>{-26,67}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,111}}</string>
        <key>sourceSize</key>
        <string>{105,111}</string>
      </dict>
      <key>monster_1755_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{658,933},{81,110}}</string>
        <key>offset</key>
        <string>{0,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,110}}</string>
        <key>sourceSize</key>
        <string>{81,110}</string>
      </dict>
      <key>monster_1755_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,567},{162,129}}</string>
        <key>offset</key>
        <string>{-16,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,129}}</string>
        <key>sourceSize</key>
        <string>{162,129}</string>
      </dict>
      <key>monster_1755_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{527,0},{112,145}}</string>
        <key>offset</key>
        <string>{-57,116}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,145}}</string>
        <key>sourceSize</key>
        <string>{112,145}</string>
      </dict>
      <key>monster_1755_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,0},{171,105}}</string>
        <key>offset</key>
        <string>{-116,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,105}}</string>
        <key>sourceSize</key>
        <string>{171,105}</string>
      </dict>
      <key>monster_1755_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{334,171},{161,109}}</string>
        <key>offset</key>
        <string>{-98,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,109}}</string>
        <key>sourceSize</key>
        <string>{161,109}</string>
      </dict>
      <key>monster_1755_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{686,142},{122,120}}</string>
        <key>offset</key>
        <string>{-44,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,120}}</string>
        <key>sourceSize</key>
        <string>{122,120}</string>
      </dict>
      <key>monster_1755_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{658,820},{108,111}}</string>
        <key>offset</key>
        <string>{-26,71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,111}}</string>
        <key>sourceSize</key>
        <string>{108,111}</string>
      </dict>
      <key>monster_1755_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{243,893},{154,105}}</string>
        <key>offset</key>
        <string>{-13,76}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,105}}</string>
        <key>sourceSize</key>
        <string>{154,105}</string>
      </dict>
      <key>monster_1755_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{315,0},{88,169}}</string>
        <key>offset</key>
        <string>{-26,140}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,169}}</string>
        <key>sourceSize</key>
        <string>{88,169}</string>
      </dict>
      <key>monster_1755_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{243,731},{134,160}}</string>
        <key>offset</key>
        <string>{-81,131}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,160}}</string>
        <key>sourceSize</key>
        <string>{134,160}</string>
      </dict>
      <key>monster_1755_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{275,515},{130,159}}</string>
        <key>offset</key>
        <string>{-69,130}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,159}}</string>
        <key>sourceSize</key>
        <string>{130,159}</string>
      </dict>
      <key>monster_1755_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{641,0},{106,140}}</string>
        <key>offset</key>
        <string>{-23,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,140}}</string>
        <key>sourceSize</key>
        <string>{106,140}</string>
      </dict>
      <key>monster_1755_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{853,0},{103,120}}</string>
        <key>offset</key>
        <string>{-23,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,120}}</string>
        <key>sourceSize</key>
        <string>{103,120}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_1755_0_2.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>monster_1755_0_2.png</string>
    </dict>
  </dict>
</plist>