<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_1763_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1694},{158,162}}</string>
        <key>offset</key>
        <string>{-31,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,162}}</string>
        <key>sourceSize</key>
        <string>{158,162}</string>
      </dict>
      <key>monster_1763_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{477,486},{175,214}}</string>
        <key>offset</key>
        <string>{-25,168}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{175,214}}</string>
        <key>sourceSize</key>
        <string>{175,214}</string>
      </dict>
      <key>monster_1763_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{486,0},{138,236}}</string>
        <key>offset</key>
        <string>{-26,176}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,236}}</string>
        <key>sourceSize</key>
        <string>{138,236}</string>
      </dict>
      <key>monster_1763_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1854},{160,162}}</string>
        <key>offset</key>
        <string>{-41,126}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,162}}</string>
        <key>sourceSize</key>
        <string>{160,162}</string>
      </dict>
      <key>monster_1763_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{477,331},{153,220}}</string>
        <key>offset</key>
        <string>{-30,200}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,220}}</string>
        <key>sourceSize</key>
        <string>{153,220}</string>
      </dict>
      <key>monster_1763_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1524},{171,168}}</string>
        <key>offset</key>
        <string>{-37,123}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,168}}</string>
        <key>sourceSize</key>
        <string>{171,168}</string>
      </dict>
      <key>monster_1763_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{578,1548},{167,135}}</string>
        <key>offset</key>
        <string>{-31,88}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,135}}</string>
        <key>sourceSize</key>
        <string>{167,135}</string>
      </dict>
      <key>monster_1763_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{615,1172},{192,196}}</string>
        <key>offset</key>
        <string>{-23,138}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{192,196}}</string>
        <key>sourceSize</key>
        <string>{192,196}</string>
      </dict>
      <key>monster_1763_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{442,663},{209,200}}</string>
        <key>offset</key>
        <string>{-73,150}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,200}}</string>
        <key>sourceSize</key>
        <string>{209,200}</string>
      </dict>
      <key>monster_1763_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,865},{204,130}}</string>
        <key>offset</key>
        <string>{-50,105}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{204,130}}</string>
        <key>sourceSize</key>
        <string>{204,130}</string>
      </dict>
      <key>monster_1763_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{630,976},{204,194}}</string>
        <key>offset</key>
        <string>{-30,161}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{204,194}}</string>
        <key>sourceSize</key>
        <string>{204,194}</string>
      </dict>
      <key>monster_1763_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{788,1473},{119,171}}</string>
        <key>offset</key>
        <string>{-15,106}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,171}}</string>
        <key>sourceSize</key>
        <string>{119,171}</string>
      </dict>
      <key>monster_1763_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{862,789},{158,181}}</string>
        <key>offset</key>
        <string>{-25,92}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,181}}</string>
        <key>sourceSize</key>
        <string>{158,181}</string>
      </dict>
      <key>monster_1763_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{394,1431},{182,177}}</string>
        <key>offset</key>
        <string>{-27,102}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,177}}</string>
        <key>sourceSize</key>
        <string>{182,177}</string>
      </dict>
      <key>monster_1763_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,147},{238,193}}</string>
        <key>offset</key>
        <string>{-79,159}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{238,193}}</string>
        <key>sourceSize</key>
        <string>{238,193}</string>
      </dict>
      <key>monster_1763_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{699,440},{220,174}}</string>
        <key>offset</key>
        <string>{-61,120}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{220,174}}</string>
        <key>sourceSize</key>
        <string>{220,174}</string>
      </dict>
      <key>monster_1763_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{405,1266},{196,163}}</string>
        <key>offset</key>
        <string>{-4,121}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,163}}</string>
        <key>sourceSize</key>
        <string>{196,163}</string>
      </dict>
      <key>monster_1763_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,1479},{176,140}}</string>
        <key>offset</key>
        <string>{-26,89}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,140}}</string>
        <key>sourceSize</key>
        <string>{176,140}</string>
      </dict>
      <key>monster_1763_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{413,1138},{126,200}}</string>
        <key>offset</key>
        <string>{-31,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,200}}</string>
        <key>sourceSize</key>
        <string>{126,200}</string>
      </dict>
      <key>monster_1763_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{368,1610},{164,167}}</string>
        <key>offset</key>
        <string>{-41,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,167}}</string>
        <key>sourceSize</key>
        <string>{164,167}</string>
      </dict>
      <key>monster_1763_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{836,976},{186,195}}</string>
        <key>offset</key>
        <string>{-48,158}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{186,195}}</string>
        <key>sourceSize</key>
        <string>{186,195}</string>
      </dict>
      <key>monster_1763_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,342},{166,230}}</string>
        <key>offset</key>
        <string>{-36,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,230}}</string>
        <key>sourceSize</key>
        <string>{166,230}</string>
      </dict>
      <key>monster_1763_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{209,1011},{191,202}}</string>
        <key>offset</key>
        <string>{-37,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{191,202}}</string>
        <key>sourceSize</key>
        <string>{191,202}</string>
      </dict>
      <key>monster_1763_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1214},{198,138}}</string>
        <key>offset</key>
        <string>{-51,74}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{198,138}}</string>
        <key>sourceSize</key>
        <string>{198,138}</string>
      </dict>
      <key>monster_1763_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1354},{188,168}}</string>
        <key>offset</key>
        <string>{-83,108}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,168}}</string>
        <key>sourceSize</key>
        <string>{188,168}</string>
      </dict>
      <key>monster_1763_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{226,521},{214,133}}</string>
        <key>offset</key>
        <string>{-108,94}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{214,133}}</string>
        <key>sourceSize</key>
        <string>{214,133}</string>
      </dict>
      <key>monster_1763_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,685},{154,213}}</string>
        <key>offset</key>
        <string>{-47,157}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,213}}</string>
        <key>sourceSize</key>
        <string>{154,213}</string>
      </dict>
      <key>monster_1763_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{226,656},{166,214}}</string>
        <key>offset</key>
        <string>{-65,148}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,214}}</string>
        <key>sourceSize</key>
        <string>{166,214}</string>
      </dict>
      <key>monster_1763_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{145,243}}</string>
        <key>offset</key>
        <string>{-47,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,243}}</string>
        <key>sourceSize</key>
        <string>{145,243}</string>
      </dict>
      <key>monster_1763_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,1621},{154,167}}</string>
        <key>offset</key>
        <string>{-55,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,167}}</string>
        <key>sourceSize</key>
        <string>{154,167}</string>
      </dict>
      <key>monster_1763_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{813,1333},{187,138}}</string>
        <key>offset</key>
        <string>{-93,102}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{187,138}}</string>
        <key>sourceSize</key>
        <string>{187,138}</string>
      </dict>
      <key>monster_1763_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{693,616},{210,171}}</string>
        <key>offset</key>
        <string>{-126,127}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{210,171}}</string>
        <key>sourceSize</key>
        <string>{210,171}</string>
      </dict>
      <key>monster_1763_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{215,824},{207,185}}</string>
        <key>offset</key>
        <string>{-93,132}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{207,185}}</string>
        <key>sourceSize</key>
        <string>{207,185}</string>
      </dict>
      <key>monster_1763_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1020},{202,192}}</string>
        <key>offset</key>
        <string>{-111,139}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{202,192}}</string>
        <key>sourceSize</key>
        <string>{202,192}</string>
      </dict>
      <key>monster_1763_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{724,0},{229,236}}</string>
        <key>offset</key>
        <string>{-131,139}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{229,236}}</string>
        <key>sourceSize</key>
        <string>{229,236}</string>
      </dict>
      <key>monster_1763_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,1204},{143,199}}</string>
        <key>offset</key>
        <string>{-54,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,199}}</string>
        <key>sourceSize</key>
        <string>{143,199}</string>
      </dict>
      <key>monster_1763_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,841},{207,177}}</string>
        <key>offset</key>
        <string>{-89,129}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{207,177}}</string>
        <key>sourceSize</key>
        <string>{207,177}</string>
      </dict>
      <key>monster_1763_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,510},{173,224}}</string>
        <key>offset</key>
        <string>{-91,185}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,224}}</string>
        <key>sourceSize</key>
        <string>{173,224}</string>
      </dict>
      <key>monster_1763_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{486,140},{235,189}}</string>
        <key>offset</key>
        <string>{-89,151}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{235,189}}</string>
        <key>sourceSize</key>
        <string>{235,189}</string>
      </dict>
      <key>monster_1763_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{603,1366},{183,180}}</string>
        <key>offset</key>
        <string>{-79,127}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{183,180}}</string>
        <key>sourceSize</key>
        <string>{183,180}</string>
      </dict>
      <key>monster_1763_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{723,231},{222,207}}</string>
        <key>offset</key>
        <string>{-148,172}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{222,207}}</string>
        <key>sourceSize</key>
        <string>{222,207}</string>
      </dict>
      <key>monster_1763_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{813,1173},{188,158}}</string>
        <key>offset</key>
        <string>{-106,107}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,158}}</string>
        <key>sourceSize</key>
        <string>{188,158}</string>
      </dict>
      <key>monster_1763_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,1349},{128,192}}</string>
        <key>offset</key>
        <string>{-36,144}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,192}}</string>
        <key>sourceSize</key>
        <string>{128,192}</string>
      </dict>
      <key>monster_1763_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{245,0},{148,239}}</string>
        <key>offset</key>
        <string>{-47,199}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,239}}</string>
        <key>sourceSize</key>
        <string>{148,239}</string>
      </dict>
      <key>monster_1763_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,150},{179,235}}</string>
        <key>offset</key>
        <string>{-56,182}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{179,235}}</string>
        <key>sourceSize</key>
        <string>{179,235}</string>
      </dict>
      <key>monster_1763_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{653,789},{185,207}}</string>
        <key>offset</key>
        <string>{-58,150}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{185,207}}</string>
        <key>sourceSize</key>
        <string>{185,207}</string>
      </dict>
      <key>monster_1763_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,331},{188,235}}</string>
        <key>offset</key>
        <string>{-108,200}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,235}}</string>
        <key>sourceSize</key>
        <string>{188,235}</string>
      </dict>
      <key>monster_1763_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,997},{203,139}}</string>
        <key>offset</key>
        <string>{-105,118}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{203,139}}</string>
        <key>sourceSize</key>
        <string>{203,139}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_1763_0_2.png</string>
      <key>size</key>
      <string>{1024,2048}</string>
      <key>textureFileName</key>
      <string>monster_1763_0_2.png</string>
    </dict>
  </dict>
</plist>