<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20132_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{956,0},{667,434}}</string>
        <key>offset</key>
        <string>{-306,261}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{667,434}}</string>
        <key>sourceSize</key>
        <string>{667,434}</string>
      </dict>
      <key>monster_20132_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{395,1272},{495,468}}</string>
        <key>offset</key>
        <string>{-257,257}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{495,468}}</string>
        <key>sourceSize</key>
        <string>{495,468}</string>
      </dict>
      <key>monster_20132_0_4_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{478,743},{661,213}}</string>
        <key>offset</key>
        <string>{-336,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{661,213}}</string>
        <key>sourceSize</key>
        <string>{661,213}</string>
      </dict>
      <key>monster_20132_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1392,0},{647,416}}</string>
        <key>offset</key>
        <string>{-416,283}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{647,416}}</string>
        <key>sourceSize</key>
        <string>{647,416}</string>
      </dict>
      <key>monster_20132_0_4_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{865,958},{479,273}}</string>
        <key>offset</key>
        <string>{-190,128}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{479,273}}</string>
        <key>sourceSize</key>
        <string>{479,273}</string>
      </dict>
      <key>monster_20132_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{741,476}}</string>
        <key>offset</key>
        <string>{-437,337}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{741,476}}</string>
        <key>sourceSize</key>
        <string>{741,476}</string>
      </dict>
      <key>monster_20132_0_4_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1638,884},{337,354}}</string>
        <key>offset</key>
        <string>{-168,152}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{337,354}}</string>
        <key>sourceSize</key>
        <string>{337,354}</string>
      </dict>
      <key>monster_20132_0_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1272},{526,393}}</string>
        <key>offset</key>
        <string>{-329,248}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{526,393}}</string>
        <key>sourceSize</key>
        <string>{526,393}</string>
      </dict>
      <key>monster_20132_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{478,0},{741,476}}</string>
        <key>offset</key>
        <string>{-264,337}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{741,476}}</string>
        <key>sourceSize</key>
        <string>{741,476}</string>
      </dict>
      <key>monster_20132_0_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,743},{527,418}}</string>
        <key>offset</key>
        <string>{-137,267}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{527,418}}</string>
        <key>sourceSize</key>
        <string>{527,418}</string>
      </dict>
      <key>monster_20132_0_4_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1638,1223},{337,354}}</string>
        <key>offset</key>
        <string>{-129,152}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{337,354}}</string>
        <key>sourceSize</key>
        <string>{337,354}</string>
      </dict>
      <key>monster_20132_0_4_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{395,1769},{479,273}}</string>
        <key>offset</key>
        <string>{-249,128}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{479,273}}</string>
        <key>sourceSize</key>
        <string>{479,273}</string>
      </dict>
      <key>monster_20132_0_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1141,884},{495,468}}</string>
        <key>offset</key>
        <string>{-188,257}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{495,468}}</string>
        <key>sourceSize</key>
        <string>{495,468}</string>
      </dict>
      <key>monster_20132_0_4_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1141,669},{661,213}}</string>
        <key>offset</key>
        <string>{-275,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{661,213}}</string>
        <key>sourceSize</key>
        <string>{661,213}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20132_0_4_2.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_20132_0_4_2.png</string>
    </dict>
  </dict>
</plist>