<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_5066_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1275,748},{264,259}}</string>
        <key>offset</key>
        <string>{-109,165}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{264,259}}</string>
        <key>sourceSize</key>
        <string>{264,259}</string>
      </dict>
      <key>monster_5066_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1541,748},{249,264}}</string>
        <key>offset</key>
        <string>{-104,170}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{249,264}}</string>
        <key>sourceSize</key>
        <string>{249,264}</string>
      </dict>
      <key>monster_5066_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1235,1009},{244,264}}</string>
        <key>offset</key>
        <string>{-99,170}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{244,264}}</string>
        <key>sourceSize</key>
        <string>{244,264}</string>
      </dict>
      <key>monster_5066_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1235,1255},{249,264}}</string>
        <key>offset</key>
        <string>{-104,170}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{249,264}}</string>
        <key>sourceSize</key>
        <string>{249,264}</string>
      </dict>
      <key>monster_5066_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{989,1354},{244,259}}</string>
        <key>offset</key>
        <string>{-99,165}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{244,259}}</string>
        <key>sourceSize</key>
        <string>{244,259}</string>
      </dict>
      <key>monster_5066_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1486,1255},{249,264}}</string>
        <key>offset</key>
        <string>{-104,170}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{249,264}}</string>
        <key>sourceSize</key>
        <string>{249,264}</string>
      </dict>
      <key>monster_5066_0_1_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1235,1521},{249,259}}</string>
        <key>offset</key>
        <string>{-99,165}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{249,259}}</string>
        <key>sourceSize</key>
        <string>{249,259}</string>
      </dict>
      <key>monster_5066_0_1_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1486,1521},{254,259}}</string>
        <key>offset</key>
        <string>{-99,165}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{254,259}}</string>
        <key>sourceSize</key>
        <string>{254,259}</string>
      </dict>
      <key>monster_5066_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{537,0},{359,224}}</string>
        <key>offset</key>
        <string>{-124,165}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{359,224}}</string>
        <key>sourceSize</key>
        <string>{359,224}</string>
      </dict>
      <key>monster_5066_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{532,1133},{354,229}}</string>
        <key>offset</key>
        <string>{-129,170}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{354,229}}</string>
        <key>sourceSize</key>
        <string>{354,229}</string>
      </dict>
      <key>monster_5066_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{547,361},{349,224}}</string>
        <key>offset</key>
        <string>{-129,165}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{349,224}}</string>
        <key>sourceSize</key>
        <string>{349,224}</string>
      </dict>
      <key>monster_5066_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{773,351},{344,234}}</string>
        <key>offset</key>
        <string>{-124,175}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{344,234}}</string>
        <key>sourceSize</key>
        <string>{344,234}</string>
      </dict>
      <key>monster_5066_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{542,747},{354,229}}</string>
        <key>offset</key>
        <string>{-134,175}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{354,229}}</string>
        <key>sourceSize</key>
        <string>{354,229}</string>
      </dict>
      <key>monster_5066_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{994,0},{344,224}}</string>
        <key>offset</key>
        <string>{-124,170}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{344,224}}</string>
        <key>sourceSize</key>
        <string>{344,224}</string>
      </dict>
      <key>monster_5066_0_1_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{763,0},{349,229}}</string>
        <key>offset</key>
        <string>{-129,170}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{349,229}}</string>
        <key>sourceSize</key>
        <string>{349,229}</string>
      </dict>
      <key>monster_5066_0_1_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{763,1103},{349,224}}</string>
        <key>offset</key>
        <string>{-124,170}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{349,224}}</string>
        <key>sourceSize</key>
        <string>{349,224}</string>
      </dict>
      <key>monster_5066_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,762},{374,264}}</string>
        <key>offset</key>
        <string>{-159,165}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{374,264}}</string>
        <key>sourceSize</key>
        <string>{374,264}</string>
      </dict>
      <key>monster_5066_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{379,259}}</string>
        <key>offset</key>
        <string>{-164,165}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{379,259}}</string>
        <key>sourceSize</key>
        <string>{379,259}</string>
      </dict>
      <key>monster_5066_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1138},{374,259}}</string>
        <key>offset</key>
        <string>{-159,165}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{374,259}}</string>
        <key>sourceSize</key>
        <string>{374,259}</string>
      </dict>
      <key>monster_5066_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{271,381},{364,274}}</string>
        <key>offset</key>
        <string>{-164,175}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{364,274}}</string>
        <key>sourceSize</key>
        <string>{364,274}</string>
      </dict>
      <key>monster_5066_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{266,762},{369,274}}</string>
        <key>offset</key>
        <string>{-159,170}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{369,274}}</string>
        <key>sourceSize</key>
        <string>{369,274}</string>
      </dict>
      <key>monster_5066_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,381},{379,269}}</string>
        <key>offset</key>
        <string>{-159,170}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{379,269}}</string>
        <key>sourceSize</key>
        <string>{379,269}</string>
      </dict>
      <key>monster_5066_0_1_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{261,0},{379,274}}</string>
        <key>offset</key>
        <string>{-159,175}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{379,274}}</string>
        <key>sourceSize</key>
        <string>{379,274}</string>
      </dict>
      <key>monster_5066_0_1_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{261,1138},{374,269}}</string>
        <key>offset</key>
        <string>{-159,165}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{374,269}}</string>
        <key>sourceSize</key>
        <string>{374,269}</string>
      </dict>
      <key>monster_5066_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{773,697},{249,334}}</string>
        <key>offset</key>
        <string>{-129,185}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{249,334}}</string>
        <key>sourceSize</key>
        <string>{249,334}</string>
      </dict>
      <key>monster_5066_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{989,1033},{244,319}}</string>
        <key>offset</key>
        <string>{-129,180}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{244,319}}</string>
        <key>sourceSize</key>
        <string>{244,319}</string>
      </dict>
      <key>monster_5066_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1024,677},{249,319}}</string>
        <key>offset</key>
        <string>{-129,180}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{249,319}}</string>
        <key>sourceSize</key>
        <string>{249,319}</string>
      </dict>
      <key>monster_5066_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1275,502},{244,319}}</string>
        <key>offset</key>
        <string>{-129,180}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{244,319}}</string>
        <key>sourceSize</key>
        <string>{244,319}</string>
      </dict>
      <key>monster_5066_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1009,346},{244,329}}</string>
        <key>offset</key>
        <string>{-129,180}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{244,329}}</string>
        <key>sourceSize</key>
        <string>{244,329}</string>
      </dict>
      <key>monster_5066_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1220,0},{239,329}}</string>
        <key>offset</key>
        <string>{-124,180}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{239,329}}</string>
        <key>sourceSize</key>
        <string>{239,329}</string>
      </dict>
      <key>monster_5066_0_1_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1461,0},{249,324}}</string>
        <key>offset</key>
        <string>{-129,180}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{249,324}}</string>
        <key>sourceSize</key>
        <string>{249,324}</string>
      </dict>
      <key>monster_5066_0_1_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1461,251},{249,324}}</string>
        <key>offset</key>
        <string>{-129,180}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{249,324}}</string>
        <key>sourceSize</key>
        <string>{249,324}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_5066_0_1_0.png</string>
      <key>size</key>
      <string>{1792,1795}</string>
      <key>textureFileName</key>
      <string>monster_5066_0_1_0.png</string>
    </dict>
  </dict>
</plist>