<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_1640_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1118,0},{102,194}}</string>
        <key>offset</key>
        <string>{-35,87}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,194}}</string>
        <key>sourceSize</key>
        <string>{102,194}</string>
      </dict>
      <key>monster_1640_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{479,1362},{120,231}}</string>
        <key>offset</key>
        <string>{-56,178}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,231}}</string>
        <key>sourceSize</key>
        <string>{120,231}</string>
      </dict>
      <key>monster_1640_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{312,0},{115,306}}</string>
        <key>offset</key>
        <string>{-52,254}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,306}}</string>
        <key>sourceSize</key>
        <string>{115,306}</string>
      </dict>
      <key>monster_1640_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,1800},{115,217}}</string>
        <key>offset</key>
        <string>{-52,166}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,217}}</string>
        <key>sourceSize</key>
        <string>{115,217}</string>
      </dict>
      <key>monster_1640_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{541,1800},{119,210}}</string>
        <key>offset</key>
        <string>{-56,159}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,210}}</string>
        <key>sourceSize</key>
        <string>{119,210}</string>
      </dict>
      <key>monster_1640_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{118,310}}</string>
        <key>offset</key>
        <string>{-55,260}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,310}}</string>
        <key>sourceSize</key>
        <string>{118,310}</string>
      </dict>
      <key>monster_1640_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1010,408},{125,195}}</string>
        <key>offset</key>
        <string>{-70,99}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,195}}</string>
        <key>sourceSize</key>
        <string>{125,195}</string>
      </dict>
      <key>monster_1640_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{236,1576},{228,210}}</string>
        <key>offset</key>
        <string>{-34,151}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{228,210}}</string>
        <key>sourceSize</key>
        <string>{228,210}</string>
      </dict>
      <key>monster_1640_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{272,897},{231,261}}</string>
        <key>offset</key>
        <string>{-19,203}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{231,261}}</string>
        <key>sourceSize</key>
        <string>{231,261}</string>
      </dict>
      <key>monster_1640_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{535,951},{244,207}}</string>
        <key>offset</key>
        <string>{-28,150}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{244,207}}</string>
        <key>sourceSize</key>
        <string>{244,207}</string>
      </dict>
      <key>monster_1640_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{982,615},{208,205}}</string>
        <key>offset</key>
        <string>{-25,148}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,205}}</string>
        <key>sourceSize</key>
        <string>{208,205}</string>
      </dict>
      <key>monster_1640_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,675},{225,270}}</string>
        <key>offset</key>
        <string>{-18,213}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{225,270}}</string>
        <key>sourceSize</key>
        <string>{225,270}</string>
      </dict>
      <key>monster_1640_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1010,210},{196,185}}</string>
        <key>offset</key>
        <string>{-127,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,185}}</string>
        <key>sourceSize</key>
        <string>{196,185}</string>
      </dict>
      <key>monster_1640_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{595,361},{286,179}}</string>
        <key>offset</key>
        <string>{-32,128}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{286,179}}</string>
        <key>sourceSize</key>
        <string>{286,179}</string>
      </dict>
      <key>monster_1640_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{620,0},{302,179}}</string>
        <key>offset</key>
        <string>{-30,127}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{302,179}}</string>
        <key>sourceSize</key>
        <string>{302,179}</string>
      </dict>
      <key>monster_1640_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{616,181},{292,178}}</string>
        <key>offset</key>
        <string>{-29,127}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{292,178}}</string>
        <key>sourceSize</key>
        <string>{292,178}</string>
      </dict>
      <key>monster_1640_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{290,487},{276,175}}</string>
        <key>offset</key>
        <string>{-28,125}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{276,175}}</string>
        <key>sourceSize</key>
        <string>{276,175}</string>
      </dict>
      <key>monster_1640_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,120},{300,173}}</string>
        <key>offset</key>
        <string>{-28,123}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{300,173}}</string>
        <key>sourceSize</key>
        <string>{300,173}</string>
      </dict>
      <key>monster_1640_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1137,408},{186,195}}</string>
        <key>offset</key>
        <string>{-109,154}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{186,195}}</string>
        <key>sourceSize</key>
        <string>{186,195}</string>
      </dict>
      <key>monster_1640_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{748,1183},{233,233}}</string>
        <key>offset</key>
        <string>{-49,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{233,233}}</string>
        <key>sourceSize</key>
        <string>{233,233}</string>
      </dict>
      <key>monster_1640_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{781,951},{230,241}}</string>
        <key>offset</key>
        <string>{-42,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{230,241}}</string>
        <key>sourceSize</key>
        <string>{230,241}</string>
      </dict>
      <key>monster_1640_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{262,1130},{211,242}}</string>
        <key>offset</key>
        <string>{-40,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{211,242}}</string>
        <key>sourceSize</key>
        <string>{211,242}</string>
      </dict>
      <key>monster_1640_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{203,1805},{223,219}}</string>
        <key>offset</key>
        <string>{-39,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{223,219}}</string>
        <key>sourceSize</key>
        <string>{223,219}</string>
      </dict>
      <key>monster_1640_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,1343},{231,235}}</string>
        <key>offset</key>
        <string>{-39,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{231,235}}</string>
        <key>sourceSize</key>
        <string>{231,235}</string>
      </dict>
      <key>monster_1640_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1274},{106,240}}</string>
        <key>offset</key>
        <string>{-34,186}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,240}}</string>
        <key>sourceSize</key>
        <string>{106,240}</string>
      </dict>
      <key>monster_1640_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{846,615},{134,249}}</string>
        <key>offset</key>
        <string>{-38,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,249}}</string>
        <key>sourceSize</key>
        <string>{134,249}</string>
      </dict>
      <key>monster_1640_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,902},{126,260}}</string>
        <key>offset</key>
        <string>{-39,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,260}}</string>
        <key>sourceSize</key>
        <string>{126,260}</string>
      </dict>
      <key>monster_1640_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{883,361},{125,252}}</string>
        <key>offset</key>
        <string>{-37,83}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,252}}</string>
        <key>sourceSize</key>
        <string>{125,252}</string>
      </dict>
      <key>monster_1640_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1149},{123,242}}</string>
        <key>offset</key>
        <string>{-34,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,242}}</string>
        <key>sourceSize</key>
        <string>{123,242}</string>
      </dict>
      <key>monster_1640_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1030},{117,260}}</string>
        <key>offset</key>
        <string>{-30,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,260}}</string>
        <key>sourceSize</key>
        <string>{117,260}</string>
      </dict>
      <key>monster_1640_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{479,1484},{125,229}}</string>
        <key>offset</key>
        <string>{-16,169}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,229}}</string>
        <key>sourceSize</key>
        <string>{125,229}</string>
      </dict>
      <key>monster_1640_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{712,1418},{230,211}}</string>
        <key>offset</key>
        <string>{-160,91}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{230,211}}</string>
        <key>sourceSize</key>
        <string>{230,211}</string>
      </dict>
      <key>monster_1640_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1382},{234,209}}</string>
        <key>offset</key>
        <string>{-176,88}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{234,209}}</string>
        <key>sourceSize</key>
        <string>{234,209}</string>
      </dict>
      <key>monster_1640_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{506,1160},{240,200}}</string>
        <key>offset</key>
        <string>{-181,87}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{240,200}}</string>
        <key>sourceSize</key>
        <string>{240,200}</string>
      </dict>
      <key>monster_1640_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{662,1800},{210,207}}</string>
        <key>offset</key>
        <string>{-148,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{210,207}}</string>
        <key>sourceSize</key>
        <string>{210,207}</string>
      </dict>
      <key>monster_1640_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1593},{226,210}}</string>
        <key>offset</key>
        <string>{-171,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{226,210}}</string>
        <key>sourceSize</key>
        <string>{226,210}</string>
      </dict>
      <key>monster_1640_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1197,196},{193,185}}</string>
        <key>offset</key>
        <string>{-33,133}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{193,185}}</string>
        <key>sourceSize</key>
        <string>{193,185}</string>
      </dict>
      <key>monster_1640_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,486},{288,187}}</string>
        <key>offset</key>
        <string>{-220,119}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{288,187}}</string>
        <key>sourceSize</key>
        <string>{288,187}</string>
      </dict>
      <key>monster_1640_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{312,117},{302,188}}</string>
        <key>offset</key>
        <string>{-237,123}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{302,188}}</string>
        <key>sourceSize</key>
        <string>{302,188}</string>
      </dict>
      <key>monster_1640_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{301,307},{292,178}}</string>
        <key>offset</key>
        <string>{-228,113}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{292,178}}</string>
        <key>sourceSize</key>
        <string>{292,178}</string>
      </dict>
      <key>monster_1640_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{568,542},{276,179}}</string>
        <key>offset</key>
        <string>{-212,113}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{276,179}}</string>
        <key>sourceSize</key>
        <string>{276,179}</string>
      </dict>
      <key>monster_1640_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,295},{299,189}}</string>
        <key>offset</key>
        <string>{-236,124}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{299,189}}</string>
        <key>sourceSize</key>
        <string>{299,189}</string>
      </dict>
      <key>monster_1640_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1222,0},{184,175}}</string>
        <key>offset</key>
        <string>{-42,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{184,175}}</string>
        <key>sourceSize</key>
        <string>{184,175}</string>
      </dict>
      <key>monster_1640_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1805},{224,201}}</string>
        <key>offset</key>
        <string>{-148,151}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{224,201}}</string>
        <key>sourceSize</key>
        <string>{224,201}</string>
      </dict>
      <key>monster_1640_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{564,723},{226,269}}</string>
        <key>offset</key>
        <string>{-152,224}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{226,269}}</string>
        <key>sourceSize</key>
        <string>{226,269}</string>
      </dict>
      <key>monster_1640_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{924,0},{208,192}}</string>
        <key>offset</key>
        <string>{-135,147}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,192}}</string>
        <key>sourceSize</key>
        <string>{208,192}</string>
      </dict>
      <key>monster_1640_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{466,1611},{222,187}}</string>
        <key>offset</key>
        <string>{-148,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{222,187}}</string>
        <key>sourceSize</key>
        <string>{222,187}</string>
      </dict>
      <key>monster_1640_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{290,664},{231,272}}</string>
        <key>offset</key>
        <string>{-157,228}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{231,272}}</string>
        <key>sourceSize</key>
        <string>{231,272}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_1640_0_2.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_1640_0_2.png</string>
    </dict>
  </dict>
</plist>