<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_2181_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{520,0},{301,274}}</string>
        <key>offset</key>
        <string>{-136,189}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{301,274}}</string>
        <key>sourceSize</key>
        <string>{301,274}</string>
      </dict>
      <key>monster_2181_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{480,662},{313,288}}</string>
        <key>offset</key>
        <string>{-148,191}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{313,288}}</string>
        <key>sourceSize</key>
        <string>{313,288}</string>
      </dict>
      <key>monster_2181_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,667},{324,256}}</string>
        <key>offset</key>
        <string>{-156,133}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{324,256}}</string>
        <key>sourceSize</key>
        <string>{324,256}</string>
      </dict>
      <key>monster_2181_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,339},{326,220}}</string>
        <key>offset</key>
        <string>{-157,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{326,220}}</string>
        <key>sourceSize</key>
        <string>{326,220}</string>
      </dict>
      <key>monster_2181_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,667},{325,220}}</string>
        <key>offset</key>
        <string>{-156,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{325,220}}</string>
        <key>sourceSize</key>
        <string>{325,220}</string>
      </dict>
      <key>monster_2181_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{488,318},{306,282}}</string>
        <key>offset</key>
        <string>{-140,171}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{306,282}}</string>
        <key>sourceSize</key>
        <string>{306,282}</string>
      </dict>
      <key>monster_2181_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{263,0},{316,255}}</string>
        <key>offset</key>
        <string>{-117,182}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{316,255}}</string>
        <key>sourceSize</key>
        <string>{316,255}</string>
      </dict>
      <key>monster_2181_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{337,261}}</string>
        <key>offset</key>
        <string>{-131,175}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{337,261}}</string>
        <key>sourceSize</key>
        <string>{337,261}</string>
      </dict>
      <key>monster_2181_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{770,626},{301,255}}</string>
        <key>offset</key>
        <string>{-132,150}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{301,255}}</string>
        <key>sourceSize</key>
        <string>{301,255}</string>
      </dict>
      <key>monster_2181_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1027,0},{276,248}}</string>
        <key>offset</key>
        <string>{-131,149}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{276,248}}</string>
        <key>sourceSize</key>
        <string>{276,248}</string>
      </dict>
      <key>monster_2181_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1027,250},{271,247}}</string>
        <key>offset</key>
        <string>{-126,155}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{271,247}}</string>
        <key>sourceSize</key>
        <string>{271,247}</string>
      </dict>
      <key>monster_2181_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,339},{321,264}}</string>
        <key>offset</key>
        <string>{-127,172}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{321,264}}</string>
        <key>sourceSize</key>
        <string>{321,264}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_2181_0_1_1.png</string>
      <key>size</key>
      <string>{1325,1024}</string>
      <key>textureFileName</key>
      <string>monster_2181_0_1_1.png</string>
    </dict>
  </dict>
</plist>