<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16172_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{829,0},{439,421}}</string>
        <key>offset</key>
        <string>{-252,325}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{439,421}}</string>
        <key>sourceSize</key>
        <string>{439,421}</string>
      </dict>
      <key>monster_16172_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1253,436},{417,423}}</string>
        <key>offset</key>
        <string>{-243,329}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{417,423}}</string>
        <key>sourceSize</key>
        <string>{417,423}</string>
      </dict>
      <key>monster_16172_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1253,861},{403,423}}</string>
        <key>offset</key>
        <string>{-235,328}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{403,423}}</string>
        <key>sourceSize</key>
        <string>{403,423}</string>
      </dict>
      <key>monster_16172_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{838,441},{413,437}}</string>
        <key>offset</key>
        <string>{-260,340}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{413,437}}</string>
        <key>sourceSize</key>
        <string>{413,437}</string>
      </dict>
      <key>monster_16172_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1252,0},{434,429}}</string>
        <key>offset</key>
        <string>{-262,328}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{434,429}}</string>
        <key>sourceSize</key>
        <string>{434,429}</string>
      </dict>
      <key>monster_16172_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,455},{444,424}}</string>
        <key>offset</key>
        <string>{-258,323}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{444,424}}</string>
        <key>sourceSize</key>
        <string>{444,424}</string>
      </dict>
      <key>monster_16172_0_2_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{409,0},{453,418}}</string>
        <key>offset</key>
        <string>{-260,319}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{453,418}}</string>
        <key>sourceSize</key>
        <string>{453,418}</string>
      </dict>
      <key>monster_16172_0_2_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,462},{457,410}}</string>
        <key>offset</key>
        <string>{-261,317}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{457,410}}</string>
        <key>sourceSize</key>
        <string>{457,410}</string>
      </dict>
      <key>monster_16172_0_2_6_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{460,407}}</string>
        <key>offset</key>
        <string>{-259,318}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{460,407}}</string>
        <key>sourceSize</key>
        <string>{460,407}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16172_0_2_6.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_16172_0_2_6.png</string>
    </dict>
  </dict>
</plist>