<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_12124_0_6_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{588,0},{360,319}}</string>
        <key>offset</key>
        <string>{-113,202}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{360,319}}</string>
        <key>sourceSize</key>
        <string>{360,319}</string>
      </dict>
      <key>monster_12124_0_6_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,465},{452,231}}</string>
        <key>offset</key>
        <string>{-193,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{452,231}}</string>
        <key>sourceSize</key>
        <string>{452,231}</string>
      </dict>
      <key>monster_12124_0_6_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{377,0},{454,209}}</string>
        <key>offset</key>
        <string>{-196,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{454,209}}</string>
        <key>sourceSize</key>
        <string>{454,209}</string>
      </dict>
      <key>monster_12124_0_6_1_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{188,0},{461,187}}</string>
        <key>offset</key>
        <string>{-199,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{461,187}}</string>
        <key>sourceSize</key>
        <string>{461,187}</string>
      </dict>
      <key>monster_12124_0_6_1_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{463,186}}</string>
        <key>offset</key>
        <string>{-199,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{463,186}}</string>
        <key>sourceSize</key>
        <string>{463,186}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_12124_0_6_3.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>monster_12124_0_6_3.png</string>
    </dict>
  </dict>
</plist>