<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16125_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1070,464},{398,247}}</string>
        <key>offset</key>
        <string>{-219,176}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{398,247}}</string>
        <key>sourceSize</key>
        <string>{398,247}</string>
      </dict>
      <key>monster_16125_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1472,895},{374,265}}</string>
        <key>offset</key>
        <string>{-198,195}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{374,265}}</string>
        <key>sourceSize</key>
        <string>{374,265}</string>
      </dict>
      <key>monster_16125_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1070,713},{312,291}}</string>
        <key>offset</key>
        <string>{-144,216}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{312,291}}</string>
        <key>sourceSize</key>
        <string>{312,291}</string>
      </dict>
      <key>monster_16125_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{708,0},{272,304}}</string>
        <key>offset</key>
        <string>{-119,225}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{272,304}}</string>
        <key>sourceSize</key>
        <string>{272,304}</string>
      </dict>
      <key>monster_16125_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1535},{287,302}}</string>
        <key>offset</key>
        <string>{-111,230}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{287,302}}</string>
        <key>sourceSize</key>
        <string>{287,302}</string>
      </dict>
      <key>monster_16125_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1472,1271},{303,298}}</string>
        <key>offset</key>
        <string>{-118,215}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{303,298}}</string>
        <key>sourceSize</key>
        <string>{303,298}</string>
      </dict>
      <key>monster_16125_0_2_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{304,1535},{283,295}}</string>
        <key>offset</key>
        <string>{-121,203}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{283,295}}</string>
        <key>sourceSize</key>
        <string>{283,295}</string>
      </dict>
      <key>monster_16125_0_2_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1070,0},{432,382}}</string>
        <key>offset</key>
        <string>{-191,265}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{432,382}}</string>
        <key>sourceSize</key>
        <string>{432,382}</string>
      </dict>
      <key>monster_16125_0_2_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1066,1042},{491,404}}</string>
        <key>offset</key>
        <string>{-225,275}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{491,404}}</string>
        <key>sourceSize</key>
        <string>{491,404}</string>
      </dict>
      <key>monster_16125_0_2_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{696,529},{511,372}}</string>
        <key>offset</key>
        <string>{-236,236}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{511,372}}</string>
        <key>sourceSize</key>
        <string>{511,372}</string>
      </dict>
      <key>monster_16125_0_2_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{331,555},{531,363}}</string>
        <key>offset</key>
        <string>{-249,218}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{531,363}}</string>
        <key>sourceSize</key>
        <string>{531,363}</string>
      </dict>
      <key>monster_16125_0_2_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{364,0},{527,342}}</string>
        <key>offset</key>
        <string>{-245,198}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{527,342}}</string>
        <key>sourceSize</key>
        <string>{527,342}</string>
      </dict>
      <key>monster_16125_0_2_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{1472,464},{429,311}}</string>
        <key>offset</key>
        <string>{-191,195}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{429,311}}</string>
        <key>sourceSize</key>
        <string>{429,311}</string>
      </dict>
      <key>monster_16125_0_2_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{545,1088},{519,378}}</string>
        <key>offset</key>
        <string>{-241,216}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{519,378}}</string>
        <key>sourceSize</key>
        <string>{519,378}</string>
      </dict>
      <key>monster_16125_0_2_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1110},{543,399}}</string>
        <key>offset</key>
        <string>{-256,226}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{543,399}}</string>
        <key>sourceSize</key>
        <string>{543,399}</string>
      </dict>
      <key>monster_16125_0_2_0_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{553,362}}</string>
        <key>offset</key>
        <string>{-259,196}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{553,362}}</string>
        <key>sourceSize</key>
        <string>{553,362}</string>
      </dict>
      <key>monster_16125_0_2_0_0016.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,555},{553,329}}</string>
        <key>offset</key>
        <string>{-259,185}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{553,329}}</string>
        <key>sourceSize</key>
        <string>{553,329}</string>
      </dict>
      <key>monster_16125_0_2_0_0017.png</key>
      <dict>
        <key>frame</key>
        <string>{{1472,0},{462,282}}</string>
        <key>offset</key>
        <string>{-226,152}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{462,282}}</string>
        <key>sourceSize</key>
        <string>{462,282}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16125_0_2_0.png</string>
      <key>size</key>
      <string>{1792,1834}</string>
      <key>textureFileName</key>
      <string>monster_16125_0_2_0.png</string>
    </dict>
  </dict>
</plist>