<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_12132_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{859,452},{357,429}}</string>
        <key>offset</key>
        <string>{-122,221}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{357,429}}</string>
        <key>sourceSize</key>
        <string>{357,429}</string>
      </dict>
      <key>monster_12132_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{849,926},{355,439}}</string>
        <key>offset</key>
        <string>{-126,222}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{355,439}}</string>
        <key>sourceSize</key>
        <string>{355,439}</string>
      </dict>
      <key>monster_12132_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{422,1423},{364,448}}</string>
        <key>offset</key>
        <string>{-133,219}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{364,448}}</string>
        <key>sourceSize</key>
        <string>{364,448}</string>
      </dict>
      <key>monster_12132_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,960},{443,461}}</string>
        <key>offset</key>
        <string>{-143,228}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{443,461}}</string>
        <key>sourceSize</key>
        <string>{443,461}</string>
      </dict>
      <key>monster_12132_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{340,488}}</string>
        <key>offset</key>
        <string>{-143,265}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{340,488}}</string>
        <key>sourceSize</key>
        <string>{340,488}</string>
      </dict>
      <key>monster_12132_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,490},{429,468}}</string>
        <key>offset</key>
        <string>{-149,256}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{429,468}}</string>
        <key>sourceSize</key>
        <string>{429,468}</string>
      </dict>
      <key>monster_12132_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{445,926},{448,402}}</string>
        <key>offset</key>
        <string>{-170,224}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{448,402}}</string>
        <key>sourceSize</key>
        <string>{448,402}</string>
      </dict>
      <key>monster_12132_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{807,0},{450,403}}</string>
        <key>offset</key>
        <string>{-180,225}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{450,403}}</string>
        <key>sourceSize</key>
        <string>{450,403}</string>
      </dict>
      <key>monster_12132_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{788,1376},{446,406}}</string>
        <key>offset</key>
        <string>{-184,222}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{446,406}}</string>
        <key>sourceSize</key>
        <string>{446,406}</string>
      </dict>
      <key>monster_12132_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1423},{449,420}}</string>
        <key>offset</key>
        <string>{-192,230}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{449,420}}</string>
        <key>sourceSize</key>
        <string>{449,420}</string>
      </dict>
      <key>monster_12132_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{342,0},{465,463}}</string>
        <key>offset</key>
        <string>{-190,265}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{465,463}}</string>
        <key>sourceSize</key>
        <string>{465,463}</string>
      </dict>
      <key>monster_12132_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{431,467},{457,426}}</string>
        <key>offset</key>
        <string>{-172,244}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{457,426}}</string>
        <key>sourceSize</key>
        <string>{457,426}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_12132_0_2_1.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_12132_0_2_1.png</string>
    </dict>
  </dict>
</plist>