<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16139_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{993,623},{247,223}}</string>
        <key>offset</key>
        <string>{-81,128}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{247,223}}</string>
        <key>sourceSize</key>
        <string>{247,223}</string>
      </dict>
      <key>monster_16139_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{729,816},{247,202}}</string>
        <key>offset</key>
        <string>{-74,107}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{247,202}}</string>
        <key>sourceSize</key>
        <string>{247,202}</string>
      </dict>
      <key>monster_16139_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{633,0},{314,213}}</string>
        <key>offset</key>
        <string>{-161,131}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{314,213}}</string>
        <key>sourceSize</key>
        <string>{314,213}</string>
      </dict>
      <key>monster_16139_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{729,215},{283,191}}</string>
        <key>offset</key>
        <string>{-145,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{283,191}}</string>
        <key>sourceSize</key>
        <string>{283,191}</string>
      </dict>
      <key>monster_16139_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{400,209}}</string>
        <key>offset</key>
        <string>{-264,128}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{400,209}}</string>
        <key>sourceSize</key>
        <string>{400,209}</string>
      </dict>
      <key>monster_16139_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,402},{363,193}}</string>
        <key>offset</key>
        <string>{-222,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{363,193}}</string>
        <key>sourceSize</key>
        <string>{363,193}</string>
      </dict>
      <key>monster_16139_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{367,767},{360,208}}</string>
        <key>offset</key>
        <string>{-212,125}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{360,208}}</string>
        <key>sourceSize</key>
        <string>{360,208}</string>
      </dict>
      <key>monster_16139_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{422,0},{322,209}}</string>
        <key>offset</key>
        <string>{-180,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{322,209}}</string>
        <key>sourceSize</key>
        <string>{322,209}</string>
      </dict>
      <key>monster_16139_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{949,0},{249,210}}</string>
        <key>offset</key>
        <string>{-90,132}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{249,210}}</string>
        <key>sourceSize</key>
        <string>{249,210}</string>
      </dict>
      <key>monster_16139_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1010,408},{209,232}}</string>
        <key>offset</key>
        <string>{-93,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,232}}</string>
        <key>sourceSize</key>
        <string>{209,232}</string>
      </dict>
      <key>monster_16139_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,402},{366,208}}</string>
        <key>offset</key>
        <string>{-91,125}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{366,208}}</string>
        <key>sourceSize</key>
        <string>{366,208}</string>
      </dict>
      <key>monster_16139_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,770},{365,209}}</string>
        <key>offset</key>
        <string>{-91,126}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{365,209}}</string>
        <key>sourceSize</key>
        <string>{365,209}</string>
      </dict>
      <key>monster_16139_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{211,0},{361,209}}</string>
        <key>offset</key>
        <string>{-62,128}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{361,209}}</string>
        <key>sourceSize</key>
        <string>{361,209}</string>
      </dict>
      <key>monster_16139_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{405,363},{337,193}}</string>
        <key>offset</key>
        <string>{-58,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{337,193}}</string>
        <key>sourceSize</key>
        <string>{337,193}</string>
      </dict>
      <key>monster_16139_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{729,408},{279,213}}</string>
        <key>offset</key>
        <string>{-83,131}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{279,213}}</string>
        <key>sourceSize</key>
        <string>{279,213}</string>
      </dict>
      <key>monster_16139_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{729,623},{262,191}}</string>
        <key>offset</key>
        <string>{-77,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{262,191}}</string>
        <key>sourceSize</key>
        <string>{262,191}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16139_0_7.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>monster_16139_0_7.png</string>
    </dict>
  </dict>
</plist>