<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_2127_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,342},{337,268}}</string>
        <key>offset</key>
        <string>{-161,173}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{337,268}}</string>
        <key>sourceSize</key>
        <string>{337,268}</string>
      </dict>
      <key>monster_2127_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{560,669},{311,281}}</string>
        <key>offset</key>
        <string>{-161,195}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{311,281}}</string>
        <key>sourceSize</key>
        <string>{311,281}</string>
      </dict>
      <key>monster_2127_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{340,298}}</string>
        <key>offset</key>
        <string>{-158,215}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{340,298}}</string>
        <key>sourceSize</key>
        <string>{340,298}</string>
      </dict>
      <key>monster_2127_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,681},{337,298}}</string>
        <key>offset</key>
        <string>{-159,214}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{337,298}}</string>
        <key>sourceSize</key>
        <string>{337,298}</string>
      </dict>
      <key>monster_2127_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{270,342},{336,280}}</string>
        <key>offset</key>
        <string>{-172,217}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{336,280}}</string>
        <key>sourceSize</key>
        <string>{336,280}</string>
      </dict>
      <key>monster_2127_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{564,0},{327,279}}</string>
        <key>offset</key>
        <string>{-173,215}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{327,279}}</string>
        <key>sourceSize</key>
        <string>{327,279}</string>
      </dict>
      <key>monster_2127_0_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{552,336},{331,281}}</string>
        <key>offset</key>
        <string>{-173,216}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{331,281}}</string>
        <key>sourceSize</key>
        <string>{331,281}</string>
      </dict>
      <key>monster_2127_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,680},{333,258}}</string>
        <key>offset</key>
        <string>{-152,188}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{333,258}}</string>
        <key>sourceSize</key>
        <string>{333,258}</string>
      </dict>
      <key>monster_2127_0_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,0},{334,262}}</string>
        <key>offset</key>
        <string>{-153,187}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{334,262}}</string>
        <key>sourceSize</key>
        <string>{334,262}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_2127_0_0_0.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>monster_2127_0_0_0.png</string>
    </dict>
  </dict>
</plist>