<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_12001_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{262,0},{66,137}}</string>
        <key>offset</key>
        <string>{-4,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,137}}</string>
        <key>sourceSize</key>
        <string>{66,137}</string>
      </dict>
      <key>monster_12001_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{149,315},{71,147}}</string>
        <key>offset</key>
        <string>{-5,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,147}}</string>
        <key>sourceSize</key>
        <string>{71,147}</string>
      </dict>
      <key>monster_12001_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{149,163},{150,110}}</string>
        <key>offset</key>
        <string>{-87,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,110}}</string>
        <key>sourceSize</key>
        <string>{150,110}</string>
      </dict>
      <key>monster_12001_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{79,0},{161,115}}</string>
        <key>offset</key>
        <string>{-94,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,115}}</string>
        <key>sourceSize</key>
        <string>{161,115}</string>
      </dict>
      <key>monster_12001_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,201},{194,69}}</string>
        <key>offset</key>
        <string>{-103,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{194,69}}</string>
        <key>sourceSize</key>
        <string>{194,69}</string>
      </dict>
      <key>monster_12001_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{199,77}}</string>
        <key>offset</key>
        <string>{-107,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{199,77}}</string>
        <key>sourceSize</key>
        <string>{199,77}</string>
      </dict>
      <key>monster_12001_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{261,145},{142,61}}</string>
        <key>offset</key>
        <string>{-74,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,61}}</string>
        <key>sourceSize</key>
        <string>{142,61}</string>
      </dict>
      <key>monster_12001_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,0},{143,64}}</string>
        <key>offset</key>
        <string>{-73,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,64}}</string>
        <key>sourceSize</key>
        <string>{143,64}</string>
      </dict>
      <key>monster_12001_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{425,117},{72,84}}</string>
        <key>offset</key>
        <string>{-5,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,84}}</string>
        <key>sourceSize</key>
        <string>{72,84}</string>
      </dict>
      <key>monster_12001_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{425,191},{72,74}}</string>
        <key>offset</key>
        <string>{-5,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,74}}</string>
        <key>sourceSize</key>
        <string>{72,74}</string>
      </dict>
      <key>monster_12001_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{298,289},{125,54}}</string>
        <key>offset</key>
        <string>{11,15}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,54}}</string>
        <key>sourceSize</key>
        <string>{125,54}</string>
      </dict>
      <key>monster_12001_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{324,139},{125,52}}</string>
        <key>offset</key>
        <string>{17,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,52}}</string>
        <key>sourceSize</key>
        <string>{125,52}</string>
      </dict>
      <key>monster_12001_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,397},{170,66}}</string>
        <key>offset</key>
        <string>{-18,36}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,66}}</string>
        <key>sourceSize</key>
        <string>{170,66}</string>
      </dict>
      <key>monster_12001_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{71,201},{164,76}}</string>
        <key>offset</key>
        <string>{-8,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,76}}</string>
        <key>sourceSize</key>
        <string>{164,76}</string>
      </dict>
      <key>monster_12001_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{378,0},{117,115}}</string>
        <key>offset</key>
        <string>{5,67}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,115}}</string>
        <key>sourceSize</key>
        <string>{117,115}</string>
      </dict>
      <key>monster_12001_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,388},{108,126}}</string>
        <key>offset</key>
        <string>{13,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,126}}</string>
        <key>sourceSize</key>
        <string>{108,126}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_12001_0_7.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>monster_12001_0_7.png</string>
    </dict>
  </dict>
</plist>