<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_2466_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{2007,2173},{708,436}}</string>
        <key>offset</key>
        <string>{-260,326}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{708,436}}</string>
        <key>sourceSize</key>
        <string>{708,436}</string>
      </dict>
      <key>monster_2466_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1760,3644},{710,448}}</string>
        <key>offset</key>
        <string>{-262,327}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{710,448}}</string>
        <key>sourceSize</key>
        <string>{710,448}</string>
      </dict>
      <key>monster_2466_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1042,3645},{716,449}}</string>
        <key>offset</key>
        <string>{-265,329}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{716,449}}</string>
        <key>sourceSize</key>
        <string>{716,449}</string>
      </dict>
      <key>monster_2466_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1042,2925},{718,442}}</string>
        <key>offset</key>
        <string>{-262,327}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{718,442}}</string>
        <key>sourceSize</key>
        <string>{718,442}</string>
      </dict>
      <key>monster_2466_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{2420,2883},{650,504}}</string>
        <key>offset</key>
        <string>{-265,371}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{650,504}}</string>
        <key>sourceSize</key>
        <string>{650,504}</string>
      </dict>
      <key>monster_2466_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{2119,0},{656,508}}</string>
        <key>offset</key>
        <string>{-271,373}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{656,508}}</string>
        <key>sourceSize</key>
        <string>{656,508}</string>
      </dict>
      <key>monster_2466_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{2082,726},{664,509}}</string>
        <key>offset</key>
        <string>{-275,375}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{664,509}}</string>
        <key>sourceSize</key>
        <string>{664,509}</string>
      </dict>
      <key>monster_2466_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{2036,1456},{668,498}}</string>
        <key>offset</key>
        <string>{-276,374}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{668,498}}</string>
        <key>sourceSize</key>
        <string>{668,498}</string>
      </dict>
      <key>monster_2466_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1575,1456},{715,459}}</string>
        <key>offset</key>
        <string>{-286,381}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{715,459}}</string>
        <key>sourceSize</key>
        <string>{715,459}</string>
      </dict>
      <key>monster_2466_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1540,2204},{716,465}}</string>
        <key>offset</key>
        <string>{-287,388}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{716,465}}</string>
        <key>sourceSize</key>
        <string>{716,465}</string>
      </dict>
      <key>monster_2466_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1486,2925},{717,465}}</string>
        <key>offset</key>
        <string>{-289,388}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{717,465}}</string>
        <key>sourceSize</key>
        <string>{717,465}</string>
      </dict>
      <key>monster_2466_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1953,2922},{714,465}}</string>
        <key>offset</key>
        <string>{-288,384}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{714,465}}</string>
        <key>sourceSize</key>
        <string>{714,465}</string>
      </dict>
      <key>monster_2466_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{510,2244},{735,513}}</string>
        <key>offset</key>
        <string>{-286,424}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{735,513}}</string>
        <key>sourceSize</key>
        <string>{735,513}</string>
      </dict>
      <key>monster_2466_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{521,0},{742,521}}</string>
        <key>offset</key>
        <string>{-292,431}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{742,521}}</string>
        <key>sourceSize</key>
        <string>{742,521}</string>
      </dict>
      <key>monster_2466_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{747,519}}</string>
        <key>offset</key>
        <string>{-297,431}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{747,519}}</string>
        <key>sourceSize</key>
        <string>{747,519}</string>
      </dict>
      <key>monster_2466_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,749},{744,501}}</string>
        <key>offset</key>
        <string>{-293,415}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{744,501}}</string>
        <key>sourceSize</key>
        <string>{744,501}</string>
      </dict>
      <key>monster_2466_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1565,0},{724,552}}</string>
        <key>offset</key>
        <string>{-267,390}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{724,552}}</string>
        <key>sourceSize</key>
        <string>{724,552}</string>
      </dict>
      <key>monster_2466_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1017,1477},{725,556}}</string>
        <key>offset</key>
        <string>{-264,396}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{725,556}}</string>
        <key>sourceSize</key>
        <string>{725,556}</string>
      </dict>
      <key>monster_2466_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1003,744},{731,554}}</string>
        <key>offset</key>
        <string>{-268,396}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{731,554}}</string>
        <key>sourceSize</key>
        <string>{731,554}</string>
      </dict>
      <key>monster_2466_0_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,2985},{738,537}}</string>
        <key>offset</key>
        <string>{-274,380}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{738,537}}</string>
        <key>sourceSize</key>
        <string>{738,537}</string>
      </dict>
      <key>monster_2466_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1025,2204},{719,513}}</string>
        <key>offset</key>
        <string>{-240,436}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{719,513}}</string>
        <key>sourceSize</key>
        <string>{719,513}</string>
      </dict>
      <key>monster_2466_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1559,729},{725,521}}</string>
        <key>offset</key>
        <string>{-242,443}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{725,521}}</string>
        <key>sourceSize</key>
        <string>{725,521}</string>
      </dict>
      <key>monster_2466_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1044,0},{727,519}}</string>
        <key>offset</key>
        <string>{-242,443}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{727,519}}</string>
        <key>sourceSize</key>
        <string>{727,519}</string>
      </dict>
      <key>monster_2466_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{539,2981},{722,501}}</string>
        <key>offset</key>
        <string>{-238,427}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{722,501}}</string>
        <key>sourceSize</key>
        <string>{722,501}</string>
      </dict>
      <key>monster_2466_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{2593,658},{592,459}}</string>
        <key>offset</key>
        <string>{-97,353}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{592,459}}</string>
        <key>sourceSize</key>
        <string>{592,459}</string>
      </dict>
      <key>monster_2466_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{2536,1392},{597,465}}</string>
        <key>offset</key>
        <string>{-99,360}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{597,465}}</string>
        <key>sourceSize</key>
        <string>{597,465}</string>
      </dict>
      <key>monster_2466_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{2472,3535},{606,465}}</string>
        <key>offset</key>
        <string>{-98,360}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{606,465}}</string>
        <key>sourceSize</key>
        <string>{606,465}</string>
      </dict>
      <key>monster_2466_0_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{2445,2126},{600,465}}</string>
        <key>offset</key>
        <string>{-98,356}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{600,465}}</string>
        <key>sourceSize</key>
        <string>{600,465}</string>
      </dict>
      <key>monster_2466_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{511,1495},{732,504}}</string>
        <key>offset</key>
        <string>{-240,341}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{732,504}}</string>
        <key>sourceSize</key>
        <string>{732,504}</string>
      </dict>
      <key>monster_2466_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,2244},{739,508}}</string>
        <key>offset</key>
        <string>{-241,343}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{739,508}}</string>
        <key>sourceSize</key>
        <string>{739,508}</string>
      </dict>
      <key>monster_2466_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1497},{745,509}}</string>
        <key>offset</key>
        <string>{-246,345}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{745,509}}</string>
        <key>sourceSize</key>
        <string>{745,509}</string>
      </dict>
      <key>monster_2466_0_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,749},{746,498}}</string>
        <key>offset</key>
        <string>{-248,344}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{746,498}}</string>
        <key>sourceSize</key>
        <string>{746,498}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_2466_0_0.png</string>
      <key>size</key>
      <string>{4096,4096}</string>
      <key>textureFileName</key>
      <string>monster_2466_0_0.png</string>
    </dict>
  </dict>
</plist>