<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16110_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1493},{244,369}}</string>
        <key>offset</key>
        <string>{-119,278}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{244,369}}</string>
        <key>sourceSize</key>
        <string>{244,369}</string>
      </dict>
      <key>monster_16110_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{246,1493},{245,369}}</string>
        <key>offset</key>
        <string>{-120,279}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{245,369}}</string>
        <key>sourceSize</key>
        <string>{245,369}</string>
      </dict>
      <key>monster_16110_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{516,370},{241,367}}</string>
        <key>offset</key>
        <string>{-119,277}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{241,367}}</string>
        <key>sourceSize</key>
        <string>{241,367}</string>
      </dict>
      <key>monster_16110_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{277,374},{237,370}}</string>
        <key>offset</key>
        <string>{-118,278}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{237,370}}</string>
        <key>sourceSize</key>
        <string>{237,370}</string>
      </dict>
      <key>monster_16110_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1113,0},{238,363}}</string>
        <key>offset</key>
        <string>{-117,272}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{238,363}}</string>
        <key>sourceSize</key>
        <string>{238,363}</string>
      </dict>
      <key>monster_16110_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{235,372}}</string>
        <key>offset</key>
        <string>{-115,281}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{235,372}}</string>
        <key>sourceSize</key>
        <string>{235,372}</string>
      </dict>
      <key>monster_16110_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{764,1475},{277,359}}</string>
        <key>offset</key>
        <string>{-120,267}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{277,359}}</string>
        <key>sourceSize</key>
        <string>{277,359}</string>
      </dict>
      <key>monster_16110_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{493,1489},{269,368}}</string>
        <key>offset</key>
        <string>{-113,271}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{269,368}}</string>
        <key>sourceSize</key>
        <string>{269,368}</string>
      </dict>
      <key>monster_16110_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{588,739},{271,367}}</string>
        <key>offset</key>
        <string>{-116,268}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{271,367}}</string>
        <key>sourceSize</key>
        <string>{271,367}</string>
      </dict>
      <key>monster_16110_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,374},{275,372}}</string>
        <key>offset</key>
        <string>{-125,272}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{275,372}}</string>
        <key>sourceSize</key>
        <string>{275,372}</string>
      </dict>
      <key>monster_16110_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,748},{281,371}}</string>
        <key>offset</key>
        <string>{-134,274}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{281,371}}</string>
        <key>sourceSize</key>
        <string>{281,371}</string>
      </dict>
      <key>monster_16110_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1353,0},{281,345}}</string>
        <key>offset</key>
        <string>{-145,255}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{281,345}}</string>
        <key>sourceSize</key>
        <string>{281,345}</string>
      </dict>
      <key>monster_16110_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1636,0},{277,345}}</string>
        <key>offset</key>
        <string>{-141,258}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{277,345}}</string>
        <key>sourceSize</key>
        <string>{277,345}</string>
      </dict>
      <key>monster_16110_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1043,1464},{279,338}}</string>
        <key>offset</key>
        <string>{-144,257}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{279,338}}</string>
        <key>sourceSize</key>
        <string>{279,338}</string>
      </dict>
      <key>monster_16110_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1348,365},{285,346}}</string>
        <key>offset</key>
        <string>{-148,264}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{285,346}}</string>
        <key>sourceSize</key>
        <string>{285,346}</string>
      </dict>
      <key>monster_16110_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1169,734},{289,355}}</string>
        <key>offset</key>
        <string>{-149,269}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{289,355}}</string>
        <key>sourceSize</key>
        <string>{289,355}</string>
      </dict>
      <key>monster_16110_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{934,1106},{287,356}}</string>
        <key>offset</key>
        <string>{-147,269}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{287,356}}</string>
        <key>sourceSize</key>
        <string>{287,356}</string>
      </dict>
      <key>monster_16110_0_1_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1636,279},{283,345}}</string>
        <key>offset</key>
        <string>{-149,258}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{283,345}}</string>
        <key>sourceSize</key>
        <string>{283,345}</string>
      </dict>
      <key>monster_16110_0_1_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1635,564},{280,342}}</string>
        <key>offset</key>
        <string>{-147,254}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{280,342}}</string>
        <key>sourceSize</key>
        <string>{280,342}</string>
      </dict>
      <key>monster_16110_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{622,1108},{310,365}}</string>
        <key>offset</key>
        <string>{-140,270}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{310,365}}</string>
        <key>sourceSize</key>
        <string>{310,365}</string>
      </dict>
      <key>monster_16110_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{516,0},{312,368}}</string>
        <key>offset</key>
        <string>{-142,271}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{312,368}}</string>
        <key>sourceSize</key>
        <string>{312,368}</string>
      </dict>
      <key>monster_16110_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{309,1118},{311,369}}</string>
        <key>offset</key>
        <string>{-142,269}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{311,369}}</string>
        <key>sourceSize</key>
        <string>{311,369}</string>
      </dict>
      <key>monster_16110_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1121},{307,370}}</string>
        <key>offset</key>
        <string>{-139,267}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{307,370}}</string>
        <key>sourceSize</key>
        <string>{307,370}</string>
      </dict>
      <key>monster_16110_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{283,746},{303,370}}</string>
        <key>offset</key>
        <string>{-134,266}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{303,370}}</string>
        <key>sourceSize</key>
        <string>{303,370}</string>
      </dict>
      <key>monster_16110_0_1_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1045,368},{301,364}}</string>
        <key>offset</key>
        <string>{-135,261}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{301,364}}</string>
        <key>sourceSize</key>
        <string>{301,364}</string>
      </dict>
      <key>monster_16110_0_1_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{861,739},{306,365}}</string>
        <key>offset</key>
        <string>{-139,262}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{306,365}}</string>
        <key>sourceSize</key>
        <string>{306,365}</string>
      </dict>
      <key>monster_16110_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{237,0},{277,372}}</string>
        <key>offset</key>
        <string>{-112,281}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{277,372}}</string>
        <key>sourceSize</key>
        <string>{277,372}</string>
      </dict>
      <key>monster_16110_0_1_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{830,0},{281,366}}</string>
        <key>offset</key>
        <string>{-114,272}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{281,366}}</string>
        <key>sourceSize</key>
        <string>{281,366}</string>
      </dict>
      <key>monster_16110_0_1_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{759,370},{284,367}}</string>
        <key>offset</key>
        <string>{-113,272}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{284,367}}</string>
        <key>sourceSize</key>
        <string>{284,367}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16110_0_1_1.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_16110_0_1_1.png</string>
    </dict>
  </dict>
</plist>