<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16490_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{794,268},{259,273}}</string>
        <key>offset</key>
        <string>{-140,196}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{259,273}}</string>
        <key>sourceSize</key>
        <string>{259,273}</string>
      </dict>
      <key>monster_16490_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{517,0},{259,275}}</string>
        <key>offset</key>
        <string>{-143,198}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{259,275}}</string>
        <key>sourceSize</key>
        <string>{259,275}</string>
      </dict>
      <key>monster_16490_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{794,0},{266,274}}</string>
        <key>offset</key>
        <string>{-94,196}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{266,274}}</string>
        <key>sourceSize</key>
        <string>{266,274}</string>
      </dict>
      <key>monster_16490_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{266,0},{249,277}}</string>
        <key>offset</key>
        <string>{-102,199}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{249,277}}</string>
        <key>sourceSize</key>
        <string>{249,277}</string>
      </dict>
      <key>monster_16490_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,325},{282,244}}</string>
        <key>offset</key>
        <string>{-120,155}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{282,244}}</string>
        <key>sourceSize</key>
        <string>{282,244}</string>
      </dict>
      <key>monster_16490_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{517,261},{275,251}}</string>
        <key>offset</key>
        <string>{-124,162}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{275,251}}</string>
        <key>sourceSize</key>
        <string>{275,251}</string>
      </dict>
      <key>monster_16490_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{323,264}}</string>
        <key>offset</key>
        <string>{-166,136}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{323,264}}</string>
        <key>sourceSize</key>
        <string>{323,264}</string>
      </dict>
      <key>monster_16490_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,325},{322,262}}</string>
        <key>offset</key>
        <string>{-167,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{322,262}}</string>
        <key>sourceSize</key>
        <string>{322,262}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16490_0_7_1.png</string>
      <key>size</key>
      <string>{1162,770}</string>
      <key>textureFileName</key>
      <string>monster_16490_0_7_1.png</string>
    </dict>
  </dict>
</plist>