<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16133_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{675,250},{203,238}}</string>
        <key>offset</key>
        <string>{-109,188}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{203,238}</string>
        <key>sourceSize</key>
        <string>{203,238}</string>
      </dict>
      <key>monster_16133_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{459,255},{249,214}}</string>
        <key>offset</key>
        <string>{-108,136}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{249,214}</string>
        <key>sourceSize</key>
        <string>{249,214}</string>
      </dict>
      <key>monster_16133_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{207,0},{274,209}}</string>
        <key>offset</key>
        <string>{-98,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{274,209}</string>
        <key>sourceSize</key>
        <string>{274,209}</string>
      </dict>
      <key>monster_16133_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{306,205}}</string>
        <key>offset</key>
        <string>{-88,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{306,205}</string>
        <key>sourceSize</key>
        <string>{306,205}</string>
      </dict>
      <key>monster_16133_0_4_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,308},{288,225}}</string>
        <key>offset</key>
        <string>{-54,142}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{288,225}</string>
        <key>sourceSize</key>
        <string>{288,225}</string>
      </dict>
      <key>monster_16133_0_4_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{296,536},{250,217}}</string>
        <key>offset</key>
        <string>{-41,147}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{250,217}</string>
        <key>sourceSize</key>
        <string>{250,217}</string>
      </dict>
      <key>monster_16133_0_4_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1389,0},{209,215}}</string>
        <key>offset</key>
        <string>{-45,129}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{209,215}</string>
        <key>sourceSize</key>
        <string>{209,215}</string>
      </dict>
      <key>monster_16133_0_4_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1286,461},{218,181}}</string>
        <key>offset</key>
        <string>{-44,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{218,181}</string>
        <key>sourceSize</key>
        <string>{218,181}</string>
      </dict>
      <key>monster_16133_0_4_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1261,704},{219,110}}</string>
        <key>offset</key>
        <string>{-43,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{219,110}</string>
        <key>sourceSize</key>
        <string>{219,110}</string>
      </dict>
      <key>monster_16133_0_4_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1716,0},{206,115}}</string>
        <key>offset</key>
        <string>{-40,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{206,115}</string>
        <key>sourceSize</key>
        <string>{206,115}</string>
      </dict>
      <key>monster_16133_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1050,0},{177,231}}</string>
        <key>offset</key>
        <string>{-99,198}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{177,231}</string>
        <key>sourceSize</key>
        <string>{177,231}</string>
      </dict>
      <key>monster_16133_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1716,117},{193,206}}</string>
        <key>offset</key>
        <string>{-114,153}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{193,206}</string>
        <key>sourceSize</key>
        <string>{193,206}</string>
      </dict>
      <key>monster_16133_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{690,0},{237,196}}</string>
        <key>offset</key>
        <string>{-133,139}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{237,196}</string>
        <key>sourceSize</key>
        <string>{237,196}</string>
      </dict>
      <key>monster_16133_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{418,0},{253,187}}</string>
        <key>offset</key>
        <string>{-134,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{253,187}</string>
        <key>sourceSize</key>
        <string>{253,187}</string>
      </dict>
      <key>monster_16133_0_4_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{880,239},{234,197}}</string>
        <key>offset</key>
        <string>{-131,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{234,197}</string>
        <key>sourceSize</key>
        <string>{234,197}</string>
      </dict>
      <key>monster_16133_0_4_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1076,704},{221,183}}</string>
        <key>offset</key>
        <string>{-112,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{221,183}</string>
        <key>sourceSize</key>
        <string>{221,183}</string>
      </dict>
      <key>monster_16133_0_4_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1373,681},{204,189}}</string>
        <key>offset</key>
        <string>{-97,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{204,189}</string>
        <key>sourceSize</key>
        <string>{204,189}</string>
      </dict>
      <key>monster_16133_0_4_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1229,0},{225,158}}</string>
        <key>offset</key>
        <string>{-79,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{225,158}</string>
        <key>sourceSize</key>
        <string>{225,158}</string>
      </dict>
      <key>monster_16133_0_4_1_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1600,0},{210,114}}</string>
        <key>offset</key>
        <string>{-58,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{210,114}</string>
        <key>sourceSize</key>
        <string>{210,114}</string>
      </dict>
      <key>monster_16133_0_4_1_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1609,212},{198,103}}</string>
        <key>offset</key>
        <string>{-51,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{198,103}</string>
        <key>sourceSize</key>
        <string>{198,103}</string>
      </dict>
      <key>monster_16133_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{709,728},{181,235}}</string>
        <key>offset</key>
        <string>{-88,204}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{181,235}</string>
        <key>sourceSize</key>
        <string>{181,235}</string>
      </dict>
      <key>monster_16133_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1446,217},{154,212}}</string>
        <key>offset</key>
        <string>{-112,182}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{154,212}</string>
        <key>sourceSize</key>
        <string>{154,212}</string>
      </dict>
      <key>monster_16133_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1469,431},{138,203}}</string>
        <key>offset</key>
        <string>{-127,173}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{138,203}</string>
        <key>sourceSize</key>
        <string>{138,203}</string>
      </dict>
      <key>monster_16133_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1609,412},{144,192}}</string>
        <key>offset</key>
        <string>{-154,161}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{144,192}</string>
        <key>sourceSize</key>
        <string>{144,192}</string>
      </dict>
      <key>monster_16133_0_4_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1564,636},{193,199}}</string>
        <key>offset</key>
        <string>{-154,144}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{193,199}</string>
        <key>sourceSize</key>
        <string>{193,199}</string>
      </dict>
      <key>monster_16133_0_4_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{892,727},{228,182}}</string>
        <key>offset</key>
        <string>{-155,139}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{228,182}</string>
        <key>sourceSize</key>
        <string>{228,182}</string>
      </dict>
      <key>monster_16133_0_4_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{537,747},{236,170}}</string>
        <key>offset</key>
        <string>{-141,123}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{236,170}</string>
        <key>sourceSize</key>
        <string>{236,170}</string>
      </dict>
      <key>monster_16133_0_4_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,872},{270,120}}</string>
        <key>offset</key>
        <string>{-133,72}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{270,120}</string>
        <key>sourceSize</key>
        <string>{270,120}</string>
      </dict>
      <key>monster_16133_0_4_2_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{272,864},{263,124}}</string>
        <key>offset</key>
        <string>{-124,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{263,124}</string>
        <key>sourceSize</key>
        <string>{263,124}</string>
      </dict>
      <key>monster_16133_0_4_2_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{206,598},{264,88}}</string>
        <key>offset</key>
        <string>{-126,15}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{264,88}</string>
        <key>sourceSize</key>
        <string>{264,88}</string>
      </dict>
      <key>monster_16133_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{227,276},{258,230}}</string>
        <key>offset</key>
        <string>{-107,206}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{258,230}</string>
        <key>sourceSize</key>
        <string>{258,230}</string>
      </dict>
      <key>monster_16133_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1079,233},{226,226}}</string>
        <key>offset</key>
        <string>{-119,203}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{226,226}</string>
        <key>sourceSize</key>
        <string>{226,226}</string>
      </dict>
      <key>monster_16133_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1071,475},{227,213}}</string>
        <key>offset</key>
        <string>{-150,199}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{227,213}</string>
        <key>sourceSize</key>
        <string>{227,213}</string>
      </dict>
      <key>monster_16133_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{866,490},{235,203}}</string>
        <key>offset</key>
        <string>{-190,195}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{235,203}</string>
        <key>sourceSize</key>
        <string>{235,203}</string>
      </dict>
      <key>monster_16133_0_4_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,598},{272,204}}</string>
        <key>offset</key>
        <string>{-247,163}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{272,204}</string>
        <key>sourceSize</key>
        <string>{272,204}</string>
      </dict>
      <key>monster_16133_0_4_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{676,490},{236,188}}</string>
        <key>offset</key>
        <string>{-224,157}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{236,188}</string>
        <key>sourceSize</key>
        <string>{236,188}</string>
      </dict>
      <key>monster_16133_0_4_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{888,0},{232,160}}</string>
        <key>offset</key>
        <string>{-185,134}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{232,160}</string>
        <key>sourceSize</key>
        <string>{232,160}</string>
      </dict>
      <key>monster_16133_0_4_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1307,227},{218,137}}</string>
        <key>offset</key>
        <string>{-138,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{218,137}</string>
        <key>sourceSize</key>
        <string>{218,137}</string>
      </dict>
      <key>monster_16133_0_4_3_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{515,506},{239,159}}</string>
        <key>offset</key>
        <string>{-146,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{239,159}</string>
        <key>sourceSize</key>
        <string>{239,159}</string>
      </dict>
      <key>monster_16133_0_4_3_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{607,0},{248,81}}</string>
        <key>offset</key>
        <string>{-154,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{248,81}</string>
        <key>sourceSize</key>
        <string>{248,81}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16133_0_4_0.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>monster_16133_0_4_0.png</string>
    </dict>
  </dict>
</plist>