<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_5068_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{812,897},{449,369}}</string>
        <key>offset</key>
        <string>{-183,307}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{449,369}}</string>
        <key>sourceSize</key>
        <string>{449,369}</string>
      </dict>
      <key>monster_5068_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1268},{424,384}}</string>
        <key>offset</key>
        <string>{-188,322}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{424,384}}</string>
        <key>sourceSize</key>
        <string>{424,384}</string>
      </dict>
      <key>monster_5068_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1218,0},{404,409}}</string>
        <key>offset</key>
        <string>{-188,347}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{404,409}}</string>
        <key>sourceSize</key>
        <string>{404,409}</string>
      </dict>
      <key>monster_5068_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{812,496},{454,399}}</string>
        <key>offset</key>
        <string>{-193,337}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{454,399}}</string>
        <key>sourceSize</key>
        <string>{454,399}</string>
      </dict>
      <key>monster_5068_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{401,511},{499,409}}</string>
        <key>offset</key>
        <string>{-223,347}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{499,409}}</string>
        <key>sourceSize</key>
        <string>{499,409}</string>
      </dict>
      <key>monster_5068_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{509,404}}</string>
        <key>offset</key>
        <string>{-233,342}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{509,404}}</string>
        <key>sourceSize</key>
        <string>{509,404}</string>
      </dict>
      <key>monster_5068_0_2_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,511},{509,399}}</string>
        <key>offset</key>
        <string>{-238,337}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{509,399}}</string>
        <key>sourceSize</key>
        <string>{509,399}</string>
      </dict>
      <key>monster_5068_0_2_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{406,0},{494,404}}</string>
        <key>offset</key>
        <string>{-243,342}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{494,404}}</string>
        <key>sourceSize</key>
        <string>{494,404}</string>
      </dict>
      <key>monster_5068_0_2_6_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{812,0},{494,404}}</string>
        <key>offset</key>
        <string>{-243,342}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{494,404}}</string>
        <key>sourceSize</key>
        <string>{494,404}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_5068_0_2_6.png</string>
      <key>size</key>
      <string>{1940,1664}</string>
      <key>textureFileName</key>
      <string>monster_5068_0_2_6.png</string>
    </dict>
  </dict>
</plist>