<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16100_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{262,283},{268,272}}</string>
        <key>offset</key>
        <string>{-98,225}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{268,272}}</string>
        <key>sourceSize</key>
        <string>{268,272}</string>
      </dict>
      <key>monster_16100_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{268,1126},{271,244}}</string>
        <key>offset</key>
        <string>{-103,207}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{271,244}}</string>
        <key>sourceSize</key>
        <string>{271,244}</string>
      </dict>
      <key>monster_16100_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{261,0},{281,267}}</string>
        <key>offset</key>
        <string>{-109,206}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{281,267}}</string>
        <key>sourceSize</key>
        <string>{281,267}</string>
      </dict>
      <key>monster_16100_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{282,259}}</string>
        <key>offset</key>
        <string>{-105,214}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{282,259}}</string>
        <key>sourceSize</key>
        <string>{282,259}</string>
      </dict>
      <key>monster_16100_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,568},{281,250}}</string>
        <key>offset</key>
        <string>{-102,210}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{281,250}}</string>
        <key>sourceSize</key>
        <string>{281,250}</string>
      </dict>
      <key>monster_16100_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,851},{273,269}}</string>
        <key>offset</key>
        <string>{-95,207}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{273,269}}</string>
        <key>sourceSize</key>
        <string>{273,269}</string>
      </dict>
      <key>monster_16100_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1020,0},{256,242}}</string>
        <key>offset</key>
        <string>{-101,205}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{256,242}}</string>
        <key>sourceSize</key>
        <string>{256,242}</string>
      </dict>
      <key>monster_16100_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{770,542},{257,256}}</string>
        <key>offset</key>
        <string>{-106,211}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{257,256}}</string>
        <key>sourceSize</key>
        <string>{257,256}</string>
      </dict>
      <key>monster_16100_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{799,265},{249,257}}</string>
        <key>offset</key>
        <string>{-98,202}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{249,257}}</string>
        <key>sourceSize</key>
        <string>{249,257}</string>
      </dict>
      <key>monster_16100_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{767,826},{258,241}}</string>
        <key>offset</key>
        <string>{-98,207}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,241}}</string>
        <key>sourceSize</key>
        <string>{258,241}</string>
      </dict>
      <key>monster_16100_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{509,557},{259,267}}</string>
        <key>offset</key>
        <string>{-98,221}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{259,267}}</string>
        <key>sourceSize</key>
        <string>{259,267}</string>
      </dict>
      <key>monster_16100_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1131},{277,266}}</string>
        <key>offset</key>
        <string>{-113,211}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{277,266}}</string>
        <key>sourceSize</key>
        <string>{277,266}</string>
      </dict>
      <key>monster_16100_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{514,1113},{232,262}}</string>
        <key>offset</key>
        <string>{-88,215}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{232,262}}</string>
        <key>sourceSize</key>
        <string>{232,262}</string>
      </dict>
      <key>monster_16100_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{748,1113},{225,260}}</string>
        <key>offset</key>
        <string>{-77,212}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{225,260}}</string>
        <key>sourceSize</key>
        <string>{225,260}</string>
      </dict>
      <key>monster_16100_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{975,1086},{237,243}}</string>
        <key>offset</key>
        <string>{-88,204}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{237,243}}</string>
        <key>sourceSize</key>
        <string>{237,243}</string>
      </dict>
      <key>monster_16100_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1264,0},{237,250}}</string>
        <key>offset</key>
        <string>{-87,208}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{237,250}}</string>
        <key>sourceSize</key>
        <string>{237,250}</string>
      </dict>
      <key>monster_16100_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{777,0},{241,263}}</string>
        <key>offset</key>
        <string>{-92,218}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{241,263}}</string>
        <key>sourceSize</key>
        <string>{241,263}</string>
      </dict>
      <key>monster_16100_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1264,239},{235,250}}</string>
        <key>offset</key>
        <string>{-89,213}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{235,250}}</string>
        <key>sourceSize</key>
        <string>{235,250}</string>
      </dict>
      <key>monster_16100_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{503,843},{262,268}}</string>
        <key>offset</key>
        <string>{-96,210}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{262,268}}</string>
        <key>sourceSize</key>
        <string>{262,268}</string>
      </dict>
      <key>monster_16100_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{252,568},{273,255}}</string>
        <key>offset</key>
        <string>{-102,206}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{273,255}}</string>
        <key>sourceSize</key>
        <string>{273,255}</string>
      </dict>
      <key>monster_16100_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,851},{278,230}}</string>
        <key>offset</key>
        <string>{-104,203}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{278,230}}</string>
        <key>sourceSize</key>
        <string>{278,230}</string>
      </dict>
      <key>monster_16100_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,284},{282,260}}</string>
        <key>offset</key>
        <string>{-114,205}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{282,260}}</string>
        <key>sourceSize</key>
        <string>{282,260}</string>
      </dict>
      <key>monster_16100_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{532,274},{265,266}}</string>
        <key>offset</key>
        <string>{-101,218}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{265,266}}</string>
        <key>sourceSize</key>
        <string>{265,266}</string>
      </dict>
      <key>monster_16100_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{530,0},{272,245}}</string>
        <key>offset</key>
        <string>{-108,220}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{272,245}}</string>
        <key>sourceSize</key>
        <string>{272,245}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16100_0_1_0.png</string>
      <key>size</key>
      <string>{1536,1536}</string>
      <key>textureFileName</key>
      <string>monster_16100_0_1_0.png</string>
    </dict>
  </dict>
</plist>