<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_1519_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{591,267},{151,252}}</string>
        <key>offset</key>
        <string>{-49,88}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,252}}</string>
        <key>sourceSize</key>
        <string>{151,252}</string>
      </dict>
      <key>monster_1519_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{567,789},{188,251}}</string>
        <key>offset</key>
        <string>{-46,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,251}}</string>
        <key>sourceSize</key>
        <string>{188,251}</string>
      </dict>
      <key>monster_1519_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{265,0},{159,266}}</string>
        <key>offset</key>
        <string>{-49,122}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,266}}</string>
        <key>sourceSize</key>
        <string>{159,266}</string>
      </dict>
      <key>monster_1519_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1673,226},{143,206}}</string>
        <key>offset</key>
        <string>{-46,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,206}}</string>
        <key>sourceSize</key>
        <string>{143,206}</string>
      </dict>
      <key>monster_1519_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1751,591},{148,201}}</string>
        <key>offset</key>
        <string>{-51,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,201}}</string>
        <key>sourceSize</key>
        <string>{148,201}</string>
      </dict>
      <key>monster_1519_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1637,741},{164,200}}</string>
        <key>offset</key>
        <string>{-62,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,200}}</string>
        <key>sourceSize</key>
        <string>{164,200}</string>
      </dict>
      <key>monster_1519_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1216,484},{175,233}}</string>
        <key>offset</key>
        <string>{-114,93}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{175,233}}</string>
        <key>sourceSize</key>
        <string>{175,233}</string>
      </dict>
      <key>monster_1519_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1393,473},{197,228}}</string>
        <key>offset</key>
        <string>{-111,98}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{197,228}}</string>
        <key>sourceSize</key>
        <string>{197,228}</string>
      </dict>
      <key>monster_1519_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1429,703},{206,215}}</string>
        <key>offset</key>
        <string>{-108,96}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,215}}</string>
        <key>sourceSize</key>
        <string>{206,215}</string>
      </dict>
      <key>monster_1519_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1129,243},{239,174}}</string>
        <key>offset</key>
        <string>{-141,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{239,174}}</string>
        <key>sourceSize</key>
        <string>{239,174}</string>
      </dict>
      <key>monster_1519_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1033,737},{236,169}}</string>
        <key>offset</key>
        <string>{-135,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{236,169}}</string>
        <key>sourceSize</key>
        <string>{236,169}</string>
      </dict>
      <key>monster_1519_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{433,267},{262,156}}</string>
        <key>offset</key>
        <string>{-146,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{262,156}}</string>
        <key>sourceSize</key>
        <string>{262,156}</string>
      </dict>
      <key>monster_1519_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{304,802},{261,171}}</string>
        <key>offset</key>
        <string>{-203,96}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{261,171}}</string>
        <key>sourceSize</key>
        <string>{261,171}</string>
      </dict>
      <key>monster_1519_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1243,0},{238,204}}</string>
        <key>offset</key>
        <string>{-189,104}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{238,204}}</string>
        <key>sourceSize</key>
        <string>{238,204}</string>
      </dict>
      <key>monster_1519_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{830,503},{245,153}}</string>
        <key>offset</key>
        <string>{-172,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{245,153}}</string>
        <key>sourceSize</key>
        <string>{245,153}</string>
      </dict>
      <key>monster_1519_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,326},{321,152}}</string>
        <key>offset</key>
        <string>{-199,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{321,152}}</string>
        <key>sourceSize</key>
        <string>{321,152}</string>
      </dict>
      <key>monster_1519_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,649},{298,146}}</string>
        <key>offset</key>
        <string>{-191,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{298,146}}</string>
        <key>sourceSize</key>
        <string>{298,146}</string>
      </dict>
      <key>monster_1519_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{294,268},{266,137}}</string>
        <key>offset</key>
        <string>{-191,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{266,137}}</string>
        <key>sourceSize</key>
        <string>{266,137}</string>
      </dict>
      <key>monster_1519_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{744,254},{247,163}}</string>
        <key>offset</key>
        <string>{-162,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{247,163}}</string>
        <key>sourceSize</key>
        <string>{247,163}</string>
      </dict>
      <key>monster_1519_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1659,0},{224,183}}</string>
        <key>offset</key>
        <string>{-148,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{224,183}}</string>
        <key>sourceSize</key>
        <string>{224,183}</string>
      </dict>
      <key>monster_1519_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1592,460},{211,157}}</string>
        <key>offset</key>
        <string>{-130,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{211,157}}</string>
        <key>sourceSize</key>
        <string>{211,157}</string>
      </dict>
      <key>monster_1519_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{909,248},{218,245}}</string>
        <key>offset</key>
        <string>{-131,166}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{218,245}}</string>
        <key>sourceSize</key>
        <string>{218,245}</string>
      </dict>
      <key>monster_1519_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1449,0},{208,230}}</string>
        <key>offset</key>
        <string>{-126,156}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,230}}</string>
        <key>sourceSize</key>
        <string>{208,230}</string>
      </dict>
      <key>monster_1519_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1818,397},{205,192}}</string>
        <key>offset</key>
        <string>{-123,111}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,192}}</string>
        <key>sourceSize</key>
        <string>{205,192}</string>
      </dict>
      <key>monster_1519_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,937},{150,189}}</string>
        <key>offset</key>
        <string>{-63,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,189}}</string>
        <key>sourceSize</key>
        <string>{150,189}</string>
      </dict>
      <key>monster_1519_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1803,921},{184,184}}</string>
        <key>offset</key>
        <string>{-100,140}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{184,184}}</string>
        <key>sourceSize</key>
        <string>{184,184}</string>
      </dict>
      <key>monster_1519_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1033,975},{151,165}}</string>
        <key>offset</key>
        <string>{-63,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,165}}</string>
        <key>sourceSize</key>
        <string>{151,165}</string>
      </dict>
      <key>monster_1519_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,649},{154,286}}</string>
        <key>offset</key>
        <string>{-59,203}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,286}}</string>
        <key>sourceSize</key>
        <string>{154,286}</string>
      </dict>
      <key>monster_1519_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{304,536},{147,264}}</string>
        <key>offset</key>
        <string>{-58,184}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,264}}</string>
        <key>sourceSize</key>
        <string>{147,264}</string>
      </dict>
      <key>monster_1519_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1429,920},{165,198}}</string>
        <key>offset</key>
        <string>{-64,138}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,198}}</string>
        <key>sourceSize</key>
        <string>{165,198}</string>
      </dict>
      <key>monster_1519_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1204,973},{185,185}}</string>
        <key>offset</key>
        <string>{-23,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{185,185}}</string>
        <key>sourceSize</key>
        <string>{185,185}</string>
      </dict>
      <key>monster_1519_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1305,240},{197,231}}</string>
        <key>offset</key>
        <string>{-43,171}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{197,231}}</string>
        <key>sourceSize</key>
        <string>{197,231}</string>
      </dict>
      <key>monster_1519_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1844,0},{211,186}}</string>
        <key>offset</key>
        <string>{-56,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{211,186}}</string>
        <key>sourceSize</key>
        <string>{211,186}</string>
      </dict>
      <key>monster_1519_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{985,495},{240,229}}</string>
        <key>offset</key>
        <string>{-57,160}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{240,229}}</string>
        <key>sourceSize</key>
        <string>{240,229}</string>
      </dict>
      <key>monster_1519_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{798,0},{246,208}}</string>
        <key>offset</key>
        <string>{-62,144}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{246,208}}</string>
        <key>sourceSize</key>
        <string>{246,208}</string>
      </dict>
      <key>monster_1519_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{453,531},{256,165}}</string>
        <key>offset</key>
        <string>{-68,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{256,165}}</string>
        <key>sourceSize</key>
        <string>{256,165}</string>
      </dict>
      <key>monster_1519_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{426,0},{265,164}}</string>
        <key>offset</key>
        <string>{-19,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{265,164}}</string>
        <key>sourceSize</key>
        <string>{265,164}</string>
      </dict>
      <key>monster_1519_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1008,0},{241,233}}</string>
        <key>offset</key>
        <string>{-11,168}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{241,233}}</string>
        <key>sourceSize</key>
        <string>{241,233}</string>
      </dict>
      <key>monster_1519_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{620,521},{249,208}}</string>
        <key>offset</key>
        <string>{-38,144}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{249,208}}</string>
        <key>sourceSize</key>
        <string>{249,208}</string>
      </dict>
      <key>monster_1519_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{324,138}}</string>
        <key>offset</key>
        <string>{-78,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{324,138}}</string>
        <key>sourceSize</key>
        <string>{324,138}</string>
      </dict>
      <key>monster_1519_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{140,0},{304,123}}</string>
        <key>offset</key>
        <string>{-74,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{304,123}}</string>
        <key>sourceSize</key>
        <string>{304,123}</string>
      </dict>
      <key>monster_1519_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{154,306},{270,138}}</string>
        <key>offset</key>
        <string>{-39,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{270,138}}</string>
        <key>sourceSize</key>
        <string>{270,138}</string>
      </dict>
      <key>monster_1519_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{592,0},{252,204}}</string>
        <key>offset</key>
        <string>{-48,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{252,204}}</string>
        <key>sourceSize</key>
        <string>{252,204}</string>
      </dict>
      <key>monster_1519_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1204,737},{223,234}}</string>
        <key>offset</key>
        <string>{-34,126}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{223,234}}</string>
        <key>sourceSize</key>
        <string>{223,234}</string>
      </dict>
      <key>monster_1519_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{820,772},{211,248}}</string>
        <key>offset</key>
        <string>{-40,144}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{211,248}}</string>
        <key>sourceSize</key>
        <string>{211,248}</string>
      </dict>
      <key>monster_1519_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1504,232},{226,167}}</string>
        <key>offset</key>
        <string>{-54,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{226,167}}</string>
        <key>sourceSize</key>
        <string>{226,167}</string>
      </dict>
      <key>monster_1519_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1818,226},{206,169}}</string>
        <key>offset</key>
        <string>{-44,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,169}}</string>
        <key>sourceSize</key>
        <string>{206,169}</string>
      </dict>
      <key>monster_1519_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1803,741},{200,178}}</string>
        <key>offset</key>
        <string>{-39,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,178}}</string>
        <key>sourceSize</key>
        <string>{200,178}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_1519_0_2.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_1519_0_2.png</string>
    </dict>
  </dict>
</plist>