<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16145_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{756,678},{273,284}}</string>
        <key>offset</key>
        <string>{-146,246}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{273,284}}</string>
        <key>sourceSize</key>
        <string>{273,284}</string>
      </dict>
      <key>monster_16145_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1046,0},{242,266}}</string>
        <key>offset</key>
        <string>{-135,230}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{242,266}}</string>
        <key>sourceSize</key>
        <string>{242,266}</string>
      </dict>
      <key>monster_16145_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1122,994},{161,251}}</string>
        <key>offset</key>
        <string>{-69,232}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,251}}</string>
        <key>sourceSize</key>
        <string>{161,251}</string>
      </dict>
      <key>monster_16145_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{591,691},{163,323}}</string>
        <key>offset</key>
        <string>{-88,214}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,323}}</string>
        <key>sourceSize</key>
        <string>{163,323}</string>
      </dict>
      <key>monster_16145_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{514,355},{165,334}}</string>
        <key>offset</key>
        <string>{-85,209}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,334}}</string>
        <key>sourceSize</key>
        <string>{165,334}</string>
      </dict>
      <key>monster_16145_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{591,1016},{195,301}}</string>
        <key>offset</key>
        <string>{-107,213}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{195,301}}</string>
        <key>sourceSize</key>
        <string>{195,301}</string>
      </dict>
      <key>monster_16145_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1290,0},{217,259}}</string>
        <key>offset</key>
        <string>{-91,234}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{217,259}}</string>
        <key>sourceSize</key>
        <string>{217,259}</string>
      </dict>
      <key>monster_16145_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{894,964},{226,270}}</string>
        <key>offset</key>
        <string>{-97,246}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{226,270}}</string>
        <key>sourceSize</key>
        <string>{226,270}</string>
      </dict>
      <key>monster_16145_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1285,994},{238,250}}</string>
        <key>offset</key>
        <string>{-95,235}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{238,250}}</string>
        <key>sourceSize</key>
        <string>{238,250}</string>
      </dict>
      <key>monster_16145_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{295,787},{337,294}}</string>
        <key>offset</key>
        <string>{-212,228}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{337,294}}</string>
        <key>sourceSize</key>
        <string>{337,294}</string>
      </dict>
      <key>monster_16145_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,803},{382,293}}</string>
        <key>offset</key>
        <string>{-221,220}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{382,293}}</string>
        <key>sourceSize</key>
        <string>{382,293}</string>
      </dict>
      <key>monster_16145_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{503,0},{353,272}}</string>
        <key>offset</key>
        <string>{-182,219}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{353,272}}</string>
        <key>sourceSize</key>
        <string>{353,272}</string>
      </dict>
      <key>monster_16145_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{777,0},{309,267}}</string>
        <key>offset</key>
        <string>{-118,226}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{309,267}}</string>
        <key>sourceSize</key>
        <string>{309,267}</string>
      </dict>
      <key>monster_16145_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1509,0},{231,250}}</string>
        <key>offset</key>
        <string>{-87,209}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{231,250}}</string>
        <key>sourceSize</key>
        <string>{231,250}</string>
      </dict>
      <key>monster_16145_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{261,0},{373,240}}</string>
        <key>offset</key>
        <string>{-131,221}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{373,240}}</string>
        <key>sourceSize</key>
        <string>{373,240}</string>
      </dict>
      <key>monster_16145_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{405,259}}</string>
        <key>offset</key>
        <string>{-264,223}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{405,259}}</string>
        <key>sourceSize</key>
        <string>{405,259}</string>
      </dict>
      <key>monster_16145_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,407},{394,234}}</string>
        <key>offset</key>
        <string>{-270,195}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{394,234}}</string>
        <key>sourceSize</key>
        <string>{394,234}</string>
      </dict>
      <key>monster_16145_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{236,407},{378,276}}</string>
        <key>offset</key>
        <string>{-209,239}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{378,276}}</string>
        <key>sourceSize</key>
        <string>{378,276}</string>
      </dict>
      <key>monster_16145_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1196,268},{250,263}}</string>
        <key>offset</key>
        <string>{-117,208}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{250,263}}</string>
        <key>sourceSize</key>
        <string>{250,263}</string>
      </dict>
      <key>monster_16145_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{681,355},{321,278}}</string>
        <key>offset</key>
        <string>{-125,224}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{321,278}}</string>
        <key>sourceSize</key>
        <string>{321,278}</string>
      </dict>
      <key>monster_16145_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1122,781},{257,211}}</string>
        <key>offset</key>
        <string>{-104,188}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{257,211}}</string>
        <key>sourceSize</key>
        <string>{257,211}</string>
      </dict>
      <key>monster_16145_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1196,520},{259,260}}</string>
        <key>offset</key>
        <string>{-146,225}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{259,260}}</string>
        <key>sourceSize</key>
        <string>{259,260}</string>
      </dict>
      <key>monster_16145_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1509,233},{249,232}}</string>
        <key>offset</key>
        <string>{-151,201}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{249,232}}</string>
        <key>sourceSize</key>
        <string>{249,232}</string>
      </dict>
      <key>monster_16145_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{961,311},{233,268}}</string>
        <key>offset</key>
        <string>{-113,237}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{233,268}}</string>
        <key>sourceSize</key>
        <string>{233,268}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16145_0_2_1.png</string>
      <key>size</key>
      <string>{1766,1282}</string>
      <key>textureFileName</key>
      <string>monster_16145_0_2_1.png</string>
    </dict>
  </dict>
</plist>