<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_1144_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,188},{184,158}}</string>
        <key>offset</key>
        <string>{-113,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{184,158}}</string>
        <key>sourceSize</key>
        <string>{184,158}</string>
      </dict>
      <key>monster_1144_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{425,170},{160,120}}</string>
        <key>offset</key>
        <string>{-66,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,120}}</string>
        <key>sourceSize</key>
        <string>{160,120}</string>
      </dict>
      <key>monster_1144_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{186,115}}</string>
        <key>offset</key>
        <string>{-112,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{186,115}}</string>
        <key>sourceSize</key>
        <string>{186,115}</string>
      </dict>
      <key>monster_1144_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,184},{180,143}}</string>
        <key>offset</key>
        <string>{-111,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,143}}</string>
        <key>sourceSize</key>
        <string>{180,143}</string>
      </dict>
      <key>monster_1144_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{334,345},{133,167}}</string>
        <key>offset</key>
        <string>{-55,134}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,167}}</string>
        <key>sourceSize</key>
        <string>{133,167}</string>
      </dict>
      <key>monster_1144_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{555,0},{156,119}}</string>
        <key>offset</key>
        <string>{-68,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,119}}</string>
        <key>sourceSize</key>
        <string>{156,119}</string>
      </dict>
      <key>monster_1144_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{305,175},{168,118}}</string>
        <key>offset</key>
        <string>{-68,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,118}}</string>
        <key>sourceSize</key>
        <string>{168,118}</string>
      </dict>
      <key>monster_1144_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,0},{182,112}}</string>
        <key>offset</key>
        <string>{-107,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,112}}</string>
        <key>sourceSize</key>
        <string>{182,112}</string>
      </dict>
      <key>monster_1144_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{452,0},{159,101}}</string>
        <key>offset</key>
        <string>{-57,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,101}}</string>
        <key>sourceSize</key>
        <string>{159,101}</string>
      </dict>
      <key>monster_1144_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,374},{155,102}}</string>
        <key>offset</key>
        <string>{-61,78}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,102}}</string>
        <key>sourceSize</key>
        <string>{155,102}</string>
      </dict>
      <key>monster_1144_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{547,161},{157,113}}</string>
        <key>offset</key>
        <string>{-62,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,113}}</string>
        <key>sourceSize</key>
        <string>{157,113}</string>
      </dict>
      <key>monster_1144_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{503,332},{159,104}}</string>
        <key>offset</key>
        <string>{-58,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,104}}</string>
        <key>sourceSize</key>
        <string>{159,104}</string>
      </dict>
      <key>monster_1144_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{231,0},{173,105}}</string>
        <key>offset</key>
        <string>{-96,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,105}}</string>
        <key>sourceSize</key>
        <string>{173,105}</string>
      </dict>
      <key>monster_1144_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,366},{172,142}}</string>
        <key>offset</key>
        <string>{-95,109}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{172,142}}</string>
        <key>sourceSize</key>
        <string>{172,142}</string>
      </dict>
      <key>monster_1144_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{338,0},{168,112}}</string>
        <key>offset</key>
        <string>{-86,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,112}}</string>
        <key>sourceSize</key>
        <string>{168,112}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_1144_0_2_0.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>monster_1144_0_2_0.png</string>
    </dict>
  </dict>
</plist>