<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_10225_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{303,541},{74,121}}</string>
        <key>offset</key>
        <string>{-4,88}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,121}}</string>
        <key>sourceSize</key>
        <string>{74,121}</string>
      </dict>
      <key>monster_10225_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{293,671},{65,122}}</string>
        <key>offset</key>
        <string>{-1,84}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,122}}</string>
        <key>sourceSize</key>
        <string>{65,122}</string>
      </dict>
      <key>monster_10225_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,118},{101,115}}</string>
        <key>offset</key>
        <string>{-32,82}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,115}}</string>
        <key>sourceSize</key>
        <string>{101,115}</string>
      </dict>
      <key>monster_10225_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{116,290},{75,127}}</string>
        <key>offset</key>
        <string>{-21,90}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,127}}</string>
        <key>sourceSize</key>
        <string>{75,127}</string>
      </dict>
      <key>monster_10225_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,730},{73,127}}</string>
        <key>offset</key>
        <string>{-19,90}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,127}}</string>
        <key>sourceSize</key>
        <string>{73,127}</string>
      </dict>
      <key>monster_10225_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,859},{92,127}}</string>
        <key>offset</key>
        <string>{-25,90}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,127}}</string>
        <key>sourceSize</key>
        <string>{92,127}</string>
      </dict>
      <key>monster_10225_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{279,416},{65,123}}</string>
        <key>offset</key>
        <string>{4,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,123}}</string>
        <key>sourceSize</key>
        <string>{65,123}</string>
      </dict>
      <key>monster_10225_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{305,917},{88,119}}</string>
        <key>offset</key>
        <string>{-15,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,119}}</string>
        <key>sourceSize</key>
        <string>{88,119}</string>
      </dict>
      <key>monster_10225_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{171,718},{124,120}}</string>
        <key>offset</key>
        <string>{-50,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,120}}</string>
        <key>sourceSize</key>
        <string>{124,120}</string>
      </dict>
      <key>monster_10225_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{75,730},{94,127}}</string>
        <key>offset</key>
        <string>{-11,88}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,127}}</string>
        <key>sourceSize</key>
        <string>{94,127}</string>
      </dict>
      <key>monster_10225_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,859},{70,126}}</string>
        <key>offset</key>
        <string>{1,88}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,126}}</string>
        <key>sourceSize</key>
        <string>{70,126}</string>
      </dict>
      <key>monster_10225_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{186,419},{91,124}}</string>
        <key>offset</key>
        <string>{-12,87}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,124}}</string>
        <key>sourceSize</key>
        <string>{91,124}</string>
      </dict>
      <key>monster_10225_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,0},{94,116}}</string>
        <key>offset</key>
        <string>{-4,82}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,116}}</string>
        <key>sourceSize</key>
        <string>{94,116}</string>
      </dict>
      <key>monster_10225_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,596},{132,112}}</string>
        <key>offset</key>
        <string>{-42,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,112}}</string>
        <key>sourceSize</key>
        <string>{132,112}</string>
      </dict>
      <key>monster_10225_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{97,0},{119,143}}</string>
        <key>offset</key>
        <string>{-28,108}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,143}}</string>
        <key>sourceSize</key>
        <string>{119,143}</string>
      </dict>
      <key>monster_10225_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{417,117},{109,112}}</string>
        <key>offset</key>
        <string>{-11,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,112}}</string>
        <key>sourceSize</key>
        <string>{109,112}</string>
      </dict>
      <key>monster_10225_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{516,231},{104,111}}</string>
        <key>offset</key>
        <string>{-10,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,111}}</string>
        <key>sourceSize</key>
        <string>{104,111}</string>
      </dict>
      <key>monster_10225_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{419,0},{94,112}}</string>
        <key>offset</key>
        <string>{-8,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,112}}</string>
        <key>sourceSize</key>
        <string>{94,112}</string>
      </dict>
      <key>monster_10225_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{515,0},{94,112}}</string>
        <key>offset</key>
        <string>{-9,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,112}}</string>
        <key>sourceSize</key>
        <string>{94,112}</string>
      </dict>
      <key>monster_10225_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{305,795},{110,120}}</string>
        <key>offset</key>
        <string>{-31,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,120}}</string>
        <key>sourceSize</key>
        <string>{110,120}</string>
      </dict>
      <key>monster_10225_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{95,151}}</string>
        <key>offset</key>
        <string>{-16,117}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,151}}</string>
        <key>sourceSize</key>
        <string>{95,151}</string>
      </dict>
      <key>monster_10225_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,0},{115,103}}</string>
        <key>offset</key>
        <string>{-13,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,103}}</string>
        <key>sourceSize</key>
        <string>{115,103}</string>
      </dict>
      <key>monster_10225_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{490,459},{103,98}}</string>
        <key>offset</key>
        <string>{-12,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,98}}</string>
        <key>sourceSize</key>
        <string>{103,98}</string>
      </dict>
      <key>monster_10225_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{531,344},{87,103}}</string>
        <key>offset</key>
        <string>{-9,71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,103}}</string>
        <key>sourceSize</key>
        <string>{87,103}</string>
      </dict>
      <key>monster_10225_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{360,664},{70,120}}</string>
        <key>offset</key>
        <string>{-4,78}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,120}}</string>
        <key>sourceSize</key>
        <string>{70,120}</string>
      </dict>
      <key>monster_10225_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,455},{70,139}}</string>
        <key>offset</key>
        <string>{-9,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,139}}</string>
        <key>sourceSize</key>
        <string>{70,139}</string>
      </dict>
      <key>monster_10225_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,306},{114,147}}</string>
        <key>offset</key>
        <string>{-14,105}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,147}}</string>
        <key>sourceSize</key>
        <string>{114,147}</string>
      </dict>
      <key>monster_10225_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{346,352},{87,112}}</string>
        <key>offset</key>
        <string>{0,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,112}}</string>
        <key>sourceSize</key>
        <string>{87,112}</string>
      </dict>
      <key>monster_10225_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{379,580},{82,110}}</string>
        <key>offset</key>
        <string>{0,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,110}}</string>
        <key>sourceSize</key>
        <string>{82,110}</string>
      </dict>
      <key>monster_10225_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{611,0},{92,110}}</string>
        <key>offset</key>
        <string>{-5,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,110}}</string>
        <key>sourceSize</key>
        <string>{92,110}</string>
      </dict>
      <key>monster_10225_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{420,231},{94,112}}</string>
        <key>offset</key>
        <string>{-35,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,112}}</string>
        <key>sourceSize</key>
        <string>{94,112}</string>
      </dict>
      <key>monster_10225_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{417,786},{110,120}}</string>
        <key>offset</key>
        <string>{-29,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,120}}</string>
        <key>sourceSize</key>
        <string>{110,120}</string>
      </dict>
      <key>monster_10225_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,153},{95,151}}</string>
        <key>offset</key>
        <string>{-29,117}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,151}}</string>
        <key>sourceSize</key>
        <string>{95,151}</string>
      </dict>
      <key>monster_10225_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{315,235},{115,103}}</string>
        <key>offset</key>
        <string>{-52,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,103}}</string>
        <key>sourceSize</key>
        <string>{115,103}</string>
      </dict>
      <key>monster_10225_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{432,664},{103,98}}</string>
        <key>offset</key>
        <string>{-41,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,98}}</string>
        <key>sourceSize</key>
        <string>{103,98}</string>
      </dict>
      <key>monster_10225_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{491,564},{87,103}}</string>
        <key>offset</key>
        <string>{-28,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,103}}</string>
        <key>sourceSize</key>
        <string>{87,103}</string>
      </dict>
      <key>monster_10225_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,118},{94,116}}</string>
        <key>offset</key>
        <string>{-40,82}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,116}}</string>
        <key>sourceSize</key>
        <string>{94,116}</string>
      </dict>
      <key>monster_10225_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{72,455},{132,112}}</string>
        <key>offset</key>
        <string>{-40,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,112}}</string>
        <key>sourceSize</key>
        <string>{132,112}</string>
      </dict>
      <key>monster_10225_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{97,145},{119,143}}</string>
        <key>offset</key>
        <string>{-41,108}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,143}}</string>
        <key>sourceSize</key>
        <string>{119,143}</string>
      </dict>
      <key>monster_10225_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{379,466},{109,112}}</string>
        <key>offset</key>
        <string>{-48,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,112}}</string>
        <key>sourceSize</key>
        <string>{109,112}</string>
      </dict>
      <key>monster_10225_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{528,114},{104,111}}</string>
        <key>offset</key>
        <string>{-44,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,111}}</string>
        <key>sourceSize</key>
        <string>{104,111}</string>
      </dict>
      <key>monster_10225_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{435,345},{94,112}}</string>
        <key>offset</key>
        <string>{-36,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,112}}</string>
        <key>sourceSize</key>
        <string>{94,112}</string>
      </dict>
      <key>monster_10225_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{238,844},{65,123}}</string>
        <key>offset</key>
        <string>{-19,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,123}}</string>
        <key>sourceSize</key>
        <string>{65,123}</string>
      </dict>
      <key>monster_10225_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{426,908},{88,119}}</string>
        <key>offset</key>
        <string>{-23,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,119}}</string>
        <key>sourceSize</key>
        <string>{88,119}</string>
      </dict>
      <key>monster_10225_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{193,290},{124,120}}</string>
        <key>offset</key>
        <string>{-24,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,120}}</string>
        <key>sourceSize</key>
        <string>{124,120}</string>
      </dict>
      <key>monster_10225_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{114,589},{94,127}}</string>
        <key>offset</key>
        <string>{-33,88}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,127}}</string>
        <key>sourceSize</key>
        <string>{94,127}</string>
      </dict>
      <key>monster_10225_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,859},{70,126}}</string>
        <key>offset</key>
        <string>{-21,88}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,126}}</string>
        <key>sourceSize</key>
        <string>{70,126}</string>
      </dict>
      <key>monster_10225_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,545},{91,124}}</string>
        <key>offset</key>
        <string>{-29,87}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,124}}</string>
        <key>sourceSize</key>
        <string>{91,124}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_10225_0_2.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>monster_10225_0_2.png</string>
    </dict>
  </dict>
</plist>