<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_2259_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1073,239},{224,236}}</string>
        <key>offset</key>
        <string>{-88,104}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{224,236}}</string>
        <key>sourceSize</key>
        <string>{224,236}</string>
      </dict>
      <key>monster_2259_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{814,976},{242,240}}</string>
        <key>offset</key>
        <string>{-90,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{242,240}}</string>
        <key>sourceSize</key>
        <string>{242,240}</string>
      </dict>
      <key>monster_2259_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1044,480},{220,247}}</string>
        <key>offset</key>
        <string>{-103,115}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{220,247}}</string>
        <key>sourceSize</key>
        <string>{220,247}</string>
      </dict>
      <key>monster_2259_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{814,480},{228,253}}</string>
        <key>offset</key>
        <string>{-112,108}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{228,253}}</string>
        <key>sourceSize</key>
        <string>{228,253}</string>
      </dict>
      <key>monster_2259_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{567,331},{255,245}}</string>
        <key>offset</key>
        <string>{-112,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{255,245}}</string>
        <key>sourceSize</key>
        <string>{255,245}</string>
      </dict>
      <key>monster_2259_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{540,801},{293,272}}</string>
        <key>offset</key>
        <string>{-112,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{293,272}}</string>
        <key>sourceSize</key>
        <string>{293,272}</string>
      </dict>
      <key>monster_2259_0_2_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{513,0},{329,282}}</string>
        <key>offset</key>
        <string>{-110,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{329,282}}</string>
        <key>sourceSize</key>
        <string>{329,282}</string>
      </dict>
      <key>monster_2259_0_2_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{246,872},{361,292}}</string>
        <key>offset</key>
        <string>{-108,120}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{361,292}}</string>
        <key>sourceSize</key>
        <string>{361,292}</string>
      </dict>
      <key>monster_2259_0_2_4_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{262,441},{358,303}}</string>
        <key>offset</key>
        <string>{-99,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{358,303}}</string>
        <key>sourceSize</key>
        <string>{358,303}</string>
      </dict>
      <key>monster_2259_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1084,0},{148,236}}</string>
        <key>offset</key>
        <string>{-45,104}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,236}}</string>
        <key>sourceSize</key>
        <string>{148,236}</string>
      </dict>
      <key>monster_2259_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{567,588},{210,242}}</string>
        <key>offset</key>
        <string>{-60,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{210,242}}</string>
        <key>sourceSize</key>
        <string>{210,242}</string>
      </dict>
      <key>monster_2259_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{814,735},{239,245}}</string>
        <key>offset</key>
        <string>{-73,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{239,245}}</string>
        <key>sourceSize</key>
        <string>{239,245}</string>
      </dict>
      <key>monster_2259_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{814,239},{257,239}}</string>
        <key>offset</key>
        <string>{-72,106}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{257,239}}</string>
        <key>sourceSize</key>
        <string>{257,239}</string>
      </dict>
      <key>monster_2259_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{814,0},{268,237}}</string>
        <key>offset</key>
        <string>{-64,98}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{268,237}}</string>
        <key>sourceSize</key>
        <string>{268,237}</string>
      </dict>
      <key>monster_2259_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{272,0},{345,239}}</string>
        <key>offset</key>
        <string>{-73,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{345,239}}</string>
        <key>sourceSize</key>
        <string>{345,239}</string>
      </dict>
      <key>monster_2259_0_2_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,872},{403,244}}</string>
        <key>offset</key>
        <string>{-72,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{403,244}}</string>
        <key>sourceSize</key>
        <string>{403,244}</string>
      </dict>
      <key>monster_2259_0_2_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,441},{429,260}}</string>
        <key>offset</key>
        <string>{-71,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{429,260}}</string>
        <key>sourceSize</key>
        <string>{429,260}</string>
      </dict>
      <key>monster_2259_0_2_5_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{439,270}}</string>
        <key>offset</key>
        <string>{-72,104}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{439,270}}</string>
        <key>sourceSize</key>
        <string>{439,270}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_2259_0_2_2.png</string>
      <key>size</key>
      <string>{1392,1281}</string>
      <key>textureFileName</key>
      <string>monster_2259_0_2_2.png</string>
    </dict>
  </dict>
</plist>