<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_12038_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{543,547},{529,287}}</string>
        <key>offset</key>
        <string>{-218,212}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{529,287}}</string>
        <key>sourceSize</key>
        <string>{529,287}</string>
      </dict>
      <key>monster_12038_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{553,1078},{500,362}}</string>
        <key>offset</key>
        <string>{-183,284}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{500,362}}</string>
        <key>sourceSize</key>
        <string>{500,362}</string>
      </dict>
      <key>monster_12038_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{626,0},{525,371}}</string>
        <key>offset</key>
        <string>{-202,295}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{525,371}}</string>
        <key>sourceSize</key>
        <string>{525,371}</string>
      </dict>
      <key>monster_12038_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,681},{651,258}}</string>
        <key>offset</key>
        <string>{-343,202}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{651,258}}</string>
        <key>sourceSize</key>
        <string>{651,258}</string>
      </dict>
      <key>monster_12038_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{679,285}}</string>
        <key>offset</key>
        <string>{-378,211}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{679,285}}</string>
        <key>sourceSize</key>
        <string>{679,285}</string>
      </dict>
      <key>monster_12038_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1334},{641,276}}</string>
        <key>offset</key>
        <string>{-343,206}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{641,276}}</string>
        <key>sourceSize</key>
        <string>{641,276}</string>
      </dict>
      <key>monster_12038_0_2_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,681},{599,281}}</string>
        <key>offset</key>
        <string>{-316,210}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{599,281}}</string>
        <key>sourceSize</key>
        <string>{599,281}</string>
      </dict>
      <key>monster_12038_0_2_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{278,1282},{533,273}}</string>
        <key>offset</key>
        <string>{-243,207}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{533,273}}</string>
        <key>sourceSize</key>
        <string>{533,273}</string>
      </dict>
      <key>monster_12038_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{917,1022},{423,303}}</string>
        <key>offset</key>
        <string>{-156,206}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{423,303}}</string>
        <key>sourceSize</key>
        <string>{423,303}</string>
      </dict>
      <key>monster_12038_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1623,0},{395,325}}</string>
        <key>offset</key>
        <string>{-120,219}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{395,325}}</string>
        <key>sourceSize</key>
        <string>{395,325}</string>
      </dict>
      <key>monster_12038_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1287,0},{409,334}}</string>
        <key>offset</key>
        <string>{-137,228}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{409,334}}</string>
        <key>sourceSize</key>
        <string>{409,334}</string>
      </dict>
      <key>monster_12038_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{553,1580},{481,340}}</string>
        <key>offset</key>
        <string>{-232,242}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{481,340}}</string>
        <key>sourceSize</key>
        <string>{481,340}</string>
      </dict>
      <key>monster_12038_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{287,0},{545,337}}</string>
        <key>offset</key>
        <string>{-297,245}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{545,337}}</string>
        <key>sourceSize</key>
        <string>{545,337}</string>
      </dict>
      <key>monster_12038_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{999,0},{490,286}}</string>
        <key>offset</key>
        <string>{-241,194}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{490,286}}</string>
        <key>sourceSize</key>
        <string>{490,286}</string>
      </dict>
      <key>monster_12038_0_2_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{832,527},{493,295}}</string>
        <key>offset</key>
        <string>{-251,204}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{493,295}}</string>
        <key>sourceSize</key>
        <string>{493,295}</string>
      </dict>
      <key>monster_12038_0_2_7_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1129,492},{418,299}}</string>
        <key>offset</key>
        <string>{-174,210}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{418,299}}</string>
        <key>sourceSize</key>
        <string>{418,299}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_12038_0_2_3.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_12038_0_2_3.png</string>
    </dict>
  </dict>
</plist>