<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16102_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,446},{159,312}}</string>
        <key>offset</key>
        <string>{-59,233}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,312}}</string>
        <key>sourceSize</key>
        <string>{159,312}</string>
      </dict>
      <key>monster_16102_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{732,356},{227,351}}</string>
        <key>offset</key>
        <string>{-112,256}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{227,351}}</string>
        <key>sourceSize</key>
        <string>{227,351}</string>
      </dict>
      <key>monster_16102_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{376,675},{204,346}}</string>
        <key>offset</key>
        <string>{-88,274}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{204,346}}</string>
        <key>sourceSize</key>
        <string>{204,346}</string>
      </dict>
      <key>monster_16102_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{752,0},{233,354}}</string>
        <key>offset</key>
        <string>{-102,280}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{233,354}}</string>
        <key>sourceSize</key>
        <string>{233,354}</string>
      </dict>
      <key>monster_16102_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,780},{209,374}}</string>
        <key>offset</key>
        <string>{-95,286}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,374}}</string>
        <key>sourceSize</key>
        <string>{209,374}</string>
      </dict>
      <key>monster_16102_0_1_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{208,388}}</string>
        <key>offset</key>
        <string>{-96,292}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,388}}</string>
        <key>sourceSize</key>
        <string>{208,388}</string>
      </dict>
      <key>monster_16102_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{961,356},{267,256}}</string>
        <key>offset</key>
        <string>{-144,180}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{267,256}}</string>
        <key>sourceSize</key>
        <string>{267,256}</string>
      </dict>
      <key>monster_16102_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1219,269},{233,246}}</string>
        <key>offset</key>
        <string>{-93,194}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{233,246}}</string>
        <key>sourceSize</key>
        <string>{233,246}</string>
      </dict>
      <key>monster_16102_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1297,517},{195,238}}</string>
        <key>offset</key>
        <string>{-74,200}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{195,238}}</string>
        <key>sourceSize</key>
        <string>{195,238}</string>
      </dict>
      <key>monster_16102_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,0},{164,249}}</string>
        <key>offset</key>
        <string>{-43,187}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,249}}</string>
        <key>sourceSize</key>
        <string>{164,249}</string>
      </dict>
      <key>monster_16102_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{911,709},{171,273}}</string>
        <key>offset</key>
        <string>{-49,189}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,273}}</string>
        <key>sourceSize</key>
        <string>{171,273}</string>
      </dict>
      <key>monster_16102_0_1_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1084,625},{211,249}}</string>
        <key>offset</key>
        <string>{-81,196}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{211,249}}</string>
        <key>sourceSize</key>
        <string>{211,249}</string>
      </dict>
      <key>monster_16102_0_1_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1245,0},{244,242}}</string>
        <key>offset</key>
        <string>{-105,204}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{244,242}}</string>
        <key>sourceSize</key>
        <string>{244,242}</string>
      </dict>
      <key>monster_16102_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{582,709},{327,290}}</string>
        <key>offset</key>
        <string>{-97,249}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{327,290}}</string>
        <key>sourceSize</key>
        <string>{327,290}</string>
      </dict>
      <key>monster_16102_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{987,0},{267,256}}</string>
        <key>offset</key>
        <string>{-74,180}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{267,256}}</string>
        <key>sourceSize</key>
        <string>{267,256}</string>
      </dict>
      <key>monster_16102_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{376,446},{227,351}}</string>
        <key>offset</key>
        <string>{-65,256}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{227,351}}</string>
        <key>sourceSize</key>
        <string>{227,351}</string>
      </dict>
      <key>monster_16102_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{376,211},{233,354}}</string>
        <key>offset</key>
        <string>{-81,280}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{233,354}}</string>
        <key>sourceSize</key>
        <string>{233,354}</string>
      </dict>
      <key>monster_16102_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{376,0},{209,374}}</string>
        <key>offset</key>
        <string>{-64,286}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,374}}</string>
        <key>sourceSize</key>
        <string>{209,374}</string>
      </dict>
      <key>monster_16102_0_1_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,390},{208,388}}</string>
        <key>offset</key>
        <string>{-62,292}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,388}}</string>
        <key>sourceSize</key>
        <string>{208,388}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16102_0_1_1.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>monster_16102_0_1_1.png</string>
    </dict>
  </dict>
</plist>