<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16106_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1759},{286,318}}</string>
        <key>offset</key>
        <string>{-109,226}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{286,318}}</string>
        <key>sourceSize</key>
        <string>{286,318}</string>
      </dict>
      <key>monster_16106_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{320,1759},{265,306}}</string>
        <key>offset</key>
        <string>{-97,222}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{265,306}}</string>
        <key>sourceSize</key>
        <string>{265,306}</string>
      </dict>
      <key>monster_16106_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1782,1755},{247,284}}</string>
        <key>offset</key>
        <string>{-95,218}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{247,284}}</string>
        <key>sourceSize</key>
        <string>{247,284}</string>
      </dict>
      <key>monster_16106_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{820,1270},{720,487}}</string>
        <key>offset</key>
        <string>{-258,434}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{720,487}}</string>
        <key>sourceSize</key>
        <string>{720,487}</string>
      </dict>
      <key>monster_16106_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{828,409},{738,472}}</string>
        <key>offset</key>
        <string>{-256,423}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{738,472}}</string>
        <key>sourceSize</key>
        <string>{738,472}</string>
      </dict>
      <key>monster_16106_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1236,1759},{286,283}}</string>
        <key>offset</key>
        <string>{-103,224}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{286,283}}</string>
        <key>sourceSize</key>
        <string>{286,283}</string>
      </dict>
      <key>monster_16106_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{628,1759},{302,269}}</string>
        <key>offset</key>
        <string>{-119,221}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{302,269}}</string>
        <key>sourceSize</key>
        <string>{302,269}</string>
      </dict>
      <key>monster_16106_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1568,742},{723,385}}</string>
        <key>offset</key>
        <string>{-211,311}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{723,385}}</string>
        <key>sourceSize</key>
        <string>{723,385}</string>
      </dict>
      <key>monster_16106_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{419,0},{759,407}}</string>
        <key>offset</key>
        <string>{-224,318}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{759,407}}</string>
        <key>sourceSize</key>
        <string>{759,407}</string>
      </dict>
      <key>monster_16106_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1521,1759},{259,286}}</string>
        <key>offset</key>
        <string>{-85,222}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{259,286}}</string>
        <key>sourceSize</key>
        <string>{259,286}</string>
      </dict>
      <key>monster_16106_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,873},{837,408}}</string>
        <key>offset</key>
        <string>{-354,287}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{837,408}}</string>
        <key>sourceSize</key>
        <string>{837,408}</string>
      </dict>
      <key>monster_16106_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1803,1467},{243,281}}</string>
        <key>offset</key>
        <string>{-88,216}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{243,281}}</string>
        <key>sourceSize</key>
        <string>{243,281}</string>
      </dict>
      <key>monster_16106_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1589,0},{740,457}}</string>
        <key>offset</key>
        <string>{-424,301}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{740,457}}</string>
        <key>sourceSize</key>
        <string>{740,457}</string>
      </dict>
      <key>monster_16106_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1542,1467},{259,286}}</string>
        <key>offset</key>
        <string>{-114,222}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{259,286}}</string>
        <key>sourceSize</key>
        <string>{259,286}</string>
      </dict>
      <key>monster_16106_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{410,873},{837,408}}</string>
        <key>offset</key>
        <string>{-423,287}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{837,408}}</string>
        <key>sourceSize</key>
        <string>{837,408}</string>
      </dict>
      <key>monster_16106_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{871,417}}</string>
        <key>offset</key>
        <string>{-442,285}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{871,417}}</string>
        <key>sourceSize</key>
        <string>{871,417}</string>
      </dict>
      <key>monster_16106_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{932,1759},{302,269}}</string>
        <key>offset</key>
        <string>{-123,221}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{302,269}}</string>
        <key>sourceSize</key>
        <string>{302,269}</string>
      </dict>
      <key>monster_16106_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{820,883},{723,385}}</string>
        <key>offset</key>
        <string>{-452,311}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{723,385}}</string>
        <key>sourceSize</key>
        <string>{723,385}</string>
      </dict>
      <key>monster_16106_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{828,0},{759,407}}</string>
        <key>offset</key>
        <string>{-475,318}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{759,407}}</string>
        <key>sourceSize</key>
        <string>{759,407}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16106_0_2_0.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_16106_0_2_0.png</string>
    </dict>
  </dict>
</plist>