<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16478_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1298,382},{365,279}}</string>
        <key>offset</key>
        <string>{-180,209}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{365,279}}</string>
        <key>sourceSize</key>
        <string>{365,279}</string>
      </dict>
      <key>monster_16478_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1547,749},{339,201}}</string>
        <key>offset</key>
        <string>{-201,144}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{339,201}}</string>
        <key>sourceSize</key>
        <string>{339,201}</string>
      </dict>
      <key>monster_16478_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1384,0},{349,227}}</string>
        <key>offset</key>
        <string>{-194,163}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{349,227}}</string>
        <key>sourceSize</key>
        <string>{349,227}</string>
      </dict>
      <key>monster_16478_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{577,420},{403,180}}</string>
        <key>offset</key>
        <string>{-201,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{403,180}}</string>
        <key>sourceSize</key>
        <string>{403,180}</string>
      </dict>
      <key>monster_16478_0_4_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{384,844},{390,176}}</string>
        <key>offset</key>
        <string>{-187,106}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{390,176}}</string>
        <key>sourceSize</key>
        <string>{390,176}</string>
      </dict>
      <key>monster_16478_0_4_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1167,764},{378,162}}</string>
        <key>offset</key>
        <string>{-175,90}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{378,162}}</string>
        <key>sourceSize</key>
        <string>{378,162}</string>
      </dict>
      <key>monster_16478_0_4_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{958,388},{380,168}}</string>
        <key>offset</key>
        <string>{-176,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{380,168}}</string>
        <key>sourceSize</key>
        <string>{380,168}</string>
      </dict>
      <key>monster_16478_0_4_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1044,0},{380,168}}</string>
        <key>offset</key>
        <string>{-176,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{380,168}}</string>
        <key>sourceSize</key>
        <string>{380,168}</string>
      </dict>
      <key>monster_16478_0_4_2_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1128,382},{380,168}}</string>
        <key>offset</key>
        <string>{-176,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{380,168}}</string>
        <key>sourceSize</key>
        <string>{380,168}</string>
      </dict>
      <key>monster_16478_0_4_2_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1214,0},{380,168}}</string>
        <key>offset</key>
        <string>{-176,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{380,168}}</string>
        <key>sourceSize</key>
        <string>{380,168}</string>
      </dict>
      <key>monster_16478_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{770,0},{386,272}}</string>
        <key>offset</key>
        <string>{-215,203}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{386,272}}</string>
        <key>sourceSize</key>
        <string>{386,272}</string>
      </dict>
      <key>monster_16478_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{759,420},{390,197}}</string>
        <key>offset</key>
        <string>{-204,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{390,197}}</string>
        <key>sourceSize</key>
        <string>{390,197}</string>
      </dict>
      <key>monster_16478_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{776,812},{389,205}}</string>
        <key>offset</key>
        <string>{-191,152}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{389,205}}</string>
        <key>sourceSize</key>
        <string>{389,205}</string>
      </dict>
      <key>monster_16478_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{437,188}}</string>
        <key>offset</key>
        <string>{-201,106}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{437,188}}</string>
        <key>sourceSize</key>
        <string>{437,188}</string>
      </dict>
      <key>monster_16478_0_4_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,439},{426,189}}</string>
        <key>offset</key>
        <string>{-188,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{426,189}}</string>
        <key>sourceSize</key>
        <string>{426,189}</string>
      </dict>
      <key>monster_16478_0_4_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{576,0},{418,192}}</string>
        <key>offset</key>
        <string>{-181,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{418,192}}</string>
        <key>sourceSize</key>
        <string>{418,192}</string>
      </dict>
      <key>monster_16478_0_4_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,0},{420,191}}</string>
        <key>offset</key>
        <string>{-181,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{420,191}}</string>
        <key>sourceSize</key>
        <string>{420,191}</string>
      </dict>
      <key>monster_16478_0_4_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{191,422},{420,191}}</string>
        <key>offset</key>
        <string>{-181,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{420,191}}</string>
        <key>sourceSize</key>
        <string>{420,191}</string>
      </dict>
      <key>monster_16478_0_4_3_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{383,0},{420,191}}</string>
        <key>offset</key>
        <string>{-181,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{420,191}}</string>
        <key>sourceSize</key>
        <string>{420,191}</string>
      </dict>
      <key>monster_16478_0_4_3_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{384,422},{420,191}}</string>
        <key>offset</key>
        <string>{-181,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{420,191}}</string>
        <key>sourceSize</key>
        <string>{420,191}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16478_0_4_1.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>monster_16478_0_4_1.png</string>
    </dict>
  </dict>
</plist>