<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_1519_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1297,705},{166,224}}</string>
        <key>offset</key>
        <string>{-58,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,224}}</string>
        <key>sourceSize</key>
        <string>{166,224}</string>
      </dict>
      <key>monster_1519_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1162,473},{164,230}}</string>
        <key>offset</key>
        <string>{-58,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,230}}</string>
        <key>sourceSize</key>
        <string>{164,230}</string>
      </dict>
      <key>monster_1519_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{801,0},{156,238}}</string>
        <key>offset</key>
        <string>{-54,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,238}}</string>
        <key>sourceSize</key>
        <string>{156,238}</string>
      </dict>
      <key>monster_1519_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1465,689},{159,219}}</string>
        <key>offset</key>
        <string>{-60,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,219}}</string>
        <key>sourceSize</key>
        <string>{159,219}</string>
      </dict>
      <key>monster_1519_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{828,493},{157,238}}</string>
        <key>offset</key>
        <string>{-52,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,238}}</string>
        <key>sourceSize</key>
        <string>{157,238}</string>
      </dict>
      <key>monster_1519_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{925,733},{158,233}}</string>
        <key>offset</key>
        <string>{-53,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,233}}</string>
        <key>sourceSize</key>
        <string>{158,233}</string>
      </dict>
      <key>monster_1519_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1016,239},{232,167}}</string>
        <key>offset</key>
        <string>{-172,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{232,167}}</string>
        <key>sourceSize</key>
        <string>{232,167}</string>
      </dict>
      <key>monster_1519_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1137,0},{231,189}}</string>
        <key>offset</key>
        <string>{-159,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{231,189}}</string>
        <key>sourceSize</key>
        <string>{231,189}</string>
      </dict>
      <key>monster_1519_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{613,516},{245,213}}</string>
        <key>offset</key>
        <string>{-133,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{245,213}}</string>
        <key>sourceSize</key>
        <string>{245,213}</string>
      </dict>
      <key>monster_1519_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1834,607},{209,206}}</string>
        <key>offset</key>
        <string>{-122,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,206}}</string>
        <key>sourceSize</key>
        <string>{209,206}</string>
      </dict>
      <key>monster_1519_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1626,674},{211,206}}</string>
        <key>offset</key>
        <string>{-147,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{211,206}}</string>
        <key>sourceSize</key>
        <string>{211,206}</string>
      </dict>
      <key>monster_1519_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{987,479},{233,173}}</string>
        <key>offset</key>
        <string>{-172,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{233,173}}</string>
        <key>sourceSize</key>
        <string>{233,173}</string>
      </dict>
      <key>monster_1519_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{285,0},{266,147}}</string>
        <key>offset</key>
        <string>{-200,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{266,147}}</string>
        <key>sourceSize</key>
        <string>{266,147}</string>
      </dict>
      <key>monster_1519_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{321,268},{261,139}}</string>
        <key>offset</key>
        <string>{-199,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{261,139}}</string>
        <key>sourceSize</key>
        <string>{261,139}</string>
      </dict>
      <key>monster_1519_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,307},{304,155}}</string>
        <key>offset</key>
        <string>{-215,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{304,155}}</string>
        <key>sourceSize</key>
        <string>{304,155}</string>
      </dict>
      <key>monster_1519_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{639,0},{250,160}}</string>
        <key>offset</key>
        <string>{-194,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{250,160}}</string>
        <key>sourceSize</key>
        <string>{250,160}</string>
      </dict>
      <key>monster_1519_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,613},{283,153}}</string>
        <key>offset</key>
        <string>{-209,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{283,153}}</string>
        <key>sourceSize</key>
        <string>{283,153}</string>
      </dict>
      <key>monster_1519_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,613},{284,146}}</string>
        <key>offset</key>
        <string>{-209,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{284,146}}</string>
        <key>sourceSize</key>
        <string>{284,146}</string>
      </dict>
      <key>monster_1519_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1750,424},{212,181}}</string>
        <key>offset</key>
        <string>{-116,133}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{212,181}}</string>
        <key>sourceSize</key>
        <string>{212,181}</string>
      </dict>
      <key>monster_1519_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1789,982},{205,184}}</string>
        <key>offset</key>
        <string>{-137,128}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,184}}</string>
        <key>sourceSize</key>
        <string>{205,184}</string>
      </dict>
      <key>monster_1519_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1085,714},{231,210}}</string>
        <key>offset</key>
        <string>{-165,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{231,210}}</string>
        <key>sourceSize</key>
        <string>{231,210}</string>
      </dict>
      <key>monster_1519_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1511,0},{221,178}}</string>
        <key>offset</key>
        <string>{-161,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{221,178}}</string>
        <key>sourceSize</key>
        <string>{221,178}</string>
      </dict>
      <key>monster_1519_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,262},{252,184}}</string>
        <key>offset</key>
        <string>{-154,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{252,184}}</string>
        <key>sourceSize</key>
        <string>{252,184}</string>
      </dict>
      <key>monster_1519_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1340,229},{222,191}}</string>
        <key>offset</key>
        <string>{-119,142}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{222,191}}</string>
        <key>sourceSize</key>
        <string>{222,191}</string>
      </dict>
      <key>monster_1519_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1297,931},{164,203}}</string>
        <key>offset</key>
        <string>{-71,150}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,203}}</string>
        <key>sourceSize</key>
        <string>{164,203}</string>
      </dict>
      <key>monster_1519_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1834,815},{165,209}}</string>
        <key>offset</key>
        <string>{-61,161}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,209}}</string>
        <key>sourceSize</key>
        <string>{165,209}</string>
      </dict>
      <key>monster_1519_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{771,763},{152,245}}</string>
        <key>offset</key>
        <string>{-52,177}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,245}}</string>
        <key>sourceSize</key>
        <string>{152,245}</string>
      </dict>
      <key>monster_1519_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1085,947},{161,189}}</string>
        <key>offset</key>
        <string>{-53,142}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,189}}</string>
        <key>sourceSize</key>
        <string>{161,189}</string>
      </dict>
      <key>monster_1519_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1185,233},{153,228}}</string>
        <key>offset</key>
        <string>{-61,170}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,228}}</string>
        <key>sourceSize</key>
        <string>{153,228}</string>
      </dict>
      <key>monster_1519_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1328,463},{160,224}}</string>
        <key>offset</key>
        <string>{-67,165}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,224}}</string>
        <key>sourceSize</key>
        <string>{160,224}</string>
      </dict>
      <key>monster_1519_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{838,240},{237,176}}</string>
        <key>offset</key>
        <string>{-22,104}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{237,176}}</string>
        <key>sourceSize</key>
        <string>{237,176}</string>
      </dict>
      <key>monster_1519_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{959,0},{237,176}}</string>
        <key>offset</key>
        <string>{-36,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{237,176}}</string>
        <key>sourceSize</key>
        <string>{237,176}</string>
      </dict>
      <key>monster_1519_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{569,768},{249,200}}</string>
        <key>offset</key>
        <string>{-69,151}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{249,200}}</string>
        <key>sourceSize</key>
        <string>{249,200}</string>
      </dict>
      <key>monster_1519_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1626,887},{208,161}}</string>
        <key>offset</key>
        <string>{-48,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,161}}</string>
        <key>sourceSize</key>
        <string>{208,161}</string>
      </dict>
      <key>monster_1519_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1750,218},{214,204}}</string>
        <key>offset</key>
        <string>{-24,131}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{214,204}}</string>
        <key>sourceSize</key>
        <string>{214,204}</string>
      </dict>
      <key>monster_1519_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{648,252},{239,188}}</string>
        <key>offset</key>
        <string>{-24,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{239,188}}</string>
        <key>sourceSize</key>
        <string>{239,188}</string>
      </dict>
      <key>monster_1519_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{303,572},{266,161}}</string>
        <key>offset</key>
        <string>{-23,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{266,161}}</string>
        <key>sourceSize</key>
        <string>{266,161}</string>
      </dict>
      <key>monster_1519_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{303,840},{264,147}}</string>
        <key>offset</key>
        <string>{-22,75}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{264,147}}</string>
        <key>sourceSize</key>
        <string>{264,147}</string>
      </dict>
      <key>monster_1519_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{305,139}}</string>
        <key>offset</key>
        <string>{-48,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{305,139}}</string>
        <key>sourceSize</key>
        <string>{305,139}</string>
      </dict>
      <key>monster_1519_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{466,516},{250,145}}</string>
        <key>offset</key>
        <string>{-21,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{250,145}}</string>
        <key>sourceSize</key>
        <string>{250,145}</string>
      </dict>
      <key>monster_1519_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{141,0},{285,142}}</string>
        <key>offset</key>
        <string>{-33,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{285,142}}</string>
        <key>sourceSize</key>
        <string>{285,142}</string>
      </dict>
      <key>monster_1519_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{157,287},{283,162}}</string>
        <key>offset</key>
        <string>{-32,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{283,162}}</string>
        <key>sourceSize</key>
        <string>{283,162}</string>
      </dict>
      <key>monster_1519_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1691,0},{208,216}}</string>
        <key>offset</key>
        <string>{-53,71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,216}}</string>
        <key>sourceSize</key>
        <string>{208,216}</string>
      </dict>
      <key>monster_1519_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,899},{201,205}}</string>
        <key>offset</key>
        <string>{-25,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{201,205}}</string>
        <key>sourceSize</key>
        <string>{201,205}</string>
      </dict>
      <key>monster_1519_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1328,0},{227,181}}</string>
        <key>offset</key>
        <string>{-23,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{227,181}}</string>
        <key>sourceSize</key>
        <string>{227,181}</string>
      </dict>
      <key>monster_1519_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1490,453},{219,176}}</string>
        <key>offset</key>
        <string>{-18,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{219,176}}</string>
        <key>sourceSize</key>
        <string>{219,176}</string>
      </dict>
      <key>monster_1519_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{434,0},{260,203}}</string>
        <key>offset</key>
        <string>{-64,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{260,203}}</string>
        <key>sourceSize</key>
        <string>{260,203}</string>
      </dict>
      <key>monster_1519_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1533,223},{215,219}}</string>
        <key>offset</key>
        <string>{-60,74}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{215,219}}</string>
        <key>sourceSize</key>
        <string>{215,219}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_1519_0_1.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_1519_0_1.png</string>
    </dict>
  </dict>
</plist>