<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16112_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{429,0},{570,471}}</string>
        <key>offset</key>
        <string>{-403,257}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{570,471}}</string>
        <key>sourceSize</key>
        <string>{570,471}</string>
      </dict>
      <key>monster_16112_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{902,0},{535,430}}</string>
        <key>offset</key>
        <string>{-382,214}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{535,430}}</string>
        <key>sourceSize</key>
        <string>{535,430}</string>
      </dict>
      <key>monster_16112_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1136,537},{529,408}}</string>
        <key>offset</key>
        <string>{-382,187}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{529,408}}</string>
        <key>sourceSize</key>
        <string>{529,408}</string>
      </dict>
      <key>monster_16112_0_4_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{581,867},{382,392}}</string>
        <key>offset</key>
        <string>{-234,172}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{382,392}}</string>
        <key>sourceSize</key>
        <string>{382,392}</string>
      </dict>
      <key>monster_16112_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{975,947},{356,270}}</string>
        <key>offset</key>
        <string>{-196,11}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{356,270}}</string>
        <key>sourceSize</key>
        <string>{356,270}</string>
      </dict>
      <key>monster_16112_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{641,427}}</string>
        <key>offset</key>
        <string>{-359,205}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{641,427}}</string>
        <key>sourceSize</key>
        <string>{641,427}</string>
      </dict>
      <key>monster_16112_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1334,0},{520,437}}</string>
        <key>offset</key>
        <string>{-239,208}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{520,437}}</string>
        <key>sourceSize</key>
        <string>{520,437}</string>
      </dict>
      <key>monster_16112_0_4_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1773,0},{379,268}}</string>
        <key>offset</key>
        <string>{-178,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{379,268}}</string>
        <key>sourceSize</key>
        <string>{379,268}</string>
      </dict>
      <key>monster_16112_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1667,522},{401,287}}</string>
        <key>offset</key>
        <string>{-194,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{401,287}}</string>
        <key>sourceSize</key>
        <string>{401,287}</string>
      </dict>
      <key>monster_16112_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,643},{579,378}}</string>
        <key>offset</key>
        <string>{-285,170}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{579,378}}</string>
        <key>sourceSize</key>
        <string>{579,378}</string>
      </dict>
      <key>monster_16112_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{581,572},{553,293}}</string>
        <key>offset</key>
        <string>{-237,73}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{553,293}}</string>
        <key>sourceSize</key>
        <string>{553,293}</string>
      </dict>
      <key>monster_16112_0_4_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1667,925},{401,330}}</string>
        <key>offset</key>
        <string>{-124,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{401,330}}</string>
        <key>sourceSize</key>
        <string>{401,330}</string>
      </dict>
      <key>monster_16112_0_4_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{975,1219},{322,259}}</string>
        <key>offset</key>
        <string>{-123,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{322,259}}</string>
        <key>sourceSize</key>
        <string>{322,259}</string>
      </dict>
      <key>monster_16112_0_4_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1023},{363,254}}</string>
        <key>offset</key>
        <string>{-137,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{363,254}}</string>
        <key>sourceSize</key>
        <string>{363,254}</string>
      </dict>
      <key>monster_16112_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1333,947},{342,259}}</string>
        <key>offset</key>
        <string>{-117,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{342,259}}</string>
        <key>sourceSize</key>
        <string>{342,259}</string>
      </dict>
      <key>monster_16112_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{2043,0},{1,1}}</string>
        <key>offset</key>
        <string>{-486,399}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>monster_16112_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{2043,3},{1,1}}</string>
        <key>offset</key>
        <string>{-486,399}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>monster_16112_0_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{2043,6},{1,1}}</string>
        <key>offset</key>
        <string>{-486,399}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>monster_16112_0_4_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{2043,9},{1,1}}</string>
        <key>offset</key>
        <string>{-486,399}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16112_0_4_1.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_16112_0_4_1.png</string>
    </dict>
  </dict>
</plist>