<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16220_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{726,585},{165,185}}</string>
        <key>offset</key>
        <string>{-33,134}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,185}}</string>
        <key>sourceSize</key>
        <string>{165,185}</string>
      </dict>
      <key>monster_16220_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,835},{163,186}}</string>
        <key>offset</key>
        <string>{-34,134}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,186}}</string>
        <key>sourceSize</key>
        <string>{163,186}</string>
      </dict>
      <key>monster_16220_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{729,391},{162,185}}</string>
        <key>offset</key>
        <string>{-35,133}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,185}}</string>
        <key>sourceSize</key>
        <string>{162,185}</string>
      </dict>
      <key>monster_16220_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{736,194},{160,182}}</string>
        <key>offset</key>
        <string>{-35,131}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,182}}</string>
        <key>sourceSize</key>
        <string>{160,182}</string>
      </dict>
      <key>monster_16220_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{388,205},{176,194}}</string>
        <key>offset</key>
        <string>{-87,132}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,194}}</string>
        <key>sourceSize</key>
        <string>{176,194}</string>
      </dict>
      <key>monster_16220_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{387,619},{171,195}}</string>
        <key>offset</key>
        <string>{-83,133}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,195}}</string>
        <key>sourceSize</key>
        <string>{171,195}</string>
      </dict>
      <key>monster_16220_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{389,0},{167,194}}</string>
        <key>offset</key>
        <string>{-79,132}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,194}}</string>
        <key>sourceSize</key>
        <string>{167,194}</string>
      </dict>
      <key>monster_16220_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{719,0},{168,192}}</string>
        <key>offset</key>
        <string>{-80,130}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,192}}</string>
        <key>sourceSize</key>
        <string>{168,192}</string>
      </dict>
      <key>monster_16220_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{211,193}}</string>
        <key>offset</key>
        <string>{-105,133}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{211,193}}</string>
        <key>sourceSize</key>
        <string>{211,193}</string>
      </dict>
      <key>monster_16220_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,213},{208,192}}</string>
        <key>offset</key>
        <string>{-103,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,192}}</string>
        <key>sourceSize</key>
        <string>{208,192}</string>
      </dict>
      <key>monster_16220_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{195,0},{203,192}}</string>
        <key>offset</key>
        <string>{-100,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{203,192}}</string>
        <key>sourceSize</key>
        <string>{203,192}</string>
      </dict>
      <key>monster_16220_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,633},{200,191}}</string>
        <key>offset</key>
        <string>{-99,131}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,191}}</string>
        <key>sourceSize</key>
        <string>{200,191}</string>
      </dict>
      <key>monster_16220_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{893,560},{179,177}}</string>
        <key>offset</key>
        <string>{-63,136}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{179,177}}</string>
        <key>sourceSize</key>
        <string>{179,177}</string>
      </dict>
      <key>monster_16220_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{893,378},{180,178}}</string>
        <key>offset</key>
        <string>{-62,137}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,178}}</string>
        <key>sourceSize</key>
        <string>{180,178}</string>
      </dict>
      <key>monster_16220_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{908,741},{179,178}}</string>
        <key>offset</key>
        <string>{-60,137}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{179,178}}</string>
        <key>sourceSize</key>
        <string>{179,178}</string>
      </dict>
      <key>monster_16220_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{889,0},{181,177}}</string>
        <key>offset</key>
        <string>{-62,136}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,177}}</string>
        <key>sourceSize</key>
        <string>{181,177}</string>
      </dict>
      <key>monster_16220_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{566,196},{168,193}}</string>
        <key>offset</key>
        <string>{-74,137}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,193}}</string>
        <key>sourceSize</key>
        <string>{168,193}</string>
      </dict>
      <key>monster_16220_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{391,816},{165,195}}</string>
        <key>offset</key>
        <string>{-72,139}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,195}}</string>
        <key>sourceSize</key>
        <string>{165,195}</string>
      </dict>
      <key>monster_16220_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{193,835},{163,196}}</string>
        <key>offset</key>
        <string>{-69,140}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,196}}</string>
        <key>sourceSize</key>
        <string>{163,196}</string>
      </dict>
      <key>monster_16220_0_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{558,0},{159,194}}</string>
        <key>offset</key>
        <string>{-67,138}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,194}}</string>
        <key>sourceSize</key>
        <string>{159,194}</string>
      </dict>
      <key>monster_16220_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1072,560},{179,177}}</string>
        <key>offset</key>
        <string>{-66,136}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{179,177}}</string>
        <key>sourceSize</key>
        <string>{179,177}</string>
      </dict>
      <key>monster_16220_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{898,183},{180,178}}</string>
        <key>offset</key>
        <string>{-68,137}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,178}}</string>
        <key>sourceSize</key>
        <string>{180,178}</string>
      </dict>
      <key>monster_16220_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1068,0},{180,179}}</string>
        <key>offset</key>
        <string>{-69,138}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,179}}</string>
        <key>sourceSize</key>
        <string>{180,179}</string>
      </dict>
      <key>monster_16220_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{729,772},{181,177}}</string>
        <key>offset</key>
        <string>{-69,136}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,177}}</string>
        <key>sourceSize</key>
        <string>{181,177}</string>
      </dict>
      <key>monster_16220_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,423},{208,193}}</string>
        <key>offset</key>
        <string>{-52,133}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,193}}</string>
        <key>sourceSize</key>
        <string>{208,193}</string>
      </dict>
      <key>monster_16220_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,213},{204,192}}</string>
        <key>offset</key>
        <string>{-50,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{204,192}}</string>
        <key>sourceSize</key>
        <string>{204,192}</string>
      </dict>
      <key>monster_16220_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{193,633},{200,192}}</string>
        <key>offset</key>
        <string>{-49,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,192}}</string>
        <key>sourceSize</key>
        <string>{200,192}</string>
      </dict>
      <key>monster_16220_0_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{195,419},{198,191}}</string>
        <key>offset</key>
        <string>{-48,131}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{198,191}}</string>
        <key>sourceSize</key>
        <string>{198,191}</string>
      </dict>
      <key>monster_16220_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{388,401},{176,194}}</string>
        <key>offset</key>
        <string>{-39,132}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,194}}</string>
        <key>sourceSize</key>
        <string>{176,194}</string>
      </dict>
      <key>monster_16220_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{558,816},{169,195}}</string>
        <key>offset</key>
        <string>{-36,133}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,195}}</string>
        <key>sourceSize</key>
        <string>{169,195}</string>
      </dict>
      <key>monster_16220_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{560,597},{164,194}}</string>
        <key>offset</key>
        <string>{-34,132}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,194}}</string>
        <key>sourceSize</key>
        <string>{164,194}</string>
      </dict>
      <key>monster_16220_0_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{566,391},{161,192}}</string>
        <key>offset</key>
        <string>{-30,130}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,192}}</string>
        <key>sourceSize</key>
        <string>{161,192}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16220_0_0.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>monster_16220_0_0.png</string>
    </dict>
  </dict>
</plist>