<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_2087_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{161,0},{250,144}}</string>
        <key>offset</key>
        <string>{-82,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{250,144}}</string>
        <key>sourceSize</key>
        <string>{250,144}</string>
      </dict>
      <key>monster_2087_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{307,0},{250,145}}</string>
        <key>offset</key>
        <string>{-82,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{250,145}}</string>
        <key>sourceSize</key>
        <string>{250,145}</string>
      </dict>
      <key>monster_2087_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,774},{250,144}}</string>
        <key>offset</key>
        <string>{-82,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{250,144}}</string>
        <key>sourceSize</key>
        <string>{250,144}</string>
      </dict>
      <key>monster_2087_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,515},{250,143}}</string>
        <key>offset</key>
        <string>{-82,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{250,143}}</string>
        <key>sourceSize</key>
        <string>{250,143}</string>
      </dict>
      <key>monster_2087_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{771,207},{193,201}}</string>
        <key>offset</key>
        <string>{-64,125}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{193,201}}</string>
        <key>sourceSize</key>
        <string>{193,201}</string>
      </dict>
      <key>monster_2087_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{787,0},{195,200}}</string>
        <key>offset</key>
        <string>{-64,125}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{195,200}}</string>
        <key>sourceSize</key>
        <string>{195,200}</string>
      </dict>
      <key>monster_2087_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{827,634},{190,200}}</string>
        <key>offset</key>
        <string>{-61,125}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{190,200}}</string>
        <key>sourceSize</key>
        <string>{190,200}</string>
      </dict>
      <key>monster_2087_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{754,430},{189,202}}</string>
        <key>offset</key>
        <string>{-63,125}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{189,202}}</string>
        <key>sourceSize</key>
        <string>{189,202}</string>
      </dict>
      <key>monster_2087_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{252,767},{116,228}}</string>
        <key>offset</key>
        <string>{-3,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,228}}</string>
        <key>sourceSize</key>
        <string>{116,228}</string>
      </dict>
      <key>monster_2087_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{307,515},{116,228}}</string>
        <key>offset</key>
        <string>{-3,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,228}}</string>
        <key>sourceSize</key>
        <string>{116,228}</string>
      </dict>
      <key>monster_2087_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{323,252},{117,228}}</string>
        <key>offset</key>
        <string>{-4,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,228}}</string>
        <key>sourceSize</key>
        <string>{117,228}</string>
      </dict>
      <key>monster_2087_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{370,745},{120,227}}</string>
        <key>offset</key>
        <string>{-7,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,227}}</string>
        <key>sourceSize</key>
        <string>{120,227}</string>
      </dict>
      <key>monster_2087_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{598,0},{205,187}}</string>
        <key>offset</key>
        <string>{-72,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,187}}</string>
        <key>sourceSize</key>
        <string>{205,187}</string>
      </dict>
      <key>monster_2087_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{639,682},{205,186}}</string>
        <key>offset</key>
        <string>{-71,125}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,186}}</string>
        <key>sourceSize</key>
        <string>{205,186}</string>
      </dict>
      <key>monster_2087_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{568,472},{208,184}}</string>
        <key>offset</key>
        <string>{-72,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,184}}</string>
        <key>sourceSize</key>
        <string>{208,184}</string>
      </dict>
      <key>monster_2087_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{583,220},{208,186}}</string>
        <key>offset</key>
        <string>{-74,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,186}}</string>
        <key>sourceSize</key>
        <string>{208,186}</string>
      </dict>
      <key>monster_2087_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{256,159}}</string>
        <key>offset</key>
        <string>{-90,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{256,159}}</string>
        <key>sourceSize</key>
        <string>{256,159}</string>
      </dict>
      <key>monster_2087_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,258},{256,158}}</string>
        <key>offset</key>
        <string>{-90,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{256,158}}</string>
        <key>sourceSize</key>
        <string>{256,158}</string>
      </dict>
      <key>monster_2087_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,516},{256,160}}</string>
        <key>offset</key>
        <string>{-90,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{256,160}}</string>
        <key>sourceSize</key>
        <string>{256,160}</string>
      </dict>
      <key>monster_2087_0_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,258},{255,161}}</string>
        <key>offset</key>
        <string>{-89,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{255,161}}</string>
        <key>sourceSize</key>
        <string>{255,161}</string>
      </dict>
      <key>monster_2087_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1138,401},{190,183}}</string>
        <key>offset</key>
        <string>{-44,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{190,183}}</string>
        <key>sourceSize</key>
        <string>{190,183}</string>
      </dict>
      <key>monster_2087_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{827,836},{191,183}}</string>
        <key>offset</key>
        <string>{-46,122}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{191,183}}</string>
        <key>sourceSize</key>
        <string>{191,183}</string>
      </dict>
      <key>monster_2087_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1179,0},{187,184}}</string>
        <key>offset</key>
        <string>{-44,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{187,184}}</string>
        <key>sourceSize</key>
        <string>{187,184}</string>
      </dict>
      <key>monster_2087_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1158,198},{189,186}}</string>
        <key>offset</key>
        <string>{-43,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{189,186}}</string>
        <key>sourceSize</key>
        <string>{189,186}</string>
      </dict>
      <key>monster_2087_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{425,482},{141,218}}</string>
        <key>offset</key>
        <string>{-49,137}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,218}}</string>
        <key>sourceSize</key>
        <string>{141,218}</string>
      </dict>
      <key>monster_2087_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{442,252},{139,218}}</string>
        <key>offset</key>
        <string>{-49,137}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,218}}</string>
        <key>sourceSize</key>
        <string>{139,218}</string>
      </dict>
      <key>monster_2087_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{454,0},{142,218}}</string>
        <key>offset</key>
        <string>{-50,137}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,218}}</string>
        <key>sourceSize</key>
        <string>{142,218}</string>
      </dict>
      <key>monster_2087_0_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{492,702},{145,218}}</string>
        <key>offset</key>
        <string>{-50,137}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,218}}</string>
        <key>sourceSize</key>
        <string>{145,218}</string>
      </dict>
      <key>monster_2087_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{984,0},{196,193}}</string>
        <key>offset</key>
        <string>{-46,125}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,193}}</string>
        <key>sourceSize</key>
        <string>{196,193}</string>
      </dict>
      <key>monster_2087_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1019,611},{195,194}}</string>
        <key>offset</key>
        <string>{-47,125}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{195,194}}</string>
        <key>sourceSize</key>
        <string>{195,194}</string>
      </dict>
      <key>monster_2087_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{966,202},{197,190}}</string>
        <key>offset</key>
        <string>{-47,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{197,190}}</string>
        <key>sourceSize</key>
        <string>{197,190}</string>
      </dict>
      <key>monster_2087_0_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{945,410},{199,191}}</string>
        <key>offset</key>
        <string>{-47,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{199,191}}</string>
        <key>sourceSize</key>
        <string>{199,191}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_2087_0_0.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>monster_2087_0_0.png</string>
    </dict>
  </dict>
</plist>