<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_12084_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1490,764},{425,356}}</string>
        <key>offset</key>
        <string>{-229,204}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{425,356}}</string>
        <key>sourceSize</key>
        <string>{425,356}</string>
      </dict>
      <key>monster_12084_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{501,496},{485,367}}</string>
        <key>offset</key>
        <string>{-232,201}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{485,367}}</string>
        <key>sourceSize</key>
        <string>{485,367}</string>
      </dict>
      <key>monster_12084_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{609,983},{479,354}}</string>
        <key>offset</key>
        <string>{-224,191}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{479,354}}</string>
        <key>sourceSize</key>
        <string>{479,354}</string>
      </dict>
      <key>monster_12084_0_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{536,308}}</string>
        <key>offset</key>
        <string>{-277,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{536,308}}</string>
        <key>sourceSize</key>
        <string>{536,308}</string>
      </dict>
      <key>monster_12084_0_4_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,538},{530,264}}</string>
        <key>offset</key>
        <string>{-277,-4}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{530,264}}</string>
        <key>sourceSize</key>
        <string>{530,264}</string>
      </dict>
      <key>monster_12084_0_4_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{266,538},{494,233}}</string>
        <key>offset</key>
        <string>{-277,-38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{494,233}}</string>
        <key>sourceSize</key>
        <string>{494,233}</string>
      </dict>
      <key>monster_12084_0_4_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{310,0},{494,233}}</string>
        <key>offset</key>
        <string>{-277,-38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{494,233}}</string>
        <key>sourceSize</key>
        <string>{494,233}</string>
      </dict>
      <key>monster_12084_0_4_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1589},{494,233}}</string>
        <key>offset</key>
        <string>{-277,-38}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{494,233}}</string>
        <key>sourceSize</key>
        <string>{494,233}</string>
      </dict>
      <key>monster_12084_0_4_4_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,1034},{494,233}}</string>
        <key>offset</key>
        <string>{-277,-38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{494,233}}</string>
        <key>sourceSize</key>
        <string>{494,233}</string>
      </dict>
      <key>monster_12084_0_4_4_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{496,1530},{494,233}}</string>
        <key>offset</key>
        <string>{-277,-38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{494,233}}</string>
        <key>sourceSize</key>
        <string>{494,233}</string>
      </dict>
      <key>monster_12084_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1607,0},{449,405}}</string>
        <key>offset</key>
        <string>{-305,204}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{449,405}}</string>
        <key>sourceSize</key>
        <string>{449,405}</string>
      </dict>
      <key>monster_12084_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1070},{517,372}}</string>
        <key>offset</key>
        <string>{-318,211}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{517,372}}</string>
        <key>sourceSize</key>
        <string>{517,372}</string>
      </dict>
      <key>monster_12084_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{545,0},{483,404}}</string>
        <key>offset</key>
        <string>{-320,197}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{483,404}}</string>
        <key>sourceSize</key>
        <string>{483,404}</string>
      </dict>
      <key>monster_12084_0_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{951,0},{458,342}}</string>
        <key>offset</key>
        <string>{-369,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{458,342}}</string>
        <key>sourceSize</key>
        <string>{458,342}</string>
      </dict>
      <key>monster_12084_0_4_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{870,485},{461,306}}</string>
        <key>offset</key>
        <string>{-370,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{461,306}}</string>
        <key>sourceSize</key>
        <string>{461,306}</string>
      </dict>
      <key>monster_12084_0_4_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{731,1464},{450,310}}</string>
        <key>offset</key>
        <string>{-369,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{450,310}}</string>
        <key>sourceSize</key>
        <string>{450,310}</string>
      </dict>
      <key>monster_12084_0_4_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{965,948},{450,310}}</string>
        <key>offset</key>
        <string>{-369,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{450,310}}</string>
        <key>sourceSize</key>
        <string>{450,310}</string>
      </dict>
      <key>monster_12084_0_4_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1178,460},{450,310}}</string>
        <key>offset</key>
        <string>{-369,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{450,310}}</string>
        <key>sourceSize</key>
        <string>{450,310}</string>
      </dict>
      <key>monster_12084_0_4_5_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1295,0},{450,310}}</string>
        <key>offset</key>
        <string>{-369,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{450,310}}</string>
        <key>sourceSize</key>
        <string>{450,310}</string>
      </dict>
      <key>monster_12084_0_4_5_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1490,452},{450,310}}</string>
        <key>offset</key>
        <string>{-369,39}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{450,310}}</string>
        <key>sourceSize</key>
        <string>{450,310}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_12084_0_4_2.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_12084_0_4_2.png</string>
    </dict>
  </dict>
</plist>