<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16174_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{516,1614},{496,289}}</string>
        <key>offset</key>
        <string>{-308,228}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{496,289}}</string>
        <key>sourceSize</key>
        <string>{496,289}</string>
      </dict>
      <key>monster_16174_0_4_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1758,0},{458,246}}</string>
        <key>offset</key>
        <string>{-229,202}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{458,246}}</string>
        <key>sourceSize</key>
        <string>{458,246}</string>
      </dict>
      <key>monster_16174_0_4_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{551,301}}</string>
        <key>offset</key>
        <string>{-288,254}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{551,301}}</string>
        <key>sourceSize</key>
        <string>{551,301}</string>
      </dict>
      <key>monster_16174_0_4_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{303,0},{514,356}}</string>
        <key>offset</key>
        <string>{-267,321}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{514,356}}</string>
        <key>sourceSize</key>
        <string>{514,356}</string>
      </dict>
      <key>monster_16174_0_4_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{646,1022},{490,356}}</string>
        <key>offset</key>
        <string>{-265,319}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{490,356}}</string>
        <key>sourceSize</key>
        <string>{490,356}</string>
      </dict>
      <key>monster_16174_0_4_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1014,1468},{412,457}}</string>
        <key>offset</key>
        <string>{-262,364}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{412,457}}</string>
        <key>sourceSize</key>
        <string>{412,457}</string>
      </dict>
      <key>monster_16174_0_4_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1283,0},{238,467}}</string>
        <key>offset</key>
        <string>{-177,353}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{238,467}}</string>
        <key>sourceSize</key>
        <string>{238,467}</string>
      </dict>
      <key>monster_16174_0_4_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1100},{253,514}}</string>
        <key>offset</key>
        <string>{-191,404}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{253,514}}</string>
        <key>sourceSize</key>
        <string>{253,514}</string>
      </dict>
      <key>monster_16174_0_4_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{325,516},{251,505}}</string>
        <key>offset</key>
        <string>{-190,402}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{251,505}}</string>
        <key>sourceSize</key>
        <string>{251,505}</string>
      </dict>
      <key>monster_16174_0_4_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1624,930},{458,421}}</string>
        <key>offset</key>
        <string>{-281,347}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{458,421}}</string>
        <key>sourceSize</key>
        <string>{458,421}</string>
      </dict>
      <key>monster_16174_0_4_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1203,473},{419,468}}</string>
        <key>offset</key>
        <string>{-263,404}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{419,468}}</string>
        <key>sourceSize</key>
        <string>{419,468}</string>
      </dict>
      <key>monster_16174_0_4_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1428,1390},{394,457}}</string>
        <key>offset</key>
        <string>{-262,402}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{394,457}}</string>
        <key>sourceSize</key>
        <string>{394,457}</string>
      </dict>
      <key>monster_16174_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{661,0},{503,228}}</string>
        <key>offset</key>
        <string>{-304,197}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{503,228}}</string>
        <key>sourceSize</key>
        <string>{503,228}</string>
      </dict>
      <key>monster_16174_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1428,1786},{306,237}}</string>
        <key>offset</key>
        <string>{-150,182}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{306,237}}</string>
        <key>sourceSize</key>
        <string>{306,237}</string>
      </dict>
      <key>monster_16174_0_4_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1523,0},{466,233}}</string>
        <key>offset</key>
        <string>{-228,194}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{466,233}}</string>
        <key>sourceSize</key>
        <string>{466,233}</string>
      </dict>
      <key>monster_16174_0_4_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,553},{545,323}}</string>
        <key>offset</key>
        <string>{-283,298}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{545,323}}</string>
        <key>sourceSize</key>
        <string>{545,323}</string>
      </dict>
      <key>monster_16174_0_4_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{255,1100},{512,389}}</string>
        <key>offset</key>
        <string>{-264,366}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{512,389}}</string>
        <key>sourceSize</key>
        <string>{512,389}</string>
      </dict>
      <key>monster_16174_0_4_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{815,505},{490,386}}</string>
        <key>offset</key>
        <string>{-262,363}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{490,386}}</string>
        <key>sourceSize</key>
        <string>{490,386}</string>
      </dict>
      <key>monster_16174_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1736,1786},{226,252}}</string>
        <key>offset</key>
        <string>{-120,191}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{226,252}}</string>
        <key>sourceSize</key>
        <string>{226,252}</string>
      </dict>
      <key>monster_16174_0_4_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{891,0},{390,471}}</string>
        <key>offset</key>
        <string>{-180,405}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{390,471}}</string>
        <key>sourceSize</key>
        <string>{390,471}</string>
      </dict>
      <key>monster_16174_0_4_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1624,468},{384,460}}</string>
        <key>offset</key>
        <string>{-179,403}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{384,460}}</string>
        <key>sourceSize</key>
        <string>{384,460}</string>
      </dict>
      <key>monster_16174_0_4_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1004,997},{225,469}}</string>
        <key>offset</key>
        <string>{-87,352}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{225,469}}</string>
        <key>sourceSize</key>
        <string>{225,469}</string>
      </dict>
      <key>monster_16174_0_4_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1616},{237,514}}</string>
        <key>offset</key>
        <string>{-112,403}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{237,514}}</string>
        <key>sourceSize</key>
        <string>{237,514}</string>
      </dict>
      <key>monster_16174_0_4_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{578,516},{235,504}}</string>
        <key>offset</key>
        <string>{-111,400}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{235,504}}</string>
        <key>sourceSize</key>
        <string>{235,504}</string>
      </dict>
      <key>monster_16174_0_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1231,943},{373,356}}</string>
        <key>offset</key>
        <string>{-204,250}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{373,356}}</string>
        <key>sourceSize</key>
        <string>{373,356}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16174_0_4_0.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_16174_0_4_0.png</string>
    </dict>
  </dict>
</plist>