<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_12118_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{990,845},{104,151}}</string>
        <key>offset</key>
        <string>{-27,101}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,151}}</string>
        <key>sourceSize</key>
        <string>{104,151}</string>
      </dict>
      <key>monster_12118_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1210,338},{135,145}}</string>
        <key>offset</key>
        <string>{-21,104}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,145}}</string>
        <key>sourceSize</key>
        <string>{135,145}</string>
      </dict>
      <key>monster_12118_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{167,108}}</string>
        <key>offset</key>
        <string>{-18,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,108}}</string>
        <key>sourceSize</key>
        <string>{167,108}</string>
      </dict>
      <key>monster_12118_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,169},{167,108}}</string>
        <key>offset</key>
        <string>{-18,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,108}}</string>
        <key>sourceSize</key>
        <string>{167,108}</string>
      </dict>
      <key>monster_12118_0_4_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,338},{167,108}}</string>
        <key>offset</key>
        <string>{-18,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,108}}</string>
        <key>sourceSize</key>
        <string>{167,108}</string>
      </dict>
      <key>monster_12118_0_4_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,507},{167,108}}</string>
        <key>offset</key>
        <string>{-18,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,108}}</string>
        <key>sourceSize</key>
        <string>{167,108}</string>
      </dict>
      <key>monster_12118_0_4_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,676},{167,108}}</string>
        <key>offset</key>
        <string>{-18,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,108}}</string>
        <key>sourceSize</key>
        <string>{167,108}</string>
      </dict>
      <key>monster_12118_0_4_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,845},{167,108}}</string>
        <key>offset</key>
        <string>{-18,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,108}}</string>
        <key>sourceSize</key>
        <string>{167,108}</string>
      </dict>
      <key>monster_12118_0_4_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{110,845},{167,108}}</string>
        <key>offset</key>
        <string>{-18,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,108}}</string>
        <key>sourceSize</key>
        <string>{167,108}</string>
      </dict>
      <key>monster_12118_0_4_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{110,0},{167,108}}</string>
        <key>offset</key>
        <string>{-18,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,108}}</string>
        <key>sourceSize</key>
        <string>{167,108}</string>
      </dict>
      <key>monster_12118_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{990,676},{104,151}}</string>
        <key>offset</key>
        <string>{-27,101}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,151}}</string>
        <key>sourceSize</key>
        <string>{104,151}</string>
      </dict>
      <key>monster_12118_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1320,169},{135,145}}</string>
        <key>offset</key>
        <string>{-21,104}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,145}}</string>
        <key>sourceSize</key>
        <string>{135,145}</string>
      </dict>
      <key>monster_12118_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{110,169},{167,108}}</string>
        <key>offset</key>
        <string>{-18,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,108}}</string>
        <key>sourceSize</key>
        <string>{167,108}</string>
      </dict>
      <key>monster_12118_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{110,338},{167,108}}</string>
        <key>offset</key>
        <string>{-18,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,108}}</string>
        <key>sourceSize</key>
        <string>{167,108}</string>
      </dict>
      <key>monster_12118_0_4_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{110,507},{167,108}}</string>
        <key>offset</key>
        <string>{-18,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,108}}</string>
        <key>sourceSize</key>
        <string>{167,108}</string>
      </dict>
      <key>monster_12118_0_4_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{110,676},{167,108}}</string>
        <key>offset</key>
        <string>{-18,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,108}}</string>
        <key>sourceSize</key>
        <string>{167,108}</string>
      </dict>
      <key>monster_12118_0_4_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{220,676},{167,108}}</string>
        <key>offset</key>
        <string>{-18,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,108}}</string>
        <key>sourceSize</key>
        <string>{167,108}</string>
      </dict>
      <key>monster_12118_0_4_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{220,845},{167,108}}</string>
        <key>offset</key>
        <string>{-18,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,108}}</string>
        <key>sourceSize</key>
        <string>{167,108}</string>
      </dict>
      <key>monster_12118_0_4_1_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,845},{167,108}}</string>
        <key>offset</key>
        <string>{-18,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,108}}</string>
        <key>sourceSize</key>
        <string>{167,108}</string>
      </dict>
      <key>monster_12118_0_4_1_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{220,0},{167,108}}</string>
        <key>offset</key>
        <string>{-18,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,108}}</string>
        <key>sourceSize</key>
        <string>{167,108}</string>
      </dict>
      <key>monster_12118_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1096,676},{104,151}}</string>
        <key>offset</key>
        <string>{-27,101}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,151}}</string>
        <key>sourceSize</key>
        <string>{104,151}</string>
      </dict>
      <key>monster_12118_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1430,0},{135,145}}</string>
        <key>offset</key>
        <string>{-21,104}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,145}}</string>
        <key>sourceSize</key>
        <string>{135,145}</string>
      </dict>
      <key>monster_12118_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{220,169},{167,108}}</string>
        <key>offset</key>
        <string>{-18,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,108}}</string>
        <key>sourceSize</key>
        <string>{167,108}</string>
      </dict>
      <key>monster_12118_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{220,338},{167,108}}</string>
        <key>offset</key>
        <string>{-18,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,108}}</string>
        <key>sourceSize</key>
        <string>{167,108}</string>
      </dict>
      <key>monster_12118_0_4_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{220,507},{167,108}}</string>
        <key>offset</key>
        <string>{-18,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,108}}</string>
        <key>sourceSize</key>
        <string>{167,108}</string>
      </dict>
      <key>monster_12118_0_4_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,507},{167,108}}</string>
        <key>offset</key>
        <string>{-18,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,108}}</string>
        <key>sourceSize</key>
        <string>{167,108}</string>
      </dict>
      <key>monster_12118_0_4_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,676},{167,108}}</string>
        <key>offset</key>
        <string>{-18,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,108}}</string>
        <key>sourceSize</key>
        <string>{167,108}</string>
      </dict>
      <key>monster_12118_0_4_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{440,676},{167,108}}</string>
        <key>offset</key>
        <string>{-18,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,108}}</string>
        <key>sourceSize</key>
        <string>{167,108}</string>
      </dict>
      <key>monster_12118_0_4_2_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{440,845},{167,108}}</string>
        <key>offset</key>
        <string>{-18,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,108}}</string>
        <key>sourceSize</key>
        <string>{167,108}</string>
      </dict>
      <key>monster_12118_0_4_2_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,845},{167,108}}</string>
        <key>offset</key>
        <string>{-18,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,108}}</string>
        <key>sourceSize</key>
        <string>{167,108}</string>
      </dict>
      <key>monster_12118_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1100,507},{104,151}}</string>
        <key>offset</key>
        <string>{-27,101}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,151}}</string>
        <key>sourceSize</key>
        <string>{104,151}</string>
      </dict>
      <key>monster_12118_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1308,660},{135,145}}</string>
        <key>offset</key>
        <string>{-21,104}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,145}}</string>
        <key>sourceSize</key>
        <string>{135,145}</string>
      </dict>
      <key>monster_12118_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,0},{167,108}}</string>
        <key>offset</key>
        <string>{-18,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,108}}</string>
        <key>sourceSize</key>
        <string>{167,108}</string>
      </dict>
      <key>monster_12118_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,169},{167,108}}</string>
        <key>offset</key>
        <string>{-18,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,108}}</string>
        <key>sourceSize</key>
        <string>{167,108}</string>
      </dict>
      <key>monster_12118_0_4_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,338},{167,108}}</string>
        <key>offset</key>
        <string>{-18,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,108}}</string>
        <key>sourceSize</key>
        <string>{167,108}</string>
      </dict>
      <key>monster_12118_0_4_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{440,338},{167,108}}</string>
        <key>offset</key>
        <string>{-18,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,108}}</string>
        <key>sourceSize</key>
        <string>{167,108}</string>
      </dict>
      <key>monster_12118_0_4_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{440,507},{167,108}}</string>
        <key>offset</key>
        <string>{-18,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,108}}</string>
        <key>sourceSize</key>
        <string>{167,108}</string>
      </dict>
      <key>monster_12118_0_4_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,507},{167,108}}</string>
        <key>offset</key>
        <string>{-18,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,108}}</string>
        <key>sourceSize</key>
        <string>{167,108}</string>
      </dict>
      <key>monster_12118_0_4_3_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,676},{167,108}}</string>
        <key>offset</key>
        <string>{-18,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,108}}</string>
        <key>sourceSize</key>
        <string>{167,108}</string>
      </dict>
      <key>monster_12118_0_4_3_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{660,676},{167,108}}</string>
        <key>offset</key>
        <string>{-18,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,108}}</string>
        <key>sourceSize</key>
        <string>{167,108}</string>
      </dict>
      <key>monster_12118_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1096,829},{104,151}}</string>
        <key>offset</key>
        <string>{-29,101}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,151}}</string>
        <key>sourceSize</key>
        <string>{104,151}</string>
      </dict>
      <key>monster_12118_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1312,485},{135,145}}</string>
        <key>offset</key>
        <string>{-66,104}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,145}}</string>
        <key>sourceSize</key>
        <string>{135,145}</string>
      </dict>
      <key>monster_12118_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{660,845},{167,108}}</string>
        <key>offset</key>
        <string>{-101,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,108}}</string>
        <key>sourceSize</key>
        <string>{167,108}</string>
      </dict>
      <key>monster_12118_0_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{770,845},{167,108}}</string>
        <key>offset</key>
        <string>{-101,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,108}}</string>
        <key>sourceSize</key>
        <string>{167,108}</string>
      </dict>
      <key>monster_12118_0_4_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{440,0},{167,108}}</string>
        <key>offset</key>
        <string>{-101,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,108}}</string>
        <key>sourceSize</key>
        <string>{167,108}</string>
      </dict>
      <key>monster_12118_0_4_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{440,169},{167,108}}</string>
        <key>offset</key>
        <string>{-101,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,108}}</string>
        <key>sourceSize</key>
        <string>{167,108}</string>
      </dict>
      <key>monster_12118_0_4_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,169},{167,108}}</string>
        <key>offset</key>
        <string>{-101,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,108}}</string>
        <key>sourceSize</key>
        <string>{167,108}</string>
      </dict>
      <key>monster_12118_0_4_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,0},{167,108}}</string>
        <key>offset</key>
        <string>{-101,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,108}}</string>
        <key>sourceSize</key>
        <string>{167,108}</string>
      </dict>
      <key>monster_12118_0_4_4_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{660,0},{167,108}}</string>
        <key>offset</key>
        <string>{-101,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,108}}</string>
        <key>sourceSize</key>
        <string>{167,108}</string>
      </dict>
      <key>monster_12118_0_4_4_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,338},{167,108}}</string>
        <key>offset</key>
        <string>{-101,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,108}}</string>
        <key>sourceSize</key>
        <string>{167,108}</string>
      </dict>
      <key>monster_12118_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1202,829},{104,151}}</string>
        <key>offset</key>
        <string>{-29,101}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,151}}</string>
        <key>sourceSize</key>
        <string>{104,151}</string>
      </dict>
      <key>monster_12118_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1347,316},{135,145}}</string>
        <key>offset</key>
        <string>{-66,104}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,145}}</string>
        <key>sourceSize</key>
        <string>{135,145}</string>
      </dict>
      <key>monster_12118_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{660,338},{167,108}}</string>
        <key>offset</key>
        <string>{-101,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,108}}</string>
        <key>sourceSize</key>
        <string>{167,108}</string>
      </dict>
      <key>monster_12118_0_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{660,169},{167,108}}</string>
        <key>offset</key>
        <string>{-101,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,108}}</string>
        <key>sourceSize</key>
        <string>{167,108}</string>
      </dict>
      <key>monster_12118_0_4_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{770,169},{167,108}}</string>
        <key>offset</key>
        <string>{-101,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,108}}</string>
        <key>sourceSize</key>
        <string>{167,108}</string>
      </dict>
      <key>monster_12118_0_4_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{770,0},{167,108}}</string>
        <key>offset</key>
        <string>{-101,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,108}}</string>
        <key>sourceSize</key>
        <string>{167,108}</string>
      </dict>
      <key>monster_12118_0_4_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{880,0},{167,108}}</string>
        <key>offset</key>
        <string>{-101,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,108}}</string>
        <key>sourceSize</key>
        <string>{167,108}</string>
      </dict>
      <key>monster_12118_0_4_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{660,507},{167,108}}</string>
        <key>offset</key>
        <string>{-101,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,108}}</string>
        <key>sourceSize</key>
        <string>{167,108}</string>
      </dict>
      <key>monster_12118_0_4_5_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{770,507},{167,108}}</string>
        <key>offset</key>
        <string>{-101,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,108}}</string>
        <key>sourceSize</key>
        <string>{167,108}</string>
      </dict>
      <key>monster_12118_0_4_5_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{770,338},{167,108}}</string>
        <key>offset</key>
        <string>{-101,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,108}}</string>
        <key>sourceSize</key>
        <string>{167,108}</string>
      </dict>
      <key>monster_12118_0_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1202,660},{104,151}}</string>
        <key>offset</key>
        <string>{-29,101}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,151}}</string>
        <key>sourceSize</key>
        <string>{104,151}</string>
      </dict>
      <key>monster_12118_0_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1457,147},{135,145}}</string>
        <key>offset</key>
        <string>{-66,104}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,145}}</string>
        <key>sourceSize</key>
        <string>{135,145}</string>
      </dict>
      <key>monster_12118_0_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{880,338},{167,108}}</string>
        <key>offset</key>
        <string>{-101,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,108}}</string>
        <key>sourceSize</key>
        <string>{167,108}</string>
      </dict>
      <key>monster_12118_0_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{880,169},{167,108}}</string>
        <key>offset</key>
        <string>{-101,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,108}}</string>
        <key>sourceSize</key>
        <string>{167,108}</string>
      </dict>
      <key>monster_12118_0_4_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{990,169},{167,108}}</string>
        <key>offset</key>
        <string>{-101,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,108}}</string>
        <key>sourceSize</key>
        <string>{167,108}</string>
      </dict>
      <key>monster_12118_0_4_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{990,0},{167,108}}</string>
        <key>offset</key>
        <string>{-101,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,108}}</string>
        <key>sourceSize</key>
        <string>{167,108}</string>
      </dict>
      <key>monster_12118_0_4_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1100,0},{167,108}}</string>
        <key>offset</key>
        <string>{-101,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,108}}</string>
        <key>sourceSize</key>
        <string>{167,108}</string>
      </dict>
      <key>monster_12118_0_4_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{770,676},{167,108}}</string>
        <key>offset</key>
        <string>{-101,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,108}}</string>
        <key>sourceSize</key>
        <string>{167,108}</string>
      </dict>
      <key>monster_12118_0_4_6_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{880,676},{167,108}}</string>
        <key>offset</key>
        <string>{-101,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,108}}</string>
        <key>sourceSize</key>
        <string>{167,108}</string>
      </dict>
      <key>monster_12118_0_4_6_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{880,507},{167,108}}</string>
        <key>offset</key>
        <string>{-101,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,108}}</string>
        <key>sourceSize</key>
        <string>{167,108}</string>
      </dict>
      <key>monster_12118_0_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1206,507},{104,151}}</string>
        <key>offset</key>
        <string>{-29,101}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,151}}</string>
        <key>sourceSize</key>
        <string>{104,151}</string>
      </dict>
      <key>monster_12118_0_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1567,0},{135,145}}</string>
        <key>offset</key>
        <string>{-66,104}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,145}}</string>
        <key>sourceSize</key>
        <string>{135,145}</string>
      </dict>
      <key>monster_12118_0_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{990,507},{167,108}}</string>
        <key>offset</key>
        <string>{-101,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,108}}</string>
        <key>sourceSize</key>
        <string>{167,108}</string>
      </dict>
      <key>monster_12118_0_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{990,338},{167,108}}</string>
        <key>offset</key>
        <string>{-101,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,108}}</string>
        <key>sourceSize</key>
        <string>{167,108}</string>
      </dict>
      <key>monster_12118_0_4_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1100,338},{167,108}}</string>
        <key>offset</key>
        <string>{-101,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,108}}</string>
        <key>sourceSize</key>
        <string>{167,108}</string>
      </dict>
      <key>monster_12118_0_4_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1100,169},{167,108}}</string>
        <key>offset</key>
        <string>{-101,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,108}}</string>
        <key>sourceSize</key>
        <string>{167,108}</string>
      </dict>
      <key>monster_12118_0_4_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1210,169},{167,108}}</string>
        <key>offset</key>
        <string>{-101,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,108}}</string>
        <key>sourceSize</key>
        <string>{167,108}</string>
      </dict>
      <key>monster_12118_0_4_7_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1210,0},{167,108}}</string>
        <key>offset</key>
        <string>{-101,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,108}}</string>
        <key>sourceSize</key>
        <string>{167,108}</string>
      </dict>
      <key>monster_12118_0_4_7_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1320,0},{167,108}}</string>
        <key>offset</key>
        <string>{-101,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,108}}</string>
        <key>sourceSize</key>
        <string>{167,108}</string>
      </dict>
      <key>monster_12118_0_4_7_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{880,845},{167,108}}</string>
        <key>offset</key>
        <string>{-101,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,108}}</string>
        <key>sourceSize</key>
        <string>{167,108}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_12118_0_4.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>monster_12118_0_4.png</string>
    </dict>
  </dict>
</plist>