<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16162_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{438,483}}</string>
        <key>offset</key>
        <string>{-163,341}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{438,483}}</string>
        <key>sourceSize</key>
        <string>{438,483}</string>
      </dict>
      <key>monster_16162_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{849,893},{437,421}}</string>
        <key>offset</key>
        <string>{-164,294}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{437,421}}</string>
        <key>sourceSize</key>
        <string>{437,421}</string>
      </dict>
      <key>monster_16162_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,955},{436,426}}</string>
        <key>offset</key>
        <string>{-166,310}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{436,426}}</string>
        <key>sourceSize</key>
        <string>{436,426}</string>
      </dict>
      <key>monster_16162_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,485},{434,468}}</string>
        <key>offset</key>
        <string>{-159,331}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{434,468}}</string>
        <key>sourceSize</key>
        <string>{434,468}</string>
      </dict>
      <key>monster_16162_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{849,448},{409,443}}</string>
        <key>offset</key>
        <string>{-177,324}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{409,443}}</string>
        <key>sourceSize</key>
        <string>{409,443}</string>
      </dict>
      <key>monster_16162_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{436,485},{411,468}}</string>
        <key>offset</key>
        <string>{-184,320}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{411,468}}</string>
        <key>sourceSize</key>
        <string>{411,468}</string>
      </dict>
      <key>monster_16162_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{849,0},{407,446}}</string>
        <key>offset</key>
        <string>{-185,323}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{407,446}}</string>
        <key>sourceSize</key>
        <string>{407,446}</string>
      </dict>
      <key>monster_16162_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{440,0},{406,432}}</string>
        <key>offset</key>
        <string>{-182,313}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{406,432}}</string>
        <key>sourceSize</key>
        <string>{406,432}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16162_0_0_1.png</string>
      <key>size</key>
      <string>{1281,1490}</string>
      <key>textureFileName</key>
      <string>monster_16162_0_0_1.png</string>
    </dict>
  </dict>
</plist>