<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_2423_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{418,196},{298,250}}</string>
        <key>offset</key>
        <string>{-190,173}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{298,250}}</string>
        <key>sourceSize</key>
        <string>{298,250}</string>
      </dict>
      <key>monster_2423_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{206,0},{358,210}}</string>
        <key>offset</key>
        <string>{-191,147}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{358,210}}</string>
        <key>sourceSize</key>
        <string>{358,210}</string>
      </dict>
      <key>monster_2423_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,369},{364,228}}</string>
        <key>offset</key>
        <string>{-192,140}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{364,228}}</string>
        <key>sourceSize</key>
        <string>{364,228}</string>
      </dict>
      <key>monster_2423_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{777,255},{230,222}}</string>
        <key>offset</key>
        <string>{-88,173}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{230,222}}</string>
        <key>sourceSize</key>
        <string>{230,222}</string>
      </dict>
      <key>monster_2423_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{418,0},{317,194}}</string>
        <key>offset</key>
        <string>{-133,153}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{317,194}}</string>
        <key>sourceSize</key>
        <string>{317,194}</string>
      </dict>
      <key>monster_2423_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{367,204}}</string>
        <key>offset</key>
        <string>{-165,163}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{367,204}}</string>
        <key>sourceSize</key>
        <string>{367,204}</string>
      </dict>
      <key>monster_2423_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{239,726},{257,249}}</string>
        <key>offset</key>
        <string>{-168,168}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{257,249}}</string>
        <key>sourceSize</key>
        <string>{257,249}</string>
      </dict>
      <key>monster_2423_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{777,0},{228,253}}</string>
        <key>offset</key>
        <string>{-160,164}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{228,253}}</string>
        <key>sourceSize</key>
        <string>{228,253}</string>
      </dict>
      <key>monster_2423_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{230,448},{276,268}}</string>
        <key>offset</key>
        <string>{-200,147}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{276,268}}</string>
        <key>sourceSize</key>
        <string>{276,268}</string>
      </dict>
      <key>monster_2423_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{490,726},{254,232}}</string>
        <key>offset</key>
        <string>{-76,176}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{254,232}}</string>
        <key>sourceSize</key>
        <string>{254,232}</string>
      </dict>
      <key>monster_2423_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,448},{275,217}}</string>
        <key>offset</key>
        <string>{-95,161}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{275,217}}</string>
        <key>sourceSize</key>
        <string>{275,217}</string>
      </dict>
      <key>monster_2423_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,735},{275,237}}</string>
        <key>offset</key>
        <string>{-118,181}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{275,237}}</string>
        <key>sourceSize</key>
        <string>{275,237}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_2423_0_2_0.png</string>
      <key>size</key>
      <string>{1011,1015}</string>
      <key>textureFileName</key>
      <string>monster_2423_0_2_0.png</string>
    </dict>
  </dict>
</plist>