<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16339_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,197},{161,181}}</string>
        <key>offset</key>
        <string>{-50,148}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,181}}</string>
        <key>sourceSize</key>
        <string>{161,181}</string>
      </dict>
      <key>monster_16339_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,0},{194,126}}</string>
        <key>offset</key>
        <string>{-59,93}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{194,126}}</string>
        <key>sourceSize</key>
        <string>{194,126}</string>
      </dict>
      <key>monster_16339_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,0},{110,186}}</string>
        <key>offset</key>
        <string>{-19,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,186}}</string>
        <key>sourceSize</key>
        <string>{110,186}</string>
      </dict>
      <key>monster_16339_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,671},{147,142}}</string>
        <key>offset</key>
        <string>{-42,96}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,142}}</string>
        <key>sourceSize</key>
        <string>{147,142}</string>
      </dict>
      <key>monster_16339_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{388,188},{109,179}}</string>
        <key>offset</key>
        <string>{-20,137}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,179}}</string>
        <key>sourceSize</key>
        <string>{109,179}</string>
      </dict>
      <key>monster_16339_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{183,351},{136,172}}</string>
        <key>offset</key>
        <string>{-47,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,172}}</string>
        <key>sourceSize</key>
        <string>{136,172}</string>
      </dict>
      <key>monster_16339_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{348,661},{166,147}}</string>
        <key>offset</key>
        <string>{-46,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,147}}</string>
        <key>sourceSize</key>
        <string>{166,147}</string>
      </dict>
      <key>monster_16339_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,360},{171,172}}</string>
        <key>offset</key>
        <string>{-46,140}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,172}}</string>
        <key>sourceSize</key>
        <string>{171,172}</string>
      </dict>
      <key>monster_16339_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{348,489},{161,170}}</string>
        <key>offset</key>
        <string>{-37,126}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,170}}</string>
        <key>sourceSize</key>
        <string>{161,170}</string>
      </dict>
      <key>monster_16339_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{195,198}}</string>
        <key>offset</key>
        <string>{-61,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{195,198}}</string>
        <key>sourceSize</key>
        <string>{195,198}</string>
      </dict>
      <key>monster_16339_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,662},{166,147}}</string>
        <key>offset</key>
        <string>{-60,119}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,147}}</string>
        <key>sourceSize</key>
        <string>{166,147}</string>
      </dict>
      <key>monster_16339_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,489},{171,172}}</string>
        <key>offset</key>
        <string>{-65,140}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,172}}</string>
        <key>sourceSize</key>
        <string>{171,172}</string>
      </dict>
      <key>monster_16339_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{183,240},{109,179}}</string>
        <key>offset</key>
        <string>{-29,137}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,179}}</string>
        <key>sourceSize</key>
        <string>{109,179}</string>
      </dict>
      <key>monster_16339_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,533},{136,172}}</string>
        <key>offset</key>
        <string>{-29,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,172}}</string>
        <key>sourceSize</key>
        <string>{136,172}</string>
      </dict>
      <key>monster_16339_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,128},{110,186}}</string>
        <key>offset</key>
        <string>{-31,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,186}}</string>
        <key>sourceSize</key>
        <string>{110,186}</string>
      </dict>
      <key>monster_16339_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,829},{147,142}}</string>
        <key>offset</key>
        <string>{-45,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,142}}</string>
        <key>sourceSize</key>
        <string>{147,142}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16339_0_7.png</string>
      <key>size</key>
      <string>{512,1024}</string>
      <key>textureFileName</key>
      <string>monster_16339_0_7.png</string>
    </dict>
  </dict>
</plist>