<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20141_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{223,1067},{310,190}}</string>
        <key>offset</key>
        <string>{-75,120}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{310,190}}</string>
        <key>sourceSize</key>
        <string>{310,190}</string>
      </dict>
      <key>monster_20141_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{916,1249},{224,189}}</string>
        <key>offset</key>
        <string>{-67,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{224,189}}</string>
        <key>sourceSize</key>
        <string>{224,189}</string>
      </dict>
      <key>monster_20141_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1107,1249},{209,171}}</string>
        <key>offset</key>
        <string>{-64,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,171}}</string>
        <key>sourceSize</key>
        <string>{209,171}</string>
      </dict>
      <key>monster_20141_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{165,1703},{294,182}}</string>
        <key>offset</key>
        <string>{-78,120}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{294,182}}</string>
        <key>sourceSize</key>
        <string>{294,182}</string>
      </dict>
      <key>monster_20141_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1093,1475},{213,170}}</string>
        <key>offset</key>
        <string>{-70,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{213,170}}</string>
        <key>sourceSize</key>
        <string>{213,170}</string>
      </dict>
      <key>monster_20141_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1153,1030},{205,156}}</string>
        <key>offset</key>
        <string>{-38,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,156}}</string>
        <key>sourceSize</key>
        <string>{205,156}</string>
      </dict>
      <key>monster_20141_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{507,1663},{281,189}}</string>
        <key>offset</key>
        <string>{-153,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{281,189}}</string>
        <key>sourceSize</key>
        <string>{281,189}</string>
      </dict>
      <key>monster_20141_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{624,842},{271,190}}</string>
        <key>offset</key>
        <string>{-146,134}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{271,190}}</string>
        <key>sourceSize</key>
        <string>{271,190}</string>
      </dict>
      <key>monster_20141_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{698,1816},{259,181}}</string>
        <key>offset</key>
        <string>{-127,136}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{259,181}}</string>
        <key>sourceSize</key>
        <string>{259,181}</string>
      </dict>
      <key>monster_20141_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{737,1267},{261,177}}</string>
        <key>offset</key>
        <string>{-125,123}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{261,177}}</string>
        <key>sourceSize</key>
        <string>{261,177}</string>
      </dict>
      <key>monster_20141_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{349,1671},{282,156}}</string>
        <key>offset</key>
        <string>{-98,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{282,156}}</string>
        <key>sourceSize</key>
        <string>{282,156}</string>
      </dict>
      <key>monster_20141_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{398,327},{286,158}}</string>
        <key>offset</key>
        <string>{-85,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{286,158}}</string>
        <key>sourceSize</key>
        <string>{286,158}</string>
      </dict>
      <key>monster_20141_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{566,1274},{276,169}}</string>
        <key>offset</key>
        <string>{-143,134}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{276,169}}</string>
        <key>sourceSize</key>
        <string>{276,169}</string>
      </dict>
      <key>monster_20141_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{558,285},{278,179}}</string>
        <key>offset</key>
        <string>{-152,144}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{278,179}}</string>
        <key>sourceSize</key>
        <string>{278,179}</string>
      </dict>
      <key>monster_20141_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{381,1379},{282,183}}</string>
        <key>offset</key>
        <string>{-162,148}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{282,183}}</string>
        <key>sourceSize</key>
        <string>{282,183}</string>
      </dict>
      <key>monster_20141_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,555},{269,166}}</string>
        <key>offset</key>
        <string>{-114,131}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{269,166}}</string>
        <key>sourceSize</key>
        <string>{269,166}</string>
      </dict>
      <key>monster_20141_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{624,1115},{266,150}}</string>
        <key>offset</key>
        <string>{-81,115}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{266,150}}</string>
        <key>sourceSize</key>
        <string>{266,150}</string>
      </dict>
      <key>monster_20141_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{892,1093},{259,154}}</string>
        <key>offset</key>
        <string>{-77,119}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{259,154}}</string>
        <key>sourceSize</key>
        <string>{259,154}</string>
      </dict>
      <key>monster_20141_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{674,0},{277,165}}</string>
        <key>offset</key>
        <string>{-127,139}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{277,165}}</string>
        <key>sourceSize</key>
        <string>{277,165}</string>
      </dict>
      <key>monster_20141_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{415,992},{280,207}}</string>
        <key>offset</key>
        <string>{-135,181}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{280,207}}</string>
        <key>sourceSize</key>
        <string>{280,207}</string>
      </dict>
      <key>monster_20141_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{584,565},{275,214}}</string>
        <key>offset</key>
        <string>{-127,188}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{275,214}}</string>
        <key>sourceSize</key>
        <string>{275,214}</string>
      </dict>
      <key>monster_20141_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{841,0},{273,161}}</string>
        <key>offset</key>
        <string>{-121,135}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{273,161}}</string>
        <key>sourceSize</key>
        <string>{273,161}</string>
      </dict>
      <key>monster_20141_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1222,528},{220,136}}</string>
        <key>offset</key>
        <string>{-53,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{220,136}}</string>
        <key>sourceSize</key>
        <string>{220,136}</string>
      </dict>
      <key>monster_20141_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{959,1780},{233,140}}</string>
        <key>offset</key>
        <string>{-75,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{233,140}}</string>
        <key>sourceSize</key>
        <string>{233,140}</string>
      </dict>
      <key>monster_20141_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{251,702},{288,176}}</string>
        <key>offset</key>
        <string>{-136,142}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{288,176}}</string>
        <key>sourceSize</key>
        <string>{288,176}</string>
      </dict>
      <key>monster_20141_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{890,275},{267,257}}</string>
        <key>offset</key>
        <string>{-42,223}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{267,257}}</string>
        <key>sourceSize</key>
        <string>{267,257}</string>
      </dict>
      <key>monster_20141_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{968,544},{252,258}}</string>
        <key>offset</key>
        <string>{-39,224}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{252,258}}</string>
        <key>sourceSize</key>
        <string>{252,258}</string>
      </dict>
      <key>monster_20141_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{698,1552},{262,205}}</string>
        <key>offset</key>
        <string>{-106,171}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{262,205}}</string>
        <key>sourceSize</key>
        <string>{262,205}</string>
      </dict>
      <key>monster_20141_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1306,750},{204,192}}</string>
        <key>offset</key>
        <string>{-19,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{204,192}}</string>
        <key>sourceSize</key>
        <string>{204,192}</string>
      </dict>
      <key>monster_20141_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1123,804},{224,181}}</string>
        <key>offset</key>
        <string>{-55,117}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{224,181}}</string>
        <key>sourceSize</key>
        <string>{224,181}</string>
      </dict>
      <key>monster_20141_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{469,0},{283,203}}</string>
        <key>offset</key>
        <string>{-100,165}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{283,203}}</string>
        <key>sourceSize</key>
        <string>{283,203}</string>
      </dict>
      <key>monster_20141_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,0},{325,257}}</string>
        <key>offset</key>
        <string>{-16,219}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{325,257}}</string>
        <key>sourceSize</key>
        <string>{325,257}</string>
      </dict>
      <key>monster_20141_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,726},{339,249}}</string>
        <key>offset</key>
        <string>{-16,211}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{339,249}}</string>
        <key>sourceSize</key>
        <string>{339,249}</string>
      </dict>
      <key>monster_20141_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1151,0},{252,240}}</string>
        <key>offset</key>
        <string>{-35,202}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{252,240}}</string>
        <key>sourceSize</key>
        <string>{252,240}</string>
      </dict>
      <key>monster_20141_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{905,1530},{248,186}}</string>
        <key>offset</key>
        <string>{-82,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{248,186}}</string>
        <key>sourceSize</key>
        <string>{248,186}</string>
      </dict>
      <key>monster_20141_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{227,1379},{290,152}}</string>
        <key>offset</key>
        <string>{-112,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{290,152}}</string>
        <key>sourceSize</key>
        <string>{290,152}</string>
      </dict>
      <key>monster_20141_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1149,269},{257,224}}</string>
        <key>offset</key>
        <string>{-18,190}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{257,224}}</string>
        <key>sourceSize</key>
        <string>{257,224}</string>
      </dict>
      <key>monster_20141_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{364,208}}</string>
        <key>offset</key>
        <string>{-12,174}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{364,208}}</string>
        <key>sourceSize</key>
        <string>{364,208}</string>
      </dict>
      <key>monster_20141_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,366},{358,195}}</string>
        <key>offset</key>
        <string>{-10,161}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{358,195}}</string>
        <key>sourceSize</key>
        <string>{358,195}</string>
      </dict>
      <key>monster_20141_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1386},{315,225}}</string>
        <key>offset</key>
        <string>{-39,191}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{315,225}}</string>
        <key>sourceSize</key>
        <string>{315,225}</string>
      </dict>
      <key>monster_20141_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{816,826},{265,145}}</string>
        <key>offset</key>
        <string>{-165,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{265,145}}</string>
        <key>sourceSize</key>
        <string>{265,145}</string>
      </dict>
      <key>monster_20141_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{739,279},{274,149}}</string>
        <key>offset</key>
        <string>{-156,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{274,149}}</string>
        <key>sourceSize</key>
        <string>{274,149}</string>
      </dict>
      <key>monster_20141_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1067},{317,221}}</string>
        <key>offset</key>
        <string>{-31,172}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{317,221}}</string>
        <key>sourceSize</key>
        <string>{317,221}</string>
      </dict>
      <key>monster_20141_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1703},{299,163}}</string>
        <key>offset</key>
        <string>{-14,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{299,163}}</string>
        <key>sourceSize</key>
        <string>{299,163}</string>
      </dict>
      <key>monster_20141_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{429,615},{280,153}}</string>
        <key>offset</key>
        <string>{-16,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{280,153}}</string>
        <key>sourceSize</key>
        <string>{280,153}</string>
      </dict>
      <key>monster_20141_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,366},{334,199}}</string>
        <key>offset</key>
        <string>{-28,149}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{334,199}}</string>
        <key>sourceSize</key>
        <string>{334,199}</string>
      </dict>
      <key>monster_20141_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{963,826},{259,158}}</string>
        <key>offset</key>
        <string>{-140,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{259,158}}</string>
        <key>sourceSize</key>
        <string>{259,158}</string>
      </dict>
      <key>monster_20141_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1004,0},{267,145}}</string>
        <key>offset</key>
        <string>{-104,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{267,145}}</string>
        <key>sourceSize</key>
        <string>{267,145}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20141_0_2.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_20141_0_2.png</string>
    </dict>
  </dict>
</plist>