<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_1721_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{890,190},{130,187}}</string>
        <key>offset</key>
        <string>{-15,127}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,187}}</string>
        <key>sourceSize</key>
        <string>{130,187}</string>
      </dict>
      <key>monster_1721_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{891,0},{129,188}}</string>
        <key>offset</key>
        <string>{-15,126}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,188}}</string>
        <key>sourceSize</key>
        <string>{129,188}</string>
      </dict>
      <key>monster_1721_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,0},{130,189}}</string>
        <key>offset</key>
        <string>{-15,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,189}}</string>
        <key>sourceSize</key>
        <string>{130,189}</string>
      </dict>
      <key>monster_1721_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,155},{131,190}}</string>
        <key>offset</key>
        <string>{-15,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,190}}</string>
        <key>sourceSize</key>
        <string>{131,190}</string>
      </dict>
      <key>monster_1721_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{482,784},{157,176}}</string>
        <key>offset</key>
        <string>{-28,126}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,176}}</string>
        <key>sourceSize</key>
        <string>{157,176}</string>
      </dict>
      <key>monster_1721_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{507,459},{157,176}}</string>
        <key>offset</key>
        <string>{-28,125}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,176}}</string>
        <key>sourceSize</key>
        <string>{157,176}</string>
      </dict>
      <key>monster_1721_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,445},{158,177}}</string>
        <key>offset</key>
        <string>{-29,125}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,177}}</string>
        <key>sourceSize</key>
        <string>{158,177}</string>
      </dict>
      <key>monster_1721_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{683,446},{157,176}}</string>
        <key>offset</key>
        <string>{-28,125}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,176}}</string>
        <key>sourceSize</key>
        <string>{157,176}</string>
      </dict>
      <key>monster_1721_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,398},{194,191}}</string>
        <key>offset</key>
        <string>{-43,123}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{194,191}}</string>
        <key>sourceSize</key>
        <string>{194,191}</string>
      </dict>
      <key>monster_1721_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,594},{194,191}}</string>
        <key>offset</key>
        <string>{-43,123}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{194,191}}</string>
        <key>sourceSize</key>
        <string>{194,191}</string>
      </dict>
      <key>monster_1721_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,200},{196,191}}</string>
        <key>offset</key>
        <string>{-45,123}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,191}}</string>
        <key>sourceSize</key>
        <string>{196,191}</string>
      </dict>
      <key>monster_1721_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{198,191}}</string>
        <key>offset</key>
        <string>{-47,123}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{198,191}}</string>
        <key>sourceSize</key>
        <string>{198,191}</string>
      </dict>
      <key>monster_1721_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,0},{153,191}}</string>
        <key>offset</key>
        <string>{-26,120}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,191}}</string>
        <key>sourceSize</key>
        <string>{153,191}</string>
      </dict>
      <key>monster_1721_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{507,0},{154,191}}</string>
        <key>offset</key>
        <string>{-26,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,191}}</string>
        <key>sourceSize</key>
        <string>{154,191}</string>
      </dict>
      <key>monster_1721_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{157,790},{155,192}}</string>
        <key>offset</key>
        <string>{-27,121}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,192}}</string>
        <key>sourceSize</key>
        <string>{155,192}</string>
      </dict>
      <key>monster_1721_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,790},{155,193}}</string>
        <key>offset</key>
        <string>{-27,120}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,193}}</string>
        <key>sourceSize</key>
        <string>{155,193}</string>
      </dict>
      <key>monster_1721_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{666,605},{166,176}}</string>
        <key>offset</key>
        <string>{-56,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,176}}</string>
        <key>sourceSize</key>
        <string>{166,176}</string>
      </dict>
      <key>monster_1721_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{193,605},{166,177}}</string>
        <key>offset</key>
        <string>{-56,120}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,177}}</string>
        <key>sourceSize</key>
        <string>{166,177}</string>
      </dict>
      <key>monster_1721_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,784},{166,177}}</string>
        <key>offset</key>
        <string>{-56,120}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,177}}</string>
        <key>sourceSize</key>
        <string>{166,177}</string>
      </dict>
      <key>monster_1721_0_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{844,605},{166,176}}</string>
        <key>offset</key>
        <string>{-56,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,176}}</string>
        <key>sourceSize</key>
        <string>{166,176}</string>
      </dict>
      <key>monster_1721_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1022,767},{172,161}}</string>
        <key>offset</key>
        <string>{-61,120}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{172,161}}</string>
        <key>sourceSize</key>
        <string>{172,161}</string>
      </dict>
      <key>monster_1721_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1185,767},{171,162}}</string>
        <key>offset</key>
        <string>{-59,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,162}}</string>
        <key>sourceSize</key>
        <string>{171,162}</string>
      </dict>
      <key>monster_1721_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1022,592},{173,162}}</string>
        <key>offset</key>
        <string>{-62,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,162}}</string>
        <key>sourceSize</key>
        <string>{173,162}</string>
      </dict>
      <key>monster_1721_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{844,773},{176,162}}</string>
        <key>offset</key>
        <string>{-65,121}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,162}}</string>
        <key>sourceSize</key>
        <string>{176,162}</string>
      </dict>
      <key>monster_1721_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,132},{188,155}}</string>
        <key>offset</key>
        <string>{-61,124}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,155}}</string>
        <key>sourceSize</key>
        <string>{188,155}</string>
      </dict>
      <key>monster_1721_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{506,156},{187,155}}</string>
        <key>offset</key>
        <string>{-60,124}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{187,155}}</string>
        <key>sourceSize</key>
        <string>{187,155}</string>
      </dict>
      <key>monster_1721_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,288},{186,155}}</string>
        <key>offset</key>
        <string>{-60,124}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{186,155}}</string>
        <key>sourceSize</key>
        <string>{186,155}</string>
      </dict>
      <key>monster_1721_0_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{695,289},{186,155}}</string>
        <key>offset</key>
        <string>{-60,124}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{186,155}}</string>
        <key>sourceSize</key>
        <string>{186,155}</string>
      </dict>
      <key>monster_1721_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{641,773},{145,175}}</string>
        <key>offset</key>
        <string>{-36,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,175}}</string>
        <key>sourceSize</key>
        <string>{145,175}</string>
      </dict>
      <key>monster_1721_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{861,446},{144,174}}</string>
        <key>offset</key>
        <string>{-35,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,174}}</string>
        <key>sourceSize</key>
        <string>{144,174}</string>
      </dict>
      <key>monster_1721_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{361,605},{144,177}}</string>
        <key>offset</key>
        <string>{-35,126}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,177}}</string>
        <key>sourceSize</key>
        <string>{144,177}</string>
      </dict>
      <key>monster_1721_0_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{502,313},{144,179}}</string>
        <key>offset</key>
        <string>{-35,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,179}}</string>
        <key>sourceSize</key>
        <string>{144,179}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_1721_0_0.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>monster_1721_0_0.png</string>
    </dict>
  </dict>
</plist>