<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16111_0_2_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{795,951},{462,470}}</string>
        <key>offset</key>
        <string>{-268,317}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{462,470}}</string>
        <key>sourceSize</key>
        <string>{462,470}</string>
      </dict>
      <key>monster_16111_0_2_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1298,469},{436,466}}</string>
        <key>offset</key>
        <string>{-252,312}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{436,466}}</string>
        <key>sourceSize</key>
        <string>{436,466}</string>
      </dict>
      <key>monster_16111_0_2_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{869,476},{427,467}}</string>
        <key>offset</key>
        <string>{-240,314}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{427,467}}</string>
        <key>sourceSize</key>
        <string>{427,467}</string>
      </dict>
      <key>monster_16111_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{456,475}}</string>
        <key>offset</key>
        <string>{-317,330}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{456,475}}</string>
        <key>sourceSize</key>
        <string>{456,475}</string>
      </dict>
      <key>monster_16111_0_2_2_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{1346,0},{417,466}}</string>
        <key>offset</key>
        <string>{-230,342}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{417,466}}</string>
        <key>sourceSize</key>
        <string>{417,466}</string>
      </dict>
      <key>monster_16111_0_2_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{458,0},{437,474}}</string>
        <key>offset</key>
        <string>{-281,357}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{437,474}}</string>
        <key>sourceSize</key>
        <string>{437,474}</string>
      </dict>
      <key>monster_16111_0_2_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{388,954},{405,473}}</string>
        <key>offset</key>
        <string>{-285,353}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{405,473}}</string>
        <key>sourceSize</key>
        <string>{405,473}</string>
      </dict>
      <key>monster_16111_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{897,0},{447,467}}</string>
        <key>offset</key>
        <string>{-276,372}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{447,467}}</string>
        <key>sourceSize</key>
        <string>{447,467}</string>
      </dict>
      <key>monster_16111_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{875,1423},{431,467}}</string>
        <key>offset</key>
        <string>{-272,369}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{431,467}}</string>
        <key>sourceSize</key>
        <string>{431,467}</string>
      </dict>
      <key>monster_16111_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1259,945},{425,467}}</string>
        <key>offset</key>
        <string>{-272,368}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{425,467}}</string>
        <key>sourceSize</key>
        <string>{425,467}</string>
      </dict>
      <key>monster_16111_0_2_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{439,1429},{434,472}}</string>
        <key>offset</key>
        <string>{-273,372}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{434,472}}</string>
        <key>sourceSize</key>
        <string>{434,472}</string>
      </dict>
      <key>monster_16111_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1308,1414},{410,466}}</string>
        <key>offset</key>
        <string>{-224,353}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{410,466}}</string>
        <key>sourceSize</key>
        <string>{410,466}</string>
      </dict>
      <key>monster_16111_0_2_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,954},{386,474}}</string>
        <key>offset</key>
        <string>{-205,358}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{386,474}}</string>
        <key>sourceSize</key>
        <string>{386,474}</string>
      </dict>
      <key>monster_16111_0_2_5_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{475,476},{392,473}}</string>
        <key>offset</key>
        <string>{-209,357}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{392,473}}</string>
        <key>sourceSize</key>
        <string>{392,473}</string>
      </dict>
      <key>monster_16111_0_2_5_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1430},{437,474}}</string>
        <key>offset</key>
        <string>{-241,354}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{437,474}}</string>
        <key>sourceSize</key>
        <string>{437,474}</string>
      </dict>
      <key>monster_16111_0_2_5_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,477},{475,473}}</string>
        <key>offset</key>
        <string>{-269,348}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{475,473}}</string>
        <key>sourceSize</key>
        <string>{475,473}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16111_0_2_4.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_16111_0_2_4.png</string>
    </dict>
  </dict>
</plist>