<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_1758_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{429,463},{457,241}}</string>
        <key>offset</key>
        <string>{-175,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{457,241}}</string>
        <key>sourceSize</key>
        <string>{457,241}</string>
      </dict>
      <key>monster_1758_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,473},{470,237}}</string>
        <key>offset</key>
        <string>{-190,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{470,237}}</string>
        <key>sourceSize</key>
        <string>{470,237}</string>
      </dict>
      <key>monster_1758_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,0},{461,240}}</string>
        <key>offset</key>
        <string>{-190,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{461,240}}</string>
        <key>sourceSize</key>
        <string>{461,240}</string>
      </dict>
      <key>monster_1758_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{940,283},{349,270}}</string>
        <key>offset</key>
        <string>{-149,131}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{349,270}}</string>
        <key>sourceSize</key>
        <string>{349,270}</string>
      </dict>
      <key>monster_1758_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1212,350},{347,281}}</string>
        <key>offset</key>
        <string>{-143,144}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{347,281}}</string>
        <key>sourceSize</key>
        <string>{347,281}</string>
      </dict>
      <key>monster_1758_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{646,0},{281,373}}</string>
        <key>offset</key>
        <string>{-162,220}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{281,373}}</string>
        <key>sourceSize</key>
        <string>{281,373}</string>
      </dict>
      <key>monster_1758_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{672,656},{279,353}}</string>
        <key>offset</key>
        <string>{-162,182}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{279,353}}</string>
        <key>sourceSize</key>
        <string>{279,353}</string>
      </dict>
      <key>monster_1758_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1766,0},{278,345}}</string>
        <key>offset</key>
        <string>{-160,184}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{278,345}}</string>
        <key>sourceSize</key>
        <string>{278,345}</string>
      </dict>
      <key>monster_1758_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{953,634},{348,295}}</string>
        <key>offset</key>
        <string>{-148,173}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{348,295}}</string>
        <key>sourceSize</key>
        <string>{348,295}</string>
      </dict>
      <key>monster_1758_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1212,0},{348,299}}</string>
        <key>offset</key>
        <string>{-143,185}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{348,299}}</string>
        <key>sourceSize</key>
        <string>{348,299}</string>
      </dict>
      <key>monster_1758_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{442,0},{457,202}}</string>
        <key>offset</key>
        <string>{-176,145}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{457,202}}</string>
        <key>sourceSize</key>
        <string>{457,202}</string>
      </dict>
      <key>monster_1758_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{471,198}}</string>
        <key>offset</key>
        <string>{-190,142}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{471,198}}</string>
        <key>sourceSize</key>
        <string>{471,198}</string>
      </dict>
      <key>monster_1758_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{239,463},{459,188}}</string>
        <key>offset</key>
        <string>{-189,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{459,188}}</string>
        <key>sourceSize</key>
        <string>{459,188}</string>
      </dict>
      <key>monster_1758_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{672,283},{266,371}}</string>
        <key>offset</key>
        <string>{-33,220}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{266,371}}</string>
        <key>sourceSize</key>
        <string>{266,371}</string>
      </dict>
      <key>monster_1758_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1513,0},{251,346}}</string>
        <key>offset</key>
        <string>{-31,183}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{251,346}}</string>
        <key>sourceSize</key>
        <string>{251,346}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_1758_0_1_1.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>monster_1758_0_1_1.png</string>
    </dict>
  </dict>
</plist>