<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_12051_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,755},{206,182}}</string>
        <key>offset</key>
        <string>{-73,135}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,182}}</string>
        <key>sourceSize</key>
        <string>{206,182}</string>
      </dict>
      <key>monster_12051_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{413,1308},{203,189}}</string>
        <key>offset</key>
        <string>{-69,139}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{203,189}}</string>
        <key>sourceSize</key>
        <string>{203,189}</string>
      </dict>
      <key>monster_12051_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{207,1290},{204,193}}</string>
        <key>offset</key>
        <string>{-67,140}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{204,193}}</string>
        <key>sourceSize</key>
        <string>{204,193}</string>
      </dict>
      <key>monster_12051_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,1095},{205,193}}</string>
        <key>offset</key>
        <string>{-68,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,193}}</string>
        <key>sourceSize</key>
        <string>{205,193}</string>
      </dict>
      <key>monster_12051_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1215},{205,190}}</string>
        <key>offset</key>
        <string>{-70,143}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,190}}</string>
        <key>sourceSize</key>
        <string>{205,190}</string>
      </dict>
      <key>monster_12051_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1407},{204,190}}</string>
        <key>offset</key>
        <string>{-72,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{204,190}}</string>
        <key>sourceSize</key>
        <string>{204,190}</string>
      </dict>
      <key>monster_12051_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{605,1514},{167,188}}</string>
        <key>offset</key>
        <string>{-81,133}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,188}}</string>
        <key>sourceSize</key>
        <string>{167,188}</string>
      </dict>
      <key>monster_12051_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{618,1342},{170,193}}</string>
        <key>offset</key>
        <string>{-78,134}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,193}}</string>
        <key>sourceSize</key>
        <string>{170,193}</string>
      </dict>
      <key>monster_12051_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{828,1156},{171,195}}</string>
        <key>offset</key>
        <string>{-77,133}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,195}}</string>
        <key>sourceSize</key>
        <string>{171,195}</string>
      </dict>
      <key>monster_12051_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{411,1499},{167,192}}</string>
        <key>offset</key>
        <string>{-78,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,192}}</string>
        <key>sourceSize</key>
        <string>{167,192}</string>
      </dict>
      <key>monster_12051_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{813,1353},{164,190}}</string>
        <key>offset</key>
        <string>{-80,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,190}}</string>
        <key>sourceSize</key>
        <string>{164,190}</string>
      </dict>
      <key>monster_12051_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{411,1668},{163,186}}</string>
        <key>offset</key>
        <string>{-81,135}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,186}}</string>
        <key>sourceSize</key>
        <string>{163,186}</string>
      </dict>
      <key>monster_12051_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{681,173},{113,222}}</string>
        <key>offset</key>
        <string>{-39,167}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,222}}</string>
        <key>sourceSize</key>
        <string>{113,222}</string>
      </dict>
      <key>monster_12051_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,627},{119,219}}</string>
        <key>offset</key>
        <string>{-38,164}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,219}}</string>
        <key>sourceSize</key>
        <string>{119,219}</string>
      </dict>
      <key>monster_12051_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,748},{122,215}}</string>
        <key>offset</key>
        <string>{-39,160}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,215}}</string>
        <key>sourceSize</key>
        <string>{122,215}</string>
      </dict>
      <key>monster_12051_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{905,288},{116,221}}</string>
        <key>offset</key>
        <string>{-40,164}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,221}}</string>
        <key>sourceSize</key>
        <string>{116,221}</string>
      </dict>
      <key>monster_12051_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{679,465},{114,221}}</string>
        <key>offset</key>
        <string>{-37,167}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,221}}</string>
        <key>sourceSize</key>
        <string>{114,221}</string>
      </dict>
      <key>monster_12051_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,501},{124,220}}</string>
        <key>offset</key>
        <string>{-39,169}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,220}}</string>
        <key>sourceSize</key>
        <string>{124,220}</string>
      </dict>
      <key>monster_12051_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{461,0},{167,225}}</string>
        <key>offset</key>
        <string>{-82,167}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,225}}</string>
        <key>sourceSize</key>
        <string>{167,225}</string>
      </dict>
      <key>monster_12051_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{455,169},{166,224}}</string>
        <key>offset</key>
        <string>{-83,164}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,224}}</string>
        <key>sourceSize</key>
        <string>{166,224}</string>
      </dict>
      <key>monster_12051_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{231,0},{167,228}}</string>
        <key>offset</key>
        <string>{-83,162}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,228}}</string>
        <key>sourceSize</key>
        <string>{167,228}</string>
      </dict>
      <key>monster_12051_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{688,0},{171,225}}</string>
        <key>offset</key>
        <string>{-84,163}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,225}}</string>
        <key>sourceSize</key>
        <string>{171,225}</string>
      </dict>
      <key>monster_12051_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,169},{172,225}}</string>
        <key>offset</key>
        <string>{-84,167}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{172,225}}</string>
        <key>sourceSize</key>
        <string>{172,225}</string>
      </dict>
      <key>monster_12051_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{681,288},{175,222}}</string>
        <key>offset</key>
        <string>{-81,168}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{175,222}}</string>
        <key>sourceSize</key>
        <string>{175,222}</string>
      </dict>
      <key>monster_12051_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{427,918},{206,192}}</string>
        <key>offset</key>
        <string>{-81,144}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,192}}</string>
        <key>sourceSize</key>
        <string>{206,192}</string>
      </dict>
      <key>monster_12051_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{206,1485},{203,198}}</string>
        <key>offset</key>
        <string>{-82,146}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{203,198}}</string>
        <key>sourceSize</key>
        <string>{203,198}</string>
      </dict>
      <key>monster_12051_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{622,1137},{203,204}}</string>
        <key>offset</key>
        <string>{-84,146}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{203,204}}</string>
        <key>sourceSize</key>
        <string>{203,204}</string>
      </dict>
      <key>monster_12051_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{635,939},{205,196}}</string>
        <key>offset</key>
        <string>{-85,144}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,196}}</string>
        <key>sourceSize</key>
        <string>{205,196}</string>
      </dict>
      <key>monster_12051_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{415,1112},{205,194}}</string>
        <key>offset</key>
        <string>{-83,144}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,194}}</string>
        <key>sourceSize</key>
        <string>{205,194}</string>
      </dict>
      <key>monster_12051_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1599},{203,201}}</string>
        <key>offset</key>
        <string>{-79,146}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{203,201}}</string>
        <key>sourceSize</key>
        <string>{203,201}</string>
      </dict>
      <key>monster_12051_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,332},{167,225}}</string>
        <key>offset</key>
        <string>{-34,166}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,225}}</string>
        <key>sourceSize</key>
        <string>{167,225}</string>
      </dict>
      <key>monster_12051_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{455,337},{171,222}}</string>
        <key>offset</key>
        <string>{-40,168}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,222}}</string>
        <key>sourceSize</key>
        <string>{171,222}</string>
      </dict>
      <key>monster_12051_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{672,581},{172,218}}</string>
        <key>offset</key>
        <string>{-43,169}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{172,218}}</string>
        <key>sourceSize</key>
        <string>{172,218}</string>
      </dict>
      <key>monster_12051_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{227,343},{169,221}}</string>
        <key>offset</key>
        <string>{-38,167}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,221}}</string>
        <key>sourceSize</key>
        <string>{169,221}</string>
      </dict>
      <key>monster_12051_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,165},{165,226}}</string>
        <key>offset</key>
        <string>{-33,167}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,226}}</string>
        <key>sourceSize</key>
        <string>{165,226}</string>
      </dict>
      <key>monster_12051_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{163,229}}</string>
        <key>offset</key>
        <string>{-30,167}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,229}}</string>
        <key>sourceSize</key>
        <string>{163,229}</string>
      </dict>
      <key>monster_12051_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,510},{112,220}}</string>
        <key>offset</key>
        <string>{-22,171}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,220}}</string>
        <key>sourceSize</key>
        <string>{112,220}</string>
      </dict>
      <key>monster_12051_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{902,511},{120,221}}</string>
        <key>offset</key>
        <string>{-30,172}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,221}}</string>
        <key>sourceSize</key>
        <string>{120,221}</string>
      </dict>
      <key>monster_12051_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,514},{121,220}}</string>
        <key>offset</key>
        <string>{-32,171}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,220}}</string>
        <key>sourceSize</key>
        <string>{121,220}</string>
      </dict>
      <key>monster_12051_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{444,624},{114,218}}</string>
        <key>offset</key>
        <string>{-24,170}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,218}}</string>
        <key>sourceSize</key>
        <string>{114,218}</string>
      </dict>
      <key>monster_12051_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{221,637},{114,216}}</string>
        <key>offset</key>
        <string>{-25,169}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,216}}</string>
        <key>sourceSize</key>
        <string>{114,216}</string>
      </dict>
      <key>monster_12051_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{892,734},{122,215}}</string>
        <key>offset</key>
        <string>{-34,167}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,215}}</string>
        <key>sourceSize</key>
        <string>{122,215}</string>
      </dict>
      <key>monster_12051_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,872},{168,207}}</string>
        <key>offset</key>
        <string>{-33,147}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,207}}</string>
        <key>sourceSize</key>
        <string>{168,207}</string>
      </dict>
      <key>monster_12051_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{209,927},{166,206}}</string>
        <key>offset</key>
        <string>{-31,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,206}}</string>
        <key>sourceSize</key>
        <string>{166,206}</string>
      </dict>
      <key>monster_12051_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{842,951},{167,203}}</string>
        <key>offset</key>
        <string>{-32,157}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,203}}</string>
        <key>sourceSize</key>
        <string>{167,203}</string>
      </dict>
      <key>monster_12051_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1042},{171,206}}</string>
        <key>offset</key>
        <string>{-35,156}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,206}}</string>
        <key>sourceSize</key>
        <string>{171,206}</string>
      </dict>
      <key>monster_12051_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{217,753},{172,208}}</string>
        <key>offset</key>
        <string>{-36,153}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{172,208}}</string>
        <key>sourceSize</key>
        <string>{172,208}</string>
      </dict>
      <key>monster_12051_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{439,740},{176,209}}</string>
        <key>offset</key>
        <string>{-43,150}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,209}}</string>
        <key>sourceSize</key>
        <string>{176,209}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_12051_0_1.png</string>
      <key>size</key>
      <string>{1024,2048}</string>
      <key>textureFileName</key>
      <string>monster_12051_0_1.png</string>
    </dict>
  </dict>
</plist>