<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_12132_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{575,375}}</string>
        <key>offset</key>
        <string>{-214,207}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{575,375}}</string>
        <key>sourceSize</key>
        <string>{575,375}</string>
      </dict>
      <key>monster_12132_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{479,412},{346,370}}</string>
        <key>offset</key>
        <string>{-126,199}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{346,370}}</string>
        <key>sourceSize</key>
        <string>{346,370}</string>
      </dict>
      <key>monster_12132_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1161,682},{334,275}}</string>
        <key>offset</key>
        <string>{-122,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{334,275}}</string>
        <key>sourceSize</key>
        <string>{334,275}</string>
      </dict>
      <key>monster_12132_0_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1447,0},{274,239}}</string>
        <key>offset</key>
        <string>{-106,11}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{274,239}}</string>
        <key>sourceSize</key>
        <string>{274,239}</string>
      </dict>
      <key>monster_12132_0_4_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1688,0},{274,239}}</string>
        <key>offset</key>
        <string>{-106,11}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{274,239}}</string>
        <key>sourceSize</key>
        <string>{274,239}</string>
      </dict>
      <key>monster_12132_0_4_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1688,241},{274,239}}</string>
        <key>offset</key>
        <string>{-106,11}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{274,239}}</string>
        <key>sourceSize</key>
        <string>{274,239}</string>
      </dict>
      <key>monster_12132_0_4_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1438,663},{274,239}}</string>
        <key>offset</key>
        <string>{-106,11}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{274,239}}</string>
        <key>sourceSize</key>
        <string>{274,239}</string>
      </dict>
      <key>monster_12132_0_4_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1679,482},{274,239}}</string>
        <key>offset</key>
        <string>{-106,11}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{274,239}}</string>
        <key>sourceSize</key>
        <string>{274,239}</string>
      </dict>
      <key>monster_12132_0_4_4_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1679,723},{274,239}}</string>
        <key>offset</key>
        <string>{-106,11}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{274,239}}</string>
        <key>sourceSize</key>
        <string>{274,239}</string>
      </dict>
      <key>monster_12132_0_4_4_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1438,939},{260,239}}</string>
        <key>offset</key>
        <string>{-106,11}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{260,239}}</string>
        <key>sourceSize</key>
        <string>{260,239}</string>
      </dict>
      <key>monster_12132_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,577},{477,400}}</string>
        <key>offset</key>
        <string>{-180,224}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{477,400}}</string>
        <key>sourceSize</key>
        <string>{477,400}</string>
      </dict>
      <key>monster_12132_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{672,0},{355,365}}</string>
        <key>offset</key>
        <string>{-149,196}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{355,365}}</string>
        <key>sourceSize</key>
        <string>{355,365}</string>
      </dict>
      <key>monster_12132_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{377,0},{410,293}}</string>
        <key>offset</key>
        <string>{-198,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{410,293}}</string>
        <key>sourceSize</key>
        <string>{410,293}</string>
      </dict>
      <key>monster_12132_0_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{479,784},{339,207}}</string>
        <key>offset</key>
        <string>{-166,15}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{339,207}}</string>
        <key>sourceSize</key>
        <string>{339,207}</string>
      </dict>
      <key>monster_12132_0_4_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{820,784},{339,207}}</string>
        <key>offset</key>
        <string>{-166,15}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{339,207}}</string>
        <key>sourceSize</key>
        <string>{339,207}</string>
      </dict>
      <key>monster_12132_0_4_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{827,367},{339,207}}</string>
        <key>offset</key>
        <string>{-166,15}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{339,207}}</string>
        <key>sourceSize</key>
        <string>{339,207}</string>
      </dict>
      <key>monster_12132_0_4_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1029,0},{339,207}}</string>
        <key>offset</key>
        <string>{-166,15}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{339,207}}</string>
        <key>sourceSize</key>
        <string>{339,207}</string>
      </dict>
      <key>monster_12132_0_4_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1036,341},{339,207}}</string>
        <key>offset</key>
        <string>{-166,15}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{339,207}}</string>
        <key>sourceSize</key>
        <string>{339,207}</string>
      </dict>
      <key>monster_12132_0_4_5_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1238,0},{339,207}}</string>
        <key>offset</key>
        <string>{-166,15}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{339,207}}</string>
        <key>sourceSize</key>
        <string>{339,207}</string>
      </dict>
      <key>monster_12132_0_4_5_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1245,341},{320,207}}</string>
        <key>offset</key>
        <string>{-166,15}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{320,207}}</string>
        <key>sourceSize</key>
        <string>{320,207}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_12132_0_4_2.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_12132_0_4_2.png</string>
    </dict>
  </dict>
</plist>