<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16001_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1136,568},{441,415}}</string>
        <key>offset</key>
        <string>{-83,303}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{441,415}}</string>
        <key>sourceSize</key>
        <string>{441,415}</string>
      </dict>
      <key>monster_16001_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{505,396}}</string>
        <key>offset</key>
        <string>{-112,278}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{505,396}}</string>
        <key>sourceSize</key>
        <string>{505,396}</string>
      </dict>
      <key>monster_16001_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,507},{501,282}}</string>
        <key>offset</key>
        <string>{-261,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{501,282}}</string>
        <key>sourceSize</key>
        <string>{501,282}</string>
      </dict>
      <key>monster_16001_0_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1010},{501,282}}</string>
        <key>offset</key>
        <string>{-261,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{501,282}}</string>
        <key>sourceSize</key>
        <string>{501,282}</string>
      </dict>
      <key>monster_16001_0_4_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1513},{501,282}}</string>
        <key>offset</key>
        <string>{-261,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{501,282}}</string>
        <key>sourceSize</key>
        <string>{501,282}</string>
      </dict>
      <key>monster_16001_0_4_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{284,1513},{501,282}}</string>
        <key>offset</key>
        <string>{-261,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{501,282}}</string>
        <key>sourceSize</key>
        <string>{501,282}</string>
      </dict>
      <key>monster_16001_0_4_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{284,507},{501,282}}</string>
        <key>offset</key>
        <string>{-261,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{501,282}}</string>
        <key>sourceSize</key>
        <string>{501,282}</string>
      </dict>
      <key>monster_16001_0_4_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{284,1010},{501,282}}</string>
        <key>offset</key>
        <string>{-261,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{501,282}}</string>
        <key>sourceSize</key>
        <string>{501,282}</string>
      </dict>
      <key>monster_16001_0_4_4_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{568,1010},{501,282}}</string>
        <key>offset</key>
        <string>{-261,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{501,282}}</string>
        <key>sourceSize</key>
        <string>{501,282}</string>
      </dict>
      <key>monster_16001_0_4_4_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{398,0},{501,282}}</string>
        <key>offset</key>
        <string>{-261,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{501,282}}</string>
        <key>sourceSize</key>
        <string>{501,282}</string>
      </dict>
      <key>monster_16001_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{568,503},{501,282}}</string>
        <key>offset</key>
        <string>{-261,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{501,282}}</string>
        <key>sourceSize</key>
        <string>{501,282}</string>
      </dict>
      <key>monster_16001_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{682,0},{501,282}}</string>
        <key>offset</key>
        <string>{-261,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{501,282}}</string>
        <key>sourceSize</key>
        <string>{501,282}</string>
      </dict>
      <key>monster_16001_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{568,1513},{501,282}}</string>
        <key>offset</key>
        <string>{-261,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{501,282}}</string>
        <key>sourceSize</key>
        <string>{501,282}</string>
      </dict>
      <key>monster_16001_0_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{852,1513},{501,282}}</string>
        <key>offset</key>
        <string>{-261,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{501,282}}</string>
        <key>sourceSize</key>
        <string>{501,282}</string>
      </dict>
      <key>monster_16001_0_4_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1136,0},{501,282}}</string>
        <key>offset</key>
        <string>{-261,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{501,282}}</string>
        <key>sourceSize</key>
        <string>{501,282}</string>
      </dict>
      <key>monster_16001_0_4_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1639,0},{501,282}}</string>
        <key>offset</key>
        <string>{-261,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{501,282}}</string>
        <key>sourceSize</key>
        <string>{501,282}</string>
      </dict>
      <key>monster_16001_0_4_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1136,284},{501,282}}</string>
        <key>offset</key>
        <string>{-261,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{501,282}}</string>
        <key>sourceSize</key>
        <string>{501,282}</string>
      </dict>
      <key>monster_16001_0_4_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{852,503},{501,282}}</string>
        <key>offset</key>
        <string>{-261,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{501,282}}</string>
        <key>sourceSize</key>
        <string>{501,282}</string>
      </dict>
      <key>monster_16001_0_4_5_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{852,1006},{501,282}}</string>
        <key>offset</key>
        <string>{-261,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{501,282}}</string>
        <key>sourceSize</key>
        <string>{501,282}</string>
      </dict>
      <key>monster_16001_0_4_5_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1136,1006},{501,282}}</string>
        <key>offset</key>
        <string>{-261,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{501,282}}</string>
        <key>sourceSize</key>
        <string>{501,282}</string>
      </dict>
      <key>monster_16001_0_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1639,503},{399,418}}</string>
        <key>offset</key>
        <string>{-29,262}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{399,418}}</string>
        <key>sourceSize</key>
        <string>{399,418}</string>
      </dict>
      <key>monster_16001_0_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1579,923},{395,295}}</string>
        <key>offset</key>
        <string>{-197,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{395,295}}</string>
        <key>sourceSize</key>
        <string>{395,295}</string>
      </dict>
      <key>monster_16001_0_4_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1136,1509},{395,295}}</string>
        <key>offset</key>
        <string>{-197,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{395,295}}</string>
        <key>sourceSize</key>
        <string>{395,295}</string>
      </dict>
      <key>monster_16001_0_4_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1433,1220},{395,295}}</string>
        <key>offset</key>
        <string>{-197,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{395,295}}</string>
        <key>sourceSize</key>
        <string>{395,295}</string>
      </dict>
      <key>monster_16001_0_4_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1433,1517},{395,295}}</string>
        <key>offset</key>
        <string>{-197,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{395,295}}</string>
        <key>sourceSize</key>
        <string>{395,295}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16001_0_4_1.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_16001_0_4_1.png</string>
    </dict>
  </dict>
</plist>