<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16259_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,371},{253,365}}</string>
        <key>offset</key>
        <string>{-112,245}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{253,365}}</string>
        <key>sourceSize</key>
        <string>{253,365}</string>
      </dict>
      <key>monster_16259_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{263,369}}</string>
        <key>offset</key>
        <string>{-119,253}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{263,369}}</string>
        <key>sourceSize</key>
        <string>{263,369}</string>
      </dict>
      <key>monster_16259_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{255,371},{327,363}}</string>
        <key>offset</key>
        <string>{-121,236}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{327,363}}</string>
        <key>sourceSize</key>
        <string>{327,363}</string>
      </dict>
      <key>monster_16259_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{256,736},{359,330}}</string>
        <key>offset</key>
        <string>{-178,228}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{359,330}}</string>
        <key>sourceSize</key>
        <string>{359,330}</string>
      </dict>
      <key>monster_16259_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{588,725},{315,348}}</string>
        <key>offset</key>
        <string>{-163,231}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{315,348}}</string>
        <key>sourceSize</key>
        <string>{315,348}</string>
      </dict>
      <key>monster_16259_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,738},{254,365}}</string>
        <key>offset</key>
        <string>{-112,245}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{254,365}}</string>
        <key>sourceSize</key>
        <string>{254,365}</string>
      </dict>
      <key>monster_16259_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{856,357},{348,343}}</string>
        <key>offset</key>
        <string>{-168,224}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{348,343}}</string>
        <key>sourceSize</key>
        <string>{348,343}</string>
      </dict>
      <key>monster_16259_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{584,364},{270,359}}</string>
        <key>offset</key>
        <string>{-135,246}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{270,359}}</string>
        <key>sourceSize</key>
        <string>{270,359}</string>
      </dict>
      <key>monster_16259_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1105},{295,361}}</string>
        <key>offset</key>
        <string>{-127,243}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{295,361}}</string>
        <key>sourceSize</key>
        <string>{295,361}</string>
      </dict>
      <key>monster_16259_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{621,1450},{339,309}}</string>
        <key>offset</key>
        <string>{-154,203}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{339,309}}</string>
        <key>sourceSize</key>
        <string>{339,309}</string>
      </dict>
      <key>monster_16259_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{297,1097},{336,351}}</string>
        <key>offset</key>
        <string>{-154,225}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{336,351}}</string>
        <key>sourceSize</key>
        <string>{336,351}</string>
      </dict>
      <key>monster_16259_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{913,0},{348,343}}</string>
        <key>offset</key>
        <string>{-168,224}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{348,343}}</string>
        <key>sourceSize</key>
        <string>{348,343}</string>
      </dict>
      <key>monster_16259_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{635,1075},{338,313}}</string>
        <key>offset</key>
        <string>{-162,214}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{338,313}}</string>
        <key>sourceSize</key>
        <string>{338,313}</string>
      </dict>
      <key>monster_16259_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{306,1450},{346,313}}</string>
        <key>offset</key>
        <string>{-149,213}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{346,313}}</string>
        <key>sourceSize</key>
        <string>{346,313}</string>
      </dict>
      <key>monster_16259_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{265,0},{362,337}}</string>
        <key>offset</key>
        <string>{-177,220}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{362,337}}</string>
        <key>sourceSize</key>
        <string>{362,337}</string>
      </dict>
      <key>monster_16259_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1571,0},{268,314}}</string>
        <key>offset</key>
        <string>{-110,203}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{268,314}}</string>
        <key>sourceSize</key>
        <string>{268,314}</string>
      </dict>
      <key>monster_16259_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1258,0},{311,315}}</string>
        <key>offset</key>
        <string>{-152,213}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{311,315}}</string>
        <key>sourceSize</key>
        <string>{311,315}</string>
      </dict>
      <key>monster_16259_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{905,707},{338,313}}</string>
        <key>offset</key>
        <string>{-162,214}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{338,313}}</string>
        <key>sourceSize</key>
        <string>{338,313}</string>
      </dict>
      <key>monster_16259_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1502,555},{295,309}}</string>
        <key>offset</key>
        <string>{-151,203}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{295,309}}</string>
        <key>sourceSize</key>
        <string>{295,309}</string>
      </dict>
      <key>monster_16259_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1201,350},{325,299}}</string>
        <key>offset</key>
        <string>{-143,207}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{325,299}}</string>
        <key>sourceSize</key>
        <string>{325,299}</string>
      </dict>
      <key>monster_16259_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1468},{353,304}}</string>
        <key>offset</key>
        <string>{-157,198}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{353,304}}</string>
        <key>sourceSize</key>
        <string>{353,304}</string>
      </dict>
      <key>monster_16259_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1571,270},{283,314}}</string>
        <key>offset</key>
        <string>{-117,206}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{283,314}}</string>
        <key>sourceSize</key>
        <string>{283,314}</string>
      </dict>
      <key>monster_16259_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{604,0},{355,307}}</string>
        <key>offset</key>
        <string>{-173,200}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{355,307}}</string>
        <key>sourceSize</key>
        <string>{355,307}</string>
      </dict>
      <key>monster_16259_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{932,1415},{296,309}}</string>
        <key>offset</key>
        <string>{-151,203}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{296,309}}</string>
        <key>sourceSize</key>
        <string>{296,309}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16259_0_1_0.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_16259_0_1_0.png</string>
    </dict>
  </dict>
</plist>