<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16162_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1211,0},{401,388}}</string>
        <key>offset</key>
        <string>{-178,292}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{401,388}}</string>
        <key>sourceSize</key>
        <string>{401,388}</string>
      </dict>
      <key>monster_16162_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{430,428},{416,404}}</string>
        <key>offset</key>
        <string>{-192,291}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{416,404}}</string>
        <key>sourceSize</key>
        <string>{416,404}</string>
      </dict>
      <key>monster_16162_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,908},{420,390}}</string>
        <key>offset</key>
        <string>{-189,292}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{420,390}}</string>
        <key>sourceSize</key>
        <string>{420,390}</string>
      </dict>
      <key>monster_16162_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{836,418},{411,366}}</string>
        <key>offset</key>
        <string>{-180,294}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{411,366}}</string>
        <key>sourceSize</key>
        <string>{411,366}</string>
      </dict>
      <key>monster_16162_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1209,831},{399,382}}</string>
        <key>offset</key>
        <string>{-176,289}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{399,382}}</string>
        <key>sourceSize</key>
        <string>{399,382}</string>
      </dict>
      <key>monster_16162_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{828,0},{416,381}}</string>
        <key>offset</key>
        <string>{-196,295}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{416,381}}</string>
        <key>sourceSize</key>
        <string>{416,381}</string>
      </dict>
      <key>monster_16162_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1204,418},{390,411}}</string>
        <key>offset</key>
        <string>{-148,310}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{390,411}}</string>
        <key>sourceSize</key>
        <string>{390,411}</string>
      </dict>
      <key>monster_16162_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{392,908},{414,418}}</string>
        <key>offset</key>
        <string>{-181,315}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{414,418}}</string>
        <key>sourceSize</key>
        <string>{414,418}</string>
      </dict>
      <key>monster_16162_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{418,0},{426,408}}</string>
        <key>offset</key>
        <string>{-191,307}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{426,408}}</string>
        <key>sourceSize</key>
        <string>{426,408}</string>
      </dict>
      <key>monster_16162_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,462},{428,444}}</string>
        <key>offset</key>
        <string>{-188,312}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{428,444}}</string>
        <key>sourceSize</key>
        <string>{428,444}</string>
      </dict>
      <key>monster_16162_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{416,460}}</string>
        <key>offset</key>
        <string>{-177,321}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{416,460}}</string>
        <key>sourceSize</key>
        <string>{416,460}</string>
      </dict>
      <key>monster_16162_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{808,846},{399,414}}</string>
        <key>offset</key>
        <string>{-159,315}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{399,414}}</string>
        <key>sourceSize</key>
        <string>{399,414}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16162_0_1_2.png</string>
      <key>size</key>
      <string>{1731,1537}</string>
      <key>textureFileName</key>
      <string>monster_16162_0_1_2.png</string>
    </dict>
  </dict>
</plist>