<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_12100_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{428,504},{218,237}}</string>
        <key>offset</key>
        <string>{-115,187}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{218,237}}</string>
        <key>sourceSize</key>
        <string>{218,237}</string>
      </dict>
      <key>monster_12100_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{187,534},{248,239}}</string>
        <key>offset</key>
        <string>{-110,162}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{248,239}}</string>
        <key>sourceSize</key>
        <string>{248,239}</string>
      </dict>
      <key>monster_12100_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{825,235},{185,231}}</string>
        <key>offset</key>
        <string>{-99,198}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{185,231}}</string>
        <key>sourceSize</key>
        <string>{185,231}</string>
      </dict>
      <key>monster_12100_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{452,743},{198,227}}</string>
        <key>offset</key>
        <string>{-124,169}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{198,227}}</string>
        <key>sourceSize</key>
        <string>{198,227}</string>
      </dict>
      <key>monster_12100_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{632,248},{191,235}}</string>
        <key>offset</key>
        <string>{-94,204}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{191,235}}</string>
        <key>sourceSize</key>
        <string>{191,235}</string>
      </dict>
      <key>monster_12100_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{825,468},{183,227}}</string>
        <key>offset</key>
        <string>{-105,194}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{183,227}}</string>
        <key>sourceSize</key>
        <string>{183,227}</string>
      </dict>
      <key>monster_12100_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{266,230}}</string>
        <key>offset</key>
        <string>{-109,206}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{266,230}}</string>
        <key>sourceSize</key>
        <string>{266,230}</string>
      </dict>
      <key>monster_12100_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{663,0},{203,233}}</string>
        <key>offset</key>
        <string>{-103,208}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{203,233}}</string>
        <key>sourceSize</key>
        <string>{203,233}</string>
      </dict>
      <key>monster_12100_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,785},{222,241}}</string>
        <key>offset</key>
        <string>{-66,213}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{222,241}}</string>
        <key>sourceSize</key>
        <string>{222,241}</string>
      </dict>
      <key>monster_12100_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,0},{253,236}}</string>
        <key>offset</key>
        <string>{-101,218}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{253,236}}</string>
        <key>sourceSize</key>
        <string>{253,236}</string>
      </dict>
      <key>monster_12100_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{241,255},{185,247}}</string>
        <key>offset</key>
        <string>{-47,210}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{185,247}}</string>
        <key>sourceSize</key>
        <string>{185,247}</string>
      </dict>
      <key>monster_12100_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{243,784},{207,238}}</string>
        <key>offset</key>
        <string>{-39,213}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{207,238}}</string>
        <key>sourceSize</key>
        <string>{207,238}</string>
      </dict>
      <key>monster_12100_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,534},{185,249}}</string>
        <key>offset</key>
        <string>{-56,198}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{185,249}}</string>
        <key>sourceSize</key>
        <string>{185,249}</string>
      </dict>
      <key>monster_12100_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{470,0},{191,246}}</string>
        <key>offset</key>
        <string>{-43,194}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{191,246}}</string>
        <key>sourceSize</key>
        <string>{191,246}</string>
      </dict>
      <key>monster_12100_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,268},{264,239}}</string>
        <key>offset</key>
        <string>{-117,184}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{264,239}}</string>
        <key>sourceSize</key>
        <string>{264,239}</string>
      </dict>
      <key>monster_12100_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{428,255},{202,247}}</string>
        <key>offset</key>
        <string>{-63,173}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{202,247}}</string>
        <key>sourceSize</key>
        <string>{202,247}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_12100_0_7.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>monster_12100_0_7.png</string>
    </dict>
  </dict>
</plist>