<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_2448_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{743,378},{140,193}}</string>
        <key>offset</key>
        <string>{-101,161}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,193}}</string>
        <key>sourceSize</key>
        <string>{140,193}</string>
      </dict>
      <key>monster_2448_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{539,284},{202,167}}</string>
        <key>offset</key>
        <string>{-146,135}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{202,167}}</string>
        <key>sourceSize</key>
        <string>{202,167}</string>
      </dict>
      <key>monster_2448_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{315,207}}</string>
        <key>offset</key>
        <string>{-167,145}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{315,207}}</string>
        <key>sourceSize</key>
        <string>{315,207}</string>
      </dict>
      <key>monster_2448_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,317},{279,314}}</string>
        <key>offset</key>
        <string>{-120,247}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{279,314}}</string>
        <key>sourceSize</key>
        <string>{279,314}</string>
      </dict>
      <key>monster_2448_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{209,0},{286,309}}</string>
        <key>offset</key>
        <string>{-123,246}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{286,309}}</string>
        <key>sourceSize</key>
        <string>{286,309}</string>
      </dict>
      <key>monster_2448_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,633},{276,299}}</string>
        <key>offset</key>
        <string>{-123,245}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{276,299}}</string>
        <key>sourceSize</key>
        <string>{276,299}</string>
      </dict>
      <key>monster_2448_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{762,227},{149,225}}</string>
        <key>offset</key>
        <string>{-78,191}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,225}}</string>
        <key>sourceSize</key>
        <string>{149,225}</string>
      </dict>
      <key>monster_2448_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{539,453},{158,174}}</string>
        <key>offset</key>
        <string>{-78,139}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,174}}</string>
        <key>sourceSize</key>
        <string>{158,174}</string>
      </dict>
      <key>monster_2448_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{762,0},{225,244}}</string>
        <key>offset</key>
        <string>{-127,187}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{225,244}}</string>
        <key>sourceSize</key>
        <string>{225,244}</string>
      </dict>
      <key>monster_2448_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{497,0},{263,282}}</string>
        <key>offset</key>
        <string>{-111,223}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{263,282}}</string>
        <key>sourceSize</key>
        <string>{263,282}</string>
      </dict>
      <key>monster_2448_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{278,633},{256,297}}</string>
        <key>offset</key>
        <string>{-101,244}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{256,297}}</string>
        <key>sourceSize</key>
        <string>{256,297}</string>
      </dict>
      <key>monster_2448_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{281,311},{256,291}}</string>
        <key>offset</key>
        <string>{-101,243}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{256,291}}</string>
        <key>sourceSize</key>
        <string>{256,291}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_2448_0_2_1.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>monster_2448_0_2_1.png</string>
    </dict>
  </dict>
</plist>