<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_11034_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1189},{384,292}}</string>
        <key>offset</key>
        <string>{-140,248}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{384,292}}</string>
        <key>sourceSize</key>
        <string>{384,292}</string>
      </dict>
      <key>monster_11034_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,801},{386,277}}</string>
        <key>offset</key>
        <string>{-135,233}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{386,277}}</string>
        <key>sourceSize</key>
        <string>{386,277}</string>
      </dict>
      <key>monster_11034_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{281,0},{387,313}}</string>
        <key>offset</key>
        <string>{-153,233}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{387,313}}</string>
        <key>sourceSize</key>
        <string>{387,313}</string>
      </dict>
      <key>monster_11034_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{299,389},{377,318}}</string>
        <key>offset</key>
        <string>{-168,237}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{377,318}}</string>
        <key>sourceSize</key>
        <string>{377,318}</string>
      </dict>
      <key>monster_11034_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,403},{396,297}}</string>
        <key>offset</key>
        <string>{-163,238}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{396,297}}</string>
        <key>sourceSize</key>
        <string>{396,297}</string>
      </dict>
      <key>monster_11034_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{401,279}}</string>
        <key>offset</key>
        <string>{-162,235}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{401,279}}</string>
        <key>sourceSize</key>
        <string>{401,279}</string>
      </dict>
      <key>monster_11034_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1166,0},{307,333}}</string>
        <key>offset</key>
        <string>{-80,270}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{307,333}}</string>
        <key>sourceSize</key>
        <string>{307,333}</string>
      </dict>
      <key>monster_11034_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{980,1117},{301,280}}</string>
        <key>offset</key>
        <string>{-36,227}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{301,280}}</string>
        <key>sourceSize</key>
        <string>{301,280}</string>
      </dict>
      <key>monster_11034_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{619,360},{342,311}}</string>
        <key>offset</key>
        <string>{-117,246}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{342,311}}</string>
        <key>sourceSize</key>
        <string>{342,311}</string>
      </dict>
      <key>monster_11034_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{386,1182},{349,285}}</string>
        <key>offset</key>
        <string>{-118,229}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{349,285}}</string>
        <key>sourceSize</key>
        <string>{349,285}</string>
      </dict>
      <key>monster_11034_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{596,0},{358,286}}</string>
        <key>offset</key>
        <string>{-127,233}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{358,286}}</string>
        <key>sourceSize</key>
        <string>{358,286}</string>
      </dict>
      <key>monster_11034_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{884,0},{338,280}}</string>
        <key>offset</key>
        <string>{-110,227}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{338,280}}</string>
        <key>sourceSize</key>
        <string>{338,280}</string>
      </dict>
      <key>monster_11034_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1132,608},{292,305}}</string>
        <key>offset</key>
        <string>{-64,246}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{292,305}}</string>
        <key>sourceSize</key>
        <string>{292,305}</string>
      </dict>
      <key>monster_11034_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{673,1116},{305,310}}</string>
        <key>offset</key>
        <string>{-65,218}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{305,310}}</string>
        <key>sourceSize</key>
        <string>{305,310}</string>
      </dict>
      <key>monster_11034_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1506,852},{281,278}}</string>
        <key>offset</key>
        <string>{-109,206}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{281,278}}</string>
        <key>sourceSize</key>
        <string>{281,278}</string>
      </dict>
      <key>monster_11034_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1506,567},{284,283}}</string>
        <key>offset</key>
        <string>{-97,229}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{284,283}}</string>
        <key>sourceSize</key>
        <string>{284,283}</string>
      </dict>
      <key>monster_11034_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1262,1117},{242,299}}</string>
        <key>offset</key>
        <string>{-58,237}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{242,299}}</string>
        <key>sourceSize</key>
        <string>{242,299}</string>
      </dict>
      <key>monster_11034_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1132,902},{213,305}}</string>
        <key>offset</key>
        <string>{-36,238}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{213,305}}</string>
        <key>sourceSize</key>
        <string>{213,305}</string>
      </dict>
      <key>monster_11034_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{552,768},{346,284}}</string>
        <key>offset</key>
        <string>{-100,192}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{346,284}}</string>
        <key>sourceSize</key>
        <string>{346,284}</string>
      </dict>
      <key>monster_11034_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{279,801},{379,271}}</string>
        <key>offset</key>
        <string>{-123,165}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{379,271}}</string>
        <key>sourceSize</key>
        <string>{379,271}</string>
      </dict>
      <key>monster_11034_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1166,309},{314,297}}</string>
        <key>offset</key>
        <string>{-79,206}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{314,297}}</string>
        <key>sourceSize</key>
        <string>{314,297}</string>
      </dict>
      <key>monster_11034_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1506,285},{280,288}}</string>
        <key>offset</key>
        <string>{-63,224}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{280,288}}</string>
        <key>sourceSize</key>
        <string>{280,288}</string>
      </dict>
      <key>monster_11034_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1506,0},{283,289}}</string>
        <key>offset</key>
        <string>{-79,227}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{283,289}}</string>
        <key>sourceSize</key>
        <string>{283,289}</string>
      </dict>
      <key>monster_11034_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{838,704},{307,292}}</string>
        <key>offset</key>
        <string>{-91,224}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{307,292}}</string>
        <key>sourceSize</key>
        <string>{307,292}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_11034_0_2_1.png</string>
      <key>size</key>
      <string>{1818,1538}</string>
      <key>textureFileName</key>
      <string>monster_11034_0_2_1.png</string>
    </dict>
  </dict>
</plist>