<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_5063_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{761,1332},{226,201}}</string>
        <key>offset</key>
        <string>{-85,153}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{226,201}}</string>
        <key>sourceSize</key>
        <string>{226,201}</string>
      </dict>
      <key>monster_5063_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1250,669},{221,206}}</string>
        <key>offset</key>
        <string>{-85,168}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{221,206}}</string>
        <key>sourceSize</key>
        <string>{221,206}</string>
      </dict>
      <key>monster_5063_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{809,666},{211,231}}</string>
        <key>offset</key>
        <string>{-85,188}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{211,231}}</string>
        <key>sourceSize</key>
        <string>{211,231}</string>
      </dict>
      <key>monster_5063_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{761,1069},{261,246}}</string>
        <key>offset</key>
        <string>{-140,188}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{261,246}}</string>
        <key>sourceSize</key>
        <string>{261,246}</string>
      </dict>
      <key>monster_5063_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{596,0},{296,346}}</string>
        <key>offset</key>
        <string>{-145,183}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{296,346}}</string>
        <key>sourceSize</key>
        <string>{296,346}</string>
      </dict>
      <key>monster_5063_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{724,348},{231,316}}</string>
        <key>offset</key>
        <string>{-90,153}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{231,316}}</string>
        <key>sourceSize</key>
        <string>{231,316}</string>
      </dict>
      <key>monster_5063_0_2_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1147,233},{221,281}}</string>
        <key>offset</key>
        <string>{-80,153}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{221,281}}</string>
        <key>sourceSize</key>
        <string>{221,281}</string>
      </dict>
      <key>monster_5063_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1207,1303},{191,196}}</string>
        <key>offset</key>
        <string>{-60,143}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{191,196}}</string>
        <key>sourceSize</key>
        <string>{191,196}</string>
      </dict>
      <key>monster_5063_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1009,902},{196,206}}</string>
        <key>offset</key>
        <string>{-55,163}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,206}}</string>
        <key>sourceSize</key>
        <string>{196,206}</string>
      </dict>
      <key>monster_5063_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1022,456},{226,226}}</string>
        <key>offset</key>
        <string>{-70,183}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{226,226}}</string>
        <key>sourceSize</key>
        <string>{226,226}</string>
      </dict>
      <key>monster_5063_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1147,0},{286,231}}</string>
        <key>offset</key>
        <string>{-120,183}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{286,231}}</string>
        <key>sourceSize</key>
        <string>{286,231}</string>
      </dict>
      <key>monster_5063_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1269},{391,236}}</string>
        <key>offset</key>
        <string>{-235,178}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{391,236}}</string>
        <key>sourceSize</key>
        <string>{391,236}</string>
      </dict>
      <key>monster_5063_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{248,438},{376,236}}</string>
        <key>offset</key>
        <string>{-235,168}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{376,236}}</string>
        <key>sourceSize</key>
        <string>{376,236}</string>
      </dict>
      <key>monster_5063_0_2_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{486,373},{351,236}}</string>
        <key>offset</key>
        <string>{-210,168}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{351,236}}</string>
        <key>sourceSize</key>
        <string>{351,236}</string>
      </dict>
      <key>monster_5063_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1009,1100},{181,201}}</string>
        <key>offset</key>
        <string>{-55,153}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,201}}</string>
        <key>sourceSize</key>
        <string>{181,201}</string>
      </dict>
      <key>monster_5063_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1022,684},{221,216}}</string>
        <key>offset</key>
        <string>{-70,158}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{221,216}}</string>
        <key>sourceSize</key>
        <string>{221,216}</string>
      </dict>
      <key>monster_5063_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1250,456},{211,226}}</string>
        <key>offset</key>
        <string>{-60,173}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{211,226}}</string>
        <key>sourceSize</key>
        <string>{211,226}</string>
      </dict>
      <key>monster_5063_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{581,726},{341,226}}</string>
        <key>offset</key>
        <string>{-175,173}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{341,226}}</string>
        <key>sourceSize</key>
        <string>{341,226}</string>
      </dict>
      <key>monster_5063_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{436,251}}</string>
        <key>offset</key>
        <string>{-280,203}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{436,251}}</string>
        <key>sourceSize</key>
        <string>{436,251}</string>
      </dict>
      <key>monster_5063_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,438},{431,246}}</string>
        <key>offset</key>
        <string>{-280,188}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{431,246}}</string>
        <key>sourceSize</key>
        <string>{431,246}</string>
      </dict>
      <key>monster_5063_0_2_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,871},{396,246}}</string>
        <key>offset</key>
        <string>{-245,188}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{396,246}}</string>
        <key>sourceSize</key>
        <string>{396,246}</string>
      </dict>
      <key>monster_5063_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1192,1100},{196,201}}</string>
        <key>offset</key>
        <string>{-70,153}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,201}}</string>
        <key>sourceSize</key>
        <string>{196,201}</string>
      </dict>
      <key>monster_5063_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{989,1332},{191,216}}</string>
        <key>offset</key>
        <string>{-50,158}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{191,216}}</string>
        <key>sourceSize</key>
        <string>{191,216}</string>
      </dict>
      <key>monster_5063_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1245,877},{206,211}}</string>
        <key>offset</key>
        <string>{-75,163}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,211}}</string>
        <key>sourceSize</key>
        <string>{206,211}</string>
      </dict>
      <key>monster_5063_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{894,0},{291,251}}</string>
        <key>offset</key>
        <string>{-165,198}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{291,251}}</string>
        <key>sourceSize</key>
        <string>{291,251}</string>
      </dict>
      <key>monster_5063_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{253,0},{371,341}}</string>
        <key>offset</key>
        <string>{-235,293}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{371,341}}</string>
        <key>sourceSize</key>
        <string>{371,341}</string>
      </dict>
      <key>monster_5063_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{248,816},{366,331}}</string>
        <key>offset</key>
        <string>{-235,283}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{366,331}}</string>
        <key>sourceSize</key>
        <string>{366,331}</string>
      </dict>
      <key>monster_5063_0_2_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{393,1184},{366,326}}</string>
        <key>offset</key>
        <string>{-235,273}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{366,326}}</string>
        <key>sourceSize</key>
        <string>{366,326}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_5063_0_2_1.png</string>
      <key>size</key>
      <string>{1536,1536}</string>
      <key>textureFileName</key>
      <string>monster_5063_0_2_1.png</string>
    </dict>
  </dict>
</plist>