<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_12084_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1508,997},{422,387}}</string>
        <key>offset</key>
        <string>{-138,198}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{422,387}}</string>
        <key>sourceSize</key>
        <string>{422,387}</string>
      </dict>
      <key>monster_12084_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{536,1650},{485,354}}</string>
        <key>offset</key>
        <string>{-195,206}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{485,354}}</string>
        <key>sourceSize</key>
        <string>{485,354}</string>
      </dict>
      <key>monster_12084_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{576,1055},{479,378}}</string>
        <key>offset</key>
        <string>{-197,213}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{479,378}}</string>
        <key>sourceSize</key>
        <string>{479,378}</string>
      </dict>
      <key>monster_12084_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{576,337}}</string>
        <key>offset</key>
        <string>{-201,259}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{576,337}}</string>
        <key>sourceSize</key>
        <string>{576,337}</string>
      </dict>
      <key>monster_12084_0_4_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,578},{571,253}}</string>
        <key>offset</key>
        <string>{-196,176}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{571,253}}</string>
        <key>sourceSize</key>
        <string>{571,253}</string>
      </dict>
      <key>monster_12084_0_4_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1151},{534,286}}</string>
        <key>offset</key>
        <string>{-159,181}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{534,286}}</string>
        <key>sourceSize</key>
        <string>{534,286}</string>
      </dict>
      <key>monster_12084_0_4_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{255,578},{534,286}}</string>
        <key>offset</key>
        <string>{-159,181}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{534,286}}</string>
        <key>sourceSize</key>
        <string>{534,286}</string>
      </dict>
      <key>monster_12084_0_4_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{339,0},{534,286}}</string>
        <key>offset</key>
        <string>{-159,181}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{534,286}}</string>
        <key>sourceSize</key>
        <string>{534,286}</string>
      </dict>
      <key>monster_12084_0_4_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1687},{534,286}}</string>
        <key>offset</key>
        <string>{-159,181}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{534,286}}</string>
        <key>sourceSize</key>
        <string>{534,286}</string>
      </dict>
      <key>monster_12084_0_4_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{288,1114},{534,286}}</string>
        <key>offset</key>
        <string>{-159,181}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{534,286}}</string>
        <key>sourceSize</key>
        <string>{534,286}</string>
      </dict>
      <key>monster_12084_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1364,0},{458,443}}</string>
        <key>offset</key>
        <string>{-92,212}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{458,443}}</string>
        <key>sourceSize</key>
        <string>{458,443}</string>
      </dict>
      <key>monster_12084_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{543,536},{517,409}}</string>
        <key>offset</key>
        <string>{-141,208}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{517,409}}</string>
        <key>sourceSize</key>
        <string>{517,409}</string>
      </dict>
      <key>monster_12084_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{627,0},{482,405}}</string>
        <key>offset</key>
        <string>{-106,217}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{482,405}}</string>
        <key>sourceSize</key>
        <string>{482,405}</string>
      </dict>
      <key>monster_12084_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1034,0},{459,328}}</string>
        <key>offset</key>
        <string>{-31,265}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{459,328}}</string>
        <key>sourceSize</key>
        <string>{459,328}</string>
      </dict>
      <key>monster_12084_0_4_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{954,484},{461,246}}</string>
        <key>offset</key>
        <string>{-33,152}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{461,246}}</string>
        <key>sourceSize</key>
        <string>{461,246}</string>
      </dict>
      <key>monster_12084_0_4_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1364,445},{452,274}}</string>
        <key>offset</key>
        <string>{-24,152}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{452,274}}</string>
        <key>sourceSize</key>
        <string>{452,274}</string>
      </dict>
      <key>monster_12084_0_4_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{956,947},{452,274}}</string>
        <key>offset</key>
        <string>{-24,152}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{452,274}}</string>
        <key>sourceSize</key>
        <string>{452,274}</string>
      </dict>
      <key>monster_12084_0_4_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1023,1401},{452,274}}</string>
        <key>offset</key>
        <string>{-24,152}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{452,274}}</string>
        <key>sourceSize</key>
        <string>{452,274}</string>
      </dict>
      <key>monster_12084_0_4_1_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1232,721},{452,274}}</string>
        <key>offset</key>
        <string>{-24,152}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{452,274}}</string>
        <key>sourceSize</key>
        <string>{452,274}</string>
      </dict>
      <key>monster_12084_0_4_1_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1508,721},{452,274}}</string>
        <key>offset</key>
        <string>{-24,152}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{452,274}}</string>
        <key>sourceSize</key>
        <string>{452,274}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_12084_0_4_0.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_12084_0_4_0.png</string>
    </dict>
  </dict>
</plist>