<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16302_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{864,1580},{320,370}}</string>
        <key>offset</key>
        <string>{-105,306}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{320,370}}</string>
        <key>sourceSize</key>
        <string>{320,370}</string>
      </dict>
      <key>monster_16302_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1641,756},{325,360}}</string>
        <key>offset</key>
        <string>{-81,296}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{325,360}}</string>
        <key>sourceSize</key>
        <string>{325,360}</string>
      </dict>
      <key>monster_16302_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1641,1083},{357,354}}</string>
        <key>offset</key>
        <string>{-95,291}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{357,354}}</string>
        <key>sourceSize</key>
        <string>{357,354}</string>
      </dict>
      <key>monster_16302_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{312,1220},{392,351}}</string>
        <key>offset</key>
        <string>{-126,289}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{392,351}}</string>
        <key>sourceSize</key>
        <string>{392,351}</string>
      </dict>
      <key>monster_16302_0_2_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{340,803},{389,354}}</string>
        <key>offset</key>
        <string>{-125,293}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{389,354}}</string>
        <key>sourceSize</key>
        <string>{389,354}</string>
      </dict>
      <key>monster_16302_0_2_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1019,1169},{367,356}}</string>
        <key>offset</key>
        <string>{-121,287}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{367,356}}</string>
        <key>sourceSize</key>
        <string>{367,356}</string>
      </dict>
      <key>monster_16302_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1220},{310,394}}</string>
        <key>offset</key>
        <string>{-135,317}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{310,394}}</string>
        <key>sourceSize</key>
        <string>{310,394}</string>
      </dict>
      <key>monster_16302_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1688,0},{377,331}}</string>
        <key>offset</key>
        <string>{-163,260}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{377,331}}</string>
        <key>sourceSize</key>
        <string>{377,331}</string>
      </dict>
      <key>monster_16302_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1486,1741},{340,301}}</string>
        <key>offset</key>
        <string>{-143,251}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{340,301}}</string>
        <key>sourceSize</key>
        <string>{340,301}</string>
      </dict>
      <key>monster_16302_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1486,1439},{351,300}}</string>
        <key>offset</key>
        <string>{-129,251}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{351,300}}</string>
        <key>sourceSize</key>
        <string>{351,300}</string>
      </dict>
      <key>monster_16302_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{323,402},{399,378}}</string>
        <key>offset</key>
        <string>{-139,328}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{399,378}}</string>
        <key>sourceSize</key>
        <string>{399,378}</string>
      </dict>
      <key>monster_16302_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1186,1538},{355,298}}</string>
        <key>offset</key>
        <string>{-94,246}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{355,298}}</string>
        <key>sourceSize</key>
        <string>{355,298}</string>
      </dict>
      <key>monster_16302_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{696,803},{383,274}}</string>
        <key>offset</key>
        <string>{-127,223}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{383,274}}</string>
        <key>sourceSize</key>
        <string>{383,274}</string>
      </dict>
      <key>monster_16302_0_2_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,411},{405,321}}</string>
        <key>offset</key>
        <string>{-149,270}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{405,321}}</string>
        <key>sourceSize</key>
        <string>{405,321}</string>
      </dict>
      <key>monster_16302_0_2_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{308,0},{400,318}}</string>
        <key>offset</key>
        <string>{-147,269}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{400,318}}</string>
        <key>sourceSize</key>
        <string>{400,318}</string>
      </dict>
      <key>monster_16302_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1314,766},{362,325}}</string>
        <key>offset</key>
        <string>{-157,270}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{362,325}}</string>
        <key>sourceSize</key>
        <string>{362,325}</string>
      </dict>
      <key>monster_16302_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1068,385},{304,379}}</string>
        <key>offset</key>
        <string>{-73,324}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{304,379}}</string>
        <key>sourceSize</key>
        <string>{304,379}</string>
      </dict>
      <key>monster_16302_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1374,380},{368,292}}</string>
        <key>offset</key>
        <string>{-150,212}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{368,292}}</string>
        <key>sourceSize</key>
        <string>{368,292}</string>
      </dict>
      <key>monster_16302_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{972,785},{382,340}}</string>
        <key>offset</key>
        <string>{-150,260}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{382,340}}</string>
        <key>sourceSize</key>
        <string>{382,340}</string>
      </dict>
      <key>monster_16302_0_2_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{703,400},{383,363}}</string>
        <key>offset</key>
        <string>{-149,283}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{383,363}}</string>
        <key>sourceSize</key>
        <string>{383,363}</string>
      </dict>
      <key>monster_16302_0_2_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{970,0},{383,356}}</string>
        <key>offset</key>
        <string>{-148,284}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{383,356}}</string>
        <key>sourceSize</key>
        <string>{383,356}</string>
      </dict>
      <key>monster_16302_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1688,379},{375,300}}</string>
        <key>offset</key>
        <string>{-152,255}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{375,300}}</string>
        <key>sourceSize</key>
        <string>{375,300}</string>
      </dict>
      <key>monster_16302_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1328,0},{358,378}}</string>
        <key>offset</key>
        <string>{-120,332}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{358,378}}</string>
        <key>sourceSize</key>
        <string>{358,378}</string>
      </dict>
      <key>monster_16302_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{564,1614},{387,298}}</string>
        <key>offset</key>
        <string>{-174,250}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{387,298}}</string>
        <key>sourceSize</key>
        <string>{387,298}</string>
      </dict>
      <key>monster_16302_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1616},{394,274}}</string>
        <key>offset</key>
        <string>{-172,227}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{394,274}}</string>
        <key>sourceSize</key>
        <string>{394,274}</string>
      </dict>
      <key>monster_16302_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{306,409}}</string>
        <key>offset</key>
        <string>{-68,333}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{306,409}}</string>
        <key>sourceSize</key>
        <string>{306,409}</string>
      </dict>
      <key>monster_16302_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{276,1616},{286,394}}</string>
        <key>offset</key>
        <string>{-42,317}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{286,394}}</string>
        <key>sourceSize</key>
        <string>{286,394}</string>
      </dict>
      <key>monster_16302_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{665,1194},{384,352}}</string>
        <key>offset</key>
        <string>{-182,275}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{384,352}}</string>
        <key>sourceSize</key>
        <string>{384,352}</string>
      </dict>
      <key>monster_16302_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,818},{400,338}}</string>
        <key>offset</key>
        <string>{-179,261}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{400,338}}</string>
        <key>sourceSize</key>
        <string>{400,338}</string>
      </dict>
      <key>monster_16302_0_2_7_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{628,0},{398,340}}</string>
        <key>offset</key>
        <string>{-181,263}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{398,340}}</string>
        <key>sourceSize</key>
        <string>{398,340}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16302_0_2_1.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_16302_0_2_1.png</string>
    </dict>
  </dict>
</plist>