<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_8103_0_9_0_0056.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{480,433}}</string>
        <key>offset</key>
        <string>{-268,263}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{480,433}}</string>
        <key>sourceSize</key>
        <string>{480,433}</string>
      </dict>
      <key>monster_8103_0_9_0_0057.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,953},{439,441}}</string>
        <key>offset</key>
        <string>{-228,269}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{439,441}}</string>
        <key>sourceSize</key>
        <string>{439,441}</string>
      </dict>
      <key>monster_8103_0_9_0_0058.png</key>
      <dict>
        <key>frame</key>
        <string>{{1214,856},{440,453}}</string>
        <key>offset</key>
        <string>{-228,279}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{440,453}}</string>
        <key>sourceSize</key>
        <string>{440,453}</string>
      </dict>
      <key>monster_8103_0_9_0_0059.png</key>
      <dict>
        <key>frame</key>
        <string>{{821,0},{441,460}}</string>
        <key>offset</key>
        <string>{-227,285}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{441,460}}</string>
        <key>sourceSize</key>
        <string>{441,460}</string>
      </dict>
      <key>monster_8103_0_9_0_0060.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,482},{422,469}}</string>
        <key>offset</key>
        <string>{-208,293}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{422,469}}</string>
        <key>sourceSize</key>
        <string>{422,469}</string>
      </dict>
      <key>monster_8103_0_9_0_0061.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,482},{395,467}}</string>
        <key>offset</key>
        <string>{-182,289}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{395,467}}</string>
        <key>sourceSize</key>
        <string>{395,467}</string>
      </dict>
      <key>monster_8103_0_9_0_0062.png</key>
      <dict>
        <key>frame</key>
        <string>{{821,462},{391,459}}</string>
        <key>offset</key>
        <string>{-176,281}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{391,459}}</string>
        <key>sourceSize</key>
        <string>{391,459}</string>
      </dict>
      <key>monster_8103_0_9_0_0063.png</key>
      <dict>
        <key>frame</key>
        <string>{{1214,462},{392,456}}</string>
        <key>offset</key>
        <string>{-178,280}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{392,456}}</string>
        <key>sourceSize</key>
        <string>{392,456}</string>
      </dict>
      <key>monster_8103_0_9_1_0056.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{480,433}}</string>
        <key>offset</key>
        <string>{-268,263}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{480,433}}</string>
        <key>sourceSize</key>
        <string>{480,433}</string>
      </dict>
      <key>monster_8103_0_9_2_0056.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{480,433}}</string>
        <key>offset</key>
        <string>{-268,263}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{480,433}}</string>
        <key>sourceSize</key>
        <string>{480,433}</string>
      </dict>
      <key>monster_8103_0_9_3_0056.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{480,433}}</string>
        <key>offset</key>
        <string>{-268,263}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{480,433}}</string>
        <key>sourceSize</key>
        <string>{480,433}</string>
      </dict>
      <key>monster_8103_0_9_4_0056.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{480,433}}</string>
        <key>offset</key>
        <string>{-268,263}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{480,433}}</string>
        <key>sourceSize</key>
        <string>{480,433}</string>
      </dict>
      <key>monster_8103_0_9_5_0056.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{480,433}}</string>
        <key>offset</key>
        <string>{-268,263}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{480,433}}</string>
        <key>sourceSize</key>
        <string>{480,433}</string>
      </dict>
      <key>monster_8103_0_9_6_0056.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{480,433}}</string>
        <key>offset</key>
        <string>{-268,263}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{480,433}}</string>
        <key>sourceSize</key>
        <string>{480,433}</string>
      </dict>
      <key>monster_8103_0_9_7_0056.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{480,433}}</string>
        <key>offset</key>
        <string>{-268,263}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{480,433}}</string>
        <key>sourceSize</key>
        <string>{480,433}</string>
      </dict>
      <key>monster_8103_0_9_1_0057.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,953},{439,441}}</string>
        <key>offset</key>
        <string>{-228,269}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{439,441}}</string>
        <key>sourceSize</key>
        <string>{439,441}</string>
      </dict>
      <key>monster_8103_0_9_2_0057.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,953},{439,441}}</string>
        <key>offset</key>
        <string>{-228,269}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{439,441}}</string>
        <key>sourceSize</key>
        <string>{439,441}</string>
      </dict>
      <key>monster_8103_0_9_3_0057.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,953},{439,441}}</string>
        <key>offset</key>
        <string>{-228,269}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{439,441}}</string>
        <key>sourceSize</key>
        <string>{439,441}</string>
      </dict>
      <key>monster_8103_0_9_4_0057.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,953},{439,441}}</string>
        <key>offset</key>
        <string>{-228,269}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{439,441}}</string>
        <key>sourceSize</key>
        <string>{439,441}</string>
      </dict>
      <key>monster_8103_0_9_5_0057.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,953},{439,441}}</string>
        <key>offset</key>
        <string>{-228,269}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{439,441}}</string>
        <key>sourceSize</key>
        <string>{439,441}</string>
      </dict>
      <key>monster_8103_0_9_6_0057.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,953},{439,441}}</string>
        <key>offset</key>
        <string>{-228,269}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{439,441}}</string>
        <key>sourceSize</key>
        <string>{439,441}</string>
      </dict>
      <key>monster_8103_0_9_7_0057.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,953},{439,441}}</string>
        <key>offset</key>
        <string>{-228,269}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{439,441}}</string>
        <key>sourceSize</key>
        <string>{439,441}</string>
      </dict>
      <key>monster_8103_0_9_1_0058.png</key>
      <dict>
        <key>frame</key>
        <string>{{1214,856},{440,453}}</string>
        <key>offset</key>
        <string>{-228,279}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{440,453}}</string>
        <key>sourceSize</key>
        <string>{440,453}</string>
      </dict>
      <key>monster_8103_0_9_2_0058.png</key>
      <dict>
        <key>frame</key>
        <string>{{1214,856},{440,453}}</string>
        <key>offset</key>
        <string>{-228,279}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{440,453}}</string>
        <key>sourceSize</key>
        <string>{440,453}</string>
      </dict>
      <key>monster_8103_0_9_3_0058.png</key>
      <dict>
        <key>frame</key>
        <string>{{1214,856},{440,453}}</string>
        <key>offset</key>
        <string>{-228,279}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{440,453}}</string>
        <key>sourceSize</key>
        <string>{440,453}</string>
      </dict>
      <key>monster_8103_0_9_4_0058.png</key>
      <dict>
        <key>frame</key>
        <string>{{1214,856},{440,453}}</string>
        <key>offset</key>
        <string>{-228,279}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{440,453}}</string>
        <key>sourceSize</key>
        <string>{440,453}</string>
      </dict>
      <key>monster_8103_0_9_5_0058.png</key>
      <dict>
        <key>frame</key>
        <string>{{1214,856},{440,453}}</string>
        <key>offset</key>
        <string>{-228,279}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{440,453}}</string>
        <key>sourceSize</key>
        <string>{440,453}</string>
      </dict>
      <key>monster_8103_0_9_6_0058.png</key>
      <dict>
        <key>frame</key>
        <string>{{1214,856},{440,453}}</string>
        <key>offset</key>
        <string>{-228,279}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{440,453}}</string>
        <key>sourceSize</key>
        <string>{440,453}</string>
      </dict>
      <key>monster_8103_0_9_7_0058.png</key>
      <dict>
        <key>frame</key>
        <string>{{1214,856},{440,453}}</string>
        <key>offset</key>
        <string>{-228,279}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{440,453}}</string>
        <key>sourceSize</key>
        <string>{440,453}</string>
      </dict>
      <key>monster_8103_0_9_1_0059.png</key>
      <dict>
        <key>frame</key>
        <string>{{821,0},{441,460}}</string>
        <key>offset</key>
        <string>{-227,285}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{441,460}}</string>
        <key>sourceSize</key>
        <string>{441,460}</string>
      </dict>
      <key>monster_8103_0_9_2_0059.png</key>
      <dict>
        <key>frame</key>
        <string>{{821,0},{441,460}}</string>
        <key>offset</key>
        <string>{-227,285}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{441,460}}</string>
        <key>sourceSize</key>
        <string>{441,460}</string>
      </dict>
      <key>monster_8103_0_9_3_0059.png</key>
      <dict>
        <key>frame</key>
        <string>{{821,0},{441,460}}</string>
        <key>offset</key>
        <string>{-227,285}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{441,460}}</string>
        <key>sourceSize</key>
        <string>{441,460}</string>
      </dict>
      <key>monster_8103_0_9_4_0059.png</key>
      <dict>
        <key>frame</key>
        <string>{{821,0},{441,460}}</string>
        <key>offset</key>
        <string>{-227,285}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{441,460}}</string>
        <key>sourceSize</key>
        <string>{441,460}</string>
      </dict>
      <key>monster_8103_0_9_5_0059.png</key>
      <dict>
        <key>frame</key>
        <string>{{821,0},{441,460}}</string>
        <key>offset</key>
        <string>{-227,285}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{441,460}}</string>
        <key>sourceSize</key>
        <string>{441,460}</string>
      </dict>
      <key>monster_8103_0_9_6_0059.png</key>
      <dict>
        <key>frame</key>
        <string>{{821,0},{441,460}}</string>
        <key>offset</key>
        <string>{-227,285}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{441,460}}</string>
        <key>sourceSize</key>
        <string>{441,460}</string>
      </dict>
      <key>monster_8103_0_9_7_0059.png</key>
      <dict>
        <key>frame</key>
        <string>{{821,0},{441,460}}</string>
        <key>offset</key>
        <string>{-227,285}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{441,460}}</string>
        <key>sourceSize</key>
        <string>{441,460}</string>
      </dict>
      <key>monster_8103_0_9_1_0060.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,482},{422,469}}</string>
        <key>offset</key>
        <string>{-208,293}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{422,469}}</string>
        <key>sourceSize</key>
        <string>{422,469}</string>
      </dict>
      <key>monster_8103_0_9_2_0060.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,482},{422,469}}</string>
        <key>offset</key>
        <string>{-208,293}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{422,469}}</string>
        <key>sourceSize</key>
        <string>{422,469}</string>
      </dict>
      <key>monster_8103_0_9_3_0060.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,482},{422,469}}</string>
        <key>offset</key>
        <string>{-208,293}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{422,469}}</string>
        <key>sourceSize</key>
        <string>{422,469}</string>
      </dict>
      <key>monster_8103_0_9_4_0060.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,482},{422,469}}</string>
        <key>offset</key>
        <string>{-208,293}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{422,469}}</string>
        <key>sourceSize</key>
        <string>{422,469}</string>
      </dict>
      <key>monster_8103_0_9_5_0060.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,482},{422,469}}</string>
        <key>offset</key>
        <string>{-208,293}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{422,469}}</string>
        <key>sourceSize</key>
        <string>{422,469}</string>
      </dict>
      <key>monster_8103_0_9_6_0060.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,482},{422,469}}</string>
        <key>offset</key>
        <string>{-208,293}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{422,469}}</string>
        <key>sourceSize</key>
        <string>{422,469}</string>
      </dict>
      <key>monster_8103_0_9_7_0060.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,482},{422,469}}</string>
        <key>offset</key>
        <string>{-208,293}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{422,469}}</string>
        <key>sourceSize</key>
        <string>{422,469}</string>
      </dict>
      <key>monster_8103_0_9_1_0061.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,482},{395,467}}</string>
        <key>offset</key>
        <string>{-182,289}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{395,467}}</string>
        <key>sourceSize</key>
        <string>{395,467}</string>
      </dict>
      <key>monster_8103_0_9_2_0061.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,482},{395,467}}</string>
        <key>offset</key>
        <string>{-182,289}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{395,467}}</string>
        <key>sourceSize</key>
        <string>{395,467}</string>
      </dict>
      <key>monster_8103_0_9_3_0061.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,482},{395,467}}</string>
        <key>offset</key>
        <string>{-182,289}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{395,467}}</string>
        <key>sourceSize</key>
        <string>{395,467}</string>
      </dict>
      <key>monster_8103_0_9_4_0061.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,482},{395,467}}</string>
        <key>offset</key>
        <string>{-182,289}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{395,467}}</string>
        <key>sourceSize</key>
        <string>{395,467}</string>
      </dict>
      <key>monster_8103_0_9_5_0061.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,482},{395,467}}</string>
        <key>offset</key>
        <string>{-182,289}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{395,467}}</string>
        <key>sourceSize</key>
        <string>{395,467}</string>
      </dict>
      <key>monster_8103_0_9_6_0061.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,482},{395,467}}</string>
        <key>offset</key>
        <string>{-182,289}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{395,467}}</string>
        <key>sourceSize</key>
        <string>{395,467}</string>
      </dict>
      <key>monster_8103_0_9_7_0061.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,482},{395,467}}</string>
        <key>offset</key>
        <string>{-182,289}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{395,467}}</string>
        <key>sourceSize</key>
        <string>{395,467}</string>
      </dict>
      <key>monster_8103_0_9_1_0062.png</key>
      <dict>
        <key>frame</key>
        <string>{{821,462},{391,459}}</string>
        <key>offset</key>
        <string>{-176,281}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{391,459}}</string>
        <key>sourceSize</key>
        <string>{391,459}</string>
      </dict>
      <key>monster_8103_0_9_2_0062.png</key>
      <dict>
        <key>frame</key>
        <string>{{821,462},{391,459}}</string>
        <key>offset</key>
        <string>{-176,281}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{391,459}}</string>
        <key>sourceSize</key>
        <string>{391,459}</string>
      </dict>
      <key>monster_8103_0_9_3_0062.png</key>
      <dict>
        <key>frame</key>
        <string>{{821,462},{391,459}}</string>
        <key>offset</key>
        <string>{-176,281}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{391,459}}</string>
        <key>sourceSize</key>
        <string>{391,459}</string>
      </dict>
      <key>monster_8103_0_9_4_0062.png</key>
      <dict>
        <key>frame</key>
        <string>{{821,462},{391,459}}</string>
        <key>offset</key>
        <string>{-176,281}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{391,459}}</string>
        <key>sourceSize</key>
        <string>{391,459}</string>
      </dict>
      <key>monster_8103_0_9_5_0062.png</key>
      <dict>
        <key>frame</key>
        <string>{{821,462},{391,459}}</string>
        <key>offset</key>
        <string>{-176,281}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{391,459}}</string>
        <key>sourceSize</key>
        <string>{391,459}</string>
      </dict>
      <key>monster_8103_0_9_6_0062.png</key>
      <dict>
        <key>frame</key>
        <string>{{821,462},{391,459}}</string>
        <key>offset</key>
        <string>{-176,281}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{391,459}}</string>
        <key>sourceSize</key>
        <string>{391,459}</string>
      </dict>
      <key>monster_8103_0_9_7_0062.png</key>
      <dict>
        <key>frame</key>
        <string>{{821,462},{391,459}}</string>
        <key>offset</key>
        <string>{-176,281}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{391,459}}</string>
        <key>sourceSize</key>
        <string>{391,459}</string>
      </dict>
      <key>monster_8103_0_9_1_0063.png</key>
      <dict>
        <key>frame</key>
        <string>{{1214,462},{392,456}}</string>
        <key>offset</key>
        <string>{-178,280}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{392,456}}</string>
        <key>sourceSize</key>
        <string>{392,456}</string>
      </dict>
      <key>monster_8103_0_9_2_0063.png</key>
      <dict>
        <key>frame</key>
        <string>{{1214,462},{392,456}}</string>
        <key>offset</key>
        <string>{-178,280}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{392,456}}</string>
        <key>sourceSize</key>
        <string>{392,456}</string>
      </dict>
      <key>monster_8103_0_9_3_0063.png</key>
      <dict>
        <key>frame</key>
        <string>{{1214,462},{392,456}}</string>
        <key>offset</key>
        <string>{-178,280}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{392,456}}</string>
        <key>sourceSize</key>
        <string>{392,456}</string>
      </dict>
      <key>monster_8103_0_9_4_0063.png</key>
      <dict>
        <key>frame</key>
        <string>{{1214,462},{392,456}}</string>
        <key>offset</key>
        <string>{-178,280}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{392,456}}</string>
        <key>sourceSize</key>
        <string>{392,456}</string>
      </dict>
      <key>monster_8103_0_9_5_0063.png</key>
      <dict>
        <key>frame</key>
        <string>{{1214,462},{392,456}}</string>
        <key>offset</key>
        <string>{-178,280}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{392,456}}</string>
        <key>sourceSize</key>
        <string>{392,456}</string>
      </dict>
      <key>monster_8103_0_9_6_0063.png</key>
      <dict>
        <key>frame</key>
        <string>{{1214,462},{392,456}}</string>
        <key>offset</key>
        <string>{-178,280}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{392,456}}</string>
        <key>sourceSize</key>
        <string>{392,456}</string>
      </dict>
      <key>monster_8103_0_9_7_0063.png</key>
      <dict>
        <key>frame</key>
        <string>{{1214,462},{392,456}}</string>
        <key>offset</key>
        <string>{-178,280}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{392,456}}</string>
        <key>sourceSize</key>
        <string>{392,456}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_8103_0_9_7.png</string>
      <key>size</key>
      <string>{1672,1733}</string>
      <key>textureFileName</key>
      <string>monster_8103_0_9_7.png</string>
    </dict>
  </dict>
</plist>