<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_2445_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{693,0},{262,500}}</string>
        <key>offset</key>
        <string>{-115,368}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{262,500}}</string>
        <key>sourceSize</key>
        <string>{262,500}</string>
      </dict>
      <key>monster_2445_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{827,555},{272,472}}</string>
        <key>offset</key>
        <string>{-99,331}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{272,472}}</string>
        <key>sourceSize</key>
        <string>{272,472}</string>
      </dict>
      <key>monster_2445_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{443,0},{248,513}}</string>
        <key>offset</key>
        <string>{-95,359}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{248,513}}</string>
        <key>sourceSize</key>
        <string>{248,513}</string>
      </dict>
      <key>monster_2445_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1118},{389,484}}</string>
        <key>offset</key>
        <string>{-175,369}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{389,484}}</string>
        <key>sourceSize</key>
        <string>{389,484}</string>
      </dict>
      <key>monster_2445_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{486,1095},{382,473}}</string>
        <key>offset</key>
        <string>{-168,369}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{382,473}}</string>
        <key>sourceSize</key>
        <string>{382,473}</string>
      </dict>
      <key>monster_2445_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1101,555},{384,410}}</string>
        <key>offset</key>
        <string>{-154,328}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{384,410}}</string>
        <key>sourceSize</key>
        <string>{384,410}</string>
      </dict>
      <key>monster_2445_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{957,254},{299,488}}</string>
        <key>offset</key>
        <string>{-105,392}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{299,488}}</string>
        <key>sourceSize</key>
        <string>{299,488}</string>
      </dict>
      <key>monster_2445_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{961,1029},{247,469}}</string>
        <key>offset</key>
        <string>{-111,357}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{247,469}}</string>
        <key>sourceSize</key>
        <string>{247,469}</string>
      </dict>
      <key>monster_2445_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{957,0},{252,492}}</string>
        <key>offset</key>
        <string>{-75,365}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{252,492}}</string>
        <key>sourceSize</key>
        <string>{252,492}</string>
      </dict>
      <key>monster_2445_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{376,559},{534,449}}</string>
        <key>offset</key>
        <string>{-122,385}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{534,449}}</string>
        <key>sourceSize</key>
        <string>{534,449}</string>
      </dict>
      <key>monster_2445_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{557,441}}</string>
        <key>offset</key>
        <string>{-145,385}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{557,441}}</string>
        <key>sourceSize</key>
        <string>{557,441}</string>
      </dict>
      <key>monster_2445_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,559},{557,374}}</string>
        <key>offset</key>
        <string>{-136,318}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{557,374}}</string>
        <key>sourceSize</key>
        <string>{557,374}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_2445_0_2_0.png</string>
      <key>size</key>
      <string>{1536,1536}</string>
      <key>textureFileName</key>
      <string>monster_2445_0_2_0.png</string>
    </dict>
  </dict>
</plist>