<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16351_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{469,276},{118,93}}</string>
        <key>offset</key>
        <string>{-52,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,93}}</string>
        <key>sourceSize</key>
        <string>{118,93}</string>
      </dict>
      <key>monster_16351_0_4_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{153,120}}</string>
        <key>offset</key>
        <string>{-62,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,120}}</string>
        <key>sourceSize</key>
        <string>{153,120}</string>
      </dict>
      <key>monster_16351_0_4_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,155},{153,120}}</string>
        <key>offset</key>
        <string>{-62,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,120}}</string>
        <key>sourceSize</key>
        <string>{153,120}</string>
      </dict>
      <key>monster_16351_0_4_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,310},{153,120}}</string>
        <key>offset</key>
        <string>{-62,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,120}}</string>
        <key>sourceSize</key>
        <string>{153,120}</string>
      </dict>
      <key>monster_16351_0_4_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,310},{153,120}}</string>
        <key>offset</key>
        <string>{-62,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,120}}</string>
        <key>sourceSize</key>
        <string>{153,120}</string>
      </dict>
      <key>monster_16351_0_4_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,0},{153,120}}</string>
        <key>offset</key>
        <string>{-62,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,120}}</string>
        <key>sourceSize</key>
        <string>{153,120}</string>
      </dict>
      <key>monster_16351_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{469,396},{118,93}}</string>
        <key>offset</key>
        <string>{-52,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,93}}</string>
        <key>sourceSize</key>
        <string>{118,93}</string>
      </dict>
      <key>monster_16351_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{556,121},{118,98}}</string>
        <key>offset</key>
        <string>{-46,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,98}}</string>
        <key>sourceSize</key>
        <string>{118,98}</string>
      </dict>
      <key>monster_16351_0_4_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,155},{153,120}}</string>
        <key>offset</key>
        <string>{-62,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,120}}</string>
        <key>sourceSize</key>
        <string>{153,120}</string>
      </dict>
      <key>monster_16351_0_4_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,155},{153,120}}</string>
        <key>offset</key>
        <string>{-62,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,120}}</string>
        <key>sourceSize</key>
        <string>{153,120}</string>
      </dict>
      <key>monster_16351_0_4_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,0},{153,120}}</string>
        <key>offset</key>
        <string>{-62,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,120}}</string>
        <key>sourceSize</key>
        <string>{153,120}</string>
      </dict>
      <key>monster_16351_0_4_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,0},{153,120}}</string>
        <key>offset</key>
        <string>{-62,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,120}}</string>
        <key>sourceSize</key>
        <string>{153,120}</string>
      </dict>
      <key>monster_16351_0_4_1_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,310},{153,120}}</string>
        <key>offset</key>
        <string>{-62,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,120}}</string>
        <key>sourceSize</key>
        <string>{153,120}</string>
      </dict>
      <key>monster_16351_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{583,0},{118,93}}</string>
        <key>offset</key>
        <string>{-52,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,93}}</string>
        <key>sourceSize</key>
        <string>{118,93}</string>
      </dict>
      <key>monster_16351_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{564,241},{118,98}}</string>
        <key>offset</key>
        <string>{-46,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,98}}</string>
        <key>sourceSize</key>
        <string>{118,98}</string>
      </dict>
      <key>monster_16351_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{656,120},{118,93}}</string>
        <key>offset</key>
        <string>{-52,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,93}}</string>
        <key>sourceSize</key>
        <string>{118,93}</string>
      </dict>
      <key>monster_16351_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{678,0},{118,98}}</string>
        <key>offset</key>
        <string>{-46,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,98}}</string>
        <key>sourceSize</key>
        <string>{118,98}</string>
      </dict>
      <key>monster_16351_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{589,361},{118,93}}</string>
        <key>offset</key>
        <string>{-52,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,93}}</string>
        <key>sourceSize</key>
        <string>{118,93}</string>
      </dict>
      <key>monster_16351_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{664,240},{118,98}}</string>
        <key>offset</key>
        <string>{-46,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,98}}</string>
        <key>sourceSize</key>
        <string>{118,98}</string>
      </dict>
      <key>monster_16351_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,155},{119,93}}</string>
        <key>offset</key>
        <string>{-41,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,93}}</string>
        <key>sourceSize</key>
        <string>{119,93}</string>
      </dict>
      <key>monster_16351_0_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{461,155},{119,93}}</string>
        <key>offset</key>
        <string>{-36,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,93}}</string>
        <key>sourceSize</key>
        <string>{119,93}</string>
      </dict>
      <key>monster_16351_0_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{488,0},{119,93}}</string>
        <key>offset</key>
        <string>{-45,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,93}}</string>
        <key>sourceSize</key>
        <string>{119,93}</string>
      </dict>
      <key>monster_16351_0_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,310},{143,101}}</string>
        <key>offset</key>
        <string>{-57,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,101}}</string>
        <key>sourceSize</key>
        <string>{143,101}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16351_0_4_2.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>monster_16351_0_4_2.png</string>
    </dict>
  </dict>
</plist>