<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_12048_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{620,626},{560,620}}</string>
        <key>offset</key>
        <string>{-272,543}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{560,620}}</string>
        <key>sourceSize</key>
        <string>{560,620}</string>
      </dict>
      <key>monster_12048_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1253},{617,595}}</string>
        <key>offset</key>
        <string>{-411,562}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{617,595}}</string>
        <key>sourceSize</key>
        <string>{617,595}</string>
      </dict>
      <key>monster_12048_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1206,0},{623,556}}</string>
        <key>offset</key>
        <string>{-179,389}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{623,556}}</string>
        <key>sourceSize</key>
        <string>{623,556}</string>
      </dict>
      <key>monster_12048_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{618,629}}</string>
        <key>offset</key>
        <string>{-236,466}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{618,629}}</string>
        <key>sourceSize</key>
        <string>{618,629}</string>
      </dict>
      <key>monster_12048_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1206,558},{542,622}}</string>
        <key>offset</key>
        <string>{-268,538}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{542,622}}</string>
        <key>sourceSize</key>
        <string>{542,622}</string>
      </dict>
      <key>monster_12048_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{620,0},{624,584}}</string>
        <key>offset</key>
        <string>{-279,544}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{624,584}}</string>
        <key>sourceSize</key>
        <string>{624,584}</string>
      </dict>
      <key>monster_12048_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1193,1102},{569,592}}</string>
        <key>offset</key>
        <string>{-270,545}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{569,592}}</string>
        <key>sourceSize</key>
        <string>{569,592}</string>
      </dict>
      <key>monster_12048_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{597,1253},{601,594}}</string>
        <key>offset</key>
        <string>{-287,541}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{601,594}}</string>
        <key>sourceSize</key>
        <string>{601,594}</string>
      </dict>
      <key>monster_12048_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,631},{620,617}}</string>
        <key>offset</key>
        <string>{-483,539}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{620,617}}</string>
        <key>sourceSize</key>
        <string>{620,617}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_12048_0_2_5.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_12048_0_2_5.png</string>
    </dict>
  </dict>
</plist>