<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16170_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{814,285},{314,375}}</string>
        <key>offset</key>
        <string>{-132,309}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{314,375}}</string>
        <key>sourceSize</key>
        <string>{314,375}</string>
      </dict>
      <key>monster_16170_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{414,285},{304,398}}</string>
        <key>offset</key>
        <string>{-147,331}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{304,398}}</string>
        <key>sourceSize</key>
        <string>{304,398}</string>
      </dict>
      <key>monster_16170_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{428,0},{283,417}}</string>
        <key>offset</key>
        <string>{-153,342}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{283,417}}</string>
        <key>sourceSize</key>
        <string>{283,417}</string>
      </dict>
      <key>monster_16170_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{273,426}}</string>
        <key>offset</key>
        <string>{-160,340}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{273,426}}</string>
        <key>sourceSize</key>
        <string>{273,426}</string>
      </dict>
      <key>monster_16170_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,275},{271,412}}</string>
        <key>offset</key>
        <string>{-159,336}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{271,412}}</string>
        <key>sourceSize</key>
        <string>{271,412}</string>
      </dict>
      <key>monster_16170_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{588,915},{302,357}}</string>
        <key>offset</key>
        <string>{-104,291}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{302,357}}</string>
        <key>sourceSize</key>
        <string>{302,357}</string>
      </dict>
      <key>monster_16170_0_2_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{588,601},{312,358}}</string>
        <key>offset</key>
        <string>{-108,292}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{312,358}}</string>
        <key>sourceSize</key>
        <string>{312,358}</string>
      </dict>
      <key>monster_16170_0_2_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{290,854},{296,376}}</string>
        <key>offset</key>
        <string>{-101,292}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{296,376}}</string>
        <key>sourceSize</key>
        <string>{296,376}</string>
      </dict>
      <key>monster_16170_0_2_4_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,854},{288,381}}</string>
        <key>offset</key>
        <string>{-91,296}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{288,381}}</string>
        <key>sourceSize</key>
        <string>{288,381}</string>
      </dict>
      <key>monster_16170_0_2_4_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,548},{304,384}}</string>
        <key>offset</key>
        <string>{-110,301}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{304,384}}</string>
        <key>sourceSize</key>
        <string>{304,384}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16170_0_2_4.png</string>
      <key>size</key>
      <string>{1210,1280}</string>
      <key>textureFileName</key>
      <string>monster_16170_0_2_4.png</string>
    </dict>
  </dict>
</plist>