<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16482_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{241,999},{242,283}}</string>
        <key>offset</key>
        <string>{-99,207}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{242,283}}</string>
        <key>sourceSize</key>
        <string>{242,283}</string>
      </dict>
      <key>monster_16482_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{489,298},{270,236}}</string>
        <key>offset</key>
        <string>{-64,160}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{270,236}}</string>
        <key>sourceSize</key>
        <string>{270,236}</string>
      </dict>
      <key>monster_16482_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1013},{239,312}}</string>
        <key>offset</key>
        <string>{-120,203}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{239,312}}</string>
        <key>sourceSize</key>
        <string>{239,312}</string>
      </dict>
      <key>monster_16482_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{237,322},{299,250}}</string>
        <key>offset</key>
        <string>{-28,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{299,250}}</string>
        <key>sourceSize</key>
        <string>{299,250}</string>
      </dict>
      <key>monster_16482_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1122,0},{188,221}}</string>
        <key>offset</key>
        <string>{-29,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,221}}</string>
        <key>sourceSize</key>
        <string>{188,221}</string>
      </dict>
      <key>monster_16482_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{727,269},{230,218}}</string>
        <key>offset</key>
        <string>{-38,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{230,218}}</string>
        <key>sourceSize</key>
        <string>{230,218}</string>
      </dict>
      <key>monster_16482_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{635,0},{267,267}}</string>
        <key>offset</key>
        <string>{-71,183}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{267,267}}</string>
        <key>sourceSize</key>
        <string>{267,267}</string>
      </dict>
      <key>monster_16482_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,355},{340,235}}</string>
        <key>offset</key>
        <string>{-94,151}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{340,235}}</string>
        <key>sourceSize</key>
        <string>{340,235}</string>
      </dict>
      <key>monster_16482_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{209,697},{236,300}}</string>
        <key>offset</key>
        <string>{-128,210}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{236,300}}</string>
        <key>sourceSize</key>
        <string>{236,300}</string>
      </dict>
      <key>monster_16482_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{192,0},{192,320}}</string>
        <key>offset</key>
        <string>{-81,116}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{192,320}}</string>
        <key>sourceSize</key>
        <string>{192,320}</string>
      </dict>
      <key>monster_16482_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{241,1284},{276,210}}</string>
        <key>offset</key>
        <string>{-81,114}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{276,210}}</string>
        <key>sourceSize</key>
        <string>{276,210}</string>
      </dict>
      <key>monster_16482_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{689,905},{240,199}}</string>
        <key>offset</key>
        <string>{-107,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{240,199}}</string>
        <key>sourceSize</key>
        <string>{240,199}</string>
      </dict>
      <key>monster_16482_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{725,570},{234,228}}</string>
        <key>offset</key>
        <string>{-84,156}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{234,228}}</string>
        <key>sourceSize</key>
        <string>{234,228}</string>
      </dict>
      <key>monster_16482_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{519,1165},{242,200}}</string>
        <key>offset</key>
        <string>{-74,128}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{242,200}}</string>
        <key>sourceSize</key>
        <string>{242,200}</string>
      </dict>
      <key>monster_16482_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{386,0},{296,247}}</string>
        <key>offset</key>
        <string>{-104,163}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{296,247}}</string>
        <key>sourceSize</key>
        <string>{296,247}</string>
      </dict>
      <key>monster_16482_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{447,623},{276,280}}</string>
        <key>offset</key>
        <string>{-174,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{276,280}}</string>
        <key>sourceSize</key>
        <string>{276,280}</string>
      </dict>
      <key>monster_16482_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{485,905},{258,202}}</string>
        <key>offset</key>
        <string>{-119,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,202}}</string>
        <key>sourceSize</key>
        <string>{258,202}</string>
      </dict>
      <key>monster_16482_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1312,0},{209,201}}</string>
        <key>offset</key>
        <string>{-117,118}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,201}}</string>
        <key>sourceSize</key>
        <string>{209,201}</string>
      </dict>
      <key>monster_16482_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1327},{226,193}}</string>
        <key>offset</key>
        <string>{-66,123}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{226,193}}</string>
        <key>sourceSize</key>
        <string>{226,193}</string>
      </dict>
      <key>monster_16482_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{904,0},{224,216}}</string>
        <key>offset</key>
        <string>{-64,147}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{224,216}}</string>
        <key>sourceSize</key>
        <string>{224,216}</string>
      </dict>
      <key>monster_16482_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,697},{314,207}}</string>
        <key>offset</key>
        <string>{-118,140}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{314,207}}</string>
        <key>sourceSize</key>
        <string>{314,207}</string>
      </dict>
      <key>monster_16482_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{353,190}}</string>
        <key>offset</key>
        <string>{-280,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{353,190}}</string>
        <key>sourceSize</key>
        <string>{353,190}</string>
      </dict>
      <key>monster_16482_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{947,226},{199,224}}</string>
        <key>offset</key>
        <string>{-123,122}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{199,224}}</string>
        <key>sourceSize</key>
        <string>{199,224}</string>
      </dict>
      <key>monster_16482_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1312,203},{193,205}}</string>
        <key>offset</key>
        <string>{-131,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{193,205}}</string>
        <key>sourceSize</key>
        <string>{193,205}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16482_0_2_1.png</string>
      <key>size</key>
      <string>{1536,1536}</string>
      <key>textureFileName</key>
      <string>monster_16482_0_2_1.png</string>
    </dict>
  </dict>
</plist>