<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_10214_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{787,0},{84,115}}</string>
        <key>offset</key>
        <string>{7,87}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,115}}</string>
        <key>sourceSize</key>
        <string>{84,115}</string>
      </dict>
      <key>monster_10214_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{795,117},{59,105}}</string>
        <key>offset</key>
        <string>{7,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,105}}</string>
        <key>sourceSize</key>
        <string>{59,105}</string>
      </dict>
      <key>monster_10214_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{971,164},{50,92}}</string>
        <key>offset</key>
        <string>{10,55}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,92}}</string>
        <key>sourceSize</key>
        <string>{50,92}</string>
      </dict>
      <key>monster_10214_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{430,150},{45,139}}</string>
        <key>offset</key>
        <string>{10,104}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{45,139}}</string>
        <key>sourceSize</key>
        <string>{45,139}</string>
      </dict>
      <key>monster_10214_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{572,141},{53,134}}</string>
        <key>offset</key>
        <string>{9,100}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,134}}</string>
        <key>sourceSize</key>
        <string>{53,134}</string>
      </dict>
      <key>monster_10214_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{873,0},{68,115}}</string>
        <key>offset</key>
        <string>{-4,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,115}}</string>
        <key>sourceSize</key>
        <string>{68,115}</string>
      </dict>
      <key>monster_10214_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{613,0},{57,133}}</string>
        <key>offset</key>
        <string>{7,88}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,133}}</string>
        <key>sourceSize</key>
        <string>{57,133}</string>
      </dict>
      <key>monster_10214_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{865,448},{89,100}}</string>
        <key>offset</key>
        <string>{1,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,100}}</string>
        <key>sourceSize</key>
        <string>{89,100}</string>
      </dict>
      <key>monster_10214_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{615,496},{95,89}}</string>
        <key>offset</key>
        <string>{-11,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,89}}</string>
        <key>sourceSize</key>
        <string>{95,89}</string>
      </dict>
      <key>monster_10214_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{285,0},{150,109}}</string>
        <key>offset</key>
        <string>{-6,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,109}}</string>
        <key>sourceSize</key>
        <string>{150,109}</string>
      </dict>
      <key>monster_10214_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{320,152},{148,108}}</string>
        <key>offset</key>
        <string>{-5,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,108}}</string>
        <key>sourceSize</key>
        <string>{148,108}</string>
      </dict>
      <key>monster_10214_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{748,402},{92,115}}</string>
        <key>offset</key>
        <string>{-1,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,115}}</string>
        <key>sourceSize</key>
        <string>{92,115}</string>
      </dict>
      <key>monster_10214_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,458},{49,142}}</string>
        <key>offset</key>
        <string>{2,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{49,142}}</string>
        <key>sourceSize</key>
        <string>{49,142}</string>
      </dict>
      <key>monster_10214_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{915,258},{101,93}}</string>
        <key>offset</key>
        <string>{-10,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,93}}</string>
        <key>sourceSize</key>
        <string>{101,93}</string>
      </dict>
      <key>monster_10214_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{712,496},{95,86}}</string>
        <key>offset</key>
        <string>{-18,55}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,86}}</string>
        <key>sourceSize</key>
        <string>{95,86}</string>
      </dict>
      <key>monster_10214_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{202,82}}</string>
        <key>offset</key>
        <string>{-6,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{202,82}}</string>
        <key>sourceSize</key>
        <string>{202,82}</string>
      </dict>
      <key>monster_10214_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,408},{195,80}}</string>
        <key>offset</key>
        <string>{-6,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{195,80}}</string>
        <key>sourceSize</key>
        <string>{195,80}</string>
      </dict>
      <key>monster_10214_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{476,291},{139,105}}</string>
        <key>offset</key>
        <string>{0,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,105}}</string>
        <key>sourceSize</key>
        <string>{139,105}</string>
      </dict>
      <key>monster_10214_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{615,412},{82,131}}</string>
        <key>offset</key>
        <string>{-30,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,131}}</string>
        <key>sourceSize</key>
        <string>{82,131}</string>
      </dict>
      <key>monster_10214_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{865,164},{92,104}}</string>
        <key>offset</key>
        <string>{-15,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,104}}</string>
        <key>sourceSize</key>
        <string>{92,104}</string>
      </dict>
      <key>monster_10214_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,490},{82,98}}</string>
        <key>offset</key>
        <string>{-21,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,98}}</string>
        <key>sourceSize</key>
        <string>{82,98}</string>
      </dict>
      <key>monster_10214_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,0},{151,117}}</string>
        <key>offset</key>
        <string>{2,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,117}}</string>
        <key>sourceSize</key>
        <string>{151,117}</string>
      </dict>
      <key>monster_10214_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{84,197},{154,115}}</string>
        <key>offset</key>
        <string>{-2,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,115}}</string>
        <key>sourceSize</key>
        <string>{154,115}</string>
      </dict>
      <key>monster_10214_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{627,135},{132,113}}</string>
        <key>offset</key>
        <string>{-5,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,113}}</string>
        <key>sourceSize</key>
        <string>{132,113}</string>
      </dict>
      <key>monster_10214_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{642,269},{93,131}}</string>
        <key>offset</key>
        <string>{-38,98}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,131}}</string>
        <key>sourceSize</key>
        <string>{93,131}</string>
      </dict>
      <key>monster_10214_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{742,134},{51,122}}</string>
        <key>offset</key>
        <string>{-1,72}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{51,122}}</string>
        <key>sourceSize</key>
        <string>{51,122}</string>
      </dict>
      <key>monster_10214_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{84,353},{52,103}}</string>
        <key>offset</key>
        <string>{-2,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,103}}</string>
        <key>sourceSize</key>
        <string>{52,103}</string>
      </dict>
      <key>monster_10214_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{477,150},{40,139}}</string>
        <key>offset</key>
        <string>{8,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{40,139}}</string>
        <key>sourceSize</key>
        <string>{40,139}</string>
      </dict>
      <key>monster_10214_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{519,141},{51,137}}</string>
        <key>offset</key>
        <string>{-4,40}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{51,137}}</string>
        <key>sourceSize</key>
        <string>{51,137}</string>
      </dict>
      <key>monster_10214_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{476,432},{67,137}}</string>
        <key>offset</key>
        <string>{-2,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,137}}</string>
        <key>sourceSize</key>
        <string>{67,137}</string>
      </dict>
      <key>monster_10214_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{737,269},{82,131}}</string>
        <key>offset</key>
        <string>{-2,96}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,131}}</string>
        <key>sourceSize</key>
        <string>{82,131}</string>
      </dict>
      <key>monster_10214_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{821,258},{92,104}}</string>
        <key>offset</key>
        <string>{-27,67}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,104}}</string>
        <key>sourceSize</key>
        <string>{92,104}</string>
      </dict>
      <key>monster_10214_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,581},{82,98}}</string>
        <key>offset</key>
        <string>{-11,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,98}}</string>
        <key>sourceSize</key>
        <string>{82,98}</string>
      </dict>
      <key>monster_10214_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{201,153},{151,117}}</string>
        <key>offset</key>
        <string>{-103,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,117}}</string>
        <key>sourceSize</key>
        <string>{151,117}</string>
      </dict>
      <key>monster_10214_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,353},{154,115}}</string>
        <key>offset</key>
        <string>{-102,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,115}}</string>
        <key>sourceSize</key>
        <string>{154,115}</string>
      </dict>
      <key>monster_10214_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{672,0},{132,113}}</string>
        <key>offset</key>
        <string>{-77,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,113}}</string>
        <key>sourceSize</key>
        <string>{132,113}</string>
      </dict>
      <key>monster_10214_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{425,302},{49,142}}</string>
        <key>offset</key>
        <string>{-1,92}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{49,142}}</string>
        <key>sourceSize</key>
        <string>{49,142}</string>
      </dict>
      <key>monster_10214_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{915,353},{101,93}}</string>
        <key>offset</key>
        <string>{-41,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,93}}</string>
        <key>sourceSize</key>
        <string>{101,93}</string>
      </dict>
      <key>monster_10214_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{458,501},{95,86}}</string>
        <key>offset</key>
        <string>{-27,55}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,86}}</string>
        <key>sourceSize</key>
        <string>{95,86}</string>
      </dict>
      <key>monster_10214_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,204},{202,82}}</string>
        <key>offset</key>
        <string>{-146,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{202,82}}</string>
        <key>sourceSize</key>
        <string>{202,82}</string>
      </dict>
      <key>monster_10214_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{84,0},{195,80}}</string>
        <key>offset</key>
        <string>{-139,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{195,80}}</string>
        <key>sourceSize</key>
        <string>{195,80}</string>
      </dict>
      <key>monster_10214_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{506,0},{139,105}}</string>
        <key>offset</key>
        <string>{-89,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,105}}</string>
        <key>sourceSize</key>
        <string>{139,105}</string>
      </dict>
      <key>monster_10214_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{583,277},{57,133}}</string>
        <key>offset</key>
        <string>{-14,88}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,133}}</string>
        <key>sourceSize</key>
        <string>{57,133}</string>
      </dict>
      <key>monster_10214_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,490},{89,100}}</string>
        <key>offset</key>
        <string>{-40,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,100}}</string>
        <key>sourceSize</key>
        <string>{89,100}</string>
      </dict>
      <key>monster_10214_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{809,539},{95,89}}</string>
        <key>offset</key>
        <string>{-34,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,89}}</string>
        <key>sourceSize</key>
        <string>{95,89}</string>
      </dict>
      <key>monster_10214_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,306},{150,109}}</string>
        <key>offset</key>
        <string>{-94,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,109}}</string>
        <key>sourceSize</key>
        <string>{150,109}</string>
      </dict>
      <key>monster_10214_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,0},{148,108}}</string>
        <key>offset</key>
        <string>{-93,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,108}}</string>
        <key>sourceSize</key>
        <string>{148,108}</string>
      </dict>
      <key>monster_10214_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{873,70},{92,115}}</string>
        <key>offset</key>
        <string>{-41,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,115}}</string>
        <key>sourceSize</key>
        <string>{92,115}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_10214_0_2.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>monster_10214_0_2.png</string>
    </dict>
  </dict>
</plist>