<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_12105_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,785},{257,183}}</string>
        <key>offset</key>
        <string>{-100,146}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{257,183}}</string>
        <key>sourceSize</key>
        <string>{257,183}</string>
      </dict>
      <key>monster_12105_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{184,261},{257,184}}</string>
        <key>offset</key>
        <string>{-101,147}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{257,184}}</string>
        <key>sourceSize</key>
        <string>{257,184}</string>
      </dict>
      <key>monster_12105_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{183,0},{259,183}}</string>
        <key>offset</key>
        <string>{-101,147}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{259,183}}</string>
        <key>sourceSize</key>
        <string>{259,183}</string>
      </dict>
      <key>monster_12105_0_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,263},{260,182}}</string>
        <key>offset</key>
        <string>{-100,146}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{260,182}}</string>
        <key>sourceSize</key>
        <string>{260,182}</string>
      </dict>
      <key>monster_12105_0_0_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{261,181}}</string>
        <key>offset</key>
        <string>{-99,145}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{261,181}}</string>
        <key>sourceSize</key>
        <string>{261,181}</string>
      </dict>
      <key>monster_12105_0_0_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,525},{258,182}}</string>
        <key>offset</key>
        <string>{-98,145}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,182}}</string>
        <key>sourceSize</key>
        <string>{258,182}</string>
      </dict>
      <key>monster_12105_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{370,255},{252,210}}</string>
        <key>offset</key>
        <string>{-75,165}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{252,210}}</string>
        <key>sourceSize</key>
        <string>{252,210}</string>
      </dict>
      <key>monster_12105_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{368,0},{253,210}}</string>
        <key>offset</key>
        <string>{-75,165}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{253,210}}</string>
        <key>sourceSize</key>
        <string>{253,210}</string>
      </dict>
      <key>monster_12105_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{184,520},{253,211}}</string>
        <key>offset</key>
        <string>{-74,166}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{253,211}}</string>
        <key>sourceSize</key>
        <string>{253,211}</string>
      </dict>
      <key>monster_12105_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{580,0},{252,211}}</string>
        <key>offset</key>
        <string>{-73,166}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{252,211}}</string>
        <key>sourceSize</key>
        <string>{252,211}</string>
      </dict>
      <key>monster_12105_0_0_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{259,775},{251,211}}</string>
        <key>offset</key>
        <string>{-73,166}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{251,211}}</string>
        <key>sourceSize</key>
        <string>{251,211}</string>
      </dict>
      <key>monster_12105_0_0_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{397,509},{251,210}}</string>
        <key>offset</key>
        <string>{-74,165}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{251,210}}</string>
        <key>sourceSize</key>
        <string>{251,210}</string>
      </dict>
      <key>monster_12105_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{776,494},{169,234}}</string>
        <key>offset</key>
        <string>{-29,175}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,234}}</string>
        <key>sourceSize</key>
        <string>{169,234}</string>
      </dict>
      <key>monster_12105_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{796,239},{173,234}}</string>
        <key>offset</key>
        <string>{-30,177}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,234}}</string>
        <key>sourceSize</key>
        <string>{173,234}</string>
      </dict>
      <key>monster_12105_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{684,732},{173,235}}</string>
        <key>offset</key>
        <string>{-28,177}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,235}}</string>
        <key>sourceSize</key>
        <string>{173,235}</string>
      </dict>
      <key>monster_12105_0_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{512,762},{170,236}}</string>
        <key>offset</key>
        <string>{-27,176}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,236}}</string>
        <key>sourceSize</key>
        <string>{170,236}</string>
      </dict>
      <key>monster_12105_0_0_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{793,0},{164,237}}</string>
        <key>offset</key>
        <string>{-26,174}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,237}}</string>
        <key>sourceSize</key>
        <string>{164,237}</string>
      </dict>
      <key>monster_12105_0_0_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{609,494},{165,236}}</string>
        <key>offset</key>
        <string>{-28,174}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,236}}</string>
        <key>sourceSize</key>
        <string>{165,236}</string>
      </dict>
      <key>monster_12105_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{947,475},{206,233}}</string>
        <key>offset</key>
        <string>{-33,158}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,233}}</string>
        <key>sourceSize</key>
        <string>{206,233}</string>
      </dict>
      <key>monster_12105_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{971,236},{205,230}}</string>
        <key>offset</key>
        <string>{-34,156}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,230}}</string>
        <key>sourceSize</key>
        <string>{205,230}</string>
      </dict>
      <key>monster_12105_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1171,0},{208,228}}</string>
        <key>offset</key>
        <string>{-36,154}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,228}}</string>
        <key>sourceSize</key>
        <string>{208,228}</string>
      </dict>
      <key>monster_12105_0_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{959,0},{210,234}}</string>
        <key>offset</key>
        <string>{-37,157}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{210,234}}</string>
        <key>sourceSize</key>
        <string>{210,234}</string>
      </dict>
      <key>monster_12105_0_0_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{582,254},{212,238}}</string>
        <key>offset</key>
        <string>{-38,161}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{212,238}}</string>
        <key>sourceSize</key>
        <string>{212,238}</string>
      </dict>
      <key>monster_12105_0_0_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{859,730},{209,234}}</string>
        <key>offset</key>
        <string>{-36,157}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,234}}</string>
        <key>sourceSize</key>
        <string>{209,234}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_12105_0_0_1.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>monster_12105_0_0_1.png</string>
    </dict>
  </dict>
</plist>