<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_2189_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{288,0},{106,91}}</string>
        <key>offset</key>
        <string>{-28,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,91}}</string>
        <key>sourceSize</key>
        <string>{106,91}</string>
      </dict>
      <key>monster_2189_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{93,0},{107,93}}</string>
        <key>offset</key>
        <string>{-28,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,93}}</string>
        <key>sourceSize</key>
        <string>{107,93}</string>
      </dict>
      <key>monster_2189_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{93,109},{107,94}}</string>
        <key>offset</key>
        <string>{-27,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,94}}</string>
        <key>sourceSize</key>
        <string>{107,94}</string>
      </dict>
      <key>monster_2189_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{92,232},{110,94}}</string>
        <key>offset</key>
        <string>{-29,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,94}}</string>
        <key>sourceSize</key>
        <string>{110,94}</string>
      </dict>
      <key>monster_2189_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,347},{112,93}}</string>
        <key>offset</key>
        <string>{-30,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,93}}</string>
        <key>sourceSize</key>
        <string>{112,93}</string>
      </dict>
      <key>monster_2189_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,117},{113,91}}</string>
        <key>offset</key>
        <string>{-30,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,91}}</string>
        <key>sourceSize</key>
        <string>{113,91}</string>
      </dict>
      <key>monster_2189_0_1_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{115,91}}</string>
        <key>offset</key>
        <string>{-30,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,91}}</string>
        <key>sourceSize</key>
        <string>{115,91}</string>
      </dict>
      <key>monster_2189_0_1_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,232},{113,90}}</string>
        <key>offset</key>
        <string>{-29,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,90}}</string>
        <key>sourceSize</key>
        <string>{113,90}</string>
      </dict>
      <key>monster_2189_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{439,105},{101,98}}</string>
        <key>offset</key>
        <string>{-14,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,98}}</string>
        <key>sourceSize</key>
        <string>{101,98}</string>
      </dict>
      <key>monster_2189_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{361,324},{102,96}}</string>
        <key>offset</key>
        <string>{-14,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,96}}</string>
        <key>sourceSize</key>
        <string>{102,96}</string>
      </dict>
      <key>monster_2189_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{188,0},{107,98}}</string>
        <key>offset</key>
        <string>{-17,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,98}}</string>
        <key>sourceSize</key>
        <string>{107,98}</string>
      </dict>
      <key>monster_2189_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{483,0},{101,99}}</string>
        <key>offset</key>
        <string>{-17,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,99}}</string>
        <key>sourceSize</key>
        <string>{101,99}</string>
      </dict>
      <key>monster_2189_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{459,318},{101,100}}</string>
        <key>offset</key>
        <string>{-18,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,100}}</string>
        <key>sourceSize</key>
        <string>{101,100}</string>
      </dict>
      <key>monster_2189_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,327},{104,99}}</string>
        <key>offset</key>
        <string>{-19,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,99}}</string>
        <key>sourceSize</key>
        <string>{104,99}</string>
      </dict>
      <key>monster_2189_0_1_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{381,0},{103,100}}</string>
        <key>offset</key>
        <string>{-17,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,100}}</string>
        <key>sourceSize</key>
        <string>{103,100}</string>
      </dict>
      <key>monster_2189_0_1_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{276,218},{104,99}}</string>
        <key>offset</key>
        <string>{-16,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,99}}</string>
        <key>sourceSize</key>
        <string>{104,99}</string>
      </dict>
      <key>monster_2189_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{459,421},{86,100}}</string>
        <key>offset</key>
        <string>{-26,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,100}}</string>
        <key>sourceSize</key>
        <string>{86,100}</string>
      </dict>
      <key>monster_2189_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{377,214},{86,102}}</string>
        <key>offset</key>
        <string>{-26,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,102}}</string>
        <key>sourceSize</key>
        <string>{86,102}</string>
      </dict>
      <key>monster_2189_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{188,218},{86,107}}</string>
        <key>offset</key>
        <string>{-26,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,107}}</string>
        <key>sourceSize</key>
        <string>{86,107}</string>
      </dict>
      <key>monster_2189_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{95,344},{77,108}}</string>
        <key>offset</key>
        <string>{-25,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,108}}</string>
        <key>sourceSize</key>
        <string>{77,108}</string>
      </dict>
      <key>monster_2189_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{189,109},{79,107}}</string>
        <key>offset</key>
        <string>{-26,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,107}}</string>
        <key>sourceSize</key>
        <string>{79,107}</string>
      </dict>
      <key>monster_2189_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{270,109},{81,107}}</string>
        <key>offset</key>
        <string>{-26,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,107}}</string>
        <key>sourceSize</key>
        <string>{81,107}</string>
      </dict>
      <key>monster_2189_0_1_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,344},{84,108}}</string>
        <key>offset</key>
        <string>{-27,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,108}}</string>
        <key>sourceSize</key>
        <string>{84,108}</string>
      </dict>
      <key>monster_2189_0_1_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{353,108},{84,104}}</string>
        <key>offset</key>
        <string>{-26,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,104}}</string>
        <key>sourceSize</key>
        <string>{84,104}</string>
      </dict>
      <key>monster_2189_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{361,433},{74,96}}</string>
        <key>offset</key>
        <string>{-30,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,96}}</string>
        <key>sourceSize</key>
        <string>{74,96}</string>
      </dict>
      <key>monster_2189_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{561,305},{74,98}}</string>
        <key>offset</key>
        <string>{-30,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,98}}</string>
        <key>sourceSize</key>
        <string>{74,98}</string>
      </dict>
      <key>monster_2189_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,433},{75,99}}</string>
        <key>offset</key>
        <string>{-31,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,99}}</string>
        <key>sourceSize</key>
        <string>{75,99}</string>
      </dict>
      <key>monster_2189_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{465,208},{75,99}}</string>
        <key>offset</key>
        <string>{-31,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,99}}</string>
        <key>sourceSize</key>
        <string>{75,99}</string>
      </dict>
      <key>monster_2189_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{539,103},{79,99}}</string>
        <key>offset</key>
        <string>{-34,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,99}}</string>
        <key>sourceSize</key>
        <string>{79,99}</string>
      </dict>
      <key>monster_2189_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{614,204},{78,98}}</string>
        <key>offset</key>
        <string>{-33,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,98}}</string>
        <key>sourceSize</key>
        <string>{78,98}</string>
      </dict>
      <key>monster_2189_0_1_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{620,101},{74,98}}</string>
        <key>offset</key>
        <string>{-29,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,98}}</string>
        <key>sourceSize</key>
        <string>{74,98}</string>
      </dict>
      <key>monster_2189_0_1_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{765,200},{78,96}}</string>
        <key>offset</key>
        <string>{-33,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,96}}</string>
        <key>sourceSize</key>
        <string>{78,96}</string>
      </dict>
      <key>monster_2189_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{906,541},{81,74}}</string>
        <key>offset</key>
        <string>{-44,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,74}}</string>
        <key>sourceSize</key>
        <string>{81,74}</string>
      </dict>
      <key>monster_2189_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{910,464},{83,75}}</string>
        <key>offset</key>
        <string>{-44,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,75}}</string>
        <key>sourceSize</key>
        <string>{83,75}</string>
      </dict>
      <key>monster_2189_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{910,385},{85,77}}</string>
        <key>offset</key>
        <string>{-45,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,77}}</string>
        <key>sourceSize</key>
        <string>{85,77}</string>
      </dict>
      <key>monster_2189_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{831,393},{86,77}}</string>
        <key>offset</key>
        <string>{-46,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,77}}</string>
        <key>sourceSize</key>
        <string>{86,77}</string>
      </dict>
      <key>monster_2189_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{930,73},{89,77}}</string>
        <key>offset</key>
        <string>{-49,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,77}}</string>
        <key>sourceSize</key>
        <string>{89,77}</string>
      </dict>
      <key>monster_2189_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{930,152},{89,77}}</string>
        <key>offset</key>
        <string>{-51,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,77}}</string>
        <key>sourceSize</key>
        <string>{89,77}</string>
      </dict>
      <key>monster_2189_0_1_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{930,231},{88,76}}</string>
        <key>offset</key>
        <string>{-52,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,76}}</string>
        <key>sourceSize</key>
        <string>{88,76}</string>
      </dict>
      <key>monster_2189_0_1_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{877,309},{86,74}}</string>
        <key>offset</key>
        <string>{-52,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,74}}</string>
        <key>sourceSize</key>
        <string>{86,74}</string>
      </dict>
      <key>monster_2189_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{656,0},{98,68}}</string>
        <key>offset</key>
        <string>{-54,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,68}}</string>
        <key>sourceSize</key>
        <string>{98,68}</string>
      </dict>
      <key>monster_2189_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{637,304},{98,69}}</string>
        <key>offset</key>
        <string>{-56,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,69}}</string>
        <key>sourceSize</key>
        <string>{98,69}</string>
      </dict>
      <key>monster_2189_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{584,0},{99,70}}</string>
        <key>offset</key>
        <string>{-57,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,70}}</string>
        <key>sourceSize</key>
        <string>{99,70}</string>
      </dict>
      <key>monster_2189_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{930,0},{91,71}}</string>
        <key>offset</key>
        <string>{-49,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,71}}</string>
        <key>sourceSize</key>
        <string>{91,71}</string>
      </dict>
      <key>monster_2189_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{811,0},{94,69}}</string>
        <key>offset</key>
        <string>{-50,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,69}}</string>
        <key>sourceSize</key>
        <string>{94,69}</string>
      </dict>
      <key>monster_2189_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{694,201},{98,69}}</string>
        <key>offset</key>
        <string>{-53,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,69}}</string>
        <key>sourceSize</key>
        <string>{98,69}</string>
      </dict>
      <key>monster_2189_0_1_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{542,204},{99,70}}</string>
        <key>offset</key>
        <string>{-54,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,70}}</string>
        <key>sourceSize</key>
        <string>{99,70}</string>
      </dict>
      <key>monster_2189_0_1_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{561,421},{99,70}}</string>
        <key>offset</key>
        <string>{-54,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,70}}</string>
        <key>sourceSize</key>
        <string>{99,70}</string>
      </dict>
      <key>monster_2189_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{821,566},{81,72}}</string>
        <key>offset</key>
        <string>{-33,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,72}}</string>
        <key>sourceSize</key>
        <string>{81,72}</string>
      </dict>
      <key>monster_2189_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{831,481},{83,73}}</string>
        <key>offset</key>
        <string>{-34,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,73}}</string>
        <key>sourceSize</key>
        <string>{83,73}</string>
      </dict>
      <key>monster_2189_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{561,493},{84,74}}</string>
        <key>offset</key>
        <string>{-34,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,74}}</string>
        <key>sourceSize</key>
        <string>{84,74}</string>
      </dict>
      <key>monster_2189_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{747,496},{83,72}}</string>
        <key>offset</key>
        <string>{-33,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,72}}</string>
        <key>sourceSize</key>
        <string>{83,72}</string>
      </dict>
      <key>monster_2189_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{647,503},{82,71}}</string>
        <key>offset</key>
        <string>{-33,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,71}}</string>
        <key>sourceSize</key>
        <string>{82,71}</string>
      </dict>
      <key>monster_2189_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{904,617},{79,72}}</string>
        <key>offset</key>
        <string>{-33,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,72}}</string>
        <key>sourceSize</key>
        <string>{79,72}</string>
      </dict>
      <key>monster_2189_0_1_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{95,454},{79,71}}</string>
        <key>offset</key>
        <string>{-33,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,71}}</string>
        <key>sourceSize</key>
        <string>{79,71}</string>
      </dict>
      <key>monster_2189_0_1_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{176,454},{79,71}}</string>
        <key>offset</key>
        <string>{-33,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,71}}</string>
        <key>sourceSize</key>
        <string>{79,71}</string>
      </dict>
      <key>monster_2189_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{747,400},{94,82}}</string>
        <key>offset</key>
        <string>{-38,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,82}}</string>
        <key>sourceSize</key>
        <string>{94,82}</string>
      </dict>
      <key>monster_2189_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{845,197},{92,83}}</string>
        <key>offset</key>
        <string>{-38,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,83}}</string>
        <key>sourceSize</key>
        <string>{92,83}</string>
      </dict>
      <key>monster_2189_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{792,298},{93,83}}</string>
        <key>offset</key>
        <string>{-38,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,83}}</string>
        <key>sourceSize</key>
        <string>{93,83}</string>
      </dict>
      <key>monster_2189_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{780,99},{96,81}}</string>
        <key>offset</key>
        <string>{-39,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,81}}</string>
        <key>sourceSize</key>
        <string>{96,81}</string>
      </dict>
      <key>monster_2189_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{696,100},{98,82}}</string>
        <key>offset</key>
        <string>{-39,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,82}}</string>
        <key>sourceSize</key>
        <string>{98,82}</string>
      </dict>
      <key>monster_2189_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{726,0},{97,83}}</string>
        <key>offset</key>
        <string>{-39,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,83}}</string>
        <key>sourceSize</key>
        <string>{97,83}</string>
      </dict>
      <key>monster_2189_0_1_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{662,404},{97,83}}</string>
        <key>offset</key>
        <string>{-39,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,83}}</string>
        <key>sourceSize</key>
        <string>{97,83}</string>
      </dict>
      <key>monster_2189_0_1_7_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{708,301},{97,82}}</string>
        <key>offset</key>
        <string>{-39,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,82}}</string>
        <key>sourceSize</key>
        <string>{97,82}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_2189_0_1.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>monster_2189_0_1.png</string>
    </dict>
  </dict>
</plist>