<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16477_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{458,240}}</string>
        <key>offset</key>
        <string>{-240,207}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{458,240}}</string>
        <key>sourceSize</key>
        <string>{458,240}</string>
      </dict>
      <key>monster_16477_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,460},{452,249}}</string>
        <key>offset</key>
        <string>{-237,216}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{452,249}}</string>
        <key>sourceSize</key>
        <string>{452,249}</string>
      </dict>
      <key>monster_16477_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{489,0},{444,242}}</string>
        <key>offset</key>
        <string>{-236,210}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{444,242}}</string>
        <key>sourceSize</key>
        <string>{444,242}</string>
      </dict>
      <key>monster_16477_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,0},{446,245}}</string>
        <key>offset</key>
        <string>{-235,213}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{446,245}}</string>
        <key>sourceSize</key>
        <string>{446,245}</string>
      </dict>
      <key>monster_16477_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{489,244},{349,290}}</string>
        <key>offset</key>
        <string>{-233,245}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{349,290}}</string>
        <key>sourceSize</key>
        <string>{349,290}</string>
      </dict>
      <key>monster_16477_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{251,536},{343,297}}</string>
        <key>offset</key>
        <string>{-231,253}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{343,297}}</string>
        <key>sourceSize</key>
        <string>{343,297}</string>
      </dict>
      <key>monster_16477_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{895,244},{337,292}}</string>
        <key>offset</key>
        <string>{-230,250}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{337,292}}</string>
        <key>sourceSize</key>
        <string>{337,292}</string>
      </dict>
      <key>monster_16477_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,536},{343,293}}</string>
        <key>offset</key>
        <string>{-235,251}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{343,293}}</string>
        <key>sourceSize</key>
        <string>{343,293}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16477_0_0_0.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>monster_16477_0_0_0.png</string>
    </dict>
  </dict>
</plist>