<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_5060_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{203,366},{354,191}}</string>
        <key>offset</key>
        <string>{-143,156}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{354,191}}</string>
        <key>sourceSize</key>
        <string>{354,191}</string>
      </dict>
      <key>monster_5060_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{371,172}}</string>
        <key>offset</key>
        <string>{-148,152}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{371,172}}</string>
        <key>sourceSize</key>
        <string>{371,172}</string>
      </dict>
      <key>monster_5060_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,373},{367,201}}</string>
        <key>offset</key>
        <string>{-124,165}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{367,201}}</string>
        <key>sourceSize</key>
        <string>{367,201}</string>
      </dict>
      <key>monster_5060_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{220,722},{339,230}}</string>
        <key>offset</key>
        <string>{-86,186}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{339,230}}</string>
        <key>sourceSize</key>
        <string>{339,230}</string>
      </dict>
      <key>monster_5060_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{452,704},{322,224}}</string>
        <key>offset</key>
        <string>{-66,188}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{322,224}}</string>
        <key>sourceSize</key>
        <string>{322,224}</string>
      </dict>
      <key>monster_5060_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{624,0},{310,202}}</string>
        <key>offset</key>
        <string>{-65,181}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{310,202}}</string>
        <key>sourceSize</key>
        <string>{310,202}</string>
      </dict>
      <key>monster_5060_0_1_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,366},{336,199}}</string>
        <key>offset</key>
        <string>{-97,160}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{336,199}}</string>
        <key>sourceSize</key>
        <string>{336,199}</string>
      </dict>
      <key>monster_5060_0_1_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1102},{350,209}}</string>
        <key>offset</key>
        <string>{-131,161}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{350,209}}</string>
        <key>sourceSize</key>
        <string>{350,209}</string>
      </dict>
      <key>monster_5060_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{597,330},{316,214}}</string>
        <key>offset</key>
        <string>{-56,181}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{316,214}}</string>
        <key>sourceSize</key>
        <string>{316,214}</string>
      </dict>
      <key>monster_5060_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1299,0},{291,223}}</string>
        <key>offset</key>
        <string>{-42,187}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{291,223}}</string>
        <key>sourceSize</key>
        <string>{291,223}</string>
      </dict>
      <key>monster_5060_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1186,823},{269,243}}</string>
        <key>offset</key>
        <string>{-17,200}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{269,243}}</string>
        <key>sourceSize</key>
        <string>{269,243}</string>
      </dict>
      <key>monster_5060_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1356,560},{260,246}}</string>
        <key>offset</key>
        <string>{-18,203}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{260,246}}</string>
        <key>sourceSize</key>
        <string>{260,246}</string>
      </dict>
      <key>monster_5060_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1455,1071},{244,244}}</string>
        <key>offset</key>
        <string>{-15,198}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{244,244}}</string>
        <key>sourceSize</key>
        <string>{244,244}</string>
      </dict>
      <key>monster_5060_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1524,0},{247,252}}</string>
        <key>offset</key>
        <string>{-36,197}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{247,252}}</string>
        <key>sourceSize</key>
        <string>{247,252}</string>
      </dict>
      <key>monster_5060_0_1_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{828,0},{300,229}}</string>
        <key>offset</key>
        <string>{-55,196}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{300,229}}</string>
        <key>sourceSize</key>
        <string>{300,229}</string>
      </dict>
      <key>monster_5060_0_1_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{398,0},{328,224}}</string>
        <key>offset</key>
        <string>{-59,185}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{328,224}}</string>
        <key>sourceSize</key>
        <string>{328,224}</string>
      </dict>
      <key>monster_5060_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1358,293},{248,255}}</string>
        <key>offset</key>
        <string>{-38,192}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{248,255}}</string>
        <key>sourceSize</key>
        <string>{248,255}</string>
      </dict>
      <key>monster_5060_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{674,1338},{216,242}}</string>
        <key>offset</key>
        <string>{-12,191}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{216,242}}</string>
        <key>sourceSize</key>
        <string>{216,242}</string>
      </dict>
      <key>monster_5060_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1457,822},{247,250}}</string>
        <key>offset</key>
        <string>{-40,186}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{247,250}}</string>
        <key>sourceSize</key>
        <string>{247,250}</string>
      </dict>
      <key>monster_5060_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{678,648},{305,254}}</string>
        <key>offset</key>
        <string>{-54,171}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{305,254}}</string>
        <key>sourceSize</key>
        <string>{305,254}</string>
      </dict>
      <key>monster_5060_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{813,312},{304,257}}</string>
        <key>offset</key>
        <string>{-42,162}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{304,257}}</string>
        <key>sourceSize</key>
        <string>{304,257}</string>
      </dict>
      <key>monster_5060_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1186,1068},{267,267}}</string>
        <key>offset</key>
        <string>{-19,167}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{267,267}}</string>
        <key>sourceSize</key>
        <string>{267,267}</string>
      </dict>
      <key>monster_5060_0_1_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{921,955},{258,274}}</string>
        <key>offset</key>
        <string>{-41,185}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,274}}</string>
        <key>sourceSize</key>
        <string>{258,274}</string>
      </dict>
      <key>monster_5060_0_1_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{921,1231},{270,263}}</string>
        <key>offset</key>
        <string>{-60,193}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{270,263}}</string>
        <key>sourceSize</key>
        <string>{270,263}</string>
      </dict>
      <key>monster_5060_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1072,302},{284,256}}</string>
        <key>offset</key>
        <string>{-21,153}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{284,256}}</string>
        <key>sourceSize</key>
        <string>{284,256}</string>
      </dict>
      <key>monster_5060_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1059,0},{300,238}}</string>
        <key>offset</key>
        <string>{-40,150}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{300,238}}</string>
        <key>sourceSize</key>
        <string>{300,238}</string>
      </dict>
      <key>monster_5060_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{444,1063},{325,228}}</string>
        <key>offset</key>
        <string>{-51,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{325,228}}</string>
        <key>sourceSize</key>
        <string>{325,228}</string>
      </dict>
      <key>monster_5060_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,742},{358,218}}</string>
        <key>offset</key>
        <string>{-79,133}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{358,218}}</string>
        <key>sourceSize</key>
        <string>{358,218}</string>
      </dict>
      <key>monster_5060_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,0},{364,222}}</string>
        <key>offset</key>
        <string>{-92,135}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{364,222}}</string>
        <key>sourceSize</key>
        <string>{364,222}</string>
      </dict>
      <key>monster_5060_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{211,1102},{342,231}}</string>
        <key>offset</key>
        <string>{-89,146}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{342,231}}</string>
        <key>sourceSize</key>
        <string>{342,231}</string>
      </dict>
      <key>monster_5060_0_1_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{674,1028},{308,245}}</string>
        <key>offset</key>
        <string>{-46,147}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{308,245}}</string>
        <key>sourceSize</key>
        <string>{308,245}</string>
      </dict>
      <key>monster_5060_0_1_7_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1072,560},{282,261}}</string>
        <key>offset</key>
        <string>{-21,155}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{282,261}}</string>
        <key>sourceSize</key>
        <string>{282,261}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_5060_0_1_1.png</string>
      <key>size</key>
      <string>{1796,1778}</string>
      <key>textureFileName</key>
      <string>monster_5060_0_1_1.png</string>
    </dict>
  </dict>
</plist>