<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_5068_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,912},{434,374}}</string>
        <key>offset</key>
        <string>{-173,317}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{434,374}}</string>
        <key>sourceSize</key>
        <string>{434,374}</string>
      </dict>
      <key>monster_5068_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{376,732},{434,369}}</string>
        <key>offset</key>
        <string>{-173,312}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{434,369}}</string>
        <key>sourceSize</key>
        <string>{434,369}</string>
      </dict>
      <key>monster_5068_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{727,371},{439,359}}</string>
        <key>offset</key>
        <string>{-178,312}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{439,359}}</string>
        <key>sourceSize</key>
        <string>{439,359}</string>
      </dict>
      <key>monster_5068_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,0},{449,359}}</string>
        <key>offset</key>
        <string>{-188,312}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{449,359}}</string>
        <key>sourceSize</key>
        <string>{449,359}</string>
      </dict>
      <key>monster_5068_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{454,364}}</string>
        <key>offset</key>
        <string>{-193,312}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{454,364}}</string>
        <key>sourceSize</key>
        <string>{454,364}</string>
      </dict>
      <key>monster_5068_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,456},{454,369}}</string>
        <key>offset</key>
        <string>{-193,317}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{454,369}}</string>
        <key>sourceSize</key>
        <string>{454,369}</string>
      </dict>
      <key>monster_5068_0_1_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{727,0},{449,369}}</string>
        <key>offset</key>
        <string>{-188,312}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{449,369}}</string>
        <key>sourceSize</key>
        <string>{449,369}</string>
      </dict>
      <key>monster_5068_0_1_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{747,732},{434,374}}</string>
        <key>offset</key>
        <string>{-173,317}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{434,374}}</string>
        <key>sourceSize</key>
        <string>{434,374}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_5068_0_1_1.png</string>
      <key>size</key>
      <string>{1280,1398}</string>
      <key>textureFileName</key>
      <string>monster_5068_0_1_1.png</string>
    </dict>
  </dict>
</plist>