<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16136_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{282,614},{231,226}}</string>
        <key>offset</key>
        <string>{-77,149}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{231,226}}</string>
        <key>sourceSize</key>
        <string>{231,226}</string>
      </dict>
      <key>monster_16136_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{739,229},{232,226}}</string>
        <key>offset</key>
        <string>{-76,156}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{232,226}}</string>
        <key>sourceSize</key>
        <string>{232,226}</string>
      </dict>
      <key>monster_16136_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{267,0},{243,237}}</string>
        <key>offset</key>
        <string>{-78,161}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{243,237}}</string>
        <key>sourceSize</key>
        <string>{243,237}</string>
      </dict>
      <key>monster_16136_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{506,0},{231,237}}</string>
        <key>offset</key>
        <string>{-77,168}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{231,237}}</string>
        <key>sourceSize</key>
        <string>{231,237}</string>
      </dict>
      <key>monster_16136_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{739,0},{233,227}}</string>
        <key>offset</key>
        <string>{-77,148}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{233,227}}</string>
        <key>sourceSize</key>
        <string>{233,227}</string>
      </dict>
      <key>monster_16136_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{315,265}}</string>
        <key>offset</key>
        <string>{-169,159}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{315,265}}</string>
        <key>sourceSize</key>
        <string>{315,265}</string>
      </dict>
      <key>monster_16136_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,317},{313,260}}</string>
        <key>offset</key>
        <string>{-167,160}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{313,260}}</string>
        <key>sourceSize</key>
        <string>{313,260}</string>
      </dict>
      <key>monster_16136_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{262,317},{295,268}}</string>
        <key>offset</key>
        <string>{-149,159}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{295,268}}</string>
        <key>sourceSize</key>
        <string>{295,268}</string>
      </dict>
      <key>monster_16136_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,632},{313,280}}</string>
        <key>offset</key>
        <string>{-161,160}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{313,280}}</string>
        <key>sourceSize</key>
        <string>{313,280}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16136_0_1_2.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>monster_16136_0_1_2.png</string>
    </dict>
  </dict>
</plist>