<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_2258_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{273,308}}</string>
        <key>offset</key>
        <string>{-95,228}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{273,308}}</string>
        <key>sourceSize</key>
        <string>{273,308}</string>
      </dict>
      <key>monster_2258_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{274,310},{272,306}}</string>
        <key>offset</key>
        <string>{-95,226}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{272,306}}</string>
        <key>sourceSize</key>
        <string>{272,306}</string>
      </dict>
      <key>monster_2258_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,310},{272,307}}</string>
        <key>offset</key>
        <string>{-95,227}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{272,307}}</string>
        <key>sourceSize</key>
        <string>{272,307}</string>
      </dict>
      <key>monster_2258_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{275,0},{272,306}}</string>
        <key>offset</key>
        <string>{-95,226}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{272,306}}</string>
        <key>sourceSize</key>
        <string>{272,306}</string>
      </dict>
      <key>monster_2258_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{549,0},{211,287}}</string>
        <key>offset</key>
        <string>{-80,219}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{211,287}}</string>
        <key>sourceSize</key>
        <string>{211,287}</string>
      </dict>
      <key>monster_2258_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{549,289},{203,285}}</string>
        <key>offset</key>
        <string>{-78,217}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{203,285}}</string>
        <key>sourceSize</key>
        <string>{203,285}</string>
      </dict>
      <key>monster_2258_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{762,0},{206,285}}</string>
        <key>offset</key>
        <string>{-77,217}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,285}}</string>
        <key>sourceSize</key>
        <string>{206,285}</string>
      </dict>
      <key>monster_2258_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{762,287},{203,285}}</string>
        <key>offset</key>
        <string>{-78,217}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{203,285}}</string>
        <key>sourceSize</key>
        <string>{203,285}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_2258_0_0_1.png</string>
      <key>size</key>
      <string>{974,770}</string>
      <key>textureFileName</key>
      <string>monster_2258_0_0_1.png</string>
    </dict>
  </dict>
</plist>