<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16422_0_2_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{591,686}}</string>
        <key>offset</key>
        <string>{-417,303}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{591,686}}</string>
        <key>sourceSize</key>
        <string>{591,686}</string>
      </dict>
      <key>monster_16422_0_2_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,593},{599,682}}</string>
        <key>offset</key>
        <string>{-429,300}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{599,682}}</string>
        <key>sourceSize</key>
        <string>{599,682}</string>
      </dict>
      <key>monster_16422_0_2_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{601,593},{603,663}}</string>
        <key>offset</key>
        <string>{-433,284}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{603,663}}</string>
        <key>sourceSize</key>
        <string>{603,663}</string>
      </dict>
      <key>monster_16422_0_2_1_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{591,686}}</string>
        <key>offset</key>
        <string>{-417,303}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{591,686}}</string>
        <key>sourceSize</key>
        <string>{591,686}</string>
      </dict>
      <key>monster_16422_0_2_2_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{591,686}}</string>
        <key>offset</key>
        <string>{-417,303}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{591,686}}</string>
        <key>sourceSize</key>
        <string>{591,686}</string>
      </dict>
      <key>monster_16422_0_2_3_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{591,686}}</string>
        <key>offset</key>
        <string>{-417,303}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{591,686}}</string>
        <key>sourceSize</key>
        <string>{591,686}</string>
      </dict>
      <key>monster_16422_0_2_4_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{591,686}}</string>
        <key>offset</key>
        <string>{-417,303}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{591,686}}</string>
        <key>sourceSize</key>
        <string>{591,686}</string>
      </dict>
      <key>monster_16422_0_2_5_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{591,686}}</string>
        <key>offset</key>
        <string>{-417,303}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{591,686}}</string>
        <key>sourceSize</key>
        <string>{591,686}</string>
      </dict>
      <key>monster_16422_0_2_6_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{591,686}}</string>
        <key>offset</key>
        <string>{-417,303}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{591,686}}</string>
        <key>sourceSize</key>
        <string>{591,686}</string>
      </dict>
      <key>monster_16422_0_2_7_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{591,686}}</string>
        <key>offset</key>
        <string>{-417,303}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{591,686}}</string>
        <key>sourceSize</key>
        <string>{591,686}</string>
      </dict>
      <key>monster_16422_0_2_1_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,593},{599,682}}</string>
        <key>offset</key>
        <string>{-429,300}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{599,682}}</string>
        <key>sourceSize</key>
        <string>{599,682}</string>
      </dict>
      <key>monster_16422_0_2_2_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,593},{599,682}}</string>
        <key>offset</key>
        <string>{-429,300}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{599,682}}</string>
        <key>sourceSize</key>
        <string>{599,682}</string>
      </dict>
      <key>monster_16422_0_2_3_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,593},{599,682}}</string>
        <key>offset</key>
        <string>{-429,300}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{599,682}}</string>
        <key>sourceSize</key>
        <string>{599,682}</string>
      </dict>
      <key>monster_16422_0_2_4_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,593},{599,682}}</string>
        <key>offset</key>
        <string>{-429,300}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{599,682}}</string>
        <key>sourceSize</key>
        <string>{599,682}</string>
      </dict>
      <key>monster_16422_0_2_5_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,593},{599,682}}</string>
        <key>offset</key>
        <string>{-429,300}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{599,682}}</string>
        <key>sourceSize</key>
        <string>{599,682}</string>
      </dict>
      <key>monster_16422_0_2_6_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,593},{599,682}}</string>
        <key>offset</key>
        <string>{-429,300}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{599,682}}</string>
        <key>sourceSize</key>
        <string>{599,682}</string>
      </dict>
      <key>monster_16422_0_2_7_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,593},{599,682}}</string>
        <key>offset</key>
        <string>{-429,300}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{599,682}}</string>
        <key>sourceSize</key>
        <string>{599,682}</string>
      </dict>
      <key>monster_16422_0_2_1_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{601,593},{603,663}}</string>
        <key>offset</key>
        <string>{-433,284}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{603,663}}</string>
        <key>sourceSize</key>
        <string>{603,663}</string>
      </dict>
      <key>monster_16422_0_2_2_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{601,593},{603,663}}</string>
        <key>offset</key>
        <string>{-433,284}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{603,663}}</string>
        <key>sourceSize</key>
        <string>{603,663}</string>
      </dict>
      <key>monster_16422_0_2_3_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{601,593},{603,663}}</string>
        <key>offset</key>
        <string>{-433,284}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{603,663}}</string>
        <key>sourceSize</key>
        <string>{603,663}</string>
      </dict>
      <key>monster_16422_0_2_4_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{601,593},{603,663}}</string>
        <key>offset</key>
        <string>{-433,284}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{603,663}}</string>
        <key>sourceSize</key>
        <string>{603,663}</string>
      </dict>
      <key>monster_16422_0_2_5_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{601,593},{603,663}}</string>
        <key>offset</key>
        <string>{-433,284}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{603,663}}</string>
        <key>sourceSize</key>
        <string>{603,663}</string>
      </dict>
      <key>monster_16422_0_2_6_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{601,593},{603,663}}</string>
        <key>offset</key>
        <string>{-433,284}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{603,663}}</string>
        <key>sourceSize</key>
        <string>{603,663}</string>
      </dict>
      <key>monster_16422_0_2_7_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{601,593},{603,663}}</string>
        <key>offset</key>
        <string>{-433,284}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{603,663}}</string>
        <key>sourceSize</key>
        <string>{603,663}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16422_0_2_3.png</string>
      <key>size</key>
      <string>{1280,1536}</string>
      <key>textureFileName</key>
      <string>monster_16422_0_2_3.png</string>
    </dict>
  </dict>
</plist>