<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_16511_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{140,197}}</string>
        <key>offset</key>
        <string>{-33,115}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,197}}</string>
        <key>sourceSize</key>
        <string>{140,197}</string>
      </dict>
      <key>monster_16511_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,199},{142,173}}</string>
        <key>offset</key>
        <string>{-34,90}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,173}}</string>
        <key>sourceSize</key>
        <string>{142,173}</string>
      </dict>
      <key>monster_16511_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{292,426},{149,146}}</string>
        <key>offset</key>
        <string>{-39,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,146}}</string>
        <key>sourceSize</key>
        <string>{149,146}</string>
      </dict>
      <key>monster_16511_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{292,284},{152,140}}</string>
        <key>offset</key>
        <string>{-40,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,140}}</string>
        <key>sourceSize</key>
        <string>{152,140}</string>
      </dict>
      <key>monster_16511_0_4_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{262,126},{156,135}}</string>
        <key>offset</key>
        <string>{-43,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,135}}</string>
        <key>sourceSize</key>
        <string>{156,135}</string>
      </dict>
      <key>monster_16511_0_4_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{292,0},{158,124}}</string>
        <key>offset</key>
        <string>{-46,37}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,124}}</string>
        <key>sourceSize</key>
        <string>{158,124}</string>
      </dict>
      <key>monster_16511_0_4_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,0},{160,118}}</string>
        <key>offset</key>
        <string>{-48,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,118}}</string>
        <key>sourceSize</key>
        <string>{160,118}</string>
      </dict>
      <key>monster_16511_0_4_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,162},{160,116}}</string>
        <key>offset</key>
        <string>{-49,16}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,116}}</string>
        <key>sourceSize</key>
        <string>{160,116}</string>
      </dict>
      <key>monster_16511_0_4_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,324},{160,126}}</string>
        <key>offset</key>
        <string>{-49,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,126}}</string>
        <key>sourceSize</key>
        <string>{160,126}</string>
      </dict>
      <key>monster_16511_0_4_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,374},{162,128}}</string>
        <key>offset</key>
        <string>{-51,28}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,128}}</string>
        <key>sourceSize</key>
        <string>{162,128}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_16511_0_4_0.png</string>
      <key>size</key>
      <string>{513,585}</string>
      <key>textureFileName</key>
      <string>monster_16511_0_4_0.png</string>
    </dict>
  </dict>
</plist>