<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_1609_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1576,289},{420,252}}</string>
        <key>offset</key>
        <string>{-129,147}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{420,252}}</string>
        <key>sourceSize</key>
        <string>{420,252}</string>
      </dict>
      <key>monster_1609_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{584,243}}</string>
        <key>offset</key>
        <string>{-227,139}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{584,243}}</string>
        <key>sourceSize</key>
        <string>{584,243}</string>
      </dict>
      <key>monster_1609_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1576,0},{423,287}}</string>
        <key>offset</key>
        <string>{-291,169}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{423,287}}</string>
        <key>sourceSize</key>
        <string>{423,287}</string>
      </dict>
      <key>monster_1609_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{910,0},{475,314}}</string>
        <key>offset</key>
        <string>{-272,217}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{475,314}}</string>
        <key>sourceSize</key>
        <string>{475,314}</string>
      </dict>
      <key>monster_1609_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{788,490},{485,372}}</string>
        <key>offset</key>
        <string>{-367,301}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{485,372}}</string>
        <key>sourceSize</key>
        <string>{485,372}</string>
      </dict>
      <key>monster_1609_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,586},{518,392}}</string>
        <key>offset</key>
        <string>{-267,326}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{518,392}}</string>
        <key>sourceSize</key>
        <string>{518,392}</string>
      </dict>
      <key>monster_1609_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1576,543},{258,410}}</string>
        <key>offset</key>
        <string>{-79,321}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,410}}</string>
        <key>sourceSize</key>
        <string>{258,410}</string>
      </dict>
      <key>monster_1609_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{536,0},{372,488}}</string>
        <key>offset</key>
        <string>{-49,397}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{372,488}}</string>
        <key>sourceSize</key>
        <string>{372,488}</string>
      </dict>
      <key>monster_1609_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1226,0},{300,413}}</string>
        <key>offset</key>
        <string>{-45,311}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{300,413}}</string>
        <key>sourceSize</key>
        <string>{300,413}</string>
      </dict>
      <key>monster_1609_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{520,507},{266,491}}</string>
        <key>offset</key>
        <string>{-8,368}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{266,491}}</string>
        <key>sourceSize</key>
        <string>{266,491}</string>
      </dict>
      <key>monster_1609_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{245,0},{505,289}}</string>
        <key>offset</key>
        <string>{-165,189}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{505,289}}</string>
        <key>sourceSize</key>
        <string>{505,289}</string>
      </dict>
      <key>monster_1609_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1162,477},{450,412}}</string>
        <key>offset</key>
        <string>{-45,248}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{450,412}}</string>
        <key>sourceSize</key>
        <string>{450,412}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_1609_0_2_1.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>monster_1609_0_2_1.png</string>
    </dict>
  </dict>
</plist>