<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_1320_0_8_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{486,60},{24,68}}</string>
        <key>offset</key>
        <string>{23,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{24,68}}</string>
        <key>sourceSize</key>
        <string>{24,68}</string>
      </dict>
      <key>weapon_1320_0_8_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{220,218},{35,80}}</string>
        <key>offset</key>
        <string>{7,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{35,80}}</string>
        <key>sourceSize</key>
        <string>{35,80}</string>
      </dict>
      <key>weapon_1320_0_8_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{241,0},{98,51}}</string>
        <key>offset</key>
        <string>{23,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,51}}</string>
        <key>sourceSize</key>
        <string>{98,51}</string>
      </dict>
      <key>weapon_1320_0_8_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{318,99},{90,69}}</string>
        <key>offset</key>
        <string>{27,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,69}}</string>
        <key>sourceSize</key>
        <string>{90,69}</string>
      </dict>
      <key>weapon_1320_0_8_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,137},{134,53}}</string>
        <key>offset</key>
        <string>{15,12}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,53}}</string>
        <key>sourceSize</key>
        <string>{134,53}</string>
      </dict>
      <key>weapon_1320_0_8_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{135,37}}</string>
        <key>offset</key>
        <string>{28,10}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,37}}</string>
        <key>sourceSize</key>
        <string>{135,37}</string>
      </dict>
      <key>weapon_1320_0_8_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{294,0},{96,97}}</string>
        <key>offset</key>
        <string>{9,11}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,97}}</string>
        <key>sourceSize</key>
        <string>{96,97}</string>
      </dict>
      <key>weapon_1320_0_8_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{136,132},{118,82}}</string>
        <key>offset</key>
        <string>{17,-1}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,82}}</string>
        <key>sourceSize</key>
        <string>{118,82}</string>
      </dict>
      <key>weapon_1320_0_8_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,0},{23,115}}</string>
        <key>offset</key>
        <string>{2,16}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{23,115}}</string>
        <key>sourceSize</key>
        <string>{23,115}</string>
      </dict>
      <key>weapon_1320_0_8_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,192},{41,109}}</string>
        <key>offset</key>
        <string>{6,-1}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{41,109}}</string>
        <key>sourceSize</key>
        <string>{41,109}</string>
      </dict>
      <key>weapon_1320_0_8_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{220,117},{96,99}}</string>
        <key>offset</key>
        <string>{-72,23}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,99}}</string>
        <key>sourceSize</key>
        <string>{96,99}</string>
      </dict>
      <key>weapon_1320_0_8_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{392,60},{86,92}}</string>
        <key>offset</key>
        <string>{-65,3}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,92}}</string>
        <key>sourceSize</key>
        <string>{86,92}</string>
      </dict>
      <key>weapon_1320_0_8_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{91,0},{130,53}}</string>
        <key>offset</key>
        <string>{-98,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,53}}</string>
        <key>sourceSize</key>
        <string>{130,53}</string>
      </dict>
      <key>weapon_1320_0_8_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{39,0},{133,50}}</string>
        <key>offset</key>
        <string>{-113,12}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,50}}</string>
        <key>sourceSize</key>
        <string>{133,50}</string>
      </dict>
      <key>weapon_1320_0_8_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{392,0},{96,58}}</string>
        <key>offset</key>
        <string>{-56,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,58}}</string>
        <key>sourceSize</key>
        <string>{96,58}</string>
      </dict>
      <key>weapon_1320_0_8_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{146,0},{118,68}}</string>
        <key>offset</key>
        <string>{-88,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,68}}</string>
        <key>sourceSize</key>
        <string>{118,68}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_1320_0_8.png</string>
      <key>size</key>
      <string>{512,256}</string>
      <key>textureFileName</key>
      <string>weapon_1320_0_8.png</string>
    </dict>
  </dict>
</plist>