<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_1421_0_3_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,113},{60,118}}</string>
        <key>offset</key>
        <string>{26,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,118}}</string>
        <key>sourceSize</key>
        <string>{60,118}</string>
      </dict>
      <key>weapon_1421_0_3_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{234,212},{41,110}}</string>
        <key>offset</key>
        <string>{2,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{41,110}}</string>
        <key>sourceSize</key>
        <string>{41,110}</string>
      </dict>
      <key>weapon_1421_0_3_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,552},{68,61}}</string>
        <key>offset</key>
        <string>{-27,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,61}}</string>
        <key>sourceSize</key>
        <string>{68,61}</string>
      </dict>
      <key>weapon_1421_0_3_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,433},{85,53}}</string>
        <key>offset</key>
        <string>{-36,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,53}}</string>
        <key>sourceSize</key>
        <string>{85,53}</string>
      </dict>
      <key>weapon_1421_0_3_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,479},{74,82}}</string>
        <key>offset</key>
        <string>{-17,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,82}}</string>
        <key>sourceSize</key>
        <string>{74,82}</string>
      </dict>
      <key>weapon_1421_0_3_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,248},{43,107}}</string>
        <key>offset</key>
        <string>{25,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{43,107}}</string>
        <key>sourceSize</key>
        <string>{43,107}</string>
      </dict>
      <key>weapon_1421_0_3_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,475},{78,93}}</string>
        <key>offset</key>
        <string>{25,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,93}}</string>
        <key>sourceSize</key>
        <string>{78,93}</string>
      </dict>
      <key>weapon_1421_0_3_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{125,116},{39,117}}</string>
        <key>offset</key>
        <string>{13,131}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{39,117}}</string>
        <key>sourceSize</key>
        <string>{39,117}</string>
      </dict>
      <key>weapon_1421_0_3_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{110,331},{101,83}}</string>
        <key>offset</key>
        <string>{-48,109}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,83}}</string>
        <key>sourceSize</key>
        <string>{101,83}</string>
      </dict>
      <key>weapon_1421_0_3_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{448,0},{122,58}}</string>
        <key>offset</key>
        <string>{-71,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,58}}</string>
        <key>sourceSize</key>
        <string>{122,58}</string>
      </dict>
      <key>weapon_1421_0_3_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,351},{80,105}}</string>
        <key>offset</key>
        <string>{-25,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,105}}</string>
        <key>sourceSize</key>
        <string>{80,105}</string>
      </dict>
      <key>weapon_1421_0_3_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,262},{108,83}}</string>
        <key>offset</key>
        <string>{30,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,83}}</string>
        <key>sourceSize</key>
        <string>{108,83}</string>
      </dict>
      <key>weapon_1421_0_3_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{281,544},{68,75}}</string>
        <key>offset</key>
        <string>{15,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,75}}</string>
        <key>sourceSize</key>
        <string>{68,75}</string>
      </dict>
      <key>weapon_1421_0_3_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,208},{52,114}}</string>
        <key>offset</key>
        <string>{9,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,114}}</string>
        <key>sourceSize</key>
        <string>{52,114}</string>
      </dict>
      <key>weapon_1421_0_3_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,121},{85,115}}</string>
        <key>offset</key>
        <string>{-35,133}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,115}}</string>
        <key>sourceSize</key>
        <string>{85,115}</string>
      </dict>
      <key>weapon_1421_0_3_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{99,472},{96,92}}</string>
        <key>offset</key>
        <string>{-57,119}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,92}}</string>
        <key>sourceSize</key>
        <string>{96,92}</string>
      </dict>
      <key>weapon_1421_0_3_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{448,124},{55,122}}</string>
        <key>offset</key>
        <string>{-11,139}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,122}}</string>
        <key>sourceSize</key>
        <string>{55,122}</string>
      </dict>
      <key>weapon_1421_0_3_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{394,0},{124,52}}</string>
        <key>offset</key>
        <string>{26,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,52}}</string>
        <key>sourceSize</key>
        <string>{124,52}</string>
      </dict>
      <key>weapon_1421_0_3_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{428,562},{40,68}}</string>
        <key>offset</key>
        <string>{1,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{40,68}}</string>
        <key>sourceSize</key>
        <string>{40,68}</string>
      </dict>
      <key>weapon_1421_0_3_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{116,232},{52,110}}</string>
        <key>offset</key>
        <string>{8,117}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,110}}</string>
        <key>sourceSize</key>
        <string>{52,110}</string>
      </dict>
      <key>weapon_1421_0_3_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{49,131}}</string>
        <key>offset</key>
        <string>{3,143}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{49,131}}</string>
        <key>sourceSize</key>
        <string>{49,131}</string>
      </dict>
      <key>weapon_1421_0_3_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{234,175},{35,114}}</string>
        <key>offset</key>
        <string>{-5,139}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{35,114}}</string>
        <key>sourceSize</key>
        <string>{35,114}</string>
      </dict>
      <key>weapon_1421_0_3_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{133,0},{43,129}}</string>
        <key>offset</key>
        <string>{0,146}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{43,129}}</string>
        <key>sourceSize</key>
        <string>{43,129}</string>
      </dict>
      <key>weapon_1421_0_3_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,555},{75,63}}</string>
        <key>offset</key>
        <string>{19,30}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,63}}</string>
        <key>sourceSize</key>
        <string>{75,63}</string>
      </dict>
      <key>weapon_1421_0_3_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{373,488},{62,80}}</string>
        <key>offset</key>
        <string>{-37,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,80}}</string>
        <key>sourceSize</key>
        <string>{62,80}</string>
      </dict>
      <key>weapon_1421_0_3_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{110,286},{43,102}}</string>
        <key>offset</key>
        <string>{4,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{43,102}}</string>
        <key>sourceSize</key>
        <string>{43,102}</string>
      </dict>
      <key>weapon_1421_0_3_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{378,126},{68,118}}</string>
        <key>offset</key>
        <string>{8,131}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,118}}</string>
        <key>sourceSize</key>
        <string>{68,118}</string>
      </dict>
      <key>weapon_1421_0_3_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{213,390},{87,99}}</string>
        <key>offset</key>
        <string>{-1,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,99}}</string>
        <key>sourceSize</key>
        <string>{87,99}</string>
      </dict>
      <key>weapon_1421_0_3_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,157},{73,115}}</string>
        <key>offset</key>
        <string>{-7,139}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,115}}</string>
        <key>sourceSize</key>
        <string>{73,115}</string>
      </dict>
      <key>weapon_1421_0_3_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{428,604},{46,68}}</string>
        <key>offset</key>
        <string>{-19,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,68}}</string>
        <key>sourceSize</key>
        <string>{46,68}</string>
      </dict>
      <key>weapon_1421_0_3_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,308},{80,102}}</string>
        <key>offset</key>
        <string>{-56,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,102}}</string>
        <key>sourceSize</key>
        <string>{80,102}</string>
      </dict>
      <key>weapon_1421_0_3_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,347},{37,98}}</string>
        <key>offset</key>
        <string>{-2,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{37,98}}</string>
        <key>sourceSize</key>
        <string>{37,98}</string>
      </dict>
      <key>weapon_1421_0_3_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,386},{97,87}}</string>
        <key>offset</key>
        <string>{-1,107}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,87}}</string>
        <key>sourceSize</key>
        <string>{97,87}</string>
      </dict>
      <key>weapon_1421_0_3_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,42},{123,69}}</string>
        <key>offset</key>
        <string>{-3,104}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,69}}</string>
        <key>sourceSize</key>
        <string>{123,69}</string>
      </dict>
      <key>weapon_1421_0_3_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,555},{81,90}}</string>
        <key>offset</key>
        <string>{-7,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,90}}</string>
        <key>sourceSize</key>
        <string>{81,90}</string>
      </dict>
      <key>weapon_1421_0_3_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{346,246},{108,52}}</string>
        <key>offset</key>
        <string>{-89,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,52}}</string>
        <key>sourceSize</key>
        <string>{108,52}</string>
      </dict>
      <key>weapon_1421_0_3_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{133,45},{69,123}}</string>
        <key>offset</key>
        <string>{-34,131}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,123}}</string>
        <key>sourceSize</key>
        <string>{69,123}</string>
      </dict>
      <key>weapon_1421_0_3_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,255},{51,105}}</string>
        <key>offset</key>
        <string>{-13,117}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{51,105}}</string>
        <key>sourceSize</key>
        <string>{51,105}</string>
      </dict>
      <key>weapon_1421_0_3_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,458},{84,57}}</string>
        <key>offset</key>
        <string>{-2,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,57}}</string>
        <key>sourceSize</key>
        <string>{84,57}</string>
      </dict>
      <key>weapon_1421_0_3_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{99,416},{97,54}}</string>
        <key>offset</key>
        <string>{9,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,54}}</string>
        <key>sourceSize</key>
        <string>{97,54}</string>
      </dict>
      <key>weapon_1421_0_3_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{92,566},{56,74}}</string>
        <key>offset</key>
        <string>{5,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,74}}</string>
        <key>sourceSize</key>
        <string>{56,74}</string>
      </dict>
      <key>weapon_1421_0_3_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,51},{123,68}}</string>
        <key>offset</key>
        <string>{-101,82}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,68}}</string>
        <key>sourceSize</key>
        <string>{123,68}</string>
      </dict>
      <key>weapon_1421_0_3_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,0},{40,128}}</string>
        <key>offset</key>
        <string>{8,138}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{40,128}}</string>
        <key>sourceSize</key>
        <string>{40,128}</string>
      </dict>
      <key>weapon_1421_0_3_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,293},{56,106}}</string>
        <key>offset</key>
        <string>{-12,123}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,106}}</string>
        <key>sourceSize</key>
        <string>{56,106}</string>
      </dict>
      <key>weapon_1421_0_3_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{339,615},{47,48}}</string>
        <key>offset</key>
        <string>{-2,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,48}}</string>
        <key>sourceSize</key>
        <string>{47,48}</string>
      </dict>
      <key>weapon_1421_0_3_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{274,614},{36,63}}</string>
        <key>offset</key>
        <string>{17,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{36,63}}</string>
        <key>sourceSize</key>
        <string>{36,63}</string>
      </dict>
      <key>weapon_1421_0_3_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{455,488},{41,72}}</string>
        <key>offset</key>
        <string>{7,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{41,72}}</string>
        <key>sourceSize</key>
        <string>{41,72}</string>
      </dict>
      <key>weapon_1421_0_3_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{318,356},{76,100}}</string>
        <key>offset</key>
        <string>{-47,122}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,100}}</string>
        <key>sourceSize</key>
        <string>{76,100}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_1421_0_3.png</string>
      <key>size</key>
      <string>{512,1024}</string>
      <key>textureFileName</key>
      <string>weapon_1421_0_3.png</string>
    </dict>
  </dict>
</plist>