<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_1250_0_10_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{878,0},{123,57}}</string>
        <key>offset</key>
        <string>{22,73}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,57}}</string>
        <key>sourceSize</key>
        <string>{123,57}</string>
      </dict>
      <key>weapon_1250_0_10_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,321},{148,92}}</string>
        <key>offset</key>
        <string>{-87,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,92}}</string>
        <key>sourceSize</key>
        <string>{148,92}</string>
      </dict>
      <key>weapon_1250_0_10_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{618,149},{144,67}}</string>
        <key>offset</key>
        <string>{9,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,67}}</string>
        <key>sourceSize</key>
        <string>{144,67}</string>
      </dict>
      <key>weapon_1250_0_10_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{512,497},{53,95}}</string>
        <key>offset</key>
        <string>{4,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,95}}</string>
        <key>sourceSize</key>
        <string>{53,95}</string>
      </dict>
      <key>weapon_1250_0_10_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{589,0},{57,147}}</string>
        <key>offset</key>
        <string>{-1,145}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,147}}</string>
        <key>sourceSize</key>
        <string>{57,147}</string>
      </dict>
      <key>weapon_1250_0_10_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{52,198},{177,73}}</string>
        <key>offset</key>
        <string>{2,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{177,73}}</string>
        <key>sourceSize</key>
        <string>{177,73}</string>
      </dict>
      <key>weapon_1250_0_10_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{832,220},{43,32}}</string>
        <key>offset</key>
        <string>{21,32}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{43,32}}</string>
        <key>sourceSize</key>
        <string>{43,32}</string>
      </dict>
      <key>weapon_1250_0_10_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,0},{174,44}}</string>
        <key>offset</key>
        <string>{-129,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,44}}</string>
        <key>sourceSize</key>
        <string>{174,44}</string>
      </dict>
      <key>weapon_1250_0_10_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{948,429},{66,42}}</string>
        <key>offset</key>
        <string>{39,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,42}}</string>
        <key>sourceSize</key>
        <string>{66,42}</string>
      </dict>
      <key>weapon_1250_0_10_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{286,165},{162,50}}</string>
        <key>offset</key>
        <string>{5,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,50}}</string>
        <key>sourceSize</key>
        <string>{162,50}</string>
      </dict>
      <key>weapon_1250_0_10_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,0},{169,106}}</string>
        <key>offset</key>
        <string>{6,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,106}}</string>
        <key>sourceSize</key>
        <string>{169,106}</string>
      </dict>
      <key>weapon_1250_0_10_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{898,256},{109,48}}</string>
        <key>offset</key>
        <string>{24,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,48}}</string>
        <key>sourceSize</key>
        <string>{109,48}</string>
      </dict>
      <key>weapon_1250_0_10_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{609,497},{90,41}}</string>
        <key>offset</key>
        <string>{-41,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,41}}</string>
        <key>sourceSize</key>
        <string>{90,41}</string>
      </dict>
      <key>weapon_1250_0_10_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{796,102},{116,78}}</string>
        <key>offset</key>
        <string>{-86,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,78}}</string>
        <key>sourceSize</key>
        <string>{116,78}</string>
      </dict>
      <key>weapon_1250_0_10_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{756,220},{74,30}}</string>
        <key>offset</key>
        <string>{-5,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,30}}</string>
        <key>sourceSize</key>
        <string>{74,30}</string>
      </dict>
      <key>weapon_1250_0_10_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,198},{180,50}}</string>
        <key>offset</key>
        <string>{19,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,50}}</string>
        <key>sourceSize</key>
        <string>{180,50}</string>
      </dict>
      <key>weapon_1250_0_10_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{63,0},{176,33}}</string>
        <key>offset</key>
        <string>{14,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,33}}</string>
        <key>sourceSize</key>
        <string>{176,33}</string>
      </dict>
      <key>weapon_1250_0_10_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{948,473},{41,41}}</string>
        <key>offset</key>
        <string>{16,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{41,41}}</string>
        <key>sourceSize</key>
        <string>{41,41}</string>
      </dict>
      <key>weapon_1250_0_10_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,295},{141,85}}</string>
        <key>offset</key>
        <string>{-97,83}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,85}}</string>
        <key>sourceSize</key>
        <string>{141,85}</string>
      </dict>
      <key>weapon_1250_0_10_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{898,306},{43,109}}</string>
        <key>offset</key>
        <string>{-10,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{43,109}}</string>
        <key>sourceSize</key>
        <string>{43,109}</string>
      </dict>
      <key>weapon_1250_0_10_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{687,146},{133,67}}</string>
        <key>offset</key>
        <string>{-76,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,67}}</string>
        <key>sourceSize</key>
        <string>{133,67}</string>
      </dict>
      <key>weapon_1250_0_10_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{793,256},{103,110}}</string>
        <key>offset</key>
        <string>{27,18}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,110}}</string>
        <key>sourceSize</key>
        <string>{103,110}</string>
      </dict>
      <key>weapon_1250_0_10_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{796,0},{100,59}}</string>
        <key>offset</key>
        <string>{23,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,59}}</string>
        <key>sourceSize</key>
        <string>{100,59}</string>
      </dict>
      <key>weapon_1250_0_10_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{878,102},{120,41}}</string>
        <key>offset</key>
        <string>{-69,40}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,41}}</string>
        <key>sourceSize</key>
        <string>{120,41}</string>
      </dict>
      <key>weapon_1250_0_10_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{512,392},{103,143}}</string>
        <key>offset</key>
        <string>{-83,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,143}}</string>
        <key>sourceSize</key>
        <string>{103,143}</string>
      </dict>
      <key>weapon_1250_0_10_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{338,165},{154,81}}</string>
        <key>offset</key>
        <string>{-5,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,81}}</string>
        <key>sourceSize</key>
        <string>{154,81}</string>
      </dict>
      <key>weapon_1250_0_10_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{756,382},{127,120}}</string>
        <key>offset</key>
        <string>{-92,117}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,120}}</string>
        <key>sourceSize</key>
        <string>{127,120}</string>
      </dict>
      <key>weapon_1250_0_10_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,0},{44,130}}</string>
        <key>offset</key>
        <string>{-5,18}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{44,130}}</string>
        <key>sourceSize</key>
        <string>{44,130}</string>
      </dict>
      <key>weapon_1250_0_10_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{878,429},{61,68}}</string>
        <key>offset</key>
        <string>{-15,15}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,68}}</string>
        <key>sourceSize</key>
        <string>{61,68}</string>
      </dict>
      <key>weapon_1250_0_10_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,307},{148,83}}</string>
        <key>offset</key>
        <string>{-106,81}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,83}}</string>
        <key>sourceSize</key>
        <string>{148,83}</string>
      </dict>
      <key>weapon_1250_0_10_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,380},{51,180}}</string>
        <key>offset</key>
        <string>{-22,176}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{51,180}}</string>
        <key>sourceSize</key>
        <string>{51,180}</string>
      </dict>
      <key>weapon_1250_0_10_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{196,61}}</string>
        <key>offset</key>
        <string>{1,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,61}}</string>
        <key>sourceSize</key>
        <string>{196,61}</string>
      </dict>
      <key>weapon_1250_0_10_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{178,433},{73,169}}</string>
        <key>offset</key>
        <string>{-52,163}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,169}}</string>
        <key>sourceSize</key>
        <string>{73,169}</string>
      </dict>
      <key>weapon_1250_0_10_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{494,0},{149,93}}</string>
        <key>offset</key>
        <string>{-108,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,93}}</string>
        <key>sourceSize</key>
        <string>{149,93}</string>
      </dict>
      <key>weapon_1250_0_10_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{563,151},{148,53}}</string>
        <key>offset</key>
        <string>{-101,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,53}}</string>
        <key>sourceSize</key>
        <string>{148,53}</string>
      </dict>
      <key>weapon_1250_0_10_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{648,0},{100,144}}</string>
        <key>offset</key>
        <string>{-71,139}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,144}}</string>
        <key>sourceSize</key>
        <string>{100,144}</string>
      </dict>
      <key>weapon_1250_0_10_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{127,176},{107,172}}</string>
        <key>offset</key>
        <string>{-2,186}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,172}}</string>
        <key>sourceSize</key>
        <string>{107,172}</string>
      </dict>
      <key>weapon_1250_0_10_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{878,145},{114,109}}</string>
        <key>offset</key>
        <string>{20,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,109}}</string>
        <key>sourceSize</key>
        <string>{114,109}</string>
      </dict>
      <key>weapon_1250_0_10_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{349,426},{77,161}}</string>
        <key>offset</key>
        <string>{-19,175}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,161}}</string>
        <key>sourceSize</key>
        <string>{77,161}</string>
      </dict>
      <key>weapon_1250_0_10_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,433},{176,59}}</string>
        <key>offset</key>
        <string>{-142,31}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,59}}</string>
        <key>sourceSize</key>
        <string>{176,59}</string>
      </dict>
      <key>weapon_1250_0_10_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{182,350},{166,74}}</string>
        <key>offset</key>
        <string>{-129,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,74}}</string>
        <key>sourceSize</key>
        <string>{166,74}</string>
      </dict>
      <key>weapon_1250_0_10_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{236,171},{48,165}}</string>
        <key>offset</key>
        <string>{-15,166}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,165}}</string>
        <key>sourceSize</key>
        <string>{48,165}</string>
      </dict>
      <key>weapon_1250_0_10_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{388,0},{153,104}}</string>
        <key>offset</key>
        <string>{13,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,104}}</string>
        <key>sourceSize</key>
        <string>{153,104}</string>
      </dict>
      <key>weapon_1250_0_10_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{878,59},{41,122}}</string>
        <key>offset</key>
        <string>{14,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{41,122}}</string>
        <key>sourceSize</key>
        <string>{41,122}</string>
      </dict>
      <key>weapon_1250_0_10_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{252,0},{163,134}}</string>
        <key>offset</key>
        <string>{-15,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,134}}</string>
        <key>sourceSize</key>
        <string>{163,134}</string>
      </dict>
      <key>weapon_1250_0_10_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{898,351},{108,76}}</string>
        <key>offset</key>
        <string>{-81,72}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,76}}</string>
        <key>sourceSize</key>
        <string>{108,76}</string>
      </dict>
      <key>weapon_1250_0_10_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{657,382},{97,128}}</string>
        <key>offset</key>
        <string>{-70,123}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,128}}</string>
        <key>sourceSize</key>
        <string>{97,128}</string>
      </dict>
      <key>weapon_1250_0_10_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{421,155},{140,150}}</string>
        <key>offset</key>
        <string>{-6,158}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,150}}</string>
        <key>sourceSize</key>
        <string>{140,150}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_1250_0_10.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>weapon_1250_0_10.png</string>
    </dict>
  </dict>
</plist>