<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_1248_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{669,0},{74,148}}</string>
        <key>offset</key>
        <string>{26,155}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,148}}</string>
        <key>sourceSize</key>
        <string>{74,148}</string>
      </dict>
      <key>weapon_1248_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{49,0},{179,68}}</string>
        <key>offset</key>
        <string>{-141,18}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{179,68}}</string>
        <key>sourceSize</key>
        <string>{179,68}</string>
      </dict>
      <key>weapon_1248_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{581,0},{86,156}}</string>
        <key>offset</key>
        <string>{-38,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,156}}</string>
        <key>sourceSize</key>
        <string>{86,156}</string>
      </dict>
      <key>weapon_1248_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{843,139},{108,66}}</string>
        <key>offset</key>
        <string>{33,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,66}}</string>
        <key>sourceSize</key>
        <string>{108,66}</string>
      </dict>
      <key>weapon_1248_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{655,503},{69,85}}</string>
        <key>offset</key>
        <string>{-40,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,85}}</string>
        <key>sourceSize</key>
        <string>{69,85}</string>
      </dict>
      <key>weapon_1248_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1003,0},{15,118}}</string>
        <key>offset</key>
        <string>{25,114}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{15,118}}</string>
        <key>sourceSize</key>
        <string>{15,118}</string>
      </dict>
      <key>weapon_1248_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{919,135},{67,131}}</string>
        <key>offset</key>
        <string>{18,128}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,131}}</string>
        <key>sourceSize</key>
        <string>{67,131}</string>
      </dict>
      <key>weapon_1248_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{119,0},{175,32}}</string>
        <key>offset</key>
        <string>{-162,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{175,32}}</string>
        <key>sourceSize</key>
        <string>{175,32}</string>
      </dict>
      <key>weapon_1248_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{203,0},{174,94}}</string>
        <key>offset</key>
        <string>{-122,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,94}}</string>
        <key>sourceSize</key>
        <string>{174,94}</string>
      </dict>
      <key>weapon_1248_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{742,507},{69,82}}</string>
        <key>offset</key>
        <string>{20,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,82}}</string>
        <key>sourceSize</key>
        <string>{69,82}</string>
      </dict>
      <key>weapon_1248_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{826,507},{81,75}}</string>
        <key>offset</key>
        <string>{32,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,75}}</string>
        <key>sourceSize</key>
        <string>{81,75}</string>
      </dict>
      <key>weapon_1248_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{745,294},{127,91}}</string>
        <key>offset</key>
        <string>{31,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,91}}</string>
        <key>sourceSize</key>
        <string>{127,91}</string>
      </dict>
      <key>weapon_1248_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,485},{25,127}}</string>
        <key>offset</key>
        <string>{12,117}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{25,127}}</string>
        <key>sourceSize</key>
        <string>{25,127}</string>
      </dict>
      <key>weapon_1248_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{559,480},{84,94}}</string>
        <key>offset</key>
        <string>{-81,117}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,94}}</string>
        <key>sourceSize</key>
        <string>{84,94}</string>
      </dict>
      <key>weapon_1248_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,0},{162,40}}</string>
        <key>offset</key>
        <string>{-121,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,40}}</string>
        <key>sourceSize</key>
        <string>{162,40}</string>
      </dict>
      <key>weapon_1248_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{988,135},{125,33}}</string>
        <key>offset</key>
        <string>{-52,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,33}}</string>
        <key>sourceSize</key>
        <string>{125,33}</string>
      </dict>
      <key>weapon_1248_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,455},{171,28}}</string>
        <key>offset</key>
        <string>{35,10}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,28}}</string>
        <key>sourceSize</key>
        <string>{171,28}</string>
      </dict>
      <key>weapon_1248_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{190,47}}</string>
        <key>offset</key>
        <string>{19,18}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{190,47}}</string>
        <key>sourceSize</key>
        <string>{190,47}</string>
      </dict>
      <key>weapon_1248_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{669,463},{38,134}}</string>
        <key>offset</key>
        <string>{-23,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{38,134}}</string>
        <key>sourceSize</key>
        <string>{38,134}</string>
      </dict>
      <key>weapon_1248_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{805,423},{82,105}}</string>
        <key>offset</key>
        <string>{-8,134}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,105}}</string>
        <key>sourceSize</key>
        <string>{82,105}</string>
      </dict>
      <key>weapon_1248_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{912,383},{72,99}}</string>
        <key>offset</key>
        <string>{-50,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,99}}</string>
        <key>sourceSize</key>
        <string>{72,99}</string>
      </dict>
      <key>weapon_1248_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{418,332},{160,95}}</string>
        <key>offset</key>
        <string>{-110,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,95}}</string>
        <key>sourceSize</key>
        <string>{160,95}</string>
      </dict>
      <key>weapon_1248_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,176},{166,96}}</string>
        <key>offset</key>
        <string>{29,-4}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,96}}</string>
        <key>sourceSize</key>
        <string>{166,96}</string>
      </dict>
      <key>weapon_1248_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{740,150},{142,101}}</string>
        <key>offset</key>
        <string>{10,5}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,101}}</string>
        <key>sourceSize</key>
        <string>{142,101}</string>
      </dict>
      <key>weapon_1248_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{669,314},{74,147}}</string>
        <key>offset</key>
        <string>{-52,151}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,147}}</string>
        <key>sourceSize</key>
        <string>{74,147}</string>
      </dict>
      <key>weapon_1248_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,383},{179,70}}</string>
        <key>offset</key>
        <string>{10,91}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{179,70}}</string>
        <key>sourceSize</key>
        <string>{179,70}</string>
      </dict>
      <key>weapon_1248_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{912,457},{86,80}}</string>
        <key>offset</key>
        <string>{0,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,80}}</string>
        <key>sourceSize</key>
        <string>{86,80}</string>
      </dict>
      <key>weapon_1248_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{503,163},{108,157}}</string>
        <key>offset</key>
        <string>{-93,150}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,157}}</string>
        <key>sourceSize</key>
        <string>{108,157}</string>
      </dict>
      <key>weapon_1248_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{597,322},{70,155}}</string>
        <key>offset</key>
        <string>{19,-5}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,155}}</string>
        <key>sourceSize</key>
        <string>{70,155}</string>
      </dict>
      <key>weapon_1248_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{418,494},{15,139}}</string>
        <key>offset</key>
        <string>{7,11}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{15,139}}</string>
        <key>sourceSize</key>
        <string>{15,139}</string>
      </dict>
      <key>weapon_1248_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,168},{68,165}}</string>
        <key>offset</key>
        <string>{-37,178}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,165}}</string>
        <key>sourceSize</key>
        <string>{68,165}</string>
      </dict>
      <key>weapon_1248_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{59,181},{178,90}}</string>
        <key>offset</key>
        <string>{33,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{178,90}}</string>
        <key>sourceSize</key>
        <string>{178,90}</string>
      </dict>
      <key>weapon_1248_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{151,177},{175,63}}</string>
        <key>offset</key>
        <string>{-5,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{175,63}}</string>
        <key>sourceSize</key>
        <string>{175,63}</string>
      </dict>
      <key>weapon_1248_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{153,0},{48,175}}</string>
        <key>offset</key>
        <string>{-37,180}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,175}}</string>
        <key>sourceSize</key>
        <string>{48,175}</string>
      </dict>
      <key>weapon_1248_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{515,322},{80,156}}</string>
        <key>offset</key>
        <string>{-64,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,156}}</string>
        <key>sourceSize</key>
        <string>{80,156}</string>
      </dict>
      <key>weapon_1248_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{843,268},{127,113}}</string>
        <key>offset</key>
        <string>{-110,20}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,113}}</string>
        <key>sourceSize</key>
        <string>{127,113}</string>
      </dict>
      <key>weapon_1248_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{442,0},{26,162}}</string>
        <key>offset</key>
        <string>{10,180}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{26,162}}</string>
        <key>sourceSize</key>
        <string>{26,162}</string>
      </dict>
      <key>weapon_1248_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{834,0},{83,137}}</string>
        <key>offset</key>
        <string>{45,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,137}}</string>
        <key>sourceSize</key>
        <string>{83,137}</string>
      </dict>
      <key>weapon_1248_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{384,167},{163,117}}</string>
        <key>offset</key>
        <string>{6,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,117}}</string>
        <key>sourceSize</key>
        <string>{163,117}</string>
      </dict>
      <key>weapon_1248_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{613,158},{125,154}}</string>
        <key>offset</key>
        <string>{-25,180}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,154}}</string>
        <key>sourceSize</key>
        <string>{125,154}</string>
      </dict>
      <key>weapon_1248_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{181,354},{170,106}}</string>
        <key>offset</key>
        <string>{-158,13}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,106}}</string>
        <key>sourceSize</key>
        <string>{170,106}</string>
      </dict>
      <key>weapon_1248_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,192},{189,57}}</string>
        <key>offset</key>
        <string>{-161,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{189,57}}</string>
        <key>sourceSize</key>
        <string>{189,57}</string>
      </dict>
      <key>weapon_1248_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{360,0},{38,165}}</string>
        <key>offset</key>
        <string>{33,180}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{38,165}}</string>
        <key>sourceSize</key>
        <string>{38,165}</string>
      </dict>
      <key>weapon_1248_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{919,0},{82,133}}</string>
        <key>offset</key>
        <string>{-26,28}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,133}}</string>
        <key>sourceSize</key>
        <string>{82,133}</string>
      </dict>
      <key>weapon_1248_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{299,0},{59,166}}</string>
        <key>offset</key>
        <string>{26,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,166}}</string>
        <key>sourceSize</key>
        <string>{59,166}</string>
      </dict>
      <key>weapon_1248_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{470,0},{161,109}}</string>
        <key>offset</key>
        <string>{-3,140}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,109}}</string>
        <key>sourceSize</key>
        <string>{161,109}</string>
      </dict>
      <key>weapon_1248_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{353,335},{165,63}}</string>
        <key>offset</key>
        <string>{-147,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,63}}</string>
        <key>sourceSize</key>
        <string>{165,63}</string>
      </dict>
      <key>weapon_1248_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{745,0},{142,87}}</string>
        <key>offset</key>
        <string>{-105,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,87}}</string>
        <key>sourceSize</key>
        <string>{142,87}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_1248_0_2.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>weapon_1248_0_2.png</string>
    </dict>
  </dict>
</plist>