<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_1338_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,0},{117,68}}</string>
        <key>offset</key>
        <string>{24,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,68}}</string>
        <key>sourceSize</key>
        <string>{117,68}</string>
      </dict>
      <key>weapon_1338_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{113,119},{103,89}}</string>
        <key>offset</key>
        <string>{27,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,89}}</string>
        <key>sourceSize</key>
        <string>{103,89}</string>
      </dict>
      <key>weapon_1338_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{193,351},{86,92}}</string>
        <key>offset</key>
        <string>{25,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,92}}</string>
        <key>sourceSize</key>
        <string>{86,92}</string>
      </dict>
      <key>weapon_1338_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,103},{100,41}}</string>
        <key>offset</key>
        <string>{13,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,41}}</string>
        <key>sourceSize</key>
        <string>{100,41}</string>
      </dict>
      <key>weapon_1338_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{223,445},{85,45}}</string>
        <key>offset</key>
        <string>{20,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,45}}</string>
        <key>sourceSize</key>
        <string>{85,45}</string>
      </dict>
      <key>weapon_1338_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{33,0},{127,51}}</string>
        <key>offset</key>
        <string>{17,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,51}}</string>
        <key>sourceSize</key>
        <string>{127,51}</string>
      </dict>
      <key>weapon_1338_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,205},{31,59}}</string>
        <key>offset</key>
        <string>{0,28}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{31,59}}</string>
        <key>sourceSize</key>
        <string>{31,59}</string>
      </dict>
      <key>weapon_1338_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,266},{28,40}}</string>
        <key>offset</key>
        <string>{9,29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{28,40}}</string>
        <key>sourceSize</key>
        <string>{28,40}</string>
      </dict>
      <key>weapon_1338_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{134,351},{96,57}}</string>
        <key>offset</key>
        <string>{10,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,57}}</string>
        <key>sourceSize</key>
        <string>{96,57}</string>
      </dict>
      <key>weapon_1338_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{281,351},{69,55}}</string>
        <key>offset</key>
        <string>{-59,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,55}}</string>
        <key>sourceSize</key>
        <string>{69,55}</string>
      </dict>
      <key>weapon_1338_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{310,422},{67,51}}</string>
        <key>offset</key>
        <string>{-49,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,51}}</string>
        <key>sourceSize</key>
        <string>{67,51}</string>
      </dict>
      <key>weapon_1338_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{220,327},{22,76}}</string>
        <key>offset</key>
        <string>{4,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{22,76}}</string>
        <key>sourceSize</key>
        <string>{22,76}</string>
      </dict>
      <key>weapon_1338_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{73,390},{119,59}}</string>
        <key>offset</key>
        <string>{-98,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,59}}</string>
        <key>sourceSize</key>
        <string>{119,59}</string>
      </dict>
      <key>weapon_1338_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,0},{101,75}}</string>
        <key>offset</key>
        <string>{-83,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,75}}</string>
        <key>sourceSize</key>
        <string>{101,75}</string>
      </dict>
      <key>weapon_1338_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{134,449},{87,61}}</string>
        <key>offset</key>
        <string>{-67,36}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,61}}</string>
        <key>sourceSize</key>
        <string>{87,61}</string>
      </dict>
      <key>weapon_1338_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{121,224},{101,101}}</string>
        <key>offset</key>
        <string>{-67,117}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,101}}</string>
        <key>sourceSize</key>
        <string>{101,101}</string>
      </dict>
      <key>weapon_1338_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,265},{88,123}}</string>
        <key>offset</key>
        <string>{-62,133}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,123}}</string>
        <key>sourceSize</key>
        <string>{88,123}</string>
      </dict>
      <key>weapon_1338_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,135},{128,44}}</string>
        <key>offset</key>
        <string>{-99,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,44}}</string>
        <key>sourceSize</key>
        <string>{128,44}</string>
      </dict>
      <key>weapon_1338_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{90,252},{29,115}}</string>
        <key>offset</key>
        <string>{13,125}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{29,115}}</string>
        <key>sourceSize</key>
        <string>{29,115}</string>
      </dict>
      <key>weapon_1338_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{31,133}}</string>
        <key>offset</key>
        <string>{6,142}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{31,133}}</string>
        <key>sourceSize</key>
        <string>{31,133}</string>
      </dict>
      <key>weapon_1338_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{233,0},{99,87}}</string>
        <key>offset</key>
        <string>{-62,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,87}}</string>
        <key>sourceSize</key>
        <string>{99,87}</string>
      </dict>
      <key>weapon_1338_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,390},{71,120}}</string>
        <key>offset</key>
        <string>{33,122}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,120}}</string>
        <key>sourceSize</key>
        <string>{71,120}</string>
      </dict>
      <key>weapon_1338_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{46,129},{65,121}}</string>
        <key>offset</key>
        <string>{28,127}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,121}}</string>
        <key>sourceSize</key>
        <string>{65,121}</string>
      </dict>
      <key>weapon_1338_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{121,327},{22,97}}</string>
        <key>offset</key>
        <string>{20,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{22,97}}</string>
        <key>sourceSize</key>
        <string>{22,97}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_1338_0_7.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>weapon_1338_0_7.png</string>
    </dict>
  </dict>
</plist>