<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_1330_0_8_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{582,146},{69,90}}</string>
        <key>offset</key>
        <string>{2,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,90}}</string>
        <key>sourceSize</key>
        <string>{69,90}</string>
      </dict>
      <key>weapon_1330_0_8_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{505,146},{75,114}}</string>
        <key>offset</key>
        <string>{-12,90}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,114}}</string>
        <key>sourceSize</key>
        <string>{75,114}</string>
      </dict>
      <key>weapon_1330_0_8_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{378,325},{139,94}}</string>
        <key>offset</key>
        <string>{3,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,94}}</string>
        <key>sourceSize</key>
        <string>{139,94}</string>
      </dict>
      <key>weapon_1330_0_8_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{474,325},{133,106}}</string>
        <key>offset</key>
        <string>{9,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,106}}</string>
        <key>sourceSize</key>
        <string>{133,106}</string>
      </dict>
      <key>weapon_1330_0_8_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{87,0},{191,127}}</string>
        <key>offset</key>
        <string>{-11,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{191,127}}</string>
        <key>sourceSize</key>
        <string>{191,127}</string>
      </dict>
      <key>weapon_1330_0_8_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{194,85}}</string>
        <key>offset</key>
        <string>{2,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{194,85}}</string>
        <key>sourceSize</key>
        <string>{194,85}</string>
      </dict>
      <key>weapon_1330_0_8_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,193},{151,167}}</string>
        <key>offset</key>
        <string>{-18,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,167}}</string>
        <key>sourceSize</key>
        <string>{151,167}</string>
      </dict>
      <key>weapon_1330_0_8_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,362},{166,136}}</string>
        <key>offset</key>
        <string>{-5,26}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,136}}</string>
        <key>sourceSize</key>
        <string>{166,136}</string>
      </dict>
      <key>weapon_1330_0_8_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,392},{72,190}}</string>
        <key>offset</key>
        <string>{-22,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,190}}</string>
        <key>sourceSize</key>
        <string>{72,190}</string>
      </dict>
      <key>weapon_1330_0_8_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{317,0},{77,161}}</string>
        <key>offset</key>
        <string>{-14,26}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,161}}</string>
        <key>sourceSize</key>
        <string>{77,161}</string>
      </dict>
      <key>weapon_1330_0_8_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{363,163},{140,160}}</string>
        <key>offset</key>
        <string>{-92,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,160}}</string>
        <key>sourceSize</key>
        <string>{140,160}</string>
      </dict>
      <key>weapon_1330_0_8_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{478,0},{134,144}}</string>
        <key>offset</key>
        <string>{-93,30}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,144}}</string>
        <key>sourceSize</key>
        <string>{134,144}</string>
      </dict>
      <key>weapon_1330_0_8_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{97,193},{190,111}}</string>
        <key>offset</key>
        <string>{-129,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{190,111}}</string>
        <key>sourceSize</key>
        <string>{190,111}</string>
      </dict>
      <key>weapon_1330_0_8_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,196},{194,95}}</string>
        <key>offset</key>
        <string>{-146,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{194,95}}</string>
        <key>sourceSize</key>
        <string>{194,95}</string>
      </dict>
      <key>weapon_1330_0_8_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,0},{149,80}}</string>
        <key>offset</key>
        <string>{-83,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,80}}</string>
        <key>sourceSize</key>
        <string>{149,80}</string>
      </dict>
      <key>weapon_1330_0_8_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,0},{164,99}}</string>
        <key>offset</key>
        <string>{-110,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,99}}</string>
        <key>sourceSize</key>
        <string>{164,99}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_1330_0_8.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>weapon_1330_0_8.png</string>
    </dict>
  </dict>
</plist>