<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_1249_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{186,0},{182,102}}</string>
        <key>offset</key>
        <string>{16,78}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,102}}</string>
        <key>sourceSize</key>
        <string>{182,102}</string>
      </dict>
      <key>weapon_1249_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{181,224},{174,122}}</string>
        <key>offset</key>
        <string>{17,105}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,122}}</string>
        <key>sourceSize</key>
        <string>{174,122}</string>
      </dict>
      <key>weapon_1249_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{171,485},{154,145}}</string>
        <key>offset</key>
        <string>{20,133}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,145}}</string>
        <key>sourceSize</key>
        <string>{154,145}</string>
      </dict>
      <key>weapon_1249_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{327,491},{133,73}}</string>
        <key>offset</key>
        <string>{8,24}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,73}}</string>
        <key>sourceSize</key>
        <string>{133,73}</string>
      </dict>
      <key>weapon_1249_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{439,184},{170,68}}</string>
        <key>offset</key>
        <string>{9,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,68}}</string>
        <key>sourceSize</key>
        <string>{170,68}</string>
      </dict>
      <key>weapon_1249_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,30},{182,81}}</string>
        <key>offset</key>
        <string>{12,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,81}}</string>
        <key>sourceSize</key>
        <string>{182,81}</string>
      </dict>
      <key>weapon_1249_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{482,0},{26,92}}</string>
        <key>offset</key>
        <string>{-2,30}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{26,92}}</string>
        <key>sourceSize</key>
        <string>{26,92}</string>
      </dict>
      <key>weapon_1249_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,643},{70,96}}</string>
        <key>offset</key>
        <string>{10,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,96}}</string>
        <key>sourceSize</key>
        <string>{70,96}</string>
      </dict>
      <key>weapon_1249_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,632},{105,87}}</string>
        <key>offset</key>
        <string>{11,29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,87}}</string>
        <key>sourceSize</key>
        <string>{105,87}</string>
      </dict>
      <key>weapon_1249_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{327,566},{126,79}}</string>
        <key>offset</key>
        <string>{-106,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,79}}</string>
        <key>sourceSize</key>
        <string>{126,79}</string>
      </dict>
      <key>weapon_1249_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,715},{82,96}}</string>
        <key>offset</key>
        <string>{-63,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,96}}</string>
        <key>sourceSize</key>
        <string>{82,96}</string>
      </dict>
      <key>weapon_1249_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,491},{45,95}}</string>
        <key>offset</key>
        <string>{-23,29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{45,95}}</string>
        <key>sourceSize</key>
        <string>{45,95}</string>
      </dict>
      <key>weapon_1249_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{370,0},{182,110}}</string>
        <key>offset</key>
        <string>{-150,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,110}}</string>
        <key>sourceSize</key>
        <string>{182,110}</string>
      </dict>
      <key>weapon_1249_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,246},{174,81}}</string>
        <key>offset</key>
        <string>{-143,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,81}}</string>
        <key>sourceSize</key>
        <string>{174,81}</string>
      </dict>
      <key>weapon_1249_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,571},{154,70}}</string>
        <key>offset</key>
        <string>{-127,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,70}}</string>
        <key>sourceSize</key>
        <string>{154,70}</string>
      </dict>
      <key>weapon_1249_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,329},{134,171}}</string>
        <key>offset</key>
        <string>{-94,167}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,171}}</string>
        <key>sourceSize</key>
        <string>{134,171}</string>
      </dict>
      <key>weapon_1249_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,348},{169,135}}</string>
        <key>offset</key>
        <string>{-130,130}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,135}}</string>
        <key>sourceSize</key>
        <string>{169,135}</string>
      </dict>
      <key>weapon_1249_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{184,104},{181,118}}</string>
        <key>offset</key>
        <string>{-146,114}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,118}}</string>
        <key>sourceSize</key>
        <string>{181,118}</string>
      </dict>
      <key>weapon_1249_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{28,184}}</string>
        <key>offset</key>
        <string>{23,178}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{28,184}}</string>
        <key>sourceSize</key>
        <string>{28,184}</string>
      </dict>
      <key>weapon_1249_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{367,184},{70,178}}</string>
        <key>offset</key>
        <string>{-32,174}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,178}}</string>
        <key>sourceSize</key>
        <string>{70,178}</string>
      </dict>
      <key>weapon_1249_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,465},{104,169}}</string>
        <key>offset</key>
        <string>{-68,169}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,169}}</string>
        <key>sourceSize</key>
        <string>{104,169}</string>
      </dict>
      <key>weapon_1249_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{344,364},{125,164}}</string>
        <key>offset</key>
        <string>{28,151}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,164}}</string>
        <key>sourceSize</key>
        <string>{125,164}</string>
      </dict>
      <key>weapon_1249_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,162},{82,179}}</string>
        <key>offset</key>
        <string>{28,171}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,179}}</string>
        <key>sourceSize</key>
        <string>{82,179}</string>
      </dict>
      <key>weapon_1249_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,113},{47,181}}</string>
        <key>offset</key>
        <string>{25,178}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,181}}</string>
        <key>sourceSize</key>
        <string>{47,181}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_1249_0_7.png</string>
      <key>size</key>
      <string>{512,1024}</string>
      <key>textureFileName</key>
      <string>weapon_1249_0_7.png</string>
    </dict>
  </dict>
</plist>