<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_1252_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{292,410},{64,193}}</string>
        <key>offset</key>
        <string>{29,182}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,193}}</string>
        <key>sourceSize</key>
        <string>{64,193}</string>
      </dict>
      <key>weapon_1252_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,685},{217,88}}</string>
        <key>offset</key>
        <string>{-148,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{217,88}}</string>
        <key>sourceSize</key>
        <string>{217,88}</string>
      </dict>
      <key>weapon_1252_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{220,208},{124,200}}</string>
        <key>offset</key>
        <string>{-56,103}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,200}}</string>
        <key>sourceSize</key>
        <string>{124,200}</string>
      </dict>
      <key>weapon_1252_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{814,296},{119,79}}</string>
        <key>offset</key>
        <string>{11,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,79}}</string>
        <key>sourceSize</key>
        <string>{119,79}</string>
      </dict>
      <key>weapon_1252_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{815,0},{102,136}}</string>
        <key>offset</key>
        <string>{-60,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,136}}</string>
        <key>sourceSize</key>
        <string>{102,136}</string>
      </dict>
      <key>weapon_1252_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{542,551},{53,172}}</string>
        <key>offset</key>
        <string>{-4,154}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,172}}</string>
        <key>sourceSize</key>
        <string>{53,172}</string>
      </dict>
      <key>weapon_1252_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,200},{76,192}}</string>
        <key>offset</key>
        <string>{20,171}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,192}}</string>
        <key>sourceSize</key>
        <string>{76,192}</string>
      </dict>
      <key>weapon_1252_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{346,200},{193,64}}</string>
        <key>offset</key>
        <string>{-154,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{193,64}}</string>
        <key>sourceSize</key>
        <string>{193,64}</string>
      </dict>
      <key>weapon_1252_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{90,679},{204,128}}</string>
        <key>offset</key>
        <string>{-124,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{204,128}}</string>
        <key>sourceSize</key>
        <string>{204,128}</string>
      </dict>
      <key>weapon_1252_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{737,331},{63,62}}</string>
        <key>offset</key>
        <string>{20,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,62}}</string>
        <key>sourceSize</key>
        <string>{63,62}</string>
      </dict>
      <key>weapon_1252_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{814,188},{106,124}}</string>
        <key>offset</key>
        <string>{16,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,124}}</string>
        <key>sourceSize</key>
        <string>{106,124}</string>
      </dict>
      <key>weapon_1252_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{666,179},{146,150}}</string>
        <key>offset</key>
        <string>{10,131}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,150}}</string>
        <key>sourceSize</key>
        <string>{146,150}</string>
      </dict>
      <key>weapon_1252_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{359,781},{51,187}}</string>
        <key>offset</key>
        <string>{9,161}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{51,187}}</string>
        <key>sourceSize</key>
        <string>{51,187}</string>
      </dict>
      <key>weapon_1252_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{940,188},{76,122}}</string>
        <key>offset</key>
        <string>{-66,140}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,122}}</string>
        <key>sourceSize</key>
        <string>{76,122}</string>
      </dict>
      <key>weapon_1252_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{538,375},{174,60}}</string>
        <key>offset</key>
        <string>{-112,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,60}}</string>
        <key>sourceSize</key>
        <string>{174,60}</string>
      </dict>
      <key>weapon_1252_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{476,577},{175,64}}</string>
        <key>offset</key>
        <string>{-78,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{175,64}}</string>
        <key>sourceSize</key>
        <string>{175,64}</string>
      </dict>
      <key>weapon_1252_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{83,227},{212,52}}</string>
        <key>offset</key>
        <string>{7,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{212,52}}</string>
        <key>sourceSize</key>
        <string>{212,52}</string>
      </dict>
      <key>weapon_1252_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{72,0},{225,65}}</string>
        <key>offset</key>
        <string>{-10,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{225,65}}</string>
        <key>sourceSize</key>
        <string>{225,65}</string>
      </dict>
      <key>weapon_1252_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{220,838},{41,184}}</string>
        <key>offset</key>
        <string>{-14,160}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{41,184}}</string>
        <key>sourceSize</key>
        <string>{41,184}</string>
      </dict>
      <key>weapon_1252_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{691,0},{139,122}}</string>
        <key>offset</key>
        <string>{-30,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,122}}</string>
        <key>sourceSize</key>
        <string>{139,122}</string>
      </dict>
      <key>weapon_1252_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{935,312},{62,86}}</string>
        <key>offset</key>
        <string>{-27,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,86}}</string>
        <key>sourceSize</key>
        <string>{62,86}</string>
      </dict>
      <key>weapon_1252_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{220,642},{194,137}}</string>
        <key>offset</key>
        <string>{-115,125}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{194,137}}</string>
        <key>sourceSize</key>
        <string>{194,137}</string>
      </dict>
      <key>weapon_1252_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,904},{203,89}}</string>
        <key>offset</key>
        <string>{2,15}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{203,89}}</string>
        <key>sourceSize</key>
        <string>{203,89}</string>
      </dict>
      <key>weapon_1252_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{440,394},{181,96}}</string>
        <key>offset</key>
        <string>{-12,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,96}}</string>
        <key>sourceSize</key>
        <string>{181,96}</string>
      </dict>
      <key>weapon_1252_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{449,0},{67,191}}</string>
        <key>offset</key>
        <string>{-49,176}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,191}}</string>
        <key>sourceSize</key>
        <string>{67,191}</string>
      </dict>
      <key>weapon_1252_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,232},{227,81}}</string>
        <key>offset</key>
        <string>{-23,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{227,81}}</string>
        <key>sourceSize</key>
        <string>{227,81}</string>
      </dict>
      <key>weapon_1252_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{815,104},{132,82}}</string>
        <key>offset</key>
        <string>{-22,116}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,82}}</string>
        <key>sourceSize</key>
        <string>{132,82}</string>
      </dict>
      <key>weapon_1252_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{205,885},{106,203}}</string>
        <key>offset</key>
        <string>{-75,177}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,203}}</string>
        <key>sourceSize</key>
        <string>{106,203}</string>
      </dict>
      <key>weapon_1252_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,375},{90,156}}</string>
        <key>offset</key>
        <string>{7,21}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,156}}</string>
        <key>sourceSize</key>
        <string>{90,156}</string>
      </dict>
      <key>weapon_1252_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{953,0},{46,134}}</string>
        <key>offset</key>
        <string>{1,30}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,134}}</string>
        <key>sourceSize</key>
        <string>{46,134}</string>
      </dict>
      <key>weapon_1252_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{359,590},{67,189}}</string>
        <key>offset</key>
        <string>{-43,183}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,189}}</string>
        <key>sourceSize</key>
        <string>{67,189}</string>
      </dict>
      <key>weapon_1252_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{303,0},{198,144}}</string>
        <key>offset</key>
        <string>{6,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{198,144}}</string>
        <key>sourceSize</key>
        <string>{198,144}</string>
      </dict>
      <key>weapon_1252_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{139,0},{206,98}}</string>
        <key>offset</key>
        <string>{-32,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,98}}</string>
        <key>sourceSize</key>
        <string>{206,98}</string>
      </dict>
      <key>weapon_1252_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{239,0},{62,199}}</string>
        <key>offset</key>
        <string>{-34,183}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,199}}</string>
        <key>sourceSize</key>
        <string>{62,199}</string>
      </dict>
      <key>weapon_1252_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{597,551},{109,162}}</string>
        <key>offset</key>
        <string>{-74,24}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,162}}</string>
        <key>sourceSize</key>
        <string>{109,162}</string>
      </dict>
      <key>weapon_1252_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{589,895},{146,127}}</string>
        <key>offset</key>
        <string>{-106,40}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,127}}</string>
        <key>sourceSize</key>
        <string>{146,127}</string>
      </dict>
      <key>weapon_1252_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{428,590},{46,183}}</string>
        <key>offset</key>
        <string>{-9,183}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,183}}</string>
        <key>sourceSize</key>
        <string>{46,183}</string>
      </dict>
      <key>weapon_1252_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,395},{80,193}}</string>
        <key>offset</key>
        <string>{36,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,193}}</string>
        <key>sourceSize</key>
        <string>{80,193}</string>
      </dict>
      <key>weapon_1252_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{490,193},{174,180}}</string>
        <key>offset</key>
        <string>{-17,108}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,180}}</string>
        <key>sourceSize</key>
        <string>{174,180}</string>
      </dict>
      <key>weapon_1252_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{518,0},{177,171}}</string>
        <key>offset</key>
        <string>{-51,183}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{177,171}}</string>
        <key>sourceSize</key>
        <string>{177,171}</string>
      </dict>
      <key>weapon_1252_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{64,461},{216,107}}</string>
        <key>offset</key>
        <string>{-174,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{216,107}}</string>
        <key>sourceSize</key>
        <string>{216,107}</string>
      </dict>
      <key>weapon_1252_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{230,70}}</string>
        <key>offset</key>
        <string>{-171,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{230,70}}</string>
        <key>sourceSize</key>
        <string>{230,70}</string>
      </dict>
      <key>weapon_1252_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{545,834},{42,186}}</string>
        <key>offset</key>
        <string>{20,183}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{42,186}}</string>
        <key>sourceSize</key>
        <string>{42,186}</string>
      </dict>
      <key>weapon_1252_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{589,725},{131,168}}</string>
        <key>offset</key>
        <string>{-53,67}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,168}}</string>
        <key>sourceSize</key>
        <string>{131,168}</string>
      </dict>
      <key>weapon_1252_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,461},{62,222}}</string>
        <key>offset</key>
        <string>{12,113}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,222}}</string>
        <key>sourceSize</key>
        <string>{62,222}</string>
      </dict>
      <key>weapon_1252_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,438},{202,117}}</string>
        <key>offset</key>
        <string>{-33,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{202,117}}</string>
        <key>sourceSize</key>
        <string>{202,117}</string>
      </dict>
      <key>weapon_1252_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,227},{209,81}}</string>
        <key>offset</key>
        <string>{-163,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,81}}</string>
        <key>sourceSize</key>
        <string>{209,81}</string>
      </dict>
      <key>weapon_1252_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{410,834},{187,133}}</string>
        <key>offset</key>
        <string>{-126,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{187,133}}</string>
        <key>sourceSize</key>
        <string>{187,133}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_1252_0_2.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>weapon_1252_0_2.png</string>
    </dict>
  </dict>
</plist>