<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_1318_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{422,0},{68,153}}</string>
        <key>offset</key>
        <string>{23,135}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,153}}</string>
        <key>sourceSize</key>
        <string>{68,153}</string>
      </dict>
      <key>weapon_1318_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{282,492},{135,67}}</string>
        <key>offset</key>
        <string>{-94,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,67}}</string>
        <key>sourceSize</key>
        <string>{135,67}</string>
      </dict>
      <key>weapon_1318_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,850},{71,120}}</string>
        <key>offset</key>
        <string>{-20,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,120}}</string>
        <key>sourceSize</key>
        <string>{71,120}</string>
      </dict>
      <key>weapon_1318_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{247,864},{97,109}}</string>
        <key>offset</key>
        <string>{23,91}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,109}}</string>
        <key>sourceSize</key>
        <string>{97,109}</string>
      </dict>
      <key>weapon_1318_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{346,945},{66,96}}</string>
        <key>offset</key>
        <string>{-32,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,96}}</string>
        <key>sourceSize</key>
        <string>{66,96}</string>
      </dict>
      <key>weapon_1318_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{123,797},{37,112}}</string>
        <key>offset</key>
        <string>{17,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{37,112}}</string>
        <key>sourceSize</key>
        <string>{37,112}</string>
      </dict>
      <key>weapon_1318_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{269,629},{63,127}}</string>
        <key>offset</key>
        <string>{18,111}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,127}}</string>
        <key>sourceSize</key>
        <string>{63,127}</string>
      </dict>
      <key>weapon_1318_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{422,155},{150,75}}</string>
        <key>offset</key>
        <string>{-120,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,75}}</string>
        <key>sourceSize</key>
        <string>{150,75}</string>
      </dict>
      <key>weapon_1318_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{353,464},{137,92}}</string>
        <key>offset</key>
        <string>{-81,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,92}}</string>
        <key>sourceSize</key>
        <string>{137,92}</string>
      </dict>
      <key>weapon_1318_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{492,464},{69,89}}</string>
        <key>offset</key>
        <string>{25,72}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,89}}</string>
        <key>sourceSize</key>
        <string>{69,89}</string>
      </dict>
      <key>weapon_1318_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{252,758},{75,86}}</string>
        <key>offset</key>
        <string>{23,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,86}}</string>
        <key>sourceSize</key>
        <string>{75,86}</string>
      </dict>
      <key>weapon_1318_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{492,0},{105,93}}</string>
        <key>offset</key>
        <string>{27,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,93}}</string>
        <key>sourceSize</key>
        <string>{105,93}</string>
      </dict>
      <key>weapon_1318_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,972},{41,114}}</string>
        <key>offset</key>
        <string>{5,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{41,114}}</string>
        <key>sourceSize</key>
        <string>{41,114}</string>
      </dict>
      <key>weapon_1318_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,648},{98,126}}</string>
        <key>offset</key>
        <string>{-64,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,126}}</string>
        <key>sourceSize</key>
        <string>{98,126}</string>
      </dict>
      <key>weapon_1318_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,636},{127,91}}</string>
        <key>offset</key>
        <string>{-83,71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,91}}</string>
        <key>sourceSize</key>
        <string>{127,91}</string>
      </dict>
      <key>weapon_1318_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{445,864},{103,82}}</string>
        <key>offset</key>
        <string>{-21,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,82}}</string>
        <key>sourceSize</key>
        <string>{103,82}</string>
      </dict>
      <key>weapon_1318_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,326},{139,51}}</string>
        <key>offset</key>
        <string>{27,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,51}}</string>
        <key>sourceSize</key>
        <string>{139,51}</string>
      </dict>
      <key>weapon_1318_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,163},{150,57}}</string>
        <key>offset</key>
        <string>{16,28}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,57}}</string>
        <key>sourceSize</key>
        <string>{150,57}</string>
      </dict>
      <key>weapon_1318_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,176},{54,124}}</string>
        <key>offset</key>
        <string>{-24,103}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,124}}</string>
        <key>sourceSize</key>
        <string>{54,124}</string>
      </dict>
      <key>weapon_1318_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,307},{88,143}}</string>
        <key>offset</key>
        <string>{-27,123}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,143}}</string>
        <key>sourceSize</key>
        <string>{88,143}</string>
      </dict>
      <key>weapon_1318_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,752},{60,110}}</string>
        <key>offset</key>
        <string>{-30,90}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,110}}</string>
        <key>sourceSize</key>
        <string>{60,110}</string>
      </dict>
      <key>weapon_1318_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,748},{121,100}}</string>
        <key>offset</key>
        <string>{-68,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,100}}</string>
        <key>sourceSize</key>
        <string>{121,100}</string>
      </dict>
      <key>weapon_1318_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,492},{136,80}}</string>
        <key>offset</key>
        <string>{22,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,80}}</string>
        <key>sourceSize</key>
        <string>{136,80}</string>
      </dict>
      <key>weapon_1318_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{334,752},{114,83}}</string>
        <key>offset</key>
        <string>{8,11}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,83}}</string>
        <key>sourceSize</key>
        <string>{114,83}</string>
      </dict>
      <key>weapon_1318_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,222},{73,148}}</string>
        <key>offset</key>
        <string>{-47,125}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,148}}</string>
        <key>sourceSize</key>
        <string>{73,148}</string>
      </dict>
      <key>weapon_1318_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,394},{142,126}}</string>
        <key>offset</key>
        <string>{6,105}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,126}}</string>
        <key>sourceSize</key>
        <string>{142,126}</string>
      </dict>
      <key>weapon_1318_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{334,674},{76,117}}</string>
        <key>offset</key>
        <string>{-4,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,117}}</string>
        <key>sourceSize</key>
        <string>{76,117}</string>
      </dict>
      <key>weapon_1318_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,297},{95,146}}</string>
        <key>offset</key>
        <string>{-70,125}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,146}}</string>
        <key>sourceSize</key>
        <string>{95,146}</string>
      </dict>
      <key>weapon_1318_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,729},{66,122}}</string>
        <key>offset</key>
        <string>{15,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,122}}</string>
        <key>sourceSize</key>
        <string>{66,122}</string>
      </dict>
      <key>weapon_1318_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{116,971},{48,103}}</string>
        <key>offset</key>
        <string>{-15,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,103}}</string>
        <key>sourceSize</key>
        <string>{48,103}</string>
      </dict>
      <key>weapon_1318_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{176,96},{70,171}}</string>
        <key>offset</key>
        <string>{-42,151}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,171}}</string>
        <key>sourceSize</key>
        <string>{70,171}</string>
      </dict>
      <key>weapon_1318_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{152,168},{149,104}}</string>
        <key>offset</key>
        <string>{20,84}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,104}}</string>
        <key>sourceSize</key>
        <string>{149,104}</string>
      </dict>
      <key>weapon_1318_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,522},{135,124}}</string>
        <key>offset</key>
        <string>{-8,104}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,124}}</string>
        <key>sourceSize</key>
        <string>{135,124}</string>
      </dict>
      <key>weapon_1318_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{186,0},{94,176}}</string>
        <key>offset</key>
        <string>{-73,156}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,176}}</string>
        <key>sourceSize</key>
        <string>{94,176}</string>
      </dict>
      <key>weapon_1318_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{73,850},{71,119}}</string>
        <key>offset</key>
        <string>{-49,3}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,119}}</string>
        <key>sourceSize</key>
        <string>{71,119}</string>
      </dict>
      <key>weapon_1318_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{481,558},{103,97}}</string>
        <key>offset</key>
        <string>{-82,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,97}}</string>
        <key>sourceSize</key>
        <string>{103,97}</string>
      </dict>
      <key>weapon_1318_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{43,184}}</string>
        <key>offset</key>
        <string>{-2,159}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{43,184}}</string>
        <key>sourceSize</key>
        <string>{43,184}</string>
      </dict>
      <key>weapon_1318_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{346,837},{97,106}}</string>
        <key>offset</key>
        <string>{18,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,106}}</string>
        <key>sourceSize</key>
        <string>{97,106}</string>
      </dict>
      <key>weapon_1318_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{351,558},{128,114}}</string>
        <key>offset</key>
        <string>{3,91}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,114}}</string>
        <key>sourceSize</key>
        <string>{128,114}</string>
      </dict>
      <key>weapon_1318_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,45},{116,174}}</string>
        <key>offset</key>
        <string>{-44,156}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,174}}</string>
        <key>sourceSize</key>
        <string>{116,174}</string>
      </dict>
      <key>weapon_1318_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,402},{139,88}}</string>
        <key>offset</key>
        <string>{-118,15}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,88}}</string>
        <key>sourceSize</key>
        <string>{139,88}</string>
      </dict>
      <key>weapon_1318_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{303,176},{148,61}}</string>
        <key>offset</key>
        <string>{-116,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,61}}</string>
        <key>sourceSize</key>
        <string>{148,61}</string>
      </dict>
      <key>weapon_1318_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{364,0},{56,174}}</string>
        <key>offset</key>
        <string>{17,155}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,174}}</string>
        <key>sourceSize</key>
        <string>{56,174}</string>
      </dict>
      <key>weapon_1318_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{453,674},{72,100}}</string>
        <key>offset</key>
        <string>{-10,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,100}}</string>
        <key>sourceSize</key>
        <string>{72,100}</string>
      </dict>
      <key>weapon_1318_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,574},{60,130}}</string>
        <key>offset</key>
        <string>{17,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,130}}</string>
        <key>sourceSize</key>
        <string>{60,130}</string>
      </dict>
      <key>weapon_1318_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,274},{126,148}}</string>
        <key>offset</key>
        <string>{-5,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,148}}</string>
        <key>sourceSize</key>
        <string>{126,148}</string>
      </dict>
      <key>weapon_1318_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{353,397},{138,65}}</string>
        <key>offset</key>
        <string>{-110,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,65}}</string>
        <key>sourceSize</key>
        <string>{138,65}</string>
      </dict>
      <key>weapon_1318_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{146,837},{114,99}}</string>
        <key>offset</key>
        <string>{-74,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,99}}</string>
        <key>sourceSize</key>
        <string>{114,99}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_1318_0_2.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>weapon_1318_0_2.png</string>
    </dict>
  </dict>
</plist>