<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_1318_0_10_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{401,510},{104,81}}</string>
        <key>offset</key>
        <string>{23,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,81}}</string>
        <key>sourceSize</key>
        <string>{104,81}</string>
      </dict>
      <key>weapon_1318_0_10_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,453},{69,134}}</string>
        <key>offset</key>
        <string>{-38,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,134}}</string>
        <key>sourceSize</key>
        <string>{69,134}</string>
      </dict>
      <key>weapon_1318_0_10_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{391,701},{69,118}}</string>
        <key>offset</key>
        <string>{23,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,118}}</string>
        <key>sourceSize</key>
        <string>{69,118}</string>
      </dict>
      <key>weapon_1318_0_10_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{147,866},{67,101}}</string>
        <key>offset</key>
        <string>{-15,83}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,101}}</string>
        <key>sourceSize</key>
        <string>{67,101}</string>
      </dict>
      <key>weapon_1318_0_10_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{79,901},{66,108}}</string>
        <key>offset</key>
        <string>{-12,90}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,108}}</string>
        <key>sourceSize</key>
        <string>{66,108}</string>
      </dict>
      <key>weapon_1318_0_10_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{143,354},{139,104}}</string>
        <key>offset</key>
        <string>{11,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,104}}</string>
        <key>sourceSize</key>
        <string>{139,104}</string>
      </dict>
      <key>weapon_1318_0_10_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{507,510},{63,85}}</string>
        <key>offset</key>
        <string>{9,36}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,85}}</string>
        <key>sourceSize</key>
        <string>{63,85}</string>
      </dict>
      <key>weapon_1318_0_10_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{391,601},{119,98}}</string>
        <key>offset</key>
        <string>{-89,37}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,98}}</string>
        <key>sourceSize</key>
        <string>{119,98}</string>
      </dict>
      <key>weapon_1318_0_10_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{511,701},{60,90}}</string>
        <key>offset</key>
        <string>{10,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,90}}</string>
        <key>sourceSize</key>
        <string>{60,90}</string>
      </dict>
      <key>weapon_1318_0_10_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,608},{127,78}}</string>
        <key>offset</key>
        <string>{13,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,78}}</string>
        <key>sourceSize</key>
        <string>{127,78}</string>
      </dict>
      <key>weapon_1318_0_10_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,524},{130,82}}</string>
        <key>offset</key>
        <string>{8,66}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,82}}</string>
        <key>sourceSize</key>
        <string>{130,82}</string>
      </dict>
      <key>weapon_1318_0_10_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{235,793},{104,68}}</string>
        <key>offset</key>
        <string>{23,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,68}}</string>
        <key>sourceSize</key>
        <string>{104,68}</string>
      </dict>
      <key>weapon_1318_0_10_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,688},{117,61}}</string>
        <key>offset</key>
        <string>{-69,31}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,61}}</string>
        <key>sourceSize</key>
        <string>{117,61}</string>
      </dict>
      <key>weapon_1318_0_10_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,901},{111,77}}</string>
        <key>offset</key>
        <string>{-78,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,77}}</string>
        <key>sourceSize</key>
        <string>{111,77}</string>
      </dict>
      <key>weapon_1318_0_10_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,810},{112,89}}</string>
        <key>offset</key>
        <string>{-47,71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,89}}</string>
        <key>sourceSize</key>
        <string>{112,89}</string>
      </dict>
      <key>weapon_1318_0_10_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{292,303},{140,69}}</string>
        <key>offset</key>
        <string>{27,29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,69}}</string>
        <key>sourceSize</key>
        <string>{140,69}</string>
      </dict>
      <key>weapon_1318_0_10_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,234},{143,67}}</string>
        <key>offset</key>
        <string>{19,36}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,67}}</string>
        <key>sourceSize</key>
        <string>{143,67}</string>
      </dict>
      <key>weapon_1318_0_10_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{512,597},{58,61}}</string>
        <key>offset</key>
        <string>{11,32}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,61}}</string>
        <key>sourceSize</key>
        <string>{58,61}</string>
      </dict>
      <key>weapon_1318_0_10_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,0},{146,84}}</string>
        <key>offset</key>
        <string>{-110,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,84}}</string>
        <key>sourceSize</key>
        <string>{146,84}</string>
      </dict>
      <key>weapon_1318_0_10_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{473,772},{47,94}}</string>
        <key>offset</key>
        <string>{-14,66}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,94}}</string>
        <key>sourceSize</key>
        <string>{47,94}</string>
      </dict>
      <key>weapon_1318_0_10_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{270,478},{121,129}}</string>
        <key>offset</key>
        <string>{-70,106}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,129}}</string>
        <key>sourceSize</key>
        <string>{121,129}</string>
      </dict>
      <key>weapon_1318_0_10_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,772},{95,105}}</string>
        <key>offset</key>
        <string>{26,15}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,105}}</string>
        <key>sourceSize</key>
        <string>{95,105}</string>
      </dict>
      <key>weapon_1318_0_10_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{318,925},{85,98}}</string>
        <key>offset</key>
        <string>{26,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,98}}</string>
        <key>sourceSize</key>
        <string>{85,98}</string>
      </dict>
      <key>weapon_1318_0_10_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{235,863},{104,60}}</string>
        <key>offset</key>
        <string>{-58,33}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,60}}</string>
        <key>sourceSize</key>
        <string>{104,60}</string>
      </dict>
      <key>weapon_1318_0_10_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{284,374},{102,132}}</string>
        <key>offset</key>
        <string>{-75,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,132}}</string>
        <key>sourceSize</key>
        <string>{102,132}</string>
      </dict>
      <key>weapon_1318_0_10_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{497,148},{75,92}}</string>
        <key>offset</key>
        <string>{14,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,92}}</string>
        <key>sourceSize</key>
        <string>{75,92}</string>
      </dict>
      <key>weapon_1318_0_10_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,0},{72,163}}</string>
        <key>offset</key>
        <string>{-45,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,163}}</string>
        <key>sourceSize</key>
        <string>{72,163}</string>
      </dict>
      <key>weapon_1318_0_10_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,751},{57,117}}</string>
        <key>offset</key>
        <string>{-7,6}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,117}}</string>
        <key>sourceSize</key>
        <string>{57,117}</string>
      </dict>
      <key>weapon_1318_0_10_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{249,729},{62,115}}</string>
        <key>offset</key>
        <string>{-11,18}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,115}}</string>
        <key>sourceSize</key>
        <string>{62,115}</string>
      </dict>
      <key>weapon_1318_0_10_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,361},{139,90}}</string>
        <key>offset</key>
        <string>{-102,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,90}}</string>
        <key>sourceSize</key>
        <string>{139,90}</string>
      </dict>
      <key>weapon_1318_0_10_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{341,165},{67,154}}</string>
        <key>offset</key>
        <string>{-27,134}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,154}}</string>
        <key>sourceSize</key>
        <string>{67,154}</string>
      </dict>
      <key>weapon_1318_0_10_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{129,673},{118,84}}</string>
        <key>offset</key>
        <string>{17,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,84}}</string>
        <key>sourceSize</key>
        <string>{118,84}</string>
      </dict>
      <key>weapon_1318_0_10_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{87,179}}</string>
        <key>offset</key>
        <string>{-43,159}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,179}}</string>
        <key>sourceSize</key>
        <string>{87,179}</string>
      </dict>
      <key>weapon_1318_0_10_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{418,379},{129,89}}</string>
        <key>offset</key>
        <string>{-94,6}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,89}}</string>
        <key>sourceSize</key>
        <string>{129,89}</string>
      </dict>
      <key>weapon_1318_0_10_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,586},{129,85}}</string>
        <key>offset</key>
        <string>{-89,18}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,85}}</string>
        <key>sourceSize</key>
        <string>{129,85}</string>
      </dict>
      <key>weapon_1318_0_10_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,200},{108,145}}</string>
        <key>offset</key>
        <string>{-81,118}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,145}}</string>
        <key>sourceSize</key>
        <string>{108,145}</string>
      </dict>
      <key>weapon_1318_0_10_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{136,460},{124,132}}</string>
        <key>offset</key>
        <string>{-1,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,132}}</string>
        <key>sourceSize</key>
        <string>{124,132}</string>
      </dict>
      <key>weapon_1318_0_10_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{119,759},{105,114}}</string>
        <key>offset</key>
        <string>{19,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,114}}</string>
        <key>sourceSize</key>
        <string>{105,114}</string>
      </dict>
      <key>weapon_1318_0_10_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{181,63},{116,158}}</string>
        <key>offset</key>
        <string>{-17,140}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,158}}</string>
        <key>sourceSize</key>
        <string>{116,158}</string>
      </dict>
      <key>weapon_1318_0_10_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{445,234},{143,64}}</string>
        <key>offset</key>
        <string>{-122,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,64}}</string>
        <key>sourceSize</key>
        <string>{143,64}</string>
      </dict>
      <key>weapon_1318_0_10_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{147,291},{143,61}}</string>
        <key>offset</key>
        <string>{-114,37}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,61}}</string>
        <key>sourceSize</key>
        <string>{143,61}</string>
      </dict>
      <key>weapon_1318_0_10_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{181,0},{61,167}}</string>
        <key>offset</key>
        <string>{-28,148}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,167}}</string>
        <key>sourceSize</key>
        <string>{61,167}</string>
      </dict>
      <key>weapon_1318_0_10_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,89},{148,109}}</string>
        <key>offset</key>
        <string>{12,90}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,109}}</string>
        <key>sourceSize</key>
        <string>{148,109}</string>
      </dict>
      <key>weapon_1318_0_10_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,310},{49,141}}</string>
        <key>offset</key>
        <string>{14,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{49,141}}</string>
        <key>sourceSize</key>
        <string>{49,141}</string>
      </dict>
      <key>weapon_1318_0_10_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{263,601},{126,126}}</string>
        <key>offset</key>
        <string>{-3,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,126}}</string>
        <key>sourceSize</key>
        <string>{126,126}</string>
      </dict>
      <key>weapon_1318_0_10_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{418,869},{98,95}}</string>
        <key>offset</key>
        <string>{-73,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,95}}</string>
        <key>sourceSize</key>
        <string>{98,95}</string>
      </dict>
      <key>weapon_1318_0_10_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,925},{93,100}}</string>
        <key>offset</key>
        <string>{-68,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,100}}</string>
        <key>sourceSize</key>
        <string>{93,100}</string>
      </dict>
      <key>weapon_1318_0_10_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,181},{108,148}}</string>
        <key>offset</key>
        <string>{1,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,148}}</string>
        <key>sourceSize</key>
        <string>{108,148}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_1318_0_10.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>weapon_1318_0_10.png</string>
    </dict>
  </dict>
</plist>