<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_1319_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{724,101},{52,85}}</string>
        <key>offset</key>
        <string>{21,67}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,85}}</string>
        <key>sourceSize</key>
        <string>{52,85}</string>
      </dict>
      <key>weapon_1319_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{393,464},{45,110}}</string>
        <key>offset</key>
        <string>{20,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{45,110}}</string>
        <key>sourceSize</key>
        <string>{45,110}</string>
      </dict>
      <key>weapon_1319_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{247,135},{35,121}}</string>
        <key>offset</key>
        <string>{19,103}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{35,121}}</string>
        <key>sourceSize</key>
        <string>{35,121}</string>
      </dict>
      <key>weapon_1319_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{133,139},{35,134}}</string>
        <key>offset</key>
        <string>{16,116}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{35,134}}</string>
        <key>sourceSize</key>
        <string>{35,134}</string>
      </dict>
      <key>weapon_1319_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{274,464},{35,117}}</string>
        <key>offset</key>
        <string>{20,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{35,117}}</string>
        <key>sourceSize</key>
        <string>{35,117}</string>
      </dict>
      <key>weapon_1319_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{656,207},{50,93}}</string>
        <key>offset</key>
        <string>{21,75}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,93}}</string>
        <key>sourceSize</key>
        <string>{50,93}</string>
      </dict>
      <key>weapon_1319_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{284,123},{119,61}}</string>
        <key>offset</key>
        <string>{6,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,61}}</string>
        <key>sourceSize</key>
        <string>{119,61}</string>
      </dict>
      <key>weapon_1319_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{290,244},{117,82}}</string>
        <key>offset</key>
        <string>{7,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,82}}</string>
        <key>sourceSize</key>
        <string>{117,82}</string>
      </dict>
      <key>weapon_1319_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{562,0},{103,98}}</string>
        <key>offset</key>
        <string>{14,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,98}}</string>
        <key>sourceSize</key>
        <string>{103,98}</string>
      </dict>
      <key>weapon_1319_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{415,0},{94,113}}</string>
        <key>offset</key>
        <string>{18,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,113}}</string>
        <key>sourceSize</key>
        <string>{94,113}</string>
      </dict>
      <key>weapon_1319_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,237},{108,85}}</string>
        <key>offset</key>
        <string>{12,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,85}}</string>
        <key>sourceSize</key>
        <string>{108,85}</string>
      </dict>
      <key>weapon_1319_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{274,399},{118,63}}</string>
        <key>offset</key>
        <string>{8,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,63}}</string>
        <key>sourceSize</key>
        <string>{118,63}</string>
      </dict>
      <key>weapon_1319_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{138,416},{134,73}}</string>
        <key>offset</key>
        <string>{-7,34}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,73}}</string>
        <key>sourceSize</key>
        <string>{134,73}</string>
      </dict>
      <key>weapon_1319_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{139,58}}</string>
        <key>offset</key>
        <string>{-6,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,58}}</string>
        <key>sourceSize</key>
        <string>{139,58}</string>
      </dict>
      <key>weapon_1319_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{71,140},{137,60}}</string>
        <key>offset</key>
        <string>{2,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,60}}</string>
        <key>sourceSize</key>
        <string>{137,60}</string>
      </dict>
      <key>weapon_1319_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{193,0},{133,70}}</string>
        <key>offset</key>
        <string>{7,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,70}}</string>
        <key>sourceSize</key>
        <string>{133,70}</string>
      </dict>
      <key>weapon_1319_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{60,0},{138,59}}</string>
        <key>offset</key>
        <string>{1,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,59}}</string>
        <key>sourceSize</key>
        <string>{138,59}</string>
      </dict>
      <key>weapon_1319_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,275},{134,68}}</string>
        <key>offset</key>
        <string>{-4,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,68}}</string>
        <key>sourceSize</key>
        <string>{134,68}</string>
      </dict>
      <key>weapon_1319_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{468,331},{80,103}}</string>
        <key>offset</key>
        <string>{-8,36}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,103}}</string>
        <key>sourceSize</key>
        <string>{80,103}</string>
      </dict>
      <key>weapon_1319_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{704,302},{90,85}}</string>
        <key>offset</key>
        <string>{-6,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,85}}</string>
        <key>sourceSize</key>
        <string>{90,85}</string>
      </dict>
      <key>weapon_1319_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{505,436},{102,74}}</string>
        <key>offset</key>
        <string>{-3,36}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,74}}</string>
        <key>sourceSize</key>
        <string>{102,74}</string>
      </dict>
      <key>weapon_1319_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{509,115},{105,64}}</string>
        <key>offset</key>
        <string>{-1,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,64}}</string>
        <key>sourceSize</key>
        <string>{105,64}</string>
      </dict>
      <key>weapon_1319_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{662,0},{99,84}}</string>
        <key>offset</key>
        <string>{-4,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,84}}</string>
        <key>sourceSize</key>
        <string>{99,84}</string>
      </dict>
      <key>weapon_1319_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{619,326},{83,97}}</string>
        <key>offset</key>
        <string>{-5,33}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,97}}</string>
        <key>sourceSize</key>
        <string>{83,97}</string>
      </dict>
      <key>weapon_1319_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{455,115},{52,106}}</string>
        <key>offset</key>
        <string>{-24,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,106}}</string>
        <key>sourceSize</key>
        <string>{52,106}</string>
      </dict>
      <key>weapon_1319_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{676,101},{46,91}}</string>
        <key>offset</key>
        <string>{-17,40}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,91}}</string>
        <key>sourceSize</key>
        <string>{46,91}</string>
      </dict>
      <key>weapon_1319_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{748,0},{36,83}}</string>
        <key>offset</key>
        <string>{-7,37}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{36,83}}</string>
        <key>sourceSize</key>
        <string>{36,83}</string>
      </dict>
      <key>weapon_1319_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{778,85},{36,76}}</string>
        <key>offset</key>
        <string>{-4,36}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{36,76}}</string>
        <key>sourceSize</key>
        <string>{36,76}</string>
      </dict>
      <key>weapon_1319_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{704,394},{35,89}}</string>
        <key>offset</key>
        <string>{-7,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{35,89}}</string>
        <key>sourceSize</key>
        <string>{35,89}</string>
      </dict>
      <key>weapon_1319_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{511,0},{49,105}}</string>
        <key>offset</key>
        <string>{-21,38}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{49,105}}</string>
        <key>sourceSize</key>
        <string>{49,105}</string>
      </dict>
      <key>weapon_1319_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{265,0},{121,78}}</string>
        <key>offset</key>
        <string>{-77,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,78}}</string>
        <key>sourceSize</key>
        <string>{121,78}</string>
      </dict>
      <key>weapon_1319_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{345,0},{119,68}}</string>
        <key>offset</key>
        <string>{-75,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,68}}</string>
        <key>sourceSize</key>
        <string>{119,68}</string>
      </dict>
      <key>weapon_1319_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,331},{102,67}}</string>
        <key>offset</key>
        <string>{-67,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,67}}</string>
        <key>sourceSize</key>
        <string>{102,67}</string>
      </dict>
      <key>weapon_1319_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{609,435},{97,60}}</string>
        <key>offset</key>
        <string>{-67,40}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,60}}</string>
        <key>sourceSize</key>
        <string>{97,60}</string>
      </dict>
      <key>weapon_1319_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{394,347},{107,72}}</string>
        <key>offset</key>
        <string>{-71,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,72}}</string>
        <key>sourceSize</key>
        <string>{107,72}</string>
      </dict>
      <key>weapon_1319_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,275},{122,76}}</string>
        <key>offset</key>
        <string>{-80,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,76}}</string>
        <key>sourceSize</key>
        <string>{122,76}</string>
      </dict>
      <key>weapon_1319_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,422},{136,66}}</string>
        <key>offset</key>
        <string>{-77,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,66}}</string>
        <key>sourceSize</key>
        <string>{136,66}</string>
      </dict>
      <key>weapon_1319_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,282},{138,70}}</string>
        <key>offset</key>
        <string>{-85,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,70}}</string>
        <key>sourceSize</key>
        <string>{138,70}</string>
      </dict>
      <key>weapon_1319_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{121,0},{137,70}}</string>
        <key>offset</key>
        <string>{-90,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,70}}</string>
        <key>sourceSize</key>
        <string>{137,70}</string>
      </dict>
      <key>weapon_1319_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,139},{134,75}}</string>
        <key>offset</key>
        <string>{-93,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,75}}</string>
        <key>sourceSize</key>
        <string>{134,75}</string>
      </dict>
      <key>weapon_1319_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,141},{139,69}}</string>
        <key>offset</key>
        <string>{-89,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,69}}</string>
        <key>sourceSize</key>
        <string>{139,69}</string>
      </dict>
      <key>weapon_1319_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{72,279},{135,68}}</string>
        <key>offset</key>
        <string>{-82,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,68}}</string>
        <key>sourceSize</key>
        <string>{135,68}</string>
      </dict>
      <key>weapon_1319_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{708,431},{78,86}}</string>
        <key>offset</key>
        <string>{-23,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,86}}</string>
        <key>sourceSize</key>
        <string>{78,86}</string>
      </dict>
      <key>weapon_1319_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{567,222},{87,102}}</string>
        <key>offset</key>
        <string>{-35,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,102}}</string>
        <key>sourceSize</key>
        <string>{87,102}</string>
      </dict>
      <key>weapon_1319_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{461,223},{104,106}}</string>
        <key>offset</key>
        <string>{-52,90}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,106}}</string>
        <key>sourceSize</key>
        <string>{104,106}</string>
      </dict>
      <key>weapon_1319_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{347,121},{106,114}}</string>
        <key>offset</key>
        <string>{-56,98}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,114}}</string>
        <key>sourceSize</key>
        <string>{106,114}</string>
      </dict>
      <key>weapon_1319_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{575,105},{99,100}}</string>
        <key>offset</key>
        <string>{-47,82}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,100}}</string>
        <key>sourceSize</key>
        <string>{99,100}</string>
      </dict>
      <key>weapon_1319_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{708,194},{83,89}}</string>
        <key>offset</key>
        <string>{-29,71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,89}}</string>
        <key>sourceSize</key>
        <string>{83,89}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_1319_0_1.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>weapon_1319_0_1.png</string>
    </dict>
  </dict>
</plist>