<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_1316_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,281},{137,80}}</string>
        <key>offset</key>
        <string>{16,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,80}}</string>
        <key>sourceSize</key>
        <string>{137,80}</string>
      </dict>
      <key>weapon_1316_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,140},{132,98}}</string>
        <key>offset</key>
        <string>{17,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,98}}</string>
        <key>sourceSize</key>
        <string>{132,98}</string>
      </dict>
      <key>weapon_1316_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{322,233},{122,115}}</string>
        <key>offset</key>
        <string>{20,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,115}}</string>
        <key>sourceSize</key>
        <string>{122,115}</string>
      </dict>
      <key>weapon_1316_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{446,341},{102,57}}</string>
        <key>offset</key>
        <string>{5,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,57}}</string>
        <key>sourceSize</key>
        <string>{102,57}</string>
      </dict>
      <key>weapon_1316_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{127,440},{126,59}}</string>
        <key>offset</key>
        <string>{7,33}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,59}}</string>
        <key>sourceSize</key>
        <string>{126,59}</string>
      </dict>
      <key>weapon_1316_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{127,300},{138,61}}</string>
        <key>offset</key>
        <string>{10,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,61}}</string>
        <key>sourceSize</key>
        <string>{138,61}</string>
      </dict>
      <key>weapon_1316_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{452,445},{36,65}}</string>
        <key>offset</key>
        <string>{-7,22}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{36,65}}</string>
        <key>sourceSize</key>
        <string>{36,65}</string>
      </dict>
      <key>weapon_1316_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{372,445},{62,78}}</string>
        <key>offset</key>
        <string>{-1,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,78}}</string>
        <key>sourceSize</key>
        <string>{62,78}</string>
      </dict>
      <key>weapon_1316_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{272,350},{85,67}}</string>
        <key>offset</key>
        <string>{4,35}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,67}}</string>
        <key>sourceSize</key>
        <string>{85,67}</string>
      </dict>
      <key>weapon_1316_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{446,233},{106,63}}</string>
        <key>offset</key>
        <string>{-78,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,63}}</string>
        <key>sourceSize</key>
        <string>{106,63}</string>
      </dict>
      <key>weapon_1316_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{372,350},{74,71}}</string>
        <key>offset</key>
        <string>{-46,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,71}}</string>
        <key>sourceSize</key>
        <string>{74,71}</string>
      </dict>
      <key>weapon_1316_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{272,274},{45,72}}</string>
        <key>offset</key>
        <string>{-17,38}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{45,72}}</string>
        <key>sourceSize</key>
        <string>{45,72}</string>
      </dict>
      <key>weapon_1316_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{131,141},{138,89}}</string>
        <key>offset</key>
        <string>{-105,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,89}}</string>
        <key>sourceSize</key>
        <string>{138,89}</string>
      </dict>
      <key>weapon_1316_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{276,0},{131,73}}</string>
        <key>offset</key>
        <string>{-100,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,73}}</string>
        <key>sourceSize</key>
        <string>{131,73}</string>
      </dict>
      <key>weapon_1316_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{255,420},{115,67}}</string>
        <key>offset</key>
        <string>{-89,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,67}}</string>
        <key>sourceSize</key>
        <string>{115,67}</string>
      </dict>
      <key>weapon_1316_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{62,0},{106,139}}</string>
        <key>offset</key>
        <string>{-61,118}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,139}}</string>
        <key>sourceSize</key>
        <string>{106,139}</string>
      </dict>
      <key>weapon_1316_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{351,0},{129,121}}</string>
        <key>offset</key>
        <string>{-87,100}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,121}}</string>
        <key>sourceSize</key>
        <string>{129,121}</string>
      </dict>
      <key>weapon_1316_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,0},{138,104}}</string>
        <key>offset</key>
        <string>{-100,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,104}}</string>
        <key>sourceSize</key>
        <string>{138,104}</string>
      </dict>
      <key>weapon_1316_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,304},{38,149}}</string>
        <key>offset</key>
        <string>{17,130}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{38,149}}</string>
        <key>sourceSize</key>
        <string>{38,149}</string>
      </dict>
      <key>weapon_1316_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{60,150}}</string>
        <key>offset</key>
        <string>{-12,129}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,150}}</string>
        <key>sourceSize</key>
        <string>{60,150}</string>
      </dict>
      <key>weapon_1316_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{40,304},{85,148}}</string>
        <key>offset</key>
        <string>{-40,126}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,148}}</string>
        <key>sourceSize</key>
        <string>{85,148}</string>
      </dict>
      <key>weapon_1316_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{351,123},{108,124}}</string>
        <key>offset</key>
        <string>{20,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,124}}</string>
        <key>sourceSize</key>
        <string>{108,124}</string>
      </dict>
      <key>weapon_1316_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{49,152},{80,146}}</string>
        <key>offset</key>
        <string>{20,127}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,146}}</string>
        <key>sourceSize</key>
        <string>{80,146}</string>
      </dict>
      <key>weapon_1316_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,152},{47,150}}</string>
        <key>offset</key>
        <string>{20,131}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,150}}</string>
        <key>sourceSize</key>
        <string>{47,150}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_1316_0_7.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>weapon_1316_0_7.png</string>
    </dict>
  </dict>
</plist>