<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_1323_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{654,456},{40,119}}</string>
        <key>offset</key>
        <string>{22,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{40,119}}</string>
        <key>sourceSize</key>
        <string>{40,119}</string>
      </dict>
      <key>weapon_1323_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{742,298},{41,125}}</string>
        <key>offset</key>
        <string>{21,101}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{41,125}}</string>
        <key>sourceSize</key>
        <string>{41,125}</string>
      </dict>
      <key>weapon_1323_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{880,248},{40,138}}</string>
        <key>offset</key>
        <string>{22,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{40,138}}</string>
        <key>sourceSize</key>
        <string>{40,138}</string>
      </dict>
      <key>weapon_1323_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{880,290},{39,134}}</string>
        <key>offset</key>
        <string>{22,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{39,134}}</string>
        <key>sourceSize</key>
        <string>{39,134}</string>
      </dict>
      <key>weapon_1323_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{312,0},{158,86}}</string>
        <key>offset</key>
        <string>{-16,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,86}}</string>
        <key>sourceSize</key>
        <string>{158,86}</string>
      </dict>
      <key>weapon_1323_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,190},{159,87}}</string>
        <key>offset</key>
        <string>{-15,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,87}}</string>
        <key>sourceSize</key>
        <string>{159,87}</string>
      </dict>
      <key>weapon_1323_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{333,160},{158,97}}</string>
        <key>offset</key>
        <string>{-11,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,97}}</string>
        <key>sourceSize</key>
        <string>{158,97}</string>
      </dict>
      <key>weapon_1323_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,384},{171,94}}</string>
        <key>offset</key>
        <string>{-23,78}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,94}}</string>
        <key>sourceSize</key>
        <string>{171,94}</string>
      </dict>
      <key>weapon_1323_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,195},{190,80}}</string>
        <key>offset</key>
        <string>{-26,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{190,80}}</string>
        <key>sourceSize</key>
        <string>{190,80}</string>
      </dict>
      <key>weapon_1323_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{151,0},{190,78}}</string>
        <key>offset</key>
        <string>{-25,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{190,78}}</string>
        <key>sourceSize</key>
        <string>{190,78}</string>
      </dict>
      <key>weapon_1323_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,199},{195,79}}</string>
        <key>offset</key>
        <string>{-28,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{195,79}}</string>
        <key>sourceSize</key>
        <string>{195,79}</string>
      </dict>
      <key>weapon_1323_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{69,0},{193,80}}</string>
        <key>offset</key>
        <string>{-26,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{193,80}}</string>
        <key>sourceSize</key>
        <string>{193,80}</string>
      </dict>
      <key>weapon_1323_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{740,151},{145,138}}</string>
        <key>offset</key>
        <string>{-34,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,138}}</string>
        <key>sourceSize</key>
        <string>{145,138}</string>
      </dict>
      <key>weapon_1323_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{880,108},{142,138}}</string>
        <key>offset</key>
        <string>{-29,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,138}}</string>
        <key>sourceSize</key>
        <string>{142,138}</string>
      </dict>
      <key>weapon_1323_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{615,155},{149,123}}</string>
        <key>offset</key>
        <string>{-32,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,123}}</string>
        <key>sourceSize</key>
        <string>{149,123}</string>
      </dict>
      <key>weapon_1323_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{504,316},{151,137}}</string>
        <key>offset</key>
        <string>{-36,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,137}}</string>
        <key>sourceSize</key>
        <string>{151,137}</string>
      </dict>
      <key>weapon_1323_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{432,159},{47,156}}</string>
        <key>offset</key>
        <string>{-20,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,156}}</string>
        <key>sourceSize</key>
        <string>{47,156}</string>
      </dict>
      <key>weapon_1323_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,470},{38,154}}</string>
        <key>offset</key>
        <string>{-10,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{38,154}}</string>
        <key>sourceSize</key>
        <string>{38,154}</string>
      </dict>
      <key>weapon_1323_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{504,469},{37,148}}</string>
        <key>offset</key>
        <string>{-9,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{37,148}}</string>
        <key>sourceSize</key>
        <string>{37,148}</string>
      </dict>
      <key>weapon_1323_0_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{536,0},{37,153}}</string>
        <key>offset</key>
        <string>{-11,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{37,153}}</string>
        <key>sourceSize</key>
        <string>{37,153}</string>
      </dict>
      <key>weapon_1323_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{481,159},{155,132}}</string>
        <key>offset</key>
        <string>{-91,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,132}}</string>
        <key>sourceSize</key>
        <string>{155,132}</string>
      </dict>
      <key>weapon_1323_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,0},{157,134}}</string>
        <key>offset</key>
        <string>{-93,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,134}}</string>
        <key>sourceSize</key>
        <string>{157,134}</string>
      </dict>
      <key>weapon_1323_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{575,0},{153,119}}</string>
        <key>offset</key>
        <string>{-95,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,119}}</string>
        <key>sourceSize</key>
        <string>{153,119}</string>
      </dict>
      <key>weapon_1323_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{367,320},{157,135}}</string>
        <key>offset</key>
        <string>{-92,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,135}}</string>
        <key>sourceSize</key>
        <string>{157,135}</string>
      </dict>
      <key>weapon_1323_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{231,0},{188,79}}</string>
        <key>offset</key>
        <string>{-112,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,79}}</string>
        <key>sourceSize</key>
        <string>{188,79}</string>
      </dict>
      <key>weapon_1323_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{163,192},{190,79}}</string>
        <key>offset</key>
        <string>{-115,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{190,79}}</string>
        <key>sourceSize</key>
        <string>{190,79}</string>
      </dict>
      <key>weapon_1323_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,396},{192,72}}</string>
        <key>offset</key>
        <string>{-117,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{192,72}}</string>
        <key>sourceSize</key>
        <string>{192,72}</string>
      </dict>
      <key>weapon_1323_0_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{197,67}}</string>
        <key>offset</key>
        <string>{-116,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{197,67}}</string>
        <key>sourceSize</key>
        <string>{197,67}</string>
      </dict>
      <key>weapon_1323_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{793,0},{145,83}}</string>
        <key>offset</key>
        <string>{-63,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,83}}</string>
        <key>sourceSize</key>
        <string>{145,83}</string>
      </dict>
      <key>weapon_1323_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{696,0},{149,95}}</string>
        <key>offset</key>
        <string>{-66,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,95}}</string>
        <key>sourceSize</key>
        <string>{149,95}</string>
      </dict>
      <key>weapon_1323_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{878,0},{144,106}}</string>
        <key>offset</key>
        <string>{-67,101}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,106}}</string>
        <key>sourceSize</key>
        <string>{144,106}</string>
      </dict>
      <key>weapon_1323_0_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{643,306},{148,97}}</string>
        <key>offset</key>
        <string>{-66,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,97}}</string>
        <key>sourceSize</key>
        <string>{148,97}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_1323_0_0.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>weapon_1323_0_0.png</string>
    </dict>
  </dict>
</plist>