<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_1415_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{88,207},{187,114}}</string>
        <key>offset</key>
        <string>{-5,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{187,114}}</string>
        <key>sourceSize</key>
        <string>{187,114}</string>
      </dict>
      <key>weapon_1415_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{390,339},{166,133}}</string>
        <key>offset</key>
        <string>{-3,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,133}}</string>
        <key>sourceSize</key>
        <string>{166,133}</string>
      </dict>
      <key>weapon_1415_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{613,167},{143,147}}</string>
        <key>offset</key>
        <string>{0,119}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,147}}</string>
        <key>sourceSize</key>
        <string>{143,147}</string>
      </dict>
      <key>weapon_1415_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{525,337},{163,76}}</string>
        <key>offset</key>
        <string>{-16,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,76}}</string>
        <key>sourceSize</key>
        <string>{163,76}</string>
      </dict>
      <key>weapon_1415_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{648,0},{145,86}}</string>
        <key>offset</key>
        <string>{-6,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,86}}</string>
        <key>sourceSize</key>
        <string>{145,86}</string>
      </dict>
      <key>weapon_1415_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{205,97}}</string>
        <key>offset</key>
        <string>{-14,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,97}}</string>
        <key>sourceSize</key>
        <string>{205,97}</string>
      </dict>
      <key>weapon_1415_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{848,179},{80,91}}</string>
        <key>offset</key>
        <string>{-20,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,91}}</string>
        <key>sourceSize</key>
        <string>{80,91}</string>
      </dict>
      <key>weapon_1415_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{941,179},{76,72}}</string>
        <key>offset</key>
        <string>{-9,39}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,72}}</string>
        <key>sourceSize</key>
        <string>{76,72}</string>
      </dict>
      <key>weapon_1415_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{544,0},{165,102}}</string>
        <key>offset</key>
        <string>{-17,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,102}}</string>
        <key>sourceSize</key>
        <string>{165,102}</string>
      </dict>
      <key>weapon_1415_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{856,75},{121,102}}</string>
        <key>offset</key>
        <string>{-82,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,102}}</string>
        <key>sourceSize</key>
        <string>{121,102}</string>
      </dict>
      <key>weapon_1415_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{758,143},{112,88}}</string>
        <key>offset</key>
        <string>{-65,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,88}}</string>
        <key>sourceSize</key>
        <string>{112,88}</string>
      </dict>
      <key>weapon_1415_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{856,0},{73,123}}</string>
        <key>offset</key>
        <string>{-19,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,123}}</string>
        <key>sourceSize</key>
        <string>{73,123}</string>
      </dict>
      <key>weapon_1415_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{201,396},{187,105}}</string>
        <key>offset</key>
        <string>{-132,81}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{187,105}}</string>
        <key>sourceSize</key>
        <string>{187,105}</string>
      </dict>
      <key>weapon_1415_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{353,170},{167,123}}</string>
        <key>offset</key>
        <string>{-115,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,123}}</string>
        <key>sourceSize</key>
        <string>{167,123}</string>
      </dict>
      <key>weapon_1415_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{736,0},{141,118}}</string>
        <key>offset</key>
        <string>{-93,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,118}}</string>
        <key>sourceSize</key>
        <string>{141,118}</string>
      </dict>
      <key>weapon_1415_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,184},{174,147}}</string>
        <key>offset</key>
        <string>{-104,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,147}}</string>
        <key>sourceSize</key>
        <string>{174,147}</string>
      </dict>
      <key>weapon_1415_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{309,0},{156,168}}</string>
        <key>offset</key>
        <string>{-97,144}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,168}}</string>
        <key>sourceSize</key>
        <string>{156,168}</string>
      </dict>
      <key>weapon_1415_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,207},{202,86}}</string>
        <key>offset</key>
        <string>{-138,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{202,86}}</string>
        <key>sourceSize</key>
        <string>{202,86}</string>
      </dict>
      <key>weapon_1415_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{99,0},{90,182}}</string>
        <key>offset</key>
        <string>{-17,160}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,182}}</string>
        <key>sourceSize</key>
        <string>{90,182}</string>
      </dict>
      <key>weapon_1415_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,411},{88,199}}</string>
        <key>offset</key>
        <string>{-25,174}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,199}}</string>
        <key>sourceSize</key>
        <string>{88,199}</string>
      </dict>
      <key>weapon_1415_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{478,169},{166,133}}</string>
        <key>offset</key>
        <string>{-97,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,133}}</string>
        <key>sourceSize</key>
        <string>{166,133}</string>
      </dict>
      <key>weapon_1415_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{603,337},{120,161}}</string>
        <key>offset</key>
        <string>{12,137}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,161}}</string>
        <key>sourceSize</key>
        <string>{120,161}</string>
      </dict>
      <key>weapon_1415_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{191,0},{116,182}}</string>
        <key>offset</key>
        <string>{2,155}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,182}}</string>
        <key>sourceSize</key>
        <string>{116,182}</string>
      </dict>
      <key>weapon_1415_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{467,0},{75,167}}</string>
        <key>offset</key>
        <string>{-6,152}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,167}}</string>
        <key>sourceSize</key>
        <string>{75,167}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_1415_0_7.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>weapon_1415_0_7.png</string>
    </dict>
  </dict>
</plist>