<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_1248_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{966,406},{52,101}}</string>
        <key>offset</key>
        <string>{29,92}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,101}}</string>
        <key>sourceSize</key>
        <string>{52,101}</string>
      </dict>
      <key>weapon_1248_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{184,449},{35,130}}</string>
        <key>offset</key>
        <string>{31,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{35,130}}</string>
        <key>sourceSize</key>
        <string>{35,130}</string>
      </dict>
      <key>weapon_1248_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,486},{19,150}}</string>
        <key>offset</key>
        <string>{28,149}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{19,150}}</string>
        <key>sourceSize</key>
        <string>{19,150}</string>
      </dict>
      <key>weapon_1248_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,486},{20,164}}</string>
        <key>offset</key>
        <string>{23,165}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{20,164}}</string>
        <key>sourceSize</key>
        <string>{20,164}</string>
      </dict>
      <key>weapon_1248_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{318,483},{20,131}}</string>
        <key>offset</key>
        <string>{30,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{20,131}}</string>
        <key>sourceSize</key>
        <string>{20,131}</string>
      </dict>
      <key>weapon_1248_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{966,193},{47,107}}</string>
        <key>offset</key>
        <string>{29,100}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,107}}</string>
        <key>sourceSize</key>
        <string>{47,107}</string>
      </dict>
      <key>weapon_1248_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,375},{163,71}}</string>
        <key>offset</key>
        <string>{10,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,71}}</string>
        <key>sourceSize</key>
        <string>{163,71}</string>
      </dict>
      <key>weapon_1248_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{435,0},{157,94}}</string>
        <key>offset</key>
        <string>{13,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,94}}</string>
        <key>sourceSize</key>
        <string>{157,94}</string>
      </dict>
      <key>weapon_1248_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{623,140},{137,121}}</string>
        <key>offset</key>
        <string>{20,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,121}}</string>
        <key>sourceSize</key>
        <string>{137,121}</string>
      </dict>
      <key>weapon_1248_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{581,0},{126,138}}</string>
        <key>offset</key>
        <string>{23,134}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,138}}</string>
        <key>sourceSize</key>
        <string>{126,138}</string>
      </dict>
      <key>weapon_1248_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{444,159},{145,102}}</string>
        <key>offset</key>
        <string>{17,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,102}}</string>
        <key>sourceSize</key>
        <string>{145,102}</string>
      </dict>
      <key>weapon_1248_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{274,185},{161,76}}</string>
        <key>offset</key>
        <string>{12,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,76}}</string>
        <key>sourceSize</key>
        <string>{161,76}</string>
      </dict>
      <key>weapon_1248_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{254,0},{183,85}}</string>
        <key>offset</key>
        <string>{-3,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{183,85}}</string>
        <key>sourceSize</key>
        <string>{183,85}</string>
      </dict>
      <key>weapon_1248_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,195},{192,62}}</string>
        <key>offset</key>
        <string>{0,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{192,62}}</string>
        <key>sourceSize</key>
        <string>{192,62}</string>
      </dict>
      <key>weapon_1248_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{193,65}}</string>
        <key>offset</key>
        <string>{6,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{193,65}}</string>
        <key>sourceSize</key>
        <string>{193,65}</string>
      </dict>
      <key>weapon_1248_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{113,192},{187,79}}</string>
        <key>offset</key>
        <string>{11,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{187,79}}</string>
        <key>sourceSize</key>
        <string>{187,79}</string>
      </dict>
      <key>weapon_1248_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,389},{192,58}}</string>
        <key>offset</key>
        <string>{4,35}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{192,58}}</string>
        <key>sourceSize</key>
        <string>{192,58}</string>
      </dict>
      <key>weapon_1248_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,188},{185,78}}</string>
        <key>offset</key>
        <string>{0,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{185,78}}</string>
        <key>sourceSize</key>
        <string>{185,78}</string>
      </dict>
      <key>weapon_1248_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{709,0},{97,137}}</string>
        <key>offset</key>
        <string>{-1,28}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,137}}</string>
        <key>sourceSize</key>
        <string>{97,137}</string>
      </dict>
      <key>weapon_1248_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{318,505},{116,110}}</string>
        <key>offset</key>
        <string>{0,30}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,110}}</string>
        <key>sourceSize</key>
        <string>{116,110}</string>
      </dict>
      <key>weapon_1248_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{808,0},{136,88}}</string>
        <key>offset</key>
        <string>{3,31}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,88}}</string>
        <key>sourceSize</key>
        <string>{136,88}</string>
      </dict>
      <key>weapon_1248_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{548,147},{139,73}}</string>
        <key>offset</key>
        <string>{6,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,73}}</string>
        <key>sourceSize</key>
        <string>{139,73}</string>
      </dict>
      <key>weapon_1248_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,90},{127,101}}</string>
        <key>offset</key>
        <string>{3,26}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,101}}</string>
        <key>sourceSize</key>
        <string>{127,101}</string>
      </dict>
      <key>weapon_1248_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{746,139},{102,130}}</string>
        <key>offset</key>
        <string>{1,26}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,130}}</string>
        <key>sourceSize</key>
        <string>{102,130}</string>
      </dict>
      <key>weapon_1248_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{440,325},{53,146}}</string>
        <key>offset</key>
        <string>{-34,34}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,146}}</string>
        <key>sourceSize</key>
        <string>{53,146}</string>
      </dict>
      <key>weapon_1248_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{451,473},{37,127}}</string>
        <key>offset</key>
        <string>{-19,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{37,127}}</string>
        <key>sourceSize</key>
        <string>{37,127}</string>
      </dict>
      <key>weapon_1248_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{284,507},{18,112}}</string>
        <key>offset</key>
        <string>{1,33}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{18,112}}</string>
        <key>sourceSize</key>
        <string>{18,112}</string>
      </dict>
      <key>weapon_1248_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{844,486},{21,120}}</string>
        <key>offset</key>
        <string>{4,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{21,120}}</string>
        <key>sourceSize</key>
        <string>{21,120}</string>
      </dict>
      <key>weapon_1248_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{719,486},{19,123}}</string>
        <key>offset</key>
        <string>{-2,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{19,123}}</string>
        <key>sourceSize</key>
        <string>{19,123}</string>
      </dict>
      <key>weapon_1248_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{531,0},{48,145}}</string>
        <key>offset</key>
        <string>{-29,35}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,145}}</string>
        <key>sourceSize</key>
        <string>{48,145}</string>
      </dict>
      <key>weapon_1248_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{341,0},{161,92}}</string>
        <key>offset</key>
        <string>{-124,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,92}}</string>
        <key>sourceSize</key>
        <string>{161,92}</string>
      </dict>
      <key>weapon_1248_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{359,325},{156,79}}</string>
        <key>offset</key>
        <string>{-122,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,79}}</string>
        <key>sourceSize</key>
        <string>{156,79}</string>
      </dict>
      <key>weapon_1248_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{581,428},{136,77}}</string>
        <key>offset</key>
        <string>{-109,36}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,77}}</string>
        <key>sourceSize</key>
        <string>{136,77}</string>
      </dict>
      <key>weapon_1248_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{719,416},{126,68}}</string>
        <key>offset</key>
        <string>{-102,39}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,68}}</string>
        <key>sourceSize</key>
        <string>{126,68}</string>
      </dict>
      <key>weapon_1248_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{495,306},{144,84}}</string>
        <key>offset</key>
        <string>{-114,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,84}}</string>
        <key>sourceSize</key>
        <string>{144,84}</string>
      </dict>
      <key>weapon_1248_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{352,163},{160,90}}</string>
        <key>offset</key>
        <string>{-125,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,90}}</string>
        <key>sourceSize</key>
        <string>{160,90}</string>
      </dict>
      <key>weapon_1248_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,449},{182,35}}</string>
        <key>offset</key>
        <string>{-132,41}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,35}}</string>
        <key>sourceSize</key>
        <string>{182,35}</string>
      </dict>
      <key>weapon_1248_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{67,0},{191,44}}</string>
        <key>offset</key>
        <string>{-144,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{191,44}}</string>
        <key>sourceSize</key>
        <string>{191,44}</string>
      </dict>
      <key>weapon_1248_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{64,195},{192,47}}</string>
        <key>offset</key>
        <string>{-151,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{192,47}}</string>
        <key>sourceSize</key>
        <string>{192,47}</string>
      </dict>
      <key>weapon_1248_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,0},{186,55}}</string>
        <key>offset</key>
        <string>{-150,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{186,55}}</string>
        <key>sourceSize</key>
        <string>{186,55}</string>
      </dict>
      <key>weapon_1248_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{113,0},{190,43}}</string>
        <key>offset</key>
        <string>{-147,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{190,43}}</string>
        <key>sourceSize</key>
        <string>{190,43}</string>
      </dict>
      <key>weapon_1248_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{215,0},{184,37}}</string>
        <key>offset</key>
        <string>{-137,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{184,37}}</string>
        <key>sourceSize</key>
        <string>{184,37}</string>
      </dict>
      <key>weapon_1248_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,508},{97,85}}</string>
        <key>offset</key>
        <string>{-48,87}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,85}}</string>
        <key>sourceSize</key>
        <string>{97,85}</string>
      </dict>
      <key>weapon_1248_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,507},{116,110}}</string>
        <key>offset</key>
        <string>{-68,113}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,110}}</string>
        <key>sourceSize</key>
        <string>{116,110}</string>
      </dict>
      <key>weapon_1248_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{710,279},{135,116}}</string>
        <key>offset</key>
        <string>{-91,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,116}}</string>
        <key>sourceSize</key>
        <string>{135,116}</string>
      </dict>
      <key>weapon_1248_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{581,288},{138,127}}</string>
        <key>offset</key>
        <string>{-97,135}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,127}}</string>
        <key>sourceSize</key>
        <string>{138,127}</string>
      </dict>
      <key>weapon_1248_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{828,271},{126,103}}</string>
        <key>offset</key>
        <string>{-82,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,103}}</string>
        <key>sourceSize</key>
        <string>{126,103}</string>
      </dict>
      <key>weapon_1248_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{933,302},{102,89}}</string>
        <key>offset</key>
        <string>{-55,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,89}}</string>
        <key>sourceSize</key>
        <string>{102,89}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_1248_0_1.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>weapon_1248_0_1.png</string>
    </dict>
  </dict>
</plist>