<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_1419_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{111,254},{43,115}}</string>
        <key>offset</key>
        <string>{23,101}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{43,115}}</string>
        <key>sourceSize</key>
        <string>{43,115}</string>
      </dict>
      <key>weapon_1419_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{65,277},{44,127}}</string>
        <key>offset</key>
        <string>{17,115}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{44,127}}</string>
        <key>sourceSize</key>
        <string>{44,127}</string>
      </dict>
      <key>weapon_1419_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,254},{42,113}}</string>
        <key>offset</key>
        <string>{23,105}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{42,113}}</string>
        <key>sourceSize</key>
        <string>{42,113}</string>
      </dict>
      <key>weapon_1419_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,371},{115,101}}</string>
        <key>offset</key>
        <string>{7,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,101}}</string>
        <key>sourceSize</key>
        <string>{115,101}</string>
      </dict>
      <key>weapon_1419_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{77,133},{105,119}}</string>
        <key>offset</key>
        <string>{9,99}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,119}}</string>
        <key>sourceSize</key>
        <string>{105,119}</string>
      </dict>
      <key>weapon_1419_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{184,120},{111,98}}</string>
        <key>offset</key>
        <string>{17,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,98}}</string>
        <key>sourceSize</key>
        <string>{111,98}</string>
      </dict>
      <key>weapon_1419_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,140},{135,75}}</string>
        <key>offset</key>
        <string>{-6,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,75}}</string>
        <key>sourceSize</key>
        <string>{135,75}</string>
      </dict>
      <key>weapon_1419_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,408},{128,84}}</string>
        <key>offset</key>
        <string>{-2,67}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,84}}</string>
        <key>sourceSize</key>
        <string>{128,84}</string>
      </dict>
      <key>weapon_1419_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{138,68}}</string>
        <key>offset</key>
        <string>{1,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,68}}</string>
        <key>sourceSize</key>
        <string>{138,68}</string>
      </dict>
      <key>weapon_1419_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{233,436},{94,68}}</string>
        <key>offset</key>
        <string>{-11,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,68}}</string>
        <key>sourceSize</key>
        <string>{94,68}</string>
      </dict>
      <key>weapon_1419_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{345,89},{97,70}}</string>
        <key>offset</key>
        <string>{-8,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,70}}</string>
        <key>sourceSize</key>
        <string>{97,70}</string>
      </dict>
      <key>weapon_1419_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{445,0},{94,61}}</string>
        <key>offset</key>
        <string>{-5,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,61}}</string>
        <key>sourceSize</key>
        <string>{94,61}</string>
      </dict>
      <key>weapon_1419_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{444,96},{33,49}}</string>
        <key>offset</key>
        <string>{-14,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{33,49}}</string>
        <key>sourceSize</key>
        <string>{33,49}</string>
      </dict>
      <key>weapon_1419_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,233},{32,38}}</string>
        <key>offset</key>
        <string>{-11,32}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{32,38}}</string>
        <key>sourceSize</key>
        <string>{32,38}</string>
      </dict>
      <key>weapon_1419_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{444,131},{32,48}}</string>
        <key>offset</key>
        <string>{-13,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{32,48}}</string>
        <key>sourceSize</key>
        <string>{32,48}</string>
      </dict>
      <key>weapon_1419_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{206,0},{107,46}}</string>
        <key>offset</key>
        <string>{-69,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,46}}</string>
        <key>sourceSize</key>
        <string>{107,46}</string>
      </dict>
      <key>weapon_1419_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{284,109},{95,49}}</string>
        <key>offset</key>
        <string>{-62,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,49}}</string>
        <key>sourceSize</key>
        <string>{95,49}</string>
      </dict>
      <key>weapon_1419_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,233},{104,42}}</string>
        <key>offset</key>
        <string>{-76,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,42}}</string>
        <key>sourceSize</key>
        <string>{104,42}</string>
      </dict>
      <key>weapon_1419_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,277},{129,63}}</string>
        <key>offset</key>
        <string>{-80,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,63}}</string>
        <key>sourceSize</key>
        <string>{129,63}</string>
      </dict>
      <key>weapon_1419_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{134,0},{118,70}}</string>
        <key>offset</key>
        <string>{-76,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,70}}</string>
        <key>sourceSize</key>
        <string>{118,70}</string>
      </dict>
      <key>weapon_1419_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{70,0},{131,62}}</string>
        <key>offset</key>
        <string>{-89,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,62}}</string>
        <key>sourceSize</key>
        <string>{131,62}</string>
      </dict>
      <key>weapon_1419_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{345,0},{87,98}}</string>
        <key>offset</key>
        <string>{-32,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,98}}</string>
        <key>sourceSize</key>
        <string>{87,98}</string>
      </dict>
      <key>weapon_1419_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{254,0},{89,107}}</string>
        <key>offset</key>
        <string>{-37,106}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,107}}</string>
        <key>sourceSize</key>
        <string>{89,107}</string>
      </dict>
      <key>weapon_1419_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{233,339},{87,95}}</string>
        <key>offset</key>
        <string>{-38,96}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,95}}</string>
        <key>sourceSize</key>
        <string>{87,95}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_1419_0_7.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>weapon_1419_0_7.png</string>
    </dict>
  </dict>
</plist>