<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_1413_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{614,77},{56,56}}</string>
        <key>offset</key>
        <string>{21,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,56}}</string>
        <key>sourceSize</key>
        <string>{56,56}</string>
      </dict>
      <key>weapon_1413_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{565,260},{43,91}}</string>
        <key>offset</key>
        <string>{21,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{43,91}}</string>
        <key>sourceSize</key>
        <string>{43,91}</string>
      </dict>
      <key>weapon_1413_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{547,721},{43,114}}</string>
        <key>offset</key>
        <string>{19,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{43,114}}</string>
        <key>sourceSize</key>
        <string>{43,114}</string>
      </dict>
      <key>weapon_1413_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{527,531},{43,121}}</string>
        <key>offset</key>
        <string>{20,121}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{43,121}}</string>
        <key>sourceSize</key>
        <string>{43,121}</string>
      </dict>
      <key>weapon_1413_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{613,149},{50,89}}</string>
        <key>offset</key>
        <string>{22,87}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,89}}</string>
        <key>sourceSize</key>
        <string>{50,89}</string>
      </dict>
      <key>weapon_1413_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{614,0},{48,75}}</string>
        <key>offset</key>
        <string>{22,71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,75}}</string>
        <key>sourceSize</key>
        <string>{48,75}</string>
      </dict>
      <key>weapon_1413_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{543,0},{147,69}}</string>
        <key>offset</key>
        <string>{6,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,69}}</string>
        <key>sourceSize</key>
        <string>{147,69}</string>
      </dict>
      <key>weapon_1413_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,328},{153,79}}</string>
        <key>offset</key>
        <string>{8,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,79}}</string>
        <key>sourceSize</key>
        <string>{153,79}</string>
      </dict>
      <key>weapon_1413_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{331,157},{153,101}}</string>
        <key>offset</key>
        <string>{10,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,101}}</string>
        <key>sourceSize</key>
        <string>{153,101}</string>
      </dict>
      <key>weapon_1413_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{147,534},{154,104}}</string>
        <key>offset</key>
        <string>{14,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,104}}</string>
        <key>sourceSize</key>
        <string>{154,104}</string>
      </dict>
      <key>weapon_1413_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{253,169},{157,76}}</string>
        <key>offset</key>
        <string>{9,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,76}}</string>
        <key>sourceSize</key>
        <string>{157,76}</string>
      </dict>
      <key>weapon_1413_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{147,690},{154,70}}</string>
        <key>offset</key>
        <string>{7,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,70}}</string>
        <key>sourceSize</key>
        <string>{154,70}</string>
      </dict>
      <key>weapon_1413_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{138,192},{176,113}}</string>
        <key>offset</key>
        <string>{-9,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,113}}</string>
        <key>sourceSize</key>
        <string>{176,113}</string>
      </dict>
      <key>weapon_1413_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,794},{194,75}}</string>
        <key>offset</key>
        <string>{-6,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{194,75}}</string>
        <key>sourceSize</key>
        <string>{194,75}</string>
      </dict>
      <key>weapon_1413_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,399},{196,64}}</string>
        <key>offset</key>
        <string>{-3,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,64}}</string>
        <key>sourceSize</key>
        <string>{196,64}</string>
      </dict>
      <key>weapon_1413_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,597},{195,64}}</string>
        <key>offset</key>
        <string>{3,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{195,64}}</string>
        <key>sourceSize</key>
        <string>{195,64}</string>
      </dict>
      <key>weapon_1413_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,595},{193,79}}</string>
        <key>offset</key>
        <string>{-5,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{193,79}}</string>
        <key>sourceSize</key>
        <string>{193,79}</string>
      </dict>
      <key>weapon_1413_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{70,0},{190,86}}</string>
        <key>offset</key>
        <string>{-7,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{190,86}}</string>
        <key>sourceSize</key>
        <string>{190,86}</string>
      </dict>
      <key>weapon_1413_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{138,370},{118,162}}</string>
        <key>offset</key>
        <string>{-9,32}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,162}}</string>
        <key>sourceSize</key>
        <string>{118,162}</string>
      </dict>
      <key>weapon_1413_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{529,879},{137,126}}</string>
        <key>offset</key>
        <string>{-6,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,126}}</string>
        <key>sourceSize</key>
        <string>{137,126}</string>
      </dict>
      <key>weapon_1413_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{298,911},{142,103}}</string>
        <key>offset</key>
        <string>{-5,25}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,103}}</string>
        <key>sourceSize</key>
        <string>{142,103}</string>
      </dict>
      <key>weapon_1413_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{348,532},{139,100}}</string>
        <key>offset</key>
        <string>{0,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,100}}</string>
        <key>sourceSize</key>
        <string>{139,100}</string>
      </dict>
      <key>weapon_1413_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{440,310},{134,132}}</string>
        <key>offset</key>
        <string>{-6,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,132}}</string>
        <key>sourceSize</key>
        <string>{134,132}</string>
      </dict>
      <key>weapon_1413_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{301,762},{131,140}}</string>
        <key>offset</key>
        <string>{-7,30}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,140}}</string>
        <key>sourceSize</key>
        <string>{131,140}</string>
      </dict>
      <key>weapon_1413_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,0},{50,167}}</string>
        <key>offset</key>
        <string>{-24,38}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,167}}</string>
        <key>sourceSize</key>
        <string>{50,167}</string>
      </dict>
      <key>weapon_1413_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{445,673},{46,134}}</string>
        <key>offset</key>
        <string>{-15,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,134}}</string>
        <key>sourceSize</key>
        <string>{46,134}</string>
      </dict>
      <key>weapon_1413_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{581,649},{44,113}}</string>
        <key>offset</key>
        <string>{-12,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{44,113}}</string>
        <key>sourceSize</key>
        <string>{44,113}</string>
      </dict>
      <key>weapon_1413_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{565,149},{46,109}}</string>
        <key>offset</key>
        <string>{-15,27}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,109}}</string>
        <key>sourceSize</key>
        <string>{46,109}</string>
      </dict>
      <key>weapon_1413_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{303,690},{46,140}}</string>
        <key>offset</key>
        <string>{-19,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,140}}</string>
        <key>sourceSize</key>
        <string>{46,140}</string>
      </dict>
      <key>weapon_1413_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,483},{47,148}}</string>
        <key>offset</key>
        <string>{-19,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,148}}</string>
        <key>sourceSize</key>
        <string>{47,148}</string>
      </dict>
      <key>weapon_1413_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{153,762},{147,146}}</string>
        <key>offset</key>
        <string>{-103,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,146}}</string>
        <key>sourceSize</key>
        <string>{147,146}</string>
      </dict>
      <key>weapon_1413_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{423,0},{153,118}}</string>
        <key>offset</key>
        <string>{-111,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,118}}</string>
        <key>sourceSize</key>
        <string>{153,118}</string>
      </dict>
      <key>weapon_1413_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{339,312},{153,99}}</string>
        <key>offset</key>
        <string>{-113,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,99}}</string>
        <key>sourceSize</key>
        <string>{153,99}</string>
      </dict>
      <key>weapon_1413_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{253,534},{154,93}}</string>
        <key>offset</key>
        <string>{-118,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,93}}</string>
        <key>sourceSize</key>
        <string>{154,93}</string>
      </dict>
      <key>weapon_1413_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{302,0},{155,119}}</string>
        <key>offset</key>
        <string>{-114,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,119}}</string>
        <key>sourceSize</key>
        <string>{155,119}</string>
      </dict>
      <key>weapon_1413_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{434,155},{153,129}}</string>
        <key>offset</key>
        <string>{-110,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,129}}</string>
        <key>sourceSize</key>
        <string>{153,129}</string>
      </dict>
      <key>weapon_1413_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,0},{176,90}}</string>
        <key>offset</key>
        <string>{-117,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,90}}</string>
        <key>sourceSize</key>
        <string>{176,90}</string>
      </dict>
      <key>weapon_1413_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,399},{194,70}}</string>
        <key>offset</key>
        <string>{-138,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{194,70}}</string>
        <key>sourceSize</key>
        <string>{194,70}</string>
      </dict>
      <key>weapon_1413_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,200},{197,66}}</string>
        <key>offset</key>
        <string>{-144,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{197,66}}</string>
        <key>sourceSize</key>
        <string>{197,66}</string>
      </dict>
      <key>weapon_1413_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{198,68}}</string>
        <key>offset</key>
        <string>{-150,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{198,68}}</string>
        <key>sourceSize</key>
        <string>{198,68}</string>
      </dict>
      <key>weapon_1413_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{68,200},{193,68}}</string>
        <key>offset</key>
        <string>{-139,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{193,68}}</string>
        <key>sourceSize</key>
        <string>{193,68}</string>
      </dict>
      <key>weapon_1413_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{77,790},{189,74}}</string>
        <key>offset</key>
        <string>{-132,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{189,74}}</string>
        <key>sourceSize</key>
        <string>{189,74}</string>
      </dict>
      <key>weapon_1413_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{572,531},{116,64}}</string>
        <key>offset</key>
        <string>{-58,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,64}}</string>
        <key>sourceSize</key>
        <string>{116,64}</string>
      </dict>
      <key>weapon_1413_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{442,879},{138,85}}</string>
        <key>offset</key>
        <string>{-82,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,85}}</string>
        <key>sourceSize</key>
        <string>{138,85}</string>
      </dict>
      <key>weapon_1413_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{153,911},{143,105}}</string>
        <key>offset</key>
        <string>{-88,104}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,105}}</string>
        <key>sourceSize</key>
        <string>{143,105}</string>
      </dict>
      <key>weapon_1413_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{434,738},{139,111}}</string>
        <key>offset</key>
        <string>{-89,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,111}}</string>
        <key>sourceSize</key>
        <string>{139,111}</string>
      </dict>
      <key>weapon_1413_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{440,446},{132,83}}</string>
        <key>offset</key>
        <string>{-77,84}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,83}}</string>
        <key>sourceSize</key>
        <string>{132,83}</string>
      </dict>
      <key>weapon_1413_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,531},{131,75}}</string>
        <key>offset</key>
        <string>{-74,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,75}}</string>
        <key>sourceSize</key>
        <string>{131,75}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_1413_0_1.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>weapon_1413_0_1.png</string>
    </dict>
  </dict>
</plist>