<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_1434_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,297},{139,74}}</string>
        <key>offset</key>
        <string>{15,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,74}}</string>
        <key>sourceSize</key>
        <string>{139,74}</string>
      </dict>
      <key>weapon_1434_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,140},{130,94}}</string>
        <key>offset</key>
        <string>{17,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,94}}</string>
        <key>sourceSize</key>
        <string>{130,94}</string>
      </dict>
      <key>weapon_1434_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{320,129},{126,114}}</string>
        <key>offset</key>
        <string>{14,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,114}}</string>
        <key>sourceSize</key>
        <string>{126,114}</string>
      </dict>
      <key>weapon_1434_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{436,222},{102,62}}</string>
        <key>offset</key>
        <string>{2,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,62}}</string>
        <key>sourceSize</key>
        <string>{102,62}</string>
      </dict>
      <key>weapon_1434_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,0},{127,58}}</string>
        <key>offset</key>
        <string>{5,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,58}}</string>
        <key>sourceSize</key>
        <string>{127,58}</string>
      </dict>
      <key>weapon_1434_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{207,420},{133,57}}</string>
        <key>offset</key>
        <string>{11,41}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,57}}</string>
        <key>sourceSize</key>
        <string>{133,57}</string>
      </dict>
      <key>weapon_1434_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{410,326},{41,71}}</string>
        <key>offset</key>
        <string>{-12,27}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{41,71}}</string>
        <key>sourceSize</key>
        <string>{41,71}</string>
      </dict>
      <key>weapon_1434_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{414,399},{61,70}}</string>
        <key>offset</key>
        <string>{1,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,70}}</string>
        <key>sourceSize</key>
        <string>{61,70}</string>
      </dict>
      <key>weapon_1434_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{339,326},{88,69}}</string>
        <key>offset</key>
        <string>{0,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,69}}</string>
        <key>sourceSize</key>
        <string>{88,69}</string>
      </dict>
      <key>weapon_1434_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{436,115},{105,71}}</string>
        <key>offset</key>
        <string>{-77,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,71}}</string>
        <key>sourceSize</key>
        <string>{105,71}</string>
      </dict>
      <key>weapon_1434_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{342,416},{72,70}}</string>
        <key>offset</key>
        <string>{-44,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,70}}</string>
        <key>sourceSize</key>
        <string>{72,70}</string>
      </dict>
      <key>weapon_1434_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{339,257},{55,72}}</string>
        <key>offset</key>
        <string>{-22,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,72}}</string>
        <key>sourceSize</key>
        <string>{55,72}</string>
      </dict>
      <key>weapon_1434_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{41,150},{145,93}}</string>
        <key>offset</key>
        <string>{-104,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,93}}</string>
        <key>sourceSize</key>
        <string>{145,93}</string>
      </dict>
      <key>weapon_1434_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,438},{139,72}}</string>
        <key>offset</key>
        <string>{-102,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,72}}</string>
        <key>sourceSize</key>
        <string>{139,72}</string>
      </dict>
      <key>weapon_1434_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{436,0},{113,71}}</string>
        <key>offset</key>
        <string>{-85,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,71}}</string>
        <key>sourceSize</key>
        <string>{113,71}</string>
      </dict>
      <key>weapon_1434_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{157,0},{105,138}}</string>
        <key>offset</key>
        <string>{-59,118}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,138}}</string>
        <key>sourceSize</key>
        <string>{105,138}</string>
      </dict>
      <key>weapon_1434_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{219,283},{131,118}}</string>
        <key>offset</key>
        <string>{-90,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,118}}</string>
        <key>sourceSize</key>
        <string>{131,118}</string>
      </dict>
      <key>weapon_1434_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{54,0},{140,101}}</string>
        <key>offset</key>
        <string>{-96,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,101}}</string>
        <key>sourceSize</key>
        <string>{140,101}</string>
      </dict>
      <key>weapon_1434_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,150},{39,147}}</string>
        <key>offset</key>
        <string>{19,129}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{39,147}}</string>
        <key>sourceSize</key>
        <string>{39,147}</string>
      </dict>
      <key>weapon_1434_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,299},{64,147}}</string>
        <key>offset</key>
        <string>{-17,129}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,147}}</string>
        <key>sourceSize</key>
        <string>{64,147}</string>
      </dict>
      <key>weapon_1434_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{136,142},{86,139}}</string>
        <key>offset</key>
        <string>{-41,121}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,139}}</string>
        <key>sourceSize</key>
        <string>{86,139}</string>
      </dict>
      <key>weapon_1434_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{324,0},{108,120}}</string>
        <key>offset</key>
        <string>{20,104}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,120}}</string>
        <key>sourceSize</key>
        <string>{108,120}</string>
      </dict>
      <key>weapon_1434_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,283},{75,135}}</string>
        <key>offset</key>
        <string>{20,117}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,135}}</string>
        <key>sourceSize</key>
        <string>{75,135}</string>
      </dict>
      <key>weapon_1434_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{52,148}}</string>
        <key>offset</key>
        <string>{20,130}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,148}}</string>
        <key>sourceSize</key>
        <string>{52,148}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_1434_0_7.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>weapon_1434_0_7.png</string>
    </dict>
  </dict>
</plist>