<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_1433_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{336,0},{100,164}}</string>
        <key>offset</key>
        <string>{24,154}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,164}}</string>
        <key>sourceSize</key>
        <string>{100,164}</string>
      </dict>
      <key>weapon_1433_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,545},{245,103}}</string>
        <key>offset</key>
        <string>{-129,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{245,103}}</string>
        <key>sourceSize</key>
        <string>{245,103}</string>
      </dict>
      <key>weapon_1433_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{738,441},{142,93}}</string>
        <key>offset</key>
        <string>{-84,71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,93}}</string>
        <key>sourceSize</key>
        <string>{142,93}</string>
      </dict>
      <key>weapon_1433_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{551,0},{86,160}}</string>
        <key>offset</key>
        <string>{-3,167}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,160}}</string>
        <key>sourceSize</key>
        <string>{86,160}</string>
      </dict>
      <key>weapon_1433_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{604,833},{94,110}}</string>
        <key>offset</key>
        <string>{-33,98}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,110}}</string>
        <key>sourceSize</key>
        <string>{94,110}</string>
      </dict>
      <key>weapon_1433_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{865,623},{82,130}}</string>
        <key>offset</key>
        <string>{-23,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,130}}</string>
        <key>sourceSize</key>
        <string>{82,130}</string>
      </dict>
      <key>weapon_1433_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{738,354},{85,146}}</string>
        <key>offset</key>
        <string>{23,131}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,146}}</string>
        <key>sourceSize</key>
        <string>{85,146}</string>
      </dict>
      <key>weapon_1433_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{271,105}}</string>
        <key>offset</key>
        <string>{-147,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{271,105}}</string>
        <key>sourceSize</key>
        <string>{271,105}</string>
      </dict>
      <key>weapon_1433_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{296,694},{178,82}}</string>
        <key>offset</key>
        <string>{-121,88}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{178,82}}</string>
        <key>sourceSize</key>
        <string>{178,82}</string>
      </dict>
      <key>weapon_1433_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{586,326},{122,150}}</string>
        <key>offset</key>
        <string>{-26,166}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,150}}</string>
        <key>sourceSize</key>
        <string>{122,150}</string>
      </dict>
      <key>weapon_1433_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{644,732},{88,109}}</string>
        <key>offset</key>
        <string>{29,101}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,109}}</string>
        <key>sourceSize</key>
        <string>{88,109}</string>
      </dict>
      <key>weapon_1433_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{728,536},{107,135}}</string>
        <key>offset</key>
        <string>{26,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,135}}</string>
        <key>sourceSize</key>
        <string>{107,135}</string>
      </dict>
      <key>weapon_1433_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{586,450},{79,131}}</string>
        <key>offset</key>
        <string>{-15,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,131}}</string>
        <key>sourceSize</key>
        <string>{79,131}</string>
      </dict>
      <key>weapon_1433_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{639,0},{160,156}}</string>
        <key>offset</key>
        <string>{-96,149}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,156}}</string>
        <key>sourceSize</key>
        <string>{160,156}</string>
      </dict>
      <key>weapon_1433_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{758,242},{152,110}}</string>
        <key>offset</key>
        <string>{-105,126}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,110}}</string>
        <key>sourceSize</key>
        <string>{152,110}</string>
      </dict>
      <key>weapon_1433_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,789},{132,184}}</string>
        <key>offset</key>
        <string>{-51,168}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,184}}</string>
        <key>sourceSize</key>
        <string>{132,184}</string>
      </dict>
      <key>weapon_1433_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{223,0},{165,111}}</string>
        <key>offset</key>
        <string>{13,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,111}}</string>
        <key>sourceSize</key>
        <string>{165,111}</string>
      </dict>
      <key>weapon_1433_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{438,0},{161,111}}</string>
        <key>offset</key>
        <string>{17,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,111}}</string>
        <key>sourceSize</key>
        <string>{161,111}</string>
      </dict>
      <key>weapon_1433_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{886,396},{103,144}}</string>
        <key>offset</key>
        <string>{-72,136}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,144}}</string>
        <key>sourceSize</key>
        <string>{103,144}</string>
      </dict>
      <key>weapon_1433_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{364,497},{112,166}}</string>
        <key>offset</key>
        <string>{-42,163}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,166}}</string>
        <key>sourceSize</key>
        <string>{112,166}</string>
      </dict>
      <key>weapon_1433_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{728,645},{85,127}}</string>
        <key>offset</key>
        <string>{-48,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,127}}</string>
        <key>sourceSize</key>
        <string>{85,127}</string>
      </dict>
      <key>weapon_1433_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{105,506},{92,195}}</string>
        <key>offset</key>
        <string>{-23,147}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,195}}</string>
        <key>sourceSize</key>
        <string>{92,195}</string>
      </dict>
      <key>weapon_1433_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{199,506},{186,163}}</string>
        <key>offset</key>
        <string>{-4,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{186,163}}</string>
        <key>sourceSize</key>
        <string>{186,163}</string>
      </dict>
      <key>weapon_1433_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{797,158},{157,82}}</string>
        <key>offset</key>
        <string>{10,27}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,82}}</string>
        <key>sourceSize</key>
        <string>{157,82}</string>
      </dict>
      <key>weapon_1433_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{659,162},{97,157}}</string>
        <key>offset</key>
        <string>{-77,157}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,157}}</string>
        <key>sourceSize</key>
        <string>{97,157}</string>
      </dict>
      <key>weapon_1433_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{89,273},{231,119}}</string>
        <key>offset</key>
        <string>{-74,147}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{231,119}}</string>
        <key>sourceSize</key>
        <string>{231,119}</string>
      </dict>
      <key>weapon_1433_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{857,707},{124,126}}</string>
        <key>offset</key>
        <string>{-14,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,126}}</string>
        <key>sourceSize</key>
        <string>{124,126}</string>
      </dict>
      <key>weapon_1433_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{105,703},{84,189}}</string>
        <key>offset</key>
        <string>{-37,171}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,189}}</string>
        <key>sourceSize</key>
        <string>{84,189}</string>
      </dict>
      <key>weapon_1433_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,792},{115,212}}</string>
        <key>offset</key>
        <string>{-8,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,212}}</string>
        <key>sourceSize</key>
        <string>{115,212}</string>
      </dict>
      <key>weapon_1433_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{755,732},{87,107}}</string>
        <key>offset</key>
        <string>{-12,18}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,107}}</string>
        <key>sourceSize</key>
        <string>{87,107}</string>
      </dict>
      <key>weapon_1433_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{476,665},{82,166}}</string>
        <key>offset</key>
        <string>{-57,178}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,166}}</string>
        <key>sourceSize</key>
        <string>{82,166}</string>
      </dict>
      <key>weapon_1433_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,273},{270,87}}</string>
        <key>offset</key>
        <string>{-63,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{270,87}}</string>
        <key>sourceSize</key>
        <string>{270,87}</string>
      </dict>
      <key>weapon_1433_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{385,778},{177,112}}</string>
        <key>offset</key>
        <string>{-12,133}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{177,112}}</string>
        <key>sourceSize</key>
        <string>{177,112}</string>
      </dict>
      <key>weapon_1433_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,383},{112,169}}</string>
        <key>offset</key>
        <string>{-45,180}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,169}}</string>
        <key>sourceSize</key>
        <string>{112,169}</string>
      </dict>
      <key>weapon_1433_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{107,0},{114,204}}</string>
        <key>offset</key>
        <string>{-82,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,204}}</string>
        <key>sourceSize</key>
        <string>{114,204}</string>
      </dict>
      <key>weapon_1433_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{499,833},{111,103}}</string>
        <key>offset</key>
        <string>{-93,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,103}}</string>
        <key>sourceSize</key>
        <string>{111,103}</string>
      </dict>
      <key>weapon_1433_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{865,542},{79,131}}</string>
        <key>offset</key>
        <string>{-15,155}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,131}}</string>
        <key>sourceSize</key>
        <string>{79,131}</string>
      </dict>
      <key>weapon_1433_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{797,0},{160,156}}</string>
        <key>offset</key>
        <string>{-17,137}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,156}}</string>
        <key>sourceSize</key>
        <string>{160,156}</string>
      </dict>
      <key>weapon_1433_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{912,242},{152,110}}</string>
        <key>offset</key>
        <string>{4,144}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,110}}</string>
        <key>sourceSize</key>
        <string>{152,110}</string>
      </dict>
      <key>weapon_1433_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{251,789},{132,184}}</string>
        <key>offset</key>
        <string>{-33,199}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,184}}</string>
        <key>sourceSize</key>
        <string>{132,184}</string>
      </dict>
      <key>weapon_1433_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{313,167},{165,111}}</string>
        <key>offset</key>
        <string>{-129,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,111}}</string>
        <key>sourceSize</key>
        <string>{165,111}</string>
      </dict>
      <key>weapon_1433_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{546,163},{161,111}}</string>
        <key>offset</key>
        <string>{-132,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,111}}</string>
        <key>sourceSize</key>
        <string>{161,111}</string>
      </dict>
      <key>weapon_1433_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{381,334},{91,164}}</string>
        <key>offset</key>
        <string>{20,177}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,164}}</string>
        <key>sourceSize</key>
        <string>{91,164}</string>
      </dict>
      <key>weapon_1433_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{478,427},{106,153}}</string>
        <key>offset</key>
        <string>{-19,82}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,153}}</string>
        <key>sourceSize</key>
        <string>{106,153}</string>
      </dict>
      <key>weapon_1433_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{844,833},{85,97}}</string>
        <key>offset</key>
        <string>{16,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,97}}</string>
        <key>sourceSize</key>
        <string>{85,97}</string>
      </dict>
      <key>weapon_1433_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,206},{101,175}}</string>
        <key>offset</key>
        <string>{-14,196}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,175}}</string>
        <key>sourceSize</key>
        <string>{101,175}</string>
      </dict>
      <key>weapon_1433_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{426,166},{163,118}}</string>
        <key>offset</key>
        <string>{-114,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,118}}</string>
        <key>sourceSize</key>
        <string>{163,118}</string>
      </dict>
      <key>weapon_1433_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{586,542},{140,116}}</string>
        <key>offset</key>
        <string>{-97,115}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,116}}</string>
        <key>sourceSize</key>
        <string>{140,116}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_1433_0_2.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>weapon_1433_0_2.png</string>
    </dict>
  </dict>
</plist>