<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_1266_0_5_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{738,126},{83,102}}</string>
        <key>offset</key>
        <string>{22,90}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,102}}</string>
        <key>sourceSize</key>
        <string>{83,102}</string>
      </dict>
      <key>weapon_1266_0_5_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{535,525},{74,157}}</string>
        <key>offset</key>
        <string>{15,143}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,157}}</string>
        <key>sourceSize</key>
        <string>{74,157}</string>
      </dict>
      <key>weapon_1266_0_5_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{74,0},{54,195}}</string>
        <key>offset</key>
        <string>{9,190}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,195}}</string>
        <key>sourceSize</key>
        <string>{54,195}</string>
      </dict>
      <key>weapon_1266_0_5_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,0},{66,192}}</string>
        <key>offset</key>
        <string>{-11,190}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,192}}</string>
        <key>sourceSize</key>
        <string>{66,192}</string>
      </dict>
      <key>weapon_1266_0_5_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{135,586},{63,184}}</string>
        <key>offset</key>
        <string>{11,173}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,184}}</string>
        <key>sourceSize</key>
        <string>{63,184}</string>
      </dict>
      <key>weapon_1266_0_5_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{830,115},{85,121}}</string>
        <key>offset</key>
        <string>{18,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,121}}</string>
        <key>sourceSize</key>
        <string>{85,121}</string>
      </dict>
      <key>weapon_1266_0_5_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{286,0},{179,100}}</string>
        <key>offset</key>
        <string>{-4,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{179,100}}</string>
        <key>sourceSize</key>
        <string>{179,100}</string>
      </dict>
      <key>weapon_1266_0_5_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{325,377},{178,118}}</string>
        <key>offset</key>
        <string>{-2,104}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{178,118}}</string>
        <key>sourceSize</key>
        <string>{178,118}</string>
      </dict>
      <key>weapon_1266_0_5_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{187,394},{136,181}}</string>
        <key>offset</key>
        <string>{4,166}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,181}}</string>
        <key>sourceSize</key>
        <string>{136,181}</string>
      </dict>
      <key>weapon_1266_0_5_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,400},{103,195}}</string>
        <key>offset</key>
        <string>{-7,186}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,195}}</string>
        <key>sourceSize</key>
        <string>{103,195}</string>
      </dict>
      <key>weapon_1266_0_5_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{441,727},{159,159}}</string>
        <key>offset</key>
        <string>{2,139}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,159}}</string>
        <key>sourceSize</key>
        <string>{159,159}</string>
      </dict>
      <key>weapon_1266_0_5_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,577},{179,99}}</string>
        <key>offset</key>
        <string>{4,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{179,99}}</string>
        <key>sourceSize</key>
        <string>{179,99}</string>
      </dict>
      <key>weapon_1266_0_5_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,597},{192,133}}</string>
        <key>offset</key>
        <string>{-22,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{192,133}}</string>
        <key>sourceSize</key>
        <string>{192,133}</string>
      </dict>
      <key>weapon_1266_0_5_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,201},{197,94}}</string>
        <key>offset</key>
        <string>{-11,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{197,94}}</string>
        <key>sourceSize</key>
        <string>{197,94}</string>
      </dict>
      <key>weapon_1266_0_5_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{336,181},{172,130}}</string>
        <key>offset</key>
        <string>{-6,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{172,130}}</string>
        <key>sourceSize</key>
        <string>{172,130}</string>
      </dict>
      <key>weapon_1266_0_5_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{207,758},{136,179}}</string>
        <key>offset</key>
        <string>{-13,161}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,179}}</string>
        <key>sourceSize</key>
        <string>{136,179}</string>
      </dict>
      <key>weapon_1266_0_5_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,791},{188,98}}</string>
        <key>offset</key>
        <string>{-5,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,98}}</string>
        <key>sourceSize</key>
        <string>{188,98}</string>
      </dict>
      <key>weapon_1266_0_5_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,197},{195,126}}</string>
        <key>offset</key>
        <string>{-12,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{195,126}}</string>
        <key>sourceSize</key>
        <string>{195,126}</string>
      </dict>
      <key>weapon_1266_0_5_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{427,557},{106,168}}</string>
        <key>offset</key>
        <string>{-19,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,168}}</string>
        <key>sourceSize</key>
        <string>{106,168}</string>
      </dict>
      <key>weapon_1266_0_5_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{611,500},{123,132}}</string>
        <key>offset</key>
        <string>{-10,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,132}}</string>
        <key>sourceSize</key>
        <string>{123,132}</string>
      </dict>
      <key>weapon_1266_0_5_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{735,0},{124,93}}</string>
        <key>offset</key>
        <string>{-1,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,93}}</string>
        <key>sourceSize</key>
        <string>{124,93}</string>
      </dict>
      <key>weapon_1266_0_5_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{602,888},{113,141}}</string>
        <key>offset</key>
        <string>{-6,125}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,141}}</string>
        <key>sourceSize</key>
        <string>{113,141}</string>
      </dict>
      <key>weapon_1266_0_5_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{830,0},{122,113}}</string>
        <key>offset</key>
        <string>{0,73}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,113}}</string>
        <key>sourceSize</key>
        <string>{122,113}</string>
      </dict>
      <key>weapon_1266_0_5_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{441,888},{112,159}}</string>
        <key>offset</key>
        <string>{-12,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,159}}</string>
        <key>sourceSize</key>
        <string>{112,159}</string>
      </dict>
      <key>weapon_1266_0_5_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{207,939},{76,164}}</string>
        <key>offset</key>
        <string>{-51,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,164}}</string>
        <key>sourceSize</key>
        <string>{76,164}</string>
      </dict>
      <key>weapon_1266_0_5_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{666,141},{70,130}}</string>
        <key>offset</key>
        <string>{-36,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,130}}</string>
        <key>sourceSize</key>
        <string>{70,130}</string>
      </dict>
      <key>weapon_1266_0_5_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{373,930},{55,89}}</string>
        <key>offset</key>
        <string>{-13,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,89}}</string>
        <key>sourceSize</key>
        <string>{55,89}</string>
      </dict>
      <key>weapon_1266_0_5_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{602,822},{64,122}}</string>
        <key>offset</key>
        <string>{-5,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,122}}</string>
        <key>sourceSize</key>
        <string>{64,122}</string>
      </dict>
      <key>weapon_1266_0_5_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{726,822},{60,108}}</string>
        <key>offset</key>
        <string>{-24,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,108}}</string>
        <key>sourceSize</key>
        <string>{60,108}</string>
      </dict>
      <key>weapon_1266_0_5_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{585,166},{79,150}}</string>
        <key>offset</key>
        <string>{-48,55}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,150}}</string>
        <key>sourceSize</key>
        <string>{79,150}</string>
      </dict>
      <key>weapon_1266_0_5_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{301,577},{179,124}}</string>
        <key>offset</key>
        <string>{-128,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{179,124}}</string>
        <key>sourceSize</key>
        <string>{179,124}</string>
      </dict>
      <key>weapon_1266_0_5_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{345,758},{170,94}}</string>
        <key>offset</key>
        <string>{-122,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,94}}</string>
        <key>sourceSize</key>
        <string>{170,94}</string>
      </dict>
      <key>weapon_1266_0_5_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{651,318},{132,78}}</string>
        <key>offset</key>
        <string>{-87,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,78}}</string>
        <key>sourceSize</key>
        <string>{132,78}</string>
      </dict>
      <key>weapon_1266_0_5_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{731,273},{101,118}}</string>
        <key>offset</key>
        <string>{-45,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,118}}</string>
        <key>sourceSize</key>
        <string>{101,118}</string>
      </dict>
      <key>weapon_1266_0_5_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{568,341},{157,81}}</string>
        <key>offset</key>
        <string>{-110,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,81}}</string>
        <key>sourceSize</key>
        <string>{157,81}</string>
      </dict>
      <key>weapon_1266_0_5_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,194},{181,110}}</string>
        <key>offset</key>
        <string>{-131,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,110}}</string>
        <key>sourceSize</key>
        <string>{181,110}</string>
      </dict>
      <key>weapon_1266_0_5_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{105,394},{190,80}}</string>
        <key>offset</key>
        <string>{-120,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{190,80}}</string>
        <key>sourceSize</key>
        <string>{190,80}</string>
      </dict>
      <key>weapon_1266_0_5_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,0},{193,86}}</string>
        <key>offset</key>
        <string>{-134,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{193,86}}</string>
        <key>sourceSize</key>
        <string>{193,86}</string>
      </dict>
      <key>weapon_1266_0_5_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{388,0},{172,117}}</string>
        <key>offset</key>
        <string>{-116,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{172,117}}</string>
        <key>sourceSize</key>
        <string>{172,117}</string>
      </dict>
      <key>weapon_1266_0_5_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{602,684},{136,127}}</string>
        <key>offset</key>
        <string>{-73,137}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,127}}</string>
        <key>sourceSize</key>
        <string>{136,127}</string>
      </dict>
      <key>weapon_1266_0_5_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,791},{186,105}}</string>
        <key>offset</key>
        <string>{-130,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{186,105}}</string>
        <key>sourceSize</key>
        <string>{186,105}</string>
      </dict>
      <key>weapon_1266_0_5_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{199,72}}</string>
        <key>offset</key>
        <string>{-139,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{199,72}}</string>
        <key>sourceSize</key>
        <string>{199,72}</string>
      </dict>
      <key>weapon_1266_0_5_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{745,884},{107,94}}</string>
        <key>offset</key>
        <string>{-37,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,94}}</string>
        <key>sourceSize</key>
        <string>{107,94}</string>
      </dict>
      <key>weapon_1266_0_5_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{619,0},{114,139}}</string>
        <key>offset</key>
        <string>{-58,136}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,139}}</string>
        <key>sourceSize</key>
        <string>{114,139}</string>
      </dict>
      <key>weapon_1266_0_5_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{445,355},{121,168}}</string>
        <key>offset</key>
        <string>{-70,171}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,168}}</string>
        <key>sourceSize</key>
        <string>{121,168}</string>
      </dict>
      <key>weapon_1266_0_5_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{507,0},{110,164}}</string>
        <key>offset</key>
        <string>{-54,170}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,164}}</string>
        <key>sourceSize</key>
        <string>{110,164}</string>
      </dict>
      <key>weapon_1266_0_5_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{468,174},{115,165}}</string>
        <key>offset</key>
        <string>{-67,163}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,165}}</string>
        <key>sourceSize</key>
        <string>{115,165}</string>
      </dict>
      <key>weapon_1266_0_5_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{731,393},{102,111}}</string>
        <key>offset</key>
        <string>{-46,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,111}}</string>
        <key>sourceSize</key>
        <string>{102,111}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_1266_0_5.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>weapon_1266_0_5.png</string>
    </dict>
  </dict>
</plist>