<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>npc_1150_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,347},{106,110}}</string>
        <key>offset</key>
        <string>{-9,82}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,110}}</string>
        <key>sourceSize</key>
        <string>{106,110}</string>
      </dict>
      <key>npc_1150_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{105,118},{114,110}}</string>
        <key>offset</key>
        <string>{-8,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,110}}</string>
        <key>sourceSize</key>
        <string>{114,110}</string>
      </dict>
      <key>npc_1150_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,248},{115,108}}</string>
        <key>offset</key>
        <string>{-9,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,108}}</string>
        <key>sourceSize</key>
        <string>{115,108}</string>
      </dict>
      <key>npc_1150_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{124,102}}</string>
        <key>offset</key>
        <string>{-9,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,102}}</string>
        <key>sourceSize</key>
        <string>{124,102}</string>
      </dict>
      <key>npc_1150_0_0_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,126},{120,103}}</string>
        <key>offset</key>
        <string>{-9,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,103}}</string>
        <key>sourceSize</key>
        <string>{120,103}</string>
      </dict>
      <key>npc_1150_0_0_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{217,116},{106,104}}</string>
        <key>offset</key>
        <string>{-8,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,104}}</string>
        <key>sourceSize</key>
        <string>{106,104}</string>
      </dict>
      <key>npc_1150_0_0_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{213,234},{100,109}}</string>
        <key>offset</key>
        <string>{-9,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,109}}</string>
        <key>sourceSize</key>
        <string>{100,109}</string>
      </dict>
      <key>npc_1150_0_0_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{110,234},{101,111}}</string>
        <key>offset</key>
        <string>{-9,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,111}}</string>
        <key>sourceSize</key>
        <string>{101,111}</string>
      </dict>
      <key>npc_1150_0_0_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,0},{92,114}}</string>
        <key>offset</key>
        <string>{-8,92}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,114}}</string>
        <key>sourceSize</key>
        <string>{92,114}</string>
      </dict>
      <key>npc_1150_0_0_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,0},{88,116}}</string>
        <key>offset</key>
        <string>{-8,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,116}}</string>
        <key>sourceSize</key>
        <string>{88,116}</string>
      </dict>
      <key>npc_1150_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,365},{92,112}}</string>
        <key>offset</key>
        <string>{-9,88}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,112}}</string>
        <key>sourceSize</key>
        <string>{92,112}</string>
      </dict>
      <key>npc_1150_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,365},{98,112}}</string>
        <key>offset</key>
        <string>{-9,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,112}}</string>
        <key>sourceSize</key>
        <string>{98,112}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>npc_1150_0_0.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>npc_1150_0_0.png</string>
    </dict>
  </dict>
</plist>