<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>npc_1338_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{152,116},{63,113}}</string>
        <key>offset</key>
        <string>{-9,81}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,113}}</string>
        <key>sourceSize</key>
        <string>{63,113}</string>
      </dict>
      <key>npc_1338_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{217,116},{63,113}}</string>
        <key>offset</key>
        <string>{-10,81}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,113}}</string>
        <key>sourceSize</key>
        <string>{63,113}</string>
      </dict>
      <key>npc_1338_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{67,114}}</string>
        <key>offset</key>
        <string>{-12,81}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,114}}</string>
        <key>sourceSize</key>
        <string>{67,114}</string>
      </dict>
      <key>npc_1338_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,116},{71,114}}</string>
        <key>offset</key>
        <string>{-14,81}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,114}}</string>
        <key>sourceSize</key>
        <string>{71,114}</string>
      </dict>
      <key>npc_1338_0_0_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{69,0},{77,114}}</string>
        <key>offset</key>
        <string>{-17,81}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,114}}</string>
        <key>sourceSize</key>
        <string>{77,114}</string>
      </dict>
      <key>npc_1338_0_0_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{73,116},{77,114}}</string>
        <key>offset</key>
        <string>{-17,81}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,114}}</string>
        <key>sourceSize</key>
        <string>{77,114}</string>
      </dict>
      <key>npc_1338_0_0_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{152,0},{73,114}}</string>
        <key>offset</key>
        <string>{-15,81}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,114}}</string>
        <key>sourceSize</key>
        <string>{73,114}</string>
      </dict>
      <key>npc_1338_0_0_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{227,0},{67,113}}</string>
        <key>offset</key>
        <string>{-11,81}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,113}}</string>
        <key>sourceSize</key>
        <string>{67,113}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>npc_1338_0_0.png</string>
      <key>size</key>
      <string>{512,256}</string>
      <key>textureFileName</key>
      <string>npc_1338_0_0.png</string>
    </dict>
  </dict>
</plist>