<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>npc_1111_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{259,0},{83,89}}</string>
        <key>offset</key>
        <string>{-4,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,89}}</string>
        <key>sourceSize</key>
        <string>{83,89}</string>
      </dict>
      <key>npc_1111_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{265,91},{83,89}}</string>
        <key>offset</key>
        <string>{-4,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,89}}</string>
        <key>sourceSize</key>
        <string>{83,89}</string>
      </dict>
      <key>npc_1111_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,0},{84,90}}</string>
        <key>offset</key>
        <string>{-2,66}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,90}}</string>
        <key>sourceSize</key>
        <string>{84,90}</string>
      </dict>
      <key>npc_1111_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{87,0},{84,94}}</string>
        <key>offset</key>
        <string>{-2,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,94}}</string>
        <key>sourceSize</key>
        <string>{84,94}</string>
      </dict>
      <key>npc_1111_0_0_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{85,97}}</string>
        <key>offset</key>
        <string>{-3,73}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,97}}</string>
        <key>sourceSize</key>
        <string>{85,97}</string>
      </dict>
      <key>npc_1111_0_0_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,99},{87,97}}</string>
        <key>offset</key>
        <string>{-5,73}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,97}}</string>
        <key>sourceSize</key>
        <string>{87,97}</string>
      </dict>
      <key>npc_1111_0_0_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{89,96},{86,92}}</string>
        <key>offset</key>
        <string>{-4,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,92}}</string>
        <key>sourceSize</key>
        <string>{86,92}</string>
      </dict>
      <key>npc_1111_0_0_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{177,92},{86,90}}</string>
        <key>offset</key>
        <string>{-4,66}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,90}}</string>
        <key>sourceSize</key>
        <string>{86,90}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>npc_1111_0_0.png</string>
      <key>size</key>
      <string>{512,256}</string>
      <key>textureFileName</key>
      <string>npc_1111_0_0.png</string>
    </dict>
  </dict>
</plist>