<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>npc_1118_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{86,112}}</string>
        <key>offset</key>
        <string>{-6,84}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,112}}</string>
        <key>sourceSize</key>
        <string>{86,112}</string>
      </dict>
      <key>npc_1118_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,114},{84,111}}</string>
        <key>offset</key>
        <string>{-6,84}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,111}}</string>
        <key>sourceSize</key>
        <string>{84,111}</string>
      </dict>
      <key>npc_1118_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,114},{85,111}}</string>
        <key>offset</key>
        <string>{-6,84}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,111}}</string>
        <key>sourceSize</key>
        <string>{85,111}</string>
      </dict>
      <key>npc_1118_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{88,0},{86,111}}</string>
        <key>offset</key>
        <string>{-6,84}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,111}}</string>
        <key>sourceSize</key>
        <string>{86,111}</string>
      </dict>
      <key>npc_1118_0_0_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,113},{84,111}}</string>
        <key>offset</key>
        <string>{-5,84}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,111}}</string>
        <key>sourceSize</key>
        <string>{84,111}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>npc_1118_0_0.png</string>
      <key>size</key>
      <string>{512,256}</string>
      <key>textureFileName</key>
      <string>npc_1118_0_0.png</string>
    </dict>
  </dict>
</plist>