<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>npc_1353_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{180,119},{176,104}}</string>
        <key>offset</key>
        <string>{-61,38}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,104}}</string>
        <key>sourceSize</key>
        <string>{176,104}</string>
      </dict>
      <key>npc_1353_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{178,109}}</string>
        <key>offset</key>
        <string>{-61,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{178,109}}</string>
        <key>sourceSize</key>
        <string>{178,109}</string>
      </dict>
      <key>npc_1353_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{111,225},{175,111}}</string>
        <key>offset</key>
        <string>{-60,39}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{175,111}}</string>
        <key>sourceSize</key>
        <string>{175,111}</string>
      </dict>
      <key>npc_1353_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,180},{178,109}}</string>
        <key>offset</key>
        <string>{-61,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{178,109}}</string>
        <key>sourceSize</key>
        <string>{178,109}</string>
      </dict>
      <key>npc_1353_0_0_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{360,0},{177,114}}</string>
        <key>offset</key>
        <string>{-61,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{177,114}}</string>
        <key>sourceSize</key>
        <string>{177,114}</string>
      </dict>
      <key>npc_1353_0_0_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,360},{178,110}}</string>
        <key>offset</key>
        <string>{-61,41}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{178,110}}</string>
        <key>sourceSize</key>
        <string>{178,110}</string>
      </dict>
      <key>npc_1353_0_0_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,179},{175,108}}</string>
        <key>offset</key>
        <string>{-58,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{175,108}}</string>
        <key>sourceSize</key>
        <string>{175,108}</string>
      </dict>
      <key>npc_1353_0_0_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{180,0},{178,117}}</string>
        <key>offset</key>
        <string>{-61,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{178,117}}</string>
        <key>sourceSize</key>
        <string>{178,117}</string>
      </dict>
      <key>npc_1353_0_0_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{357,356},{173,112}}</string>
        <key>offset</key>
        <string>{-60,36}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,112}}</string>
        <key>sourceSize</key>
        <string>{173,112}</string>
      </dict>
      <key>npc_1353_0_0_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{180,356},{175,132}}</string>
        <key>offset</key>
        <string>{-58,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{175,132}}</string>
        <key>sourceSize</key>
        <string>{175,132}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>npc_1353_0_0.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>npc_1353_0_0.png</string>
    </dict>
  </dict>
</plist>