<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>npc_7220_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{231,221},{219,219}}</string>
        <key>offset</key>
        <string>{-70,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{219,219}}</string>
        <key>sourceSize</key>
        <string>{219,219}</string>
      </dict>
      <key>npc_7220_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,221},{219,219}}</string>
        <key>offset</key>
        <string>{-70,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{219,219}}</string>
        <key>sourceSize</key>
        <string>{219,219}</string>
      </dict>
      <key>npc_7220_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,442},{219,218}}</string>
        <key>offset</key>
        <string>{-70,107}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{219,218}}</string>
        <key>sourceSize</key>
        <string>{219,218}</string>
      </dict>
      <key>npc_7220_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{221,442},{219,219}}</string>
        <key>offset</key>
        <string>{-70,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{219,219}}</string>
        <key>sourceSize</key>
        <string>{219,219}</string>
      </dict>
      <key>npc_7220_0_0_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{459,0},{219,219}}</string>
        <key>offset</key>
        <string>{-70,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{219,219}}</string>
        <key>sourceSize</key>
        <string>{219,219}</string>
      </dict>
      <key>npc_7220_0_0_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{219,229}}</string>
        <key>offset</key>
        <string>{-70,117}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{219,229}}</string>
        <key>sourceSize</key>
        <string>{219,229}</string>
      </dict>
      <key>npc_7220_0_0_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{231,0},{219,226}}</string>
        <key>offset</key>
        <string>{-70,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{219,226}}</string>
        <key>sourceSize</key>
        <string>{219,226}</string>
      </dict>
      <key>npc_7220_0_0_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{459,221},{219,219}}</string>
        <key>offset</key>
        <string>{-70,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{219,219}}</string>
        <key>sourceSize</key>
        <string>{219,219}</string>
      </dict>
      <key>npc_7220_0_0_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{452,442},{219,219}}</string>
        <key>offset</key>
        <string>{-70,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{219,219}}</string>
        <key>sourceSize</key>
        <string>{219,219}</string>
      </dict>
      <key>npc_7220_0_0_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{680,0},{219,219}}</string>
        <key>offset</key>
        <string>{-70,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{219,219}}</string>
        <key>sourceSize</key>
        <string>{219,219}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>npc_7220_0_0.png</string>
      <key>size</key>
      <string>{967,771}</string>
      <key>textureFileName</key>
      <string>npc_7220_0_0.png</string>
    </dict>
  </dict>
</plist>