<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>npc_0690_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,221},{213,173}}</string>
        <key>offset</key>
        <string>{-80,149}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{213,173}}</string>
        <key>sourceSize</key>
        <string>{213,173}</string>
      </dict>
      <key>npc_0690_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,0},{211,172}}</string>
        <key>offset</key>
        <string>{-78,147}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{211,172}}</string>
        <key>sourceSize</key>
        <string>{211,172}</string>
      </dict>
      <key>npc_0690_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,221},{216,171}}</string>
        <key>offset</key>
        <string>{-80,147}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{216,171}}</string>
        <key>sourceSize</key>
        <string>{216,171}</string>
      </dict>
      <key>npc_0690_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{219,171}}</string>
        <key>offset</key>
        <string>{-78,148}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{219,171}}</string>
        <key>sourceSize</key>
        <string>{219,171}</string>
      </dict>
      <key>npc_0690_0_0_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{347,0},{209,171}}</string>
        <key>offset</key>
        <string>{-76,148}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,171}}</string>
        <key>sourceSize</key>
        <string>{209,171}</string>
      </dict>
      <key>npc_0690_0_0_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{522,209},{204,171}}</string>
        <key>offset</key>
        <string>{-72,148}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{204,171}}</string>
        <key>sourceSize</key>
        <string>{204,171}</string>
      </dict>
      <key>npc_0690_0_0_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{520,0},{207,171}}</string>
        <key>offset</key>
        <string>{-75,148}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{207,171}}</string>
        <key>sourceSize</key>
        <string>{207,171}</string>
      </dict>
      <key>npc_0690_0_0_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{348,211},{208,172}}</string>
        <key>offset</key>
        <string>{-75,148}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,172}}</string>
        <key>sourceSize</key>
        <string>{208,172}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>npc_0690_0_0.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>npc_0690_0_0.png</string>
    </dict>
  </dict>
</plist>