<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>npc_1141_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,238},{91,115}}</string>
        <key>offset</key>
        <string>{-24,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,115}}</string>
        <key>sourceSize</key>
        <string>{91,115}</string>
      </dict>
      <key>npc_1141_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{93,117}}</string>
        <key>offset</key>
        <string>{-27,82}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,117}}</string>
        <key>sourceSize</key>
        <string>{93,117}</string>
      </dict>
      <key>npc_1141_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{95,0},{95,117}}</string>
        <key>offset</key>
        <string>{-29,82}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,117}}</string>
        <key>sourceSize</key>
        <string>{95,117}</string>
      </dict>
      <key>npc_1141_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,119},{95,117}}</string>
        <key>offset</key>
        <string>{-29,83}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,117}}</string>
        <key>sourceSize</key>
        <string>{95,117}</string>
      </dict>
      <key>npc_1141_0_0_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{97,119},{94,116}}</string>
        <key>offset</key>
        <string>{-28,83}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,116}}</string>
        <key>sourceSize</key>
        <string>{94,116}</string>
      </dict>
      <key>npc_1141_0_0_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{192,0},{89,116}}</string>
        <key>offset</key>
        <string>{-23,83}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,116}}</string>
        <key>sourceSize</key>
        <string>{89,116}</string>
      </dict>
      <key>npc_1141_0_0_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{93,238},{92,115}}</string>
        <key>offset</key>
        <string>{-24,82}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,115}}</string>
        <key>sourceSize</key>
        <string>{92,115}</string>
      </dict>
      <key>npc_1141_0_0_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{187,238},{93,115}}</string>
        <key>offset</key>
        <string>{-25,81}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,115}}</string>
        <key>sourceSize</key>
        <string>{93,115}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>npc_1141_0_0.png</string>
      <key>size</key>
      <string>{284,356}</string>
      <key>textureFileName</key>
      <string>npc_1141_0_0.png</string>
    </dict>
  </dict>
</plist>