<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>npc_7290_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{484,484},{240,255}}</string>
        <key>offset</key>
        <string>{-97,148}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{240,255}}</string>
        <key>sourceSize</key>
        <string>{240,255}</string>
      </dict>
      <key>npc_7290_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{741,510},{240,254}}</string>
        <key>offset</key>
        <string>{-97,147}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{240,254}}</string>
        <key>sourceSize</key>
        <string>{240,254}</string>
      </dict>
      <key>npc_7290_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,268},{240,264}}</string>
        <key>offset</key>
        <string>{-97,157}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{240,264}}</string>
        <key>sourceSize</key>
        <string>{240,264}</string>
      </dict>
      <key>npc_7290_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{484,0},{240,271}}</string>
        <key>offset</key>
        <string>{-97,164}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{240,271}}</string>
        <key>sourceSize</key>
        <string>{240,271}</string>
      </dict>
      <key>npc_7290_0_0_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,566},{240,278}}</string>
        <key>offset</key>
        <string>{-97,171}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{240,278}}</string>
        <key>sourceSize</key>
        <string>{240,278}</string>
      </dict>
      <key>npc_7290_0_0_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{751,268},{240,262}}</string>
        <key>offset</key>
        <string>{-97,155}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{240,262}}</string>
        <key>sourceSize</key>
        <string>{240,262}</string>
      </dict>
      <key>npc_7290_0_0_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{484,726},{240,254}}</string>
        <key>offset</key>
        <string>{-97,147}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{240,254}}</string>
        <key>sourceSize</key>
        <string>{240,254}</string>
      </dict>
      <key>npc_7290_0_0_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{740,752},{240,254}}</string>
        <key>offset</key>
        <string>{-97,147}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{240,254}}</string>
        <key>sourceSize</key>
        <string>{240,254}</string>
      </dict>
      <key>npc_7290_0_0_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{999,0},{240,254}}</string>
        <key>offset</key>
        <string>{-97,147}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{240,254}}</string>
        <key>sourceSize</key>
        <string>{240,254}</string>
      </dict>
      <key>npc_7290_0_0_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{982,752},{240,254}}</string>
        <key>offset</key>
        <string>{-97,147}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{240,254}}</string>
        <key>sourceSize</key>
        <string>{240,254}</string>
      </dict>
      <key>npc_7290_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,0},{240,266}}</string>
        <key>offset</key>
        <string>{-97,159}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{240,266}}</string>
        <key>sourceSize</key>
        <string>{240,266}</string>
      </dict>
      <key>npc_7290_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,566},{240,276}}</string>
        <key>offset</key>
        <string>{-97,169}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{240,276}}</string>
        <key>sourceSize</key>
        <string>{240,276}</string>
      </dict>
      <key>npc_7290_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{240,281}}</string>
        <key>offset</key>
        <string>{-97,174}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{240,281}}</string>
        <key>sourceSize</key>
        <string>{240,281}</string>
      </dict>
      <key>npc_7290_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,283},{240,281}}</string>
        <key>offset</key>
        <string>{-97,174}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{240,281}}</string>
        <key>sourceSize</key>
        <string>{240,281}</string>
      </dict>
      <key>npc_7290_0_0_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{484,242},{240,265}}</string>
        <key>offset</key>
        <string>{-97,158}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{240,265}}</string>
        <key>sourceSize</key>
        <string>{240,265}</string>
      </dict>
      <key>npc_7290_0_0_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{757,0},{240,266}}</string>
        <key>offset</key>
        <string>{-97,159}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{240,266}}</string>
        <key>sourceSize</key>
        <string>{240,266}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>npc_7290_0_0.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>npc_7290_0_0.png</string>
    </dict>
  </dict>
</plist>