<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>npc_2039_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{136,0},{146,134}}</string>
        <key>offset</key>
        <string>{-22,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,134}}</string>
        <key>sourceSize</key>
        <string>{146,134}</string>
      </dict>
      <key>npc_2039_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{136,148},{146,134}}</string>
        <key>offset</key>
        <string>{-22,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,134}}</string>
        <key>sourceSize</key>
        <string>{146,134}</string>
      </dict>
      <key>npc_2039_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{272,148},{146,134}}</string>
        <key>offset</key>
        <string>{-22,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,134}}</string>
        <key>sourceSize</key>
        <string>{146,134}</string>
      </dict>
      <key>npc_2039_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{147,134}}</string>
        <key>offset</key>
        <string>{-22,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,134}}</string>
        <key>sourceSize</key>
        <string>{147,134}</string>
      </dict>
      <key>npc_2039_0_0_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,149},{147,134}}</string>
        <key>offset</key>
        <string>{-22,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,134}}</string>
        <key>sourceSize</key>
        <string>{147,134}</string>
      </dict>
      <key>npc_2039_0_0_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,298},{147,134}}</string>
        <key>offset</key>
        <string>{-22,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,134}}</string>
        <key>sourceSize</key>
        <string>{147,134}</string>
      </dict>
      <key>npc_2039_0_0_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{136,298},{147,134}}</string>
        <key>offset</key>
        <string>{-22,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,134}}</string>
        <key>sourceSize</key>
        <string>{147,134}</string>
      </dict>
      <key>npc_2039_0_0_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{272,0},{147,134}}</string>
        <key>offset</key>
        <string>{-22,102}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,134}}</string>
        <key>sourceSize</key>
        <string>{147,134}</string>
      </dict>
      <key>npc_2039_0_0_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{272,296},{146,134}}</string>
        <key>offset</key>
        <string>{-22,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,134}}</string>
        <key>sourceSize</key>
        <string>{146,134}</string>
      </dict>
      <key>npc_2039_0_0_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{408,136},{146,134}}</string>
        <key>offset</key>
        <string>{-22,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,134}}</string>
        <key>sourceSize</key>
        <string>{146,134}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>npc_2039_0_0.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>npc_2039_0_0.png</string>
    </dict>
  </dict>
</plist>