<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>obj107_002916.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002917.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,194},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002918.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,388},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002919.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,582},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002920.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,776},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002921.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,776},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002922.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,0},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002923.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,194},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002924.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,388},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002925.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,582},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002926.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,582},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002927.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,776},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002928.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,776},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002929.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,0},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002930.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,194},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002931.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,388},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002932.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,388},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002933.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,582},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002934.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,582},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002935.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,776},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002936.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,776},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002937.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,0},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002938.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,194},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002939.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,194},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002940.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,0},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002941.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,0},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002942.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,388},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002943.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,388},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002944.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,194},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002945.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,194},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002946.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,0},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002947.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,0},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002948.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,582},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002949.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,582},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002950.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,388},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002951.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,388},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002952.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,194},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002953.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,194},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002954.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,0},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002955.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,0},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002956.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,776},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002957.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,776},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002958.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,582},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002959.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,582},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002960.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,388},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002961.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,388},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002962.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,194},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002963.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,194},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002964.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,0},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002965.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,0},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002966.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,776},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002967.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,776},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002968.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,582},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002969.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,582},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002970.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,388},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002971.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,388},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002972.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,194},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002973.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,194},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002974.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,0},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002975.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,0},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002976.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,776},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002977.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,776},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002978.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,582},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002979.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,582},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002980.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,388},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002981.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,388},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002982.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,194},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002983.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,194},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002984.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,0},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002985.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,0},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002986.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,776},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002987.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,776},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002988.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,582},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002989.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,582},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002990.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,388},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002991.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,388},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002992.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,194},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002993.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,194},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002994.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,0},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002995.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,776},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002996.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,776},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002997.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,582},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002998.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,582},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002999.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,388},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_003000.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,388},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_003001.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,0},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_003002.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,0},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_003003.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,194},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_003004.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,0},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_003005.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,194},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_003006.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,194},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_003007.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,388},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_003008.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,388},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_003009.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,582},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_003010.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,582},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_003011.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,582},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_003012.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,776},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_003013.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,776},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_003014.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,776},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_003015.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,776},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_003016.png</key>
      <dict>
        <key>frame</key>
        <string>{{1000,0},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_003017.png</key>
      <dict>
        <key>frame</key>
        <string>{{1000,194},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_003018.png</key>
      <dict>
        <key>frame</key>
        <string>{{1000,388},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_003019.png</key>
      <dict>
        <key>frame</key>
        <string>{{1000,582},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_003020.png</key>
      <dict>
        <key>frame</key>
        <string>{{1000,776},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_003021.png</key>
      <dict>
        <key>frame</key>
        <string>{{1050,776},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_003022.png</key>
      <dict>
        <key>frame</key>
        <string>{{1050,0},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_003023.png</key>
      <dict>
        <key>frame</key>
        <string>{{1050,194},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>obj107_27.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>obj107_27.png</string>
    </dict>
  </dict>
</plist>