<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>obj11_003560.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{96,160}}</string>
        <key>offset</key>
        <string>{-2,2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,160}}</string>
        <key>sourceSize</key>
        <string>{96,160}</string>
      </dict>
      <key>obj11_003561.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,0},{96,160}}</string>
        <key>offset</key>
        <string>{-2,2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,160}}</string>
        <key>sourceSize</key>
        <string>{96,160}</string>
      </dict>
      <key>obj11_003562.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,162},{96,160}}</string>
        <key>offset</key>
        <string>{-2,2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,160}}</string>
        <key>sourceSize</key>
        <string>{96,160}</string>
      </dict>
      <key>obj11_003563.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,162},{96,160}}</string>
        <key>offset</key>
        <string>{-2,2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,160}}</string>
        <key>sourceSize</key>
        <string>{96,160}</string>
      </dict>
      <key>obj11_003564.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,324},{96,160}}</string>
        <key>offset</key>
        <string>{-2,2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,160}}</string>
        <key>sourceSize</key>
        <string>{96,160}</string>
      </dict>
      <key>obj11_003565.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,324},{96,160}}</string>
        <key>offset</key>
        <string>{-2,2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,160}}</string>
        <key>sourceSize</key>
        <string>{96,160}</string>
      </dict>
      <key>obj11_003566.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,0},{96,160}}</string>
        <key>offset</key>
        <string>{-2,2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,160}}</string>
        <key>sourceSize</key>
        <string>{96,160}</string>
      </dict>
      <key>obj11_003567.png</key>
      <dict>
        <key>frame</key>
        <string>{{294,0},{96,160}}</string>
        <key>offset</key>
        <string>{-2,2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,160}}</string>
        <key>sourceSize</key>
        <string>{96,160}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>obj11_445.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>obj11_445.png</string>
    </dict>
  </dict>
</plist>