<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>obj144_002850.png</key>
      <dict>
        <key>frame</key>
        <string>{{980,0},{144,288}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,288}}</string>
        <key>sourceSize</key>
        <string>{144,288}</string>
      </dict>
      <key>obj144_002851.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,987},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj144_002852.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,987},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj144_002853.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{96,544}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,544}}</string>
        <key>sourceSize</key>
        <string>{96,544}</string>
      </dict>
      <key>obj144_002854.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,0},{96,544}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,544}}</string>
        <key>sourceSize</key>
        <string>{96,544}</string>
      </dict>
      <key>obj144_002855.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,0},{96,544}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,544}}</string>
        <key>sourceSize</key>
        <string>{96,544}</string>
      </dict>
      <key>obj144_002856.png</key>
      <dict>
        <key>frame</key>
        <string>{{294,0},{96,544}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,544}}</string>
        <key>sourceSize</key>
        <string>{96,544}</string>
      </dict>
      <key>obj144_002857.png</key>
      <dict>
        <key>frame</key>
        <string>{{392,0},{96,544}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,544}}</string>
        <key>sourceSize</key>
        <string>{96,544}</string>
      </dict>
      <key>obj144_002858.png</key>
      <dict>
        <key>frame</key>
        <string>{{490,0},{96,544}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,544}}</string>
        <key>sourceSize</key>
        <string>{96,544}</string>
      </dict>
      <key>obj144_002859.png</key>
      <dict>
        <key>frame</key>
        <string>{{588,0},{96,544}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,544}}</string>
        <key>sourceSize</key>
        <string>{96,544}</string>
      </dict>
      <key>obj144_002860.png</key>
      <dict>
        <key>frame</key>
        <string>{{686,0},{96,544}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,544}}</string>
        <key>sourceSize</key>
        <string>{96,544}</string>
      </dict>
      <key>obj144_002861.png</key>
      <dict>
        <key>frame</key>
        <string>{{784,0},{96,544}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,544}}</string>
        <key>sourceSize</key>
        <string>{96,544}</string>
      </dict>
      <key>obj144_002862.png</key>
      <dict>
        <key>frame</key>
        <string>{{882,0},{96,544}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,544}}</string>
        <key>sourceSize</key>
        <string>{96,544}</string>
      </dict>
      <key>obj144_002863.png</key>
      <dict>
        <key>frame</key>
        <string>{{882,546},{96,320}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,320}}</string>
        <key>sourceSize</key>
        <string>{96,320}</string>
      </dict>
      <key>obj144_002864.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,546},{96,320}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,320}}</string>
        <key>sourceSize</key>
        <string>{96,320}</string>
      </dict>
      <key>obj144_002865.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,546},{96,320}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,320}}</string>
        <key>sourceSize</key>
        <string>{96,320}</string>
      </dict>
      <key>obj144_002866.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,546},{96,320}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,320}}</string>
        <key>sourceSize</key>
        <string>{96,320}</string>
      </dict>
      <key>obj144_002867.png</key>
      <dict>
        <key>frame</key>
        <string>{{294,546},{96,320}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,320}}</string>
        <key>sourceSize</key>
        <string>{96,320}</string>
      </dict>
      <key>obj144_002868.png</key>
      <dict>
        <key>frame</key>
        <string>{{392,546},{96,320}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,320}}</string>
        <key>sourceSize</key>
        <string>{96,320}</string>
      </dict>
      <key>obj144_002869.png</key>
      <dict>
        <key>frame</key>
        <string>{{490,546},{96,320}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,320}}</string>
        <key>sourceSize</key>
        <string>{96,320}</string>
      </dict>
      <key>obj144_002870.png</key>
      <dict>
        <key>frame</key>
        <string>{{588,546},{96,320}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,320}}</string>
        <key>sourceSize</key>
        <string>{96,320}</string>
      </dict>
      <key>obj144_002871.png</key>
      <dict>
        <key>frame</key>
        <string>{{686,546},{96,320}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,320}}</string>
        <key>sourceSize</key>
        <string>{96,320}</string>
      </dict>
      <key>obj144_002872.png</key>
      <dict>
        <key>frame</key>
        <string>{{784,546},{96,320}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,320}}</string>
        <key>sourceSize</key>
        <string>{96,320}</string>
      </dict>
      <key>obj144_002873.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,868},{48,117}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,117}}</string>
        <key>sourceSize</key>
        <string>{48,117}</string>
      </dict>
      <key>obj144_002874.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,868},{48,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,123}}</string>
        <key>sourceSize</key>
        <string>{48,123}</string>
      </dict>
      <key>obj144_002875.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,984},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj144_002876.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,868},{48,144}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,144}}</string>
        <key>sourceSize</key>
        <string>{48,144}</string>
      </dict>
      <key>obj144_002877.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,983},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj144_002878.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,868},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj144_002879.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,902},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj144_002880.png</key>
      <dict>
        <key>frame</key>
        <string>{{980,460},{48,164}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,164}}</string>
        <key>sourceSize</key>
        <string>{48,164}</string>
      </dict>
      <key>obj144_002881.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,936},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj144_002882.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,936},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj144_002883.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,970},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj144_002884.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,970},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj144_002885.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,868},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj144_002886.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,902},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj144_002887.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,902},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj144_002888.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,868},{48,113}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,113}}</string>
        <key>sourceSize</key>
        <string>{48,113}</string>
      </dict>
      <key>obj144_002889.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,868},{48,148}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,148}}</string>
        <key>sourceSize</key>
        <string>{48,148}</string>
      </dict>
      <key>obj144_002890.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,868},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj144_002891.png</key>
      <dict>
        <key>frame</key>
        <string>{{980,290},{48,168}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,168}}</string>
        <key>sourceSize</key>
        <string>{48,168}</string>
      </dict>
      <key>obj144_002892.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,868},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj144_002893.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,936},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj144_002894.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,936},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj144_002895.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,902},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj144_002896.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,902},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj144_002897.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,868},{48,121}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,121}}</string>
        <key>sourceSize</key>
        <string>{48,121}</string>
      </dict>
      <key>obj144_002898.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,868},{48,114}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,114}}</string>
        <key>sourceSize</key>
        <string>{48,114}</string>
      </dict>
      <key>obj144_002899.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,868},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>obj144_57.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>obj144_57.png</string>
    </dict>
  </dict>
</plist>