<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>obj11_003472.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{144,448}}</string>
        <key>offset</key>
        <string>{-2,2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,448}}</string>
        <key>sourceSize</key>
        <string>{144,448}</string>
      </dict>
      <key>obj11_003473.png</key>
      <dict>
        <key>frame</key>
        <string>{{146,0},{144,448}}</string>
        <key>offset</key>
        <string>{-2,2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,448}}</string>
        <key>sourceSize</key>
        <string>{144,448}</string>
      </dict>
      <key>obj11_003474.png</key>
      <dict>
        <key>frame</key>
        <string>{{292,0},{144,448}}</string>
        <key>offset</key>
        <string>{-2,2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,448}}</string>
        <key>sourceSize</key>
        <string>{144,448}</string>
      </dict>
      <key>obj11_003475.png</key>
      <dict>
        <key>frame</key>
        <string>{{292,450},{144,448}}</string>
        <key>offset</key>
        <string>{-2,2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,448}}</string>
        <key>sourceSize</key>
        <string>{144,448}</string>
      </dict>
      <key>obj11_003476.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,450},{144,448}}</string>
        <key>offset</key>
        <string>{-2,2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,448}}</string>
        <key>sourceSize</key>
        <string>{144,448}</string>
      </dict>
      <key>obj11_003477.png</key>
      <dict>
        <key>frame</key>
        <string>{{146,450},{144,448}}</string>
        <key>offset</key>
        <string>{-2,2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,448}}</string>
        <key>sourceSize</key>
        <string>{144,448}</string>
      </dict>
      <key>obj11_003478.png</key>
      <dict>
        <key>frame</key>
        <string>{{438,0},{144,448}}</string>
        <key>offset</key>
        <string>{-2,2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,448}}</string>
        <key>sourceSize</key>
        <string>{144,448}</string>
      </dict>
      <key>obj11_003479.png</key>
      <dict>
        <key>frame</key>
        <string>{{438,450},{144,448}}</string>
        <key>offset</key>
        <string>{-2,2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,448}}</string>
        <key>sourceSize</key>
        <string>{144,448}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>obj11_434.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>obj11_434.png</string>
    </dict>
  </dict>
</plist>