<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>obj11_003544.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,0},{96,160}}</string>
        <key>offset</key>
        <string>{-2,2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,160}}</string>
        <key>sourceSize</key>
        <string>{96,160}</string>
      </dict>
      <key>obj11_003545.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,162},{96,160}}</string>
        <key>offset</key>
        <string>{-2,2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,160}}</string>
        <key>sourceSize</key>
        <string>{96,160}</string>
      </dict>
      <key>obj11_003546.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{48,576}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,576}}</string>
        <key>sourceSize</key>
        <string>{48,576}</string>
      </dict>
      <key>obj11_003547.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,162},{48,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj11_003548.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,900},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj11_003549.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,578},{48,320}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,320}}</string>
        <key>sourceSize</key>
        <string>{48,320}</string>
      </dict>
      <key>obj11_003550.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,578},{48,416}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,416}}</string>
        <key>sourceSize</key>
        <string>{48,416}</string>
      </dict>
      <key>obj11_003551.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,0},{48,576}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,576}}</string>
        <key>sourceSize</key>
        <string>{48,576}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>obj11_443.png</string>
      <key>size</key>
      <string>{256,1024}</string>
      <key>textureFileName</key>
      <string>obj11_443.png</string>
    </dict>
  </dict>
</plist>