<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>obj144_004300.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{96,640}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,640}}</string>
        <key>sourceSize</key>
        <string>{96,640}</string>
      </dict>
      <key>obj144_004301.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,0},{96,640}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,640}}</string>
        <key>sourceSize</key>
        <string>{96,640}</string>
      </dict>
      <key>obj144_004302.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,0},{96,640}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,640}}</string>
        <key>sourceSize</key>
        <string>{96,640}</string>
      </dict>
      <key>obj144_004303.png</key>
      <dict>
        <key>frame</key>
        <string>{{294,0},{96,640}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,640}}</string>
        <key>sourceSize</key>
        <string>{96,640}</string>
      </dict>
      <key>obj144_004304.png</key>
      <dict>
        <key>frame</key>
        <string>{{392,0},{96,640}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,640}}</string>
        <key>sourceSize</key>
        <string>{96,640}</string>
      </dict>
      <key>obj144_004305.png</key>
      <dict>
        <key>frame</key>
        <string>{{490,0},{96,640}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,640}}</string>
        <key>sourceSize</key>
        <string>{96,640}</string>
      </dict>
      <key>obj144_004306.png</key>
      <dict>
        <key>frame</key>
        <string>{{588,0},{96,640}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,640}}</string>
        <key>sourceSize</key>
        <string>{96,640}</string>
      </dict>
      <key>obj144_004307.png</key>
      <dict>
        <key>frame</key>
        <string>{{686,0},{96,640}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,640}}</string>
        <key>sourceSize</key>
        <string>{96,640}</string>
      </dict>
      <key>obj144_004308.png</key>
      <dict>
        <key>frame</key>
        <string>{{784,0},{96,640}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,640}}</string>
        <key>sourceSize</key>
        <string>{96,640}</string>
      </dict>
      <key>obj144_004309.png</key>
      <dict>
        <key>frame</key>
        <string>{{882,0},{96,640}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,640}}</string>
        <key>sourceSize</key>
        <string>{96,640}</string>
      </dict>
      <key>obj144_004310.png</key>
      <dict>
        <key>frame</key>
        <string>{{882,642},{96,640}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,640}}</string>
        <key>sourceSize</key>
        <string>{96,640}</string>
      </dict>
      <key>obj144_004311.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1284},{96,640}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,640}}</string>
        <key>sourceSize</key>
        <string>{96,640}</string>
      </dict>
      <key>obj144_004312.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,642},{96,416}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,416}}</string>
        <key>sourceSize</key>
        <string>{96,416}</string>
      </dict>
      <key>obj144_004313.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,642},{96,416}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,416}}</string>
        <key>sourceSize</key>
        <string>{96,416}</string>
      </dict>
      <key>obj144_004314.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,1284},{96,416}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,416}}</string>
        <key>sourceSize</key>
        <string>{96,416}</string>
      </dict>
      <key>obj144_004315.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,1284},{96,416}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,416}}</string>
        <key>sourceSize</key>
        <string>{96,416}</string>
      </dict>
      <key>obj144_004316.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,642},{96,416}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,416}}</string>
        <key>sourceSize</key>
        <string>{96,416}</string>
      </dict>
      <key>obj144_004317.png</key>
      <dict>
        <key>frame</key>
        <string>{{294,642},{96,416}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,416}}</string>
        <key>sourceSize</key>
        <string>{96,416}</string>
      </dict>
      <key>obj144_004318.png</key>
      <dict>
        <key>frame</key>
        <string>{{392,642},{96,416}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,416}}</string>
        <key>sourceSize</key>
        <string>{96,416}</string>
      </dict>
      <key>obj144_004319.png</key>
      <dict>
        <key>frame</key>
        <string>{{490,642},{96,416}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,416}}</string>
        <key>sourceSize</key>
        <string>{96,416}</string>
      </dict>
      <key>obj144_004320.png</key>
      <dict>
        <key>frame</key>
        <string>{{588,642},{96,416}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,416}}</string>
        <key>sourceSize</key>
        <string>{96,416}</string>
      </dict>
      <key>obj144_004321.png</key>
      <dict>
        <key>frame</key>
        <string>{{686,642},{96,416}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,416}}</string>
        <key>sourceSize</key>
        <string>{96,416}</string>
      </dict>
      <key>obj144_004322.png</key>
      <dict>
        <key>frame</key>
        <string>{{686,1060},{96,288}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,288}}</string>
        <key>sourceSize</key>
        <string>{96,288}</string>
      </dict>
      <key>obj144_004323.png</key>
      <dict>
        <key>frame</key>
        <string>{{686,1350},{96,288}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,288}}</string>
        <key>sourceSize</key>
        <string>{96,288}</string>
      </dict>
      <key>obj144_004324.png</key>
      <dict>
        <key>frame</key>
        <string>{{784,1478},{96,288}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,288}}</string>
        <key>sourceSize</key>
        <string>{96,288}</string>
      </dict>
      <key>obj144_004325.png</key>
      <dict>
        <key>frame</key>
        <string>{{882,1702},{96,288}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,288}}</string>
        <key>sourceSize</key>
        <string>{96,288}</string>
      </dict>
      <key>obj144_004326.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,1702},{96,288}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,288}}</string>
        <key>sourceSize</key>
        <string>{96,288}</string>
      </dict>
      <key>obj144_004327.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,1702},{96,288}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,288}}</string>
        <key>sourceSize</key>
        <string>{96,288}</string>
      </dict>
      <key>obj144_004328.png</key>
      <dict>
        <key>frame</key>
        <string>{{392,1478},{96,288}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,288}}</string>
        <key>sourceSize</key>
        <string>{96,288}</string>
      </dict>
      <key>obj144_004329.png</key>
      <dict>
        <key>frame</key>
        <string>{{490,1478},{96,288}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,288}}</string>
        <key>sourceSize</key>
        <string>{96,288}</string>
      </dict>
      <key>obj144_004330.png</key>
      <dict>
        <key>frame</key>
        <string>{{588,1478},{96,288}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,288}}</string>
        <key>sourceSize</key>
        <string>{96,288}</string>
      </dict>
      <key>obj144_004331.png</key>
      <dict>
        <key>frame</key>
        <string>{{686,1640},{96,288}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,288}}</string>
        <key>sourceSize</key>
        <string>{96,288}</string>
      </dict>
      <key>obj144_004332.png</key>
      <dict>
        <key>frame</key>
        <string>{{980,0},{96,288}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,288}}</string>
        <key>sourceSize</key>
        <string>{96,288}</string>
      </dict>
      <key>obj144_004333.png</key>
      <dict>
        <key>frame</key>
        <string>{{1078,0},{96,288}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,288}}</string>
        <key>sourceSize</key>
        <string>{96,288}</string>
      </dict>
      <key>obj144_004334.png</key>
      <dict>
        <key>frame</key>
        <string>{{1176,0},{96,288}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,288}}</string>
        <key>sourceSize</key>
        <string>{96,288}</string>
      </dict>
      <key>obj144_004335.png</key>
      <dict>
        <key>frame</key>
        <string>{{1274,0},{96,288}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,288}}</string>
        <key>sourceSize</key>
        <string>{96,288}</string>
      </dict>
      <key>obj144_004336.png</key>
      <dict>
        <key>frame</key>
        <string>{{1372,0},{96,288}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,288}}</string>
        <key>sourceSize</key>
        <string>{96,288}</string>
      </dict>
      <key>obj144_004337.png</key>
      <dict>
        <key>frame</key>
        <string>{{1470,0},{96,288}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,288}}</string>
        <key>sourceSize</key>
        <string>{96,288}</string>
      </dict>
      <key>obj144_004338.png</key>
      <dict>
        <key>frame</key>
        <string>{{1568,0},{96,288}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,288}}</string>
        <key>sourceSize</key>
        <string>{96,288}</string>
      </dict>
      <key>obj144_004339.png</key>
      <dict>
        <key>frame</key>
        <string>{{1666,0},{96,288}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,288}}</string>
        <key>sourceSize</key>
        <string>{96,288}</string>
      </dict>
      <key>obj144_004340.png</key>
      <dict>
        <key>frame</key>
        <string>{{1764,0},{96,288}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,288}}</string>
        <key>sourceSize</key>
        <string>{96,288}</string>
      </dict>
      <key>obj144_004341.png</key>
      <dict>
        <key>frame</key>
        <string>{{1862,0},{96,288}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,288}}</string>
        <key>sourceSize</key>
        <string>{96,288}</string>
      </dict>
      <key>obj144_004342.png</key>
      <dict>
        <key>frame</key>
        <string>{{784,642},{96,416}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,416}}</string>
        <key>sourceSize</key>
        <string>{96,416}</string>
      </dict>
      <key>obj144_004343.png</key>
      <dict>
        <key>frame</key>
        <string>{{784,1060},{96,416}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,416}}</string>
        <key>sourceSize</key>
        <string>{96,416}</string>
      </dict>
      <key>obj144_004344.png</key>
      <dict>
        <key>frame</key>
        <string>{{882,1284},{96,416}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,416}}</string>
        <key>sourceSize</key>
        <string>{96,416}</string>
      </dict>
      <key>obj144_004345.png</key>
      <dict>
        <key>frame</key>
        <string>{{294,1478},{96,416}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,416}}</string>
        <key>sourceSize</key>
        <string>{96,416}</string>
      </dict>
      <key>obj144_004346.png</key>
      <dict>
        <key>frame</key>
        <string>{{294,1060},{96,416}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,416}}</string>
        <key>sourceSize</key>
        <string>{96,416}</string>
      </dict>
      <key>obj144_004347.png</key>
      <dict>
        <key>frame</key>
        <string>{{392,1060},{96,416}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,416}}</string>
        <key>sourceSize</key>
        <string>{96,416}</string>
      </dict>
      <key>obj144_004348.png</key>
      <dict>
        <key>frame</key>
        <string>{{490,1060},{96,416}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,416}}</string>
        <key>sourceSize</key>
        <string>{96,416}</string>
      </dict>
      <key>obj144_004349.png</key>
      <dict>
        <key>frame</key>
        <string>{{588,1060},{96,416}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,416}}</string>
        <key>sourceSize</key>
        <string>{96,416}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>obj144_86.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>obj144_86.png</string>
    </dict>
  </dict>
</plist>