<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>obj11_003368.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{480,480}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{480,480}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>obj11_003369.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,482},{480,480}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{480,480}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>obj11_003370.png</key>
      <dict>
        <key>frame</key>
        <string>{{482,482},{480,480}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{480,480}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>obj11_003371.png</key>
      <dict>
        <key>frame</key>
        <string>{{482,0},{480,480}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{480,480}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>obj11_003372.png</key>
      <dict>
        <key>frame</key>
        <string>{{964,0},{480,480}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{480,480}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>obj11_003373.png</key>
      <dict>
        <key>frame</key>
        <string>{{964,482},{480,480}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{480,480}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>obj11_003374.png</key>
      <dict>
        <key>frame</key>
        <string>{{1446,482},{480,480}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{480,480}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>obj11_003375.png</key>
      <dict>
        <key>frame</key>
        <string>{{1446,0},{480,480}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{480,480}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>obj11_421.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>obj11_421.png</string>
    </dict>
  </dict>
</plist>