<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>obj144_002600.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,1264},{48,257}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,257}}</string>
        <key>sourceSize</key>
        <string>{48,257}</string>
      </dict>
      <key>obj144_002601.png</key>
      <dict>
        <key>frame</key>
        <string>{{934,964},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj144_002602.png</key>
      <dict>
        <key>frame</key>
        <string>{{934,998},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj144_002603.png</key>
      <dict>
        <key>frame</key>
        <string>{{934,1032},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj144_002604.png</key>
      <dict>
        <key>frame</key>
        <string>{{784,482},{48,353}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,353}}</string>
        <key>sourceSize</key>
        <string>{48,353}</string>
      </dict>
      <key>obj144_002605.png</key>
      <dict>
        <key>frame</key>
        <string>{{934,1066},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj144_002606.png</key>
      <dict>
        <key>frame</key>
        <string>{{934,1100},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj144_002607.png</key>
      <dict>
        <key>frame</key>
        <string>{{884,1126},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj144_002608.png</key>
      <dict>
        <key>frame</key>
        <string>{{934,1134},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj144_002609.png</key>
      <dict>
        <key>frame</key>
        <string>{{884,1160},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj144_002610.png</key>
      <dict>
        <key>frame</key>
        <string>{{934,1168},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj144_002611.png</key>
      <dict>
        <key>frame</key>
        <string>{{884,1194},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj144_002612.png</key>
      <dict>
        <key>frame</key>
        <string>{{934,1202},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj144_002613.png</key>
      <dict>
        <key>frame</key>
        <string>{{884,1228},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj144_002614.png</key>
      <dict>
        <key>frame</key>
        <string>{{934,1236},{48,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,14}}</string>
        <key>sourceSize</key>
        <string>{48,14}</string>
      </dict>
      <key>obj144_002615.png</key>
      <dict>
        <key>frame</key>
        <string>{{934,1252},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj144_002616.png</key>
      <dict>
        <key>frame</key>
        <string>{{884,1262},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj144_002617.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,1116},{48,3}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,3}}</string>
        <key>sourceSize</key>
        <string>{48,3}</string>
      </dict>
      <key>obj144_002618.png</key>
      <dict>
        <key>frame</key>
        <string>{{934,1286},{48,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,14}}</string>
        <key>sourceSize</key>
        <string>{48,14}</string>
      </dict>
      <key>obj144_002619.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1928},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj144_002620.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,1523},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj144_002621.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,1557},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj144_002622.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,1606},{48,320}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,320}}</string>
        <key>sourceSize</key>
        <string>{48,320}</string>
      </dict>
      <key>obj144_002623.png</key>
      <dict>
        <key>frame</key>
        <string>{{834,964},{48,298}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,298}}</string>
        <key>sourceSize</key>
        <string>{48,298}</string>
      </dict>
      <key>obj144_002624.png</key>
      <dict>
        <key>frame</key>
        <string>{{784,837},{48,321}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,321}}</string>
        <key>sourceSize</key>
        <string>{48,321}</string>
      </dict>
      <key>obj144_002625.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1606},{48,320}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,320}}</string>
        <key>sourceSize</key>
        <string>{48,320}</string>
      </dict>
      <key>obj144_002626.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,1606},{48,318}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,318}}</string>
        <key>sourceSize</key>
        <string>{48,318}</string>
      </dict>
      <key>obj144_002627.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,964},{48,150}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,150}}</string>
        <key>sourceSize</key>
        <string>{48,150}</string>
      </dict>
      <key>obj144_002628.png</key>
      <dict>
        <key>frame</key>
        <string>{{884,964},{48,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj144_002629.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,0},{96,480}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,480}}</string>
        <key>sourceSize</key>
        <string>{96,480}</string>
      </dict>
      <key>obj144_002630.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,0},{96,480}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,480}}</string>
        <key>sourceSize</key>
        <string>{96,480}</string>
      </dict>
      <key>obj144_002631.png</key>
      <dict>
        <key>frame</key>
        <string>{{294,0},{96,480}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,480}}</string>
        <key>sourceSize</key>
        <string>{96,480}</string>
      </dict>
      <key>obj144_002632.png</key>
      <dict>
        <key>frame</key>
        <string>{{392,0},{96,480}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,480}}</string>
        <key>sourceSize</key>
        <string>{96,480}</string>
      </dict>
      <key>obj144_002633.png</key>
      <dict>
        <key>frame</key>
        <string>{{490,0},{96,480}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,480}}</string>
        <key>sourceSize</key>
        <string>{96,480}</string>
      </dict>
      <key>obj144_002634.png</key>
      <dict>
        <key>frame</key>
        <string>{{588,0},{96,480}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,480}}</string>
        <key>sourceSize</key>
        <string>{96,480}</string>
      </dict>
      <key>obj144_002635.png</key>
      <dict>
        <key>frame</key>
        <string>{{686,0},{96,480}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,480}}</string>
        <key>sourceSize</key>
        <string>{96,480}</string>
      </dict>
      <key>obj144_002636.png</key>
      <dict>
        <key>frame</key>
        <string>{{784,0},{96,480}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,480}}</string>
        <key>sourceSize</key>
        <string>{96,480}</string>
      </dict>
      <key>obj144_002637.png</key>
      <dict>
        <key>frame</key>
        <string>{{882,0},{96,480}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,480}}</string>
        <key>sourceSize</key>
        <string>{96,480}</string>
      </dict>
      <key>obj144_002638.png</key>
      <dict>
        <key>frame</key>
        <string>{{882,482},{96,480}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,480}}</string>
        <key>sourceSize</key>
        <string>{96,480}</string>
      </dict>
      <key>obj144_002639.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,482},{96,480}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,480}}</string>
        <key>sourceSize</key>
        <string>{96,480}</string>
      </dict>
      <key>obj144_002640.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,642},{96,480}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,480}}</string>
        <key>sourceSize</key>
        <string>{96,480}</string>
      </dict>
      <key>obj144_002641.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1124},{96,480}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,480}}</string>
        <key>sourceSize</key>
        <string>{96,480}</string>
      </dict>
      <key>obj144_002642.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,1124},{96,480}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,480}}</string>
        <key>sourceSize</key>
        <string>{96,480}</string>
      </dict>
      <key>obj144_002643.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,482},{96,480}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,480}}</string>
        <key>sourceSize</key>
        <string>{96,480}</string>
      </dict>
      <key>obj144_002644.png</key>
      <dict>
        <key>frame</key>
        <string>{{294,482},{96,480}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,480}}</string>
        <key>sourceSize</key>
        <string>{96,480}</string>
      </dict>
      <key>obj144_002645.png</key>
      <dict>
        <key>frame</key>
        <string>{{392,482},{96,480}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,480}}</string>
        <key>sourceSize</key>
        <string>{96,480}</string>
      </dict>
      <key>obj144_002646.png</key>
      <dict>
        <key>frame</key>
        <string>{{490,482},{96,480}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,480}}</string>
        <key>sourceSize</key>
        <string>{96,480}</string>
      </dict>
      <key>obj144_002647.png</key>
      <dict>
        <key>frame</key>
        <string>{{588,482},{96,480}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,480}}</string>
        <key>sourceSize</key>
        <string>{96,480}</string>
      </dict>
      <key>obj144_002648.png</key>
      <dict>
        <key>frame</key>
        <string>{{686,482},{96,480}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,480}}</string>
        <key>sourceSize</key>
        <string>{96,480}</string>
      </dict>
      <key>obj144_002649.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{96,640}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,640}}</string>
        <key>sourceSize</key>
        <string>{96,640}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>obj144_52.png</string>
      <key>size</key>
      <string>{1024,2048}</string>
      <key>textureFileName</key>
      <string>obj144_52.png</string>
    </dict>
  </dict>
</plist>