<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>obj11_002568.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{96,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,128}}</string>
        <key>sourceSize</key>
        <string>{96,128}</string>
      </dict>
      <key>obj11_002569.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,0},{96,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,128}}</string>
        <key>sourceSize</key>
        <string>{96,128}</string>
      </dict>
      <key>obj11_002570.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,130},{96,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,128}}</string>
        <key>sourceSize</key>
        <string>{96,128}</string>
      </dict>
      <key>obj11_002571.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,130},{96,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,128}}</string>
        <key>sourceSize</key>
        <string>{96,128}</string>
      </dict>
      <key>obj11_002572.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,260},{96,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,128}}</string>
        <key>sourceSize</key>
        <string>{96,128}</string>
      </dict>
      <key>obj11_002573.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,260},{96,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,128}}</string>
        <key>sourceSize</key>
        <string>{96,128}</string>
      </dict>
      <key>obj11_002574.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,0},{96,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,128}}</string>
        <key>sourceSize</key>
        <string>{96,128}</string>
      </dict>
      <key>obj11_002575.png</key>
      <dict>
        <key>frame</key>
        <string>{{294,0},{96,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,128}}</string>
        <key>sourceSize</key>
        <string>{96,128}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>obj11_321.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>obj11_321.png</string>
    </dict>
  </dict>
</plist>