<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>obj11_001600.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{192,192}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{192,192}}</string>
        <key>sourceSize</key>
        <string>{192,192}</string>
      </dict>
      <key>obj11_001601.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,194},{192,192}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{192,192}}</string>
        <key>sourceSize</key>
        <string>{192,192}</string>
      </dict>
      <key>obj11_001602.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,194},{192,192}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{192,192}}</string>
        <key>sourceSize</key>
        <string>{192,192}</string>
      </dict>
      <key>obj11_001603.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,0},{192,192}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{192,192}}</string>
        <key>sourceSize</key>
        <string>{192,192}</string>
      </dict>
      <key>obj11_001604.png</key>
      <dict>
        <key>frame</key>
        <string>{{388,0},{192,192}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{192,192}}</string>
        <key>sourceSize</key>
        <string>{192,192}</string>
      </dict>
      <key>obj11_001605.png</key>
      <dict>
        <key>frame</key>
        <string>{{388,194},{192,192}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{192,192}}</string>
        <key>sourceSize</key>
        <string>{192,192}</string>
      </dict>
      <key>obj11_001606.png</key>
      <dict>
        <key>frame</key>
        <string>{{582,194},{192,192}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{192,192}}</string>
        <key>sourceSize</key>
        <string>{192,192}</string>
      </dict>
      <key>obj11_001607.png</key>
      <dict>
        <key>frame</key>
        <string>{{582,0},{192,192}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{192,192}}</string>
        <key>sourceSize</key>
        <string>{192,192}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>obj11_200.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>obj11_200.png</string>
    </dict>
  </dict>
</plist>