<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>obj107_002484.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002485.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,194},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002486.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,388},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002487.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,582},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002488.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,776},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002489.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,776},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002490.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,0},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002491.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,194},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002492.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,388},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002493.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,582},{48,160}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj107_002494.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,582},{48,160}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj107_002495.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,388},{48,160}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj107_002496.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,388},{48,160}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj107_002497.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,194},{48,160}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj107_002498.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,194},{48,160}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj107_002499.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,0},{48,160}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj107_002500.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,0},{48,160}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj107_002501.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,744},{48,160}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj107_002502.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,744},{48,160}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj107_002503.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,550},{48,160}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj107_002504.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,550},{48,160}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj107_002505.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,356},{48,160}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj107_002506.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,356},{48,160}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj107_002507.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,162},{48,160}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj107_002508.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,162},{48,160}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj107_002509.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,0},{48,160}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj107_002510.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,0},{48,160}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj107_002511.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,712},{48,160}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj107_002512.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,712},{48,160}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj107_002513.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,518},{48,160}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj107_002514.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,518},{48,160}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj107_002515.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,324},{48,160}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj107_002516.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,324},{48,160}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj107_002517.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,162},{48,160}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj107_002518.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,162},{48,160}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj107_002519.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,0},{48,160}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj107_002520.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,0},{48,160}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj107_002521.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,582},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002522.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,582},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002523.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,776},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002524.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,776},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002525.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,0},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002526.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,194},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002527.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,388},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002528.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,388},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002529.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,582},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002530.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,582},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002531.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,776},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002532.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,776},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002533.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,0},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002534.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,194},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002535.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,194},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002536.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,0},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002537.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,0},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002538.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,388},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002539.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,388},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002540.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,194},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002541.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,194},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002542.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,0},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002543.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,0},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002544.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,582},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002545.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,582},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002546.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,388},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002547.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,388},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002548.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,194},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002549.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,0},{48,160}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj107_002550.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,0},{48,160}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj107_002551.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,162},{48,160}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj107_002552.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,162},{48,160}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj107_002553.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,162},{48,160}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj107_002554.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,324},{48,160}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj107_002555.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,324},{48,160}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj107_002556.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,486},{48,160}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj107_002557.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,324},{48,160}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj107_002558.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,324},{48,160}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj107_002559.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,486},{48,160}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj107_002560.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,486},{48,160}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj107_002561.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,648},{48,160}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj107_002562.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,648},{48,160}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj107_002563.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,194},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002564.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,0},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002565.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,0},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002566.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,776},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002567.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,776},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002568.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,582},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002569.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,582},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002570.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,388},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002571.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,388},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002572.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,194},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002573.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,194},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002574.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,0},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002575.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,0},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002576.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,776},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002577.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,810},{48,160}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj107_002578.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,486},{48,160}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj107_002579.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,486},{48,160}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj107_002580.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,648},{48,160}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj107_002581.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,648},{48,160}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj107_002582.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,680},{48,160}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj107_002583.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,648},{48,160}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj107_002584.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,810},{48,160}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj107_002585.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,810},{48,160}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj107_002586.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,810},{48,160}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj107_002587.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,810},{48,160}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj107_002588.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,842},{48,160}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj107_002589.png</key>
      <dict>
        <key>frame</key>
        <string>{{1000,0},{48,160}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj107_002590.png</key>
      <dict>
        <key>frame</key>
        <string>{{1000,162},{48,160}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj107_002591.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,776},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>obj107_23.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>obj107_23.png</string>
    </dict>
  </dict>
</plist>