<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>obj107_003780.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003781.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,226},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003782.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,452},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003783.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,678},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003784.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,678},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003785.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,0},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003786.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,226},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003787.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,452},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003788.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,452},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003789.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,678},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003790.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,678},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003791.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,0},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003792.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,226},{48,224}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003793.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,226},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003794.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,0},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003795.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,0},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003796.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,452},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003797.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,452},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003798.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,226},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003799.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,226},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003800.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,0},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003801.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,0},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003802.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,678},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003803.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,678},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003804.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,452},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003805.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,452},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003806.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,226},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003807.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,226},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003808.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,0},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003809.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,0},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003810.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,678},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003811.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,678},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003812.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,452},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003813.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,452},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003814.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,226},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003815.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,226},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003816.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,0},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003817.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,0},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003818.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,678},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003819.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,678},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003820.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,452},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003821.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,452},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003822.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,226},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003823.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,226},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003824.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,0},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003825.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,0},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003826.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,678},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003827.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,678},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003828.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,452},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003829.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,452},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003830.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,226},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003831.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,226},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003832.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,0},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003833.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,0},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003834.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,678},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003835.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,678},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003836.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,452},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003837.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,452},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003838.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,226},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003839.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,226},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003840.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,0},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003841.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,0},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003842.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,0},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003843.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,0},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003844.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,0},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003845.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,226},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003846.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,226},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003847.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,226},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003848.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,226},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003849.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,452},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003850.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,452},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003851.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,678},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003852.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,452},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003853.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,452},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003854.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,452},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003855.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,678},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003856.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,678},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003857.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,678},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003858.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,678},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003859.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,678},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003860.png</key>
      <dict>
        <key>frame</key>
        <string>{{1000,0},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003861.png</key>
      <dict>
        <key>frame</key>
        <string>{{1000,226},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003862.png</key>
      <dict>
        <key>frame</key>
        <string>{{1000,452},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003863.png</key>
      <dict>
        <key>frame</key>
        <string>{{1000,678},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003864.png</key>
      <dict>
        <key>frame</key>
        <string>{{1050,678},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003865.png</key>
      <dict>
        <key>frame</key>
        <string>{{1050,0},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003866.png</key>
      <dict>
        <key>frame</key>
        <string>{{1050,226},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003867.png</key>
      <dict>
        <key>frame</key>
        <string>{{1050,452},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003868.png</key>
      <dict>
        <key>frame</key>
        <string>{{1100,452},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003869.png</key>
      <dict>
        <key>frame</key>
        <string>{{1100,678},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003870.png</key>
      <dict>
        <key>frame</key>
        <string>{{1150,678},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003871.png</key>
      <dict>
        <key>frame</key>
        <string>{{1100,0},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003872.png</key>
      <dict>
        <key>frame</key>
        <string>{{1100,226},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003873.png</key>
      <dict>
        <key>frame</key>
        <string>{{1150,226},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003874.png</key>
      <dict>
        <key>frame</key>
        <string>{{1150,0},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003875.png</key>
      <dict>
        <key>frame</key>
        <string>{{1200,0},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>obj107_35.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>obj107_35.png</string>
    </dict>
  </dict>
</plist>