<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>obj11_001296.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,322},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj11_001297.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,970},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj11_001298.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{48,320}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,320}}</string>
        <key>sourceSize</key>
        <string>{48,320}</string>
      </dict>
      <key>obj11_001299.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,0},{288,192}}</string>
        <key>offset</key>
        <string>{-2,2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{288,192}}</string>
        <key>sourceSize</key>
        <string>{288,192}</string>
      </dict>
      <key>obj11_001300.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,194},{288,192}}</string>
        <key>offset</key>
        <string>{-2,2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{288,192}}</string>
        <key>sourceSize</key>
        <string>{288,192}</string>
      </dict>
      <key>obj11_001301.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,388},{288,192}}</string>
        <key>offset</key>
        <string>{-2,2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{288,192}}</string>
        <key>sourceSize</key>
        <string>{288,192}</string>
      </dict>
      <key>obj11_001302.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,582},{288,192}}</string>
        <key>offset</key>
        <string>{-2,2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{288,192}}</string>
        <key>sourceSize</key>
        <string>{288,192}</string>
      </dict>
      <key>obj11_001303.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,776},{288,192}}</string>
        <key>offset</key>
        <string>{-2,2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{288,192}}</string>
        <key>sourceSize</key>
        <string>{288,192}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>obj11_162.png</string>
      <key>size</key>
      <string>{512,1024}</string>
      <key>textureFileName</key>
      <string>obj11_162.png</string>
    </dict>
  </dict>
</plist>