<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>obj11_003312.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,0},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj11_003313.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,34},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj11_003314.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,68},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj11_003315.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,102},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj11_003316.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,130},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj11_003317.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,136},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj11_003318.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,164},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj11_003319.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{48,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,128}}</string>
        <key>sourceSize</key>
        <string>{48,128}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>obj11_414.png</string>
      <key>size</key>
      <string>{128,256}</string>
      <key>textureFileName</key>
      <string>obj11_414.png</string>
    </dict>
  </dict>
</plist>