<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>obj107_003564.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,0},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003565.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,0},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003566.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,0},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003567.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,0},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003568.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{48,256}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,256}}</string>
        <key>sourceSize</key>
        <string>{48,256}</string>
      </dict>
      <key>obj107_003569.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,0},{48,256}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,256}}</string>
        <key>sourceSize</key>
        <string>{48,256}</string>
      </dict>
      <key>obj107_003570.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,0},{48,256}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,256}}</string>
        <key>sourceSize</key>
        <string>{48,256}</string>
      </dict>
      <key>obj107_003571.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,0},{48,256}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,256}}</string>
        <key>sourceSize</key>
        <string>{48,256}</string>
      </dict>
      <key>obj107_003572.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,0},{48,256}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,256}}</string>
        <key>sourceSize</key>
        <string>{48,256}</string>
      </dict>
      <key>obj107_003573.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,0},{48,256}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,256}}</string>
        <key>sourceSize</key>
        <string>{48,256}</string>
      </dict>
      <key>obj107_003574.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,0},{48,256}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,256}}</string>
        <key>sourceSize</key>
        <string>{48,256}</string>
      </dict>
      <key>obj107_003575.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,0},{48,256}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,256}}</string>
        <key>sourceSize</key>
        <string>{48,256}</string>
      </dict>
      <key>obj107_003576.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,0},{48,256}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,256}}</string>
        <key>sourceSize</key>
        <string>{48,256}</string>
      </dict>
      <key>obj107_003577.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,0},{48,256}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,256}}</string>
        <key>sourceSize</key>
        <string>{48,256}</string>
      </dict>
      <key>obj107_003578.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,710},{48,32}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj107_003579.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,744},{48,32}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj107_003580.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,0},{48,256}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,256}}</string>
        <key>sourceSize</key>
        <string>{48,256}</string>
      </dict>
      <key>obj107_003581.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,0},{48,256}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,256}}</string>
        <key>sourceSize</key>
        <string>{48,256}</string>
      </dict>
      <key>obj107_003582.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,0},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003583.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,0},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003584.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,0},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003585.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,0},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003586.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,226},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003587.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,226},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003588.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,226},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003589.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,226},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003590.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,226},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003591.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,226},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003592.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,226},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003593.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,226},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003594.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,452},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003595.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,452},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003596.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,678},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003597.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,258},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003598.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,258},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003599.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,258},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003600.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,258},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003601.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,258},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003602.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,258},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003603.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,258},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003604.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,258},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003605.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,258},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003606.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,258},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003607.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,258},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003608.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,258},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003609.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,452},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003610.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,452},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003611.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,452},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003612.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,452},{48,224}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003613.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,452},{48,224}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003614.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,452},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003615.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,678},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003616.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,678},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003617.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,904},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003618.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,904},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003619.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,1130},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003620.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1356},{48,224}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003621.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1130},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003622.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,1130},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003623.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,904},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003624.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,904},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003625.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,678},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003626.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,678},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003627.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,484},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003628.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,484},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003629.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,710},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003630.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1582},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003631.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1808},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003632.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,1808},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003633.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,1356},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003634.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,1582},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003635.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,1582},{48,224}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003636.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,1356},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003637.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,1356},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003638.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,1130},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003639.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,1130},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003640.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,904},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003641.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,904},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003642.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,678},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003643.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,678},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003644.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,484},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003645.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,904},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003646.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,1130},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003647.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,1808},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003648.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,1808},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003649.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,1582},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003650.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,1582},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003651.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,1356},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003652.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,1356},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003653.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,1130},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003654.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,1130},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003655.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,904},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003656.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,904},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003657.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,678},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003658.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,678},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003659.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,1808},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003660.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,1808},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003661.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,1582},{48,224}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003662.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,1582},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003663.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,1356},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003664.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,1356},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003665.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,1130},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003666.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,1130},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003667.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,904},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003668.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,904},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003669.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,678},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003670.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,678},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj107_003671.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,484},{48,224}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>obj107_33.png</string>
      <key>size</key>
      <string>{1024,2048}</string>
      <key>textureFileName</key>
      <string>obj107_33.png</string>
    </dict>
  </dict>
</plist>