<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>obj107_002700.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002701.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,194},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002702.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,388},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002703.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,582},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002704.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,776},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002705.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,776},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002706.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,0},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002707.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,194},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002708.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,388},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002709.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,582},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002710.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,582},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002711.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,776},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002712.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,776},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002713.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,0},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002714.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,194},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002715.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,388},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002716.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,388},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002717.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,582},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002718.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,582},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002719.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,776},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002720.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,776},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002721.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,0},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002722.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,194},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002723.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,194},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002724.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,0},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002725.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,0},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002726.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,388},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002727.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,388},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002728.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,194},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002729.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,194},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002730.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,0},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002731.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,0},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002732.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,582},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002733.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,582},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002734.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,388},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002735.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,388},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002736.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,194},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002737.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,194},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002738.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,0},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002739.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,0},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002740.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,776},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002741.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,776},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002742.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,582},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002743.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,582},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002744.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,388},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002745.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,388},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002746.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,194},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002747.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,194},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002748.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,0},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002749.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,0},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002750.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,776},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002751.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,776},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002752.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,582},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002753.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,582},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002754.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,388},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002755.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,388},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002756.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,194},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002757.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,194},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002758.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,0},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002759.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,0},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002760.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,776},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002761.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,776},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002762.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,582},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002763.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,582},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002764.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,388},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002765.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,388},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002766.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,194},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002767.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,194},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002768.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,0},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002769.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,0},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002770.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,776},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002771.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,776},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002772.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,582},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002773.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,582},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002774.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,388},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002775.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,388},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002776.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,194},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002777.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,194},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002778.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,0},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002779.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,776},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002780.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,776},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002781.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,582},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002782.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,582},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002783.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,388},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002784.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,388},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002785.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,0},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002786.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,0},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002787.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,194},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002788.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,0},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002789.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,194},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002790.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,194},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002791.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,388},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002792.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,388},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002793.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,582},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002794.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,582},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002795.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,582},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002796.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,776},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002797.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,776},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002798.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,776},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002799.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,776},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002800.png</key>
      <dict>
        <key>frame</key>
        <string>{{1000,0},{48,192}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj107_002801.png</key>
      <dict>
        <key>frame</key>
        <string>{{1000,194},{48,160}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj107_002802.png</key>
      <dict>
        <key>frame</key>
        <string>{{1000,356},{48,160}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj107_002803.png</key>
      <dict>
        <key>frame</key>
        <string>{{1000,518},{48,160}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj107_002804.png</key>
      <dict>
        <key>frame</key>
        <string>{{1000,680},{48,160}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj107_002805.png</key>
      <dict>
        <key>frame</key>
        <string>{{1000,842},{48,160}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj107_002806.png</key>
      <dict>
        <key>frame</key>
        <string>{{1050,842},{48,160}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj107_002807.png</key>
      <dict>
        <key>frame</key>
        <string>{{1050,0},{48,160}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>obj107_25.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>obj107_25.png</string>
    </dict>
  </dict>
</plist>