<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>obj200_008580.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,0},{48,268}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,268}}</string>
        <key>sourceSize</key>
        <string>{48,268}</string>
      </dict>
      <key>obj200_008581.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,0},{48,300}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,300}}</string>
        <key>sourceSize</key>
        <string>{48,300}</string>
      </dict>
      <key>obj200_008582.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,0},{48,301}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,301}}</string>
        <key>sourceSize</key>
        <string>{48,301}</string>
      </dict>
      <key>obj200_008583.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,0},{48,208}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,208}}</string>
        <key>sourceSize</key>
        <string>{48,208}</string>
      </dict>
      <key>obj200_008584.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,420},{48,147}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,147}}</string>
        <key>sourceSize</key>
        <string>{48,147}</string>
      </dict>
      <key>obj200_008585.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,303},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_008586.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,303},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008587.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,337},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008588.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,367},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008589.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,371},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008590.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,401},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008591.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,405},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008592.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,416},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008593.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,435},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008594.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,439},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008595.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,450},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008596.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,469},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008597.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,473},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008598.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,484},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008599.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,500},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008600.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,503},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008601.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,507},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008602.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,518},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008603.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,534},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008604.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,541},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008605.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,567},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008606.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,599},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008607.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,608},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008608.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,515},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008609.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,537},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008610.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,541},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008611.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,552},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008612.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,568},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008613.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,575},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008614.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,560},{48,448}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,448}}</string>
        <key>sourceSize</key>
        <string>{48,448}</string>
      </dict>
      <key>obj200_008615.png</key>
      <dict>
        <key>frame</key>
        <string>{{553,303},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_008616.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,405},{48,93}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,93}}</string>
        <key>sourceSize</key>
        <string>{48,93}</string>
      </dict>
      <key>obj200_008617.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,0},{48,279}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,279}}</string>
        <key>sourceSize</key>
        <string>{48,279}</string>
      </dict>
      <key>obj200_008618.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,0},{48,305}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,305}}</string>
        <key>sourceSize</key>
        <string>{48,305}</string>
      </dict>
      <key>obj200_008619.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,601},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008620.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,592},{48,383}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,383}}</string>
        <key>sourceSize</key>
        <string>{48,383}</string>
      </dict>
      <key>obj200_008621.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,0},{48,431}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,431}}</string>
        <key>sourceSize</key>
        <string>{48,431}</string>
      </dict>
      <key>obj200_008622.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,519},{48,465}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,465}}</string>
        <key>sourceSize</key>
        <string>{48,465}</string>
      </dict>
      <key>obj200_008623.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,519},{48,499}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,499}}</string>
        <key>sourceSize</key>
        <string>{48,499}</string>
      </dict>
      <key>obj200_008624.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,0},{48,539}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,539}}</string>
        <key>sourceSize</key>
        <string>{48,539}</string>
      </dict>
      <key>obj200_008625.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,0},{48,631}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,631}}</string>
        <key>sourceSize</key>
        <string>{48,631}</string>
      </dict>
      <key>obj200_008626.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,0},{48,590}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,590}}</string>
        <key>sourceSize</key>
        <string>{48,590}</string>
      </dict>
      <key>obj200_008627.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,0},{48,558}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,558}}</string>
        <key>sourceSize</key>
        <string>{48,558}</string>
      </dict>
      <key>obj200_008628.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{48,653}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,653}}</string>
        <key>sourceSize</key>
        <string>{48,653}</string>
      </dict>
      <key>obj200_008629.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,0},{48,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,600}}</string>
        <key>sourceSize</key>
        <string>{48,600}</string>
      </dict>
      <key>obj200_008630.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,0},{48,617}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,617}}</string>
        <key>sourceSize</key>
        <string>{48,617}</string>
      </dict>
      <key>obj200_008631.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,0},{48,517}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,517}}</string>
        <key>sourceSize</key>
        <string>{48,517}</string>
      </dict>
      <key>obj200_008632.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,518},{48,448}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,448}}</string>
        <key>sourceSize</key>
        <string>{48,448}</string>
      </dict>
      <key>obj200_008633.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,633},{48,348}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,348}}</string>
        <key>sourceSize</key>
        <string>{48,348}</string>
      </dict>
      <key>obj200_008634.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,569},{48,119}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,119}}</string>
        <key>sourceSize</key>
        <string>{48,119}</string>
      </dict>
      <key>obj200_008635.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,477},{48,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,120}}</string>
        <key>sourceSize</key>
        <string>{48,120}</string>
      </dict>
      <key>obj200_008636.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,300},{48,149}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,149}}</string>
        <key>sourceSize</key>
        <string>{48,149}</string>
      </dict>
      <key>obj200_008637.png</key>
      <dict>
        <key>frame</key>
        <string>{{556,303},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_008638.png</key>
      <dict>
        <key>frame</key>
        <string>{{559,303},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_008639.png</key>
      <dict>
        <key>frame</key>
        <string>{{562,303},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_008640.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,633},{48,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,36}}</string>
        <key>sourceSize</key>
        <string>{48,36}</string>
      </dict>
      <key>obj200_008641.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,307},{48,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,74}}</string>
        <key>sourceSize</key>
        <string>{48,74}</string>
      </dict>
      <key>obj200_008642.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,307},{48,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,58}}</string>
        <key>sourceSize</key>
        <string>{48,58}</string>
      </dict>
      <key>obj200_008643.png</key>
      <dict>
        <key>frame</key>
        <string>{{565,303},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_008644.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,480},{48,85}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,85}}</string>
        <key>sourceSize</key>
        <string>{48,85}</string>
      </dict>
      <key>obj200_008645.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,302},{48,101}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,101}}</string>
        <key>sourceSize</key>
        <string>{48,101}</string>
      </dict>
      <key>obj200_008646.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,451},{48,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,88}}</string>
        <key>sourceSize</key>
        <string>{48,88}</string>
      </dict>
      <key>obj200_008647.png</key>
      <dict>
        <key>frame</key>
        <string>{{568,303},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_008648.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,642},{48,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,43}}</string>
        <key>sourceSize</key>
        <string>{48,43}</string>
      </dict>
      <key>obj200_008649.png</key>
      <dict>
        <key>frame</key>
        <string>{{571,303},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_008650.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,549},{48,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,42}}</string>
        <key>sourceSize</key>
        <string>{48,42}</string>
      </dict>
      <key>obj200_008651.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,571},{48,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,48}}</string>
        <key>sourceSize</key>
        <string>{48,48}</string>
      </dict>
      <key>obj200_008652.png</key>
      <dict>
        <key>frame</key>
        <string>{{574,303},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_008653.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,593},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008654.png</key>
      <dict>
        <key>frame</key>
        <string>{{577,303},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_008655.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,433},{48,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,80}}</string>
        <key>sourceSize</key>
        <string>{48,80}</string>
      </dict>
      <key>obj200_008656.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,302},{48,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,112}}</string>
        <key>sourceSize</key>
        <string>{48,112}</string>
      </dict>
      <key>obj200_008657.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,433},{48,83}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,83}}</string>
        <key>sourceSize</key>
        <string>{48,83}</string>
      </dict>
      <key>obj200_008658.png</key>
      <dict>
        <key>frame</key>
        <string>{{580,303},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_008659.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,281},{48,197}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,197}}</string>
        <key>sourceSize</key>
        <string>{48,197}</string>
      </dict>
      <key>obj200_008660.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,252},{48,205}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,205}}</string>
        <key>sourceSize</key>
        <string>{48,205}</string>
      </dict>
      <key>obj200_008661.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,0},{48,298}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,298}}</string>
        <key>sourceSize</key>
        <string>{48,298}</string>
      </dict>
      <key>obj200_008662.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,655},{48,336}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,336}}</string>
        <key>sourceSize</key>
        <string>{48,336}</string>
      </dict>
      <key>obj200_008663.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,619},{48,363}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,363}}</string>
        <key>sourceSize</key>
        <string>{48,363}</string>
      </dict>
      <key>obj200_008664.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,575},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008665.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,586},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008666.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,602},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008667.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,602},{48,364}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,364}}</string>
        <key>sourceSize</key>
        <string>{48,364}</string>
      </dict>
      <key>obj200_008668.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,609},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008669.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,635},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008670.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,609},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008671.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,0},{48,300}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,300}}</string>
        <key>sourceSize</key>
        <string>{48,300}</string>
      </dict>
      <key>obj200_008672.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,0},{48,301}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,301}}</string>
        <key>sourceSize</key>
        <string>{48,301}</string>
      </dict>
      <key>obj200_008673.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,210},{48,208}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,208}}</string>
        <key>sourceSize</key>
        <string>{48,208}</string>
      </dict>
      <key>obj200_008674.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,459},{48,147}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,147}}</string>
        <key>sourceSize</key>
        <string>{48,147}</string>
      </dict>
      <key>obj200_008675.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,270},{48,205}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,205}}</string>
        <key>sourceSize</key>
        <string>{48,205}</string>
      </dict>
      <key>obj200_008676.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,0},{48,250}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,250}}</string>
        <key>sourceSize</key>
        <string>{48,250}</string>
      </dict>
      <key>obj200_008677.png</key>
      <dict>
        <key>frame</key>
        <string>{{583,303},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_008678.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,541},{48,474}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,474}}</string>
        <key>sourceSize</key>
        <string>{48,474}</string>
      </dict>
      <key>obj200_008679.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,620},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008680.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,636},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008681.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,643},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008682.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,0},{48,516}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,516}}</string>
        <key>sourceSize</key>
        <string>{48,516}</string>
      </dict>
      <key>obj200_008683.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,669},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008684.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,671},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008685.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,687},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008686.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,621},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008687.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,643},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008688.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,654},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008689.png</key>
      <dict>
        <key>frame</key>
        <string>{{586,303},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>obj200_78.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>obj200_78.png</string>
    </dict>
  </dict>
</plist>