<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>obj224_003000.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,227},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj224_003001.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,144},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj224_003002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,148},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj224_003003.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,178},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj224_003004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,182},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj224_003005.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,212},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj224_003006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,216},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj224_003007.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,227},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj224_003008.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,246},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj224_003009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,250},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj224_003010.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,231},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj224_003011.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,116},{48,113}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,113}}</string>
        <key>sourceSize</key>
        <string>{48,113}</string>
      </dict>
      <key>obj224_003012.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,261},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj224_003013.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,0},{48,138}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,138}}</string>
        <key>sourceSize</key>
        <string>{48,138}</string>
      </dict>
      <key>obj224_003014.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,261},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj224_003015.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,0},{48,138}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,138}}</string>
        <key>sourceSize</key>
        <string>{48,138}</string>
      </dict>
      <key>obj224_003016.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,140},{48,85}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,85}}</string>
        <key>sourceSize</key>
        <string>{48,85}</string>
      </dict>
      <key>obj224_003017.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,280},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj224_003018.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,0},{48,114}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,114}}</string>
        <key>sourceSize</key>
        <string>{48,114}</string>
      </dict>
      <key>obj224_003019.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,284},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj224_003020.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,0},{48,142}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,142}}</string>
        <key>sourceSize</key>
        <string>{48,142}</string>
      </dict>
      <key>obj224_003021.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,265},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj224_003022.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{48,146}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,146}}</string>
        <key>sourceSize</key>
        <string>{48,146}</string>
      </dict>
      <key>obj224_003023.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,140},{48,85}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,85}}</string>
        <key>sourceSize</key>
        <string>{48,85}</string>
      </dict>
      <key>obj224_003024.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,295},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>obj224_6.png</string>
      <key>size</key>
      <string>{256,512}</string>
      <key>textureFileName</key>
      <string>obj224_6.png</string>
    </dict>
  </dict>
</plist>