<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>obj200_008250.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,2042},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_008251.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,1746},{48,294}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,294}}</string>
        <key>sourceSize</key>
        <string>{48,294}</string>
      </dict>
      <key>obj200_008252.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,586},{48,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,120}}</string>
        <key>sourceSize</key>
        <string>{48,120}</string>
      </dict>
      <key>obj200_008253.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,713},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008254.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,584},{48,169}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,169}}</string>
        <key>sourceSize</key>
        <string>{48,169}</string>
      </dict>
      <key>obj200_008255.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,565},{48,297}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,297}}</string>
        <key>sourceSize</key>
        <string>{48,297}</string>
      </dict>
      <key>obj200_008256.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,1547},{48,329}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,329}}</string>
        <key>sourceSize</key>
        <string>{48,329}</string>
      </dict>
      <key>obj200_008257.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,540},{48,414}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,414}}</string>
        <key>sourceSize</key>
        <string>{48,414}</string>
      </dict>
      <key>obj200_008258.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,535},{48,500}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,500}}</string>
        <key>sourceSize</key>
        <string>{48,500}</string>
      </dict>
      <key>obj200_008259.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,537},{48,499}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,499}}</string>
        <key>sourceSize</key>
        <string>{48,499}</string>
      </dict>
      <key>obj200_008260.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,0},{48,533}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,533}}</string>
        <key>sourceSize</key>
        <string>{48,533}</string>
      </dict>
      <key>obj200_008261.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,0},{48,563}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,563}}</string>
        <key>sourceSize</key>
        <string>{48,563}</string>
      </dict>
      <key>obj200_008262.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,0},{48,568}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,568}}</string>
        <key>sourceSize</key>
        <string>{48,568}</string>
      </dict>
      <key>obj200_008263.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,0},{48,538}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,538}}</string>
        <key>sourceSize</key>
        <string>{48,538}</string>
      </dict>
      <key>obj200_008264.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,0},{48,568}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,568}}</string>
        <key>sourceSize</key>
        <string>{48,568}</string>
      </dict>
      <key>obj200_008265.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,0},{48,598}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,598}}</string>
        <key>sourceSize</key>
        <string>{48,598}</string>
      </dict>
      <key>obj200_008266.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,0},{48,555}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,555}}</string>
        <key>sourceSize</key>
        <string>{48,555}</string>
      </dict>
      <key>obj200_008267.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,617},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008268.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,618},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008269.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,521},{48,511}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,511}}</string>
        <key>sourceSize</key>
        <string>{48,511}</string>
      </dict>
      <key>obj200_008270.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,651},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008271.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,521},{48,514}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,514}}</string>
        <key>sourceSize</key>
        <string>{48,514}</string>
      </dict>
      <key>obj200_008272.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,949},{48,403}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,403}}</string>
        <key>sourceSize</key>
        <string>{48,403}</string>
      </dict>
      <key>obj200_008273.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,1037},{48,369}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,369}}</string>
        <key>sourceSize</key>
        <string>{48,369}</string>
      </dict>
      <key>obj200_008274.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,652},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008275.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,2045},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_008276.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,0},{48,555}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,555}}</string>
        <key>sourceSize</key>
        <string>{48,555}</string>
      </dict>
      <key>obj200_008277.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,685},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008278.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,686},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008279.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,1034},{48,511}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,511}}</string>
        <key>sourceSize</key>
        <string>{48,511}</string>
      </dict>
      <key>obj200_008280.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,719},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008281.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,521},{48,514}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,514}}</string>
        <key>sourceSize</key>
        <string>{48,514}</string>
      </dict>
      <key>obj200_008282.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,2045},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_008283.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,617},{48,94}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,94}}</string>
        <key>sourceSize</key>
        <string>{48,94}</string>
      </dict>
      <key>obj200_008284.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,600},{48,114}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,114}}</string>
        <key>sourceSize</key>
        <string>{48,114}</string>
      </dict>
      <key>obj200_008285.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,864},{48,175}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,175}}</string>
        <key>sourceSize</key>
        <string>{48,175}</string>
      </dict>
      <key>obj200_008286.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,570},{48,237}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,237}}</string>
        <key>sourceSize</key>
        <string>{48,237}</string>
      </dict>
      <key>obj200_008287.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,720},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008288.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,708},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008289.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,1408},{48,336}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,336}}</string>
        <key>sourceSize</key>
        <string>{48,336}</string>
      </dict>
      <key>obj200_008290.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,716},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008291.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,1037},{48,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,400}}</string>
        <key>sourceSize</key>
        <string>{48,400}</string>
      </dict>
      <key>obj200_008292.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,723},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008293.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,540},{48,407}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,407}}</string>
        <key>sourceSize</key>
        <string>{48,407}</string>
      </dict>
      <key>obj200_008294.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,747},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008295.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,1037},{48,464}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,464}}</string>
        <key>sourceSize</key>
        <string>{48,464}</string>
      </dict>
      <key>obj200_008296.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,753},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008297.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,754},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008298.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,0},{48,538}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,538}}</string>
        <key>sourceSize</key>
        <string>{48,538}</string>
      </dict>
      <key>obj200_008299.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,742},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008300.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,750},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008301.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,757},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008302.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,0},{48,535}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,535}}</string>
        <key>sourceSize</key>
        <string>{48,535}</string>
      </dict>
      <key>obj200_008303.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,781},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008304.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,787},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008305.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,788},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008306.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,755},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008307.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,0},{48,555}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,555}}</string>
        <key>sourceSize</key>
        <string>{48,555}</string>
      </dict>
      <key>obj200_008308.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,776},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008309.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,784},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008310.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,791},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008311.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,815},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008312.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,821},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008313.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,0},{48,519}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,519}}</string>
        <key>sourceSize</key>
        <string>{48,519}</string>
      </dict>
      <key>obj200_008314.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,822},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008315.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,789},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008316.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,810},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008317.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,1547},{48,454}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,454}}</string>
        <key>sourceSize</key>
        <string>{48,454}</string>
      </dict>
      <key>obj200_008318.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,818},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008319.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,825},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008320.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,849},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008321.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,1503},{48,456}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,456}}</string>
        <key>sourceSize</key>
        <string>{48,456}</string>
      </dict>
      <key>obj200_008322.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,855},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008323.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,856},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008324.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,811},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008325.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,823},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008326.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,844},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008327.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,852},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008328.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,859},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008329.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,883},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008330.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,889},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008331.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,0},{48,584}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,584}}</string>
        <key>sourceSize</key>
        <string>{48,584}</string>
      </dict>
      <key>obj200_008332.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,890},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008333.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,0},{48,614}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,614}}</string>
        <key>sourceSize</key>
        <string>{48,614}</string>
      </dict>
      <key>obj200_008334.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,845},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008335.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,0},{48,615}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,615}}</string>
        <key>sourceSize</key>
        <string>{48,615}</string>
      </dict>
      <key>obj200_008336.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,857},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008337.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{48,616}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,616}}</string>
        <key>sourceSize</key>
        <string>{48,616}</string>
      </dict>
      <key>obj200_008338.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,878},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008339.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,0},{48,615}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,615}}</string>
        <key>sourceSize</key>
        <string>{48,615}</string>
      </dict>
      <key>obj200_008340.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,886},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008341.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,0},{48,582}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,582}}</string>
        <key>sourceSize</key>
        <string>{48,582}</string>
      </dict>
      <key>obj200_008342.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,893},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008343.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,0},{48,519}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,519}}</string>
        <key>sourceSize</key>
        <string>{48,519}</string>
      </dict>
      <key>obj200_008344.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,917},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008345.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1547},{48,456}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,456}}</string>
        <key>sourceSize</key>
        <string>{48,456}</string>
      </dict>
      <key>obj200_008346.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,923},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008347.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,1038},{48,389}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,389}}</string>
        <key>sourceSize</key>
        <string>{48,389}</string>
      </dict>
      <key>obj200_008348.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,924},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008349.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,557},{48,327}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,327}}</string>
        <key>sourceSize</key>
        <string>{48,327}</string>
      </dict>
      <key>obj200_008350.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,879},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008351.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,1746},{48,264}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,264}}</string>
        <key>sourceSize</key>
        <string>{48,264}</string>
      </dict>
      <key>obj200_008352.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,891},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008353.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,809},{48,199}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,199}}</string>
        <key>sourceSize</key>
        <string>{48,199}</string>
      </dict>
      <key>obj200_008354.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,570},{48,239}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,239}}</string>
        <key>sourceSize</key>
        <string>{48,239}</string>
      </dict>
      <key>obj200_008355.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,616},{48,105}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,105}}</string>
        <key>sourceSize</key>
        <string>{48,105}</string>
      </dict>
      <key>obj200_008356.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,912},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008357.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,0},{48,519}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,519}}</string>
        <key>sourceSize</key>
        <string>{48,519}</string>
      </dict>
      <key>obj200_008358.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,920},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_008359.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,927},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>obj200_75.png</string>
      <key>size</key>
      <string>{1024,2048}</string>
      <key>textureFileName</key>
      <string>obj200_75.png</string>
    </dict>
  </dict>
</plist>