<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>obj235_000333.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{48,799}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,799}}</string>
        <key>sourceSize</key>
        <string>{48,799}</string>
      </dict>
      <key>obj235_000334.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,0},{48,771}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,771}}</string>
        <key>sourceSize</key>
        <string>{48,771}</string>
      </dict>
      <key>obj235_000335.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,1252},{48,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,31}}</string>
        <key>sourceSize</key>
        <string>{48,31}</string>
      </dict>
      <key>obj235_000336.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,1539},{48,501}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,501}}</string>
        <key>sourceSize</key>
        <string>{48,501}</string>
      </dict>
      <key>obj235_000337.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,0},{48,775}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,775}}</string>
        <key>sourceSize</key>
        <string>{48,775}</string>
      </dict>
      <key>obj235_000338.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,791},{48,788}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,788}}</string>
        <key>sourceSize</key>
        <string>{48,788}</string>
      </dict>
      <key>obj235_000339.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,0},{48,790}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,790}}</string>
        <key>sourceSize</key>
        <string>{48,790}</string>
      </dict>
      <key>obj235_000340.png</key>
      <dict>
        <key>frame</key>
        <string>{{1950,130},{48,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,96}}</string>
        <key>sourceSize</key>
        <string>{48,96}</string>
      </dict>
      <key>obj235_000341.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,1758},{48,288}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,288}}</string>
        <key>sourceSize</key>
        <string>{48,288}</string>
      </dict>
      <key>obj235_000342.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,0},{48,783}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,783}}</string>
        <key>sourceSize</key>
        <string>{48,783}</string>
      </dict>
      <key>obj235_000343.png</key>
      <dict>
        <key>frame</key>
        <string>{{1450,0},{48,260}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,260}}</string>
        <key>sourceSize</key>
        <string>{48,260}</string>
      </dict>
      <key>obj235_000344.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1598},{48,384}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,384}}</string>
        <key>sourceSize</key>
        <string>{48,384}</string>
      </dict>
      <key>obj235_000345.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,1580},{48,448}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,448}}</string>
        <key>sourceSize</key>
        <string>{48,448}</string>
      </dict>
      <key>obj235_000346.png</key>
      <dict>
        <key>frame</key>
        <string>{{1300,0},{48,300}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,300}}</string>
        <key>sourceSize</key>
        <string>{48,300}</string>
      </dict>
      <key>obj235_000347.png</key>
      <dict>
        <key>frame</key>
        <string>{{1200,0},{48,512}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,512}}</string>
        <key>sourceSize</key>
        <string>{48,512}</string>
      </dict>
      <key>obj235_000348.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,801},{48,795}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,795}}</string>
        <key>sourceSize</key>
        <string>{48,795}</string>
      </dict>
      <key>obj235_000349.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,0},{48,745}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,745}}</string>
        <key>sourceSize</key>
        <string>{48,745}</string>
      </dict>
      <key>obj235_000350.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,1970},{48,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,60}}</string>
        <key>sourceSize</key>
        <string>{48,60}</string>
      </dict>
      <key>obj235_000351.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,0},{48,576}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,576}}</string>
        <key>sourceSize</key>
        <string>{48,576}</string>
      </dict>
      <key>obj235_000352.png</key>
      <dict>
        <key>frame</key>
        <string>{{1700,0},{48,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj235_000353.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,1213},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj235_000354.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,1180},{48,576}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,576}}</string>
        <key>sourceSize</key>
        <string>{48,576}</string>
      </dict>
      <key>obj235_000355.png</key>
      <dict>
        <key>frame</key>
        <string>{{1250,0},{48,512}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,512}}</string>
        <key>sourceSize</key>
        <string>{48,512}</string>
      </dict>
      <key>obj235_000356.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,1799},{48,224}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj235_000357.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,1852},{48,192}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj235_000358.png</key>
      <dict>
        <key>frame</key>
        <string>{{1750,0},{48,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj235_000359.png</key>
      <dict>
        <key>frame</key>
        <string>{{1100,570},{48,544}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,544}}</string>
        <key>sourceSize</key>
        <string>{48,544}</string>
      </dict>
      <key>obj235_000360.png</key>
      <dict>
        <key>frame</key>
        <string>{{1050,1703},{48,320}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,320}}</string>
        <key>sourceSize</key>
        <string>{48,320}</string>
      </dict>
      <key>obj235_000361.png</key>
      <dict>
        <key>frame</key>
        <string>{{1000,1719},{48,320}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,320}}</string>
        <key>sourceSize</key>
        <string>{48,320}</string>
      </dict>
      <key>obj235_000362.png</key>
      <dict>
        <key>frame</key>
        <string>{{1500,0},{48,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,256}}</string>
        <key>sourceSize</key>
        <string>{48,256}</string>
      </dict>
      <key>obj235_000363.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,1801},{48,224}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj235_000364.png</key>
      <dict>
        <key>frame</key>
        <string>{{1100,0},{48,544}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,544}}</string>
        <key>sourceSize</key>
        <string>{48,544}</string>
      </dict>
      <key>obj235_000365.png</key>
      <dict>
        <key>frame</key>
        <string>{{1100,1640},{48,384}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,384}}</string>
        <key>sourceSize</key>
        <string>{48,384}</string>
      </dict>
      <key>obj235_000366.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,1563},{48,480}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,480}}</string>
        <key>sourceSize</key>
        <string>{48,480}</string>
      </dict>
      <key>obj235_000367.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,1581},{48,448}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,448}}</string>
        <key>sourceSize</key>
        <string>{48,448}</string>
      </dict>
      <key>obj235_000368.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1984},{48,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,60}}</string>
        <key>sourceSize</key>
        <string>{48,60}</string>
      </dict>
      <key>obj235_000369.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,1957},{48,69}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,69}}</string>
        <key>sourceSize</key>
        <string>{48,69}</string>
      </dict>
      <key>obj235_000370.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,1854},{48,183}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,183}}</string>
        <key>sourceSize</key>
        <string>{48,183}</string>
      </dict>
      <key>obj235_000371.png</key>
      <dict>
        <key>frame</key>
        <string>{{1550,0},{48,224}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj235_000372.png</key>
      <dict>
        <key>frame</key>
        <string>{{1850,0},{48,142}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,142}}</string>
        <key>sourceSize</key>
        <string>{48,142}</string>
      </dict>
      <key>obj235_000373.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,1758},{48,284}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,284}}</string>
        <key>sourceSize</key>
        <string>{48,284}</string>
      </dict>
      <key>obj235_000374.png</key>
      <dict>
        <key>frame</key>
        <string>{{1850,144},{48,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,74}}</string>
        <key>sourceSize</key>
        <string>{48,74}</string>
      </dict>
      <key>obj235_000375.png</key>
      <dict>
        <key>frame</key>
        <string>{{1400,0},{48,289}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,289}}</string>
        <key>sourceSize</key>
        <string>{48,289}</string>
      </dict>
      <key>obj235_000376.png</key>
      <dict>
        <key>frame</key>
        <string>{{1150,1640},{48,311}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,311}}</string>
        <key>sourceSize</key>
        <string>{48,311}</string>
      </dict>
      <key>obj235_000377.png</key>
      <dict>
        <key>frame</key>
        <string>{{1350,0},{48,298}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,298}}</string>
        <key>sourceSize</key>
        <string>{48,298}</string>
      </dict>
      <key>obj235_000378.png</key>
      <dict>
        <key>frame</key>
        <string>{{1600,0},{48,180}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,180}}</string>
        <key>sourceSize</key>
        <string>{48,180}</string>
      </dict>
      <key>obj235_000379.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,0},{48,727}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,727}}</string>
        <key>sourceSize</key>
        <string>{48,727}</string>
      </dict>
      <key>obj235_000380.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,791},{48,787}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,787}}</string>
        <key>sourceSize</key>
        <string>{48,787}</string>
      </dict>
      <key>obj235_000381.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,801},{48,791}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,791}}</string>
        <key>sourceSize</key>
        <string>{48,791}</string>
      </dict>
      <key>obj235_000382.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,785},{48,776}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,776}}</string>
        <key>sourceSize</key>
        <string>{48,776}</string>
      </dict>
      <key>obj235_000383.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,773},{48,764}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,764}}</string>
        <key>sourceSize</key>
        <string>{48,764}</string>
      </dict>
      <key>obj235_000384.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,0},{48,789}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,789}}</string>
        <key>sourceSize</key>
        <string>{48,789}</string>
      </dict>
      <key>obj235_000385.png</key>
      <dict>
        <key>frame</key>
        <string>{{1050,1118},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj235_000386.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,785},{48,782}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,782}}</string>
        <key>sourceSize</key>
        <string>{48,782}</string>
      </dict>
      <key>obj235_000387.png</key>
      <dict>
        <key>frame</key>
        <string>{{1900,130},{48,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,96}}</string>
        <key>sourceSize</key>
        <string>{48,96}</string>
      </dict>
      <key>obj235_000388.png</key>
      <dict>
        <key>frame</key>
        <string>{{1900,0},{48,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,128}}</string>
        <key>sourceSize</key>
        <string>{48,128}</string>
      </dict>
      <key>obj235_000389.png</key>
      <dict>
        <key>frame</key>
        <string>{{1800,0},{48,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj235_000390.png</key>
      <dict>
        <key>frame</key>
        <string>{{1950,0},{48,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,128}}</string>
        <key>sourceSize</key>
        <string>{48,128}</string>
      </dict>
      <key>obj235_000391.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,705},{48,702}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,702}}</string>
        <key>sourceSize</key>
        <string>{48,702}</string>
      </dict>
      <key>obj235_000392.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,0},{48,673}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,673}}</string>
        <key>sourceSize</key>
        <string>{48,673}</string>
      </dict>
      <key>obj235_000393.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,705},{48,701}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,701}}</string>
        <key>sourceSize</key>
        <string>{48,701}</string>
      </dict>
      <key>obj235_000394.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,673},{48,651}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,651}}</string>
        <key>sourceSize</key>
        <string>{48,651}</string>
      </dict>
      <key>obj235_000395.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,594},{48,584}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,584}}</string>
        <key>sourceSize</key>
        <string>{48,584}</string>
      </dict>
      <key>obj235_000396.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,628},{48,617}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,617}}</string>
        <key>sourceSize</key>
        <string>{48,617}</string>
      </dict>
      <key>obj235_000397.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,0},{48,592}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,592}}</string>
        <key>sourceSize</key>
        <string>{48,592}</string>
      </dict>
      <key>obj235_000398.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,1180},{48,576}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,576}}</string>
        <key>sourceSize</key>
        <string>{48,576}</string>
      </dict>
      <key>obj235_000399.png</key>
      <dict>
        <key>frame</key>
        <string>{{1000,0},{48,573}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,573}}</string>
        <key>sourceSize</key>
        <string>{48,573}</string>
      </dict>
      <key>obj235_000400.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,578},{48,576}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,576}}</string>
        <key>sourceSize</key>
        <string>{48,576}</string>
      </dict>
      <key>obj235_000401.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,0},{48,606}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,606}}</string>
        <key>sourceSize</key>
        <string>{48,606}</string>
      </dict>
      <key>obj235_000402.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,0},{48,626}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,626}}</string>
        <key>sourceSize</key>
        <string>{48,626}</string>
      </dict>
      <key>obj235_000403.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,1409},{48,634}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,634}}</string>
        <key>sourceSize</key>
        <string>{48,634}</string>
      </dict>
      <key>obj235_000404.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,747},{48,741}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,741}}</string>
        <key>sourceSize</key>
        <string>{48,741}</string>
      </dict>
      <key>obj235_000405.png</key>
      <dict>
        <key>frame</key>
        <string>{{1000,578},{48,574}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,574}}</string>
        <key>sourceSize</key>
        <string>{48,574}</string>
      </dict>
      <key>obj235_000406.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,0},{48,609}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,609}}</string>
        <key>sourceSize</key>
        <string>{48,609}</string>
      </dict>
      <key>obj235_000407.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,0},{48,671}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,671}}</string>
        <key>sourceSize</key>
        <string>{48,671}</string>
      </dict>
      <key>obj235_000408.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,0},{48,584}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,584}}</string>
        <key>sourceSize</key>
        <string>{48,584}</string>
      </dict>
      <key>obj235_000409.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,0},{48,759}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,759}}</string>
        <key>sourceSize</key>
        <string>{48,759}</string>
      </dict>
      <key>obj235_000410.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,0},{48,785}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,785}}</string>
        <key>sourceSize</key>
        <string>{48,785}</string>
      </dict>
      <key>obj235_000411.png</key>
      <dict>
        <key>frame</key>
        <string>{{1650,0},{48,166}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,166}}</string>
        <key>sourceSize</key>
        <string>{48,166}</string>
      </dict>
      <key>obj235_000412.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,1594},{48,441}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,441}}</string>
        <key>sourceSize</key>
        <string>{48,441}</string>
      </dict>
      <key>obj235_000413.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,1569},{48,468}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,468}}</string>
        <key>sourceSize</key>
        <string>{48,468}</string>
      </dict>
      <key>obj235_000414.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,1247},{48,603}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,603}}</string>
        <key>sourceSize</key>
        <string>{48,603}</string>
      </dict>
      <key>obj235_000415.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,1542},{48,501}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,501}}</string>
        <key>sourceSize</key>
        <string>{48,501}</string>
      </dict>
      <key>obj235_000416.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,1209},{48,590}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,590}}</string>
        <key>sourceSize</key>
        <string>{48,590}</string>
      </dict>
      <key>obj235_000417.png</key>
      <dict>
        <key>frame</key>
        <string>{{1050,570},{48,546}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,546}}</string>
        <key>sourceSize</key>
        <string>{48,546}</string>
      </dict>
      <key>obj235_000418.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,1326},{48,642}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,642}}</string>
        <key>sourceSize</key>
        <string>{48,642}</string>
      </dict>
      <key>obj235_000419.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,0},{48,593}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,593}}</string>
        <key>sourceSize</key>
        <string>{48,593}</string>
      </dict>
      <key>obj235_000420.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,0},{48,703}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,703}}</string>
        <key>sourceSize</key>
        <string>{48,703}</string>
      </dict>
      <key>obj235_000421.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,608},{48,603}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,603}}</string>
        <key>sourceSize</key>
        <string>{48,603}</string>
      </dict>
      <key>obj235_000422.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,1326},{48,629}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,629}}</string>
        <key>sourceSize</key>
        <string>{48,629}</string>
      </dict>
      <key>obj235_000423.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,1408},{48,635}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,635}}</string>
        <key>sourceSize</key>
        <string>{48,635}</string>
      </dict>
      <key>obj235_000424.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,1247},{48,605}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,605}}</string>
        <key>sourceSize</key>
        <string>{48,605}</string>
      </dict>
      <key>obj235_000425.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,608},{48,599}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,599}}</string>
        <key>sourceSize</key>
        <string>{48,599}</string>
      </dict>
      <key>obj235_000426.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,1488},{48,556}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,556}}</string>
        <key>sourceSize</key>
        <string>{48,556}</string>
      </dict>
      <key>obj235_000427.png</key>
      <dict>
        <key>frame</key>
        <string>{{1100,1116},{48,522}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,522}}</string>
        <key>sourceSize</key>
        <string>{48,522}</string>
      </dict>
      <key>obj235_000428.png</key>
      <dict>
        <key>frame</key>
        <string>{{1000,1154},{48,563}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,563}}</string>
        <key>sourceSize</key>
        <string>{48,563}</string>
      </dict>
      <key>obj235_000429.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,1209},{48,588}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,588}}</string>
        <key>sourceSize</key>
        <string>{48,588}</string>
      </dict>
      <key>obj235_000430.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,628},{48,622}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,622}}</string>
        <key>sourceSize</key>
        <string>{48,622}</string>
      </dict>
      <key>obj235_000431.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,773},{48,767}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,767}}</string>
        <key>sourceSize</key>
        <string>{48,767}</string>
      </dict>
      <key>obj235_000432.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,747},{48,739}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,739}}</string>
        <key>sourceSize</key>
        <string>{48,739}</string>
      </dict>
      <key>obj235_000433.png</key>
      <dict>
        <key>frame</key>
        <string>{{1150,0},{48,523}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,523}}</string>
        <key>sourceSize</key>
        <string>{48,523}</string>
      </dict>
      <key>obj235_000434.png</key>
      <dict>
        <key>frame</key>
        <string>{{1050,1154},{48,547}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,547}}</string>
        <key>sourceSize</key>
        <string>{48,547}</string>
      </dict>
      <key>obj235_000435.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,1490},{48,555}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,555}}</string>
        <key>sourceSize</key>
        <string>{48,555}</string>
      </dict>
      <key>obj235_000436.png</key>
      <dict>
        <key>frame</key>
        <string>{{1050,0},{48,568}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,568}}</string>
        <key>sourceSize</key>
        <string>{48,568}</string>
      </dict>
      <key>obj235_000437.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,594},{48,585}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,585}}</string>
        <key>sourceSize</key>
        <string>{48,585}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>obj235_3.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>obj235_3.png</string>
    </dict>
  </dict>
</plist>