<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>obj236_005544.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,0},{48,319}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,319}}</string>
        <key>sourceSize</key>
        <string>{48,319}</string>
      </dict>
      <key>obj236_005545.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,0},{48,319}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,319}}</string>
        <key>sourceSize</key>
        <string>{48,319}</string>
      </dict>
      <key>obj236_005546.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,0},{48,289}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,289}}</string>
        <key>sourceSize</key>
        <string>{48,289}</string>
      </dict>
      <key>obj236_005547.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,0},{48,289}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,289}}</string>
        <key>sourceSize</key>
        <string>{48,289}</string>
      </dict>
      <key>obj236_005548.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,0},{48,289}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,289}}</string>
        <key>sourceSize</key>
        <string>{48,289}</string>
      </dict>
      <key>obj236_005549.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,0},{48,289}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,289}}</string>
        <key>sourceSize</key>
        <string>{48,289}</string>
      </dict>
      <key>obj236_005550.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,0},{48,289}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,289}}</string>
        <key>sourceSize</key>
        <string>{48,289}</string>
      </dict>
      <key>obj236_005551.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,291},{48,289}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,289}}</string>
        <key>sourceSize</key>
        <string>{48,289}</string>
      </dict>
      <key>obj236_005552.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,291},{48,289}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,289}}</string>
        <key>sourceSize</key>
        <string>{48,289}</string>
      </dict>
      <key>obj236_005553.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,319},{48,289}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,289}}</string>
        <key>sourceSize</key>
        <string>{48,289}</string>
      </dict>
      <key>obj236_005554.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,321},{48,289}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,289}}</string>
        <key>sourceSize</key>
        <string>{48,289}</string>
      </dict>
      <key>obj236_005555.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,321},{48,289}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,289}}</string>
        <key>sourceSize</key>
        <string>{48,289}</string>
      </dict>
      <key>obj236_005556.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,335},{48,289}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,289}}</string>
        <key>sourceSize</key>
        <string>{48,289}</string>
      </dict>
      <key>obj236_005557.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,344},{48,275}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,275}}</string>
        <key>sourceSize</key>
        <string>{48,275}</string>
      </dict>
      <key>obj236_005558.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,0},{48,317}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,317}}</string>
        <key>sourceSize</key>
        <string>{48,317}</string>
      </dict>
      <key>obj236_005559.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,534},{48,239}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,239}}</string>
        <key>sourceSize</key>
        <string>{48,239}</string>
      </dict>
      <key>obj236_005560.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,582},{48,144}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,144}}</string>
        <key>sourceSize</key>
        <string>{48,144}</string>
      </dict>
      <key>obj236_005561.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,291},{48,270}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,270}}</string>
        <key>sourceSize</key>
        <string>{48,270}</string>
      </dict>
      <key>obj236_005562.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,728},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj236_005563.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,0},{48,333}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,333}}</string>
        <key>sourceSize</key>
        <string>{48,333}</string>
      </dict>
      <key>obj236_005564.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{48,342}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,342}}</string>
        <key>sourceSize</key>
        <string>{48,342}</string>
      </dict>
      <key>obj236_005565.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,582},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj236_005566.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,616},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj236_005567.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,610},{48,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,128}}</string>
        <key>sourceSize</key>
        <string>{48,128}</string>
      </dict>
      <key>obj236_005568.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,724},{48,144}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,144}}</string>
        <key>sourceSize</key>
        <string>{48,144}</string>
      </dict>
      <key>obj236_005569.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,650},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj236_005570.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,562},{48,206}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,206}}</string>
        <key>sourceSize</key>
        <string>{48,206}</string>
      </dict>
      <key>obj236_005571.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,621},{48,273}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,273}}</string>
        <key>sourceSize</key>
        <string>{48,273}</string>
      </dict>
      <key>obj236_005572.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,684},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj236_005573.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,718},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj236_005574.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,752},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj236_005575.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,775},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj236_005576.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,786},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj236_005577.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,809},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj236_005578.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,291},{48,241}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,241}}</string>
        <key>sourceSize</key>
        <string>{48,241}</string>
      </dict>
      <key>obj236_005579.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,820},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj236_005580.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,843},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj236_005581.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,854},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj236_005582.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,291},{48,269}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,269}}</string>
        <key>sourceSize</key>
        <string>{48,269}</string>
      </dict>
      <key>obj236_005583.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,877},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj236_005584.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,888},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj236_005585.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,612},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj236_005586.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,626},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj236_005587.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,612},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj236_005588.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,646},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj236_005589.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,646},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj236_005590.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,660},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj236_005591.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,770},{48,138}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,138}}</string>
        <key>sourceSize</key>
        <string>{48,138}</string>
      </dict>
      <key>obj236_005592.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,680},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj236_005593.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,680},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj236_005594.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,714},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj236_005595.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,740},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj236_005596.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,762},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj236_005597.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,694},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj236_005598.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,714},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj236_005599.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,728},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj236_005600.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,748},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj236_005601.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,748},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj236_005602.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,774},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj236_005603.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,796},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj236_005604.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,762},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj236_005605.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,563},{48,159}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,159}}</string>
        <key>sourceSize</key>
        <string>{48,159}</string>
      </dict>
      <key>obj236_005606.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,782},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>obj236_18.png</string>
      <key>size</key>
      <string>{512,1024}</string>
      <key>textureFileName</key>
      <string>obj236_18.png</string>
    </dict>
  </dict>
</plist>