<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>obj200_005060.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,352},{48,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,64}}</string>
        <key>sourceSize</key>
        <string>{48,64}</string>
      </dict>
      <key>obj200_005061.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,377},{48,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,64}}</string>
        <key>sourceSize</key>
        <string>{48,64}</string>
      </dict>
      <key>obj200_005062.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,959},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_005063.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,494},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_005064.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,267},{48,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,96}}</string>
        <key>sourceSize</key>
        <string>{48,96}</string>
      </dict>
      <key>obj200_005065.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,137},{48,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,128}}</string>
        <key>sourceSize</key>
        <string>{48,128}</string>
      </dict>
      <key>obj200_005066.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,138},{48,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,128}}</string>
        <key>sourceSize</key>
        <string>{48,128}</string>
      </dict>
      <key>obj200_005067.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,140},{48,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,128}}</string>
        <key>sourceSize</key>
        <string>{48,128}</string>
      </dict>
      <key>obj200_005068.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,142},{48,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,128}}</string>
        <key>sourceSize</key>
        <string>{48,128}</string>
      </dict>
      <key>obj200_005069.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,965},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_005070.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,400},{48,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,64}}</string>
        <key>sourceSize</key>
        <string>{48,64}</string>
      </dict>
      <key>obj200_005071.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,968},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_005072.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,253},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_005073.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,301},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_005074.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,271},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_005075.png</key>
      <dict>
        <key>frame</key>
        <string>{{553,494},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_005076.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,719},{48,188}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,188}}</string>
        <key>sourceSize</key>
        <string>{48,188}</string>
      </dict>
      <key>obj200_005077.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,151},{48,147}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,147}}</string>
        <key>sourceSize</key>
        <string>{48,147}</string>
      </dict>
      <key>obj200_005078.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,0},{48,140}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,140}}</string>
        <key>sourceSize</key>
        <string>{48,140}</string>
      </dict>
      <key>obj200_005079.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,171},{48,166}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,166}}</string>
        <key>sourceSize</key>
        <string>{48,166}</string>
      </dict>
      <key>obj200_005080.png</key>
      <dict>
        <key>frame</key>
        <string>{{556,494},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_005081.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,840},{48,164}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,164}}</string>
        <key>sourceSize</key>
        <string>{48,164}</string>
      </dict>
      <key>obj200_005082.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,0},{48,134}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,134}}</string>
        <key>sourceSize</key>
        <string>{48,134}</string>
      </dict>
      <key>obj200_005083.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,876},{48,145}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,145}}</string>
        <key>sourceSize</key>
        <string>{48,145}</string>
      </dict>
      <key>obj200_005084.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,0},{48,187}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,187}}</string>
        <key>sourceSize</key>
        <string>{48,187}</string>
      </dict>
      <key>obj200_005085.png</key>
      <dict>
        <key>frame</key>
        <string>{{559,494},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_005086.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,0},{48,149}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,149}}</string>
        <key>sourceSize</key>
        <string>{48,149}</string>
      </dict>
      <key>obj200_005087.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,499},{48,156}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,156}}</string>
        <key>sourceSize</key>
        <string>{48,156}</string>
      </dict>
      <key>obj200_005088.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,719},{48,199}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,199}}</string>
        <key>sourceSize</key>
        <string>{48,199}</string>
      </dict>
      <key>obj200_005089.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,151},{48,148}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,148}}</string>
        <key>sourceSize</key>
        <string>{48,148}</string>
      </dict>
      <key>obj200_005090.png</key>
      <dict>
        <key>frame</key>
        <string>{{562,494},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_005091.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,342},{48,150}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,150}}</string>
        <key>sourceSize</key>
        <string>{48,150}</string>
      </dict>
      <key>obj200_005092.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,342},{48,150}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,150}}</string>
        <key>sourceSize</key>
        <string>{48,150}</string>
      </dict>
      <key>obj200_005093.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,339},{48,158}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,158}}</string>
        <key>sourceSize</key>
        <string>{48,158}</string>
      </dict>
      <key>obj200_005094.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,0},{48,169}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,169}}</string>
        <key>sourceSize</key>
        <string>{48,169}</string>
      </dict>
      <key>obj200_005095.png</key>
      <dict>
        <key>frame</key>
        <string>{{565,494},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_005096.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,0},{48,135}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,135}}</string>
        <key>sourceSize</key>
        <string>{48,135}</string>
      </dict>
      <key>obj200_005097.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,0},{48,136}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,136}}</string>
        <key>sourceSize</key>
        <string>{48,136}</string>
      </dict>
      <key>obj200_005098.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,268},{48,95}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,95}}</string>
        <key>sourceSize</key>
        <string>{48,95}</string>
      </dict>
      <key>obj200_005099.png</key>
      <dict>
        <key>frame</key>
        <string>{{568,494},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_005100.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,0},{48,145}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,145}}</string>
        <key>sourceSize</key>
        <string>{48,145}</string>
      </dict>
      <key>obj200_005101.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,293},{48,219}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,219}}</string>
        <key>sourceSize</key>
        <string>{48,219}</string>
      </dict>
      <key>obj200_005102.png</key>
      <dict>
        <key>frame</key>
        <string>{{571,494},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_005103.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,293},{48,220}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,220}}</string>
        <key>sourceSize</key>
        <string>{48,220}</string>
      </dict>
      <key>obj200_005104.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,0},{48,147}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,147}}</string>
        <key>sourceSize</key>
        <string>{48,147}</string>
      </dict>
      <key>obj200_005105.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,270},{48,94}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,94}}</string>
        <key>sourceSize</key>
        <string>{48,94}</string>
      </dict>
      <key>obj200_005106.png</key>
      <dict>
        <key>frame</key>
        <string>{{574,494},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_005107.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,272},{48,78}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,78}}</string>
        <key>sourceSize</key>
        <string>{48,78}</string>
      </dict>
      <key>obj200_005108.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,300},{48,98}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,98}}</string>
        <key>sourceSize</key>
        <string>{48,98}</string>
      </dict>
      <key>obj200_005109.png</key>
      <dict>
        <key>frame</key>
        <string>{{577,494},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_005110.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,514},{48,203}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,203}}</string>
        <key>sourceSize</key>
        <string>{48,203}</string>
      </dict>
      <key>obj200_005111.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,539},{48,335}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,335}}</string>
        <key>sourceSize</key>
        <string>{48,335}</string>
      </dict>
      <key>obj200_005112.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,305},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_005113.png</key>
      <dict>
        <key>frame</key>
        <string>{{580,494},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_005114.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,136},{48,133}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,133}}</string>
        <key>sourceSize</key>
        <string>{48,133}</string>
      </dict>
      <key>obj200_005115.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,0},{48,251}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,251}}</string>
        <key>sourceSize</key>
        <string>{48,251}</string>
      </dict>
      <key>obj200_005116.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,525},{48,313}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,313}}</string>
        <key>sourceSize</key>
        <string>{48,313}</string>
      </dict>
      <key>obj200_005117.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,594},{48,372}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,372}}</string>
        <key>sourceSize</key>
        <string>{48,372}</string>
      </dict>
      <key>obj200_005118.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,0},{48,591}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,591}}</string>
        <key>sourceSize</key>
        <string>{48,591}</string>
      </dict>
      <key>obj200_005119.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{48,616}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,616}}</string>
        <key>sourceSize</key>
        <string>{48,616}</string>
      </dict>
      <key>obj200_005120.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,0},{48,592}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,592}}</string>
        <key>sourceSize</key>
        <string>{48,592}</string>
      </dict>
      <key>obj200_005121.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,0},{48,616}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,616}}</string>
        <key>sourceSize</key>
        <string>{48,616}</string>
      </dict>
      <key>obj200_005122.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,0},{48,577}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,577}}</string>
        <key>sourceSize</key>
        <string>{48,577}</string>
      </dict>
      <key>obj200_005123.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,0},{48,568}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,568}}</string>
        <key>sourceSize</key>
        <string>{48,568}</string>
      </dict>
      <key>obj200_005124.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,0},{48,537}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,537}}</string>
        <key>sourceSize</key>
        <string>{48,537}</string>
      </dict>
      <key>obj200_005125.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,539},{48,471}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,471}}</string>
        <key>sourceSize</key>
        <string>{48,471}</string>
      </dict>
      <key>obj200_005126.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,618},{48,345}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,345}}</string>
        <key>sourceSize</key>
        <string>{48,345}</string>
      </dict>
      <key>obj200_005127.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,618},{48,339}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,339}}</string>
        <key>sourceSize</key>
        <string>{48,339}</string>
      </dict>
      <key>obj200_005128.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,593},{48,423}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,423}}</string>
        <key>sourceSize</key>
        <string>{48,423}</string>
      </dict>
      <key>obj200_005129.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,0},{48,291}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,291}}</string>
        <key>sourceSize</key>
        <string>{48,291}</string>
      </dict>
      <key>obj200_005130.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,0},{48,138}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,138}}</string>
        <key>sourceSize</key>
        <string>{48,138}</string>
      </dict>
      <key>obj200_005131.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,570},{48,432}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,432}}</string>
        <key>sourceSize</key>
        <string>{48,432}</string>
      </dict>
      <key>obj200_005132.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,147},{48,113}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,113}}</string>
        <key>sourceSize</key>
        <string>{48,113}</string>
      </dict>
      <key>obj200_005133.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,657},{48,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,46}}</string>
        <key>sourceSize</key>
        <string>{48,46}</string>
      </dict>
      <key>obj200_005134.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,499},{48,151}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,151}}</string>
        <key>sourceSize</key>
        <string>{48,151}</string>
      </dict>
      <key>obj200_005135.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,339},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_005136.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,657},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_005137.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,365},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_005138.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,366},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_005139.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,365},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_005140.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,373},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_005141.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,579},{48,432}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,432}}</string>
        <key>sourceSize</key>
        <string>{48,432}</string>
      </dict>
      <key>obj200_005142.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,262},{48,113}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,113}}</string>
        <key>sourceSize</key>
        <string>{48,113}</string>
      </dict>
      <key>obj200_005143.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,399},{48,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,46}}</string>
        <key>sourceSize</key>
        <string>{48,46}</string>
      </dict>
      <key>obj200_005144.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,189},{48,151}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,151}}</string>
        <key>sourceSize</key>
        <string>{48,151}</string>
      </dict>
      <key>obj200_005145.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,399},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_005146.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,400},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_005147.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,418},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_005148.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,434},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_005149.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,443},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_005150.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,452},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_005151.png</key>
      <dict>
        <key>frame</key>
        <string>{{583,494},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_005152.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,466},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_005153.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,477},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_005154.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,494},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_005155.png</key>
      <dict>
        <key>frame</key>
        <string>{{586,494},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_005156.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,500},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_005157.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,528},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_005158.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,407},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_005159.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,433},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_005160.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,447},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_005161.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,468},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_005162.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,486},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_005163.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,511},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_005164.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,534},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_005165.png</key>
      <dict>
        <key>frame</key>
        <string>{{589,494},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_005166.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,562},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_005167.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,0},{48,523}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,523}}</string>
        <key>sourceSize</key>
        <string>{48,523}</string>
      </dict>
      <key>obj200_005168.png</key>
      <dict>
        <key>frame</key>
        <string>{{592,494},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_005169.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,441},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>obj200_46.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>obj200_46.png</string>
    </dict>
  </dict>
</plist>