<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>obj200_002530.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,0},{48,675}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,675}}</string>
        <key>sourceSize</key>
        <string>{48,675}</string>
      </dict>
      <key>obj200_002531.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,695},{48,505}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,505}}</string>
        <key>sourceSize</key>
        <string>{48,505}</string>
      </dict>
      <key>obj200_002532.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,1568},{48,461}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,461}}</string>
        <key>sourceSize</key>
        <string>{48,461}</string>
      </dict>
      <key>obj200_002533.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,1202},{48,456}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,456}}</string>
        <key>sourceSize</key>
        <string>{48,456}</string>
      </dict>
      <key>obj200_002534.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,1202},{48,432}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,432}}</string>
        <key>sourceSize</key>
        <string>{48,432}</string>
      </dict>
      <key>obj200_002535.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,1636},{48,409}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,409}}</string>
        <key>sourceSize</key>
        <string>{48,409}</string>
      </dict>
      <key>obj200_002536.png</key>
      <dict>
        <key>frame</key>
        <string>{{1100,594},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_002537.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,1123},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_002538.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,790},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_002539.png</key>
      <dict>
        <key>frame</key>
        <string>{{1100,1479},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_002540.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,0},{48,734}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,734}}</string>
        <key>sourceSize</key>
        <string>{48,734}</string>
      </dict>
      <key>obj200_002541.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,1564},{48,463}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,463}}</string>
        <key>sourceSize</key>
        <string>{48,463}</string>
      </dict>
      <key>obj200_002542.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,1553},{48,464}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,464}}</string>
        <key>sourceSize</key>
        <string>{48,464}</string>
      </dict>
      <key>obj200_002543.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,695},{48,506}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,506}}</string>
        <key>sourceSize</key>
        <string>{48,506}</string>
      </dict>
      <key>obj200_002544.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,0},{48,680}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,680}}</string>
        <key>sourceSize</key>
        <string>{48,680}</string>
      </dict>
      <key>obj200_002545.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,0},{48,692}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,692}}</string>
        <key>sourceSize</key>
        <string>{48,692}</string>
      </dict>
      <key>obj200_002546.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,1315},{48,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,64}}</string>
        <key>sourceSize</key>
        <string>{48,64}</string>
      </dict>
      <key>obj200_002547.png</key>
      <dict>
        <key>frame</key>
        <string>{{1050,0},{48,648}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,648}}</string>
        <key>sourceSize</key>
        <string>{48,648}</string>
      </dict>
      <key>obj200_002548.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,1404},{48,641}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,641}}</string>
        <key>sourceSize</key>
        <string>{48,641}</string>
      </dict>
      <key>obj200_002549.png</key>
      <dict>
        <key>frame</key>
        <string>{{1000,0},{48,671}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,671}}</string>
        <key>sourceSize</key>
        <string>{48,671}</string>
      </dict>
      <key>obj200_002550.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,0},{48,688}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,688}}</string>
        <key>sourceSize</key>
        <string>{48,688}</string>
      </dict>
      <key>obj200_002551.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,756},{48,737}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,737}}</string>
        <key>sourceSize</key>
        <string>{48,737}</string>
      </dict>
      <key>obj200_002552.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,848},{48,788}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,788}}</string>
        <key>sourceSize</key>
        <string>{48,788}</string>
      </dict>
      <key>obj200_002553.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,989},{48,867}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,867}}</string>
        <key>sourceSize</key>
        <string>{48,867}</string>
      </dict>
      <key>obj200_002554.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,989},{48,915}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,915}}</string>
        <key>sourceSize</key>
        <string>{48,915}</string>
      </dict>
      <key>obj200_002555.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{48,987}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,987}}</string>
        <key>sourceSize</key>
        <string>{48,987}</string>
      </dict>
      <key>obj200_002556.png</key>
      <dict>
        <key>frame</key>
        <string>{{1150,390},{48,382}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,382}}</string>
        <key>sourceSize</key>
        <string>{48,382}</string>
      </dict>
      <key>obj200_002557.png</key>
      <dict>
        <key>frame</key>
        <string>{{1000,677},{48,401}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,401}}</string>
        <key>sourceSize</key>
        <string>{48,401}</string>
      </dict>
      <key>obj200_002558.png</key>
      <dict>
        <key>frame</key>
        <string>{{1100,394},{48,198}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,198}}</string>
        <key>sourceSize</key>
        <string>{48,198}</string>
      </dict>
      <key>obj200_002559.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,1203},{48,110}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,110}}</string>
        <key>sourceSize</key>
        <string>{48,110}</string>
      </dict>
      <key>obj200_002560.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,852},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_002561.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,886},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_002562.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,920},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_002563.png</key>
      <dict>
        <key>frame</key>
        <string>{{1000,1080},{48,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,400}}</string>
        <key>sourceSize</key>
        <string>{48,400}</string>
      </dict>
      <key>obj200_002564.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,1095},{48,409}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,409}}</string>
        <key>sourceSize</key>
        <string>{48,409}</string>
      </dict>
      <key>obj200_002565.png</key>
      <dict>
        <key>frame</key>
        <string>{{1100,650},{48,396}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,396}}</string>
        <key>sourceSize</key>
        <string>{48,396}</string>
      </dict>
      <key>obj200_002566.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,1651},{48,395}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,395}}</string>
        <key>sourceSize</key>
        <string>{48,395}</string>
      </dict>
      <key>obj200_002567.png</key>
      <dict>
        <key>frame</key>
        <string>{{1103,1479},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_002568.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,1111},{48,417}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,417}}</string>
        <key>sourceSize</key>
        <string>{48,417}</string>
      </dict>
      <key>obj200_002569.png</key>
      <dict>
        <key>frame</key>
        <string>{{1050,1080},{48,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,400}}</string>
        <key>sourceSize</key>
        <string>{48,400}</string>
      </dict>
      <key>obj200_002570.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,1530},{48,415}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,415}}</string>
        <key>sourceSize</key>
        <string>{48,415}</string>
      </dict>
      <key>obj200_002571.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,1530},{48,417}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,417}}</string>
        <key>sourceSize</key>
        <string>{48,417}</string>
      </dict>
      <key>obj200_002572.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,1638},{48,404}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,404}}</string>
        <key>sourceSize</key>
        <string>{48,404}</string>
      </dict>
      <key>obj200_002573.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,690},{48,419}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,419}}</string>
        <key>sourceSize</key>
        <string>{48,419}</string>
      </dict>
      <key>obj200_002574.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,677},{48,403}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,403}}</string>
        <key>sourceSize</key>
        <string>{48,403}</string>
      </dict>
      <key>obj200_002575.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,682},{48,411}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,411}}</string>
        <key>sourceSize</key>
        <string>{48,411}</string>
      </dict>
      <key>obj200_002576.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,1506},{48,401}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,401}}</string>
        <key>sourceSize</key>
        <string>{48,401}</string>
      </dict>
      <key>obj200_002577.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,1095},{48,409}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,409}}</string>
        <key>sourceSize</key>
        <string>{48,409}</string>
      </dict>
      <key>obj200_002578.png</key>
      <dict>
        <key>frame</key>
        <string>{{1106,1479},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_002579.png</key>
      <dict>
        <key>frame</key>
        <string>{{1000,1506},{48,401}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,401}}</string>
        <key>sourceSize</key>
        <string>{48,401}</string>
      </dict>
      <key>obj200_002580.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,1660},{48,386}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,386}}</string>
        <key>sourceSize</key>
        <string>{48,386}</string>
      </dict>
      <key>obj200_002581.png</key>
      <dict>
        <key>frame</key>
        <string>{{1150,0},{48,388}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,388}}</string>
        <key>sourceSize</key>
        <string>{48,388}</string>
      </dict>
      <key>obj200_002582.png</key>
      <dict>
        <key>frame</key>
        <string>{{1050,1482},{48,396}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,396}}</string>
        <key>sourceSize</key>
        <string>{48,396}</string>
      </dict>
      <key>obj200_002583.png</key>
      <dict>
        <key>frame</key>
        <string>{{1100,1048},{48,395}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,395}}</string>
        <key>sourceSize</key>
        <string>{48,395}</string>
      </dict>
      <key>obj200_002584.png</key>
      <dict>
        <key>frame</key>
        <string>{{1100,1482},{48,396}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,396}}</string>
        <key>sourceSize</key>
        <string>{48,396}</string>
      </dict>
      <key>obj200_002585.png</key>
      <dict>
        <key>frame</key>
        <string>{{1150,1048},{48,395}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,395}}</string>
        <key>sourceSize</key>
        <string>{48,395}</string>
      </dict>
      <key>obj200_002586.png</key>
      <dict>
        <key>frame</key>
        <string>{{1100,0},{48,392}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,392}}</string>
        <key>sourceSize</key>
        <string>{48,392}</string>
      </dict>
      <key>obj200_002587.png</key>
      <dict>
        <key>frame</key>
        <string>{{1050,650},{48,399}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,399}}</string>
        <key>sourceSize</key>
        <string>{48,399}</string>
      </dict>
      <key>obj200_002588.png</key>
      <dict>
        <key>frame</key>
        <string>{{1150,1445},{48,395}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,395}}</string>
        <key>sourceSize</key>
        <string>{48,395}</string>
      </dict>
      <key>obj200_002589.png</key>
      <dict>
        <key>frame</key>
        <string>{{1109,1479},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_002590.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,1551},{48,482}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,482}}</string>
        <key>sourceSize</key>
        <string>{48,482}</string>
      </dict>
      <key>obj200_002591.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,1457},{48,551}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,551}}</string>
        <key>sourceSize</key>
        <string>{48,551}</string>
      </dict>
      <key>obj200_002592.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,1497},{48,522}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,522}}</string>
        <key>sourceSize</key>
        <string>{48,522}</string>
      </dict>
      <key>obj200_002593.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,1495},{48,523}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,523}}</string>
        <key>sourceSize</key>
        <string>{48,523}</string>
      </dict>
      <key>obj200_002594.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,1465},{48,545}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,545}}</string>
        <key>sourceSize</key>
        <string>{48,545}</string>
      </dict>
      <key>obj200_002595.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,1404},{48,631}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,631}}</string>
        <key>sourceSize</key>
        <string>{48,631}</string>
      </dict>
      <key>obj200_002596.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,0},{48,754}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,754}}</string>
        <key>sourceSize</key>
        <string>{48,754}</string>
      </dict>
      <key>obj200_002597.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,0},{48,775}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,775}}</string>
        <key>sourceSize</key>
        <string>{48,775}</string>
      </dict>
      <key>obj200_002598.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,0},{48,850}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,850}}</string>
        <key>sourceSize</key>
        <string>{48,850}</string>
      </dict>
      <key>obj200_002599.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,0},{48,788}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,788}}</string>
        <key>sourceSize</key>
        <string>{48,788}</string>
      </dict>
      <key>obj200_002600.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,777},{48,774}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,774}}</string>
        <key>sourceSize</key>
        <string>{48,774}</string>
      </dict>
      <key>obj200_002601.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,0},{48,775}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,775}}</string>
        <key>sourceSize</key>
        <string>{48,775}</string>
      </dict>
      <key>obj200_002602.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,704},{48,697}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,697}}</string>
        <key>sourceSize</key>
        <string>{48,697}</string>
      </dict>
      <key>obj200_002603.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,0},{48,697}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,697}}</string>
        <key>sourceSize</key>
        <string>{48,697}</string>
      </dict>
      <key>obj200_002604.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,704},{48,698}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,698}}</string>
        <key>sourceSize</key>
        <string>{48,698}</string>
      </dict>
      <key>obj200_002605.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,756},{48,739}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,739}}</string>
        <key>sourceSize</key>
        <string>{48,739}</string>
      </dict>
      <key>obj200_002606.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,0},{48,680}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,680}}</string>
        <key>sourceSize</key>
        <string>{48,680}</string>
      </dict>
      <key>obj200_002607.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,0},{48,702}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,702}}</string>
        <key>sourceSize</key>
        <string>{48,702}</string>
      </dict>
      <key>obj200_002608.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,736},{48,727}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,727}}</string>
        <key>sourceSize</key>
        <string>{48,727}</string>
      </dict>
      <key>obj200_002609.png</key>
      <dict>
        <key>frame</key>
        <string>{{1200,1445},{48,395}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,395}}</string>
        <key>sourceSize</key>
        <string>{48,395}</string>
      </dict>
      <key>obj200_002610.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,1858},{48,140}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,140}}</string>
        <key>sourceSize</key>
        <string>{48,140}</string>
      </dict>
      <key>obj200_002611.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1906},{48,119}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,119}}</string>
        <key>sourceSize</key>
        <string>{48,119}</string>
      </dict>
      <key>obj200_002612.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,1949},{48,97}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,97}}</string>
        <key>sourceSize</key>
        <string>{48,97}</string>
      </dict>
      <key>obj200_002613.png</key>
      <dict>
        <key>frame</key>
        <string>{{1200,390},{48,289}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,289}}</string>
        <key>sourceSize</key>
        <string>{48,289}</string>
      </dict>
      <key>obj200_002614.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,954},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_002615.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,2012},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_002616.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,2012},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_002617.png</key>
      <dict>
        <key>frame</key>
        <string>{{1100,1445},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_002618.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,1157},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_002619.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,2000},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_002620.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,1949},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_002621.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,1983},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_002622.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,1983},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_002623.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,1909},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_002624.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,1943},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_002625.png</key>
      <dict>
        <key>frame</key>
        <string>{{1000,1943},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_002626.png</key>
      <dict>
        <key>frame</key>
        <string>{{1112,1479},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_002627.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,690},{48,431}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,431}}</string>
        <key>sourceSize</key>
        <string>{48,431}</string>
      </dict>
      <key>obj200_002628.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,1403},{48,618}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,618}}</string>
        <key>sourceSize</key>
        <string>{48,618}</string>
      </dict>
      <key>obj200_002629.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,0},{48,763}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,763}}</string>
        <key>sourceSize</key>
        <string>{48,763}</string>
      </dict>
      <key>obj200_002630.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,0},{48,735}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,735}}</string>
        <key>sourceSize</key>
        <string>{48,735}</string>
      </dict>
      <key>obj200_002631.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,736},{48,719}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,719}}</string>
        <key>sourceSize</key>
        <string>{48,719}</string>
      </dict>
      <key>obj200_002632.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,0},{48,693}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,693}}</string>
        <key>sourceSize</key>
        <string>{48,693}</string>
      </dict>
      <key>obj200_002633.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,0},{48,709}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,709}}</string>
        <key>sourceSize</key>
        <string>{48,709}</string>
      </dict>
      <key>obj200_002634.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,784},{48,778}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,778}}</string>
        <key>sourceSize</key>
        <string>{48,778}</string>
      </dict>
      <key>obj200_002635.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,848},{48,801}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,801}}</string>
        <key>sourceSize</key>
        <string>{48,801}</string>
      </dict>
      <key>obj200_002636.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,0},{48,846}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,846}}</string>
        <key>sourceSize</key>
        <string>{48,846}</string>
      </dict>
      <key>obj200_002637.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,777},{48,772}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,772}}</string>
        <key>sourceSize</key>
        <string>{48,772}</string>
      </dict>
      <key>obj200_002638.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,0},{48,782}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,782}}</string>
        <key>sourceSize</key>
        <string>{48,782}</string>
      </dict>
      <key>obj200_002639.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,784},{48,782}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,782}}</string>
        <key>sourceSize</key>
        <string>{48,782}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>obj200_23.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>obj200_23.png</string>
    </dict>
  </dict>
</plist>