<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>obj200_007260.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,542},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_007261.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,475},{48,457}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,457}}</string>
        <key>sourceSize</key>
        <string>{48,457}</string>
      </dict>
      <key>obj200_007262.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,0},{48,422}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,422}}</string>
        <key>sourceSize</key>
        <string>{48,422}</string>
      </dict>
      <key>obj200_007263.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,0},{48,348}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,348}}</string>
        <key>sourceSize</key>
        <string>{48,348}</string>
      </dict>
      <key>obj200_007264.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,560},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_007265.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,576},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_007266.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,557},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_007267.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,591},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_007268.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,592},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_007269.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{48,764}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,764}}</string>
        <key>sourceSize</key>
        <string>{48,764}</string>
      </dict>
      <key>obj200_007270.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,0},{48,473}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,473}}</string>
        <key>sourceSize</key>
        <string>{48,473}</string>
      </dict>
      <key>obj200_007271.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,525},{48,474}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,474}}</string>
        <key>sourceSize</key>
        <string>{48,474}</string>
      </dict>
      <key>obj200_007272.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,625},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_007273.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,627},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_007274.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,374},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_007275.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,805},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_007276.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,805},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_007277.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,426},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_007278.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,476},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_007279.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,839},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_007280.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,0},{48,474}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,474}}</string>
        <key>sourceSize</key>
        <string>{48,474}</string>
      </dict>
      <key>obj200_007281.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,525},{48,484}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,484}}</string>
        <key>sourceSize</key>
        <string>{48,484}</string>
      </dict>
      <key>obj200_007282.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,0},{48,523}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,523}}</string>
        <key>sourceSize</key>
        <string>{48,523}</string>
      </dict>
      <key>obj200_007283.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,839},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_007284.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,934},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_007285.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,934},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_007286.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,968},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_007287.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,968},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_007288.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,475},{48,457}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,457}}</string>
        <key>sourceSize</key>
        <string>{48,457}</string>
      </dict>
      <key>obj200_007289.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,424},{48,422}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,422}}</string>
        <key>sourceSize</key>
        <string>{48,422}</string>
      </dict>
      <key>obj200_007290.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,0},{48,348}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,348}}</string>
        <key>sourceSize</key>
        <string>{48,348}</string>
      </dict>
      <key>obj200_007291.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,895},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_007292.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,929},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_007293.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,963},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_007294.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,963},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_007295.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,895},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_007296.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,0},{48,332}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,332}}</string>
        <key>sourceSize</key>
        <string>{48,332}</string>
      </dict>
      <key>obj200_007297.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,408},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_007298.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,0},{48,319}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,319}}</string>
        <key>sourceSize</key>
        <string>{48,319}</string>
      </dict>
      <key>obj200_007299.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,424},{48,417}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,417}}</string>
        <key>sourceSize</key>
        <string>{48,417}</string>
      </dict>
      <key>obj200_007300.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,0},{48,424}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,424}}</string>
        <key>sourceSize</key>
        <string>{48,424}</string>
      </dict>
      <key>obj200_007301.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,0},{48,411}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,411}}</string>
        <key>sourceSize</key>
        <string>{48,411}</string>
      </dict>
      <key>obj200_007302.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,0},{48,409}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,409}}</string>
        <key>sourceSize</key>
        <string>{48,409}</string>
      </dict>
      <key>obj200_007303.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,411},{48,392}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,392}}</string>
        <key>sourceSize</key>
        <string>{48,392}</string>
      </dict>
      <key>obj200_007304.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,0},{48,311}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,311}}</string>
        <key>sourceSize</key>
        <string>{48,311}</string>
      </dict>
      <key>obj200_007305.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,346},{48,194}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,194}}</string>
        <key>sourceSize</key>
        <string>{48,194}</string>
      </dict>
      <key>obj200_007306.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,895},{48,124}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,124}}</string>
        <key>sourceSize</key>
        <string>{48,124}</string>
      </dict>
      <key>obj200_007307.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,929},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_007308.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,929},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_007309.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,895},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_007310.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,895},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_007311.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,963},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_007312.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,963},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_007313.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,929},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_007314.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,929},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_007315.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,895},{48,110}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,110}}</string>
        <key>sourceSize</key>
        <string>{48,110}</string>
      </dict>
      <key>obj200_007316.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,546},{48,79}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,79}}</string>
        <key>sourceSize</key>
        <string>{48,79}</string>
      </dict>
      <key>obj200_007317.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,511},{48,79}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,79}}</string>
        <key>sourceSize</key>
        <string>{48,79}</string>
      </dict>
      <key>obj200_007318.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,895},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_007319.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,350},{48,107}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,107}}</string>
        <key>sourceSize</key>
        <string>{48,107}</string>
      </dict>
      <key>obj200_007320.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,609},{48,284}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,284}}</string>
        <key>sourceSize</key>
        <string>{48,284}</string>
      </dict>
      <key>obj200_007321.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,0},{48,344}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,344}}</string>
        <key>sourceSize</key>
        <string>{48,344}</string>
      </dict>
      <key>obj200_007322.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,0},{48,372}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,372}}</string>
        <key>sourceSize</key>
        <string>{48,372}</string>
      </dict>
      <key>obj200_007323.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,411},{48,373}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,373}}</string>
        <key>sourceSize</key>
        <string>{48,373}</string>
      </dict>
      <key>obj200_007324.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,0},{48,347}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,347}}</string>
        <key>sourceSize</key>
        <string>{48,347}</string>
      </dict>
      <key>obj200_007325.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,313},{48,294}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,294}}</string>
        <key>sourceSize</key>
        <string>{48,294}</string>
      </dict>
      <key>obj200_007326.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,322},{48,253}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,253}}</string>
        <key>sourceSize</key>
        <string>{48,253}</string>
      </dict>
      <key>obj200_007327.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,843},{48,152}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,152}}</string>
        <key>sourceSize</key>
        <string>{48,152}</string>
      </dict>
      <key>obj200_007328.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,895},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_007329.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,963},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_007330.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,963},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_007331.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,929},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_007332.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,929},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_007333.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,895},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_007334.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,895},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_007335.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,322},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_007336.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,611},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_007337.png</key>
      <dict>
        <key>frame</key>
        <string>{{403,408},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_007338.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,350},{48,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,96}}</string>
        <key>sourceSize</key>
        <string>{48,96}</string>
      </dict>
      <key>obj200_007339.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,349},{48,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj200_007340.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,766},{48,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,256}}</string>
        <key>sourceSize</key>
        <string>{48,256}</string>
      </dict>
      <key>obj200_007341.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,0},{48,320}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,320}}</string>
        <key>sourceSize</key>
        <string>{48,320}</string>
      </dict>
      <key>obj200_007342.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,0},{48,320}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,320}}</string>
        <key>sourceSize</key>
        <string>{48,320}</string>
      </dict>
      <key>obj200_007343.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,0},{48,320}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,320}}</string>
        <key>sourceSize</key>
        <string>{48,320}</string>
      </dict>
      <key>obj200_007344.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,321},{48,288}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,288}}</string>
        <key>sourceSize</key>
        <string>{48,288}</string>
      </dict>
      <key>obj200_007345.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,334},{48,224}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj200_007346.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,848},{48,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj200_007347.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,448},{48,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,96}}</string>
        <key>sourceSize</key>
        <string>{48,96}</string>
      </dict>
      <key>obj200_007348.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,0},{48,320}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,320}}</string>
        <key>sourceSize</key>
        <string>{48,320}</string>
      </dict>
      <key>obj200_007349.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,459},{48,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,96}}</string>
        <key>sourceSize</key>
        <string>{48,96}</string>
      </dict>
      <key>obj200_007350.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,848},{48,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj200_007351.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,645},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_007352.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,679},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_007353.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,713},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_007354.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,747},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_007355.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,781},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_007356.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,815},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_007357.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,849},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_007358.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,883},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_007359.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,849},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_007360.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,895},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_007361.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,917},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_007362.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,929},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_007363.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,929},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_007364.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,951},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_007365.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,985},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_007366.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,963},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_007367.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,985},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_007368.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,985},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_007369.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,781},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>obj200_66.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>obj200_66.png</string>
    </dict>
  </dict>
</plist>