<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>obj200_001870.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,549},{48,198}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,198}}</string>
        <key>sourceSize</key>
        <string>{48,198}</string>
      </dict>
      <key>obj200_001871.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,544},{48,199}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,199}}</string>
        <key>sourceSize</key>
        <string>{48,199}</string>
      </dict>
      <key>obj200_001872.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,334},{48,208}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,208}}</string>
        <key>sourceSize</key>
        <string>{48,208}</string>
      </dict>
      <key>obj200_001873.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,299},{48,263}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,263}}</string>
        <key>sourceSize</key>
        <string>{48,263}</string>
      </dict>
      <key>obj200_001874.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,303},{48,263}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,263}}</string>
        <key>sourceSize</key>
        <string>{48,263}</string>
      </dict>
      <key>obj200_001875.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,0},{48,292}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,292}}</string>
        <key>sourceSize</key>
        <string>{48,292}</string>
      </dict>
      <key>obj200_001876.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,921},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_001877.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{48,561}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,561}}</string>
        <key>sourceSize</key>
        <string>{48,561}</string>
      </dict>
      <key>obj200_001878.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,0},{48,509}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,509}}</string>
        <key>sourceSize</key>
        <string>{48,509}</string>
      </dict>
      <key>obj200_001879.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,515},{48,498}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,498}}</string>
        <key>sourceSize</key>
        <string>{48,498}</string>
      </dict>
      <key>obj200_001880.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,535},{48,484}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,484}}</string>
        <key>sourceSize</key>
        <string>{48,484}</string>
      </dict>
      <key>obj200_001881.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,530},{48,486}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,486}}</string>
        <key>sourceSize</key>
        <string>{48,486}</string>
      </dict>
      <key>obj200_001882.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,0},{48,518}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,518}}</string>
        <key>sourceSize</key>
        <string>{48,518}</string>
      </dict>
      <key>obj200_001883.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,0},{48,534}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,534}}</string>
        <key>sourceSize</key>
        <string>{48,534}</string>
      </dict>
      <key>obj200_001884.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,0},{48,542}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,542}}</string>
        <key>sourceSize</key>
        <string>{48,542}</string>
      </dict>
      <key>obj200_001885.png</key>
      <dict>
        <key>frame</key>
        <string>{{953,921},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_001886.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,0},{48,559}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,559}}</string>
        <key>sourceSize</key>
        <string>{48,559}</string>
      </dict>
      <key>obj200_001887.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,0},{48,545}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,545}}</string>
        <key>sourceSize</key>
        <string>{48,545}</string>
      </dict>
      <key>obj200_001888.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,865},{48,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,96}}</string>
        <key>sourceSize</key>
        <string>{48,96}</string>
      </dict>
      <key>obj200_001889.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,963},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_001890.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,961},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_001891.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,961},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_001892.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,0},{48,352}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,352}}</string>
        <key>sourceSize</key>
        <string>{48,352}</string>
      </dict>
      <key>obj200_001893.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,984},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_001894.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,984},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_001895.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,980},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_001896.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,980},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_001897.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,978},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_001898.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,0},{48,381}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,381}}</string>
        <key>sourceSize</key>
        <string>{48,381}</string>
      </dict>
      <key>obj200_001899.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,465},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_001900.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,924},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_001901.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,924},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_001902.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,958},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_001903.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,563},{48,396}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,396}}</string>
        <key>sourceSize</key>
        <string>{48,396}</string>
      </dict>
      <key>obj200_001904.png</key>
      <dict>
        <key>frame</key>
        <string>{{1000,0},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_001905.png</key>
      <dict>
        <key>frame</key>
        <string>{{1050,0},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_001906.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,547},{48,450}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,450}}</string>
        <key>sourceSize</key>
        <string>{48,450}</string>
      </dict>
      <key>obj200_001907.png</key>
      <dict>
        <key>frame</key>
        <string>{{1100,0},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_001908.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,544},{48,460}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,460}}</string>
        <key>sourceSize</key>
        <string>{48,460}</string>
      </dict>
      <key>obj200_001909.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,511},{48,508}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,508}}</string>
        <key>sourceSize</key>
        <string>{48,508}</string>
      </dict>
      <key>obj200_001910.png</key>
      <dict>
        <key>frame</key>
        <string>{{956,921},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_001911.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,0},{48,528}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,528}}</string>
        <key>sourceSize</key>
        <string>{48,528}</string>
      </dict>
      <key>obj200_001912.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,0},{48,513}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,513}}</string>
        <key>sourceSize</key>
        <string>{48,513}</string>
      </dict>
      <key>obj200_001913.png</key>
      <dict>
        <key>frame</key>
        <string>{{1150,0},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_001914.png</key>
      <dict>
        <key>frame</key>
        <string>{{1200,0},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_001915.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,536},{48,472}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,472}}</string>
        <key>sourceSize</key>
        <string>{48,472}</string>
      </dict>
      <key>obj200_001916.png</key>
      <dict>
        <key>frame</key>
        <string>{{1250,0},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_001917.png</key>
      <dict>
        <key>frame</key>
        <string>{{1300,0},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_001918.png</key>
      <dict>
        <key>frame</key>
        <string>{{1350,0},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_001919.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,561},{48,421}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,421}}</string>
        <key>sourceSize</key>
        <string>{48,421}</string>
      </dict>
      <key>obj200_001920.png</key>
      <dict>
        <key>frame</key>
        <string>{{1400,0},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_001921.png</key>
      <dict>
        <key>frame</key>
        <string>{{1450,0},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_001922.png</key>
      <dict>
        <key>frame</key>
        <string>{{1500,0},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_001923.png</key>
      <dict>
        <key>frame</key>
        <string>{{1550,0},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_001924.png</key>
      <dict>
        <key>frame</key>
        <string>{{1600,0},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_001925.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,0},{48,332}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,332}}</string>
        <key>sourceSize</key>
        <string>{48,332}</string>
      </dict>
      <key>obj200_001926.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,721},{48,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,128}}</string>
        <key>sourceSize</key>
        <string>{48,128}</string>
      </dict>
      <key>obj200_001927.png</key>
      <dict>
        <key>frame</key>
        <string>{{1650,0},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_001928.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,0},{48,326}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,326}}</string>
        <key>sourceSize</key>
        <string>{48,326}</string>
      </dict>
      <key>obj200_001929.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,520},{48,493}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,493}}</string>
        <key>sourceSize</key>
        <string>{48,493}</string>
      </dict>
      <key>obj200_001930.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,0},{48,533}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,533}}</string>
        <key>sourceSize</key>
        <string>{48,533}</string>
      </dict>
      <key>obj200_001931.png</key>
      <dict>
        <key>frame</key>
        <string>{{959,921},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_001932.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,854},{48,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,68}}</string>
        <key>sourceSize</key>
        <string>{48,68}</string>
      </dict>
      <key>obj200_001933.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,850},{48,69}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,69}}</string>
        <key>sourceSize</key>
        <string>{48,69}</string>
      </dict>
      <key>obj200_001934.png</key>
      <dict>
        <key>frame</key>
        <string>{{962,921},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_001935.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,866},{48,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,88}}</string>
        <key>sourceSize</key>
        <string>{48,88}</string>
      </dict>
      <key>obj200_001936.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,719},{48,133}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,133}}</string>
        <key>sourceSize</key>
        <string>{48,133}</string>
      </dict>
      <key>obj200_001937.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,713},{48,135}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,135}}</string>
        <key>sourceSize</key>
        <string>{48,135}</string>
      </dict>
      <key>obj200_001938.png</key>
      <dict>
        <key>frame</key>
        <string>{{965,921},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_001939.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,956},{48,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,51}}</string>
        <key>sourceSize</key>
        <string>{48,51}</string>
      </dict>
      <key>obj200_001940.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,755},{48,155}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,155}}</string>
        <key>sourceSize</key>
        <string>{48,155}</string>
      </dict>
      <key>obj200_001941.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,762},{48,101}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,101}}</string>
        <key>sourceSize</key>
        <string>{48,101}</string>
      </dict>
      <key>obj200_001942.png</key>
      <dict>
        <key>frame</key>
        <string>{{968,921},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_001943.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,851},{48,125}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,125}}</string>
        <key>sourceSize</key>
        <string>{48,125}</string>
      </dict>
      <key>obj200_001944.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,856},{48,122}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,122}}</string>
        <key>sourceSize</key>
        <string>{48,122}</string>
      </dict>
      <key>obj200_001945.png</key>
      <dict>
        <key>frame</key>
        <string>{{971,921},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_001946.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,294},{48,272}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,272}}</string>
        <key>sourceSize</key>
        <string>{48,272}</string>
      </dict>
      <key>obj200_001947.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,0},{48,337}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,337}}</string>
        <key>sourceSize</key>
        <string>{48,337}</string>
      </dict>
      <key>obj200_001948.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,511},{48,383}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,383}}</string>
        <key>sourceSize</key>
        <string>{48,383}</string>
      </dict>
      <key>obj200_001949.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,0},{48,371}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,371}}</string>
        <key>sourceSize</key>
        <string>{48,371}</string>
      </dict>
      <key>obj200_001950.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,0},{48,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,360}}</string>
        <key>sourceSize</key>
        <string>{48,360}</string>
      </dict>
      <key>obj200_001951.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,0},{48,297}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,297}}</string>
        <key>sourceSize</key>
        <string>{48,297}</string>
      </dict>
      <key>obj200_001952.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,328},{48,245}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,245}}</string>
        <key>sourceSize</key>
        <string>{48,245}</string>
      </dict>
      <key>obj200_001953.png</key>
      <dict>
        <key>frame</key>
        <string>{{974,921},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_001954.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,580},{48,173}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,173}}</string>
        <key>sourceSize</key>
        <string>{48,173}</string>
      </dict>
      <key>obj200_001955.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,339},{48,208}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,208}}</string>
        <key>sourceSize</key>
        <string>{48,208}</string>
      </dict>
      <key>obj200_001956.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,373},{48,205}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,205}}</string>
        <key>sourceSize</key>
        <string>{48,205}</string>
      </dict>
      <key>obj200_001957.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,354},{48,208}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,208}}</string>
        <key>sourceSize</key>
        <string>{48,208}</string>
      </dict>
      <key>obj200_001958.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,0},{48,301}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,301}}</string>
        <key>sourceSize</key>
        <string>{48,301}</string>
      </dict>
      <key>obj200_001959.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,745},{48,125}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,125}}</string>
        <key>sourceSize</key>
        <string>{48,125}</string>
      </dict>
      <key>obj200_001960.png</key>
      <dict>
        <key>frame</key>
        <string>{{977,921},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_001961.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,961},{48,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,58}}</string>
        <key>sourceSize</key>
        <string>{48,58}</string>
      </dict>
      <key>obj200_001962.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,575},{48,150}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,150}}</string>
        <key>sourceSize</key>
        <string>{48,150}</string>
      </dict>
      <key>obj200_001963.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,568},{48,151}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,151}}</string>
        <key>sourceSize</key>
        <string>{48,151}</string>
      </dict>
      <key>obj200_001964.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,727},{48,127}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,127}}</string>
        <key>sourceSize</key>
        <string>{48,127}</string>
      </dict>
      <key>obj200_001965.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,865},{48,94}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,94}}</string>
        <key>sourceSize</key>
        <string>{48,94}</string>
      </dict>
      <key>obj200_001966.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,749},{48,114}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,114}}</string>
        <key>sourceSize</key>
        <string>{48,114}</string>
      </dict>
      <key>obj200_001967.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,564},{48,190}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,190}}</string>
        <key>sourceSize</key>
        <string>{48,190}</string>
      </dict>
      <key>obj200_001968.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,570},{48,190}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,190}}</string>
        <key>sourceSize</key>
        <string>{48,190}</string>
      </dict>
      <key>obj200_001969.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,564},{48,153}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,153}}</string>
        <key>sourceSize</key>
        <string>{48,153}</string>
      </dict>
      <key>obj200_001970.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,383},{48,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,80}}</string>
        <key>sourceSize</key>
        <string>{48,80}</string>
      </dict>
      <key>obj200_001971.png</key>
      <dict>
        <key>frame</key>
        <string>{{980,921},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_001972.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,896},{48,86}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,86}}</string>
        <key>sourceSize</key>
        <string>{48,86}</string>
      </dict>
      <key>obj200_001973.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,912},{48,86}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,86}}</string>
        <key>sourceSize</key>
        <string>{48,86}</string>
      </dict>
      <key>obj200_001974.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,756},{48,108}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,108}}</string>
        <key>sourceSize</key>
        <string>{48,108}</string>
      </dict>
      <key>obj200_001975.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,872},{48,87}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,87}}</string>
        <key>sourceSize</key>
        <string>{48,87}</string>
      </dict>
      <key>obj200_001976.png</key>
      <dict>
        <key>frame</key>
        <string>{{983,921},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_001977.png</key>
      <dict>
        <key>frame</key>
        <string>{{1700,0},{48,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,47}}</string>
        <key>sourceSize</key>
        <string>{48,47}</string>
      </dict>
      <key>obj200_001978.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,568},{48,143}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,143}}</string>
        <key>sourceSize</key>
        <string>{48,143}</string>
      </dict>
      <key>obj200_001979.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,362},{48,206}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,206}}</string>
        <key>sourceSize</key>
        <string>{48,206}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>obj200_17.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>obj200_17.png</string>
    </dict>
  </dict>
</plist>