<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>obj208_000252.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,859},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj208_000253.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,601},{48,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,256}}</string>
        <key>sourceSize</key>
        <string>{48,256}</string>
      </dict>
      <key>obj208_000254.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,486},{48,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj208_000255.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,322},{48,162}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,162}}</string>
        <key>sourceSize</key>
        <string>{48,162}</string>
      </dict>
      <key>obj208_000256.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,611},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj208_000257.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,0},{48,319}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,319}}</string>
        <key>sourceSize</key>
        <string>{48,319}</string>
      </dict>
      <key>obj208_000258.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,612},{48,148}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,148}}</string>
        <key>sourceSize</key>
        <string>{48,148}</string>
      </dict>
      <key>obj208_000259.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,489},{48,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj208_000260.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,611},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj208_000261.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,0},{48,301}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,301}}</string>
        <key>sourceSize</key>
        <string>{48,301}</string>
      </dict>
      <key>obj208_000262.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,417},{48,191}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,191}}</string>
        <key>sourceSize</key>
        <string>{48,191}</string>
      </dict>
      <key>obj208_000263.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,645},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj208_000264.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,645},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj208_000265.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,310},{48,288}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,288}}</string>
        <key>sourceSize</key>
        <string>{48,288}</string>
      </dict>
      <key>obj208_000266.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,580},{48,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj208_000267.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,354},{48,240}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,240}}</string>
        <key>sourceSize</key>
        <string>{48,240}</string>
      </dict>
      <key>obj208_000268.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,648},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj208_000269.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,651},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj208_000270.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,600},{48,263}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,263}}</string>
        <key>sourceSize</key>
        <string>{48,263}</string>
      </dict>
      <key>obj208_000271.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,322},{48,165}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,165}}</string>
        <key>sourceSize</key>
        <string>{48,165}</string>
      </dict>
      <key>obj208_000272.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{48,415}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,415}}</string>
        <key>sourceSize</key>
        <string>{48,415}</string>
      </dict>
      <key>obj208_000273.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,679},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj208_000274.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,682},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj208_000275.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,321},{48,288}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,288}}</string>
        <key>sourceSize</key>
        <string>{48,288}</string>
      </dict>
      <key>obj208_000276.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,0},{48,384}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,384}}</string>
        <key>sourceSize</key>
        <string>{48,384}</string>
      </dict>
      <key>obj208_000277.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,685},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj208_000278.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,303},{48,296}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,296}}</string>
        <key>sourceSize</key>
        <string>{48,296}</string>
      </dict>
      <key>obj208_000279.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,596},{48,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj208_000280.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,0},{48,352}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,352}}</string>
        <key>sourceSize</key>
        <string>{48,352}</string>
      </dict>
      <key>obj208_000281.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,679},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj208_000282.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,0},{48,320}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,320}}</string>
        <key>sourceSize</key>
        <string>{48,320}</string>
      </dict>
      <key>obj208_000283.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,610},{48,191}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,191}}</string>
        <key>sourceSize</key>
        <string>{48,191}</string>
      </dict>
      <key>obj208_000284.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,0},{48,320}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,320}}</string>
        <key>sourceSize</key>
        <string>{48,320}</string>
      </dict>
      <key>obj208_000285.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,0},{48,320}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,320}}</string>
        <key>sourceSize</key>
        <string>{48,320}</string>
      </dict>
      <key>obj208_000286.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,0},{48,319}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,319}}</string>
        <key>sourceSize</key>
        <string>{48,319}</string>
      </dict>
      <key>obj208_000287.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,0},{48,308}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,308}}</string>
        <key>sourceSize</key>
        <string>{48,308}</string>
      </dict>
      <key>obj208_000288.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,321},{48,288}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,288}}</string>
        <key>sourceSize</key>
        <string>{48,288}</string>
      </dict>
      <key>obj208_000289.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,322},{48,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,256}}</string>
        <key>sourceSize</key>
        <string>{48,256}</string>
      </dict>
      <key>obj208_000290.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,386},{48,224}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>obj208_1.png</string>
      <key>size</key>
      <string>{512,1024}</string>
      <key>textureFileName</key>
      <string>obj208_1.png</string>
    </dict>
  </dict>
</plist>