<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>obj200_004400.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,0},{48,564}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,564}}</string>
        <key>sourceSize</key>
        <string>{48,564}</string>
      </dict>
      <key>obj200_004401.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,0},{48,500}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,500}}</string>
        <key>sourceSize</key>
        <string>{48,500}</string>
      </dict>
      <key>obj200_004402.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,585},{48,425}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,425}}</string>
        <key>sourceSize</key>
        <string>{48,425}</string>
      </dict>
      <key>obj200_004403.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,628},{48,362}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,362}}</string>
        <key>sourceSize</key>
        <string>{48,362}</string>
      </dict>
      <key>obj200_004404.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,919},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_004405.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,936},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_004406.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,691},{48,235}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,235}}</string>
        <key>sourceSize</key>
        <string>{48,235}</string>
      </dict>
      <key>obj200_004407.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,1021},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_004408.png</key>
      <dict>
        <key>frame</key>
        <string>{{103,1021},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_004409.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,320},{48,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,73}}</string>
        <key>sourceSize</key>
        <string>{48,73}</string>
      </dict>
      <key>obj200_004410.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,713},{48,234}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,234}}</string>
        <key>sourceSize</key>
        <string>{48,234}</string>
      </dict>
      <key>obj200_004411.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,0},{48,498}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,498}}</string>
        <key>sourceSize</key>
        <string>{48,498}</string>
      </dict>
      <key>obj200_004412.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,0},{48,562}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,562}}</string>
        <key>sourceSize</key>
        <string>{48,562}</string>
      </dict>
      <key>obj200_004413.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,0},{48,626}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,626}}</string>
        <key>sourceSize</key>
        <string>{48,626}</string>
      </dict>
      <key>obj200_004414.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,0},{48,689}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,689}}</string>
        <key>sourceSize</key>
        <string>{48,689}</string>
      </dict>
      <key>obj200_004415.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,0},{48,740}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,740}}</string>
        <key>sourceSize</key>
        <string>{48,740}</string>
      </dict>
      <key>obj200_004416.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,0},{48,728}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,728}}</string>
        <key>sourceSize</key>
        <string>{48,728}</string>
      </dict>
      <key>obj200_004417.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,0},{48,694}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,694}}</string>
        <key>sourceSize</key>
        <string>{48,694}</string>
      </dict>
      <key>obj200_004418.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,0},{48,711}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,711}}</string>
        <key>sourceSize</key>
        <string>{48,711}</string>
      </dict>
      <key>obj200_004419.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{48,743}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,743}}</string>
        <key>sourceSize</key>
        <string>{48,743}</string>
      </dict>
      <key>obj200_004420.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,0},{48,739}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,739}}</string>
        <key>sourceSize</key>
        <string>{48,739}</string>
      </dict>
      <key>obj200_004421.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,0},{48,743}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,743}}</string>
        <key>sourceSize</key>
        <string>{48,743}</string>
      </dict>
      <key>obj200_004422.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,0},{48,739}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,739}}</string>
        <key>sourceSize</key>
        <string>{48,739}</string>
      </dict>
      <key>obj200_004423.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,0},{48,743}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,743}}</string>
        <key>sourceSize</key>
        <string>{48,743}</string>
      </dict>
      <key>obj200_004424.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,936},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_004425.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,949},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_004426.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,942},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_004427.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,0},{48,583}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,583}}</string>
        <key>sourceSize</key>
        <string>{48,583}</string>
      </dict>
      <key>obj200_004428.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,0},{48,578}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,578}}</string>
        <key>sourceSize</key>
        <string>{48,578}</string>
      </dict>
      <key>obj200_004429.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,1021},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_004430.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,970},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_004431.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,928},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_004432.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,933},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_004433.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,949},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_004434.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,962},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_004435.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,967},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_004436.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,983},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_004437.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,983},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_004438.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,983},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_004439.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,163},{48,155}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,155}}</string>
        <key>sourceSize</key>
        <string>{48,155}</string>
      </dict>
      <key>obj200_004440.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,170},{48,144}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,144}}</string>
        <key>sourceSize</key>
        <string>{48,144}</string>
      </dict>
      <key>obj200_004441.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,0},{48,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj200_004442.png</key>
      <dict>
        <key>frame</key>
        <string>{{109,1021},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_004443.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,919},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_004444.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,919},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_004445.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,953},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_004446.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,953},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_004447.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,970},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_004448.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,987},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_004449.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,987},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_004450.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,983},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_004451.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,324},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_004452.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,316},{48,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,128}}</string>
        <key>sourceSize</key>
        <string>{48,128}</string>
      </dict>
      <key>obj200_004453.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,0},{48,168}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,168}}</string>
        <key>sourceSize</key>
        <string>{48,168}</string>
      </dict>
      <key>obj200_004454.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,742},{48,192}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj200_004455.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,1021},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_004456.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,358},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_004457.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,392},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_004458.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,395},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_004459.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,426},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_004460.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,429},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_004461.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,446},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_004462.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,460},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_004463.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,463},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_004464.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,480},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_004465.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,730},{48,210}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,210}}</string>
        <key>sourceSize</key>
        <string>{48,210}</string>
      </dict>
      <key>obj200_004466.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,745},{48,172}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,172}}</string>
        <key>sourceSize</key>
        <string>{48,172}</string>
      </dict>
      <key>obj200_004467.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,745},{48,172}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,172}}</string>
        <key>sourceSize</key>
        <string>{48,172}</string>
      </dict>
      <key>obj200_004468.png</key>
      <dict>
        <key>frame</key>
        <string>{{115,1021},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_004469.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,500},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_004470.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,502},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_004471.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,494},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_004472.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,497},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_004473.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,514},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_004474.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,534},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_004475.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,536},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_004476.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,564},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_004477.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,566},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_004478.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,162},{48,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj200_004479.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,741},{48,193}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,193}}</string>
        <key>sourceSize</key>
        <string>{48,193}</string>
      </dict>
      <key>obj200_004480.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,0},{48,161}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,161}}</string>
        <key>sourceSize</key>
        <string>{48,161}</string>
      </dict>
      <key>obj200_004481.png</key>
      <dict>
        <key>frame</key>
        <string>{{118,1021},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_004482.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,580},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_004483.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,528},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_004484.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,531},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_004485.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,548},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_004486.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,568},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_004487.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,570},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_004488.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,598},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_004489.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,600},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_004490.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,614},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_004491.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,745},{48,172}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,172}}</string>
        <key>sourceSize</key>
        <string>{48,172}</string>
      </dict>
      <key>obj200_004492.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,696},{48,235}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,235}}</string>
        <key>sourceSize</key>
        <string>{48,235}</string>
      </dict>
      <key>obj200_004493.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,741},{48,206}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,206}}</string>
        <key>sourceSize</key>
        <string>{48,206}</string>
      </dict>
      <key>obj200_004494.png</key>
      <dict>
        <key>frame</key>
        <string>{{121,1021},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_004495.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,562},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_004496.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,565},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_004497.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,582},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_004498.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,602},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_004499.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,604},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_004500.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,632},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_004501.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,634},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_004502.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,648},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_004503.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,596},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_004504.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,599},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_004505.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,616},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_004506.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,636},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_004507.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,638},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_004508.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,666},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_004509.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,668},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>obj200_40.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>obj200_40.png</string>
    </dict>
  </dict>
</plist>