<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>obj200_002200.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,960},{48,377}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,377}}</string>
        <key>sourceSize</key>
        <string>{48,377}</string>
      </dict>
      <key>obj200_002201.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,1597},{48,428}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,428}}</string>
        <key>sourceSize</key>
        <string>{48,428}</string>
      </dict>
      <key>obj200_002202.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,652},{48,397}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,397}}</string>
        <key>sourceSize</key>
        <string>{48,397}</string>
      </dict>
      <key>obj200_002203.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,1088},{48,383}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,383}}</string>
        <key>sourceSize</key>
        <string>{48,383}</string>
      </dict>
      <key>obj200_002204.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1051},{48,384}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,384}}</string>
        <key>sourceSize</key>
        <string>{48,384}</string>
      </dict>
      <key>obj200_002205.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,1339},{48,320}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,320}}</string>
        <key>sourceSize</key>
        <string>{48,320}</string>
      </dict>
      <key>obj200_002206.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,1625},{48,257}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,257}}</string>
        <key>sourceSize</key>
        <string>{48,257}</string>
      </dict>
      <key>obj200_002207.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,1074},{48,214}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,214}}</string>
        <key>sourceSize</key>
        <string>{48,214}</string>
      </dict>
      <key>obj200_002208.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,849},{48,231}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,231}}</string>
        <key>sourceSize</key>
        <string>{48,231}</string>
      </dict>
      <key>obj200_002209.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,1082},{48,135}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,135}}</string>
        <key>sourceSize</key>
        <string>{48,135}</string>
      </dict>
      <key>obj200_002210.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,1283},{48,97}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,97}}</string>
        <key>sourceSize</key>
        <string>{48,97}</string>
      </dict>
      <key>obj200_002211.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,1281},{48,321}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,321}}</string>
        <key>sourceSize</key>
        <string>{48,321}</string>
      </dict>
      <key>obj200_002212.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,582},{48,351}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,351}}</string>
        <key>sourceSize</key>
        <string>{48,351}</string>
      </dict>
      <key>obj200_002213.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,1345},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_002214.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,1374},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_002215.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,1302},{48,321}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,321}}</string>
        <key>sourceSize</key>
        <string>{48,321}</string>
      </dict>
      <key>obj200_002216.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,606},{48,351}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,351}}</string>
        <key>sourceSize</key>
        <string>{48,351}</string>
      </dict>
      <key>obj200_002217.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,1379},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_002218.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,1382},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_002219.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,2045},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_002220.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,1219},{48,124}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,124}}</string>
        <key>sourceSize</key>
        <string>{48,124}</string>
      </dict>
      <key>obj200_002221.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,1768},{48,242}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,242}}</string>
        <key>sourceSize</key>
        <string>{48,242}</string>
      </dict>
      <key>obj200_002222.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,1078},{48,366}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,366}}</string>
        <key>sourceSize</key>
        <string>{48,366}</string>
      </dict>
      <key>obj200_002223.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,606},{48,340}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,340}}</string>
        <key>sourceSize</key>
        <string>{48,340}</string>
      </dict>
      <key>obj200_002224.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,608},{48,239}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,239}}</string>
        <key>sourceSize</key>
        <string>{48,239}</string>
      </dict>
      <key>obj200_002225.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,608},{48,240}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,240}}</string>
        <key>sourceSize</key>
        <string>{48,240}</string>
      </dict>
      <key>obj200_002226.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,850},{48,222}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,222}}</string>
        <key>sourceSize</key>
        <string>{48,222}</string>
      </dict>
      <key>obj200_002227.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,948},{48,197}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,197}}</string>
        <key>sourceSize</key>
        <string>{48,197}</string>
      </dict>
      <key>obj200_002228.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,935},{48,331}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,331}}</string>
        <key>sourceSize</key>
        <string>{48,331}</string>
      </dict>
      <key>obj200_002229.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,579},{48,366}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,366}}</string>
        <key>sourceSize</key>
        <string>{48,366}</string>
      </dict>
      <key>obj200_002230.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,1408},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_002231.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,948},{48,331}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,331}}</string>
        <key>sourceSize</key>
        <string>{48,331}</string>
      </dict>
      <key>obj200_002232.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,580},{48,366}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,366}}</string>
        <key>sourceSize</key>
        <string>{48,366}</string>
      </dict>
      <key>obj200_002233.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,1413},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_002234.png</key>
      <dict>
        <key>frame</key>
        <string>{{253,2045},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_002235.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,947},{48,353}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,353}}</string>
        <key>sourceSize</key>
        <string>{48,353}</string>
      </dict>
      <key>obj200_002236.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,1578},{48,280}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,280}}</string>
        <key>sourceSize</key>
        <string>{48,280}</string>
      </dict>
      <key>obj200_002237.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,1446},{48,320}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,320}}</string>
        <key>sourceSize</key>
        <string>{48,320}</string>
      </dict>
      <key>obj200_002238.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,578},{48,380}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,380}}</string>
        <key>sourceSize</key>
        <string>{48,380}</string>
      </dict>
      <key>obj200_002239.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,1597},{48,446}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,446}}</string>
        <key>sourceSize</key>
        <string>{48,446}</string>
      </dict>
      <key>obj200_002240.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,567},{48,511}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,511}}</string>
        <key>sourceSize</key>
        <string>{48,511}</string>
      </dict>
      <key>obj200_002241.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,1061},{48,480}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,480}}</string>
        <key>sourceSize</key>
        <string>{48,480}</string>
      </dict>
      <key>obj200_002242.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,1543},{48,479}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,479}}</string>
        <key>sourceSize</key>
        <string>{48,479}</string>
      </dict>
      <key>obj200_002243.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,1085},{48,510}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,510}}</string>
        <key>sourceSize</key>
        <string>{48,510}</string>
      </dict>
      <key>obj200_002244.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,0},{48,543}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,543}}</string>
        <key>sourceSize</key>
        <string>{48,543}</string>
      </dict>
      <key>obj200_002245.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,0},{48,576}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,576}}</string>
        <key>sourceSize</key>
        <string>{48,576}</string>
      </dict>
      <key>obj200_002246.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,0},{48,604}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,604}}</string>
        <key>sourceSize</key>
        <string>{48,604}</string>
      </dict>
      <key>obj200_002247.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{48,650}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,650}}</string>
        <key>sourceSize</key>
        <string>{48,650}</string>
      </dict>
      <key>obj200_002248.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,0},{48,606}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,606}}</string>
        <key>sourceSize</key>
        <string>{48,606}</string>
      </dict>
      <key>obj200_002249.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,0},{48,565}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,565}}</string>
        <key>sourceSize</key>
        <string>{48,565}</string>
      </dict>
      <key>obj200_002250.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,0},{48,565}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,565}}</string>
        <key>sourceSize</key>
        <string>{48,565}</string>
      </dict>
      <key>obj200_002251.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,567},{48,531}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,531}}</string>
        <key>sourceSize</key>
        <string>{48,531}</string>
      </dict>
      <key>obj200_002252.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,1078},{48,461}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,461}}</string>
        <key>sourceSize</key>
        <string>{48,461}</string>
      </dict>
      <key>obj200_002253.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,959},{48,330}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,330}}</string>
        <key>sourceSize</key>
        <string>{48,330}</string>
      </dict>
      <key>obj200_002254.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,652},{48,387}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,387}}</string>
        <key>sourceSize</key>
        <string>{48,387}</string>
      </dict>
      <key>obj200_002255.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,1604},{48,275}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,275}}</string>
        <key>sourceSize</key>
        <string>{48,275}</string>
      </dict>
      <key>obj200_002256.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,1290},{48,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,82}}</string>
        <key>sourceSize</key>
        <string>{48,82}</string>
      </dict>
      <key>obj200_002257.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,1416},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_002258.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,1442},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_002259.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,1447},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_002260.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,1450},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_002261.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,1476},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_002262.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,1481},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_002263.png</key>
      <dict>
        <key>frame</key>
        <string>{{256,2045},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_002264.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,1638},{48,255}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,255}}</string>
        <key>sourceSize</key>
        <string>{48,255}</string>
      </dict>
      <key>obj200_002265.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,1582},{48,314}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,314}}</string>
        <key>sourceSize</key>
        <string>{48,314}</string>
      </dict>
      <key>obj200_002266.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,1543},{48,469}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,469}}</string>
        <key>sourceSize</key>
        <string>{48,469}</string>
      </dict>
      <key>obj200_002267.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,550},{48,537}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,537}}</string>
        <key>sourceSize</key>
        <string>{48,537}</string>
      </dict>
      <key>obj200_002268.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,0},{48,575}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,575}}</string>
        <key>sourceSize</key>
        <string>{48,575}</string>
      </dict>
      <key>obj200_002269.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,0},{48,612}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,612}}</string>
        <key>sourceSize</key>
        <string>{48,612}</string>
      </dict>
      <key>obj200_002270.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,0},{48,624}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,624}}</string>
        <key>sourceSize</key>
        <string>{48,624}</string>
      </dict>
      <key>obj200_002271.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,0},{48,578}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,578}}</string>
        <key>sourceSize</key>
        <string>{48,578}</string>
      </dict>
      <key>obj200_002272.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,0},{48,577}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,577}}</string>
        <key>sourceSize</key>
        <string>{48,577}</string>
      </dict>
      <key>obj200_002273.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,0},{48,580}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,580}}</string>
        <key>sourceSize</key>
        <string>{48,580}</string>
      </dict>
      <key>obj200_002274.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,0},{48,548}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,548}}</string>
        <key>sourceSize</key>
        <string>{48,548}</string>
      </dict>
      <key>obj200_002275.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,577},{48,482}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,482}}</string>
        <key>sourceSize</key>
        <string>{48,482}</string>
      </dict>
      <key>obj200_002276.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,1100},{48,480}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,480}}</string>
        <key>sourceSize</key>
        <string>{48,480}</string>
      </dict>
      <key>obj200_002277.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,567},{48,516}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,516}}</string>
        <key>sourceSize</key>
        <string>{48,516}</string>
      </dict>
      <key>obj200_002278.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,614},{48,452}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,452}}</string>
        <key>sourceSize</key>
        <string>{48,452}</string>
      </dict>
      <key>obj200_002279.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,1041},{48,386}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,386}}</string>
        <key>sourceSize</key>
        <string>{48,386}</string>
      </dict>
      <key>obj200_002280.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,1315},{48,321}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,321}}</string>
        <key>sourceSize</key>
        <string>{48,321}</string>
      </dict>
      <key>obj200_002281.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,1291},{48,285}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,285}}</string>
        <key>sourceSize</key>
        <string>{48,285}</string>
      </dict>
      <key>obj200_002282.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,1268},{48,327}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,327}}</string>
        <key>sourceSize</key>
        <string>{48,327}</string>
      </dict>
      <key>obj200_002283.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,1661},{48,251}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,251}}</string>
        <key>sourceSize</key>
        <string>{48,251}</string>
      </dict>
      <key>obj200_002284.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,1147},{48,134}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,134}}</string>
        <key>sourceSize</key>
        <string>{48,134}</string>
      </dict>
      <key>obj200_002285.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,1484},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_002286.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,1510},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_002287.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,1515},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_002288.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,1518},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_002289.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,1544},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_002290.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,1865},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_002291.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,1860},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj200_002292.png</key>
      <dict>
        <key>frame</key>
        <string>{{259,2045},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_002293.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,960},{48,353}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,353}}</string>
        <key>sourceSize</key>
        <string>{48,353}</string>
      </dict>
      <key>obj200_002294.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,1597},{48,280}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,280}}</string>
        <key>sourceSize</key>
        <string>{48,280}</string>
      </dict>
      <key>obj200_002295.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,1543},{48,320}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,320}}</string>
        <key>sourceSize</key>
        <string>{48,320}</string>
      </dict>
      <key>obj200_002296.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,578},{48,380}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,380}}</string>
        <key>sourceSize</key>
        <string>{48,380}</string>
      </dict>
      <key>obj200_002297.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,1597},{48,446}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,446}}</string>
        <key>sourceSize</key>
        <string>{48,446}</string>
      </dict>
      <key>obj200_002298.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,1080},{48,511}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,511}}</string>
        <key>sourceSize</key>
        <string>{48,511}</string>
      </dict>
      <key>obj200_002299.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1543},{48,480}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,480}}</string>
        <key>sourceSize</key>
        <string>{48,480}</string>
      </dict>
      <key>obj200_002300.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,1543},{48,479}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,479}}</string>
        <key>sourceSize</key>
        <string>{48,479}</string>
      </dict>
      <key>obj200_002301.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,545},{48,542}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,542}}</string>
        <key>sourceSize</key>
        <string>{48,542}</string>
      </dict>
      <key>obj200_002302.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,0},{48,575}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,575}}</string>
        <key>sourceSize</key>
        <string>{48,575}</string>
      </dict>
      <key>obj200_002303.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,0},{48,576}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,576}}</string>
        <key>sourceSize</key>
        <string>{48,576}</string>
      </dict>
      <key>obj200_002304.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,0},{48,604}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,604}}</string>
        <key>sourceSize</key>
        <string>{48,604}</string>
      </dict>
      <key>obj200_002305.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,0},{48,650}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,650}}</string>
        <key>sourceSize</key>
        <string>{48,650}</string>
      </dict>
      <key>obj200_002306.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,0},{48,606}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,606}}</string>
        <key>sourceSize</key>
        <string>{48,606}</string>
      </dict>
      <key>obj200_002307.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,0},{48,565}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,565}}</string>
        <key>sourceSize</key>
        <string>{48,565}</string>
      </dict>
      <key>obj200_002308.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,577},{48,499}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,499}}</string>
        <key>sourceSize</key>
        <string>{48,499}</string>
      </dict>
      <key>obj200_002309.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,626},{48,460}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,460}}</string>
        <key>sourceSize</key>
        <string>{48,460}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>obj200_20.png</string>
      <key>size</key>
      <string>{1024,2048}</string>
      <key>textureFileName</key>
      <string>obj200_20.png</string>
    </dict>
  </dict>
</plist>