<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>obj200_002420.png</key>
      <dict>
        <key>frame</key>
        <string>{{1000,1362},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_002421.png</key>
      <dict>
        <key>frame</key>
        <string>{{1003,0},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_002422.png</key>
      <dict>
        <key>frame</key>
        <string>{{1000,0},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_002423.png</key>
      <dict>
        <key>frame</key>
        <string>{{1000,3},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_002424.png</key>
      <dict>
        <key>frame</key>
        <string>{{1006,0},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_002425.png</key>
      <dict>
        <key>frame</key>
        <string>{{1009,0},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_002426.png</key>
      <dict>
        <key>frame</key>
        <string>{{1012,0},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_002427.png</key>
      <dict>
        <key>frame</key>
        <string>{{1015,0},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_002428.png</key>
      <dict>
        <key>frame</key>
        <string>{{1018,0},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_002429.png</key>
      <dict>
        <key>frame</key>
        <string>{{1021,0},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_002430.png</key>
      <dict>
        <key>frame</key>
        <string>{{1021,3},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_002431.png</key>
      <dict>
        <key>frame</key>
        <string>{{1003,3},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_002432.png</key>
      <dict>
        <key>frame</key>
        <string>{{1006,3},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_002433.png</key>
      <dict>
        <key>frame</key>
        <string>{{1009,3},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_002434.png</key>
      <dict>
        <key>frame</key>
        <string>{{1012,3},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_002435.png</key>
      <dict>
        <key>frame</key>
        <string>{{1015,3},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_002436.png</key>
      <dict>
        <key>frame</key>
        <string>{{1018,3},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_002437.png</key>
      <dict>
        <key>frame</key>
        <string>{{1018,6},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_002438.png</key>
      <dict>
        <key>frame</key>
        <string>{{1021,6},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_002439.png</key>
      <dict>
        <key>frame</key>
        <string>{{1021,9},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_002440.png</key>
      <dict>
        <key>frame</key>
        <string>{{1003,6},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_002441.png</key>
      <dict>
        <key>frame</key>
        <string>{{1000,6},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_002442.png</key>
      <dict>
        <key>frame</key>
        <string>{{1000,9},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_002443.png</key>
      <dict>
        <key>frame</key>
        <string>{{1006,6},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_002444.png</key>
      <dict>
        <key>frame</key>
        <string>{{1009,6},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_002445.png</key>
      <dict>
        <key>frame</key>
        <string>{{1012,6},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_002446.png</key>
      <dict>
        <key>frame</key>
        <string>{{1015,6},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_002447.png</key>
      <dict>
        <key>frame</key>
        <string>{{1015,9},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_002448.png</key>
      <dict>
        <key>frame</key>
        <string>{{1018,9},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_002449.png</key>
      <dict>
        <key>frame</key>
        <string>{{1018,12},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_002450.png</key>
      <dict>
        <key>frame</key>
        <string>{{1021,12},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_002451.png</key>
      <dict>
        <key>frame</key>
        <string>{{1021,15},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_002452.png</key>
      <dict>
        <key>frame</key>
        <string>{{1003,9},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_002453.png</key>
      <dict>
        <key>frame</key>
        <string>{{1006,9},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_002454.png</key>
      <dict>
        <key>frame</key>
        <string>{{1009,9},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_002455.png</key>
      <dict>
        <key>frame</key>
        <string>{{1012,9},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_002456.png</key>
      <dict>
        <key>frame</key>
        <string>{{1012,12},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_002457.png</key>
      <dict>
        <key>frame</key>
        <string>{{1015,12},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_002458.png</key>
      <dict>
        <key>frame</key>
        <string>{{1015,15},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_002459.png</key>
      <dict>
        <key>frame</key>
        <string>{{1018,15},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_002460.png</key>
      <dict>
        <key>frame</key>
        <string>{{1018,18},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_002461.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,1159},{48,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,88}}</string>
        <key>sourceSize</key>
        <string>{48,88}</string>
      </dict>
      <key>obj200_002462.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1064},{48,92}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,92}}</string>
        <key>sourceSize</key>
        <string>{48,92}</string>
      </dict>
      <key>obj200_002463.png</key>
      <dict>
        <key>frame</key>
        <string>{{1021,18},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_002464.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,1065},{48,92}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,92}}</string>
        <key>sourceSize</key>
        <string>{48,92}</string>
      </dict>
      <key>obj200_002465.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1158},{48,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,90}}</string>
        <key>sourceSize</key>
        <string>{48,90}</string>
      </dict>
      <key>obj200_002466.png</key>
      <dict>
        <key>frame</key>
        <string>{{1021,21},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_002467.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,1085},{48,91}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,91}}</string>
        <key>sourceSize</key>
        <string>{48,91}</string>
      </dict>
      <key>obj200_002468.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,1249},{48,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,74}}</string>
        <key>sourceSize</key>
        <string>{48,74}</string>
      </dict>
      <key>obj200_002469.png</key>
      <dict>
        <key>frame</key>
        <string>{{1003,12},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_002470.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,1178},{48,85}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,85}}</string>
        <key>sourceSize</key>
        <string>{48,85}</string>
      </dict>
      <key>obj200_002471.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,1141},{48,91}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,91}}</string>
        <key>sourceSize</key>
        <string>{48,91}</string>
      </dict>
      <key>obj200_002472.png</key>
      <dict>
        <key>frame</key>
        <string>{{1000,12},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_002473.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1322},{48,69}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,69}}</string>
        <key>sourceSize</key>
        <string>{48,69}</string>
      </dict>
      <key>obj200_002474.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1250},{48,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,70}}</string>
        <key>sourceSize</key>
        <string>{48,70}</string>
      </dict>
      <key>obj200_002475.png</key>
      <dict>
        <key>frame</key>
        <string>{{1000,15},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_002476.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,1219},{48,69}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,69}}</string>
        <key>sourceSize</key>
        <string>{48,69}</string>
      </dict>
      <key>obj200_002477.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,1222},{48,69}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,69}}</string>
        <key>sourceSize</key>
        <string>{48,69}</string>
      </dict>
      <key>obj200_002478.png</key>
      <dict>
        <key>frame</key>
        <string>{{1006,12},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_002479.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,1267},{48,417}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,417}}</string>
        <key>sourceSize</key>
        <string>{48,417}</string>
      </dict>
      <key>obj200_002480.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,774},{48,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,400}}</string>
        <key>sourceSize</key>
        <string>{48,400}</string>
      </dict>
      <key>obj200_002481.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,701},{48,581}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,581}}</string>
        <key>sourceSize</key>
        <string>{48,581}</string>
      </dict>
      <key>obj200_002482.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{48,965}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,965}}</string>
        <key>sourceSize</key>
        <string>{48,965}</string>
      </dict>
      <key>obj200_002483.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,0},{48,902}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,902}}</string>
        <key>sourceSize</key>
        <string>{48,902}</string>
      </dict>
      <key>obj200_002484.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,0},{48,827}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,827}}</string>
        <key>sourceSize</key>
        <string>{48,827}</string>
      </dict>
      <key>obj200_002485.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,0},{48,774}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,774}}</string>
        <key>sourceSize</key>
        <string>{48,774}</string>
      </dict>
      <key>obj200_002486.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,0},{48,710}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,710}}</string>
        <key>sourceSize</key>
        <string>{48,710}</string>
      </dict>
      <key>obj200_002487.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,683},{48,677}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,677}}</string>
        <key>sourceSize</key>
        <string>{48,677}</string>
      </dict>
      <key>obj200_002488.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,0},{48,681}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,681}}</string>
        <key>sourceSize</key>
        <string>{48,681}</string>
      </dict>
      <key>obj200_002489.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,0},{48,734}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,734}}</string>
        <key>sourceSize</key>
        <string>{48,734}</string>
      </dict>
      <key>obj200_002490.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,691},{48,670}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,670}}</string>
        <key>sourceSize</key>
        <string>{48,670}</string>
      </dict>
      <key>obj200_002491.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,0},{48,725}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,725}}</string>
        <key>sourceSize</key>
        <string>{48,725}</string>
      </dict>
      <key>obj200_002492.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,1324},{48,611}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,611}}</string>
        <key>sourceSize</key>
        <string>{48,611}</string>
      </dict>
      <key>obj200_002493.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,712},{48,538}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,538}}</string>
        <key>sourceSize</key>
        <string>{48,538}</string>
      </dict>
      <key>obj200_002494.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,1252},{48,505}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,505}}</string>
        <key>sourceSize</key>
        <string>{48,505}</string>
      </dict>
      <key>obj200_002495.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,729},{48,455}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,455}}</string>
        <key>sourceSize</key>
        <string>{48,455}</string>
      </dict>
      <key>obj200_002496.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,875},{48,345}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,345}}</string>
        <key>sourceSize</key>
        <string>{48,345}</string>
      </dict>
      <key>obj200_002497.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,890},{48,249}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,249}}</string>
        <key>sourceSize</key>
        <string>{48,249}</string>
      </dict>
      <key>obj200_002498.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,904},{48,179}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,179}}</string>
        <key>sourceSize</key>
        <string>{48,179}</string>
      </dict>
      <key>obj200_002499.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,967},{48,95}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,95}}</string>
        <key>sourceSize</key>
        <string>{48,95}</string>
      </dict>
      <key>obj200_002500.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,1234},{48,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,66}}</string>
        <key>sourceSize</key>
        <string>{48,66}</string>
      </dict>
      <key>obj200_002501.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,931},{48,132}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,132}}</string>
        <key>sourceSize</key>
        <string>{48,132}</string>
      </dict>
      <key>obj200_002502.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,776},{48,394}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,394}}</string>
        <key>sourceSize</key>
        <string>{48,394}</string>
      </dict>
      <key>obj200_002503.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,833},{48,384}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,384}}</string>
        <key>sourceSize</key>
        <string>{48,384}</string>
      </dict>
      <key>obj200_002504.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,829},{48,388}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,388}}</string>
        <key>sourceSize</key>
        <string>{48,388}</string>
      </dict>
      <key>obj200_002505.png</key>
      <dict>
        <key>frame</key>
        <string>{{1009,12},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_002506.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,736},{48,403}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,403}}</string>
        <key>sourceSize</key>
        <string>{48,403}</string>
      </dict>
      <key>obj200_002507.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,1173},{48,434}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,434}}</string>
        <key>sourceSize</key>
        <string>{48,434}</string>
      </dict>
      <key>obj200_002508.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,0},{48,689}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,689}}</string>
        <key>sourceSize</key>
        <string>{48,689}</string>
      </dict>
      <key>obj200_002509.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,0},{48,772}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,772}}</string>
        <key>sourceSize</key>
        <string>{48,772}</string>
      </dict>
      <key>obj200_002510.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,0},{48,830}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,830}}</string>
        <key>sourceSize</key>
        <string>{48,830}</string>
      </dict>
      <key>obj200_002511.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,0},{48,888}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,888}}</string>
        <key>sourceSize</key>
        <string>{48,888}</string>
      </dict>
      <key>obj200_002512.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,0},{48,929}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,929}}</string>
        <key>sourceSize</key>
        <string>{48,929}</string>
      </dict>
      <key>obj200_002513.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,0},{48,873}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,873}}</string>
        <key>sourceSize</key>
        <string>{48,873}</string>
      </dict>
      <key>obj200_002514.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,0},{48,831}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,831}}</string>
        <key>sourceSize</key>
        <string>{48,831}</string>
      </dict>
      <key>obj200_002515.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,0},{48,699}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,699}}</string>
        <key>sourceSize</key>
        <string>{48,699}</string>
      </dict>
      <key>obj200_002516.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,0},{48,690}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,690}}</string>
        <key>sourceSize</key>
        <string>{48,690}</string>
      </dict>
      <key>obj200_002517.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,0},{48,690}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,690}}</string>
        <key>sourceSize</key>
        <string>{48,690}</string>
      </dict>
      <key>obj200_002518.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,1362},{48,651}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,651}}</string>
        <key>sourceSize</key>
        <string>{48,651}</string>
      </dict>
      <key>obj200_002519.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,692},{48,630}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,630}}</string>
        <key>sourceSize</key>
        <string>{48,630}</string>
      </dict>
      <key>obj200_002520.png</key>
      <dict>
        <key>frame</key>
        <string>{{1009,15},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj200_002521.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,692},{48,630}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,630}}</string>
        <key>sourceSize</key>
        <string>{48,630}</string>
      </dict>
      <key>obj200_002522.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,832},{48,386}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,386}}</string>
        <key>sourceSize</key>
        <string>{48,386}</string>
      </dict>
      <key>obj200_002523.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,729},{48,442}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,442}}</string>
        <key>sourceSize</key>
        <string>{48,442}</string>
      </dict>
      <key>obj200_002524.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,1324},{48,458}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,458}}</string>
        <key>sourceSize</key>
        <string>{48,458}</string>
      </dict>
      <key>obj200_002525.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,1284},{48,490}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,490}}</string>
        <key>sourceSize</key>
        <string>{48,490}</string>
      </dict>
      <key>obj200_002526.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,727},{48,538}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,538}}</string>
        <key>sourceSize</key>
        <string>{48,538}</string>
      </dict>
      <key>obj200_002527.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,1363},{48,601}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,601}}</string>
        <key>sourceSize</key>
        <string>{48,601}</string>
      </dict>
      <key>obj200_002528.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,0},{48,727}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,727}}</string>
        <key>sourceSize</key>
        <string>{48,727}</string>
      </dict>
      <key>obj200_002529.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,0},{48,727}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,727}}</string>
        <key>sourceSize</key>
        <string>{48,727}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>obj200_22.png</string>
      <key>size</key>
      <string>{1024,2048}</string>
      <key>textureFileName</key>
      <string>obj200_22.png</string>
    </dict>
  </dict>
</plist>