<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>obj70_000000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{48,352}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,352}}</string>
        <key>sourceSize</key>
        <string>{48,352}</string>
      </dict>
      <key>obj70_000001.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,0},{48,291}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,291}}</string>
        <key>sourceSize</key>
        <string>{48,291}</string>
      </dict>
      <key>obj70_000002.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,0},{48,297}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,297}}</string>
        <key>sourceSize</key>
        <string>{48,297}</string>
      </dict>
      <key>obj70_000003.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,0},{48,282}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,282}}</string>
        <key>sourceSize</key>
        <string>{48,282}</string>
      </dict>
      <key>obj70_000004.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,0},{48,278}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,278}}</string>
        <key>sourceSize</key>
        <string>{48,278}</string>
      </dict>
      <key>obj70_000005.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,0},{48,299}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,299}}</string>
        <key>sourceSize</key>
        <string>{48,299}</string>
      </dict>
      <key>obj70_000006.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,0},{48,283}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,283}}</string>
        <key>sourceSize</key>
        <string>{48,283}</string>
      </dict>
      <key>obj70_000007.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,0},{48,234}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,234}}</string>
        <key>sourceSize</key>
        <string>{48,234}</string>
      </dict>
      <key>obj70_000008.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,354},{48,153}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,153}}</string>
        <key>sourceSize</key>
        <string>{48,153}</string>
      </dict>
      <key>obj70_000009.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,0},{48,352}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,352}}</string>
        <key>sourceSize</key>
        <string>{48,352}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>obj70_0.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>obj70_0.png</string>
    </dict>
  </dict>
</plist>