<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_1414_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{352,437},{108,78}}</string>
        <key>offset</key>
        <string>{-30,31}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,78}}</string>
        <key>sourceSize</key>
        <string>{108,78}</string>
      </dict>
      <key>player_1414_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{118,441},{111,97}}</string>
        <key>offset</key>
        <string>{-41,41}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,97}}</string>
        <key>sourceSize</key>
        <string>{111,97}</string>
      </dict>
      <key>player_1414_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{120,217},{117,104}}</string>
        <key>offset</key>
        <string>{-46,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,104}}</string>
        <key>sourceSize</key>
        <string>{117,104}</string>
      </dict>
      <key>player_1414_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{215,561},{100,97}}</string>
        <key>offset</key>
        <string>{-47,35}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,97}}</string>
        <key>sourceSize</key>
        <string>{100,97}</string>
      </dict>
      <key>player_1414_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,534},{110,109}}</string>
        <key>offset</key>
        <string>{-51,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,109}}</string>
        <key>sourceSize</key>
        <string>{110,109}</string>
      </dict>
      <key>player_1414_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{388,127},{115,121}}</string>
        <key>offset</key>
        <string>{-49,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,121}}</string>
        <key>sourceSize</key>
        <string>{115,121}</string>
      </dict>
      <key>player_1414_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{239,237},{112,116}}</string>
        <key>offset</key>
        <string>{-54,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,116}}</string>
        <key>sourceSize</key>
        <string>{112,116}</string>
      </dict>
      <key>player_1414_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,0},{115,129}}</string>
        <key>offset</key>
        <string>{-48,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,129}}</string>
        <key>sourceSize</key>
        <string>{115,129}</string>
      </dict>
      <key>player_1414_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{120,130}}</string>
        <key>offset</key>
        <string>{-44,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,130}}</string>
        <key>sourceSize</key>
        <string>{120,130}</string>
      </dict>
      <key>player_1414_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{237,351},{108,113}}</string>
        <key>offset</key>
        <string>{-48,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,113}}</string>
        <key>sourceSize</key>
        <string>{108,113}</string>
      </dict>
      <key>player_1414_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{119,323},{116,116}}</string>
        <key>offset</key>
        <string>{-48,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,116}}</string>
        <key>sourceSize</key>
        <string>{116,116}</string>
      </dict>
      <key>player_1414_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{263,116},{119,123}}</string>
        <key>offset</key>
        <string>{-44,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,123}}</string>
        <key>sourceSize</key>
        <string>{119,123}</string>
      </dict>
      <key>player_1414_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,218},{111,117}}</string>
        <key>offset</key>
        <string>{-29,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,117}}</string>
        <key>sourceSize</key>
        <string>{111,117}</string>
      </dict>
      <key>player_1414_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{263,0},{114,125}}</string>
        <key>offset</key>
        <string>{-21,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,125}}</string>
        <key>sourceSize</key>
        <string>{114,125}</string>
      </dict>
      <key>player_1414_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{390,0},{109,125}}</string>
        <key>offset</key>
        <string>{-9,92}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,125}}</string>
        <key>sourceSize</key>
        <string>{109,125}</string>
      </dict>
      <key>player_1414_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{357,244},{98,114}}</string>
        <key>offset</key>
        <string>{2,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,114}}</string>
        <key>sourceSize</key>
        <string>{98,114}</string>
      </dict>
      <key>player_1414_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,117},{98,118}}</string>
        <key>offset</key>
        <string>{4,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,118}}</string>
        <key>sourceSize</key>
        <string>{98,118}</string>
      </dict>
      <key>player_1414_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,122},{94,118}}</string>
        <key>offset</key>
        <string>{5,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,118}}</string>
        <key>sourceSize</key>
        <string>{94,118}</string>
      </dict>
      <key>player_1414_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,540},{101,101}}</string>
        <key>offset</key>
        <string>{1,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,101}}</string>
        <key>sourceSize</key>
        <string>{101,101}</string>
      </dict>
      <key>player_1414_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,331},{102,116}}</string>
        <key>offset</key>
        <string>{-2,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,116}}</string>
        <key>sourceSize</key>
        <string>{102,116}</string>
      </dict>
      <key>player_1414_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,435},{97,116}}</string>
        <key>offset</key>
        <string>{-2,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,116}}</string>
        <key>sourceSize</key>
        <string>{97,116}</string>
      </dict>
      <key>player_1414_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{357,344},{114,91}}</string>
        <key>offset</key>
        <string>{-10,39}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,91}}</string>
        <key>sourceSize</key>
        <string>{114,91}</string>
      </dict>
      <key>player_1414_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{341,517},{101,98}}</string>
        <key>offset</key>
        <string>{-8,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,98}}</string>
        <key>sourceSize</key>
        <string>{101,98}</string>
      </dict>
      <key>player_1414_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{231,461},{108,98}}</string>
        <key>offset</key>
        <string>{-14,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,98}}</string>
        <key>sourceSize</key>
        <string>{108,98}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_1414_0_7.png</string>
      <key>size</key>
      <string>{512,1024}</string>
      <key>textureFileName</key>
      <string>player_1414_0_7.png</string>
    </dict>
  </dict>
</plist>