<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_1321_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1848},{213,137}}</string>
        <key>offset</key>
        <string>{-89,91}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{213,137}}</string>
        <key>sourceSize</key>
        <string>{213,137}</string>
      </dict>
      <key>player_1321_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{883,1436},{211,133}}</string>
        <key>offset</key>
        <string>{-87,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{211,133}}</string>
        <key>sourceSize</key>
        <string>{211,133}</string>
      </dict>
      <key>player_1321_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1684},{214,162}}</string>
        <key>offset</key>
        <string>{-88,119}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{214,162}}</string>
        <key>sourceSize</key>
        <string>{214,162}</string>
      </dict>
      <key>player_1321_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{215,1848},{213,191}}</string>
        <key>offset</key>
        <string>{-79,147}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{213,191}}</string>
        <key>sourceSize</key>
        <string>{213,191}</string>
      </dict>
      <key>player_1321_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{602,1766},{209,167}}</string>
        <key>offset</key>
        <string>{-76,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,167}}</string>
        <key>sourceSize</key>
        <string>{209,167}</string>
      </dict>
      <key>player_1321_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{449,1430},{217,133}}</string>
        <key>offset</key>
        <string>{-87,90}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{217,133}}</string>
        <key>sourceSize</key>
        <string>{217,133}</string>
      </dict>
      <key>player_1321_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,639},{239,179}}</string>
        <key>offset</key>
        <string>{-77,126}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{239,179}}</string>
        <key>sourceSize</key>
        <string>{239,179}</string>
      </dict>
      <key>player_1321_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{229,1343},{218,168}}</string>
        <key>offset</key>
        <string>{-71,124}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{218,168}}</string>
        <key>sourceSize</key>
        <string>{218,168}</string>
      </dict>
      <key>player_1321_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{516,438},{247,165}}</string>
        <key>offset</key>
        <string>{-76,122}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{247,165}}</string>
        <key>sourceSize</key>
        <string>{247,165}</string>
      </dict>
      <key>player_1321_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{765,508},{244,166}}</string>
        <key>offset</key>
        <string>{-89,123}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{244,166}}</string>
        <key>sourceSize</key>
        <string>{244,166}</string>
      </dict>
      <key>player_1321_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{277,171},{258,140}}</string>
        <key>offset</key>
        <string>{-89,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,140}}</string>
        <key>sourceSize</key>
        <string>{258,140}</string>
      </dict>
      <key>player_1321_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{493,605},{239,166}}</string>
        <key>offset</key>
        <string>{-81,122}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{239,166}}</string>
        <key>sourceSize</key>
        <string>{239,166}</string>
      </dict>
      <key>player_1321_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1482},{200,218}}</string>
        <key>offset</key>
        <string>{-33,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,218}}</string>
        <key>sourceSize</key>
        <string>{200,218}</string>
      </dict>
      <key>player_1321_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{465,1228},{219,200}}</string>
        <key>offset</key>
        <string>{-44,137}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{219,200}}</string>
        <key>sourceSize</key>
        <string>{219,200}</string>
      </dict>
      <key>player_1321_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{251,508},{240,197}}</string>
        <key>offset</key>
        <string>{-29,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{240,197}}</string>
        <key>sourceSize</key>
        <string>{240,197}</string>
      </dict>
      <key>player_1321_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{716,856},{231,180}}</string>
        <key>offset</key>
        <string>{-33,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{231,180}}</string>
        <key>sourceSize</key>
        <string>{231,180}</string>
      </dict>
      <key>player_1321_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{277,0},{260,169}}</string>
        <key>offset</key>
        <string>{-50,127}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{260,169}}</string>
        <key>sourceSize</key>
        <string>{260,169}</string>
      </dict>
      <key>player_1321_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{437,1565},{199,210}}</string>
        <key>offset</key>
        <string>{-21,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{199,210}}</string>
        <key>sourceSize</key>
        <string>{199,210}</string>
      </dict>
      <key>player_1321_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,222},{202,257}}</string>
        <key>offset</key>
        <string>{-88,140}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{202,257}}</string>
        <key>sourceSize</key>
        <string>{202,257}</string>
      </dict>
      <key>player_1321_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{539,0},{219,259}}</string>
        <key>offset</key>
        <string>{-90,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{219,259}}</string>
        <key>sourceSize</key>
        <string>{219,259}</string>
      </dict>
      <key>player_1321_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{474,999},{230,227}}</string>
        <key>offset</key>
        <string>{-87,136}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{230,227}}</string>
        <key>sourceSize</key>
        <string>{230,227}</string>
      </dict>
      <key>player_1321_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{706,1218},{216,220}}</string>
        <key>offset</key>
        <string>{-76,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{216,220}}</string>
        <key>sourceSize</key>
        <string>{216,220}</string>
      </dict>
      <key>player_1321_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,919},{205,232}}</string>
        <key>offset</key>
        <string>{-71,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,232}}</string>
        <key>sourceSize</key>
        <string>{205,232}</string>
      </dict>
      <key>player_1321_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{220,275}}</string>
        <key>offset</key>
        <string>{-83,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{220,275}}</string>
        <key>sourceSize</key>
        <string>{220,275}</string>
      </dict>
      <key>player_1321_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{537,221},{215,255}}</string>
        <key>offset</key>
        <string>{-83,128}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{215,255}}</string>
        <key>sourceSize</key>
        <string>{215,255}</string>
      </dict>
      <key>player_1321_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,426},{211,249}}</string>
        <key>offset</key>
        <string>{-79,125}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{211,249}}</string>
        <key>sourceSize</key>
        <string>{211,249}</string>
      </dict>
      <key>player_1321_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{234,1126},{215,229}}</string>
        <key>offset</key>
        <string>{-83,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{215,229}}</string>
        <key>sourceSize</key>
        <string>{215,229}</string>
      </dict>
      <key>player_1321_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{668,1436},{213,212}}</string>
        <key>offset</key>
        <string>{-89,125}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{213,212}}</string>
        <key>sourceSize</key>
        <string>{213,212}</string>
      </dict>
      <key>player_1321_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1047},{208,232}}</string>
        <key>offset</key>
        <string>{-88,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,232}}</string>
        <key>sourceSize</key>
        <string>{208,232}</string>
      </dict>
      <key>player_1321_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{794,258},{217,248}}</string>
        <key>offset</key>
        <string>{-86,121}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{217,248}}</string>
        <key>sourceSize</key>
        <string>{217,248}</string>
      </dict>
      <key>player_1321_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{481,773},{224,233}}</string>
        <key>offset</key>
        <string>{-104,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{224,233}}</string>
        <key>sourceSize</key>
        <string>{224,233}</string>
      </dict>
      <key>player_1321_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1257},{227,223}}</string>
        <key>offset</key>
        <string>{-110,140}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{227,223}}</string>
        <key>sourceSize</key>
        <string>{227,223}</string>
      </dict>
      <key>player_1321_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{241,707},{238,210}}</string>
        <key>offset</key>
        <string>{-118,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{238,210}}</string>
        <key>sourceSize</key>
        <string>{238,210}</string>
      </dict>
      <key>player_1321_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{259,313},{255,193}}</string>
        <key>offset</key>
        <string>{-122,140}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{255,193}}</string>
        <key>sourceSize</key>
        <string>{255,193}</string>
      </dict>
      <key>player_1321_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,0},{256,199}}</string>
        <key>offset</key>
        <string>{-123,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{256,199}}</string>
        <key>sourceSize</key>
        <string>{256,199}</string>
      </dict>
      <key>player_1321_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,820},{238,225}}</string>
        <key>offset</key>
        <string>{-113,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{238,225}}</string>
        <key>sourceSize</key>
        <string>{238,225}</string>
      </dict>
      <key>player_1321_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{945,1831},{190,195}}</string>
        <key>offset</key>
        <string>{-113,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{190,195}}</string>
        <key>sourceSize</key>
        <string>{190,195}</string>
      </dict>
      <key>player_1321_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{430,1766},{210,170}}</string>
        <key>offset</key>
        <string>{-122,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{210,170}}</string>
        <key>sourceSize</key>
        <string>{210,170}</string>
      </dict>
      <key>player_1321_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{220,1513},{215,174}}</string>
        <key>offset</key>
        <string>{-140,137}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{215,174}}</string>
        <key>sourceSize</key>
        <string>{215,174}</string>
      </dict>
      <key>player_1321_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{706,1038},{225,178}}</string>
        <key>offset</key>
        <string>{-147,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{225,178}}</string>
        <key>sourceSize</key>
        <string>{225,178}</string>
      </dict>
      <key>player_1321_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{734,676},{236,178}}</string>
        <key>offset</key>
        <string>{-142,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{236,178}}</string>
        <key>sourceSize</key>
        <string>{236,178}</string>
      </dict>
      <key>player_1321_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{771,1650},{207,179}}</string>
        <key>offset</key>
        <string>{-131,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{207,179}}</string>
        <key>sourceSize</key>
        <string>{207,179}</string>
      </dict>
      <key>player_1321_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{972,676},{183,160}}</string>
        <key>offset</key>
        <string>{-51,113}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{183,160}}</string>
        <key>sourceSize</key>
        <string>{183,160}</string>
      </dict>
      <key>player_1321_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{928,1218},{190,141}}</string>
        <key>offset</key>
        <string>{-57,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{190,141}}</string>
        <key>sourceSize</key>
        <string>{190,141}</string>
      </dict>
      <key>player_1321_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,1689},{203,156}}</string>
        <key>offset</key>
        <string>{-72,114}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{203,156}}</string>
        <key>sourceSize</key>
        <string>{203,156}</string>
      </dict>
      <key>player_1321_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{771,1831},{207,172}}</string>
        <key>offset</key>
        <string>{-87,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{207,172}}</string>
        <key>sourceSize</key>
        <string>{207,172}</string>
      </dict>
      <key>player_1321_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{933,1038},{188,168}}</string>
        <key>offset</key>
        <string>{-73,126}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,168}}</string>
        <key>sourceSize</key>
        <string>{188,168}</string>
      </dict>
      <key>player_1321_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{949,856},{185,166}}</string>
        <key>offset</key>
        <string>{-57,125}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{185,166}}</string>
        <key>sourceSize</key>
        <string>{185,166}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_1321_0_1.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>player_1321_0_1.png</string>
    </dict>
  </dict>
</plist>