<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_1430_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{621,0},{137,129}}</string>
        <key>offset</key>
        <string>{-17,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,129}}</string>
        <key>sourceSize</key>
        <string>{137,129}</string>
      </dict>
      <key>player_1430_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,808},{105,151}}</string>
        <key>offset</key>
        <string>{-27,100}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,151}}</string>
        <key>sourceSize</key>
        <string>{105,151}</string>
      </dict>
      <key>player_1430_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{523,896},{114,136}}</string>
        <key>offset</key>
        <string>{-36,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,136}}</string>
        <key>sourceSize</key>
        <string>{114,136}</string>
      </dict>
      <key>player_1430_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,334},{158,132}}</string>
        <key>offset</key>
        <string>{-38,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,132}}</string>
        <key>sourceSize</key>
        <string>{158,132}</string>
      </dict>
      <key>player_1430_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{517,451},{141,134}}</string>
        <key>offset</key>
        <string>{-17,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,134}}</string>
        <key>sourceSize</key>
        <string>{141,134}</string>
      </dict>
      <key>player_1430_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{394,306},{143,129}}</string>
        <key>offset</key>
        <string>{-17,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,129}}</string>
        <key>sourceSize</key>
        <string>{143,129}</string>
      </dict>
      <key>player_1430_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{481,0},{142,138}}</string>
        <key>offset</key>
        <string>{-26,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,138}}</string>
        <key>sourceSize</key>
        <string>{142,138}</string>
      </dict>
      <key>player_1430_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{525,293},{130,139}}</string>
        <key>offset</key>
        <string>{-60,102}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,139}}</string>
        <key>sourceSize</key>
        <string>{130,139}</string>
      </dict>
      <key>player_1430_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{407,148},{117,143}}</string>
        <key>offset</key>
        <string>{-43,107}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,143}}</string>
        <key>sourceSize</key>
        <string>{117,143}</string>
      </dict>
      <key>player_1430_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{382,772},{132,142}}</string>
        <key>offset</key>
        <string>{-25,106}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,142}}</string>
        <key>sourceSize</key>
        <string>{132,142}</string>
      </dict>
      <key>player_1430_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{254,319},{146,138}}</string>
        <key>offset</key>
        <string>{-19,101}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,138}}</string>
        <key>sourceSize</key>
        <string>{146,138}</string>
      </dict>
      <key>player_1430_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{123,161},{156,138}}</string>
        <key>offset</key>
        <string>{-15,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,138}}</string>
        <key>sourceSize</key>
        <string>{156,138}</string>
      </dict>
      <key>player_1430_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{718,569},{117,128}}</string>
        <key>offset</key>
        <string>{-19,89}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,128}}</string>
        <key>sourceSize</key>
        <string>{117,128}</string>
      </dict>
      <key>player_1430_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{107,808},{151,135}}</string>
        <key>offset</key>
        <string>{-63,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,135}}</string>
        <key>sourceSize</key>
        <string>{151,135}</string>
      </dict>
      <key>player_1430_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{889,0},{126,136}}</string>
        <key>offset</key>
        <string>{-39,106}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,136}}</string>
        <key>sourceSize</key>
        <string>{126,136}</string>
      </dict>
      <key>player_1430_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{393,467},{122,144}}</string>
        <key>offset</key>
        <string>{-24,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,144}}</string>
        <key>sourceSize</key>
        <string>{122,144}</string>
      </dict>
      <key>player_1430_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,652},{154,141}}</string>
        <key>offset</key>
        <string>{-22,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,141}}</string>
        <key>sourceSize</key>
        <string>{154,141}</string>
      </dict>
      <key>player_1430_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{263,158},{146,142}}</string>
        <key>offset</key>
        <string>{-20,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,142}}</string>
        <key>sourceSize</key>
        <string>{146,142}</string>
      </dict>
      <key>player_1430_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,494},{153,116}}</string>
        <key>offset</key>
        <string>{-37,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,116}}</string>
        <key>sourceSize</key>
        <string>{153,116}</string>
      </dict>
      <key>player_1430_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{118,0},{159,121}}</string>
        <key>offset</key>
        <string>{-38,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,121}}</string>
        <key>sourceSize</key>
        <string>{159,121}</string>
      </dict>
      <key>player_1430_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{654,139},{137,131}}</string>
        <key>offset</key>
        <string>{-19,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,131}}</string>
        <key>sourceSize</key>
        <string>{137,131}</string>
      </dict>
      <key>player_1430_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{241,0},{156,126}}</string>
        <key>offset</key>
        <string>{-38,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,126}}</string>
        <key>sourceSize</key>
        <string>{156,126}</string>
      </dict>
      <key>player_1430_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{752,0},{137,135}}</string>
        <key>offset</key>
        <string>{-35,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,135}}</string>
        <key>sourceSize</key>
        <string>{137,135}</string>
      </dict>
      <key>player_1430_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,802},{136,145}}</string>
        <key>offset</key>
        <string>{-39,89}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,145}}</string>
        <key>sourceSize</key>
        <string>{136,145}</string>
      </dict>
      <key>player_1430_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{889,138},{136,126}}</string>
        <key>offset</key>
        <string>{-47,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,126}}</string>
        <key>sourceSize</key>
        <string>{136,126}</string>
      </dict>
      <key>player_1430_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{382,916},{105,139}}</string>
        <key>offset</key>
        <string>{-6,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,139}}</string>
        <key>sourceSize</key>
        <string>{105,139}</string>
      </dict>
      <key>player_1430_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{653,434},{133,133}}</string>
        <key>offset</key>
        <string>{-16,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,133}}</string>
        <key>sourceSize</key>
        <string>{133,133}</string>
      </dict>
      <key>player_1430_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{369,0},{146,110}}</string>
        <key>offset</key>
        <string>{-27,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,110}}</string>
        <key>sourceSize</key>
        <string>{146,110}</string>
      </dict>
      <key>player_1430_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{165,116}}</string>
        <key>offset</key>
        <string>{-56,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,116}}</string>
        <key>sourceSize</key>
        <string>{165,116}</string>
      </dict>
      <key>player_1430_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{526,144},{139,126}}</string>
        <key>offset</key>
        <string>{-57,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,126}}</string>
        <key>sourceSize</key>
        <string>{139,126}</string>
      </dict>
      <key>player_1430_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{898,411},{129,121}}</string>
        <key>offset</key>
        <string>{-37,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,121}}</string>
        <key>sourceSize</key>
        <string>{129,121}</string>
      </dict>
      <key>player_1430_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,474},{149,147}}</string>
        <key>offset</key>
        <string>{-18,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,147}}</string>
        <key>sourceSize</key>
        <string>{149,147}</string>
      </dict>
      <key>player_1430_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{661,865},{128,132}}</string>
        <key>offset</key>
        <string>{-24,91}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,132}}</string>
        <key>sourceSize</key>
        <string>{128,132}</string>
      </dict>
      <key>player_1430_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{657,278},{127,133}}</string>
        <key>offset</key>
        <string>{-32,95}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,133}}</string>
        <key>sourceSize</key>
        <string>{127,133}</string>
      </dict>
      <key>player_1430_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,625},{145,106}}</string>
        <key>offset</key>
        <string>{-60,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,106}}</string>
        <key>sourceSize</key>
        <string>{145,106}</string>
      </dict>
      <key>player_1430_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,167},{165,121}}</string>
        <key>offset</key>
        <string>{-78,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,121}}</string>
        <key>sourceSize</key>
        <string>{165,121}</string>
      </dict>
      <key>player_1430_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{787,139},{93,129}}</string>
        <key>offset</key>
        <string>{-15,98}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,129}}</string>
        <key>sourceSize</key>
        <string>{93,129}</string>
      </dict>
      <key>player_1430_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,625},{145,106}}</string>
        <key>offset</key>
        <string>{-16,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,106}}</string>
        <key>sourceSize</key>
        <string>{145,106}</string>
      </dict>
      <key>player_1430_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{786,278},{133,110}}</string>
        <key>offset</key>
        <string>{-21,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,110}}</string>
        <key>sourceSize</key>
        <string>{133,110}</string>
      </dict>
      <key>player_1430_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{898,276},{107,133}}</string>
        <key>offset</key>
        <string>{-24,99}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,133}}</string>
        <key>sourceSize</key>
        <string>{107,133}</string>
      </dict>
      <key>player_1430_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{629,730},{133,126}}</string>
        <key>offset</key>
        <string>{-50,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,126}}</string>
        <key>sourceSize</key>
        <string>{133,126}</string>
      </dict>
      <key>player_1430_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{143,649},{151,113}}</string>
        <key>offset</key>
        <string>{-63,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,113}}</string>
        <key>sourceSize</key>
        <string>{151,113}</string>
      </dict>
      <key>player_1430_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{757,699},{118,117}}</string>
        <key>offset</key>
        <string>{-15,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,117}}</string>
        <key>sourceSize</key>
        <string>{118,117}</string>
      </dict>
      <key>player_1430_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,494},{156,124}}</string>
        <key>offset</key>
        <string>{-35,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,124}}</string>
        <key>sourceSize</key>
        <string>{156,124}</string>
      </dict>
      <key>player_1430_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{134,319},{153,118}}</string>
        <key>offset</key>
        <string>{-47,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,118}}</string>
        <key>sourceSize</key>
        <string>{153,118}</string>
      </dict>
      <key>player_1430_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{584,594},{132,134}}</string>
        <key>offset</key>
        <string>{-27,102}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,134}}</string>
        <key>sourceSize</key>
        <string>{132,134}</string>
      </dict>
      <key>player_1430_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{474,613},{108,142}}</string>
        <key>offset</key>
        <string>{-18,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,142}}</string>
        <key>sourceSize</key>
        <string>{108,142}</string>
      </dict>
      <key>player_1430_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{516,757},{111,137}}</string>
        <key>offset</key>
        <string>{-17,107}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,137}}</string>
        <key>sourceSize</key>
        <string>{111,137}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_1430_0_2.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>player_1430_0_2.png</string>
    </dict>
  </dict>
</plist>