<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_1314_0_8_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{508,197},{193,142}}</string>
        <key>offset</key>
        <string>{-70,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{193,142}}</string>
        <key>sourceSize</key>
        <string>{193,142}</string>
      </dict>
      <key>player_1314_0_8_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{604,0},{146,161}}</string>
        <key>offset</key>
        <string>{-35,109}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,161}}</string>
        <key>sourceSize</key>
        <string>{146,161}</string>
      </dict>
      <key>player_1314_0_8_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{752,0},{160,144}}</string>
        <key>offset</key>
        <string>{-44,94}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,144}}</string>
        <key>sourceSize</key>
        <string>{160,144}</string>
      </dict>
      <key>player_1314_0_8_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{455,0},{195,147}}</string>
        <key>offset</key>
        <string>{-51,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{195,147}}</string>
        <key>sourceSize</key>
        <string>{195,147}</string>
      </dict>
      <key>player_1314_0_8_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,277},{235,143}}</string>
        <key>offset</key>
        <string>{-57,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{235,143}}</string>
        <key>sourceSize</key>
        <string>{235,143}</string>
      </dict>
      <key>player_1314_0_8_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,561},{249,144}}</string>
        <key>offset</key>
        <string>{-68,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{249,144}}</string>
        <key>sourceSize</key>
        <string>{249,144}</string>
      </dict>
      <key>player_1314_0_8_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,812},{242,183}}</string>
        <key>offset</key>
        <string>{-61,95}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{242,183}}</string>
        <key>sourceSize</key>
        <string>{242,183}</string>
      </dict>
      <key>player_1314_0_8_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{478,745},{205,176}}</string>
        <key>offset</key>
        <string>{-59,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,176}}</string>
        <key>sourceSize</key>
        <string>{205,176}</string>
      </dict>
      <key>player_1314_0_8_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,803},{171,232}}</string>
        <key>offset</key>
        <string>{-52,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,232}}</string>
        <key>sourceSize</key>
        <string>{171,232}</string>
      </dict>
      <key>player_1314_0_8_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{355,235},{151,198}}</string>
        <key>offset</key>
        <string>{-42,102}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,198}}</string>
        <key>sourceSize</key>
        <string>{151,198}</string>
      </dict>
      <key>player_1314_0_8_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{146,561},{195,240}}</string>
        <key>offset</key>
        <string>{-70,106}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{195,240}}</string>
        <key>sourceSize</key>
        <string>{195,240}</string>
      </dict>
      <key>player_1314_0_8_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{343,514},{229,186}}</string>
        <key>offset</key>
        <string>{-99,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{229,186}}</string>
        <key>sourceSize</key>
        <string>{229,186}</string>
      </dict>
      <key>player_1314_0_8_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,281},{278,208}}</string>
        <key>offset</key>
        <string>{-139,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{278,208}}</string>
        <key>sourceSize</key>
        <string>{278,208}</string>
      </dict>
      <key>player_1314_0_8_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,0},{275,144}}</string>
        <key>offset</key>
        <string>{-133,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{275,144}}</string>
        <key>sourceSize</key>
        <string>{275,144}</string>
      </dict>
      <key>player_1314_0_8_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{279,158}}</string>
        <key>offset</key>
        <string>{-136,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{279,158}}</string>
        <key>sourceSize</key>
        <string>{279,158}</string>
      </dict>
      <key>player_1314_0_8_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{306,0},{233,147}}</string>
        <key>offset</key>
        <string>{-97,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{233,147}}</string>
        <key>sourceSize</key>
        <string>{233,147}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_1314_0_8.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>player_1314_0_8.png</string>
    </dict>
  </dict>
</plist>