<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_1426_0_10_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{395,260},{100,122}}</string>
        <key>offset</key>
        <string>{-22,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,122}}</string>
        <key>sourceSize</key>
        <string>{100,122}</string>
      </dict>
      <key>player_1426_0_10_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{248,291},{101,120}}</string>
        <key>offset</key>
        <string>{-30,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,120}}</string>
        <key>sourceSize</key>
        <string>{101,120}</string>
      </dict>
      <key>player_1426_0_10_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{281,0},{91,132}}</string>
        <key>offset</key>
        <string>{-15,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,132}}</string>
        <key>sourceSize</key>
        <string>{91,132}</string>
      </dict>
      <key>player_1426_0_10_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,571},{88,111}}</string>
        <key>offset</key>
        <string>{-23,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,111}}</string>
        <key>sourceSize</key>
        <string>{88,111}</string>
      </dict>
      <key>player_1426_0_10_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,889},{92,106}}</string>
        <key>offset</key>
        <string>{-28,71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,106}}</string>
        <key>sourceSize</key>
        <string>{92,106}</string>
      </dict>
      <key>player_1426_0_10_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{116,585},{100,112}}</string>
        <key>offset</key>
        <string>{-31,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,112}}</string>
        <key>sourceSize</key>
        <string>{100,112}</string>
      </dict>
      <key>player_1426_0_10_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,186},{92,122}}</string>
        <key>offset</key>
        <string>{-16,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,122}}</string>
        <key>sourceSize</key>
        <string>{92,122}</string>
      </dict>
      <key>player_1426_0_10_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{415,0},{89,129}}</string>
        <key>offset</key>
        <string>{-15,93}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,129}}</string>
        <key>sourceSize</key>
        <string>{89,129}</string>
      </dict>
      <key>player_1426_0_10_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{102,141}}</string>
        <key>offset</key>
        <string>{-16,104}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,141}}</string>
        <key>sourceSize</key>
        <string>{102,141}</string>
      </dict>
      <key>player_1426_0_10_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,213},{95,122}}</string>
        <key>offset</key>
        <string>{-25,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,122}}</string>
        <key>sourceSize</key>
        <string>{95,122}</string>
      </dict>
      <key>player_1426_0_10_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,415},{87,117}}</string>
        <key>offset</key>
        <string>{-22,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,117}}</string>
        <key>sourceSize</key>
        <string>{87,117}</string>
      </dict>
      <key>player_1426_0_10_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{270,189},{100,123}}</string>
        <key>offset</key>
        <string>{-28,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,123}}</string>
        <key>sourceSize</key>
        <string>{100,123}</string>
      </dict>
      <key>player_1426_0_10_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{114,687},{90,110}}</string>
        <key>offset</key>
        <string>{-17,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,110}}</string>
        <key>sourceSize</key>
        <string>{90,110}</string>
      </dict>
      <key>player_1426_0_10_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{370,384},{91,118}}</string>
        <key>offset</key>
        <string>{-16,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,118}}</string>
        <key>sourceSize</key>
        <string>{91,118}</string>
      </dict>
      <key>player_1426_0_10_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{230,595},{108,111}}</string>
        <key>offset</key>
        <string>{-19,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,111}}</string>
        <key>sourceSize</key>
        <string>{108,111}</string>
      </dict>
      <key>player_1426_0_10_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{246,394},{104,118}}</string>
        <key>offset</key>
        <string>{-27,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,118}}</string>
        <key>sourceSize</key>
        <string>{104,118}</string>
      </dict>
      <key>player_1426_0_10_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{281,93},{94,128}}</string>
        <key>offset</key>
        <string>{-25,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,128}}</string>
        <key>sourceSize</key>
        <string>{94,128}</string>
      </dict>
      <key>player_1426_0_10_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{143,94},{117,125}}</string>
        <key>offset</key>
        <string>{-45,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,125}}</string>
        <key>sourceSize</key>
        <string>{117,125}</string>
      </dict>
      <key>player_1426_0_10_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{471,571},{101,98}}</string>
        <key>offset</key>
        <string>{-27,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,98}}</string>
        <key>sourceSize</key>
        <string>{101,98}</string>
      </dict>
      <key>player_1426_0_10_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{497,260},{98,100}}</string>
        <key>offset</key>
        <string>{-17,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,100}}</string>
        <key>sourceSize</key>
        <string>{98,100}</string>
      </dict>
      <key>player_1426_0_10_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{114,779},{89,108}}</string>
        <key>offset</key>
        <string>{-7,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,108}}</string>
        <key>sourceSize</key>
        <string>{89,108}</string>
      </dict>
      <key>player_1426_0_10_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{444,735},{97,102}}</string>
        <key>offset</key>
        <string>{-21,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,102}}</string>
        <key>sourceSize</key>
        <string>{97,102}</string>
      </dict>
      <key>player_1426_0_10_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,433},{100,116}}</string>
        <key>offset</key>
        <string>{-26,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,116}}</string>
        <key>sourceSize</key>
        <string>{100,116}</string>
      </dict>
      <key>player_1426_0_10_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,310},{103,120}}</string>
        <key>offset</key>
        <string>{-31,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,120}}</string>
        <key>sourceSize</key>
        <string>{103,120}</string>
      </dict>
      <key>player_1426_0_10_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,104},{80,123}}</string>
        <key>offset</key>
        <string>{-13,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,123}}</string>
        <key>sourceSize</key>
        <string>{80,123}</string>
      </dict>
      <key>player_1426_0_10_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{343,661},{72,110}}</string>
        <key>offset</key>
        <string>{-3,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,110}}</string>
        <key>sourceSize</key>
        <string>{72,110}</string>
      </dict>
      <key>player_1426_0_10_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,870},{76,105}}</string>
        <key>offset</key>
        <string>{-5,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,105}}</string>
        <key>sourceSize</key>
        <string>{76,105}</string>
      </dict>
      <key>player_1426_0_10_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{118,504},{79,114}}</string>
        <key>offset</key>
        <string>{-8,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,114}}</string>
        <key>sourceSize</key>
        <string>{79,114}</string>
      </dict>
      <key>player_1426_0_10_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{411,131},{92,127}}</string>
        <key>offset</key>
        <string>{-14,88}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,127}}</string>
        <key>sourceSize</key>
        <string>{92,127}</string>
      </dict>
      <key>player_1426_0_10_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{338,735},{98,104}}</string>
        <key>offset</key>
        <string>{-27,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,104}}</string>
        <key>sourceSize</key>
        <string>{98,104}</string>
      </dict>
      <key>player_1426_0_10_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,280},{64,122}}</string>
        <key>offset</key>
        <string>{-1,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,122}}</string>
        <key>sourceSize</key>
        <string>{64,122}</string>
      </dict>
      <key>player_1426_0_10_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,535},{64,114}}</string>
        <key>offset</key>
        <string>{0,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,114}}</string>
        <key>sourceSize</key>
        <string>{64,114}</string>
      </dict>
      <key>player_1426_0_10_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,601},{78,112}}</string>
        <key>offset</key>
        <string>{-17,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,112}}</string>
        <key>sourceSize</key>
        <string>{78,112}</string>
      </dict>
      <key>player_1426_0_10_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{241,500},{93,115}}</string>
        <key>offset</key>
        <string>{-19,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,115}}</string>
        <key>sourceSize</key>
        <string>{93,115}</string>
      </dict>
      <key>player_1426_0_10_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{143,0},{92,136}}</string>
        <key>offset</key>
        <string>{-14,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,136}}</string>
        <key>sourceSize</key>
        <string>{92,136}</string>
      </dict>
      <key>player_1426_0_10_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,780},{107,107}}</string>
        <key>offset</key>
        <string>{-24,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,107}}</string>
        <key>sourceSize</key>
        <string>{107,107}</string>
      </dict>
      <key>player_1426_0_10_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,346},{85,120}}</string>
        <key>offset</key>
        <string>{-15,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,120}}</string>
        <key>sourceSize</key>
        <string>{85,120}</string>
      </dict>
      <key>player_1426_0_10_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{484,927},{90,102}}</string>
        <key>offset</key>
        <string>{-24,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,102}}</string>
        <key>sourceSize</key>
        <string>{90,102}</string>
      </dict>
      <key>player_1426_0_10_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,681},{97,112}}</string>
        <key>offset</key>
        <string>{-31,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,112}}</string>
        <key>sourceSize</key>
        <string>{97,112}</string>
      </dict>
      <key>player_1426_0_10_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{379,927},{89,103}}</string>
        <key>offset</key>
        <string>{-17,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,103}}</string>
        <key>sourceSize</key>
        <string>{89,103}</string>
      </dict>
      <key>player_1426_0_10_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{226,705},{87,110}}</string>
        <key>offset</key>
        <string>{-8,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,110}}</string>
        <key>sourceSize</key>
        <string>{87,110}</string>
      </dict>
      <key>player_1426_0_10_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{497,362},{94,94}}</string>
        <key>offset</key>
        <string>{-6,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,94}}</string>
        <key>sourceSize</key>
        <string>{94,94}</string>
      </dict>
      <key>player_1426_0_10_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,889},{106,104}}</string>
        <key>offset</key>
        <string>{-29,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,104}}</string>
        <key>sourceSize</key>
        <string>{106,104}</string>
      </dict>
      <key>player_1426_0_10_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{278,835},{99,104}}</string>
        <key>offset</key>
        <string>{-32,73}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,104}}</string>
        <key>sourceSize</key>
        <string>{99,104}</string>
      </dict>
      <key>player_1426_0_10_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,477},{92,116}}</string>
        <key>offset</key>
        <string>{-27,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,116}}</string>
        <key>sourceSize</key>
        <string>{92,116}</string>
      </dict>
      <key>player_1426_0_10_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{484,477},{92,101}}</string>
        <key>offset</key>
        <string>{-25,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,101}}</string>
        <key>sourceSize</key>
        <string>{92,101}</string>
      </dict>
      <key>player_1426_0_10_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{379,835},{90,104}}</string>
        <key>offset</key>
        <string>{-29,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,104}}</string>
        <key>sourceSize</key>
        <string>{90,104}</string>
      </dict>
      <key>player_1426_0_10_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{485,834},{82,89}}</string>
        <key>offset</key>
        <string>{-16,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,89}}</string>
        <key>sourceSize</key>
        <string>{82,89}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_1426_0_10.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>player_1426_0_10.png</string>
    </dict>
  </dict>
</plist>