<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_1306_0_5_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,599},{295,166}}</string>
        <key>offset</key>
        <string>{-119,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{295,166}}</string>
        <key>sourceSize</key>
        <string>{295,166}</string>
      </dict>
      <key>player_1306_0_5_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,0},{296,167}}</string>
        <key>offset</key>
        <string>{-122,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{296,167}}</string>
        <key>sourceSize</key>
        <string>{296,167}</string>
      </dict>
      <key>player_1306_0_5_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{298,171}}</string>
        <key>offset</key>
        <string>{-128,118}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{298,171}}</string>
        <key>sourceSize</key>
        <string>{298,171}</string>
      </dict>
      <key>player_1306_0_5_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1489},{293,173}}</string>
        <key>offset</key>
        <string>{-133,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{293,173}}</string>
        <key>sourceSize</key>
        <string>{293,173}</string>
      </dict>
      <key>player_1306_0_5_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{209,298},{294,207}}</string>
        <key>offset</key>
        <string>{-131,156}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{294,207}}</string>
        <key>sourceSize</key>
        <string>{294,207}</string>
      </dict>
      <key>player_1306_0_5_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,300},{297,207}}</string>
        <key>offset</key>
        <string>{-128,155}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{297,207}}</string>
        <key>sourceSize</key>
        <string>{297,207}</string>
      </dict>
      <key>player_1306_0_5_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1784},{260,192}}</string>
        <key>offset</key>
        <string>{-119,131}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{260,192}}</string>
        <key>sourceSize</key>
        <string>{260,192}</string>
      </dict>
      <key>player_1306_0_5_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,1748},{254,193}}</string>
        <key>offset</key>
        <string>{-116,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{254,193}}</string>
        <key>sourceSize</key>
        <string>{254,193}</string>
      </dict>
      <key>player_1306_0_5_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{389,1742},{234,200}}</string>
        <key>offset</key>
        <string>{-109,134}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{234,200}}</string>
        <key>sourceSize</key>
        <string>{234,200}</string>
      </dict>
      <key>player_1306_0_5_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1135,0},{209,199}}</string>
        <key>offset</key>
        <string>{-98,133}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,199}}</string>
        <key>sourceSize</key>
        <string>{209,199}</string>
      </dict>
      <key>player_1306_0_5_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{738,0},{212,231}}</string>
        <key>offset</key>
        <string>{-101,166}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{212,231}}</string>
        <key>sourceSize</key>
        <string>{212,231}</string>
      </dict>
      <key>player_1306_0_5_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{542,1444},{229,234}}</string>
        <key>offset</key>
        <string>{-109,171}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{229,234}}</string>
        <key>sourceSize</key>
        <string>{229,234}</string>
      </dict>
      <key>player_1306_0_5_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{615,798},{229,199}}</string>
        <key>offset</key>
        <string>{-49,136}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{229,199}}</string>
        <key>sourceSize</key>
        <string>{229,199}</string>
      </dict>
      <key>player_1306_0_5_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1025,223},{196,210}}</string>
        <key>offset</key>
        <string>{-40,136}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,210}}</string>
        <key>sourceSize</key>
        <string>{196,210}</string>
      </dict>
      <key>player_1306_0_5_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{589,1101},{174,231}}</string>
        <key>offset</key>
        <string>{-39,135}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,231}}</string>
        <key>sourceSize</key>
        <string>{174,231}</string>
      </dict>
      <key>player_1306_0_5_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{965,943},{206,186}}</string>
        <key>offset</key>
        <string>{-38,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,186}}</string>
        <key>sourceSize</key>
        <string>{206,186}</string>
      </dict>
      <key>player_1306_0_5_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1013,675},{167,204}}</string>
        <key>offset</key>
        <string>{-35,149}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,204}}</string>
        <key>sourceSize</key>
        <string>{167,204}</string>
      </dict>
      <key>player_1306_0_5_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{509,563},{139,233}}</string>
        <key>offset</key>
        <string>{-38,173}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,233}}</string>
        <key>sourceSize</key>
        <string>{139,233}</string>
      </dict>
      <key>player_1306_0_5_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{952,0},{221,181}}</string>
        <key>offset</key>
        <string>{-86,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{221,181}}</string>
        <key>sourceSize</key>
        <string>{221,181}</string>
      </dict>
      <key>player_1306_0_5_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{765,1029},{198,217}}</string>
        <key>offset</key>
        <string>{-93,118}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{198,217}}</string>
        <key>sourceSize</key>
        <string>{198,217}</string>
      </dict>
      <key>player_1306_0_5_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{403,865},{210,234}}</string>
        <key>offset</key>
        <string>{-102,117}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{210,234}}</string>
        <key>sourceSize</key>
        <string>{210,234}</string>
      </dict>
      <key>player_1306_0_5_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{337,594},{269,170}}</string>
        <key>offset</key>
        <string>{-113,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{269,170}}</string>
        <key>sourceSize</key>
        <string>{269,170}</string>
      </dict>
      <key>player_1306_0_5_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{175,1488},{258,170}}</string>
        <key>offset</key>
        <string>{-111,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,170}}</string>
        <key>sourceSize</key>
        <string>{258,170}</string>
      </dict>
      <key>player_1306_0_5_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{820,233},{226,203}}</string>
        <key>offset</key>
        <string>{-103,155}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{226,203}}</string>
        <key>sourceSize</key>
        <string>{226,203}</string>
      </dict>
      <key>player_1306_0_5_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{342,0},{294,220}}</string>
        <key>offset</key>
        <string>{-124,117}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{294,220}}</string>
        <key>sourceSize</key>
        <string>{294,220}</string>
      </dict>
      <key>player_1306_0_5_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,896},{295,236}}</string>
        <key>offset</key>
        <string>{-119,120}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{295,236}}</string>
        <key>sourceSize</key>
        <string>{295,236}</string>
      </dict>
      <key>player_1306_0_5_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,1193},{293,212}}</string>
        <key>offset</key>
        <string>{-113,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{293,212}}</string>
        <key>sourceSize</key>
        <string>{293,212}</string>
      </dict>
      <key>player_1306_0_5_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{238,896},{293,163}}</string>
        <key>offset</key>
        <string>{-113,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{293,163}}</string>
        <key>sourceSize</key>
        <string>{293,163}</string>
      </dict>
      <key>player_1306_0_5_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1193},{294,171}}</string>
        <key>offset</key>
        <string>{-118,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{294,171}}</string>
        <key>sourceSize</key>
        <string>{294,171}</string>
      </dict>
      <key>player_1306_0_5_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{168,599},{295,167}}</string>
        <key>offset</key>
        <string>{-124,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{295,167}}</string>
        <key>sourceSize</key>
        <string>{295,167}</string>
      </dict>
      <key>player_1306_0_5_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{564,0},{257,172}}</string>
        <key>offset</key>
        <string>{-88,118}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{257,172}}</string>
        <key>sourceSize</key>
        <string>{257,172}</string>
      </dict>
      <key>player_1306_0_5_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{387,1191},{251,200}}</string>
        <key>offset</key>
        <string>{-86,118}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{251,200}}</string>
        <key>sourceSize</key>
        <string>{251,200}</string>
      </dict>
      <key>player_1306_0_5_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{608,259},{232,210}}</string>
        <key>offset</key>
        <string>{-74,117}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{232,210}}</string>
        <key>sourceSize</key>
        <string>{232,210}</string>
      </dict>
      <key>player_1306_0_5_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{958,1652},{198,181}}</string>
        <key>offset</key>
        <string>{-56,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{198,181}}</string>
        <key>sourceSize</key>
        <string>{198,181}</string>
      </dict>
      <key>player_1306_0_5_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{980,1151},{186,170}}</string>
        <key>offset</key>
        <string>{-43,120}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{186,170}}</string>
        <key>sourceSize</key>
        <string>{186,170}</string>
      </dict>
      <key>player_1306_0_5_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{788,1652},{201,168}}</string>
        <key>offset</key>
        <string>{-51,117}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{201,168}}</string>
        <key>sourceSize</key>
        <string>{201,168}</string>
      </dict>
      <key>player_1306_0_5_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{765,1248},{213,187}}</string>
        <key>offset</key>
        <string>{-124,123}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{213,187}}</string>
        <key>sourceSize</key>
        <string>{213,187}</string>
      </dict>
      <key>player_1306_0_5_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{996,1852},{184,191}}</string>
        <key>offset</key>
        <string>{-102,126}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{184,191}}</string>
        <key>sourceSize</key>
        <string>{184,191}</string>
      </dict>
      <key>player_1306_0_5_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{794,1855},{170,200}}</string>
        <key>offset</key>
        <string>{-80,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,200}}</string>
        <key>sourceSize</key>
        <string>{170,200}</string>
      </dict>
      <key>player_1306_0_5_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{773,1437},{213,205}}</string>
        <key>offset</key>
        <string>{-117,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{213,205}}</string>
        <key>sourceSize</key>
        <string>{213,205}</string>
      </dict>
      <key>player_1306_0_5_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1037,435},{165,203}}</string>
        <key>offset</key>
        <string>{-76,132}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,203}}</string>
        <key>sourceSize</key>
        <string>{165,203}</string>
      </dict>
      <key>player_1306_0_5_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{591,1902},{136,201}}</string>
        <key>offset</key>
        <string>{-51,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,201}}</string>
        <key>sourceSize</key>
        <string>{136,201}</string>
      </dict>
      <key>player_1306_0_5_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{816,724},{217,195}}</string>
        <key>offset</key>
        <string>{-76,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{217,195}}</string>
        <key>sourceSize</key>
        <string>{217,195}</string>
      </dict>
      <key>player_1306_0_5_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{842,461},{212,193}}</string>
        <key>offset</key>
        <string>{-67,128}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{212,193}}</string>
        <key>sourceSize</key>
        <string>{212,193}</string>
      </dict>
      <key>player_1306_0_5_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,493},{229,190}}</string>
        <key>offset</key>
        <string>{-76,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{229,190}}</string>
        <key>sourceSize</key>
        <string>{229,190}</string>
      </dict>
      <key>player_1306_0_5_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{418,296},{265,188}}</string>
        <key>offset</key>
        <string>{-102,123}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{265,188}}</string>
        <key>sourceSize</key>
        <string>{265,188}</string>
      </dict>
      <key>player_1306_0_5_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{347,1488},{252,193}}</string>
        <key>offset</key>
        <string>{-92,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{252,193}}</string>
        <key>sourceSize</key>
        <string>{252,193}</string>
      </dict>
      <key>player_1306_0_5_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{591,1680},{220,195}}</string>
        <key>offset</key>
        <string>{-66,128}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{220,195}}</string>
        <key>sourceSize</key>
        <string>{220,195}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_1306_0_5.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>player_1306_0_5.png</string>
    </dict>
  </dict>
</plist>