<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_1319_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{82,427},{125,82}}</string>
        <key>offset</key>
        <string>{10,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,82}}</string>
        <key>sourceSize</key>
        <string>{125,82}</string>
      </dict>
      <key>player_1319_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{333,396},{120,107}}</string>
        <key>offset</key>
        <string>{11,83}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,107}}</string>
        <key>sourceSize</key>
        <string>{120,107}</string>
      </dict>
      <key>player_1319_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{209,398},{109,122}}</string>
        <key>offset</key>
        <string>{12,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,122}}</string>
        <key>sourceSize</key>
        <string>{109,122}</string>
      </dict>
      <key>player_1319_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{420,143},{99,57}}</string>
        <key>offset</key>
        <string>{-3,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,57}}</string>
        <key>sourceSize</key>
        <string>{99,57}</string>
      </dict>
      <key>player_1319_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{376,76},{114,65}}</string>
        <key>offset</key>
        <string>{6,41}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,65}}</string>
        <key>sourceSize</key>
        <string>{114,65}</string>
      </dict>
      <key>player_1319_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{376,0},{118,74}}</string>
        <key>offset</key>
        <string>{16,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,74}}</string>
        <key>sourceSize</key>
        <string>{118,74}</string>
      </dict>
      <key>player_1319_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{455,319},{53,72}}</string>
        <key>offset</key>
        <string>{-8,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,72}}</string>
        <key>sourceSize</key>
        <string>{53,72}</string>
      </dict>
      <key>player_1319_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,454},{56,72}}</string>
        <key>offset</key>
        <string>{2,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,72}}</string>
        <key>sourceSize</key>
        <string>{56,72}</string>
      </dict>
      <key>player_1319_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{376,319},{75,75}}</string>
        <key>offset</key>
        <string>{10,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,75}}</string>
        <key>sourceSize</key>
        <string>{75,75}</string>
      </dict>
      <key>player_1319_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{344,143},{104,74}}</string>
        <key>offset</key>
        <string>{-62,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,74}}</string>
        <key>sourceSize</key>
        <string>{104,74}</string>
      </dict>
      <key>player_1319_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{420,244},{81,73}}</string>
        <key>offset</key>
        <string>{-33,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,73}}</string>
        <key>sourceSize</key>
        <string>{81,73}</string>
      </dict>
      <key>player_1319_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{479,143},{59,71}}</string>
        <key>offset</key>
        <string>{-6,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,71}}</string>
        <key>sourceSize</key>
        <string>{59,71}</string>
      </dict>
      <key>player_1319_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{82,294},{131,97}}</string>
        <key>offset</key>
        <string>{-85,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,97}}</string>
        <key>sourceSize</key>
        <string>{131,97}</string>
      </dict>
      <key>player_1319_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{181,272},{124,80}}</string>
        <key>offset</key>
        <string>{-81,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,80}}</string>
        <key>sourceSize</key>
        <string>{124,80}</string>
      </dict>
      <key>player_1319_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{265,143},{112,77}}</string>
        <key>offset</key>
        <string>{-70,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,77}}</string>
        <key>sourceSize</key>
        <string>{112,77}</string>
      </dict>
      <key>player_1319_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,0},{109,139}}</string>
        <key>offset</key>
        <string>{-49,117}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,139}}</string>
        <key>sourceSize</key>
        <string>{109,139}</string>
      </dict>
      <key>player_1319_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{141,141},{129,122}}</string>
        <key>offset</key>
        <string>{-77,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,122}}</string>
        <key>sourceSize</key>
        <string>{129,122}</string>
      </dict>
      <key>player_1319_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{263,272},{122,111}}</string>
        <key>offset</key>
        <string>{-81,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,111}}</string>
        <key>sourceSize</key>
        <string>{122,111}</string>
      </dict>
      <key>player_1319_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{55,153}}</string>
        <key>offset</key>
        <string>{8,131}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,153}}</string>
        <key>sourceSize</key>
        <string>{55,153}</string>
      </dict>
      <key>player_1319_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{57,0},{67,150}}</string>
        <key>offset</key>
        <string>{-12,128}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,150}}</string>
        <key>sourceSize</key>
        <string>{67,150}</string>
      </dict>
      <key>player_1319_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,308},{80,144}}</string>
        <key>offset</key>
        <string>{-38,122}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,144}}</string>
        <key>sourceSize</key>
        <string>{80,144}</string>
      </dict>
      <key>player_1319_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{237,0},{105,128}}</string>
        <key>offset</key>
        <string>{6,109}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,128}}</string>
        <key>sourceSize</key>
        <string>{105,128}</string>
      </dict>
      <key>player_1319_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{64,152},{75,140}}</string>
        <key>offset</key>
        <string>{5,120}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,140}}</string>
        <key>sourceSize</key>
        <string>{75,140}</string>
      </dict>
      <key>player_1319_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,155},{62,151}}</string>
        <key>offset</key>
        <string>{1,132}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,151}}</string>
        <key>sourceSize</key>
        <string>{62,151}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_1319_0_7.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>player_1319_0_7.png</string>
    </dict>
  </dict>
</plist>