<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_1428_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{759,138},{133,124}}</string>
        <key>offset</key>
        <string>{-49,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,124}}</string>
        <key>sourceSize</key>
        <string>{133,124}</string>
      </dict>
      <key>player_1428_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{406,150},{146,98}}</string>
        <key>offset</key>
        <string>{-49,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,98}}</string>
        <key>sourceSize</key>
        <string>{146,98}</string>
      </dict>
      <key>player_1428_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{143,0},{151,119}}</string>
        <key>offset</key>
        <string>{-49,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,119}}</string>
        <key>sourceSize</key>
        <string>{151,119}</string>
      </dict>
      <key>player_1428_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{646,0},{136,123}}</string>
        <key>offset</key>
        <string>{-82,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,123}}</string>
        <key>sourceSize</key>
        <string>{136,123}</string>
      </dict>
      <key>player_1428_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,0},{150,124}}</string>
        <key>offset</key>
        <string>{-82,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,124}}</string>
        <key>sourceSize</key>
        <string>{150,124}</string>
      </dict>
      <key>player_1428_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{169,141}}</string>
        <key>offset</key>
        <string>{-82,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,141}}</string>
        <key>sourceSize</key>
        <string>{169,141}</string>
      </dict>
      <key>player_1428_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{638,143},{138,119}}</string>
        <key>offset</key>
        <string>{-82,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,119}}</string>
        <key>sourceSize</key>
        <string>{138,119}</string>
      </dict>
      <key>player_1428_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{270,152},{148,134}}</string>
        <key>offset</key>
        <string>{-82,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,134}}</string>
        <key>sourceSize</key>
        <string>{148,134}</string>
      </dict>
      <key>player_1428_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,332},{158,138}}</string>
        <key>offset</key>
        <string>{-82,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,138}}</string>
        <key>sourceSize</key>
        <string>{158,138}</string>
      </dict>
      <key>player_1428_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{140,329},{131,150}}</string>
        <key>offset</key>
        <string>{-71,118}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,150}}</string>
        <key>sourceSize</key>
        <string>{131,150}</string>
      </dict>
      <key>player_1428_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{524,297},{139,125}}</string>
        <key>offset</key>
        <string>{-71,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,125}}</string>
        <key>sourceSize</key>
        <string>{139,125}</string>
      </dict>
      <key>player_1428_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{399,302},{147,123}}</string>
        <key>offset</key>
        <string>{-71,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,123}}</string>
        <key>sourceSize</key>
        <string>{147,123}</string>
      </dict>
      <key>player_1428_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{390,0},{117,148}}</string>
        <key>offset</key>
        <string>{-14,118}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,148}}</string>
        <key>sourceSize</key>
        <string>{117,148}</string>
      </dict>
      <key>player_1428_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,171},{135,159}}</string>
        <key>offset</key>
        <string>{-32,126}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,159}}</string>
        <key>sourceSize</key>
        <string>{135,159}</string>
      </dict>
      <key>player_1428_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{651,283},{118,135}}</string>
        <key>offset</key>
        <string>{-15,105}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,135}}</string>
        <key>sourceSize</key>
        <string>{118,135}</string>
      </dict>
      <key>player_1428_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,171},{131,156}}</string>
        <key>offset</key>
        <string>{0,120}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,156}}</string>
        <key>sourceSize</key>
        <string>{131,156}</string>
      </dict>
      <key>player_1428_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{885,266},{128,130}}</string>
        <key>offset</key>
        <string>{3,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,130}}</string>
        <key>sourceSize</key>
        <string>{128,130}</string>
      </dict>
      <key>player_1428_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{771,0},{128,133}}</string>
        <key>offset</key>
        <string>{3,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,133}}</string>
        <key>sourceSize</key>
        <string>{128,133}</string>
      </dict>
      <key>player_1428_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{506,150},{130,145}}</string>
        <key>offset</key>
        <string>{1,100}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,145}}</string>
        <key>sourceSize</key>
        <string>{130,145}</string>
      </dict>
      <key>player_1428_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{509,0},{135,141}}</string>
        <key>offset</key>
        <string>{-4,96}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,141}}</string>
        <key>sourceSize</key>
        <string>{135,141}</string>
      </dict>
      <key>player_1428_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{885,135},{132,129}}</string>
        <key>offset</key>
        <string>{-1,84}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,129}}</string>
        <key>sourceSize</key>
        <string>{132,129}</string>
      </dict>
      <key>player_1428_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{771,396},{123,124}}</string>
        <key>offset</key>
        <string>{-3,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,124}}</string>
        <key>sourceSize</key>
        <string>{123,124}</string>
      </dict>
      <key>player_1428_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{901,0},{123,120}}</string>
        <key>offset</key>
        <string>{-3,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,120}}</string>
        <key>sourceSize</key>
        <string>{123,120}</string>
      </dict>
      <key>player_1428_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{273,302},{124,148}}</string>
        <key>offset</key>
        <string>{-4,105}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,148}}</string>
        <key>sourceSize</key>
        <string>{124,148}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_1428_0_7.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>player_1428_0_7.png</string>
    </dict>
  </dict>
</plist>