<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_1403_0_10_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{114,502},{159,139}}</string>
        <key>offset</key>
        <string>{-66,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,139}}</string>
        <key>sourceSize</key>
        <string>{159,139}</string>
      </dict>
      <key>player_1403_0_10_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{913,243},{99,132}}</string>
        <key>offset</key>
        <string>{-28,93}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,132}}</string>
        <key>sourceSize</key>
        <string>{99,132}</string>
      </dict>
      <key>player_1403_0_10_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{726,0},{115,139}}</string>
        <key>offset</key>
        <string>{-36,101}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,139}}</string>
        <key>sourceSize</key>
        <string>{115,139}</string>
      </dict>
      <key>player_1403_0_10_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{377,158},{149,146}}</string>
        <key>offset</key>
        <string>{-48,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,146}}</string>
        <key>sourceSize</key>
        <string>{149,146}</string>
      </dict>
      <key>player_1403_0_10_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{525,150},{136,142}}</string>
        <key>offset</key>
        <string>{-40,99}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,142}}</string>
        <key>sourceSize</key>
        <string>{136,142}</string>
      </dict>
      <key>player_1403_0_10_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{259,0},{156,131}}</string>
        <key>offset</key>
        <string>{-55,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,131}}</string>
        <key>sourceSize</key>
        <string>{156,131}</string>
      </dict>
      <key>player_1403_0_10_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,502},{112,162}}</string>
        <key>offset</key>
        <string>{-36,118}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,162}}</string>
        <key>sourceSize</key>
        <string>{112,162}</string>
      </dict>
      <key>player_1403_0_10_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{480,758},{117,137}}</string>
        <key>offset</key>
        <string>{-43,100}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,137}}</string>
        <key>sourceSize</key>
        <string>{117,137}</string>
      </dict>
      <key>player_1403_0_10_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{843,109},{132,138}}</string>
        <key>offset</key>
        <string>{-46,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,138}}</string>
        <key>sourceSize</key>
        <string>{132,138}</string>
      </dict>
      <key>player_1403_0_10_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{586,596},{137,131}}</string>
        <key>offset</key>
        <string>{-39,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,131}}</string>
        <key>sourceSize</key>
        <string>{137,131}</string>
      </dict>
      <key>player_1403_0_10_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{167,129}}</string>
        <key>offset</key>
        <string>{-55,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,129}}</string>
        <key>sourceSize</key>
        <string>{167,129}</string>
      </dict>
      <key>player_1403_0_10_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,169},{157,143}}</string>
        <key>offset</key>
        <string>{-67,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,143}}</string>
        <key>sourceSize</key>
        <string>{157,143}</string>
      </dict>
      <key>player_1403_0_10_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{245,328},{108,155}}</string>
        <key>offset</key>
        <string>{-34,119}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,155}}</string>
        <key>sourceSize</key>
        <string>{108,155}</string>
      </dict>
      <key>player_1403_0_10_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,663},{150,129}}</string>
        <key>offset</key>
        <string>{-47,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,129}}</string>
        <key>sourceSize</key>
        <string>{150,129}</string>
      </dict>
      <key>player_1403_0_10_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,829},{151,119}}</string>
        <key>offset</key>
        <string>{-57,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,119}}</string>
        <key>sourceSize</key>
        <string>{151,119}</string>
      </dict>
      <key>player_1403_0_10_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{775,345},{119,128}}</string>
        <key>offset</key>
        <string>{-25,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,128}}</string>
        <key>sourceSize</key>
        <string>{119,128}</string>
      </dict>
      <key>player_1403_0_10_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{255,485},{150,142}}</string>
        <key>offset</key>
        <string>{-48,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,142}}</string>
        <key>sourceSize</key>
        <string>{150,142}</string>
      </dict>
      <key>player_1403_0_10_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{121,829},{110,151}}</string>
        <key>offset</key>
        <string>{-38,114}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,151}}</string>
        <key>sourceSize</key>
        <string>{110,151}</string>
      </dict>
      <key>player_1403_0_10_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{131,0},{157,126}}</string>
        <key>offset</key>
        <string>{-57,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,126}}</string>
        <key>sourceSize</key>
        <string>{157,126}</string>
      </dict>
      <key>player_1403_0_10_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{905,377},{126,116}}</string>
        <key>offset</key>
        <string>{-17,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,116}}</string>
        <key>sourceSize</key>
        <string>{126,116}</string>
      </dict>
      <key>player_1403_0_10_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{599,735},{120,119}}</string>
        <key>offset</key>
        <string>{-30,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,119}}</string>
        <key>sourceSize</key>
        <string>{120,119}</string>
      </dict>
      <key>player_1403_0_10_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{775,466},{123,116}}</string>
        <key>offset</key>
        <string>{-33,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,116}}</string>
        <key>sourceSize</key>
        <string>{123,116}</string>
      </dict>
      <key>player_1403_0_10_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{613,0},{111,142}}</string>
        <key>offset</key>
        <string>{-35,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,142}}</string>
        <key>sourceSize</key>
        <string>{111,142}</string>
      </dict>
      <key>player_1403_0_10_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{355,315},{114,150}}</string>
        <key>offset</key>
        <string>{-39,119}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,150}}</string>
        <key>sourceSize</key>
        <string>{114,150}</string>
      </dict>
      <key>player_1403_0_10_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{392,0},{149,123}}</string>
        <key>offset</key>
        <string>{-35,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,123}}</string>
        <key>sourceSize</key>
        <string>{149,123}</string>
      </dict>
      <key>player_1403_0_10_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,505},{91,123}}</string>
        <key>offset</key>
        <string>{-5,83}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,123}}</string>
        <key>sourceSize</key>
        <string>{91,123}</string>
      </dict>
      <key>player_1403_0_10_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{517,0},{94,148}}</string>
        <key>offset</key>
        <string>{-12,111}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,148}}</string>
        <key>sourceSize</key>
        <string>{94,148}</string>
      </dict>
      <key>player_1403_0_10_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{365,784},{142,113}}</string>
        <key>offset</key>
        <string>{-45,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,113}}</string>
        <key>sourceSize</key>
        <string>{142,113}</string>
      </dict>
      <key>player_1403_0_10_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{640,436},{133,134}}</string>
        <key>offset</key>
        <string>{-42,96}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,134}}</string>
        <key>sourceSize</key>
        <string>{133,134}</string>
      </dict>
      <key>player_1403_0_10_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{480,897},{135,125}}</string>
        <key>offset</key>
        <string>{-44,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,125}}</string>
        <key>sourceSize</key>
        <string>{135,125}</string>
      </dict>
      <key>player_1403_0_10_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{259,637},{87,145}}</string>
        <key>offset</key>
        <string>{-5,106}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,145}}</string>
        <key>sourceSize</key>
        <string>{87,145}</string>
      </dict>
      <key>player_1403_0_10_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{617,857},{116,107}}</string>
        <key>offset</key>
        <string>{-23,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,107}}</string>
        <key>sourceSize</key>
        <string>{116,107}</string>
      </dict>
      <key>player_1403_0_10_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{471,309},{115,143}}</string>
        <key>offset</key>
        <string>{-20,103}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,143}}</string>
        <key>sourceSize</key>
        <string>{115,143}</string>
      </dict>
      <key>player_1403_0_10_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{443,614},{142,141}}</string>
        <key>offset</key>
        <string>{-53,101}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,141}}</string>
        <key>sourceSize</key>
        <string>{142,141}</string>
      </dict>
      <key>player_1403_0_10_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{267,158},{155,108}}</string>
        <key>offset</key>
        <string>{-57,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,108}}</string>
        <key>sourceSize</key>
        <string>{155,108}</string>
      </dict>
      <key>player_1403_0_10_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{233,815},{146,130}}</string>
        <key>offset</key>
        <string>{-33,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,130}}</string>
        <key>sourceSize</key>
        <string>{146,130}</string>
      </dict>
      <key>player_1403_0_10_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{843,0},{107,139}}</string>
        <key>offset</key>
        <string>{-12,101}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,139}}</string>
        <key>sourceSize</key>
        <string>{107,139}</string>
      </dict>
      <key>player_1403_0_10_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{348,637},{145,93}}</string>
        <key>offset</key>
        <string>{-49,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,93}}</string>
        <key>sourceSize</key>
        <string>{145,93}</string>
      </dict>
      <key>player_1403_0_10_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,666},{161,126}}</string>
        <key>offset</key>
        <string>{-53,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,126}}</string>
        <key>sourceSize</key>
        <string>{161,126}</string>
      </dict>
      <key>player_1403_0_10_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,337},{118,163}}</string>
        <key>offset</key>
        <string>{-44,127}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,163}}</string>
        <key>sourceSize</key>
        <string>{118,163}</string>
      </dict>
      <key>player_1403_0_10_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{399,467},{145,121}}</string>
        <key>offset</key>
        <string>{-54,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,121}}</string>
        <key>sourceSize</key>
        <string>{145,121}</string>
      </dict>
      <key>player_1403_0_10_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{773,243},{100,138}}</string>
        <key>offset</key>
        <string>{-17,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,138}}</string>
        <key>sourceSize</key>
        <string>{100,138}</string>
      </dict>
      <key>player_1403_0_10_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,169},{166,120}}</string>
        <key>offset</key>
        <string>{-55,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,120}}</string>
        <key>sourceSize</key>
        <string>{166,120}</string>
      </dict>
      <key>player_1403_0_10_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{719,584},{118,117}}</string>
        <key>offset</key>
        <string>{-49,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,117}}</string>
        <key>sourceSize</key>
        <string>{118,117}</string>
      </dict>
      <key>player_1403_0_10_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{522,454},{140,116}}</string>
        <key>offset</key>
        <string>{-55,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,116}}</string>
        <key>sourceSize</key>
        <string>{140,116}</string>
      </dict>
      <key>player_1403_0_10_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{120,337},{123,159}}</string>
        <key>offset</key>
        <string>{-38,127}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,159}}</string>
        <key>sourceSize</key>
        <string>{123,159}</string>
      </dict>
      <key>player_1403_0_10_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{588,294},{98,140}}</string>
        <key>offset</key>
        <string>{-20,105}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,140}}</string>
        <key>sourceSize</key>
        <string>{98,140}</string>
      </dict>
      <key>player_1403_0_10_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{663,144},{108,140}}</string>
        <key>offset</key>
        <string>{-17,101}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,140}}</string>
        <key>sourceSize</key>
        <string>{108,140}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_1403_0_10.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>player_1403_0_10.png</string>
    </dict>
  </dict>
</plist>