<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_1425_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{147,0},{171,123}}</string>
        <key>offset</key>
        <string>{-76,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,123}}</string>
        <key>sourceSize</key>
        <string>{171,123}</string>
      </dict>
      <key>player_1425_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{147,173},{171,130}}</string>
        <key>offset</key>
        <string>{-76,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,130}}</string>
        <key>sourceSize</key>
        <string>{171,130}</string>
      </dict>
      <key>player_1425_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{272,0},{171,123}}</string>
        <key>offset</key>
        <string>{-76,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,123}}</string>
        <key>sourceSize</key>
        <string>{171,123}</string>
      </dict>
      <key>player_1425_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{824,441},{139,144}}</string>
        <key>offset</key>
        <string>{-80,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,144}}</string>
        <key>sourceSize</key>
        <string>{139,144}</string>
      </dict>
      <key>player_1425_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{570,469},{140,144}}</string>
        <key>offset</key>
        <string>{-80,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,144}}</string>
        <key>sourceSize</key>
        <string>{140,144}</string>
      </dict>
      <key>player_1425_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,495},{146,144}}</string>
        <key>offset</key>
        <string>{-80,93}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,144}}</string>
        <key>sourceSize</key>
        <string>{146,144}</string>
      </dict>
      <key>player_1425_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{570,315},{126,152}}</string>
        <key>offset</key>
        <string>{-70,114}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,152}}</string>
        <key>sourceSize</key>
        <string>{126,152}</string>
      </dict>
      <key>player_1425_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{676,155},{137,152}}</string>
        <key>offset</key>
        <string>{-70,114}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,152}}</string>
        <key>sourceSize</key>
        <string>{137,152}</string>
      </dict>
      <key>player_1425_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{790,0},{146,152}}</string>
        <key>offset</key>
        <string>{-70,114}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,152}}</string>
        <key>sourceSize</key>
        <string>{146,152}</string>
      </dict>
      <key>player_1425_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{515,0},{156,158}}</string>
        <key>offset</key>
        <string>{-91,116}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,158}}</string>
        <key>sourceSize</key>
        <string>{156,158}</string>
      </dict>
      <key>player_1425_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{279,173},{165,158}}</string>
        <key>offset</key>
        <string>{-91,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,158}}</string>
        <key>sourceSize</key>
        <string>{165,158}</string>
      </dict>
      <key>player_1425_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,346},{167,158}}</string>
        <key>offset</key>
        <string>{-91,116}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,158}}</string>
        <key>sourceSize</key>
        <string>{167,158}</string>
      </dict>
      <key>player_1425_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{172,145}}</string>
        <key>offset</key>
        <string>{-51,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{172,145}}</string>
        <key>sourceSize</key>
        <string>{172,145}</string>
      </dict>
      <key>player_1425_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,174},{172,145}}</string>
        <key>offset</key>
        <string>{-51,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{172,145}}</string>
        <key>sourceSize</key>
        <string>{172,145}</string>
      </dict>
      <key>player_1425_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,348},{172,145}}</string>
        <key>offset</key>
        <string>{-51,100}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{172,145}}</string>
        <key>sourceSize</key>
        <string>{172,145}</string>
      </dict>
      <key>player_1425_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{343,340},{116,162}}</string>
        <key>offset</key>
        <string>{8,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,162}}</string>
        <key>sourceSize</key>
        <string>{116,162}</string>
      </dict>
      <key>player_1425_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{397,0},{116,162}}</string>
        <key>offset</key>
        <string>{8,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,162}}</string>
        <key>sourceSize</key>
        <string>{116,162}</string>
      </dict>
      <key>player_1425_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{439,164},{121,162}}</string>
        <key>offset</key>
        <string>{3,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,162}}</string>
        <key>sourceSize</key>
        <string>{121,162}</string>
      </dict>
      <key>player_1425_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{461,328},{107,153}}</string>
        <key>offset</key>
        <string>{7,95}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,153}}</string>
        <key>sourceSize</key>
        <string>{107,153}</string>
      </dict>
      <key>player_1425_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{562,160},{112,153}}</string>
        <key>offset</key>
        <string>{2,95}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,153}}</string>
        <key>sourceSize</key>
        <string>{112,153}</string>
      </dict>
      <key>player_1425_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{673,0},{115,153}}</string>
        <key>offset</key>
        <string>{-1,95}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,153}}</string>
        <key>sourceSize</key>
        <string>{115,153}</string>
      </dict>
      <key>player_1425_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{698,309},{151,124}}</string>
        <key>offset</key>
        <string>{-16,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,124}}</string>
        <key>sourceSize</key>
        <string>{151,124}</string>
      </dict>
      <key>player_1425_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{815,154},{151,131}}</string>
        <key>offset</key>
        <string>{-16,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,131}}</string>
        <key>sourceSize</key>
        <string>{151,131}</string>
      </dict>
      <key>player_1425_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{824,307},{151,132}}</string>
        <key>offset</key>
        <string>{-16,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,132}}</string>
        <key>sourceSize</key>
        <string>{151,132}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_1425_0_7.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>player_1425_0_7.png</string>
    </dict>
  </dict>
</plist>