<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_1412_0_11_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,195},{168,147}}</string>
        <key>offset</key>
        <string>{-54,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,147}}</string>
        <key>sourceSize</key>
        <string>{168,147}</string>
      </dict>
      <key>player_1412_0_11_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,0},{159,168}}</string>
        <key>offset</key>
        <string>{-60,122}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,168}}</string>
        <key>sourceSize</key>
        <string>{159,168}</string>
      </dict>
      <key>player_1412_0_11_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,365},{129,164}}</string>
        <key>offset</key>
        <string>{-33,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,164}}</string>
        <key>sourceSize</key>
        <string>{129,164}</string>
      </dict>
      <key>player_1412_0_11_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{149,170},{164,144}}</string>
        <key>offset</key>
        <string>{-52,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,144}}</string>
        <key>sourceSize</key>
        <string>{164,144}</string>
      </dict>
      <key>player_1412_0_11_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{193,122}}</string>
        <key>offset</key>
        <string>{-62,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{193,122}}</string>
        <key>sourceSize</key>
        <string>{193,122}</string>
      </dict>
      <key>player_1412_0_11_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{285,0},{159,115}}</string>
        <key>offset</key>
        <string>{-44,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,115}}</string>
        <key>sourceSize</key>
        <string>{159,115}</string>
      </dict>
      <key>player_1412_0_11_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{402,0},{105,135}}</string>
        <key>offset</key>
        <string>{-20,87}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,135}}</string>
        <key>sourceSize</key>
        <string>{105,135}</string>
      </dict>
      <key>player_1412_0_11_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,336},{146,129}}</string>
        <key>offset</key>
        <string>{-48,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,129}}</string>
        <key>sourceSize</key>
        <string>{146,129}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_1412_0_11.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>player_1412_0_11.png</string>
    </dict>
  </dict>
</plist>