<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_1437_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,576},{139,93}}</string>
        <key>offset</key>
        <string>{-50,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,93}}</string>
        <key>sourceSize</key>
        <string>{139,93}</string>
      </dict>
      <key>player_1437_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{293,360},{143,105}}</string>
        <key>offset</key>
        <string>{-49,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,105}}</string>
        <key>sourceSize</key>
        <string>{143,105}</string>
      </dict>
      <key>player_1437_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,334},{145,115}}</string>
        <key>offset</key>
        <string>{-50,75}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,115}}</string>
        <key>sourceSize</key>
        <string>{145,115}</string>
      </dict>
      <key>player_1437_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{241,829},{119,117}}</string>
        <key>offset</key>
        <string>{-38,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,117}}</string>
        <key>sourceSize</key>
        <string>{119,117}</string>
      </dict>
      <key>player_1437_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{275,714},{113,120}}</string>
        <key>offset</key>
        <string>{-36,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,120}}</string>
        <key>sourceSize</key>
        <string>{113,120}</string>
      </dict>
      <key>player_1437_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,799},{111,124}}</string>
        <key>offset</key>
        <string>{-35,90}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,124}}</string>
        <key>sourceSize</key>
        <string>{111,124}</string>
      </dict>
      <key>player_1437_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{306,131},{90,146}}</string>
        <key>offset</key>
        <string>{-26,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,146}}</string>
        <key>sourceSize</key>
        <string>{90,146}</string>
      </dict>
      <key>player_1437_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{155,0},{88,152}}</string>
        <key>offset</key>
        <string>{-21,104}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,152}}</string>
        <key>sourceSize</key>
        <string>{88,152}</string>
      </dict>
      <key>player_1437_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{78,153}}</string>
        <key>offset</key>
        <string>{-21,106}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,153}}</string>
        <key>sourceSize</key>
        <string>{78,153}</string>
      </dict>
      <key>player_1437_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,451},{134,140}}</string>
        <key>offset</key>
        <string>{-52,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,140}}</string>
        <key>sourceSize</key>
        <string>{134,140}</string>
      </dict>
      <key>player_1437_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{299,223},{135,144}}</string>
        <key>offset</key>
        <string>{-51,101}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,144}}</string>
        <key>sourceSize</key>
        <string>{135,144}</string>
      </dict>
      <key>player_1437_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{151,211},{132,146}}</string>
        <key>offset</key>
        <string>{-49,101}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,146}}</string>
        <key>sourceSize</key>
        <string>{132,146}</string>
      </dict>
      <key>player_1437_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{147,450},{143,124}}</string>
        <key>offset</key>
        <string>{-42,90}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,124}}</string>
        <key>sourceSize</key>
        <string>{143,124}</string>
      </dict>
      <key>player_1437_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{309,0},{150,129}}</string>
        <key>offset</key>
        <string>{-48,94}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,129}}</string>
        <key>sourceSize</key>
        <string>{150,129}</string>
      </dict>
      <key>player_1437_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,208},{149,124}}</string>
        <key>offset</key>
        <string>{-48,93}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,124}}</string>
        <key>sourceSize</key>
        <string>{149,124}</string>
      </dict>
      <key>player_1437_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{292,467},{130,140}}</string>
        <key>offset</key>
        <string>{-30,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,140}}</string>
        <key>sourceSize</key>
        <string>{130,140}</string>
      </dict>
      <key>player_1437_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{154,90},{119,150}}</string>
        <key>offset</key>
        <string>{-27,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,150}}</string>
        <key>sourceSize</key>
        <string>{119,150}</string>
      </dict>
      <key>player_1437_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,80},{126,152}}</string>
        <key>offset</key>
        <string>{-26,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,152}}</string>
        <key>sourceSize</key>
        <string>{126,152}</string>
      </dict>
      <key>player_1437_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{283,599},{113,133}}</string>
        <key>offset</key>
        <string>{-14,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,133}}</string>
        <key>sourceSize</key>
        <string>{113,133}</string>
      </dict>
      <key>player_1437_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,587},{94,139}}</string>
        <key>offset</key>
        <string>{-9,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,139}}</string>
        <key>sourceSize</key>
        <string>{94,139}</string>
      </dict>
      <key>player_1437_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{147,345},{103,144}}</string>
        <key>offset</key>
        <string>{-4,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,144}}</string>
        <key>sourceSize</key>
        <string>{103,144}</string>
      </dict>
      <key>player_1437_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,683},{130,114}}</string>
        <key>offset</key>
        <string>{-32,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,114}}</string>
        <key>sourceSize</key>
        <string>{130,114}</string>
      </dict>
      <key>player_1437_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{141,671},{132,110}}</string>
        <key>offset</key>
        <string>{-33,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,110}}</string>
        <key>sourceSize</key>
        <string>{132,110}</string>
      </dict>
      <key>player_1437_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,799},{128,126}}</string>
        <key>offset</key>
        <string>{-32,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,126}}</string>
        <key>sourceSize</key>
        <string>{128,126}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_1437_0_7.png</string>
      <key>size</key>
      <string>{512,1024}</string>
      <key>textureFileName</key>
      <string>player_1437_0_7.png</string>
    </dict>
  </dict>
</plist>