<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_14132_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{373,90},{92,104}}</string>
        <key>offset</key>
        <string>{-44,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,104}}</string>
        <key>sourceSize</key>
        <string>{92,104}</string>
      </dict>
      <key>sfx_14132_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{186,221},{89,106}}</string>
        <key>offset</key>
        <string>{-42,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,106}}</string>
        <key>sourceSize</key>
        <string>{89,106}</string>
      </dict>
      <key>sfx_14132_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{276,0},{95,105}}</string>
        <key>offset</key>
        <string>{-48,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,105}}</string>
        <key>sourceSize</key>
        <string>{95,105}</string>
      </dict>
      <key>sfx_14132_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{95,0},{90,109}}</string>
        <key>offset</key>
        <string>{-46,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,109}}</string>
        <key>sourceSize</key>
        <string>{90,109}</string>
      </dict>
      <key>sfx_14132_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,113},{85,110}}</string>
        <key>offset</key>
        <string>{-43,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,110}}</string>
        <key>sourceSize</key>
        <string>{85,110}</string>
      </dict>
      <key>sfx_14132_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,225},{89,110}}</string>
        <key>offset</key>
        <string>{-42,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,110}}</string>
        <key>sourceSize</key>
        <string>{89,110}</string>
      </dict>
      <key>sfx_14132_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,337},{87,108}}</string>
        <key>offset</key>
        <string>{-41,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,108}}</string>
        <key>sourceSize</key>
        <string>{87,108}</string>
      </dict>
      <key>sfx_14132_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{373,0},{88,105}}</string>
        <key>offset</key>
        <string>{-43,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,105}}</string>
        <key>sourceSize</key>
        <string>{88,105}</string>
      </dict>
      <key>sfx_14132_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,184},{90,104}}</string>
        <key>offset</key>
        <string>{-46,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,104}}</string>
        <key>sourceSize</key>
        <string>{90,104}</string>
      </dict>
      <key>sfx_14132_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{187,0},{87,107}}</string>
        <key>offset</key>
        <string>{-44,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,107}}</string>
        <key>sourceSize</key>
        <string>{87,107}</string>
      </dict>
      <key>sfx_14132_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{89,337},{87,108}}</string>
        <key>offset</key>
        <string>{-43,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,108}}</string>
        <key>sourceSize</key>
        <string>{87,108}</string>
      </dict>
      <key>sfx_14132_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{91,225},{93,108}}</string>
        <key>offset</key>
        <string>{-43,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,108}}</string>
        <key>sourceSize</key>
        <string>{93,108}</string>
      </dict>
      <key>sfx_14132_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{178,111},{92,108}}</string>
        <key>offset</key>
        <string>{-42,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,108}}</string>
        <key>sourceSize</key>
        <string>{92,108}</string>
      </dict>
      <key>sfx_14132_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{272,109},{92,106}}</string>
        <key>offset</key>
        <string>{-42,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,106}}</string>
        <key>sourceSize</key>
        <string>{92,106}</string>
      </dict>
      <key>sfx_14132_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{270,329},{91,103}}</string>
        <key>offset</key>
        <string>{-45,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,103}}</string>
        <key>sourceSize</key>
        <string>{91,103}</string>
      </dict>
      <key>sfx_14132_0_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{87,113},{89,110}}</string>
        <key>offset</key>
        <string>{-46,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,110}}</string>
        <key>sourceSize</key>
        <string>{89,110}</string>
      </dict>
      <key>sfx_14132_0_0016.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{93,111}}</string>
        <key>offset</key>
        <string>{-46,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,111}}</string>
        <key>sourceSize</key>
        <string>{93,111}</string>
      </dict>
      <key>sfx_14132_0_0017.png</key>
      <dict>
        <key>frame</key>
        <string>{{178,335},{90,107}}</string>
        <key>offset</key>
        <string>{-44,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,107}}</string>
        <key>sourceSize</key>
        <string>{90,107}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_14132_0.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>sfx_14132_0.png</string>
    </dict>
  </dict>
</plist>