<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_13330_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{293,306},{95,96}}</string>
        <key>offset</key>
        <string>{-45,41}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,96}}</string>
        <key>sourceSize</key>
        <string>{95,96}</string>
      </dict>
      <key>sfx_13330_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{390,404},{94,95}}</string>
        <key>offset</key>
        <string>{-45,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,95}}</string>
        <key>sourceSize</key>
        <string>{94,95}</string>
      </dict>
      <key>sfx_13330_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{390,0},{95,95}}</string>
        <key>offset</key>
        <string>{-45,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,95}}</string>
        <key>sourceSize</key>
        <string>{95,95}</string>
      </dict>
      <key>sfx_13330_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,334},{99,104}}</string>
        <key>offset</key>
        <string>{-49,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,104}}</string>
        <key>sourceSize</key>
        <string>{99,104}</string>
      </dict>
      <key>sfx_13330_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,0},{105,101}}</string>
        <key>offset</key>
        <string>{-55,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,101}}</string>
        <key>sourceSize</key>
        <string>{105,101}</string>
      </dict>
      <key>sfx_13330_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,224},{108,101}}</string>
        <key>offset</key>
        <string>{-58,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,101}}</string>
        <key>sourceSize</key>
        <string>{108,101}</string>
      </dict>
      <key>sfx_13330_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{101,334},{104,94}}</string>
        <key>offset</key>
        <string>{-49,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,94}}</string>
        <key>sourceSize</key>
        <string>{104,94}</string>
      </dict>
      <key>sfx_13330_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,107},{96,98}}</string>
        <key>offset</key>
        <string>{-46,41}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,98}}</string>
        <key>sourceSize</key>
        <string>{96,98}</string>
      </dict>
      <key>sfx_13330_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{207,0},{94,98}}</string>
        <key>offset</key>
        <string>{-46,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,98}}</string>
        <key>sourceSize</key>
        <string>{94,98}</string>
      </dict>
      <key>sfx_13330_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,326},{94,97}}</string>
        <key>offset</key>
        <string>{-47,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,97}}</string>
        <key>sourceSize</key>
        <string>{94,97}</string>
      </dict>
      <key>sfx_13330_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{103,222},{97,102}}</string>
        <key>offset</key>
        <string>{-47,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,102}}</string>
        <key>sourceSize</key>
        <string>{97,102}</string>
      </dict>
      <key>sfx_13330_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,113},{98,109}}</string>
        <key>offset</key>
        <string>{-48,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,109}}</string>
        <key>sourceSize</key>
        <string>{98,109}</string>
      </dict>
      <key>sfx_13330_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,113},{98,107}}</string>
        <key>offset</key>
        <string>{-49,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,107}}</string>
        <key>sourceSize</key>
        <string>{98,107}</string>
      </dict>
      <key>sfx_13330_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{102,111}}</string>
        <key>offset</key>
        <string>{-54,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,111}}</string>
        <key>sourceSize</key>
        <string>{102,111}</string>
      </dict>
      <key>sfx_13330_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,207},{97,94}}</string>
        <key>offset</key>
        <string>{-47,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,94}}</string>
        <key>sourceSize</key>
        <string>{97,94}</string>
      </dict>
      <key>sfx_13330_0_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{293,404},{95,96}}</string>
        <key>offset</key>
        <string>{-46,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,96}}</string>
        <key>sourceSize</key>
        <string>{95,96}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_13330_0.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>sfx_13330_0.png</string>
    </dict>
  </dict>
</plist>