<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_60341_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1771},{288,265}}</string>
        <key>offset</key>
        <string>{-148,181}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{288,265}}</string>
        <key>sourceSize</key>
        <string>{288,265}</string>
      </dict>
      <key>sfx_60341_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{389,722},{443,312}}</string>
        <key>offset</key>
        <string>{-284,232}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{443,312}}</string>
        <key>sourceSize</key>
        <string>{443,312}</string>
      </dict>
      <key>sfx_60341_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{834,379},{411,293}}</string>
        <key>offset</key>
        <string>{-259,220}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{411,293}}</string>
        <key>sourceSize</key>
        <string>{411,293}</string>
      </dict>
      <key>sfx_60341_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{694,387}}</string>
        <key>offset</key>
        <string>{-261,289}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{694,387}}</string>
        <key>sourceSize</key>
        <string>{694,387}</string>
      </dict>
      <key>sfx_60341_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1392},{693,377}}</string>
        <key>offset</key>
        <string>{-254,294}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{693,377}}</string>
        <key>sourceSize</key>
        <string>{693,377}</string>
      </dict>
      <key>sfx_60341_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1390,0},{545,359}}</string>
        <key>offset</key>
        <string>{-105,276}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{545,359}}</string>
        <key>sourceSize</key>
        <string>{545,359}</string>
      </dict>
      <key>sfx_60341_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{290,1771},{288,265}}</string>
        <key>offset</key>
        <string>{-102,181}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{288,265}}</string>
        <key>sourceSize</key>
        <string>{288,265}</string>
      </dict>
      <key>sfx_60341_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{389,379},{443,312}}</string>
        <key>offset</key>
        <string>{-121,232}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{443,312}}</string>
        <key>sourceSize</key>
        <string>{443,312}</string>
      </dict>
      <key>sfx_60341_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{834,674},{411,293}}</string>
        <key>offset</key>
        <string>{-114,220}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{411,293}}</string>
        <key>sourceSize</key>
        <string>{411,293}</string>
      </dict>
      <key>sfx_60341_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,696},{694,387}}</string>
        <key>offset</key>
        <string>{-395,289}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{694,387}}</string>
        <key>sourceSize</key>
        <string>{694,387}</string>
      </dict>
      <key>sfx_60341_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{695,0},{693,377}}</string>
        <key>offset</key>
        <string>{-401,294}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{693,377}}</string>
        <key>sourceSize</key>
        <string>{693,377}</string>
      </dict>
      <key>sfx_60341_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1390,361},{545,359}}</string>
        <key>offset</key>
        <string>{-402,276}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{545,359}}</string>
        <key>sourceSize</key>
        <string>{545,359}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_60341_2.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>sfx_60341_2.png</string>
    </dict>
  </dict>
</plist>