<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_14163_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{208,137}}</string>
        <key>offset</key>
        <string>{-79,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,137}}</string>
        <key>sourceSize</key>
        <string>{208,137}</string>
      </dict>
      <key>sfx_14163_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,620},{200,141}}</string>
        <key>offset</key>
        <string>{-79,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,141}}</string>
        <key>sourceSize</key>
        <string>{200,141}</string>
      </dict>
      <key>sfx_14163_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{267,198},{189,148}}</string>
        <key>offset</key>
        <string>{-66,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{189,148}}</string>
        <key>sourceSize</key>
        <string>{189,148}</string>
      </dict>
      <key>sfx_14163_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,0},{186,151}}</string>
        <key>offset</key>
        <string>{-63,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{186,151}}</string>
        <key>sourceSize</key>
        <string>{186,151}</string>
      </dict>
      <key>sfx_14163_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{271,0},{188,139}}</string>
        <key>offset</key>
        <string>{-64,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,139}}</string>
        <key>sourceSize</key>
        <string>{188,139}</string>
      </dict>
      <key>sfx_14163_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,822},{198,132}}</string>
        <key>offset</key>
        <string>{-74,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{198,132}}</string>
        <key>sourceSize</key>
        <string>{198,132}</string>
      </dict>
      <key>sfx_14163_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,210},{203,130}}</string>
        <key>offset</key>
        <string>{-79,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{203,130}}</string>
        <key>sourceSize</key>
        <string>{203,130}</string>
      </dict>
      <key>sfx_14163_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,210},{197,133}}</string>
        <key>offset</key>
        <string>{-73,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{197,133}}</string>
        <key>sourceSize</key>
        <string>{197,133}</string>
      </dict>
      <key>sfx_14163_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{417,188},{183,137}}</string>
        <key>offset</key>
        <string>{-62,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{183,137}}</string>
        <key>sourceSize</key>
        <string>{183,137}</string>
      </dict>
      <key>sfx_14163_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{436,373},{180,151}}</string>
        <key>offset</key>
        <string>{-61,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,151}}</string>
        <key>sourceSize</key>
        <string>{180,151}</string>
      </dict>
      <key>sfx_14163_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{549,555},{163,153}}</string>
        <key>offset</key>
        <string>{-55,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,153}}</string>
        <key>sourceSize</key>
        <string>{163,153}</string>
      </dict>
      <key>sfx_14163_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{556,188},{180,139}}</string>
        <key>offset</key>
        <string>{-61,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,139}}</string>
        <key>sourceSize</key>
        <string>{180,139}</string>
      </dict>
      <key>sfx_14163_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{143,607},{186,126}}</string>
        <key>offset</key>
        <string>{-68,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{186,126}}</string>
        <key>sourceSize</key>
        <string>{186,126}</string>
      </dict>
      <key>sfx_14163_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{415,575},{182,132}}</string>
        <key>offset</key>
        <string>{-72,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,132}}</string>
        <key>sourceSize</key>
        <string>{182,132}</string>
      </dict>
      <key>sfx_14163_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{547,759},{171,139}}</string>
        <key>offset</key>
        <string>{-63,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,139}}</string>
        <key>sourceSize</key>
        <string>{171,139}</string>
      </dict>
      <key>sfx_14163_0_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{406,794},{183,139}}</string>
        <key>offset</key>
        <string>{-62,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{183,139}}</string>
        <key>sourceSize</key>
        <string>{183,139}</string>
      </dict>
      <key>sfx_14163_0_0016.png</key>
      <dict>
        <key>frame</key>
        <string>{{270,795},{185,134}}</string>
        <key>offset</key>
        <string>{-63,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{185,134}}</string>
        <key>sourceSize</key>
        <string>{185,134}</string>
      </dict>
      <key>sfx_14163_0_0017.png</key>
      <dict>
        <key>frame</key>
        <string>{{139,0},{196,130}}</string>
        <key>offset</key>
        <string>{-73,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,130}}</string>
        <key>sourceSize</key>
        <string>{196,130}</string>
      </dict>
      <key>sfx_14163_0_0018.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,415},{203,130}}</string>
        <key>offset</key>
        <string>{-79,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{203,130}}</string>
        <key>sourceSize</key>
        <string>{203,130}</string>
      </dict>
      <key>sfx_14163_0_0019.png</key>
      <dict>
        <key>frame</key>
        <string>{{134,822},{198,134}}</string>
        <key>offset</key>
        <string>{-74,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{198,134}}</string>
        <key>sourceSize</key>
        <string>{198,134}</string>
      </dict>
      <key>sfx_14163_0_0020.png</key>
      <dict>
        <key>frame</key>
        <string>{{271,607},{185,142}}</string>
        <key>offset</key>
        <string>{-62,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{185,142}}</string>
        <key>sourceSize</key>
        <string>{185,142}</string>
      </dict>
      <key>sfx_14163_0_0021.png</key>
      <dict>
        <key>frame</key>
        <string>{{278,389},{184,156}}</string>
        <key>offset</key>
        <string>{-62,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{184,156}}</string>
        <key>sourceSize</key>
        <string>{184,156}</string>
      </dict>
      <key>sfx_14163_0_0022.png</key>
      <dict>
        <key>frame</key>
        <string>{{565,0},{180,154}}</string>
        <key>offset</key>
        <string>{-61,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,154}}</string>
        <key>sourceSize</key>
        <string>{180,154}</string>
      </dict>
      <key>sfx_14163_0_0023.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,409},{196,144}}</string>
        <key>offset</key>
        <string>{-70,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,144}}</string>
        <key>sourceSize</key>
        <string>{196,144}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_14163_0.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>sfx_14163_0.png</string>
    </dict>
  </dict>
</plist>