<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_14228_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{141,0},{150,139}}</string>
        <key>offset</key>
        <string>{-66,17}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,139}}</string>
        <key>sourceSize</key>
        <string>{150,139}</string>
      </dict>
      <key>sfx_14228_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,313},{150,142}}</string>
        <key>offset</key>
        <string>{-66,18}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,142}}</string>
        <key>sourceSize</key>
        <string>{150,142}</string>
      </dict>
      <key>sfx_14228_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{145,152},{148,142}}</string>
        <key>offset</key>
        <string>{-71,18}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,142}}</string>
        <key>sourceSize</key>
        <string>{148,142}</string>
      </dict>
      <key>sfx_14228_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{292,300},{146,144}}</string>
        <key>offset</key>
        <string>{-73,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,144}}</string>
        <key>sourceSize</key>
        <string>{146,144}</string>
      </dict>
      <key>sfx_14228_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{428,0},{146,144}}</string>
        <key>offset</key>
        <string>{-73,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,144}}</string>
        <key>sourceSize</key>
        <string>{146,144}</string>
      </dict>
      <key>sfx_14228_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,157},{154,143}}</string>
        <key>offset</key>
        <string>{-73,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,143}}</string>
        <key>sourceSize</key>
        <string>{154,143}</string>
      </dict>
      <key>sfx_14228_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{438,148},{146,143}}</string>
        <key>offset</key>
        <string>{-66,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,143}}</string>
        <key>sourceSize</key>
        <string>{146,143}</string>
      </dict>
      <key>sfx_14228_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{574,0},{146,144}}</string>
        <key>offset</key>
        <string>{-66,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,144}}</string>
        <key>sourceSize</key>
        <string>{146,144}</string>
      </dict>
      <key>sfx_14228_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{282,0},{148,144}}</string>
        <key>offset</key>
        <string>{-72,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,144}}</string>
        <key>sourceSize</key>
        <string>{148,144}</string>
      </dict>
      <key>sfx_14228_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,313},{150,146}}</string>
        <key>offset</key>
        <string>{-77,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,146}}</string>
        <key>sourceSize</key>
        <string>{150,146}</string>
      </dict>
      <key>sfx_14228_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{289,150},{148,147}}</string>
        <key>offset</key>
        <string>{-75,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,147}}</string>
        <key>sourceSize</key>
        <string>{148,147}</string>
      </dict>
      <key>sfx_14228_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{155,139}}</string>
        <key>offset</key>
        <string>{-72,16}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,139}}</string>
        <key>sourceSize</key>
        <string>{155,139}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_14228_0.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>sfx_14228_0.png</string>
    </dict>
  </dict>
</plist>