<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_13129_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{191,0},{76,78}}</string>
        <key>offset</key>
        <string>{-37,41}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,78}}</string>
        <key>sourceSize</key>
        <string>{76,78}</string>
      </dict>
      <key>sfx_13129_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,80},{75,79}}</string>
        <key>offset</key>
        <string>{-36,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,79}}</string>
        <key>sourceSize</key>
        <string>{75,79}</string>
      </dict>
      <key>sfx_13129_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{181,247},{74,80}}</string>
        <key>offset</key>
        <string>{-35,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,80}}</string>
        <key>sourceSize</key>
        <string>{74,80}</string>
      </dict>
      <key>sfx_13129_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,417},{74,81}}</string>
        <key>offset</key>
        <string>{-35,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,81}}</string>
        <key>sourceSize</key>
        <string>{74,81}</string>
      </dict>
      <key>sfx_13129_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{82,415},{78,84}}</string>
        <key>offset</key>
        <string>{-37,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,84}}</string>
        <key>sourceSize</key>
        <string>{78,84}</string>
      </dict>
      <key>sfx_13129_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,330},{83,85}}</string>
        <key>offset</key>
        <string>{-38,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,85}}</string>
        <key>sourceSize</key>
        <string>{83,85}</string>
      </dict>
      <key>sfx_13129_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{92,247},{84,87}}</string>
        <key>offset</key>
        <string>{-38,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,87}}</string>
        <key>sourceSize</key>
        <string>{84,87}</string>
      </dict>
      <key>sfx_13129_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,247},{81,86}}</string>
        <key>offset</key>
        <string>{-35,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,86}}</string>
        <key>sourceSize</key>
        <string>{81,86}</string>
      </dict>
      <key>sfx_13129_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,415},{80,85}}</string>
        <key>offset</key>
        <string>{-34,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,85}}</string>
        <key>sourceSize</key>
        <string>{80,85}</string>
      </dict>
      <key>sfx_13129_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{92,165},{80,89}}</string>
        <key>offset</key>
        <string>{-34,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,89}}</string>
        <key>sourceSize</key>
        <string>{80,89}</string>
      </dict>
      <key>sfx_13129_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,84},{78,90}}</string>
        <key>offset</key>
        <string>{-35,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,90}}</string>
        <key>sourceSize</key>
        <string>{78,90}</string>
      </dict>
      <key>sfx_13129_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{97,0},{78,92}}</string>
        <key>offset</key>
        <string>{-35,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,92}}</string>
        <key>sourceSize</key>
        <string>{78,92}</string>
      </dict>
      <key>sfx_13129_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{82,95}}</string>
        <key>offset</key>
        <string>{-37,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,95}}</string>
        <key>sourceSize</key>
        <string>{82,95}</string>
      </dict>
      <key>sfx_13129_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{97,80},{83,91}}</string>
        <key>offset</key>
        <string>{-38,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,91}}</string>
        <key>sourceSize</key>
        <string>{83,91}</string>
      </dict>
      <key>sfx_13129_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,164},{81,90}}</string>
        <key>offset</key>
        <string>{-40,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,90}}</string>
        <key>sourceSize</key>
        <string>{81,90}</string>
      </dict>
      <key>sfx_13129_0_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,333},{82,81}}</string>
        <key>offset</key>
        <string>{-42,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,81}}</string>
        <key>sourceSize</key>
        <string>{82,81}</string>
      </dict>
      <key>sfx_13129_0_0016.png</key>
      <dict>
        <key>frame</key>
        <string>{{87,333},{84,79}}</string>
        <key>offset</key>
        <string>{-44,41}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,79}}</string>
        <key>sourceSize</key>
        <string>{84,79}</string>
      </dict>
      <key>sfx_13129_0_0017.png</key>
      <dict>
        <key>frame</key>
        <string>{{183,165},{80,76}}</string>
        <key>offset</key>
        <string>{-40,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,76}}</string>
        <key>sourceSize</key>
        <string>{80,76}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_13129_0.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>sfx_13129_0.png</string>
    </dict>
  </dict>
</plist>