<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_14076_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{284,0},{95,88}}</string>
        <key>offset</key>
        <string>{-48,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,88}}</string>
        <key>sourceSize</key>
        <string>{95,88}</string>
      </dict>
      <key>sfx_14076_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{284,399},{96,89}}</string>
        <key>offset</key>
        <string>{-48,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,89}}</string>
        <key>sourceSize</key>
        <string>{96,89}</string>
      </dict>
      <key>sfx_14076_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{189,300},{97,93}}</string>
        <key>offset</key>
        <string>{-49,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,93}}</string>
        <key>sourceSize</key>
        <string>{97,93}</string>
      </dict>
      <key>sfx_14076_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,0},{98,90}}</string>
        <key>offset</key>
        <string>{-49,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,90}}</string>
        <key>sourceSize</key>
        <string>{98,90}</string>
      </dict>
      <key>sfx_14076_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,100},{98,90}}</string>
        <key>offset</key>
        <string>{-49,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,90}}</string>
        <key>sourceSize</key>
        <string>{98,90}</string>
      </dict>
      <key>sfx_14076_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{95,200},{98,92}}</string>
        <key>offset</key>
        <string>{-49,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,92}}</string>
        <key>sourceSize</key>
        <string>{98,92}</string>
      </dict>
      <key>sfx_14076_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,307},{99,93}}</string>
        <key>offset</key>
        <string>{-49,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,93}}</string>
        <key>sourceSize</key>
        <string>{99,93}</string>
      </dict>
      <key>sfx_14076_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,103},{100,92}}</string>
        <key>offset</key>
        <string>{-50,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,92}}</string>
        <key>sourceSize</key>
        <string>{100,92}</string>
      </dict>
      <key>sfx_14076_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,205},{100,93}}</string>
        <key>offset</key>
        <string>{-50,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,93}}</string>
        <key>sourceSize</key>
        <string>{100,93}</string>
      </dict>
      <key>sfx_14076_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{101,92}}</string>
        <key>offset</key>
        <string>{-50,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,92}}</string>
        <key>sourceSize</key>
        <string>{101,92}</string>
      </dict>
      <key>sfx_14076_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,307},{100,92}}</string>
        <key>offset</key>
        <string>{-50,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,92}}</string>
        <key>sourceSize</key>
        <string>{100,92}</string>
      </dict>
      <key>sfx_14076_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,409},{100,93}}</string>
        <key>offset</key>
        <string>{-50,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,93}}</string>
        <key>sourceSize</key>
        <string>{100,93}</string>
      </dict>
      <key>sfx_14076_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{95,408},{99,93}}</string>
        <key>offset</key>
        <string>{-49,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,93}}</string>
        <key>sourceSize</key>
        <string>{99,93}</string>
      </dict>
      <key>sfx_14076_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{186,0},{98,92}}</string>
        <key>offset</key>
        <string>{-49,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,92}}</string>
        <key>sourceSize</key>
        <string>{98,92}</string>
      </dict>
      <key>sfx_14076_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{186,100},{98,92}}</string>
        <key>offset</key>
        <string>{-49,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,92}}</string>
        <key>sourceSize</key>
        <string>{98,92}</string>
      </dict>
      <key>sfx_14076_0_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{189,200},{98,93}}</string>
        <key>offset</key>
        <string>{-49,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,93}}</string>
        <key>sourceSize</key>
        <string>{98,93}</string>
      </dict>
      <key>sfx_14076_0_0016.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,399},{97,92}}</string>
        <key>offset</key>
        <string>{-49,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,92}}</string>
        <key>sourceSize</key>
        <string>{97,92}</string>
      </dict>
      <key>sfx_14076_0_0017.png</key>
      <dict>
        <key>frame</key>
        <string>{{375,0},{96,88}}</string>
        <key>offset</key>
        <string>{-48,55}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,88}}</string>
        <key>sourceSize</key>
        <string>{96,88}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_14076_0.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>sfx_14076_0.png</string>
    </dict>
  </dict>
</plist>