<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_60362_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{426,1391},{443,458}}</string>
        <key>offset</key>
        <string>{-195,364}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{443,458}}</string>
        <key>sourceSize</key>
        <string>{443,458}</string>
      </dict>
      <key>sfx_60362_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{434,925},{438,453}}</string>
        <key>offset</key>
        <string>{-195,363}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{438,453}}</string>
        <key>sourceSize</key>
        <string>{438,453}</string>
      </dict>
      <key>sfx_60362_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{860,461},{434,450}}</string>
        <key>offset</key>
        <string>{-201,360}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{434,450}}</string>
        <key>sourceSize</key>
        <string>{434,450}</string>
      </dict>
      <key>sfx_60362_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{422,464},{436,459}}</string>
        <key>offset</key>
        <string>{-197,357}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{436,459}}</string>
        <key>sourceSize</key>
        <string>{436,459}</string>
      </dict>
      <key>sfx_60362_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{431,462}}</string>
        <key>offset</key>
        <string>{-192,355}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{431,462}}</string>
        <key>sourceSize</key>
        <string>{431,462}</string>
      </dict>
      <key>sfx_60362_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{433,0},{427,459}}</string>
        <key>offset</key>
        <string>{-189,353}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{427,459}}</string>
        <key>sourceSize</key>
        <string>{427,459}</string>
      </dict>
      <key>sfx_60362_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{862,0},{437,448}}</string>
        <key>offset</key>
        <string>{-198,344}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{437,448}}</string>
        <key>sourceSize</key>
        <string>{437,448}</string>
      </dict>
      <key>sfx_60362_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{871,1380},{433,446}}</string>
        <key>offset</key>
        <string>{-196,343}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{433,446}}</string>
        <key>sourceSize</key>
        <string>{433,446}</string>
      </dict>
      <key>sfx_60362_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{874,913},{426,444}}</string>
        <key>offset</key>
        <string>{-193,343}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{426,444}}</string>
        <key>sourceSize</key>
        <string>{426,444}</string>
      </dict>
      <key>sfx_60362_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1391},{424,459}}</string>
        <key>offset</key>
        <string>{-196,360}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{424,459}}</string>
        <key>sourceSize</key>
        <string>{424,459}</string>
      </dict>
      <key>sfx_60362_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,464},{420,462}}</string>
        <key>offset</key>
        <string>{-195,363}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{420,462}}</string>
        <key>sourceSize</key>
        <string>{420,462}</string>
      </dict>
      <key>sfx_60362_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,928},{432,461}}</string>
        <key>offset</key>
        <string>{-196,364}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{432,461}}</string>
        <key>sourceSize</key>
        <string>{432,461}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_60362_0.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>sfx_60362_0.png</string>
    </dict>
  </dict>
</plist>