<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_13064_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1798},{196,435}}</string>
        <key>offset</key>
        <string>{-63,370}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,435}}</string>
        <key>sourceSize</key>
        <string>{196,435}</string>
      </dict>
      <key>sfx_13064_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{676,895},{211,442}}</string>
        <key>offset</key>
        <string>{-69,366}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{211,442}}</string>
        <key>sourceSize</key>
        <string>{211,442}</string>
      </dict>
      <key>sfx_13064_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,904},{227,445}}</string>
        <key>offset</key>
        <string>{-72,366}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{227,445}}</string>
        <key>sourceSize</key>
        <string>{227,445}</string>
      </dict>
      <key>sfx_13064_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1130,0},{207,437}}</string>
        <key>offset</key>
        <string>{-64,364}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{207,437}}</string>
        <key>sourceSize</key>
        <string>{207,437}</string>
      </dict>
      <key>sfx_13064_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1131,439},{287,434}}</string>
        <key>offset</key>
        <string>{-80,358}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{287,434}}</string>
        <key>sourceSize</key>
        <string>{287,434}</string>
      </dict>
      <key>sfx_13064_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1424,1739},{307,418}}</string>
        <key>offset</key>
        <string>{-97,342}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{307,418}}</string>
        <key>sourceSize</key>
        <string>{307,418}</string>
      </dict>
      <key>sfx_13064_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1844,1721},{317,418}}</string>
        <key>offset</key>
        <string>{-117,338}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{317,418}}</string>
        <key>sourceSize</key>
        <string>{317,418}</string>
      </dict>
      <key>sfx_13064_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1956,857},{318,417}}</string>
        <key>offset</key>
        <string>{-118,338}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{318,417}}</string>
        <key>sourceSize</key>
        <string>{318,417}</string>
      </dict>
      <key>sfx_13064_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{2164,0},{332,410}}</string>
        <key>offset</key>
        <string>{-133,343}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{332,410}}</string>
        <key>sourceSize</key>
        <string>{332,410}</string>
      </dict>
      <key>sfx_13064_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{2135,431},{346,416}}</string>
        <key>offset</key>
        <string>{-147,351}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{346,416}}</string>
        <key>sourceSize</key>
        <string>{346,416}</string>
      </dict>
      <key>sfx_13064_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{1079,1325},{343,432}}</string>
        <key>offset</key>
        <string>{-146,356}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{343,432}}</string>
        <key>sourceSize</key>
        <string>{343,432}</string>
      </dict>
      <key>sfx_13064_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{783,445},{346,441}}</string>
        <key>offset</key>
        <string>{-149,362}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{346,441}}</string>
        <key>sourceSize</key>
        <string>{346,441}</string>
      </dict>
      <key>sfx_13064_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{435,450},{346,443}}</string>
        <key>offset</key>
        <string>{-151,370}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{346,443}}</string>
        <key>sourceSize</key>
        <string>{346,443}</string>
      </dict>
      <key>sfx_13064_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{778,0},{350,443}}</string>
        <key>offset</key>
        <string>{-154,367}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{350,443}}</string>
        <key>sourceSize</key>
        <string>{350,443}</string>
      </dict>
      <key>sfx_13064_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1351},{366,445}}</string>
        <key>offset</key>
        <string>{-170,369}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{366,445}}</string>
        <key>sourceSize</key>
        <string>{366,445}</string>
      </dict>
      <key>sfx_13064_0_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{419,450}}</string>
        <key>offset</key>
        <string>{-193,370}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{419,450}}</string>
        <key>sourceSize</key>
        <string>{419,450}</string>
      </dict>
      <key>sfx_13064_0_0016.png</key>
      <dict>
        <key>frame</key>
        <string>{{229,904},{445,445}}</string>
        <key>offset</key>
        <string>{-204,366}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{445,445}}</string>
        <key>sourceSize</key>
        <string>{445,445}</string>
      </dict>
      <key>sfx_13064_0_0017.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,452},{450,433}}</string>
        <key>offset</key>
        <string>{-204,366}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{450,433}}</string>
        <key>sourceSize</key>
        <string>{450,433}</string>
      </dict>
      <key>sfx_13064_0_0018.png</key>
      <dict>
        <key>frame</key>
        <string>{{1742,0},{420,429}}</string>
        <key>offset</key>
        <string>{-204,364}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{420,429}}</string>
        <key>sourceSize</key>
        <string>{420,429}</string>
      </dict>
      <key>sfx_13064_0_0019.png</key>
      <dict>
        <key>frame</key>
        <string>{{1339,0},{401,434}}</string>
        <key>offset</key>
        <string>{-204,358}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{401,434}}</string>
        <key>sourceSize</key>
        <string>{401,434}</string>
      </dict>
      <key>sfx_13064_0_0020.png</key>
      <dict>
        <key>frame</key>
        <string>{{1777,1297},{394,422}}</string>
        <key>offset</key>
        <string>{-198,343}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{394,422}}</string>
        <key>sourceSize</key>
        <string>{394,422}</string>
      </dict>
      <key>sfx_13064_0_0021.png</key>
      <dict>
        <key>frame</key>
        <string>{{1777,431},{356,424}}</string>
        <key>offset</key>
        <string>{-159,351}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{356,424}}</string>
        <key>sourceSize</key>
        <string>{356,424}</string>
      </dict>
      <key>sfx_13064_0_0022.png</key>
      <dict>
        <key>frame</key>
        <string>{{1598,868},{356,427}}</string>
        <key>offset</key>
        <string>{-158,351}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{356,427}}</string>
        <key>sourceSize</key>
        <string>{356,427}</string>
      </dict>
      <key>sfx_13064_0_0023.png</key>
      <dict>
        <key>frame</key>
        <string>{{1420,436},{355,430}}</string>
        <key>offset</key>
        <string>{-157,354}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{355,430}}</string>
        <key>sourceSize</key>
        <string>{355,430}</string>
      </dict>
      <key>sfx_13064_0_0024.png</key>
      <dict>
        <key>frame</key>
        <string>{{1243,875},{353,431}}</string>
        <key>offset</key>
        <string>{-156,351}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{353,431}}</string>
        <key>sourceSize</key>
        <string>{353,431}</string>
      </dict>
      <key>sfx_13064_0_0025.png</key>
      <dict>
        <key>frame</key>
        <string>{{724,1339},{353,435}}</string>
        <key>offset</key>
        <string>{-156,356}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{353,435}}</string>
        <key>sourceSize</key>
        <string>{353,435}</string>
      </dict>
      <key>sfx_13064_0_0026.png</key>
      <dict>
        <key>frame</key>
        <string>{{1424,1308},{351,429}}</string>
        <key>offset</key>
        <string>{-155,362}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{351,429}}</string>
        <key>sourceSize</key>
        <string>{351,429}</string>
      </dict>
      <key>sfx_13064_0_0027.png</key>
      <dict>
        <key>frame</key>
        <string>{{889,888},{352,435}}</string>
        <key>offset</key>
        <string>{-156,370}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{352,435}}</string>
        <key>sourceSize</key>
        <string>{352,435}</string>
      </dict>
      <key>sfx_13064_0_0028.png</key>
      <dict>
        <key>frame</key>
        <string>{{368,1351},{354,443}}</string>
        <key>offset</key>
        <string>{-157,367}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{354,443}}</string>
        <key>sourceSize</key>
        <string>{354,443}</string>
      </dict>
      <key>sfx_13064_0_0029.png</key>
      <dict>
        <key>frame</key>
        <string>{{421,0},{355,448}}</string>
        <key>offset</key>
        <string>{-157,369}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{355,448}}</string>
        <key>sourceSize</key>
        <string>{355,448}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_13064_0.png</string>
      <key>size</key>
      <string>{4096,2048}</string>
      <key>textureFileName</key>
      <string>sfx_13064_0.png</string>
    </dict>
  </dict>
</plist>