<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_12100_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{185,83},{68,69}}</string>
        <key>offset</key>
        <string>{-29,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,69}}</string>
        <key>sourceSize</key>
        <string>{68,69}</string>
      </dict>
      <key>sfx_12100_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{185,0},{81,76}}</string>
        <key>offset</key>
        <string>{15,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,76}}</string>
        <key>sourceSize</key>
        <string>{81,76}</string>
      </dict>
      <key>sfx_12100_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,339},{145,160}}</string>
        <key>offset</key>
        <string>{-1,127}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,160}}</string>
        <key>sourceSize</key>
        <string>{145,160}</string>
      </dict>
      <key>sfx_12100_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{168,183}}</string>
        <key>offset</key>
        <string>{-19,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,183}}</string>
        <key>sourceSize</key>
        <string>{168,183}</string>
      </dict>
      <key>sfx_12100_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,170},{167,181}}</string>
        <key>offset</key>
        <string>{-19,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,181}}</string>
        <key>sourceSize</key>
        <string>{167,181}</string>
      </dict>
      <key>sfx_12100_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{147,339},{129,135}}</string>
        <key>offset</key>
        <string>{10,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,135}}</string>
        <key>sourceSize</key>
        <string>{129,135}</string>
      </dict>
      <key>sfx_12100_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{183,170},{125,127}}</string>
        <key>offset</key>
        <string>{12,99}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,127}}</string>
        <key>sourceSize</key>
        <string>{125,127}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_12100_1.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>sfx_12100_1.png</string>
    </dict>
  </dict>
</plist>