<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_20301_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1717,944},{338,323}}</string>
        <key>offset</key>
        <string>{-139,134}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{338,323}}</string>
        <key>sourceSize</key>
        <string>{338,323}</string>
      </dict>
      <key>sfx_20301_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{996,944},{719,372}}</string>
        <key>offset</key>
        <string>{-331,162}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{719,372}}</string>
        <key>sourceSize</key>
        <string>{719,372}</string>
      </dict>
      <key>sfx_20301_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{996,0},{875,453}}</string>
        <key>offset</key>
        <string>{-413,197}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{875,453}}</string>
        <key>sourceSize</key>
        <string>{875,453}</string>
      </dict>
      <key>sfx_20301_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{502,989},{967,490}}</string>
        <key>offset</key>
        <string>{-465,220}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{967,490}}</string>
        <key>sourceSize</key>
        <string>{967,490}</string>
      </dict>
      <key>sfx_20301_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{987,500}}</string>
        <key>offset</key>
        <string>{-472,224}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{987,500}}</string>
        <key>sourceSize</key>
        <string>{987,500}</string>
      </dict>
      <key>sfx_20301_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,989},{987,500}}</string>
        <key>offset</key>
        <string>{-473,224}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{987,500}}</string>
        <key>sourceSize</key>
        <string>{987,500}</string>
      </dict>
      <key>sfx_20301_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{502,0},{958,492}}</string>
        <key>offset</key>
        <string>{-456,221}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{958,492}}</string>
        <key>sourceSize</key>
        <string>{958,492}</string>
      </dict>
      <key>sfx_20301_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{996,455},{801,487}}</string>
        <key>offset</key>
        <string>{-413,219}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{801,487}}</string>
        <key>sourceSize</key>
        <string>{801,487}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_20301_0.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>sfx_20301_0.png</string>
    </dict>
  </dict>
</plist>