<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_20306_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1560,960},{277,255}}</string>
        <key>offset</key>
        <string>{-240,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{277,255}}</string>
        <key>sourceSize</key>
        <string>{277,255}</string>
      </dict>
      <key>sfx_20306_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1698,357},{343,285}}</string>
        <key>offset</key>
        <string>{-302,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{343,285}}</string>
        <key>sourceSize</key>
        <string>{343,285}</string>
      </dict>
      <key>sfx_20306_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{471,1032},{420,354}}</string>
        <key>offset</key>
        <string>{-375,66}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{420,354}}</string>
        <key>sourceSize</key>
        <string>{420,354}</string>
      </dict>
      <key>sfx_20306_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{819,1388},{407,350}}</string>
        <key>offset</key>
        <string>{-378,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{407,350}}</string>
        <key>sourceSize</key>
        <string>{407,350}</string>
      </dict>
      <key>sfx_20306_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,602},{410,338}}</string>
        <key>offset</key>
        <string>{-379,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{410,338}}</string>
        <key>sourceSize</key>
        <string>{410,338}</string>
      </dict>
      <key>sfx_20306_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{819,602},{428,360}}</string>
        <key>offset</key>
        <string>{-405,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{428,360}}</string>
        <key>sourceSize</key>
        <string>{428,360}</string>
      </dict>
      <key>sfx_20306_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{428,1421},{450,389}}</string>
        <key>offset</key>
        <string>{-427,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{450,389}}</string>
        <key>sourceSize</key>
        <string>{450,389}</string>
      </dict>
      <key>sfx_20306_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1421},{470,426}}</string>
        <key>offset</key>
        <string>{-447,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{470,426}}</string>
        <key>sourceSize</key>
        <string>{470,426}</string>
      </dict>
      <key>sfx_20306_4_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1204,0},{492,466}}</string>
        <key>offset</key>
        <string>{-469,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{492,466}}</string>
        <key>sourceSize</key>
        <string>{492,466}</string>
      </dict>
      <key>sfx_20306_4_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1204,468},{491,472}}</string>
        <key>offset</key>
        <string>{-469,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{491,472}}</string>
        <key>sourceSize</key>
        <string>{491,472}</string>
      </dict>
      <key>sfx_20306_4_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,942},{477,469}}</string>
        <key>offset</key>
        <string>{-468,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{477,469}}</string>
        <key>sourceSize</key>
        <string>{477,469}</string>
      </dict>
      <key>sfx_20306_4_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{1698,0},{337,355}}</string>
        <key>offset</key>
        <string>{-347,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{337,355}}</string>
        <key>sourceSize</key>
        <string>{337,355}</string>
      </dict>
      <key>sfx_20306_4_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{893,1032},{325,354}}</string>
        <key>offset</key>
        <string>{-338,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{325,354}}</string>
        <key>sourceSize</key>
        <string>{325,354}</string>
      </dict>
      <key>sfx_20306_4_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,602},{318,356}}</string>
        <key>offset</key>
        <string>{-331,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{318,356}}</string>
        <key>sourceSize</key>
        <string>{318,356}</string>
      </dict>
      <key>sfx_20306_4_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{1697,644},{314,342}}</string>
        <key>offset</key>
        <string>{-331,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{314,342}}</string>
        <key>sourceSize</key>
        <string>{314,342}</string>
      </dict>
      <key>sfx_20306_4_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{1220,942},{310,338}}</string>
        <key>offset</key>
        <string>{-328,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{310,338}}</string>
        <key>sourceSize</key>
        <string>{310,338}</string>
      </dict>
      <key>sfx_20306_4_0016.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{600,600}}</string>
        <key>offset</key>
        <string>{-545,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>sfx_20306_4_0017.png</key>
      <dict>
        <key>frame</key>
        <string>{{602,0},{600,600}}</string>
        <key>offset</key>
        <string>{-545,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_20306_4.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>sfx_20306_4.png</string>
    </dict>
  </dict>
</plist>