<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_60632_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{716,0},{359,235}}</string>
        <key>offset</key>
        <string>{-88,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{359,235}}</string>
        <key>sourceSize</key>
        <string>{359,235}</string>
      </dict>
      <key>sfx_60632_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{237,371},{363,237}}</string>
        <key>offset</key>
        <string>{-91,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{363,237}}</string>
        <key>sourceSize</key>
        <string>{363,237}</string>
      </dict>
      <key>sfx_60632_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{238,0},{363,236}}</string>
        <key>offset</key>
        <string>{-91,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{363,236}}</string>
        <key>sourceSize</key>
        <string>{363,236}</string>
      </dict>
      <key>sfx_60632_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{476,0},{363,238}}</string>
        <key>offset</key>
        <string>{-91,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{363,238}}</string>
        <key>sourceSize</key>
        <string>{363,238}</string>
      </dict>
      <key>sfx_60632_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{711,365},{362,235}}</string>
        <key>offset</key>
        <string>{-91,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{362,235}}</string>
        <key>sourceSize</key>
        <string>{362,235}</string>
      </dict>
      <key>sfx_60632_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,371},{367,235}}</string>
        <key>offset</key>
        <string>{-93,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{367,235}}</string>
        <key>sourceSize</key>
        <string>{367,235}</string>
      </dict>
      <key>sfx_60632_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{369,236}}</string>
        <key>offset</key>
        <string>{-94,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{369,236}}</string>
        <key>sourceSize</key>
        <string>{369,236}</string>
      </dict>
      <key>sfx_60632_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{367,736},{363,237}}</string>
        <key>offset</key>
        <string>{-91,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{363,237}}</string>
        <key>sourceSize</key>
        <string>{363,237}</string>
      </dict>
      <key>sfx_60632_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{476,365},{363,233}}</string>
        <key>offset</key>
        <string>{-91,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{363,233}}</string>
        <key>sourceSize</key>
        <string>{363,233}</string>
      </dict>
      <key>sfx_60632_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,740},{365,235}}</string>
        <key>offset</key>
        <string>{-92,77}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{365,235}}</string>
        <key>sourceSize</key>
        <string>{365,235}</string>
      </dict>
      <key>sfx_60632_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{953,0},{347,235}}</string>
        <key>offset</key>
        <string>{-83,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{347,235}}</string>
        <key>sourceSize</key>
        <string>{347,235}</string>
      </dict>
      <key>sfx_60632_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{1186,349},{345,235}}</string>
        <key>offset</key>
        <string>{-82,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{345,235}}</string>
        <key>sourceSize</key>
        <string>{345,235}</string>
      </dict>
      <key>sfx_60632_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{1089,716},{347,235}}</string>
        <key>offset</key>
        <string>{-83,77}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{347,235}}</string>
        <key>sourceSize</key>
        <string>{347,235}</string>
      </dict>
      <key>sfx_60632_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{948,361},{353,236}}</string>
        <key>offset</key>
        <string>{-85,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{353,236}}</string>
        <key>sourceSize</key>
        <string>{353,236}</string>
      </dict>
      <key>sfx_60632_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{732,729},{355,235}}</string>
        <key>offset</key>
        <string>{-87,78}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{355,235}}</string>
        <key>sourceSize</key>
        <string>{355,235}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_60632_0.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>sfx_60632_0.png</string>
    </dict>
  </dict>
</plist>