<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_11092_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{97,185},{31,41}}</string>
        <key>offset</key>
        <string>{-13,18}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{31,41}}</string>
        <key>sourceSize</key>
        <string>{31,41}</string>
      </dict>
      <key>sfx_11092_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{54,194},{41,54}}</string>
        <key>offset</key>
        <string>{-17,31}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{41,54}}</string>
        <key>sourceSize</key>
        <string>{41,54}</string>
      </dict>
      <key>sfx_11092_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{72,0},{52,61}}</string>
        <key>offset</key>
        <string>{-23,37}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,61}}</string>
        <key>sourceSize</key>
        <string>{52,61}</string>
      </dict>
      <key>sfx_11092_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,128},{58,64}}</string>
        <key>offset</key>
        <string>{-26,39}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,64}}</string>
        <key>sourceSize</key>
        <string>{58,64}</string>
      </dict>
      <key>sfx_11092_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{62,70}}</string>
        <key>offset</key>
        <string>{-28,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,70}}</string>
        <key>sourceSize</key>
        <string>{62,70}</string>
      </dict>
      <key>sfx_11092_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,64},{62,67}}</string>
        <key>offset</key>
        <string>{-28,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,67}}</string>
        <key>sourceSize</key>
        <string>{62,67}</string>
      </dict>
      <key>sfx_11092_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{69,64},{57,63}}</string>
        <key>offset</key>
        <string>{-26,39}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,63}}</string>
        <key>sourceSize</key>
        <string>{57,63}</string>
      </dict>
      <key>sfx_11092_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,194},{52,60}}</string>
        <key>offset</key>
        <string>{-23,36}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,60}}</string>
        <key>sourceSize</key>
        <string>{52,60}</string>
      </dict>
      <key>sfx_11092_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{60,129},{45,54}}</string>
        <key>offset</key>
        <string>{-20,31}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{45,54}}</string>
        <key>sourceSize</key>
        <string>{45,54}</string>
      </dict>
      <key>sfx_11092_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,0},{34,46}}</string>
        <key>offset</key>
        <string>{-14,23}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{34,46}}</string>
        <key>sourceSize</key>
        <string>{34,46}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_11092_0.png</string>
      <key>size</key>
      <string>{256,256}</string>
      <key>textureFileName</key>
      <string>sfx_11092_0.png</string>
    </dict>
  </dict>
</plist>