<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_11121_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{61,90},{44,34}}</string>
        <key>offset</key>
        <string>{-21,14}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{44,34}}</string>
        <key>sourceSize</key>
        <string>{44,34}</string>
      </dict>
      <key>sfx_11121_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,0},{50,36}}</string>
        <key>offset</key>
        <string>{-25,15}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,36}}</string>
        <key>sourceSize</key>
        <string>{50,36}</string>
      </dict>
      <key>sfx_11121_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{61,0},{52,40}}</string>
        <key>offset</key>
        <string>{-26,16}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,40}}</string>
        <key>sourceSize</key>
        <string>{52,40}</string>
      </dict>
      <key>sfx_11121_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,194},{54,46}}</string>
        <key>offset</key>
        <string>{-26,18}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,46}}</string>
        <key>sourceSize</key>
        <string>{54,46}</string>
      </dict>
      <key>sfx_11121_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{58,136},{56,52}}</string>
        <key>offset</key>
        <string>{-26,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,52}}</string>
        <key>sourceSize</key>
        <string>{56,52}</string>
      </dict>
      <key>sfx_11121_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,199},{60,55}}</string>
        <key>offset</key>
        <string>{-28,22}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,55}}</string>
        <key>sourceSize</key>
        <string>{60,55}</string>
      </dict>
      <key>sfx_11121_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{66,59}}</string>
        <key>offset</key>
        <string>{-31,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,59}}</string>
        <key>sourceSize</key>
        <string>{66,59}</string>
      </dict>
      <key>sfx_11121_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,68},{66,59}}</string>
        <key>offset</key>
        <string>{-31,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,59}}</string>
        <key>sourceSize</key>
        <string>{66,59}</string>
      </dict>
      <key>sfx_11121_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,136},{61,56}}</string>
        <key>offset</key>
        <string>{-29,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,56}}</string>
        <key>sourceSize</key>
        <string>{61,56}</string>
      </dict>
      <key>sfx_11121_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{62,194},{56,48}}</string>
        <key>offset</key>
        <string>{-26,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,48}}</string>
        <key>sourceSize</key>
        <string>{56,48}</string>
      </dict>
      <key>sfx_11121_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,0},{54,43}}</string>
        <key>offset</key>
        <string>{-27,18}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,43}}</string>
        <key>sourceSize</key>
        <string>{54,43}</string>
      </dict>
      <key>sfx_11121_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,0},{53,39}}</string>
        <key>offset</key>
        <string>{-28,16}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,39}}</string>
        <key>sourceSize</key>
        <string>{53,39}</string>
      </dict>
      <key>sfx_11121_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{61,54},{46,34}}</string>
        <key>offset</key>
        <string>{-22,14}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,34}}</string>
        <key>sourceSize</key>
        <string>{46,34}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_11121_0.png</string>
      <key>size</key>
      <string>{256,256}</string>
      <key>textureFileName</key>
      <string>sfx_11121_0.png</string>
    </dict>
  </dict>
</plist>