<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_13042_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1029},{254,470}}</string>
        <key>offset</key>
        <string>{-115,418}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{254,470}}</string>
        <key>sourceSize</key>
        <string>{254,470}</string>
      </dict>
      <key>sfx_13042_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{474,519},{253,471}}</string>
        <key>offset</key>
        <string>{-114,418}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{253,471}}</string>
        <key>sourceSize</key>
        <string>{253,471}</string>
      </dict>
      <key>sfx_13042_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{255,477}}</string>
        <key>offset</key>
        <string>{-114,418}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{255,477}}</string>
        <key>sourceSize</key>
        <string>{255,477}</string>
      </dict>
      <key>sfx_13042_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{477,260},{257,474}}</string>
        <key>offset</key>
        <string>{-114,415}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{257,474}}</string>
        <key>sourceSize</key>
        <string>{257,474}</string>
      </dict>
      <key>sfx_13042_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,257},{257,475}}</string>
        <key>offset</key>
        <string>{-114,416}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{257,475}}</string>
        <key>sourceSize</key>
        <string>{257,475}</string>
      </dict>
      <key>sfx_13042_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{479,0},{258,477}}</string>
        <key>offset</key>
        <string>{-114,418}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,477}}</string>
        <key>sourceSize</key>
        <string>{258,477}</string>
      </dict>
      <key>sfx_13042_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{474,774},{260,471}}</string>
        <key>offset</key>
        <string>{-119,418}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{260,471}}</string>
        <key>sourceSize</key>
        <string>{260,471}</string>
      </dict>
      <key>sfx_13042_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,516},{256,472}}</string>
        <key>offset</key>
        <string>{-119,419}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{256,472}}</string>
        <key>sourceSize</key>
        <string>{256,472}</string>
      </dict>
      <key>sfx_13042_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{472,1036},{256,468}}</string>
        <key>offset</key>
        <string>{-119,416}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{256,468}}</string>
        <key>sourceSize</key>
        <string>{256,468}</string>
      </dict>
      <key>sfx_13042_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,774},{253,471}}</string>
        <key>offset</key>
        <string>{-115,419}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{253,471}}</string>
        <key>sourceSize</key>
        <string>{253,471}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_13042_0.png</string>
      <key>size</key>
      <string>{1024,2048}</string>
      <key>textureFileName</key>
      <string>sfx_13042_0.png</string>
    </dict>
  </dict>
</plist>