<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_13039_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{558,472},{230,468}}</string>
        <key>offset</key>
        <string>{-103,399}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{230,468}}</string>
        <key>sourceSize</key>
        <string>{230,468}</string>
      </dict>
      <key>sfx_13039_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1428,235},{203,414}}</string>
        <key>offset</key>
        <string>{-77,342}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{203,414}}</string>
        <key>sourceSize</key>
        <string>{203,414}</string>
      </dict>
      <key>sfx_13039_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1428,440},{222,409}}</string>
        <key>offset</key>
        <string>{-94,340}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{222,409}}</string>
        <key>sourceSize</key>
        <string>{222,409}</string>
      </dict>
      <key>sfx_13039_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1428,0},{233,426}}</string>
        <key>offset</key>
        <string>{-89,355}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{233,426}}</string>
        <key>sourceSize</key>
        <string>{233,426}</string>
      </dict>
      <key>sfx_13039_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1095,468},{241,455}}</string>
        <key>offset</key>
        <string>{-97,380}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{241,455}}</string>
        <key>sourceSize</key>
        <string>{241,455}</string>
      </dict>
      <key>sfx_13039_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,988},{246,482}}</string>
        <key>offset</key>
        <string>{-103,404}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{246,482}}</string>
        <key>sourceSize</key>
        <string>{246,482}</string>
      </dict>
      <key>sfx_13039_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{254,493}}</string>
        <key>offset</key>
        <string>{-110,412}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{254,493}}</string>
        <key>sourceSize</key>
        <string>{254,493}</string>
      </dict>
      <key>sfx_13039_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,495},{250,491}}</string>
        <key>offset</key>
        <string>{-106,407}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{250,491}}</string>
        <key>sourceSize</key>
        <string>{250,491}</string>
      </dict>
      <key>sfx_13039_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1472},{262,470}}</string>
        <key>offset</key>
        <string>{-109,402}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{262,470}}</string>
        <key>sourceSize</key>
        <string>{262,470}</string>
      </dict>
      <key>sfx_13039_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1161,0},{265,445}}</string>
        <key>offset</key>
        <string>{-106,376}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{265,445}}</string>
        <key>sourceSize</key>
        <string>{265,445}</string>
      </dict>
      <key>sfx_13039_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{849,939},{296,458}}</string>
        <key>offset</key>
        <string>{-88,402}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{296,458}}</string>
        <key>sourceSize</key>
        <string>{296,458}</string>
      </dict>
      <key>sfx_13039_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{568,1438},{296,465}}</string>
        <key>offset</key>
        <string>{-91,408}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{296,465}}</string>
        <key>sourceSize</key>
        <string>{296,465}</string>
      </dict>
      <key>sfx_13039_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{861,0},{298,466}}</string>
        <key>offset</key>
        <string>{-93,409}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{298,466}}</string>
        <key>sourceSize</key>
        <string>{298,466}</string>
      </dict>
      <key>sfx_13039_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{563,0},{296,468}}</string>
        <key>offset</key>
        <string>{-91,411}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{296,468}}</string>
        <key>sourceSize</key>
        <string>{296,468}</string>
      </dict>
      <key>sfx_13039_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{551,967},{296,469}}</string>
        <key>offset</key>
        <string>{-91,411}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{296,469}}</string>
        <key>sourceSize</key>
        <string>{296,469}</string>
      </dict>
      <key>sfx_13039_0_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{248,988},{301,470}}</string>
        <key>offset</key>
        <string>{-94,412}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{301,470}}</string>
        <key>sourceSize</key>
        <string>{301,470}</string>
      </dict>
      <key>sfx_13039_0_0016.png</key>
      <dict>
        <key>frame</key>
        <string>{{252,495},{304,470}}</string>
        <key>offset</key>
        <string>{-96,412}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{304,470}}</string>
        <key>sourceSize</key>
        <string>{304,470}</string>
      </dict>
      <key>sfx_13039_0_0017.png</key>
      <dict>
        <key>frame</key>
        <string>{{256,0},{305,470}}</string>
        <key>offset</key>
        <string>{-94,412}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{305,470}}</string>
        <key>sourceSize</key>
        <string>{305,470}</string>
      </dict>
      <key>sfx_13039_0_0018.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,1460},{302,470}}</string>
        <key>offset</key>
        <string>{-94,412}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{302,470}}</string>
        <key>sourceSize</key>
        <string>{302,470}</string>
      </dict>
      <key>sfx_13039_0_0019.png</key>
      <dict>
        <key>frame</key>
        <string>{{790,470},{303,467}}</string>
        <key>offset</key>
        <string>{-93,410}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{303,467}}</string>
        <key>sourceSize</key>
        <string>{303,467}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_13039_0.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>sfx_13039_0.png</string>
    </dict>
  </dict>
</plist>