<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_60257_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,477},{19,61}}</string>
        <key>offset</key>
        <string>{-10,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{19,61}}</string>
        <key>sourceSize</key>
        <string>{19,61}</string>
      </dict>
      <key>sfx_60257_0_0023.png</key>
      <dict>
        <key>frame</key>
        <string>{{285,219},{43,55}}</string>
        <key>offset</key>
        <string>{-22,34}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{43,55}}</string>
        <key>sourceSize</key>
        <string>{43,55}</string>
      </dict>
      <key>sfx_60257_0_0024.png</key>
      <dict>
        <key>frame</key>
        <string>{{146,450},{44,62}}</string>
        <key>offset</key>
        <string>{-22,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{44,62}}</string>
        <key>sourceSize</key>
        <string>{44,62}</string>
      </dict>
      <key>sfx_60257_0_0040.png</key>
      <dict>
        <key>frame</key>
        <string>{{146,111},{107,69}}</string>
        <key>offset</key>
        <string>{-53,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,69}}</string>
        <key>sourceSize</key>
        <string>{107,69}</string>
      </dict>
      <key>sfx_60257_0_0041.png</key>
      <dict>
        <key>frame</key>
        <string>{{217,111},{106,70}}</string>
        <key>offset</key>
        <string>{-57,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,70}}</string>
        <key>sourceSize</key>
        <string>{106,70}</string>
      </dict>
      <key>sfx_60257_0_0042.png</key>
      <dict>
        <key>frame</key>
        <string>{{219,435},{102,71}}</string>
        <key>offset</key>
        <string>{-50,37}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,71}}</string>
        <key>sourceSize</key>
        <string>{102,71}</string>
      </dict>
      <key>sfx_60257_0_0047.png</key>
      <dict>
        <key>frame</key>
        <string>{{219,0},{106,69}}</string>
        <key>offset</key>
        <string>{-57,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,69}}</string>
        <key>sourceSize</key>
        <string>{106,69}</string>
      </dict>
      <key>sfx_60257_0_0049.png</key>
      <dict>
        <key>frame</key>
        <string>{{143,228},{109,70}}</string>
        <key>offset</key>
        <string>{-57,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,70}}</string>
        <key>sourceSize</key>
        <string>{109,70}</string>
      </dict>
      <key>sfx_60257_0_0050.png</key>
      <dict>
        <key>frame</key>
        <string>{{146,339},{109,71}}</string>
        <key>offset</key>
        <string>{-55,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,71}}</string>
        <key>sourceSize</key>
        <string>{109,71}</string>
      </dict>
      <key>sfx_60257_0_0051.png</key>
      <dict>
        <key>frame</key>
        <string>{{73,0},{112,71}}</string>
        <key>offset</key>
        <string>{-56,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,71}}</string>
        <key>sourceSize</key>
        <string>{112,71}</string>
      </dict>
      <key>sfx_60257_0_0052.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,359},{116,72}}</string>
        <key>offset</key>
        <string>{-60,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,72}}</string>
        <key>sourceSize</key>
        <string>{116,72}</string>
      </dict>
      <key>sfx_60257_0_0054.png</key>
      <dict>
        <key>frame</key>
        <string>{{73,114},{112,71}}</string>
        <key>offset</key>
        <string>{-59,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,71}}</string>
        <key>sourceSize</key>
        <string>{112,71}</string>
      </dict>
      <key>sfx_60257_0_0055.png</key>
      <dict>
        <key>frame</key>
        <string>{{146,0},{109,71}}</string>
        <key>offset</key>
        <string>{-59,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,71}}</string>
        <key>sourceSize</key>
        <string>{109,71}</string>
      </dict>
      <key>sfx_60257_0_0056.png</key>
      <dict>
        <key>frame</key>
        <string>{{74,356},{113,70}}</string>
        <key>offset</key>
        <string>{-59,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,70}}</string>
        <key>sourceSize</key>
        <string>{113,70}</string>
      </dict>
      <key>sfx_60257_0_0057.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{118,71}}</string>
        <key>offset</key>
        <string>{-60,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,71}}</string>
        <key>sourceSize</key>
        <string>{118,71}</string>
      </dict>
      <key>sfx_60257_0_0058.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,120},{118,71}}</string>
        <key>offset</key>
        <string>{-61,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,71}}</string>
        <key>sourceSize</key>
        <string>{118,71}</string>
      </dict>
      <key>sfx_60257_0_0059.png</key>
      <dict>
        <key>frame</key>
        <string>{{71,240},{114,70}}</string>
        <key>offset</key>
        <string>{-55,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,70}}</string>
        <key>sourceSize</key>
        <string>{114,70}</string>
      </dict>
      <key>sfx_60257_0_0060.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,240},{117,69}}</string>
        <key>offset</key>
        <string>{-58,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,69}}</string>
        <key>sourceSize</key>
        <string>{117,69}</string>
      </dict>
      <key>sfx_60257_0_0061.png</key>
      <dict>
        <key>frame</key>
        <string>{{215,220},{107,68}}</string>
        <key>offset</key>
        <string>{-58,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,68}}</string>
        <key>sourceSize</key>
        <string>{107,68}</string>
      </dict>
      <key>sfx_60257_0_0062.png</key>
      <dict>
        <key>frame</key>
        <string>{{219,329},{104,70}}</string>
        <key>offset</key>
        <string>{-52,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,70}}</string>
        <key>sourceSize</key>
        <string>{104,70}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_60257_0_0.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>sfx_60257_0_0.png</string>
    </dict>
  </dict>
</plist>