<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_60334_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1448,0},{361,328}}</string>
        <key>offset</key>
        <string>{-10,406}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{361,328}}</string>
        <key>sourceSize</key>
        <string>{361,328}</string>
      </dict>
      <key>sfx_60334_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{664,1349},{494,375}}</string>
        <key>offset</key>
        <string>{-151,430}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{494,375}}</string>
        <key>sourceSize</key>
        <string>{494,375}</string>
      </dict>
      <key>sfx_60334_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{716,709}}</string>
        <key>offset</key>
        <string>{-373,466}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{716,709}}</string>
        <key>sourceSize</key>
        <string>{716,709}</string>
      </dict>
      <key>sfx_60334_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,718},{642,706}}</string>
        <key>offset</key>
        <string>{-418,451}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{642,706}}</string>
        <key>sourceSize</key>
        <string>{642,706}</string>
      </dict>
      <key>sfx_60334_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1426},{515,662}}</string>
        <key>offset</key>
        <string>{-436,407}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{515,662}}</string>
        <key>sourceSize</key>
        <string>{515,662}</string>
      </dict>
      <key>sfx_60334_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{644,718},{472,629}}</string>
        <key>offset</key>
        <string>{-426,373}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{472,629}}</string>
        <key>sourceSize</key>
        <string>{472,629}</string>
      </dict>
      <key>sfx_60334_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1041,1349},{418,259}}</string>
        <key>offset</key>
        <string>{-385,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{418,259}}</string>
        <key>sourceSize</key>
        <string>{418,259}</string>
      </dict>
      <key>sfx_60334_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1041,1769},{405,249}}</string>
        <key>offset</key>
        <string>{-376,27}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{405,249}}</string>
        <key>sourceSize</key>
        <string>{405,249}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_60334_5.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>sfx_60334_5.png</string>
    </dict>
  </dict>
</plist>