<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_60647_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{502,271},{129,268}}</string>
        <key>offset</key>
        <string>{-22,156}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,268}}</string>
        <key>sourceSize</key>
        <string>{129,268}</string>
      </dict>
      <key>sfx_60647_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{620,0},{132,268}}</string>
        <key>offset</key>
        <string>{-22,156}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,268}}</string>
        <key>sourceSize</key>
        <string>{132,268}</string>
      </dict>
      <key>sfx_60647_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{754,0},{127,268}}</string>
        <key>offset</key>
        <string>{-22,156}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,268}}</string>
        <key>sourceSize</key>
        <string>{127,268}</string>
      </dict>
      <key>sfx_60647_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{373,273},{127,269}}</string>
        <key>offset</key>
        <string>{-22,157}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,269}}</string>
        <key>sourceSize</key>
        <string>{127,269}</string>
      </dict>
      <key>sfx_60647_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,554},{122,271}}</string>
        <key>offset</key>
        <string>{-22,160}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,271}}</string>
        <key>sourceSize</key>
        <string>{122,271}</string>
      </dict>
      <key>sfx_60647_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,834},{122,273}}</string>
        <key>offset</key>
        <string>{-22,162}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,273}}</string>
        <key>sourceSize</key>
        <string>{122,273}</string>
      </dict>
      <key>sfx_60647_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{251,274},{120,271}}</string>
        <key>offset</key>
        <string>{-22,160}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,271}}</string>
        <key>sourceSize</key>
        <string>{120,271}</string>
      </dict>
      <key>sfx_60647_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{120,558},{122,272}}</string>
        <key>offset</key>
        <string>{-23,161}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,272}}</string>
        <key>sourceSize</key>
        <string>{122,272}</string>
      </dict>
      <key>sfx_60647_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{371,0},{125,271}}</string>
        <key>offset</key>
        <string>{-25,160}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,271}}</string>
        <key>sourceSize</key>
        <string>{125,271}</string>
      </dict>
      <key>sfx_60647_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,280},{127,272}}</string>
        <key>offset</key>
        <string>{-26,161}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,272}}</string>
        <key>sourceSize</key>
        <string>{127,272}</string>
      </dict>
      <key>sfx_60647_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{130,278}}</string>
        <key>offset</key>
        <string>{-28,167}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,278}}</string>
        <key>sourceSize</key>
        <string>{130,278}</string>
      </dict>
      <key>sfx_60647_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{275,827},{129,270}}</string>
        <key>offset</key>
        <string>{-30,159}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,270}}</string>
        <key>sourceSize</key>
        <string>{129,270}</string>
      </dict>
      <key>sfx_60647_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{754,129},{125,268}}</string>
        <key>offset</key>
        <string>{-29,157}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,268}}</string>
        <key>sourceSize</key>
        <string>{125,268}</string>
      </dict>
      <key>sfx_60647_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{368,547},{118,270}}</string>
        <key>offset</key>
        <string>{-25,159}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,270}}</string>
        <key>sourceSize</key>
        <string>{118,270}</string>
      </dict>
      <key>sfx_60647_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,0},{116,272}}</string>
        <key>offset</key>
        <string>{-22,161}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,272}}</string>
        <key>sourceSize</key>
        <string>{116,272}</string>
      </dict>
      <key>sfx_60647_0_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{498,0},{120,269}}</string>
        <key>offset</key>
        <string>{-23,158}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,269}}</string>
        <key>sourceSize</key>
        <string>{120,269}</string>
      </dict>
      <key>sfx_60647_0_0016.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,0},{119,272}}</string>
        <key>offset</key>
        <string>{-20,161}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,272}}</string>
        <key>sourceSize</key>
        <string>{119,272}</string>
      </dict>
      <key>sfx_60647_0_0017.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,558},{118,274}}</string>
        <key>offset</key>
        <string>{-19,163}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,274}}</string>
        <key>sourceSize</key>
        <string>{118,274}</string>
      </dict>
      <key>sfx_60647_0_0018.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,280},{120,276}}</string>
        <key>offset</key>
        <string>{-20,165}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,276}}</string>
        <key>sourceSize</key>
        <string>{120,276}</string>
      </dict>
      <key>sfx_60647_0_0019.png</key>
      <dict>
        <key>frame</key>
        <string>{{754,256},{123,268}}</string>
        <key>offset</key>
        <string>{-22,157}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,268}}</string>
        <key>sourceSize</key>
        <string>{123,268}</string>
      </dict>
      <key>sfx_60647_0_0020.png</key>
      <dict>
        <key>frame</key>
        <string>{{748,381},{124,267}}</string>
        <key>offset</key>
        <string>{-23,156}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,267}}</string>
        <key>sourceSize</key>
        <string>{124,267}</string>
      </dict>
      <key>sfx_60647_0_0021.png</key>
      <dict>
        <key>frame</key>
        <string>{{748,507},{125,267}}</string>
        <key>offset</key>
        <string>{-25,156}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,267}}</string>
        <key>sourceSize</key>
        <string>{125,267}</string>
      </dict>
      <key>sfx_60647_0_0022.png</key>
      <dict>
        <key>frame</key>
        <string>{{547,815},{127,268}}</string>
        <key>offset</key>
        <string>{-26,157}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,268}}</string>
        <key>sourceSize</key>
        <string>{127,268}</string>
      </dict>
      <key>sfx_60647_0_0023.png</key>
      <dict>
        <key>frame</key>
        <string>{{618,541},{128,268}}</string>
        <key>offset</key>
        <string>{-24,157}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,268}}</string>
        <key>sourceSize</key>
        <string>{128,268}</string>
      </dict>
      <key>sfx_60647_0_0024.png</key>
      <dict>
        <key>frame</key>
        <string>{{488,544},{128,269}}</string>
        <key>offset</key>
        <string>{-23,158}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,269}}</string>
        <key>sourceSize</key>
        <string>{128,269}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_60647_0.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>sfx_60647_0.png</string>
    </dict>
  </dict>
</plist>