<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_60367_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{309,1534},{318,375}}</string>
        <key>offset</key>
        <string>{-132,283}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{318,375}}</string>
        <key>sourceSize</key>
        <string>{318,375}</string>
      </dict>
      <key>sfx_60367_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{320,770},{322,378}}</string>
        <key>offset</key>
        <string>{-144,286}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{322,378}}</string>
        <key>sourceSize</key>
        <string>{322,378}</string>
      </dict>
      <key>sfx_60367_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{339,1150},{321,374}}</string>
        <key>offset</key>
        <string>{-134,281}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{321,374}}</string>
        <key>sourceSize</key>
        <string>{321,374}</string>
      </dict>
      <key>sfx_60367_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{662,1138},{337,351}}</string>
        <key>offset</key>
        <string>{-136,258}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{337,351}}</string>
        <key>sourceSize</key>
        <string>{337,351}</string>
      </dict>
      <key>sfx_60367_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{629,1526},{327,358}}</string>
        <key>offset</key>
        <string>{-144,265}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{327,358}}</string>
        <key>sourceSize</key>
        <string>{327,358}</string>
      </dict>
      <key>sfx_60367_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{964,753},{319,347}}</string>
        <key>offset</key>
        <string>{-136,254}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{319,347}}</string>
        <key>sourceSize</key>
        <string>{319,347}</string>
      </dict>
      <key>sfx_60367_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{961,379},{322,372}}</string>
        <key>offset</key>
        <string>{-144,279}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{322,372}}</string>
        <key>sourceSize</key>
        <string>{322,372}</string>
      </dict>
      <key>sfx_60367_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{329,384},{307,377}}</string>
        <key>offset</key>
        <string>{-132,284}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{307,377}}</string>
        <key>sourceSize</key>
        <string>{307,377}</string>
      </dict>
      <key>sfx_60367_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,770},{318,380}}</string>
        <key>offset</key>
        <string>{-144,287}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{318,380}}</string>
        <key>sourceSize</key>
        <string>{318,380}</string>
      </dict>
      <key>sfx_60367_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{318,383}}</string>
        <key>offset</key>
        <string>{-132,290}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{318,383}}</string>
        <key>sourceSize</key>
        <string>{318,383}</string>
      </dict>
      <key>sfx_60367_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{965,0},{322,372}}</string>
        <key>offset</key>
        <string>{-144,279}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{322,372}}</string>
        <key>sourceSize</key>
        <string>{322,372}</string>
      </dict>
      <key>sfx_60367_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{638,384},{321,377}}</string>
        <key>offset</key>
        <string>{-134,284}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{321,377}}</string>
        <key>sourceSize</key>
        <string>{321,377}</string>
      </dict>
      <key>sfx_60367_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1152},{337,380}}</string>
        <key>offset</key>
        <string>{-136,287}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{337,380}}</string>
        <key>sourceSize</key>
        <string>{337,380}</string>
      </dict>
      <key>sfx_60367_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,385},{327,383}}</string>
        <key>offset</key>
        <string>{-144,290}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{327,383}}</string>
        <key>sourceSize</key>
        <string>{327,383}</string>
      </dict>
      <key>sfx_60367_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{320,0},{319,382}}</string>
        <key>offset</key>
        <string>{-136,289}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{319,382}}</string>
        <key>sourceSize</key>
        <string>{319,382}</string>
      </dict>
      <key>sfx_60367_0_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{641,0},{322,377}}</string>
        <key>offset</key>
        <string>{-144,284}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{322,377}}</string>
        <key>sourceSize</key>
        <string>{322,377}</string>
      </dict>
      <key>sfx_60367_0_0016.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1534},{307,377}}</string>
        <key>offset</key>
        <string>{-132,284}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{307,377}}</string>
        <key>sourceSize</key>
        <string>{307,377}</string>
      </dict>
      <key>sfx_60367_0_0017.png</key>
      <dict>
        <key>frame</key>
        <string>{{644,763},{318,373}}</string>
        <key>offset</key>
        <string>{-144,280}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{318,373}}</string>
        <key>sourceSize</key>
        <string>{318,373}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_60367_0.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>sfx_60367_0.png</string>
    </dict>
  </dict>
</plist>