<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_10892_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,173},{37,42}}</string>
        <key>offset</key>
        <string>{-18,20}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{37,42}}</string>
        <key>sourceSize</key>
        <string>{37,42}</string>
      </dict>
      <key>sfx_10892_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,194},{41,47}}</string>
        <key>offset</key>
        <string>{-18,24}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{41,47}}</string>
        <key>sourceSize</key>
        <string>{41,47}</string>
      </dict>
      <key>sfx_10892_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{60,131},{40,52}}</string>
        <key>offset</key>
        <string>{-19,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{40,52}}</string>
        <key>sourceSize</key>
        <string>{40,52}</string>
      </dict>
      <key>sfx_10892_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{65,67},{46,62}}</string>
        <key>offset</key>
        <string>{-22,33}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,62}}</string>
        <key>sourceSize</key>
        <string>{46,62}</string>
      </dict>
      <key>sfx_10892_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{70,0},{50,65}}</string>
        <key>offset</key>
        <string>{-24,34}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,65}}</string>
        <key>sourceSize</key>
        <string>{50,65}</string>
      </dict>
      <key>sfx_10892_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{54,68}}</string>
        <key>offset</key>
        <string>{-25,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,68}}</string>
        <key>sourceSize</key>
        <string>{54,68}</string>
      </dict>
      <key>sfx_10892_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,56},{46,63}}</string>
        <key>offset</key>
        <string>{-22,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,63}}</string>
        <key>sourceSize</key>
        <string>{46,63}</string>
      </dict>
      <key>sfx_10892_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,104},{44,58}}</string>
        <key>offset</key>
        <string>{-21,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{44,58}}</string>
        <key>sourceSize</key>
        <string>{44,58}</string>
      </dict>
      <key>sfx_10892_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,150},{42,50}}</string>
        <key>offset</key>
        <string>{-20,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{42,50}}</string>
        <key>sourceSize</key>
        <string>{42,50}</string>
      </dict>
      <key>sfx_10892_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{43,194},{41,46}}</string>
        <key>offset</key>
        <string>{-19,23}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{41,46}}</string>
        <key>sourceSize</key>
        <string>{41,46}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_10892_0.png</string>
      <key>size</key>
      <string>{128,256}</string>
      <key>textureFileName</key>
      <string>sfx_10892_0.png</string>
    </dict>
  </dict>
</plist>