<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_11588_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,104},{35,36}}</string>
        <key>offset</key>
        <string>{-18,17}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{35,36}}</string>
        <key>sourceSize</key>
        <string>{35,36}</string>
      </dict>
      <key>sfx_11588_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{97,157},{37,37}}</string>
        <key>offset</key>
        <string>{-19,17}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{37,37}}</string>
        <key>sourceSize</key>
        <string>{37,37}</string>
      </dict>
      <key>sfx_11588_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,204},{42,43}}</string>
        <key>offset</key>
        <string>{-21,20}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{42,43}}</string>
        <key>sourceSize</key>
        <string>{42,43}</string>
      </dict>
      <key>sfx_11588_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{51,157},{44,45}}</string>
        <key>offset</key>
        <string>{-22,21}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{44,45}}</string>
        <key>sourceSize</key>
        <string>{44,45}</string>
      </dict>
      <key>sfx_11588_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,207},{46,47}}</string>
        <key>offset</key>
        <string>{-23,22}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,47}}</string>
        <key>sourceSize</key>
        <string>{46,47}</string>
      </dict>
      <key>sfx_11588_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,157},{48,49}}</string>
        <key>offset</key>
        <string>{-24,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,49}}</string>
        <key>sourceSize</key>
        <string>{48,49}</string>
      </dict>
      <key>sfx_11588_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{54,0},{49,51}}</string>
        <key>offset</key>
        <string>{-25,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{49,51}}</string>
        <key>sourceSize</key>
        <string>{49,51}</string>
      </dict>
      <key>sfx_11588_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{51,52}}</string>
        <key>offset</key>
        <string>{-26,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{51,52}}</string>
        <key>sourceSize</key>
        <string>{51,52}</string>
      </dict>
      <key>sfx_11588_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{54,51},{51,51}}</string>
        <key>offset</key>
        <string>{-26,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{51,51}}</string>
        <key>sourceSize</key>
        <string>{51,51}</string>
      </dict>
      <key>sfx_11588_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,53},{51,51}}</string>
        <key>offset</key>
        <string>{-26,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{51,51}}</string>
        <key>sourceSize</key>
        <string>{51,51}</string>
      </dict>
      <key>sfx_11588_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{53,104},{51,51}}</string>
        <key>offset</key>
        <string>{-26,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{51,51}}</string>
        <key>sourceSize</key>
        <string>{51,51}</string>
      </dict>
      <key>sfx_11588_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,106},{49,50}}</string>
        <key>offset</key>
        <string>{-25,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{49,50}}</string>
        <key>sourceSize</key>
        <string>{49,50}</string>
      </dict>
      <key>sfx_11588_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{48,207},{46,47}}</string>
        <key>offset</key>
        <string>{-23,22}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,47}}</string>
        <key>sourceSize</key>
        <string>{46,47}</string>
      </dict>
      <key>sfx_11588_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{136,142},{34,36}}</string>
        <key>offset</key>
        <string>{-17,17}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{34,36}}</string>
        <key>sourceSize</key>
        <string>{34,36}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_11588_0.png</string>
      <key>size</key>
      <string>{256,256}</string>
      <key>textureFileName</key>
      <string>sfx_11588_0.png</string>
    </dict>
  </dict>
</plist>