<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_30409_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{561,170},{261,159}}</string>
        <key>offset</key>
        <string>{-133,145}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{261,159}}</string>
        <key>sourceSize</key>
        <string>{261,159}</string>
      </dict>
      <key>sfx_30409_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{561,331},{260,158}}</string>
        <key>offset</key>
        <string>{-132,142}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{260,158}}</string>
        <key>sourceSize</key>
        <string>{260,158}</string>
      </dict>
      <key>sfx_30409_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{331,657},{257,161}}</string>
        <key>offset</key>
        <string>{-131,145}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{257,161}}</string>
        <key>sourceSize</key>
        <string>{257,161}</string>
      </dict>
      <key>sfx_30409_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{823,530},{257,167}}</string>
        <key>offset</key>
        <string>{-131,149}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{257,167}}</string>
        <key>sourceSize</key>
        <string>{257,167}</string>
      </dict>
      <key>sfx_30409_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{561,0},{265,168}}</string>
        <key>offset</key>
        <string>{-135,149}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{265,168}}</string>
        <key>sourceSize</key>
        <string>{265,168}</string>
      </dict>
      <key>sfx_30409_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,566},{277,165}}</string>
        <key>offset</key>
        <string>{-141,142}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{277,165}}</string>
        <key>sourceSize</key>
        <string>{277,165}</string>
      </dict>
      <key>sfx_30409_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{281,164}}</string>
        <key>offset</key>
        <string>{-143,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{281,164}}</string>
        <key>sourceSize</key>
        <string>{281,164}</string>
      </dict>
      <key>sfx_30409_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,566},{280,162}}</string>
        <key>offset</key>
        <string>{-142,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{280,162}}</string>
        <key>sourceSize</key>
        <string>{280,162}</string>
      </dict>
      <key>sfx_30409_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{824,267},{261,162}}</string>
        <key>offset</key>
        <string>{-133,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{261,162}}</string>
        <key>sourceSize</key>
        <string>{261,162}</string>
      </dict>
      <key>sfx_30409_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{561,491},{260,164}}</string>
        <key>offset</key>
        <string>{-132,142}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{260,164}}</string>
        <key>sourceSize</key>
        <string>{260,164}</string>
      </dict>
      <key>sfx_30409_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{561,820},{257,164}}</string>
        <key>offset</key>
        <string>{-131,143}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{257,164}}</string>
        <key>sourceSize</key>
        <string>{257,164}</string>
      </dict>
      <key>sfx_30409_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{331,0},{257,161}}</string>
        <key>offset</key>
        <string>{-131,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{257,161}}</string>
        <key>sourceSize</key>
        <string>{257,161}</string>
      </dict>
      <key>sfx_30409_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{828,0},{265,161}}</string>
        <key>offset</key>
        <string>{-135,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{265,161}}</string>
        <key>sourceSize</key>
        <string>{265,161}</string>
      </dict>
      <key>sfx_30409_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{282,845},{277,164}}</string>
        <key>offset</key>
        <string>{-141,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{277,164}}</string>
        <key>sourceSize</key>
        <string>{277,164}</string>
      </dict>
      <key>sfx_30409_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,283},{281,164}}</string>
        <key>offset</key>
        <string>{-143,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{281,164}}</string>
        <key>sourceSize</key>
        <string>{281,164}</string>
      </dict>
      <key>sfx_30409_0_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,848},{280,162}}</string>
        <key>offset</key>
        <string>{-142,147}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{280,162}}</string>
        <key>sourceSize</key>
        <string>{280,162}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_30409_0.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>sfx_30409_0.png</string>
    </dict>
  </dict>
</plist>