<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_60250_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{349,906},{4,6}}</string>
        <key>offset</key>
        <string>{-109,-41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{4,6}}</string>
        <key>sourceSize</key>
        <string>{4,6}</string>
      </dict>
      <key>sfx_60250_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{357,906},{4,5}}</string>
        <key>offset</key>
        <string>{-134,-42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{4,5}}</string>
        <key>sourceSize</key>
        <string>{4,5}</string>
      </dict>
      <key>sfx_60250_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1827,412},{338,113}}</string>
        <key>offset</key>
        <string>{-152,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{338,113}}</string>
        <key>sourceSize</key>
        <string>{338,113}</string>
      </dict>
      <key>sfx_60250_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1405,1453},{376,125}}</string>
        <key>offset</key>
        <string>{-160,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{376,125}}</string>
        <key>sourceSize</key>
        <string>{376,125}</string>
      </dict>
      <key>sfx_60250_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1833,0},{410,134}}</string>
        <key>offset</key>
        <string>{-195,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{410,134}}</string>
        <key>sourceSize</key>
        <string>{410,134}</string>
      </dict>
      <key>sfx_60250_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1386,0},{445,353}}</string>
        <key>offset</key>
        <string>{-220,288}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{445,353}}</string>
        <key>sourceSize</key>
        <string>{445,353}</string>
      </dict>
      <key>sfx_60250_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{334,1365},{450,342}}</string>
        <key>offset</key>
        <string>{-222,274}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{450,342}}</string>
        <key>sourceSize</key>
        <string>{450,342}</string>
      </dict>
      <key>sfx_60250_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{692,455},{448,348}}</string>
        <key>offset</key>
        <string>{-220,279}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{448,348}}</string>
        <key>sourceSize</key>
        <string>{448,348}</string>
      </dict>
      <key>sfx_60250_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{343,912},{449,352}}</string>
        <key>offset</key>
        <string>{-220,280}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{449,352}}</string>
        <key>sourceSize</key>
        <string>{449,352}</string>
      </dict>
      <key>sfx_60250_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{1038,0},{446,346}}</string>
        <key>offset</key>
        <string>{-220,278}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{446,346}}</string>
        <key>sourceSize</key>
        <string>{446,346}</string>
      </dict>
      <key>sfx_60250_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{694,0},{448,342}}</string>
        <key>offset</key>
        <string>{-221,274}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{448,342}}</string>
        <key>sourceSize</key>
        <string>{448,342}</string>
      </dict>
      <key>sfx_60250_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{349,455},{449,341}}</string>
        <key>offset</key>
        <string>{-221,274}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{449,341}}</string>
        <key>sourceSize</key>
        <string>{449,341}</string>
      </dict>
      <key>sfx_60250_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,912},{451,341}}</string>
        <key>offset</key>
        <string>{-222,273}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{451,341}}</string>
        <key>sourceSize</key>
        <string>{451,341}</string>
      </dict>
      <key>sfx_60250_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{348,0},{453,344}}</string>
        <key>offset</key>
        <string>{-223,275}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{453,344}}</string>
        <key>sourceSize</key>
        <string>{453,344}</string>
      </dict>
      <key>sfx_60250_0_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{454,346}}</string>
        <key>offset</key>
        <string>{-223,275}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{454,346}}</string>
        <key>sourceSize</key>
        <string>{454,346}</string>
      </dict>
      <key>sfx_60250_0_0016.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,456},{454,347}}</string>
        <key>offset</key>
        <string>{-225,274}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{454,347}}</string>
        <key>sourceSize</key>
        <string>{454,347}</string>
      </dict>
      <key>sfx_60250_0_0017.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1365},{451,332}}</string>
        <key>offset</key>
        <string>{-225,260}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{451,332}}</string>
        <key>sourceSize</key>
        <string>{451,332}</string>
      </dict>
      <key>sfx_60250_0_0018.png</key>
      <dict>
        <key>frame</key>
        <string>{{1042,448},{438,335}}</string>
        <key>offset</key>
        <string>{-212,263}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{438,335}}</string>
        <key>sourceSize</key>
        <string>{438,335}</string>
      </dict>
      <key>sfx_60250_0_0019.png</key>
      <dict>
        <key>frame</key>
        <string>{{1386,355},{439,352}}</string>
        <key>offset</key>
        <string>{-211,266}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{439,352}}</string>
        <key>sourceSize</key>
        <string>{439,352}</string>
      </dict>
      <key>sfx_60250_0_0020.png</key>
      <dict>
        <key>frame</key>
        <string>{{1379,709},{431,362}}</string>
        <key>offset</key>
        <string>{-203,258}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{431,362}}</string>
        <key>sourceSize</key>
        <string>{431,362}</string>
      </dict>
      <key>sfx_60250_0_0021.png</key>
      <dict>
        <key>frame</key>
        <string>{{697,905},{429,361}}</string>
        <key>offset</key>
        <string>{-203,261}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{429,361}}</string>
        <key>sourceSize</key>
        <string>{429,361}</string>
      </dict>
      <key>sfx_60250_0_0022.png</key>
      <dict>
        <key>frame</key>
        <string>{{678,1363},{416,346}}</string>
        <key>offset</key>
        <string>{-201,250}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{416,346}}</string>
        <key>sourceSize</key>
        <string>{416,346}</string>
      </dict>
      <key>sfx_60250_0_0023.png</key>
      <dict>
        <key>frame</key>
        <string>{{1026,1268},{390,377}}</string>
        <key>offset</key>
        <string>{-175,257}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{390,377}}</string>
        <key>sourceSize</key>
        <string>{390,377}</string>
      </dict>
      <key>sfx_60250_0_0024.png</key>
      <dict>
        <key>frame</key>
        <string>{{1026,1660},{383,378}}</string>
        <key>offset</key>
        <string>{-173,236}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{383,378}}</string>
        <key>sourceSize</key>
        <string>{383,378}</string>
      </dict>
      <key>sfx_60250_0_0025.png</key>
      <dict>
        <key>frame</key>
        <string>{{1406,1580},{361,376}}</string>
        <key>offset</key>
        <string>{-157,236}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{361,376}}</string>
        <key>sourceSize</key>
        <string>{361,376}</string>
      </dict>
      <key>sfx_60250_0_0027.png</key>
      <dict>
        <key>frame</key>
        <string>{{1405,1073},{312,378}}</string>
        <key>offset</key>
        <string>{-148,240}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{312,378}}</string>
        <key>sourceSize</key>
        <string>{312,378}</string>
      </dict>
      <key>sfx_60250_0_0029.png</key>
      <dict>
        <key>frame</key>
        <string>{{1769,1580},{277,286}}</string>
        <key>offset</key>
        <string>{-124,143}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{277,286}}</string>
        <key>sourceSize</key>
        <string>{277,286}</string>
      </dict>
      <key>sfx_60250_0_0060.png</key>
      <dict>
        <key>frame</key>
        <string>{{1719,1073},{324,306}}</string>
        <key>offset</key>
        <string>{-164,137}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{324,306}}</string>
        <key>sourceSize</key>
        <string>{324,306}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_60250_0_0.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>sfx_60250_0_0.png</string>
    </dict>
  </dict>
</plist>