<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_60470_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{127,153},{124,147}}</string>
        <key>offset</key>
        <string>{-35,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,147}}</string>
        <key>sourceSize</key>
        <string>{124,147}</string>
      </dict>
      <key>sfx_60470_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{388,0},{122,141}}</string>
        <key>offset</key>
        <string>{-34,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,141}}</string>
        <key>sourceSize</key>
        <string>{122,141}</string>
      </dict>
      <key>sfx_60470_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{378,147},{128,144}}</string>
        <key>offset</key>
        <string>{-40,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,144}}</string>
        <key>sourceSize</key>
        <string>{128,144}</string>
      </dict>
      <key>sfx_60470_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{257,0},{129,145}}</string>
        <key>offset</key>
        <string>{-41,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,145}}</string>
        <key>sourceSize</key>
        <string>{129,145}</string>
      </dict>
      <key>sfx_60470_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,305},{129,149}}</string>
        <key>offset</key>
        <string>{-40,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,149}}</string>
        <key>sourceSize</key>
        <string>{129,149}</string>
      </dict>
      <key>sfx_60470_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{126,151}}</string>
        <key>offset</key>
        <string>{-40,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,151}}</string>
        <key>sourceSize</key>
        <string>{126,151}</string>
      </dict>
      <key>sfx_60470_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,0},{127,147}}</string>
        <key>offset</key>
        <string>{-40,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,147}}</string>
        <key>sourceSize</key>
        <string>{127,147}</string>
      </dict>
      <key>sfx_60470_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{131,302},{127,147}}</string>
        <key>offset</key>
        <string>{-40,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,147}}</string>
        <key>sourceSize</key>
        <string>{127,147}</string>
      </dict>
      <key>sfx_60470_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{253,149},{123,146}}</string>
        <key>offset</key>
        <string>{-36,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,146}}</string>
        <key>sourceSize</key>
        <string>{123,146}</string>
      </dict>
      <key>sfx_60470_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,153},{125,150}}</string>
        <key>offset</key>
        <string>{-37,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,150}}</string>
        <key>sourceSize</key>
        <string>{125,150}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_60470_0.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>sfx_60470_0.png</string>
    </dict>
  </dict>
</plist>