<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_0140_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{885,660},{399,97}}</string>
        <key>offset</key>
        <string>{37,72}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{399,97}}</string>
        <key>sourceSize</key>
        <string>{399,97}</string>
      </dict>
      <key>sfx_0140_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{809,863},{407,240}}</string>
        <key>offset</key>
        <string>{28,208}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{407,240}}</string>
        <key>sourceSize</key>
        <string>{407,240}</string>
      </dict>
      <key>sfx_0140_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{429,0},{661,358}}</string>
        <key>offset</key>
        <string>{-226,334}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{661,358}}</string>
        <key>sourceSize</key>
        <string>{661,358}</string>
      </dict>
      <key>sfx_0140_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{863,427}}</string>
        <key>offset</key>
        <string>{-429,335}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{863,427}}</string>
        <key>sourceSize</key>
        <string>{863,427}</string>
      </dict>
      <key>sfx_0140_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,865},{807,428}}</string>
        <key>offset</key>
        <string>{-434,334}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{807,428}}</string>
        <key>sourceSize</key>
        <string>{807,428}</string>
      </dict>
      <key>sfx_0140_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{789,0},{658,429}}</string>
        <key>offset</key>
        <string>{-436,333}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{658,429}}</string>
        <key>sourceSize</key>
        <string>{658,429}</string>
      </dict>
      <key>sfx_0140_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1220,0},{501,280}}</string>
        <key>offset</key>
        <string>{-437,183}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{501,280}}</string>
        <key>sourceSize</key>
        <string>{501,280}</string>
      </dict>
      <key>sfx_0140_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{429,663},{454,198}}</string>
        <key>offset</key>
        <string>{-428,101}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{454,198}}</string>
        <key>sourceSize</key>
        <string>{454,198}</string>
      </dict>
      <key>sfx_0140_6_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1295},{445,194}}</string>
        <key>offset</key>
        <string>{-417,107}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{445,194}}</string>
        <key>sourceSize</key>
        <string>{445,194}</string>
      </dict>
      <key>sfx_0140_6_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{447,1295},{436,178}}</string>
        <key>offset</key>
        <string>{-417,108}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{436,178}}</string>
        <key>sourceSize</key>
        <string>{436,178}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_0140_6.png</string>
      <key>size</key>
      <string>{1792,1536}</string>
      <key>textureFileName</key>
      <string>sfx_0140_6.png</string>
    </dict>
  </dict>
</plist>