<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_60116_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{426,365},{351,216}}</string>
        <key>offset</key>
        <string>{-85,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{351,216}}</string>
        <key>sourceSize</key>
        <string>{351,216}</string>
      </dict>
      <key>sfx_60116_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{433,0},{343,218}}</string>
        <key>offset</key>
        <string>{-81,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{343,218}}</string>
        <key>sourceSize</key>
        <string>{343,218}</string>
      </dict>
      <key>sfx_60116_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{653,0},{333,222}}</string>
        <key>offset</key>
        <string>{-76,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{333,222}}</string>
        <key>sourceSize</key>
        <string>{333,222}</string>
      </dict>
      <key>sfx_60116_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{871,335},{323,224}}</string>
        <key>offset</key>
        <string>{-71,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{323,224}}</string>
        <key>sourceSize</key>
        <string>{323,224}</string>
      </dict>
      <key>sfx_60116_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{877,0},{319,229}}</string>
        <key>offset</key>
        <string>{-69,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{319,229}}</string>
        <key>sourceSize</key>
        <string>{319,229}</string>
      </dict>
      <key>sfx_60116_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1097,321},{311,231}}</string>
        <key>offset</key>
        <string>{-65,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{311,231}}</string>
        <key>sourceSize</key>
        <string>{311,231}</string>
      </dict>
      <key>sfx_60116_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,660},{317,228}}</string>
        <key>offset</key>
        <string>{-68,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{317,228}}</string>
        <key>sourceSize</key>
        <string>{317,228}</string>
      </dict>
      <key>sfx_60116_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{722,690},{331,226}}</string>
        <key>offset</key>
        <string>{-75,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{331,226}}</string>
        <key>sourceSize</key>
        <string>{331,226}</string>
      </dict>
      <key>sfx_60116_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{644,345},{343,225}}</string>
        <key>offset</key>
        <string>{-81,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{343,225}}</string>
        <key>sourceSize</key>
        <string>{343,225}</string>
      </dict>
      <key>sfx_60116_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{367,738},{353,226}}</string>
        <key>offset</key>
        <string>{-86,82}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{353,226}}</string>
        <key>sourceSize</key>
        <string>{353,226}</string>
      </dict>
      <key>sfx_60116_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{215,0},{363,216}}</string>
        <key>offset</key>
        <string>{-91,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{363,216}}</string>
        <key>sourceSize</key>
        <string>{363,216}</string>
      </dict>
      <key>sfx_60116_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,371},{367,212}}</string>
        <key>offset</key>
        <string>{-93,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{367,212}}</string>
        <key>sourceSize</key>
        <string>{367,212}</string>
      </dict>
      <key>sfx_60116_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,740},{365,210}}</string>
        <key>offset</key>
        <string>{-92,66}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{365,210}}</string>
        <key>sourceSize</key>
        <string>{365,210}</string>
      </dict>
      <key>sfx_60116_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,371},{365,210}}</string>
        <key>offset</key>
        <string>{-92,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{365,210}}</string>
        <key>sourceSize</key>
        <string>{365,210}</string>
      </dict>
      <key>sfx_60116_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{369,213}}</string>
        <key>offset</key>
        <string>{-94,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{369,213}}</string>
        <key>sourceSize</key>
        <string>{369,213}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_60116_0.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>sfx_60116_0.png</string>
    </dict>
  </dict>
</plist>