<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_60334_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{875,607},{188,285}}</string>
        <key>offset</key>
        <string>{-144,409}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,285}}</string>
        <key>sourceSize</key>
        <string>{188,285}</string>
      </dict>
      <key>sfx_60334_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{708,235},{173,370}}</string>
        <key>offset</key>
        <string>{-177,434}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,370}}</string>
        <key>sourceSize</key>
        <string>{173,370}</string>
      </dict>
      <key>sfx_60334_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,716},{276,706}}</string>
        <key>offset</key>
        <string>{-152,399}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{276,706}}</string>
        <key>sourceSize</key>
        <string>{276,706}</string>
      </dict>
      <key>sfx_60334_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{261,714}}</string>
        <key>offset</key>
        <string>{-144,367}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{261,714}}</string>
        <key>sourceSize</key>
        <string>{261,714}</string>
      </dict>
      <key>sfx_60334_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{263,0},{241,649}}</string>
        <key>offset</key>
        <string>{-129,302}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{241,649}}</string>
        <key>sourceSize</key>
        <string>{241,649}</string>
      </dict>
      <key>sfx_60334_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{506,0},{233,508}}</string>
        <key>offset</key>
        <string>{-122,158}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{233,508}}</string>
        <key>sourceSize</key>
        <string>{233,508}</string>
      </dict>
      <key>sfx_60334_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{506,235},{173,400}}</string>
        <key>offset</key>
        <string>{-75,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,400}}</string>
        <key>sourceSize</key>
        <string>{173,400}</string>
      </dict>
      <key>sfx_60334_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{708,607},{165,346}}</string>
        <key>offset</key>
        <string>{-62,32}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,346}}</string>
        <key>sourceSize</key>
        <string>{165,346}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_60334_4.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>sfx_60334_4.png</string>
    </dict>
  </dict>
</plist>