<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_10739_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{163,101},{43,60}}</string>
        <key>offset</key>
        <string>{-18,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{43,60}}</string>
        <key>sourceSize</key>
        <string>{43,60}</string>
      </dict>
      <key>sfx_10739_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{110,136},{44,58}}</string>
        <key>offset</key>
        <string>{-19,28}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{44,58}}</string>
        <key>sourceSize</key>
        <string>{44,58}</string>
      </dict>
      <key>sfx_10739_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,0},{51,61}}</string>
        <key>offset</key>
        <string>{-23,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{51,61}}</string>
        <key>sourceSize</key>
        <string>{51,61}</string>
      </dict>
      <key>sfx_10739_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{107,69},{54,65}}</string>
        <key>offset</key>
        <string>{-25,31}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,65}}</string>
        <key>sourceSize</key>
        <string>{54,65}</string>
      </dict>
      <key>sfx_10739_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{55,0},{55,67}}</string>
        <key>offset</key>
        <string>{-26,31}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,67}}</string>
        <key>sourceSize</key>
        <string>{55,67}</string>
      </dict>
      <key>sfx_10739_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{54,154},{54,71}}</string>
        <key>offset</key>
        <string>{-25,32}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,71}}</string>
        <key>sourceSize</key>
        <string>{54,71}</string>
      </dict>
      <key>sfx_10739_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{53,75}}</string>
        <key>offset</key>
        <string>{-25,34}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,75}}</string>
        <key>sourceSize</key>
        <string>{53,75}</string>
      </dict>
      <key>sfx_10739_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,77},{52,75}}</string>
        <key>offset</key>
        <string>{-24,36}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,75}}</string>
        <key>sourceSize</key>
        <string>{52,75}</string>
      </dict>
      <key>sfx_10739_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,154},{52,73}}</string>
        <key>offset</key>
        <string>{-24,35}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,73}}</string>
        <key>sourceSize</key>
        <string>{52,73}</string>
      </dict>
      <key>sfx_10739_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{54,77},{51,70}}</string>
        <key>offset</key>
        <string>{-23,34}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{51,70}}</string>
        <key>sourceSize</key>
        <string>{51,70}</string>
      </dict>
      <key>sfx_10739_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,0},{50,65}}</string>
        <key>offset</key>
        <string>{-22,33}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,65}}</string>
        <key>sourceSize</key>
        <string>{50,65}</string>
      </dict>
      <key>sfx_10739_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,53},{46,61}}</string>
        <key>offset</key>
        <string>{-21,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,61}}</string>
        <key>sourceSize</key>
        <string>{46,61}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_10739_0.png</string>
      <key>size</key>
      <string>{256,256}</string>
      <key>textureFileName</key>
      <string>sfx_10739_0.png</string>
    </dict>
  </dict>
</plist>