<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_10465_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{42,184},{42,44}}</string>
        <key>offset</key>
        <string>{-20,20}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{42,44}}</string>
        <key>sourceSize</key>
        <string>{42,44}</string>
      </dict>
      <key>sfx_10465_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,89},{48,44}}</string>
        <key>offset</key>
        <string>{-22,20}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,44}}</string>
        <key>sourceSize</key>
        <string>{48,44}</string>
      </dict>
      <key>sfx_10465_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,44},{49,43}}</string>
        <key>offset</key>
        <string>{-22,19}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{49,43}}</string>
        <key>sourceSize</key>
        <string>{49,43}</string>
      </dict>
      <key>sfx_10465_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{51,50},{49,44}}</string>
        <key>offset</key>
        <string>{-22,20}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{49,44}}</string>
        <key>sourceSize</key>
        <string>{49,44}</string>
      </dict>
      <key>sfx_10465_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,96},{45,48}}</string>
        <key>offset</key>
        <string>{-20,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{45,48}}</string>
        <key>sourceSize</key>
        <string>{45,48}</string>
      </dict>
      <key>sfx_10465_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{42,52}}</string>
        <key>offset</key>
        <string>{-22,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{42,52}}</string>
        <key>sourceSize</key>
        <string>{42,52}</string>
      </dict>
      <key>sfx_10465_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{54,0},{48,51}}</string>
        <key>offset</key>
        <string>{-22,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,51}}</string>
        <key>sourceSize</key>
        <string>{48,51}</string>
      </dict>
      <key>sfx_10465_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,135},{48,47}}</string>
        <key>offset</key>
        <string>{-20,25}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,47}}</string>
        <key>sourceSize</key>
        <string>{48,47}</string>
      </dict>
      <key>sfx_10465_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,184},{40,45}}</string>
        <key>offset</key>
        <string>{-18,22}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{40,45}}</string>
        <key>sourceSize</key>
        <string>{40,45}</string>
      </dict>
      <key>sfx_10465_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,143},{39,44}}</string>
        <key>offset</key>
        <string>{-19,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{39,44}}</string>
        <key>sourceSize</key>
        <string>{39,44}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_10465_0.png</string>
      <key>size</key>
      <string>{128,256}</string>
      <key>textureFileName</key>
      <string>sfx_10465_0.png</string>
    </dict>
  </dict>
</plist>