<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_13068_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1683,1300},{401,423}}</string>
        <key>offset</key>
        <string>{-157,363}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{401,423}}</string>
        <key>sourceSize</key>
        <string>{401,423}</string>
      </dict>
      <key>sfx_13068_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{2884,1689},{401,415}}</string>
        <key>offset</key>
        <string>{-158,363}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{401,415}}</string>
        <key>sourceSize</key>
        <string>{401,415}</string>
      </dict>
      <key>sfx_13068_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{845,0},{436,417}}</string>
        <key>offset</key>
        <string>{-193,363}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{436,417}}</string>
        <key>sourceSize</key>
        <string>{436,417}</string>
      </dict>
      <key>sfx_13068_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{2878,422},{403,418}}</string>
        <key>offset</key>
        <string>{-193,363}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{403,418}}</string>
        <key>sourceSize</key>
        <string>{403,418}</string>
      </dict>
      <key>sfx_13068_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{841,1331},{437,420}}</string>
        <key>offset</key>
        <string>{-180,363}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{437,420}}</string>
        <key>sourceSize</key>
        <string>{437,420}</string>
      </dict>
      <key>sfx_13068_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{422,445},{441,421}}</string>
        <key>offset</key>
        <string>{-184,363}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{441,421}}</string>
        <key>sourceSize</key>
        <string>{441,421}</string>
      </dict>
      <key>sfx_13068_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1270,871},{427,422}}</string>
        <key>offset</key>
        <string>{-170,363}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{427,422}}</string>
        <key>sourceSize</key>
        <string>{427,422}</string>
      </dict>
      <key>sfx_13068_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1688,0},{406,423}}</string>
        <key>offset</key>
        <string>{-155,363}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{406,423}}</string>
        <key>sourceSize</key>
        <string>{406,423}</string>
      </dict>
      <key>sfx_13068_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{3711,1631},{360,415}}</string>
        <key>offset</key>
        <string>{-154,363}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{360,415}}</string>
        <key>sourceSize</key>
        <string>{360,415}</string>
      </dict>
      <key>sfx_13068_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{2884,1270},{406,417}}</string>
        <key>offset</key>
        <string>{-176,363}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{406,417}}</string>
        <key>sourceSize</key>
        <string>{406,417}</string>
      </dict>
      <key>sfx_13068_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{1263,1309},{428,418}}</string>
        <key>offset</key>
        <string>{-190,363}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{428,418}}</string>
        <key>sourceSize</key>
        <string>{428,418}</string>
      </dict>
      <key>sfx_13068_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{848,875},{432,420}}</string>
        <key>offset</key>
        <string>{-193,363}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{432,420}}</string>
        <key>sourceSize</key>
        <string>{432,420}</string>
      </dict>
      <key>sfx_13068_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{2467,850},{402,421}}</string>
        <key>offset</key>
        <string>{-160,363}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{402,421}}</string>
        <key>sourceSize</key>
        <string>{402,421}</string>
      </dict>
      <key>sfx_13068_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{2083,850},{382,422}}</string>
        <key>offset</key>
        <string>{-166,363}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{382,422}}</string>
        <key>sourceSize</key>
        <string>{382,422}</string>
      </dict>
      <key>sfx_13068_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{1688,425},{375,423}}</string>
        <key>offset</key>
        <string>{-158,363}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{375,423}}</string>
        <key>sourceSize</key>
        <string>{375,423}</string>
      </dict>
      <key>sfx_13068_0_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{3287,2041},{411,415}}</string>
        <key>offset</key>
        <string>{-154,363}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{411,415}}</string>
        <key>sourceSize</key>
        <string>{411,415}</string>
      </dict>
      <key>sfx_13068_0_0016.png</key>
      <dict>
        <key>frame</key>
        <string>{{3281,842},{411,417}}</string>
        <key>offset</key>
        <string>{-154,363}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{411,417}}</string>
        <key>sourceSize</key>
        <string>{411,417}</string>
      </dict>
      <key>sfx_13068_0_0017.png</key>
      <dict>
        <key>frame</key>
        <string>{{845,438},{435,418}}</string>
        <key>offset</key>
        <string>{-178,363}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{435,418}}</string>
        <key>sourceSize</key>
        <string>{435,418}</string>
      </dict>
      <key>sfx_13068_0_0018.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,449},{446,420}}</string>
        <key>offset</key>
        <string>{-193,363}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{446,420}}</string>
        <key>sourceSize</key>
        <string>{446,420}</string>
      </dict>
      <key>sfx_13068_0_0019.png</key>
      <dict>
        <key>frame</key>
        <string>{{2473,425},{403,421}}</string>
        <key>offset</key>
        <string>{-193,363}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{403,421}}</string>
        <key>sourceSize</key>
        <string>{403,421}</string>
      </dict>
      <key>sfx_13068_0_0020.png</key>
      <dict>
        <key>frame</key>
        <string>{{2086,1274},{374,422}}</string>
        <key>offset</key>
        <string>{-160,363}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{374,422}}</string>
        <key>sourceSize</key>
        <string>{374,422}</string>
      </dict>
      <key>sfx_13068_0_0021.png</key>
      <dict>
        <key>frame</key>
        <string>{{1694,850},{387,423}}</string>
        <key>offset</key>
        <string>{-151,363}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{387,423}}</string>
        <key>sourceSize</key>
        <string>{387,423}</string>
      </dict>
      <key>sfx_13068_0_0022.png</key>
      <dict>
        <key>frame</key>
        <string>{{2086,1698},{395,415}}</string>
        <key>offset</key>
        <string>{-154,363}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{395,415}}</string>
        <key>sourceSize</key>
        <string>{395,415}</string>
      </dict>
      <key>sfx_13068_0_0023.png</key>
      <dict>
        <key>frame</key>
        <string>{{3694,793},{397,417}}</string>
        <key>offset</key>
        <string>{-155,363}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{397,417}}</string>
        <key>sourceSize</key>
        <string>{397,417}</string>
      </dict>
      <key>sfx_13068_0_0024.png</key>
      <dict>
        <key>frame</key>
        <string>{{2919,0},{402,418}}</string>
        <key>offset</key>
        <string>{-188,363}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{402,418}}</string>
        <key>sourceSize</key>
        <string>{402,418}</string>
      </dict>
      <key>sfx_13068_0_0025.png</key>
      <dict>
        <key>frame</key>
        <string>{{2510,0},{407,420}}</string>
        <key>offset</key>
        <string>{-193,363}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{407,420}}</string>
        <key>sourceSize</key>
        <string>{407,420}</string>
      </dict>
      <key>sfx_13068_0_0026.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,897},{445,421}}</string>
        <key>offset</key>
        <string>{-192,363}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{445,421}}</string>
        <key>sourceSize</key>
        <string>{445,421}</string>
      </dict>
      <key>sfx_13068_0_0027.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1344},{445,422}}</string>
        <key>offset</key>
        <string>{-188,363}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{445,422}}</string>
        <key>sourceSize</key>
        <string>{445,422}</string>
      </dict>
      <key>sfx_13068_0_0028.png</key>
      <dict>
        <key>frame</key>
        <string>{{423,888},{441,423}}</string>
        <key>offset</key>
        <string>{-184,363}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{441,423}}</string>
        <key>sourceSize</key>
        <string>{441,423}</string>
      </dict>
      <key>sfx_13068_0_0029.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,1331},{439,415}}</string>
        <key>offset</key>
        <string>{-188,363}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{439,415}}</string>
        <key>sourceSize</key>
        <string>{439,415}</string>
      </dict>
      <key>sfx_13068_0_0030.png</key>
      <dict>
        <key>frame</key>
        <string>{{3694,1212},{371,417}}</string>
        <key>offset</key>
        <string>{-153,363}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{371,417}}</string>
        <key>sourceSize</key>
        <string>{371,417}</string>
      </dict>
      <key>sfx_13068_0_0031.png</key>
      <dict>
        <key>frame</key>
        <string>{{3323,0},{375,418}}</string>
        <key>offset</key>
        <string>{-155,363}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{375,418}}</string>
        <key>sourceSize</key>
        <string>{375,418}</string>
      </dict>
      <key>sfx_13068_0_0032.png</key>
      <dict>
        <key>frame</key>
        <string>{{2871,848},{408,420}}</string>
        <key>offset</key>
        <string>{-176,363}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{408,420}}</string>
        <key>sourceSize</key>
        <string>{408,420}</string>
      </dict>
      <key>sfx_13068_0_0033.png</key>
      <dict>
        <key>frame</key>
        <string>{{1265,437},{432,421}}</string>
        <key>offset</key>
        <string>{-193,363}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{432,421}}</string>
        <key>sourceSize</key>
        <string>{432,421}</string>
      </dict>
      <key>sfx_13068_0_0034.png</key>
      <dict>
        <key>frame</key>
        <string>{{1264,0},{435,422}}</string>
        <key>offset</key>
        <string>{-193,363}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{435,422}}</string>
        <key>sourceSize</key>
        <string>{435,422}</string>
      </dict>
      <key>sfx_13068_0_0035.png</key>
      <dict>
        <key>frame</key>
        <string>{{2065,425},{406,423}}</string>
        <key>offset</key>
        <string>{-180,363}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{406,423}}</string>
        <key>sourceSize</key>
        <string>{406,423}</string>
      </dict>
      <key>sfx_13068_0_0036.png</key>
      <dict>
        <key>frame</key>
        <string>{{2503,1698},{378,415}}</string>
        <key>offset</key>
        <string>{-166,363}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{378,415}}</string>
        <key>sourceSize</key>
        <string>{378,415}</string>
      </dict>
      <key>sfx_13068_0_0037.png</key>
      <dict>
        <key>frame</key>
        <string>{{3292,1631},{408,417}}</string>
        <key>offset</key>
        <string>{-155,363}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{408,417}}</string>
        <key>sourceSize</key>
        <string>{408,417}</string>
      </dict>
      <key>sfx_13068_0_0038.png</key>
      <dict>
        <key>frame</key>
        <string>{{3323,377},{414,418}}</string>
        <key>offset</key>
        <string>{-157,363}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{414,418}}</string>
        <key>sourceSize</key>
        <string>{414,418}</string>
      </dict>
      <key>sfx_13068_0_0039.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{447,420}}</string>
        <key>offset</key>
        <string>{-190,363}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{447,420}}</string>
        <key>sourceSize</key>
        <string>{447,420}</string>
      </dict>
      <key>sfx_13068_0_0040.png</key>
      <dict>
        <key>frame</key>
        <string>{{422,0},{443,421}}</string>
        <key>offset</key>
        <string>{-186,363}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{443,421}}</string>
        <key>sourceSize</key>
        <string>{443,421}</string>
      </dict>
      <key>sfx_13068_0_0041.png</key>
      <dict>
        <key>frame</key>
        <string>{{2462,1274},{420,422}}</string>
        <key>offset</key>
        <string>{-193,363}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{420,422}}</string>
        <key>sourceSize</key>
        <string>{420,422}</string>
      </dict>
      <key>sfx_13068_0_0042.png</key>
      <dict>
        <key>frame</key>
        <string>{{2096,0},{412,423}}</string>
        <key>offset</key>
        <string>{-188,363}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{412,423}}</string>
        <key>sourceSize</key>
        <string>{412,423}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_13068_0.png</string>
      <key>size</key>
      <string>{4096,4096}</string>
      <key>textureFileName</key>
      <string>sfx_13068_0.png</string>
    </dict>
  </dict>
</plist>