<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_13187_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{143,150},{70,70}}</string>
        <key>offset</key>
        <string>{-34,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,70}}</string>
        <key>sourceSize</key>
        <string>{70,70}</string>
      </dict>
      <key>sfx_13187_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{146,74},{69,70}}</string>
        <key>offset</key>
        <string>{-34,33}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,70}}</string>
        <key>sourceSize</key>
        <string>{69,70}</string>
      </dict>
      <key>sfx_13187_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{215,0},{69,70}}</string>
        <key>offset</key>
        <string>{-34,33}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,70}}</string>
        <key>sourceSize</key>
        <string>{69,70}</string>
      </dict>
      <key>sfx_13187_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{215,146},{70,69}}</string>
        <key>offset</key>
        <string>{-35,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,69}}</string>
        <key>sourceSize</key>
        <string>{70,69}</string>
      </dict>
      <key>sfx_13187_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,152},{73,68}}</string>
        <key>offset</key>
        <string>{-37,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,68}}</string>
        <key>sourceSize</key>
        <string>{73,68}</string>
      </dict>
      <key>sfx_13187_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{74,70}}</string>
        <key>offset</key>
        <string>{-37,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,70}}</string>
        <key>sourceSize</key>
        <string>{74,70}</string>
      </dict>
      <key>sfx_13187_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{73,76},{72,71}}</string>
        <key>offset</key>
        <string>{-36,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,71}}</string>
        <key>sourceSize</key>
        <string>{72,71}</string>
      </dict>
      <key>sfx_13187_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{70,152},{71,73}}</string>
        <key>offset</key>
        <string>{-34,32}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,73}}</string>
        <key>sourceSize</key>
        <string>{71,73}</string>
      </dict>
      <key>sfx_13187_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,76},{71,74}}</string>
        <key>offset</key>
        <string>{-33,32}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,74}}</string>
        <key>sourceSize</key>
        <string>{71,74}</string>
      </dict>
      <key>sfx_13187_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{72,0},{69,74}}</string>
        <key>offset</key>
        <string>{-32,32}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,74}}</string>
        <key>sourceSize</key>
        <string>{69,74}</string>
      </dict>
      <key>sfx_13187_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{143,0},{70,72}}</string>
        <key>offset</key>
        <string>{-33,32}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,72}}</string>
        <key>sourceSize</key>
        <string>{70,72}</string>
      </dict>
      <key>sfx_13187_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{217,72},{69,70}}</string>
        <key>offset</key>
        <string>{-33,32}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,70}}</string>
        <key>sourceSize</key>
        <string>{69,70}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_13187_0.png</string>
      <key>size</key>
      <string>{512,256}</string>
      <key>textureFileName</key>
      <string>sfx_13187_0.png</string>
    </dict>
  </dict>
</plist>