<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_10658_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{131,0},{61,66}}</string>
        <key>offset</key>
        <string>{-28,35}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,66}}</string>
        <key>sourceSize</key>
        <string>{61,66}</string>
      </dict>
      <key>sfx_10658_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,68},{58,65}}</string>
        <key>offset</key>
        <string>{-27,35}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,65}}</string>
        <key>sourceSize</key>
        <string>{58,65}</string>
      </dict>
      <key>sfx_10658_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,0},{57,66}}</string>
        <key>offset</key>
        <string>{-26,36}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,66}}</string>
        <key>sourceSize</key>
        <string>{57,66}</string>
      </dict>
      <key>sfx_10658_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,135},{58,65}}</string>
        <key>offset</key>
        <string>{-28,35}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,65}}</string>
        <key>sourceSize</key>
        <string>{58,65}</string>
      </dict>
      <key>sfx_10658_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{65,72},{60,68}}</string>
        <key>offset</key>
        <string>{-30,39}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,68}}</string>
        <key>sourceSize</key>
        <string>{60,68}</string>
      </dict>
      <key>sfx_10658_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{67,0},{62,68}}</string>
        <key>offset</key>
        <string>{-31,38}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,68}}</string>
        <key>sourceSize</key>
        <string>{62,68}</string>
      </dict>
      <key>sfx_10658_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,142},{62,68}}</string>
        <key>offset</key>
        <string>{-31,36}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,68}}</string>
        <key>sourceSize</key>
        <string>{62,68}</string>
      </dict>
      <key>sfx_10658_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,72},{63,69}}</string>
        <key>offset</key>
        <string>{-32,36}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,69}}</string>
        <key>sourceSize</key>
        <string>{63,69}</string>
      </dict>
      <key>sfx_10658_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{65,70}}</string>
        <key>offset</key>
        <string>{-30,37}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,70}}</string>
        <key>sourceSize</key>
        <string>{65,70}</string>
      </dict>
      <key>sfx_10658_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,143},{64,69}}</string>
        <key>offset</key>
        <string>{-30,36}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,69}}</string>
        <key>sourceSize</key>
        <string>{64,69}</string>
      </dict>
      <key>sfx_10658_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{253,0},{62,65}}</string>
        <key>offset</key>
        <string>{-29,33}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,65}}</string>
        <key>sourceSize</key>
        <string>{62,65}</string>
      </dict>
      <key>sfx_10658_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{127,70},{61,68}}</string>
        <key>offset</key>
        <string>{-28,36}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,68}}</string>
        <key>sourceSize</key>
        <string>{61,68}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_10658_0.png</string>
      <key>size</key>
      <string>{512,256}</string>
      <key>textureFileName</key>
      <string>sfx_10658_0.png</string>
    </dict>
  </dict>
</plist>