<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_60692_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{110,266},{45,48}}</string>
        <key>offset</key>
        <string>{-20,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{45,48}}</string>
        <key>sourceSize</key>
        <string>{45,48}</string>
      </dict>
      <key>sfx_60692_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,219},{46,50}}</string>
        <key>offset</key>
        <string>{-21,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,50}}</string>
        <key>sourceSize</key>
        <string>{46,50}</string>
      </dict>
      <key>sfx_60692_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{118,166},{48,52}}</string>
        <key>offset</key>
        <string>{-22,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,52}}</string>
        <key>sourceSize</key>
        <string>{48,52}</string>
      </dict>
      <key>sfx_60692_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,167},{50,54}}</string>
        <key>offset</key>
        <string>{-23,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,54}}</string>
        <key>sourceSize</key>
        <string>{50,54}</string>
      </dict>
      <key>sfx_60692_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,59},{52,57}}</string>
        <key>offset</key>
        <string>{-24,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,57}}</string>
        <key>sourceSize</key>
        <string>{52,57}</string>
      </dict>
      <key>sfx_60692_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,0},{55,60}}</string>
        <key>offset</key>
        <string>{-26,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,60}}</string>
        <key>sourceSize</key>
        <string>{55,60}</string>
      </dict>
      <key>sfx_60692_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{57,62}}</string>
        <key>offset</key>
        <string>{-27,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,62}}</string>
        <key>sourceSize</key>
        <string>{57,62}</string>
      </dict>
      <key>sfx_60692_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,0},{55,60}}</string>
        <key>offset</key>
        <string>{-26,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,60}}</string>
        <key>sourceSize</key>
        <string>{55,60}</string>
      </dict>
      <key>sfx_60692_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{59,59},{52,57}}</string>
        <key>offset</key>
        <string>{-24,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,57}}</string>
        <key>sourceSize</key>
        <string>{52,57}</string>
      </dict>
      <key>sfx_60692_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{118,114},{50,54}}</string>
        <key>offset</key>
        <string>{-23,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,54}}</string>
        <key>sourceSize</key>
        <string>{50,54}</string>
      </dict>
      <key>sfx_60692_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{56,167},{48,52}}</string>
        <key>offset</key>
        <string>{-22,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,52}}</string>
        <key>sourceSize</key>
        <string>{48,52}</string>
      </dict>
      <key>sfx_60692_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,218},{46,49}}</string>
        <key>offset</key>
        <string>{-21,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,49}}</string>
        <key>sourceSize</key>
        <string>{46,49}</string>
      </dict>
      <key>sfx_60692_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{52,267},{45,47}}</string>
        <key>offset</key>
        <string>{-20,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{45,47}}</string>
        <key>sourceSize</key>
        <string>{45,47}</string>
      </dict>
      <key>sfx_60692_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,266},{46,49}}</string>
        <key>offset</key>
        <string>{-21,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,49}}</string>
        <key>sourceSize</key>
        <string>{46,49}</string>
      </dict>
      <key>sfx_60692_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{110,216},{48,52}}</string>
        <key>offset</key>
        <string>{-22,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,52}}</string>
        <key>sourceSize</key>
        <string>{48,52}</string>
      </dict>
      <key>sfx_60692_0_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,114},{50,54}}</string>
        <key>offset</key>
        <string>{-23,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,54}}</string>
        <key>sourceSize</key>
        <string>{50,54}</string>
      </dict>
      <key>sfx_60692_0_0016.png</key>
      <dict>
        <key>frame</key>
        <string>{{59,113},{52,57}}</string>
        <key>offset</key>
        <string>{-24,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,57}}</string>
        <key>sourceSize</key>
        <string>{52,57}</string>
      </dict>
      <key>sfx_60692_0_0017.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,57},{55,60}}</string>
        <key>offset</key>
        <string>{-26,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,60}}</string>
        <key>sourceSize</key>
        <string>{55,60}</string>
      </dict>
      <key>sfx_60692_0_0018.png</key>
      <dict>
        <key>frame</key>
        <string>{{64,0},{57,62}}</string>
        <key>offset</key>
        <string>{-27,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,62}}</string>
        <key>sourceSize</key>
        <string>{57,62}</string>
      </dict>
      <key>sfx_60692_0_0019.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,57},{55,60}}</string>
        <key>offset</key>
        <string>{-26,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,60}}</string>
        <key>sourceSize</key>
        <string>{55,60}</string>
      </dict>
      <key>sfx_60692_0_0020.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,113},{52,57}}</string>
        <key>offset</key>
        <string>{-24,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,57}}</string>
        <key>sourceSize</key>
        <string>{52,57}</string>
      </dict>
      <key>sfx_60692_0_0021.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,166},{50,54}}</string>
        <key>offset</key>
        <string>{-23,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,54}}</string>
        <key>sourceSize</key>
        <string>{50,54}</string>
      </dict>
      <key>sfx_60692_0_0022.png</key>
      <dict>
        <key>frame</key>
        <string>{{56,217},{48,52}}</string>
        <key>offset</key>
        <string>{-22,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,52}}</string>
        <key>sourceSize</key>
        <string>{48,52}</string>
      </dict>
      <key>sfx_60692_0_0023.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,267},{46,50}}</string>
        <key>offset</key>
        <string>{-21,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,50}}</string>
        <key>sourceSize</key>
        <string>{46,50}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_60692_0.png</string>
      <key>size</key>
      <string>{256,512}</string>
      <key>textureFileName</key>
      <string>sfx_60692_0.png</string>
    </dict>
  </dict>
</plist>