<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_14175_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1446,1679},{267,240}}</string>
        <key>offset</key>
        <string>{-132,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{267,240}}</string>
        <key>sourceSize</key>
        <string>{267,240}</string>
      </dict>
      <key>sfx_14175_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1204,1692},{270,240}}</string>
        <key>offset</key>
        <string>{-133,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{270,240}}</string>
        <key>sourceSize</key>
        <string>{270,240}</string>
      </dict>
      <key>sfx_14175_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1692,1449},{272,241}}</string>
        <key>offset</key>
        <string>{-133,132}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{272,241}}</string>
        <key>sourceSize</key>
        <string>{272,241}</string>
      </dict>
      <key>sfx_14175_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1451,840},{274,242}}</string>
        <key>offset</key>
        <string>{-134,133}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{274,242}}</string>
        <key>sourceSize</key>
        <string>{274,242}</string>
      </dict>
      <key>sfx_14175_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{726,1418},{276,240}}</string>
        <key>offset</key>
        <string>{-134,133}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{276,240}}</string>
        <key>sourceSize</key>
        <string>{276,240}</string>
      </dict>
      <key>sfx_14175_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{481,1708},{278,241}}</string>
        <key>offset</key>
        <string>{-135,133}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{278,241}}</string>
        <key>sourceSize</key>
        <string>{278,241}</string>
      </dict>
      <key>sfx_14175_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{724,0},{280,241}}</string>
        <key>offset</key>
        <string>{-135,133}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{280,241}}</string>
        <key>sourceSize</key>
        <string>{280,241}</string>
      </dict>
      <key>sfx_14175_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1149},{282,241}}</string>
        <key>offset</key>
        <string>{-135,133}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{282,241}}</string>
        <key>sourceSize</key>
        <string>{282,241}</string>
      </dict>
      <key>sfx_14175_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,863},{284,240}}</string>
        <key>offset</key>
        <string>{-135,133}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{284,240}}</string>
        <key>sourceSize</key>
        <string>{284,240}</string>
      </dict>
      <key>sfx_14175_0_0016.png</key>
      <dict>
        <key>frame</key>
        <string>{{1692,241},{275,240}}</string>
        <key>offset</key>
        <string>{-136,133}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{275,240}}</string>
        <key>sourceSize</key>
        <string>{275,240}</string>
      </dict>
      <key>sfx_14175_0_0017.png</key>
      <dict>
        <key>frame</key>
        <string>{{1690,483},{275,239}}</string>
        <key>offset</key>
        <string>{-136,133}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{275,239}}</string>
        <key>sourceSize</key>
        <string>{275,239}</string>
      </dict>
      <key>sfx_14175_0_0018.png</key>
      <dict>
        <key>frame</key>
        <string>{{727,1129},{276,239}}</string>
        <key>offset</key>
        <string>{-137,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{276,239}}</string>
        <key>sourceSize</key>
        <string>{276,239}</string>
      </dict>
      <key>sfx_14175_0_0019.png</key>
      <dict>
        <key>frame</key>
        <string>{{485,1427},{278,239}}</string>
        <key>offset</key>
        <string>{-137,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{278,239}}</string>
        <key>sourceSize</key>
        <string>{278,239}</string>
      </dict>
      <key>sfx_14175_0_0020.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,1715},{279,239}}</string>
        <key>offset</key>
        <string>{-137,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{279,239}}</string>
        <key>sourceSize</key>
        <string>{279,239}</string>
      </dict>
      <key>sfx_14175_0_0021.png</key>
      <dict>
        <key>frame</key>
        <string>{{1695,724},{274,239}}</string>
        <key>offset</key>
        <string>{-132,132}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{274,239}}</string>
        <key>sourceSize</key>
        <string>{274,239}</string>
      </dict>
      <key>sfx_14175_0_0022.png</key>
      <dict>
        <key>frame</key>
        <string>{{1695,965},{274,239}}</string>
        <key>offset</key>
        <string>{-132,131}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{274,239}}</string>
        <key>sourceSize</key>
        <string>{274,239}</string>
      </dict>
      <key>sfx_14175_0_0023.png</key>
      <dict>
        <key>frame</key>
        <string>{{968,1126},{275,239}}</string>
        <key>offset</key>
        <string>{-133,131}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{275,239}}</string>
        <key>sourceSize</key>
        <string>{275,239}</string>
      </dict>
      <key>sfx_14175_0_0024.png</key>
      <dict>
        <key>frame</key>
        <string>{{1208,0},{277,239}}</string>
        <key>offset</key>
        <string>{-134,131}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{277,239}}</string>
        <key>sourceSize</key>
        <string>{277,239}</string>
      </dict>
      <key>sfx_14175_0_0025.png</key>
      <dict>
        <key>frame</key>
        <string>{{486,1138},{278,239}}</string>
        <key>offset</key>
        <string>{-134,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{278,239}}</string>
        <key>sourceSize</key>
        <string>{278,239}</string>
      </dict>
      <key>sfx_14175_0_0026.png</key>
      <dict>
        <key>frame</key>
        <string>{{726,849},{278,239}}</string>
        <key>offset</key>
        <string>{-134,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{278,239}}</string>
        <key>sourceSize</key>
        <string>{278,239}</string>
      </dict>
      <key>sfx_14175_0_0027.png</key>
      <dict>
        <key>frame</key>
        <string>{{967,0},{280,239}}</string>
        <key>offset</key>
        <string>{-135,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{280,239}}</string>
        <key>sourceSize</key>
        <string>{280,239}</string>
      </dict>
      <key>sfx_14175_0_0028.png</key>
      <dict>
        <key>frame</key>
        <string>{{484,285},{281,238}}</string>
        <key>offset</key>
        <string>{-135,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{281,238}}</string>
        <key>sourceSize</key>
        <string>{281,238}</string>
      </dict>
      <key>sfx_14175_0_0029.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,288},{283,240}}</string>
        <key>offset</key>
        <string>{-135,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{283,240}}</string>
        <key>sourceSize</key>
        <string>{283,240}</string>
      </dict>
      <key>sfx_14175_0_0030.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,576},{285,239}}</string>
        <key>offset</key>
        <string>{-136,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{285,239}}</string>
        <key>sourceSize</key>
        <string>{285,239}</string>
      </dict>
      <key>sfx_14175_0_0031.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{286,239}}</string>
        <key>offset</key>
        <string>{-136,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{286,239}}</string>
        <key>sourceSize</key>
        <string>{286,239}</string>
      </dict>
      <key>sfx_14175_0_0034.png</key>
      <dict>
        <key>frame</key>
        <string>{{1451,1116},{274,242}}</string>
        <key>offset</key>
        <string>{-137,131}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{274,242}}</string>
        <key>sourceSize</key>
        <string>{274,242}</string>
      </dict>
      <key>sfx_14175_0_0035.png</key>
      <dict>
        <key>frame</key>
        <string>{{967,848},{276,241}}</string>
        <key>offset</key>
        <string>{-137,131}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{276,241}}</string>
        <key>sourceSize</key>
        <string>{276,241}</string>
      </dict>
      <key>sfx_14175_0_0036.png</key>
      <dict>
        <key>frame</key>
        <string>{{966,568},{278,241}}</string>
        <key>offset</key>
        <string>{-137,131}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{278,241}}</string>
        <key>sourceSize</key>
        <string>{278,241}</string>
      </dict>
      <key>sfx_14175_0_0037.png</key>
      <dict>
        <key>frame</key>
        <string>{{243,1146},{279,241}}</string>
        <key>offset</key>
        <string>{-137,131}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{279,241}}</string>
        <key>sourceSize</key>
        <string>{279,241}</string>
      </dict>
      <key>sfx_14175_0_0038.png</key>
      <dict>
        <key>frame</key>
        <string>{{1209,562},{276,242}}</string>
        <key>offset</key>
        <string>{-132,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{276,242}}</string>
        <key>sourceSize</key>
        <string>{276,242}</string>
      </dict>
      <key>sfx_14175_0_0039.png</key>
      <dict>
        <key>frame</key>
        <string>{{243,1427},{279,240}}</string>
        <key>offset</key>
        <string>{-133,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{279,240}}</string>
        <key>sourceSize</key>
        <string>{279,240}</string>
      </dict>
      <key>sfx_14175_0_0040.png</key>
      <dict>
        <key>frame</key>
        <string>{{724,285},{281,241}}</string>
        <key>offset</key>
        <string>{-133,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{281,241}}</string>
        <key>sourceSize</key>
        <string>{281,241}</string>
      </dict>
      <key>sfx_14175_0_0041.png</key>
      <dict>
        <key>frame</key>
        <string>{{1695,1206},{274,241}}</string>
        <key>offset</key>
        <string>{-134,132}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{274,241}}</string>
        <key>sourceSize</key>
        <string>{274,241}</string>
      </dict>
      <key>sfx_14175_0_0042.png</key>
      <dict>
        <key>frame</key>
        <string>{{968,1403},{275,240}}</string>
        <key>offset</key>
        <string>{-134,133}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{275,240}}</string>
        <key>sourceSize</key>
        <string>{275,240}</string>
      </dict>
      <key>sfx_14175_0_0043.png</key>
      <dict>
        <key>frame</key>
        <string>{{1449,0},{277,241}}</string>
        <key>offset</key>
        <string>{-134,133}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{277,241}}</string>
        <key>sourceSize</key>
        <string>{277,241}</string>
      </dict>
      <key>sfx_14175_0_0044.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1433},{280,241}}</string>
        <key>offset</key>
        <string>{-135,133}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{280,241}}</string>
        <key>sourceSize</key>
        <string>{280,241}</string>
      </dict>
      <key>sfx_14175_0_0045.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,862},{282,241}}</string>
        <key>offset</key>
        <string>{-135,133}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{282,241}}</string>
        <key>sourceSize</key>
        <string>{282,241}</string>
      </dict>
      <key>sfx_14175_0_0046.png</key>
      <dict>
        <key>frame</key>
        <string>{{482,0},{283,240}}</string>
        <key>offset</key>
        <string>{-135,133}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{283,240}}</string>
        <key>sourceSize</key>
        <string>{283,240}</string>
      </dict>
      <key>sfx_14175_0_0047.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,288},{286,240}}</string>
        <key>offset</key>
        <string>{-136,133}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{286,240}}</string>
        <key>sourceSize</key>
        <string>{286,240}</string>
      </dict>
      <key>sfx_14175_0_0049.png</key>
      <dict>
        <key>frame</key>
        <string>{{1209,1126},{275,240}}</string>
        <key>offset</key>
        <string>{-136,133}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{275,240}}</string>
        <key>sourceSize</key>
        <string>{275,240}</string>
      </dict>
      <key>sfx_14175_0_0050.png</key>
      <dict>
        <key>frame</key>
        <string>{{1210,840},{275,239}}</string>
        <key>offset</key>
        <string>{-136,133}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{275,239}}</string>
        <key>sourceSize</key>
        <string>{275,239}</string>
      </dict>
      <key>sfx_14175_0_0051.png</key>
      <dict>
        <key>frame</key>
        <string>{{1449,279},{276,239}}</string>
        <key>offset</key>
        <string>{-137,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{276,239}}</string>
        <key>sourceSize</key>
        <string>{276,239}</string>
      </dict>
      <key>sfx_14175_0_0052.png</key>
      <dict>
        <key>frame</key>
        <string>{{967,282},{278,239}}</string>
        <key>offset</key>
        <string>{-137,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{278,239}}</string>
        <key>sourceSize</key>
        <string>{278,239}</string>
      </dict>
      <key>sfx_14175_0_0053.png</key>
      <dict>
        <key>frame</key>
        <string>{{485,857},{279,239}}</string>
        <key>offset</key>
        <string>{-137,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{279,239}}</string>
        <key>sourceSize</key>
        <string>{279,239}</string>
      </dict>
      <key>sfx_14175_0_0054.png</key>
      <dict>
        <key>frame</key>
        <string>{{1451,1392},{274,239}}</string>
        <key>offset</key>
        <string>{-132,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{274,239}}</string>
        <key>sourceSize</key>
        <string>{274,239}</string>
      </dict>
      <key>sfx_14175_0_0055.png</key>
      <dict>
        <key>frame</key>
        <string>{{1210,1403},{274,239}}</string>
        <key>offset</key>
        <string>{-132,131}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{274,239}}</string>
        <key>sourceSize</key>
        <string>{274,239}</string>
      </dict>
      <key>sfx_14175_0_0056.png</key>
      <dict>
        <key>frame</key>
        <string>{{963,1696},{276,239}}</string>
        <key>offset</key>
        <string>{-133,131}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{276,239}}</string>
        <key>sourceSize</key>
        <string>{276,239}</string>
      </dict>
      <key>sfx_14175_0_0057.png</key>
      <dict>
        <key>frame</key>
        <string>{{1692,0},{276,239}}</string>
        <key>offset</key>
        <string>{-133,131}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{276,239}}</string>
        <key>sourceSize</key>
        <string>{276,239}</string>
      </dict>
      <key>sfx_14175_0_0058.png</key>
      <dict>
        <key>frame</key>
        <string>{{724,1707},{277,237}}</string>
        <key>offset</key>
        <string>{-134,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{277,237}}</string>
        <key>sourceSize</key>
        <string>{277,237}</string>
      </dict>
      <key>sfx_14175_0_0059.png</key>
      <dict>
        <key>frame</key>
        <string>{{1208,282},{278,239}}</string>
        <key>offset</key>
        <string>{-134,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{278,239}}</string>
        <key>sourceSize</key>
        <string>{278,239}</string>
      </dict>
      <key>sfx_14175_0_0060.png</key>
      <dict>
        <key>frame</key>
        <string>{{725,568},{279,239}}</string>
        <key>offset</key>
        <string>{-135,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{279,239}}</string>
        <key>sourceSize</key>
        <string>{279,239}</string>
      </dict>
      <key>sfx_14175_0_0061.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1715},{280,238}}</string>
        <key>offset</key>
        <string>{-135,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{280,238}}</string>
        <key>sourceSize</key>
        <string>{280,238}</string>
      </dict>
      <key>sfx_14175_0_0062.png</key>
      <dict>
        <key>frame</key>
        <string>{{483,573},{282,240}}</string>
        <key>offset</key>
        <string>{-135,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{282,240}}</string>
        <key>sourceSize</key>
        <string>{282,240}</string>
      </dict>
      <key>sfx_14175_0_0063.png</key>
      <dict>
        <key>frame</key>
        <string>{{241,576},{284,240}}</string>
        <key>offset</key>
        <string>{-135,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{284,240}}</string>
        <key>sourceSize</key>
        <string>{284,240}</string>
      </dict>
      <key>sfx_14175_0_0064.png</key>
      <dict>
        <key>frame</key>
        <string>{{241,0},{286,239}}</string>
        <key>offset</key>
        <string>{-136,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{286,239}}</string>
        <key>sourceSize</key>
        <string>{286,239}</string>
      </dict>
      <key>sfx_14175_0_0066.png</key>
      <dict>
        <key>frame</key>
        <string>{{1688,1692},{260,241}}</string>
        <key>offset</key>
        <string>{-136,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{260,241}}</string>
        <key>sourceSize</key>
        <string>{260,241}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_14175_0_0.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>sfx_14175_0_0.png</string>
    </dict>
  </dict>
</plist>