<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_20306_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{296,1437},{106,186}}</string>
        <key>offset</key>
        <string>{-24,37}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,186}}</string>
        <key>sourceSize</key>
        <string>{106,186}</string>
      </dict>
      <key>sfx_20306_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1437},{125,294}}</string>
        <key>offset</key>
        <string>{-35,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,294}}</string>
        <key>sourceSize</key>
        <string>{125,294}</string>
      </dict>
      <key>sfx_20306_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{823,1431},{185,360}}</string>
        <key>offset</key>
        <string>{-61,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{185,360}}</string>
        <key>sourceSize</key>
        <string>{185,360}</string>
      </dict>
      <key>sfx_20306_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{422,1431},{187,399}}</string>
        <key>offset</key>
        <string>{-61,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{187,399}}</string>
        <key>sourceSize</key>
        <string>{187,399}</string>
      </dict>
      <key>sfx_20306_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{469,1073},{228,462}}</string>
        <key>offset</key>
        <string>{-95,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{228,462}}</string>
        <key>sourceSize</key>
        <string>{228,462}</string>
      </dict>
      <key>sfx_20306_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{538,579},{234,476}}</string>
        <key>offset</key>
        <string>{-92,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{234,476}}</string>
        <key>sourceSize</key>
        <string>{234,476}</string>
      </dict>
      <key>sfx_20306_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{478,815},{256,473}}</string>
        <key>offset</key>
        <string>{-89,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{256,473}}</string>
        <key>sourceSize</key>
        <string>{256,473}</string>
      </dict>
      <key>sfx_20306_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,941},{232,467}}</string>
        <key>offset</key>
        <string>{-57,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{232,467}}</string>
        <key>sourceSize</key>
        <string>{232,467}</string>
      </dict>
      <key>sfx_20306_3_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,722},{217,476}}</string>
        <key>offset</key>
        <string>{-86,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{217,476}}</string>
        <key>sourceSize</key>
        <string>{217,476}</string>
      </dict>
      <key>sfx_20306_3_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{767,0},{172,512}}</string>
        <key>offset</key>
        <string>{-51,30}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{172,512}}</string>
        <key>sourceSize</key>
        <string>{172,512}</string>
      </dict>
      <key>sfx_20306_3_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,545},{175,536}}</string>
        <key>offset</key>
        <string>{-54,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{175,536}}</string>
        <key>sourceSize</key>
        <string>{175,536}</string>
      </dict>
      <key>sfx_20306_3_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,186},{179,576}}</string>
        <key>offset</key>
        <string>{-58,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{179,576}}</string>
        <key>sourceSize</key>
        <string>{179,576}</string>
      </dict>
      <key>sfx_20306_3_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{184,578}}</string>
        <key>offset</key>
        <string>{-63,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{184,578}}</string>
        <key>sourceSize</key>
        <string>{184,578}</string>
      </dict>
      <key>sfx_20306_3_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{580,0},{185,577}}</string>
        <key>offset</key>
        <string>{-64,37}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{185,577}}</string>
        <key>sourceSize</key>
        <string>{185,577}</string>
      </dict>
      <key>sfx_20306_3_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,367},{176,573}}</string>
        <key>offset</key>
        <string>{-61,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,573}}</string>
        <key>sourceSize</key>
        <string>{176,573}</string>
      </dict>
      <key>sfx_20306_3_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1175},{130,450}}</string>
        <key>offset</key>
        <string>{-59,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,450}}</string>
        <key>sourceSize</key>
        <string>{130,450}</string>
      </dict>
      <key>sfx_20306_3_0016.png</key>
      <dict>
        <key>frame</key>
        <string>{{452,1303},{126,444}}</string>
        <key>offset</key>
        <string>{-56,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,444}}</string>
        <key>sourceSize</key>
        <string>{126,444}</string>
      </dict>
      <key>sfx_20306_3_0017.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1307},{128,420}}</string>
        <key>offset</key>
        <string>{-56,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,420}}</string>
        <key>sourceSize</key>
        <string>{128,420}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_20306_3.png</string>
      <key>size</key>
      <string>{1024,2048}</string>
      <key>textureFileName</key>
      <string>sfx_20306_3.png</string>
    </dict>
  </dict>
</plist>