<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_60684_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,0},{59,71}}</string>
        <key>offset</key>
        <string>{-25,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,71}}</string>
        <key>sourceSize</key>
        <string>{59,71}</string>
      </dict>
      <key>sfx_60684_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,74},{62,71}}</string>
        <key>offset</key>
        <string>{-28,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,71}}</string>
        <key>sourceSize</key>
        <string>{62,71}</string>
      </dict>
      <key>sfx_60684_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,75},{63,72}}</string>
        <key>offset</key>
        <string>{-29,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,72}}</string>
        <key>sourceSize</key>
        <string>{63,72}</string>
      </dict>
      <key>sfx_60684_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{192,74},{62,71}}</string>
        <key>offset</key>
        <string>{-28,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,71}}</string>
        <key>sourceSize</key>
        <string>{62,71}</string>
      </dict>
      <key>sfx_60684_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{64,0},{62,72}}</string>
        <key>offset</key>
        <string>{-28,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,72}}</string>
        <key>sourceSize</key>
        <string>{62,72}</string>
      </dict>
      <key>sfx_60684_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,149},{62,72}}</string>
        <key>offset</key>
        <string>{-28,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,72}}</string>
        <key>sourceSize</key>
        <string>{62,72}</string>
      </dict>
      <key>sfx_60684_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{62,73}}</string>
        <key>offset</key>
        <string>{-27,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,73}}</string>
        <key>sourceSize</key>
        <string>{62,73}</string>
      </dict>
      <key>sfx_60684_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{64,149},{61,72}}</string>
        <key>offset</key>
        <string>{-27,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,72}}</string>
        <key>sourceSize</key>
        <string>{61,72}</string>
      </dict>
      <key>sfx_60684_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{65,74},{61,72}}</string>
        <key>offset</key>
        <string>{-27,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,72}}</string>
        <key>sourceSize</key>
        <string>{61,72}</string>
      </dict>
      <key>sfx_60684_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{127,148},{61,72}}</string>
        <key>offset</key>
        <string>{-27,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,72}}</string>
        <key>sourceSize</key>
        <string>{61,72}</string>
      </dict>
      <key>sfx_60684_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{192,147},{60,70}}</string>
        <key>offset</key>
        <string>{-26,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,70}}</string>
        <key>sourceSize</key>
        <string>{60,70}</string>
      </dict>
      <key>sfx_60684_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,0},{60,72}}</string>
        <key>offset</key>
        <string>{-26,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,72}}</string>
        <key>sourceSize</key>
        <string>{60,72}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_60684_0.png</string>
      <key>size</key>
      <string>{256,256}</string>
      <key>textureFileName</key>
      <string>sfx_60684_0.png</string>
    </dict>
  </dict>
</plist>