<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_60849_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,266},{256,231}}</string>
        <key>offset</key>
        <string>{-30,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{256,231}}</string>
        <key>sourceSize</key>
        <string>{256,231}</string>
      </dict>
      <key>sfx_60849_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,0},{256,230}}</string>
        <key>offset</key>
        <string>{-30,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{256,230}}</string>
        <key>sourceSize</key>
        <string>{256,230}</string>
      </dict>
      <key>sfx_60849_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{264,230}}</string>
        <key>offset</key>
        <string>{-33,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{264,230}}</string>
        <key>sourceSize</key>
        <string>{264,230}</string>
      </dict>
      <key>sfx_60849_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{697,233},{250,228}}</string>
        <key>offset</key>
        <string>{-27,83}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{250,228}}</string>
        <key>sourceSize</key>
        <string>{250,228}</string>
      </dict>
      <key>sfx_60849_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{512,760},{249,228}}</string>
        <key>offset</key>
        <string>{-27,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{249,228}}</string>
        <key>sourceSize</key>
        <string>{249,228}</string>
      </dict>
      <key>sfx_60849_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{466,256},{250,228}}</string>
        <key>offset</key>
        <string>{-27,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{250,228}}</string>
        <key>sourceSize</key>
        <string>{250,228}</string>
      </dict>
      <key>sfx_60849_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{742,463},{249,229}}</string>
        <key>offset</key>
        <string>{-27,84}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{249,229}}</string>
        <key>sourceSize</key>
        <string>{249,229}</string>
      </dict>
      <key>sfx_60849_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{466,508},{250,230}}</string>
        <key>offset</key>
        <string>{-26,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{250,230}}</string>
        <key>sourceSize</key>
        <string>{250,230}</string>
      </dict>
      <key>sfx_60849_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{697,0},{251,231}}</string>
        <key>offset</key>
        <string>{-27,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{251,231}}</string>
        <key>sourceSize</key>
        <string>{251,231}</string>
      </dict>
      <key>sfx_60849_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,781},{252,232}}</string>
        <key>offset</key>
        <string>{-28,87}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{252,232}}</string>
        <key>sourceSize</key>
        <string>{252,232}</string>
      </dict>
      <key>sfx_60849_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,524},{255,232}}</string>
        <key>offset</key>
        <string>{-29,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{255,232}}</string>
        <key>sourceSize</key>
        <string>{255,232}</string>
      </dict>
      <key>sfx_60849_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,524},{256,230}}</string>
        <key>offset</key>
        <string>{-30,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{256,230}}</string>
        <key>sourceSize</key>
        <string>{256,230}</string>
      </dict>
      <key>sfx_60849_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{464,0},{254,231}}</string>
        <key>offset</key>
        <string>{-29,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{254,231}}</string>
        <key>sourceSize</key>
        <string>{254,231}</string>
      </dict>
      <key>sfx_60849_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{233,258},{255,231}}</string>
        <key>offset</key>
        <string>{-30,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{255,231}}</string>
        <key>sourceSize</key>
        <string>{255,231}</string>
      </dict>
      <key>sfx_60849_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,782},{256,231}}</string>
        <key>offset</key>
        <string>{-30,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{256,231}}</string>
        <key>sourceSize</key>
        <string>{256,231}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_60849_0.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>sfx_60849_0.png</string>
    </dict>
  </dict>
</plist>