<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_14155_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1633,1676},{350,351}}</string>
        <key>offset</key>
        <string>{-150,222}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{350,351}}</string>
        <key>sourceSize</key>
        <string>{350,351}</string>
      </dict>
      <key>sfx_14155_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1633,1302},{372,396}}</string>
        <key>offset</key>
        <string>{-165,260}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{372,396}}</string>
        <key>sourceSize</key>
        <string>{372,396}</string>
      </dict>
      <key>sfx_14155_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1232,1302},{399,404}}</string>
        <key>offset</key>
        <string>{-170,251}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{399,404}}</string>
        <key>sourceSize</key>
        <string>{399,404}</string>
      </dict>
      <key>sfx_14155_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1592,479},{424,412}}</string>
        <key>offset</key>
        <string>{-183,258}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{424,412}}</string>
        <key>sourceSize</key>
        <string>{424,412}</string>
      </dict>
      <key>sfx_14155_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1575,893},{421,407}}</string>
        <key>offset</key>
        <string>{-183,257}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{421,407}}</string>
        <key>sourceSize</key>
        <string>{421,407}</string>
      </dict>
      <key>sfx_14155_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1234,604},{422,339}}</string>
        <key>offset</key>
        <string>{-183,191}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{422,339}}</string>
        <key>sourceSize</key>
        <string>{422,339}</string>
      </dict>
      <key>sfx_14155_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{702,405}}</string>
        <key>offset</key>
        <string>{-344,182}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{702,405}}</string>
        <key>sourceSize</key>
        <string>{702,405}</string>
      </dict>
      <key>sfx_14155_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{815,629},{611,417}}</string>
        <key>offset</key>
        <string>{-284,187}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{611,417}}</string>
        <key>sourceSize</key>
        <string>{611,417}</string>
      </dict>
      <key>sfx_14155_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{809,1342},{625,421}}</string>
        <key>offset</key>
        <string>{-292,188}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{625,421}}</string>
        <key>sourceSize</key>
        <string>{625,421}</string>
      </dict>
      <key>sfx_14155_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{391,704},{636,422}}</string>
        <key>offset</key>
        <string>{-297,189}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{636,422}}</string>
        <key>sourceSize</key>
        <string>{636,422}</string>
      </dict>
      <key>sfx_14155_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1354},{641,419}}</string>
        <key>offset</key>
        <string>{-299,188}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{641,419}}</string>
        <key>sourceSize</key>
        <string>{641,419}</string>
      </dict>
      <key>sfx_14155_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{793,0},{627,409}}</string>
        <key>offset</key>
        <string>{-292,183}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{627,409}}</string>
        <key>sourceSize</key>
        <string>{627,409}</string>
      </dict>
      <key>sfx_14155_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{421,1342},{627,386}}</string>
        <key>offset</key>
        <string>{-292,170}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{627,386}}</string>
        <key>sourceSize</key>
        <string>{627,386}</string>
      </dict>
      <key>sfx_14155_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{407,0},{632,384}}</string>
        <key>offset</key>
        <string>{-295,172}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{632,384}}</string>
        <key>sourceSize</key>
        <string>{632,384}</string>
      </dict>
      <key>sfx_14155_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,704},{648,389}}</string>
        <key>offset</key>
        <string>{-303,173}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{648,389}}</string>
        <key>sourceSize</key>
        <string>{648,389}</string>
      </dict>
      <key>sfx_14155_0_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{1204,0},{602,386}}</string>
        <key>offset</key>
        <string>{-275,177}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{602,386}}</string>
        <key>sourceSize</key>
        <string>{602,386}</string>
      </dict>
      <key>sfx_14155_0_0016.png</key>
      <dict>
        <key>frame</key>
        <string>{{1592,0},{477,294}}</string>
        <key>offset</key>
        <string>{-212,117}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{477,294}}</string>
        <key>sourceSize</key>
        <string>{477,294}</string>
      </dict>
      <key>sfx_14155_0_0017.png</key>
      <dict>
        <key>frame</key>
        <string>{{1232,1708},{328,230}}</string>
        <key>offset</key>
        <string>{-139,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{328,230}}</string>
        <key>sourceSize</key>
        <string>{328,230}</string>
      </dict>
      <key>sfx_14155_0_0018.png</key>
      <dict>
        <key>frame</key>
        <string>{{1234,1028},{235,184}}</string>
        <key>offset</key>
        <string>{-94,123}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{235,184}}</string>
        <key>sourceSize</key>
        <string>{235,184}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_14155_0.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>sfx_14155_0.png</string>
    </dict>
  </dict>
</plist>