<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_60494_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{312,359},{79,80}}</string>
        <key>offset</key>
        <string>{-15,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,80}}</string>
        <key>sourceSize</key>
        <string>{79,80}</string>
      </dict>
      <key>sfx_60494_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,359},{144,144}}</string>
        <key>offset</key>
        <string>{-48,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,144}}</string>
        <key>sourceSize</key>
        <string>{144,144}</string>
      </dict>
      <key>sfx_60494_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{227,227}}</string>
        <key>offset</key>
        <string>{-89,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{227,227}}</string>
        <key>sourceSize</key>
        <string>{227,227}</string>
      </dict>
      <key>sfx_60494_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{229,187},{170,172}}</string>
        <key>offset</key>
        <string>{-60,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,172}}</string>
        <key>sourceSize</key>
        <string>{170,172}</string>
      </dict>
      <key>sfx_60494_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{403,187},{157,159}}</string>
        <key>offset</key>
        <string>{-54,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,159}}</string>
        <key>sourceSize</key>
        <string>{157,159}</string>
      </dict>
      <key>sfx_60494_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{403,348},{147,159}}</string>
        <key>offset</key>
        <string>{-51,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,159}}</string>
        <key>sourceSize</key>
        <string>{147,159}</string>
      </dict>
      <key>sfx_60494_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,229},{162,164}}</string>
        <key>offset</key>
        <string>{-57,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,164}}</string>
        <key>sourceSize</key>
        <string>{162,164}</string>
      </dict>
      <key>sfx_60494_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{229,0},{185,185}}</string>
        <key>offset</key>
        <string>{-68,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{185,185}}</string>
        <key>sourceSize</key>
        <string>{185,185}</string>
      </dict>
      <key>sfx_60494_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{312,440},{71,70}}</string>
        <key>offset</key>
        <string>{-11,16}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,70}}</string>
        <key>sourceSize</key>
        <string>{71,70}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_60494_0.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>sfx_60494_0.png</string>
    </dict>
  </dict>
</plist>