<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_60206_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{64,163}}</string>
        <key>offset</key>
        <string>{-31,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,163}}</string>
        <key>sourceSize</key>
        <string>{64,163}</string>
      </dict>
      <key>sfx_60206_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{165,0},{64,163}}</string>
        <key>offset</key>
        <string>{-31,100}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,163}}</string>
        <key>sourceSize</key>
        <string>{64,163}</string>
      </dict>
      <key>sfx_60206_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,66},{64,163}}</string>
        <key>offset</key>
        <string>{-31,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,163}}</string>
        <key>sourceSize</key>
        <string>{64,163}</string>
      </dict>
      <key>sfx_60206_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,132},{63,163}}</string>
        <key>offset</key>
        <string>{-31,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,163}}</string>
        <key>sourceSize</key>
        <string>{63,163}</string>
      </dict>
      <key>sfx_60206_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,197},{58,162}}</string>
        <key>offset</key>
        <string>{-28,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,162}}</string>
        <key>sourceSize</key>
        <string>{58,162}</string>
      </dict>
      <key>sfx_60206_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{270,163},{48,159}}</string>
        <key>offset</key>
        <string>{-23,98}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,159}}</string>
        <key>sourceSize</key>
        <string>{48,159}</string>
      </dict>
      <key>sfx_60206_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{220,330},{43,161}}</string>
        <key>offset</key>
        <string>{-20,98}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{43,161}}</string>
        <key>sourceSize</key>
        <string>{43,161}</string>
      </dict>
      <key>sfx_60206_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,257},{43,162}}</string>
        <key>offset</key>
        <string>{-20,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{43,162}}</string>
        <key>sourceSize</key>
        <string>{43,162}</string>
      </dict>
      <key>sfx_60206_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{225,165},{43,161}}</string>
        <key>offset</key>
        <string>{-21,99}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{43,161}}</string>
        <key>sourceSize</key>
        <string>{43,161}</string>
      </dict>
      <key>sfx_60206_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,350},{45,160}}</string>
        <key>offset</key>
        <string>{-22,99}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{45,160}}</string>
        <key>sourceSize</key>
        <string>{45,160}</string>
      </dict>
      <key>sfx_60206_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,302},{46,162}}</string>
        <key>offset</key>
        <string>{-22,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,162}}</string>
        <key>sourceSize</key>
        <string>{46,162}</string>
      </dict>
      <key>sfx_60206_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{231,0},{50,161}}</string>
        <key>offset</key>
        <string>{-24,98}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,161}}</string>
        <key>sourceSize</key>
        <string>{50,161}</string>
      </dict>
      <key>sfx_60206_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,330},{54,162}}</string>
        <key>offset</key>
        <string>{-26,99}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,162}}</string>
        <key>sourceSize</key>
        <string>{54,162}</string>
      </dict>
      <key>sfx_60206_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{265,328},{57,161}}</string>
        <key>offset</key>
        <string>{-28,99}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,161}}</string>
        <key>sourceSize</key>
        <string>{57,161}</string>
      </dict>
      <key>sfx_60206_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{165,165},{58,163}}</string>
        <key>offset</key>
        <string>{-28,100}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,163}}</string>
        <key>sourceSize</key>
        <string>{58,163}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_60206_0.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>sfx_60206_0.png</string>
    </dict>
  </dict>
</plist>