<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_10729_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{59,72},{48,66}}</string>
        <key>offset</key>
        <string>{-23,35}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,66}}</string>
        <key>sourceSize</key>
        <string>{48,66}</string>
      </dict>
      <key>sfx_10729_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{167,134},{53,63}}</string>
        <key>offset</key>
        <string>{-26,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,63}}</string>
        <key>sourceSize</key>
        <string>{53,63}</string>
      </dict>
      <key>sfx_10729_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,189},{60,61}}</string>
        <key>offset</key>
        <string>{-29,27}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,61}}</string>
        <key>sourceSize</key>
        <string>{60,61}</string>
      </dict>
      <key>sfx_10729_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{60,0},{66,63}}</string>
        <key>offset</key>
        <string>{-30,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,63}}</string>
        <key>sourceSize</key>
        <string>{66,63}</string>
      </dict>
      <key>sfx_10729_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{62,140},{66,64}}</string>
        <key>offset</key>
        <string>{-30,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,64}}</string>
        <key>sourceSize</key>
        <string>{66,64}</string>
      </dict>
      <key>sfx_10729_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{125,0},{63,65}}</string>
        <key>offset</key>
        <string>{-29,28}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,65}}</string>
        <key>sourceSize</key>
        <string>{63,65}</string>
      </dict>
      <key>sfx_10729_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,143},{60,68}}</string>
        <key>offset</key>
        <string>{-28,30}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,68}}</string>
        <key>sourceSize</key>
        <string>{60,68}</string>
      </dict>
      <key>sfx_10729_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{58,70}}</string>
        <key>offset</key>
        <string>{-28,32}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,70}}</string>
        <key>sourceSize</key>
        <string>{58,70}</string>
      </dict>
      <key>sfx_10729_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,72},{57,69}}</string>
        <key>offset</key>
        <string>{-27,33}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,69}}</string>
        <key>sourceSize</key>
        <string>{57,69}</string>
      </dict>
      <key>sfx_10729_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{109,68},{56,66}}</string>
        <key>offset</key>
        <string>{-26,33}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,66}}</string>
        <key>sourceSize</key>
        <string>{56,66}</string>
      </dict>
      <key>sfx_10729_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,0},{55,65}}</string>
        <key>offset</key>
        <string>{-25,34}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,65}}</string>
        <key>sourceSize</key>
        <string>{55,65}</string>
      </dict>
      <key>sfx_10729_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,67},{50,65}}</string>
        <key>offset</key>
        <string>{-24,35}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,65}}</string>
        <key>sourceSize</key>
        <string>{50,65}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_10729_0.png</string>
      <key>size</key>
      <string>{256,256}</string>
      <key>textureFileName</key>
      <string>sfx_10729_0.png</string>
    </dict>
  </dict>
</plist>