<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_60680_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{65,196},{55,62}}</string>
        <key>offset</key>
        <string>{-27,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,62}}</string>
        <key>sourceSize</key>
        <string>{55,62}</string>
      </dict>
      <key>sfx_60680_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,198},{56,63}}</string>
        <key>offset</key>
        <string>{-28,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,63}}</string>
        <key>sourceSize</key>
        <string>{56,63}</string>
      </dict>
      <key>sfx_60680_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{129,0},{58,62}}</string>
        <key>offset</key>
        <string>{-29,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,62}}</string>
        <key>sourceSize</key>
        <string>{58,62}</string>
      </dict>
      <key>sfx_60680_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{193,0},{57,62}}</string>
        <key>offset</key>
        <string>{-28,41}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,62}}</string>
        <key>sourceSize</key>
        <string>{57,62}</string>
      </dict>
      <key>sfx_60680_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{59,66},{57,63}}</string>
        <key>offset</key>
        <string>{-28,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,63}}</string>
        <key>sourceSize</key>
        <string>{57,63}</string>
      </dict>
      <key>sfx_60680_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{61,0},{57,63}}</string>
        <key>offset</key>
        <string>{-28,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,63}}</string>
        <key>sourceSize</key>
        <string>{57,63}</string>
      </dict>
      <key>sfx_60680_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{59,64}}</string>
        <key>offset</key>
        <string>{-29,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,64}}</string>
        <key>sourceSize</key>
        <string>{59,64}</string>
      </dict>
      <key>sfx_60680_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,66},{57,64}}</string>
        <key>offset</key>
        <string>{-29,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,64}}</string>
        <key>sourceSize</key>
        <string>{57,64}</string>
      </dict>
      <key>sfx_60680_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,132},{57,64}}</string>
        <key>offset</key>
        <string>{-29,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,64}}</string>
        <key>sourceSize</key>
        <string>{57,64}</string>
      </dict>
      <key>sfx_60680_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{59,131},{57,63}}</string>
        <key>offset</key>
        <string>{-29,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,63}}</string>
        <key>sourceSize</key>
        <string>{57,63}</string>
      </dict>
      <key>sfx_60680_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{193,64},{56,61}}</string>
        <key>offset</key>
        <string>{-29,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,61}}</string>
        <key>sourceSize</key>
        <string>{56,61}</string>
      </dict>
      <key>sfx_60680_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{129,60},{55,62}}</string>
        <key>offset</key>
        <string>{-28,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,62}}</string>
        <key>sourceSize</key>
        <string>{55,62}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_60680_0.png</string>
      <key>size</key>
      <string>{256,256}</string>
      <key>textureFileName</key>
      <string>sfx_60680_0.png</string>
    </dict>
  </dict>
</plist>