<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_14224_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1706,346},{343,339}}</string>
        <key>offset</key>
        <string>{-169,183}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{343,339}}</string>
        <key>sourceSize</key>
        <string>{343,339}</string>
      </dict>
      <key>sfx_14224_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1368,691},{341,340}}</string>
        <key>offset</key>
        <string>{-167,183}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{341,340}}</string>
        <key>sourceSize</key>
        <string>{341,340}</string>
      </dict>
      <key>sfx_14224_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1706,0},{344,338}}</string>
        <key>offset</key>
        <string>{-169,180}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{344,338}}</string>
        <key>sourceSize</key>
        <string>{344,338}</string>
      </dict>
      <key>sfx_14224_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1029,359},{350,337}}</string>
        <key>offset</key>
        <string>{-172,177}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{350,337}}</string>
        <key>sourceSize</key>
        <string>{350,337}</string>
      </dict>
      <key>sfx_14224_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{688,367},{358,339}}</string>
        <key>offset</key>
        <string>{-176,178}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{358,339}}</string>
        <key>sourceSize</key>
        <string>{358,339}</string>
      </dict>
      <key>sfx_14224_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{345,375},{366,341}}</string>
        <key>offset</key>
        <string>{-180,178}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{366,341}}</string>
        <key>sourceSize</key>
        <string>{366,341}</string>
      </dict>
      <key>sfx_14224_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,378},{374,343}}</string>
        <key>offset</key>
        <string>{-184,180}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{374,343}}</string>
        <key>sourceSize</key>
        <string>{374,343}</string>
      </dict>
      <key>sfx_14224_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{376,340}}</string>
        <key>offset</key>
        <string>{-185,177}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{376,340}}</string>
        <key>sourceSize</key>
        <string>{376,340}</string>
      </dict>
      <key>sfx_14224_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{342,0},{373,337}}</string>
        <key>offset</key>
        <string>{-184,176}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{373,337}}</string>
        <key>sourceSize</key>
        <string>{373,337}</string>
      </dict>
      <key>sfx_14224_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{681,0},{365,337}}</string>
        <key>offset</key>
        <string>{-180,178}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{365,337}}</string>
        <key>sourceSize</key>
        <string>{365,337}</string>
      </dict>
      <key>sfx_14224_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{1020,0},{357,341}}</string>
        <key>offset</key>
        <string>{-176,183}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{357,341}}</string>
        <key>sourceSize</key>
        <string>{357,341}</string>
      </dict>
      <key>sfx_14224_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{1363,0},{348,341}}</string>
        <key>offset</key>
        <string>{-171,184}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{348,341}}</string>
        <key>sourceSize</key>
        <string>{348,341}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_14224_0.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>sfx_14224_0.png</string>
    </dict>
  </dict>
</plist>